[2020-08-13 11:58] bwplotka commented on #2886
Try to find out the root cause of the problem. We have many ceph users running Thanos just fine. Maybe it's not enough resources on store Gateway side? Maybe it's actually inefficiency on querying both Prom and form Ceph date? Maybe something else?

And what this `the compact is slow` what do you mean? (:

Pushging compacted blocks actually will make potential compaction slower and more expensive

[2020-08-13 11:58] #2886 closed

[2020-08-13 11:59] bwplotka commented on #2565
Any ideas if this is something to improve on Azure invocation on Thanos side or in Azure lib itself? (:

Help wanted!

[2020-08-13 12:02] bwplotka commented on #3014
What about asserting certain amount of `thanos_store_nodes_grpc_connections` for certain external labels? Those are static, right? (: So you can produce alert for those, no?

[2020-08-13 12:38] karlism commented on #3014
Sure, it is possible to write some weird alert rule like:
[code]
I would guess I could even extract and relabel additional labels (like `monitor` or `addr`, which are named differently and also contain slightly different values) if I'd invest more time in it, but I think availability of stores is quite important for querier service to have dedicated metric for it. It would even better if there wou

[2020-08-13 12:43] #2842 closed

[2020-08-13 12:58] bwplotka commented on #3014
We are happy to discuss improvements here. Back then we were opposed to having `address` label in connections, but I feel like this is the only way really for this. I think we can consider such change now.

What I would see in your alert for current code is literally:

[code]
 (:

[2020-08-13 13:42] mattus opened #3028 "receive: WAL contains chunks outside of compacted time range after hashring changes"
**Thanos, Prometheus and Golang version used**:
[code]

**Object Storage Provider**:
GCS

**What happened**:
TSDB compaction failed with chunks outside of the bounds of the block.

**What you expected to happen**:
WAL not to contain chunks that can't be compacted into a block.

**How to reproduce it (as minimally and precisely as possible)**:

1. receiver with some amount of traffic
2. Make a chan

[2020-08-13 13:59] Jakob3xD commented on #2605
Would it be possible to add the `-wait` option to the [Bucket downsample tool](https://thanos.io/components/tools.md/#bucket-downsample) to split the workload of the compactor into two parts? The compactor itself compacting the raw blocks and deleting files and the downsampler just creating downsampled blocks.
My main issue with the current compactor is the downsampling taking so much time. As the

[2020-08-13 14:28] joaosilva15 commented on #2565
I didn't investigate deep enough to check what the true issue was but it seemed like the Azure lib was not categorizing the error in a proper way (as per the links above 404 should not be logged). I tried to reduce the log level to None but still, the lib forces the logs to be written.

With that said I think the solution is either to check why the error is not being categorized correctly or find

[2020-08-13 14:53] krasi-georgiev commented on #2890
I opened a PR that uses the request resolution to handle cases like this one. I am still working on the tests, but so far it is looking good

https://github.com/thanos-io/thanos/pull/3010

[2020-08-13 18:17] bwplotka commented on #3013
Fix on upstream: https://github.com/prometheus/prometheus/issues/7776#issuecomment-673631426

[2020-08-14 14:00] karthikm83 commented on #2413
Waiting for https://github.com/thanos-io/thanos/pull/2518 to go through.. It would be great if this issue is fixed

[2020-08-14 18:30] mmerrill3 opened #3033 "Thanos query does not gracefully handle a sidecar producer behind a multi-zone load balancer"
**Thanos, Prometheus and Golang version used**:

thanos 0.14.0
prometheus 2.18.2

**Object Storage Provider**:
s3
**What happened**:
When I define a query component to start that has a --store configuration that points to a DNS name, and that DNS name is a multi-zone nginx ingress controller, we see the following in the logs:

level=info ts=2020-08-14T18:22:19.605653512Z caller=storeset.go:417 com

[2020-08-14 20:44] GiedriusS commented on #2577
Still valid.

[2020-08-15 17:59] #2869 closed

[2020-08-15 17:59] #2836 closed

[2020-08-16 09:41] nileshbhadana opened #3036 "receive: TLS Setup between Thanos-receiver and Prometheus"
While setting up TLS between Receiver and prometheus. Receiver runs for 2-3days but then starts throwing Error.

```level=error ts=2020-08-14T17:36:35.861846828Z caller=handler.go:282 component=receive component=receive-handler err="storing locally, endpoint thanos-receiver-0-0.thanos-receiver-0:10901: get appender: TSDB not ready" msg="internal server error"```

Also while increasing the pod repl

[2020-08-16 14:53] #2879 closed

[2020-08-16 15:15] yeya24 commented on #2997
Just found that I was totally wrong :cry:  Cortex only checks the HTTP response to decide whether to cache or not. Not based on the HTTP query request. So this is not what we want.

If we want to control the cache behavior, I have one idea:

1. Add a `shouldCacheFn` in Cortex results cache middleware and it is called at the beginning of the cache middleware to check whether to continue the caching

[2020-08-16 18:53] #2880 closed

[2020-08-16 18:53] #2881 closed

[2020-08-16 18:53] #2882 closed

[2020-08-17 06:38] george-angel commented on #985
remove stale

[2020-08-17 07:47] pracucci commented on #2585
Valid. #2883 is open.

[2020-08-17 08:56] husoule commented on #3001
I have a stress test service platform for many users . Use prometheus+thanos+grafana to collect and display graphs of stress test data. The stress test data is more accurate in terms of time, but the user actually saw the data in the chart that has not yet occurred, which is unacceptable. So I adjusted prometheus' --query.lookback-delta=5s to reduce future data. And prometheus is as expected, but

[2020-08-17 10:15] iNecas commented on #2682
FYI here is some e2e code for exporting a prometheus metric into parquet using thanos Store API https://github.com/thanos-community/obslytics/pull/3. The interfaces should be generic enough to enable adding different input (Thanos store API, prometheus remote read) and output types (praquet, arrow…). At the core, there is the ingestion logic to transform the tsdb data into tabular format though so

[2020-08-17 12:29] yeya24 commented on #2997
Any thoughts about this idea? @bwplotka @pracucci

I just saw https://github.com/cortexproject/cortex/issues/3049, I think it is similar to what we want to do here.

[2020-08-17 12:39] dbrennand commented on #2839
Still applicable.

[2020-08-17 12:58] dbrennand commented on #915
Agreed @halfmatthalfcat
I cannot find this documented anywhere either. It is quite hard to determine from the sidecar container logs when metrics are being uploaded to object storage.

[2020-08-17 13:29] bwplotka opened #3037 "docs: internationalization (adding more languages)"
It would amazing to be more inclusive and translate our docs into multiple languages (:

There are two items to solve this:
* Extend website as we did with @thisisobate on  version picker as well as use Hugo built-in support: https://gohugo.io/content-management/multilingual/
* Find contributors who would be willing to translate our docs. CNCF might help as well (:

[2020-08-17 13:31] bwplotka commented on #915
It was explained many times, as this is how Prometheus works (it flushes data in proper format after some time.)

You can read that from second bullet in the docs: https://thanos.io/components/sidecar.md/#sidecar (:

As per log line: We already have log line on info level that block was uploaded: https://github.com/thanos-io/thanos/blob/a993678b7cb2519488baf5691184286eb9e9b7c7/pkg/shipper/shipper.

[2020-08-17 13:41] dbrennand commented on #915
My apologies, clearly it is mentioned as you say @bwplotka 😄

It is quite an important piece of information and clearly myself and others are still having trouble spotting it in the docs.

Is there any way in the docs to draw more attention to it? I'm not sure how the docs are generated but in docfx you can have NOTES which stand out to draw attention specific pieces of information.

https://dotne

[2020-08-17 13:59] halfmatthalfcat commented on #915
@bwplotka Could a "connection established to bucket" log line be added so we know that, in diagnosing potential issues, there isn't anything wrong with the connection itself? That's where I lost my way.

[2020-08-17 15:21] bwplotka commented on #1318
As mentioned by  https://github.com/thanos-io/thanos/issues/1318#issuecomment-660851708 we want this, so help wanted.

@tanelso2  Feel free to try out! We can guide you on what needs to be changed (:

[2020-08-17 15:23] bwplotka commented on #2958
Sorry for lag in response, but this work as expected I believe.

What do you mean associated with endpoint? Looks like your thanos-query actually have data from those clusters that's it (:

[2020-08-17 18:48] mneverov opened #3040 "Add goleak VerifyTestMain to block package"
While working on #3023 it was discovered that fetcher tests with cloud storages have goroutine leaks.
Please add goleak VerifyTestMain after fixing the root cause.
For more context see [the discussion](https://github.com/thanos-io/thanos/issues/3023).

Log from the pipeline:
[code]

[2020-08-17 18:51] mneverov opened #3041 "Add goleak VerifyTestMain to objstore/objtesting package"
While working on #3023 it was discovered that tests with cloud storages have goroutine leaks.
Please add goleak VerifyTestMain after fixing the root cause.
For more context see the [discussion](https://github.com/thanos-io/thanos/pull/3029).

Log from the pipeline:
[code]

[2020-08-17 18:54] mneverov opened #3042 "Add goleak VerifyTestMain to store package"
While working on #3023 it was discovered that tests with cloud storages have goroutine leaks.
Please add goleak VerifyTestMain after fixing the root cause.
For more context see the [discussion](https://github.com/thanos-io/thanos/pull/3029).

Log from the pipeline:
[code]

[2020-08-17 20:07] yeya24 opened #3043 "New Query UI doesn't work with query frontend"
**Thanos, Prometheus and Golang version used**:

Thanos master.

**What happened**:

The new query UI doesn't work with query frontend.

Setup:

Prometheus + Sidecar + Query + Query frontend

[code]

When clicking `New UI` in the Query frontend address `http://localhost:10902`, I got `ERR_TOO_MANY_REDIRECTS`.
![Screenshot from 2020-08-17 16-03-30](https://user-images.githubusercontent.com/25150124

[2020-08-17 22:43] bwplotka commented on #1318
No one is working on it currently, so help wanted (:

[2020-08-18 05:18] Alexx-G commented on #267
It still reproduces even on v0.14. Is there any diagnostic info I can provide to help with investigation?

[2020-08-18 06:45] bwplotka opened #3045 "docs: Add mention about needed disk space (estimations) for store gateway."
As per: https://cloud-native.slack.com/archives/CK5RSSC10/p1597686261049000

[2020-08-18 07:52] prmsrswt commented on #3043
I investigated a bit into this and found some weird behavior around the redirects. One thing to note here is that the new UI works if you go directly to `localhost:10902/new/graph`.

In `pkg/ui/query.go` You can see that we redirect from `/new` to `/new/` (with a trailing slash) and the route `/new/*` gets handled by the `serveReactUI` handler.

If I directly perform an HTTP request with path `/ne

[2020-08-18 08:05] prmsrswt commented on #3043
I guess this is what's happening. I changed the default redirect from `/new` -> `/new/` to `/new` to `/new/graph` and it worked.

[2020-08-18 08:30] youjiahe opened #3047 "too many open files!"
## Query:
level=warn ts=2020-08-18T08:24:38.513114583Z caller=proxy.go:456 err="receive series from Addr: 10.92.206.68:10101 LabelSets: [name:\"monitor\" value:\"CK_TEST\" ][name:\"monitor\" value:\"prometheus_thanos\" ] Mint: 1595928792342 Maxt: 1597730400000: rpc error: code = Aborted desc = fetch series for block 01EFQ5FQET70JRRTDS42784NZ3: preload chunks: read range for 0: get range reader: Ge

[2020-08-18 08:59] bwplotka opened #3048 "compactor: Enchance vertical compaction to safely delete duplicate (already compacted blocks), and not assume overlap for those cases."
See https://cloud-native.slack.com/archives/CL25937SP/p1597740896011100?thread_ts=1597739770.003300&cid=CL25937SP

[2020-08-18 09:44] #3043 closed

[2020-08-18 13:13] dbrennand commented on #2565
Hey guys, I am also experiencing this issue in the thanos compactor logs. Anything I can do to help? 😄

[2020-08-18 13:25] mihailgmihaylov opened #3051 "sidecar: Enabling reloader configuration doubles the CPU and makes high disk IO"
**Thanos, Prometheus and Golang version used**:
[code]
Using the docker image: `thanosio/thanos:v0.14.0`.
Prometheus: `prom/prometheus:v2.20.1`

**Object Storage Provider**:
AWS

**What happened**:
After implementing [the reloader configuration](https://github.com/thanos-io/thanos/blob/master/docs/components/sidecar.md#reloader-configuration) setting to monitor and observe changes in prometheus co

[2020-08-18 13:47] kakkoyun commented on #2997
@yeya24 I didn't actually get what blocks us from using [Cache-Control Header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control) as also mentioned in https://github.com/cortexproject/cortex/issues/3049.
Could you elaborate more? IMHO, it'd be the best to utilize the headers to control this behaviour.

[2020-08-18 14:11] bwplotka commented on #2997
* cache param makes sense - we might then inject Cache Control Header really.
* https://github.com/cortexproject/cortex/issues/3049 sounds like a good way - we can make sure we avoid caching in both request and response path.

Let's make sure @yeya24 that no cache means also normal splitting blocks etc.

[2020-08-18 14:20] yeya24 commented on #2997
Yes, all other middlewares are still working.

That's one example, if no cache, just send the reqeusts to the next middleware.
[code]

[2020-08-18 14:37] yeya24 commented on #2997
The problem is that Cortex only checks this cache control header in the response it gets from downstream Prometheus.

So if we send a request with this header, it won't handle it. I think what we want is that controlling cache behavior before sending the request to downstream.

[2020-08-18 15:43] bwplotka commented on #2997
Looks like before AND after is the key part

[2020-08-18 15:46] yeya24 commented on #2997
Correct, I opened a pr at Cortex side now. https://github.com/cortexproject/cortex/pull/3054 It would be great if you can help review.

[2020-08-18 18:19] appleciderjack opened #3056 "Feature request: client side encryption with minio/sio"
Hi Thanos team:

In most enterprise settings, client encryption is a required feature. It looks like Minio go client does have some form of client side encryption listed here:
https://github.com/minio/minio-go/pull/948/files
https://github.com/minio/sio

It would be fantastic and increase Thanos's enterprise footprints if this is supported! (Instead of team forking and maintaining their own branch

[2020-08-18 18:23] appleciderjack commented on #3056
Perhaps sse_c_key can be used? I will read up on it

[2020-08-18 18:46] #3023 closed

[2020-08-18 20:33] appleciderjack commented on #3056
After some soul searching, I realize that Thanos and Prometheus are both full of partial reads on TSDB related files and thus would be impractical to apply client side decryption with.

[2020-08-18 21:07] GiedriusS commented on #3047
Hello! Sorry for the problems. What kind of `ulimit`s do you have on the Thanos process? (:

[2020-08-18 21:08] GiedriusS commented on #3051
Are you completely sure that Sidecar wasn't trying to upload a block at that time?

[2020-08-19 08:50] csonp opened #3057 "store panics with "slice bounds out of range""
**Thanos, Prometheus and Golang version used**:

prometheus/prometheus:v2.19.0
thanos/thanos:v0.14.0

**Object Storage Provider**:

S3

**What happened**:

When running a query with a 90 days timespan, the store panics.

**Full logs to relevant components**:

Logs from store

<details>
<pre>
level=debug ts=2020-08-19T07:50:51.943767339Z caller=main.go:102 msg="maxprocs: Leaving GOMAXPROCS=[2]: CPU

[2020-08-19 09:49] bwplotka commented on #1820
Still in progress, we are slowly adding more stuff to
https://github.com/thanos-community/helm-charts

Help wanted (:

On Wed, 19 Aug 2020 at 04:00, stale[bot] <notifications@github.com> wrote:

[2020-08-19 10:34] mihailgmihaylov commented on #3051
I am not sure what you mean... a block of what? The `prometheus-config-template` configmap is very straightforward - just the prometheus.yml.tmpl file which is ~800 lines of Prometheus job definitions. Does the size of this file matter?

Also, this is not a one time CPU and disk IO spike, this was a constant thing. So I suspect that indeed something was wrong but I do not know how to check what is

[2020-08-19 13:53] GiedriusS commented on #2784
Attempting to implement this in https://github.com/thanos-io/thanos/pull/3031.

[2020-08-19 15:42] monotek commented on #1820
What's blocking us from starting with one of the charts available now, using the most recent thanos version, by voting for it?

[2020-08-19 17:33] jdfalk opened #3058 "Feature Request: Add GRPC-Web to thanos"
When using an ALB or other Load Balancers / certain istio configs you cannot connect to a thanos instance behind it due to their GRPC issues. I think that could be solved with [grpc-web](https://github.com/improbable-eng/grpc-web). An implementation you should be intimately familiar with considering you (improbable-eng) developed it 😄

[2020-08-19 18:17] CNG commented on #903
Still needed.

[2020-08-19 19:26] Reamer commented on #1014
Still important

[2020-08-19 23:39] yeya24 commented on #2713
Still on it. Blocked by https://github.com/thanos-io/thanos/pull/2906

[2020-08-20 08:30] Sylfrena commented on #3026
so you mean that this flag should either take a file path or the file contents directly as string?

[2020-08-20 08:45] squat commented on #3026
yes, that's right :)) it should work just like the objstore flags, which use https://github.com/thanos-io/thanos/blob/master/pkg/extflag/pathorcontent.go#L29:6

[2020-08-20 09:33] bwplotka commented on #3058
This is something you can totally solve using https://github.com/grpc-ecosystem/grpc-gateway on your side! (:

grpc-web is for something else - to ensure you can use gRPC inside web browsers :heart:  (:

Since grpc-gateway is just a sidecar, anyone can totally set this up on their own, but good point, thanks! (:

(PS: Probably we should focus on fixing gRPC issues on those load balancers as well :

[2020-08-20 09:35] #3058 closed

[2020-08-20 09:36] bwplotka commented on #3057
Ack, let's take a look! Thanks for reporting.

[2020-08-20 09:37] bwplotka opened #3060 "ci: make docs-check in CI takes forever sometimes."
Usually what we seen it's the `liche` taking ages to check links. We might want to disable this step or try something else ):

[2020-08-20 09:37] bwplotka commented on #3060
Help wanted!

[2020-08-20 09:38] bwplotka commented on #3060
E.g: https://github.com/thanos-io/thanos/pull/3059

[2020-08-20 13:33] GiedriusS commented on #3057
Is it always reproducible? I wonder if https://github.com/thanos-io/thanos/issues/2805 is related.

[2020-08-20 14:06] csonp commented on #3057
Yes, whenever I run a query over a longer timerange the `store` panics. In fact both instances our of `store` panics at (about) the same time:

**store-0**:
[code]

**store-1**:
[code]

I don't know is it's relevant to the case, but both we and https://github.com/thanos-io/thanos/issues/2805 are using a object storage solution from Cloudian.

[2020-08-20 14:08] yeya24 commented on #3016
One problem I see is that:

if we have multiple Queriers, do we need to require that these queriers configure the same stores?

If they have different Store configurations, then we will get different results when querying them. In this case we might need another cache key.

[2020-08-20 17:34] jdfalk commented on #3058
Agreed on them fixing their nonsense load balancers, but if you look at Argo-CD they did some great work using grpc-web to allow their [cli tool to access the grpc server behind any load balancer](https://github.com/argoproj/argo-cd/blob/master/pkg/apiclient/grpcproxy.go).  It might be worth looking at implementing the same thing. grpc-gateway creates a rest endpoint but we literally just want to

[2020-08-20 19:03] mneverov commented on #2861
Hi, I'd like to work on this.

@pracucci should a new limiter be added or should it replace the existing one?

[2020-08-21 02:23] yeya24 commented on #1651
https://github.com/thanos-io/thanos/pull/3018 is merged so I think it is time to get back to this issue.

Just opened a pr on the Cortex side to support dynamic split interval https://github.com/cortexproject/cortex/pull/3066. It would be great if anyone can help review it!

@bwplotka Would you mind updating the issue checklist? I believe `Partial response must NOT be cached. This can be achieved

[2020-08-22 00:28] midnightconman opened #3063 "Query - Max Concurrent Default Changed Recently"
**Thanos, Prometheus and Golang version used**:
thanos query v0.14.0

**Object Storage Provider**:

**What happened**:
After upgrading to v0.14.0, the default value for concurrent requests went from `20` to `-1`. I think the PR that made this change was #2751

**What you expected to happen**:
I expected the default value to be maintained (or to be recorded in release notes and other documents)

**

[2020-08-23 17:31] tomasfse commented on #977
I would like to emphasize the importance of this issue, because fewer balancers means less money in infrastructure

[2020-08-23 18:11] bwplotka commented on #2919
It's now done in https://github.com/thanos-io/thanos/pull/2931 and documented.

[2020-08-23 18:11] #2919 closed

[2020-08-23 18:18] bwplotka opened #3065 "lint: Add lint for commented code (:"
It's so easy to commit commented code accidentally, wonder if we can have linter for this (:

[2020-08-24 10:16] bwplotka opened #3066 "store: Object Storage cache should be best effort"
Memcached failures took down some requests causing "bucket errors". We should make sure caching is best-effort only (:

cc @squat @pracucci @pstibrany

[2020-08-24 10:22] pracucci commented on #3066
Do you have more details to share about the experienced issue? The object storage cache was built as best effort, so looks like you hit a side effect or bug.

[2020-08-24 13:26] bwplotka commented on #3066
@squat Might have more info. We have Memcached failures at the same time as bucket failures on read path, and we seen no S3 real problems. But I might be wrong (:

[2020-08-24 13:54] squat commented on #3066
We were investigating and incident where our thanos ruler was failing to evaluate rules and tracked the error down to the thanos store gateway failing API calls. We found that exactly coinciding with the rule evaluations, we had elevated errors in bucket operations in the thanos store:

query: `sum(rate(thanos_objstore_bucket_operation_failures_total{job=~"observatorium-thanos-store-shard.*"}[5m])

[2020-08-24 18:59] soniasingla commented on #3037
@bwplotka I would love to help in this 🤗

Can you provide me some starting points? It will be really amazing 🎉

[2020-08-25 04:10] midnightconman commented on #2887
I agree with @belm0, thanos compact should fatal on an unrecoverable error (like a "no space left on disk" error). If you don't fatal, there is no possibility of automated recovery.

On the flip side, if we were to fatal on out of space issues, we could resize the PVC in kubernetes we have for the compactor and on its next loop it would recover. Or if we didn't have a PVC and the workload shifted

[2020-08-25 06:13] youjiahe commented on #3047
root soft nofile 409600
root hard nofile 409600
thanos soft nofile 409600
thanos hard nofile 409600
* soft nofile 409600
* hard nofile 409600

hanos-test thanos]# ulimit -a
core file size          (blocks, -c) 0
data seg size           (kbytes, -d) unlimited
scheduling priority             (-e) 0
file size               (blocks, -f) unlimited
pending signals                 (-i) 30631
max locked m

[2020-08-25 06:30] pstibrany commented on #3066
Caching does introduce a delay into bucket request processing, and if memcache server has troubles, this delay can increase. But single bucket request should only calls memcache once. Unfortunately we don't have any circuit-breaker around access to the memcache at the moment.

What timeout do you use for memcache server? In general, it should be very small, to avoid blocking (and possibly timing o

[2020-08-25 07:23] pracucci commented on #2861
I would be glad if we could keep support for limiting by number of chunks as well (at least in the code) because we're using it in Cortex.

[2020-08-25 08:23] d-ulyanov commented on #2641
still actual

[2020-08-25 09:40] bwplotka opened #3068 "Limit size of blocks to X bytes on compaction."
This is to ensure the scalability of the compactor.

Tricky part: How to shard block, what label to put, or maybe vertical compaction?

[2020-08-25 09:42] bwplotka commented on #1424
Help wanted! We need to limit the size of blocks anyway at some point so starting this: https://github.com/thanos-io/thanos/issues/3068

[2020-08-25 09:49] bwplotka opened #3069 "Tool: In-Place Relabelling for older data."
Totally doable request from @SuperQ:

We're thinking about trying to cleanup some poor labeling choices on historical data.

I would see this as `thanos tool <cmd>` that takes block ID (?) to recompact.

[2020-08-25 10:39] bwplotka commented on #2887
So if not halting is what interests you there is hidden `--debug.halt-on-error=false` you can set (:

[2020-08-25 11:13] bwplotka commented on #3060
Ok it's too annoying, I am disabling it for now ): See: https://github.com/thanos-io/thanos/issues/3060

[2020-08-25 11:17] belm0 commented on #2887
thank you, that sounds like it will work

But I have to say again that the default behavior seems backwards.    When there is a critical error a server should abort.  That is what's expected and useful for users.

I understand the use case where you want to halt the process and do a post-mortem, but that is particular to developers of the server itself, and not the common case.

https://github.com

[2020-08-25 11:30] bwplotka commented on #3060
Let's try to update it first: https://github.com/thanos-io/thanos/pull/3070

[2020-08-25 11:40] bwplotka opened #3071 "e2e: Flaking TestRule"
[code]

e.g https://github.com/thanos-io/thanos/pull/3070/checks?check_run_id=1026227046

Help wanted.

[2020-08-25 12:42] #3013 closed

[2020-08-25 13:21] bwplotka opened #3074 "Ability to tail metrics."
Sometimes it would be awesome to run expensive query only to fetch a small portion of data (:

We can extend StoreAPI for this, by adding some limits (series, chunks etc)

[2020-08-25 14:15] bwplotka commented on #2887
We can definitely discuss this - in fast let's reopen this to do so (:

So far the major reason behind this is that:

* Compactor does not have to be 100% available. It's like periodic batch job rather.
* For most of the errors restart does not help in any form. e.g corrupted block, overlap or auth object storage access
   * Maybe there are errors we are not aware that should mark as non-halt:  No

[2020-08-25 19:45] tiagomeireles commented on #2295
Also affected by this. I look forward to seeing this land as ChunkIterator have been merged upstream.

[2020-08-25 23:50] belm0 commented on #2887
@bwplotka thank you for considering

Even for unrecoverable errors, users expect the server to exit.  It will create a situation of flapping restarts which will be very visible to the stock visualization and monitoring that comes with any compute hosting solution.   For example, on Google Cloud the service dashboard will clearly indicate that the server has problems and is in a backoff state.  And

[2020-08-26 05:36] chris-ng-scmp opened #3079 "Store: Loading block failed in 0.14.0"
Thanos Store not able to load blocks after upgrade to 0.14.0.

With the same object storage and data, 0.13.0 is working well

**Thanos, Prometheus and Golang version used**:

[code]
Prometheus: v2.19.0

**Object Storage Provider**:

ALIYUNOSS

**What happened**:

Log by running 0.14.0

[code]

Log by running 0.13.0

[code]

**What you expected to happen**:

Should no error when loading the blocks

[2020-08-26 08:42] chris-ng-scmp commented on #3079
I can confirm the issue is fixed in the latest master branch
https://github.com/thanos-io/thanos/pull/2916

thank you

[2020-08-26 08:42] #3079 closed

[2020-08-26 09:06] mrsimo commented on #2295
@bwplotka seems like the chunkiterator stuff has been merged into prometheus, right? Is that all that's necessary, or does something else need to be done on the Thanos side? Just to know when we should check things up again.

[2020-08-26 09:10] bwplotka commented on #2295
Hey, we are waiting for Prometheus release AND some tests that would confirm this. With chunk iterator indeed there is no *theoretical* reason why it could be slower, but let's confirm before closing this :hugs:

[2020-08-26 09:12] bwplotka commented on #3079
Thanks!

[2020-08-26 10:16] bwplotka opened #3081 "Fix links; Move preprocess automation for Thanos website to Go"
Also improve link formating/lniting

AC:
* Version picker stuff (websitepreprocess script) should be moved to Golang so we can test and automate more)
* Should convert all Thanos related links to be local links
* Liche should tests future links not current one - the ones that will be produced, so we need to check against deploy when ready (some race condition is to solve between netlify is up and

[2020-08-26 19:01] vanugrah opened #3083 "Thanos Ruler - SHA in tmp filename generates high cardinality metrics."
Hey Thanos team 👋 ,

I'd like to start off by saying that I'm loving this ecosystem. Fabulous work 🎉 . That being said, I noticed something strange while reviewing thanos-ruler metrics:

[code]

I noticed that the values of `rule_group` label were a little unexpected. At first I didn't understand why new tmp file were begin generated. After digesting [this section](https://github.com/thanos-io/tha

[2020-08-26 20:10] #1767 closed

[2020-08-26 20:10] #2198 closed

[2020-08-26 21:26] bgilmore commented on #2198
Hoping this is still in progress? Looking forward to the new block/bucket viewer.

[2020-08-26 23:27] #2405 closed

[2020-08-27 01:12] thisisobate commented on #3081
Happy to focus on this alongside @bwplotka

[2020-08-27 06:49] squat opened #3084 "Flaky QueryFrontend Unit Test"
[code]

[2020-08-27 09:25] prmsrswt commented on #2198
@bgilmore  Yes, we are.

The new block viewer already got merged and made it's way to the latest release. If you are on Thanos v0.15.0 you can try it out. It should already be on feature parity with the old block viewer and it has some additional improvements as well.

A few things we are planning to add in the block viewer in the future:
- Details about the block and index size
- Showing if a blo

[2020-08-27 09:47] prmsrswt commented on #2920
Still valid, and on the roadmap.

Now that we have migrated the Block Viewer to React, we have a base to work upon.

[2020-08-27 10:03] prmsrswt commented on #2880
@wrossmann This should be fixed in the new Block Viewer. We now have a range slider to select the time range you want to view.

[2020-08-27 11:55] krasi-georgiev commented on #2890
update: resolution based dedup doesn't work with promql functions so reverted the change.

In our case adjusting the default look back delta solved the problem so it seems that the problem here is different.

[2020-08-27 12:14] rickdonato opened #3086 "Documentation 404."
Links within Google are all returning 404. Most likey to new doc struture.

[2020-08-27 15:28] adrianmoisey commented on #2276
Just to close the loop here, using 0.12.1, I get the expected result. The UI is super helpful and confirms it's working.
I'm assuming that the issue was originally something I did wrong.
Thanks for the help!

[2020-08-27 21:24] adamstirk-ct opened #3090 "store gateway"
**Thanos, Prometheus and Golang version used**:
quay.io/thanos/thanos:v0.14.0

**Object Storage Provider**:
S
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:

**Anything else we need to know**:

[2020-08-27 21:24] #3090 closed

[2020-08-27 22:12] adamstirk-ct opened #3091 "Store Gateway - The specified key does not exist.\nBaseFetcher: iter bucket..."
**Thanos, Prometheus and Golang version used**:
quay.io/thanos/thanos:v0.14.0

**Object Storage Provider**:
AWS/S3

**What happened**:
The store gateway crashes with the error `The specified key does not exist.\nBaseFetcher: iter bucket...`, looking through the S3 logs I'm seeing "The specified key does not exist" with the request parameters below .
[code]
This is the only access to the S3 bucket

[2020-08-28 08:42] bwplotka commented on #3086
Thanks, we are on it: https://github.com/thanos-io/thanos/issues/3081

[2020-08-28 08:43] bwplotka commented on #3086
Ah, if you mean Google, it has to recrawl, but we might think about some redirect

[2020-08-28 09:34] bwplotka opened #3093 "v0.15.0-rc.0 Compactor Block Viewer: Does not work"
Looks like compactor `global` view does not forward API and css etc calls to correct endpoint:

![image](https://user-images.githubusercontent.com/6950331/91546051-c95d2380-e919-11ea-9563-6e30a607cde9.png)

![image](https://user-images.githubusercontent.com/6950331/91546186-f6113b00-e919-11ea-960c-3578bc0f7699.png)

Even links point to just path without actual endpoint:
![image](https://user-image

[2020-08-28 10:31] prmsrswt commented on #3093
On It.

[2020-08-28 11:52] adamstirk-ct commented on #3091
I've resolved the issue, I needed to remove the bucket from the endpoint from the object storage configuration.

[2020-08-28 11:52] #3091 closed

[2020-08-28 12:29] bwplotka opened #3096 "query: Expose Store filtering in UI"
It works in API level: https://thanos.io/tip/components/query/#store-filtering would be nice to have some UI support for it (:

[2020-08-28 12:45] bwplotka opened #3097 "metrics: Be able to tell how much time each StoreAPI took time (actually)!"
`grpc_server_handling_seconds is not helpful, because of how Querier works: It uses TCP flow-control for incoming stream. This means that slower Store e.g:

![image](https://user-images.githubusercontent.com/6950331/91561751-033b2380-e934-11ea-8e7b-bb940532b684.png)

Does not really mean that this server is slow, it might also mean that:

* Querier is processing (merging) series in mean time from

[2020-08-28 13:37] prmsrswt commented on #3093
@bwplotka against which branch I am supposed to create a PR if we want to include it in the next rc? `master` or `release-0.15` ? I have the fix ready, just need to create a PR.

[2020-08-28 14:22] bwplotka commented on #3093
release (:
Kind Regards,
Bartek Płotka (@bwplotka)

On Fri, 28 Aug 2020 at 14:37, Prem Kumar <notifications@github.com> wrote:

[2020-08-28 14:30] bwplotka commented on #3093
Fixed!

[2020-08-28 14:30] #3093 closed

[2020-08-29 02:49] avenda commented on #2978
The same here!

[2020-08-29 03:11] #2910 closed

[2020-08-29 10:07] #310 closed

[2020-08-31 00:32] #2923 closed

[2020-08-31 07:32] kakkoyun commented on #2962
I have started experimenting with groupcache.

[2020-08-31 10:20] bwplotka commented on #3083
This is definitely a valid bug, kind of bad those IDs leaked to our metrics ): Thanks for spotting this!

https://github.com/thanos-io/thanos/blob/master/pkg/rules/manager.go#L351

Looks like the ID is only to have a quick way to know if the rule should be reloaded or not (if it changed). This avoids rereading those file content and calculating hash sum all the time.

 I think instead of this hash

[2020-08-31 10:35] bwplotka commented on #3083
The hash is to differentiate between file dirs, will add comment

[2020-08-31 10:42] bwplotka commented on #3083
More: Hashes does not introduce any cardinality problem because this is just encoded full path. However it's bug because it's not really verbose

[2020-08-31 11:03] Reamer commented on #2547
I think that is still needed.

[2020-08-31 11:23] bwplotka commented on #3083
Fix: https://github.com/thanos-io/thanos/pull/3102 Please PTAL

[2020-08-31 12:50] yeya24 commented on #3084
I will take this. Thanks the issue!

[2020-08-31 13:39] #3083 closed

[2020-08-31 17:43] yeya24 commented on #2486
Need another review.

[2020-08-31 18:12] vanugrah commented on #3083
@bwplotka  @kakkoyun  Thank you for the quick turn around! Y'all are rockstars!

[2020-08-31 18:16] krasi-georgiev commented on #2794
I couldn't replicate so closing

[2020-08-31 18:16] #2794 closed

[2020-09-01 10:40] shaikatz commented on #3096
The link is broken, this is the right one: https://thanos.io/tip/components/query.md/#store-filtering

[2020-09-01 11:51] kakkoyun commented on #3084
@yeya24 Is there anything that I can help with this?

[2020-09-01 13:20] yeya24 commented on #2997
It is merged in Cortex https://github.com/cortexproject/cortex/pull/3054. Start working on it.

[2020-09-01 13:20] #2997 closed

[2020-09-01 19:23] sepich commented on #2841
Thank you very much @kakkoyun !
I've tried v0.15.0-rc.1 and https://github.com/thanos-io/thanos/pull/2854 has been the fix.

[2020-09-01 19:23] #2841 closed

[2020-09-02 04:29] kakkoyun commented on #2841
@sepich I'm glad that it helped. Also awesome explanation with the detailed graphs, I really appreciated it.

[2020-09-02 10:15] bwplotka opened #3111 "Add flag for making New UI a default."
We have an amazing new UI, but only when you click `New UI`. Let's add command flags to all components if user want new one by default or not. (:

cc @prmsrswt

[2020-09-02 10:28] bwplotka opened #3112 "Block viewer: New UI extension ideas"
It looks amazing (zoom out view 75%):

![image](https://user-images.githubusercontent.com/6950331/91969717-736bef80-ed0e-11ea-8ffb-b44f11f0a82d.png)

And works well, but some minor nits that come to my mind if someone has spare cycles:

*  [x] It takes to much vertical space, I think I would reduce vertical whitespace to a minimum.
*  [ ] It would be amazing to just group them by all external labe

[2020-09-02 10:35] bwplotka commented on #2617
We are on it @homelessnessbo

![](https://media2.giphy.com/media/MM0Jrc8BHKx3y/giphy.gif)

[2020-09-02 10:44] #3084 closed

[2020-09-02 11:12] bwplotka opened #3113 "query-frontend http: invalid Read on closed Body"
`level=warn ts=2020-09-02T10:32:32.374998059Z caller=frontend.go:198 org_id=fake traceID=1ea32ae91e7a739b msg="unable to parse form for request" err="http: invalid Read on closed Body"`

cc @yeya24

[2020-09-02 12:07] yeya24 commented on #3113
@bwplotka Already opened an issue on the Cortex side. https://github.com/cortexproject/cortex/issues/3111

[2020-09-02 18:09] rickdonato commented on #3086
You should be able to remove the pages from webmasters

[2020-09-02 20:48] #2941 closed

[2020-09-02 23:48] #2124 closed

[2020-09-02 23:48] #2417 closed

[2020-09-03 03:43] PGDream opened #3116 "thanos store with aliyun oss,loading block failed parsing time error"
- run args
objstore.config-file: kubernetes configmap volume object
thanos
        - store
        - --log.level=debug
        - --data-dir=/data/
        - --objstore.config-file=/objstorage/objstorage.yaml
        - --grpc-address=0.0.0.0:19914
        - --index-cache-size=800MB
        - --sync-block-duration=30m
        - --http-address=0.0.0.0:19904
        - --min-time=-2d
        - --max-ti

[2020-09-03 06:05] daixiang0 commented on #3081
Some fixed by #3106

[2020-09-03 06:25] crsandeep commented on #2805
We are seeing the same issue. We have 200+ compactors and this is happening in all of them. Restarting pod fixes the issue temporarily.

[2020-09-03 07:53] GiedriusS commented on #2805
Are you using S3 as well? What underneath is implementing this API i.e. are you using AWS or something else?

[2020-09-03 09:13] bwplotka opened #3117 "Potential downsampling artifact to investigate"
Details: https://gitlab.com/gitlab-com/gl-infra/infrastructure/-/issues/11251

[2020-09-03 11:18] thisisobate opened #3118 "Website: Change default url "/tip/" routing to baseurl"
**What happened**:  latest docs links to "thanos.io/tip" which doesn't look nice and causes linking to break in Google search results.

**What you expected to happen**: instead of default url "thanos.io/tip/components/", we could just route to baseurl "thanos.io/components/"

[2020-09-03 11:57] dsayan154 commented on #1318
I want to take this up because I think this feature is really interesting and I could use it with thanos receive for some of our client use cases. I was going the PR [1392](https://github.com/thanos-io/thanos/pull/1392). As far as I understood [this](https://github.com/thanos-io/thanos/pull/1392#issuecomment-520925428) comment from @bwplotka  suggests adding a `Prefix` string attribute to BucketCo

[2020-09-03 13:16] bwplotka opened #3119 "grafana: Ensure Dashboard Vars Depending on LabelNames; LabelValues; Series are limited to certain time period / Add ability to set default in querier"
Currently unlimited time range for Label and LabelValues and Series Thanos APIs return and touch all the data as .. expected. This is great, but it does not make much sense for most of the cases.

We recently added time range parameters to those API endpoints for both Thanos & Prometheus: https://github.com/thanos-io/thanos/issues/1811 However we need to make sure that Grafana utilizes those. Othe

[2020-09-03 14:04] eightnoteight commented on #1014
Hi @bwplotka , interested in this issue, is there anyway I can contribute on this ?

[2020-09-03 14:04] PDVJAM opened #3120 "Can I use k8s ingress for thanos-querier in multi cluster setup?"
Hi!
We use prometheus with thanos for monitoring of several k8s clusters. Main querier sees two other well if I just expose their 10901 ports outside of cluster. But if I put k8s nginx ingress controller before the queriers - main one can't connect to them.
For nginx ingress I use the following annotations:
[code]

thanos-querier has the following configuration:
[code]

Logs show:
`level=warn ts=2

[2020-09-03 16:53] crsandeep commented on #2805
@GiedriusS We are using Ceph object store which is S3 compatible.

[2020-09-03 22:22] Antiarchitect opened #3123 "Thanos integration with the official Prometheus Helm chart setup"
Kubernetes + Helm case.
According to Sidecar component restrictions (https://github.com/thanos-io/thanos/blob/master/docs/components/sidecar.md) unique set of external_labels is used in order to distinguish different Prometheus instances. I've faced the fundamental configuration problem of Prometheus - there is no way to set unique global.external_labels per StatefulSet's pod in most of the charts

[2020-09-04 01:11] Antiarchitect commented on #3123
Will stick with the Receiver component https://github.com/thanos-io/thanos/blob/master/docs/components/receive.md

[2020-09-04 01:11] #3123 closed

[2020-09-04 02:40] #2909 closed

[2020-09-04 02:40] #2922 closed

[2020-09-04 02:40] #2896 closed

[2020-09-04 02:40] #2918 closed

[2020-09-04 02:40] #2797 closed

[2020-09-04 02:40] #2948 closed

[2020-09-04 06:20] bwplotka commented on #2948
Closing this is fair as we started https://github.com/thanos-community/obslytics that takes remote-read / StoreAPI and produces parquet / other formats (:

[2020-09-04 06:20] bwplotka commented on #2948
Let's see how that goas!

cc @ozanminez if you want to help us (:

[2020-09-04 07:40] kakkoyun commented on #2454
Work in progress. cc @yeya24

[2020-09-04 09:24] PavanVasist commented on #2984
Any help or work arounds?

[2020-09-04 12:18] khadka-prakash commented on #3120
For you reference, you can check out this link https://itnext.io/monitoring-kubernetes-workloads-with-prometheus-and-thanos-4ddb394b32c . Make sure to implement TLS in your ingress.

[2020-09-04 12:37] yeya24 commented on #2454
I think the first iteration is almost done. The left thing only is Memcached support.

For the next iteration, what features do we want to implement/have? I can take a look recently. What I can think about are:

1. Cache all endpoints
2. Dynamic split interval (doable now since we already support this in Cortex), but I think we need a way to benchmark downsampled blocks with a high split intervals

[2020-09-04 12:51] kakkoyun commented on #2454
This should be on top of our list.

For the rest we can update the issue with a check list and keep this issue open to track the progress. WDYT?

[2020-09-04 13:02] yeya24 commented on #2454
We might be blocked by https://github.com/thanos-io/thanos/issues/3119. I can start working on splitting/caching `Series` API, but I am not sure how many benefits we can get from caching/splitting all endpoints.

Sounds good. But I don't have edit permission for this issue.

[2020-09-04 14:18] kunal-kushwaha commented on #2198
Hey @prmsrswt @bwplotka, I'd like to work on this for the Community Bridge program. Can you point me towards the plans we have for the UI changes to be made? Discussions/Docs/Notes, anything would help. Thanks!

[2020-09-04 14:20] yeya24 commented on #1651
Updates on this issue:

`Auto downsampling has to be used for the above interval based on step logic.` and `Allow setting custom query params to Cortex frontend` should be done.

For the dynamic split interval for downsampled block, sorry I don't really understand how to calculate `10d`, `120d`, `30m` and `5h` here, can you please explain it? Since we already support getting `max_source_resolution

[2020-09-04 15:39] hhsnow commented on #2961
commenting to remove stale label. still a needed feature for me.

[2020-09-04 15:57] bwplotka commented on #2961
That's a problematic one, mostly because the address is just an IP that can change anytime thus increasing cardinality. But I think after so many requests we would be willing to accept some contribution to actually put `address` in label. I definitely see much use of it.

Help wanted.

Related issue: https://github.com/thanos-io/thanos/issues/3014

[2020-09-04 16:50] ahmednasir91 opened #3126 "Unable to install the thanos mixin"
**What happened**:
When trying to install the mixin using the command

[code]

It fails with an error

[code]

Details logs with trace can be found below

**What you expected to happen**:

The mixin should be installed successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Simply
[code]

**Full logs to relevant components**:

<details>Logs
<p>

[code]

</p>
</details>

*

[2020-09-04 17:26] yeya24 commented on #3126
Thanks for reporting. I got the same error running this command.

The correct path should be below. This doc https://github.com/thanos-io/thanos/blob/master/mixin/README.md#use-as-a-library should be updated.

[code]

[2020-09-04 17:39] ahmednasir91 commented on #3126
@yeya24 yeah just figured out and came here to see reply that and saw you already replied :) let me create a PR to fix the documentation.

[2020-09-04 20:25] #2954 closed

[2020-09-04 22:08] midnightconman opened #3128 "Thanos Rule Should Create "ALERTS" Metrics"
**Thanos, Prometheus and Golang version used**:
v0.14.0

**Object Storage Provider**:
AWS S3

**What happened**:
I checked the metrics available on thanos-rule component for the same type of alert metrics generated by prometheus to track alert pending and firing state (as the metric `ALERTS{}`) and I couldn't find any. I think the thanos rule component should record these metrics just like a norma

[2020-09-04 22:33] midnightconman commented on #3128
Nevermind, sorry for the spam. It turns out these metrics aren't exposed through the normal metrics endpoint, instead they are dropped through the normal chunking mechanisms (so you have to query the thanos-rule component for them).

[2020-09-04 22:33] #3128 closed

[2020-09-05 02:05] avenda commented on #2978
We solved with a proxy. The Querier read the "local" k8s service and envoy (grpc) upstream the external sidecar.

[code]

[2020-09-05 02:40] #2977 closed

[2020-09-05 13:39] #2960 closed

[2020-09-05 17:14] Harshitha1234 commented on #1598
#3075, still needs few modifications and coming soon :)

[2020-09-05 17:29] avenda commented on #3120
similar to #2978

[2020-09-06 11:07] GiedriusS commented on #2887
Could you please explain what would be the difference between your proposed change and simply running Thanos Compactor on a cronjob that would exit with `1` if an error had happened? It would also

Just like you've said it would do that by using the universal Unix convention how an error gets surfaced to the user, with exit codes.

[2020-09-06 12:40] roysha1 commented on #2286
@schlauerlauer , how did you disabled it? im running the same issue you got, but didnt specify any TLS.

[2020-09-06 13:54] roysha1 commented on #2978
Thanks @avenda! Can you please share you service.yaml?

[2020-09-06 17:50] yashrsharma44 commented on #2914
I will have a stab at this issue, this week 😛

[2020-09-06 18:15] avenda commented on #2978
@roysha1 which services?

[2020-09-06 18:26] roysha1 commented on #2978
@avenda, sorry, didn't noticed you mentioned envoy.
It proxies the external urls?

[2020-09-06 18:38] roysha1 commented on #1507
What if don't want to use tls at all? Not for internal communication (which is default), and not for external queries. Is it possible?

[2020-09-06 22:20] avenda commented on #2978
@roysha1 Yep

[2020-09-07 05:40] roysha1 commented on #2978
@avenda Thanks! can you please share your proxy configs? Thanks!

[2020-09-07 06:56] Madhu-cherukuri commented on #2954
please reopen the issue, since it still exist, and any one please have a look on this??

[2020-09-07 09:04] #3126 closed

[2020-09-07 11:39] kakkoyun commented on #2622
Re-opening this issue again. Reloader test become flaky again.

[2020-09-07 11:56] hanjm commented on #3116
fixed by SabaPing  https://github.com/thanos-io/thanos/pull/2916, you can use version larger than 0.15 :)

[2020-09-07 12:50] kakkoyun commented on #2954
Hey @Madhu-cherukuri, this seems like a configuration problem. We have end-to-end tests to check these type futures and we haven't experienced any regressions. You might need to provide more information.

And also you could ask your questions on CNCF Slack #thanos channel you would get more help for these type of issues.

[2020-09-07 17:02] avenda commented on #2978
@roysha1
[code]
My ingress using nginx controller
[code]

[2020-09-07 17:10] roysha1 commented on #2978
Thanks Victor!

[2020-09-07 17:11] roysha1 commented on #2978
Thanks @avenda!

[2020-09-07 17:52] spencergilbert opened #3135 "404 errors for links in CLI flag text"
**Thanos, Prometheus and Golang version used**:
Thanos: v0.15.0

**Object Storage Provider**:
N/A

**What happened**:
While working on the thanos helm-charts I noticed the links provided in the flag descriptions were 404ing ex: `https://thanos.io/tip/tracing.md/#configuration` should be `https://thanos.io/v0.15/thanos/tracing.md/#configuration`

**What you expected to happen**:
Proper linking to h

[2020-09-08 12:32] SerialVelocity commented on #3005
I haven't tried 0.15.0 but I don't see anything in the changelog

[2020-09-08 13:16] yeya24 commented on #1611
Do we have any plans/design docs about this feature? I have some time recently so maybe I can do some experiments first.

One simple idea is to get all metric names (/api/v1/label/__name__/values) for each store in `Info()` StoreAPI and keep them in a bloomfilter in `StoreRef`. Only keeping metric names cannot work for queries without specifying `__name__`, but it works for most cases and I think

[2020-09-08 13:23] kakkoyun commented on #1611
I don't think we have. It would be great place to start when one decides to pick up this issue. We can elaborate more on those challenges you have mentioned.

Also there's also a bit of experimentation needed to pick the correct approach/data structure for implementation.
I have come across some nice articles and projects recently worth looking before start. (Haven't dug deep though)
On Bloom Filt

[2020-09-08 13:25] caarlos0 commented on #3118
also, several links are 404s... e.g. the query frontend on the v0.15.0 release notes

[2020-09-08 14:09] AriannaDel opened #3139 "sidecar Azure blob storage: hard link block - operation not supported"
**Thanos, Prometheus and Golang version used**:
Thanos version 0.14.0
Prometheus version 2.16.0

**Object Storage Provider**:
Azure blob storage

**What happened**:
thanos-sidecar fails to upload blocks to Azure storage

**What you expected to happen**:
thanos-sidecar successfully uploads blocks to Azure storage

**How to reproduce it (as minimally and precisely as possible)**:
Create prometheus-t

[2020-09-08 16:07] GiedriusS commented on #3139
Hi! Don't think it is related to you using Azure at all. Thanos create a hardlink of block's files before trying to upload them so that in case they would get deleted by someone else e.g. Prometheus, we'd still be able to read them because we'd have a reference to the underlying inodes. It sounds like for whatever reason the Thanos Sidecar process cannot create those hardlinks. Could you please el

[2020-09-08 22:10] squat opened #3141 "receive: Hashring Update Improvements"
Currently, any change to the hashring configuration file will trigger all Thanos Receive nodes to flush their multi-TSDBs, causing them to enter an unready state until the flush is complete. This unavailability during a flush allows for a clear state transition, however it can result in downtimes on the order of five minutes for every configuration change. Moreover, during configuration changes, t

[2020-09-08 22:42] squat opened #3142 "Thanos UI Enhancements"
The Thanos project has recently migrated its UI to one built on re-usable and shareable components written in React, with the goal of fostering collaboration with the broader Prometheus community. We would like to propose enhancements to the UI to better surface information in every Thanos component. This includes: exposing build- and run-time configuration; creating an API discovery page to provi

[2020-09-08 22:57] mateuszwieloch opened #3143 "Enforcing v2 of AWS IDMS causes Access Denied error"
**Thanos, Prometheus and Golang version used**:
[code]
[code]

Note: I've also tried with the latest stable version of Thanos (0.14) but the same error appeared.

**Object Storage Provider**:

**What happened**:
Following AWS security recommendations I have enforced usage of v2 IDMS on EC2 instances of Thanos Compactor. This has caused the following error to appear in logs:
[code]
which seems to b

[2020-09-09 06:08] brokencode64 commented on #3005
Seeing this issue too,  is it intentional?

[2020-09-09 10:29] HongChenTW commented on #2736
Hi, we're facing exactly the same issue, any updates on this?

[2020-09-09 11:25] kakkoyun commented on #3005
@brokencode64 I don't think it is intentional. We can always ask @daixiang0, if the removal was intentional. @daixiang0 WDYT?

@SerialVelocity In any case, if you think it is an alert that's needed or we are missing any other alerts, please feel free to contribute. I'd be happy to review and include it in the next release.

[2020-09-09 15:52] jaybatra26 commented on #3141
Hi! Can I take this up as a part of my community Bridge program?

[2020-09-09 19:39] ipstatic commented on #1706
This is still an issue.

[2020-09-09 19:41] ipstatic commented on #2361
This is still an issue, even with thew new interface.

[2020-09-10 00:29] daixiang0 commented on #3005
It is not intentional but a mistake, @SerialVelocity thanks for catching it!

[2020-09-10 01:01] rajdas98 commented on #3141
Looking forward to contribute as part of community Bridge program.

[2020-09-10 13:21] AriannaDel commented on #3139
Hi, I have looked into it and it seems like the problem is due to the fact that I am using Azure files as storage for Prometheus and reading the documentation I found out that Azure File does not support hard links so I think that's what is preventing the sidecar to behave as expected.

[2020-09-10 13:33] GiedriusS commented on #3139
Thank you for your investigation! Closing the issue then because I'm not sure if we can do anything. Support for hard links is necessary for the Thanos Sidecar component. Please comment again if this needs to be reopened.

[2020-09-10 13:33] #3139 closed

[2020-09-10 18:54] #2953 closed

[2020-09-10 22:41] ipstatic opened #3149 "Store: Cancelled/Aborted GRPC Requests Increment thanos_objstore_bucket_operation_failures_total"
**Thanos, Prometheus and Golang version used**:
**Thanos**: v0.13.0
**Prometheus**: 2.15.2
**Golang**: 1.14.1

**Object Storage Provider**:
GCS

**What happened**:
We noticed a continued increases in the `thanos_objstore_bucket_operation_failures_total` metric while not seeing errors in the log file. After looking at other metrics it appears that when a request from query is timed out/cancelled/ab

[2020-09-11 00:44] gburek-fastly opened #3150 "store: Process start times growing linearly with blocks in objstore"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.15.0 (branch: HEAD, revision: fbd14b49f95e7543883fedf9381a21127d4dda2b)
  build user:       root@d35b081d3e19
  build date:       20200907-09:29:21
  go version:       go1.14.2

**Object Storage Provider**: GCS

**What happened**: The time that that Thanos Store takes to become Ready has steadily grown over the last few months, as

[2020-09-11 07:34] GiedriusS commented on #3150
Very nice investigation! It seems to me like we should implement concurrency there and re-use this value here https://github.com/thanos-io/thanos/blob/03b6991949601d82fe17c4fbd2a658f678f0a6a5/cmd/thanos/store.go#L42 in that filter + add locking around modifying `f.deletionMarkMap` to avoid modifying the `map` concurrently.

[2020-09-11 09:24] kakkoyun commented on #3119
xref: https://github.com/grafana/grafana/issues/11184

[2020-09-11 09:47] bwplotka commented on #2527
Still not done.

[2020-09-11 09:47] bwplotka commented on #1811
The params were added but limit not introduced yet @kakkoyun is working on it.

[2020-09-11 10:17] bwplotka opened #3151 "QoD handling: Improve Thanos Query (Read) Limits"
We are adding new options to add limits per samples in multiple components to avoid OOMs/DDoS/Saturation etc but still, it's far from being perfect and it's hard to calculate what value actually to put when you use X GB of mem and Y amount of CPU.

This issue is to gather ideas and suggestion about what we can do in this space. E.g:

Debuggability:
* Allowing partial response on limited queries: h

[2020-09-11 10:18] bwplotka commented on #3151
Related discussion: https://cloud-native.slack.com/archives/CK5RSSC10/p1599398876160300

[2020-09-11 10:45] kakkoyun commented on #3119
https://github.com/grafana/grafana/issues/27537

[2020-09-11 10:45] kakkoyun commented on #3119
https://github.com/thanos-io/thanos/pull/3147

[2020-09-11 10:49] GiedriusS commented on #3149
It seems to me like we need to add `if !errors.Cause(err, context.Canceled) { increaseOperationFailures() }`. Help wanted!

[2020-09-11 10:49] pstibrany opened #3152 "Idea: use caching bucket for caching index"
Caching bucket is currently [configured](https://github.com/thanos-io/thanos/blob/c5dd131a422f58b110463a9bb5766eb654bcf3f4/pkg/store/cache/caching_bucket_factory.go) to ignore "index" files, because for index we use an [IndexCache](https://github.com/thanos-io/thanos/blob/c5dd131a422f58b110463a9bb5766eb654bcf3f4/pkg/store/cache/cache.go) instead.

Instead of using IndexCache, we could configure ca

[2020-09-11 10:56] tdinucci commented on #3151
**Problems**
1. It is possible for individual queries to cause components to OOM
2. It is possible for expensive queries to cause a queue of queries to form and then for even cheap queries to timeout.

**Considerations**
These issues may be mitigated by actions such as; reducing timeouts, scaling out queriers, etc - lowering the blast radius of any single "bad" query.  These actions alone however

[2020-09-11 11:31] #2985 closed

[2020-09-11 11:33] bwplotka commented on #3152
Thanks for the write up!

I think this is kind of blocker:

However, why not? We can totally add compression layer to certain caching items, no? (:

[2020-09-11 12:14] pstibrany commented on #3152
Caching bucket works on small segments that are aligned on some boundary (eg. with 16000 bytes, first segment is always [0-16000), second [16000-32000), etc.). These segments don't follow the structure of the index in any way (but only segments that Thanos is reading are fetched and cached). These individual segments *could* be compressed, that that doesn't bring much.

Today's Index cache does re

[2020-09-11 13:35] thisisobate commented on #3118
@caarlos0 You mean the release notes on GitHub?

[2020-09-11 13:36] ipstatic commented on #3149
That is what is puzzling me. Query shows the request as cancelled but store shows the request as aborted, not cancelled. Is there a timer that we could be hitting? Also, I would love to help but I don't know where in the code this is getting executed. Mind pointing me in a general direction?

[2020-09-11 14:27] thisisobate opened #3155 "Flaky reloader unit test"
[code]

[2020-09-11 14:52] caarlos0 commented on #3118
<img width="920" alt="image" src="https://user-images.githubusercontent.com/245435/92940186-2b8f4b80-f425-11ea-9231-16fbeb074295.png">

the query frontend link on the release notes on github.

[2020-09-11 15:52] bwplotka commented on #3118
On GH yup ): cc @kakkoyun

[2020-09-11 16:11] bwplotka commented on #3155
Why is it receive unit test in the title? (: Looks like reloader to me

[2020-09-11 17:07] gburek-fastly opened #3156 "Compact: cli arg `web.external-prefix` is ignored"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.15.0 (branch: HEAD, revision: fbd14b49f95e7543883fedf9381a21127d4dda2b)
  build user:       root@d35b081d3e19
  build date:       20200907-09:29:21
  go version:       go1.14.2

**Object Storage Provider**: GCS

**What happened**:
When `thanos compact` is run with `--web.external-prefix=bucket-web`, the `NewBucketUI` is not mounted

[2020-09-11 20:25] daviddelucca opened #3157 "Question: how to identify who is calling my pod?"
Hello folks!

We are building some metrics to identify which pod is calling a specific application. For what I have read, it is possible using Thanos. Based on that, I have created a query like:

[code]

It's almost working I'm getting  strane value like `0.167`, `0.133`. Is possible to get values like an integer? I just want to count how many requests are coming from other pods to pod called "aut

[2020-09-11 20:31] #2992 closed

[2020-09-12 07:19] bwplotka commented on #2992
Looks like no one wants this. Let's leave it closed then.

[2020-09-12 16:55] thisisobate commented on #3155
Yeah.. you're right.
I actually thought it was the receiver. Would edit right away @bwplotka

[2020-09-12 17:14] #2993 closed

[2020-09-13 08:18] sepich commented on #2599
For those who found this issue via search: thanks to @bwplotka and @dipack95 work [on prometheus side](https://github.com/prometheus/prometheus/pull/7586) it is now possible to import custom data in prometheus text format into Thanos via https://github.com/sepich/thanos-kit/ `import` command.
(It is currently reading all the imported data to memory, hope the feature would be implemented better in

[2020-09-13 13:51] thisisobate commented on #2598
Done! 🤗 #2802

[2020-09-13 13:51] #2598 closed

[2020-09-13 15:05] kunal-kushwaha opened #3160 "React-UI: "key" prop missing in Navigation"
**Thanos, Prometheus and Golang version used**:
Thanos: v0.15.0
Prometheus: v2.21.0
Go: v1.15.1

**Object Storage Provider**:
NA

**What happened**:
To determine whether or not the component should be re-rendered, React uses the key prop which was missing in: https://github.com/thanos-io/thanos/blob/e31e93be758fc4c1e5befff5aa2e3f5ca2340062/pkg/ui/react-app/src/thanos/Navbar.tsx#L64.
![Screenshot 2

[2020-09-13 16:09] #2793 closed

[2020-09-13 16:12] #3160 closed

[2020-09-13 16:21] yeya24 commented on #3156
Good catch! @gburek-fastly  Do you want to create a pr to fix it?

[2020-09-13 19:09] #2999 closed

[2020-09-13 19:09] #2792 closed

[2020-09-13 20:23] aribalam commented on #3096
Can I work on this issue?

[2020-09-14 06:31] codwu opened #3162 "How to fix "invalid magic number""
**Thanos, Prometheus and Golang version used**:
Thanos v0.10.0
Prometheus v2.13.0

**Object Storage Provider**:
s3
**What happened**:
Thanos Compact crash during the compaction
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:
level=info ts=2020-09-14T05:01:16.707592944Z caller=http.go:78 service=http/server c

[2020-09-14 07:26] shicheng001sg opened #3163 "querier --selector-label not working when query without label"
for example if I run querier with --selector-label=namespace="ns1"
I query with kube_namespace_labels{namespace="xxx"} , the querier --selector-label is working as expect, only return result when namespace matches "ns1"
but if I query with kube_namespace_labels only, without specifying any labels to match in the query, then querier will return all records if can find for kube_namespace_labels

[2020-09-14 09:21] pracucci commented on #2542
_Is this still valid? If not, which PR fixed it?_

[2020-09-14 09:58] bwplotka commented on #3162
Looks like one of those blocks might be malformed? Try to clear local disk of compactor and rerun. Does it repeats?

[2020-09-14 10:54] codwu commented on #3162
I cleard local disk and restarted compactor. It still crashed with same error.

[2020-09-14 12:14] Hanoko opened #3164 "Oracle Cloud Buckets support"
Hi,

Is there any plan to support Oracle Cloud buckets in any near future?

Best regards

[2020-09-14 13:18] kakkoyun commented on #3118
@caarlos0 Release notes fixed and for the changelog, https://github.com/thanos-io/thanos/pull/3165 will fix it.

[2020-09-14 15:18] pracucci commented on #3152
I'm a bit dubious about this. To me it looks like we're trading a (significant) optimisation with a cleaner code.

Also, is it really better fetching a bunch of small items from memcached instead of a single large object? For the chunks caching we didn't have any other option, but for the index entries do we have any data point to support this decision?

[2020-09-14 18:49] kunal-kushwaha commented on #3112
I'd like to take this 🙌

[2020-09-15 07:02] bwplotka commented on #3014
cc @s-urbaniak as we talked about this recently :hugs:

[2020-09-15 11:15] daksh-sagar opened #3168 "Replace Alert components in the react-app with UncontrolledAlert (this makes the Alerts dismissable)"
The UncontrolledAlert component has an 'x' button on it which can be used to close the rendered Alert component in the UI.

https://reactstrap.github.io/components/alerts/

[2020-09-15 13:26] limberger opened #3170 "Alerts launched by Thanos Rule don't generate metrics (ALERTS / ALERTS_FOR_STATE)"
Hi!
I don't know if is a bug or a Issue, but alerts launched by Rule don't  generate metrics ALERTS and ALERTS_FOR_STATE!

[2020-09-15 15:40] Antiarchitect commented on #2982
Experiencing exactly the same erro with replication factor 3. @chaimch - any success on this?

[2020-09-15 19:27] Oghenebrume50 commented on #3135
I actually think this link (https://thanos.io/tip/thanos/tracing.md/#configuration) works fine, I should open a PR for this :thinking:  there are a bunch of these (https://thanos.io/tip/tracing.md/#configuration) in the docs, which doesn't work anymore

[2020-09-15 20:09] #3168 closed

[2020-09-15 20:27] bwplotka opened #3171 "website: Fix Table of Content generation."
Something is broken. This used to be long list giving all the headlines, now it's partial: https://thanos.io/tip/coding-style-guide.md/

cc @thisisobate :thinking:

[2020-09-16 02:06] yeya24 commented on #3170
Hi @limberger What's your setup and how did you query the `ALERTS` and `ALERTS_FOR_STATE` metrics?

These two metrics are created in Thanos Rule, so if you want to query them, you just need to add one more `--store=<grpc address for your ruler>` flag to your Thanos querier, then I guess you can query the metrics.

[2020-09-16 02:13] yeya24 commented on #3157
Hi, seems this is a promql/istio question and not related to Thanos. If you have promql questions, it would be good to ask them in the Prometheus mailing list https://groups.google.com/forum/#!forum/prometheus-users.

[2020-09-16 02:16] yeya24 commented on #3116
Hi @PGDream, as @hanjm mentioned, this has been fixed already. Can you please try the latest release? If this problem is still reproducible, please let us know

[2020-09-16 06:25] bwplotka commented on #3171
Related piece of code: https://github.com/thanos-io/thanos/blob/36b5f176f62d6eb287a2031d7a946b8ddf855827/website/layouts/_default/single.html#L11

We did not change much here so it looks like newer version of Hugo made this? Maybe it's customizable? It looks like it ignored lower lever sections (h3 and larger) for some reasons :thinking:

[2020-09-16 06:45] bwplotka commented on #3151
Sorry for lag.

Yes, that's the current direction and high level idea. For each component estimate the cost and allow users to give certain limit of those per tenant.

I would focus on StoreGW and Querier first. I love the idea of statistics driven approach. We can totally do extra calculation, every time we create index-header file from index.  Let's dive into this more. cc @krasi-georgiev who is

[2020-09-16 06:47] bwplotka commented on #3151
But there might even more easier wins. In Posting Matching we can already tell how much postings it's touching. We can estimate something from that. Of course each posting will not tell you immediately how much series and  chunks (and how much samples within chunk) you will return. This is something we need to figure out.

[2020-09-16 06:47] bwplotka commented on #3151
In fact this might be something we can build into Prometheus block, thus improving Prometheus limits as wel

[2020-09-16 08:26] thisisobate commented on #3171
Yeah... I agree with you. But it seems the problem occurs only on the `coding-style-guide.md` page. Would look into this right away
@bwplotka

[2020-09-16 09:17] daksh-sagar opened #3172 "react-app: In src/pages/alerts/Alerts.tsx in the return statement statsCount prop is being overriden by spread response.data object."
![Alerts](https://user-images.githubusercontent.com/24277216/93305931-cff60100-f81c-11ea-8adb-3c7b7ef22891.png)

[2020-09-16 09:26] Jakob3xD opened #3174 "query-frontend: 302/304 logged as error"
**Thanos, Prometheus and Golang version used**:
Thanos Docker: v0.15.0

**What happened**:
When accessing the query-frontend I can see http 30* reposes logged as error.

**What you expected to happen**:
304 / 302 should not be logged as error?

**How to reproduce it (as minimally and precisely as possible)**:
304/302 Repose happens when accessing the frontend URL without any suffix. (query-fronten

[2020-09-16 09:35] thisisobate commented on #3171
fixed #3175
PTAL @bwplotka

[2020-09-16 10:16] codwu commented on #3162
I deleted the blocks in the error log from my object store. The compactor is running again. However, I think we should provide a better way to handle this promblem without any data loss.

[2020-09-16 10:57] bwplotka commented on #3171
Fixed <3

[2020-09-16 10:57] #3171 closed

[2020-09-16 13:01] limberger commented on #3170
Thanks! You Alright!!! It's working!

[2020-09-16 13:01] #3170 closed

[2020-09-16 14:29] neilfordyce opened #3177 "query-frontend: populate org_id in slow query logs"
The OrgId passed to Cortex is hard-coded to "fake":
https://github.com/thanos-io/thanos/blob/5aac47760359503358191caeb73780f87aa94e38/cmd/thanos/query-frontend.go#L203

When logs are produced to the slow query log, it results in logs which contain `org_id=fake`, e.g:
```level=info ts=2020-09-16T13:33:14.670646Z caller=frontend.go:206 org_id=fake msg="slow query detected" method=GET host=localhost:

[2020-09-16 14:35] neilfordyce commented on #3177
We have a few different clients which interact with Thanos, which provide various headers which are useful for finding the source of queries (e.g. X-Grafana-User which contains the user name of a logged in Grafana user).  Would it be useful if Thanos query-frontend took a list of potential header keys to try to extract an OrgId, then fallback through them until it finds one which isn’t empty, some

[2020-09-16 14:52] yeya24 commented on #3174
Yes, I agree 302 shouldn't be logged. @yashrsharma44 What do you think?

[2020-09-16 14:54] yashrsharma44 commented on #3174
@yeya24 Thanks for pointing out the error, will have a look!

[2020-09-16 14:57] yeya24 commented on #3177
I hardcoded that value to `fake` because there is no `org` concept in Thanos. But I think supporting this is definitely a valid feature request. Any thoughts @kakkoyun @bwplotka?

[2020-09-16 15:05] yashrsharma44 commented on #3174
Yeah, I remember taking a decision of just handling `[200,300)` and `[400,500)` at a `debug` level, and rest at the `error` level. We can make a change once we decide which the level of `[300,400)` requests :thinking:
Ref - https://github.com/thanos-io/thanos/blob/master/pkg/logging/options.go#L97

Would encourage the new contributors to take this issue once discussed, it is a pretty small fix :ne

[2020-09-16 15:07] aribalam commented on #3174
I would like to take this up!

[2020-09-16 16:28] gburek-fastly opened #3178 "query-frontend: No caching when used with query configured with prefix"
**Thanos, Prometheus and Golang version used**:

[code]

**What happened**:

Query-frontend is not caching or otherwise modifying the queries that flow through it to downstream query nodes. This can be seen by incrementing `http_requests_*` and `http_responses_*` metrics but `querier_*` and `cortex_*` metrics remain at 0:

<details>Metrics
<p>

[code]

</p>
</details>

**What you expected to happe

[2020-09-16 16:43] gburek-fastly opened #3180 "query-frontend: redirect loop when visiting bare path prefix like `/thanos`"
**Thanos, Prometheus and Golang version used**:

[code]

**What happened**:

When using query-frontend with query that uses a path prefix, we encounter a 301 loop and `ERR_TOO_MANY_REDIRECTS` error when visiting the path prefix, such as `http://localhost/thanos/` but a successful page load on `http://localhost/thanos/graph`. Visiting `http://localhost/thanos/` on *query* correctly redirects to `/t

[2020-09-16 17:09] daksh-sagar commented on #3174
@yashrsharma44 I would like to give it a go as well. What should be the level of logging for 3xx codes though?

[2020-09-16 18:47] bwplotka commented on #3177
Sounds good to me !

[2020-09-17 01:04] yeya24 commented on #3178
Thanks for opening this issue.

Currently query-frontend doesn't handle web route prefixes in the downstream querier.

Considering that we might want to configure multiple queriers with different web route, can we just check?

[code]

[2020-09-17 05:59] daksh-sagar commented on #3156
Hey, @yeya24. Can I take this up, if it's alright?

[2020-09-17 09:02] tdinucci commented on #3151
Sounds promising 😀

Having this kind of thing in Prometheus makes total sense since this is a problem there too.

It seems like you're already on top of this.  I can't firmly commit to anything myself over the next couple of weeks however if you think an external contribution would help speed this along I'd be very happy to discuss.

[2020-09-17 09:11] bwplotka commented on #3151
I wouldn't say we are on top if, it's one of many things and rather not the highest priority now, so any help is welcome! We are always happy to discuss about external help, freel free to each me on CNCF Slack `@bwplotka` or `#thanos-dev` (:

[2020-09-17 09:16] tdinucci commented on #3151
Cool.  Let me gather my thoughts on this and I will reach out over the next couple of weeks 👍

[2020-09-17 10:46] #3135 closed

[2020-09-17 10:50] jicanghaixb commented on #2978
The same here! thanos version 0.15.0
18:13:01 thanos_query | level=debug ts=2020-09-17T10:13:01.68700137Z caller=proxy.go:288 msg="store Addr: ***********:30200 LabelSets: [name:\"prometheus\" value:\"***-operator-system/ezmon-prometheus\" ,name:\"prometheus_replica\" value:\"prometheus-ezmon-prometheus-0\" ] Mint: -62167219200000 Maxt: 9223372036854775807 queried;store Addr: 178.18.201.86:11901 L

[2020-09-17 10:58] roysha1 commented on #2978
@jicanghaixb do you use ssl for thanos?

did you set the store-strict on the upper level query?

Thanks!

[2020-09-17 13:19] daksh-sagar commented on #3026
@bwplotka Can I work on this, please?

[2020-09-17 13:25] yeya24 commented on #3156
@daksh-sagar Hi, feel free to take it. Thanks :smile:

[2020-09-17 14:17] kakkoyun commented on #3026
@daksh-sagar I have actually a PR to fix this https://github.com/thanos-io/thanos/pull/3121. Sorry I've forgotten to update this issue.

[2020-09-17 14:23] daksh-sagar commented on #3026
@kakkoyun It's allright 🤓

[2020-09-17 17:35] gburek-fastly commented on #3178
I think checking the suffix would be ideal and allow flexibility in routing to multiple downstreams.

[2020-09-17 18:49] neilfordyce commented on #3177
Awesome.  I'll have a look at getting a PR together for that.

[2020-09-18 06:43] vishnubraj opened #3185 "Thanos not retriving S3 data"
I updated to Thanos 15.0 version two weeks before.

[code]
I have 90days data locally and the remaining (Last 1 year data) in S3
When I query via Thanos i only get the local data and don't get any of the S3 data.
I enabled Debug log on the Thanos query and Thanos Store, but I don't see any suspicious message.

Can someone help me fix this?

[code]

<img width="1801" alt="Screenshot 2020-09-17 at 1

[2020-09-18 07:41] OGKevin opened #3186 "Thanos ruler dies on startup if AM DNS can't be resolved"
**Thanos, Prometheus and Golang version used**:

thanosio/thanos:v0.14.0

**What happened**:
Some details/backstory can be found here: https://github.com/prometheus/alertmanager/issues/2372
TL;DR, thanos ruler dies at startup if it cannot revolve AM DNS.

**What you expected to happen**:
Ruler to boot up and at leats process rules.

**How to reproduce it (as minimally and precisely as possible)**:

[2020-09-18 08:00] #3174 closed

[2020-09-18 09:37] #3172 closed

[2020-09-18 10:33] #3156 closed

[2020-09-18 11:29] bboreham opened #3187 "Incorrect comment in DNS provider"
This line is the only occurrence of `defaultPort` in this repo:
https://github.com/thanos-io/thanos/blob/00510b5ae7fbcfc42c735532069afead30c3bb01/pkg/discovery/dns/provider.go#L111

I believe what actually happens is it returns an error.

[2020-09-18 14:06] vishnubraj commented on #3185
I am getting the below message in the Thanos query. What is meant by filtered out?

[code]

[2020-09-18 21:52] yeya24 opened #3189 "Document query frontend in-memory cache config better"
There is an example in-memory cache config for query frontend in the document https://github.com/thanos-io/thanos/blob/master/docs/components/query-frontend.md#in-memory. However, it is not very clear how to configure these values, what is the correct format, etc.

AC, we should document 4 items:

1. The format of `max_size`. Based on the flag in Cortex https://github.com/cortexproject/cortex/blob

[2020-09-19 08:18] daksh-sagar commented on #3189
@yeya24 Hey, can I take this up ?

[2020-09-19 08:48] thisisobate commented on #3155
Seems like there's an ongoing thread for this issue in #2622

Would close this for now.

[2020-09-19 08:49] #3155 closed

[2020-09-19 09:14] hedeesaa opened #3190 "Thanos Sidecar doesnt reload prometheus cofigfile"
based on [this document ](https://thanos.io/tip/thanos/quick-tutorial.md/#sidecarcomponentssidecarmd) I made the docker-compose file like this:
[code]
but whenever I change anything in prometheus.yml file, nothing happens.
shouldn't sidecar reload the config file for prometheus? I thought this feature would omit the need of reloading prometheus to read new config file.

[2020-09-19 10:47] hedeesaa commented on #3190
The problem was because of file mounting(`./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml`), I changed it and mounted the directory and everything worked as a charm:)

reference: https://github.com/moby/moby/issues/15793#issuecomment-135411504

[2020-09-19 10:47] #3190 closed

[2020-09-19 12:03] RealRadOne commented on #3189
@yeya24 Can I take this up?

[2020-09-19 20:17] vishnubraj commented on #3185
Can someone help me with this, I downgraded Thanos to 0.12 version also but still it's not showing any data from S3.
It's a very critical issue. Please

[2020-09-20 04:58] vishnubraj opened #3193 "only partial data received from S3"
I have 1-year worth data in AWS S3, but i am only seeing partial data from AWS S3 when query.
debug logs are not showing any issue.

Can you please help check this.

<img width="2034" alt="Screenshot 2020-09-20 at 10 25 17 AM" src="https://user-images.githubusercontent.com/11851188/93694624-afcf8600-fb2b-11ea-8822-cdd63f4c3325.png">

[code]

[2020-09-20 05:07] vishnubraj commented on #3193
@SuperQ @bwplotka  can you please help me check this?

[2020-09-20 09:23] prmsrswt commented on #3180
I think this issue is somewhat similar to #3043. I fixed this for the new UI but I think the same thing is happening in the case of having a path prefix. [This comment](https://github.com/thanos-io/thanos/issues/3043#issuecomment-675319819) will give more idea to anyone who wants to work on this.

[2020-09-20 09:29] aribalam commented on #3180
I think I can fix it. Is it alright if I work on this?

[2020-09-20 10:39] SuperQ commented on #3193
This looks is an artifact of staleness handling and downsampling. Without more information on your compactor settings, and query server flags, it's hard to say.

You probably need use a range vector function like `avg_over_time(foo[1d])`.

But note, you need to pay attention to matching the range to the step resolution.

Like this:
![image](https://user-images.githubusercontent.com/1320667/9370943

[2020-09-20 13:44] vishnubraj commented on #3193
Thanks, @SuperQ  avg_over_time works but irate functions are not working.

Please find below mentioned my compactor settings.

[code]
Query Server Settings:

[code]

[2020-09-20 13:52] SuperQ commented on #3193
You have `--query.auto-downsampling` turned on, this effectively ignores the `only raw data` feature in the UI.

`irate()` makes no sense for range vectors longer than a few minutes, use `rate()`.

[2020-09-20 14:09] vishnubraj commented on #3193
@SuperQ  you are awesome! :)

removing the --query.auto-downsampling flag fixed the issue.

[2020-09-20 14:12] sepich opened #3194 "receive: relax quorum in case of 2 nodes"
**Thanos, Prometheus and Golang version used**:
v0.15.0

**Object Storage Provider**:
GCS

**What happened**:
Using single node thanos-receive and want to improve reliability a bit by adding the second node. Unfortunately due to
https://github.com/thanos-io/thanos/blob/6fa6b4a18988ed11dd9392b399cde341ac36dc47/pkg/receive/handler.go#L386
I have to add 2 more nodes, to survive one node down.

**What

[2020-09-20 14:19] #3193 closed

[2020-09-20 14:20] yeya24 commented on #3185
Close this as #3193 is resolved.

[2020-09-20 14:20] #3185 closed

[2020-09-20 21:50] yeya24 commented on #3180
@aribalam Please go ahead!

[2020-09-20 22:14] yeya24 opened #3196 "query-frontend: Reduce unnecessary downstream queries by maintaining downstream metadata"
## Proposal

Now, the thanos query frontend component can split a large query into smaller pieces and send multiple smaller queries to a downstream thanos querier. However, some splitted queries are not necessary because they are outside the querier time range.

For example, I have a range query for 1w time range. It will be splitted into 7 queries, each one is 1d time range. But the querier only

[2020-09-20 23:16] BhartiAgrawalNvidia opened #3197 "Receive: gets stuck at a certain point right after CompactHead and shipping."
**Thanos, Prometheus and Golang version used**:

thanos, version 0.14.0 (branch: HEAD, revision: 19165d782b04a223a9d3f17de9f641999c6826e6)
  build user:       circleci@3f2974e89cb7
  build date:       20200710-12:59:18
  go version:       go1.14.2

**Object Storage Provider**: SwiftStack

**What happened**: In our production env. after sometime of working fine 6 - 20 hours at random times the Head

[2020-09-21 00:21] BhartiAgrawalNvidia commented on #3197
we also see a lot of duplicate metrics errors

level=warn ts=2020-09-20T22:20:26.155502953Z caller=writer.go:95 component=receive component=receive-writer msg="Error on ingesting samples with different value but same timestamp" num_dropped=2
level=warn ts=2020-09-20T22:20:26.159337854Z caller=writer.go:95 component=receive component=receive-writer msg="Error on ingesting samples with different val

[2020-09-21 07:45] kzcPo opened #3198 "objstor/aliyunoss: not upload promethues data to aliyunoss storage"
[code]
**Object Storage Provider**:
ALIYUNOSS

**What happened**:
sidecar not upload promethues data to oss

**What you expected to happen**:
upload promethues data to oss

**prometheus startup parameter**:
[code]
**sidecar startup parameter**:
[code]
#### verify oss storage success
**thanos tools bucket verify --objstore.config-file=/etc/thanos/sidecar/oss.yaml**
[code]
**sidecar log**:
[code]

*

[2020-09-21 11:33] #3149 closed

[2020-09-21 13:40] #3189 closed

[2020-09-21 15:59] #1811 closed

[2020-09-21 18:12] sevagh opened #3200 "Thanos overloads alertmanager when connecting directly"
Hello. I'm using Thanos 0.14.0. Initially, I was connecting to my alertmanagers via a load balancer url:
[code]
This worked fine. Then, I realized that in my Prometheus (non-Thanos) clusters I connect to the alertmanagers directly (via the prometheus.yml config), so I wanted to enforce the same behavior in Thanos.
I switched to an alertmanager config.yml file:
[code]
Passed to `thanos rule` as fol

[2020-09-21 22:01] aribalam commented on #3180
@yeya24 @prmsrswt As correctly pointed out in [this comment](https://github.com/thanos-io/thanos/issues/3043#issuecomment-675319819), the trailing slashes is getting removed each time from the request URL, resulting in an infinite loop on visiting the bare path prefix.
On careful observation, I guess this is caused by a handler of the Cortex frontend that the query frontend is using. That is why n

[2020-09-22 08:54] tonyC2016 opened #3202 "just question ,is thanos' object storage support hdfs，like hdp,cdh?"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:

**Anything else we need to know**:

[2020-09-22 12:03] heartTorres opened #3203 "Thanos Querier cannot query real time data less than 2 hours"
Thanos Querier

**Thanos, Prometheus and Golang version used**: Thanos v0.15.0, rancher/prom-prometheus v2.17.2

**Object Storage Provider**: AWS S3

**What happened**:
I have followed the set up in our kubernetes / rancher this blog to set up the thanos. https://rancher.com/blog/2020/prometheus-metric-federation.

- The thanos components are installed in ClusterA while the Prometheus is installed

[2020-09-22 14:38] mapshen commented on #2951
I can confirm it's working in 0.15.0.

[2020-09-22 22:30] yeya24 commented on #3178
Fixed in #3195

[2020-09-22 22:30] #3178 closed

[2020-09-23 06:38] daksh-sagar commented on #3112
@bwplotka are we talking about the vertical whitespace that is present between the blocks like in the first row in the above image?

[2020-09-23 16:25] yeya24 commented on #3202
It is not supported. You can find all supported storage backend https://github.com/thanos-io/thanos/blob/master/docs/storage.md#configuration here.

[2020-09-23 16:53] clausa20 opened #3208 "Thanos 0.15 does not start if S3 bucket conf is not set correctly"
Hello,
I have set Thanos (prometheus sidecar, querier, store, compactor) with version 0.14.0.
I have some configuration that makes optional the setting to connect with S3 bucket, so if for example the bucket name does not exist, or access and secret keys are incorrect, then the querier and sidecar starts the same, even in logs there are errors about it cannot connect to S3, but I can access with c

[2020-09-23 17:00] bwplotka commented on #3112
Are you talking about first action item? We would like to reduce it to a minimum. First row blocks show some overlapping blocks that's why they are close. We need to make sure it's closer but not too much to show that those are for different external labels (:

[2020-09-23 17:23] bwplotka opened #3210 "ci: Link checker flakiness."
New link checker is flaky as well =D

https://github.com/thanos-io/thanos/pull/3209/checks?check_run_id=1156310870

cc @daixiang0

Life is hard.

[2020-09-23 17:28] bwplotka commented on #3208
Hey,

This is a good call, just curious why you would like to run Thanos with broken S3 bucket upload? What's the rationales?

Sorry for breaking the old behaviour, but let's first decide what is the proper one. We believe in fail fast approach. If sidecar immediately sees the upload is being broken, it might be much nice to fail fast and indicate the operator that something is wrong (e.g after ro

[2020-09-23 17:31] bwplotka commented on #3203
From logs it looks like your Thanos deployment has access only to single Store that gives old `[name:\"receive\" value:\"true\" ,name:\"replica\" value:\"thanos-receive-0\" ,name:\"tenant_id\" value:\"default-tenant\"]`

Are you sure you connected it to the sidecar? To me it shows only Store Gateway.

Can you check querier UI and /stores page? It lists all StoreAPIs you have access to.

[2020-09-23 17:37] bwplotka commented on #3202
HDFS is not object storage, but distributed filesystem. However, technically with proper implementation Thanos could work over HDFS with something like https://github.com/colinmarc/hdfs. Help wanted for contributing this (:

[2020-09-23 17:38] #3202 closed

[2020-09-23 17:39] bwplotka commented on #3200
Interesting, thanks for reporting!

 Let's investigate, this uses the same code path really just a different configuration. :thinking:  Help wanted for digging this.

[2020-09-23 17:42] bwplotka commented on #3198
Hey

Thanks for reporting & all logs.

I think I found a reason of the behaviour you see. From sidecar logs:

This means that you maybe made some mistake in sidecar flag to tsdb path, so sidecar does have access to Prometheus dir (: Can you double check that? I seen it couple of times already, it's easy to miss, that's why error. I think we should even crash sidecar on it, WDYT?

[2020-09-23 17:43] bwplotka commented on #3208
As we speak there is issue that would be much easier to find out if sidecar would crash: https://github.com/thanos-io/thanos/issues/3198#issuecomment-697770550 (:

[2020-09-23 17:47] bwplotka commented on #3196
Thanks for this proposal. This is totally doable I agree and there are couple options here.

My main question though - is it worth it? As you said, polling `Info` or something like this on async or sync way would involve some complexity and network anyway. And the concurrent split queries that returns nothing, would be fast if Querier already knows it has access only to 1d, no? (: So what exactly

[2020-09-23 18:56] yeya24 commented on #3196
Right. I am thinking about whether this is necessary or not. Seems it is not useful, because the network requests are still there.

[2020-09-23 19:47] clausa20 commented on #3208
@bwplotka the reason is because we have many environments, in dev environments for example, we don't want to create S3 buckets to reduce costs.

I am using the thanos-sidecar in prometheus operator, if the thanos-sidecar container fails, then the entire prometheus pod fails, and then the querier, etc... Prometheus Operator just allow 1 thanos-sidecar.

An idea could be to add a flag option in than

[2020-09-23 20:57] mritunjaysharma394 commented on #2577
Hello everyone! If this issue is free to take, I would love to learn and work on this issue :smile:

[2020-09-23 22:57] dmilind opened #3211 "Thanos bucket Web: Provide support to flag web.route-prefix which help to route UI properly"
**Thanos, Prometheus and Golang version used**:
Using official docker image: thanosio/thanos:v0.15.0

**Object Storage Provider**: Ceph storage blocks

**What happened**:
I am using Thanos tools bucket web with `--web.external-prefix=/thanos/bucket`. Once I hit URL http://localhost:9090/thanos/bucket (k8s service being forwarded to 9090 from 10902 internally), I get 404. When I hit http://localhos

[2020-09-23 23:59] jicanghaixb commented on #2978
@roysha1 yes, traefik ingress endpoint use ssl, but sidecar not use ssl.

[2020-09-24 00:30] daixiang0 commented on #3210
Sad news :(

[2020-09-24 00:42] #3196 closed

[2020-09-24 00:44] yeya24 commented on #2600
Still valid.

[2020-09-24 02:48] daksh-sagar commented on #3112
I've made some changes, this is what it looks like right now. What do you think @bwplotka ?
![blocks](https://user-images.githubusercontent.com/24277216/94094912-4955ab00-fe3e-11ea-8e64-895ce8ddbb2b.png)
PS - I also texted this to you on Slack yesterday 😁

[2020-09-24 06:48] kzcPo commented on #3198
@bwplotka Hello!
[code]
This folder will not be created automatically. Manual creation solves this error.
It is suggested that the TSDB directory can be automatically created in the future.
However, this problem still exists and cannot be uploaded to aliyunoss bucket.
I'm sure I have access to TSDB.

Is there any other way to force the upload action or provide more error information?

[2020-09-24 07:20] #3203 closed

[2020-09-24 07:22] heartTorres commented on #3203
Hi bwplotka, I was able to fixed this by adding the Thanos Receiver in my config in my Query Deployment.
Thank you so much for the prompt response.

[2020-09-24 09:26] bwplotka commented on #3112
It looks better! :muscle: Looking forward for a PR (:

[2020-09-24 09:29] daksh-sagar commented on #3112
I also asked for Prem for his feedback, he suggested reducing the height of the blocks. I've done that, this is what it looks like. Let me know which one is better and I'll do it accordingly.
![blocks_new](https://user-images.githubusercontent.com/24277216/94127417-85a4fd80-fe76-11ea-8fd8-c1e31c9d7e06.png)

[2020-09-24 10:14] bwplotka commented on #3211
Thanks for reporting, it's a bug, help wanted to fix it. (:

[2020-09-24 10:21] bwplotka commented on #3208
I think you are missing some config template / management so you can have different configuration for those different environments? (: Why not, not setting the bucket config if you don't want upload?

[2020-09-24 10:25] bwplotka commented on #3197
Thanks for this, we expierienced something like this but it went away when we increase CPU limit slightly. Let's investigate. Go routine dump would be interesting to see when this is happening!

[2020-09-24 10:28] bwplotka commented on #3194
It's not about quorum, it's just for reliability.

Our first question is do you really need replication factor 2 in this case. Replication is only needed for storage fail-safety, nothing more. For increased availability you can have replication factor =1 and two/three nodes, no? (:

[2020-09-24 10:29] bwplotka commented on #3187
Good point, help wanted to fix it (:

[2020-09-24 10:35] bwplotka commented on #3186
Hm, I think this might be expected as we cannot reach DNS server at all - it's not like response has no results.

However I think we can consider making this non crashing, wonder if we can built-in dead men switch :thinking:

[2020-09-24 10:38] bwplotka commented on #3177
I think this will work as short term solution, but we should think how to define multitenancy in Thanos long term. (:

[2020-09-24 10:39] bwplotka commented on #3164
We are happy to review PR that will add this (if there will be person maintaining this as well) (:

So.. PR's welcome!

[2020-09-24 10:43] bwplotka commented on #3163
What is the behavior you would expect?

[2020-09-24 10:47] bwplotka commented on #3150
Just curious if you have PV for those store GW instance?

[2020-09-24 10:49] bwplotka commented on #3143
Looks like we need to investigate / find out how to enable  v2 IDMS with minio library. Help wanted! (:

[2020-09-24 10:49] bwplotka opened #3213 "Create built-in deadman switch in Ruler"
TBD

[2020-09-24 10:53] #3116 closed

[2020-09-24 11:02] bwplotka commented on #3086
Good point, TBD.

[2020-09-24 11:04] bwplotka opened #3214 "Propose Thanos Block Viewer to Prometheus (:"
TBD

[2020-09-24 11:06] bwplotka commented on #3081
We are on it with @thisisobate

[2020-09-24 11:15] #3060 closed

[2020-09-24 11:16] bwplotka commented on #3057
Still relevant I guess and to be checked, help wanted.

[2020-09-24 11:18] bwplotka commented on #3056
Yes, definitely we use Range API a lot. But wonder if there is a way to encrypt in chunk to allow this? :thinking:

BTW:

Is there any code you would like to contribute then? (: If it's useful for you might be useful for other.s

[2020-09-24 11:19] kakkoyun commented on #3063
Hello @midnightconman, I have just seen this. I have implemented #2751. And we didn't changed the default value of that flag. The issue was the flag was not utilized at all (probably removed by mistake), the PR had just fixed that.

Where do you see that change? Maybe the issue is unrelated or we have missed something.

Or could you please explain what is the implication that you experience?

[2020-09-24 11:20] bwplotka commented on #3042
Yup, still valid (:

[2020-09-24 11:20] bwplotka commented on #3041
Still valid. help wanted (:

[2020-09-24 11:23] bwplotka commented on #3051
Hey, can you check latest `master`? I think this path was improved by @simonpasquier recently (:

[2020-09-24 11:32] bwplotka commented on #2984
Hey, sorry for delay. What's the use case? And I think it makes total sense to uniform Label values to work similarly between StoreAPI implementations.

[2020-09-24 11:33] bwplotka commented on #2839
Yup. Makes sense to us. PRs welcome (:

[2020-09-24 12:06] daksh-sagar commented on #3187
Should the comment instead be `// returns an error when a port is not supplied` ?

[2020-09-24 12:06] daksh-sagar commented on #3187
Happy to take this issue 🙂

[2020-09-24 12:21] fagossa commented on #3211
hello, can I take a look into it?

[2020-09-24 12:44] daksh-sagar commented on #3112
@prmsrswt Need help regarding 5th action item: "display stats on top".  How should it be displayed (visually) ?

[2020-09-24 12:48] prmsrswt opened #3216 "Remove the need for specifying React UI's paths in `ui.go`"
We are using client-side routing in the new React UI. This means that for all the client-side routes (ex. `/new/graph`, `/new/stores`, etc.) in the new UI, we need to serve the same `index.html`. Right now we maintain an array of paths in the Go code, named `reactAppPaths`. If the incoming request's path is found in this array, we directly serve the `index.html` file, otherwise, we return `404` or

[2020-09-24 13:02] onprem opened #3217 "ui: Add "Configuration Files" page"
Right now we have a page to show the CLI flags passed and the Runtime and Build information. It would be nice to have a page showing the contents of configuration files passed to a component as well. For example, the object storage configuration, or the rules config file.

**Some things to keep in mind:**
- In Thanos, we use a special type of flag called `PathOrContent`. The user can pass either p

[2020-09-24 13:15] prmsrswt opened #3218 "Shipping sourcemaps for the React UI in production"
Currently, we exclude the source-maps of React code from the production build. The JS code for web UI is minified in the final binary, so if someone gets an irrecoverable error on the UI the stack trace shown there will be very cryptic and not usable.

In the upcoming React 17 release, they have made the stack traces more usable in production builds of React ([more info here](https://reactjs.org/b

[2020-09-24 13:20] onprem opened #3219 "Block Viewer: Show some additional stats"
We can show some more information in the Block Viewer:
- Last refresh time: it's already available in the API response
- Total number of blocks (across all sources)
- Total number of blocks in each group
- Number of overlapping blocks (in each row/group and overall)
- Which blocks are currently being compacted/downsampled (makes sense only when the Block Viewer is run from compactor)

[2020-09-24 13:59] prmsrswt commented on #3211
@fagossa Yeah sure. Please go ahead.

[2020-09-24 14:54] PavanVasist commented on #2984
Thank you for dropping by @bwplotka.
The idea is -

- We have a prometheus and thanos-sidecar running in a cluster pushing metrics to AWS S3 bucket.
- In an another cluster am using thanos-store connected to same S3, with compactor and querier(used as datasource to Grafana).

- Now the prometheus running cluster is short-lived as we run some tests and want to capture the metrics every-time the tes

[2020-09-24 15:59] BhartiAgrawalNvidia commented on #3197
here is the file for the goroutines from the time it was in this state.
[pprof.thanos.goroutine.009.pb.gz](https://github.com/thanos-io/thanos/files/5277447/pprof.thanos.goroutine.009.pb.gz)

[2020-09-24 16:04] BhartiAgrawalNvidia commented on #3197
i see spikes for CPU usages but cannot tie it to when this happens.
![image](https://user-images.githubusercontent.com/29933195/94170485-fd5a3480-fe44-11ea-853a-3612f7699ae3.png)

[2020-09-24 17:04] dansimone commented on #977
Pinging this issue again... This would be a highly desirable feature.

[2020-09-24 17:13] onprem opened #3220 "Block Viewer: Allow deleting a block from Block Viewer itself"
We can implement block deletion from the Block Viewer UI itself. It'll be useful in case someone want's to delete overlapping or malformed blocks.

[2020-09-24 17:16] appleciderjack commented on #3056
Hello, there is a way to do this. Minio gives some hints on the use of a secure channel, described here:

It would cut giant files into chunks, and encrypt/decrypt each one of them separately

https://docs.min.io/docs/minio-security-overview.html
[code]

It does depend on a key server (such as vault/kms) though.

[2020-09-24 17:18] onprem opened #3221 "Block Viewer: Show size of the blocks in the UI"
The size of a block is a useful metric. We can show things like the overall size of a block, the size of it's index, the total size occupied by all blocks, etc. in the Block Viewer itself.

[2020-09-24 17:25] prmsrswt opened #3222 "Block Viewer: Allow downloading `meta.json` of a block"
As all the metadata is already available on the Block Viewer for a block, we can also provide a button to download the `meta.json` for a block.

You can get more idea about programmatic file downloads using JS in [this blog post](https://blog.logrocket.com/programmatic-file-downloads-in-the-browser-9a5186298d5c/).

[2020-09-24 17:34] bwplotka commented on #3222
:+1:

[2020-09-24 17:36] bwplotka commented on #977
What happened to the PR that was for it? (: Looks like it got abandon? :thinking:

This means help wanted still, definitely high on the priority list, thanks for pinging!

[2020-09-24 17:40] bwplotka commented on #3056
Nice. Is there a valid use case for this? Why TLS and Server Side Encryption is not enough?

[2020-09-24 17:44] appleciderjack commented on #3056
Sure, this is a use case for enterprise that have their own s3 compatible endpoint, but does not support encryption inside said s3 endpoint.

The requirements for internal Prometheus/thanos team would be:
1. use internal s3 endpoint
2. encrypt data before storing in it via Thanos Sidecar (because the internal s3 is not supposed to be able to read our metrics)
3. decrypt data before reading it from

[2020-09-24 19:42] sepich commented on #3194
Yes, you are correct - it is about reliability.

Let's consider case of 2 nodes behind load balancer. (Both nodes are configured in Querier):
1. `replication-factor=1` and hashring.json empty
In this case each new connection gets to random node and we end up with a lot of stale markers and holes on graphs. Because each node gets only half of data, and the set is inconsistent.
Turn off any node and

[2020-09-24 19:45] aribalam commented on #3221
I see that Prometheus has an API exposed to query currently stored TSDB Blocks (via `/api/query/v1/blocks`). But I am unable to find details of it in the Prometheus or Thanos docs. I am guessing the above required data will be queried using that API?
Is there any relevant docs or resources where I can find details of such an API.

[2020-09-24 20:24] #3096 closed

[2020-09-24 20:29] clausa20 opened #3224 "Thanos Frontend Dashboard styles and .js broken in 0.15.0"
Hello,

I have thanos deployed with kubernetes. I have querier pods plus a kubernetes service in the front. I have this option so I can access it externally through that service: - --web.external-prefix=/api/v1/namespaces/devenv/services/thanos-querier:http/proxy
without --web.route-prefix
with version 0.14.0 I can access to Thanos Querier Dashboad OK,

but when I update it to version 0.15.0 I can

[2020-09-24 22:57] BhartiAgrawalNvidia commented on #3197
i do see the receive-controller have cpu-throttling happening. could this cause these issues.

[2020-09-25 04:24] juiceblender opened #3225 "[Feature] sidecar: Refresh AWS object store credentials for 400 expired tokens"
Thanos version: 0.14.0

I think this is most relevant for @bwplotka :)

**Object Storage Provider**: AWS.

**What happened**:
Wondering if we could add a feature to reinitialise the client if it receives error code 400 for expired token, as detailed here: https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html

Specfically this one,
ExpiredToken | The provided token has expired. | 400

[2020-09-25 06:57] amrmahdi opened #3226 "[Query] UI served behind reverse proxy on a subpath broken on 0.15.0"
Thanos version: v.15.0

I updated from 0.14.0 to 0.15.0 and thanos query UI in not working correctly. I run thanos behind an nginx reverse proxy under a subpath. The way I've been running it so far is using the `--web.prefix-header=X-Forwarded-Prefix`

Here is my ingress:

[code]
Here is what I get on v0.15.0:

![image](https://user-images.githubusercontent.com/1451116/94236174-a181c100-fec1-11ea-

[2020-09-25 08:38] jbianquetti-nami opened #3227 "support for multiple query-frontend.downstream-url"
We want to use a frontend instance to aggregate query data from several thanos deployments on several clusters.
To do so   `query-frontend.downstream-url` must support multiple definitions.  Any plan on this?

[2020-09-25 09:51] bwplotka commented on #3227
Hey, Query-frontend never aggregates data. Querier is for this purpose, so you would need to deploy Querier behind query-frontend in that place (or multiple those for HA). (:

Hope this makes sense (:

[2020-09-25 09:51] #3227 closed

[2020-09-25 11:47] daksh-sagar commented on #3112
I'm working on the 5th action item. This is how I'm displaying refreshed at, total blocks, and blocks in each group. Can I have your feedback please.
@prmsrswt @bwplotka
![stats](https://user-images.githubusercontent.com/24277216/94263057-1bfa2180-ff52-11ea-9c8c-3bde4b3aff71.png)

[2020-09-25 12:08] aribalam commented on #3112
@daksh-sagar Just out of curiosity, How do I access the Block Viewer using the Thanos Query UI (as given in the picture above). I was unable to access it using a dockerized setup. I was only able to use it through the Bucket Web and the Compactor component.
@prmsrswt Is there anything I am missing out?

[2020-09-25 12:12] daksh-sagar commented on #3112
@aribalam You need to uncomment the bucket-web in the docker-compose file and then change the proxy in the package.json to port 8080. Let me know if you need to know anything else.

[2020-09-25 12:41] aribalam commented on #3112
@daksh-sagar The commenting part is alright but in my opinion, I don't think it's necessary to change the proxy as it is handled accordingly. You just have to visit the dedicated port (i.e `localhost:8080/blocks`) instead of `localhost:10902/blocks`, which is dedicated to the Query component.
I am just wondering if it's alright to access the Block Viewer through the Query UI.
@prmsrswt Any thought

[2020-09-25 12:43] daksh-sagar commented on #3112
@aribalam I thought you were accessing the react-app through the thanos repo on your local machine.

[2020-09-25 13:48] zkmrgirish commented on #3200
@bwplotka I would like to work on this 🙂

[2020-09-25 15:47] aribalam commented on #3224
@clausa20 Would you be able to specify how exactly to reproduce the issue. This might help us to know where to look.

[2020-09-25 16:02] kakkoyun opened #3230 "query-frontend: Split and cache metadata API responses by time interval"
We recently added time range parameters to the LabelNames, LabelValues and Series API endpoints for both Thanos Query API.
Now we expect those endpoints to be cached by Query Frontend to increase query scalability. In order to achieve this goal we need to introduce splitting request by time ranges.

### Tasks

* [ ] Introduce Split by time interval for Label (LabelNames and Label Values) API
* [ ]

[2020-09-25 16:50] #2932 closed

[2020-09-25 18:10] dansimone commented on #977
@eswdd indicated on March 6th that he was trying to get feedback on PR: https://github.com/G-Research/thanos/pull/1  Had there been any feedback from the Thanos maintainers about whether that approach had their blessing?  I'm asking on behalf of anyone who would be interested in picking up where that PR left off...

[2020-09-25 18:36] clausa20 commented on #3224
I just start thanos with kubernetes and a service, then I start a kubectl proxy --port=9999 and I try to browse it.
I see there is another Bug just raised, seems to be the same problem: https://github.com/thanos-io/thanos/issues/3226

[2020-09-26 07:35] bwplotka commented on #977
We definitely missed that. I looked now and it looks like a good direction, but it might need a [formal proposal](https://thanos.io/v0.13/contributing/contributing/#adding-new-features--components) or just more discussion on potential alternatives.

We need to remember that Querier does not only targets StoreAPI targets, but actually also [RulesAPI targets](https://github.com/thanos-io/thanos/blob

[2020-09-26 16:16] aribalam commented on #3219
@prmsrswt How would you like to display block statistics for each group? I was thinking of displaying it in the right sidebar similar to that of each block.

[2020-09-26 16:49] prmsrswt commented on #3219
Hmm, that can work. Currently, I don't have a design in my mind, it'd be great if you can figure out something.

[2020-09-26 16:58] #3028 closed

[2020-09-26 17:21] Oghenebrume50 commented on #3112
I also have problems accessing the block viewer I should try @aribalam method

[2020-09-26 18:36] #3226 closed

[2020-09-26 19:33] #3180 closed

[2020-09-26 19:39] prmsrswt commented on #3224
The PR to fix #3226 has been merged. Can you check if this bug still exists if you use a binary built from master.

[2020-09-26 21:56] soniasingla opened #3237 "Thanos Querier: Null Metrics"
Steps to reproduce: Visit https://katacoda.com/soniasingla/courses/thanos/2-lts

https://cloud-native.slack.com/files/U0140KGTR5K/F01BUHSRUKB/screen_recording_2020-09-27_at_3.03.41_am.mov

This screen recording shows that there is a bug in the Thanos Querier because of which we can't see a dropdown menu with all the metric names.

Error found on console:

`pageConfig.allMetrics is null`

[2020-09-26 21:57] soniasingla commented on #3237
CC: @prmsrswt 😇

[2020-09-26 22:49] yeya24 commented on #3237
I don't think this is a bug. It seems just an issue of your setup. Please make sure that store APIs are correctly registered in the querier and their status is `UP`.

[2020-09-26 22:49] #3237 closed

[2020-09-27 05:24] daksh-sagar commented on #3219
@aribalam I've opened a PR that takes care of the first 3 points so you might want to skip them.
cc: @prmsrswt

[2020-09-27 06:03] tonyC2016 commented on #3202
i dont konw the different about object storage and distributed filesystem, and recently i study on the monitor,and i do a plan that flink+consul+pushgateway+prometues for monitor,but it cant fix the large storage,so i found the thanos  ,whether thanos and hdfs can fix the large storage

[2020-09-27 06:06] tonyC2016 commented on #3202
i saw that, but i wanna konw whether thanos and hdfs (or something base on hdfs) can work together?coz hdfs can save larger data,and monitor need the history data

[2020-09-27 15:47] d-ulyanov commented on #2321
reopen it, please

[2020-09-27 17:02] Oghenebrume50 commented on #3222
Hi @prmsrswt by metadata do you mean the details to the right of the attached screenshot?
![metadata](https://user-images.githubusercontent.com/37092867/94371075-9d38ec00-00eb-11eb-99fd-6ac3e9efdbf5.png)

[2020-09-27 17:05] prmsrswt commented on #3222
Yep this. The data you see on the right side originally comes from a file called `meta.json` inside a block. This file contains metadata about that particular block. Now that we have the metadata as a JS object, we can convert it to JSON again and offer it as a file to download.

[2020-09-27 17:08] Oghenebrume50 commented on #3222
Alright, I would work on that.

[2020-09-27 17:56] #2413 closed

[2020-09-27 19:30] aribalam commented on #3211
What is the status of the issue? Is it alright to take it?

[2020-09-27 19:37] yeya24 opened #3240 "Incorrect query frontend warning log when not using memcached cache"
**Thanos, Prometheus and Golang version used**:

Thanos master version

**What happened**:

I started the Thanos query frontend with the in-memory response cache. However, there is a warning log about Memcached even if I am not using it.

[code]

**What you expected to happen**:

The log shouldn't show up when using other caches.

**How to reproduce it (as minimally and precisely as possible)**:

[2020-09-27 19:39] devil-cyber commented on #3240
Can i work on this

[2020-09-27 19:41] devil-cyber commented on #3240
Can i work on this

[2020-09-27 19:49] yeya24 commented on #3230
I am currently working on this issue already. As I mentioned [here](https://github.com/thanos-io/thanos/pull/3207#discussion_r493808806), some configs should be global, and some configs should be specific to different endpoints.

For multiple endpoints in the query frontend to work, my idea is to have two tripperware first.
1. Query range tripperware, the same as the current code. It has `limits`,

[2020-09-27 19:50] yeya24 commented on #3230
Any ideas are welcomed and let's discuss these options in this pr :).

[2020-09-27 19:50] yeya24 commented on #3240
Sure, please go ahead!

[2020-09-27 19:51] hedeesaa opened #3241 "thanos receiver doesnt create tsdb block and send to object storage"
I'm using Thanos receiver and it's been 45 minutes that receiver has been receiving metrics and making wal files.
but It is not sending these to object storage, and not showing any errors. it seems it cant create tsdb blocks.
receiver:
[code]
`/prometheus` directory:

[code]

[2020-09-27 19:53] devil-cyber commented on #3240
Thanks 😊

On Mon, Sep 28, 2020, 1:21 AM Ben Ye <notifications@github.com> wrote:

[2020-09-28 07:18] fagossa commented on #3211
hello @aribalam , I'm new to this project so I'm having a hard time testing. If you have the time please go ahead!

Anyways I was looking to this place in `bucket.go#L53` where there is a missing `/` between the prefix and the resource name, which might result in a `404`. But again, hard time testing it

[code]

[2020-09-28 08:04] squat commented on #3241
If it's only been 45 minutes, then yes, this is completely normal. By default, the Thanos receiver cuts TSDB blocks after 2 hours. Only after that will blocks be uploaded to object storage. Now that it's been a while longer, have you checked if any blocks have been cut and uploaded?

[2020-09-28 08:13] csonp commented on #3057
We do have some other Thanos-instances using the same S3-endpoint (but another bucket) which _do not_ panic.

I've also started removing "suspect" blocks (we had some where chunk 1 to 5 was missing) from S3, but so far the effort has been fruitless.

[2020-09-28 08:15] daksh-sagar opened #3242 "react-app: yarn start fails - Incorrect argument type for react-slider's onChange prop"
`Slider` component from `rc-slider` accepts an `onChange` prop which is a function whose argument type is `number[]`, however,
`timeRangeProps` implement this as `[number, number]` this prevents the code from failing to run upon running `yarn start`

**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:
After updating `react` and `react-dom` to *v-17.0.0

[2020-09-28 08:16] daksh-sagar commented on #3242
cc @prmsrswt

[2020-09-28 09:08] mihailgmihaylov commented on #3051
Yes, it is fixed!
I tested with `thanosio/thanos:master-2020-09-26-a257b865`, and it was OK. Then to double-check that my testing was correct, reverted to `thanosio/thanos:v0.15.0` and the issue was there.

So I confirm that this issue was fixed.

[2020-09-28 09:08] #3051 closed

[2020-09-28 10:06] Antiarchitect commented on #1014
Also interested very much. Please update the status.

[2020-09-28 10:09] s-urbaniak opened #3244 "Thanos Querier misses Rules API backends"
**Thanos, Prometheus and Golang version used**:
Thanos: 0.15.0
Prometheus: 2.21.0
Golang: 1.15

**Object Storage Provider**:

N/A

**What happened**:

When using thanos querier with store and rules API endoints pointing to Prometheus sidecars, i.e.:

[code]

I expect both, Rules API and Store API to be detected, however I believe it is racy currently with the following two cases, a 99%ile happy ca

[2020-09-28 12:04] hedeesaa commented on #3241
based on my experience and docs sidecar waits for about 2H, not receiver.
and I waited for almost 3hours but still receiver hadn't created TSDB block yet.

[2020-09-28 13:43] squat commented on #3241
The documentation for receiver is lacking, however by default it does also wait 2 hours before producing TSDB blocks. PTAL at the code to convince yourself :) https://github.com/thanos-io/thanos/blob/master/cmd/thanos/receive.go#L86-L87
After three hours the receiver should definitely have produced something. Can you please share all of the logs so we can help diagnose?

[2020-09-28 13:51] bwplotka commented on #3194
In this case each new connection gets to random node and we end up with a lot of stale markers and holes on graphs. Because each node gets only half of data, and the set is inconsistent.
Turn off any node and you miss half of recent data (which is not yet uploaded to S3)

Staleness markers does not work like this. They are introduced on scrape time, not on push time. Also inconsistent data is fine

[2020-09-28 13:53] bwplotka commented on #3194
I feel like what you want is actually 1. with 2-3 nodes and vertical compaction on.

And yes, you will have (ideally only restart time) unavailability on the querying side, but no ingestion unavailability which you aim for.

[2020-09-28 13:56] bwplotka commented on #3194
Let's say we fix 3 as you propose. Consider following scenario:

* Two receives are up and ingesting each same (factor = 2)
* One is down (rolling upgrade). Second one is ingesting.
*First is back ingesting, now second is down. Now when you query you have short unavailability (gap) of some small amount of older data that was ingested by the second instance until it's up.

At the end with point no

[2020-09-28 14:16] s-urbaniak commented on #3244
side note: I am working on resolving this issue :)

[2020-09-28 15:24] clausa20 commented on #3224
@prmsrswt seems that querier is fixed now, but the thanos frontend fails. It has in the path like double web.external-prefix, one to the frontend and other to the querier, I don't know if that is correct, but I get a Page Not Found 404:

http\://localhost:9999/api/v1/namespaces/devenv/services/**thanos-frontend:http**/proxy/api/v1/namespaces/devenv/services/**thanos-querier:http**/proxy/graph

[2020-09-28 15:58] prmsrswt commented on #3224
I think you wouldn't need to specify the external prefix like path two times, as query front-end is running inside the cluster, it can access the querier on its regular path instead of the kube-proxy one.

[2020-09-28 16:07] mneverov commented on #3065
hi, i'd like to work on this

[2020-09-28 16:45] clausa20 commented on #3224
@prmsrswt I just put http://localhost:9999/api/v1/namespaces/devenv/services/thanos-frontend:http/proxy/ in the browser, but Thanos adds automatically the api/v1/namespaces/devenv/services/thanos-querier:http/proxy/graph part, like attaching the thanos-querier web.external-prefix . That makes it break I guess.

[2020-09-28 17:37] yashrsharma44 opened #3250 "Onboarding Development Documentation"
Currently, Thanos contains a nice contributing tab with details about working with the codebase - [link](https://thanos.io/tip/contributing/contributing.md/)

However, for developer-specific resources, I haven't found a concise page for it.

For example, we had a lot of **_Community Bridge/GSoC students_** who worked on their project, and have some notes/blogs/docs that they wrote or referred whil

[2020-09-28 17:42] yashrsharma44 commented on #3250
A good example of how this could be useful is - [link](https://github.com/prometheus/prometheus/issues/7459)
TSDB contains very little resources to get started. However, many people have worked on it, and they were happy to share their experiences and understanding, and this is really helpful for new contributors to get started working on that component.

[2020-09-28 17:58] ahmednasir91 commented on #3220
I've started working on this

[2020-09-28 18:01] hedeesaa commented on #3241
Thanks for this clarification, yes you're right.
It is so weird that receiver doesn't shows any logs, but I'll share them: (at this point I restarted receiver container, as you can see it is loading WALs)
[code]

[2020-09-28 18:06] squat commented on #3241
It seems like everything is working correctly now. Can you check your object storage? From the logs it seems that blocks are being uploaded:

[code]

[2020-09-28 18:11] hedeesaa commented on #3241
Uploader component works repeatedly. if there is any tsdb block it will send it to object storage, if not it wont do anything.
as Receiver doesnt create tsdb blocks so it is obvious that nothing happen.

[2020-09-28 18:21] squat commented on #3241
@hedeesaa  from your logs it seems that blocks are successfully being produced. Are you worried that this is not working consistently? The code that creates blocks for the Thanos receiver is the same code used in Prometheus (we vendor the library) so I don't see much opportunity for a bug like this to be introduced in the receiver

[2020-09-28 18:26] dmilind commented on #3211
@fagossa I think still it will error out for unknown flag `web.route-prefix`.
While looking in query.go, I found something relative.
`		if webRoutePrefix != "/" {
			router.Get("/", func(w http.ResponseWriter, r *http.Request) {
				http.Redirect(w, r, webRoutePrefix+"/graph", http.StatusFound)
			})
			router.Get(webRoutePrefix, func(w http.ResponseWriter, r *http.Request) {
				http.Redirect(w,

[2020-09-28 19:23] aribalam commented on #3211
@dmilind You are right. The router is not getting prefixed with the `web.external-prefix` string. Plus, there was another issue that the `bucket.html` template file did not have a proper link to the new UI. Will open a PR soon.

[2020-09-28 21:01] sepich commented on #3194
Staleness markers do not work like this. They are introduced on scrape time, not on push time.

Thank you for details!

Unfortunately it is highly unreliable:
![image](https://user-images.githubusercontent.com/1803804/94482552-22063180-01e2-11eb-91f9-a9ce864db512.png)
After some time graphs becomes like this. Here is faster way to reproduce the issue:
<details>
  <summary>Steps</summary>

Here is

[2020-09-28 21:14] dansimone commented on #977
A related option could be:
- Continue to allow all current command line options, in addition to the `--targets.config`.
- Any (single) store/rule configuration specified on the command line would be appended to the list of things specified in the `--targets.config`.
- If something is specified on both the command line and in the config file, we could decide whether the expected behavior should be:

[2020-09-28 22:06] BhartiAgrawalNvidia commented on #3197
hi can you tell me how to investigate this best? should i create a unit test for this?

[2020-09-29 04:31] daksh-sagar commented on #3218
@prmsrswt I tried the production build on react `17.0.0-rc.2` both with and without sourcemaps. The size of the build folder with source maps is `7.5 MB (78,56,383)` while that without sourcemaps is `1.5MB (16,09,355)`, quite a large difference.

[2020-09-29 08:13] s-urbaniak commented on #3244
I was able to verify the symptoms described here in a local unit test which fails if a RulesAPI endpoint was discovered after a StoreAPI endpoint was discovered.

[2020-09-29 11:24] aribalam commented on #3217
I'm taking this up!

[2020-09-29 14:08] OGKevin commented on #3186
Hmm it looks like its not necessarily not being able to reach the DNS server.

miekgdns and the default DNS server have different behaviours when a host can not be resolved. The default DNS resolved returns a err `no such host` while the miekgdns returns a nil response and a nil error.

So what we could do is to instead of propagating the `no such host` error from the default DSN resolver to the t

[2020-09-29 14:08] OGKevin commented on #3186
Im picking this up BTW 😊.

[2020-09-29 14:43] bboreham commented on #3187
There are (at least) two cases: SRV and non-SRV, and your proposal would be incorrect for the SRV case.

[2020-09-29 15:42] thisisobate commented on #3250
I think it's a very good approach for us to document our learnings and share directly on the website. I guess it's something similar to the Dev onboarding doc we planned to do earlier.

For us to achieve this, it's best we document our learnings in one central Google docs before considering pushing to GitHub. Reason is because having an unfinished work on website wouldn't look nice.

As for the Go

[2020-09-29 17:43] mneverov commented on #3065
@bwplotka
I couldn't find any linters that do such checks so I [implemented one](https://github.com/mneverov/comment).
While doing so I understood why there is no linters exist: it is impossible to distinguish between a commented code and a valid comment.
The linter makes best attempt to do so and thanos passes the check. This is the result of running the linter on prometheus repo:

[code]

All la

[2020-09-29 18:40] dsayan154 commented on #1318
Just for record, I am working on this.

[2020-09-30 13:14] perkons opened #3260 "Thanos rule doesn't honor --web.external-prefix"
**Thanos, Prometheus and Golang version used**:
[code]

**What happened**:

Running Thanos Rule behind Nginx, with --web.external-prefix=https://external.com/thanos/rule, so that Rule is accessible at https://external.com/thanos/rule.
The result is https://external.com/thanos/rule directs to https://external.com/thanos/rule/alerts . It opens up but it is in "text mode", style sheet (css) not loade

[2020-09-30 13:23] daksh-sagar commented on #3187
Is it Error for non-SRV and defaultPort for SRV ?

[2020-09-30 16:23] bboreham commented on #3187
i.e. it is impossible that the commented code will return it.

[2020-09-30 17:58] clausa20 commented on #3224
@prmsrswt I have changed the title, since you already fixed the querier, but the Frontend Dashboard  keeps failing.
I see there are many issues raised related to Dashboard access, seems to be all related.

[2020-09-30 20:10] prmsrswt commented on #3260
Unlike Prometheus' `--web.external-url` we have `--web.external-prefix` which means that you only need to pass the prefix part of the URL. in your case `--web.external-prefix=/thanos/rule` will be the correct way to use this flag.

Can you please check if you can reproduce this bug even after correctly passing the flag?

[2020-09-30 22:02] JoseRIvera07 commented on #3150
Same problem here, I have more than 5k of blocks in gcs, and thanos-store component takes around 20min to load it. Is there any configuration to make this time decrease ?

[2020-09-30 22:23] pronny commented on #3203
@heartTorres where did you add the Thanos Receiver? Can you please share an example. I'm having the same issue.

[2020-09-30 22:57] dmilind commented on #3211
Any update on this?

[2020-10-01 02:29] aribalam commented on #3217
cc @prmsrswt @bwplotka

[2020-10-01 05:49] Misosooup opened #3264 "Does Thanos frontend supports SRV records for downstream url?"
Hi,

As with other parts of thanos which supports `dns+srv` records, Does the thanos frontend do that too? I had a look at the source and see that the underlying package still points to cortex. I have asked the same question in Cortex and was told that they don't support it. Is this the case here as well?

[2020-10-01 08:52] bwplotka opened #3265 "receive: v0.16.0-rc.0 regression. Memory leak."
![image](https://user-images.githubusercontent.com/6950331/94788618-bda6c600-03cb-11eb-93ea-9582ac6375e7.png)

Fun! :upside_down_face:

[2020-10-01 18:38] BhartiAgrawalNvidia commented on #3197
@bwplotka would be great to get some input here as we are considering pulling this out. I am not able to recreate this in a non-prod env.

[2020-10-01 22:37] Misosooup commented on #3264
I see. I am having some trouble scaling Thanos with ECS, and I am not sure if I have everything set up correctly. And sorry for the dumb questions.

1. Prometheus and sidecar
- Should I allocate the same amount of resources as Prometheus to sidecar?

2. Thanos Querier
- How many of these can I have? Can I have them at scale or is it not worth it to scale the querier since I only have 1 Prometheus?

[2020-10-02 11:00] bwplotka commented on #3265
Root cause is visible on profiles and indicates https://github.com/thanos-io/thanos/pull/2783

![image](https://user-images.githubusercontent.com/6950331/94916400-878a4480-04a6-11eb-97e4-cfe5a7cd5f4a.png)

It's snappy and recv gRPC parser holding memory. Either something is wrong with out manual "yolo" serializing / deserializing or bytes from gRPC serialized are still referenced somewhere and nev

[2020-10-02 11:00] bwplotka commented on #3265
Wonder @pstibrany and @pracucci if you seen something like this on your yoloString impl, but I most likely overdid something (:

cc @brancz

[2020-10-02 11:05] bwplotka commented on #3265
I hoped I can escale without full blown benchmarks on Series gRPC + Serializing, but not really ;p

[2020-10-02 11:59] pstibrany commented on #3265
I don't think so, but it's something to keep an eye on.

[2020-10-02 13:37] thisisobate opened #3270 "Website: community and contributing links broken in landing page"
**What happened**:
community and contributing links broken in thanos.io

[2020-10-02 13:47] heartTorres opened #3271 "Thanos Store default data retention in local disk"
**Thanos, Prometheus and Golang version used**:
Thanos v0.15.0, rancher/prom-prometheus v2.17.2

**Object Storage Provider**:
AWS S3
**What happened**:
I am using Thanos Receiver, Rancher Prometheus and Thanos Store.
We set this config for the data retention.
Prometheus = 12 hour
Thanos Receiver = 3 days
Thanos Store = ?
**What you expected to happen**:
Is it possible to have a data retention as w

[2020-10-02 16:53] Marymota commented on #3270
Hi! I would like to be assigned to this issue.

[2020-10-02 17:06] bwplotka commented on #2608
BTW do you know we can now stalenees Lookback delta?

However we might want to adjust it for different resolutions indeed

[2020-10-02 17:17] d-ulyanov commented on #2608
@bwplotka As I remember staleness lookback delta is not something new. Or it was changed recently somehow?

[2020-10-02 17:17] bwplotka commented on #2608
We just allow users to configure it on Querier from flag that's it.

[2020-10-02 17:20] thisisobate commented on #3270
Hi @Marymota,
Please feel free to jump on this issue.
If you need any help or clarification, do let me know!

[2020-10-03 09:14] mneverov commented on #3200
hi, I'd like to work on this

[2020-10-03 10:56] mneverov commented on #3200
@sevagh Increasing limit of simultaneous requests in alertmanager should help (search for `--web.get-concurrency` in the [changelog](https://github.com/prometheus/alertmanager/blob/a8ed0d58509d0251adcb159552b9ab098e206f1f/CHANGELOG.md) file).

The described configuration (one load balancer URL with `--alertmanagers.url="http://alertmanager.mydomain.com" `) creates one alertmanager sender with this

[2020-10-03 12:02] sevagh commented on #3200
Thanks, I'll try this suggestion. But note that I also tested a concurrency of 64 with the same error:

How high can this go? 128? Unconstrained? I'm wondering if I should start splitting up my Alertmanager meshes so that my 2 biggest Thanos environments aren't using the same one.

[2020-10-03 15:13] wjam commented on #3143
I've looked at the minIO documentation, and it seems like it doesn't have support for IDMSv2.

Is there a reason for using minIO rather than the AWS SDK?

[2020-10-03 22:55] yeya24 commented on #3271
Thanos Store's local data dir only downloads the index-header of blocks in your object storage. It doesn't download the whole TSDB blocks so those data should be relatively small compared to the whole blocks. You can find more in the document https://thanos.io/tip/components/store.md/#store. Hope this helps.

[code]

[2020-10-04 15:31] mneverov commented on #3200
Thanks for the reply, that is indeed odd.
Could you also please check `thanos_alert_sender_errors_total` with both configurations?
Thanos doesn't have backoff, so if an alert POST failed for some reason it will be repeated without any delay.

[2020-10-05 07:25] heartTorres commented on #3271
Hi, Thanks for the reply. Yes they are only small. We only set around 1Gi for pvc to our thanos-store. Even if they are small, these header data will eventually consume the local disk (almost full). Does it mean, we need is just to delete them manually or create a job that will delete this index-header blocks.

[2020-10-05 07:29] heartTorres commented on #3203
Hi Prony, I added it in my Thanos Querier, then it queries real time data from prometheus.

[2020-10-05 12:11] yeya24 commented on #3271
The index headers are fetched by the store periodically so if you delete them, they will be downloaded again.
I would say it is better to use a larger PVC.

[2020-10-05 22:53] krya-kryak commented on #2608
Well, here's my attempt at it: https://github.com/thanos-io/thanos/pull/3277

[2020-10-06 03:10] ericdstein opened #3278 "Website --web.enable-admin-api confusion"
**Thanos, Prometheus and Golang version used**:
Thanos: v0.15
Prometheus: 2.21

In multiple places, including the [sidecar docs](https://github.com/thanos-io/thanos/blob/master/docs/components/sidecar.md), I have seen the following statement.

It doesn't appear, however, that this flag controls access to metadata. Instead, it appears to [control access to perform certain admin tasks](https://githu

[2020-10-06 03:58] yeya24 commented on #3278
Right, it is confusing and I believe this flag is not needed. Prometheus external labels are fetched from `/api/v1/status/config` directly.

[2020-10-06 06:10] heartTorres commented on #3271
Alright. I will probably raise this in our meeting. I am planning to just to control the lifecycle in S3 to delete all data beyond 3 months. Thanks for the reply.

[2020-10-06 06:10] #3271 closed

[2020-10-06 08:03] Sayrus commented on #2887
Hello,

I'd just like to add that one of our Thanos Compactor was halted for months and our dashboard was not reflecting the `thanos_compactor_halted`. We missed it and performance quickly decreased.
An Exit Code would have lead to alerts on our Kubernetes as the pod would be CrashLooping.

Now that we found this issue, we will add the debug flag as the storage we use is persistent.

This is a ver

[2020-10-06 09:57] bwplotka commented on #3278
Not really, we use flags endpoint as well.

[2020-10-06 09:59] bwplotka commented on #3278
But overall, **let's double check** we added this piece of doc and requirement at the very start of Thanos, I suppose for snapshot purposes, although we don't use it now on sidecar. So there is some chances that this flag is not needed at all. (:

[2020-10-06 14:35] ericdstein commented on #3278
Thank you both! :-) I found the reason the statement was added. Prior to https://github.com/thanos-io/thanos/issues/1354 https://github.com/thanos-io/thanos/pull/1355, the ExternalLabels func returned error `is 'web.enable-admin-api' flag enabled? got non-200 response code`. The recommendation was added when someone encountered this error.

The only func I could find that calls an admin api is the

[2020-10-06 14:36] thisisobate commented on #3270
Fixed #3272

[2020-10-06 14:36] #3270 closed

[2020-10-06 16:07] bwplotka commented on #1869
Still valid.

[2020-10-06 18:23] sevagh commented on #2890
I think I'm running into a similar issue on Thanos 0.14.0

Thanos with deduplication unchecked:
![image](https://user-images.githubusercontent.com/8574092/95243693-018c3780-07df-11eb-8e4a-d504631375dc.png)
Thanos with deduplication checked shows a huge spike:
![image](https://user-images.githubusercontent.com/8574092/95243735-0fda5380-07df-11eb-9ef6-2bae5d37a3f9.png)
Prometheus replica 1:
![image]

[2020-10-07 04:09] kartikx opened #3283 "Broken Links on Contributing Page"
This issue is similar to #3270, however that issue has since been closed, and I wasn't sure whether to reply to it. There are many broken links on [Thanos/Contributing](https://thanos.io/tip/contributing/contributing.md/). The ones I've found till now are:
* The Reporting a Vulnerability Link in [Feedback / Issues](https://thanos.io/tip/contributing/contributing.md/#feedback--issues)
* The CLI too

[2020-10-07 06:45] #3244 closed

[2020-10-07 06:51] kakkoyun commented on #3283
@kartikx Thanks a lot for reporting this. Please go ahead. We would appreciate the help.

[2020-10-07 06:54] kakkoyun commented on #3283
@kartikx FYI This could already be fixed https://github.com/thanos-io/thanos/pull/3272

[2020-10-07 07:00] kartikx commented on #3283
@kakkoyun Yes, I did take a look at that PR, it fixes the links on the Landing Page. The ones I've reported are on the Contributing Page, which require fixing `CONTRIBUTING.md`. I didn't notice changes to `CONTRIBUTING.md` in the list of Files changed, please correct me if wrong.
Just to clarify about the desired output, I notice that the `CODE_OF_CONDUCT` link on [CONTRIBUTING](https://thanos.io/

[2020-10-07 08:42] krasi-georgiev commented on #2890
try adjusting the look-back delta - this should solve the problem.

[2020-10-07 10:13] #3283 closed

[2020-10-07 11:01] heartTorres opened #3287 "Thanos Receiver with Hashrings config: Error "backing off forward request for endpoint""
**Thanos, Prometheus and Golang version used**:
Thanos v0.15.0, Prometheus rancher/prom-prometheus:v2.7.2

**Object Storage Provider**:
S3
**What happened**:
Set up my cluster with Thanos Receiver with hashring config, thanos store and thanos query.
**What you expected to happen**:
I set up 2 thanos instances with replication-factor=1. I added the endpoints manually plus the its service.yaml defin

[2020-10-07 11:51] brancz commented on #3287
You don't need to specify the path on the endpoints, ever since the internal communication was switched to gRPC. Could you try removing that and see if that works?

[2020-10-07 12:28] heartTorres commented on #3287
Thanks for the reply. The endpoints, you mean in the hashrings.json (configmap)? I removed the endpoints attributes. However the error has changed to `component=receive component=receive-handler err="no matching hashring to handle tenant" msg="internal server error"`

[code]

[2020-10-07 13:20] brancz commented on #3287
Sorry for being unclear, I meant change the hashring configuration to:

[code]

[2020-10-07 13:51] sevagh commented on #2890
Thanks - looks like I need to upgrade to 0.15.0+ to be able to use this new flag? What's a good value to pick with a scrape interval of 60s? Is the 5 minute default not big enough?

[2020-10-07 14:51] bwplotka opened #3290 "receiver: 20% of CPU time is spent on GC"
![image](https://user-images.githubusercontent.com/6950331/95347494-d83ddb00-08b4-11eb-87c7-4887055ebcf9.png)

Looks like we could optimize this path a bit, probably pool more? Or use less pointers in our data structures. :thinking:

[2020-10-07 16:12] sevagh opened #3291 "Minio v6 -> v7 breaks for Ceph due to ListObjectsV2"
Hello. When upgrading from Thanos 0.14.0 to 0.16.0-rc.0 (and 0.15.0 should have the same issue), this breaks with Ceph.

This is due to the minio client upgrade from v6 to v7: https://github.com/thanos-io/thanos/pull/2970/files

This breaks for me because the version of Ceph we operate has trouble with the ListObjectsV2 operation (if you look this up it's a known issue for minio/Ceph) - e.g. https

[2020-10-07 17:28] mapshen commented on #1170
I am wondering what the current plan is. The current behavior, which chooses the lowest resolution and falls back on higher resolutions basically renders using Grafana to query historical data infeasible.

After going over all the down-sampling related issues in #1705, I can't seem to find what we are trying to do to make Thanos prefer higher resolution data when different resolutions exist. Did I

[2020-10-07 17:32] clausa20 commented on #3224
some news about this?

[2020-10-07 17:53] sevagh commented on #2890
Looks like upgrading to 0.16.0-rc0 and modifying `--query.lookback-delta` isn't fixing the above situation.

[2020-10-07 21:48] sevagh commented on #3291
As for any practical suggestions - maybe allow a "UseV1 = true" config key in the AWS bucket config file?

[2020-10-08 05:40] kartikx opened #3293 "Broken Footer Links in Website"
I found a related issue: #3081 , but thought to create a new issue to explain it better.

On every doc page there's a footer link asking for help to improve the Thanos documentation. Clicking on the link is supposed to lead to an Edit version of the file in GitHub. For eg. on the Thanos Quick Tutorial, this link would be: `https://github.com/thanos-io/thanos/edit/master/docs/thanos/quick-tutorial.

[2020-10-08 06:15] heartTorres commented on #3287
Thanks for the clarification. I did the change in the hashring configmap. But unfortunately, the error in the logs in my thanos-receiver-athena-0 still shows `**level=error ts=2020-10-08T02:18:12.122046949Z caller=handler.go:331 component=receive component=receive-handler err="no matching hashring to handle tenant" msg="internal server error"**`

Below is my updated config:
[code]

**Thanos Receiv

[2020-10-08 11:37] krasi-georgiev commented on #2890
hm, strange then I am out of ideas, sorry.

[2020-10-08 12:11] zygiss commented on #3291
We're also running on Ceph and are affected by this.

I like the idea to have a bucket config option to revert to V1 of the ListObjects API in the interim, while we upgrade our Ceph installs.

[2020-10-08 12:30] brancz commented on #3290
I wouldn't call that a bug, but yes agreed there seems to be room for optimizing.

[2020-10-08 16:28] onprem opened #3297 "ui: Enable Status pages on the React UI for All components"
There are two pages `Runtime and Build Information` and `CLI Flags` in the React UI which makes sense for all Thanos components. Currently, they are only shown in the navigation bar for Thanos Querier. We want to show links to these pages in the Navbar for all components.

[2020-10-08 16:31] Oghenebrume50 commented on #3297
Looking into this

[2020-10-09 07:05] Xtigyro commented on #2459
@bwplotka This is still happening. Using v0.15.

[2020-10-09 07:57] perkons commented on #3260
I just switched to `--web.external-prefix=/thanos/rule`.

The results for Classic UI:
https://external.com/thanos/rule directs to https://external.com/thanos/rule/alerts . It opens up but it is in "text mode", style sheet (css) not loaded.
Links in the new UI:
- Alerts directs to  https://external.com/thanos/rule//thanos/rule/alerts
- Rules directs to  https://external.com/thanos/rule//thanos/rule

[2020-10-09 09:03] heartTorres commented on #3287
I think I was able to solved it. I went to soft tenants as the usual sample I saw here in github. However, I think I am hitting this new bug now: https://github.com/thanos-io/thanos/issues/2982.

I am gonna close this once, since my issue right now is related to this https://github.com/thanos-io/thanos/issues/2982

Thanks @brancz for the help.

[2020-10-09 09:03] #3287 closed

[2020-10-09 11:04] bwplotka commented on #1318
Thanks to amazing work https://github.com/dsayan154 I revisited this issue.

BTW to answer the very initial question feature request on top of this issue:

[code]

**YES: Thanos can totally share a bucket across multiple instances, tenants, clusters etc. It's thanks to globally unique block IDs and external labels (for tenancy and producer identification)**

Based on discussions we decided to have

[2020-10-09 11:05] bwplotka commented on #1318
Can you elaborate more @dsayan154 on this issue: https://github.com/thanos-io/thanos/issues/1318#issuecomment-686439745

[2020-10-09 12:22] heartTorres commented on #3287
I think I solved it. I went to soft tenants as the usual sample I saw here in github. However, I think I am hitting this new bug now:  #2982.

I am gonna close this one, since my issue right now is related to this #2982

Thanks @brancz for the help.

[2020-10-10 02:41] markmsmith commented on #1318
To elaborate on our use case and why we need the prefix feature (rather than putting all non-metrics items under `other` or something at the root) is that we want to store the metrics under a bucket that we're not the primary owner of and need to share with other teams.  By having the prefix, we can carve out a namespace like `/foo/bar/metrics/` and not have to worry about any collisions between k

[2020-10-10 11:34] prmsrswt commented on #3260
Thanks for the detailed report, I'll take a look at how things are handled in Ruler and hopefully a fix will land soon.

[2020-10-11 21:08] underrun commented on #1318
@bwplotka when you say:

and

Can you clarify how to avoid the issue @mei-ling is having without prefixes, which, if i understand, would allow multiple store gateway / compactor to work on the same bucket - one per cluster as desired in that case?

I'm also a little confused by how people are using "tenancy" here as i feel like that's almost the opposite of this issue. does "multi-tenant" here mea

[2020-10-12 02:51] songleo opened #3301 "components should have a right status when object storage conf is invalid"
When setup Thanos and provide an invalid object storage conf（S3）, some components have `Running` status. but we can found some logs in the components pod (Thanos-compact), The log shows that the object store has an error.

[code]
 so I think when object storage is invalid, components should have the right status instead of `Running` status.

[2020-10-12 03:46] ktlcove opened #3302 "query result is not a continuous line"
**Thanos, Prometheus and Golang version used**:
[code]

**Object Storage Provider**:

[code]
**What happened**:
![image](https://user-images.githubusercontent.com/13241405/95702364-b068c180-0c7e-11eb-9d09-12da60ae4c86.png)

for debug, I remove the sidecar for querier, and get result as this.
![image](https://user-images.githubusercontent.com/13241405/95702305-87e0c780-0c7e-11eb-961c-e4dcc7871a02.p

[2020-10-12 05:52] mneverov commented on #3200
@sevagh could you please add a comment here if it did help (and the concurrency limit)?

[2020-10-12 08:54] dsayan154 commented on #1318
@bwplotka we were trying to build a centralized metric ingestion solution with Thanos receiver and Prometheus. The idea was to have a single top-level Prometheus for each tenant k8s clusters, and those Prometheuses would push metrics to an external Thanos receiver endpoint along with the tenant header. In case, a tenant stops subscribing to this solution, the tenant cluster's data should be delete

[2020-10-12 12:17] hedeesaa opened #3303 "Is Receiver production-ready?"
I have a main question, at this moment can we use receiver in production environment or is it still experimental?

[2020-10-12 14:19] yeya24 commented on #3303
Yes, I think it is ready and we use thanos receiver in production as well.

[2020-10-12 14:20] yeya24 commented on #3278
@ericdstein  Thanks for checking. I think this snapshot is outdated and not used anymore. It is safe to remove that.

[2020-10-12 14:27] yeya24 opened #3304 "Add query frontend component to the quickstart script"
# Feature request

It would be nice to integrate query frontend to the https://github.com/thanos-io/thanos/blob/master/scripts/quickstart.sh so that we can easily test the whole stack.

AC:
1. In-memory result cache config should be supported
2. Would be nice to configure Jaeger for query frontend

[2020-10-12 15:35] anas-aso opened #3305 "compact: Stops processing on full disk"
**Thanos, Prometheus and Golang version used**:
thanosio/thanos:v0.15.0
prom/prometheus:v2.20.0

**Object Storage Provider**:
GCS

**What happened**:
Once the disk usage of Thanos Compact reached 100%, it aborted with the following error :
[code]
After that it deleted the new block's directory (almost) immediately and stopped processing any other blocks.
The graph below shows the disk usage ratio

[2020-10-12 15:52] sevagh commented on #3200
Sorry about that, I missed the last suggestions. I'll report back - still trying stuff. I can see "thanos_alert_sender_errors_total" climbs up to 200k+ in some cases. Right now out of my mesh of 5 alertmanagers, 2 of them are always exhibiting the error:

This is so strange since the load balancing is supposed to be fair.

[2020-10-12 18:15] hedeesaa commented on #3303
@brancz @bwplotka

[2020-10-12 18:30] bwplotka opened #3306 "compact: Auto-heal for malformed block case."
For such cases, manual interaction is to investigate bucket consistency, copy this block to another bucket / download for investigation and remove it from bucket so Compactor can go forward.

We need to automate this.

[2020-10-13 07:27] bwplotka commented on #3303
It is marked as production-ready from a couple of releases already so yes! (:

[2020-10-13 07:27] #3303 closed

[2020-10-13 07:44] bwplotka commented on #3302
Hey,

What if you set `raw` data option? Why removing sidecar matter? Are you sure you have this series for 1y?

[2020-10-13 08:33] Shini31 opened #3307 "compact: Overlap block"
**Thanos, Prometheus and Golang version used**:
[code]

[code]

**Object Storage Provider**:
GCS

**What happened**:
I just delete all blocks in the bucket, upgrade Thanos in 0.15.0 and restart all the components.
Now I have again overlap block.

**What you expected to happen**:
No overlap block

**How to reproduce it (as minimally and precisely as possible)**:
**sidecar**
[code]

**compactor**
[c

[2020-10-13 08:45] roidelapluie opened #3308 "Block viewer: Show blocks marked for deletion"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

s3

**What happened**:

I am looking at the blocks viewer and I see overlapping blocks

![thanos2](https://user-images.githubusercontent.com/291750/95837679-27668e80-0d41-11eb-8a96-ebf05f5acabc.png)

**What you expected to happen**:

Blocks marked for deletion marked in a special way

![thanos](https://user-images.githu

[2020-10-13 12:16] roidelapluie commented on #1318
I did try & build the pull request for the following reason:

With the prefix, it is possible to use the excellent thanos block viewer on a cortex backend. Currently thanos does not really have a nice UI like thanos to visualize this.

[2020-10-13 12:23] Shini31 commented on #3307
New overlap block
![Capture d’écran du 2020-10-13 14-22-35](https://user-images.githubusercontent.com/333820/95859952-a79bec80-0d5f-11eb-8ea5-964ed4a18ce9.png)
have appeared

[2020-10-13 13:41] dsayan154 commented on #1318
Hi @roidelapluie did it work for the use-case you were talking about? I am curious because I still have to write a few unit tests for this feature?

[2020-10-13 20:15] sevagh opened #3311 "Rule UI fails to load, template expansion failed, can't evaluate field GetEvaluationTimestamp"
I can no longer load the loaded rules page (/rules) in the Thanos Rule UI since upgrading Prometheus to 2.21.0 and Thanos to 0.16.0-rc.0:

[code]

I see the following issue in the Prometheus project that may be related? https://github.com/prometheus/prometheus/pull/7865

[2020-10-13 21:16] sevagh commented on #3291
I made a PR for this.

[2020-10-13 22:16] BhartiAgrawalNvidia commented on #3197
This was caused by head.gc() getting stuck on pendingReaders WaitGroup. This was happening when there are long running queries that timeout. This is fixed in 0.15 version with the fix #2866 Receive, Querier: Fixed leaks on receive and querier Store API Series, which were leaking on errors.

[2020-10-13 22:16] #3197 closed

[2020-10-14 00:54] daixiang0 commented on #206
/reopen

[2020-10-14 02:00] #3047 closed

[2020-10-14 02:05] youjiahe opened #3313 "too many open files"
I had set those parameters large enough,but the logs of the 'thanos query' still print ‘too many open files’

## logs
[code]

## parameters
[code]

[2020-10-14 08:19] ktlcove commented on #3302
hmm...
I just want to search 3 month metrics with 1h downsample..
all settings here, keep raw data 3 days. and these process had running more than 3 month without any errors.
[code]
Whether I add sidecar or not, I come to the same result like above screenshot.

[2020-10-14 11:21] kakkoyun commented on #3307
@Shini31 Block deletion is eventually consistent so it could sometimes takes some time. Have you checked your `compactor` is working properly?

[2020-10-14 11:24] kakkoyun commented on #3308
@Shini31 Could this be the same issue as #3307?

[2020-10-14 11:25] kakkoyun commented on #3308
@prmsrswt Any input on this?

[2020-10-14 11:28] kakkoyun commented on #3301
@songleo Thanks for the issue. Help wanted on this one.

[2020-10-14 11:31] motyla opened #3314 "thanos (0.15 & 0.17) sidecar consume much more memory"
Thanos sidecar takes a lot of memory . We used `0.13.0` which took less then 1G ram . now in version `0.15.0` we peak to more then 10-15GB

Our sidecar does not upload data to object store

**Thanos, Prometheus and Golang version used**:

thanos, version 0.15.0 (branch: HEAD, revision: fbd14b49f95e7543883fedf9381a21127d4dda2b)
  build user:       root@d35b081d3e19
  build date:       20200907-09:2

[2020-10-14 11:33] prmsrswt commented on #3308
They are in different rows so they are not necessarily overlapping here. Each unique downsampling resolution - compaction level gets its own row.

Although we are currently not differentiating blocks which are marked for deletions but we have that in our roadmap and hopefully will be implemented during this community bridge period.

[2020-10-14 12:02] roidelapluie commented on #3308
What I mean is to find blicks that have a deletion-mark.json file.

[2020-10-14 12:34] Shini31 commented on #3307
With further investigations, the `compactor` is working properly (`thanos_compactor_halted_` metric is OK and no error in log). The `thanos_compactor_blocks_marked_for_deletion_total` shows that some blocks are marked for deletion.

I will wait for the delay to see if it's good or not

Issue #3308 will be helpful to determine if there is a block overlap issue or not.

[2020-10-14 12:35] #3242 closed

[2020-10-14 12:37] Shini31 commented on #3308
Yes, there is.
This feature will be very helpful to determine if there is an overlap issue or not.

[2020-10-14 13:29] Dylan-Feith commented on #3313
Hello,

since systemd, you should add the following line in the service section to the unit systemd file : /etc/systemd/system/thanos-query.service

LimitNOFILE=yourvalue

(Do not forget systemctl daemon-reload and restart your service)
You can then get the pid of your process and check for the new value with

cat /proc/pid/limits

Best regards,
Dylan

[2020-10-14 14:25] songleo commented on #3301
In addition, when provide an invalid Object Storage Conf (S3), I found `thanos-store-shard` Pod has a right status instead of `Running` status.

[2020-10-14 14:49] yeya24 commented on #3240
This is fixed in #3276

[2020-10-14 14:49] #3240 closed

[2020-10-14 17:31] anoop2503 opened #3317 "Is there any data sync delay between Thanos Receiver to S3 bucket"
This is a question regarding Thanos Receiver.

Is there any data upload/sync delay between Thanos Receiver to S3 bucket (just as the sidecar is syncing data to S3 bucket in every 2 hours).

[2020-10-14 20:55] bwplotka commented on #3317
There is exactly the same delay as the Prom + sidecar. Thanos Receive is nothing more than just trimmed down Prometheus (just TSDB receiving data) (:

[2020-10-14 20:55] #3317 closed

[2020-10-14 20:55] bwplotka commented on #3317
The same code for syncing and uploading is used.

[2020-10-14 20:59] bwplotka commented on #3314
Thanks for this report, this is unexpected. Can you upgrade to `v0.16.0-rc.0` so we have fresh view? pprof data with allocs would be amazing :heart:

[2020-10-14 21:01] bwplotka commented on #3314
You can share ` /root/pprof/pprof.thanos.alloc_objects.alloc_space.inuse_objects.inuse_space.002.pb.gz` as well - would be helpful anyway (:

[2020-10-14 21:27] prmsrswt commented on #3311
Yes, that seems to be the case. Help wanted, this should be easy enough.

[2020-10-14 22:24] bwplotka commented on #1318
Thanks for the explanations @markmsmith @roidelapluie @dsayan154 I think I am happy with some simple prefix to make sure you can store blocks deeper in bucket (or have it compatible with Cortex).

@underrun:

You just point multiple sidecars to the same bucket, same directory. Since Prometheus has unique external labels we can distinguish between blocks. Directory does not matter for Thanos. (:

I

[2020-10-14 22:43] roidelapluie commented on #3221
Note that recently Prometheus BlockReader gained Size() function.

[2020-10-14 22:48] allenmqcymp commented on #3311
Hi, is the issue located here
https://github.com/thanos-io/thanos/blob/c885f7a39ec776e999cf741141abf4d58e598d1c/pkg/ui/templates/rules.html#L13

where

needs to be changed to

wherever GetEvaluationTimestamp occurs?

Like how https://github.com/prometheus/prometheus/pull/7865 does it?

[2020-10-14 22:54] bwplotka opened #3318 "Store GW: Stream chunk fetching; Reduce memory used per query."
Following @pracucci idea from last Thanos Community Sync in order to reduce and predict better memory usage of Thanos Store Gateway per query.

The idea is to move Block index lookup to a separate, first stage and do it concurrently for all blocks that potentially can match the query. We pack all in some kind of merge sort series set.

Then we can have a defined number of workers that get series I

[2020-10-15 07:09] motyla commented on #3314
Here is the file.
[pprof.thanos.alloc_objects.alloc_space.inuse_objects.inuse_space.002.pb.gz](https://github.com/thanos-io/thanos/files/5383011/pprof.thanos.alloc_objects.alloc_space.inuse_objects.inuse_space.002.pb.gz)

[2020-10-15 07:10] #3222 closed

[2020-10-15 09:00] bwplotka opened #3320 "release: Do not edit CHANGELOG on every PR, find better way to add changelog items."
The current way of editing changelog for every PR that is worth mentioning is useful for someone doing the release process. However it's painful due to amount of rebases. Let's find better solution.

AC:
* Minimize work done by release shepherd by allowing author of PR/commit can mention changelog items that would be proposed for the change.
* Reduce number of git conflicts when editing changelog

[2020-10-15 11:44] SCLogo commented on #2183
any solution for this. using not the default region "us-east-2" it gives me error too.

[2020-10-15 13:56] #3186 closed

[2020-10-15 14:26] filippog opened #3324 "query-frontend: fails to start when memcached dns_provider_update_interval is zero"
[code]

**What happened**:

Trying to configure query-frontend with memcached support, however there's a failure to start unless `dns_provider_update_interval` is greater than zero:

[code]

**What you expected to happen**:

query-frontend starts

**How to reproduce it (as minimally and precisely as possible)**:

[code]

However:

[code]

**Anything else we need to know**:

The example configurati

[2020-10-15 17:57] Kampe commented on #2114
Wish this wasn't stale - this is useful!

[2020-10-15 20:17] prmsrswt commented on #3311
Yep, exactly.

[2020-10-15 21:22] allenmqcymp commented on #3311
@prmsrswt How would I go about verifying the change works - ie. how do I run the Thanos Rule UI? Thanks!

[2020-10-15 21:23] sevagh commented on #3311
If you have a branch, I can build from it to test it. I have a fully working Thanos environment with broken rules UIs.

[2020-10-15 21:29] allenmqcymp commented on #3311
Alright, do you want to try build and test from https://github.com/allenmqcymp/thanos/tree/rulefix.

[2020-10-15 21:55] prmsrswt commented on #3311
Also for future you can use thanos-community/thanos-docker-compose for a local set-up using docker and docker-compose.

[2020-10-16 07:33] george-angel commented on #985
remove stale

[2020-10-16 09:10] rameshkalluri opened #3328 "i have 2 clusters in and i installed thanos in one server how can call remote server thanos sidecar"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:

**Anything else we need to know**:

[2020-10-16 10:06] diemus opened #3329 "compact: need options to disable group blocks"
thanos version : v0.15.0

the compact often cause a high io on disk, I want disable the compact process. the only reason I need this component is to remove outdate blocks in s3. so perhaps we could add an option

[2020-10-16 11:18] bwplotka commented on #2569
Update: We have clearer idea how to do it, question is rather how important
this is it and when to do it. Help wanted we can guide someone (:

On Fri, 16 Oct 2020 at 12:52, stale[bot] <notifications@github.com> wrote:

[2020-10-16 11:18] bwplotka commented on #2750
To be done, help wanted.

On Fri, 16 Oct 2020 at 12:52, stale[bot] <notifications@github.com> wrote:

[2020-10-16 11:20] bwplotka commented on #2585
https://github.com/thanos-io/thanos/pull/2883 still in progress.

On Fri, 16 Oct 2020 at 12:52, stale[bot] <notifications@github.com> wrote:

[2020-10-16 13:09] Sayrus commented on #3329
I do think using `--debug.max-compaction-level=1` will disable grouping as all blocks are already level 1.

[2020-10-16 21:09] ncastrocosta opened #3332 "query: many "update of store node failed" messages. But the store is always healthy."
**Thanos, Prometheus and Golang version used**:
Thanos: 0.14.0
Prometheus: 2.20.1
Golang: go1.14.2

**Object Storage Provider**: S3

**What happened**:

When I query via Query component, I receive this warning: **receive series from Addr: 172.21.182.246:10901 LabelSets: [name:"monitor" value:"prometheus" ,name:"replica" value:"prometheus-0" ][name:"replica" value:"thanos-rule" ,name:"ruler_monitor

[2020-10-16 21:26] bwplotka commented on #3265
Fixed on release branch: https://github.com/thanos-io/thanos/pull/3327

[2020-10-17 04:27] yeya24 commented on #3324
Thanks for the report! Yes, this is definitely a bug.  A quick fix would be checking the update interval in https://github.com/thanos-io/thanos/blob/master/pkg/queryfrontend/config.go#L81.

Actually there is already such a check in https://github.com/thanos-io/thanos/blob/master/pkg/cacheutil/memcached_client.go#L118.

This inconsistency is caused by using the Cortex's Memcached library. I still t

[2020-10-18 11:16] bwplotka opened #3335 "receive: Every restart receive flushes and uploads, potentially same data."
This is not biggy with vertical compaction enabled but sounds inefficient. Can we improve this?

Ideally, full flush and close should happen only on a scale down logic (so triggered from outside). In fact, the final shutdown should only happen when the block is available on store GW as well. :thinking:  cc @brancz @squat

[2020-10-18 11:24] bwplotka commented on #1247
Sounds like this is resolved to me. We also now have support for adding  `prefix` to the path. There is also no point in such rearrangment as we discover blocks via IDs, so not need to label based path. (:

[2020-10-18 11:24] #1247 closed

[2020-10-18 11:30] bwplotka opened #3336 "receive: Add e2e test for multi-tenancy."
It would be awesome to add extra test for writing data for 2 different tenants into single receive instance. This path is currently missing in our e2e tests: https://github.com/thanos-io/thanos/blob/066150a6d1e2df3c2398f76ee91a7b0f2c0f80ae/test/e2e/receive_test.go#L20

Help wanted!

[2020-10-18 15:56] diemus commented on #3329
thanks, didn't know there is undocumented flag. i will try it. is there a way to see all undocumented flags?

[2020-10-18 16:36] Chans321 commented on #3336
Can I take up this issue?

[2020-10-18 16:58] Sayrus commented on #3329
I am not aware of any way to display them (as provided by Kingpin).
However, they can be found in the code as they all use the `.Hidden()` clause.

[2020-10-18 20:58] Harshitha1234 commented on #903
Still valid :)

[2020-10-19 01:31] youjiahe commented on #3313
Thanks a lot! Get it

[2020-10-19 01:33] youjiahe commented on #3313
Thanks a lot! Get it

[2020-10-19 02:00] diemus commented on #3329
I can still see logs about compaction. like

[code]

is there a way to stop downloading them?

[2020-10-19 06:00] brancz commented on #3335
Do we have data to back this up? As far as I know, the flush logic even deletes the WAL after it flushed and uploaded.

[2020-10-19 08:04] kakkoyun commented on #2320
Still valid and help wanted!

[2020-10-19 08:09] Shini31 commented on #3307
All is good. We can close this issue.
I will create a new issue for some enhancement for `verify` command

[2020-10-19 08:09] #3307 closed

[2020-10-19 08:19] kakkoyun commented on #3313
It seems like it is just a question about configuration and it's resolved so closing it.

[2020-10-19 08:19] #3313 closed

[2020-10-19 08:20] kakkoyun commented on #3336
@Chans321 Of course, go ahead, please :) Thanks

[2020-10-19 08:22] kakkoyun commented on #2713
@yeya24 Can we do anything to unblock #2906?

[2020-10-19 08:26] Shini31 opened #3337 "tools: Enhancements for verify command"
**Thanos, Prometheus and Golang version used**:
[code]

[code]

**Object Storage Provider**:
GCS

**What happened**:
The verify command returns that there are some overlap blocks then in one case there are blocks that are `deletion marked` and in the other case, there are several blocks but either generated by the `sidecar` or the `compactor`.

**What you expected to happen**:
The `verify` command

[2020-10-19 08:39] kakkoyun commented on #2565
@joaosilva15 Could you check if this has fixed by https://github.com/thanos-io/thanos/pull/3331?

[2020-10-19 09:32] pharaujo commented on #2565
Please be aware that, due to [ForceLog shenanigans](https://github.com/Azure/azure-storage-blob-go/blob/48358e1de5110852097ebbc11c53581d64d47300/azblob/zc_policy_request_log.go#L100-L102), when running outside a container, the stack traces will still hit the logs (through syslog). I'm currently dropping these using a rsyslog filter.

[2020-10-19 09:42] motyla commented on #3314
@bwplotka  adding pprof file of same server with `v0.16.0-rc.0` just before my 10G limit kills it

[pprof_file.gz](https://github.com/thanos-io/thanos/files/5400790/pprof_file.gz)

[2020-10-19 09:55] bwplotka commented on #3329
To see all of the hidden flags you need to look at the code: https://github.com/thanos-io/thanos/blob/03b6991949601d82fe17c4fbd2a658f678f0a6a5/cmd/thanos/compact.go#L480

BTW why disabling compaction? Thanos system without compactons (similar to Prometheus) will not work well for longer retention.

[2020-10-19 10:06] joaosilva15 commented on #2565
@kakkoyun what @pharaujo said. This change makes a workaround possible but does not fix the final issue, which is in the azure sdk

[2020-10-19 10:31] filippog commented on #3324
Thanks @yeya24 ! I've attempted a fix at #3338 let me know what you think!

[2020-10-19 12:30] isaccavalcante commented on #3332
I'm also having the same problem

[2020-10-19 13:03] yeya24 commented on #2713
@kakkoyun  Please help review #2906

[2020-10-19 13:05] yeya24 commented on #2569
I am interested in taking this if no other volunteers. Do we already have a plan for how to do this?

[2020-10-19 13:08] kakkoyun commented on #2569
@yeya24 I don't think anyone has started working on this. So go ahead.

[2020-10-19 13:11] filippog commented on #3324
Issue is mitigated in `master` now! I'll leave it up to you whether to close the issue or re-scope for a more general fix @yeya24

[2020-10-19 13:15] yeya24 commented on #2569
It is not clear to me how to achieve this feature. Do you have anything in mind?

[2020-10-19 13:16] yeya24 commented on #3324
Thanks for the fix. I will close this one for now.

[2020-10-19 13:16] #3324 closed

[2020-10-19 13:33] ClumsyPotato commented on #3332
Me too, some of my dasboards are pretty unstable because of this.
Using thanos 0.16.0-rc.0

[2020-10-19 13:35] bwplotka commented on #2569
I had some PoC done, let me push it.

Kind Regards,
Bartek Płotka (@bwplotka)

On Mon, 19 Oct 2020 at 15:15, Ben Ye <notifications@github.com> wrote:

[2020-10-19 13:37] sevagh commented on #3311
I'll be able to test this shortly. Do I need to run "make assets" before "make build"? I only did "make build" which didn't fix the issue. Trying "make assets && make build" now.

[2020-10-19 13:50] sevagh commented on #3311
With the fixed binary I get this error now:

[code]

[2020-10-19 13:53] sevagh commented on #3311
I think you made one change too many. The original Prometheus PR only changes 2 lines: https://github.com/prometheus/prometheus/pull/7865/files

You changed 4: https://github.com/allenmqcymp/thanos/commit/26ef1dca7ce195617333c5345bf5e0c7afd65223

I'm trying with just the first 2 lines now.

[2020-10-19 14:03] sevagh commented on #3311
Actually, that worked. This is the final change I made (+ `make assets && make build`):
[code]
Can anyone who knows the code better confirm that these lines don't need to be changed? https://github.com/allenmqcymp/thanos/commit/26ef1dca7ce195617333c5345bf5e0c7afd65223#diff-f46df6e62ca9bd8a2374a0b3431590f859f6766e73be74c5e93ab86a42108886L39-L41

[2020-10-19 14:41] sevagh opened #3339 "Problem with chunk-pool-size and store panics in pkg/store.(*bucketChunkReader).loadChunks"
Hello - since upgrading from Thanos 0.14.0 to 0.16.0-rc0, I started having my Store component fail to load blocks because of https://github.com/thanos-io/thanos/issues/1179

I adjusted chunk-pool-size up from 2GB to 8GB, 16GB, and now 50GB. On 50GB, I get a panic and the store crashes:
[code]

This is when running a promql (histogram quantile) through Thanos Query on a pretty massive timeseries (c

[2020-10-19 14:46] sevagh commented on #3339
Is 50GB too high to use for chunk-pool-size?

[2020-10-19 14:49] maulikjs opened #3340 "tools: Be able to copy blocks of data for a give time-frame from one bucket to another."
We recently ran into a problem where some of our blocks in the main s3 bucket got corrupted. So we have had to copy all the blocks for the month of September and there was no direct way of doing it. It would be awesome if we can include the logic for the time-range selector in the replicate tool or at least be able to list all the ULID for a given time range.

[2020-10-19 16:35] pharaujo commented on #2565
I think I found the issue in the Azure blob lib, but also found a way to disable `ForceLog`, so I'll submit another MR here to add that.

[2020-10-19 19:01] prmsrswt commented on #3311
Looking at https://github.com/prometheus/prometheus/blob/master/rules/recording.go#L177 I think that we don't need to change anything on line 39 and 41. What you did seems correct, we only need to change those two lines.

[2020-10-19 20:25] ncastrocosta commented on #3260
@prmsrswt I'm facing a similar issue with --web.external-prefix' for the Query component.

Using version 0.14.0, I had '--web.external-prefix=/thanos' and everything was working fine.

Then, I updated to version 0.15.0 and I started to get "404 page not found".

Any thoughts on that?

[2020-10-19 21:26] allenmqcymp commented on #3311
Cool. @sevagh if you want to submit a PR fixing it, that's fine by me since you ended up testing. @prmsrswt thanks for the help. Will try look for another issue

[2020-10-20 08:48] bwplotka commented on #3340
SGTM, help wanted :heart:

[2020-10-20 08:49] bwplotka commented on #3340
Replicate extension OR `tools bucket ls --max -- min` to print ULIDs to copy will suffice (:

[2020-10-20 10:17] ehdieunguyen commented on #2286
I have the same question. Please give me an advice. Thank you so much!

[2020-10-20 12:10] #3230 closed

[2020-10-20 17:11] ryan-dyer-sp opened #3343 "docs: Link official Katacoda tutorial in quick-start"
https://katacoda.com/bwplotka/courses/thanos/1-globalview

I just went through the tutorial and it is broken at the very beginning.  The .yml files are not files, but instead directories.  Once I deleted the directories and touched new files, I was able to proceed through the tutorial without issue.

[2020-10-20 17:18] #2565 closed

[2020-10-20 17:39] bwplotka commented on #3343
Thanks for pointing! Will update :heart:

[2020-10-20 17:48] bwplotka commented on #3343
Interesting, it looks like it works just fine for me.

Make sure to use official link: https://katacoda.com/thanos/courses/thanos/1-globalview

[2020-10-20 18:26] ryan-dyer-sp commented on #3343
https://thanos.io/tip/thanos/quick-tutorial.md/  This points to the link I mentioned.  So perhaps the docs need to be updated to point to the official link.

[2020-10-20 19:47] maulikjs commented on #3340
I can take this up :)

[2020-10-20 19:56] yeya24 commented on #3340
I am not very sure but is this the same as https://github.com/thanos-io/thanos/pull/2979?

[2020-10-20 20:54] sevagh commented on #3311
As soon as I get my other open PR merged, I'll open one for this fix.

[2020-10-20 21:08] 2nick commented on #1375
I've made something that works :-D Mostly it looks like copy-paste of rules functionality.

Probably now I need to write a proposal document, but I'll be grateful for any comments.

[2020-10-20 21:08] sevagh commented on #3339
I believe similar to https://github.com/thanos-io/thanos/issues/3057

Not an exact duplicate since mine is in a different function, `loadChunks`. But maybe the underlying code is the same.

[2020-10-20 21:18] sevagh commented on #3200
I think we can rule this as PEBKAC. I simply had too many clients connected to Alertmanager. I doubt it is a magic incorrect Thanos behavior.

I think, IMO, the worse bug is that once Alertmanager gets into the state of printing "Limit of concurrent GET requests reached (32), try again later", it never recovers - but that's a bug I can file or investigate on the Alertmanager codebase.

[2020-10-20 21:18] #3200 closed

[2020-10-20 21:41] juliusv opened #3345 "Implement metrics metadata API"
Currently multiple UI tools (such as PromLens and Grafana) surface metric metadata (HELP + TYPE information) to the user when building queries. This is very useful, but can only work when the PromQL-compatible endpoint also implements the metric metadata API endpoint (https://prometheus.io/docs/prometheus/latest/querying/api/#querying-metric-metadata). Thanos itself does not store this information

[2020-10-20 23:13] bwplotka commented on #3200
:+1: Thanks!

[2020-10-21 09:25] matthiasr commented on #2439
Unfortunately, persistent storage is not a viable answer for us – since we are (mostly) on-prem, we need a Prometheus server that monitors the persistent storage provider (rook-ceph in our case), and that cannot have a dependency on what it monitors. I saw a discussion (but cannot find it anymore) about using the Prometheus snapshot API to cause it to write out a block on shutdown; it seems like t

[2020-10-21 10:46] sdurrheimer opened #3347 "mixin: alerts and rules using same groupname"
**Thanos, Prometheus and Golang version used**:

`mixin` folder coming from the master branch.

**What happened**:

Prometheus is complaining `thanos-query.rules`, `thanos-receive.rules`, `thanos-store.rules` and `thanos-bucket-replicate.rules` group names are repeated in the same file.

**What you expected to happen**:

That alerts and rules mixins can be imported with `prometheus-operator/kube-p

[2020-10-21 11:18] kakkoyun commented on #3347
@metalmatze @paulfantom Any ideas here?

[2020-10-21 11:23] #3311 closed

[2020-10-21 14:06] bwplotka commented on #1375
Amazing, feel free to share!

On Tue, 20 Oct 2020 at 23:08, Alexander Tunik <notifications@github.com>
wrote:

[2020-10-21 14:07] bwplotka commented on #3343
Correct. Thanks (:

[2020-10-21 14:09] bwplotka commented on #3340
I think so, as long as it can copy certain blocks (: cc @OGKevin

[2020-10-21 14:52] OGKevin commented on #3340
yea #2979 indeed does this. You give it a max and min time and replicator will replicate all the blocks that are within that time range.

[2020-10-21 15:10] anas-aso opened #3349 "Query: wrong data when deduplication is enabled"
**Thanos, Prometheus and Golang version used**:
thanosio/thanos:v0.15.0
prom/prometheus:v2.22.0-rc.0

**Object Storage Provider**:
GCS

**What happened**:
I have 2 Prometheus severs scrapping the same targets. For one of the recording rules, it was recorded (has a non Nil value) in one Prometheus server but not the other.

When queried using Thanos Query component (deduplication enabled), I get wr

[2020-10-21 15:24] bwplotka opened #3351 "storeAPI: Extend ExternalLabels Selector for LabelsNames and LabelValues"
This would be really awesome for further multi-tenancy support with https://github.com/prometheus-community/prom-label-proxy

Since tenants never share the same TSDB block or DB we can easily allow LabelValues and LabelNames API selection support for tenant's data.

The only open question is compatibility. Do we want extra check to ensure if server supports this or not? Without such check we know

[2020-10-21 15:31] brancz commented on #3351
I think this would be best solved with a combination of https://github.com/prometheus/prometheus/issues/6178 and support for enforcing a matcher for this API in prom-label-proxy.

[2020-10-21 16:18] 2nick commented on #1375
@bwplotka could you help please with linking PR and issue?

Can't figure out can I do that by myself or can't :-D

https://github.com/thanos-io/thanos/pull/3350

[2020-10-21 16:30] bwplotka commented on #3351
Nice, the only problem - or rather a potential improvement I can see here is that we can do it much faster IF the selectors match external label. But we can implement that easily indeed.

[2020-10-21 16:48] yeya24 commented on #2454
This is done. Can we close it?

[2020-10-21 16:50] yeya24 commented on #3224
Can you please try the new v0.16.0 release?

[2020-10-21 18:02] ncastrocosta commented on #3332
@kakkoyun I noticed I was using very low resource limits for my kubernetes containers. When I increased the limits, the errors vanished. I also noticed that I used to have some timeouts, and I fixed that increased nginx timeouts for the query.

[2020-10-21 18:02] #3332 closed

[2020-10-22 07:53] brancz commented on #3351
Yeah sounds pretty much equivalent to labelset in series queries ("definitely not in set").

[2020-10-22 08:08] bwplotka commented on #3351
:+1: :+1:

[2020-10-22 10:27] diemus commented on #3329
the compact frequently download and upload blocks which cause an high disk io. this may affect other pods on the same host. I want disabling compaction, just use the compact to clean blocks in S3, since our retention is not very long.

this may not be a universal demand, if the numbers of blocks grows more and we need a longer retention,  I might have to find a special host to run this service.

[2020-10-22 10:56] darkweaver87 opened #3353 "Query frontend: large step queries are shifted"
**Thanos, Prometheus and Golang version used**:
thanos, version 0.15.0 (branch: HEAD, revision: fbd14b49f95e7543883fedf9381a21127d4dda2b)
  build user:       circleci@b18149728583
  build date:       20200907-09:47:14
  go version:       go1.14.2
(docker image: quay.io/thanos/thanos:v0.15.0)

prometheus: prom/prometheus:v2.20.1

**Object Storage Provider**:
s3

**What happened**:
When I use large

[2020-10-22 11:39] yeya24 commented on #3353
Hello, thanks for the issue.
How do you set up query frontend? Do you use cache?
If you use cache, then this is expected because the query result will be cached at the frontend when you query. This is fine because there is a cache validation time.

[2020-10-22 12:22] darkweaver87 commented on #3353
Hello thanks for your reply :-)
My query frontend is setup this way (a POD in my K8S):
[code]
I use in-memory cache but when I disable it I've exactly the same behavior.

[2020-10-22 12:44] yeya24 commented on #3353
OK. After checking the code I think this is caused by the step align middleware. It re-calculates the start and end time based on your step so that the requests can be better cached.
The code is https://github.com/cortexproject/cortex/blob/master/pkg/querier/queryrange/step_align.go#L19-L22.

So the start time of your last query becomes `1602748800/10800*10800 = 1602741600` while other queries' st

[2020-10-22 12:55] heartTorres opened #3354 "receive: Data inside wal directory doesn't get deleted the same as the ULID directories"
**Thanos, Prometheus and Golang version used**:
 Thanos v0.15

**Object Storage Provider**:
S3
**What happened**:
I did set up 5 replicas of Thanos Receivers in our environment. I only set 3 hours of data retention.
The generated ULID directories are indeed being deleted after 3 hours. We only set a very small data retention to use a small pvc size (20Gi) as we are ingesting a lot of metrics. Howe

[2020-10-22 13:44] darkweaver87 commented on #3353
Thanks for pointing this :-)
Well it seems that the shit increase with the step (with or without cache):
- step 7200s -> shift = 0s
- step 10800s -> shift = 7200s
- step 86400s -> shift = 28800s

On 7 days, 8 hours begins to be observable :-)
![Screenshot from 2020-10-22 15-40-42](https://user-images.githubusercontent.com/1105441/96880155-23431b00-147d-11eb-92d0-6cda50a1fad0.png)

[2020-10-22 14:05] yeya24 commented on #3353
Yes, the shift is related to your step as pointed out in the code https://github.com/cortexproject/cortex/blob/master/pkg/querier/queryrange/step_align.go#L19-L22.

So if you want to do a range query for 7d, then why do you use such a large step value? For a standard 7d query, the step should be 2419s which is 40m. What's your use case of using 86400s (1d) as your resolution?

[2020-10-22 14:08] yeya24 commented on #3353
But anyway, if this step alignment is not what you want, as it returns more data than expected, then we can provide a flag to disable this middleware. Users can make their choice to choose whether they want to disable this or not because the cacheability will be impacted without this middleware.

Does this sound good to you?

[2020-10-22 14:17] darkweaver87 commented on #3353
Actually I'm embedding those graphs (this is not this query but anyway) in a webapp with a JS lib for graphing which consumes more CPU to each point to plot :-/ and my client doesn't want a good definition but 1 point per day for a month and 1 point every 6 hours for a week.
What you propose seems to be a good compromise :-)

[2020-10-22 14:19] yeya24 commented on #3353
Thanks, I will open a pr soon.

[2020-10-22 14:22] darkweaver87 commented on #3353
Many thanks :-)
I understand this can be a special way of using the frontend :-)

[2020-10-22 16:14] spencergilbert commented on #1820
@bwplotka I haven't been able to dedicate a lot of time on this lately, and there doesn't seem to be any other activity. Is the support/desire still there?

[2020-10-22 19:44] prmsrswt commented on #3260
Okay so tried this on the latest master and this issue seems to be fixed as a side effect of #3234 Everything should work as expected with the config you specified above.

But there's one thing that caught my eye is that we are handling external prefix and route prefix differently from the Querier.

In Prometheus, route-prefix's default value is equal to the external-prefix specified, because that

[2020-10-23 09:10] GiedriusS commented on #2511
No updates from me :/ still valid IMHO

[2020-10-23 09:34] kakkoyun commented on #3354
After a block is cut from the head block, the WAL should be truncated. So you should have seen a reduction on `wal` directory. Could you please provide some logs may from your receiver nodes? Is there any errors? And also it would be nice to see your configuration.

[2020-10-23 12:34] yashrsharma44 commented on #2914
@kakkoyun Is this issue relevant in the current context? I can have a look :stuck_out_tongue:

[2020-10-23 13:04] tdinucci commented on #3151
As requested, moving discussion back here so they're easier to follow and there's history.

A summary of my thoughts on this topic are:

* I feel it's important that the statistics that are used estimate query cost are not calculated on demand - this would just end up making the majority of queries (which will be acceptable) quite a bit more expensive.

* If we are to store these statistics somewh

[2020-10-23 13:39] tdinucci commented on #3151
Having said the above - there is a chance that the kind of thing I have in mind could be useful as an **optional add-on** to Prom based systems.

<img width="480" alt="Screenshot 2020-10-10 at 15 11 51" src="https://user-images.githubusercontent.com/35197667/97010149-f22a1f80-153c-11eb-8cbe-f8d0d14d288a.png">

The Scrape Proxy would intercept all data points and could then sample a certain percent

[2020-10-23 13:50] metalmatze commented on #1820
I think there's still interest generally speaking. :)

[2020-10-23 22:57] midnightconman commented on #3063
I think it's a defaults issue... and it seems it's still not working correctly. I have a metric for my thanos queriers of `prometheus_engine_queries_concurrent_max`, which currently has a value of `-1`. For normal prometheus pods, the value is `20`, which is the default.

Maybe this is just a change in the metric logic, are we supposed to have a metric for this flag setting?

[2020-10-24 00:30] yeya24 commented on #3151
Might be not related to this issue. I just found this memory tracker which can help track the memory usage in Querier and prevent OOM https://github.com/pingcap/tidb/blob/master/util/memory/tracker.go. Do you think it is something we want to have?

[2020-10-24 20:15] ipstatic commented on #1424
This is still a big issue for us. We now have several compactor instances turned off due to this limit.

[2020-10-25 16:44] giovanni-ferrari opened #3363 "Sidecar - is it possible to reduce 2h delay?"
Hello everyone,
I was wondering if it is possible to reduce the “ storage.tsdb.min-block-duration” and “ storage.tsdb.max-block-duration” parameters to lower values than 2h (e.g. 30m or 5m).
In my use case multiple Prometheus instances produce time series data that are then transferred via sidecar to a storage accessed by a thanos instance. The user accesses the thanos instance via grafana to plot

[2020-10-25 17:10] yeya24 commented on #3363
Hi, there shouldn't be gaps if you also configure sidecars as stores in the querier. Then the querier can query the recent 2h data directly from Prometheus so you don't need to wait for 2h.

[2020-10-25 19:00] giovanni-ferrari commented on #3363
Thank you for your response, but unfortunately i’m considering a scenario where the sidecars are not known a priori and are not directly accessible.

GF

[2020-10-25 20:53] GiedriusS commented on #3339
I feel like maybe this topic should be brought up at the next community meeting to discuss how to move forward as it is tricky: it's _probably_ a radosgw bug and the question is whether do we want to be extra defensive here. What about other places, then?

[2020-10-26 08:44] pracucci commented on #2861
Still valid. The PR #3089 addresses it.

[2020-10-26 09:40] kakkoyun commented on #2914
I guess we can still refine our API configuration by using this pattern. Nothing urgent or vital, it would just increase readability if you're still interested go ahead.

[2020-10-26 10:50] paulden opened #3364 "Query: external store API server with path cannot be added"
**Thanos, Prometheus and Golang version used**:

`v0.15.0`

**Object Storage Provider**:

AWS S3

**What happened**:

Hello everyone, thanks for your work on Thanos!
I want to deploy Thanos on a multi-cluster architecture, basically following this kind of architecture: https://banzaicloud.com/img/blog/thanos-operator/thanos-multi-cluster.png

I have three clusters:
- monitoring
- dev
- prod

My mo

[2020-10-26 11:22] bwplotka commented on #3363
This was already asked at the very beginning of Thanos and the answer is simple. You should not change min-block time for Prometheus. See this discussion: https://github.com/thanos-io/thanos/issues/263#issuecomment-377240062

IF you wish to not access sidecar data, you can think about remote-write deployment with https://thanos.io/tip/components/receive.md/ which comes with a different tradeoff =

[2020-10-26 11:22] #3363 closed

[2020-10-26 11:25] bwplotka commented on #3354
However the truncation can happen after 3h (not necessarily 2h), so that might be expected.

Also too long of WAL was recently kept which was fixed on latest Prometheus, and pulled to latest Thanos (v0.16.0-rc.1), so please check it out :hugs:

[2020-10-26 11:27] bwplotka commented on #3353
Agree, let's expose it. Thanks, Ben and @darkweaver87 for investigation :+1:

[2020-10-26 13:55] kakkoyun commented on #2641
@d-ulyanov Is this still valid? Have you tried with more recent version?

[2020-10-26 22:14] ncastrocosta commented on #3260
@prmsrswt using v0.16.0, for the Query, no matter if I configure --web.external-prefix=/thanos or --web.external-prefix=thanos, for both cases I'm redirected to "/thanos/graph" and I get "404 page not found". The "/thanos/metrics", for example, is working fine. What happened to graph?

[2020-10-27 11:41] melkorm commented on #3113
Fixed in https://github.com/cortexproject/cortex/pull/3276

[2020-10-27 11:42] bwplotka commented on #3113
Thanks @melkorm !

[2020-10-27 11:42] bwplotka commented on #3113
Actually let's close once we pull Cortex dep! (:

[2020-10-27 11:47] MMeent commented on #3314
I'm seeing the same happen (relatively fresh kubernetes deployment (30-ish days), Thanos v0.15.0 + prometheus v2.21.0)

It looks like every two hours (the `--storage.tsdb.min/max-block-duration`) a block is malloc-ed, but not cleaned up.

I must also note that around the first time the memory grew, the first block of size > 150MB was completed in prometheus.

Attached is a zip containing the outpu

[2020-10-27 12:43] schlauerlauer commented on #2286
Sorry we can't remember :(

[2020-10-27 14:29] yeya24 commented on #3113
Thanks a lot for the work @melkorm!

[2020-10-27 15:23] kiefersmith commented on #1820
The desire is there and would be happy to help support.  🙂

[2020-10-27 15:51] spencergilbert commented on #1820
:+1: Good to hear, I was feeling lonely :smiley:

I've swung back around and started to update the query PR I had opened https://github.com/thanos-community/helm-charts/pull/4

[2020-10-28 09:04] bwplotka commented on #3097
Still applicable.

Kind Regards,
Bartek Płotka (@bwplotka)

On Tue, 27 Oct 2020 at 18:35, stale[bot] <notifications@github.com> wrote:

[2020-10-28 09:22] bwplotka opened #3373 "QueryFrontend: HTTP/gRPC client load balancing"
It would be amazing to use spitting mechanism better and allow distributing requests to multiple querier replicas.

Most of us use Kubernetes with K8s Serice only which are TCP based, so they don't do round robin balancing - they just pick one. Some of users don't have good lb handy even. I think it should be application logic to make that happen.

I already wrote similar code e.g in Kedge which w

[2020-10-28 09:38] kakkoyun commented on #3373
I think we should immediately go for `option a` just because it's a low hanging fruit. And then we can devise a plan to implement `option b`.
I'm with you the ideal solution would be the `option b`.

So let's just make it work and then we can iterate and optimize it.

[2020-10-28 11:25] MMeent commented on #3314
Update: After setting the memory limit of the sidecar to 512MiB in k8s, the sidecar did still use more memory than expected, but by far not as much as what was previously used:

![image](https://user-images.githubusercontent.com/2960313/97428647-9386ec00-1916-11eb-9574-4519823a9916.png)

Memory limits were imposed starting from 16:30 local time, that is the start of the red line.

One reason for t

[2020-10-28 11:33] krackjack29 opened #3374 "Exposing Receive via kubernetes ingress and SSL offloading"
Is there any guidance or challenges is exposing Thanos Receive component via kubernetes ingress and offload SSL at the ingress??

[2020-10-28 14:07] bwplotka commented on #3318
Some comments we made on code while 1:1 to @yeya24

[2020-10-29 07:22] SuperQ commented on #1424
We're also now running into this (https://gitlab.com/gitlab-com/gl-infra/infrastructure/-/issues/11757)

[2020-10-29 07:56] bwplotka commented on #1424
On it this sprint.

Kind Regards,
Bartek Płotka (@bwplotka)

On Thu, 29 Oct 2020 at 08:22, Ben Kochie <notifications@github.com> wrote:

[2020-10-29 16:28] perkons commented on #3260
I got the query and rule working like this:

[code]

When using:
[code]
I get the error ```404 page not found```

There is an inconsistency between services.

[code]

[2020-10-29 16:34] #3113 closed

[2020-10-29 16:36] #3353 closed

[2020-10-29 16:46] anas-aso commented on #3305
I have hit the same issue again. Looking into the code, I found this hidden flag : https://github.com/thanos-io/thanos/blob/c534b6d4a2f9fdac572f3126adfc1fb3e1b17147/cmd/thanos/compact.go#L516 combining it with the metric `thanos_compactor_halted` did the job for me.

@bwplotka any idea why is this flag hidden ? I think it's useful to make issue with compaction more visible.

[2020-10-29 17:01] bwplotka commented on #3305
How you used this flag exactly? What do you expect?

You disabled halt on error? It helped you, but in most cases, you should run Compactor with persistent disk if you can, as we cache metadata and stuff, Restarting would not help then. Also if you hit the issue right now, you will see an issue soon as well - it got full for some reason -> most likely dataset you are compacting is huge. (:

[2020-10-29 17:23] anas-aso commented on #3305
@bwplotka by setting this one up, compact would restart on critical errors (full disk in my case) as a result `thanos_compactor_halted` will be set to 1 which I can alert on.
I know there is another metric for compaction failure, but I want to define an alert only if it will cause troubles (in the case of this issue compaction didn't run for more than a week).

I already run compact with persisten

[2020-10-30 02:40] heartTorres commented on #3354
I see!! Thanks for the reply. I'll check it out.

[2020-10-30 02:40] heartTorres commented on #3354
I'll be closing this ticket for now. Thank you for the reply.

[2020-10-30 02:40] #3354 closed

[2020-10-30 09:13] Hanoko commented on #3164
Hi,

I am a system engineer, so I don't know much about coding with Go. But if anyone could help with this this I could do the tests and check if everything is working correctly. We are planning to work with a cluster of Prometheus on Oracle Cloud Kubernetes and we would like to use Thanos or Cortex. If this feature is not available we will have to use Victoria Metrics as it has support for saving

[2020-10-30 09:30] bwplotka commented on #3164
Looks like Oracle Cloud is already supported by our S3 type client (: See: https://gist.github.com/owainlewis/2a8b54b94836eded67dfe037608c32a9

[2020-10-30 09:30] #3164 closed

[2020-10-30 09:32] bwplotka commented on #3164
Can you try to run Thanos object storage against cloud Oracle storage?

See docs: https://thanos.io/tip/thanos/storage.md/#s3

You could run something very simple like https://thanos.io/tip/thanos/storage.md/#s3 to quickly check if storage access works (:

Let us know, we can reopen if something is not working :hugs:

[2020-10-30 10:44] kakkoyun commented on #3318
@bwplotka @yeya24 I think we're missing the content of the comments? Could you please check the link again?

[2020-10-30 10:47] kakkoyun commented on #3374
@krackjack29 It'd be better to use our slack channels to find out more help concerning the question such as this.
https://github.com/thanos-io/thanos#community

[2020-10-30 10:47] #3374 closed

[2020-10-30 12:02] bwplotka commented on #3318
Just click the link and scroll down you see comments in the code added

[2020-10-30 12:08] bwplotka commented on #3068
On it now, proposal to moce.

[2020-10-30 12:30] #2577 closed

[2020-10-30 12:39] bwplotka commented on #3221
Is there any relevant docs or resources where I can find details of such an API.

We have other APIs for this and yes, it should be better documented - only block viewer is using it.

This is great but not very helpful for this issue, as we store all blocks in object storage (:

[2020-10-30 13:02] roidelapluie commented on #3221
object storage does not implement the BlockReader interface?

[2020-10-30 16:44] bwplotka commented on #3221
Not directly.

[2020-10-30 16:53] stylianosrigas opened #3386 "Thanos Rule not able to read values from expr result."
**What happened**:

Hello I am trying to create an alert in Thanos Ruler using similar rule to Prometheus but I am getting the error that variable $labels is not defined.

This the rule that I am trying to apply:
[code]
The same alert in Prometheus directly is able to get the {{$labels.node}}  and {{$labels.ClusterID}} values.

Is there a way to do the same in Thanos ruler?

[2020-10-30 19:21] prmsrswt commented on #3260
Yup, that's what I pointed out above, rule and querier are doing things differently.

[2020-10-30 22:21] yeya24 commented on #2713
Will take this.

[2020-10-30 23:25] #3040 closed

[2020-10-30 23:25] #2958 closed

[2020-10-30 23:25] #3036 closed

[2020-10-31 08:16] brancz commented on #3373
I agree with @kakkoyun.

[2020-10-31 09:55] kakkoyun commented on #2870
Still valid.

[2020-10-31 21:35] GiedriusS commented on #3314
Are you talking about https://github.com/minio/minio-go/commit/51222d26253e90224f8b4f8ba9be9b7982e3ce53 ?