[2021-01-26 20:16] rdzimmer opened #3749 "compactor: Majority of 1h downsampled data missing"
**Thanos, Prometheus and Golang version used**:
[code]

**Object Storage Provider**: MinIO

**What happened**:  I am unable to see data beyond my 5m downsampling retention.  Some 1h downsampled data is there, but most of it is missing.

**What you expected to happen**: My environment has been running since December 18th, so I expect to see hourly data back to that point since my hourly retention i

[2021-01-26 20:21] rbounds opened #3750 "Thanos-compact does not automatically disable compaction for blocks with large index."
**Thanos, Prometheus and Golang version used**:

thanos, version 0.17.2 (branch: HEAD, revision: 37e6ef61566c7c70793ba6d128f00c4c66cb2402)
  build user:       circleci@2c49ee4f4029
  build date:       20201208-10:11:27
  go version:       go1.15
  platform:         linux/amd64

**Object Storage Provider**:
GCS

**What happened**:
- thanos-compact halts when index size exceeds 64GiB
- thanos-compac

[2021-01-26 20:57] Thilaknath opened #3751 "Remove Outdated examples Thanos/Helm"
### Is your proposal related to a problem?

The examples under this repository for Thanos/Helm are outdated by a year and significant changes have been made to the Kube-Prometheus helm charts. It would be helpful for the community to have the latest example in order to have Thanos sidecar configured with kube-Prometheus chart supported by the Prometheus community

Provide examples in this [section

[2021-01-26 21:00] Thilaknath commented on #3751
@daixiang0 @BradErz  Can you help point me to the configuration of a Thanos sidecar?

[2021-01-27 03:58] yeya24 commented on #3706
I am looking at this change. We can do this by adding a boolean value to this method signature to not check external labels https://github.com/thanos-io/thanos/blob/master/pkg/block/block.go#L92.

But this way it changes the [upload](https://github.com/thanos-io/thanos/blob/master/pkg/block/block.go#L71) API, is this an acceptable change?

[2021-01-27 06:50] d-ulyanov commented on #2321
hey @bwplotka,
we moved to another issue now (problem with zooming into downsampled data), but we'll come back to this one definitely

[2021-01-27 09:13] diemus commented on #3436
the problems shows again, I have a strong feelings it's casued by some blocks with same time range. because this section of blocks are not grouped when other blocks are still grouping, this block may cause compactor stuck, I have to add a crontab to restart it every 6 hour.

The extra block was created in a migration of prometheus instance, it create 2 blocks with same time range.  one has 2 hours

[2021-01-27 18:55] bwplotka commented on #3680
👍🏽 thanks!

[2021-01-27 21:09] bwplotka commented on #3751
Here is the project that might help you (:

 https://github.com/thanos-io/kube-thanos (check YAML manifests)

[2021-01-27 21:11] bwplotka commented on #3751
In a separate track, we are looking into a way of ensuring generated helm chart: https://github.com/thanos-io/thanos/issues/1820 🤗

[2021-01-27 21:11] bwplotka commented on #3751
Oh actually let's keep this issue so we remove outdated charts to avoid confusion!

[2021-01-27 21:47] bwplotka commented on #3706
It is an acceptable change, but it will involve lots of changes and worse API (more arguments, including bool ones).

We can do different things:

* We can remove this check form `Upload` and add separate method that checks it. Then update some Upload callers that require this check.
* We create `upload(` method that has this bool value and `Upload` will use it with check = true. Then we can creat

[2021-01-28 07:11] LuChenjing commented on #3745
Today I got this issue from the compactor pod...

    level=info ts=2021-01-28T01:55:02.508453819Z caller=clean.go:33 msg="started cleaning of aborted partial uploads"
    level=info ts=2021-01-28T01:55:02.508480166Z caller=clean.go:60 msg="cleaning of aborted partial uploads done"
    level=info ts=2021-01-28T01:55:02.5084973Z caller=blocks_cleaner.go:43 msg="started cleaning of blocks marked for

[2021-01-28 09:50] mveroone opened #3753 "sidecar: Overlap spotted by uploader while there shouldn't be"
**Thanos, Prometheus and Golang version used**:
 * Thanos 0.17.2 (using bitnami helm chart v3.5.0)
 * prometheus : 2.20.0
 * Sidecar :
[code]

**Object Storage Provider**:
Google Cloud Storage

**What happened**:
My bucket holds data until January 20th, 3PM CET
I'm trying to upload a single (compacted) block to it, that hold data from January 27th 1am to 7am : (meta.json)
[code]

And sidecar says

[2021-01-28 13:16] night-gold commented on #2032
Hello @KarstenSiemer , did you find a solution to your issue since then?

[2021-01-28 13:53] GiedriusS commented on #3728
Is it still reproducible after https://github.com/thanos-io/thanos/pull/3705?

[2021-01-28 14:46] d-ulyanov commented on #2641
https://github.com/thanos-io/thanos/pull/3723 was merged, let's close this issue.

@bwplotka could you add fix version to this issue?

[2021-01-28 14:46] #2641 closed

[2021-01-28 15:06] diemus commented on #3436
I delete the block with same time range, and it works again

[2021-01-28 17:17] SuperQ commented on #3750
We're seeing a similar issue. We noticed some indexes that in bytes don't go over 64GiB, but when the indexes are merged they bloat to larger than 64GiB.  See: https://github.com/thanos-io/thanos/issues/3724

We have been manually marking them with the bucke tool, but it seems to be not reading this marker file consistently. I've deployed a patched version with some debug logging to see if we can

[2021-01-29 02:07] elysiumHL commented on #2920
Still valid, this feature is very useful

[2021-01-29 08:28] goober commented on #2805
We are experience the same issue with Thanos v 0.17.2 and the Ceph Object Gateway.
@JensErat were you able to solve your issue?

[2021-01-29 08:53] mengskysama commented on #3728
Great
this pr can fix issue.

thanks!

[2021-01-29 08:53] #3728 closed

[2021-01-29 08:56] SuperQ commented on #3750
We have a couple of blocks that refuse to avoid compaction:
[code]

[2021-01-29 13:48] IbraheemAlSaady commented on #1507
I have a similar issue, I have a multi-cluster setup where each cluster has one query and one sidecar. And there is an observability cluster that has a query instance that points to all query instances in other clusters. Query instances are exposed through an ingress that has a backend on the GRPC port

The query and sidecar in clusters are working, but I can't create stores pointing to `query.my-

[2021-01-29 14:30] JoseRIvera07 commented on #1624
stills valid for v0.17.2, after restart receiver component. OMM Killed

[2021-01-29 14:44] j3p0uk commented on #1507
@IbraheemAlSaady When you run Thanos in the observability cluster to connect to the other clusters, you need to:
- Ensure that the service name on all remote clusters is the same.  So for every remote cluster you want to have available the ingress must be able to route to the internal Thanos sidecar through the same name (e.g. thanos-query)
- Use the '--grpc-client-server-name= thanos-query' param

[2021-01-29 15:36] IbraheemAlSaady commented on #1507
@j3p0uk I appreciate your getting back to me on this. So for your suggestion (the first one), the ingress is not pointing to the sidecar, it's pointing to the Thanos query, and the query is pointing to the sidecar. I apologize if it wasn't clear in my previous comment.

Here is how my configuration looks like

Cluster A SideCar

[code]

Cluster A Thanos Query: <<- This is working just fine
[code]

[2021-01-29 15:46] j3p0uk commented on #1507
Sure.  Do check the logs and see if they match in this case.  Check that you can curl between the multiple clusters, etc.  That looks like it could be a connectivity issue from your central cluster to query.my-local-domain.local:443 more than the issue detailed here, but that's a guess given there isn't much in the way of debug or logs to go on.  Sorry I can't help more :)

[2021-01-29 15:55] IbraheemAlSaady commented on #1507
I have tried this with `grpcurl` from the central cluster `grpcurl -insecure query.my-local-domain.local:443 list`

I'm getting this response:

[code]

I did a describe as well `grpcurl -insecure query.my-local-domain.local:443 describe` and this is the output

[code]
Then `grpcurl -insecure query.my-local-domain.local:443 thanos.Store/Info` and this is the output

[code]

[2021-01-29 16:01] roysha1 commented on #1507
Might change the ingress beckend protocol to grpcs

[2021-01-29 16:24] mveroone commented on #3753
I'm wondering whether I could try to upload blocks directly by copying the files from prometheus to GCS.
Will try that monday.

[2021-01-29 16:32] IbraheemAlSaady commented on #1507
@roysha1 sadly, that didn't do it

[2021-01-29 16:50] IbraheemAlSaady commented on #1507
I have updated my comment regarding the configuration I have to add the logs of the ingress controller

[2021-01-29 19:40] Drewster727 commented on #2982
Just curious if anyone seen this issue with 0.18.0? Going to give it a shot early next week.

[2021-01-30 04:08] Placidina commented on #1507
I have a similar problem, but I got around with some ways

bitnami/kube-prometheus custom values:

[code]

bitnami/thanos custom values:

[code]

![thanos](https://imgur.com/xW6MiLB.png)

[2021-01-30 13:43] IbraheemAlSaady commented on #1507
@Placidina thanks for sharing this. I’m wondering why would you need the host aliases part?

[2021-01-30 15:59] IbraheemAlSaady commented on #1507
@Placidina in my case is the ingress is exposing the query service gRPC not the sidecar, if I enable tls on the sidecar and query, then I get certificate signed by unknown authority. Since the connection is working from query to sidecar regardless if tls was enabled or not, I don’t think changing to the Bitnami chart for kube Prometheus would do it

[2021-01-30 18:41] bwplotka commented on #3065
@mneverov This is good! Sorry for the no response for so long time. Any chances to make a PR to add this to Thano? 🤗 Thanks!

[2021-01-30 19:16] bwplotka commented on #3753
I see a problem.

You need to ensure `meta.json` exists with Thanos metadata section (e.g with external label sets). Otherwise you can just copy yes. The problem you might be seeing is that you push blocks from different Prometheus-es but Thanos has no idea which block is from what Prometheus without putting external labels into meta.json. `Sidecar` does this automatically on upload. Any manual co

[2021-01-31 00:29] yeya24 commented on #2542
Still valid

[2021-01-31 10:53] mayankshah1607 commented on #3744
Hi @bwplotka
I'd love to take up this issue and make my first contribution here!

[2021-01-31 11:32] mayankshah1607 commented on #3744
Just a very quick question - how many times should the upload be retried, and for how long?

[2021-01-31 11:53] bwplotka commented on #3753
I think there might be a need for simple upload utility on Thanos tooling to do this. WDYT?

[2021-01-31 14:58] zerefwayne commented on #3221
Hi @roidelapluie @prmsrswt I would like to take this up if it's still unresolved.

[2021-01-31 15:41] kfirfer opened #3755 "compactor/sidecar: HostUnusualDiskWriteLatency"
Hello

When compactor have works to do, or Thanos sidecar is uploading the data to MinIO, there's high volume of disk write operations in a small window of time

When it occurs, this alerts is fired:
[code]

Would be nice to see some throttling mechanism to mitigate intensive operations (chunks with buffer/+sleep between chunks or some kind..)

[2021-01-31 17:08] IbraheemAlSaady commented on #1507
Is there a way to skip verifying the certificate in Query? I keep getting `authentication handshake failed: x509: certificate signed by unknown authority`

[2021-01-31 17:39] mneverov commented on #3065
@bwplotka no worries.
sorry for not being clear, but I think it's not worth it. The linter gives you many false positives (although not at the moment).
If you still think it might be valuable, the linter should be added in the list of all linters in golang-ci. I can create a PR for that.

[2021-02-01 03:37] yuzijiang718 commented on #2982
HI,I am using v0.18.0 .I don't know if if there is any mistake in my config file.

The yaml file like this:
`apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app.kubernetes.io/component: database-write-hashring
    app.kubernetes.io/instance: thanos-receive
    app.kubernetes.io/name: thanos-receive
    app.kubernetes.io/version: v0.18.0
  name: thanos-receive
  namespace: thanos
spec

[2021-02-01 06:27] mayankshah1607 commented on #3744
I have opened a PR - https://github.com/thanos-io/thanos/pull/3756*
Not sure if this would be the right approach, would love to have some feedback :)

[2021-02-01 07:33] joancafom opened #3757 "Binaries for Thanos 0.18.0"
Hi,

I have noticed that [the latest tagged release](https://github.com/thanos-io/thanos/releases/tag/v0.18.0) for Thanos (0.18.0) does only include the source code. Usually, previous versions did include the binaries for different platforms and a set of _Release Notes_ (see [0.17.0](https://github.com/thanos-io/thanos/releases/tag/v0.17.0) and [0.17.0-rc.0](https://github.com/thanos-io/thanos/rel

[2021-02-01 08:08] mveroone commented on #3753
In theory, the upload-compacted flag seems sufficient in my opinion, but
the overlap error message is hard to understand, and the side-car does not
move past the blocking block.

I still don't understand what's wrong in my situation.

Now sure, a more precise tooling to be able to list, and select for
uploading each block could be nice. Or more simply a flag `--upload-since`
followed by a timestam

[2021-02-01 08:42] kakkoyun commented on #3701
I wonder if we can use a nested module for this rather than extracting that out from the repo. Does anyone have any experience of this? I have seen an implementation of it on the open-telemetry repo.

FYI accepted lazy module proposal https://github.com/golang/go/issues/36460

cc @prmsrswt

[2021-02-01 09:00] sfhl opened #3758 "[Object Storage] high number of requests"
Hi there,

we are using S3 (mounted via s3fs) for long term storage, following this guide: https://www.metricfire.com/blog/ha-kubernetes-monitoring-using-prometheus-and-thanos and there are a lot of requests. We wonder if this is normal or if this maybe can be reduced.
Thanks in advance!

**Thanos, Prometheus and Golang version used**:
`quay.io/thanos/thanos:v0.17.1`

**Object Storage Provider**:

[2021-02-01 13:01] mveroone commented on #3753
I'm trying to perform the manual upload today.
I had to disable the compactor to avoid the aborted partial deletion mechanism.
Then I'll try to move the metas in the debug folder and append the thanos metadata inside.

Let me know if you have any idea about why the sidecar is reporting overlapping though. thanks.

[2021-02-01 17:12] gburek-fastly commented on #3150
Hopeful that #3500 and 0.18.0 speeds store start up, but have not had a chance to test the rc. Will update once we either get to the rc or deploy the 0.18.0 official release.

[2021-02-01 17:59] bwplotka commented on #1598
This is already doable by `thanos tools rewrite` (: Should w close?

[2021-02-01 18:01] bwplotka commented on #1598
Ideally we can focus on tracking automation and embedding into API if we want as @Harshitha1234 started in separate issues 🤗

[2021-02-01 18:09] rdzimmer commented on #3565
Looks like a duplicate of https://github.com/thanos-io/thanos/issues/903, or at least would be covered by that feature.

[2021-02-01 18:09] #3565 closed

[2021-02-01 18:22] bwplotka commented on #2600
Looks like design doc is merged, so help wanted to implement this 🤗

[2021-02-01 18:23] bwplotka commented on #3757
Yes it looks like the release is somehow in.. progress? 🤔 cc @squat

Thanks for pointing!

[2021-02-01 18:27] bwplotka opened #3761 "Implement Stateless Ruler Proposal"
Tracking ticket for implementing https://github.com/thanos-io/thanos/blob/master/docs/proposals/202005_scalable-rule-storage.md#proposal

Open Question about this proposal: Is `push` required by ruler really remote-write? Remote write is for batches vs here we kind of write samples, no? More of pushgateway API etc 🤔 cc @brancz

[2021-02-01 18:48] bwplotka commented on #3761
Ongoing work:  https://github.com/thanos-io/thanos/pull/3743

[2021-02-01 18:50] bwplotka commented on #3068
Proposal is half done: https://github.com/thanos-io/thanos/pull/3390

The plan is to team up with LFX mentee for knowledge sharing 🤗

[2021-02-01 19:35] squat commented on #3757
Thanks for bringing this up.  I think the release job in circle CI failed and had to be retried! It's released now :))))

[2021-02-01 19:35] #3757 closed

[2021-02-01 21:43] bwplotka commented on #3757
<3

[2021-02-01 21:50] bwplotka commented on #3741
Sorry for the lag in response!

We actually recommend using https://github.com/prometheus-community/prom-label-proxy and our documentation assumes (and proposes) to use it on top of Thanos APIs! We actually maintain https://github.com/prometheus-community/prom-label-proxy (Note to use `prometheus-community` org not `openshift` fork 🤗

Hope that makes sense, if not we can reopen. You can find cool

[2021-02-01 21:50] #3741 closed

[2021-02-02 08:14] metalmatze commented on #3761
The way this is implemented in my current PR is that the samples are added to a list of series and they are only sent in a batch once commit is called. So it's not that every series is sent on its own.
Not sure if that's what you're asking for or how we want to have this done in the end.

[2021-02-02 08:50] mxmorin commented on #3471
Same effect with new 0.18.0 release
![image](https://user-images.githubusercontent.com/58942529/106575219-1e8e0880-653c-11eb-8bfd-b3a4d02a965a.png)

[2021-02-02 09:07] juliusv commented on #3345
Regarding stalebot, I saw that @yeya24 created https://github.com/thanos-io/thanos/pull/3686 to address this a month ago, but there hasn't been a review yet.

[2021-02-02 09:27] bwplotka commented on #2248
As @MalloZup pointed, some commands are still to be done 🤗

[2021-02-02 09:29] MalloZup commented on #2248
ack

[2021-02-02 09:35] lilic commented on #2600
I can get started in roughly a week or two. If no one starts that by then I can take it. Does that sound good?

[2021-02-02 09:39] bwplotka commented on #2600
![](https://media0.giphy.com/media/oaBBXmpZa4n6g/giphy.gif)

[2021-02-02 10:16] mveroone commented on #3753
It was painful (I had to build thanos metadata manually) but it worked !!
![image](https://user-images.githubusercontent.com/44051537/106585690-e1c80e80-6547-11eb-9e71-db013d803954.png)
Now because of compaction i still have holes in the dataset but much smaller, so it'll have to do.

I'll leave it up to you to decide whether the initial bug needs digging, let me know how I can assist on that.
And

[2021-02-02 17:07] jfg1701a opened #3765 "receive: Stops storing data"
**Thanos, Prometheus and Golang version used**:

[code]

**Object Storage Provider**: MinIO

**What happened**: On one of our internal test systems, thanos receive will stop processing incoming data on regular intervals. The following thanos ui query shows metric node_cpu_seconds_total for the last week. This metric comes from a prometheus instance that is monitoring the OCP cluster:

![image](htt

[2021-02-02 20:57] wiardvanrij commented on #3504
/remind me in 1 week

[2021-02-02 22:00] Danipiario commented on #3529
Any news on this? I have to manually delete entries on S3 in order to save space.

[2021-02-02 22:41] markmsmith commented on #3143
Still needed.

[2021-02-03 02:12] zecke commented on #3456
I think this is still open.

[2021-02-03 08:15] AndrewNiven1 opened #3766 "query: Do not fail SRV lookup if one A record is non existing"
**Thanos, Prometheus and Golang version used**: v0.17.1

**Object Storage Provider**: ABS

**What happened**: We are using a Thanos Query to monitor other Thanos Queries in our deployment. The top level Query points at a DNS SRV record set, which points at DNS A records containing the URLs of lower level Thanos Queries. This works well when the SRV record set only points to A records that exist, b

[2021-02-03 08:24] Biswajitghosh98 commented on #3389
My understanding of the problem is :
`cmd/thanos/downsample.go` has the `processDownsampling` function which calls `block.Download`, that downloads the Block directory locally, which is then read by `tsdb.OpenBlock` and then the returned object is passed to `Downsample`.
We need a helper function, which, instead of downloading, streams blocks one by one from object store to Downsample here
https:/

[2021-02-03 09:15] IbraheemAlSaady commented on #1507
After a while of pulling my hair with this one, I managed to make it work. Just a note here, my ingress is on the Query instance not the sidecar, I would assume it'd work the same way for sidecar (didn't that part)
My architecture is as follows:

[code]

I'm deploying the stack with helm, here is my config

*Remote & Central Cluster Prometheus Operator*

[code]

* Remote Cluster Query Config*

[co

[2021-02-03 13:58] yashrsharma44 commented on #3389
cmd/thanos/downsample.go has the processDownsampling function which calls block.Download, that downloads the Block directory locally, which is then read by tsdb.OpenBlock and then the returned object is passed to Downsample.
We need a helper function, which, instead of downloading, streams blocks one by one from object store to Downsample here
https://github.com/thanos-io/thanos/blob/master/cmd/th

[2021-02-03 14:04] jfg1701a commented on #3765
We are starting to see this issue on several systems now. Here is a partial receiver log from the latest incident:

[receiver-log.txt](https://github.com/thanos-io/thanos/files/5918911/receiver-log.txt)

It looks like after the second WAL checkpoint that all metric data is being thrown away.

[2021-02-03 14:26] Biswajitghosh98 commented on #3389
Yes, I was a little confused regarding whether we'll read a block, downsample it and delete it later, but that is what is already implemented in the codebase. So the other alternative is to stream chunks and downsample on the way. In the most atomic scale, downsample works on Blocks, so I guess we'd need some more discussion before figuring out an approach, because even if we are able to stream ch

[2021-02-03 19:31] notque commented on #2098
Just experienced this same issue. Trying to sort out a solution.

[2021-02-03 19:38] someshkoli commented on #3068
Hey @bwplotka, I'd like to pick this up again and work on it.

[2021-02-03 20:47] kfirfer commented on #3758
Hi
this is similar to what I'm encountering:
https://github.com/thanos-io/thanos/issues/3755#issue-797740305

[2021-02-03 23:42] alvinlin123 commented on #267
If we hit this issue, is there anyway to recover the block?

[2021-02-04 02:37] spaparaju commented on #3456
Yes it is open. Here is the [PR](https://github.com/thanos-io/thanos/pull/3539).

[2021-02-04 08:56] GiedriusS commented on #3218
Then, I guess, we shouldn't do this at all if it causes such an increase in size. :thinking:

[2021-02-04 09:20] miekg commented on #3456
[ Quoting <notifications@github.com> in "Re: [thanos-io/thanos] query: API d..." ]

can you teach 'stalebot' to not close tickets if there is an open PR references the issue?

[2021-02-04 10:08] svenwltr commented on #3471
Hello! It looks like we have the same problem:

![image](https://user-images.githubusercontent.com/1698599/106877133-b7f22180-66d8-11eb-804b-9856e68960c9.png)

I tired some profiling (following https://github.com/thanos-io/thanos/issues/325#issuecomment-387519040). What I did:

1. Get binary to my machine: `kubectl cp sts/thanos-receive:/bin/thanos ./thanos`
2. Forward HTTP port: `kubectl port-for

[2021-02-04 11:16] bwplotka commented on #3389
We already stream chunks and do index lookup in streamed way in `pkg/store/bucket.go` (see `func Series(..`) so we can use that as inspiration for reads.

[2021-02-04 11:27] bwplotka commented on #3389
Simplest solution would be to stream chunk files as blobs.

[2021-02-04 11:59] bwplotka commented on #3766
What's ABS? (:

I think it makes sense, I like this idea. Help wanted!

I personally like to fail fast. Missing A record means something is not well configured, so you might be having a partial response on the query side. I think with some flag we are happy to have this logic you proposed enabled. I wonder if some `--non-strict-mode` flag global to .. Thanos 🤔

To me something this case sounds lik

[2021-02-04 14:41] sachinkumarsingh092 commented on #3713
Hi @bwplotka @MalloZup, there is a spelling check script (https://github.com/kubernetes-csi/csi-release-tools/blob/master/verify-spelling.sh) in https://github.com/kubernetes-csi/csi-release-tools which uses `misspell` internally. We can raise and implement the fix for `.` in `misspell` and then we can safely use it here.
WDYT.

[2021-02-04 15:11] bwplotka commented on #3765
Thanks for the report!

First of all, you are running very old receive version. There were tons of new things, improvements and bugfixes added without changing API, so before we do anything else, just upgrade to `v0.18.0` 🤗  We use TSDB (Prometheus) code underneath so we had many upgrades since then. There is no point into diving too much into this problem before upgrade.

[2021-02-04 15:13] bwplotka commented on #3765
Actually looks like the problem is that the incident took more than 2h that's why when restarted you got

[code]

[2021-02-04 15:13] bwplotka commented on #3765
Question is: Why you get into this place first (:

[2021-02-04 15:16] bwplotka commented on #3765
All the logs you provided are for the situation after incident. It's expected that some of the older data will be skipped becuase it touched the timestamps which were already assumed as immutable (produced a block).

Let's focus on what we want to fix in this issue 🤗

Do we want to be able to consumpe older data? Let's create issue for that then (I think we had some).
Do we want to avoid 8-18h of

[2021-02-04 15:21] jfg1701a commented on #3765
We used the observability configuration where there are 3 receiver instances configured with the hash ring. All of the receivers suffered this issue.

[2021-02-04 15:26] bwplotka commented on #3765
Which issue? Starting up after 18h being down and ignoring incoming write requests until write requests have newer timestamps? That's expected. (:

[2021-02-04 15:33] yeya24 commented on #3456
We can add exempt labels to the issues so that the bot can exclude them.

[2021-02-04 15:33] jfg1701a commented on #3765
Sorry if I was not clear; the receivers stayed up the whole time, they just refused to store any data. This caused an 18 hour gap in the metric graphs. After 18 hours, they just suddenly started working again.

The most recent log shows a receiver that was deployed on a newly installed system. The pod stayed up the whole time, but after a while it stopped accepting metrics and said that everything

[2021-02-04 18:06] jfg1701a commented on #3765
We narrowed the problem down to the metrics from a single agent, and we are in the process of investigating why the metrics from this agent are causing all metric storage to stop in thanos receive.

[2021-02-04 18:46] jfg1701a commented on #3765
We've determined that the problem is most likely being caused by an incorrect (future) UTC date being specified in the agent metrics.

Date specified: "2021-02-05T04:55:19.000Z"
Server date: Thu Feb  4 18:34:17 UTC 2021

The agent needs to fix this, but this should not be causing a complete metric storage outage in thanos receive.

[2021-02-05 01:08] IbraheemAlSaady commented on #3741
Thanks for getting back to me for this @bwplotka. I’ll have a look

[2021-02-05 08:05] mxmorin opened #3772 "receive: internal server error with when it receives metadata of metrics in remote write requests (Prometheus >=2.24)"
**Thanos, Prometheus and Golang version used**:

[code]
**Object Storage Provider**:
S3

**What happened**:
After upgrading Prometheus from version 2.20 to 2.24, Internal server errors suddenly appeared in the logs with no other informations (even in debug mode).
I downgraded the Prometheus version to 2.20 and everything went back to normal.

Is thanos compatible with Prometheus 2.24 ?

**Full log

[2021-02-05 08:36] AndrewNiven1 commented on #3766
Hi Bartlomiej, thanks for your response. ABS is Azure Blob Storage.

In our proposed architecture, missing A records are expected behaviour. We want to define a list of possible service instance names in our SRV record set: at any given moment some of these service instances will be up, and some will not be. If the DNS A record does not exist, it is because the service instance associated with it

[2021-02-05 11:45] bwplotka commented on #2622
Let's get into this (: It's still causing problems: https://github.com/thanos-io/thanos/issues/2622

[2021-02-05 11:47] bwplotka opened #3774 "e2e TestReceive/replication_with_outage is flaky"
See: https://github.com/thanos-io/thanos/pull/3773/checks?check_run_id=1838083024#step:5:2345

[2021-02-05 12:51] jfg1701a commented on #3765
We confirmed that the the appearance of a future timestamp in the data was causing thanos receive to stop processing all other incoming metric data. The length of the outage seemed to be related to how far in the future the timestamp was.

More information from Zach Shearin (a developer on my squad):

[2021-02-05 12:53] jfg1701a commented on #3765
We've added a filter to our own metric collection logic to throw away metrics that specify a future time, so our immediate problem has been solved. But this seems like logic that should be in thanos receive.

[2021-02-05 15:10] bwplotka commented on #3641
This is to broad. Let's focus on particular test which is flaky.

[2021-02-05 15:49] Sudhar287 commented on #3408
This can be reopened as point 5 `Add in-memory bucket caching as well
` is still in PR.

[2021-02-06 11:25] #3314 closed

[2021-02-06 15:22] #3492 closed

[2021-02-06 15:22] #3453 closed

[2021-02-06 15:22] #3086 closed

[2021-02-06 15:22] #3074 closed

[2021-02-06 15:22] #3071 closed

[2021-02-06 15:22] #3210 closed

[2021-02-06 16:10] Abhishek357 commented on #3412
I am working on this and will open a PR soon.

[2021-02-06 20:13] appleciderjack opened #3775 "Implement a dark theme in UI"
### Is your proposal related to a problem?

Similar to https://github.com/prometheus/prometheus/issues/7735
It would be great to have a dark theme toggle in Thanos. (This is coming from SREs who use the Thanos UI to do digging more frequently than Grafana Explore tab)

A common use case is that we would take screenshots and post them in slack during the day.

### Describe the solution you'd like

[2021-02-07 10:47] bwplotka commented on #3775
I love this idea!

Can we propose this to Prometheus? We inherit Prometheus base! (: 🤗

[2021-02-07 10:47] bwplotka commented on #3775
Oh, actually there is already. Ok, let's wait until Prometheus have it, then we will port! Help wanted. Let's do it!

[2021-02-07 17:42] sepich commented on #3726
Rechecked on:
[code]
Result still the same (v0.16.0 before 17:43):
![image](https://user-images.githubusercontent.com/1803804/107154530-7ab1bc00-6984-11eb-8e7b-095b3a75b9e5.png)
![image](https://user-images.githubusercontent.com/1803804/107154547-87ceab00-6984-11eb-9f52-d01e83c540fc.png)
Attaching pprof for v0.18.0 if needed:
[heap.zip](https://github.com/thanos-io/thanos/files/5939590/heap.zip)

[2021-02-07 18:07] sepich commented on #3194
Sorry for disturbing, I clearly understand the [burden](https://news.ycombinator.com/item?id=25940195) of maintaining of opensource project. It just contents of CONTRIBUTING.md which lead me to creation of this bug/PR.
Wouldn't mind still hear the drawback this change brings.

Anyway, for those who found this bug autoclosed and are interested in the fix: https://github.com/sepich/thanos/blob/maste

[2021-02-07 20:45] bwplotka commented on #2890
Still to investigate / try to repro

[2021-02-08 00:01] #3459 closed

[2021-02-08 06:09] Chans321 opened #3776 "Documentation for running and understanding tests."
Docs on thanos architecture are really great and help beginners to understand various components of thanos really well! As a new contributor, I found it a little difficult to run and understand the tests on my own. It would be great if there are some reference docs on the unit and e2e tests as well!

[2021-02-08 07:36] Abhishek357 commented on #3774
No check run found with ID 1838083024 for this pull request. :thinking:

[2021-02-08 09:14] lilic commented on #3538
To us this is still very much relevant and we would love to have this. :)

[2021-02-08 10:11] wturner123 commented on #2839
Apologies, just missed this. I've picked this up on behalf of @dbrennand.
Still needs fixing, but unsure who will be able to pick it up.

[2021-02-09 03:51] abhijeetab07 commented on #3677
Hello Team, Did anyone get a chance to look into it ? Thanks.

[2021-02-09 07:58] thinker0 commented on #1624
same problem for v0.18.0, restart receive, then oom

[2021-02-09 09:52] gaetanars commented on #3537
Anyone have the same issue or can reproduce it?

[2021-02-09 11:49] kakkoyun commented on #3537
Friendly ping @squat

[2021-02-09 11:53] kakkoyun commented on #3538
Related proposal: https://github.com/thanos-io/thanos/blob/master/docs/proposals/210701_endpoint_discovery.md

[2021-02-09 12:00] kakkoyun commented on #2946
Still valid.

[2021-02-09 12:07] kakkoyun commented on #3142
Still valid. Wait for #3423 #3316 to get merged.
cc @prmsrswt @Oghenebrume50

[2021-02-09 12:17] kakkoyun commented on #3677
Pinging @bwplotka as s3 object-store owner (Sorry for the noise)

[2021-02-09 12:32] kakkoyun commented on #1624
I'm reopening this. It seems like there is still an issue. If we think this is not an issue. Let's convert this to a discussion and redirect users to the discussion for similar issues.

cc @brancz @squat @bwplotka

[2021-02-09 12:34] kakkoyun commented on #3037
Still valid  and help wanted 🤗

[2021-02-09 12:35] kakkoyun commented on #3416
Still valid and help wanted.

Please @goku321 go ahead! We can assign this to you if you still interested in.

[2021-02-09 12:36] kakkoyun commented on #3041
Still valid and help wanted 🤗

[2021-02-09 12:37] kakkoyun commented on #3042
Still valid and help wanted 🤗

[2021-02-09 12:37] kakkoyun commented on #3117
Still valid and help wanted 🤗

[2021-02-09 12:38] kakkoyun commented on #3048
Still valid and help wanted 🤗

[2021-02-09 12:41] kakkoyun commented on #3213
I guess still valid. We still wait for the description though.

[2021-02-09 12:44] kakkoyun commented on #3220
@ahmednasir91 Friendly ping. Any on-going PR that you can share?

[2021-02-09 12:46] kakkoyun commented on #3225
Hello @juiceblender, has this created any issues? Is this still wanted?

[2021-02-09 12:50] kakkoyun commented on #3250
Still valid and need help 🤗  I'm calling the Avengers(old mentees) to help! @yashrsharma44 @prmsrswt @Harshitha1234 @soniasingla @thisisobate @khyatisoneji and many others (you guys are too many 😅 ).

[2021-02-09 12:50] kakkoyun commented on #305
Still valid.

[2021-02-09 12:51] kakkoyun commented on #3478
Still valid and help wanted 🤗

[2021-02-09 13:00] kakkoyun commented on #3479
Still valid and help wanted 🤗

[2021-02-09 13:02] kakkoyun commented on #3066
Still valid and help wanted 🤗

[2021-02-09 13:07] adeniyistephen commented on #2946
Hello, @kakkoyun kindly provide Pointers and input for this issue. I would like to work on it.

[2021-02-09 13:11] kakkoyun commented on #3081
Still valid and help wanted 🤗

[2021-02-09 13:11] kakkoyun commented on #3074
Still valid and help wanted 🤗

[2021-02-09 13:12] kakkoyun commented on #2839
Still valid and help wanted 🤗

[2021-02-09 13:16] kakkoyun commented on #3776
@Chans321 Thanks for reporting.
Could be handled as part of https://github.com/thanos-io/thanos/issues/3250

Help wanted 🤗

[2021-02-09 14:47] yashrsharma44 commented on #3250
I might take a shot this weekend 😛

[2021-02-09 15:42] lorenzo-biava commented on #3442
@bwplotka Any suggestions for this? Lately it hasn't happened any more to us, but if it were to happen again we would be clueless on how to fix it (beside deleting the blocks)...

[2021-02-09 16:47] thisisobate commented on #3250
Same here

[2021-02-09 17:11] soniasingla commented on #3250
Yep, will take a look this weekend, probably!

[2021-02-09 17:50] goku321 commented on #3416
Thanks @kakkoyun . Yes, I'm still interested. Currently, I'm trying to finish up exemplars api feature and then, will move to this one. Please feel free to assign it to me.

[2021-02-09 18:43] yeya24 opened #3779 "Improve Bucket LabelValues Call with matchers"
### Describe the solution you'd like

Upstream Prometheus merges the improvement about LabelValues with matches today https://github.com/prometheus/prometheus/pull/8400. It would be nice to have this support in Thanos as well.

AC:
1. Add matchers support to TSDB store with the new [LabelValues interface](https://github.com/prometheus/prometheus/pull/8400/files#diff-168e8306e8ccb157b33ea81d4c73f55

[2021-02-10 05:00] yashrsharma44 commented on #3776
Hi @Chans321 , thank you for posting this issue, I have had the same experience of being a newbie contributor at start, so can totally relate to the issues :)

Would be really awesome if you could pinpoint some details about what would you want in the developer docs as such, we will make sure that those points are covered and not missed.

[2021-02-10 05:37] yashrsharma44 commented on #3250
I have added a PR for having a placeholder for adding docs for the development and specific details for each components - https://github.com/thanos-io/thanos/pull/3780

[2021-02-10 08:45] kakkoyun commented on #3699
@codemug Thanks for opening this issue. We know there are a lot of work needs to be done for the mixin. Feel free to contribute. Help wanted.

[2021-02-10 08:46] kakkoyun commented on #2890
Still valid and needs investigation.

[2021-02-10 08:55] kakkoyun commented on #3772
@mxmorin Thanks for reporting. This shouldn't have happened, there aren't any changes in the API or data model in Prometheus between these releases. That being said, we need to take a closer look.

Are you sure this happened because of the version upgrade? Also could you please provide more information about your stack?

[2021-02-10 09:00] arvidsnet commented on #3554
still needed

[2021-02-10 09:09] mxmorin commented on #3772
Thank you for your response
We have 2 Prometheus 2.20 (replicas) in Openshift and one Prometheus 2.20 in a VM.
All these instances are configured with remote_write to 2 load balanced thanos receiver instances with S3 storage.

This has been working for some time

I updated Prometheus to 2.24 and many internal server errors appeared in the thanos logs but it seems that the metrics are well uploaded

[2021-02-10 09:54] kakkoyun commented on #3750
Hey @SuperQ, is #3773 a fix or a stopgap for this issue? Thanks for the PR btw.
@rbounds Have you tested it?

[2021-02-10 10:16] kakkoyun commented on #3746
@sathyendrasaran  It looks like you are having authorization issues with your object store bucket. Could you please make sure you have the correct access permissions?

[2021-02-10 10:24] kakkoyun commented on #3742
Hello @shaikatz, I really didn't understand what is exactly missing here? How does your stack look like? Do you use Querier with store gw/receiver/sidecar? Without any store (something that implements store api) we don't have any data? Do you want to cache empty responses?

cc @yeya24

[2021-02-10 10:44] kakkoyun commented on #3112
Help wanted 🤗

[2021-02-10 10:48] kakkoyun commented on #3712
Hey @johannesfrey, do you have an issue for it? We can evaluate our options and discuss details on an issue or on a design document.

[2021-02-10 10:51] kakkoyun commented on #3739
Hello @kfirfer, could you provide a little more information about your stack? Let's make sure you run a single instance of the compactor. And also this could happen when compactor hasn't finished its run. Do you see any unexpected shutdown for the compactor process?

[2021-02-10 11:22] shaikatz commented on #3742
Our architecture has one root querier, which is connected to queriers in multiple clusters.
For example we have clusters named: `clusters1, cluster2, cluster3` each of them as the corresponding external labels `cluster="clusterName"`.
Now let's assume cluster3 stores are down.
We sent a simple query, for example: `up{cluster="cluster1"}

The answer from that query will have the `no-store` header e

[2021-02-10 11:48] kakkoyun commented on #3725
No objections here. It's already been more than a week since you opened this issue.
What do others think @thanos-io/thanos-maintainers?

[2021-02-10 11:51] kakkoyun commented on #3724
@SuperQ Can we close this? Has #3773 fixed the issue?

[2021-02-10 13:13] squat commented on #3725
big plus 1. we'll likely need to do some chasing down of things in the docs/website generation

[2021-02-10 13:54] pracucci opened #3781 "Per call objstore Upload/Get options"
### Is your proposal related to a problem?

Cortex uses on Thanos objstore clients. Cortex needs to build per-tenant S3 encryption key support and would like to avoid to create a new S3 client for each tenant: having a single S3 client allows to reuse S3 connections.

### Describe the solution you'd like

The Thanos S3 client allows to config the `SSEConfig` at client creation time. In order to re

[2021-02-10 14:53] prmsrswt commented on #3725
And the CI config as well. Let's do this :+1:

[2021-02-10 15:24] rbounds commented on #3750
@kakkoyun No, I've not tested this. It appears that #3773 fixes really addresses #3724 and this issue is still outstanding.

[2021-02-10 15:43] SuperQ commented on #3750
@kakkoyun It's needed in addition to a fix for why the `no-compact-mark.json` file is being igored.

[2021-02-10 16:09] yeya24 commented on #3742
@shaikatz Is this case you mentioned valid? Is this reproducible? Ideally, if_ you already set `cluster="cluster1"` in your query, then by external label matching, the querier will only query clusters1 store. So no matter cluster3 is down or not, it doesn't affect the result.

[2021-02-10 16:34] shaikatz commented on #3742
I'm not sure why, but I cannot reproduce that.
You can close that for now.

[2021-02-10 19:15] bwplotka commented on #2295
Ups, was closed, but I don't think this is resolved.

[2021-02-10 20:19] GiedriusS opened #3782 "Replace go-bindata with a better alternative"
### Is your proposal related to a problem?

We currently use `go-bindata` and it is not maintained. Also, another (kind of unrelated) problem is that we capture the modification time of files hence we cannot run `make assets` on each build otherwise we'd pollute the commits.

### Describe the solution you'd like

Prometheus and other related projects use `vfsgen`: https://github.com/prometheus/pro

[2021-02-11 07:05] prmsrswt commented on #3742
Thanks for the confirmation @shaikatz, I am closing this for now then.

[2021-02-11 07:05] #3742 closed

[2021-02-11 08:51] #3412 closed

[2021-02-11 10:56] bwplotka commented on #3781
Just to continue our discussions from Slack.

I love this direction. Ideally, it would be awesome if the implementation (fact that it is S3 or not) does not leak from `objstore` at all.

Wonder only what's the difference between `WithOptions(objstore.Bucket)` and some Wrapper in `objstore` package that can use context passed values (private to objstore)

[2021-02-11 11:55] pracucci commented on #3781
We discussed this in the [2021-02-11 contributor office hour](https://docs.google.com/document/d/137XnxfOT2p1NcNUq6NWZjwmtlSdA6Wyti86Pd6cyQhs/edit) and decided to start simple, with an exposed context key defined in `pkg/objstore/s3/` which allows to override the SSE config.

[2021-02-11 16:27] pracucci opened #3784 "Object store clients: List() recursively"
### Is your proposal related to a problem?

Cortex internally uses the Thanos objstore clients. We have an use case for which we need to list objects recursively, basically setting `delimiter=""` instead of the default `delimiter="/"`.

### Describe the solution you'd like

I'm proposing to extend `objstore.BucketReader` interface adding the following:

[code]

### Describe alternatives you've con

[2021-02-11 19:40] ncastrocosta opened #3785 "[Store] - Thanos Store taking too long to be ready"
Thanos: 0.14

**Object Storage Provider**: S3

**What happened**:

I have Thanos deployed in two EKS clusters, each in a region (us-east-1 and us-west-2). And by chance I have noticed the Thanos Store pods are taking more time to be ready in us-west-2 region than in us-east-1. For both clusters, the memory/cpu allocated are the same, as well as the working machines types.

So, for example, in us-w

[2021-02-12 02:55] evoicefire opened #3787 "sidecar: Timeout on high latency links"
**Thanos, Prometheus and Golang version used**:

Version: v0.15.0

**Object Storage Provider**: GCS

**What happened**: On some queries the sidecar closes connections (nginx 499 errors and envoy_proxy http2_client reset errors). This only seems to happen to storegateways that are connected over high latency links (1000ms+) the configuration is identical otherwise.

The sidecar storageapi/object st

[2021-02-12 07:17] johannesfrey commented on #3712
Hi @kakkoyun, thanks for your reply. I further experimented with changes and just created https://github.com/thanos-io/thanos/pull/3788. If that's ok, could we also discuss details on the PR. If not I could, of course, also open an issue.

[2021-02-12 07:19] kakkoyun commented on #3712
@johannesfrey Amazing, thanks! The PR sounds good to me.

[2021-02-12 07:37] pstibrany commented on #3784
Sounds like a nice extension to me (and something that we already use in Cortex, although not with Thanos bucket reader). Instead of hardcoding empty-delimiter, we could allow passing arbitrary delimiter, but support from various implementations may not be there.

I like this option: It would stay just `Iter`, which is nice – no need to introduce new method, and no change required for existing cal

[2021-02-12 07:54] pracucci commented on #3784
Minio doesn't allow it. Reason why I proposed `Recursive bool` (which would be supported by all backends as of today).

[2021-02-12 08:48] kakkoyun commented on #3436
@diemus Do you think it is worth adding that code piece as a tool until we find the cause and fix the issue?

[2021-02-12 08:53] kakkoyun commented on #3719
Hey @IbraheemAlSaady, what is exactly the expected behaviour here? We don't use anything fancy for TLS, it's good old Go standard library. I believe either you're missing a configuration or you have a problem with your certificates. Could you please check?

[2021-02-12 09:05] kakkoyun commented on #3511
Still valid. Need investigation.

[2021-02-12 09:08] kakkoyun commented on #3571
Still valid.

[2021-02-12 09:08] kakkoyun commented on #3555
Still valid.

[2021-02-12 09:22] kakkoyun commented on #3548
@midnightconman How about watching the file changes and updating accordingly?

[2021-02-12 09:24] kakkoyun commented on #3726
Sorry for the late response @sepich, is this still an issue with the latest Thanos version?

[2021-02-12 09:28] kakkoyun commented on #3150
@gburek-fastly Have you observed any improvements after #3500?

[2021-02-12 09:30] kakkoyun commented on #3150
Just as a stopgap solution, have you tried to utilize a shared cache (memcached)?
And one last question do you run compactor? If so how does your config look like?

[2021-02-12 09:37] kakkoyun commented on #3747
Hey @DadaHiT, thanks for reporting it seems like there is an issue with your object store connection. Could you please provide more information on it?

[2021-02-12 09:48] kakkoyun commented on #3711
Hey @diemus, could you please share your compactor configuration? And also have you tried with the latest version of Thanos?

[2021-02-12 09:51] kakkoyun commented on #3749
Hey @rdzimmer, is this still an issue with the latest Thanos version? We have made some improvements for compactor since 0.14.0 and we still have ongoing work in the pipeline.

[2021-02-12 09:52] kakkoyun commented on #3721
Hey @qube222pl, could you please share your compactor configuration?

[2021-02-12 09:55] kakkoyun commented on #3753
Happy that everything works now @mveroone. If you prefer you can create an issue regarding your suggestions on the sidecar.
Closing this one for now.

[2021-02-12 09:55] #3753 closed

[2021-02-12 09:56] kakkoyun commented on #3720
Hey @yanc0, is there a way to reproduce this for us?

[2021-02-12 09:59] kakkoyun commented on #3716
Thanks, @ethernoy for reporting. We need to investigate and validate. Help wanted and PRs are welcome.

[2021-02-12 10:01] kakkoyun commented on #3787
Hey @evoicefire, Thanks for reporting. Could you share your querier configuration? And have you tried to adjust the timeout values for querier?

[2021-02-12 10:05] kakkoyun commented on #3576
Thanks, @zecke for the detailed explanation.

The changes such as this require [a proposal ](https://github.com/thanos-io/thanos/tree/master/docs/proposals). We'd be happy to review proposed improvements. So help wanted and PRs are welcome.

[2021-02-12 10:15] kakkoyun commented on #3488
Hey @squat, do you have ideas about this? I'd appreciate some pointers?

[2021-02-12 10:17] kakkoyun commented on #2982
Hey @yuzijiang718, as suggested above have you tried to allocate more resources?

[2021-02-12 10:26] qube222pl commented on #3721
Current configuration:
-----------
thanos compact
--http-address=0.0.0.0:10903  --data-dir /srv/data/compact
--objstore.config-file=/etc/prometheus/thanos/bucket.yml
--retention.resolution-raw=0d --retention.resolution-5m=0d --retention.resolution-1h=0d
--consistency-delay 0s --delete-delay=2h
--wait --wait-interval=5m
-----------
All fresh blocks from Prometheus , are compacted correctly and have

[2021-02-12 10:40] mveroone commented on #3721
Hey @kakkoyun  I believe it happens with the default configuration.
here's mine :
[code]
Which created the same pattern as @qube222pl

[2021-02-12 10:41] squat opened #3791 "Receiver: non strict replication mode"
Implement a non-strict replication mode where only one replica in the hashring is required to ack a request before returning a 200 to the client, no matter the replication factor. This allows for optimistic replication, which decreases the durability guarantee in cases of catastrophic loss of a replicaw's disk, while offering the trade-off of speeding up requests for clients.

WDYT @thanos-io/than

[2021-02-12 11:30] squat commented on #3488
This is actually good and expected behavior. The same time series should always hash to the same node in a hashring of a given size. This means that for a given set of time series, a hashring should always expect roughly the same load distribution.

The fact that one replica sees consistently higher load than the others is most likely due to some inherent lumpiness in the time series being sent. T

[2021-02-12 11:45] pracucci commented on #2805
From a quick look at Minio internals (very quick), I suspect this the case as well.

[2021-02-12 12:12] sepich commented on #3726
Result for latest v0.18.0 is above.
Anyway i've retested with `thanosio/thanos:master-2021-02-11-7b09e30c` and memory is leaking to 24Gb even faster.

[2021-02-12 12:22] kakkoyun commented on #3488
Thanks, @squat taking the time write such a comprehensive comment. I'm thinking right now to convert this to a discussion to guide users who have similar questions. WDYT?

Further more, I liked the proposal we can create an issue for it if it's a needed feature. WDYT @heartTorres?

[2021-02-12 12:25] kakkoyun commented on #3726
Thanks again. We're going to dedicate something to investigate this.
We had a similar issue but I thought we had fixed it. Anyways we'll check it out. Feel free to give us a hand, so help wanted.

cc @squat @bwplotka

[2021-02-12 12:36] flarno11 commented on #3471
We've upgraded to 0.17.2 to fix the WAL replay issues, but now we are also facing a dramatic increase of memory usage:
![Screenshot 2021-02-12 at 13 33 01](https://user-images.githubusercontent.com/14069207/107768674-1e112100-6d37-11eb-879e-6f96f5516858.png)

We had to double the system memory from 64GB to 128GB to stop OOM kills.

[2021-02-12 13:23] squat commented on #3488
yes I think any guide for users would be super helpful :+1:

I'll go ahead and submit an issue for the feature :rocket:

[2021-02-12 13:30] squat opened #3793 "Receiver: improve uniformity of load distribution across replicas"
https://github.com/thanos-io/thanos/issues/3488 describes an issue from a Thanos user that we have also seen in production at Red Hat. At its core, the load distribution for the ingestion of series in a Thanos receive hashring is not guaranteed to be uniform, and in some cases can be very uneven.

### Background
The fact that one replica sees consistently higher load than the others is most likely

[2021-02-12 14:03] #3488 closed

[2021-02-12 17:09] bwplotka commented on #3782
I believe there might be a better way: Go 1.6 has a native solution for this: https://golangtutorial.dev/tips/embed-files-in-go/ `go:embed`

WDYT? 🤗

[2021-02-12 17:25] bwplotka commented on #3784
I think I would vote for this. The same method, just implementations has to be adjusted.

[2021-02-12 17:28] bwplotka commented on #3784
Thank you for the amazing overview of all implementations. Happy to add recursion to APIs in such way `objstore.WithRecursiveIter()` or something.

[2021-02-12 17:29] kakkoyun commented on #3471
Has anyone tested their stack against the latest stable v0.18.0? Do still have this issue? (probably we have just to make sure)

[2021-02-12 17:30] bwplotka commented on #3793
I like it, but would be nice to understand tradeoffs and challenges. One of those would be an increased share-ability of data across receive nodes: We will distribute more having potentially hundreds of TSDB instances per receiver in case of 100 tenants, right?

[2021-02-12 17:31] bwplotka commented on #3791
I like it, but I think we can already to this with the quorumWrite=1 option (or something like this? 🙈 )

[2021-02-12 17:31] kakkoyun commented on #3726
Possible duplicate of #3471

[2021-02-12 17:52] svenwltr commented on #3471
Yes. See `thanos --version` https://github.com/thanos-io/thanos/issues/3471#issuecomment-773190157 at the bottom.

[2021-02-12 18:40] squat commented on #3793
I don't think there is really any negative trade-off here. We already expect every receive node in a hashring for a tenant to have a TSDB open for that tenant. This is because it is almost 0% likely that 0 time series would get hashed to one node for any serious load other than degenerate cases like the extreme example posed above, which are be normal. So, we would not expect the number of TSDBs p

[2021-02-12 18:43] squat commented on #3791
We don't have a something like a `quorum` setting yet, and this is not quite the same thing as setting replication-factor=1, which means that the time series only ever gets sent to one replica and that's it. Using non-strict mode would mean that only one replica needs to ACK the write before we send a 200 to the client, but the time series would still get sent to all of the replicas dictated by th

[2021-02-12 21:11] bwplotka opened #3797 "query-frontend: Instant queries with large time range are not splitted."
This cause some latency differences between:

1. query instant: `avg_over_time(count(group(subscription_labels{ebs_account='6356154'}) by (_id,ebs_account)) by(ebs_account)[6d:300s])` for huge cardinality query takes 95s

![image](https://user-images.githubusercontent.com/6950331/107822778-90edbc80-6d76-11eb-8cde-4d45f1c511e6.png)

2. Query range for 6d 300s step (so some query kind of, just witho

[2021-02-13 05:26] evoicefire commented on #3787
Hi @kakkoyun
Sure it is below. I have tried setting the timeout values to no effect (it seems the client is terminating the connections ie. sidecar ).

`query --log.level=info --grpc-address=0.0.0.0:10901 --http-address=0.0.0.0:10902 --query.replica-label=replica --query.timeout=5m --store.response-timeout=5m`

I've excluded the store definitions for the querier as there are many of them.

[2021-02-13 07:36] #3056 closed

[2021-02-13 07:36] #3163 closed

[2021-02-13 12:27] Debanitrkl commented on #3435
@bwplotka I would like to work on this, also previously I have worked with gRPC. Could help me with where I should begin with I was  going through the contributor office hours but I think it's not updated since few days.

[2021-02-13 12:33] goku321 commented on #3435
Hi @Debanitrkl I know I'm taking a bit of time on this but I am very close to finish this one 😅

[2021-02-13 12:55] squat commented on #3793
One drawback that does occur to me is that when querying for a single time series, queries will need to load data from all receivers in the hashring. Normally, all samples for a time series would be on one single replica, or three replicas would contain all samples of replication-factor=3. Now, all replicas will likely contain *some* samples from a single time series though none of the replicas wi

[2021-02-14 09:57] kesor commented on #1598
How exactly is this doable? Is there a link to the documentation of how to do `delete_series` using `thanos tools rewrite`? Have been finding plenty of issues asking for this feature, and now it says its "done", but there is zero information on how to actually do it.

[2021-02-14 10:23] Biswajitghosh98 commented on #3250
Hi @yashrsharma44
I did spend some time in the last few weeks understanding the codebase. Let me know if you need help in the compactor and/or store components specifically :)

[2021-02-14 12:07] diemus commented on #3436
@kakkoyun I think it might help people who does not know how to run that code piece. as it for now, users can not find another way to delete expired blocks when compactor does not work as expected

[2021-02-14 12:13] diemus commented on #3711
@kakkoyun  no special configuration for compactor, I'm using 0.17.0, it's the latest version at that time

[code]

[2021-02-14 13:12] thisisobate commented on #3250
So I took a look at the placeholder PR @yashrsharma44 created which is looking great.
I figured the easiest way we can collaborate on this is probably via Google docs.

Just like I mentioned above, I think it would be nice if we continue with @khyatisoneji work.
Link to the docs [here](https://docs.google.com/document/d/1hluKPDKsSdOqcCpOnzr7-4PxLnUtrCl5d4-TVGch_D4/edit?usp=sharing).

I also figure

[2021-02-14 15:42] yashrsharma44 commented on #3250
Nice, I think we can ask @kakkoyun @bwplotka to comment on the docs, and once we agree on the content and structure, I will make a PR for the same - https://docs.google.com/document/d/1hluKPDKsSdOqcCpOnzr7-4PxLnUtrCl5d4-TVGch_D4/edit#

[2021-02-14 15:44] yashrsharma44 commented on #3250
I did spend some time in the last few weeks understanding the codebase. Let me know if you need help in the compactor and/or store components specifically :)

Feel free to add in details about the Compactor/Store that you have in the docs, would be nice to have it before we merge it as a PR :100:

[2021-02-15 03:43] siddhartha97 commented on #3782
Hey, can I work on this issue? :)

[2021-02-15 07:58] Reamer commented on #1014
This issue is still needed.
@bwplotka it would be nice if Thanos would implement the 99% solution.

[2021-02-15 08:26] george-angel commented on #985
remove stale

[2021-02-15 13:08] brancz commented on #3761
I don't see how this is more like the pushgateway API. I agree this should be remote-write, as @metalmatze reiterated. (not necessarily a good argument but Cortex does the same)

[2021-02-15 14:08] brancz commented on #3793
We have a rather naive distribution hash right now. I feel like experimenting with a variety of hashes might be a higher win. Would it be possible for you to record the label-sets of your active series and use that dataset as a basis for experimentation before we think about introducing randomness?

[2021-02-15 14:27] rdzimmer commented on #3749
Hi, I'm running the RedHat Observatorium, so I'm limited to the version it is using.
After talking with @bwplotka I am hoping the issue was the very short 5m downsampling retention, which I had set to 14d.  My understanding is since the 1h downsampling only runs against 10d+ large buckets, with a 14d retention the 5m buckets were likely not getting large enough.  I've rebuilt with 32d for raw and

[2021-02-15 14:49] wiardvanrij opened #3803 "Thanos store - fatal error: invalid runtime symbol table"
Thanos 17.2

Store component

Following trace received:
[code]

I don't have that much more information. I've been running this version (17.2) since the day it got released and never got this error before. Just wanted to share this.

[2021-02-15 15:25] squat commented on #3793
By experimenting with hashes do you mean experimenting with different hashing functions? Or with adding more data to the hash?
I see two orthogonal issues here:
1. the hash's distribution; maybe xxhash is fast but not well distributed compared to other hashes?
2. the underlying lumpiness of the data; how many different time series are we sending? And specifically how many time series with heavy lo

[2021-02-15 16:02] GiedriusS commented on #3782
Sure, feel free. The `embed` package looks great, we should try it.

[2021-02-15 17:07] longngn commented on #3301
@songleo  @kakkoyun I can't reproduce this error. Whenever Thanos compact start with an invalid bucket config file, it terminates immediately.

command:

[code]

bucket.yaml

[code]

log:

[code]

[2021-02-15 18:33] bwplotka commented on #3803
sweet (:

[2021-02-15 18:35] bwplotka commented on #3803
This is weird. What happened when you spot this? Was it restart? It looks weird, like Linux signal from outside caused this. 🤔 Any ideas what could that be? Was it K8s environment?

[2021-02-15 18:43] bwplotka commented on #3803
Connected but totaly ignored by Go team: https://github.com/golang/go/issues/30092

[2021-02-15 21:24] #3781 closed

[2021-02-15 23:20] markmsmith commented on #903
I'm still interested in this feature.

[2021-02-16 03:29] juiceblender commented on #3225
Hello kakkoyun, it would still be ideal if it came but for now we're manually rolling our keys.

[2021-02-16 12:09] wiardvanrij commented on #3803
It was indeed on Kubernetes.
Tbh I tried to fetch more data but I've done some new releases and that kinda ruined my ability to do further debugging. I kinda lost my pointers / examplars ^^ (Our stack is still very much work in progress lol).

Sorry

[2021-02-16 18:01] andrejbranch opened #3806 "Compact all available plans for a single group concurrently"
### Is your proposal related to a problem?

We are trying to scale the cortex compactor and we have a really large tenant that continues to grow. One problem I noticed is if the compactor fails for some reason and falls way behind it will still only compact 1 set of overlapping blocks at a time instead of concurrently compacting all known overlapping blocks.

### Describe the solution you'd like

[2021-02-16 18:02] andrejbranch commented on #3806
PR for proposed changes https://github.com/thanos-io/thanos/pull/3807

[2021-02-16 22:01] idoqo commented on #3435
Hi @bwplotka, since @goku321 is already working on this, is the related LFX mentorship task ([Thanos: gRPC Exemplars API](https://mentorship.lfx.linuxfoundation.org/project/7ce99708-8ead-40df-ba12-6ed02f639c04)) still valid?

[2021-02-16 22:36] gburek-fastly commented on #3150
@kakkoyun with 0.18.0, I have seen a reduction in startup time of store from approximately 2*N to N where N is the block count.

Our block count (with store ` --max-time=-170h`) is:

[code]

With 0.17.2: `ts=2021-02-16T20:29:06.957979067Z caller=store.go:332 msg="bucket store ready" init_duration=40m19.691307451s`
With 0.18.0: `ts=2021-02-16T21:00:20.674829232Z caller=store.go:332 msg="bucket stor

[2021-02-17 00:45] gburek-fastly commented on #3150
Looking more at logs, the bulk of the improvement is in https://github.com/thanos-io/thanos/blob/v0.18.0/pkg/block/fetcher.go#L437-L442

0.17.2: `ts=2021-02-16T20:33:31.264784686Z caller=fetcher.go:458 component=block.BaseFetcher msg="successfully synchronized block metadata" duration=13m29.266629999s cached=39429 returned=26909 partial=68`
0.18.0: `ts=2021-02-16T20:04:53.292830948Z caller=fetcher

[2021-02-17 00:45] #3150 closed

[2021-02-17 12:27] Namanl2001 commented on #3779
If nobody is working on this then I and @Abhishek357 wants to take this up.

[2021-02-17 14:38] yeya24 commented on #3779
@Namanl2001 That would be great! It would be easier to start with the first and the second point.

[2021-02-17 17:32] sjentzsch commented on #660
We require full alert relabeling within Thanos Rule.
To move forward, we would consider a contribution, but would need some assistance/guidance on how to move forward.
Maybe @bwplotka , how would you proceed or what would you suggest as next step?

[2021-02-17 18:03] brancz commented on #3793
Can you explain what a single time-series that is 10000x more expensive than others looks like? 10000x more samples per second, or what kind of other characteristics? Even if outliers like that exist it sounds to me that they should be breaching some limit and Thanos simply doesn't accept them (we don't have limiting mechanisms like that today but I think it would make sense to have them).

[2021-02-17 18:14] squat commented on #3793
yes exactly

this is one of the examples I was describing. Thanos has no abuse limitation mechanisms, but even if it did, this is not necessarily abuse. What if it's legitimate traffic? Essentially, thanos receive can in many cases have bad load balancing.

Yes, bwplotka comment is correct but I think it's not directly related to this issue: if a hashring handles 100 tenants, then the each replica

[2021-02-17 18:59] longngn commented on #3571
@bwplotka I'm looking into this issue. However, I stumbles across some problems:

1. Does Prometheus `/api/v1/series` API guarantee to return sorted labels?
2. Even if the API returns sorted labels, JSON spec and `encoding/json` package don't guarantee object ordering (see more: https://github.com/golang/go/issues/27179)

[2021-02-17 19:18] bistaastha commented on #3434
Hi. I will be working on this :)

[2021-02-17 19:22] yeya24 commented on #3434
@bistaastha That would be great! Please let me know if you have any questions.

[2021-02-17 19:36] prmsrswt opened #3811 "ui: Update dependencies for the React UI"
The node dependencies are quite out-of-date for the React UI, let's update to the latest version we can without breaking anything.

[2021-02-18 03:23] LuChenjing commented on #3745
@kakkoyun Sure, I found the issue shown above "critical error detected" is because of I got blocks with same timestamps and external labels. Will correct the labels and try it again.

[2021-02-18 03:29] #3485 closed

[2021-02-18 05:14] hitanshu-mehta commented on #3373
I think I can work on this issue with some guidance. Can you please assign me if nobody is working on this?

[2021-02-18 07:52] kimabd commented on #2982
Hello,I'm using same configuration and I have increased memory up to 8Gb(before thanos launch prometheus has 4GB for 30d retention).
I have same errors like above(memory become full), on S3 there is only 1.5Gb of metrics data.

[2021-02-18 09:35] FUSAKLA commented on #3556
Still valid, I managed to add the support to the library ended up with a new major release.
I'll send a PR for upgrade here

[2021-02-18 09:47] #2622 closed

[2021-02-18 12:21] ahmednasir91 commented on #3220
@kakkoyun sorry for late reply, i got swamped with work and couldn't really complete it.

[2021-02-18 12:43] nightvisi0n commented on #3033
I also experienced the same issue in our thanos deployment.

thanos args:
[code]

The single store dns entry is pointing to 5 different IPv4 addresses. All of them serve the same thanos sidecar (k8s NodePort).
Let me know if you need more information.

[2021-02-18 13:56] saswatamcode commented on #3811
I would love to take this up! This issue would involve upgrading all deps to their latest releases and dealing with any code changes that requires, right?

[2021-02-18 16:03] bwplotka opened #3812 "Experiment with single Append Prometheus method is blocking us or not."
Ref: https://github.com/prometheus/prometheus/pull/8489#issuecomment-781442995

[2021-02-18 17:18] ruddi10 commented on #3811
@prmsrswt  can I work on it?

[2021-02-18 17:28] prmsrswt commented on #3811
@saswatamcode yep that's exactly what is needed.

@ruddi10 Let's wait for @saswatamcode first and try to not have duplicated effort.

[2021-02-18 17:29] prmsrswt commented on #3219
@ruddi10 sure, there's some on-going work around this issue so just keep those in mind.

[2021-02-18 17:35] ruddi10 commented on #3219
@prmsrswt  There are no linked pull requests with this issue. So if you can please tell me what all is completed

[2021-02-18 17:47] prmsrswt commented on #3219
There's this PR which handles quite a few of them: https://github.com/thanos-io/thanos/pull/3467

[2021-02-18 17:57] prmsrswt commented on #3216
Closing this as this was fixed in #3647

[2021-02-18 17:57] #3216 closed

[2021-02-18 18:24] prmsrswt commented on #3641
I agree with Bartek. The specific case you are pointing to already has issue #2622 that is already closed (by #3798), so I am closing this issue for now as well as I think we don't have anything actionable here now. Let's reopen it if that's not the case.

[2021-02-18 18:24] #3641 closed

[2021-02-18 18:37] zkkxu commented on #3765
hi, we faced the same problem. But I think the root cause is the thano-receive doesn't have rate-limiting.

[2021-02-18 19:46] prmsrswt commented on #3782
The `embed` package looks interesting but there is a slight difference in the approach with the `embed` package. With `go-bindata` you create the `bindata.go` file before running `go build`, which means that you don't need the actual files to successfully build the binary, you just need the generated `bindata.go` file. But `go:embed` directives work during the build phase, this means that every ti

[2021-02-18 19:52] #3709 closed

[2021-02-19 06:42] prmsrswt commented on #3220
No problems @ahmednasir91. Are you planning to continue your work on this or is it fine if somebody else takes this over?

[2021-02-19 06:56] saswatamcode commented on #3811
@prmsrswt would love it if you can take a look at this and suggest some changes. I've upgraded the dependencies as much as possible, but some tests fail due to the upgrades and I'm not familiar with the testing architecture of the project yet. Also certain caveats exist due to these changes.

[2021-02-19 16:34] heyitsmdr commented on #3016
We're looking for this feature as well. For now, we are relying on a kube load balancer.

[2021-02-19 21:10] #3651 closed

[2021-02-20 18:29] longngn commented on #3782
It sounds great. So I just went ahead and make a PR. Although there's still a blocker from upstream Prometheus image not bumping to 1.16 yet.

[2021-02-20 19:58] dswarbrick commented on #3806
This topic interests me, as I've often watched a thanos compactor plod its way through catching up on compactions / downsampling, and wondered why it seems to do a lot of unnecessary work.

For example, assume that the compactor has fallen behind, and you have five 8h blocks, and four (or more) 2h blocks. Theoretically, the compactor could download all those blocks and spit out a 2d block directly

[2021-02-21 22:29] dswarbrick commented on #3416
Has anyone considered using [UploadPartCopy](https://docs.aws.amazon.com/AmazonS3/latest/API/API_UploadPartCopy.html) to do server-side concatenation of blocks during the compacting phase?

From the docs:

[2021-02-22 07:59] #3628 closed

[2021-02-22 08:57] wiardvanrij commented on #3668
Still needed

[2021-02-22 08:57] wiardvanrij commented on #3666
Still working on it

[2021-02-22 08:57] wiardvanrij commented on #3667
Still needed

[2021-02-22 08:59] yashrsharma44 commented on #3776
I have [added](https://github.com/thanos-io/thanos/pull/3817/files#diff-eca12c0a30e25b4b46522ebf89465a03ba72a03f540796c979137931d8f92055R216) some documentation for running tests, let me know if you need anything more on the docs - @Chans321

[2021-02-22 12:53] brancz commented on #3793
Actually I was thinking about the 10000x more samples per second case, and since the chunks get mmapped immediately when 120 samples are full, this shouldn't actually have the effect described. Do you have a dataset that can be shared that reproduces the effect you are aiming to solve? I think if we had that we could be much more systematic about solving it than hypothesizing about problems and so

[2021-02-22 13:00] brancz opened #3819 "Thanos receive per tenant limits"
### Is your proposal related to a problem?

If writing untrusted data to a Thanos receive cluster, you want to be able to limit the damage that can be done.

### Describe the solution you'd like

Allow configuring per tenant limits for:

* Active series
* Label-name length
* Label-value length
* Samples per second

### Describe alternatives you've considered

Doing this outside of Thanos, or not u

[2021-02-22 13:04] brancz opened #3820 "Zone aware replication"
### Is your proposal related to a problem?

Allow not just replication factor and quorum to be a deciding factor, but also that this quorum must be across availability zones.

### Describe the solution you'd like

Make Thanos aware of the availability zones receive nodes are in, and allow quorum to pass if and only if `ceil(replication-factor/2)` availability zones were successfully replicated to.

[2021-02-22 13:07] brancz opened #3821 "Allow using shuffle sharding"
### Is your proposal related to a problem?

To limit blast radius of a multi-tenant Thanos receive setup.

### Describe the solution you'd like

[Shuffle Sharing](https://aws.amazon.com/blogs/architecture/shuffle-sharding-massive-and-magical-fault-isolation/) would be useful to allow creating sub-rings within a hashring of receive nodes.

### Describe alternatives you've considered

Leaving as is,

[2021-02-22 13:36] brancz opened #3822 "Ability to require tenant in queries"
### Is your proposal related to a problem?

The most questions we get about Thanos are around multi tenancy, and I think it's worth considering that we could have more first class multi tenancy features. This is about the query path.

### Describe the solution you'd like

Allow (optionally via a flag) requiring the `THANOS_TENANT` header on queries against the querier, that enforces the query towa

[2021-02-22 13:44] clyang82 commented on #3765
We met the same problem I think. We lost 2 hours data periodically. from `thanos tools bucket web` we can see the line 4 6 9 are for the current tenant id. we can see that the data is discontinuous.
<img width="1671" alt="image" src="https://user-images.githubusercontent.com/7711311/108716041-93aa9780-7556-11eb-9ebf-9cd3af46d7f7.png">
the thanos version we are using is 0.15. we are using AWS S3 as

[2021-02-22 14:05] squat commented on #3793
An example of a user report can be found in #3488, as I mentioned at the top of the issue. Note that this is by no means just a question of TSDB load but importantly also a question of distribution of load in the HTTP and request processing layers in Thanos receive.

[2021-02-22 14:21] brancz commented on #3793
I'm not actually seeing any data validating the theory, the only data in that thread is memory usage. Your theory could be right, but it could just as well be a memory leak or something entirely different. The number of active series and samples per second on each receiver would be helpful to support the theory plus profiles of both processes.

[2021-02-22 14:23] brancz commented on #3793
@heartTorres would it be possible for you to supply us with this additional data?

[2021-02-22 14:25] kakkoyun commented on #3822
One other thing to consider is to have a special configurable `tenant` label. So we can support multi-tenancy more "natively". Store APIs can advertise these. And depending on the level of isolation you require, you can use querier for multiple tenants at the same time or you can create dedicated queries. This special label needs to be considered by any component that exposes StoreAPI.

[2021-02-22 14:29] kakkoyun commented on #3820
We could immediately benefit from it in our setup. We have been planning to support multi-cluster deployments.

[2021-02-22 14:36] brancz commented on #3822
That's actually really interesting, I had not thought about that! That way we wouldn't even have to parse the PromQL query but just do it at selection time. That indeed makes it much more efficient. I love it! More secure and more efficient! :D

[2021-02-22 14:40] roidelapluie commented on #3822
I think it is much easier to use a proxy for authentication that adds a http header than that alters a promql query to add a label.

[2021-02-22 14:41] brancz commented on #3822
Yep that's the idea of the first class feature! :)

[2021-02-22 14:57] brancz commented on #3821
I actually contributed to https://github.com/clickyotomy/go-shuffle-shard so that we don't have to reinvent all of this, and just wire it up with our existing hashring infrastructure.

[2021-02-22 15:14] kakkoyun commented on #3819
cc @spaparaju

[2021-02-22 17:30] bwplotka commented on #3821
Sweet 🤗

[2021-02-23 09:14] GiedriusS opened #3825 "Still flaky tests - random fail of swift e2e tests"
Swift e2e tests sometimes fail:

https://app.circleci.com/pipelines/github/thanos-io/thanos/5080/workflows/3140b9d7-5ca9-4842-bf1d-87504663e37c/jobs/13763

Investigate & fix.

[2021-02-23 10:10] hitanshu-mehta opened #3826 "Docs: Update Architecture overview diagram"
Request to add Query-frontend and Receiver in the [diagram](https://github.com/thanos-io/thanos/blob/master/docs/img/arch.jpg).

[2021-02-23 10:40] yanc0 commented on #3720
It's really hard to reproduce it I think. The GCS object storage contains ~9TB of blocks from multiple cluters.
Compactor works fine. There are 3 Stores with 20Gi of memory each.
Thanos does not seem to scale well if queries are requesting large window of time even if graphs are pretty simple (rate() of one metric for 6 months). Sorry but I don't have much information. We don't really know how to

[2021-02-23 11:10] hitanshu-mehta commented on #3797
@bwplotka I would like to work on this issue :)

[2021-02-23 13:33] kakkoyun commented on #3826
It'd be really nice to update those diagrams. Help wanted, so go ahead if anyone wants to do that :)

[2021-02-23 13:54] luizrojo commented on #3726
I am also facing this issue and same behavior, v0.16.0 fixes the possible leak.

As we can see below

<img width="2524" alt="Screen Shot 2021-02-23 at 10 49 37" src="https://user-images.githubusercontent.com/2788953/108852844-d905ae00-75c4-11eb-8af3-04f8efd49bea.png">

Until 9h40 all nodes were running v0.18.0, at this time I had all receive nodes restarted.

At 9h45 all nodes were back up, still

[2021-02-23 15:17] luizrojo commented on #3726
@bwplotka I believe something changed between 0.16.0 and 0.17.2 and then apparently got worse on 0.18.0.

On 0.17.2 we can see it takes longer to start building the memory usage, but it does start to increase, following the same behavior as 0.18.0.

I'll update one of the instance to the v0.19.0-rc.0 and get back to you with some more info.

Right now I got all nodes on v0.16.0 and memory is as st

[2021-02-23 15:25] bwplotka commented on #3726
I would start bisecting the commits between 0.17.2  🤗  that would be helpful.

[2021-02-23 19:20] luizrojo commented on #3726
I just ran a couple more tests and did not have to go very far on the image tags to notice a pattern change on memory consumption.

Here is a screenshot of the memory graphs, the green line is the test instance and the yellow line is the instance running 0.16.0.

The first 3 big slopes are version 0.17.0, 0.17.2 and 0.18.0 consecutively

Starting at 15h49 im using `master-2020-10-26-8447f621` the

[2021-02-24 07:40] #3784 closed

[2021-02-24 11:59] ichasco-heytrade opened #3829 "/thanos.Store/Info always get 404 beetwen different clusters"
Hi, I am getting errors using thanos with different k8s clusters.

I have 2 clusters. One is the main cluster with:
* Query
* StorageGW
* Compactor
* Prometheus + Sidecar

And another cluster with:
* Prometheus + sidecar

I am using `Istio` in both clusters. In the main cluster, works everything ok. But the problem is when the query tries to connect to second clusters thanos sidecar. It gives the

[2021-02-24 13:41] hitanshu-mehta commented on #3373
I have one question regarding first part of AC, i.e.

What approach everyone suggests? Should it be similar to cortex? ( which is as far as i understood 😅 , add a flag in querier `-querier.frontend-address` to connect it with frontend and querier will pull request from the frontend queue. )

[2021-02-24 13:44] roidelapluie commented on #3373
if you go for http, would it be something reusable for https://github.com/prometheus/prometheus/issues/8402 ?

[2021-02-24 14:44] rdzimmer commented on #3749
So far I'm having mixed results.

[2_bucket_inspect.txt](https://github.com/thanos-io/thanos/files/6036700/2_bucket_inspect.txt)
[3_bucket_inspect.txt](https://github.com/thanos-io/thanos/files/6036701/3_bucket_inspect.txt)
[14_bucket_inspect.txt](https://github.com/thanos-io/thanos/files/6036699/14_bucket_inspect.txt)
[env2.observability-observatorium-thanos-compact-0.20210224-092356-EST.zip](htt

[2021-02-24 15:09] bwplotka commented on #3806
@dswarbrick Yes, that's the naive planning Prometheus had, which we inherited. You are welcome to help to find something more scalable! Worked well so far thanks to being... simple! 🙃

The issue @andrejbranch mentioned might be different and we seen that too - it's very naive for overlaps too. Let's fix both!

Looking on your Pr @andrejbranch thanks for this work 💪🏽

[2021-02-24 15:19] bwplotka commented on #3667
Yes! Help wanted.

[2021-02-24 15:26] bwplotka commented on #3822
So essentially this proposes embedding prom-label-proxy. 🤔

So I don't think it's needed technically, it works just fine outside. However, agree that there is this perception and configuration complexity that makes people think Thanos is not multi-tenant. I think I would be fine to consider this.

I like the HTTP parameter idea more than fuzzy header. Parameter feels more "typed". I would only sug

[2021-02-24 15:29] roidelapluie commented on #3822
I think that it is the opposite of the original request, which is about requiring a http label. It would then work with any proxy, and not prom-label-proxy.

[2021-02-24 16:33] brancz commented on #3822
As @kakkoyun mentioned, with a tighter integration we could actually push it further down into the store API request and ensure it there, without even having to parse the query.

[2021-02-24 16:45] rickdonato opened #3830 "Hashring Config"
Is there a way to update the hashring via a environment var? From what I can see there is not.

[2021-02-24 16:56] Shini31 opened #3831 "Index cache validity for Query and Store"
### Is your proposal related to a problem?

I want to know which is the validity of the cache index for Thanos query and store.

Would it be possible to configure the validity of the cache as in Cortex

### Describe the solution you'd like

Add a new parameter for cache validity
e.g. --index-cache-validity (time in seconds)

[2021-02-24 18:07] bwplotka commented on #3471
Let's join discussions. We have a duplicate, We are investigating on https://github.com/thanos-io/thanos/issues/3726 more 🤗

[2021-02-24 18:07] #3471 closed

[2021-02-24 18:07] bwplotka commented on #3726
There are cool findings made by @svenwltr:
 https://github.com/thanos-io/thanos/issues/3471#issuecomment-773190157

[2021-02-24 18:38] bwplotka commented on #3373
Yes 🤗

[2021-02-24 20:24] kmai commented on #3677
I can confirm this is happening to me as well

[2021-02-24 22:11] GiedriusS commented on #2805
Should be fixed with https://github.com/thanos-io/thanos/pull/3795.

[2021-02-24 22:11] GiedriusS commented on #2128
Should be fixed with https://github.com/thanos-io/thanos/pull/3795.

[2021-02-24 22:14] GiedriusS commented on #3772
https://github.com/thanos-io/thanos/pull/3815 does this help with your problem?

[2021-02-24 22:34] abursavich opened #3832 "Remove module dependency cycle between Thanos and Cortex"
Following up here from a Slack conversation with @bwplotka (cc: @pracucci)...

## Summary of the issue

An old version of Prometheus pulled in `k8s.io/client-go@v12.0.0+incompatible`.
An old version of Alertmanager pulled in that version of Prometheus.
An old version of Cortex pulled in that version of Alertmanager.
An old version of Thanos pulled in that version of Cortex
A newer version of Corte

[2021-02-24 22:40] roidelapluie commented on #3832
Another idea is to add to go.mod of cortex and thanos:

[code]

[2021-02-24 22:41] roidelapluie commented on #3832
This what we have done in Prometheus. I am wondering if all of this is yet another fallout of Prometheus removing the vendor/ directory.

[2021-02-24 22:58] abursavich commented on #3832
An exclude block like that good for when you want to do `go get -u ./...` to update your dependencies and stick to `k8s.io/client-go@v0.x`.

Once you pick up a transitive dependency on `k8s.io/client-go@v12.0.0+incompatible`, then it's virtually impossible to exclude your way out. The go tool will just pick the next commit after `k8s.io/client-go@v12.0.0+incompatible`.

[2021-02-24 23:21] roidelapluie commented on #3772
Can that be because of the  metric metadata being sent (Prometheus 2.23)?

Can you try Prometheus 2.24 with:
[code]

in your remote write config?

[2021-02-25 05:19] abursavich commented on #3832
Actually, it looks like there were changes made to the exclude directives in go 1.16: https://groups.google.com/g/golang-nuts/c/FAO6x5AhfPg/m/-Z5baPnLBQAJ

That might be enough for now... I'll do some tests.

[2021-02-25 10:01] #3345 closed

[2021-02-25 10:11] brancz opened #3834 "Multi tenant rule evaluation"
### Is your proposal related to a problem?

Scope individual rule evaluations to tenants.

### Describe the solution you'd like

Have a native solution (opt-in via a flag like `--multi-tenant`) that automatically evaluates rules scoped to a tenant. Ideally paired with #3822, as then the only thing needed for this is to set the multi tenancy header based on the tenant configured for a particular ru

[2021-02-25 11:22] bwplotka commented on #3832
Discussion during contributor hours:
* Stripping down cyclic modules to separate repo is the goal!
* Thanos imports Query Frontend and e2e part.
  * e2e should be easy. Re: https://github.com/efficientgo/tools/pull/5 - @pracucci mentions it might be ok as long as there is control over it, question is: Where would be the good repo place? Shared API/lib?
  * Experimentation phase -  we don't want to

[2021-02-25 11:26] bwplotka commented on #3834
Discussions on Contributor Hours:
* Wonder, how is this related to Stateless Ruler epic.

How this is different to tenant label injected to rule by user? I guess it's just automation for that?

[2021-02-25 11:28] bwplotka commented on #3834
Also with https://github.com/thanos-io/thanos/issues/3822 fixed isolation would be enforced by querier on request, so the only thing might needed is just making sure the header/param is filled on ruler calling side

[2021-02-25 11:54] bwplotka commented on #3779
From Contributor Office Hour: Why porting LabelValues matchers, how it's improving performance?

Reason:
1. First: Isolation. Our multitenancy querying pattern is based on injecting label-matcher for `tenant` label which is usually part `external labels`.
2. Performance: You can return less data.

[2021-02-25 11:58] brancz commented on #3834
Yes that's what I said in the issue description.

[2021-02-25 12:00] bwplotka commented on #3831
👋🏽
For store we have lot's of `_ttl` options: https://thanos.io/tip/components/store.md/#caching-bucket
Similar for Query Frontend: https://thanos.io/tip/components/query-frontend.md/#caching

Let us know if that works, if not, we can reopen! 🤗

[2021-02-25 12:05] bwplotka commented on #3830
👋🏽  Thanks for asking!

What do you mean by `update`? Do you specifically mean dynamic change, or just starting up?

If the latter you can update it via file or directly passing multi-line string to flag:

[code]
If you use Kubernetes you can use `$(VAR)` pattern to fetch something from env var, if not then you might need sidecar e.g

Separate proposal would be to allow our `pathorcontent` flag to

[2021-02-25 12:08] bwplotka commented on #3829
Thanks for asking!

Wonder if the problem is not that you have configured istio to target the HTTP port not gRPC port? `"thanos-dev.example.com:80" `

I would suggest two routes one for HTTP and one for gRPC, or just gRPC one 🤗

[2021-02-25 12:12] bwplotka commented on #3834
Right, makes sense to me then, thanks for proposing. LGTM, let's discuss on https://github.com/thanos-io/thanos/issues/3822 on details (header/param and external labels/tenant abstraction)

As agreed: By default non-tenant model, opt-in for build isolation and security.

[2021-02-25 12:21] bwplotka commented on #3822
Thoughts on contributor hours from @brancz We can make it more efficient with selectors on already parsed queries etc, no need to work around. More efficient, simpler and more secure.

Other potentially orthogonal discussion:
* Separating data from the environment. metadata, tenancy.
   * Potentially leaking abstractions: It hasn't bitten us much, but it might in the future!
   * List pros and con

[2021-02-25 12:22] bwplotka commented on #3822
Open question: Header vs Param?

[2021-02-25 12:25] roidelapluie commented on #3832
who owns github.com/corthanos ? ;)

[2021-02-25 12:25] bwplotka commented on #3822
As agreed offline, looks like header is what people consistently use for this kind of metadata - we can make sure it's versioned and somehow typed (has proto for it?) as well.

[2021-02-25 12:28] bwplotka commented on #3785
Hi! This depends on data size indeed. More blocks, means more `index-header` (on-disk cache) to be created on start. This should actually be visible for only first startup as long as you have a PVC for such pod. 🤗

Some mitigations are possible e.g Thanos store [sharding](https://thanos.io/tip/thanos/sharding.md/)

Some related issues: https://github.com/thanos-io/thanos/issues/3150

[2021-02-25 12:30] bwplotka commented on #3758
Thanks for reporting!

Question: What object storage are you using then? AWS S3, s3fs and filesystem type, or Open Telekom Cloud OBS (S3)?

[2021-02-25 12:31] bwplotka commented on #3758
Oh I see: `  - "--objstore.config={type: FILESYSTEM, config: {directory: /longterm-storage}}"`, why not S3 directly?

[2021-02-25 12:34] sfhl commented on #3758
Sadly we have to use it this way (for now)
We are using OBS mounted via s3fs.

[2021-02-25 13:16] bwplotka commented on #3832
ME!

[2021-02-25 13:16] bwplotka commented on #3832
Want to own too? (:

[2021-02-25 13:18] Shini31 commented on #3831
Thanks for the links !

II'm going to do some tests.

[2021-02-25 13:19] ichasco-heytrade commented on #3829
Hi @bwplotka

Yes, finally I solved exposing the service as `NodePort` with gRPC port (without istio)

Prometheus deployment values.yaml:
[code]

And with `external-dns` creates a DNS record. With node IPs.

The connection between query --> sidecar must be done always by gRPC port isn't it?

Thanks!

[2021-02-25 13:19] #3829 closed

[2021-02-25 13:37] bwplotka commented on #3755
I wonder if there are appropriate host/node level mechanisms to apply instead of something on application level? (:

[2021-02-25 15:14] rickdonato commented on #3830
Thanks. To provide more clarity. I'm running Thanos in ECS, which I do not believe supports the $(VAR) pattern.
Therefore at the point I scale I will need to update the task def for the ECS service. Ideally it would be good to provide the config settings for the hashring via an env var.

[2021-02-25 15:34] kakkoyun opened #3835 "*: Flexible Multi-tenancy Data Model (?)"
Opening this issue to start discussing the details for supporting multi-tenancy (and other possible use cases) in a flexible way in Thanos using labels. This could evolve into a design document.

As @brancz introduced in several issues (https://github.com/thanos-io/thanos/issues/3834, https://github.com/thanos-io/thanos/issues/3822, https://github.com/thanos-io/thanos/issues/3819, https://github.c

[2021-02-25 21:13] StephaneBrillant opened #3837 "JSON logger with %v generate bad value"
At 2 places the `%v` macro is used with the logger and is not supported
https://github.com/thanos-io/thanos/blob/46d010638bbd7ef73fb9355a18f398cb3d99a7eb/cmd/thanos/query.go#L559
https://github.com/thanos-io/thanos/blob/46d010638bbd7ef73fb9355a18f398cb3d99a7eb/cmd/thanos/rule.go#L724

**What happened**:
Logs generates result in dynamic key with MISSING value.
ex:
[code]

**What you expected to hap

[2021-02-26 02:16] DreamDZhu opened #3838 "Is Store Support for multiple matching ? label:"component: store""
selector.relabel-config  set

- action: keep
  regex: T-D3U13CRL04
  source_labels:
   - replica
   - name

the effect i want is to keep the extra_label for replica and name for T-D3U13CRL04 ,  but this configuration doesn't work ,What should I do

[2021-02-26 03:25] yeya24 commented on #3837
Thanks for catching this! Would you like to open a pr to fix it?

We can just change it to `level.Warn(logger).Log("msg", "Duplicate store address is provided", "addr", addr)`.

I am wondering if there is already a static linter for this.

[2021-02-26 03:35] yeya24 opened #3839 "Stop uploading debug meta files to obj store"
### Is your proposal related to a problem?

(Write your answer here.)

![Screenshot from 2021-02-25 22-31-03](https://user-images.githubusercontent.com/25150124/109251357-509c2e80-77b9-11eb-95c9-86ce906ff219.png)

As agreed in one previous community meeting, we decided to remove the step of uploading debug meta files because seems it is hardly used.

@thanos-io/thanos-maintainers

### Describe the

[2021-02-26 06:10] hitanshu-mehta commented on #3839
Can i work on this issue?

[2021-02-26 07:41] bwplotka commented on #3839
Yes please @hitanshu-mehta !

[2021-02-26 07:45] bwplotka commented on #3320
Have some ideas.

What about having some command like `promu bump` that traverse all commits and builds up the CHANGELOG from commits: https://github.com/prometheus/promu/pull/170#issuecomment-786471384 then we will make sure CHANGELOG file is never updated via commit bu we write changelog on commit / PR message.

[2021-02-26 07:54] brancz commented on #3835
I've thought about identifying tenants by a set of labels as well for a while, and while it sounds like it fits our ecosystem well, I have never found an actually good use case why we should do this over a flat opaque string. I think there's a reason why the flat opaque string is the standard everywhere, it's because everyone can make it whatever they want which ultimately means any system can int

[2021-02-26 07:56] yashrsharma44 commented on #3821
Can I take a stab at this issue? Seems quite interesting to me 😅

[2021-02-26 07:58] pracucci commented on #3839
/cc @pstibrany

[2021-02-26 07:58] brancz commented on #3821
I would like us to first get https://github.com/thanos-io/thanos/pull/3580 over the finish line, otherwise we'll just keep piling on conflicts.

[2021-02-26 08:27] bwplotka commented on #3838
I think what you want is not supported, we only use relabelling to define match/selecting capabilities - to configure which store should be responsible for what data. I presume you want to change external labels on the data blocks, thus metrics?

[2021-02-26 09:39] bwplotka commented on #3725
Let's do it... today? (:

[2021-02-26 10:45] bwplotka commented on #3835
I don't think we talk about the same thing @brancz. It's not about identifying tenants, it's rather identifying ... everything. Every resource has tenancy granularity (so really anything: data, configuration, APIs, request coming in, the response coming out, limits, gates, instrumentation, permissions etc).

So to be specific, our worry for @kakkoyun is that suddenly all of those things have to ha

[2021-02-26 12:10] brancz commented on #3835
We are talking about the same thing and I'm saying I don't think tenants need to be this way just for consistency sake.

I 100% agree that infrastructure details should be labels, but these should not be mixed with data. A tenant is neither data nor an infrastructure detail, which is why I think it should be an entirely separate thing. I do agree we should have a distinct set of labels to describe

[2021-02-26 12:34] bwplotka commented on #3835
Makes sense 👍🏽 So labels as mechanisms is agreed, what matters is the separation vs data vs infra details

[2021-02-26 13:36] GiedriusS commented on #3839
Maybe we should also remove whatever already meta files exist in the bucket already? https://github.com/thanos-io/thanos/issues/3397

[2021-02-26 14:19] pstibrany commented on #3839
I have found these files useful when tracking down history of some blocks during our data conversion. I would weakly prefer to keep them, as the overhead seems tiny.

[2021-02-26 16:33] bwplotka commented on #3725
![image](https://user-images.githubusercontent.com/6950331/109327448-411bf480-7850-11eb-9124-b9048afd8289.png)

Done. Let's fires now.

[2021-02-26 16:33] #3725 closed

[2021-02-26 16:50] DenysLP opened #3844 "[Question] - Thanos Query FrontEnd With Cached in AWS ElastiCache (Memcached)"
Hello guys,

I have a performance problem when I enable AWS ElastiCache (Memcached) for the Query FrontEnd component.

When I use the memory cache I can have a better performance, however, in AWS ElastiCache (Memcached) the result is not so satisfactory.

Has anyone been through this?

Every help is welcome.

Grateful,
Denys Ladislau

[2021-02-26 16:55] bwplotka commented on #3320
This looks less exciting as implementing our own CLI tool, but might be smarter to reuse than write our own 🙃 Looks good: https://github.com/git-chglog/git-chglog

[2021-02-26 17:04] squat commented on #3320
yes agreed. Let's specialize in the observability space and rely on community for solutions in other areas. This tool looks great!

[2021-02-26 22:56] #3837 closed

[2021-02-28 06:59] jerry153fish commented on #3677
Same here as well after upgrading to latest thanos. It worked before.

[2021-02-28 08:43] algokun commented on #3826
Hey, I would like to improve this diagram, can you tell me how to move forward?

[2021-03-01 09:39] prmsrswt commented on #3811
Closing as it got fixed in #3813

[2021-03-01 09:39] #3811 closed

[2021-03-01 13:59] LittleChimera commented on #985
how about flipping liveliness check if upload is failing and then just let liveliness probe restart the container?
https://github.com/thanos-io/thanos/pull/3857

[2021-03-01 15:10] jmichalek132 commented on #3726
We are experiencing the same issue (with both v0.17.2 and v0.18.0), but the downgrade to v0.16.0 seems to help as suggested.

![Screenshot_2021-03-01 Thanos Receive - Grafana](https://user-images.githubusercontent.com/7171250/109516234-3f4c6e00-7aa8-11eb-86cc-774ac3a05c9f.png)

The fall in memory usage between 13:20 and 14:40 is caused by the instances beeing oomkilled.
The fall in memory usage be

[2021-03-01 16:03] goober opened #3858 "Compactor: Unsolicited response received on idle HTTP channel starting, read TOC: invalid checksum"
I can verify that https://github.com/thanos-io/thanos/pull/3795 has solved part of our issue with invalid checksums when the compactor downloads blocks, and it will recover and try again. However, as seen in the log attached below we hit another issue where the compactor stops. A restart will let it continue to download new blocks for processing before it hits the same error again. It seems that i

[2021-03-01 17:56] lcoelho88 opened #3859 "Discrepancy between queries executed in thanos-query UI vs grafana"
**Thanos, Prometheus and Golang version used**:

Thanos image: thanosio/thanos:v0.18.0
Prometheus image: quay.io/prometheus/prometheus:v2.25.0
Grafana image: grafana/grafana:7.3.2

**Object Storage Provider**:
- S3

**What happened**:

We are experiencing a big discrepancy between a query executed directly in thanos-query UI and in a dashboard in grafana. Namely, a query executed in thanos-query U

[2021-03-01 19:41] bwplotka commented on #3320
Played a little bit and found some good use of git-chglog if they are willing to accept some contributions: https://github.com/git-chglog/git-chglog/issues/101

The problem is that we don't want to just use some commit title convention, we will never get this assured. A simple checkbox list in commit/PR message would work though 🤗

[2021-03-01 19:48] GiedriusS commented on #3859
What is the `step` that you see on the requests when you do them via Grafana vs. Thanos Query UI?

[2021-03-01 19:51] bwplotka commented on #3320
Maybe commit style is what we could enforce, but I am skeptical 🤗

Some good discussion: https://twitter.com/JoelOtter/status/1366475156974108673

[2021-03-01 21:14] #2784 closed

[2021-03-01 21:26] locvo986 commented on #2784
Vào Th 3, 2 thg 3, 2021 lúc 04:15 Giedrius Statkevičius <
notifications@github.com> đã viết:

--
locvo

[2021-03-01 21:29] bwplotka commented on #3523
Thanks for looking into this. This is a known issue that we slowly work on with automation explained [here](https://github.com/thanos-io/thanos/issues/3081). Let's close this as a duplicate 🤗 Feel free to help on the linked issue, to get things done!

[2021-03-01 21:29] #3523 closed

[2021-03-01 21:29] bwplotka commented on #3293
Thanks for looking into this. This is a known issue that we slowly work on with automation explained [here](https://github.com/thanos-io/thanos/issues/3081). Let's close this as a duplicate 🤗 Feel free to help on the linked issue, to get things done!

[2021-03-01 21:30] bwplotka commented on #3293
Problem is that some docs are referenced as `.md` page, some as `/`

[2021-03-01 21:30] #3293 closed

[2021-03-01 21:36] bwplotka commented on #3081
Status: https://github.com/bwplotka/mdox was created. It's currently blocked on inefficient link checking (rate limiting from GH etc). Proposing this as GSoC project 🤗

[2021-03-01 21:42] bwplotka commented on #977
Adding this as GSoC project, so we can finally get this done 🤗

[2021-03-02 08:33] dhohengassner commented on #3726
We are facing the same issue. Glad this issue exists.
Downgrade to 0.16.0 stabilized our system as well :+1:

Looking forward to a fix!

[2021-03-02 08:50] squat commented on #977
Yes!

[2021-03-02 09:00] argychatzi commented on #3677
Same here! @jerry153fish can you please share which version worked for you?

[2021-03-02 09:00] argychatzi commented on #3677
Same here! @jerry153fish can you please share which version worked for you?

[2021-03-02 09:58] houbinglei opened #3864 "thanos compact reporter: upload s3 object: The requested range is not satisfiable"
### **Thanos, Prometheus and Golang version used:**

PROD [root@wqdcsrv1283 compact]# thanos --version
thanos, version 0.18.0 (branch: HEAD, revision: 60d45a02d46858a38013283b578017a171cf7b82)
  build user:       root@4cf3f59273a2
  build date:       20210127-12:18:59
  go version:       go1.15.7
  platform:         linux/amd64

### **Object Storage Provider: ceph**

PROD [root@wqdcsrv1283 compact

[2021-03-02 11:44] lcoelho88 commented on #3859
Hi @GiedriusS,

In grafana the step is 120, as can be seen in the GET request below:

In thanos-query UI it is 691:

With this information it is easy to understand the reason for the execution time discrepancy.

However, some notes regarding grafana integration with thanos:

- The step in grafana is automatically calculated and the 120 value is because we are using resolution 1/1 in grafana. If we

[2021-03-02 13:14] GiedriusS commented on #3859
Do you run Thanos Compactor? Do you have a common memcached instance shared between Thanos Store instances (if you have more than one)? Do you have query-frontend? Have you tuned the other knobs such as `--store.grpc.series-max-concurrency` appropriately? Is your remote object storage as close as it can possibly get geographically? These are some of the simple things you can do to improve the perf

[2021-03-02 14:08] lcoelho88 commented on #3859
Hi @GiedriusS, we run thanos-compactor with the following config and that part is ok because we can already see blocks downsampled:

[code]

So, briefly explaining our solution, We have several kubernetes namespaces and each namespace has the following components:

- prometheus + thanos sidecar
- thanos query
- thanos store

Additionally, there is one special namespace which we call "observability

[2021-03-02 15:03] jmichalek132 commented on #3726
Tried with ` v0.19.0-rc.0 ` to see if the issue is still there, looks like it is. (Upgraded from 0.16.0 to the rc at 14:30)
![Screenshot_2021-03-02 Thanos Receive - Grafana](https://user-images.githubusercontent.com/7171250/109667557-8bfb7c00-7b70-11eb-8e85-08d5f208a960.png)

[2021-03-02 15:43] rdzimmer commented on #3749
I believe there are two potential issues here that the environments may be showing, although I'm still learning about how it works so this may not be correct.

1) Env 2 seems to show that if there is any disruption happens to the raw data, and therefore the 5m data, the 1h downsampling can get easily impacted and is unable to recover.  The 5m buckets for the past period of time where the disruptio

[2021-03-02 17:02] bwplotka commented on #3726
Thanks a lot!

Anyone can help but I would love to find out what's wrong this week, ideally before 0.19.0 but let's see.

We got some profile but let's see if this is helpful:

[code]

Ideally we pin point commit which introduced the regression 🤗 The problem will be if that's TSDB update (it probably is).

[2021-03-02 21:43] jerry153fish commented on #3677
v0.14 is the working one.

[2021-03-03 10:12] Shini31 commented on #3831
I've just done some tests and there are some things I don't understand.

I added two Thanos query frontend pods with a cache validity of 1h.
I put Thanos query frontend as datasource in Grafana and I consulted some dashboards.

I see that the memory consumption of Thanos query and Thanos query frontend increases but the memory is never freed.

![Capture d’écran du 2021-03-03 11-10-21](https://user

[2021-03-03 10:13] fr-me-jim commented on #2175
Can you explain how you solved this issue please?

[2021-03-03 11:41] universam1 commented on #3772
Can Thanos be patched to ignore those fields for now?
There is also not an option to disable that via the Operator https://github.com/prometheus-operator/prometheus-operator/issues/3889

[2021-03-03 11:45] roidelapluie commented on #3772
Could you confirm that this is the cause of the issue?

[2021-03-03 12:01] kakkoyun opened #3867 "mixin: Introduce flexible multi-cluster/namespace mode for alerts and dashboards"
This would be useful for users who don't use Kubernetes. In the current state of mixin we assume, there's a namespace label for all metrics. This is a Kubernetes term, it'd be better to be environment agnostic.

cc @metalmatze @brancz

[2021-03-03 12:02] metalmatze commented on #3867
Basically we should setup Thanos with systemd once and check that the mixin works as expected.
We could do something similar to the multi cluster mode that we have with the kubernetes-mixin and enable kuberentes in a config.

[2021-03-03 14:18] dswarbrick opened #3868 "thanos_compact_halted behaviour changed?"
Thanos version 0.18.0, Prometheus version 2.24.1.
[code]

**Object Storage Provider**: Cloudian Hyperstore

**What happened**:
Whilst recently trying to troubleshoot stability / reliability issues with our Cloudian Hyperstore S3 provider, we've had frequent "BaseFetcher: iter bucket: context deadline exceeded" logged by the compactor. In extreme cases, we've had "critical error detected; halting"

[2021-03-03 15:40] universam1 commented on #3772
Unfortunately I can only prove that downgrading to 0.22.2 solves the issue

[2021-03-03 16:58] tdinucci commented on #2982
I have an update on my experience with this issue that might help someone.

When running Receivers within a vanilla k8s cluster I saw only the issues I'd mentioned in my previous comment and generally speaking things are fine when Receivers have enough resources.  I recently tried Receivers in a cluster which had Istio installed and the Receiver pods had Istio sidecars injected into them.

The TL;

[2021-03-03 21:07] GiedriusS commented on #3868
Hi. Are you sure that your compactor process simply didn't restart when it encountered such an error?

[2021-03-03 21:11] dswarbrick commented on #3868
There were some occasions when it bailed out with exit status 1 (despite the `--wait`), and since the systemd unit had `Restart=on-failure`, it was automatically restarted.

However, in many cases it simply shut down the http listener (and thus metrics endpoint), but the process remained running - to do what exactly, I don't know.

[2021-03-03 21:23] GiedriusS commented on #3868
Interesting :thinking: Could you upload the goroutines stack trace dump when it goes into such a state? You can find the data on the debug/pprof end-point on the port where you can find the metrics.

[2021-03-03 21:26] dswarbrick commented on #3868
I doubt that that will be possible, since the http endpoint is shutdown. It refuses http connections.

[2021-03-04 04:50] tohjustin commented on #3529
Same here, I'm trying to figure out the recommended approach for deleting blocks on S3 that have exceeded the configured retention duration.

**Here are some findings from my research at the moment:**

1. Deleting blocks on S3 Bucket via Thanos Compactor's `--retention.resolution-*` flag

    - Retention duration configured on Kubernetes side
    - If you are already deploying Thanos Compactor ins

[2021-03-04 05:14] yeya24 commented on #3529
@tohjustin  I can try to answer some questions you mentioned.

As for deletion, I think the end state is the same. Once the configured retention is reached, the objects are deleted.

Yes, it is different. Thanos block retention is calculated based on the max sample timestamp in the block.

If it's the latter, then the this approach (deletion by lifecycle policies, that is based on the object's cre

[2021-03-04 05:37] tohjustin commented on #3529
@yeya24 Really appreciate the quick response! I totally forgot all about the compaction feature itself 🤦

I was sort of leaning towards the S3 lifecycle policy approach (lesser overhead) until reading your answers, I guess using Thanos compactor is the way to go 👍

[2021-03-04 06:04] yeya24 opened #3870 "Implement target metadata API"
As metric metadata API was merged https://github.com/thanos-io/thanos/pull/3686, it would be good to also support the Prometheus target metadata API (https://prometheus.io/docs/prometheus/latest/querying/api/#querying-target-metadata).

As the API response format is very similar to the previous metric metadata API, it would be not so difficult to support it. We can reuse the existing proto file as

[2021-03-04 07:23] brancz commented on #3867
Aside from removing kubernetes labels .. is there really anything else we can do other than allowing the user to specify what label(s) make two clusters distinct?

[2021-03-04 08:55] kakkoyun commented on #3867
We'll definitely let them specify the labels and maybe we can provide a way to introduce different hierarchies that would both work for alerts and dashboards (e.g region, cluster, namespace etc). Basically, let them specify a layer. From that, we can inject a variable, a dropdown to dashboards and inject selectors/aggregators to alerts.

[2021-03-04 09:12] brancz commented on #3867
Makes sense :+1:

[2021-03-04 09:46] brancz opened #3871 "Deduplication labels per tenant"
### Is your proposal related to a problem?

Different tenants may choose to label their ingesting Prometheus servers with different labels, Thanos should be flexible enough to allow for this.

### Describe the solution you'd like

I'm inclined to allow it per request in order to be able to have different label schemes even within one tenant, on the other hand the same per-tenant deduplication-labe

[2021-03-04 10:51] ahurtaud opened #3872 "query: 0.19.0-rc.0 regression - Query with resolution. Graphs are dotted instead of lines"
**Thanos, Prometheus and Golang version used**:
thanos v0.19.0-rc.0
prometheus v2.25.0
grafana v7.4.3

**What happened**:
We are validating 0.19.0-rc.0, by just upgrading the version, most of our grafana dashboards are becoming dotted graphs instead of lines. I suspect some resolution/step issue. As on thanos UI, it happens only when we set a resolution to 30s (our scrape interval)
![thanos-ui-reg

[2021-03-04 11:22] venkatnpedada opened #3873 "too manny "unsupported type of io.Reader" warnings"
Thanos, Prometheus and Golang version used:

`Build Information
Version	0.17.2
Revision	37e6ef61566c7c70793ba6d128f00c4c66cb2402
Branch	HEAD
BuildUser	root@92283ccb0bc0
BuildDate	20201208-10:00:57
GoVersion	go1.15`

**Object Storage Provider**:
MiniO S3

**What happened**:
Too many warning logs
level=warn ts=2021-03-02T09:02:42.039730584Z caller=s3.go:399 msg="could not guess file size for multipa

[2021-03-04 11:42] jmichalek132 commented on #3726
Profiles captured via conprof:
[code]

[code]

[2021-03-04 11:59] Biswajitghosh98 commented on #2348
@yashrsharma44 any leads on the topic ?

[2021-03-04 12:09] vishnubraj opened #3874 "Not able to read all the metrics from S3"
I am trying to read all the metrics from Thanos S3 for 1 min via thanos remote-read(its connected to thanos store)
Thanos store downloads the whole block has it in memory, but the query fails with the below message. Can you please check.

[code]

[code]

[2021-03-04 12:41] bwplotka commented on #2348
I think this is nice to have, but still we need offline deduplication to work properly. The blocker for true offline deduplication is the efficient algorithm that will accurately detect which replica to choose from multiple Prometheus-ues (or other sources) running in HA group.

Read more about this here: https://thanos.io/tip/components/compact.md/#vertical-compaction-use-cases

[2021-03-04 12:42] bwplotka commented on #2348
I don't think it's a good first issue @Biswajitghosh98  (:

[2021-03-04 12:47] brancz commented on #911
This is still a problem.

[2021-03-04 12:52] Biswajitghosh98 commented on #3559
@bwplotka can we make TSDB `multiError` public in Prometheus so that we could use it in Thanos as well ?
As @bsnyder788 mentioned earlier that for type assertion we need `multiError` to be public :)
WDYT ?

[2021-03-04 13:05] yashrsharma44 opened #3875 "Add fmt.{Errorf}=github.com/pkg/errors.{Errorf} check in faillint"
Since this issue https://github.com/fatih/faillint/issues/10 is resolved, we can add this in the Makefile.

[2021-03-04 15:22] ahurtaud commented on #3873
Hello, @venkatnpedada , This issue has been fixed in version 0.18.0.

duplicate of: https://github.com/thanos-io/thanos/issues/3470

[2021-03-04 15:27] EusebiusAditya opened #3876 "Add --max-time flag in thanos-sidecar"
if possible can i request to add a max time to thanos sidecar if possible, this is very useful, to be able to give a time limit to thanos sidecar such that only the earlier/new (less than the max-time) metrics are processed by the sidecar, and let thanos-store handle all the older queries.

Currently using thanos 0.17.0 and there is no max-time flag in thanos-sidecar

[2021-03-04 17:16] jmichalek132 commented on #3726
I also observed this issue with image: `thanosio/thanos:master-2021-01-05-0aa07118`.

[2021-03-04 18:05] GiedriusS commented on #3873
Please update to 0.18.0 or newer and see if it helps. Closing as per @ahurtaud 's message. Let us know if that didn't help and you want this to be reopened.

[2021-03-04 18:05] #3873 closed

[2021-03-04 21:24] bwplotka commented on #3872
Interesting. Thanks for reporting.

I wonder if it has something to do with the step changes we did with @hitanshu-mehta (https://github.com/thanos-io/thanos/pull/3740) 🤗

[2021-03-04 21:27] bwplotka commented on #3876
Nice! I believe you can accomplish that already with `--min-time` flag. It's called `min-time` as it's the "earliest time" sidecar makes available 🤗

[code]
https://thanos.io/tip/components/sidecar.md/#flags

I am quite sure this will work for you, but if not I will reopen, let us know 🤗

[2021-03-04 21:27] #3876 closed

[2021-03-04 21:30] bwplotka commented on #3874
This message is when client cancels the call. So either Querier, Querier client (remote read proxy?) or remote read client aborted the call. Usually it's when you just `Ctrl+c` client curl OR refresh browser OR client timeout passes 🤗

Hope that helps. Essentially server did nothing wrong - someone canceled this request.

[2021-03-04 21:51] bwplotka commented on #2547
No no, Mr bot we need this, thanks for reminding.

[2021-03-04 22:21] bwplotka commented on #3871
Makes sense, thanks for raising. I think this screams for config object instead of flag though 🤔

[2021-03-04 22:53] GiedriusS commented on #3868
Yes, sorry, you are correct. Are you absolutely sure that there isn't anything else in logs that may be of interest? Perhaps you have some time to try out https://golang.org/doc/gdb and see if with it you could get a goroutine dump? I'm afraid that there is no other way to understand what is going on.

[2021-03-04 23:10] dswarbrick commented on #3868
Unfortunately my logs for that instance only go back 7 days, and that is the only occurrence that I have in the logs of it going into such a state. I added a little more to the description above. There was nothing logged for several minutes leading up to the "changing probe status" entry, and nothing after the "critical error detected; halting" entry. I guess it really did halt - it just didn't ex

[2021-03-05 01:22] houbinglei commented on #3864
i create a new bucket,  and rebuild the thanos cluster, it recoverd.

[2021-03-05 03:53] saswatamcode commented on #3221
@prmsrswt Is this issue still open? Would love to take this up!

[2021-03-05 04:35] rrraditya opened #3878 "thanos-compact exited 408 Request Time-out"
[code]
**Component**: Thanos Compact
**Object Storage Provider**: OpenIO

**What happened**:
Our compact component suddenly shutting down when it got 408 Request Time-out error code. Related log attached below. What we would like to know that what is the cause of this error? and why it kill the thanos-compact service? Does the error was critical so the compactor should be terminated?

**What you e

[2021-03-05 04:52] hitanshu-mehta commented on #3872
Yes. Resolution set in UI overwritten every time by this line.
https://github.com/thanos-io/thanos/blob/dfcfbe435c5722f67e4e4df50db915171ece4ff1/pkg/api/query/v1.go#L243
I can fix this :)

[2021-03-05 05:34] gdsoumya commented on #3081
Hi @bwplotka I would like to work on this during GSoC 2021. I was going through the repo and I found some of the automation scripts here https://github.com/thanos-io/thanos/tree/main/scripts/website, is this all that you want to convert to golang?

[2021-03-05 09:27] wiardvanrij opened #3879 "Give guidance that memcached should not be configured on loadbalancer level"
The
[code]
Can be used in various ways. It should be clear that each memcached instance should be defined, rather than a 'main' instance E.g. "loadbalancer" adres. This is because the client does not do autodiscovery (Correct me if I'm wrong): https://docs.aws.amazon.com/AmazonElastiCache/latest/mem-ug/AutoDiscovery.HowAutoDiscoveryWorks.html

# Plan

I will update the documentation to make this c

[2021-03-05 09:40] saswatamcode commented on #3875
@yashrsharma44 Can I take this up? This involves adding the `faillint` check into the Makefile, right?

[2021-03-05 09:54] kakkoyun commented on #3879
AFAIK you can use DNS service discovery or you can specify all. i.e https://github.com/thanos-io/thanos/blob/befb0257e8a3d49cb80b00794a4892abfb7ccb72/pkg/cacheutil/memcached_client.go#L81
Kubernetes e.g https://github.com/observatorium/deployments/blob/258c17c7889351cc7366a5c3b6162ad216d666d0/components/thanos.libsonnet#L241

@pstibrany @pracucci would know better.

But yes, let's improve document

[2021-03-05 13:09] brancz commented on #3871
Did I write flag anywhere?

[2021-03-05 13:16] wiardvanrij commented on #3879
Right, thanks @kakkoyun . I will include that as well.  It's important to either use such DNS discovery or define the single targets yourself (in case of for example AWS). If you only define the k8s svc, you are going to have a bad time :)

[2021-03-05 15:20] #3045 closed

[2021-03-05 15:21] #2320 closed

[2021-03-05 15:21] #3635 closed

[2021-03-05 15:21] #3451 closed

[2021-03-05 15:21] #3551 closed

[2021-03-05 15:21] #3448 closed

[2021-03-05 15:21] #3623 closed

[2021-03-05 15:21] #3404 closed

[2021-03-05 15:21] #2693 closed

[2021-03-05 15:21] #3502 closed

[2021-03-05 15:21] #3454 closed

[2021-03-05 15:46] brancz commented on #3684
Thanos is a monorepo through and through .. I don't really think it's worth splitting things like this out

[2021-03-05 16:36] ahurtaud opened #3885 "tools bucket rewrite: Impossible to have multiple matchers?"
**Thanos, Prometheus and Golang version used**:
thanos v0.19.0-rc.0

**Object Storage Provider**:
S3

**What happened**:
I tried to rewrite some blocks in dry-run for now and I am not happy with the output...
I tried to add multiple matchers (either by multiple arrays or multiple label matchers) and for both solution, it is doing an "OR" matcher and not an "AND" matcher like prometheus:

For examp

[2021-03-05 17:07] yeya24 commented on #3885
Valid requests. This seems a bug to me. We should use `AND` between matchers instead of `OR`.
WDYT @bwplotka?

[2021-03-05 19:07] #3872 closed

[2021-03-05 19:09] #3885 closed

[2021-03-05 19:23] roidelapluie commented on #3684
go1.17 will solve a bunch of the issues that makes it required to move this out of thanos: https://github.com/golang/go/issues/36460

[2021-03-05 19:33] wiardvanrij opened #3888 "website: Create a new page for caching"
I would like to propose to add a new page `caching`

# Why?

Because there are 3 types of caches and they all share the same **base** configuration with the exception that:
- Query frontend cache has an extra param `expiration`
- Caching bucket has besides the default config, extra options for metadata and chunk caching

I would like to talk about caching in the first place;
- Why
- When
- How

Fo

[2021-03-05 20:01] bwplotka commented on #3684
How lazy loading will help with dependency hell and ensuring your other deps are not colliding with Thanos module deps?

[2021-03-06 10:50] roastiek opened #3892 "make assets ends with error"
**Thanos, Prometheus and Golang version used**:
main, 0.19.0rc0

**What happened**:
make assets fails with
[code]

**Anything else we need to know**:
`make assets` builds on 0.18.0 or older versions in the same enviroment.
I didn't find usage of `make assets` in any parts of ci build. So I cannot check if it should work or not.

`make react-app-test` works on all versions

[2021-03-06 13:10] shivam-51 commented on #3761
@bwplotka I would like to work on this issue under the LFX Mentorship Spring 2021, Can you guide me on the next steps apart from the official application?

[2021-03-07 21:01] Namanl2001 commented on #3779
I am working on task 1: `Add matchers support to TSDB store`.
As the Prometheus version is updated in Thanos, I am blocked with few questions:

- Are we talking about matchers contained in `storepb.LabelValuesRequest`?
- Passing matchers along with `r.label` [here](https://github.com/thanos-io/thanos/blob/513707d368b3910db8cf4744cf7df48abf176a04/pkg/store/tsdb.go#L224) would give the expected resu

[2021-03-08 04:21] yeya24 commented on #3779
Yes, you can use that.

Yes. As the matchers in the `storepb.LabelValuesRequest` are not Prometheus matchers type, you need to first convert them to the correct struct. You can use the snippet below.

[code]
I think that's all for the code change, but please also add some tests to the `thanos/pkg/store/tsdb_test.go` file.
Let me know if you have other questions.

[2021-03-08 09:04] craigfurman opened #3895 "Supporting max item size for the memcached client (query-frontend)"
### Is your proposal related to a problem?

I'm seeing error messages from the query-frontend relating to memcached insertions failing:

[code]

We configure max item sizes of 16MB for both the query-range and labels caches, and set the corresponding max item size on the memcached servers.

This appears to be due to a known incomplete feature, as I also see log messages "MaxItemSize is not yet sup

[2021-03-08 09:08] craigfurman commented on #3895
I'm happy to try my hand at a PR for this, but figured it was worth raising first, since this appears to be an artifact of a code consolidation effort between thanos and cortex? I'm a total outsider though, and might have got the wrong end of the stick 😉

[2021-03-08 12:59] mxmorin commented on #3772
I've tested in my staging env with 2.25 version of prometheus and 1.16 for Thanos and got Internal errors again
I applied @roidelapluie's suggestion (add metdata_config in prometheus.yml) and errors disappeared.

So i can confirm this due to metadatas.

[2021-03-08 13:11] Namanl2001 commented on #3779
Thanks!
Few questions regarding testing

- Should we add matchers in the existing test data or create new test_data to test matchers support separately?
- I guess matchers should look like as shown below for this [test case](https://github.com/thanos-io/thanos/blob/3b91169add87ca2ed006ff9628207a744c0c6561/pkg/store/tsdb_test.go#L339). Please correct me If I'm wrong.

[code]
- What should be `Name

[2021-03-08 13:28] Shini31 commented on #3831
I did some more tests by only configuring the memory size.
I also updated to 0.18.0.

The results remain unchanged.

My questions remain open

[2021-03-08 15:28] yeya24 commented on #3779
It is up to you. If you feel more data is required you can add more.

That's correct.

Are you asking this specific test case? In this test case, after adding series with labels `{foo="test1}", now it contains two sereis: `{foo="test}", `{foo="test1}".

So if you query the label values of `foo`, you can get two values `test` and `test1` without adding any matchers.
You can definitely filter the va

[2021-03-08 16:28] kartik-moolya commented on #664
Have you used VPC endpoint with Thanos ? Do you have a reference please?

[2021-03-08 17:03] tomasfreund commented on #3822
Would it also be possible to expose the tenant/labelset information in the query UI somehow? A drop-down or multi-select perhaps?

One problem I have with Thanos is that while I sometimes want to query data across multiple clusters, I'd prefer if that was not the default and you had to select one/multiple/all tenants/labelsets explicitly to avoid accidentally evaluating the queries in all clusters

[2021-03-08 18:46] narenreddycs opened #3896 "Snappy compression failing for AWS Elasticache Memcached (Query Frontend)"
**Thanos, Prometheus and Golang version used**:
v0.18.0

**Object Storage Provider**:
S3
**What happened**:
We are using AWS Elasticache Memcached as Thanos Query frontend. When we try to use snappy cache compression using the flag

the cache is getting corrupted.

**What you expected to happen**:
snappy compression is expected to work as this is supported for Memcached.

**How to reproduce it (as

[2021-03-08 19:39] yeya24 commented on #3895
Just opened a pr on Cortex side https://github.com/cortexproject/cortex/pull/3929.
If that is merged we can support it in Thanos easily.

[2021-03-09 02:06] #3864 closed

[2021-03-09 02:06] houbinglei commented on #3864
close

[2021-03-09 08:17] chitender opened #3898 "failure in Thanos receiver when hashring configured and TLS enabled on remoteWrite"
we were able to setup multi cluster monitoring through Thanos where we were running single thanos receiver with TLS auth enabled with self ssl signed certificate.
now as we our remote K8s cluster count increasing we want to scale Thanos receiver by increasing the number of replica pods. when we tried to increase the number of replica pod for Thanos receiver greater than 1 then remote write stopped

[2021-03-09 08:19] jaybatra26 commented on #3761
Hi! Can I take this up as a part of LFX programme?

[2021-03-09 09:25] squat commented on #3898
hi @chitender, this is happening because the receiver is inferring that it should use gRPC in all receiver-to-receiver communication, but the gRPC TLS flags `--grpc-server-tls-*` [0] have not been set.

This is a bug in Thanos receiver's inference.

[0] https://github.com/thanos-io/thanos/blob/main/docs/components/receive.md#flags

[2021-03-09 09:25] squat commented on #3898
The best way to circumvent the bug right now would be to set gRPC TLS flags

[2021-03-09 09:35] bwplotka commented on #3761
Anyone can help! (: By for LFX program we have @idoqo this spring.  Still there is a lot of work so anyone can work on a piece.

[2021-03-09 09:44] jaybatra26 commented on #3761
Thanks, @bwplotka I will then start with good first issues.

[2021-03-09 10:49] chitender commented on #3898
@squat is there a way to let Receiver know that communication among receiver should be done with out TLS?
also if we need to set TLS for GRPC then for FQDN we should generate TLS for Headless service endpoints like *thanos-receive-0.thanos-receive-headless.thanos.svc.cluster.local:10901* or the remote end point?

[2021-03-09 11:14] squat commented on #3898
Due to this bug in Thanos receive, the only way to tell the receiver _not_ to use TLS among themselves is to disable TLS on the remote-write HTTP server.

Setting the headless service endpoints as the SAN for the certificates is one valid option. However, this would require a different certificate for every thanos receive replica. The other option would be to use a single certificate with a single

[2021-03-09 15:37] prmsrswt commented on #3892
Thanks for digging this up. It'd be great if you can come up with a PR with the required changes. :)

[2021-03-09 15:44] saswatamcode commented on #3892
Sure! Will be raising a PR shortly.

[2021-03-10 09:11] Lord-Y commented on #3750
Hello guys,

Were having the same issue with thanos version 0.18.0 but this time, the blocks are way bigger:

[code]

Exact thanos version:
[code]

Any plan to release a fix soon with also the one about `no-compact-mark.json file is being igored` as mentioned by @SuperQ

[2021-03-10 09:56] jmvizcainoio opened #3904 "empty external labels are not allowed for Thanos"
**Thanos, Prometheus and Golang version used**:

docker image  quay.io/thanos/thanos:v0.18.0

**Object Storage Provider**:

Aws s3

**What happened**:
When the compactor finish the compaction process from a downsampled block  fail.

[code]
**What you expected to happen**:

Upload to s3 the new block

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant compone

[2021-03-10 10:48] venkatnpedada commented on #3873
@ahurtaud  @GiedriusS Not seeing this issue in 0.18.0 version. Thanks

[2021-03-10 11:34] ediezh commented on #3511
We are facing the same issue on 0.18

[2021-03-10 13:41] bwplotka commented on #3726
BTW those memory metrics you have is for what exactly metrics? (it matters, before Go1.6)

[2021-03-10 18:52] bwplotka opened #3907 "Improve Objstore Client Level Failures and Retries"
A good retry mechanism is critical. For example compactor is doing all the compaction work, and when the upload is aborted, and if object client library decides to not retry, we crash the container and start from scratch. Since we never know at what moment we crashed we have to download, potentially the same blocks again, and compact it again which is inefficient if we just failed upload. [Hashing

[2021-03-10 18:52] bwplotka commented on #3744
Looks like somehow we have two PRs for the same thing (: Which should we review? Sorry for the lag in reviewing.

Let's maybe first have PR that removes deleting (only for sidecar), that would be the first step, However, both PRs @Biswajitghosh98 and @mayankshah1607 are about retries which are quite controversial.

Sorry, I put retries in the title - I rather meant delete the deletion action for t

[2021-03-10 19:07] bwplotka commented on #3772
BTW this is something we seen before and we fixed this on v0.19.0-rc.1 and further. Can  you try such version? 🤗

Fix: https://github.com/thanos-io/thanos/pull/3836

[2021-03-10 19:07] #3772 closed

[2021-03-10 19:16] bwplotka commented on #3772
Let us know if you can still this issue on the newest version, we see it's being fixed on our clusters.

[2021-03-10 19:27] yeya24 commented on #3772
I double-checked and this should be resolved in the latest release.

[2021-03-10 19:45] wiardvanrij commented on #3888
First init made :)

[2021-03-10 19:46] bwplotka commented on #3726
is inflated, see https://www.bwplotka.dev/2019/golang-memory-monitoring/

Some amazing ideas from Cortex experience are using following options (adding those envvars to Thanos process):

* `GODEBUG=madvdontneed=1` which will mimick what Go1.16 will do by default (and what was done before Go1.12). This will improve observability part of things.
* `GOGC=50`  (default is 100). This changes GC to run

[2021-03-10 20:25] Biswajitghosh98 commented on #3907
I had a discussion with @prmsrswt and we came to a conclusion along the lines of your solution 2.
I'm trying to refactor the exponential backoff code so that it can be added in runutils and then used in the way you suggested with a user input flag value consisting of max time till retry and other parameters. @bwplotka

[2021-03-10 20:41] GiedriusS commented on #3907
I even attempted to do this once upon a time: https://github.com/thanos-io/thanos/pull/2785 :smile:

[2021-03-10 21:34] rdzimmer commented on #3749
In env 2 I seem to be losing 1h data as time goes.  This is all that is there now, which is less than in the previous comment.
![image](https://user-images.githubusercontent.com/17729406/110700770-554fe200-81be-11eb-979c-56c4e47b63aa.png)
The 5m looks good:
![image](https://user-images.githubusercontent.com/17729406/110700862-70baed00-81be-11eb-90d8-01234e59ee0d.png)

[2021-03-10 21:36] GiedriusS commented on #3896
If you try to get those values via `telnet` & decode it with https://github.com/kubo/snzip or something, does it work?

[2021-03-10 21:49] rdzimmer commented on #3749
[observability-observatorium-thanos-compact-0.log.gz](https://github.com/thanos-io/thanos/files/6119048/observability-observatorium-thanos-compact-0.log.gz)

[2021-03-10 21:50] rdzimmer commented on #3749
[code]

[2021-03-11 02:17] computerphilosopher opened #3909 "images and internal links are broken on the quick tutorial document. TOC is weird too."
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:

images and internal links are broken on the quick tutorial document.

![image](https://user-images.githubusercontent.com/26251856/110725275-ab726300-825a-11eb-8993-406a92c18eb5.png)

![image](https://user-images.githubusercontent.com/26251856/110725328-c349e700-825a-11eb-99a7-70c44482dea4.png)

TOC i

[2021-03-11 08:24] goober commented on #3858
It could have been caused by corrupt data. With the latest version from master and with a clean bucket it has been running smoothly for over a week now. So this ticket can be closed for now.

[2021-03-11 09:29] bwplotka opened #3911 "Receive, v0.19.0-rc.1: Spam of empty series from client"
[code]

[2021-03-11 09:30] bwplotka commented on #3911
I think it's related to metadata things we tried to fix here: https://github.com/thanos-io/thanos/pull/3905

[2021-03-11 09:38] bwplotka commented on #3726
While ingesting ~10 millions series (replicated) on 0.19.0 looks actually better not worse:

![image](https://user-images.githubusercontent.com/6950331/110766741-6693ff80-824d-11eb-8f8a-3640824daa04.png)

[2021-03-11 10:21] kakkoyun commented on #985
cc @Biswajitghosh98

[2021-03-11 10:44] goober opened #3912 "Compact: failed deleting non-compaction group directories/files"
**Thanos, Prometheus and Golang version used**:

Docker image: `thanos/thanos:v0.19.0-rc.1`

**Command arguments**:

[code]

**Object Storage Provider**:
Ceph 3.2

**What happened**:
When we upgraded to `v0.19.0-rc.1` from v0.18 to verify that #3795 solves our compact issues (which it did) we have started to notice a lot of warning messages in the thanos-compact logs.

[code]

Everything seems to

[2021-03-11 11:03] AsherBoone opened #3913 "Thanos receive store locally for endpoint conflict"
**Thanos and Prometheus version used:**
Thanos: v0.18.0
Prometheus: v2.11.1
**Object Storage Provider:**
S3
**What happened:**
Prometheus Error in the logs:
`level=error ts=2021-03-04T08:02:54.350Z caller=queue_manager.go:699 component=remote queue=0:http://10.53.26.191:30021/api/v1/receive msg="non-recoverable error" count=100 err="server returned HTTP status 409 Conflict: 2 errors: store locally

[2021-03-11 11:57] #3892 closed

[2021-03-11 13:14] brancz opened #3914 "Tenant label name flag only adds custom label name not replace"
**Thanos, Prometheus and Golang version used**:

`v0.19.0-rc.0` container image from quay

**Object Storage Provider**: GCS

**What happened**:

Configured the `--tenant-label-name=polarsignals_project_id`, which caused both `tenant_id` as well as `polarsignals_project_id` to be attached to the data when querying.

![tenant-id-label-bug](https://user-images.githubusercontent.com/4546722/110792701-

[2021-03-11 13:25] brancz commented on #3914
It appears, that it's not just that, but also blocks uploaded only have the `tenant_id` label.

[2021-03-11 14:26] dgrisonnet opened #3915 "ThanosSidecarUnhealthy and ThanosSidecarPrometheusDown alerts fire during Prometheus WAL replay"
Hello everyone! I wanted to start a discussion regarding Thanos sidecar alerts' behaviour during Prometheus WAL replay.

Currently, during Prometheus WAL replay, both the `ThanosSidecarUnhealthy` and `ThanosSidecarPrometheusDown` alert can fire based on the duration of the replay.

To put more context around that, `ThanosSidecarUnhealthy` and `ThanosSidecarPrometheusDown` alerts are based on two d

[2021-03-11 15:35] yeya24 commented on #3911
Yes, it is related. This is the remote write metadata and it is sent per minute by default.
We don't need to log it I think.

[2021-03-11 15:42] jmichalek132 commented on #3726
![Screenshot 2021-03-11 at 16 33 37](https://user-images.githubusercontent.com/7171250/110812562-01a9cb00-8288-11eb-9a59-14da34fbf599.png)
Tested version in order
1. v0.17.2
2. v0.16.0
3. v0.19.0-rc.0
4. 1fff9a7157d1f3b7d5e0ce36f999b10bb3ae7ec4
5. c534b6d4a2f9fdac572f3126adfc1fb3e1b17147
6. b4528880101a5544aaab0c0cfd2f3d8bb9c22b80
7. 98753400f8885e57aa8958cdedccaa9c405e5a58
8. f494a9917413941feee9

[2021-03-11 15:49] RavjotSandhu commented on #3081
How to start working towards this?

[2021-03-11 16:05] RavjotSandhu commented on #3081
As far I can understand we need to move current automation scripts one consolidated mdox so that we can use them at other projects. Right @bwplotka ?

[2021-03-11 16:05] simonpasquier commented on #3915
My 2 cents (but I'm not a Thanos maintainer): do we need `thanos_sidecar_prometheus_up` and `ThanosSidecarPrometheusDown` at all? Reading the code and you said, both alerts would fire anyway.

[2021-03-11 16:43] ahurtaud opened #3917 ".*: v0.19.0-rc.1 - Huge usage of memory to upload blocks to S3 compared to 0.18.0"
**Thanos, Prometheus and Golang version used**:
v0.19.0-rc.1

**Object Storage Provider**:
S3-capable API. (Scality)

**What happened**:
While validating 0.19.0-rc.1, we faced many OOMKilled thanos sidecars while uploading blocks.
Attaching 2 pprof of Allocs. v0.19 and v0.18
[profile-0.19.pdf](https://github.com/thanos-io/thanos/files/6124567/profile-0.19.pdf)
minio-go
Client putObjectMultipartStr

[2021-03-11 17:08] brancz opened #3918 "Allow disabling setting CORS headers"
### Is your proposal related to a problem?

We have a proxy in front of Thanos that manages things like authentication etc. which has it's own CORS policy, but since Thanos also sets CORS headers they end up being set multiple times which ends up conflicting.

### Describe the solution you'd like

Add a flag `--disable-cors`. That causes no CORS headers to be set.

### Describe alternatives you've

[2021-03-11 17:12] jmichalek132 commented on #3726
I am not sure that this [bugfix](https://github.com/thanos-io/thanos/commit/2e128408d9a03579c73665ea469b82e380a0403d) that was merged into 0.16.0 release branch made it back into main branch.

[2021-03-11 17:48] metalmatze commented on #3726
@jmichalek132 I think you're right. I was never merged back into v0.17+ but instead entirely replaced with the ZLabel.
https://github.com/thanos-io/thanos/commits/v0.17.0/pkg/store/labelpb/label.go

I'm wondering if @bwplotka based that work on the fixed label or ignored it and did an entire rewrite?
Either way, it shouldn't show up anymore with the benchmarks posted, it seems rather unlikely. :th

[2021-03-11 17:51] prmsrswt commented on #3918
I think we can use the proxy in front of Thanos to override these headers, can't we?

But having a flag sounds doable as well.

[2021-03-11 18:08] yeya24 commented on #3917
The latest release adds calculates hashes for each file when uploading the TSDB block. I am not sure if it will cause the memory issue.
@ahurtaud Maybe you can try to set `hash-func` flag to empty string and see the memory usage? https://github.com/thanos-io/thanos/blob/main/cmd/thanos/config.go#L144

If OOMs still happen, then it might be some problems with the minio sdk.

[2021-03-11 18:15] prmsrswt commented on #3915
Looks like we need to change `thanos_sidecar_prometheus_up` to reflect Prometheus health (`/-/healthy` instead of `/api/v1/status/config`).

As of now, I agree that there is no point in having them if both alerts are going to fire at the same time. Though as proposed, if we change `thanos_sidecar_prometheus_up` to reflect Prometheus healthiness instead of readiness, having both of them makes sense

[2021-03-11 18:18] brancz commented on #3918
Not really, as headers are written first, so what happens is

1) our proxy sets CORS headers
2) thanos sets CORS headers
3) thanos returns body

Once a body is written it is impossible to write headers, so there's really no other option.

[2021-03-11 19:02] brancz commented on #3726
If anyone on this thread would like to we'd be happy to give you access to our Polar Signals continuous profiler beta so we can continuously profile your thanos infrastructure to find the culprit! Just join our discord and we'll get you setup! https://github.com/thanos-io/thanos/pull/3919

[2021-03-11 19:10] Namanl2001 commented on #3779
Now, I'm on Task 2: `For Prometheus store (sidecar), add matchers to the LabelValues query and send it to Prometheus.` I've few questions:

- Could we pass `r.Matchers` in this [function](https://github.com/thanos-io/thanos/blob/cb7cf1e34b7441cf14eef902871bf3624ebded7b/pkg/store/prometheus.go#L499) in place of `nil`, for the results we are looking for?
- Is a check for the Prometheus version still

[2021-03-11 20:44] yeya24 commented on #3779
Yes. That's for Prometheus version that meets the requirement.

Yes, that's different. We support this in Thanos, but it is just the client side, which means `matchers=xxx` will be added to the HTTP request we send to Prometheus. But if the Prometheus version is too low, it cannot recognize that param and just returns all label values. So a check is still needed.

[2021-03-11 20:46] #3918 closed

[2021-03-11 22:10] narenreddycs commented on #3896
Not able to reproduce the issue once I restarted the Memcached cluster to clear the cache.

[2021-03-11 22:56] jeffbstewart commented on #2016
I'm seeing the same symptom.  Blocks are not uploading because the "clean upload directory" step can't remove the file.  It can't remove the file because prometheus is holding the file open.  SysInternals Process Explorer verifies prometheus holds the file open, as does trying to delete the file from the Windows Explorer.  It reports that prometheus.exe has the file open.

from the logs (this repe

[2021-03-12 05:07] yashrsharma44 commented on #3416
Hi @bwplotka, can you explain more about the implementation details about the same? I didn't find any similar implementation that solves this problem, so curious about the idea for implementation

[2021-03-12 08:09] GiedriusS commented on #3917
What options do you have on Thanos Sidecar? :thinking:

[2021-03-12 08:36] brancz commented on #3914
I noticed that this might be a setup problem. I'm re-configuring some things and will report back.

[2021-03-12 08:38] ichasco-heytrade commented on #1979
I am getting the same error in the storegateway and in query-forntend

[code]

StoreGateway config:
[code]

Thanks!

[2021-03-12 09:38] brancz commented on #3914
yeah sorry it looks like we just misconfigured things

[2021-03-12 09:38] #3914 closed

[2021-03-12 10:05] brancz opened #3921 "panic in logging http middleware"
**Thanos, Prometheus and Golang version used**: `main-2021-03-11-b2474aa3`

**Object Storage Provider**: GCS

**What happened**:

Panic in the http logging middleware when querying

**What you expected to happen**:

No panic :)

**How to reproduce it (as minimally and precisely as possible)**: I'm not certain but I think my requests don't have a `Host` header, so this panics: https://github.com/th

[2021-03-12 11:07] yashrsharma44 opened #3923 "Add tests for the request logging"
PRs for request logging #3361 #2849 contains some string manipulation, which might create unnecessary panic as observed in #3921

Would be nice to write tests for making sure panics do not happen.

[2021-03-12 11:08] #3921 closed

[2021-03-12 12:01] goober commented on #3858
The issue has been observed again.

By adding the argument `--no-debug.halt-on-error` we can bypass the issue since the compact component will be restarted when the error occurs and the compaction will successfully compact or downsample the blocks in the next iteration.

[2021-03-12 12:54] kakkoyun opened #3924 "Generate Structs for Flags or Output machine-reable description for flags"
To be able to conveniently generate type-safe configurations for Thanos. This could be utilized by the configuration projects (e.g `kube-thanos` or similar projects). We would like to have structs that define flags and configuration for Thanos.

Flags could be generated from those structs or structs can be generated from existing flags.
Any change should be seamless to users, we shouldn't change a

[2021-03-12 12:56] brancz commented on #3924
Self-describing-binaries is kind of how I see this. I like this idea a lot. I personally think just a json blob that describes the subcommands and flags of those is a really fantastic start. Little can do a lot here I believe.

[2021-03-12 12:58] kakkoyun commented on #3924
@brancz Great idea! Having a subcommand to output this would be an amazing convenience. I wonder if something similar already exists?

[2021-03-12 13:10] roidelapluie commented on #3924
Something like https://github.com/alecthomas/kong might help you.

[2021-03-12 13:13] roidelapluie commented on #3924
There is also https://github.com/bwplotka/flagarize

[2021-03-12 13:41] GiedriusS commented on #3917
It's probably related to https://github.com/minio/mc/issues/3376 & https://github.com/minio/minio-go/pull/1357

[2021-03-12 14:21] kakkoyun commented on #3924
@bwplotka's gonna kill me how I've forgotten about `flagarize` 🙈

[2021-03-12 15:38] kakkoyun opened #3926 "mixin: Add dedicated read/write dashboards"
We could benefit from dedicated read/write dashboards. Similar to cortex https://github.com/grafana/cortex-jsonnet/blob/main/cortex-mixin/dashboards/writes.libsonnet, https://github.com/grafana/cortex-jsonnet/blob/main/cortex-mixin/dashboards/reads.libsonnet

[2021-03-12 15:46] kakkoyun opened #3927 "mixin: Add SLO-based alerts and dashboards"
As stated in the title, we'd like to have SLO-based alerts and dashboards.

We have started a document to determine Thanos SLOs. Feel free to contribute.
https://docs.google.com/document/d/1OTe2hfnlQHO8eBhvjwFK80pDGNY68WgjkoJNat7GZ_g/edit?usp=sharing

cc @metalmatze

[2021-03-12 16:29] banghuaji commented on #3859
![image](https://user-images.githubusercontent.com/17561338/110968285-4ae64180-8392-11eb-9dd7-8ee494211d55.png)
AT odd points Time (such as   1:01,3:01,5:01,...,23:01)，i have the same problem, query date from thanos receiver.

Thanos image: thanosio/thanos:v0.18.0
Prometheus image: quay.io/prometheus/prometheus:v2.21.0
Grafana image: grafana/grafana:7.3.2

Object Storage Provider: S3
I used thanos

[2021-03-13 15:49] wiardvanrij commented on #3888
Note: https://thanos.io/tip/components/store.md/ is missing the flags regarding caching buckets. I.e. `store.caching-bucket`

[2021-03-13 17:51] Namanl2001 commented on #3779
This sounds good to me. But I'm not getting the code block where this check should be added.

[2021-03-13 18:07] yeya24 commented on #3779
You can add that to `pkg/api/query/v1.go` `labelValues` method. If matchers are set, then we need to get Prometheus's version and see if it meets our requirements.

For getting Prometheus's version, you can take a look at this API https://prometheus.io/docs/prometheus/latest/querying/api/#build-information.

[2021-03-13 21:41] Namanl2001 commented on #3779
Facing problem in getting the prometheus version. Are we using any other prometheus API already, from which I could get some idea to implement this `GET /api/v1/status/buildinfo`. Thanks.

[2021-03-13 22:46] wiardvanrij commented on #3826
Would be nice as first step to have the 'raw' diagram file :D
/cc @bwplotka

[2021-03-14 01:33] yeya24 commented on #3779
@Namanl2001 You can take a look at `promclient` package. You can also find me on Slack if you have further questions regarding this task.

[2021-03-14 04:12] hitanshu-mehta commented on #3826
Here is the google drawing [file](https://docs.google.com/drawings/d/15aHt9eo2hPps7wFH_cOup14hlBxmOcyEV4_t53W-gYc/edit?ths=true) of the diagram but edit access will be required.

[2021-03-14 04:58] hitanshu-mehta commented on #2600
Hi @lilic! Have you started working on this? Because we are also planning to work on this proposal during my LFX mentorship 🙂
//cc @prmsrswt @squat

[2021-03-14 08:21] crsandeep commented on #3870
@yeya24 I'd love to take up this issue

[2021-03-14 12:57] idoqo commented on #3915
Hi @prmsrswt, I'm trying to get familiar with the Thanos codebase and would love to take this up with some guidance. But I'm not sure where to change the endpoints.

[2021-03-14 14:19] wiardvanrij commented on #3896
I think this is valuable to investigate further. Thanos does a `isDiffVarintSnappyEncodedPostings` to check if an item is compressed. So even in the case that non-compressed items are posted, snappy encoding is enabled, it should be able to handle a mixture of items.

[2021-03-14 21:40] yeya24 commented on #3870
Feel free to take it!

[2021-03-15 08:56] lilic commented on #2600
Feel free to take it! If you have any questions around the proposal feel free to reach out!

[2021-03-15 09:34] wiardvanrij commented on #3831
Your test cases are valid. When using `in-memory` for frontend cache, it's based on FIFO; `first-in first-out` type of caching.
This means there is no active clean-up process like there is with `memcached` 1.5.0 or greater: https://github.com/memcached/memcached/wiki/UserInternals#when-memory-is-reclaimed

The implementation works like this:

- It will check if the item is already in cache (could

[2021-03-15 10:13] ahurtaud commented on #3917
I am looking at it today.
@yeya24 : hash-func default value is the empty string :/
@GiedriusS : nothing fancy I think.

[code]

I've checked also the issue you linked. It looks like minio is not planning a fix for now. I believe it is fine to release thanos like that and see if it impacts Amazon S3 as well.

Will keep you posted about Store and Compact.

[2021-03-15 14:10] Shini31 commented on #3831
Thanks for your detailled response!
So, if i want a really cache eviction system, i have to use memcached?

A last question. I don't understand the goal of Thanos Query frontend is the usage of RAM is still the same on Thanos Query side. Why not integrate the cache system directly into Thanos Query?

[2021-03-15 14:54] georgeluong commented on #2295
It's been a while, but I think we were still seeing this issue post update. Happy to provide more data if it will help us get to the bottom of this! Improving the query latency here would be huge for us!

[2021-03-15 15:06] wiardvanrij commented on #3831
No, in-memory has an eviction system, it just works differently.

Both `in-memory` and `memcached` achieve the same memory footprint (if we ignore potential overhead and other implementation differences). The way it handles cache eviction is hardly relevant in the end. Let's say I have a stack and if I want to cache my entire environment, I need 10Gb memory. **Regardless if I use memcached or in-m

[2021-03-15 15:08] bwplotka commented on #1375
PR is almost there, https://github.com/thanos-io/thanos/pull/3350

[2021-03-15 15:31] kakkoyun opened #3932 "mixin: Add alert tests"
As stated in the title, we need to add basic `promtool` tests for all the alerts we have in mixin. At the very least, they will help us to catch templating issues with our alerts.

[2021-03-15 15:35] roidelapluie commented on #3932
I think mixtool would compile + test the mixins.

[2021-03-15 16:15] phillebaba opened #3933 "MSI authentication for Azure Storage Account"
### Is your proposal related to a problem?

Currently when using when using Azure Storage Account it is only possible to use static SAS tokens to authenticate with the API. This works but introduces the need to manage token storage and rotation. When using AKS it is possible to use the project [aad-pod-identity](https://github.com/Azure/aad-pod-identity) to enable authnetication for individual pod

[2021-03-15 16:37] ahurtaud commented on #3917
Ok so, it is definitely a memory Increase during uploads. The store component is not affected. Only the shipper is impacted. (so I believe sidecar, compact, receive and ruler)

I'll attached the profile for the compactor during upload, however it is less visible as it is using I guess lots of page cache or so for the downsampling and so all my memory is "used". We can still see minio-go putObjectM

[2021-03-15 17:32] metalmatze commented on #3812
Did we already start working on this? Happy to help with it!

[2021-03-15 17:40] metalmatze commented on #3932
Yup, indeed this is a great example for the usage of mixtool! Happy to adjust mixtool if something is missing for this here.

[2021-03-15 18:27] GiedriusS commented on #3917
I'm not sure if there is a way to avoid this behaviour from the caller:

[code]

  @harshavardhana sorry for pinging you here on an unrelated project but maybe it would be possible to control this new behaviour introduced in https://github.com/minio/minio-go/pull/1357 with a flag or something? In our case, we are sure that the files we are trying to upload are immutable due to how TSDB works so th

[2021-03-15 18:31] GiedriusS commented on #3912
This message is harmless but IMHO we should fix this before the final release. Thank you for the report :hugs: I think the correct approach here is to check whether the directory exists before trying to do anything with it. @bwplotka you had suggestions regarding this. Do you agree with my proposed solution here?

[2021-03-15 18:37] harshavardhana commented on #3917
@GiedriusS you can set the PartSize for each request to reduce the memory usage overall

[code]

[2021-03-15 18:44] GiedriusS commented on #3878
The newest RC version is able to calculate checksums of files so that in such a case Thanos Compactor wouldn't have to redownload all files & it wouldn't cause any issues. Also, we are working on adding retries to objstore clients. Does this help? :hugs:

[2021-03-15 18:49] harshavardhana commented on #3917
https://github.com/thanos-io/thanos/pull/3935 something like this will reduce the memory usage by orders of magnitude.

[2021-03-15 22:09] bwplotka commented on #3917
Thanks all for reporting and drilling down. I think we narrowed down to the root cause: https://github.com/minio/minio-go/pull/1357

I think it's quite odd that minio client by default for multipart uses 0.5GB of memory (4 workers by default). We would maybe like to use HTTP request for such large part, not necessary that much memory for it 🤔 Wonder if we can improve this on minio size first.

Als

[2021-03-15 22:26] bwplotka commented on #3917
Let's check, I think I might have some ideas to help, commenting here: https://github.com/minio/mc/issues/3376#issuecomment-799795750

BTW thanks @harshavardhana for jumping and helping! 🤗

[2021-03-15 22:29] bwplotka commented on #3878
Thanks for reporting. It looks like server side timeout? Wonder what could be the reason, is there any server specific issue? I would check on your Object Storage documentation why 408 error occurs.

@GiedriusS It's meta sync operation, so checksums won't help I think?

[2021-03-15 22:31] bwplotka commented on #3912
Thanks, yea I think we are on it with your PR @GiedriusS, ... we are on it (:

[2021-03-15 22:31] #3909 closed

[2021-03-15 22:32] bwplotka commented on #3812
Nope 🤗
I think essentially we need to upgrade to latest Prometheus and check if we can, with the totally new Appender API!

[2021-03-15 22:33] bwplotka commented on #3812
I mean, nope that someone started working on it, feel free to help 🤗

[2021-03-15 22:34] bwplotka commented on #3726
What's the latest? 🤗

[2021-03-16 01:34] kyoto commented on #3634
This was fixed by https://github.com/thanos-io/thanos/pull/3813

[2021-03-16 01:34] #3634 closed

[2021-03-16 02:25] krya-kryak commented on #2321
I did experiment on this, and it proved to be less than satisfactory.
The key issue is twofold:
* S3 API lacks support for multipart ranges, forcing clients to make new request for each part
* Thanos subchunks are interleaved, with each part no longer than 3200 bytes (and real life subchunks tend to be around a kilobyte). Moreover, there is no way to know for sure how many bytes would there be bet

[2021-03-16 04:25] #3659 closed

[2021-03-16 04:25] #3642 closed

[2021-03-16 04:30] yeya24 commented on #3119
@kakkoyun Was this issue solved already by #3147?

[2021-03-16 07:11] kakkoyun commented on #3119
@yeya24 Only a minor part is left, we need to adjust the default values for the interval. I want to do it for 0.20.

/remind me to finish this next Monday

[2021-03-16 10:20] bwplotka commented on #3924
Nah, fllagarize is dead 🙃

I would vote for https://github.com/openproto/protoconfig as this was created exactly for this purpose.

[2021-03-16 10:22] bwplotka commented on #3766
Nice, In wonder if @idoqo might want to try to help here, it might be easy, but might require a flag, let's see 🤗

[2021-03-16 10:26] bwplotka commented on #2248
Maybe @idoqo, you want help here? Sounds like it's defined and we need this badly 🤗

[2021-03-16 10:29] bwplotka commented on #2248
I think querier, is almost done by @MalloZup , but let's look on other components if we can do the similar change as https://github.com/thanos-io/thanos/pull/3771#pullrequestreview-613076392

[2021-03-16 11:18] bwplotka commented on #3907
Thanks @Biswajitghosh98 and yea, we could use @GiedriusS implementation directly.

I am not yet fully convinced we want to go this path though. It is very inefficient to retry on this level, especially is client already retries. Do we really want this? (:

[2021-03-16 11:42] bwplotka commented on #3915
We spent 30m on going through code, so hopefully @idoqo understand the codebase if we would like to change this. But.... I am not convinced we should.

First of I would exclude alerts from this discussion. We can arrange alerts in any way we want, we could create inhibit rules to make sure dependencies are set. I would love to focus on what `thanos_sidecar_prometheus_up` is for. In my opinion it's

[2021-03-16 11:48] pracucci commented on #3907
I agree on this. I'm not much convinced about doing retries with a wrapper. We would end up retrying 4xx errors and retry over already retried requests for client already supporting it.

What if we start with a better analysis, like:
1. Among object store clients we do support, which support retries and which not?
2. For the ones not supporting it, are there open issues in the respective projects?

[2021-03-16 16:52] d-ulyanov commented on #2321
@krya-kryak thank you for the research and detailed explanation. Is there any other idea on how to optimize reads from S3?

[2021-03-16 23:23] dswarbrick commented on #3868
This hasn't reocurred in my production environment (which is good), and I unfortunately don't have sufficient spare time right now to try to reproduce this in a lab environment. I will close this for now, but may reopen it if by some fluke it happens again.

[2021-03-17 07:54] rrraditya commented on #3878
hi @GiedriusS  and @bwplotka thank you for your insights.
It seems that the issue is purely due to network connection time out, either because of intermittent network connection or failing dns resolution. But either way, what I would like to know is the compactor behavior or response on this incident.

Why it shutting down the service by its own? Is there any flag that i missing in order to avoid

[2021-03-17 13:26] dgrisonnet commented on #3915
Thank you for the clarification @bwplotka, it makes more sense now that you explained it. I was exactly wondering if my understanding of these metrics was correct before making any assumptions with the alerts, hence why I started this discussion.

As for alerting, I think the alerts should be made more resilient to WAL replays as during these periods where the sidecar is unhealthy, there is nothin

[2021-03-17 18:34] doug-ba commented on #903
I'm interested in this feature.

[2021-03-17 21:06] prmsrswt commented on #3218
Yes, let's close this for now.

[2021-03-17 21:06] #3218 closed

[2021-03-18 08:03] apr1809 commented on #1377
@GiedriusS @bwplotka I would like to disable downsampling in compactor. So should I add both arguments --downsampling.disable and --delete-delay=48h ?

[2021-03-18 10:22] jmichalek132 commented on #3555
We are also interested in contributing in this way.

[2021-03-18 11:13] bwplotka commented on #3555
Super nice!

[2021-03-18 12:02] metalmatze commented on #3932
A really great example for writing alert tests should be: https://github.com/kubernetes-monitoring/kubernetes-mixin/blob/master/tests.yaml
Running them is explained here:
https://github.com/kubernetes-monitoring/kubernetes-mixin#running-the-tests

[2021-03-18 12:03] wiardvanrij commented on #3888
As discussed in community meeting;

- Keep config/flag information on components pages
- Automate from code/structs into md
- Gather info from various parts/configs/components into that single caching page. Just like storage for example

[2021-03-18 12:03] metalmatze commented on #3932
@jmichalek132 wants to work on this! Let us know on Slack if you need help. Thanks!

[2021-03-18 14:12] kirinnee-atomi opened #3939 "Disk Space recommendation for Thanos Store Gateway"
Quick question:

How do I estimate the amount Thanos Store Gateway disk size based on the amount of retention I need? Does it pull and cache metrics locally or does it only store index?

[2021-03-18 14:21] GiedriusS commented on #3939
On boot, Thanos Store builds the binary index header of each block & stores them on disk: https://thanos.io/tip/operating/binary-index-header.md/. So, it depends on how big the blocks are. If the number of metrics that you ingest over time is roughly the same then you could multiply the size of one binary index header by the number of the blocks that you have to estimate the disk size requirement.

[2021-03-18 20:45] bwplotka commented on #3726
We discussed some of this today's Contributor Hours: https://docs.google.com/document/d/137XnxfOT2p1NcNUq6NWZjwmtlSdA6Wyti86Pd6cyQhs/edit#heading=h.dmnpchivqkn9 I will try to look on this a bit.

[2021-03-18 21:14] bwplotka commented on #3726
Investigation: I found this https://github.com/thanos-io/thanos/pull/3327 being on v0.16.0 but not on master. I think merge to v0.16.0 failed.

The long term fix was merged, but it looks like not properly, as this issue is exactly the same as https://github.com/thanos-io/thanos/issues/3265

Long term fix attempt no 1: https://github.com/thanos-io/thanos/pull/3279
Long "fix" merged: https://github.

[2021-03-18 22:35] LeviHarrison commented on #3871
@brancz I might take a swing at this if that's OK. I just have a few questions about the implementation:

* What I've gathered is that the proposal is to allow different deduplication labels per tenant so that when making a query encompassing multiple tenants, everything would be deduplicated properly. Is that correct?

* So there would be a configuration that looks something like this:

[code]

A

[2021-03-19 11:38] ashish493 commented on #3923
Any type of checklist for solving this issue?
Like do we have to use some tesing framework like ginkgo or like create some basic functional tests like this
[code]
I'm bit confused :(

[2021-03-19 12:06] pracucci opened #3941 "objstore.DownloadDir() doesn't correctly cleanup on failure"
**What happened**:
We've seen an error like this:
[code]

From a quick look at the `DownloadDir()` implementation ([code](https://github.com/thanos-io/thanos/blob/main/pkg/objstore/objstore.go#L226)) I think it doesn't cleanup cleanup on failure when the downloaded directory contains subdirectories too (eg. block `chunks/`).

I see a couple of issues:
1. `downloadedFiles` is not populated when `Do

[2021-03-19 14:03] dswarbrick commented on #3868
We had another occurrence of the halt this morning. It seems that it is more likely to occur during the large bi-weekly compact & downsample (which takes a few days on this instance).
[code]

I grep'ed for the error message in the code, and found the following in cmd/thanos/compact.go:
[code]
So it appears that the halting is intentional and supposed to serve some useful purpose.

I'm fairly sure

[2021-03-19 14:34] bwplotka commented on #985
One idea: Instead of reloading, we could just have API for applying configuration at some point.

cc @smintz

[2021-03-19 14:35] bwplotka commented on #3941
Yup, thanks!

[2021-03-19 14:37] bwplotka commented on #3924
I just had chat with @smintz, co-creator of similar project https://github.com/protoconf/protoconf, I think we plan to join forces into going for proto based configuration (alongside flags ofc)

[2021-03-19 15:25] pracucci commented on #3941
I do agree. I'm actually thinking whether it's easier to change `DownloadDir()` logic and **not** make the use of any recursion. Now we have the ability to `Iter()` objects recursively, so we could just leverage on it. This would simplify the fix.

[2021-03-19 15:32] pracucci commented on #3941
Yeah. Unfortunately happened on a customer cluster and I was just got this report (I wasn't actively debugging it).

[2021-03-19 20:19] Xtigyro commented on #2089
+1

[2021-03-19 21:25] #3679 closed

[2021-03-19 21:25] #3658 closed

[2021-03-19 21:25] #3665 closed

[2021-03-19 21:25] #3683 closed

[2021-03-19 21:25] #3525 closed

[2021-03-19 21:25] #2480 closed

[2021-03-19 22:52] #3812 closed

[2021-03-19 23:38] yeya24 opened #3944 "Instrument http_request_duration_seconds metric with exemplars"
From the discussion https://github.com/thanos-io/thanos/discussions/3938, we think it is a good start to instrument https://github.com/thanos-io/thanos/blob/main/pkg/extprom/http/instrument_server.go#L44 with Exemplars.

Exemplar example:
1. https://github.com/weaveworks/common/pull/202

Help is welcomed!

[2021-03-20 04:32] bseenu commented on #3719
Even i am facing this issue when query component is calling sidecar, my thanos sidecar is running behind istio ingress and in my dev environment i use certs signed by fake CA and i see the same error, how do i skip verify of the certs

[code]

[2021-03-20 10:41] Lord-Y commented on #3750
@kakkoyun @bwplotka do you guys have a chance to look at this issue?

[2021-03-20 13:55] #3719 closed

[2021-03-20 14:04] bwplotka commented on #3726
Thank you all for your patience and help. It kind of silly but the fix was already in PR but never merged: https://github.com/thanos-io/thanos/pull/3334/

Up-to-date fix is available here: https://github.com/thanos-io/thanos/pull/3943 and will be part of v0.19.0 🚀

Some learnings when we would be investigating such issues:
* Find the regression commit. I found that only after this guy things were

[2021-03-20 14:16] bwplotka opened #3946 "v0.19 blockers: TODO list."
Just to gather info. Still 2 to do as far as I know.

* [ ] https://github.com/thanos-io/thanos/pull/3935 (issue: https://github.com/thanos-io/thanos/issues/3917)
* [ ] https://github.com/thanos-io/thanos/pull/3869

Anything else?

[2021-03-20 23:08] yeya24 commented on #3716
This is not a bug. If you want to have raw blocks downsampled to 5m downsampled blocks, you need to set the raw retention time to >= 40h.
About dynamic or configurable downsampling interval, I think it is already discussed in https://github.com/thanos-io/thanos/issues/2408.

@ethernoy  I will close this issue. If you have further questions regarding this, feel free to reopen it.

[2021-03-20 23:08] #3716 closed

[2021-03-22 08:46] Shini31 commented on #3831
Thank again for the detailed response!

For the Thanos query memory usage part, the test was run on my sandbox environment. On my prod environment, Thanos Query can use up to 24GB of RAM :)
If I use Thanos Query frontend in addition, I end up with potentially 2 * 24GB of used RAM that will never be released.

[2021-03-22 10:18] wiardvanrij commented on #3831
Could you please share more information on your query configuration, version number and perhaps some (metric) insights on it's usage?
IMO 24GB is not normal behavior.

[2021-03-22 10:23] GiedriusS commented on #3831
This sounds like an XY problem for me (: Could you please go to `/debug/pprof` & upload the memory profile / goroutine dump in such a case? It's hard to tell otherwise what's happening.

[2021-03-22 18:35] #3435 closed

[2021-03-22 23:03] luizrojo commented on #3726
Awesome news @bwplotka !

Looking forward to v0.19

[2021-03-23 05:10] Wander1024 commented on #3665
any update for this issue?
is it processing?

[2021-03-23 07:44] vatine opened #3949 "Circular dependency on github.com/cortexproject/cortex"
**Thanos, Prometheus and Golang version used**:

Go: v1.16
Thanos: github.com/thanos-io/thanos@v0.18.0

**Object Storage Provider**: N/A

**What happened**: I got a build error, trying to build thanos in a fresh docker container

**What you expected to happen**: I expect to not get a build error.

**How to reproduce it (as minimally and precisely as possible)**:

In a newly-started golang:1.16.2-b

[2021-03-23 08:12] GiedriusS commented on #3665
Is it still an issue on the newest version?

[2021-03-23 08:13] GiedriusS commented on #3941
I presume your customer doesn't run code from `v0.19.0-rc.1`? So, this issue is probably from `v0.18.0` i.e. before https://github.com/thanos-io/thanos/pull/3031 ?

[2021-03-23 08:56] Wander1024 commented on #3665
sorry,
let me upgrade to the newest version.
thanks

[2021-03-23 11:06] zcong1993 opened #3951 "Jaeger ForceTracing not work"
thanos use `X-Thanos-Force-Tracing` as `JaegerDebugHeader` key [https://github.com/thanos-io/thanos/blob/90015469cc81e7532a995527aa903262988d0199/pkg/tracing/jaeger/jaeger.go#L55](https://github.com/thanos-io/thanos/blob/90015469cc81e7532a995527aa903262988d0199/pkg/tracing/jaeger/jaeger.go#L55), but jaeger client always convert request header key to lowercase before compare, [https://github.com/ja

[2021-03-23 13:53] jscode017 commented on #977
Hi, my name is Tzu-Shen Wang, I would like to take this as my gsoc project.
I would really appreciate any help.
And I would like to ask that would it be okay to think it like this way?
[code]

where the "config file of the store" would contains tls_config, basic_auth_config ... etc?

[2021-03-23 14:43] airkewld opened #3952 "Thanos Compact Crashing due to Azure Timeout"
Compact component crashes when it encounters a file it cannot fully download/analyze.
[code]

Our obj store config includes a max_retries value of 3, but it does not seem to be passed in correctly.
[code]
Any assistance is appreciated.

[2021-03-23 14:47] wiardvanrij commented on #3952
I'm pretty sure we need to add a timeout value to the retry pipeline part here; https://github.com/thanos-io/thanos/blob/90015469cc81e7532a995527aa903262988d0199/pkg/objstore/azure/helpers.go#L39

See: https://pkg.go.dev/github.com/Azure/azure-storage-blob-go/azblob#RetryOptions

[code]

I will try to make a PR soon™

[2021-03-23 14:55] airkewld commented on #3952
Re: `but it does not seem to be passed in correctly`
In the error logs, i see the timeout set to 1, i expected that timeout value to be that of the max_retries specified in the obj store config file.
```SQC0MQ07MBCFXSWD62NCG/meta.json?timeout=1\":```

[2021-03-23 17:56] bwplotka commented on #3949
Thanks for raising! This might similar to https://github.com/thanos-io/thanos/issues/3832 so closing this one to avoid duplication and confusion. I will try to help how to quickly resolve it (TL;DR manual adjustment to go.mod is required) 🤗 Feel free to comment there!

[2021-03-23 17:56] #3949 closed

[2021-03-23 18:00] bwplotka commented on #3832
👋🏽  @vatin could you check if the method above helps?

@abursavich are you unblocked?

Would be nice to fix it anyway (:  There is a new way btw in Go to retract certain versions: https://golang.org/ref/mod#go-mod-file-retract but I think it does not help much.

I would not try to reset deps before Go1.17. Reasons: In that version all non-go modules Go packages will be blocked, so there will be lo

[2021-03-23 18:36] vatine commented on #3832
@bwplotka For my specific use-case, I would prefer having "something that works directly from upstream" (this all basically ends up feeding into a Go build farm that extracts statistics from packages, see https://github.com/vatine/gochecker/ for details, and in the reports/ subdir for painfully many details). From my POV, it'd be easier to throw away the stats I have collected so far and simply no

[2021-03-23 20:26] bwplotka opened #3954 "docs: Compator page image is broken; add data about web viewer"
1. The image is not resized properly and goes outside of the column. (:

(https://thanos.io/tip/components/compact.md/)
![image](https://user-images.githubusercontent.com/6950331/112213282-cd35f780-8c15-11eb-8777-b33216fe9eb5.png)

2. Compactor exposes `/loaded` and `/global` endpoints on HTTP port which gives amazing block UI explained [here](https://thanos.io/tip/components/tools.md/#bucket-web)

[2021-03-23 20:28] saswatamcode opened #3955 "`make docker` fails on macOS"
**What happened**: `make docker` fails on macOS

**What you expected to happen**: Should build and tag `thanos` image

**How to reproduce it (as minimally and precisely as possible)**:
- Run `make docker` on macOS or any non `linux` platform, which will result in the error below,
[code]

**Anything else we need to know**:
- OS: macOS 10.15.5
- Kernel: `darwin x86_64`
- Docker Desktop: v3.0.2

[2021-03-23 20:54] wiardvanrij opened #3957 "Refactoring of azure obj store"
I wanted to add some extra configuration options, but then kinda hit a wall with the current testing method. As it's quite hard to extend those. So I started refactoring the azure part and I think I can squash a few issues;

#3933
#2839
#3952

Also adding;

- Implementing our own HTTP transport method (and therefore configuration options). Just like S3.
- Adding configuration for `PipelineRetry` m

[2021-03-23 21:14] ubcharron opened #3958 "Swift: Error detected but not handled while uploading a file to the bucket"
**Thanos, Prometheus and Golang version used**: Thanos version github.com/thanos-io/thanos v0.13.1-0.20210108102609-f85e4003ba51 (from Cortex 1.7.0)

**Object Storage Provider**: Swift

**What happened**: An index file failed to be uploaded to Swift, but I think the error was not detected by the error-handling code.

The Cortex compactor reported that it successfully uploaded an entire block (chun

[2021-03-24 02:37] 4n4nd opened #3959 "Dashboards: Panels have multiple queries with same refIds breaking rendering"
In the example grafana dashboards, panels have multiple queries with the same refId ([one example](https://github.com/thanos-io/thanos/blob/main/examples/dashboards/receive.json#L244-L276)). This refId needs to be unique for each query ([source](https://community.grafana.com/t/dashboard-import-refid/3651)). This results in the panels erroring out and not rendering the graphs even though the querie

[2021-03-24 05:59] abursavich commented on #3832
Yeah, with go 1.16 I can just use excludes.

[2021-03-24 08:12] #3955 closed

[2021-03-24 08:23] bwplotka commented on #3957
Thanks!

I think no one is on it, and we saw some issues on GitHub e.g https://github.com/thanos-io/thanos/issues/3952 soi I think it's healthy to do!

[2021-03-24 10:38] spaparaju opened #3964 "For each write to Thanos/receive, add limit to the allowed number of samples"
### Is your proposal related to a problem?
Yes

Currently Thanos based hosted monitoring services lack protection to limit the number of samples that can be accepted at 'Thanos receive' component.

### Describe the solution you'd like

For each write call, define a configurable upper bound (at Thanos receive component) to the number of samples that can be received.
### Describe alternatives you've

[2021-03-24 11:42] metalmatze commented on #3964
I'm wondering if that should be really part of the Thanos Receiver and not some other proxy in front of the Receiver.
Maybe it still fits into the Receiver Route once the Receiver is split into Receiver and Receiver Route?

[2021-03-24 14:10] yutian-github opened #3965 "Component Receiver --tsdb.retention=0d didn't work"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:

**Anything else we need to know**:

[2021-03-24 14:13] yutian-github commented on #3965
When I used Receiver to recieve kubenetes metrics and config --tsdb.retention=0d, but found the tsdb metrics blocks is still generated locally,

[2021-03-24 14:21] #3965 closed

[2021-03-24 14:53] yeya24 commented on #3965
@yutian-github Setting retention to `0d` disables retention. And having retention enabled doesn't mean there is no TSDB block generated.

[2021-03-24 15:26] bwplotka commented on #3917
Looking on it, last thing until v0.19.0-rc.2 Will try to make some benchmarks

[2021-03-24 15:49] wiardvanrij opened #3966 "Compactor: Does not exit on error"
**Thanos, Prometheus and Golang version used**:
17.2

**Object Storage Provider**: s3

**What happened**: Compactor got an error but did not get killed and does not continue

**What you expected to happen**: Compactor exits so it can be restarted or continues regardless

**How to reproduce it (as minimally and precisely as possible)**: n/a

**Full logs to relevant components**:

<details>Logs
<p>

[2021-03-24 16:03] wiardvanrij commented on #3966
That's not possible as this endpoint is shutdown :(

[2021-03-24 16:44] bwplotka commented on #3917
Performed some benchmarks:

[code]

As expected @harshavardhana, wonder how it was before this change against race? 🤔

EDIT:

I reverted the [race fix](https://github.com/minio/minio-go/pull/1357/files) locally on my branch and the result is:

[code]

The difference is significant.

Code:
[code]

[2021-03-24 16:59] bwplotka commented on #3917
I am considering using fork for release, and fix this later on master. Any objections?

[2021-03-24 16:59] bwplotka commented on #3917
Discussing https://github.com/minio/mc/issues/3376 for long term approach with super helpful @harshavardhana

[2021-03-24 17:05] bwplotka opened #3967 "Help minio-go with over-allocations on Multi-Part Upload"
See: https://github.com/minio/mc/issues/3376#issuecomment-805994723

Currently to mitigate issue on our side from this https://github.com/thanos-io/thanos/issues/3917 we had to revert that particular commit and use tmp fork instead: https://github.com/bwplotka/minio-go/commit/f9927e5255a6ade9d3728e2651c6ae24f4367692

This issue is to figure out long term solution that will work for us and for mini

[2021-03-24 17:07] ahurtaud commented on #3917
That is fine for me, also we should rename and re-label the issue properly (no 0.19 tag then, and affecting only the components doing S3 uploads: sidecar, compact, receive, ruler?).
Feel free to rename to something more fitting the issue.

[2021-03-24 17:12] #3946 closed

[2021-03-24 17:14] bwplotka commented on #3966
Looks like bug, but I would suggest upgrading Thanos so we are sure we know what's happening.

Looks like to repro one could try running compactor with AccessDenied (:

[2021-03-24 17:34] wiardvanrij commented on #3966
We had KIAM outage, so I think to reproduce is to allow acces -> remove acces.

[2021-03-24 18:33] #3917 closed

[2021-03-24 19:53] wiardvanrij commented on #2839
I'm not sure if this is possible; azure-go uses `ServiceVersion` as a const and it has 0 methods to change this. One perhaps...could use a http roundtripper to 'hack' this in for each request. That's just not sane. Otherwise we could implement some function overrides.
To be honest,  if we want this, we should create a feature request at azure-go.

[2021-03-25 00:58] yutian-github commented on #3965
Thanks for your reply. So setting retention to 0d always means no limit on the local disk.

[2021-03-25 04:40] RavjotSandhu commented on #3954
Sir would please give a little more context as to what to do? As far I understood this current image is to be replaced with that blocKUI one. Am I right?

[2021-03-25 05:25] EusebiusAditya commented on #3876
@bwplotka would it be possible to open this, there could be a miss understanding on my part, but doesn't this min-time flag means that it will process data after the given date/time, which state in the description `which happened later than this value` but what i need is data before the value.

[2021-03-25 06:52] DreamDZhu opened #3972 "Query-frontend Data faults In Grafana"
my thanos query-frontend start command is :

docker run -d --network host --name thanos-queryfrontend -v /etc/thanos:/etc/thanos thanosio/thanos:v0.19.0-rc.2 \
 query-frontend \
--http-address=192.168.12.105:15902 \
--query-frontend.downstream-url=http://192.168.12.105:11902 \
--query-range.split-interval=12h \
--labels.split-interval=12h \
 --labels.max-retries-per-request=10 \
 --query-range.ali

[2021-03-25 06:53] #3838 closed

[2021-03-25 08:25] mxmorin commented on #3726
I've tested 0.19-rc2 and issued is fixed.
Many thanks

[2021-03-25 10:22] bwplotka commented on #3726
Done then. I see the capacity to reduce the resource usage after v0.19.0 a lot too. Let's release it and iterate. Thanks all for help.

[2021-03-25 10:22] #3726 closed

[2021-03-25 11:07] flmmartins commented on #3364
/reopen

[2021-03-25 13:57] yeya24 commented on #3972
@DreamDZhu Yes, it might be related to caching. But I need to investigate. Do you configure any HTTP parameters in your Prometheus datasource? Like downsampling?

[2021-03-25 14:39] liangli1213 opened #3975 "sidecar support https and basic auth access to Prometheus"
Since Prometheus version 2.24, we can configure basic authentication and TLS for Prometheus, in my case, the Prometheus provide service directly to the whole internal network, so we enable login credential and TLS (we don't want everyone access Prometheus and username/password transmitted with plain text), and meanwhile we need configure thanos sidecar in same Prometheus (we have multiple Promethe

[2021-03-25 14:57] yeya24 commented on #3975
We definitely need this. Help wanted.

[2021-03-25 20:32] #3959 closed

[2021-03-25 21:10] idoqo commented on #2248
While implementing the config struct for ruler, I noticed some advantage in the current approach (using the `run*` methods) and I'm not sure how to apply them to the "config structs" method yet.

Using  the `run*` methods as in https://github.com/thanos-io/thanos/blob/04ad33d79f676d4b78e866b6bfb893aed4ccff20/cmd/thanos/rule.go#L291), we can figure all the flags that are applicable to a component.

[2021-03-26 00:46] metalmatze commented on #3944
I am going to assign this to myself as I got it working from a Thanos standpoint for the most part. :tada:
![Screenshot from 2021-03-26 01-44-35](https://user-images.githubusercontent.com/872251/112561112-d91be800-8dd4-11eb-8f98-2a4b2d05fa23.png)
Right now I'm unable to actually make it work in Grafana, but that should be all for the most part.

Probably, worth noting that I had to use the histogr

[2021-03-26 01:07] DreamDZhu commented on #3972
Thank you for your reply 。 In  compact , I set 5 minutes of down-sampling data and 60 minutes of down-sampling data for 60 days 。

I think I found the cause of the problem.

Since my sidecar was set cmd  :
       -min-time=-2h
 and my store set cmd :
      --store_min_time: -180d
      --store_max_time: -2h

When the local prometheus generates the TSDB data, because the block is too large and the

[2021-03-26 06:39] saswatamcode commented on #3941
I think this bug would arise when the `downloadedFile` array is populated with a `dst` that hasn't been downloaded. This possibly should cause `DownloadFile` to return an error though and the array wouldn't be appended. Was there any other error just before this? It would be easier to figure out the flow then.

[2021-03-26 12:22] #3944 closed

[2021-03-26 12:24] SuperQ commented on #3069
Not stale

[2021-03-26 13:15] commixon commented on #1851
Hello people! Is this still a valid thing? We would really like this as well (and are willing to help with anything as well)

[2021-03-26 17:27] itatabitovski opened #3981 "Unknown long flag '--request.logging-config-file'"
**Thanos, Prometheus and Golang version used**:
1. thanos-0.19.0-rc.2.darwin-amd64
[code]

**Object Storage Provider**:
n/a

**What happened**:
[code]

I tried to use flag `--request.logging-config-file=` documented [here](https://github.com/thanos-io/thanos/blob/main/docs/components/query-frontend.md) but got error `unknown long flag '--request.logging-config-file'`

**What you expected to happen

[2021-03-26 18:34] dmilind opened #3982 "Thanos receiver pod keeps restarting while saying store locally for endpoint 127.0.0.1:10901: get appender: TSDB not ready" msg="internal server error"
I am newbie here and tying to understand thanos receiver work flow.
Whats happening ?
While checking logs from prometheus and thanos receiver side, I am hitting with below error
`level=error ts=2021-03-26T18:22:25.041639445Z caller=multitsdb.go:334 component=receive component=multi-tsdb tenant=default-tenant msg="failed to start tsdb asynchronously" err="mkdir \": permission denied"
level=error ts

[2021-03-26 20:40] wiardvanrij commented on #3981
This feature is indeed in the main branch but was not in the cut for the release candidate because that was created at roughly the same time. rc.0 is from 24days ago. The PR for this feature: https://github.com/thanos-io/thanos/pull/3862 was merged 22 days ago. I do understand your point though!

I would recommend using the docs that are inherent to the version you are using. You can use the docs

[2021-03-26 21:25] wiardvanrij commented on #3982
This would be in the container

This is for the tsdb data location

Right, this took me a while too. :D
It's because of the quotes in your path;
[code]
Remove those, so you'll have;
[code]

For some reason it would otherwise escape the path (I think) so it becomes something like
[code]

[2021-03-26 22:20] bwplotka commented on #3967
This is not done, with still are on my fork, and we need to fix minio upstream in a way that will not produce race and will be efficient in the same time 🤗

[2021-03-26 22:30] bwplotka commented on #1851
Looks like it's getting quite a popular feature (: We already build such binaries - so you can easily build (`make crossbuild`) and upload to your own registry. Ideally we have someone who can configure docker registry for us 🙃 which is unlikely. For some reasons @daixiang0 had issues to access things from China I believe.

We will try to prioritize this on maintainer team (: Thanks!

[2021-03-27 00:05] der-eismann commented on #1851
FYI this is how we did it with GitHub actions, works fine for us so far:
https://github.com/rebuy-de/aws-nuke/blob/main/.github/workflows/release.yaml#L48-L78
Basically you need QEMU & buildx for docker, then it's possible to build for all arches.

[2021-03-27 00:33] roidelapluie commented on #1851
I don't think thanos requires this. I am happy to share promu with thanos.

[2021-03-27 06:53] RavjotSandhu commented on #3081
@bwplotka @thisisobate

[2021-03-27 13:03] dmilind commented on #3982
@wiardvanrij  Thanks for your help. I tried and it worked.

[2021-03-27 13:03] #3982 closed

[2021-03-27 13:38] GiedriusS commented on #3981
Closing this as it's a non-issue. Let us know if you still have any problems

[2021-03-27 13:38] #3981 closed

[2021-03-27 14:22] GiedriusS commented on #3972
`expiration` parameter should control that (https://thanos.io/tip/components/query-frontend.md/#memcached). Have you tried it? Thank you for digging into this! As this is a non-issue, I will close this to keep our issue tracker a bit tidier. I hope you understand :hugs:

[2021-03-27 14:22] #3972 closed

[2021-03-27 19:06] Namanl2001 commented on #3975
Can I take this up?

[2021-03-27 19:38] GiedriusS commented on #3576
If I understood this correctly then this could be solved by having something like promxy's server groups. But, for that we should have the ability to specify `StoreAPI` nodes via config files first IMHO

[2021-03-27 19:45] GiedriusS commented on #3406
Not sure if I agree with the "trivial" part. In bigger deployments, the size of produced blocks can easily go into the range of hundreds of gigabytes. It would be very nice to have this so hence reopening.

[2021-03-29 09:38] bwplotka commented on #3068
cc @idoqo 🤗

[2021-03-29 09:42] bwplotka commented on #3405
Very valid

[2021-03-29 09:43] bwplotka opened #3985 "Have easier to way to tell the progress of compactor (and downsampling)"
Currently, you need to check Thanos Compact UI and check if all older blocks are bigger. There should be only up to 5 of 2h, 8h and 2d blocks. Rest should be compacted to 2w. Similar for downsampled blocks.

Or you can check the number of compactions per day to see if the number stabilizes.

Both ways are pretty manual. I would propose adding metric suggesting the backlog of compaction to make. Th

[2021-03-29 11:15] #3706 closed

[2021-03-29 11:44] psandhu79 opened #3987 "preload chunks: read range for 0: allocate chunk bytes: pool exhausted : query :store:"
**Thanos, Prometheus and Golang version used**:
Thanos .18.0
Go go1.15.7
Prometheus  2.24.0

**Object Storage Provider**: GCS

**What happened**:

Installing the kube-prometheus stack with the default alerts and recording rules and setting those to be managed by the thanos ruler. I expect them all to recording the new metrics within thanos correctly but i keep getting these error messages

<detail

[2021-03-29 13:04] zjj2wry opened #3988 "thanos receive goroutine leak when appear conflict error"
**Thanos, Prometheus and Golang version used**:
v0.19.0-rc.2

**Object Storage Provider**:

**What happened**:
![image](https://user-images.githubusercontent.com/18045633/112841652-54321680-90d3-11eb-9397-f55a396e3f4c.png)

![image](https://user-images.githubusercontent.com/18045633/112846102-3fa44d00-90d8-11eb-8554-1d7b159350a6.png)

prometheus error:
[code]

thanos-error
[code]

**What you expec

[2021-03-29 14:32] dgrisonnet opened #3990 "ThanosSidecarUnhealthy doesn't fire if the sidecar is never healthy"
**Thanos, Prometheus and Golang version used**:

Thanos mixins main.

**What happened**:

The `ThanosSidecarUnhealthy` alert never fire if the sidecar is never healthy.

**What you expected to happen**:

I would've expected the alert to fire 10 minutes after the sidecar start.

**How to reproduce it (as minimally and precisely as possible)**:

Create a sidecar with a wrong `prometheus.url` so that

[2021-03-29 14:42] dgrisonnet commented on #3990
Based on how the `thanos_sidecar_last_heartbeat_success_time_seconds` metric works today, I don't think this can be fixed just by changing the promQL query. As a matter of fact, I gave it a couple of tries and I was always blocked by the fact that the metric isn't initialized so we can't really know if the sidecar was unhealthy during startup.

That being said, I can see a couple of other solution

[2021-03-29 17:50] WesternStar commented on #630
For other people like me who search and find this issue. The way you query for these metrics is through the store api. If you hook ruler up to query's store api you will be able to see these metrics.

[2021-03-30 02:23] zjj2wry commented on #3988
recovery it by add rate limit, maybe not a bug

[2021-03-30 02:23] #3988 closed

[2021-03-30 08:48] bwplotka commented on #3766
Talked on 1:1 offline: Even if we cannot reproduce this anymore, let's put a unit test for it, so we can ensure there is no regression in future (: WDYT? @idoqo

[2021-03-30 08:54] bwplotka commented on #3766
Place where we might adjust the code: https://github.com/thanos-io/thanos/blob/main/pkg/discovery/dns/resolver.go#L117
You can adjust test like this: https://github.com/thanos-io/thanos/blob/5aa5e415de405949d56e96d99ac7afc73987a763/pkg/discovery/dns/resolver_test.go#L140

[2021-03-30 10:15] kirinnee-atomi commented on #3939
Yes it does, thank you very much

[2021-03-30 10:15] #3939 closed

[2021-03-30 10:31] ethernoy commented on #3716
I understand it completely now and thank you so much for your kind explanation! However, will you consider providing a table of the minimal length of a block of each downsampling level? For example:

| Downsample      | Minimal Length of Block |
| ----------- | ----------- |
| Raw->5m | 4h |
| 5m->1h | 7d  |

[2021-03-31 06:40] infa-kparida opened #3997 "FIPS compliant Thanos Docker image"
### Is your proposal related to a problem?

Ye.FIPS 140-2 is a set of cryptographic standards that all  application may need to adhere to If you work with US government entities .We are setting up thanos for monitoring in some of the GovCloud environments and need thanos to be FIPS compliant.

### Describe the solution you'd like

  Provide an docker image with FIPS encryption enabled

[2021-03-31 08:21] hairongGao commented on #454
Hi just bumped into this and I've been struggle for days to get multi-cluster thanos to work , not sure if I'm doing this right , but
[code]
svc.yml

[code]
istio config
[code]
I got "NR" error in envoy which I believe is no route errors but the conns between the ingress and the pod is  ESTABLISHED on thanos store gateway pod
[code]

Any ideas ? Thanks

[2021-03-31 11:48] GiedriusS commented on #3997
Hi, could you please share on what are the exact requirements? For people outside of US, it might be hard to understand this. Is it something like https://github.com/arhea/docker-fips-library? Are there any test suites which would tell us whether a Docker image is FIPS compliant?

[2021-03-31 12:22] Zophar78 commented on #3975
I'm also really looking forward on such feature! ;)

[2021-03-31 12:22] binhvcom commented on #3975
+1

[2021-03-31 13:22] jscode017 commented on #977
@bwplotka How do you think for cons of something like:

[code]

where the "config file of the store" would be a file that contains tls configs,  and if it is leave blank then we could still use those tls arguments(e.g --grpc-server-tls-cert=[server-tls-cert] ... in the example above), otherwise we use the config file tls settings for specific store.

Or do you think that delegate the tls to other

[2021-03-31 17:38] asuffield opened #4004 "Query/UI: state is shared between windows"
https://github.com/thanos-io/thanos/issues/2578 was only partially fixed, and the same problem still occurs when multiple browser windows are used.

Reproduction sequence:
1. Open two browser windows, which we'll call A and B
2. Type a query into window A and click execute
3. In window B, toggle the deduplication or partial query options
4. Click execute in window A
5. You are now looking at the r

[2021-03-31 17:38] Kampe commented on #3194
This is a probelm we see as well over time with using 3 recieve nodes and a replication-factor=2

[2021-03-31 20:04] nextrevision commented on #3211
@Abhishek357 Thanks for providing a fix for this. Would it be possible to rebase the open MR? I think that's all that is blocking it from merging.

[2021-03-31 21:41] Abhishek357 commented on #3211
Yeah! sure. Done :)

[2021-04-01 03:34] saswatamcode commented on #4004
Are you using the new UI or the classic one?

[2021-04-01 07:53] andrej-marec opened #4006 "Sidecar data integrity issue"
**Thanos, Prometheus and Golang version used**:
thanos, version 0.18.0 (branch: HEAD, revision: 60d45a02d46858a38013283b578017a171cf7b82)
  build user:       root@4cf3f59273a2
  build date:       20210127-12:18:59
  go version:       go1.15.7
  platform:         linux/amd64

**Object Storage Provider**: s3 swift

**What happened**: thanos sidecar isn't controlling uploaded data, small storage outa

[2021-04-01 09:31] GiedriusS commented on #3966
Another thing is that we should only turn off the HTTP server at the end of everything to permit debugging via pprof in cases such as this.

[2021-04-01 10:14] asuffield commented on #4004
#2578 was for all panels in general; the partial fix made it work for browser instances which only have a single window open.

Desired behaviour is an interesting question - there are several reasonable options. The current behaviour is obviously wrong, but it's less obvious which of the options is right. Some options include:

1. When the option is toggled in one window, all other windows are upd

[2021-04-01 12:06] saswatamcode commented on #4004
Yup. Also seems like when I open multiple panels on one browser window, and then open another window, the same number of panels aren't reflected, but the first one appears to be treated as id `0` 🤔 . What do you think? @bwplotka @onprem

[2021-04-01 15:57] conorevans commented on #3997
+1 on this