[2022-08-05 17:51] fpetkovski commented on #5572
Yeah the graphs are a bit strange. I'll give this thing a shot next week and measure changes in transmitted bytes from receivers.

[2022-08-06 07:53] #5499 closed

[2022-08-06 08:57] chalut01 commented on #3665
From version 0.26.0.
I still get this issue. anybody else?
<img width="1431" alt="Screen Shot 2565-08-06 at 15 47 43" src="https://user-images.githubusercontent.com/22786179/183242241-bc22f36f-abb1-4856-989d-64829e3391fe.png">

[2022-08-06 16:35] #5521 closed

[2022-08-06 16:42] #5462 closed

[2022-08-08 03:25] mongoliaredmountain opened #5576 "how to solve problem"
level=info ts=2022-08-08T03:16:11.854528377Z caller=options.go:27 protocol=gRPC msg="disabled TLS, key and cert must be set to enable"
level=info ts=2022-08-08T03:16:11.854760378Z caller=factory.go:50 msg="loading bucket configuration"
level=error ts=2022-08-08T03:16:11.854822567Z caller=main.go:132 err="yaml: line 2: mapping values are not allowed in this context\nparsing config YAML file\ngithub

[2022-08-08 06:54] GiedriusS commented on #5576
I think it needs to be:
[code]

Notice how there's no spaces before "config:".

[2022-08-08 11:16] dswarbrick commented on #5501
I also encountered this after upgrading from 0.26.0 to 0.27.0. Initially it appeared to only be present when using query frontend, but I later encountered it with just the plain querier. Also it's not specific to Grafana environments - I noticed the same weird data even when using the thanos query web UI.

[2022-08-08 11:32] panchambaruahwise commented on #4772
This issue is still being observed in thanos:v0.24.0

[2022-08-08 14:04] #5572 closed

[2022-08-09 03:05] ADITYADAS1999 commented on #5576
type: s3
config:
  access_key_id: kvMgKi6doSwB1md
  access_key_secret: 9e563QISa0g1GDSqcLPqWcCQFADYs
  bucket: thanos
  endpoint: "192.168.58.204"
  insecure: true

![yaml validation](https://user-images.githubusercontent.com/58718316/183554705-1ce1d63e-9d34-47b7-9a9d-b793d90a06d2.PNG)

[2022-08-09 03:06] ADITYADAS1999 commented on #5576
hey i thing thats useful

[2022-08-09 10:33] #5172 closed

[2022-08-09 10:57] chalut01 opened #5577 "Store : OOMKilled - exit code 137"
**Thanos, Prometheus and Golang version used**: 0.26.0

Hi,
From the following issue https://github.com/thanos-io/thanos/issues/3665. I get an error "OOMKilled - exit code 137" many time.
Do you have any suggestions?

**My args**
--store.grpc.series-sample-limit=0'
--log.level=info'
--data-dir=/var/thanos/store'
--index-cache.config-file=/thanos-conf/thanos-store-redis.yaml'
--chunk-pool-size=8GB'

[2022-08-09 17:38] bboreham opened #5580 "Nit: comment on runtime/CloseWithErrCapture"
This comment says "runs function" - what function?

https://github.com/thanos-io/thanos/blob/6d1b98d4978126691888d09cc7c86551f1b759ea/pkg/runutil/runutil.go#L138-L139

How about:

     // CloseWithErrCapture closes closer, wraps any error with message from fmt and args, and stores this in err.

[2022-08-10 11:04] GiedriusS commented on #5501
Was able to reproduce this by myself. Reverting https://github.com/thanos-io/thanos/pull/5410 doesn't help, must be something more serious. Will try to reproduce locally && fix it.

[2022-08-10 19:09] GiedriusS commented on #5501
Could you please try out `main-2022-08-10-d00a713a` or later and see if it helps?

[2022-08-11 08:35] jabdoa2 opened #5587 "Compactor: Prometheus TODO metrics will disappear when everything is done"
**Thanos, Prometheus and Golang version used**:

Everything up to current master.

**Object Storage Provider**: irrelevant here

**What happened**:

Compactor records its todos in `thanos_compact_todo_compaction_blocks`, `thanos_compact_todo_deletion_blocks` and `thanos_compact_todo_downsample_blocks`. Those metrics are very helpful when something is todo. However, they disappear when everything i

[2022-08-11 12:57] rgaoistheone opened #5589 "Data lose when thanos query remote store"
**Thanos, Prometheus and Golang version used**:
[code]

**Object Storage Provider**:
alibaba cloud oss

**What happened**:
I have a querier set up and connected to a remote store `172.19.151.140:10901` which is expose by nginx tcp-services
This remote store gateway have two endpoints ,one is store gateway itself and the other is thanos sidecar.

So here is funny things happen, when querier first c

[2022-08-12 06:04] kimcagayat opened #5590 "Thanos Side Endpoints Not Showing on Querier"
**Thanos, Prometheus and Golang version used**:

Thanos:
Version	0.12.2
Revision	52e10c6e0f644ea98fd057e7fbece828d8dd07c7
Branch	HEAD
BuildUser	circleci@241aa351893e
BuildDate	20200430-16:37:24
GoVersion	go1.13.1

Prometheus:
Version	2.25.0
Revision	a6be548dbc17780d562a39c0e4bd0bd4c00ad6e2
Branch	HEAD
BuildUser	root@615f028225c9
BuildDate	20210217-14:17:24
GoVersion	go1.15.8

**Object Storage Prov

[2022-08-12 06:24] GiedriusS commented on #5501
Can't reproduce this anymore with https://github.com/thanos-io/thanos/commit/d00a713a9bd66e650418bde6bd80ac7f2dc67428, will close this issue in a few days if nothing comes up.

[2022-08-12 10:03] kilian-kier opened #5591 "."
.

[2022-08-12 11:02] enimath commented on #5407
I am not 100% sure but maybe I am strugling same issue on my HA setup with 3x receivers , 2x replica  :
thanos, version 0.27.0 (branch: HEAD, revision: f68bb366d18557a5347e6b38013f363ad5be05a4)
  build user:       root@708554d4fa46
  build date:       20220705-14:57:42
  go version:       go1.17.11
  platform:         linux/amd64
https://github.com/thanos-io/thanos/discussions/5513

[2022-08-12 12:09] #5450 closed

[2022-08-12 13:11] Akshit42-hue opened #5592 "Docs: Update object storage provider details"
In the object storage provider [docs](https://thanos.io/tip/thanos/storage.md/#supported-clients) we have missing Oracle Object Storage details

[2022-08-12 18:55] jimethn commented on #4881
Still needed. We don't have a good way to fix (or at least identify) corrupted chunks.

[2022-08-14 09:41] #5591 closed

[2022-08-14 10:49] skant7 commented on #3016
Hi @bwplotka I'm interested in working on this as a part of the LFX mentorship program is there any related PR or specific part of the source code which I can look up just to get started?

[2022-08-15 04:09] yeya24 commented on #5587
This behavior is expected because the metrics are gauges. We need to reset the labels every iteration to clean up stale metrics from previous iterations. Otherwise, the cardinality would grow infinitely.

Compactor not working is usually tracked by some other more meaningful metrics like `up{job="thanos-compactor}`.

[2022-08-15 07:04] jabdoa2 commented on #5587
Yeah that does not help. We had that check and it stopped working in Dezember. We noticed just in August this year. You need to monitor at least the halted metric but even that is not reliable as it becomes unhalted on every restart.

Monitoring the rate of complete iterations is the best we currently have. However, its far from optimal. It would be nice to properly monitor outstanding work to mak

[2022-08-15 07:10] yeya24 commented on #5587
Yep so you can monitor the halt metrics along with the progress metrics.

Unfortunately it is not easy to make it 0 by default. But you can use the way I mentioned to turn it to 0 and then you can use rate for it.

[2022-08-15 09:16] matej-g commented on #5590
Are you using `0.12.2`? That seems like a rather outdated version. Besides that, this seems to be a connectivity issue where querier cannot reach the store or the connection times out?

[2022-08-15 09:22] matej-g commented on #5589
So if understand correctly, did you see all stores and data as expected after the restart? It sounds like it might have been an intermittent issue. Are you able to replicate the behavior again?

[2022-08-15 09:23] matej-g commented on #5592
@Akshit42-hue make sense! Do you want to add it? :slightly_smiling_face:

[2022-08-15 09:52] jabdoa2 commented on #5587
Please have a look at my initial issue: This metric is also null when compactor is not running. We really got issues monitoring compactor without noise because metrics are unstable. This eventually leads to fatigue and people will stop trusting the monitoring. We had a broken compactor for almost a year because people mostly ignored the issue because retarting the pod fixed it for a while. So no t

[2022-08-15 10:34] Akshit42-hue commented on #5592
Well, yes if someone guides me :)

[2022-08-15 11:12] Malankar opened #5595 "UI Changes: Search Bar"
### Problem
Search Bar result are going off the screen for mobile users.

![image](https://user-images.githubusercontent.com/32304774/184624226-52490acb-82a9-490f-870c-bf6e8fe0be35.png)

[2022-08-15 11:57] jimethn commented on #3665
Just got this on 0.25.1

[2022-08-15 12:54] jphx commented on #4351
This is still a desired enhancement.

[2022-08-15 13:57] milesarmstrong commented on #4802
Bump, I'd also find this useful!

[2022-08-15 15:57] oronsh commented on #5577
I think it's the label values, when passed a mathcer, if external label it would try to fetch all series to match on.
I opened a PR with a fix:
https://github.com/thanos-io/thanos/pull/5596

[2022-08-15 17:22] hamees-sayed commented on #5434
Hello, I'm interested in contributing to this project as a part of lfx mentorship program. Any related PR or docs I can check out to get started?

[2022-08-15 17:56] yeya24 commented on #5587
That's totally a different question. You could use something like `absent(compact_xxx_build_info)` to make sure compactor is running. If you want to ensure not halting you could combine the two.

You have to combine the multiple metrics together and get a complete view. There is no perfect solution now for you to look at one metric only. If you have any idea feel free to contribute.

[2022-08-15 20:08] d-shi opened #5599 "Make the docs more clear about thanos-store only supporting a single object store"
### Is your proposal related to a problem?

I had a pretty frustrating experience troubleshooting getting historical metrics into thanos:

We have a multi-cluster and multi-region infrastructure where I had installed thanos. prom-operator installed thanos-sidecar in every cluster which uploads metrics blocks to its own S3 bucket. In a central infra cluster, thanos-query was configured to query all

[2022-08-16 03:26] kimcagayat commented on #5590
hi @matej-g, yes but I already upgraded the thanos-sidecar, store, compactor and querier to Image:      quay.io/thanos/thanos:v0.27.0 just now. Except on thanos bucket because I am receiving a "crashloopback" error so I revert the bucket to v0.12.2. Do you know if I did it correctly on the image upgrade? I just used kubectl edit deploy/statefulset command to update the thanos images.

[2022-08-16 05:22] fpetkovski commented on #5399
Still relevant

[2022-08-16 06:00] GiedriusS commented on #1706
https://github.com/thanos-io/thanos/issues/5521 done

[2022-08-16 06:03] GiedriusS commented on #2600
Endpoint config is a WIP by our mentee https://github.com/thanos-io/thanos/pull/5585 :muscle:

[2022-08-16 11:34] ebini commented on #1579
in my opinion still an issue

[2022-08-17 06:59] GiedriusS opened #5600 "Subqueries don't work with pushdown at the moment"
See https://github.com/prometheus/prometheus/issues/11162 for information.

[2022-08-17 08:30] #5501 closed

[2022-08-17 12:31] Ramshield opened #5601 "Thanos receiver keeps growing"
**Thanos, Prometheus and Golang version used**:
Thanos version 0.27.0
Prometheus version 2.35.0

**Object Storage Provider**:
minio s3

**What happened**:
Currently we run thanos receiver, query compactor and storagegateway.
We have 6 prometheus with a remote rule writing to thanos.
But our thanos receiver keeps growing. In a week the persistent volume has grown by 80Gb.
We see the same growth in

[2022-08-17 13:16] jimethn commented on #3750
Still a problem.

[2022-08-17 13:32] jimethn opened #5603 "compact: no-compact-mark.json ignored"
**Thanos, Prometheus and Golang version used**:

quay.io/thanos/thanos:v0.25.1

**Object Storage Provider**:

S3

**What happened**:

[code]

**What you expected to happen**:

I've marked both blocks to skip compaction, so I'd expect compact to not try to compact them.

[code]

**How to reproduce it (as minimally and precisely as possible)**:

I guess to reproduce you'd have to create a corrupt bl

[2022-08-18 06:20] yeya24 opened #5605 "Query sharding should support vector selector"
### Is your proposal related to a problem?

Currently query sharding is supported by the query frontend to shard both instant and range queries. However, only some special queries are shardable.

From my test, vector selector expressions are not shardable right now. For example, `up{job="prometheus"}` cannot be sharded because there is no sharding label. So this type of query cannot be benefited b

[2022-08-18 06:56] GiedriusS commented on #5605
How would we know according to which labels we should shard at the query-frontend level? :thinking:

[2022-08-18 07:01] yeya24 commented on #5605
Maybe I missed something. Can we simply calculate hashmod based on the whole series labels? For example, query `http_requests_total{}` could match series
[code]

This is something in my mind and I think it is pretty straightforward. Is it on the right direction?

[2022-08-18 07:05] yeya24 opened #5606 "Add metrics to PromQLShardingMiddleware"
### Is your proposal related to a problem?

Now we don't have any instrumentation to the `PromQLShardingMiddleware` so we might miss some very important stats.
I'd like to see metrics like Number of shardable queries and non-shardable queries.

### Describe the solution you'd like

The implementation should be straightforward to add two counters to the middleware

[2022-08-18 11:57] ctsanjuan commented on #5422
Sorry arunmarria, we are trying to do the same. Finally, it works correctly?. Which configuration did you use?.
BRs.

[2022-08-18 11:57] fpetkovski commented on #5605
That would work, but we should benchmark individual queries to see if performance will be better or worse. Since there is no  promql to execute, queriers will mostly be used as passthrough proxies. In any case, hard to say what the effect would be so it's worth trying it out.

[2022-08-18 12:38] matej-g commented on #5601
Hi, is this a new setup or has the receiver started to grow unexpectedly on an existing setup?

I'm not very familiar with the Helm chart, but could you maybe provide all the parameters you are running your receiver with?

[2022-08-18 12:40] matej-g commented on #5590
Hm so I'm not sure on you're deployment / roll out strategy, normally bumping the image should be fine. By Thanos bucket, do you mean the Thanos tool or something else?

Either way, I'm wondering if you'll be able to still replicate the error after you'll successfully roll out the new version.

[2022-08-18 15:45] Ramshield commented on #5601
This is a new setup.

All parameters I deployed Helm with are already given, so nothing special at all.

[2022-08-18 17:35] yeya24 commented on #5605
I agree @fpetkovski. We have to check the performance first.
But this is also important in the future once we support series sharding from the compactor side because at that time we can shard any metrics.

[2022-08-18 22:16] dmilind opened #5609 "Observing a dip in graph collected by querier exactly at the time where store is configured with --max-time."
**Thanos, Prometheus and Golang version used**:
Thanos version - 0.26.0
Prometheus - 0.32.0

**Object Storage Provider**:
Azure container storage

**What happened**:
Thanos querier shows sharp fall in the graph every after 2 hrs (when no --max-time is provided to thanos store). This dip will get backfilled after passing or 2-3 hrs. technically when new blob is pushed by receive, old dip will get b

[2022-08-19 04:30] jzelinskie opened #5610 "Container images are missing gRPC client"
### Is your proposal related to a problem?

Without a gRPC client in the container image, health/readiness/liveliness checks for various platforms (e.g. Kubernetes) have to be done via HTTP.

In this case, I'd like to health check via gRPC so that I can protect the HTTP port with HTTP basic auth (using the --http.config flag).

### Describe the solution you'd like

[In SpiceDB](https://github.com/

[2022-08-19 06:01] fpetkovski commented on #5609
Hello, is this happening for all queries or for a specific one?

[2022-08-19 06:21] fpetkovski commented on #5569
Memory snapshotting seems to be a TSDB option. Maybe it's just a matter of setting this flag when starting receiver TSDBs?

[2022-08-19 06:24] dmilind commented on #5609
@fpetkovski  Hi this is happening for all queries.

[2022-08-19 06:52] kc611 commented on #3016
Hi everyone, I'm interested in this as part of LFX. (a bit too late :slightly_smiling_face: I guess ?)

Reviving this issue, I think a continuation of this particular issue was discussed in: https://github.com/thanos-io/thanos/issues/3373
and a proposal was put also put in regarding this: https://thanos.io/tip/proposals-done/202004-embedd-cortex-frontend.md/

And the current state of this project

[2022-08-19 12:31] hanjm commented on #5501
@yeya24 could you help release 0.27.1 for this important bug fix 😄

[2022-08-19 13:49] LordMilan commented on #3317
bwplotka please dont give wrong info..i just verified it and its not 2 hours..its being synced in around 1 hr time for me

[2022-08-19 13:49] LordMilan commented on #3317
bwplotka please dont give wrong info..i just verified it and its not 2 hours..its being synced in around 1 hr time for me

[2022-08-19 17:43] yeya24 commented on #5501
cc @matej-g and @wiardvanrij

[2022-08-20 04:52] yeya24 commented on #5610
I think this is a valid request. Would you like to open a pr?

[2022-08-20 04:56] yeya24 commented on #5592
Yeah we definitely need to add docs for OCI object storage. Thanks for finding it.
We should have an owner for it, too.

[2022-08-20 04:58] yeya24 commented on #5569
https://github.com/prometheus/prometheus/pull/10973 This commit has been merged to Prometheus main branch already. I think this is also worth trying to see if this could help.

[2022-08-20 05:02] yeya24 commented on #5540
I agree to remove the label `external_labels`. Using the endpoint address here might be a better solution to represent each store.

[2022-08-20 06:40] fpetkovski commented on #5609
Are receiver and store gateway running with an time range overlap? Also, what is the replication factor set on receivers?

[2022-08-20 06:56] fpetkovski opened #5617 "Query frontend: dynamic horizontal sharding"
### Is your proposal related to a problem?

Query frontend can split queries horizontally (by time range) using fixed intervals only. For example, If the split interval is set to 24h, queries for the past day will not be sharded horizontally.

### Describe the solution you'd like

I would like to have a mechanism to make horizontal sharding more dynamic, so that the number of shards can be determi

[2022-08-20 07:49] dmilind commented on #5609
1. If I am understanding it correctly, receiver has 8 hrs of retention and store has --max-time=6hrs, so in that sense overlap is there. Even though in this case why mismatch data at the very begining and not on for all overlapping time period.
2. Deduplication labels are correct and verified.
3. replication factor = 3

[2022-08-20 15:23] fpetkovski commented on #1611
Since some preliminary research has already been done, should we add a gsoc/lfx label on this issue?

[2022-08-20 17:36] haanhvu commented on #5540
I'll work on this

[2022-08-20 19:49] yeya24 opened #5618 "Query frontend: dynamic vertical shards number"
### Is your proposal related to a problem?

The idea was originally mentioned in https://github.com/thanos-io/thanos/pull/5342#discussion_r917296307.

Right now the number of vertical query shards is a static value configured via the query frontend flag. However, different metrics may have different cardinalities, thus causing the static vertical shards value cannot fit well for all cases. Some qu

[2022-08-21 08:40] GiedriusS commented on #5618
Mhm, how would the user know how many shards they need? In Grafana, for example, this would mean many data sources with different parameters. It would be pretty bad UX IMO.

I was thinking about this: how about making a cached call to /api/v1/series to see what series are available beforehand and then calculating the optimum number of shards according to the aggregating labels? So, the matchers wo

[2022-08-21 14:42] hanjm commented on #5618
typically it could be calculated by cpu cores and querier instance count？

[2022-08-21 17:43] yeya24 commented on #5618
I agree with you. Ideally the shard number needs to be calculated automatically by a component in query frontend and it knows the cardinality of metrics.

Right now, I am just thinking about exposing this and users can configure the shards from API call. They can choose num shards based on experiences first. Another use case is to disable sharding for some queries.

For Grafana, I would say it is

[2022-08-22 03:18] 692568516 opened #5624 "Query status-targets Does not display in receive mode"
Thanos uses receive mode, query web console does not display targets!   thanks

[2022-08-22 04:51] yeya24 commented on #5624
Targets page and APIs are only available if you are having Prometheus sidecars so targets APIs can be federated.
If you are using receive mode only and no sidecars then this is expected.

[2022-08-22 04:58] 692568516 commented on #5624
thanks

[2022-08-22 06:18] #5624 closed

[2022-08-22 06:38] fpetkovski opened #5625 "Remove hardcoded labels in store shard matcher"
### Is your proposal related to a problem?

We currently hardcode certain labels in shard matchers because they should not be take account for sharding
https://github.com/thanos-io/thanos/blob/67880caabffac1f693954d8ce51715973a369e2b/pkg/store/storepb/shard_info.go#L45-L48

### Describe the solution you'd like

We should completely remove the `__name__` label as it should be okay to shard on it.
T

[2022-08-22 07:23] fpetkovski opened #5626 "Receiver crashes occasionally with panic"
**Thanos, Prometheus and Golang version used**:
Thanos version main-2022-08-08-66700939

**What happened**:
A Thanos receiver can crash occasionally with the following error
[code]

**What you expected to happen**:
Registering duplicate metric collectors should either be handled gracefully, or should not happen at all.

**How to reproduce it (as minimally and precisely as possible)**:
Haven't been

[2022-08-22 08:47] GiedriusS commented on #5626
Maybe somehow related to tenant prunning? :thinking:

[2022-08-22 09:28] fpetkovski commented on #5626
Yes, possibly. I will look into it this week.

[2022-08-22 10:18] haanhvu commented on #5625
I'll work on this

[2022-08-22 10:59] fpetkovski commented on #5626
I think you might be right @GiedriusS, we had a tenant on this receiver that was pruned. It then ended up on the receiver again which caused shipper to try registering metrics again for the tenant.

We use promauto everywhere, and that relies on `MustRegister`. So I wonder how this can be solved 🤔

[2022-08-22 11:04] NominalTrajectory commented on #1507
@sagiv-zafrani, hi, were you able to solve your issue? I'm facing the same problem.

[2022-08-22 11:15] kakkoyun commented on #5626
I might be out of context here, the way to work around this, either introduce a tenant label to wrap around the register. Or unregister the metrics when the tenant goes away.

[2022-08-22 13:08] fpetkovski commented on #5626
Wrapping the register is a cool idea! Maybe this already exists here?
https://github.com/thanos-io/thanos/blob/e54da929e1c77fd99f33df3224008c12e07a9fa0/pkg/receive/multitsdb.go#L629-L646

[2022-08-22 13:46] ahurtaud opened #5630 "[Experimental Query] - Query Pushdown - Issue with multiple queriers connected?"
**Thanos, Prometheus and Golang version used**:
Thanos v0.27.0

**What happened**:
We enabled the experimental feature query-pushdown on all our thanos-query.
We have a thanos-query on top, connected to multiple thanos-query leaf (3 kubernetes, exposed with announced label "stack") which connects to sidecars of each k8s.

When we query `max by`, and we filter using an anounced labelset. The query

[2022-08-22 14:32] GiedriusS commented on #5630
Thanks for trying it out and the repro! Should be easy to reproduce. Help wanted.

[2022-08-22 16:27] fpetkovski commented on #5609
I will try to reproduce this to see if it's a general issue

[2022-08-22 18:31] yeya24 commented on #5618
We may need to find a better solution as adding num shards configuration to rule file is a breaking change. If our final goal is to determine the shards automatically then this field needs to be deprecated anyway.

[2022-08-22 18:34] jzelinskie commented on #5610
Sure! What Dockerfile do I need to update? All three?
I believe the way I linked that SpiceDB includes grpc-health-probe works across linux/amd64, linux/arm, linux/arm64, linux/ppc64le, and linux/s390x.

[2022-08-23 01:15] Shinhye-Yun commented on #4330
I know it's almost a year ago, but were you able to find any solution? I am facing same issue when try to call same metrics with specific label.

[2022-08-23 06:01] kidharb commented on #4330
@Shinhye-Yun I did not find a solution. I eventually migrated away from Thanos / Prometheus to VictoriaMetrics https://docs.victoriametrics.com/Cluster-VictoriaMetrics.html

[2022-08-23 09:05] GiedriusS opened #5635 "TODO points for 1.0"
Let's release 1.0 finally at some point :tada:

Some TODO points:

- [ ] https://github.com/thanos-io/thanos/pull/5607/files#diff-b484a14e04378ca9ecf288d24b5dd433576ff59e3e602734d3c568beb89bc456L58 convert all fields to millisecond precision
- [ ] Remove deprecated fields from protobufs && deprecated command line flags (https://github.com/thanos-io/thanos/search?q=deprecated)
- [ ] Remove deprecat

[2022-08-23 09:19] GiedriusS commented on #1611
We talked a bit about this during KubeCon and I think the consensus is that we need some central place where we'd store the bloom/cuckoo/... filters. This is because if we would store them locally then in a distributed system we could get inconsistent results. For example, one Thanos Query could retrieve data from nodes A, B whereas another Thanos Query could have newer information and it would re

[2022-08-23 09:54] fpetkovski commented on #1611
Hm, isn't that the same case we have with filtering out stores based on external/announced labels?

[2022-08-23 11:56] ahurtaud commented on #5219
referencing https://github.com/thanos-io/thanos/pull/5230 for implementation of the fix.

[2022-08-23 12:22] GiedriusS commented on #1611
Hmmm, that's true :thinking: then maybe perhaps we wouldn't be introducing any new inconsistency issues. Let's mark it as a GSoC/LFX project.

[2022-08-23 16:54] yeya24 commented on #1611
One point to discuss: whether we want to use something like `Info` API at central Queriers to collect the bloom filters info at central or not.

If queriers collect that info periodically, we will get:
1. Probably inconsistency because fetch may have delay while store's bloom filter gets updated.
2. Better performance since Querier can make the requests routing decision locally based on the collec

[2022-08-23 17:01] fpetkovski commented on #1611
For the inconsistency problem, I think we can make it manageable if we only keep metric names in bloom filters. They are usually slow to change. Usually a metric will stay for a long time in a store and once it goes away, it's still okay for the querier to reach out to that store.

[2022-08-23 19:59] yeya24 commented on #1611
I don't think we can make the assumption that metrics names are slow to change. Whenever a new block gets loaded we cannot tell whether new metrics have been introduced or not. Unless some push model is used, with current pull model we cannot get always up-to-date data.

[2022-08-23 22:50] Antiarchitect commented on #5501
Having the same troubles. Please issue a patch release :)

[2022-08-24 00:19] dmilind commented on #5609
@fpetkovski  Were you able to reproduce this ?

[2022-08-24 05:39] fpetkovski commented on #5609
I haven't been able to do so yet, and I also cannot see the problem in our own Thanos deployment.

[2022-08-24 08:32] bobykus31 opened #5636 "thanos store consistency-delay is ignoring"
**Thanos, Prometheus and Golang version used**:
[code]

**Object Storage Provider**:

[code]

**What happened**:

Thanos store  is running like

`/usr/bin/thanos store --data-dir /var/lib/thanos/store --objstore.config-file /etc/prometheus/s3.yml --http-address 0.0.0.0:10902 --grpc-address 127.0.0.1:10901 --index-cache-size=2048MB --chunk-pool-size=8192MB --store.enable-index-header-lazy-reader --

[2022-08-24 08:55] ahurtaud commented on #5431
dupe of https://github.com/thanos-io/thanos/issues/5219 ? :)

[2022-08-24 09:31] ahsenkamal commented on #5434
Hey folks, came here from the LFX mentorship projects and I'd like to contribute to this. Any help on where to get started?

[2022-08-24 11:16] BooNny95 commented on #3394
We have the same issue with thanos 0.27.0 version.

[2022-08-24 11:44] GiedriusS commented on #5636
Mhm... that sounds like a bug. However, `--max-time=-10d` should work for your use-case - with it, Thanos Store should only serve data older than 10 days. Have you seen it?

[2022-08-24 11:50] fpetkovski opened #5638 "Allow setting min and max time on Querier"
### Is your proposal related to a problem?

We currently run receivers with a 3d retention period. There are various recording rules that run agains them and use data from the entire 3d range period.

We also upload blocks to S3 which are used for showing metrics on dashboards. The data in S3 is deduplicated and compacted, so it can often be faster to query. Unfortunately, we can only run store ga

[2022-08-24 12:00] fpetkovski commented on #1611
Correct, but loading a new block already has an expected delay, which means we can tolerate a 5-10s delay when announcing new metrics from this block. The bigger challenge is in-memory ingestion like Prometheus and Receivers, but if we keep the delay to a few seconds, I don't think it will be a big issue.

There might be some inconsistency when one Prometheus replica has announced a metric and ano

[2022-08-24 12:04] bobykus31 commented on #5636
Works fine.  Thank you very much!

ср, 24 серп. 2022 р. о 13:44 Giedrius Statkevičius ***@***.***>
пише:

--
Ihor Piddubnyak,
RHCE 805009434639408

[2022-08-24 14:51] matej-g opened #5639 "Receiver: Running with number of replicas lower than replication factor in a hashring is accepted"
**Thanos, Prometheus and Golang version used**:
`0.28.0-rc.0`

**What happened**:
I was trying out the new RC locally with `--receive.hashrings-algorithm=ketama`, 6 replicas with replication factor 3. During my tests, some of my replicas were never able to get into a ready state.

After more digging I found out it occurs when my setup got into a state where number of endpoints in the hashring was

[2022-08-24 18:30] idoqo commented on #5606
Hi @yeya24, Trying to work on this [here](https://github.com/idoqo/thanos/tree/sharded-query-metrics), but not sure how to try it out Can you help provide some sample shardable queries?

[2022-08-24 20:27] haanhvu commented on #5540
Hi @yeya24 from what I see in:

https://github.com/thanos-io/thanos/blob/ee512aed1fece177b9257e80ba6c6c5d5986620a/pkg/query/endpointset.go#L193-L202

We have `external_labels` and `store_type`. Do you think it's safe to remove both or just `external_labels`?

Could you please show me where I can take the endpoint address from?

[2022-08-24 23:27] yeya24 commented on #5606
Hi @idoqo, I checked that branch and the code looks good! For not shardable query you could try `up` and shardable query you could try `sum(up) by (job)`. Let me know if this works for you or not.

[2022-08-25 06:54] whc9527 commented on #5497
@matej-g 你好
I deployed Thanos Compact component in K8S. After crash, K8S will restart the POD. Will the restart continue from the last compression node or will it fall into an infinite loop from the beginning?

[2022-08-25 11:36] matej-g opened #5643 "Receiver: Logically split router and ingestor mode"
### Is your proposal related to a problem?
Currently all of the code for receiver ingestion / routing logically is bunched up in the same file. A lot of the features are enabled based on `if` conditions sprinkled throughout the receiver source file. This makes it hard to follow the code and changes, as we're implementing things that increase the divide between ingestor and router mode.

On top of

[2022-08-25 18:36] bsamsom opened #5645 "Thanos connection errors"
**Thanos, Prometheus and Golang version used**:
Thanos: 0.18.0 && 0.27.0 (i tried updating to 0.27.0 to see if it would fix the issue)
Prometheus: 2.25.0

**Object Storage Provider**:
GCP

**What happened**:
We started getting the following errors on random qurries:
`Mint: 1660132800030 Maxt: 9223372036854775807: rpc error: code = Canceled desc = grpc: the client connection is closing`

`Mint: 166

[2022-08-25 19:03] bwplotka commented on #5638
Thanks for idea!

Why you can't use receiver `min-time` and store gateway `max-time` for this case? I am still missing what case this is not satisfying 🤔

We can totally and Querier min/max, just time sharding on sidecar, store and receivers were usually enough.

[2022-08-25 20:54] roystchiang commented on #5437
On the Cortex size, we also made an attempt at this problem

https://github.com/cortexproject/cortex/pull/4843

[2022-08-25 21:39] hemuvemula opened #5646 "error uploading prometheus blocks to to azure blob store via sidecar"
##**versions**

### **Environment**
AKS - 1.22.11

[code]
### **Object Store Config **

[code]

thanos Logs:

[code]

Issue and Analysis:

Thanos sidecar panics when trying to upload data to azure blob store. this is reproducible on 0.27.0, 0.26.0, 0.25.2 as well. all these releases seem to be using github.com/Azure/azure-storage-blob-go of version v0.13.0 which seems to the source of the issue.

[2022-08-25 21:48] hemuvemula commented on #5646
forgot to provide the link to last log after which side car seems to hang in v0.28.0-rc is https://github.com/thanos-io/objstore/blob/ce338803bc1e4d93eb2f46759a4b1208ba588020/providers/azure/azure.go#L352

[2022-08-25 21:51] #5406 closed

[2022-08-26 04:55] fpetkovski commented on #5638
Hm, do receivers support min-time? I couldn't find anything in the flags: https://thanos.io/tip/components/receive.md/#flags

[2022-08-26 13:39] rajivharlalka commented on #5434
I was going through the coed base and  wanted to understand more on how multi-tenancy is currently achieved in Thanos as it wasn't very much clear with the docs as well.It would be great if I may get some relevant blogs/papers as related to what currently is implemented. Thanks in advance.

[2022-08-26 13:48] fpetkovski opened #5651 "Show trace ID in querier UI"
### Is your proposal related to a problem?

When troubleshooting query performance through the querier, I would like be able to know what the trace ID for that query.

### Describe the solution you'd like

Would be nice to output the non-truncated trace ID in the UI, maybe next to the other PromQL related stats.
It would also be great to have the query as part of the tracing tags.

### Describe al

[2022-08-26 14:05] haanhvu commented on #5643
I'll work on this

[2022-08-26 14:36] BooNny95 commented on #5638
On receivers you may change tsdb retention time. I suppose than query service on sidecar and receiver check how long you have data in your tsdb.

[2022-08-26 15:04] RainrainWu commented on #5567
Hi @fpetkovski, I just took a look at the source code and thought I can take care of this.
May I give it a try?

[2022-08-26 20:25] yeya24 commented on #5651
I really want to have the ability to be able to explore history queries in Thanos so that we can easily see slow queries and do analysis.
For example, something like https://docs.pingcap.com/tidb/stable/dashboard-slow-query would be super cool.
But I also understand that Thanos doesn't want to introduce dependencies like some relation databases. Perhaps we can start from an embedded sqlite?

[2022-08-26 23:06] rchien-atvi commented on #5275
I'm investigating a similar situation. Looking at the [ruler page](alertmanagers.url), specifically the `--alertmanagers.url` section, the behaviour described in this issue may be expected.

[code]

I would have thought the alertmanager cluster would reconcile the alerts amongst the replicas, but I'm guessing not.

[2022-08-27 01:25] yeya24 commented on #5540
Removing external labels only should be good.

[2022-08-28 08:18] fpetkovski commented on #5651
Hm I think that might be a bit out of the scope of this issue, I had in mind to at least start displaying trace IDs in the UI, and maybe add it to the slow query logs.

I think you might be able to achieve what you want by enabling slow query logs in query frontend?

[2022-08-28 11:58] haanhvu commented on #5567
I'll work on this

[2022-08-28 15:43] yeya24 commented on #5589
@rgaoistheone Please provide your component flags, configurations, etc so that we can help reproduce it. Thanks!

[2022-08-28 18:08] yeya24 commented on #5651
I think my idea covers the thing you proposed.
Basically, we want to have a way to store the metadata for each query somewhere and display the history queries from the UI. TraceID, query start time, end time and query stats, etc are all part of the query metadata.
I think using some persistence storage makes sense here like SQLite. Otherwise, If you want to display traceIDs how do you store them a

[2022-08-29 00:48] hanjm commented on #5618
Could we use a query comment to specific the shard num?
like
[code]
The ideal comes from mysql sharding use sql comment.
https://www.percona.com/blog/2016/08/30/mysql-sharding-with-proxysql/

[2022-08-29 03:12] yeya24 commented on #5618
Does promql support comment? And this would require the engine be shards aware as well.

[2022-08-29 05:06] fpetkovski commented on #5651
For my use case, I don't need storage since I don't need to analyze past queries. I just want to know the trace id of the query that I just ran alongside other promql stats. The trace id is already sent back as a response header, so I just need that to show in the UI of the querier, and not be truncated.

[2022-08-29 06:39] Ramshield commented on #5601
Any idea @matej-g ? Thanks!

[2022-08-29 09:43] hanjm commented on #5618
@yeya24  promql support comment.

[2022-08-29 15:20] #5626 closed

[2022-08-29 15:43] PowerSurj commented on #5435
We observe exactly that. The 5m blocks don't get compacted to 1h blocks and all those 5m blocks get deleted after 10d.

[2022-08-29 16:36] yeya24 commented on #5435
What I mean is that the 5m block needs to be compacted to at least 10d time range long. Not 10d after its creation time.

If your block is not large enough then it won't be downsampled to 1h block

[2022-08-29 17:01] PowerSurj commented on #5435
Alright, thanks for the hint.  I will try higher value for the `--retention.resolution-5m`.
FYI, looking at my current block i do have 10 days worth 5m blocks.

Oldest 5m block resolution Start Time: August 18, 2022 1:00 AM
Recent 5m block resolution End Time: August 28, 2022 1:00 AM

![Screen Shot 2022-08-29 at 19 44 31](https://user-images.githubusercontent.com/52036509/187254565-57df087a-8784-4

[2022-08-30 07:47] GiedriusS commented on #5651
Yeah, it sounds like two different problems but @yeya24 your suggestion also sounds very good! Perhaps it could be a GSoC/LFX project?

[2022-08-30 09:32] yuanhuaiwang opened #5659 "compactor: cannot rentiton"
**Thanos, Prometheus and Golang version used**:
thanos 0.24.0

**Object Storage Provider**:
S3
**What happened**:
compactor cannot rentiton beause of deleted-mark.json
**What you expected to happen**:
compactor should rentition
**How to reproduce it (as minimally and precisely as possible)**:
   ---retention.resolution-raw=15d
    - --retention.resolution-5m=15d
    - --retention.resolution-1h=15d

[2022-08-30 11:08] yuanhuaiwang commented on #3739
/reopen

[2022-08-30 14:20] wiardvanrij commented on #5501
Still catching up, but https://github.com/thanos-io/thanos/releases/tag/v0.28.0 would be the fastest fix forward to get unblocked. I'll discuss if someone can make a patch

[2022-08-30 18:25] yeya24 commented on #5659
Is it an issue? If the file already exists then the blocks will be finally deleted anyway.

[2022-08-30 18:49] #5606 closed

[2022-08-31 02:20] yuanhuaiwang commented on #3436
e are encountering similar problems

[2022-08-31 02:21] yuanhuaiwang commented on #3436
reopen

[2022-08-31 06:03] yeya24 commented on #3436
@yuanhuaiwang Does https://thanos.io/tip/operating/compactor-backlog.md/ work for you?

[2022-08-31 11:47] ArpStorm1 opened #5663 "Support S3 storage class"
### Is your proposal related to a problem?

Hello!!
We need support to use other storage classes than STANDARD in S3.
The default storage class in S3 is STANDARD, and it is also the mose expensive one.
We would like to get a configuration option to use STANDARD_IA storage class or even GLACIER if needed.

### Describe the solution you'd like

An option in the config file to choose the required sto

[2022-08-31 17:56] yeya24 commented on #5659
I feel the compactor issue is still related to the backlog. We have a document about troubleshooting it https://thanos.io/tip/operating/compactor-backlog.md/.

[2022-08-31 21:23] bennyboom38 opened #5664 "Thanos Compactor : retention.resolution-1h data are deleted instead of downsampled"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.26.0 (branch: HEAD, revision: 17c576472d80972bfd3705e1e0a08e6f8da8e04b)
  build user:       root@95d2db822102
  build date:       20220505-12:53:36
  go version:       go1.17.9
  platform:         linux/amd64

**Object Storage Provider**:

FILESYSTEM

**What happened**:

We have the following thanos compact configuration (on Server

[2022-09-01 07:55] pedro-stanaka opened #5665 "Old version of protoc not compatible with newer Apple Silicon laptops"
**Thanos, Prometheus and Golang version used**:

Thanos: 06a64d69
Golang: 1.18.5

**What happened**:

When running `make go-lint` I get the following result:

[code]

This is due to the fact that protoc 3.4.0 (version required by Thanos) was released back in 2017 when Apple Silicon wasn't still around. Therefore, the platform `darwin/arm64` is not supported and the script `scripts/installprotoc.sh

[2022-09-01 09:48] juanrh commented on #5663
I'm interesting on working on this

[2022-09-01 10:01] juanrh commented on #5663
I've been investigating this a bit. I first though I could pass `config.put_user_metadata:X-Amz-Storage-Class: STANDARD_IA` to setup STANDARD_IA storage class, but that was failing with

[code]

which is a validation done in https://github.com/minio/minio-go/blob/master/api-put-object.go#L188. It looks like in Minio the storage class has to be specified in [`PutObjectOptions.StorageClass`](https:/

[2022-09-01 12:22] juanrh commented on #5663
I was working using https://github.com/openshift/thanos master as base branch, which is very different to https://github.com/thanos-io/thanos main. So the approach above (https://github.com/juanrh/thanos/commits/5663) won't work. I'll investigate how todo it for the correct base branch

[2022-09-02 04:50] amitsetty commented on #5663
This looks great!

[2022-09-02 06:50] PowerSurj commented on #5664
sounds like same issue as i'm having, discussed in https://github.com/thanos-io/thanos/issues/5435#issuecomment-1230555476

[2022-09-02 06:52] PowerSurj commented on #5435
I tested with retention.resolution-5m=12d just giving it a bit more time and still no luck.
Still not having 1h retention blocks produced.

[2022-09-02 08:22] Nexucis commented on #5121
up

[2022-09-02 10:45] juanrh commented on #5398
I'd like to work on this

[2022-09-02 16:16] arunmarria commented on #5422
@ctsanjuan I actually started working on a new project and didn't attempt that proposed configuration.

[2022-09-03 13:23] sathishsoundharajan opened #5669 "Thanos Store | Thanos Query is not able to connect to Thanos Store Gateway"
**Thanos, Prometheus and Golang version used**:
0.27 ( latest versions )

**Object Storage Provider**: FileSystem

**What happened**: Query is not able to connect to Thanos Store Gateway

**What you expected to happen**: Thanos Query should be able to connect to store and retrive results

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Full logs to relevant components*

[2022-09-03 13:23] sathishsoundharajan commented on #5669
I'm using minikube to setup this in local with 1 node.

[2022-09-03 21:32] yeya24 commented on #5435
You need to have each single 5m block larger than 10d duration to get it downsampled to 1h resolution. Not multiple 5m blocks time duration combined.

The source code is here https://github.com/thanos-io/thanos/blob/main/cmd/thanos/downsample.go#L306.

For the default compaction level settings https://github.com/thanos-io/thanos/blob/main/cmd/thanos/compact.go#L56, compaction level 4 block has 2d

[2022-09-03 21:33] yeya24 commented on #5664
I replied to that issue https://github.com/thanos-io/thanos/issues/5435#issuecomment-1236201495.
Close due to the duplication.

[2022-09-03 21:33] #5664 closed

[2022-09-03 21:41] yeya24 commented on #5636
We still have very recent data at least in /var/lib/thanos/store and visible in Grafana / Thanos UI

Still having the recent data in the store folder is expected I think.
How do you find the data is still visible? Are you checking the thanos UI stores page or you are running some queries?

[2022-09-04 01:03] hanjm commented on #5669
querier `--store` flag should point the store-gateway grpc port. check the service port mappping config.

[2022-09-05 05:06] Moep90 opened #5671 "[General] Improve gRPCs Logging"
### Problem

I was unable to establish a connection to my remote endpoints. Which seams to relate to a TLS problem.

3 of 4 endpoints are connected because I provided all the SANs etc below.

In my case its a querier to querier connection through ingress-nginx.

[code]

SANs in certificate on both sides:
[code]

### Describe the solution you'd like

The only solution I was able to find was to add

[2022-09-05 09:03] maartengo opened #5672 "gateway/compact: Upgrade from 0.26 to 0.28 results in Azure BlobNotFound errors"
**Thanos, Prometheus and Golang version used**:
* Thanos: from 0.26 -> 0.28 (docker.io/bitnami/thanos:0.26.0 -> docker.io/bitnami/thanos:0.28.0-scratch-r0)
  * Deployed using the [bitnami chart](https://github.com/bitnami/charts/blob/master/bitnami/thanos)
* Prometheus: 2.37.0 (quay.io/prometheus/prometheus:v2.37.0)
  * Deployed using [prometheus-community chart](https://github.com/prometheus-comm

[2022-09-05 11:09] sathishsoundharajan commented on #5669
Figured out the issue.. :) My bad the Thanos Store Gateway is not exposed as headless service.. Fixed it

[2022-09-05 11:09] #5669 closed

[2022-09-06 01:30] danielmotaleite opened #5675 "Problem with thanos compact"
**Thanos, Prometheus and Golang version used**:

quay.io/thanos/thanos:v0.28.0

running inside a k8s setup with this startup options:

  - args:
    - compact
    - --data-dir=/prometheus/tmp
    - --objstore.config-file=/srv/s3.yml
    - --http-address=0.0.0.0:10930
    - -w
    - --wait-interval=5m
    - --log.level=debug
    - --consistency-delay=1h
    - --retention.resolution-raw=900d
    - -

[2022-09-06 13:34] ahurtaud commented on #5672
we also had quite a lot of azure issues since 0.28:
[code]

[2022-09-06 23:16] pjaak commented on #4386
Can confirm still happening and still would be great to have fixed!

[2022-09-07 04:54] shanaider commented on #5359
same this error on iamge: thanos:0.27.0

[2022-09-07 05:20] zakiharis opened #5677 "query: stream terminated by RST_STREAM with error code: REFUSED_STREAM"
**Thanos, Prometheus and Golang version used**:
thanos:v0.28.0
prometheus:v2.38.0

**Object Storage Provider**: minio

**What happened**: grafana dashboard couldn't load all panels. at most, load 12 panels before got error. Dashboard got more than 80 panels

**What you expected to happen**: Able to load all panels

**How to reproduce it (as minimally and precisely as possible)**:
Open dashboard wi

[2022-09-07 13:41] Tassatux opened #5679 "query: Error with "dnssrv+" service discovery with intermediate CNAME"
**Thanos, Prometheus and Golang version used**:
thanos:v0.28.0

**What happened**:

When Thanos query is deployed in a Kubernetes cluster with coredns configured to avoid superfluous DNS requests (with [`autopath @kubernetes`](https://coredns.io/plugins/autopath/) and [`pods verified`](https://coredns.io/plugins/kubernetes/)), a CNAME may be returned to the DNS query resulting in a error in storeA

[2022-09-07 16:06] mrnonz commented on #3665
Can you try with 0.28.0 ?

[2022-09-08 08:41] juanrh commented on #5663
@yeya24 https://github.com/thanos-io/objstore/pull/25 is ready for review when you have some time. Thanks

[2022-09-08 09:48] matej-g commented on #5679
Thanks for the detailed report @Tassatux! This sounds like a reasonable request to me. Are you happy to take this or shall I open this for others to work on? :slightly_smiling_face:

[2022-09-08 12:27] matej-g commented on #4386
Yes, this unfortunately this still needs more investigation, it would be great if someone who's affected had the time and resources to look at this :disappointed:

[2022-09-08 13:07] Tassatux commented on #5679
I'm not sure how to properly fix it, so I prefer that someone with more Go knowledge take a look. :slightly_smiling_face:

[2022-09-08 17:47] h20220025 commented on #5679
Can I work on this one??

[2022-09-08 23:59] yeya24 commented on #1611
Right. I think we don't have a good way to deal with this case now. For either Prometheus sidecar or receiver mode, how is the bloom filter maintained for the in-memory data?

Receiver mode seems fine since we can introduce a bloom filter and update it when writing. But sidecar mode is hard and we can only do pulling periodically.

[2022-09-09 08:23] matej-g commented on #5679
Sure @h20220025 go for it :rocket:

[2022-09-09 09:12] matej-g opened #5681 "Docs: Document different hashing algorithms in receivers"
### Is your proposal related to a problem?

We recently introduced new hashing algorithm, and although it feels "semi-experimental" to me at this stage, I think it would be good to document both the existing default algorithm and the new algorithm.

### Describe the solution you'd like
As a user, when considering Thanos receiver, I want to be able to tell from the docs:
- How Hashmod algorithm and

[2022-09-09 10:50] GiedriusS opened #5682 "proxy: pre-calculate hash at leaf nodes"
### Is your proposal related to a problem?

We could increase the performance by calculating the hash of a chunk at the leaf node instead of the querier: https://github.com/thanos-io/thanos/pull/5296#discussion_r966899425

### Describe the solution you'd like

Add another field with the hash and use it.

[2022-09-09 15:59] yeya24 commented on #1611
I am still thinking about using the trigram index mentioned in the Monarch paper https://www.vldb.org/pvldb/vol13/p3181-adams.pdf.

This is similar to the bloom filter way but works better in the regex match case. But the same problem here is that I don't see a good way to maintain the trigrams in memory, especially for Prometheus and Receivers.

<img width="532" alt="image" src="https://user-imag

[2022-09-09 16:10] yeya24 commented on #5682
Can you please elaborate more on where to add the field for hashes? The `Series` API?

[2022-09-09 19:21] markmsmith commented on #5101
@bwplotka Did you figure out if this just works now, or if there's remaining work to be done in Thanos to enable it?

[2022-09-09 22:21] sdufel opened #5683 "Parse errors are returned in a different format from the query-frontend query api when vertical sharding is enabled"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.29.0-dev (branch: main, revision: 0d659bf171afa6bdf5c5ece3033df3a7e8245d8c)
  build user:       root@8821bbde0c60
  build date:       20220909-15:00:44
  go version:       go1.18.6
  platform:         linux/amd64

**Object Storage Provider**:
GCS

**What happened**:
When sending a query to the query-frontend with vertical sharding

[2022-09-10 12:53] MahendraBishnoi29 commented on #5592
i'm interested if someone guides how to do this?

[2022-09-12 04:51] oronsh commented on #3406
@yeya24 @bwplotka @GiedriusS Doesn't it mean that for 2 blocks having 1M series each and all series are the same, you'd have to have 2M requests for S3 copying series A from block A and series A from block B chunks to the new block C chunk file?

[2022-09-12 08:26] fpetkovski commented on #1611
I think for receivers we might be able to build the index during ingestion time and maybe rebuild it on boot if there is a crash.

I agree that for the sidecar it will be quite challenging. Maybe we could do `labels/__name__/values` calls against Prometheus on periodic basis.

[2022-09-12 12:58] fpetkovski commented on #5665
I think this is fixed now with #5666. Could we close the issue?

[2022-09-12 15:23] #5683 closed

[2022-09-13 08:58] fpetkovski opened #5686 "proxy: parallel merge and dedup"
### Is your proposal related to a problem?

Sorting series in the querier seems to be done using a single heap-like structure, which means we can only utilize one core for deduplication.

### Describe the solution you'd like

It would be nice to be able to use multiple cores when fetching and deduplicating data in order to speed up query execution.
Since the engine does not require series to be so

[2022-09-13 14:29] dsg-anthony commented on #5672
I also saw this in my deployment. I think the deletion-mark is a sign that compactor was going to delete the blob. Manually deleting the blob resolved the issue for me.

[2022-09-14 05:43] #5617 closed

[2022-09-14 08:16] pedro-stanaka commented on #5682
Once we have more details here, I would be inclined to take a stab at this one.

[2022-09-14 09:18] GiedriusS commented on #5682
Idea is to calculate this [hash](https://github.com/thanos-io/thanos/blob/32a6c4e03af48ddce7fdb77253c7ba3108030e00/pkg/store/proxy_heap.go#L133) by the sender so that it would be less work on the querier (:

[2022-09-14 09:19] GiedriusS commented on #5686
Maybe you could add a small diagram showing how all of this could work? Hard to understand now just from text :smile:

[2022-09-14 09:46] fpetkovski commented on #5686
Hm hard to explain with a diagram, but let me try with code links.

From what I see, we start a gorouting for each store that we query, and that goroutine returns a single [respSet](https://github.com/thanos-io/thanos/blob/0392dd775619d8cb997ebc44678f8cdba63e0dcc/pkg/store/proxy_heap.go#L602).
Could we instead return N `respSet`s, where each `respSet` contains disjoin series. The way we decide whi

[2022-09-14 11:58] bwplotka commented on #5679
Are still on it @h20220025 ?

[2022-09-14 15:51] ahurtaud commented on #5630
Ok so we had a bit more look into it and the way to reproduce was a bit false.
Actually it happens only if the announced label used is given by the sidecar and not set on the query as `selector-label`

edit: to reproduce:
- Architecture: query1 (with query-pushdown exp feature) ---> query2 (with query-pushdown with no selector-label) --> a sidecar connected to a prometheus with external labels (an

[2022-09-14 18:27] yeya24 commented on #5682
https://github.com/thanos-io/thanos/blob/32a6c4e03a/pkg/store/storepb/types.proto#L23 If I understand correctly, we can add one more nullable hash field to the chunk itself and populate it at stores?

[2022-09-14 20:15] erikgb commented on #4923
Still relevant!

[2022-09-15 12:40] ahurtaud commented on #5630
Edit 2:
Actually only a single query to sidecar with prometheus externalLabels is enough!
executing a query using the externalLabel give no data.
- Architecture: query (with query-pushdown and no selector-label flags) --> a sidecar connected to a prometheus with external labels (and so announced labelset by sidecar).

[2022-09-15 12:41] PrabdeepBajaj commented on #2879
Facing same issue , anyone got any solution ?

[2022-09-15 15:13] sharadgaur commented on #5434
I think you can start from adding external labels to hashring config [here](https://github.com/thanos-io/thanos/blob/main/pkg/receive/config.go#L44). Currently, its only support tenant name as external label value for [tenant-label-name](https://github.com/thanos-io/thanos/blob/main/cmd/thanos/receive.go#L835) command line flag.

[2022-09-15 21:43] sharadgaur commented on #5482
@yeya24 is okay if I take a stab at it.

[2022-09-16 03:28] Atharva-Shinde commented on #5679
Hello👋 I'd like to work on this issue :)

[2022-09-16 06:40] matej-g commented on #5497
This is now resolved via #5690

[2022-09-16 06:40] #5497 closed

[2022-09-16 07:05] matej-g commented on #5679
Hey @Atharva-Shinde I'd say go for it :rocket:, maybe @h20220025 didn't get a chance to pick this up after all :upside_down_face:

[2022-09-16 08:50] AndrewNiven1 opened #5694 "Azure Kubernetes Service - multiple Managed Identities cause Azure Blob Storage access to fail"
**Thanos, Prometheus and Golang version used**:

Thanos image v0.28.0

**Object Storage Provider**:

Azure Blob Storage

**What happened**:

When an Azure Kubernetes Service (AKS) cluster is spun up using an add-on, a new Managed Identity is created for this add-on. This is in addition to the default Managed Identity created for all AKS clusters.

This additional Managed Identity causes Thanos to

[2022-09-16 10:23] clalos2592 commented on #981
Adding myself here too.

[2022-09-16 15:49] matej-g commented on #5407
Hey @phillebaba,

I revisited this and I think you're totally right, we are unable to properly determine error cause if there is a multi-error within a multi-error. This can happen, especially with replication factor 2, which you mention is your case. Looking at this portion of the method:

https://github.com/thanos-io/thanos/blob/9237dd9f33fc4b316b2cbd0f1f57a87c36386ade/pkg/receive/handler.go#L11

[2022-09-16 16:36] squat commented on #5407
I can absolutely believe that there are some subtle issues in receive error handling. We've brought up discussions around this in the past and I fear that we haven't been completely rigorous in our assessment of receive errors :///
xref: https://github.com/thanos-io/thanos/pull/3833#discussion_r582692050, https://github.com/thanos-io/thanos/pull/2899#pullrequestreview-449132049

just to add some h

[2022-09-17 06:19] infa-pavakuma opened #5697 "Thanos Sidecar doesnt upload Blocks to GCS"
**Thanos, Prometheus and Golang version used**:
Prometheus: quay.io/prometheus/prometheus@sha256:b591915dad4ee2375fbb24cd019c50a546aae561bc63510516efec70d69b4292

Thanos Sidecar: quay.io/thanos/thanos:v0.28.0

**Object Storage Provider**: GCS, GKE Version:

1.21.14-gke.700
--

<br class="Apple-interchange-newline">

**What happened**:

level=info ts=2022-09-17T06:17:43.852056767Z caller=shipper.go

[2022-09-19 02:21] zakiharis commented on #5677
tcpdump shown sidecar sent TCP RST to query

<img width="706" alt="image" src="https://user-images.githubusercontent.com/1005824/190940256-444c0437-b6db-4373-9ff2-afba3418d3ed.png">

[2022-09-19 03:00] yeya24 opened #5700 "Bump efficientgo/e2e to latest v0.13.0 release"
### Is your proposal related to a problem?

Right now, thanos is using https://github.com/efficientgo/e2e/commit/37e916144e6b7731f83608056f83e3ab9947862a, which currently has a dependency to `github.com/go-openapi/spec@v0.20.5`.

But this commit introduces an issue of go module checksum mismatch when `GOPROXY` is not pointing to `proxy.golang.org`, ref: https://github.com/go-openapi/spec/issues/15

[2022-09-19 05:44] Akshit42-hue commented on #5700
Hey @yeya24, we just need to change the version of e2e framework to the latest v0.13.0 version ? If yes then I like to pull this issue to the finish line :)

[2022-09-19 07:08] yeya24 commented on #5700
No, a lot of APIs have been changed so you need to update them all.

[2022-09-19 09:10] rahul3002 commented on #5681
i would like too work on this issue

[2022-09-19 09:16] matej-g commented on #5681
Go for it @rahul3002 :muscle:

[2022-09-19 12:41] davinci26 opened #5701 "Bump `minio-go v0.7.0.32` to latest"
`minio-go v0.7.0.32` has a known bug https://github.com/minio/minio-go/issues/1681/ which we run into and that causes unnecessary restarts to our thanos store pods.

I think we should update it to `0.7.0.34` or greater.

[2022-09-19 12:42] davinci26 commented on #5701
cc @SuperQ

[2022-09-19 15:26] juanrh commented on #5398
I have https://github.com/juanrh/thanos/commits/add-path-content-reloader-with-relabeller-2 for this but it depends on https://github.com/thanos-io/thanos/pull/5673 that adds a generic mechanism for reloading configuration. I should be able to have a PR for this soon after that is merged

[2022-09-19 15:57] sirjobzy opened #5704 "Problem with Thanos query grpc endpoint behind AWS ALB"
**Thanos, Prometheus and Golang version used**:
Prometheus version: v2.34.0
Thanos docker image version: 0.27.0-scratch-r6

**What happened**:
I have currently deployed the bitnami thanos helm chart from [here](https://artifacthub.io/packages/helm/bitnami/thanos),
I have exposed the query grpc endpoint via the AWS ALB ingress and I have an application load balancer and target group created and hea

[2022-09-19 17:50] #5701 closed

[2022-09-20 00:32] aarontams commented on #5645
We are also getting similar error in one of our thanos envs.

Can someone from Thanos dev team provide some insight how to get around the issue?

Thx!

[2022-09-20 02:13] #5646 closed

[2022-09-20 03:02] codevally opened #5705 "found duplicate storeAPI producer (sidecar or ruler). This is not advices as it will malform data in in the same bucket"
**Thanos, Prometheus and Golang version used**:
thanos: 'v0.28.0'
prometheus: 'v2.37.0'

**Object Storage Provider**:
AWS S3 bucket

**What happened**:
I have setup 2 Prometheus instances (to enable HA) with Thanos sidecar. I can see the below warning message in the Thanos query pod logs and would like to know if this is cause problems or not. I have properly setup the external lables in the Prome

[2022-09-20 08:34] subbuedcast commented on #5366
level=warn ts=2022-09-20T08:30:14.347379507Z caller=proxy.go:279 component=proxy request="min_time:1663662000000 max_time:1663662600000 matchers:<name:\"cluster\" > matchers:<type:RE name:\"node\" > matchers:<type:NEQ name:\"container\" > matchers:<name:\"__name__\" value:\"node_namespace_pod_container:container_memory_working_set_bytes\" > max_resolution_window:6000 aggregates:COUNT aggregates:SU

[2022-09-20 11:23] bwplotka commented on #5645
Hi,

It looks like some TCP connection reset. Can be through GRPC client connections or some proxy you use in between the client and server. I remember we had someone reporting and fixing similar issue in their setup- perhaps looking through past issues would help. Perhaps @jmichalek132 or @GiedriusS you remember that?

[2022-09-20 11:23] bwplotka commented on #5645
Additionally, did you check if server was not restarting at the moment of those queries? E.g. OOMs?

[2022-09-20 11:37] bwplotka commented on #5540
We have been discussing this in the past. The endpoint address was assumed not stable enough (e.g. same store API replica on restart would have different IP). On top of that IP does not give you a lot, when debugging querier using this metric.

To me, we have two solutions:

A) Remove ext label label totally.
B) Enforce label limit by checking if we external labels label value is larger than X (e.

[2022-09-20 12:49] GreenRover commented on #5359
+1

[2022-09-20 12:52] matej-g commented on #5359
Yeah, hit this today as well, this should not be a big issue to fix

[2022-09-20 16:05] bsamsom commented on #5645
@bwplotka Yes ive checked is the server was restarting and it wasnt, I did look at past issues and had found this one:
https://github.com/thanos-io/thanos/issues/2286#issuecomment-601072887

Who had what seems the like the same issue, and was able to fix it some tls config but did not mention which one or what they needed to set it to.

[2022-09-20 16:09] AndrewNiven1 commented on #5694
I believe this was fixed by https://github.com/thanos-io/thanos/pull/4636/files. I'm closing this issue for now and will reopen if this PR doesn't fix it as I expect.

[2022-09-20 16:09] #5694 closed

[2022-09-21 02:18] drstevens commented on #4646
Bump

[2022-09-21 08:13] matej-g commented on #5635
I wonder if we should also try to complete the deletion story somehow. Anecdotally, it seems a lot of users are asking about it (e.g. from yesterday https://cloud-native.slack.com/archives/CK5RSSC10/p1663695281723309) and we have couple of proposals in place to do this in store / compactor (https://github.com/thanos-io/thanos/issues/1598, https://github.com/thanos-io/thanos/pull/5436), but this wo

[2022-09-21 08:21] GiedriusS commented on #5635
Let's remove this field before 1.0 IMO https://github.com/thanos-io/thanos/pull/5709

[2022-09-21 15:46] carlosjgp commented on #1979
Still valid!

[2022-09-21 18:44] yeya24 commented on #2114
https://github.com/prometheus/prometheus/pull/11075 Finally this is merged into Prometheus so probably we could give it a try. Help wanted.

[2022-09-21 19:04] #5697 closed

[2022-09-22 01:55] arcivanov commented on #4385
This is still an issue.

[2022-09-22 02:36] yeya24 commented on #5700
I will assign this myself.

[2022-09-22 07:30] haanhvu commented on #5540
If there're no other better labels to replace here, then +1 for B.

[2022-09-22 07:40] SuperQ commented on #5540
I would much prefer A. The gRPC metrics are useful to alert on, but I would use tracing data to do debugging.

[2022-09-22 09:22] SuperQ commented on #5540
One thing that would be more useful than just the IP, would be to propagate the SRV record names through. This would allow the dnssrv store flag lists to be more useful.

[2022-09-22 12:09] subbuedcast commented on #5366
The error is fixed because labeling was not done properly

[2022-09-22 22:30] markmsmith commented on #903
Still needed :(

[2022-09-22 22:30] markmsmith commented on #4298
I think this is still needed

[2022-09-22 22:31] markmsmith commented on #305
Still needed

[2022-09-23 00:48] skoonin commented on #5705
i am seeing this too..  i do have a few test thanos instances setup pointing to the same s3 bucket though, not sure if that is the problem.

[2022-09-23 03:19] Jaywoods2 commented on #3394
Hi ~, @mfvanek how to cleaning of empty directories in HCP using minIO client, Thanks .

[2022-09-23 05:37] yeya24 opened #5715 "Query Frontend: cache sharding query analysis"
### Is your proposal related to a problem?

Considering a lot of queries are executed in a regular basis (like alerting and recording rules evaluation), it might be unnecessary to  analyze the same query everytime. We could introduce a LRU cache to cache the `QueryAnalysis` result or `error`.

### Describe the solution you'd like

Use `github.com/hashicorp/golang-lru` as the LRU cache and add it t

[2022-09-23 06:06] Rahulkumar2002 commented on #5715
Hello Ben, I would like to work on this issue.

[2022-09-23 14:29] matej-g commented on #5705
hey @codevally,

If you copied your logs verbatim, my suspicion is that there's a problem with substitution, i.e. `$(POD_NAME)` is not properly filled with the actual pod name but instead the label is literally `$(POD_NAME)`. This would explain the duplication complaint.

[2022-09-23 17:54] skoonin commented on #5705
hiya @matej-g I am having the same issue and my vars are just fine:
[code]

also, guessing this should be "advised" instead of "advices"?

[2022-09-24 07:52] rahul3002 commented on #5681
I have created introduction for hashing algorithm, but I'm bit confused on which file should i add that information, can u give the link of that particular file or location of that file

[2022-09-24 10:44] mfvanek commented on #3394
Hi @Jaywoods2
I cannot provide fully working solution at the moment because we didn't open-source it.
Try something like that (see **delete_block** method):
[code]

[2022-09-24 13:49] fpetkovski opened #5719 "Completely remove the need to sort data before deduplication"
This issue is just me documenting my findings from trying to remove the expensive sort that the querier does [here](https://github.com/thanos-io/thanos/blob/main/pkg/query/querier.go#L349).

It also proposes some additional improvements that can be done as follow ups of https://github.com/thanos-io/thanos/pull/5692, or even directly in that PR.

## Problem

Thanks to https://github.com/thanos-io/t

[2022-09-24 14:18] fpetkovski commented on #5635
I've opened https://github.com/thanos-io/thanos/issues/5719 to discuss some dedup improvements. If we make any changes to StoreAPIs, it would be nice to introduce them prior to v1 and avoid maintaining code for backwards compatibility.

[2022-09-24 14:44] #5700 closed

[2022-09-25 22:29] yeya24 opened #5722 "replace crypto/sha256 with github.com/minio/sha256-simd"
### Is your proposal related to a problem?

Currently `crypto/sha256` is mainly used for calculating hash of files we upload/download to/from the object store.
As shown from https://github.com/minio/sha256-simd, the performance is much better than `crypto/sha256` in golang.

### Describe the solution you'd like

Simply replace the library.

### Additional context

Thanos also builds images for oth

[2022-09-26 09:28] matej-g commented on #5705
Whoops, yeah, there's a typo. Hm, my guess in this case would still be that you have two pods that announce identical external labels.

[2022-09-26 09:29] matej-g commented on #5681
I believe new section in https://thanos.io/tip/components/receive.md/ would be the most appropriate. What do you think?

[2022-09-26 10:15] #5576 closed

[2022-09-26 10:50] #5625 closed

[2022-09-26 18:59] yeya24 commented on #5374
I think this makes sense. Are you still interested in working on this? @fpetkovski @hanjm

What's the benefits of using a KV over FS? To avoid having small files only?

[2022-09-27 08:00] matej-g commented on #4866
As this is now popping up more often, I have suggested to disable the test again https://github.com/thanos-io/thanos/pull/5731.

[2022-09-27 09:54] amit-patil opened #5732 "HTTP status 409 Conflict Prometheus to Thanos Receiver Metrics"
Hello All,

I have built an integration between Prometheus and Thanos Receiver. This is through the Open Telemetry Collector. Below is the part of ConfigMap in Open Telemetry Collector.

otel-collector-config.yaml: |-
receivers:
prometheus:
config:
scrape_configs:
- job_name: "otel-collector-monitoring-1"
scrape_interval: 5s
honor_labels: true
metrics_path: '/federate'
params:
'match[]':
- '{job=~

[2022-09-27 13:01] GiedriusS opened #5733 "Series limits are not effective in Thanos Store"
### Is your proposal related to a problem?

We want to limit queries so that they wouldn't try to download millions of series. However, our current limits are only applied after fetching postings. This is because to find out, for example, the number of matching series, you need to perform intersection on postings depending on the given matchers. To have a practical limit here, Thanos Store might p

[2022-09-27 13:06] rahul3002 commented on #5681
will do it once then will decide

[2022-09-27 15:59] matej-g commented on #5733
This might be of interest @saswatamcode @douglascamata

[2022-09-27 16:13] fpetkovski commented on #5374
Unfortunately I don't have time to work on something like this yet, but I would love to see it picked up.

Yes, that's the main reason. We could also download entire chunk files but I feel it might get pretty wasteful to do that.

[2022-09-27 17:54] GiedriusS commented on #5374
I would love to see this implemented as sparse files https://en.m.wikipedia.org/wiki/Sparse_file instead of shoehorning everything into k/v storage systems because they aren't as effective for such use case. For example, there are alignment issues and so on. The only caveat is that some OSes/FS might not support sparse files.

[2022-09-28 11:29] igorwwwwwwwwwwwwwwwwwwww opened #5735 "Compact: crash when running at high concurrency"
**Thanos, Prometheus and Golang version used**:

[code]

**Object Storage Provider**:

GCS

**What happened**:

We run thanos-compact at high concurrency to process a backlog. Settings: `--compact.concurrency=16 --compact.blocks-fetch-concurrency=12 --downsample.concurrency=6 --block-files-concurrency=12 --block-meta-fetch-concurrency=128`.

We get a crash with:

[code]

**What you expected to hap

[2022-09-28 12:16] igorwwwwwwwwwwwwwwwwwwww commented on #5735
I'm pretty sure it's `GatherNoCompactionMarkFilter`:

- https://github.com/thanos-io/thanos/blob/dfb7e9d26a7400d8bb78f3a43241481511eea628/pkg/compact/planner.go#L48
- https://github.com/thanos-io/thanos/blob/d848518efb21efd29f68487dc80f1f85a8106424/pkg/compact/compact.go#L1377
- https://github.com/thanos-io/thanos/blob/d848518efb21efd29f68487dc80f1f85a8106424/pkg/compact/compact.go#L1417

While we

[2022-09-28 14:19] trevorriles opened #5737 "Query pushdown to prometheus with external labels doesn't work."
When `query_pushdown` is enabled on our thanos-query pods it results in no data from valid queries if the inner query contains external labels.

For example if we have the following external labels:

- cluster
- prometheus

and this query:

[code]

When executed via thanos-query we get no results back, but if we remove the external labels from the query, we successfully get results back. Disabling

[2022-09-28 14:41] trevorriles commented on #5737
This is a duplicate of https://github.com/thanos-io/thanos/issues/5630

[2022-09-28 14:41] #5737 closed

[2022-09-28 15:13] #5310 closed

[2022-09-28 15:39] #5735 closed

[2022-09-28 20:07] utukJ commented on #5722
Hi @yeya24. Does this work? https://github.com/thanos-io/thanos/pull/5738

[2022-09-28 20:45] yeya24 commented on #5722
@utukJ Thank you, I think that works.
Have you verified, does it work for all archs? For unsupported arch, does it still work like fallbacking into the stdlib.

[2022-09-29 03:21] hanjm commented on #5704
check this ALB loopback issue. https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-troubleshooting.html#loopback-timeout

[2022-09-29 03:31] hanjm commented on #5374
I think KV over FS, too many small files will leading low performance and maintain difficulty.
I known the clickhouse choosen rocksdb for speed up load many small metadata files.
https://github.com/ClickHouse/ClickHouse/pull/32928

[2022-09-29 08:33] utukJ commented on #5722
Thanks for the feedback @yeya24 . I've fixed the import grouping you mentioned. However, I'm not sure how to verify this:

[2022-09-29 22:36] nate-double-u opened #5743 "Netlify: select a new build image"
Notice from Netlify

As reported via deploy logs:

All Netlify builds using the Xenial build image will begin failing in the week of November 15th, 2022.

https://app.netlify.com/sites/etcd/settings/deploys#build-image-selection

[2022-09-30 08:20] matej-g commented on #5722
I guess you'd have to try and build an image for one of the mentioned unsupported archs:

[2022-09-30 12:15] bwplotka commented on #5722
Fixed in https://github.com/thanos-io/thanos/pull/5738

[2022-09-30 12:15] #5722 closed

[2022-09-30 13:01] bwplotka commented on #5540
Ok, so my proposal would be to:

* Always trim external labels to e.g. 1000 chars.
* Add a `[]string` flag to querier like `querier.conn-metric.labels` that allows specifying NO, or any of the labels like `external_labels`, `store_type`, `record_name` (default `external_labels`, `store_type`) which will switch labels the `thanos_store_nodes_grpc_connections` has.

This allows user to choose as the

[2022-09-30 13:57] SuperQ commented on #5540
@bwplotka LGTM.

[2022-09-30 14:17] sirjobzy commented on #5704
I am not using an NLB, so there is no option to `Disable client IP preservation`.

[2022-09-30 14:17] sirjobzy commented on #5704
I am not using an NLB, so there is no option to Disable client IP preservation.

[2022-09-30 14:33] #5385 closed

[2022-09-30 14:38] matej-g commented on #5385
It took a bit but we're finally there, thanks for all the assistance @wuestkamp!

The tutorials are now live under https://killercoda.com/thanos (if you'd still like to feature them on the main page, we're all for it :heart:).

[2022-10-01 02:03] hanjm commented on #5704
aws alb is L7 proxy only for http. not support grpc, please use nlb.

[2022-10-01 11:24] aslafy-z commented on #5541
This is still something I'd love to see in Thanos.

[2022-10-01 12:10] rahul3002 commented on #5681
should i upload it here

[2022-10-01 12:19] jphx commented on #4940
This is still a valid issue.

[2022-10-01 13:18] hanjm commented on #5536
no stale

[2022-10-01 14:01] fpetkovski commented on #5335
Still relevant.

[2022-10-01 23:27] yeya24 opened #5748 "Query: parallize query expression execution and sharding"
### Is your proposal related to a problem?

https://github.com/thanos-io/thanos/pull/5342 This pr introduces the feature of sharding `by` clause. However, this requires grouping and limits the type of queries we can support to shard.

For a non shardable query like `http_requests_total{code="400"} / http_requests_total`, it is still executed by a single querier. The promql query engine analyzes th

[2022-10-02 18:10] yeya24 opened #5750 "Limit data bytes fetched per query and per store"
### Is your proposal related to a problem?

In a multi-tenant environment, Thanos Querier is easy to get OOM killed without any limits/protection.

We have some limits in place now like series limits, but since the series labels have different sizes, probably we might need other ways for limiting.

Limit the data bytes fetched for the whole query or even at each store level could be a way to try.

[2022-10-03 07:13] aarontams commented on #5592
Thanos spitted the Object Storage component from https://github.com/thanos-io/thanos repo to https://github.com/thanos-io/objstore repo. My [PR](https://github.com/thanos-io/objstore/pull/15) was in objstore repo and only updated https://github.com/thanos-io/objstore/blob/main/README.md.

I will have a PR to update https://github.com/thanos-io/thanos/blob/main/docs/storage.md when I have free cycl

[2022-10-03 07:47] fpetkovski opened #5751 "Receive: poor memory efficiency when (un)marshaling data"
### Is your proposal related to a problem?

I took a profile of a bloated Thanos Receiver, and noticed that a huge amount of memory is being allocated for just marshaling and unmarshaling data. This is a big surprise as I would expect the majority of the memory usage would come from TSDBs.

### Describe the solution you'd like

We should investigate why marshaling data has such a significant impac

[2022-10-03 11:40] igorwwwwwwwwwwwwwwwwwwww commented on #5299
This is still relevant.

[2022-10-03 13:12] Chandranana opened #5752 "promclient: TestConfiguredFlags_e2e test failing"
**Thanos, Prometheus and Golang version used**:
Thanos v0.11.0
Prometheus v2.37.1
Go v1.19

**Output of "thanos --version" or docker image:tag used.**
thanos --version
thanos, version  (branch: , revision: )
  build user:
  build date:
  go version:       go1.19

**Object Storage Provider**:

**What happened**:
TestConfiguredFlags_e2e test failing

**What you expected to happen**:
Test should pass

[2022-10-03 20:14] r0bj opened #5754 "Memcached auto_discovery: panic: runtime error: invalid memory address or nil pointer dereference"
**Thanos, Prometheus and Golang version used**:

thanos version: v0.28.0

**Object Storage Provider**: GCP

**What happened**:
Using memcached as an index cache with auto_discovery enabled causing thanos storegateway panic.

**What you expected to happen**:
Using memcached as an index cache with auto_discovery enabled works as expected.

**How to reproduce it (as minimally and precisely as possibl

[2022-10-03 22:31] yeya24 opened #5755 "Compact: allow overlapping source block for the compaction plan"
### Is your proposal related to a problem?

Thanos compactor checks whether the compaction plan has any overlapping source blocks. If overlapping sources found, the compactor halts.

https://github.com/thanos-io/thanos/blob/main/pkg/compact/compact.go#L1022

This shouldn't happen in Thanos. But on the Cortex side, since there is a shuffle sharding compactor which enables multiple compactor instanc

[2022-10-04 01:10] codevally commented on #5705
@matej-g Thanks for looking this issue and apologies for late reply. Please see the logs from thanos querier.

level=debug ts=2022-10-04T01:06:59.652076976Z caller=main.go:66 msg="maxprocs: Updating GOMAXPROCS=[1]: using minimum allowed GOMAXPROCS"
level=debug ts=2022-10-04T01:06:59.652559878Z caller=engine.go:347 msg="Lookback delta is zero, setting to default value" value=5m0s
level=info ts=2022

[2022-10-04 08:27] dohnto opened #5756 "Websute Getting Started docs link broken"
Link in https://thanos.io/v0.28/thanos/getting-started.md/#maintainers page directs me to https://thanos.io/maintainers.md/ which results in 404.

[2022-10-04 14:18] matej-g commented on #5681
@rahul3002 What do you mean? Could you open a PR and we can review it? :slightly_smiling_face:

[2022-10-04 16:46] bwplotka commented on #5751
Agree, thanks! 💪🏽 We see similar on our side I think @matej-g @PhilipGough

[2022-10-04 16:55] yeya24 commented on #5748
Overall I think they are all very good points, thanks for the feedback!

We can also do `/` per shard at the query frontend and then merge the results so that should be the same? It is basically the order of the 2 middlewares, we want to shard first or split by expression first. But one point is that the QF needs to deal with more data now.

It would be ideal to have that kind of distributed query

[2022-10-04 17:16] douglascamata commented on #5751
@fpetkovski: Why would TSDBs allocate more memory than marshalling? Aren't TSDBs just pointing to memory previously allocated by the marshalling? 🤔

[2022-10-04 17:31] Subhasish-Behera commented on #4278
hello!i am new here.Can i work on this issue?

[2022-10-04 17:37] yeya24 commented on #4278
@Subhasish-Behera sure go ahead.

[2022-10-05 09:04] fpetkovski commented on #5751
TSDBs hold memory for a longer time period, and I assume we don't marshal everything from them during series requests.

[2022-10-05 14:17] matej-g commented on #5751
I think we've seen similar numbers in our profiles, for us the biggest issue was switch to snappy compression on `0.28.0`, as I was mentioning in https://github.com/thanos-io/thanos/pull/5575#issuecomment-1268095662, which after we switched back to no compression we got back to numbers similar to `0.27.0`.  @PhilipGough has now run a couple more tests comparing with / without compression and the i

[2022-10-05 14:31] douglascamata commented on #5751
One of the question I have in mind at the moment is: is marshalling's high in-use memory numbers due to few huge gRPC messages? Does it get better in the scenario with more numerous but smaller messages?

[2022-10-05 14:35] Lykos153 commented on #4933
We had a similar issue. Our metrics are stored in a ceph-rgw and accessed by thanos-store via swift. We observed that the block count according to thanos-store was stuck at 808 while we found that new blocks were still uploaded to the bucket (accumulating to ~3000 blocks). Thanks to @lpashos's hint we added some debug output to `fetchMetadata` in `fetcher.go` to find the "choke point", but to no a

[2022-10-05 14:40] matej-g commented on #5748
I mean, don't we already do quite some of this front-end logic in query frontend? If we could eventually move this to architecture you're suggesting, that would be beneficial, but I guess until we'll able to do this on the Querier / PromQL level, Query Frontend is the second best option.

[2022-10-05 14:47] wuestkamp commented on #5385
We linked Thanos on the Killercoda main page! Nice work everyone :)

[2022-10-05 14:56] douglascamata opened #5758 "Document metrics exported by Thanos' components"
### Is your proposal related to a problem?

Yes. Figuring out which metrics are exported by the various Thanos components and the meaning behind them is often a process that requires diving deep into the source code. This consumes a lot of table and can be challenging to people that aren't used to the codebase, Prometheus and/or Thanos.

### Describe the solution you'd like

Add to the docs of eac

[2022-10-05 20:11] doctorpangloss opened #5760 "query has "2 hour gap" data problem despite endpoints correctly configured"
Relates to https://github.com/thanos-io/thanos/issues/1435

**Thanos, Prometheus and Golang version used**:
thanos: 0.28.0
prometheus: v2.38.0

**Object Storage Provider**: S3

**What happened**:
I deployed thanos, grafana and prometheus via well-configured charts, and querying for metrics has a 2 hour gap.

**What you expected to happen**:
There should be no gap.

**How to reproduce it (as minima

[2022-10-05 20:23] doctorpangloss commented on #5760
Red herring due to weird prometheus configuration error.

[2022-10-06 05:16] oronsh commented on #3416
Hi, sounds like a great idea!
I can see how this is going to keep disk space bounded but is it the same for memory? I thought that the chunks being opened with mmap only when needed and when finished memory map should get released.

[2022-10-06 05:31] wotkddl21 opened #5762 "Thanos sidecar makes too much 404 Not Found Error to s3 object storage"
I'm using thanos-sidecar with prometheus.
In prometheus pod, there are 3 containers (prometheus, config-reloader, thanos-sidecar)
Also there are several thanos components. (thanos-store, thanos-compactor, thanos-query, thanos-ruler)
The thanos-store,compactor, sidecar watch the same s3 object bucket.
For 2 months, I used a managed s3 object storage.
According to the csp, there are too many 404 Not

[2022-10-06 07:32] matej-g commented on #5751
Another related issue, I'm wondering what kind of improvement we'd see if / when we move to the Vitess framework https://github.com/thanos-io/thanos/issues/4557

[2022-10-06 07:47] fpetkovski commented on #5751
I was going to suggest the same, we might be able to start pooling requests once that is merged.

[2022-10-06 09:10] juanrh commented on #5663
@yeya24 can you please take a look to https://github.com/thanos-io/objstore/pull/25 when you have some time. Thanks

[2022-10-06 10:35] bwplotka opened #5764 "Add automated nightly micro and macro benchmarks"
In my book, I mentioned amazing work [Vitess](https://benchmark.vitess.io/) has done. They have nightly run of unit and macro tests on some cloud provider. It would be amazing if we have the same so we had history of past efficiency across at least set of commits to go in every day.

Ideally it is per PR, but that is expensive and it would take too long for PR to get ready to go.

Potentially a GS

[2022-10-06 10:45] ahurtaud commented on #5630
We would need help on this one, with @Gladorme, we tried but it seemsto be not as easy as it looks ... :/
@GiedriusS as you have implemented most of that feature, would you mind having a look at this one when you have time please? Thank you :)

[2022-10-06 11:20] squat commented on #5764
Nice! That's a really good idea. I wonder if maybe we could get additional funding from Civo for this

[2022-10-06 11:22] Chandranana opened #5765 "Test: Unable to install klog dependency"
**Thanos, Prometheus and Golang version used**:
Thanos - v0.11.0
Gonag - v1.19,1

**Object Storage Provider**:

**What happened**:
Make test fails with error :
[code]

Tried to install klog with go get github.com/k8s.io/klog/v2 but this gives error now, a week back i was able to install the same.

**What you expected to happen**:
klog deps should be installed.

**How to reproduce it (as minimally

[2022-10-06 12:18] matej-g commented on #5764
Nightly would be awesome, I feel like even doing this between each new tagged release would give us a lot of value.

Tagging @PhilipGough who recently also spent a lot of time doing macrobenchmarks with our receivers.

[2022-10-06 13:50] richie-tt commented on #2211
Hello,

On version `quay.io/thanos/thanos:v0.28.0` the problem still exists

[code]

[2022-10-07 07:19] juanrh commented on #5663
Thanks for taking a look @matej-g !

[2022-10-07 08:28] yeya24 commented on #5762
@wotkddl21 Can you share what objects are being requested by the sidecar and get 404? Is it `meta.json` file?

Ideally this shouldn't happen as the sidecar has cache for uploaded metadata. So the 404 will happen once for each block, so should be 2h interval for each prometheus deployment.

[2022-10-07 11:27] fpetkovski commented on #5748
My take on this is that if we are going to add additional computation to query frontend in the form of a PromQL engine, it might be better to work towards a general solution in QFE, similar to what Mimir does.

But in general, I tend to also lean in the direction of doubling down on the new engine and adding functionality there. I think it is now much easier to extend the engine with distributed c

[2022-10-07 14:47] Symbianx commented on #1972
Looks like a PR for this issue was merged some time ago. When can we expect a new release with it?

[2022-10-07 19:22] yeya24 opened #5772 "Compact:"
### Is your proposal related to a problem?

Currently when compactor does compaction, each block needs to scan its index twice. The first pass is gathering index health stats https://github.com/thanos-io/thanos/blob/main/pkg/compact/compact.go#L1037 and the second pass is during the TSDB compaction.

When the index size is really large, it might be inefficient to do this work twice. I am wondering

[2022-10-08 10:57] sonali-rajput commented on #5592
Does any issue need to be assigned first before working or making a PR for it?

[2022-10-08 11:00] Akshit42-hue commented on #5592
Hey @sonali-rajput, thank you for your interest. You can directly open a PR :)

[2022-10-09 08:35] X-Mars opened #5775 "The store is stop at "loaded new block"."
Hi , my friend.

     My store is runing for 80 days, Today I upgrade from **v0.27.0** to **v0.28.1**, but i stop at "loaded new block".

     This is full logs
[code]

Thanks for your service.

[2022-10-09 16:34] yeya24 commented on #5775
@X-Mars What's the issue of this? And what's the logs you were expected to see?

[2022-10-09 18:40] yeya24 opened #5776 "Tools: Rule backfilling support in Thanos"
### Is your proposal related to a problem?

`promtool` has supported the rule backfilling feature already, which does rule evaluation using standard Prometheus query API and generates TSDB blocks.
I have tried it before to do backfilling in my usecase. However, Thanos's query API supports some additional parameters like `max_source_resolution`. Promtool doesn't support this so I had to modify its

[2022-10-10 07:16] aarontams commented on #5592
Here is the PR: https://github.com/thanos-io/thanos/pull/5778

[2022-10-10 08:10] PowerSurj commented on #5672
Having similar issue with thanos store, but in our example it falters at two months old containers that for some reason are missing meta.json and yet they still have a chunk data.

There is no problem on v0.27.0

[2022-10-10 09:14] wotkddl21 commented on #5762
@yeya24 How can I get the request that the sidecar made?
The fact that the interval of 404 request should be 2hours is reasonable
But in my case the sidecar makes the 404 error with the 3 minutes of interval
Though I uploaded 2 pictures, the 404 errors from the thanos sidecar were more than 1000

[2022-10-10 11:03] metalmatze opened #5781 "Update logging package to use grpc-middleware v2.0.0-rc.3"
If we update `github.com/grpc-ecosystem/go-grpc-middleware/v2` to `v2.0.0-rc.3` it breaks in the `pkg/logging` package, as the package `github.com/grpc-ecosystem/go-grpc-middleware/v2/interceptors/tags` doesn't exist anymore.

We should update the Thanos logging package accordingly.

cc @manojvivek for discovering this.

[2022-10-10 15:40] yeya24 commented on #5762
Since you are viewing the Minio console does it have that information? Or maybe you can enable some kind of server side access logs to see if we can get that data?

[2022-10-11 02:13] wotkddl21 commented on #5762
@yeya24 At the Minio console, the information on the screenshot is all (just error code and method without any specific information)
I think I cant get the server side access log

[2022-10-11 07:46] #5663 closed

[2022-10-11 10:04] Subhasish-Behera commented on #4278
@yeya24 any design doc that I can refer to build my understanding of codeflow for contributing.

[2022-10-11 16:50] yeya24 commented on #5395
@fpetkovski Any next step for this issue?

[2022-10-11 16:53] yeya24 commented on #5541
I have seen some use cases that require the federation API. Specifically having federation API for Ruler to expose the record metrics in TSDB.
Although this issue mainly targets Thanos Query, we can revisit it to see if we want to support it or not.

[2022-10-12 07:39] fpetkovski commented on #5395
Unfortunately I don't have capacity to work on this right now, I am primarily focused on the new engine. If no one has stepped up to tackle this, maybe we can close it for now?

[2022-10-12 07:52] matej-g opened #5784 "Receive: Ketama replication quorum handling is incorrect"
**Thanos, Prometheus and Golang version used**:
Thanos `0.28.0` (present on latest `main` as well)

**What happened**:
When reading through code, I have noticed an issue with how we handle quorum in receive replication. Until now when only single hashing algorithm was available (`hashmod`), the batching mechanism ensured all series from a batch end up on an individual node. This means that for exa

[2022-10-12 08:32] fpetkovski commented on #5784
Thanks for reporting this. I think you are right, quorum calculation is now incorrect!

Maybe the solution would be to revert back to using `replica` as the key, and store the endpoint in the value of the `wreqs` map alongside the `prompb.WriteRequest`?

[2022-10-12 15:02] Ryu-code commented on #2211
v2.28.0 prometheus-operator, the same question

[2022-10-12 16:15] yeya24 commented on #2211
This log is expected if it is a brand new TSDB folder and there is no `thanos.shipper.json` before. If it doesn't exist sidecar will try to create the file.
If it cannot open or write the file due to permission, please check the deployment configuration since it is your environment specific rather than a Thanos issue

[2022-10-13 02:04] Ryu-code commented on #2211
thanks, now i see thanos sidercar is working ok, this log is expected
kubectl exec -it prometheus-k8s-1 -c thanos-sidecar -n monitoring sh
/ $ ls -la prometheus/
total 24
drwxrwsrwx   10 root     2000           281 Oct 13 02:02 .
drwxr-xr-x    1 root     root            35 Oct 12 14:39 ..
drwxr-sr-x    3 1000     2000            68 Oct 12 17:39 01GF6MEZ17WF7BQ21QZ2JK67XT
drwxr-sr-x    3 1000     2

[2022-10-13 02:28] X-Mars commented on #5775
Sorry for the late reply.
I think the data volume is too large. The store loading is slow. I used time to slice, and only the recent data is retained.
Thank you for your help.

[2022-10-13 02:28] #5775 closed

[2022-10-13 03:27] yeya24 commented on #2211
I think it is actually working properly for you, right? When you did `ls` the directory you can see the `thanos.shipper.json` file created. The error log is expected if the folder doesn't contain this file.

I will close this issue since it is not a Thanos bug.

[2022-10-13 03:27] #2211 closed

[2022-10-13 06:47] fpetkovski commented on #5751
Could be related to https://github.com/klauspost/compress/issues/442

[2022-10-13 07:47] matej-g commented on #5784
I'm trying a slightly different approach (based on grouping by endpoint), I'll be back with a PR.

[2022-10-13 08:28] Ryu-code opened #5786 "S3 storage Issue | config not initializing"
### field aws_sdk_auth not found in type s3.Config
#### OS Details
cat /etc/os-release
NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Amazon Linux 2"
ANSI_COLOR="0;33"
CPE_NAME="cpe:2.3:o:amazon:amazon_linux:2"
HOME_URL="https://amazonlinux.com/"
#### comnand to initialize
[code]
#### Used Configuration
[code]
#### eks serviceaccount
[code]
####

[2022-10-13 08:30] kojderszymon opened #5787 "Support for "Out-of-order""
Is there any work related to support for "Out-of-order" samples, similar to what Mimir did - https://github.com/grafana/mimir/pull/1753, planned (due to changes in Prometheus - https://github.com/prometheus/prometheus/pull/11075)?

[2022-10-13 08:47] sherifkayad commented on #3677
@Lincon-Freitas do you mind sharing your final IAM policies?

[2022-10-13 09:05] Lincon-Freitas commented on #3677
Hey @sherifkayad, sure!

This is the policy attached to the IAM role:

[code]

This is the resource policy configured in my S3 bucket:

[code]

[2022-10-13 11:32] matej-g commented on #4557
Linking the current WIP for more visibility - https://github.com/thanos-io/thanos/pull/5421

[2022-10-13 18:16] yeya24 commented on #5787
The code is there and I believe we just need to add a flag to enable OOO samples feature and add some test cases.

[2022-10-13 18:34] yeya24 opened #5789 "Receive: make exemplars storage a flag"
### Is your proposal related to a problem?

Right now Thanos Receiver hardcoded `exemplarStorage` to true here https://github.com/thanos-io/thanos/blob/main/cmd/thanos/receive.go#L86.

For users who don't need exemplars at all, this introduces additional overhead on the TSDB side. We should make it configurable to turn on/off for this feature. Even in Prometheus this is not enabled by default.

##

[2022-10-13 18:50] yeya24 commented on #5789
Ah actually for Receiver we can disable exemplar storage by setting max exemplars to 0, which is the default value.
However, in TSDB there is code like this https://github.com/prometheus/prometheus/blob/main/tsdb/head_append.go#L133.

Even if the max exemplar is 0, as long as the flag is enabled then TSDB will allocate a buffer for exemplars. Maybe we should change the logic in the tsdb side to av

[2022-10-13 19:10] yeya24 opened #5790 "*: Enable allow overlapping blocks by default"
### Is your proposal related to a problem?

After Prometheus dependency got upgraded to https://github.com/thanos-io/thanos/pull/5771, allow overlapping blocks is enabled by default for TSDBs. We have other components that are related to overlapping blocks checking.

1. Compactor. Compaction has a flag `compact.enable-vertical-compaction` to check whether to enable vertical compaction or not. We s

[2022-10-14 03:43] yeya24 commented on #4278
@Subhasish-Behera Unfortuantely we don't have any design doc for this component but the flow should be straightforward.
You could refer to the PRs linked with this issue to see how this could be implemented.

[2022-10-14 09:33] bwplotka commented on #5719
We discussed in on last community call -> the solution would be to add extra guarantee for Store API:

* to ensure all series are sorted
* to allow sorting by/without labels (or removing them completely)

Then we should have hint in Info or Series response if this is done or not (:

[2022-10-14 15:20] matej-g commented on #5784
In the end I could not figure out a way to make changes backwards compatible for `ketama` if we switched to endpoint-grouped requests.

Instead I'm trying a different approach to verify quorum by counting successful requests per replica, I'm interested in reviews / opinions. So far all my tests seem to show it works as expected.

https://github.com/thanos-io/thanos/pull/5791

[2022-10-14 20:45] hernanpl opened #5792 "Bring CLOMonitor Score to 100%"
This repo is signed up as part of the KubeCon [Security Slam](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/attend/experiences/#security-slam). I'm bringing to your attention the checklist from the official [CLOMonitor page for Thanos](https://clomonitor.io/projects/cncf/thanos) -- it refreshes every hour, so it should be up-to-date.

## CLOMonitor report

### Summary

**

[2022-10-17 06:47] Chandranana commented on #5752
Hi Team, Please share if there are any pointers on this issue. Please let us know if any information is needed from our side.

[2022-10-17 06:48] Chandranana commented on #5765
Hi Team, Please share if there are any pointers on this issue. Let us know if any information is needed from our side.

[2022-10-17 08:58] matej-g commented on #5751
@juanrh definitely! Could you open (even if a draft) PR with the proposed changes? We could discuss it in full there and perhaps look at some benchmarks.

[2022-10-17 09:21] matej-g commented on #5752
Hey @Chandranana I'm not sure what exactly is the problem here? Test seems to work fine on my local. Are you really on Thanos v0.11.0?

[2022-10-17 09:22] matej-g commented on #3782
Feel free to work on it @Bexanderthebex!

[2022-10-17 10:32] juanrh commented on #5751
@matej-g I just sent https://github.com/thanos-io/thanos/pull/5795 for that

[2022-10-17 13:33] iampramma commented on #2750
Layered Thanos Query approach mentioned [here](https://thanos.io/operating/multi-tenancy.md/) badly needs more pointers. Pls do update this document!

[2022-10-17 14:57] vladst3f commented on #4549
With default out of order ingestion on Prom's side this needs more attention than ever

[2022-10-18 04:16] Chandranana commented on #5752
Yes @matej-g I have installed v0.11.0. I am running the tests on power architecture. The master branch test execution works fine but not this version.

[2022-10-18 21:39] sdufel opened #5798 "Query Frontend: Vertical sharding `without` labels is failing to return results"
**Thanos, Prometheus and Golang version used**: Latest main (35a3e3d58217fed35e83f72c913f55b633ad444a)

**Object Storage Provider**: GCS

**What happened**:
When running queries which make use of the `ignoring` keyword for vector matching through a query frontend which has vertical sharding enabled, no results are returned.

**What you expected to happen**:
The results of the query should return a

[2022-10-19 00:52] cybervedaa commented on #3913
I see this issue in thanos 0.28.0 as well. I am running with replication factor = 1. But still see this occassionally. I have to turn off remote write on all prometheus instances, then re-enable it. Would be great if someone can work on a fix for this issue.

[2022-10-19 02:21] yeya24 commented on #5798
Thanks!
I am not sure if this case would be covered by the PromQL compliance test, but at least we should enable the PromQL test somehow (maybe daily) to make sure it works as expected.

[2022-10-19 09:13] bwplotka commented on #4780
Done  with k-way I believe.

[2022-10-19 09:13] #4780 closed

[2022-10-19 09:44] pjastrzabek-roche commented on #4855
Still valid.

After updating thanos (to version that contains AWS SDK ) usage of temporary credentials is possible, we render credentials with vault injector inside /home/.aws/credentials

But after credentials are refreshed thanos component still has to be restarted, cause it does not reload them.

[2022-10-19 09:50] Chandranana commented on #5752
@matej-g Also i am facing issue installing the k8s.io.klog dependency required for running tests. I was able to install this dependency a few weeks back.
I have raised the issue for the same - https://github.com/thanos-io/thanos/issues/5765. Please let me know if this has changed.

[2022-10-19 14:04] druanoor opened #5800 "Query: Does Thanos query priorityze between Sidecar over Storegateway?"
Hi.

Does Thanos Query prioritize Sidecar store over Storegateway Store when they both share the serving time partition?

![image](https://user-images.githubusercontent.com/51286702/196713730-10ab426f-88cc-4a57-b74b-239de0be49d6.png)

[2022-10-19 17:49] yeya24 commented on #5800
I think this question has been answered in Slack already https://cloud-native.slack.com/archives/CK5RSSC10/p1666188108476609 so close now.

[2022-10-19 17:49] #5800 closed

[2022-10-19 19:17] nate-double-u commented on #5743
Looks like the folks on the Netlify Team for thanos are:
* @bwplotka
* @brancz
* @GiedriusS

Let me know if this appropriate, or if it should be updated.

[2022-10-19 20:25] cybervedaa commented on #3913
Thank you for the update, Matej

On Wed, Oct 19, 2022 at 12:25 AM Matej Gera ***@***.***>
wrote:

[2022-10-20 15:22] #5798 closed

[2022-10-21 00:00] dmilind opened #5803 "store probably dont handle TLS connection to azure redis cache over 6380 port."
**Thanos, Prometheus and Golang version used**:
Thanos - 0.26.0,0.27.0 and 0.28.1

**Object Storage Provider**:
azure container storage

**What happened**:
In my setup I am using azure cache for redis with 6380 (TLS 1.2). When store is trying to connect to azure cache over 6380, store errors out with `connection reset by peer` mostly. Whereas it works like a charm on 6379 port when tls is disabled

[2022-10-21 00:02] dmilind commented on #5803
Also is there any way to provide --sni in redis config ?

[2022-10-21 08:48] matej-g commented on #5743
Hey @nate-double-u are you able to manage the team? Would it be possible to add all maintainers (https://github.com/thanos-io/thanos/blob/main/MAINTAINERS.md)?

[2022-10-21 09:09] exgame opened #5805 "Block has no labels left, creating one"
**Thanos, Prometheus and Golang version used**:
prometheus version 2.39.1
thanos version 0.28.1
go version go1.18.7

**Object Storage Provider**:
Cloudflare r2 (s3 compatable)

**What happened**:
Compactor is continiously panicing time after time with warn error
msg="block has no labels left, creating one" replica=deduped

**What you expected to happen**:
No errors in logs

**How to reproduce it (

[2022-10-21 12:24] matej-g commented on #5805
Hey @exgame, could you post full output when this happens? You say it's panicking but you only posted warning.

[2022-10-21 13:29] matej-g opened #5807 "Receive: Group replicated requests by endpoint"
Related to issues / work in https://github.com/thanos-io/thanos/pull/5791, https://github.com/thanos-io/thanos/issues/5784#issuecomment-1279147288, https://github.com/thanos-io/thanos/pull/5604

After https://github.com/thanos-io/thanos/pull/5604 was introduced, we started to group replicated requests for every combination of endpoint-replica, instead of just by endpoint (which was acceptable befo

[2022-10-21 14:10] GiedriusS commented on #5715
Fixed in https://github.com/thanos-io/thanos/pull/5749. Thx @Rahulkumar2002 :muscle:

[2022-10-21 14:10] #5715 closed

[2022-10-21 14:17] Rahulkumar2002 commented on #5715
No problem 😊

[2022-10-21 14:38] matej-g opened #5809 "Receive: Implement a sloppy quorum"
An idea that I had for some time, I was wondering about opinion of others.

### Is your proposal related to a problem?

Even though receiver is scalable, when replication is on, by increasing / decreasing number of nodes in a hashring, the fact is that due to how receiver handles requests (batch smaller request for each node + replicate the batched requests) a user can afford to lose only small nu

[2022-10-21 14:45] Nikhils09 opened #5810 "Getting panic: send on closed channel in Thanos Store & memory issue"
**Thanos and Prometheus version used**:
- Prometheus: 2.38.0
- Thanos: 0.28.0

**Object Storage Provider**: S3

**What happened**: I'm running Pometheus and Thanos on AWS EC2, I'm facing some issues with Thanos Store, It's consuming very high memory, I have provided it 16 GB of memory but it's failing with  **panic: send on closed channel** error whenever I try to access historical data in Grafana

[2022-10-21 14:48] matej-g commented on #5810
Hi, this is fixed in `0.28.1` - https://github.com/thanos-io/thanos/releases/tag/v0.28.1 - please update your version. Duplicates https://github.com/thanos-io/thanos/issues/5701.

[2022-10-21 14:48] #5810 closed

[2022-10-21 17:49] alanprot opened #5811 "Support subqueries on Vertical Sharding"
### Is your proposal related to a problem?

As for right now any query that has a subquery are not sharded.

For instance the following query is shardable `avg(kube_pod_container_status_running) by (pod, namespace, cluster_id)` but not `avg(kube_pod_container_status_running[1h:1m]) by (pod, namespace, cluster_id)`

See:

https://github.com/thanos-io/thanos/blob/25d91c103a416df733320563bb108d734f91

[2022-10-21 18:42] dmilind commented on #5803
Input:
I tried to get tcpdump from thanos store, I observed that message is not encrypted, it is a plain text sending to remote azure redis cache instance, remote instance is expecting to receive it in encrypted so redis is closing down connection. Please take a look at ss

![Screen Shot 2022-10-21 at 11 34 19 AM](https://user-images.githubusercontent.com/18506584/197267245-d46789dd-0291-42ad-86fe

[2022-10-21 20:55] nate-double-u commented on #5743
I think Thanos is on an enterprise plan, so this wouldn't affect the billing, but I'm hesitant to volunteer folks for stuff -- we've got several maintainers on the Netlify team list already. Though, I'd be happy to add you to the Netlify team.

Also, a separate note: the [CNCF project maintainers list](https://github.com/cncf/foundation/blob/main/project-maintainers.csv) looks like it is out of da

[2022-10-21 20:56] mazad01 opened #5812 "Thanos querier not deduplicating properly against statsd_exporter metrics"
**Thanos, Prometheus and Golang version used**: Thanos 0.28.1, Prometheus 2.39.1, go1.18.7

**What happened**: We have a thanos querier that is serving 2 prometheus replicas. Each prometheus replica has its own statsd_exporter. After sending a metric with the same name to our statsd_exporter endpoint (which then prometheus scrapes), we can see the metric lines (from each replica respectively). Aft

[2022-10-21 20:56] nate-double-u commented on #5743
Followup: I've sent a Netlify team invite to your listed email @matej-g

[2022-10-21 21:03] mazad01 commented on #5812
Here is a screenshot of the lines of the metrics when dedupe is disabled. You can see both replicas having its own line.
![Capture4](https://user-images.githubusercontent.com/7851832/197287933-28a477ed-6bc0-4718-aeff-edb1dac41fd9.PNG)

Here is when dedupe is checked in the UI. The line isnt aggregated, and it looks like only metrics from one of the replicas was chosen.

![Capture5](https://user-im

[2022-10-21 22:35] alanprot commented on #5605
I think any `over_timer` function can also be shardable even without `by` clause?

For example, for queries like `avg_over_time(kube_pod_labels[1h])` we can "shard by all labels"?

Note that `max(avg_over_time(kube_pod_labels[5m])) by (pod)` is shardable, so the above example should have the same performance benefits of this one?

[2022-10-22 00:19] yeya24 commented on #5600
@GiedriusS As the upstream PR has been merged, do we have any next steps?

[2022-10-22 02:41] GiedriusS commented on #5600
No, this works now, at least in my testing so I think we can close this

[2022-10-22 02:41] #5600 closed

[2022-10-23 01:44] hanjm commented on #5803
TLS support is add in this PR https://github.com/thanos-io/thanos/pull/5674, 0.28.1 does not handle TLS, Please use 0.29.0 https://github.com/thanos-io/thanos/releases/tag/v0.29.0-rc.0

[2022-10-23 02:04] yeya24 commented on #5812
I think that's expected.
The two Prometheus instances are not really replicas of each other since they have their own statsd exporters and different data. Thanos deduplication just simply picks one sample over the two.

I don't think it is a bug. If the data differs between 2 replicas then you need to have a way to aggregate the data somehow.

[2022-10-23 03:15] krishnaindani commented on #5758
Is there any plans on how to get started on this? Does this issue need to breakdown by components? We are actively using thanos and see the documentation for the metrics beneficial as well. I would like to work on this

[2022-10-23 06:40] yanglaoshi666 opened #5813 "support s3 storage class"
Deployment version 0.28.1 supports S3 storage class from the deployment document, but the log does prompt that user-defined class name is not supported. Is there no merging issues #5663?

[2022-10-23 06:52] yeya24 commented on #5813
@yanglaoshi666 Can you share the error from the logs?

[2022-10-23 10:45] yanglaoshi666 commented on #5813
type: S3
prefix: monitor
config:
  endpoint: s3.us-west-2.amazonaws.com
  region: us-west-2
  bucket: thanos
  put_user_metadata:
    X-Amz-Storage-Class: STANDARD_IA
  trace:
    enable: false
  part_size: 67108864
  bucket_lookup_type: auto

thanos, version 0.28.1 (branch: HEAD, revision:
41a8ce61c90734b81986b273e154e96358333f92)
  build user:       ***@***.***
  build date:       20221006-18:35

[2022-10-23 14:34] yanglaoshi666 commented on #5813
monitor16 thanos[22211]: level=warn ts=2022-10-23T14:20:39.034692132Z caller=sidecar.go:345 err="upload 01GG2FT5H6R0WENDPT9R8EET9G: upload chunks: upload file /opt/soft/prometheus/data/thanos/upload/01GG2FT5H6R0WENDPT9R8EET9G/chunks/000001 as 01GG2FT5H6R0WENDPT9R8EET9G/chunks/000001: upload s3 object: X-Amz-Storage-Class unsupported user defined metadata name" uploaded=0

[2022-10-23 15:19] yanglaoshi666 commented on #5813
upgrade 0.29.0 fixed

[2022-10-23 18:06] douglascamata commented on #5758
@krishnaindani to get started I would suggest opening a separate issue for each component and writing on it if you plan to tackle it. Then it will require some code reading and understanding, followed by markdown table skills.

Some of the metrics already have a description that we could move to the markdown docs, but I am not sure if all of them have such description and whether they are correct.

[2022-10-23 19:24] yeya24 commented on #5813
Yeah this feature is added in v0.29.x.

[2022-10-23 19:24] #5813 closed

[2022-10-24 01:27] jamessewell commented on #981
We are seeing this issue as well. Dedup ignores a series which has no breaks in favour of one which does.

[2022-10-24 06:49] yeya24 commented on #5133
Would love to see this moving forward.
A general sharder is really something we need in Thanos. Cortex has something similar like this using the Ring. In Thanos, we have the hashring only on the receiver side. However, if we want to distribute works like rules, compaction jobs, etc. We don't have a good way now.

[2022-10-24 06:52] saswatamcode commented on #5133
Yup! I'm writing a proposal + poc for this currently. Will land soon! 🙂

[2022-10-24 07:12] #5743 closed

[2022-10-24 07:40] matej-g commented on #5812
I'd agree with what @yeya24 said, deduplication simply means picking one replica over the other, so this should be a non-issue.

[2022-10-24 07:45] matej-g commented on #5758
@krishnaindani alternatively feel free to pick a component and start documenting, I believe we can iterate on this and start documenting one by one!

[2022-10-24 08:09] fpetkovski commented on #5605
I see, that is indeed an interesting point. I would say it's worth giving it a shot 👍

[2022-10-24 13:29] alanprot commented on #5605
Yeah.. for sure need to run some tests.. but I think mostly of the benefit comes with the fact all this data transfer / process (specially btw query and storage nodes) will be done in parallel and distributed. Also, the memory footprint  on each of those nodes should be smaller.

[2022-10-24 13:54] benjaminhuo commented on #5133
Looking forward to this feature!

[2022-10-24 14:40] #5812 closed

[2022-10-24 20:02] dmilind commented on #5803
Awesome, tested out tls connection with v0.29.0-rc.0. Works pretty well. Thanks to contributor.

[2022-10-24 20:02] #5803 closed

[2022-10-25 03:38] X-Mars opened #5815 "Could you add the "last_value" and "duration" to "ALERTS" ?"
### Is your proposal related to a problem?

Could you add the "last_value" and "duration" to "ALERTS" ?

### Describe the solution you'd like

None

### Describe alternatives you've considered

None

### Additional context

None

[2022-10-25 21:16] bwplotka opened #5820 "experimental PromQL count(...) broken on the current main."
Current Thanos main:

[code]
Results:

![image](https://user-images.githubusercontent.com/6950331/197883136-a018b48f-3f6b-4801-a3aa-e8fd9935b31a.png)

This is incorrect. With the new engine turned off or with the old Thanos it looks like this:

![image](https://user-images.githubusercontent.com/6950331/197883597-6acbf7c8-835e-4ff5-a396-4ed5b7fe97f6.png)

[2022-10-25 21:37] bwplotka commented on #5820
Ok, I am stupid - we just did not upgrade Thanos to latest promql-engine

[2022-10-25 21:40] bwplotka commented on #5820
- [ ]

[2022-10-25 23:54] #5820 closed

[2022-10-26 09:52] NagarajSundaramahalingam opened #5823 "Unable to setup thanos-store in EKS - failed to create memcached client"
Thanos-store pod is crashing due to memcached client host. Details are as follows

================================================================================

Logs:

 level=error ts=2022-10-26T09:40:23.990984476Z caller=main.go:132 err="lookup thanos-store.monitoring.svc.cluster.local on 10.100.0.10:53: no such host\nfailed to create memcached client\ngithub.com/thanos-io/thanos/pkg/store/ca

[2022-10-26 11:27] fpetkovski opened #5825 "Receive: very verbose logging"
**Thanos, Prometheus and Golang version used**:
thanosio/thanos:main-2022-10-07-a4e33415

**What happened**:
Thanos receivers now use the store proxy to fan out to different TSDBs. This leads to very verbose warn logs in the form of:
[code]

**What you expected to happen**:
I would expect such logs to have a debug level, or not be emitted at all.

[2022-10-26 15:47] douglascamata opened #5826 "Use file watcher based config reloader throughout the codebase"
Considering #5673 is merged and this new function is proven to be working well, all the configuration reload in Thanos can be updated to use it.

Ideally the reload logic should be isolated and added to https://github.com/efficientgo/tools/tree/main/extkingpin for better reusability across different projects.

This can also be contributed upstream to [Prometheus file discovery](https://github.com/

[2022-10-27 03:09] yutian1224 opened #5827 "Query: grpc compression not working"
### Version:
Thanos: v0.29.0-rc.0
Image: thanosio/thanos:v0.29.0-rc.0

### **What happened**:

I did a grpc compression test with the latest version of the image, trying to reduce the transmission traffic.

Data flow diagram:
`store(grpc) -> query1(grpc) -> query2(http) -> queryFrontend`

query1 traffic map:
yellow: with `--grpc-compression=snappy`
green: with `--grpc-compression=none`
![image](ht

[2022-10-27 08:18] Nikhils09 opened #5830 "Getting "vector cannot contain metrics with the same labelset" while querying large data"
**Thanos and Prometheus version**:
**Thanos**: 0.28.1
**Prometheus**: 2.38.0

**Object Storage Provider**: S3

**What happened**: I'm using Prometheus and Thanos to Monitor Jira, when I try to query large data using **sum** or **rate** it gives me:
[code]

**How to reproduce it (as minimally and precisely as possible)**: Here's the one of the query in which I'm getting the issue:
[code]

**Environ

[2022-10-27 08:21] Abhishek-90 commented on #5758
Hello @douglascamata @matej-g , I am new to thanos and would like to understand the working, codebase and other things so that I can contribute. Can you help with it?

[2022-10-27 10:26] exgame commented on #5805
Sorry for the long delay, debug logging flag I receive these logs:

Oct 27 10:17:40  thanos-compactor[2349619]: level=debug ts=2022-10-27T10:17:40.038476145Z caller=fetcher.go:712 msg="replica label removed" label=replica
Oct 27 10:17:40 thanos-compactor[2349619]: level=warn ts=2022-10-27T10:17:40.038484455Z caller=fetcher.go:718 msg="block has no labels left, creating one" replica=deduped

Is it

[2022-10-27 11:51] #5733 closed

[2022-10-27 14:27] matej-g commented on #5805
Hi @exgame, so you mean you're seeing warnings and not that compactor is panicking, correct? Then I'd assume you don't attach other external labels to the blocks produced by other components - when compactor dedpulicates and removes `replica` label, there are no labels left on the block (but this is not valid, so compactor adds `dedup` label). I guess normally it's better practice to add external

[2022-10-27 19:45] exgame commented on #5805
Correct, I apologize for misleading you. I've added additional external labels and warning is gone.
How does deduplication work if it still generates x2 samples and chunks on object store?

[2022-10-28 05:55] fpetkovski opened #5832 "Implement projection pushdown"
### Is your proposal related to a problem?

When selecting series from stores, the querier receives all labels from all series for the given matchers. Most PromQL expressions include one or more aggregations which discard most labels. Because of this, both stores and queriers waste a lot of resources marshaling, transfering and unmarshaling data that is not used in queries.

### Describe the solut

[2022-10-28 07:44] matej-g opened #5833 "*: Stale bot not closing issues"
I have noticed stale bot is not closing issues, we have plenty of issues marked `stale` with > 14 days of inactivity, but they are never closed. Might be a config issue.

[2022-10-28 07:58] #5833 closed

[2022-10-28 08:15] matej-g commented on #5833
It actually looks like the bot is dead actually :smiling_face_with_tear: https://github.com/probot/stale/issues/385#issuecomment-1235196691

Looks like the proper way of resolving this is to migrate to https://github.com/actions/stale

[2022-10-28 08:32] matej-g opened #5835 "Docs: Document hidden flags"
I have noticed there is zero mention of hidden flags in our documentation. Although we hide behind them unstable features that are not meant for stable environments, they should still be documented in the `.md` files and on the website (perhaps in a separate block).

[2022-10-29 11:28] nikzayn commented on #5815
/assign

[2022-10-29 13:27] X-Mars commented on #5815
@nikzayn  Hi, maybe i can't do it....
<img width="1354" alt="QQ20221029-212610@2x" src="https://user-images.githubusercontent.com/18095822/198834095-80e7163b-a05d-4e52-a199-51da5b1988c3.png">

[2022-10-30 05:59] yeya24 commented on #5832
This sounds a very interesting idea!
Can we use `Grouping` from the select hints to let the store layer know what labels do we need? https://github.com/thanos-io/thanos/blob/main/pkg/query/querier.go#L262
But the hints is currently only enabled along with query pushdown, we need to always enable it if we want to do this optimization.

[2022-10-31 03:36] xiaonanshen-ponyai commented on #5265
Seems groupcache also causes increased number of get operations to the object storage, and almost all of them are failures (I believe all of them are for the deletion mark).
![oie_ilxuGAuYwsXk](https://user-images.githubusercontent.com/79890017/198925913-9548edbc-e1cf-41ea-88ee-92f1ee59afc9.png)

[2022-10-31 07:54] GiedriusS commented on #5827
What about the average traffic usage difference? It's hard to tell what's happening just from usage graphs. I'm 99% sure that compression works because with `--grpc-compression=snappy` my project https://github.com/GiedriusS/thanos-rust doesn't work (https://github.com/hyperium/tonic/issues/282):
[code]

[2022-10-31 08:24] nicklev commented on #5672
We have also the same issue. Thanos version is v0.28
The meta.json file gets deleted but we have soft delete enabled so we are able to restore it. Then the compactor is able to find the blob and delete it.

[2022-10-31 08:26] #5805 closed

[2022-10-31 08:26] exgame commented on #5805
Added additional external labels to Prometheus configuration and errors are gone.

[2022-10-31 09:10] matej-g commented on #5815
Hi @nikzayn no need for assigning, feel free to work an issue. Although I'd first like some better description from @X-Mars, it's not obvious to me what exactly is being requested here and why?

[2022-10-31 09:10] melikesozeri opened #5840 "Deduplication problem for "up" metrics"
We have two Prometheus with the same configuration which are connected to one alertmanager.
After setting up a Thanos, we added an external label to each Prometheus instance (replica0 and replica1) for the metric deduplication in the Thanos.
But we have a problem with deduplication. We use Thanos Ruler for alerts.
It generates an alarm when it receives metrics from replica1 and not replica2. After

[2022-10-31 09:29] X-Mars commented on #5815
Hi @matej-g , I can got alerts list by 'ALERTS', but it doesn't have "last value / start time / duration time".
Thanks for your help.
![QQ20221031-172426](https://user-images.githubusercontent.com/18095822/198975855-90b99d83-0f01-4b57-ac56-f64f245f155f.png)

[2022-10-31 12:05] SuperQ opened #5841 "Compaction TODO metrics have too high a cardinality"
**Thanos, Prometheus and Golang version used**:

Thanos v0.28.1

**Object Storage Provider**:

N/A

**What happened**:

The metrics `thanos_compact_todo_compactions`, `thanos_compact_todo_downsample_blocks`, etc include a `group` label that can make the cardinality of the metric reach thousands in large deployments. This label doesn't provide a lot of value.

**What you expected to happen**:

Remo

[2022-10-31 12:07] paltryeffort commented on #5672
I see the same issue using Azure Storage (RA-GRS). I am running v0.28. I tried serveral settings like --consistency-delay=30m and 10m but now I have `--consistency-delay=5s` running for 5 days without any error messages! Obviously, this is not the solution.

[2022-10-31 13:06] #5679 closed

[2022-10-31 15:24] yeya24 commented on #5841
Almost all the compaction metrics have the label `group`, right? Why it is an issue for the TODO metrics?

[2022-10-31 16:15] yeya24 opened #5842 "Flaky StoreGatewayBytesLimit test"
[code]

Flaky test case for the new bytes limit in the store gateway https://github.com/thanos-io/thanos/actions/runs/3360763737/jobs/5570350503.

Help wanted.

[2022-10-31 16:55] Akshit42-hue commented on #5841
Working on it :)

[2022-11-01 02:27] yeya24 commented on #5841
I think it is still valuable to have a label to identify each compaction group so that we can identify some key metrics like failutres.
Unfortunately the current label `group` is not a good identifier cause I cannot tell which cluster/tenant it is from the given label hash.

[2022-11-01 13:49] NagarajSundaramahalingam commented on #5823
Any update?

[2022-11-01 14:01] matej-g commented on #5569
I have now added possibility to use snapshot on shutdown in https://github.com/thanos-io/thanos/pull/5836, also the change @yeya24 mentions already landed in Thanos, so we should see improvements. Please try either or both solutions and let us know if you see improvements!

[2022-11-01 15:53] yeya24 commented on #5830
Please let us know your Thanos setup first. @Nikhils09

[2022-11-02 06:57] yeya24 opened #5847 "Query Frontend: lookback_delta is not part of the cache key"
There is a query param `lookback_delta` which allows us to overwrite the lookback delta value from the engine.

However, this is not part of the query frontend cache key so if `lookback_delta` is set differently in a range query, the wrong cached value would be selected.

Current cache key can be found here https://github.com/thanos-io/thanos/blob/main/pkg/queryfrontend/cache.go#L36

[2022-11-02 07:13] yeya24 opened #5848 "Query: subquery default evaluation interval doesn't work with downsampling"
For a subquery like `sum(prometheus_http_requests_total) by (code, handler)  [1h:]`, if the resolution not specified in `[]`, the default evaluation interval will be used, which is 1m by default. The interval is currently a static value configured in https://github.com/thanos-io/thanos/blob/main/cmd/thanos/query.go#L623.

However, a static value won't work if we have downsampled data. For example,

[2022-11-02 08:01] oukian commented on #5610
Same request. Need skip basic auth check on liveness and readiness probe path for k8s or loadbalance.

[2022-11-02 08:27] fpetkovski commented on #5832
We have to see how the engine sets those hints, I think for something like `sum by (pod) (rate..)` we will not propagate the grouping labels. The engine only looks at the closest function or aggregation, and in this case that would be rate. But maybe the hints API is flexible and we should use it as it fits us.

[2022-11-02 13:00] pulkitent commented on #5037
Hey @GiedriusS, I would like to pick a sub-issue of this open issue which is **Make pull request that pushes changes (Thanos update) back into Cortex**

As I am a newbie to open source contribution & Thanos codebase, can someone share some docs to help me understand the requirement better?

Any acceptance criteria for this feature? Or which flow/component in the Thanos codebase should I focus on?

[2022-11-02 16:22] #5811 closed

[2022-11-02 20:33] apoorva-marisomaradhya commented on #4907
@haeringer Were you able to resolve this issue?

[2022-11-02 21:19] yeya24 commented on #5832
Makes sense to me. We could try the hints here first https://github.com/thanos-io/thanos/blob/main/pkg/store/storepb/rpc.proto#L108

[2022-11-03 03:31] yutian1224 commented on #5827
This may be the key, we have a lot of alert and record rules, and queries with large time spans are also sharded by frontend

[2022-11-03 10:51] #5847 closed

[2022-11-03 10:53] nicklev commented on #5672
I downgraded Thanos to version 0.27 (Helm chart 11.3.0) as suggested to previous comment but I still get the same error.

`level=error ts=2022-11-03T10:41:09.933669867Z caller=main.go:158 err="incomplete view: meta.json file exists: 01GGJAZ7YMG6HRX3GE1RPFXEDD/meta.json: cannot get properties for Azure blob, address: 01GGJAZ7YMG6HRX3GE1RPFXEDD/meta.json: -> github.com/Azure/azure-storage-blob-go/az

[2022-11-03 12:29] dextras commented on #5787
@yeya24 do you know if there is anybody is working currenlty on this topic and if there is any issue for that?

[2022-11-03 12:38] matej-g commented on #5787
Hi @dextras, take a look at https://github.com/thanos-io/thanos/pull/5839, this has been now added as experimental feature in Thanos, available on latest `main`. I believe this issue can be closed now.

[2022-11-03 12:52] dextras commented on #5787
Thanks @matej-g for this information. Indeed the issue can be closed.

[2022-11-03 14:20] kladiv opened #5857 "Thanos with Scaleway S3 objstore - The XML you provided was not well-formed"
Hi here,
i need your support for the error below from thanos-sidecar.

- I installed `kube-prometheus-stack` with `thanos-sidecar` enabled (quay.io/thanos/thanos:v0.28.1)
- I created the `thanos-objstore-config` with contents below:

[code]

the base64 is:

[code]

and in kube-prometheus-stack i defined:

[code]

If i look at thanos-sidecar logs i see:

[code]

This is another log in debug mode:

[2022-11-03 14:36] #5665 closed

[2022-11-03 15:48] bwplotka commented on #5784
Thanks everybody! I would really vote for making https://github.com/thanos-io/thanos/issues/5807 work. Let's see if there is some easy solution there (: We can talk on PromCon too!

[2022-11-03 16:07] matej-g commented on #5807
We could do either of the suggested options (push sharding to `Get` method of hashring and / or do sharding in the beginning of batching), however I don't think it would still help us get over potential compatibility issue (series distribution) between versions.

[2022-11-03 18:21] yeya24 commented on #5848
Looks like it is not supported right now as we cannot configure the `noStepSubqueryIntervalFn` dynamically per query. Need a PR to Prometheus first.

[2022-11-03 20:15] cmckeen opened #5859 "Sidecar: Thanos sidecar not uploading all blocks during backend migration to AWS S3"
**Thanos, Prometheus and Golang version used**:  Thanos: v0.28.1,  Prometheus: v2.36.2, Golang v1.17

**Object Storage Provider**: AWS S3

**What happened**:

We are attempting to reconfigure our object storage provider from storing our Prometheus data on a local disk to AWS S3, as well as migrating the historical data.  We have roughly 12.4 TB of data stored on the drive over ~1000 blocks for the

[2022-11-03 20:19] cmckeen commented on #5859
@bwplotka, I believe you're the correct person to ping based on https://github.com/thanos-io/thanos/blob/main/docs/storage.md 😄

[2022-11-04 02:55] yeya24 commented on #5832
Btw is this possible? If we are doing aggregations then seems that special label will always be dropped by the query engine?

[2022-11-04 05:30] Hyperbolic007 commented on #5835
Hey @matej-g I want to work on this issue. Can you please tell where should I study about these hidden flags.

[2022-11-04 07:23] alex5517 commented on #5857
I have the same issue with HCP for Cloud Scale for multipart uploads.

Hitachi uses the same xsd as AmazonS3 - What I suspect is that they are running in strict mode where Amazon S3 does not.

Logs from HCP-CloudScale:
`2022-11-01 10:03:31.739 WARN [http-nio-80-exec-2] S3ObjectUtils XML '<CompleteMultipartUpload xmlns=""><Part xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><PartNumber>1</PartNumb

[2022-11-04 07:37] kladiv commented on #5857
Maybe the issue can be similar to one below?
https://community.cloudflare.com/t/r2-multipart-uploads-not-working-with-minio-client/396536/14

[2022-11-04 07:46] fpetkovski commented on #5832
Yes, but it needs to be dropped sooner than it hits the engine so that data is deduplicated. Otherwise the engine see 2x or 3x more series and produce higher numbers. I think we have a special label for query pushdown that @GiedriusS introduced.

[2022-11-04 09:09] fpetkovski commented on #5830
This looks like duplicate series ended up in the engine. I wonder if you configured any replica labels in the querier.

[2022-11-04 09:11] fpetkovski commented on #5835
I thought the idea of hidden flags is to not have them documented so that we can try them out ourselves before exposing them to users 🤔 .

[2022-11-04 09:14] oded-dd commented on #5101
Hey. What is the current status?

[2022-11-04 09:16] oded-dd commented on #5393
Hey, Any update on that? IMDSv2 is a security requirement, hence, we can not leave those hanging fruits

[2022-11-04 09:50] matej-g commented on #4306
This is not resolved, we just hit it on receiver (although I've seen this first time ever today). Does not seem easily reproducible.

[2022-11-04 10:08] alex5517 commented on #5857
Seems like it could be fixed in newer version of mino-go client.
https://github.com/minio/minio-go/issues/1702

[2022-11-04 10:27] PhilipGough commented on #4306
@matej-g looks like it is related to https://github.com/gogo/protobuf/issues/651? In which case I suppose https://github.com/thanos-io/thanos/issues/4557 is still the fix since we need to move away from the unmaintained gogoprotobuf

[2022-11-04 10:28] kladiv commented on #5857
What version of minio-go use Thanos (0.28.1 or 0.29.0) ?

[2022-11-04 11:44] verejoel opened #5861 "Implement pull-based worker model for Queriers"
### Is your proposal related to a problem?

Currently we can set a maximum concurrent number of queries to be handled by a query instance. We can also set the maximum parallelism in the frontend, which determines the size of the queue. But as we have an HTTP push model, and usually the queriers are behind a ClusterIP service, we cannot guarantee the distribution of queries across the fleet of quer

[2022-11-04 11:48] matej-g commented on #4306
Nice catch @PhilipGough, then the migration might really solve this :+1:

[2022-11-04 11:49] matej-g commented on #5857
We're on [`7.0.37`](https://github.com/thanos-io/thanos/blob/main/go.mod#L55), so if this really as easy as bumping the version, might be quick fix?

[2022-11-04 11:55] matej-g commented on #5101
Hey @oded-dd, we're now on a [newer `minio-go`](https://github.com/thanos-io/objstore/blob/main/go.mod) version, so unless there are more extra steps needs to enable IMDSv2, this should be considered resolved.

[2022-11-04 12:05] BigbigY opened #5862 "Upgrade to v2.28.1 - > v2.29.0 An error was reported"
Error message：

Symptom The same query generates an error after v2.29.0 is upgraded, and v2.28.1 is rolled back to recover the query

An error is as follows
![image](https://user-images.githubusercontent.com/16998173/199968046-dbe8e490-3c49-43fe-9db4-4b59692e8316.png)

[2022-11-04 12:56] whc9527 opened #5863 "thanos Query --query.lookback-delta not working"
thanos version: 0.27.0
thanos query configuration:
`  - query
  - --grpc-address=0.0.0.0:10901
  - --http-address=0.0.0.0:9090
  - --log.level=info
  - --log.format=logfmt
  - --query.replica-label=prometheus_replica
  - --query.replica-label=prometheus
  - --query.replica-label=cluster
  - --query.replica-label=rule_replica
  - --query.replica-label=receive_replica
  - --store=dnssrv+_grpc._tcp.t

[2022-11-04 12:59] whc9527 commented on #5863
@yeya24 你好大佬，可以帮忙看看这个问题不，非常感谢！

[2022-11-04 13:22] whc9527 commented on #5863
When I directly use the sum function, the data is indeed complete, but I am sure that the data does have a delay of 1min to 2min, why not use rate?

![image](https://user-images.githubusercontent.com/17898805/199982517-ca47e031-eb51-40e3-bc4f-b95becd513f9.png)

[2022-11-04 15:30] GiedriusS commented on #5862
Hmm, maybe something related to https://github.com/thanos-io/thanos/pull/5296. Do you know how we could reproduce this? :thinking:

[2022-11-04 17:07] Nikhils09 commented on #5830
Hi @fpetkovski, I was running Prometheus and Thanos on AWS EC2, seems like it's some issue with Prometheus external labels, I was passing instance_id in it, although data was uploading successfully on S3 but it was throwing **Label issues** in Grafana, I fixed it by changing labels to something like this:
[code]

[2022-11-04 17:11] mrtworo opened #5864 "Receive: Two monitoring k8s clusters, same data, CPU saturation affecting one pod in 3 pod hashring in one region while second region working fine."
**Thanos, Prometheus and Golang version used**:
Thanos: v0.28.0
Prometheus: v2.38.0

**Object Storage Provider**:
S3

**What happened**:
We have a two disjoint monitoring clusters in separate AWS regions, each contains 3 node thanos receiver hashring and ingests same application data via prometheus remote write + local prometheus metrics via remote write.
Week ago we noticed that cluster on East h

[2022-11-04 22:13] kladiv commented on #5857
![Screenshot_20221104-230831](https://user-images.githubusercontent.com/1803926/200082429-a77d9745-01f7-4878-aa98-b2ec7b9a1248.png)
According to Scaleway discussion (in their Slack channel) it seems quite long they will support missing fields and resolve the issue (i guess).

Are you able to solve the issue in Thanos implementation of minio-go library ?

[2022-11-05 06:53] fpetkovski commented on #5830
That's great, thanks for sharing your config. Is it safe to close this issue now?

[2022-11-05 08:45] BigbigY commented on #5862
Do not check the specific problem and error, directly roll back the version, Looking forward to repair

The new 'thanos_frontend_sharding_middleware_queries_total' metrics added to query-fe was not found

[2022-11-05 12:48] rahul3002 commented on #5681
hey mate, what name should I give to the newsection  https://thanos.io/tip/components/receive.md/

[2022-11-05 12:54] rahul3002 commented on #5681
if u can share me the exact location of the file where I can update algorithm will be really helpful

[2022-11-05 13:45] kladiv commented on #5857
Hi @matej-g
in the [minio-io issue](https://github.com/minio/minio-go/issues/1702) they talk about the problem starts from v. 7.0.37.

The _objstore go.mod_ you linked is pinnee to a previous version, but the [Go.mod](https://github.com/thanos-io/thanos/blob/main/go.mod#L55) in the _main/_ is pinned to 7.037.

They both need to be upgraded?

[2022-11-06 07:06] avinilcodes commented on #5781
@metalmatze I am willing to contribute, Can i take it up? I would have some questions here and there while understanding and in dev phase please guide accordingly. Please assign this to me

[2022-11-06 10:47] metalmatze commented on #5781
Go for it. 😊

[2022-11-06 16:10] matej-g commented on #5857
Hey @kladiv, since the actual object storage code has been recently separated and put into the https://github.com/thanos-io/objstore, so version that's pinned there should be the decisive one. It looks like we use `minio-go` in the main Thanos repository only for some auxiliary methods.

So if we this issue is supposed to be present only starting from `7.0.37`, it should not be in the object stora

[2022-11-06 16:39] metalmatze commented on #5857
Just updated my Thanos yesterday as well and ran into this. Let me see if updating the dependency and running the newer compator with this will help.

[2022-11-07 08:56] arnecls opened #5869 "Allow thanos-query to read from PromQL endpoints"
### Is your proposal related to a problem?

We are using thanos to build a heterogeneous mesh of different prometheus-alike-scrapers scattered across multiple clusters, across multiple cloud regions. We currently face two issues.

1. We have clients (namely GCP managed prometheus) that can neither deploy a thanos-sidecar (as they don't emit prometheus WAL files), nor write to thanos-receive, as th

[2022-11-07 09:17] GiedriusS opened #5870 "Investigate label compression"
### Is your proposal related to a problem?

We currently send label names/values are bare strings in each Series() call. Even with gRPC compression turned on, I think compression compresses each streamed response but not all of it.

Parca uses deduplicated string table for compression https://github.com/parca-dev/parca/pull/1976 and got good results so perhaps we could use the same idea. Also, Pro

[2022-11-07 09:42] monica0500 opened #5871 "Thanos ruler is not working as expected"
I am trying to enable Thanos stateless ruler via remote-write following the below documents:
https://thanos.io/tip/components/rule.md/#stateless-ruler-via-remote-write

I am using a configmap in our Kubernetes environment for loading the yaml configuration for remote write, here is the sample content:

remote_write:
  - url: "http://<domain>:<port>/prometheus/api/v1/write"
    name: thanos-receive

[2022-11-07 10:11] Ygshvr commented on #3540
@Kampe did you find any solution for this problem? I am still facing this issue with Thanos v0.26.0.

[2022-11-07 10:35] hanjm commented on #5862
I upgrade 0.29.0.rc early and not found problem, I mainly use sidecar mode, so just upgrade sidecar, querier, query-frontend, not include receiver.

today when i upgrade receiver, the 'No StoreAPIs matched for this query' problem occured.

it only error when query the tenant which use receive mode with thanos-query, query other tenant is work ok, query via thanos-query-frontend is work ok.

the re

[2022-11-07 10:45] hanjm commented on #5862
hi @GiedriusS @matej-g

I notice the prometheus code minTime is math.MaxInt64 but in thanos multi tsdb code it is math.MinInt64, so the query is filtered out unexpectedly?

https://github.com/prometheus/prometheus/blob/6dd4e907a31a58d1b738aa5debbfc9c5e1ed32ac/tsdb/head.go#L288-L289

https://github.com/thanos-io/thanos/blob/ef3a3310bf34c179ffaf73d94d0a4f60f0d07a99/pkg/store/tsdb.go#L115-L116

[2022-11-07 11:21] ahurtaud opened #5872 "query: v0.29.0. Opentracing config create gopanic SIGSEGV"
**Thanos, Prometheus and Golang version used**:
thanos v0.29.0

**What happened**:
While upgrading thanos version from 0.28.1 to v0.29.0, all our thanos queriers went in Crashloop because of a Segmentation violation (see logs below)

**What you expected to happen**:
as per https://github.com/thanos-io/thanos/pull/5411 states, there should be no breaking change.
Removing the tracing config from the

[2022-11-07 12:58] haeringer commented on #4907
No, since this happened after we migrated old, locally stored metrics to S3, the issue eventually became obsolete and we decided not to pursue it further.

[2022-11-07 13:20] GiedriusS commented on #5870
Did a small experiment on the querier's side with a typical user query that we get here. Only a very small set of hostnames and pod names are unique, all of the other values repeat more than once. Some strings repeat even 12k, 8k times :scream:

Added a total sum of all strings in that query and the sum of all strings only once. Here are some results:
[code]

(https://gist.github.com/GiedriusS/aad

[2022-11-07 13:32] GiedriusS commented on #5872
cc @metonymic-smokey

[2022-11-07 15:02] ahurtaud opened #5874 "Store: v0.29.0 - Azure - http_config insecure_skip_verify not taken into account."
**Thanos, Prometheus and Golang version used**:
v0.29.0

**Object Storage Provider**:
Azure

**What happened**:
While upgrading from v0.28.1 to v0.29.0, we had some error about TLS certificate not signed (see logs below).
But we are using the `insecure_skip_verify` config:
[code]

**What you expected to happen**:
Update from v0.28.1 to v0.29.0 should not break thanos store connectivity to azure bl

[2022-11-07 15:31] SoulKyu commented on #5704
@hanjm, ALB is supporting GRPC and i have a support close to @sirjobzy which work well :
https://aws.amazon.com/fr/blogs/aws/new-application-load-balancer-support-for-end-to-end-http-2-and-grpc/

[2022-11-07 15:34] cmckeen commented on #5859
We took a look at server-level S3 logs thinking that minio-go may have been eating 503 SlowDown errors when they were returned from S3, but nothing related seemed to emerge.  From a time period when we emptied and re-uploaded the blocks to S3 we found -

- 1.1 mil 404's from thanos-compactor looking for deletion-mark.json.  Seems excessive, but unrelated.
- 1.6 mil 200s
- 192 206s from thanos-stor

[2022-11-07 15:42] yassineaouadi commented on #3677
i reproduce the issue when upgrading thanos-sidecar base  image to 0.28.1  then 0.29.0 all working good with 0.27.0

[2022-11-07 16:25] phillebaba commented on #5874
Most likely correct that the SDK upgrade has caused this. I will see if I can reproduce this. Could we move this issue to the objstore repository as that is where the relevant code lives?

[2022-11-07 16:30] ahurtaud commented on #5874
I dont have permissions to do so, @GiedriusS can you transfer this issue to https://github.com/thanos-io/objstore please?
sorry I just discovered the objstore repo has been created :/

[2022-11-08 01:02] yeya24 commented on #5872
If `sampler_type` is set to empty string, it seems like we will pass an empty root sampler...
https://github.com/thanos-io/thanos/blob/main/pkg/tracing/jaeger/config_yaml.go#L141

I don't remember the default behavior of the Jaeger go sdk, if `sampler_type` is not set then does it fallback to a default sampler type?
Anyways I think the root cause of the panic is clear. Help wanted.

[2022-11-08 04:23] shahzadlearn opened #5875 "Unable to create objects."
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:
On Thanos Query UI I can see the stores are all showing up.  When I query data I can only see 12 hours worth of data.  Looking in to S3 I can see any new objects being created.  Under the announced labels nothing gets populated under stores how ever under side car its all populated.  No errors are bei

[2022-11-08 06:13] yeya24 commented on #5861
I think this could be an option for us and worth experimenting.
After vendoring the Cortex code this should be much more easier. Help wanted.

[2022-11-08 06:40] Chandranana commented on #5752
@matej-g Any update on this issue, please let me know.

[2022-11-08 06:41] Chandranana commented on #5765
Hi Team,

Is there any update or workaround for this?

[2022-11-08 09:44] PhilipGough commented on #5758
FWIW, in case it is helpful, I took a shot at extracting this programatically:

[code]

[2022-11-08 11:03] PhilipGough commented on #5758
Just a follow up after chatting with @saswatamcode - I took the approach of static analysis but was unaware of the existing effort in #4273 using the existing [promlinter](https://github.com/yeya24/promlinter) tool.

The issues are the same as described in the linked PR in that it is hard to catch all cases.

[2022-11-08 15:43] metonymic-smokey commented on #5872
I'll look into this on the weekend, apologies for the crash.

[2022-11-08 20:55] michael-burt commented on #5871
You have not provided a URL for Thanos Receiver, this is not valid: `url: "http://:/prometheus/api/v1/write"`

it probably should look more like: `url: "http://my-receive-service-name.my-namespace:9090/prometheus/api/v1/write"`

[2022-11-08 22:19] cmckeen commented on #5859
We've been observing the behavior on this closely and have found that there are three separate ways that this might present itself.

1.  The way reported in this issue previously, where a number of chunk files at the beginning of the range are missing on S3, but present on local prometheus, and the full set referenced in the `meta.json`
2. The `chunks` subdirectory is not present at all, but the c

[2022-11-09 07:07] yeya24 opened #5879 "Incorrect query sharding analysis result"
While looking into the query sharding analyzer part of code, I found out that some query analysis results are incorrect.

I will list some of the queries below:

`sum(rate(node_cpu_seconds_total[3h]offset 1m)) by (cluster_id, mode) / ignoring(mode) group_left sum(rate(node_cpu_seconds_total[3h]offset 1m)) by (cluster_id)`

This query should be shardable by label `cluster_id` but the current analyz

[2022-11-09 08:24] hongwei-lv opened #5881 "use QueryRange but given the uncorrect data"
Hello, we push data with value 0 or 1 to prometheus at with regular interval, the 1 or 0 represent something occur and recover. But when we use function QueryRange(ctx context.Context, base *url.URL, query string, startTime, endTime, step int64, opts QueryOptions) (model.Matrix, []string, error) to query data, we get the data that's like 0,0,1,1,1, it's not meets the data we pushed to prometheus.

[2022-11-09 11:39] Ygshvr commented on #4230
@ethernoy how this issue was solved? and what was the replication factor that you were using?

[2022-11-09 11:48] Nikhils09 commented on #5830
Sorry for responding late, you can close this.

[2022-11-09 12:06] tal-ayalon commented on #977
What is the status?

[2022-11-09 13:03] bwplotka opened #5883 "website: Fix blog list view & images overflow"
List: https://thanos.io/blog/
Blog: https://thanos.io/blog/2022-09-08-thanos-at-medallia/

[2022-11-09 13:06] #5830 closed

[2022-11-09 13:11] bwplotka commented on #5883
Acceptance Criteria:

* List should print only first few lines or content.
* We should have menu on left with all blog posts.

[2022-11-09 15:15] cmckeen commented on #5859
Also worth mentioning this issue is very similar to https://github.com/thanos-io/thanos/issues/1331.

[2022-11-09 19:43] yeya24 commented on #5870
@GiedriusS I think this also applies to the Query Frontend side.
Right now, the query frontend sends gRPC requests to downstream queriers and merge the responses in a blocking way. We could deduplicate labels there.
Just the gain is not that much compared to `Select` as most of the query results are aggregated already.

[2022-11-10 10:24] matej-g commented on #5871
@monica0500 can you please properly format and correct the config you provided? As @michael-burt this will not work. I just tested the remote write config and all seems to work fine. Please make sure you format your YAML properly.

[2022-11-10 10:51] pedro-stanaka commented on #5682
@GiedriusS can we close this in light of #5703

[2022-11-10 10:53] GiedriusS commented on #5682
Yep :+1: thanks for your work on this! :muscle:

[2022-11-10 10:53] #5682 closed

[2022-11-10 11:15] matej-g commented on #5862
Hey @hanjm, it's possible, although I cannot see how this breaks the time range filtering

[2022-11-10 11:46] monica0500 commented on #5871
Hi, The url seems to got updated when I added the comment, here is the URL," http://domainname:8080/prometheus/api/v1/write", I url which I am giving I tested through curl command and it was working fine.

[2022-11-10 12:55] matej-g commented on #5872
Hey @ahurtaud, sorry about that, I thought I have flagged this during review but looks like not. If remote was default before it should be default now as well.

[2022-11-10 14:25] matej-g commented on #5872
I created https://github.com/thanos-io/thanos/pull/5887 to correct this. I think we could even go with a patch release to make sure if more folks hit this they can just use a patch version.

[2022-11-10 14:31] ahurtaud commented on #5872
regarding patch release I would love it, however we are affected as well by https://github.com/thanos-io/thanos/issues/5874 and https://github.com/thanos-io/thanos/issues/5862.
So I would love to wait them. (objstore is already fix, need to update go modules). store api noStore match error seems harder though.

[2022-11-10 14:38] GiedriusS commented on #5862
@BigbigY do you use Thanos Receive?

[2022-11-10 14:50] monica0500 commented on #5871
Here are the versions of Prometheus and thanos:
thanos:v0.24.0-b1.0
prometheus:v2.34.0-b3.0

[2022-11-10 19:12] michael-burt commented on #5871
I recommend confirming that the configuration file does include the correct url by inspecting it on the running Thanos Ruler pod. Have you done that yet?

[2022-11-11 04:32] monica0500 commented on #5871
Yes, I have done that. Can you send me some result we should get after running the url?

[2022-11-11 09:16] #5879 closed

[2022-11-11 14:51] fpetkovski opened #5890 "Consider using sharded compactor from mimir-prometheus for vertical block splitting."
### Is your proposal related to a problem?

The Thanos compactor is currently not able to split blocks vertically during the compaction process. It will compact blocks until `compact.block-max-index-size` is reached, after which it will add a no-compaction marker and exclude that block from future compaction plans.

For high-churn use cases, we can often reach this limit very soon and end up with

[2022-11-11 16:28] stevehipwell opened #5891 "Support Azure AD Workload Identity"
### Is your proposal related to a problem?

The currently supported Azure AD Pod Identity is deprecated in favour of the new [Azure AD Workload identity](https://learn.microsoft.com/en-us/azure/aks/workload-identity-overview).

### Describe the solution you'd like

I'd like Thanos to support Azure AD Workload Identity.

### Describe alternatives you've considered

n/a

### Additional context

The

[2022-11-11 16:44] michael-burt commented on #5871
I am not sure what you mean by this. Can you paste your full config in a code block?

[2022-11-11 22:16] erewok commented on #5672
We have the same issue and we keep performing the same "fix" for every blob that the compactor complains about then crashes on until it stops crashing.

[2022-11-12 01:06] hanjm commented on #5862
my receiver instance have two tenant data, tenant_id=comp with time range is `Mint: 1667436599098 Maxt: 9223372036854775807 `
tenant_id=default with time range is `Mint: 9223372036854775807 Maxt: 9223372036854775807 `

the receiver may exposed multi tenant label info, but only one time range info.
https://github.com/thanos-io/thanos/blob/ef3a3310bf34c179ffaf73d94d0a4f60f0d07a99/pkg/store/proxy.go#

[2022-11-12 11:21] hanjm commented on #5862
I think the receiver should not return abort error event if no client matched in multi-tsdb, right?

[2022-11-12 14:35] fpetkovski commented on #5870
Dictionary encoding would definitely be an awesome addition. One thing that might not be as straightforward is proxying encoded series through a querier that is used as a gRPC proxy. The simples way would be to decode and re-encode all series in this middleware querier using a union of all received maps. But that will require blocking and buffering. Maybe there is a way to make the encoding compos

[2022-11-13 03:48] yeya24 commented on #2114
Since the OOO feature has been merged into main, I will close this issue. Feel free to reopen if you think it is not addressed.

[2022-11-13 03:48] #2114 closed

[2022-11-13 03:48] yeya24 commented on #2599
Since the OOO feature has been merged into main, I will close this issue. Feel free to reopen if you think it is not addressed.

[2022-11-13 03:48] #2599 closed

[2022-11-13 15:17] haanhvu commented on #5643
still needed

[2022-11-13 15:17] haanhvu commented on #5567
will finish soon^^

[2022-11-13 15:44] haanhvu commented on #5567
will finish soon^^

[2022-11-13 16:03] douglascamata commented on #5404
I'm on vacations, bot. Don't stale me!

[2022-11-13 17:35] tal-ayalon commented on #1507
@sagiv-zafrani @countablecloud @IbraheemAlSaady
Do you have to use a valid CA? Or a self-generated one is also OK?`

[2022-11-13 18:59] yeya24 commented on #5618
Still valid

[2022-11-13 19:00] yeya24 commented on #5659
Close this due to no response. Feel free to reopen if it is still an issue

[2022-11-13 19:00] #5659 closed

[2022-11-13 19:02] yeya24 commented on #5431
I will close this one as the feature was merged into main already

[2022-11-13 19:02] #5431 closed

[2022-11-13 19:03] yeya24 commented on #5219
I will close this one as the feature was merged into main already. Let us know how the feature works

[2022-11-13 19:03] #5219 closed

[2022-11-13 19:05] yeya24 commented on #5862
Sounds like a valid bug. Help wanted

[2022-11-13 20:56] monica0500 commented on #5871
Here is the below configuration:
  ` name: "thanos01"
    remote_write:
    - url: "http://domainName:8080/prometheus/api/v1/write"
      name: "thanos"
      follow_redirects: "true"
      remote_timeout: "30s"`

What did you meant by " url by inspecting it on the running Thanos Ruler pod"? Also after inspecting that what results you get, wanted to check if we are on the same page so needed some

[2022-11-13 21:40] jabdoa2 commented on #5587
Unfortunately, that metric also exists when compactor is broken.

For now we settled with an ugly workaround and check if we got at least one complete iteration within the last two hours. It ain't nice but with such a low limit we don't get false positives.

[2022-11-14 04:07] ethernoy commented on #4230
Nah it wasn't solved, we just enlarge the PVC we were using as a workaround.

About the replication factor, if you are talking about thanos-receive replication, we used 1.

[2022-11-14 04:31] george-angel commented on #4802
Remove stale

[2022-11-14 07:54] pedro-stanaka commented on #5399
/remind me 28/11/2022

[2022-11-14 08:14] fpetkovski commented on #5686
I'll give this a shot in a few weeks.

[2022-11-14 14:38] phillebaba commented on #5891
Lets move this to objstore. I can get this done when I have time. Right now AKS workload identity is still in public preview, so it has not been high enough prio for me. This will most likely only require some docs changes and maybe some configuration changes.

[2022-11-14 14:54] stevehipwell commented on #5891
@phillebaba the public preview part is the direct AKS integration via a cluster option, the [Azure AD Workload Identity](https://azure.github.io/azure-workload-identity/docs/) technology looks to be GA and has been recommended over Azure AD Pod Identity (which is now deprecated) for a relatively long time.

Based on the implementations I've seen there is a code change required but it doesn't look

[2022-11-14 15:44] stevehipwell commented on #5891
Thanks @phillebaba, that would be great. You're absolutely right that this hasn't worked until very recently (even more recently if you wanted to use Terraform). The reason I'm so keen to get it working now is that the current Azure AD Pod Identity solution causes significant friction due to various defects and this is the path for us to remove that whole component from our AKS clusters.

[2022-11-14 17:25] ronanchilvers commented on #5705
We're seeing the same issue but running under Nomad.  We have two instances of prometheus running with thanos sidecar. The data is stored in an S3 bucket. We then have thanos query configured to point at the sidecar instances. This doesn't seem to impact querying however - we can still query data past our prometheus retention period.

Relevant versions:
- Prometheus - 2.40.1 (docker via docker hub

[2022-11-15 06:01] SuperQ commented on #5841
Metrics should identify when there are compaction failures worth investigating. The actual identity of what is failing can be determined from the logs.

[2022-11-15 06:49] zhangrj commented on #4831
The same problem occured last week in our system. Several prometheus stop remote writing to Thanos due to network problem, when the network recovery after two days，Thanos receive-distribuotr and receive crash. We must restart all prometheus instance and drop all wal data. The version we use is 0.28.0.

[2022-11-15 07:10] fpetkovski commented on #4831
This is a limitation of TSDB and should be solved once we have support for out of order samples.

[2022-11-15 10:32] ahurtaud commented on #5874
@phillebaba I would appreciate if you can update the go module on thanos main so we can close this issue (and make sure the fix is part of any patch or next release).
or ping me, if you want me to PR this.

[2022-11-15 15:39] bwplotka commented on #5807
Not sure if one-time pain of migration is worth of complex and potentially wrong algorithm (since it's hard to ensure its correctness), but maybe there is a way to at least mitigate the consequences of migration. Some resharding on Thanos upgrade is not too bad - perhaps some logic of switching to new code only when all nodes in quorum are upgraded is also helpful?

[2022-11-15 16:58] RagibAjmal commented on #5891
Hi @phillebaba

I am new to open source contribution and I would like to work on this issue. Can I go ahead and work on this ?

[2022-11-15 17:31] phillebaba commented on #5891
I had a look at this just now, and honestly I am wondering if this is already working and all we need are some docs. I did the whole SDK upgrade during the summer for this reason. Has anyone actually tried to run Thanos with Azure Workload Identity in AKS? All required configuration is injected as environment variables to the Pod so the MSI configuration should just pick it up. I don't have time r

[2022-11-15 18:58] mo4islona commented on #4298
Faced same issue. Is there any plan to fix that?

[2022-11-16 05:22] SanthoshiMekala opened #5901 "Logs are not written in Query Log File in Thanos"
Hi Team,

We have recently migrated from traditional Prometheus to Thanos. In our Thanos configuration, we have multiple replicas of prometheus-shard. We configured query_log_file for our traditional Prometheus like below and it was working fine. We used the similar kind of configuratin for Prometheus-shard also, but no logs are being writted in the query_log_file. Please let me know if I am missi

[2022-11-16 09:18] oded-dd commented on #5101
@matej-g Thank you, we tested it and it seems to work for version 0.28

[2022-11-16 11:18] matej-g commented on #4298
There's still some WIP to do this, so not forgotten, see this recent closed PR: https://github.com/thanos-io/thanos/pull/5725

[2022-11-16 11:32] RagibAjmal commented on #5891
Sure I will work on it and get back with the results

[2022-11-16 11:35] matej-g commented on #5101
Thanks for the confirmation @oded-dd, in that case I'm closing this.

[2022-11-16 11:35] #5101 closed

[2022-11-16 17:16] Vaani-pathariya commented on #5883
Hello @bwplotka I am new to thanos and I would like to work on this issue

[2022-11-16 20:18] audunsolemdal commented on #1507
Self generated works OK. If connecting to nginx ingresses, your self signed certificate SANs must match the hostname you use in nginx.

From what I understand, Sagiv describes this solution https://krisztianfekete.org/solving-per-store-tls-limitation-in-thanos-query/

I tried having a single querier in the observer cluster querying sidecars via ingresses in other clusters which work fine. However,

[2022-11-16 20:41] trevorriles commented on #5862
We are seeing this and are not using Thanos Receive.

[2022-11-17 08:54] SanthoshiMekala opened #5903 "Tabs All/Unhealthy are not working in Targets of Thanos Query"
Hi Team,

The tabs All/Unhealthy are not working in thanos query. And when Show less is selected, its completely minimizing the table instead of showing less number of targets. Please let me know if we are missing anything here.
Thanos Version: v0.24.0-b1.0
Prometheus Version: v2.34.0-b4.0
Thanks in advance!

[2022-11-17 10:22] GiedriusS commented on #5903
Hi, please update to the newest version and try again. 0.24.0 is ancient.

[2022-11-17 12:53] #5872 closed

[2022-11-18 06:44] BigbigY commented on #5862
Thanos Receive has not been upgraded

[2022-11-18 08:46] matej-g commented on #5862
It looks like then this might be because of changes in query? Either way thanks @hanjm for the report, I'll try to take a look whether I can reproduce / fix this.

[2022-11-18 10:02] hanjm commented on #5901
thanos use remote_read api to interact with prometheus, not the normal query api, prometheus query_log_file only log the request via query api.
you can use thanos query log or tracing to record all the request.
doc:
logging:  https://thanos.io/tip/thanos/logging.md/
tracing: https://thanos.io/tip/thanos/tracing.md/

[2022-11-18 10:02] gaurav34065 opened #5904 "AWS me-central-1 region is incompatible"
**Thanos, Prometheus and Golang version used**:

quay.io/thanos/thanos:v0.29.0
prometheus:v2.25.0

**Object Storage Provider**:
S3

**What happened**:
prometheus-thanos-compactor-0 pod is going in crashed state
**What you expected to happen**:
prometheus-thanos-compactor-0 pod should come up
**How to reproduce it (as minimally and precisely as possible)**:
Use prometheus with thanos in region me-c

[2022-11-18 10:33] matej-g commented on #5904
Looks like this is not related to Thanos but rather you're S3 setup. This comment and thread in particular looks helpful: https://github.com/aws/aws-cli/issues/2603#issuecomment-428220985.

[2022-11-18 10:35] metheu commented on #5519
Hi guys, I'm running the same setup. I have one main bucket and multiple folders inside with as such:

[code]

I understand that I can run multiple storegateways but how can the compactor access multiple folder since it has to be run as a singleton? Maybe @X-Mars can share what you did to solve it. Thanks guys!

[2022-11-18 12:38] kailunwang-houzz commented on #3677
Thanks @victorlin-houzz . solved my problem

[2022-11-18 17:44] rabenhorst opened #5907 "Add Native Histogram Support"
### Is your proposal related to a problem?

Experimental native histogram support was released with [Prometheus v0.40.x](https://github.com/prometheus/prometheus/blob/main/CHANGELOG.md#2400--2022-11-08). In https://github.com/thanos-io/thanos/pull/5896 we update Thanos to Prometheus v0.40.1 but without implementing native histograms.

We should implement native histogram support (behind a feature

[2022-11-19 05:08] X-Mars commented on #5519
@metheu  Hi guy，I didn't solve it.

[2022-11-19 16:52] GiedriusS commented on #5519
Hi, you'll also have to run multiple compactors with each having a different prefix in the object storage config.

[2022-11-19 19:11] alvaropalmeirao opened #5908 "Thanos external labels are being removed"
Hello,

On my STG environment i realized that some labels are being removed. I use external_labels on my Prometheus instance:
[code]

But when i'm on thanos store and query s3 for my data i get this results:
[code]

Why do I have some blocks with all external_labels (uploaded by sidecar) and the remaining only have 2 (region and environment) and changed by compactor?
Thanks

[2022-11-19 19:18] yeya24 commented on #5908
@alvaropalmeirao Could you share your configuration for compactor?

[2022-11-19 19:21] yeya24 commented on #5904
So the fix on minio has been released to `v7.0.44`, we just need to update our objstore repo and update the dependency here.

[2022-11-19 19:22] yeya24 commented on #5857
I will close this one since https://github.com/thanos-io/thanos/pull/5867 has been merged. We just need to release the `29.1` version including this fix.

[2022-11-19 19:22] #5857 closed

[2022-11-19 19:23] alvaropalmeirao commented on #5908
Hi, Thank you for answering. Here it goes:

Arguments:
[code]

config (/etc/thanos/backup.yml):
[code]

[2022-11-19 19:29] yeya24 commented on #5908
So you specified `deduplication.replica-label` to `prometheus_instance` and `promshard` so the two labels are removed during compaction.

[2022-11-19 19:59] alvaropalmeirao commented on #5908
Hello,

Oh, that's right 😓 I didn't realize that. So clarify one thing about my environment:

Thanos sidecar uploads blocks to S3 with all external_labels defined on my Prometheus instance.
[code]

Then when Thanos Query wants to retrieve data (thanos query is configured with --query.replica-label=promshard and --query.replica-label=prometheus_instance) from Thanos Store (that fetches data from S3

[2022-11-19 20:10] alvaropalmeirao commented on #5908
And another question: How can I update labels on those blocks? Change meta.json and add those labels?

[2022-11-20 13:23] Vaani-pathariya commented on #5651
I am new to thanos but I can contribute to this one !

[2022-11-20 13:24] Vaani-pathariya commented on #5883
can i contribute to this one !

[2022-11-20 20:32] RagibAjmal commented on #5891
HI,

**Please correct/guide me if I am wrong**

I tried to access my azure storage container from thanos store using storage_account_key and  the pod works fine, but when I try to use user_assigned_id(clientID of Managed Identity) instead of storage_account_key,  the pod goes to CrashLoopBackOff and I get the below log from the pod.

I can find the error is from [objstore/providers/azure/azure.go]

[2022-11-20 22:38] wotkddl21 commented on #5762
I got some server side access log!!!
After changing the object storage from the minio to the ECS, I can get the access log below.
Full target : thanos/01GHENB4SBWDRGZM6R6ZYSAMPJ/deletion-mark.json
protocol: s3
request type: GET

That bucket 01GHENB4SBWDRGZM6R6ZYSAMPJ was created at 2022-11-10 02:00.
The request sent by the thanos store was created at 2022-11-15:16:23

Now my main question is that

[2022-11-20 23:17] envyj020 commented on #5704
@hanjm - any feedback around this issue, I'm experiencing also the same error message aggregating other queries exposed behind an ALB with GRPC support.

[2022-11-21 05:19] monica0500 commented on #5871
Can you please reply on the above?

[2022-11-21 09:14] Venture200 commented on #4763
Hi @ianwoolf , what's your recommended value for --block-viewer.global.sync-block-interval  ? and also --wait-interval and --block-viewer.global.sync-block-interval can't be used in the same configuration ?

[2022-11-21 09:49] osipovdaniil commented on #5366
i have same problem when i try to connect to `memcached`
i have service `memcached-thanos-system`
In thanos-store:
[code]

I got ` msg="failed to lookup SRV records" host=_grpc._tcp.memcached-thanos-system.prometheus-system-layer err="no such host"`

But from other pod, i run `nslookup memcached-thanos-system.prometheus-system-layer` and this work, dns resolve ip

Help please, Any ideas?
@Dauber01

[2022-11-21 11:07] bwplotka opened #5911 "EXPLAIN & EXPLAIN ANALYZE PromQL features"
Hi,

Given the higher complexity of the new PromQL engine we introduce and the fact we are building a framework of optimizers, we would like to have better visibility on how query was optimized and performed. For this, I propose two additional commands/parameters to the `query` and `query_range` APIs:

### 1. Explain

Instead of execution, dry run the query planning, and print the BEFORE and AFTER

[2022-11-21 11:16] GiedriusS commented on #5911
:+1: I'm all up for it just 2 thoughts:

* I wonder how much work it would be to use a different field other than `warnings` for this output :thinking: maybe it would be easy to add support for more fields to the UI? With a separate field for this maybe we could also add extra UI elements to make it more readable/accessible - for example, we could add the ability to hide some subtrees (https://dow

[2022-11-21 11:23] saswatamcode commented on #5911
The URL parameter makes sense. I think `explain` in PromQL might be difficult at this stage, but maybe at some point we can upstream certain things. 🙂

For output, I think having a `thanos_info` field might make sense for Thanos APIs? That way we comply with Prometheus HTTP response [format](https://prometheus.io/docs/prometheus/latest/querying/api/#format-overview), but we can still experiment wi

[2022-11-21 11:27] bwplotka commented on #5911
(https://dowjones.github.io/react-dropdown-tree-select/#/story/with-bootstrap-styles)? Of course this is for the v2 of this functionality but still something to think about nonetheless

Separate field is easy to add, we can do that, what's the argument against warnings? Wrong purpose?

+1

I would love that, yet. Perhaps `explain_formatter=pprof` field when mode analyze is used?

[2022-11-21 11:39] rabenhorst opened #5912 "Port vendored Cortex code into Thanos"
### Is your proposal related to a problem?

Currently [Cortex code is vendored into the Thanos repository](https://github.com/thanos-io/thanos/tree/main/internal/cortex). In https://github.com/thanos-io/thanos/pull/5896 it became clear that implementing native histograms will require a lot of work in the vendored Cortex code. Since most of the code is not used we should think about porting only th

[2022-11-21 11:42] saswatamcode commented on #5911
I think wrong purpose and to avoid cases, where explain/analyze output and actual warning from query, might clash? We can show both in the same way in UI somehow, but I'd really like to have separate boxes (for eg blue warn, green info). WDYT? 🙂

+1

[2022-11-21 11:47] bwplotka commented on #5911
Updated proposal to have `explain` field

[2022-11-21 16:40] douglascamata commented on #5758
@PhilipGough thanks for the extra info, I didn't know about the other initiatives and I bet many others also didn't.

Indeed I don't think that we will be able to catch everything at once with a tool. We should agree on a cut date for only accepting new metrics being exported together with markdown documentation for it.

Little by little (or batch by batch thanks to the help of different tools) we

[2022-11-21 18:15] marek-obuchowicz opened #5914 "Thanos store - issues with old data"
I have noticed that for some long-queries I start to get only part of data.
For example, if i query last 13d (with grafana, min time interval=20min - automatically picked up by grafana) I get what I want, but when I increase query time to last 14d (grafana picks then min time interval=30min) - data is missing for most of the time.

<img width="1538" alt="Screenshot 2022-11-21 at 18 08 33" src="htt

[2022-11-22 07:12] GiedriusS commented on #5914
Hi, what's the query? Please try using `$__rate_interval` in your queries.

[2022-11-22 07:48] matej-g commented on #5883
@Vaani-pathariya go for it!

[2022-11-22 08:19] saswatamcode commented on #5901
Yes, you can also use active query tracking to see the queries that are currently being processed by the Thanos Querier: https://thanos.io/tip/components/query.md/#active-query-tracking

[2022-11-22 08:42] matej-g commented on #5911
Love this idea and the suggestions, I think a URL parameter is the way to go. As I assume this is mostly useful for distributed PromQLs, it would be overkill to change the parser for this (and probably would not be easily accepted upstream). Given that `warnings` pattern is well established in Thanos, I think this is very similar and fits perfectly for the use case. As @saswatamcode I can imagine

[2022-11-22 08:53] matej-g opened #5915 "Objstore: Automate `objstore` dependency update"
We are seeing often issues originating with different object storage implementations that can be resolved by simple `objstore` update. One example for all: https://github.com/thanos-io/thanos/issues/5904.

Although the `objstore` is now a separate repository, once changes are made there, we should have an automated way of updating the dependency version, to avoid gaps in version and resolve issues

[2022-11-22 09:01] matej-g commented on #5871
Hey @monica0500, please take a look at the quickstart script (https://github.com/thanos-io/thanos/blob/main/scripts/quickstart.sh#L262), I have adjusted it and made sure it works. If you follow the example, you should be able to configure the ruler. We should then close this issue, since it seems ruler is behaving as expected but the issue is rather on your side.

[2022-11-22 10:39] #5908 closed

[2022-11-22 13:21] metalmatze commented on #5857
@GiedriusS, do you plan on releasing v0.29.1 soon-ish?

[2022-11-22 14:07] matej-g commented on #5901
Looks this has been answered, closing for now!

[2022-11-22 15:58] matej-g commented on #5787
I will re-open this for now, as a reminder to add more finishing touches, as it seems we need to ensure we flush the OOO head in receivers. This currently does not happen for the OOO head, only for 'normal' head.

[2022-11-22 16:39] luddite516 opened #5917 "Thanos-compact: checksum mismatch"
Our instance of thanos-compact which had been running well for several months, started to report the following error:

caller=intrumentation.go:66 msg="changing probe status" status=not-healthy reason="critical error detected: compaction: group 0@1769004045046384591: compact blocks [/opt/thanos/compact/compact/0@1769004045046384591/01GJ4AVZF95Q7WS36M3MX35THF /opt/thanos/compact/compact/0@176900404

[2022-11-22 17:18] marek-obuchowicz commented on #5914
While I didn't get it working with $__rate_interval (mostly because of prometheus and/or grafana not being on latest versions), was able to resolve the issue by manually adjusting rate interval in query:
[code]

Initially, we've been using rate(.... [1m]).
Thank you so much for pointing the right direction!

[2022-11-22 22:26] envyj020 opened #5918 "Querier: Unable to stack external queriers"
#### Versions used:
Prometheus: v2.38.0
Thanos: 0.28.0

#### Environment:
AWS EKS

### Issue description:
Trying to stack external queriers from a centralized querier meant to be our single entrypoint to observe other kubernetes clusters,
I have exposed the GRPC endpoint with a combination of **external-dns** and **alb-ingress-controller**, everything is showing healthy from outside, I can even co

[2022-11-22 23:59] robert-becker-hs commented on #1979
After trying all the suggestions from this post without any success, one of our engineers eventually found out that the issue was due to a connection issue with the Memcached nodes. We are running Thanos in EKS and are using Elasticache Memcached with 8 nodes. We have 18 thanos-store pods running on multiple worker nodes.

### Logs
[code]

### nslookup and netcat
[code]

### Outcome
As it turns ou

[2022-11-23 07:14] Venture200 commented on #3139
err="upload 01GHDK0GPTX1A13XYDCKQB5Y0P: hard link block: hard link file chunks/000001: link /var/lib/prometheus/01GHDK0GPTX1A13XYDCKQB5Y0P/chunks/000001 /var/lib/prometheus/thanos/upload/01GHDK0GPTX1A13XYDCKQB5Y0P/chunks/000001: operation not permitted" uploaded=0

hello, after upgrading thanos to 0.29 I am getting this error, do you know why @GiedriusS

[2022-11-23 09:46] monica0500 commented on #5871
Hey @matej-g I tried the above but it's still giving issues, can you please let me know how can I validate the url? I am suspecting some issue with the url.

[2022-11-23 11:29] bwplotka commented on #5037
Amazing, thanks! So `Make pull request that pushes changes (Thanos update) back into Cortex` : I wonder if this is still relevant, given we vendor Cortex code. Could you double-check @GiedriusS ? Also I think it less important, given we are not sure if groupcache can be a better solution than Redis. We need to first figure out if groupcache is worth pursuing, so perhaps your (any new ideas) around

[2022-11-23 12:05] GiedriusS commented on #5037
Thanks for picking this up! I am personally doubtful whether it is needed to pursue this further, I might even be leaning towards deleting groupcache before 1.0 :cry: as far as I understand, the problem is that we are serializing access to a single `map` on each key retrieval: https://github.com/vimeo/galaxycache/blob/master/singleflight/singleflight.go#L41-L64. In Thanos, on a bigger query we can

[2022-11-23 18:08] ddreier commented on #4923
Still relevant, and rather annoying when trying to decipher why two Thanos components can't talk.

[2022-11-24 14:50] bwplotka commented on #5037
Got it. I think it's nice piece to work, but best effort. Still something to consider if blockers are improved.

What would be a benchmark that could reproduce the problem? What requirements we are looking for in terms of efficiency here?

[2022-11-24 14:57] fpetkovski commented on #5918
One guess is that since you're using the `dns+` syntax, the load balancer is returning IPs from backend instances which are not exposed publicly. Looking at the IPs from your first snippet, they seem to be from a private network.

Maybe you can try to connect directly to the load balancer using `--endpoint "querier.dev.example.internal.com:443`. I am also not sure if Thanos supports TLS at the mom

[2022-11-24 15:24] envyj020 commented on #5918
Hi @fpetkovski thanks for answering. Indeed the IP's I get from the error logs are belonging to the underlying IP's behind an internal ALB so I'm not reaching out directly querier but through an ALB with SSL termination instead which forwards the traffic to the corresponding k8s node port.

I've tried your suggestion but without success:
[code]

[2022-11-25 15:35] sivakumark88 commented on #2978
I am also facing this issue as the querier not able to discover external sidecar. I am not using Ingress and the sidecar is directly exposed as LoadBalancer.
Can someone guide me please?

Error:  level=warn ts=2022-11-25T15:20:34.25558812Z caller=endpointset.go:416 component=endpointset msg="update of endpoint failed" err="getting metadata: fallback fetching info from 20.*.*.*:10901: rpc error: co

[2022-11-25 15:41] sivakumark88 opened #5921 "Thanos Querier not able to discover external thanos sidecar endpoint"
I am facing this issue as the querier not able to discover external sidecar (able to discover local cluster only). I am not using Ingress and the sidecar is directly exposed as Load Balancer.
Can someone guide me please?

Error:  level=warn ts=2022-11-25T15:20:34.25558812Z caller=endpointset.go:416 component=endpointset msg="update of endpoint failed" err="getting metadata: fallback fetching info

[2022-11-25 17:28] matej-g commented on #5862
Hey @hanjm , thanks for the pointers, I did not try to reproduce it, just went through the code (although it should not be too hard to create a test case if my thinking is correct) and I think you're right, but it's not only because of time range.

I believe the filtering in the downstream proxy store (in receiver) works correctly - because for one store we **cannot match labels** (different tenan

[2022-11-25 20:40] Vaani-pathariya commented on #5883
Can you provide a bit more elaborate description of the changes you want ??

[2022-11-26 15:09] fpetkovski commented on #5918
Hm so where does `querier-gp-grpc.beta.internal.stuart` come from? It seems to be different from `querier.dev.example.internal.com:443` and it looks like the querier cannot connect to this domain.

[2022-11-26 15:40] envyj020 commented on #5918
That’s was my bad copy/pasting the logs without changing the DNS properly to mask the real DNS, will amend them to avoid any confusion 🙏

[2022-11-26 16:26] Venture200 commented on #3966
@rudo-thomas , @ianwoolf  Hi guys, have you found any solution for that issue (meta.json) ?

[2022-11-26 18:47] logamanig commented on #5918
This is what I did to resolve this issue,

in observer cluster:

- disabled the dnsDiscovery and unset prometheus-sidecar-grpc config as thanos query either support all endpoints either tls or non-tls not both. dnsDiscovery sets k8s services for receiver and storegateway within the cluster as query's endpoints flags.
- created ingress with tls for receive, store-gateway and prometheus-sidecar-grpc

[2022-11-26 18:50] logamanig commented on #5918
Please note that bitnami chart have grpc ingress for all components except receive, so if you are using receive component in observer cluster, u need to created it manually as it's not part of the bitnami chart

[2022-11-28 09:50] rudo-thomas commented on #3966
@Venture200 we added a Kubernetes liveness probe.

[2022-11-28 10:14] envyj020 commented on #5918
Hi @logamanig,

I didn't know it TBH, I'll give it a try and will get back to here to share it. Thanks!

[2022-11-28 10:57] Venture200 commented on #3966
@rudo-thomas  Thanks for replying, so when compactor crashes, it restarts it again ?

[2022-11-28 11:03] rudo-thomas commented on #3966
@Venture200 there is no crash to speak of, see the comments above.

Compactor stops responding to liveness probes and gets restarted by Kubernetes.

[2022-11-28 11:44] Venture200 commented on #3966
level=error ts=2022-11-27T11:08:57.563444234Z caller=runutil.go:100 msg="function failed. Retrying in next tick" err="BaseFetcher: iter bucket: context canceled"
level=error ts=2022-11-27T11:08:57.563603512Z caller=compact.go:499 msg="retriable error" err="compaction: sync: BaseFetcher: iter bucket: context canceled"
level=warn ts=2022-11-27T11:08:57.565572915Z caller=intrumentation.go:67 msg="cha

[2022-11-28 12:03] Venture200 opened #5924 "Compactor process is killed after some time."
**Thanos, Prometheus and Golang version used**:

Thanos version - thanos-0.29.0
Prometheus version - 2.19.2
go version:       go1.14.4

**Object Storage Provider**:
S3 - minio

**What happened**:
Compactor was working over 24h hours, since I used --wait  argument, it kept running but after sometime it crashes due to unexpected reason. When I run it again, it keeps working and again after sometime

[2022-11-28 14:23] Wyifei opened #5925 "Why thanos query can't query any data?"
Issue description:
I can query metrics from Prometheus portal, but can't get any data from Thanos query frontend.

Thanos query deployment:

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: query-layer
    app.kubernetes.io/instance: thanos-query
    app.kubernetes.io/name: thanos-query
    app.kubernetes.io/version: v0.29.0
  name: thanos-query
  namespace

[2022-11-28 17:03] Akshit42-hue commented on #5540
Hey @haanhvu, are you still working on it ?

[2022-11-29 05:16] monica0500 commented on #5871
Hi, Any updates?

[2022-11-29 05:22] #5925 closed

[2022-11-29 07:47] logamanig commented on #5918
Hi @envyj020 , any luck?

[2022-11-29 10:30] sobolevskaya-k commented on #3739
@kfirfer @Robbie558 hello! do you resolve problems with not working retention? I have the same troubles

[2022-11-29 10:44] filippog commented on #5857
I've been hit by the same issue (i.e. minio-go breaking on S3-compatible storage), when can we expect 0.29.1 to be released? thank you!

[2022-11-30 08:20] whipermr5 opened #5929 "sidecar: err="check exists: stat s3 object: Access Denied.""
**Thanos, Prometheus and Golang version used**: Thanos 0.28.1, Prometheus 2.39.1, Golang 1.18.7

**Object Storage Provider**: AWS S3 (ping @bwplotka)

**What happened**: Started seeing warning logs `err="check exists: stat s3 object: Access Denied." uploaded=0`; blocks not being uploaded to S3

**What you expected to happen**: Blocks can be uploaded to S3 successfully

**Anything else we need to k

[2022-11-30 13:02] jatinagwal commented on #5651
@fpetkovski I want to work on this issue. Just need your guidance, should I start working on this?

[2022-11-30 13:06] fpetkovski commented on #5651
Hey @jatinagwal, unless @Vaani-pathariya is already working on this, feel free to pick it up.

[2022-11-30 15:39] maartengo commented on #5672
Bitnami has published a new chart version ([v11.6.4](https://github.com/bitnami/charts/pull/13686)) with Thanos [0.29.0](https://github.com/thanos-io/thanos/releases/tag/v0.29.0), which seems to have fixed my issue. I'm going to test it on some more environments, but results so far have been promising.

Can anyone still reproduce the error with Thanos 0.29?