[2021-04-01 16:17] #3666 closed

[2021-04-01 16:34] yashrsharma44 commented on #3623
not stale!

[2021-04-01 16:35] yashrsharma44 commented on #3623
I was thinking of writing a docs section for the query logging and logging in general, should I go ahead with the above structuring for the docs for logging?
cc @kakkoyun

[2021-04-01 17:36] onprem commented on #4004
Ah yes, we identify the first panel as `0` and so if you open another tab, the first panel there will also be treated as `0`. Now the thing is, we use localStorage in the browser to persist the settings of a panel, so if you change settings for panel `0` in the first tab, it will also affect the settings for panel `0` in the second tab.

This can be solved if we can somehow uniquely identify each

[2021-04-01 17:45] GiedriusS commented on #1375
We have the API, now it's just a matter of adding a new page to Thanos Query. I propose something like "Federated Targets" or something (:

[2021-04-01 17:47] #3211 closed

[2021-04-01 17:49] saswatamcode commented on #4004
The problem is that the changing the settings for one panel doesn't seem to update it across the diff browser tabs open (the UI doesn't show the correct options, but requests do). Also the number of panels across tabs aren't the same across tabs, Would be great if we could listen for changes in localStorage and change that. Completely removing the layer and relying on something else seems to be a

[2021-04-01 17:52] asuffield commented on #4004
What is the localStorage persistence supposed to accomplish? I've always found it confusing that two people will get different results from the same link, depending on what is set in there.

[2021-04-01 19:33] saswatamcode commented on #4004
Should store options for multiple panels and help reflect that in the UI and ensure there's no sharing of state between those panels.

[2021-04-02 04:02] yeya24 opened #4012 "Flaky test case metadata API fanout"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:

https://github.com/thanos-io/thanos/pull/4010/checks?check_run_id=2249690066#step:5:1828

Because the output string is too long, the error message is truncated so it is hard to know what's the diff.

**What you expected to happen**:

The result from Prometheus metadata API and Thanos querier metadata

[2021-04-02 13:59] yeya24 commented on #4012
Reproduced in my fork.

[code]

Looks like the order is not deterministic.

[2021-04-02 22:14] yeya24 commented on #3541
We also want to add the new editor. Should we add it here or open another issue?

[2021-04-03 01:45] yeya24 opened #4014 "Add E2E test for exemplars API"
Now the exemplars API is added and we already instrumented Thanos with exemplars in https://github.com/thanos-io/thanos/pull/3977. It is time to add an E2E test case for it.

AC:
~~1. Add a Jaeger all in one service in the E2E test as it is required for tracing~~
2. Update the options to start Thanos component with tracing configs
3. Call the exemplars API from thanos querier and check the results

[2021-04-04 15:52] conorevans commented on #3951
https://www.jaegertracing.io/docs/1.22/client-libraries/#baggage

This should probably be updated in the Jaeger tracer. Happy to take it on if a maintainer agrees (and feel free to assign it to me while there, if that's welcomed - thanks).

[2021-04-04 16:06] yeya24 commented on #3951
@conorevans Thank you, please go ahead! :+1:

[2021-04-04 16:07] conorevans commented on #3904
I'm not a Thanos maintainer... but this is working as intended. I don't see a need for some sort of toggle here. I presume you're using a Thanos sidecar? You can just set a foobar label on the Prometheus server it is scraping.

https://prometheus.io/docs/prometheus/latest/configuration/configuration/#configuration-file

[code]

[2021-04-05 05:30] yeya24 opened #4021 "TestPrometheus_Targets_e2e doesn't work as expected"
The E2E test case for target https://github.com/thanos-io/thanos/blob/main/pkg/targets/prometheus_test.go#L23 doesn't work as expected.

It uses the config file below to start Prometheus. The addresses are hardcoded.

[code]

However, the Prometheus instances are started using `e2eutil.NewPrometheus` which allocates a random port for Prometheus. So actually the scrape config is not working. We nee

[2021-04-05 07:41] vsile opened #4022 "Negative offset with flag --enable-feature=promql-negative-offset"
Prometheus v2.26.0 has the flag `--enable-feature=promql-negative-offset` to enable negative offset.
It works fine.

But I can't enable it with Thanos 0.19.0.
It looks like the flag is not available for Thanos Query.
So the next query `my_metric_status offset -24h` fails with the error `1:31: parse error: unexpected <op:-> in offset, expected duration`

Is this feature implemented?

[2021-04-05 08:27] rileyhun opened #4023 "Thanos Sidecar Unable to Connect to Prometheus"
**What Happened:** I'm experiencing some trouble with my Thanos Sidecar reaching localhost:9090. Instead, I get a connection refusal. I am using the Seldon-Core-Analytics helm chart (which is based on the Prometheus/Stable helm chart) to deploy my Prometheus instance on a Private GKE cluster.

**What I Expected To Happen:** The Thanos Sidecar Container should not crash and should be able to connec

[2021-04-05 09:47] 2nick commented on #1375
@GiedriusS you won't believe, but in "New UI" targets page is fully functional :)

[2021-04-05 09:53] MrYueQ commented on #1979
Hi, I am getting the same error.

### error log
[code]
### thanos and system version
[code]

### systemd
[code]

### index-cache-config
[code]
### store-cache-bucket
[code]

![image](https://user-images.githubusercontent.com/14846522/113561838-cce72480-9637-11eb-9b12-8d85cc442cd0.png)

[2021-04-05 15:13] yashrsharma44 commented on #3923
We could start with making simple Go-tests, no need to look for any testing framework.

We can also write up unit tests for different functions out in the logging [package](https://github.com/thanos-io/thanos/tree/main/pkg/logging)
* For starters, you can take a look at the [`grpc.go`](https://github.com/thanos-io/thanos/blob/main/pkg/logging/grpc.go), and add unit tests for the functions that are

[2021-04-05 15:58] yeya24 commented on #4022
No, it is not included in Thanos 0.19.0.
But as we use Prometheus as a library, this is easy to do.
Just add one more flag in querier to enable it. Help wanted.

[2021-04-05 16:38] rileyhun commented on #4023
This might be a memory issue because the container is getting OOM killed.

[code]

[2021-04-05 19:41] yashrsharma44 commented on #2542
Hey @bwplotka
Can you elaborate on this - [link](https://github.com/thanos-io/thanos/issues/2542#issuecomment-728954071)

[2021-04-06 08:40] bwplotka commented on #4012
Got another case: https://github.com/thanos-io/thanos/pull/3993/checks?check_run_id=2270461607#step:5:1100

[2021-04-06 10:41] bwplotka commented on #3457
Tracking memory in Go is hard, but the ideas are to least know estimation OR know on how many samples / series were touched on storage.

[2021-04-06 13:50] thorfour opened #4025 "Use namespace prefix on Prometheus registry"
### Is your proposal related to a problem?

There is a current pattern to prefix all metrics with the `thanos_` prefix. This is what the namespace feature of the Prometheus registry is intended for.

### Describe the solution you'd like

Remove `thanos_` prefixes from metrics, and add it to the registry as a namespace.

### Describe alternatives you've considered

Do nothing, and continue to enfor

[2021-04-06 18:47] idoqo commented on #3766
So I created a unit test scenario to reproduce this (in the draft PR) and it currently passes without any change to the code. @AndrewNiven1 can you help take a look? Maybe we could figure how to better replicate this use case in the test.

[2021-04-06 19:18] yeya24 commented on #3975
@Namanl2001 Yes, please go ahead.

[2021-04-06 19:44] wiardvanrij commented on #4023
I'm not familiair with this helm chart but just a few pointers;
[code]

Seems to be a storage issue.
If I look at your values.yaml.txt it states:

[code]
Which is not in line with the tsdb path `seldon-data`

Also it has a

[code]
which is not where Prometheus is writing its tsdb.

So I think;

1. Make sure the sidecar has the correct path to your Prometheus data dir
2. Make sure that Prometheus h

[2021-04-06 20:16] wiardvanrij opened #4027 "Query: allow setting min & max time"
- The query component implements the store API.
- StoreAPI components can be chained.
- The sidecar has a -min time
- The store has a -min & max time
- The query has no time

# This is a basic example;

![example-1](https://user-images.githubusercontent.com/5786097/113770397-5ecb5c00-9722-11eb-89c0-ed8982398fae.png)

If we want to limit requests to the sidecar and use the store component, we simpl

[2021-04-06 22:02] bseenu commented on #4023
Even i am seeing this issue , and heartbeat polling has stopped on 3/29

We probably could have changed the prometheus config since then this is happening, shouldn't it be polling continuosly for health even when it fails

[code]

[2021-04-07 02:28] #3468 closed

[2021-04-07 02:28] #3450 closed

[2021-04-07 02:28] #3704 closed

[2021-04-07 02:28] #3097 closed

[2021-04-07 02:28] #2861 closed

[2021-04-07 02:28] #3715 closed

[2021-04-07 04:39] markmsmith commented on #3143
Still needed.

[2021-04-07 05:10] bseenu commented on #4023
Sorry it was false alarm, it has to do with the routing from my ingress

[2021-04-07 07:43] aymericDD commented on #1706
This is still an issue.

[2021-04-07 09:35] Nexucis opened #4028 "add the new promQL editor"
Hello,

a new PromQL editor has been added into the webapp of Prometheus in v2.26.

Do you think it would be a good idea to have it as well ? Also as an experimental editor ? Or directly as the main editor ?

[2021-04-07 11:17] wiardvanrij commented on #4028
Hi,

This seems a logical step as the autocomplete feature is really neat!
Would you be interested in implementing this?

For reference, this was a previous upgrade/update of the Thanos UI; https://github.com/thanos-io/thanos/pull/2412

[2021-04-07 11:30] Nexucis commented on #4028
yup I can do it :)

[2021-04-07 11:41] wiardvanrij commented on #3504
I still have to investigate this further. I still occasionally have this behaviour but it's hard to pin-point

[2021-04-07 12:54] psandhu79 commented on #3987
can anyone provide any pointers

[2021-04-07 13:19] brancz commented on #3822
I think exposing it in the UI would be reasonable.

[2021-04-07 14:12] bwplotka commented on #4027
Wow, thanks for this write-down. I wonder if you can highlight the solution that you proposing and maybe clearer enumeration of alternatives.

We can add simply -min-time and -max-time flags to Querier (like we have in Store GW), and thanks for brining the real life example. It makes sense to me +1

[2021-04-07 14:34] rrraditya commented on #3878
hi @bwplotka any update you can share more?

[2021-04-08 06:52] rileyhun commented on #4023
I'm still experiencing issues. When I just use standalone prometheus, my metrics are being scraped. But after adding thanos as a sidecar-container, the metrics aren't being scraped.

I see the following in the logs of thanos-querier:

[code]

[2021-04-08 07:57] wiardvanrij commented on #4023
Please show your k8s svc `seldon-core-analytics-prometheus-seldon-headless` (I.e. `kubectl get svc seldon-core-analytics-prometheus-seldon-headless -o yaml`

[2021-04-08 08:06] brancz commented on #985
I've been thinking about this for other applications and when deployed on Kubernetes for example I see no reason for applications not to automatically reload configuration that changes on disk, as it is remounted atomically anyways. So I think Thanos, Prometheus, etc. should all have an opt-in flag `--automatic-reload` (naming up for discussion of course). Then we wouldn't have to have a sidecar f

[2021-04-08 13:26] wiardvanrij opened #4033 "Store: does not exit nor continue on memcached DNS failure"
**Thanos, Prometheus and Golang version used**: 0.17.2

**Object Storage Provider**: s3

**What happened**:
DNS failures caused memcached domain resolution to fail

**What you expected to happen**:
Fail on using memcached, but continues to work. Perhaps hard exit after x-period

**How to reproduce it (as minimally and precisely as possible)**:
Run store with memcached cached enabled. Cause failure

[2021-04-08 15:15] brancz commented on #3871
I think I would start with the config and not per request (it could still be done additionally later). I suspect that there will be various per tenant configurations eventually, so I think I would invert the config:

[code]

[2021-04-08 16:30] AndrewNiven commented on #3766
Hi idoqo, thanks for this. I've just bumped our version of Thanos, from v0.17.1 to 0.19.0, and I'm now no longer seeing the problem. It's been intermittent in the past, so I'll let you know if it comes back and we can have a look at replicating it more reliably.

[2021-04-08 16:33] rileyhun commented on #4023
Here is the yaml config for `seldon-core-analytics-prometheus-seldon-headless`

[code]

[2021-04-08 16:48] wiardvanrij commented on #4023
Right, so as your querier is trying to do a dnssrv call on `_grpc`, your svc has no port with a name `grpc`.

I would recommend the Thanos katacoda course https://katacoda.com/thanos/courses/thanos to get familiair with each component and use the docs on each component on how to configure them. This then provides insights on how to use the helm charts (and perhaps they are missing something).

To

[2021-04-08 17:13] rileyhun commented on #4023
Thanks for the information. I'm just going to hazard a guess, but I think I know what the issue is then. Please correct me if I'm wrong. The `seldon-core-analytics` helm chart is using the `stable/prometheus` helm chart version `11.4.0`. It looks like there was a [PR](https://github.com/helm/charts/pull/22784) to add the gRPC port to headless service, but that was introduced in version `11.5.0`.

[2021-04-08 19:20] GiedriusS commented on #4033
I wasn't able to reproduce this on the latest `main`. Changed `/etc/resolv.conf` to have `nameserver 1.2.3.4` and then ran Thanos Store:

[code]

With this index cache configuration
[code]

Even without the `timeout` parameter here I was not able to reproduce this issue. Could you please clarify on how to reproduce this? Also, what is the goroutine dump of Thanos Store when this happens?

[2021-04-08 19:28] GiedriusS commented on #3987
Hi! It means that your chunk pool has been exhausted by queries. Thanos Ruler probably used all of those resources. This can be fixed by allocating more RAM to your Thanos Store instances with `--chunk-pool-size` or you can horizontally shard your Thanos Store nodes according to the documentation here: https://github.com/thanos-io/thanos/blob/main/docs/sharding.md (with `hashmod`). I hope this hel

[2021-04-08 19:30] onprem commented on #3425
Looks like we are still experiencing this.

[2021-04-08 19:44] GiedriusS commented on #4027
Thanks for the nice graphics! What did you use to make them? Unfortunately, it would probably be only possible to implement changing the _min_ time *right now* without bigger changes in how we handle the min/max times in Thanos Query. This is because Sidecars always set the _max_ time to infinity so that they would always be considered when executing a query: https://github.com/thanos-io/thanos/bl

[2021-04-08 20:28] azepeda-caylent commented on #1859
The fix from @xsorifc28 did the trick for me. I added those specs into the CRD:
[code]

[2021-04-08 21:13] wiardvanrij commented on #4027
https://excalidraw.com/ - Can definitely recommend this. I found out via Alex Jones btw :p

Which is not needed to change if we use (or abuse, however you want to see it) the query component as a proxy.
The point is to have some sort of 'middleware' that can affect min/max times, just by sitting in the middle of it.

It's my last graph that shows a chained query component. The query component has

[2021-04-08 22:32] Nexucis commented on #2361
I tested with ~150k of metrics. Works well, it's just a bit slow due to the network mainly. It would maybe need a way to warm the cache embedded in the PromQL editor

[2021-04-08 23:56] idoqo opened #4034 "Print flags in sorted order when showing --help output"
The output of `$component --help` (e.g., `rule --help`) doesn't seem to follow any pattern currently. It will help to make the output more deterministic, say by printing the supported arguments and flags in sorted order.

For example, while working on #3993, I noticed that small changes to how flags get parsed resulted in huge diffs in the generated docs (which in turn is generated from the help o

[2021-04-09 01:54] mastermanu commented on #3677
Seeing this same issue as well on v0.19. Any updates here?

[2021-04-09 07:11] gaetanars opened #4035 "Compact : CrashLoopBackOff without explicit error log"
**Thanos, Prometheus and Golang version used**:
Thanos 0.18.0/0.19.0
Prometheus 2.24.1
Kubernetes 1.19

**Object Storage Provider**:
Azure BlobStorage

**What happened**:
Since some days, Thanos Compact continously crash without relevant error logs.
The stdout (debug) since the first crash is :
[code]

I try to verify our bucket with tool verify, I find many overlapped_blocks
<details>Logs
<p>

[c

[2021-04-09 10:38] GiedriusS commented on #4035
Are you sure that it hasn't been killed by the OOM killer? You can see that in `kubectl describe pod ...`

[2021-04-09 11:17] gaetanars commented on #4035
Yes I am.
[code]
[code]

[2021-04-09 12:34] dswarbrick commented on #3966
Sound like the same behaviour I observed in #3868.

[2021-04-09 14:10] bwplotka commented on #4034
Help wanted. It would be helpful! 🤗

[2021-04-09 14:29] bwplotka commented on #4012
Still got one https://github.com/thanos-io/thanos/pull/4039/checks?check_run_id=2306541486#step:5:2260 unless I failed to rebase properly 🤔

[2021-04-09 16:21] #4028 closed

[2021-04-10 18:45] onprem commented on #4027
Now I have two datasources with different time-ranges, yet still one 'source of truth', all my data, long retention if needed.

This sounds like a good feature to have but I think reusing time ranges for doing this might not be a good idea.
1. To me it looks like it's very easy to forgot about these flags on Querier. So scenarios where you increased the retention in Compactor but you still can't s

[2021-04-10 19:33] onprem commented on #1375
Haha cool. I am not that surprised tbh because it will work as long as we follow the Prometheus API (same route, same data format). Looks like the only work remaining is to add the link to Querier's nav bar. :)

[2021-04-11 08:35] #4021 closed

[2021-04-11 09:25] bwplotka commented on #1375
Wooo! Amazing! 🤗

So what is left to do?

Isn't that simple to make React UI a new default? Which will solve this too?

[2021-04-11 10:01] #4004 closed

[2021-04-11 11:47] onprem commented on #1375
By adding the link in querier's navbar I meant navbar in the new UI. We have the page working it's just that we are not advertising it. Created #4045 to fix this :)

[2021-04-11 22:53] iliyahoo commented on #2032
Hi @KarstenSiemer
I'm encountering the same issue.
Have you managed to fix it?

[2021-04-12 02:13] yeya24 commented on #4014
This test case itself should be easy to implement. However, we might be blocked by another test case `TestRulesAPI_Fanout`.
This is mentioned https://github.com/thanos-io/thanos/pull/3905/files#r591791448.
The latest version Prometheus has strict unmarshalling so we need to fix this test case first.

[2021-04-12 02:29] mikechengwei opened #4046 "Compactor should ignore dirty data or automatically delete corrupted data"
**Thanos, Prometheus and Golang version used**:
Thanos version: v0.17.2
Prometheus:  v2.11.0
go version go1.14.4

**Object Storage Provider**:
Ceph S3.
**What happened**:
Thanos compact stuck in continuous restart loop when index file missing.

Error log:
![image](https://user-images.githubusercontent.com/13257127/114332845-93537380-9b79-11eb-8fad-7bf773c4171f.png)
List ceph data chunk folder:
![i

[2021-04-12 10:59] roidelapluie commented on #985
I do not really need this but I can see the need. I think we should have a more straightforward api than metrics to see if the config is valid then (and not /-/healthy as it would kill the pod which could not restart). I also think that we should use inotify but also throttle the reloads (e.g. once per minute) because a reload is still heavy in prometheus.

Feel free to open an issue on prometheus

[2021-04-12 18:36] GiedriusS commented on #3826
Closing because https://github.com/thanos-io/thanos/pull/4039 has been merged. Thanks @hitanshu-mehta for the ping!

[2021-04-12 18:36] #3826 closed

[2021-04-12 18:51] wiardvanrij commented on #4046
I think we can/should do a better sanity check on these blocks. I.e. check if meta.json, index and chunks are present. Seeing the errors, it just assumes there is an index file.
Though, I'm not so sure on how to "deal" with it as there can be numerous reasons why the index file is missing.

I make some assumptions on the logic here but compactor sees the ULID -> downloads the entire folder -> does

[2021-04-12 22:55] wiardvanrij commented on #4023
That could definitely be the case :)

[2021-04-13 02:19] yeya24 commented on #4012
I think this is fixed. New prs are not affected by this test case. Can we close this now?

[2021-04-13 06:28] #3297 closed

[2021-04-13 08:39] bwplotka commented on #3766
Cool, thanks both @idoqo and @AndrewNiven

[2021-04-13 08:39] #3766 closed

[2021-04-13 10:17] jmichalek132 commented on #3911
We are also impacted by this bug. Log:
[code]

[2021-04-13 11:59] GiedriusS commented on #3406
I actually had a troll-ish idea, it might be already feasible. What if we mounted, for example, an S3 bucket via s3fs (https://github.com/s3fs-fuse/s3fs-fuse) and then used the `filesystem` storage type for Thanos Compactor? In the compaction case, we download whole files so it's not an issue that Thanos is unaware of the underlying storage, right? :trollface:

[2021-04-13 13:58] sbirl commented on #3623
### I believe _something_ more needs to be written up, not only for logging, but for all options. ###

I am new to Thanos, and I would love to know what it is capable of. (_I am to type to really dig in deep to a product_)
The tiny descriptions associated with each parameter found under README do not provide enough information.
Moreover, I can find no links to more detailed information -- not even

[2021-04-13 15:50] pracucci commented on #3958
After some discussion in https://github.com/cortexproject/cortex/issues/4055, it turnes out the Swift client `Upload()` returns no error if it fails closing the writer, but it should. Issue is here:
https://github.com/thanos-io/thanos/blob/2e212f4c9b32e27fd8ad7c90f4060942e8adbf11/pkg/objstore/swift/swift.go#L315

[2021-04-14 10:41] idoqo opened #4056 "Implement end-to-end ruler test for AlertManager HTTP Client."
We need to test that Thanos Ruler is able to send alerts to AlertManager(AM) in different setups such as:

- Plain HTTP
- HTTPS with custom CA
- API with a prefix
- API protected by a bearer token authentication.

Because AlertManager supports HTTP only and no authentication, we had to initially use a mocked AM server instead of a “real” one: https://github.com/thanos-io/thanos/blob/98e369d7fa1f41

[2021-04-14 12:11] kyoto opened #4058 "Upgrade glob-parent package to v5.1.2"
glob-parent (used by the React UI) should be upgraded to v5.1.2 to address CVE-2020-28469.

See https://snyk.io/vuln/SNYK-JS-GLOBPARENT-1016905

Output from `npm list hosted-git-info`:

[code]

[2021-04-14 12:21] yutian-github opened #4059 "Component Receiver forward requests to faulty node where the node configurated in hashrings file"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:
I have two receiver nodes, and a loadbalance is deployed in front of the receiver nodes, when a receiver node is faulty, another healthy node still forwards requests to the faulty node. All nodes are configured in the hashings file. In this case, grafana does not seem to be able to query the data from

[2021-04-14 14:49] psandhu79 commented on #3987
@GiedriusS Thank you for your reply i fixed this changing the --chunk-pool-size 2gb and not seeing the errors now

however the new problem is the thanos store is really high in cpu usage

<img width="464" alt="image" src="https://user-images.githubusercontent.com/22429287/114730544-e0ca0f00-9d38-11eb-8e2d-217e5ea2d75e.png">

I have one thanos store do i need to run multiple to bring down the cpu u

[2021-04-14 15:16] subrata83 opened #4060 "Thanos sidecar is unable to to write to AWS S3 storage"
We are trying to deploy Thanos sidecar with Prometheus  in EKS using Prometheus-community/kube-prometheus-stack. AWS S3 has been used as backend storage

We have referred below documentation to deploy Thanos sidecar

https://aws.amazon.com/blogs/opensource/improving-ha-and-long-term-storage-for-prometheus-using-thanos-on-eks-with-s3/

Prometheus  deployed successfully and thanos sidecar is also ru

[2021-04-14 15:37] GaoJiasheng commented on #3194
Actually, I can totally understand why set the limit that must be more than 1 replica successfully when `replication-factor=2`. It makes sense and reasonable in some storage components such as ceph, S3.
let me share my scenario bah.
Now our receiver cluster contains 30 servers. for our company, the bussiness reliability is more important than reliability of monitoring system. so we want to keep mo

[2021-04-14 19:50] wiardvanrij commented on #4060
The error indicates that there is a permission issue. I would recommend re-checking your IAM OICD provider, IAM policy, IAM role and the attached policy ARN.
Please confirm that your pod is able to talk with S3 by having the appropriate access rights.

[2021-04-14 19:53] wiardvanrij commented on #3844
Hi, could you provide more information regarding which performance and perhaps a benchmark between the two setups?
Also please share more details about your configuration/setup

[2021-04-14 21:13] someshkoli commented on #2248
If anyone was already working on `store` can pickup from here ✋🏾 didn't check earlier

[2021-04-15 03:17] rrraditya commented on #3878
hi @bwplotka any more insights that you can share?

[2021-04-15 05:21] mikechengwei commented on #4046
I get you meaning and  agree with you the behaviour of 'dirty data' or even 'corrupted data' should't be a standard.

I think we can throw exception when meeting corrupted data but not keep container restart loop. We should ensure that the application will not crash due to some exceptions. WDYT? @wiardvanrij

[2021-04-15 05:23] mikechengwei commented on #4046
Sorry, I have been busy recently.
If you agree that we should not crash the process when an exception occurs, I can help improve the code.

[2021-04-15 08:42] JanKerstens opened #4063 "Broken links in the documentation"
On page https://thanos.io/v0.1/thanos/getting-started.md/
there are many links broken. The link to github to propose changes doesn't work either.

E.g.
https://thanos.io/v0.1/kube/manifests/thanos-query.yaml
https://thanos.io/v0.1/thanos/components/query.md

![image](https://user-images.githubusercontent.com/2088377/114839853-897a7c00-9dd6-11eb-9d6d-9875211ab0a2.png)

[2021-04-15 12:40] kyoto opened #4065 "Upgrade postcss package to v8.2.10"
postcss before v8.2.10 (used by the React UI) is affected by CVE-2021-23368 (see https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23368)

Output from `npm list postcss`:

[code]

[2021-04-15 13:06] wiardvanrij commented on #3667
Done

[2021-04-15 13:06] #3667 closed

[2021-04-15 14:32] bwplotka commented on #3406
That might work for a start! (: The problem with this approach is `local disk data caching` at the end might either end up downloading things on disk or make an additional number of calls unnecessarily. What we want is to have full control over those things.

I agree it's not trivial, but it's also not super difficult. Definitely high on priority list. Maybe good project for LFX summer? 🤗

[2021-04-15 22:59] max77p commented on #1745
what do you mean route configuration? @RahulArora31

[2021-04-16 04:19] yeya24 commented on #4012
Marked this as resolved, closing now.

[2021-04-16 04:19] #4012 closed

[2021-04-16 04:24] yeya24 opened #4069 "Flaky targets API E2E test case"
Example failure https://github.com/thanos-io/thanos/runs/2352937384.

This problem sometimes can be found locally, but it is hard to reproduce it every time. More investigation is needed.

From what I can see so far, the program will be blocked in https://github.com/thanos-io/thanos/blob/main/test/e2e/targets_api_test.go#L114. The client waits for the response until context timeout.

[2021-04-16 11:46] dntosas commented on #3538
if we could push endpoint configuration to Thanos instead of pre-configuring the SD?

for example, a Thanos endpoint instance to send a request (even with creds etc etc) to Thanos Querier to add it as Store and start scraping. WDYT?

[2021-04-16 12:16] subrata83 commented on #4060
Thanks all for your response . it started working after we removed encryptsse= true from S3 object config

[2021-04-16 12:16] #4060 closed

[2021-04-16 17:51] dmilind commented on #3260
I was also facing the same issue until I prefix `/` in both flags `--web.route-prefix` `--web.external-prefix`
I used below prefixes to resolve this.
`--web.route-prefix=/thanos/ruler`
`--web.external-prefix=/thanos/ruler`

[2021-04-17 04:18] liangli1213 opened #4071 "Thanos doesn't support new function clamp() in Prometheus 2.26"
clamp() is a new function involved by Prometheus 2.26, but Thanos 0.19 doesn't support it, with below error:
`Error executing query: 1:1: parse error: unknown function with name "clamp"`

[2021-04-17 15:30] GiedriusS commented on #1611
I have worked on this for a bit https://github.com/thanos-io/thanos/compare/main...GiedriusS:feature/bloom_metric_names and I have some insights:

* Realistically with a bloom filter you can only have a set of metric names, nothing else is feasible due to how PromQL works e.g. you cannot have labels in there because PromQL queries are "open". For example, `foo{bar="baz"}` can not just exactly matc

[2021-04-17 16:00] yeya24 commented on #1611
This implementation looks nice. Great work!
I feel we can have labels in the bloom filter as well and it should work. If one label is specified in one equal or regex match, then the label name needs to there.
I think the label names and metrics names are almost the same for blocks in S3 so it doesn't help a lot in this case. The improvement would be adding label values to the bloom filter for equa

[2021-04-17 19:13] wiardvanrij commented on #4063
Thank you so much but we aim to fix this on all levels using #3081

Problem is that we aim for those links to work on both GH mardown level as well website ):

[2021-04-19 00:18] midnightconman commented on #3548
As I think about this more, we don't have any other portion of the config that is updated on interval (except endpoints). Maybe instead we could include updating the storage config via the reload api (or via another reload api just for the storage config)?

[2021-04-19 00:23] midnightconman commented on #1318
Still valid?

[2021-04-19 00:47] gmintoco commented on #3787
Still an issue at the moment

[2021-04-19 02:00] yashrsharma44 commented on #3250
This issue is solved through this PR #3882

[2021-04-19 02:00] #3250 closed

[2021-04-19 05:57] SuperQ commented on #3724
Yes, this is fixed.

[2021-04-19 05:57] #3724 closed

[2021-04-19 06:29] rrraditya commented on #3878
hi @bwplotka,
i would like to follow up on this ticket whenever you're available..
thank you!

[2021-04-19 10:16] dhohengassner commented on #3913
Thanks @AsherBoone for raising this!

Seeing probably the same issue on my clusters. It happens always when I roll the receiver statefulset.

Error on Prometheus side:
`level=error remote_name=fc9017 url=https://thanos-receiver.my.domain/api/v1/receive msg="non-recoverable error" count=7250 err="server returned HTTP status 409 Conflict: conflict"`

Seeing this and several other errors on Thanos-re

[2021-04-19 10:42] ethernoy opened #4077 "Receiver: Large quantity of 409 conflict rejection after network fluctuation"
**Thanos, Prometheus and Golang version used**:

Thanos: Bitnami 0.18.0 scratch r5
Prometheus: Bitnami 2.26.0

**Object Storage Provider**:

MinIO (on-prem)

**What happened**:

![image](https://user-images.githubusercontent.com/15870761/115221774-98499180-a13c-11eb-9c4f-dd6702eb38b9.png)

I configured a thanos deployment similar to the diagram above. It works smoothly at the beginning. However, w

[2021-04-19 19:15] mpecarina commented on #1950
@Allex1 same thing I am seeing, our querier pods restart because the readiness probe starts to fail when requests are blocked by a long running query

[2021-04-20 03:15] idoqo commented on #3425
Part of the logs from https://github.com/thanos-io/thanos/pull/4057/checks?check_run_id=2342647539

[code]

[2021-04-20 07:56] wiardvanrij commented on #4034
Can be closed :)

[2021-04-20 07:57] bwplotka opened #4079 "Block UI: Be able to ignore one block / delete from UI."
E.g:

[code]

[2021-04-20 07:58] #4034 closed

[2021-04-20 09:15] #3895 closed

[2021-04-20 09:29] Wander1024 opened #4080 "Thanos panic due to go-grpc-middleware logging"
**Thanos, Prometheus and Golang version used**:
Thanos: 0.15.0
Prometheus 2.19.2
golang 1.15.5

**Object Storage Provider**:

**What happened**:
Thanos-Receive panic due to go-grpc-middleware  call the abnormal Error() in interceptor.

**What you expected to happen**:
fix this issue.

**How to reproduce it (as minimally and precisely as possible)**:
it's hard to reproduce.

**Full logs to relevant

[2021-04-20 10:43] Abhishek357 commented on #2864
still valid

[2021-04-20 11:04] Wander1024 commented on #4080
it likes memory corruption.
I already added the `debug.SetPanicOnFault(true)`. it triggered the panic, but seems `grpcPanicRecoveryHandler` are not working.

[2021-04-20 11:28] gregoryfranklin opened #4082 "rules-check doesn't accept globs as described in the documentation"
The example rules-check command states that rules-check takes a glob of rules files
[code]
https://thanos.io/v0.19/components/tools.md/#rules-check
But this does not work for me.

You either get shell expansion of the glob, resulting in:
[code]

Or without shell expansion:
[code]

The only form that does work is
[code]

This is either a documentation error or the glob handling is not working.

[2021-04-20 15:20] kakkoyun opened #4084 "compact: Add benchmarks for GatherNoCompactFilter"
ref: https://github.com/thanos-io/thanos/pull/4073

_Originally posted by @zecke in https://github.com/thanos-io/thanos/pull/4073#issuecomment-822857037_

[2021-04-20 15:34] kakkoyun commented on #4080
Thanks for reporting.
@yashrsharma44 Any ideas around this?

[2021-04-20 15:35] bwplotka commented on #4046
Thanks a lot for this report, we sometimes hit a similar issue when we have broken manually uploaded block - compactor is halted and awaiting a manual decision.

Unfortunately skipping right now is not easy, we don't have a mechanism for that. Unfortunately continuing like in PR is not helping, (compaction will pick the same block in the next iteration). We are discussing Compact v2 today, and I w

[2021-04-20 15:36] kakkoyun commented on #1950
@Allex1 Which metric are you using to check if it reaches the limit?
Do you out-of-memory kills in your scheduler system?

[2021-04-20 15:40] bwplotka commented on #3868
👋🏽 Halting is on purpose. There is a flag you can disable. (:

https://thanos.io/tip/components/compact.md/#halting

I don't think we should halt on timeout though. That's a bug 🙃

[2021-04-20 15:42] bwplotka commented on #2340
@Biswajitghosh98 is on it (:

[2021-04-20 15:43] mikechengwei commented on #4046
Ok. I hope we can find a reasonable solution and optimize it, and I am willing to assist in the completion.

[2021-04-20 19:56] sevagh commented on #3545
I'm not the original requester but this happened to us today. Rules file containing `expr: |2` syntax that passes `promtool check rules` (on Prometheus 2.21.0) and `thanos tools check-rules` (on Thanos 0.16.0) but they can't be loaded on the thanos rule instance:
[code]

[2021-04-21 01:48] Wander1024 commented on #4080
it likes memory corruption.
I added the `debug.SetPanicOnFault(true)` in 0.15.0.
`go-grpc-middleware` might triggered the `memory corruption` and raised panic

[2021-04-21 05:59] Wander1024 commented on #4080
Seems the go-grpc-middleware `ChainStreamServer` func has a issue.
there are 3 funcs `F1, F2,F3`.  F3 function is used to recover panic.
these funcs execution is `F1-F2-F3` order in `ChainStreamServer` func.
But if F2 raise panic, F3 can't to catch it. we need using F1 to catch it.

maybe it need to change `[]grpc.ServerOption` list order like
[code]

[2021-04-21 06:10] yashrsharma44 commented on #4080
Thanks for debugging the issue!
It seems like the behaviour of `grpc_middleware.WithUnaryServerChain` and `grpc_middleware.WithStreamServerChain` has been changed, due to which the original ordering of functions have changed. Earlier, it used to be in the reverse order, something like `F3 would propagate error from F2 and F1`, but now with this [PR](https://github.com/grpc-ecosystem/go-grpc-middle

[2021-04-21 08:31] kakkoyun opened #4089 "Add tests for IgnoreDeletionMarkFilter deadlock"
You could use a "fake" `objstore.Bucket` implementation which just returns errors and a number of blocks > concurrency. We expect the meta sync to deadlock (and so the test to timeout) in `main` branch while to return error in your PR. Does it make sense?

_Originally posted by @pracucci in https://github.com/thanos-io/thanos/issues/4074#issuecomment-823029978_

cc @zecke

[2021-04-21 14:09] wiardvanrij opened #4091 "Create Q&A or something related web page for "ELI5" (explain like I'm 5) topics"
### Is your proposal related to a problem?

I personally find it hard to comprehend certain moving parts in Thanos. I.e blocks, compacting, chunks. Horizontal vs vertical. I'm aware of pages like https://thanos.io/tip/components/compact.md/#vertical-compactions - They are quite rich in information. However you do need knowledge of multiple other parts to understand it.
I noticed the same from othe

[2021-04-21 17:36] Kampe commented on #4077
See the same thing, this was at a time, a limitation of prometheus itself.  With the introduction of being able to backfill data this can now be a reality.  I do wish this becomes a feature of Thanos.

[2021-04-22 00:23] heartTorres opened #4092 "Thanos Receivers Auto Scale"
**Thanos, Prometheus and Golang version used**:
 Rancher prometheus v2.18.2
 Thanos v0.15
 AWS s3

**What happened**:
We are using Thanos Receivers in our clusters with around 1200 nodes and these nodes are still keep on increasing.
We manually increase the replicas of pods Thanos Receivers as well the config whenever it gets OOMKilled as the node counts of the cluster increases.

We are thinking

[2021-04-22 03:25] ethernoy commented on #4077
I did some research on the log and related source code, found that the out-of-order error was thrown because the prometheus-replica-label was not correctly configured on app-cluster, resulted in samples with the same label but different timestamp being generated in different Prometheus and remote written to Thanos receive.

[2021-04-22 07:14] squat commented on #4092
Hi @heartTorres please take a look at the Thanos Receive Controller. We built this and use it internally at red hat to automatically generate the configmap for our thanos receiver statefulsets: https://github.com/observatorium/thanos-receive-controller

[2021-04-22 09:03] heartTorres commented on #4092
Oh. Alright. I will take a look at this and try this out on our cluster. Thank you for this info. @squat

[2021-04-22 09:21] clyang82 opened #4093 "Thanos receive keeps restarting"
**Thanos, Prometheus and Golang version used**: thanos 0.19

**Object Storage Provider**: S3

**What happened**:
Thanos receive keeps restarting with the following errors:
[code]

**What you expected to happen**:

Expect the pod keep running w/o restarting.

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:

**Anything else we need to know**:

[2021-04-22 09:32] clyang82 commented on #4093
another pod logs
[code]
Could you tell me what exactly error is?

[2021-04-22 12:14] idoqo commented on #3761
After 1:1 discussions, it seems like the implementation for this is sort of a choice between full and partial statelessness.

Full stateless is based on Frederic’s comment (https://github.com/thanos-io/thanos/pull/3743#issuecomment-820389513) and will have us writing to the remote storage as soon as they are evaluated. We could then record the last successful remote write and back-fill the failed

[2021-04-22 14:18] clyang82 commented on #4093
I am not sure if it is related with `receive-forward-timeout` or not. when I increase that value to `60s`, the number of restarts can be reduced.

@bwplotka @squat could you comment here? Thanks.

[2021-04-22 14:21] 09jvilla commented on #3722
Hi @huikang -- did you ever try this on Cortex, or just Thanos? Curious to know if this means Cortex supports it too.

[2021-04-22 16:32] huikang commented on #3722
I tested on Cortext.

[2021-04-22 17:31] yeya24 commented on #4071
This should be fixed by https://github.com/thanos-io/thanos/pull/4094.

[2021-04-22 17:34] bwplotka commented on #3975
Acceptance Criteria:
* User can configure Auth and TLS option for internal Prometheus client that sidecar uses. Ideally we can reuse other Auth and TLS options we have e.g for Alertmanager

[2021-04-22 17:37] bwplotka commented on #3975
We could use similar configuration to: https://thanos.io/tip/components/rule.md/#configuration

[2021-04-23 01:01] LeviHarrison commented on #3871
Ok, so we use the value of the `THANOS_TENANT` header (or something like that) in a tenant label in the query and then deduplicate the results based on the replica labels specified in the config (if there are any specified). Does that seem right?

Sidenote: is there a specific label used to distinguish tenants, or will that have to be configured also?

[2021-04-23 06:13] btdan opened #4097 "Why does Thanos save data bigger than Prometheus and can not be displayed with Grafana?"
Hi, I am new to Thanos and have some question to solve. Can somebody be kind enough to help me?
**[Problem Description]**
Thanos can receive from Prometheus with remote write. But the data saved by Thanos receiver is much bigger than that saved by Prometheus on local disk for the same time period.
Grafana can not display data from Thanos query meanwhile can display the data from Prometheus.

**[De

[2021-04-23 08:15] xufei56789 opened #4098 "thanos Can't find historical data"
### Problem Description：
1. thanos Can't find historical data
2. Complete data in the s3 bucket
3.   query output error log :    err="No StoreAPIs matched for this query"
### Start method：
store： store --data-dir /data/thanos/store --objstore.config-file /data/bucket_config.yaml --http-address 0.0.0.0:10906 --grpc-address 0.0.0.0:10905
query：query --http-address 0.0.0.0:10904 --grpc-address 0.0.0.

[2021-04-23 08:20] kakkoyun commented on #4071
Fixed by #4094.

[2021-04-23 08:20] #4071 closed

[2021-04-23 09:09] btdan opened #4099 "How to start mutil endpoint?"
[Problem Description]
How to start mutil endpoint in one system or several system?

[Description in detail]
I read this document  with url   https://thanos.io/v0.18/components/receive.md/
And copy the same hashring.json as my own config.
That is to say, the content of hashring.json:
_[
    {
        "endpoints": [
            "127.0.0.1:10907",
            "127.0.0.1:11907",
            "127.0.0.1

[2021-04-23 11:40] brancz commented on #3761
Whether it's batches or not, what I meant by "record" is in fact a sort of persistence, but just a marker of where we left off, as opposed to the data itself. As I mentioned in my last comment on the issue linked, I don't think there will be one remote-write request per sample, but rather per rule evaluation.

[2021-04-23 12:29] bwplotka commented on #4022
Help wanted!

[2021-04-23 12:30] bwplotka commented on #4022
Discussion what's needed is here: https://github.com/thanos-io/thanos/pull/4026#discussion_r608204658 🤗

[2021-04-23 12:30] pstibrany commented on #3637
Hello, if there is no update on this, I would like to implement support for matchers in LabelNames and LabelValues calls in Thanos `store` (gateway) component. (`*BucketStore` type).

My plan is to mimick the implementation in Prometheus TSDB: basically call `blockSeries` with supplied matchers (in case of LabelValues, matchers would be extended with `labelName!=""`) but no chunk-fetching. From re

[2021-04-23 12:46] bwplotka opened #4102 "thanos: Expose Thanos APIs to OpenAPI/protobuf and expose on website and UIs"
In order to improve Thanos usage for users, we would like to define our APIs both HTTP and gRPC in protobuf/OpenAPI and expose those in the website. This would allow users to use tools for documentation, validation, type checking and even code generation to use our APIs efficiently. During this, we also expect collaboration with the Prometheus project to be similar on Prometheus' side. https://git

[2021-04-23 14:10] hoempf commented on #3555
If it would help I can contribute our use case, still very fresh though ;) Our stack includes multi-tenant `thanos receive`, OpenID Connect integration (Keycloak) to authenticate the remote Prometheus shippers (which we don't fully control), the label-proxy-enforcer and Minio for long-term storage.

Let me know as soon as you want me to write up something, happy to help in any way I can, ❤️  this

[2021-04-23 14:12] wiardvanrij commented on #3555
Thanks @hoempf - I'll block some time ASAP so I can create a template page and we can get this rolling!

[2021-04-23 14:15] bwplotka commented on #3637
Sounds good to me! I think we started some work on sidecar but not for store.

[2021-04-23 21:04] vbabitskiy opened #4103 "Sidecar S3 bucket Access Denied with full IAM s3 access"
**Thanos, Prometheus and Golang version used**:

Prometheus: **2.26.0**
Thanos: **0.19.0**

**Object Storage Provider**: **s3**

**What happened**:

Thanos sidecar container is not able to upload debug meta file to S3.

**What you expected to happen**:

Metafile uploaded to S3

**How to reproduce it (as minimally and precisely as possible)**:

Thanos objectstore config:
[code]
Thanos uses IAM cred

[2021-04-24 11:54] someshkoli commented on #3975
@Namanl2001 you still working on this ? I have a made a poc for this out of curiosity :thinking: LMK :raised_hands:

[2021-04-24 18:03] bwplotka commented on #4091
We talked about this for a long time, I even had some FAQ started at some point. The main issue is that most of FAQ questions should be addressed by docs. Yet I think practice shows that we should have some duplication of docs and links to even better experience. Thanks for starting this! (:

[2021-04-26 08:56] ahurtaud opened #4106 "0.20.0.rc-0 query: --target - Querier OOM when having circular reference ?"
**Thanos, Prometheus and Golang version used**:
thanos v0.20.0-rc0
prometheus v2.26.0

**What happened**:
I tried the new experimental `--target` flag to get the aggregated targets view on querier.
I am using the same service as store (which contains Sidecars + Store + Rulers)
[code]
The page loaded indefinitely until an OOM on the querier.
After Investigation, I suspect the thanos ruler (discover

[2021-04-26 12:35] Namanl2001 commented on #3975
@someshkoli I was just about to start with this, but if you've already drafted some changes, you can continue, and I'll try to help you with that. Thanks

[2021-04-26 12:38] someshkoli commented on #3975
Yeah would definitely need some help. Lets take this to PR

[2021-04-26 14:34] wiardvanrij commented on #4103
I think this works because the 'admin' role allows access to the KMSAccess part of your account.

Check out: https://thanos.io/tip/thanos/storage.md/#s3 -> S3 Server-Side Encryption

I think there are two ways here; either add a policy to the role/user or make some general rule/setting on how to deal with server-side encryption that allows a s3 user to to the encrypt en decrypt parts.

A bit rusty

[2021-04-26 16:06] ahurtaud commented on #4106
I wrote a quick step-by-step script to reproduce.
Please take care when executing commands on your localdev as some can have side-effect.
The goal is to have an helper to reproduce, please understand all the commands you type:
[code]

[2021-04-26 16:19] yeya24 commented on #4106
I think it is more like a configuration problem. By design, targets API only supports Sidecar so you should only add Sidecar endpoints to the `--target` flag.
If you include other stores like ruler or store gateway, querier will recognize them as Targets API implementers as well and send gRPC requests to them.  I don't think there is a good solution for it now except checking the store types by ha

[2021-04-26 16:23] ahurtaud commented on #4106
yeah ok, it would means we have to create a new service for sidecars only :/

[2021-04-26 16:53] yeya24 commented on #4106
Do you have a svc for Prometheus? Add the sidecar port to it would be fine.

[2021-04-26 19:10] huikang commented on #3722
sorry for the late reply. I just fill out the blocks_storage_config and it works since IBM COS has s3 compatible API.

[2021-04-26 20:49] Antiarchitect opened #4109 "read dir: open /data/compact: no such file or directory"
**Thanos, Prometheus and Golang version used**:

docker.io/bitnami/thanos:0.19.0-scratch-r0
quay.io/prometheus/prometheus:v2.24.0
Thanos Sidecar: thanosio/thanos:v0.19.0

**Object Storage Provider**:

Ceph RadosGW S3

**What happened**:

Strange warning in logs of compactor I cannot google anywhere:
[code]

**What you expected to happen**:
No warning

**Anything else we need to know**:
Thanos comp

[2021-04-27 07:45] ahurtaud commented on #4106
We don't have service for our prometheus no (functionally sharded, we have ~10+ prometheus per cluster).
We have 1 service for the storeAPI (Sidecar + Rule + Store) that we use for Query `--store`.
Anyway I am fine for closing it, if it is how it should be.

[2021-04-27 08:09] wiardvanrij commented on #4109
Hi,

Could you provide more information on when this is happening? I.e. does it run and is this an incidental error?
The bitnami helm chart sets a securityContext, have you tested that Thanos can access the /data directory? Have you seen data in the /data folder?

[2021-04-27 08:16] wiardvanrij commented on #4099
The hashring endpoints consists of a list of receive components you have running.
Change the config to:

[code]
As this is the only instance you are running. Or add more receivers and add their endpoints to the hashring config.

[2021-04-27 08:20] wiardvanrij commented on #4098
Hi, please check the UI on the query component and check -> stores. You'll see which stores are exposed (and with what labels).

Could you provide more information?

- How your data looks like (i.e screenshot of query component store page)
- Configuration settings
- Versions used
- How we could reproduce this problem

[2021-04-27 08:27] wiardvanrij commented on #4093
Could you provide more information such as;
- Configuration & versions used
- When does it restart? The first part is about it continuously restarting(?) but the second part shows it did upload some blocks.
- How could we reproduce this?

Thank you

[2021-04-27 08:29] wiardvanrij commented on #4092
Closing for now, let us know if we could improve somewhere or if you have more questions!

[2021-04-27 08:29] #4092 closed

[2021-04-27 08:33] wiardvanrij commented on #4059
Hi, as you describe this, it seems like a fair point. Though I think this needs more investigation on wether this is actually the case or not.

Could you perhaps provide an example case on how one could reproduce this exactly?

[2021-04-27 08:37] wiardvanrij commented on #4080
Thanks so much for this issue and the follow up PR! As I believe this is now fixed and merged, i'll close this issue 🎉

[2021-04-27 08:37] #4080 closed

[2021-04-27 08:44] #4106 closed

[2021-04-27 08:54] wiardvanrij commented on #4025
This would be an improvement IMO. I also don't see any downsides of doing this.

[2021-04-27 09:01] wiardvanrij commented on #4077
Would this have prevented your issue? I.e. is there still something we should investigate/sort out here?
Also, thanks so much for the clear issue & diagram 🙌

I'll cross-post this in Slack so someone could give some input here.

[2021-04-27 09:10] Antiarchitect commented on #4109
It seems it works normally and occasionally this warning appears:
[code]

It's hard to attach to bitnami Thanos compactor container as it does not have a shell and allocated TTY.

[2021-04-27 10:13] yutian-github commented on #4059
For example:
I have two receiver nodes, one with an IP address of 172.168.0.1 and the other with an IP address of 172.168.0.2, and a loadbalance is deployed in front of the two receiver nodes to receiver metrics from prometheus.

The command parameters of 172.168.0.1 is:
--tsdb.path="/data"
--tsdb.retention="2h"
--grpc-address="172.168.0.1:10907"
--grpc-server-tls-cert="/etc/receiver/server.pem"
-

[2021-04-27 10:19] wiardvanrij commented on #4059
I assume you are running the Query component with each receivers added as store? Not via a LB? Then I also assume you have configured Grafana to Thanos Query?

[2021-04-27 10:19] ethernoy commented on #4077
Yes, I believe this have prevented my "out-of-order" issue, because the metric label is no longer duplicated between metrics from different app prometheus. However, I can still encounter "409 out-of-bound" issue from time to time, it should be related to insufficient resources of Thanos Receiver (it cannot ingest metrics as fast as Prometheus produces them).

Thank you. I think it would be clearer

[2021-04-27 10:21] wiardvanrij commented on #4077
Definitely, feel free to make a PR towards: https://thanos.io/tip/operating/troubleshooting.md/ with perhaps this information about receive and hopefully some more deeper information about the out-of-order error

[2021-04-27 11:09] yutian-github commented on #4059
Yeh, you are right. I added all the two receiver nodes as store in query component, and configurated the quey component endpoint as grafana datasource.

[2021-04-27 11:44] wiardvanrij commented on #4059
Ok, so the summery is:

- Run x2 receive
- Have Query component with those 2 receive endpoints
- Kill one receive
- -> Results in no queryable data, even though one receive endpoint is still up and available.

I think we could define this as a bug which should be resolved.
Open for more investigation if this is reproducible and/or intended (?)

[2021-04-27 12:00] tomasfreund commented on #4093
I had the same issue. The cause was that the value for `--receive.local-endpoint` had quotes around it and it probably caused forwarding to fail (the value did not match any in hashring.json exactly because of the quotes), crashing the receive instance shortly after the first batch was sent to it (OOM).

The fix was `--receive.local-endpoint="$(NAME).thanos-receive-headless.thanos.svc.cluster.loca

[2021-04-27 13:20] bwplotka commented on #4077
This happens if you have samples coming out-of order. So remote write sends us a sample for timestamp 1 for series A, then with time 2 for series A, then if we got sample from series A with time 1  now, it will error with out-of-order problem. (:

[2021-04-27 13:41] kakkoyun commented on #4093
It seems like there's something wrong with forwarding requests. Could you please share your hashring configuration?

[2021-04-27 13:49] kakkoyun commented on #4059
@yutian-github What is the expected behaviour here?
As far as I understood, the receive nodes behave as they designed to be. You give an hashring configuration with 2 nodes and you have a replication factor of 1. So the expected behaviour is the receiver to fail in this case. In this configuration, you are sharding incoming traffic between, two given nodes as a result the nodes have to be there.

[2021-04-27 14:19] clyang82 commented on #4093
### Configuration yaml for receive pod
[code]
configure to run 6 pods with 3 replication-factor

### version
0.19.0

### Restart reason
follow the increasing of workload, there are more metrics pushed to receive. the receive pods keep restarting. some of receive pods can be restarted successfully. (I mean the pod can be ready). some of receive pods cannot be ready due to `Warning  SystemOOM

[2021-04-27 14:23] pracucci commented on #4069
What if we temporarily skip the test, until we get back to fixing it? Looks like it's failing in most CI runs.

[2021-04-27 14:23] clyang82 commented on #4093
Thanks @kakkoyun
[code]
right now, `observability-thanos-receive-default-3` restarts.
[code]

[2021-04-27 14:40] kakkoyun commented on #4093
@clyang82 Isn't this totally expected behaviour? You are running out of memory. You have to allocate more memory to receiver nodes. Receive appends all the received time series in the memory to head block and then flush them to disk when the given interval is reached (2 hours by default).

Moreover, you have seen those errors at the startup because receive tries to replay WAL from the disk and reb

[2021-04-27 14:49] clyang82 commented on #4093
@kakkoyun Thanks for your explanation. When we have 200+ clients to push data to receive. it meets OOM. so we reduce from 200+ clients to 50+ clients. It should be working as I expected.
One question is why `receive-default-0` `receive-default-1` and `receive-default-2` can be running successfully but `receive-default-3` cannot? Isn't receiver load balance?

Another question: the size of `/var/tha

[2021-04-27 15:16] gowrisankar22 opened #4111 "[azure][thanos sidecar unable to connect to sidecar"
Hi,
I am using https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack to deploy monitoring. I tried enabling the Thanos with below config, but Thanos is not able to connect to Prometheus and it is failing with the below error,
[code]

`values.yaml : I have changed only the below values from the default one.

[code]

Thanos sidecar seems to fine but I don't see a

[2021-04-27 15:45] yogeek opened #4112 "Query dashboard error if query-frontend installed"
**Thanos, Prometheus and Golang version used**:

Thanos installed from kube-thanos main branch with jsonnet
Thanos dashboards installed with with jsonnet from [mixin/dashboards.jsonnet](mixin/dashboards.jsonnet)

**Object Storage Provider**: S3

**What happened**:

The current query dashboard is not working when both `thanos-query` and `query-frontend` because the generated dashboard's requests ar

[2021-04-27 16:13] nicolai86 commented on #3442
We've seen the same issue still, but through cortex compaction. See above linked issue cortexproject/cortex#3569 .

[2021-04-27 16:24] wiardvanrij commented on #4059
The replication factor of 1 requires a quorum of 1. Unless I'm mistaken here in the logic of this

[2021-04-27 16:32] wiardvanrij commented on #4109
Actually this is related to #3912 - basically the message is harmless and should be fixed. I only wonder if the image you are using is a release candidate, or that we missed this in the 0.19 release.

[2021-04-27 19:46] adityakakliya commented on #3287
Hi @heartTorres , were you able to resolve the issue #2982 or somehow by-pass it?

I am hitting the exact same issues while setting up.

[2021-04-28 01:40] ethernoy commented on #4077
Sure, I will consolidate my observation and the related solution to that page :)

[2021-04-28 03:02] yutian-github commented on #4059
When I have the replication factor of 2, killed one receiver node, the grafana still fails to query the latest data. So this is normal, not a problem?

[2021-04-28 03:03] yutian-github commented on #4059
When I have the replication factor of 2, killed one receiver node, the grafana still fails to query the latest data. So this is normal, not a problem?

[2021-04-28 06:05] zhangmengid commented on #4111
我碰到了相同的问题，有解决方案吗？

[2021-04-28 06:29] Antiarchitect commented on #4109
Thank you!

[2021-04-28 06:29] #4109 closed

[2021-04-28 07:57] rrraditya commented on #3878
hi @bwplotka  any more insights that you can share?

[2021-04-28 08:19] wiardvanrij commented on #4077
Aweomse, thanks!

[2021-04-28 08:19] #4077 closed

[2021-04-28 09:39] jvelasquez commented on #2836
Hi @supasteev0 ,

I think there are ways to configure, but seems like the most frequent is deploying all components in all the workload clusters and having a "central" observer cluster (which can be any of your workload clusters) which connects via gRPC into other cluster's query service. You can do VPC peering and create internal Loadbalancers with proper firewall rules etc, no need to do TLS in

[2021-04-28 10:14] bwplotka commented on #2920
I don't see this anymore TBH (: You can just run Querier locally at this point. Let's close it!

[2021-04-28 10:14] #2920 closed

[2021-04-28 17:10] tcolgate opened #4116 "query: query_exemplars does not account for external labels"
@goku321

**Thanos, Prometheus and Golang version used**: v0.20.0 docker image

**Object Storage Provider**: gcs

**What happened**:
- configured ```--exemplar=...``` on our local and global queriers
- configure grafana for exemplars

**What you expected to happen**:
- grafana "time series" panel should show exemplars.
however...
the time series panel includes the full query from the panel, includ

[2021-04-28 17:30] yeya24 commented on #4116
Thanks for reporting this issue.
Right now the Exemplar API implementation doesn't check external labels. We definitely need to support it for this use case.

[2021-04-28 17:41] goku321 commented on #3416
I've started looking into this. Thanks everyone for your patience.

[2021-04-28 18:00] nicolai86 commented on #3442
in our case, prometheus tsdb compactor compacts blocks with out of order chunks just fine, but thanos doesn't even attempt to compact these because the `GatherIndexHealthStats` methods causes compaction to halt before actually attempting compaction.

Why does this health check exist if prometheus tsdb doesn't fail for these cases?

[2021-04-29 01:39] cloudcafetech commented on #915
@FUSAKLA
"So this is expected behavior, it will ship the data every cca 2h."

Is that means we are not getting real time data?
Data in S3 bucket 2 hours delay.

Instead of 2h if I change 2m, then what happened?

[2021-04-29 03:29] yeya24 commented on #4116
This problem is more complex than it looks like because the param `query` is a promql query instead of matches.

So what we need to do here is:
1. Parse the input query to promql expression and extract the metrics selectors.

2. Because the input is a promql query, more complexity is added. For example a sample query `http_request_duration_bucket{cluster="A"} + http_request_duration_bucket{cluster

[2021-04-29 06:14] karlism opened #4118 "Query Frontend: missing port in address"
**Thanos, Prometheus and Golang version used**:

[code]

**Object Storage Provider**:
Irrelevant

**What happened**:
After an upgrade from Thanos 0.19.0 to 0.20.0, Thanos Ruler is logging following errors:
[code]
Following parameters are being used to start the service:
`/usr/bin/thanos rule --data-dir=/var/lib/thanos/rule --grpc-address=0.0.0.0:10910 --http-address=0.0.0.0:10911 --rule-file=/etc/

[2021-04-29 08:06] gaetanars commented on #4035
You're right, I find some SystemOOMKilled in kubectl.
I find 2 problems : node ressources are to short, resource limits for thanos-compact are to short.

After upgrade nodes and déployments, all seems to work fine!

Thanks

[2021-04-29 08:06] #4035 closed

[2021-04-29 08:46] kakkoyun commented on #4116
@yeya24 Please ping me on the PR for the fix and let's open it against the release branch and we can easily release a patch.

[2021-04-29 08:50] SundayCloud opened #4119 "Store: the memory don't release after store load the data"
**Thanos, Prometheus and Golang version used**:
thanos: 0.19

**Object Storage Provider**:

**What happened**:

when we query the latest 30 days data, we find store node has a memory increase, for example 52% , but after serval hours , the store don't release the memory, still 52% , I think it is a big problem
**What you expected to happen**:
I expect that the memory will be released some time aft

[2021-04-29 12:00] wiardvanrij commented on #4119
Hi, could you perhaps include pprof profiles and share them. Ideally via https://share.polarsignals.com/ ?
I personally have not experienced the case you describe in our store component. Also I'm curious what caching options you use. If in-memory cache is used, it's going to be FIFO.. which sort of explains it.
Could you also share more configuration details?

[2021-04-29 13:23] trutty opened #4121 "Thanos Sidecar heartbeat failed due to "context deadline exceeded""
### Is your proposal related to a problem?

The Thanos Sidecar container fails its heartbeat against Prometheus with the messages:
[code]

The heartbeat is configured to check against Prometheus' endpoint at `/api/v1/status/config` every 30s. A timeout will occur already after 5s (see https://github.com/thanos-io/thanos/blob/main/cmd/thanos/sidecar.go#L188).

This 5s-timeout is not enough in our s

[2021-04-29 14:31] trutty opened #4122 "Alert relabelling for Thanos Rule"
### Is your proposal related to a problem?

Prometheus has a powerful alert relabelling feature to dynamically rewrite the label set of an alert before sending it to an Alertmanager. See
- https://prometheus.io/docs/prometheus/latest/configuration/configuration/#alert_relabel_configs
- https://prometheus.io/docs/prometheus/latest/configuration/configuration/#relabel_config

Thanos Rule is currentl

[2021-04-29 16:43] vbabitskiy commented on #4103
Hello @wiardvanrij
Yes, you were right. The S3 bucket had an unclear Server-Side Encryption configuration.
I updated the S3 encryption configuration and the IAM policy with required KMS actions and it works now.

Thank you for pointing me in the right direction.
Close the question.

[2021-04-29 16:43] #4103 closed

[2021-04-29 19:12] yeya24 commented on #4118
I cannot reproduce it by adding `--alert.query-url=https://metrics.example.com/all`.

From the given log:
`Apr 29 06:03:56 hostname thanos: level=error ts=2021-04-29T06:03:56.854131338Z caller=http.go:48 protocol=http http.component=server msg="failed to parse host port for http log decision" err="address metrics.example.com: missing port in address"`

The protocol here is `http` instead of `https

[2021-04-29 19:13] yeya24 commented on #4122
Yeah, it would be good to have this feature. If you have a pr already please go ahead! Thanks.

[2021-04-29 19:16] yeya24 commented on #4111
From the given logs, I think it looks good.

[code]

The error logs mean that your Prometheus is starting and sidecar cannot connect to it. After that you can see sidecar retries and connects to Prometheus and loads the external labels successfully. So this is the expected behavior.

[2021-04-29 19:16] #4111 closed

[2021-04-29 20:33] wiardvanrij commented on #3957
Updated the PR.

Absolutely not tested yet, but the image is: `wiardvanrij/thanos:azure-test`  -> https://hub.docker.com/repository/docker/wiardvanrij/thanos

Going to test this myself later on, but would like more feedback from others..

[2021-04-29 20:51] wiardvanrij commented on #4121
I understand your issue and the described solutions make sense in such case. However I think the core issue here is the response time of your Prometheus. Do you have any idea why it takes 24(!!) seconds? :)
I've done a check myself and my status/config is only 50 times smaller. Yet this takes 0.02s.

So it's not like your config file is that huge, at least not to explain the 24s request time. Have

[2021-04-29 21:05] dgrizzanti opened #4124 "Add metric around failed Store endpoints from Query node"
### Is your proposal related to a problem?

We have a use case where we'd like to alert/monitor on Store instances that a given Query node can't reach (either because it went down, has a network failure, etc). I see entries in the log for these failures but no metrics that represent that. I noticed there is a metric for DNS lookups though so maybe this could be an easy extension to that?

Example

[2021-04-29 21:21] wiardvanrij commented on #4124
This was discussed during some meetings, so I think this is something which can be useful for more people.

[2021-04-29 21:52] airkewld commented on #3957
`
level=error ts=2021-04-29T21:49:30.0974553Z caller=main.go:130 err="yaml: unmarshal errors:\n  line 3: field max_retries not found in type azure.Config\ncreate AZURE client\ngithub.com/thanos-io/thanos/pkg/objstore/client.NewBucket\n\t/go/src/github.com/thanos-io/thanos/pkg/objstore/client/factory.go:77\nmain.runCompact\n\t/go/src/github.com/thanos-io/thanos/cmd/thanos/compact.go:198\nmain.regis

[2021-04-29 22:47] wiardvanrij commented on #3957
@airkewld  that's correct. Please check the changed config here: https://github.com/thanos-io/thanos/blob/2c435ade8d73af7ff9901a31b98a3920bfe1ef16/docs/storage.md#azure

[2021-04-29 23:31] airkewld commented on #3957
Perfect. I’ll give that a try.

Thank you

[2021-04-30 00:41] gowrisankar22 commented on #4111
@yeya24 the main issue is , sidecar is not sending the data to cloud storage .. but I can query the date from thanes query .

[2021-04-30 00:53] yeya24 commented on #4111
OK. Then please edit your issue description. There is no connection issue between your sidecar and Prometheus. It seems like a config problem.
Do I see any error logs of data upload in the sidecar? Please also make sure that the TSDB path is correct.

[2021-04-30 01:57] dgrizzanti commented on #4124
Ok, not knowing the inner workings that well, my thought was to mark the store endpoint "up" on first connection (when it successfully is added to the store list) and flip it 0 when it gets removed. In my log example, that store endpoint doesn't show up on the stores page anymore.

I think I'm ok ignoring cases of network blips where a single or handful of queries fail. The grpc metrics should han

[2021-04-30 07:58] karlism commented on #4118
@yeya24, thanks for looking into this!

I've investigated it bit further, and it appears that issue is not with Rule but with Query Frontend. I initially assumed that it was Rule issue as the only place where we reference metrics.example.com server is Rule command line parameters. As for the reason why adding `:443` to URL resolved an issue - we are running everything behind load balancers and loa

[2021-04-30 08:05] karlism commented on #4118
As a test, I've changed Nginx `Host` header from `$host` to `kaka.example.com` and now Query Frontend logs contain following error:
[code]
So it is probably safe to assume that Thanos Query Frontend has some issues when Host header is set.

[2021-04-30 11:14] SuperQ commented on #2249
It's not just demos where this is useful. Small installs for users that are outside of Kubernetes need a lot of orchestration could use it.

[2021-04-30 12:10] simonpasquier commented on #4065
A version >= v8.2.13 is required because of [CVE-2021-23382](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23382).

[2021-04-30 12:59] karlism commented on #4124
Just linking it here: https://github.com/thanos-io/thanos/issues/3014

[2021-04-30 13:06] bwplotka commented on #3318
Still very viable

[2021-04-30 13:15] airkewld commented on #3957
@wiardvanrij  ran your image all night locally with no failures.

[2021-04-30 13:17] wiardvanrij commented on #3957
Awesome, what config did you use? Did you increase timeouts and/or retries?
Also, did you by any chance tested the msi_resource? I've added it but never tested it out :P

[2021-04-30 13:21] airkewld commented on #3957
This is what i had in the config
[code]

[2021-04-30 13:24] lorenzo-biava opened #4128 "Block Viewer: --web.route-prefix flag inconsistent/unexpected redirects"
**Thanos, Prometheus and Golang version used**:

Thanos v0.20.0

**Object Storage Provider**:
Not relevant

**What happened**:
Trying to reach the bucketweb tool from a reverse proxy. Setup as following (which works fine with the query component):
- `--web.external-prefix=thanos/bucketweb/`
- `--web.route-prefix=/`

while the reverse proxy (Ambassador) is using:
[code]

If I hit:
- `/thanos/bucket

[2021-04-30 13:26] wiardvanrij commented on #3957
I'm probably going to change the config part.

I will make it non-breaking by not removing the `max_retries`
This value will then be used on the `max_tries` in the `pipeline_config` and the `max_retry_requests` in the `reader_config`.  I will keep the other config options, so that it can be overwritten specifically if desired.

This removes the use of having to fork Cortex and allows for some back

[2021-04-30 14:54] yeya24 opened #4129 "Add tracing for federated targets API"
### Describe the solution you'd like

Instrument tracing spans for the federated APIs. This should include the proxy (querier) side as well as the leaf store sides.

[2021-04-30 14:55] yeya24 opened #4130 "Add tracing for federated exemplar API"
### Describe the solution you'd like

Instrument tracing spans for the federated APIs. This should include the proxy (querier) side as well as the leaf store sides.

[2021-04-30 14:56] yeya24 opened #4131 "Add tracing for federated rules API"
### Describe the solution you'd like

Instrument tracing spans for the federated APIs. This should include the proxy (querier) side as well as the leaf store sides.

[2021-04-30 14:56] yeya24 opened #4132 "Add tracing for federated metadata API"
### Describe the solution you'd like

Instrument tracing spans for the federated APIs. This should include the proxy (querier) side as well as the leaf store sides.

[2021-04-30 15:45] #4082 closed

[2021-04-30 18:37] 09jvilla commented on #3722
Great - thank you.

[2021-05-01 05:22] dpwolfe commented on #1014
Please keep this open.

[2021-05-01 15:16] gowrisankar22 commented on #4111
it worked. I missed the endpoint parameter.

[2021-05-01 17:34] bistaastha commented on #3434
Hi. I will be getting back to this issue after another week and will update the status here.
Apologies for getting sidetracked from this.

[2021-05-02 18:46] hhsnow opened #4136 "query: /query_exemplars receives empty response"
**Thanos, Prometheus and Golang version used**:
thanos 0.20.1 (sidecar, query, query-frontend)
prometheus 0.26.0 with --enable-feature exemplar-storage
grafana 7.5.5
(docker hub images)

**Object Storage Provider**:
aws/s3

**What happened**:
When querying for exemplars via thanos-query-frontend, I receive the response:
[code]
The same query directly to the Prometheus that scraped the exemplars re

[2021-05-02 19:44] yeya24 commented on #4136
Hi, thanks for reporting the issue.

I will take a look tomorrow. Can you please try to use thanos query instead of query frontend as Grafana data source and check whether this issue is reproducible?

[2021-05-02 19:58] yeya24 commented on #4136
Also please give me the configuration of your thanos query. I suspect there is a config issue.

[2021-05-02 20:19] hhsnow commented on #4136
I'm also receiving a "data": null response when targeting the querier directly. I guess one note is that there is a Traefik2 ingress between the query and sidecars/store.

DNS-sanitized query configs from k8s deployment:
[code]

[2021-05-02 20:27] yeya24 commented on #4136
Hi @hhsnow, it is a configuration issue.
If you want to federate exemplars from Sidecar, you need to add `--exemplar` flag for these store addresses in your thanos query component.

For example, the correct config would be

[code]

[2021-05-02 20:37] #4136 closed

[2021-05-02 20:59] wiardvanrij opened #4137 "Docs: Improve information about compaction, retention and downsampling"
### Is your proposal related to a problem?

The docs about storage are technically solid. It provides a lot of information.
However I notice a lot of user questions and these are practical questions.

- I added the sidecar but I see no data in the object store
- My retention is 3d, but it's day 5 and I still have data

### Describe the solution you'd like

I think we could add some practical infor

[2021-05-02 21:18] wiardvanrij commented on #4128
Thanks for the report. I haven't tried to reproduce it, but seems like a logical bug which should be squashed! :)

[2021-05-03 07:31] imdhruva opened #4138 "aws s3 with kms : encryption context value not working as expected"
**Thanos, Prometheus and Golang version used**:

[code]
**Object Storage Provider**:
AWS

**What happened**:
1. Upgrade thanos image from `v0.18.0` to `v0.20.0`
2. Errors observed in `thanos-sidecar` :
[code]
**What you expected to happen**:
Since the config has not changed the error above should not happen

**How to reproduce it (as minimally and precisely as possible)**:
1. storate config
[code]

[2021-05-03 08:23] skpenpen opened #4139 "Cant acces storeweb in 0.20"
**Thanos, Prometheus and Golang version used**:

Thanos : 0.20.0

**Object Storage Provider**: filesystem

**What happened**:

Trying to expose storeweb behind reverse proxy, working in 0.19, not in 0.20

**What you expected to happen**:

Working http exposition

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Full logs to relevant components**:

`level=error ts=2021-0

[2021-05-03 08:32] skpenpen commented on #4139
Hum, same problem than #4128 since i can access in 0.20 with "store.dc1.local/new/blocks" url, still the error thought

[2021-05-03 13:35] ebarped commented on #4129
Hi!
I can take a look on this topic and try to help 👍

[2021-05-03 16:33] wiardvanrij commented on #4139
It seems a bit more related to https://github.com/thanos-io/thanos/pull/4041 - I'm actually not sure if there is a bug, or that there is some configuration missing.

[2021-05-03 16:55] wiardvanrij commented on #4138
Hi thanks for the report. I went over the changes for S3 and from 0.18 - 0.20 I don't see anything relevant that has been changed.

To be certain that it's related to Thanos; Could you perhaps test if reverting back to 0.18 fixes your issue? If so, please try Thanos 0.19. If this does not resolve your issue, could it be that there is something changed in AWS / configuration?

Last thing, this migh

[2021-05-03 17:03] onprem commented on #4128
I tried reproducing it and looks like it affects all UI components regardless of `--web.route-prefix`. Looks like it's an artifact of switching to the new UI as default. I'll take a look at this.

[2021-05-03 18:04] KrishnaSindhur commented on #4132
hi, can I look into it?

[2021-05-03 22:49] imdhruva commented on #4138
@wiardvanrij this was tried already. the error re-occurs for `v0.19`. It disappears after rolling back to `v0.18`. Also, to confirm the configuration has not changed nor has the attached IAM Role/Policies.

[2021-05-04 00:58] midnightconman opened #4148 "Allow Arbitrary Tags Lightstep Tracing"
### Is your proposal related to a problem?

Not entirely, my proposal is related to a feature... one that would allow additional (arbitrary) tags to be added to the lightstep tracing configuration. The metadata that is passed to lightstep is pretty minimal, this would allow users to add more metadata (possibly that would match external labels?).

### Describe the solution you'd like

I would like

[2021-05-04 07:56] Hangzhi commented on #4130
May I work on this?

[2021-05-04 09:16] onprem commented on #4148
This looks straight-forward to implement. Contributions are welcome :)

[2021-05-04 09:59] amine250 opened #4162 "Is there a default value for the store gateway's --max-time ?"
Hi,

Is there a default value for the store gateway's `--max-time` ?

I have the following store configured:
![image](https://user-images.githubusercontent.com/7514608/116987034-d6af8680-acce-11eb-83a9-c01a4f36058e.png)

Now I have set a `--min-time` to -2 weeks but no `--max-time` like so:

[code]

My querier looks like this:
[code]

The service `thanos-store-gateway` that the querier hits is con

[2021-05-04 12:26] kakkoyun commented on #3834
cc @Abhishek357

[2021-05-04 12:48] hariyada opened #4167 "High Software vulnerability issue in thanos because of busybox"
Hi All,

Thanos latest version is having **high software vulnerability issue** because of busy-box which was come as part of black duck binary software analysis

issue reported : https://nvd.nist.gov/vuln/detail/CVE-2021-28831

**note**: prometheus also faced it and fixed it like this https://github.com/prometheus/graphite_exporter/issues/154

[2021-05-04 12:49] bwplotka opened #4168 "querier: Add TLS to Thanos APIs"
Prometheus have this from January, it was added to Alertmanager this week too. I think it's time to add it to Thanos too (:

[2021-05-04 13:00] amine250 commented on #4162
My bad, I was not using the same Thanos instance that I had configured.

[2021-05-04 13:00] #4162 closed

[2021-05-04 13:07] roidelapluie commented on #4168
Feel free to reuse the exporter toolkit if it suits your needs: https://github.com/prometheus/exporter-toolkit

[2021-05-04 13:24] yeya24 commented on #4132
Sure, feel free to take it.

[2021-05-04 13:24] yeya24 commented on #4130
Sure, feel free to take it. @Hangzhi

[2021-05-04 13:24] yeya24 commented on #4129
Thanks @ebarped, please go ahead.

[2021-05-04 14:03] yeya24 opened #4170 "Support optional query stats parameter"
### Is your proposal related to a problem?

(Write your answer here.)

Prometheus instant query and range query APIs support an optional stats field to return the timing stats of the executed query.

Thanos should implement the same functionality. For implementation, please check the code in Prometheus:
https://github.com/prometheus/prometheus/blob/main/web/api/v1/api.go#L466-L470
https://github.c

[2021-05-04 14:09] dgrizzanti commented on #4124
Opened a draft PR for this #4169 if folks can take look and give me feedback. Thanks!

[2021-05-04 14:47] wiardvanrij commented on #4167
Thank you for reporting! I'll look into this

[2021-05-04 15:15] wiardvanrij commented on #4167
Actually, I've been pointed that we already use the latest. In the build the sha in the Makefile is used. However I guess it's fine to update the base as-well. :D

[2021-05-04 15:21] #4167 closed

[2021-05-05 04:50] hariyada commented on #4167
@wiardvanrij thank you very much, any idea when will be the new version available?

[2021-05-05 04:55] flyingcanopy commented on #3112
Hi, this is part of the Linux Foundation mentorship. Can I please work on this?

[2021-05-05 06:23] toshi1127 commented on #4131
May I work on this?

[2021-05-05 07:30] wiardvanrij commented on #4167
I actually edited something that as no effect basically :D - The hash was already updated in our Makefile. The latest Thanos releases already have the latest busybox version.

[2021-05-05 08:47] OGKevin opened #4177 "thanos_store_nodes_grpc_connections goes absent on unhealthy store."
**Thanos, Prometheus and Golang version used**:
Thanos: v0.17.2 (checked master code and it's still there)

**What happened**:
Have a chained query: q1 --> q2. You will see a metric `thanos_store_nodes_grpc_connections` with the appropriate external labels for q2 at pov of q1. Kill q2, and the metric with the external label of q2 goes absent at pov of q1.

**What you expected to happen**:
The metr

[2021-05-05 10:08] sepich commented on #4118
Confirming the issue while running query-frontend v0.20.1 behind ingress-nginx in k8s.
As a workaround have to add annotation
`nginx.ingress.kubernetes.io/upstream-vhost: "$host:10902"`

[2021-05-05 10:16] matthiasr opened #4180 "bucket inspect: support machine-readable output formats"
### Is your proposal related to a problem?

When I want to do an action on a specific subset of blocks, I need a list of those blocks.
`thanos tools bucket ls` gives me a list of *all* buckets, but does not allow filtering.
`thanos tools bucket inspect` does exactly the filtering it needs, but the output is geared towards human readability.
I need to do `awk` gymnastics to extract the block ID.

#

[2021-05-05 11:23] ranulf10 commented on #4170
@Aser <transferencia ``

[2021-05-05 14:31] Nexucis opened #4184 "PromQL editor is crashing after going to the next line and pressing multiple space"
**Thanos, Prometheus and Golang version used**:
Thanos: v0.20.0

**What happened**:
I started to type an expression then go to the next line and press multiple times space. The PromQL editor is crashing as you can see below in the gif.

![bug_thanos](https://user-images.githubusercontent.com/4548045/117157607-02aa3500-adbf-11eb-8e9c-9e52e806daf5.gif)

**What you expected to happen**:
The PromQL ed

[2021-05-05 14:36] squat commented on #4184
Hi @Nexucis, thanks for reporting this bug. Do you have the experimental editor checkbox enabled in prometheus as well? Also, what version of prometheus did you compare with?

Thanks in advance for the info!

[2021-05-05 14:39] Nexucis commented on #4184
yes I have the checkbox enabled in Prometheus. I tried with the last version (v2.26.0) and also with the prometheus demo: https://prometheus.demo.do.prometheus.io/

[2021-05-05 16:24] yeya24 opened #4186 "Create exemplar only for sampled traces"
### Is your proposal related to a problem?

Now Thanos creates exemplars for all traces. However, if a trace is not sampled, then it is unnecessary to create an exemplar.

### Describe the solution you'd like

Modify code in https://github.com/thanos-io/thanos/blob/main/pkg/extprom/http/instrument_server.go#L120 like [this example](https://github.com/weaveworks/common/pull/202/files#diff-29d7cb621

[2021-05-05 17:01] Namanl2001 commented on #4186
I think we just need to add one more condition check [here](https://github.com/thanos-io/thanos/blob/e043efb3dbd598a97e04b10a81c61fad4ec52307/pkg/extprom/http/instrument_server.go#L121)

[code]

Should I go ahead with this change and make a PR?

[2021-05-05 17:05] yeya24 commented on #4186
Yes, please go ahead.
One thing to mention here is that we currently only support Jaeger as we cast it to jaeger span. It would be good to support exemplars for other trace providers as well.

[2021-05-06 07:39] Nexucis commented on #4184
ah that's interesting, when I'm running the react app with `yarn start`, the bug doesn't appear. This is sooooo weird :o

[2021-05-06 08:50] Nexucis commented on #4184
ok so the good thing is the bug isn't related to the PromQL extension. it's only related to codemirror.

The bad thing is I don't really get why the build step would break something. But clearly there is something happening at this moment since when launching the UI through `yarn start`, nothing wrong is happening with codemirror.

[2021-05-06 08:59] Nexucis commented on #4184
ah it could come on how the assets are built. That's not the same way used in Prometheus and that's the only difference I found between Prometheus and Thanos regarding the build of the UI.

[2021-05-06 10:14] Nexucis commented on #4184
or not ....
I build the react-app and use a static server to serve it and the bug is there. So the problem is really when the react-app is built.
Back to understand and find what is the difference between the build of the react-app in Prometheus and in Thanos

[2021-05-06 10:49] clyang82 commented on #4093
I did testing with pure prometheus and point to the tsdb folder `./prometheus/prometheus --storage.tsdb.path=7b83e1aa-f422-4da0-80dd-d996c34b6c70/ --config.file=prometheus/prometheus.yml`. the tsdb server is finally started by using around **72GB** memory.
[code]

@kakkoyun You are correct. Thanks for your answer.

[2021-05-06 10:49] #4093 closed

[2021-05-06 11:15] dmilind opened #4192 "Thanos receiver is unable to ingest data stating msg="Error on ingesting samples that are too old or are too far into the future""
**Thanos, Prometheus and Golang version used**: Thanos version: 0.19

**Object Storage Provider**: Azure container storage

**What happened**:
Receiver errors out stating `Error on ingesting samples that are too old or are too far into the future`. Initially I thougt error might be from prometheus with timestamps. To debug this issue, I stopped promtheues, removed all data from mount volumes as we

[2021-05-06 12:48] Liberski commented on #4192
We are also observing the same issue on hashring operated by thanos-receive-controller (but I assume, it has nothing to do with the issue).

Currently we are only experiencing this when pods reload hashring config. If pods start with static hashring config it works correctly.

[2021-05-06 13:03] dmilind commented on #4192
@Liberski Thanks for your input, this was one more test case scenario for validation. I tried static hashring file by scaling down receive controller to 0. Still I am facing the same issue. Looks like this is not related to RC.

[2021-05-06 13:10] wiardvanrij commented on #4186
Thanks @yeya24 , this is what I was wondering and didn't thought this could be fixed this way. Awesome!

[2021-05-06 13:12] wiardvanrij commented on #4180
Well explained and I think this would provide good value. Would you be interested on creating this feature or an initial draft for it?

[2021-05-06 14:04] wiardvanrij opened #4195 "Feature request: 'Local' filesystem storage for Production usage"
### Community Note
- This is a central issue to see if there is a need for this feature. Please be involved in giving your use-case and input to shape this issue.
- Please vote on this issue by adding a 👍 reaction to the original issue to help the community and maintainers prioritise this request.
- If you are interested in working on this issue or have submitted a pull request, please leave a com

[2021-05-06 14:18] matthiasr commented on #4180
Unfortunately I won't have the time anytime soon, but I wanted to put the idea out there 😃

[2021-05-06 17:10] wiardvanrij commented on #4177
Would this issue (and PR) resolve your problem? https://github.com/thanos-io/thanos/issues/4124

[2021-05-06 17:17] wiardvanrij commented on #3912
This is fixed in the 0.19 release.

[2021-05-06 17:17] #3912 closed

[2021-05-07 03:29] marcolan018 commented on #4093
@kakkoyun
so for receiver, when it restarts, it will tries to reload all WAL files, and then check the recent 2 hours data in memory. It cannot only reload  the WAL files which contains recent 2 hours data?

[2021-05-07 06:58] asquare14 opened #4201 "Add additional rules in the coding style guide."
### Is your proposal related to a problem?

While taking part in the bugsbash, I learnt about some improvements that make a ```go``` codebase better. It might be a good idea to include some of them in the style guide.

### Describe the solution you'd like

Here are a few things we could add :
- Don't use defer in a for loop.
- Fixes potential file inclusion via variable. Whenever there is a user i

[2021-05-07 08:08] OGKevin commented on #4177
@wiardvanrij yes, i made some review comments on the PR 👍🏾

[2021-05-07 08:34] kakkoyun commented on #4093
@marcolan018 The WAL only for the head block in the memory. So by default configuration, it only includes the most recent 2 hours of data. When a new block is cut from the head block and written to the disk, the WAL gets flushed out.

I hope this answer your question.

[2021-05-07 09:56] kakkoyun commented on #4192
Hey @dmilind, thanks for opening this. A couple of questions to clarify.

1) Could you please make sure the sending Prometheus and Receiver time settings are correct?
2) Do you use Receive to backfill data? (This won't work)

[2021-05-07 11:38] heartTorres opened #4203 "Thanos Receivers minimum tsdb retention"
Hi,

Since our clusters are on increasing, we are now on the plans to maximize our pods memory consumption. Our receivers have this config args "--tsdb.retention=3h" where we set the data retention on its local disk. We are planned to set it to 30m, 1h, however, after we waiting for 2 hours, no data were sent to S3. We know that 2 hrs is the default config. Is there anyway receivers upload the dat

[2021-05-07 12:10] simonpasquier opened #4204 "Thanos ruler fails to start with "cannot unmarshal DNS message" errors"
**Thanos, Prometheus and Golang version used**:

Thanos v0.19.0 and Prometheus v2.26.0.

**Object Storage Provider**:

N/A

**What happened**:

The Thanos ruler pods fail to start because Thanos can't resolve the SRV records for Alertmanager endpoints (`cannot unmarshal DNS message` error message in the logs). The situation doesn't resolve by itself and the pods keep crashlooping.

**What you expe

[2021-05-07 13:27] cg-cri-gl commented on #4195
To start of , would be good to know what the reasons are for choosing the  _object storage_  storageType for storing data? They can't be limited to ease of use (i.e. no manual intervention required for fill-ups of the fs) ...
Maybe some developer can share some info about this.
Afterwards, one would be able to ponder if the benefits / requirements of a object storage  could be / are already  found

[2021-05-07 16:44] dmilind commented on #4192
@kakkoyun
1. I verified timestamps from Prometheus and receive, both are in the same time zone and reflecting the same time.
2. If I am considering it rightly, I saw some discussion over backfilling data and understood that receive cant take 2 hr lagging data from Prometheus. so I made changes in Prometheus setting to send 1 hr time window data.

[2021-05-07 16:48] yeya24 commented on #4203
So if the retention is 3h, then everything works well for receiver, but if you set retention to 30mins, then there is no data?
Is there any error log?

[2021-05-07 17:05] #4170 closed

[2021-05-07 18:07] #4186 closed

[2021-05-07 20:31] tiagomeireles commented on #4118
I'm also experiencing this while running query-frontend behind ingress-nginx. Is this a configuration issue or an application bug?

[2021-05-08 05:44] heartTorres commented on #4203
There is no error in the log. But is there any configuration to force the thanos receivers to upload the data in 30 min?
I read the documentation but seems not.
We are using thanos v.0.15

[2021-05-08 10:32] #4148 closed

[2021-05-09 05:21] saswatamcode commented on #4184
I managed to reproduce this. Seems like there's some range error that codemirror handles in Prometheus but not in Thanos. On testing, I found that in Thanos, editor crashes with the following dom,
![Screenshot 2021-05-09 at 10 47 24 AM](https://user-images.githubusercontent.com/51132453/117561402-1b169a00-b0b4-11eb-927e-222b046a9950.png)
![Screenshot 2021-05-09 at 10 41 03 AM](https://user-images.

[2021-05-09 08:29] Aman-Codes commented on #4065
To fix it I tried to update all the npm packages to their latest version but still found the postcss version to be less than 8.2.13 in many cases. It looks that firstly other libraries used need to update their dependencies (which might take some time) and only then we could update here.

The output of npm list postcss:

[code]

[2021-05-09 08:45] #3111 closed

[2021-05-09 09:23] Nexucis commented on #4184
yes indeed. That's because in the 2nd case, you have the PromQL linter that is called by codemirror. And `test es       f` is not a correct PromQL expression. You can deactivate the linter, the autocompletion and the coloration highlighting, so you are not confused by the "regular errors" shown by the linter and the "not regular errors" which are visible in the console.

You can reproduce it with

[2021-05-09 09:36] saswatamcode commented on #4184
Oh okay. Then it's probably an issue caused by build. Will try to test this further.

[2021-05-09 09:52] saswatamcode commented on #4168
Can I look into this?

[2021-05-09 10:25] wiardvanrij opened #4209 "Website: Fix indentation of longer titles in the menu"
### Is your proposal related to a problem?

When a submenu has child pages with relatively long titles, it becomes a bit hard to read.
For example one could assume that 'Troubleshooting' is a sub-sub item of 'Reverse proxy'.

![image](https://user-images.githubusercontent.com/5786097/117568526-0391de00-b0c1-11eb-9d86-bae70b8f9dc2.png)

### Describe the solution you'd like

![image](https://user-im

[2021-05-09 10:38] wiardvanrij commented on #4204
Thanks for your report. I assume you use the hidden flag `query.sd-dns-resolver`? Your suggestion is to make miekgdns the default?

I would be in favor of not changing the default DNS resolver. Many users have not changed the resolver and perhaps changing the default would mean new issues for others. In which they have to change the new default to their previous used resolver.

However, it might b

[2021-05-09 10:58] Aman-Codes commented on #4209
Hi @wiardvanrij I would like to work to on it!

[2021-05-09 11:31] wiardvanrij commented on #4209
Go for it! 💯

[2021-05-09 11:54] idoqo commented on #3425
Occasionally, the flakiness shows up because ruler is filtered out of the list of matching Store APIs to ask for a given query with the error: `No StoreAPIs matched for this query`. Here is part of the log from https://github.com/thanos-io/thanos/pull/4057/checks?check_run_id=2402575476
[code]
Not sure what it means, but it looks like somehow, the time ranges advertised by ruler, in this case, are

[2021-05-09 18:14] krak7602 opened #4210 "Website: Docs for v20 returns "Page not found""
**What happened**: Doumentation page for v20 of Thanos is provided under "tip". The v20 link returns a "page not found"

**What you expected to happen**:

**How to reproduce it**:
1. Go to home page of [Thanos](https://thanos.io/).
2. Try visiting the [v20 documentation](https://thanos.io/v0.20/thanos/getting-started.md).

**Anything else we need to know**: This is my first time contributing to th

[2021-05-10 08:06] wiardvanrij commented on #4210
Thank you! Seeing the PR, fix is on the way! 🎉

[2021-05-10 08:19] Tiemma opened #4216 "Thanos Query API does not expose config endpoint on Prometheus"
I have a deployment which queries a prometheus server deployment for the config deployed on it.

This is done via the `/api/v1/status/config` endpoint

I recently switched to Thanos and noticed the route mappings are changed for a `thanos query` run on the same configuration.

I did find that the APIs are registered on this endpoint to communicate with the native prometheus API via the thanos prox

[2021-05-10 08:44] phillebaba commented on #3957
@wiardvanrij I figured out what the issue was after testing a couple of things. These things are not always clear from the documentation so the only way is trial and error.

TLDR; The solution is to change the docs to use the correct msi resource.

So I was getting a `AuthorizationPermissionMismatch` when Thanos was going to upload a blob, but the container was created without issues. This made me

[2021-05-10 09:04] phillebaba commented on #3957
Another point is that it was not enough for the SP to be Contributor for the Storage Account, it also needs to be Storage Blob Data Contributor.

[2021-05-10 09:13] bwplotka commented on #3081
There is GSoC project for that already, and we are starting soon!

[2021-05-10 09:15] #4209 closed

[2021-05-10 09:15] bwplotka commented on #4210
Thanks for spotting!

It's there btw: https://thanos.io/v0.20/thanos/getting-started/ but we miss  entry for v0.20 on
![image](https://user-images.githubusercontent.com/6950331/117635904-34811a00-b178-11eb-8960-e35d30cb9bc6.png) (https://github.com/thanos-io/thanos/blob/86fd8100612e8de5cd29e4d0d813346c50d110f1/website/hugo.yaml#L26)

Also hopefully we can have this lined and ensured better with  h

[2021-05-10 09:20] bwplotka commented on #4210
Actually @thisisobate found the root cause quite quickly: https://github.com/thanos-io/thanos/pull/4212

[2021-05-10 10:25] wiardvanrij commented on #3957
@phillebaba  thanks for the info.
The problem here is that I've made a feature to fix some things but I don't have explicit Azure knowledge. Not ideal but Azure really needed some 'upgrades'.

Therefore your (and others) input on the usage + documentation is 100% viable to make everything neat.

Could you perhaps propose some documentation addition/change so I can include that in the PR? Thanks so

[2021-05-10 11:34] phillebaba commented on #3957
I get that it can be issue developing without a "real" testing environment. I am just happy that you took the time to make the changes so the least I can do is test them :smile:

[2021-05-11 05:47] 2nick commented on #1014
I took a look at the querier's deduplication and compaction process and have some questions. :)

For example, we have "main" and "replica" instances of Prometheus.

They could start asynchronously and as a result, it's possible to have next blocks in s3:
main: block1[1am - 3am], block2[3am - 5am]
replica: block3[2am - 5am]

And of course, such overlapping blocks could be much more.

So the first q

[2021-05-11 09:32] nielsole commented on #903
Btw prometheus has now decided _that_ they want to implement it (not yet _how_): https://github.com/prometheus/prometheus/issues/1381#issuecomment-786234028
So [this approach](https://github.com/thanos-io/thanos/issues/903#issuecomment-573551446) might finally get some traction.

[2021-05-11 12:10] #4210 closed

[2021-05-11 13:34] trutty commented on #4121
We noticed that our Prometheus is currently throttling at around ~70% with 35 CPUs and 1582 jobs. I guess that is the reason for the slow response time, so we are first going to analyse this situation. Hopefully the response time will get better afterwards.

[2021-05-11 19:43] Kampe commented on #4203
Thanos doesn't support backfilling any data it seems.

[2021-05-11 21:35] yeya24 commented on #4014
Assign this to myself.

[2021-05-11 23:44] yeya24 opened #4222 "Replica labels shouldn't be added to exemplar labels"
**Thanos, Prometheus and Golang version used**:

Latest

**What happened**:

While working on #4221, I found for exemplar APIs, replica labels are added to both series labels and exemplar labels.

For example, one example response is:

[code]

Here `prometheus=ha` is the external label. It should be added to the series labels, but not to exemplar labels.

**What you expected to happen**:
`promethe

[2021-05-12 05:09] EmperorYP7 commented on #3112
Hello everyone! 🙋🏻
I'd like to work on this. I did submit my application for the same on the LFX Mentorship portal. Looking forward to learning a lot from the community! 🙌🏻

[2021-05-12 06:36] trutty commented on #4121
After refactoring our `ServiceMonitor` objects (thanks to https://github.com/prometheus/prometheus/issues/8014) and therefore reducing the number of scrape jobs (config size now at 2285k), the CPU usage dropped from ~30 cores to ~7 cores. Prometheus' response time of the config endpoint currently is < 0.5s. The mentioned "heartbeat failed" problem is therefore fixed.

Thanks @wiardvanrij for point

[2021-05-12 06:36] #4121 closed

[2021-05-12 08:27] OGKevin commented on #4177
Comment with some additional explanation: https://github.com/thanos-io/thanos/pull/4169#issuecomment-839574599

[2021-05-12 08:31] bwplotka commented on #4177
Agree, thanks for doing, looks like we are finally on the same page (:

[2021-05-12 18:06] narenreddycs opened #4225 "Data Gaps while Querying Aggregated Metrics via Thanos Queriers"
**Thanos, Prometheus and Golang version used**:
v0.20.0

**Object Storage Provider**:
AWS S3
**What happened**:
In out setup, different local prometheus send metrics to Thanos using remote write. Some aggreagated queries are working perfectly fine and for some others we are seeing gaps. Also, for the queries that are showing gaps, we are seeing raw(un-aggregated) metrics and when a time window agg

[2021-05-12 18:21] wiardvanrij opened #4226 "Sidecar: Block creation timing question, possible bug?"
_Note: logs are in reverse order in time (:_

I've got some Prometheuses that are somewhat unstable, so they received some OOM kills. Basically that's one thing needed to be fixed on my end, but what I noticed where gaps in our data. Especially when both replica's are getting killed in the same 'block creation time'.

What I noticed is that Prometheus should/is (?) creating those blocks every 2 ho

[2021-05-12 19:37] whitleykeith opened #4227 "[Question] Cross-cluster Federation for ephemeral clusters"
I'm a performance engineer for OpenShift and I'm looking into Thanos as a solution to a problem we have with metrics reporting in ephemeral clusters.

As a bit of context, my team routinely deploys ephemeral openshift clusters to do a number of different performance tests and then analyze the results to determine any regressions we see in upcoming releases. We frequently have to do manual snapshot

[2021-05-12 20:18] someshkoli commented on #4180
Created an initial draft for this, PTAL @wiardvanrij  @matthiasr

[2021-05-12 21:40] max77p commented on #977
Has anyone been assigned to this? Would love this feature. At the moment we can't connect http store if grpc tls config is passed in

[2021-05-12 22:03] wiardvanrij commented on #4227
Hi welcome!

Cool to read your use-case. If any, feel free to hop into our community meetings if you ever feel to discuss this more in-depth via non-text :)

Let me just start with that Thanos should be seen as a set of tools that you can leverage in quite some ways. Components can be used (or not), chained, ignored, etc. So there is a lot of flexibility.

That's actually not a problem. In fact, i

[2021-05-13 04:58] NBNARADHYA commented on #3112
Hey guys 🙋, I'm Nikhil.

I saw this project on the LFX projects and it needs a mentee for the project. I have applied for this project on the LFX Mentorship website and I would love to work on this ! 😃

[2021-05-13 05:00] NBNARADHYA commented on #4102
Hey guys 🙋‍♂️, I'm Nikhil.

I saw this project on the LFX projects and it needs a mentee for the project. I have applied for this project on the LFX Mentorship website and I would love to work on this ! 😃

[2021-05-13 05:32] mpritter76 commented on #4118
I'm also seeing the same issue and in my case running behind istio. query-frontend config is:
[code]

[2021-05-13 06:52] ethernoy opened #4230 "Thanos Receiver: local receiver not committing to TSDB block when forward fails"
**Thanos, Prometheus and Golang version used**:

- Thanos 0.19.0 (Bitnami image thanos:0.19.0-scratch-r0)
- Prometheus 2.26.0 (Bitnami image prometheus:2.26.0-debian-10-r6)
- Golang: not sure (this Thanos image is based on scratch OS, cannot run `go version` in it)

**Object Storage Provider**:

MinIO RELEASE.2021-02-14T04-01-33Z

**What happened**:

I was running a Thanos receive statefulset with

[2021-05-13 07:02] ethernoy commented on #4230
In addition, the case listed above is not the first time I encounter this situation. In another environment, there are 6 replicas of Thanos receiver, one of them "thanos-receive-4" encountered an unexpected overlap block issue:

![image](https://user-images.githubusercontent.com/15870761/118089792-58a05d80-b3fb-11eb-97ea-42639a85ee8e.png)

After the overlap issue occurred, thanos-receive-4 stopped

[2021-05-13 13:37] ffilippopoulos opened #4232 "Ruler: skips rule files based on their names without any error/warning log."
**Thanos version used**:

thanos image: quay.io/thanos/thanos:v0.17.2

**What happened**:

We run thanos-rule with the following flag:
[code]
to load rules from all the yaml files we put under the above location.
We use `kustomize` `configMapGenerator` to create a configMap with the needed files:
[code]
and mount it under the passed location:
[code]
As a result, we can see all the rule files mount

[2021-05-13 13:53] yashrsharma44 opened #4233 "Improvements on Thanos Compactor"
### Description of the Problem

Thanos Compactor has a large scope of improvement, particularly scaling out and running Compactor _concurrently_, so this umbrella issue tracks all the **expected improvements**, **proof of concepts** and **design proposals** for improving the Compactor.

### Describe the solution you'd like
There are a few important issues/discussions that are relevant to this issu

[2021-05-13 17:11] yeya24 opened #4234 "Exemplars API dedup possible miss data"
**Thanos, Prometheus and Golang version used**:
latest

**Object Storage Provider**:

**What happened**:

https://github.com/thanos-io/thanos/blob/main/pkg/exemplars/exemplars.go#L111

[code]

The deduplication step checks whether two exemplarData is the same by `exemplarsData[i].Compare(exemplarsData[j])`. However, the compare function https://github.com/thanos-io/thanos/blob/main/pkg/exemplars/e

[2021-05-13 19:32] yeya24 opened #4235 "Receiver and ingest exemplars via remote write"
### Is your proposal related to a problem?

Exemplars via remote write are supported in Prometheus v2.27.0. It would be nice to support ingesting exemplars to Receiver and query exemplars from it.

(Write your answer here.)

### Describe the solution you'd like

Similar to https://github.com/cortexproject/cortex/pull/4124.

I would suppose this can be split into multiple small prs.
1. Support inge

[2021-05-13 21:38] narenreddycs commented on #4225
This may not be relevant, as we not missing data while remote writing to Thanos. But, just wanted to mention that we are not using any hashring for the receivers. Ingestion flow is like the following

**Local Prometheus -> Remote Write -> AWS Network Load Balancer -> Thanos Receiver Replicas(_Not part of any Hashring_)**

Receiver config is
[code]
would the above ingestion setup cause any data gap

[2021-05-14 03:26] btdan opened #4236 "How to send metrics data from thanos to remote object storage for a fix period,such as every 30 seconds?"
Hi, I want to know is there a method to set the time to send metric data from thanos to remote object storage?
For example, every 30 seconds I want to send new metric data from thanos to remote object storage.
Thanks very much.

[2021-05-14 05:13] btdan commented on #4203
Hi, the parameter and value  --tsdb.retention=3h   means that the raw samples will be retrained on local storage from 3 hours. There is nothing to do with the frequecy of sending data to the remote object storage such as S3.
I think so.
I am also puzzling about how to set the frequecy of sending data to the remote object storage with the command  thanos receive

[2021-05-14 06:49] heartTorres commented on #4203
I have set it to 1h and data were sent to S3. So we  decided to use 1h for now. I'll close this ticket. Thanks

[2021-05-14 06:49] #4203 closed

[2021-05-14 14:45] wiardvanrij commented on #4230
When I read it like this, I assume we should alter the healthy state of such instance. I'm pretty sure that if the instance without storage would be killed (so for k8s == unhealthy) than it would/should be removed from the ring.

In your case; if `receiver-2` would exit fatal (the disk is full == unhealthy, so that would make sense maybe), that should resolve the rest. Or.. we should check respons

[2021-05-14 14:49] #4122 closed

[2021-05-14 15:07] someshkoli commented on #4232
Is this issue in some way related to #4105 ?

[2021-05-14 15:21] ethernoy commented on #4230
@wiardvanrij  I think for the disk-full situation, the receivers should react differently according to their status:

- the disk-full receiver: should go into unhealthy state/terminate/start to clean up old block or WAL logs to make space
- other receivers within the same hashring: should at least continue to serve receive requests and enforce retention policy normally. It will be a plus if they c

[2021-05-16 10:03] Aman-Codes commented on #3775
Hi @bwplotka
I am interested in working on this issue. Now as dark theme is added in Prometheus ([#8604](https://github.com/prometheus/prometheus/pull/8604)), so shall I start working on adding dark theme in Thanos UI?

[2021-05-16 16:37] yeya24 commented on #1014
@2nick I am looking at the same thing. It is a little bit sophisticated and I think the grouping approach in #1276 is similar to what you mentioned.

IMO the grouping part of offline deduplication can reuse the existing tsdb planner. We don't need to group into 2 groups in this case. We can do it in 2 iterations:
1. block1 + block3 -> new block [1am - 5am]
2. new block + block2 -> result [1am - 5a

[2021-05-17 05:46] GaoJiasheng opened #4240 "Store: max time is less than min time"
**Thanos, Prometheus and Golang version used**:
thanos version: Thanos 0.19.0-rc.0
go version:   go 1.15.6

**Object Storage Provider**:
S3

**What happened**:
according to the /stores api of thanos-query, the max time is less than min time
![image](https://user-images.githubusercontent.com/5546200/118437340-0326c200-b715-11eb-93a8-64472468b9fd.png)
![image](https://user-images.githubusercontent.c

[2021-05-17 07:31] wiardvanrij commented on #4226
One more person in Slack had this as-well

[2021-05-17 07:39] wiardvanrij commented on #4226
After debugging, I noticed we had a storage issue, causing to miss data. This resulted in this expected behaviour (:

[2021-05-17 07:39] #4226 closed

[2021-05-17 09:30] #4131 closed

[2021-05-17 10:43] 2nick commented on #1014
After some thinking I've decided that it's "good enough" approach as it allows to move forward. :)

Really great that you are in it! Looking forward to offline dedup! :)

[2021-05-17 11:41] Gangaram-Dewasi opened #4241 "Thanos S3 access denied on istio-enabled"
**Thanos, Prometheus and Golang version used**:
Prometheus-kube-stack helm: 15.2.0

      Prometheus:
          Repo and version: quay.io/prometheus/prometheus:v2.26.0

Thanos:

    thanos:v0.13.0

**Object Storage Provider**: S3 ( us-west-2 region)

**What happened**:
When we enabled `istio-injection` on the monitoring namespace, the sidecar + other thanos components stopped working with AWS S3 a

[2021-05-17 12:58] 2nick commented on #3985
I'm trying to figure out the way of reporting progress and think that there are 2 possible ways:

1. API with JSON response
2. Prometheus metrics

In my opinion for both ways would be enough to give out:
- block id
- group id for the block
- compaction state of the group
- compaction state for the block

Probably it's reasonable to give a time of block's state change as a metric value.

OFC it's p

[2021-05-17 19:29] #3958 closed

[2021-05-18 07:14] phillebaba commented on #3957
@wiardvanrij is there anything I can help with to move this issue forward?

[2021-05-18 07:57] wiardvanrij commented on #3957
I'm waiting for an other PR as this includes something I really want to use. This makes everything a bit better code-wise :)
Would expect this feature to be included in new release, at least that is my intend.

[2021-05-18 08:02] phillebaba commented on #3957
Great, in that case I will hang back :)

[2021-05-18 09:18] yasharne opened #4244 "Thanos compact is not deleting the old series"
**Thanos, Prometheus and Golang version used**:
Thanos 0.20.1 with go1.16.3

**Object Storage Provider**: S3

**What happened**:
When I run the sidecar for the first time, I ran it with the flag `--shipper.upload-compacted` to upload the older blocks to the S3 (blocks until April 25th in the picture), then I stopped it and now it is running without the `--shipper.upload-compacted` flag
Then I depl

[2021-05-18 11:35] mhulscher commented on #1979
What I found is that for us, i/o timeouts from `thanos-store|thanos-query-gateway -> memcached` are strongly correlated with memcached its hitting its CPU limit. In other words once memcached is hitting 100% CPU we are seeing i/o timeouts.

This, in turn seems highly correlated to `max_get_multi_batch_size`. If set to `0` memcached chokes very quickly, causing both put-key and get-key operations t

[2021-05-18 11:54] timkra opened #4245 "Sidecar: Blocks not uploaded with KMS encryption enabled"
**Thanos, Prometheus and Golang version used**:

- Thanos: v0.19.0
- Prometheus: v2.26.0
- Golang: 1.15

**Object Storage Provider**:
S3

**What happened**:
I configured S3 Server-Side Encryption, whenever the sidecar component tries to upload a new block an error is raised and the upload fails.

**What you expected to happen**:
Blocks are beeing uploaded to S3.

**How to reproduce it (as minimall

[2021-05-18 11:58] mhulscher commented on #1979
Also, I noticed that query results were not stored in memcached by thanos-query-frontend, not only because memcached was hitting 100% CPU but also because our `max_item_size: 16MiB` was too small. thanos-query-frontend was logging errors that were returned by memcached, saying that the stored items were too big.

We increased the max item size to 64MiB:

[code]

And we reduced the range of the que

[2021-05-18 13:29] Robbie558 commented on #3739
Hey @kakkoyun, I am experiencing the same issue, and am also on v0.17.2.

We are running a single compactor instance on a K8S cluster, pushing to an S3 bucket.  We do not see any shut downs / restarts of the compactor pod.  Our retention configuration is as follows:

[code]

This is occurring only on our production instance. We have an integration instance on the same version and with different re

[2021-05-18 15:20] narenreddycs commented on #4225
Hi @bwplotka @squat any pointers on why these data gaps are happening? Very much appreciate your help.

[2021-05-18 15:53] nicolai86 commented on #3442
@bwplotka do you have some details why thanos validates no out of order chunks/ samples exists, where in prometheus it seems out of order chunks/ samples are just discarded?

[2021-05-18 16:04] adithyapaib opened #4246 "UX improvement of thanos.io"
### Is your proposal related to a problem?

I would like to make the site improve the UX of the thanos.io website

[2021-05-19 12:06] songleo opened #4251 "thanos-store-shard-0 pod crash in OCP 4.8"
I installed Thanos ( quay.io/thanos/thanos:master-2020-08-12-70f89d83 ) via observatorium-operator, found thanos-store-shard-0 pod crash, and get the following log:

[code]

[2021-05-19 12:18] onprem commented on #3775
This issue number is an anagram of prometheus/prometheus#7735

Coincidence? Dark ~theme~ magic.

[2021-05-19 12:25] songleo commented on #4251
but in OCP 4.6, I use the same image to install it, and  I can not reproduce this issue.

[2021-05-19 13:25] bwplotka commented on #3775
![](https://media4.giphy.com/media/yx4Hg5zO2q7Pf1cCBN/giphy.gif)

[2021-05-19 13:28] anoop2503 opened #4252 "Thanos Query Frontend: Caching is inefficient for the queries which have aggregate operators"
**Thanos, Prometheus and Golang version used**:
Thanos version: v0.18.0
Prometheus version: v2.24.1

**What happened**:

Caching on Thanos Query Frontend is not working effectively for the queries which have aggregate function with "by"
Sample Query:
`sum(metric_name{label1="", label2="", label=""}) by (label1)`

This kind of query through thanos query frontend is always taking the same amount of

[2021-05-19 15:38] yeya24 commented on #4252
@anoop2503 Thanks for raising this. However, query frontend caches everything returned by the downstream qurier, no matter your promql query has aggregate operators or not.

I am not sure why you are seeing totally different latencies with and without `by`. Are you running range queries for both queries? Only range queries results will be cached.

[2021-05-19 15:39] GiedriusS commented on #4252
I'm not sure that I am able to reproduce this. Also, I have checked out the source code and looks like the whole query get used as part of the key: https://github.com/thanos-io/thanos/blob/main/pkg/queryfrontend/cache.go#L37

[2021-05-19 20:28] whitleykeith commented on #4227
Hey thanks for the response! This helped us look at the different options so we definitely appreciate the different designs.

For the remote_write option, how does the data from the receivers get uploaded to S3? Does the receiver behave similarly to the sidecar in that regard?

[2021-05-20 07:21] flaker opened #4256 "Thanos Store will go into OOM instead of degrading or providing a helpful error."
Thanos: 0.20.1
Prometheus: 2.19.0 (go1.14.4)
Golang: 1.16.3

/ # /bin/thanos --version
thanos, version 0.20.1 (branch: HEAD, revision: 10023e4882414baa56a8955057f2678f1e724e8c)
  build user:       circleci@22b1af3c9a07
  build date:       20210430-12:46:55
  go version:       go1.16.3
  platform:         linux/amd64

**Object Storage Provider**: S3

**What happened**:

When querying > 7 days of da

[2021-05-20 08:59] pete-leese commented on #1318
What is the current status of this? :)

[2021-05-20 09:09] Abhishek357 opened #4257 "e2e: Receiver Test"
**Thanos, Prometheus and Golang version used**:
Thanos: latest image, Golang: 1.16.3

**Object Storage Provider**:

**What happened**:
Receivers e2e test for hashring fails.
Networks are also not cleaned after running tests, we have to manually prune them.
**What you expected to happen**:
e2e tests should pass and networks should be cleaned after the test fails or passes.
**How to reproduce it (as

[2021-05-20 09:39] Biswajitghosh98 commented on #3750
I'm working on this issue and we have an ongoing progress, and this is expected to be fixed soon :)

[2021-05-20 12:51] jalev opened #4260 "Mixin: Rule generation fails if component is excluded"
**Thanos, Prometheus and Golang version used**: x

**Object Storage Provider**: x

**What happened**:

When excluding `receive` I found the rule generation part of mixins no longer worked.

**What you expected to happen**:

Rule generation doesn't error out.

**How to reproduce it (as minimally and precisely as possible)**:

In your mixin config:

[code]

When generating the rules, the entire gene

[2021-05-20 12:52] jalev commented on #4260
First pass at solving the problem in #4260

[2021-05-20 12:59] jalev opened #4261 "Feature: Mixin: Make lowercasing of runbook anchors optional"
### Is your proposal related to a problem?

Github is the superior place to put runbooks, but if you happen to be in an Org where that isn't necessarily the practice and use something which supports CamelCasing url anchors (e.g. Atlassian Confluence) you will want your runbook URLs to look prettier.

### Describe the solution you'd like

Let's make the anchor lowercasing something you can opt out

[2021-05-20 14:38] strus38 opened #4263 "running thanos in a K8S cluster without internet access"
### Is your proposal related to a problem?

Currently, it seems that Thanos is requiring getting its JS script from internet:
https://github.com/thanos-io/thanos/blob/main/pkg/ui/templates/bucket.html
This is a blocking point for air-gapped K8S cluster.

### Describe the solution you'd like

Provide all the necessary scripts if internet is not accessible.

[2021-05-20 15:58] #4257 closed

[2021-05-20 16:13] bwplotka commented on #4256
Valid point. There is no max memory in the Go option, unfortunately, but there is a lot we can do to have a similar experience.

Before we start thinking about future improvements, can you check existing limits store GW offers?

[code]

Source: https://thanos.io/tip/components/store.md/

[2021-05-20 17:34] yeya24 opened #4266 "Investigate TestTSDBStore_SeriesAccessWithDelegateClosing and chunks writability"
https://github.com/thanos-io/thanos/pull/4247 updates Prometheus dependency and includes upstream pr https://github.com/prometheus/prometheus/pull/8723.

This makes test https://github.com/thanos-io/thanos/blob/main/pkg/store/tsdb_test.go#L450 indeterministic. Some chunks are writable and some chunks are still not writable. We skip this test case for now and we need more investigation on it to see

[2021-05-20 19:16] aeugenio commented on #4118
we are also seeing the same error with the query component

[code]

[2021-05-20 21:08] wiardvanrij opened #4267 "Changing the thanos_store_nodes_grpc_connections implementation"
## Intro

I wanted to make a brand new issue to include all information from previous issues/pull-requests and slack discussions into one fresh issue. I will provide some extra context and background information. This should resolve some discussions we are having and move this forward. I feel this is useful as this had quite some discussions before over quite some period.

## Is your proposal rela

[2021-05-20 22:24] wiardvanrij commented on #4263
Seems logical to do. Note to whoever wants to pick this up; perhaps check if any other components or places contain external resources.

[2021-05-20 22:27] wiardvanrij commented on #4246
We are always open to suggestions and improvements. Could you make this more actionable? I.e. propose what you have in mind? Thanks!

[2021-05-20 22:58] flaker commented on #4256
Hi @bwplotka thanks for your answer.

So I took this dashboard that I know can OOM our store easily and tailored the options you mentioned to numbers that allow for 1 week of data to be retrieved without a debug message complaining about some limit (well, actually only one that seemed way higher than the rest). I.e.:

[code]

As soon as I query for 3 weeks, I will go into an OOM again. So it's lik

[2021-05-21 03:19] Aman-Codes commented on #4263
I would like to work on this issue.

[2021-05-21 09:12] timkra commented on #4245
I did some further testing and found that setting `kms_encryption_context` with any key/value pair results in the block beeing uploaded.

The current Objectstore config is as:
<details>objstore.yml
<p>

[code]

</p>
</details>

[code]

[2021-05-21 09:38] #4260 closed

[2021-05-21 11:20] dgrizzanti commented on #4267
@wiardvanrij thanks for digging into this and creating the new issue. I think having all this context is incredibly helpful and gives the correct amount of background for us to make in an informed decision 🙂

That being said, I'm good with Solution 1 or 2, though I think Solution 1 is likely more straightforward.

[2021-05-21 11:32] bwplotka commented on #4267
Well, that's only partially true. "Update the health check logic to properly handle the case when a node disappears in terms of a caching layer." - let's be specific. I think `strict` was added to make sure that:

* We have response caching.
* We have a store that is down, and ofc k8s service discovery take down store out of DNS result, so Querier can't see that there was previously any store if d

[2021-05-21 11:34] onprem commented on #4128
This got fixed recently and we have a new Thanos release v0.20.2 out with the fix. :)

[2021-05-21 11:34] #4128 closed

[2021-05-21 13:03] milonjames commented on #2982
I am facing this issue with Thanos v0.20.1 and Prometheus v2.11.0 version. In my case Thanos receive PODs end up using all the CPU available in the node and throw these errors. Anyone managed to tackle the issue or find any workarounds ? @kakkoyun

[2021-05-21 14:28] anoop2503 commented on #4252
yes @yeya24 I am using the range queries. Please see the queries which I used for checking this.

**First Query:**
`http://test.thanos-frontend.com/graph?g0.range_input=1800s&g0.end_input=2021-05-17%2018%3A35&g0.step_input=30&g0.max_source_resolution=0s&g0.expr=sum%20(rate%20(container_network_receive_bytes_total%7Bimage!%3D%22%22%2Cname%3D~%22%5Ek8s_.*%22%2Cinstance%3D~%22%5E.*%24%22%2Cpod_name%3

[2021-05-21 15:17] yeya24 commented on #4252
Again this is not related to the topic of aggregate operators as query frontend doesn't parse promql query so it doesn't know about operators, exprs, etc.
But I suspect the first query results are not cached. Could you please share the cache configuration you are using?

[2021-05-21 15:27] anoop2503 commented on #4252
Thanks @yeya24 looking into this. Here is the configuration details.

**Deployment:**

[code]

**Configmap:**

[code]

[2021-05-21 15:31] yeya24 commented on #4252
@anoop2503 Looks like the only way the results are not cached is that the returned response is larger than 1M. I feel it is impossible for your first query?

[2021-05-21 15:44] #2982 closed

[2021-05-21 16:17] anoop2503 commented on #4252
@yeya24 Is there any easy way to check the exact size of the returned response?

I don't think the returned response is larger than 1M. Anyway I tried increasing the values in the configuration like below. However, I don't see any difference in the performance even after using below configurations.

**Updated configmap:**
[code]

**Memcached configuration:**

[code]

[2021-05-21 19:28] Kampe commented on #2620
We would also like the ability to store blocks locally for a duration for queries on "edge" sites to be useful.

[2021-05-21 20:12] onprem commented on #4227
Yes, Receivers have Prometheus TSDBs running internally which produces a block every 2 hours by default, which then gets uploaded to the S3 bucket.

[2021-05-21 20:35] onprem commented on #4263
Ah sorry I missed this. Vendoring the Google charts library is against their terms so we can't really do anything about that. Our solution was to not use Google Charts at all and we are doing that in the New React based UI (which works without internet access).

[2021-05-22 06:47] strus38 commented on #4263
Exactly, using the new ui makes it working. Then what should be done is maybe just an option to remove the 'classic ui' button from the interface, so nobody is tempted to use it in an air-gapped environment. Would that be possible?

[2021-05-22 08:45] #4132 closed

[2021-05-22 11:20] #3775 closed

[2021-05-22 22:13] onprem commented on #4263
Yes, we are planning to remove the Old UI completely in future (there's already a PR open for that).

[2021-05-24 14:38] anoop2503 commented on #4252
Any idea about this issue?

[2021-05-24 15:16] yeya24 commented on #4252
Can you please check the cache metrics to see your requests really hit the cache or the query result is really cached? Like `cortex_cache_hits`.
You can also check whether your Memcached has the cached query entry using some Memcached tool.

Besides, a query can only partially hit the cache as well, e.g. only part of the requested time range are cached. In this case, it sends another request to do

[2021-05-25 11:54] Gangaram-Dewasi commented on #4241
@here any update on this ?

[2021-05-25 12:56] dgrizzanti commented on #4267
@bwplotka one clarification question on this point. Can we define what we mean by "dynamic" here? Based on the current definition for passing in `--store`

[code]

I'd say the `dns+` and `dnssrv+` would be dynamic and anything else (IP or hostname + port) are static. Also, based on how I believe `--store.sd-files=<path>` works, that takes a list of IP/hostname combinations as well so those should

[2021-05-25 15:06] whitleykeith commented on #4227
Do those blocks get retained in memory and on any disk for the receiver? I can see that the receiver writes it to disk, but my receiver seems to never actually free memory until after the retention period.

[2021-05-25 16:11] adithyapaib commented on #4246
I would like to fix various white spacing and negative spacing issues,
The font of the website can be changed,
would like to add a meta-theme tag for better a UX on phones
would like to add color to the scroll bar (the colors mentioned here are the same as the purple color of thanio.io theme)

[2021-05-26 07:32] songleo commented on #4251
refer to https://github.com/open-cluster-management/backlog/issues/12159

[2021-05-26 15:25] #4222 closed

[2021-05-26 16:59] yeya24 commented on #4244
@yasharne How is the raw blocks retention configured in the compactor?

[2021-05-27 00:25] onprem commented on #4227
Yes, they are written as normal TSDB blocks to the disk, you can customize to location using `--tsdb.path` flag.

Receiver is internally using the Prometheus TSDB implementation so it shouldn't be doing anything special. I remember Prometheus uses mmap for fast access to the data and the memory usage might be related to that.

Those are because Receiver currently doesn't ingests metric metadata us

[2021-05-27 01:40] songleo commented on #4251
@yeya24 yes, I think should be.

[2021-05-27 11:56] GiedriusS opened #4278 "tools bucket replicate: concurrent replication"
### Is your proposal related to a problem?

Replication is currently slow.

### Describe the solution you'd like

`tools bucket replicate` could upload a few objects at a time instead of one by one

### Describe alternatives you've considered

Copying the objects with some other tool but `tools bucket replicate` is way too convenient because you can use two completely different object storage prov

[2021-05-27 12:35] OGKevin opened #4280 "ruler: probes are not started while WAL is being replayed"
**Thanos, Prometheus and Golang version used**:
Thanos: [20e8105ec5b697a4755f2ff735509924173bd5cf](https://github.com/thanos-io/thanos/tree/20e8105ec5b697a4755f2ff735509924173bd5cf)

**What happened**:
Ruler crashed and was restarted, it now needs to replay the WAL. However, the probes are started after the WAL has been read, This code
https://github.com/thanos-io/thanos/blob/f2564a7afabe930e78958

[2021-05-27 17:42] #3069 closed

[2021-05-27 18:51] whitleykeith commented on #4227
So I stopped remote_write for all clusters except for the one Thanos is hosted in (relatively small cluster with little activity) and even overnight the memory footprint was still a massive 250gb/pod. The disk usage on each pod was less than 10gb each which doesn't seem to make sense to me? Moreover, once I killed the pod and let them come back up it's only using around 1gb/memory each. Maybe this

[2021-05-28 07:13] #3779 closed

[2021-05-28 09:40] Jakob3xD opened #4283 "Compactor: Make debug.max-compaction-level Public"
### Is your proposal related to a problem?

One of my minio servers has a compactor running with a retention set to 30 Days for all resolution.
Currently the compactor creates blocks with a duration of 14 days. This can leads to an storage issue as only every two weeks blocks get removed by moving out of the retention time frame. More over the downsampler creates high storage peaks while creating

[2021-05-28 10:35] aapelismith opened #4284 "Thanos needs to support OSS authentication without configuring AccessKeyId and AccessKey"
### Is your proposal related to a problem?

Thanos needs to support OSS authentication without configuring AccessKeyId and AccessKey.
(Access via ECS binding role)

### Describe the solution you'd like
The Alibaba Cloud OSS SDK does not support AssumeRole in any way.
For reference, here are some code examples:

[https://github.com/hashicorp/terraform/blob/d35bc0531255b496beb5d932f185cbcdb2d61a99/i

[2021-05-28 11:00] omron93 commented on #981
@bwplotka Was this already done? Or is there a config change to workaround this issue? We see the same issue with thanos 0.18.0

[2021-05-28 11:19] jppitout commented on #3386
@stylianosrigas We are having precisely the same issue.
Was it the Bitnami Helm chart? How did you get around this in the end?

[2021-05-28 11:52] stylianosrigas commented on #3386
Hey @jppitout yes it was the Bitnami Helm chart. I managed to sort this out by creating the Thanos rules as a configmap and then specifying the configmap in the `existingConfigmap` section of the Thanos Ruler.

[2021-05-28 11:55] aapelismith commented on #4284
Aliyun ecs metadata server  address:

http://100.100.100.200/latest/meta-data/ram/security-credentials/

you can get AccessKeyId and AccessKey via http://100.100.100.200/latest/meta-data/ram/security-credentials/{role_name}

[2021-05-28 18:28] #4256 closed

[2021-05-29 05:52] yasharne commented on #4244
Hi @yeya24
There no retention configuration on the compactor, here are the flags:
[code]

[2021-05-29 05:55] yeya24 commented on #4244
If retention is not configured, old series won't be deleted.

[2021-05-29 05:56] yasharne commented on #4244
@yeya24 even if the source is `sidecar`?

[2021-05-29 05:58] yasharne commented on #4244
![image](https://user-images.githubusercontent.com/7656049/120059746-870f7100-c068-11eb-84c2-5d34168f2b15.png)
The Old block is from April 14th and the compactor has also compacted this block but the main block which is coming from the sidecar is not deleted
@yeya24

[2021-05-29 06:21] yeya24 commented on #4244
@yasharne No matter what `source` you have, you need to configure retention to delete old blocks.
I will close this issue as it is a configuration problem. Let me know if you have further questions.

[2021-05-29 06:21] #4244 closed

[2021-05-29 16:15] max77p commented on #915
@cloudcafetech did you try 2m?

[2021-05-29 18:04] max77p commented on #1120
@vic3lord where is the --data-dir flag on your config?

[2021-05-29 18:09] max77p commented on #1120
@bwplotka is it possible to test the upload without having to wait 2h? Its a little tough to make sure everything is working when this happens every 2 hours

[2021-05-29 18:26] max77p opened #4287 "Shipper doesn't upload to azure storage but no indication of errors. Azure storage container is empty after more than 2 hours"
Thanos, Prometheus and Golang version used
Thanos: 0.18.0-scratch-r5 (helm chart)
Prometheus: v2.21.0

**What happened**

I have a sidecar with Azure storage account config set correctly, I have no errors and the bucket is still empty. I left it overnight and still it was empty, tried different min and max block duration like 1m to the recommended 2h, but nothing. This is an openshift cluster, but

[2021-05-30 10:28] Itaachime commented on #4278
/assign

[2021-05-31 12:33] juzhao opened #4289 "port for 'store_gateway' job should be 19091 in thanos tutorial"
thanos tutorial
https://katacoda.com/thanos/courses/thanos/2-lts
step 1, prometheus0_eu1.yml file
[code]
port for 'store_gateway' should be 19091 compared with step 3
Deploying store for "EU1" Prometheus data part

[2021-05-31 15:08] anoop2503 commented on #4252
Any other suggestions on this?

[2021-05-31 15:28] yeya24 commented on #4252
@anoop2503 I don't think the caching part is wrong as query frontend caches response only and it doesn't know what promql is running.

I am not sure why the first query is not cached but it looks like a configuration issue or something else. Please take a look at the metrics exposed by the query frontend first as it tells why these weird things happen in the first place.  If it is possible, you ca

[2021-05-31 19:24] yashrsharma44 commented on #3141
Could you elaborate on the fact that why we need to swap the tsdb data before we could flush it?

[2021-06-01 04:05] onprem commented on #3141
When we are flushing a TSDB instance, it can't ingest any new samples. This means that during such situations (when we are flushing the TSDB) the Receiver becomes unready. To avoid this, we can start a new multiTSDB and switch to that for ingestion, while in background, we flush the old multiTSDB.

[2021-06-01 04:15] #4014 closed

[2021-06-01 04:22] yashrsharma44 commented on #3141
So effectively we are switching to a new multiTSDB rather than swapping data, the original statement was little misleading.

[2021-06-01 07:44] squat commented on #3141
Let's be careful with our words here: I don't think there is anything"misleading" in the text, as that implies negative intent.

"Our plan is for Thanos Receive to create a new multi-TSDB instance to replace the multi-TSDB instance it is using to ingest data."

To me, this says exactly what you paraphrased from Prem. It never mentions swapping data, only swapping, ie replacing TSDBs.

Maybe it was

[2021-06-01 07:51] yashrsharma44 commented on #3141
Sure, I didn't mean the statement as "misleading", but more like "unclear", should have correctly used the adjective 😅.

Regarding the swap, I got confused with swapping the data of oldTsdb into newTsdb.
Especially this statement -

Suggests that we might be _moving data_ or _switching to new tsdb_ which is not clear, hence the confusion 😛

[2021-06-01 08:42] KamalSinghKhanna commented on #4232
I would like to work on this issue suggest me way to proceed

[2021-06-01 13:05] uhthomas opened #4293 "Proposal: Environment Variables Substitution for PathOrContent flag."
As part of the [v0.2.0 - 2018.12.10 changelog](https://github.com/thanos-io/thanos/blob/464f8fb61c375543145eeb6a6ffc2c06a6819299/CHANGELOG.md#v020---20181210), the following environment variables are deprecated:
- S3_BUCKET
- S3_ENDPOINT
- S3_ACCESS_KEY
- S3_INSECURE
- S3_SIGNATURE_VERSION2

What are the alternatives? Why do these still exist in the quickstart if they are deprecated?

The environm

[2021-06-01 13:09] uhthomas commented on #4293
Reading the code further, it looks like these environment variables are only used for tests.

What is the recommended way to substitute environment variables into the Thanos config?

[2021-06-01 13:51] max77p commented on #2857
@shootkin If i have lets say A, B and C prometheus with sidecar attached to each and all three uploading to object storage. But only C has storegateway deployed to reach from object storage. How would I read recent data, instead of 6h?

[2021-06-01 16:53] bwplotka commented on #4280
Valid bug. Maybe @ianbillett want to try to fix it? 🤗

[2021-06-01 16:54] bwplotka commented on #4280
BTW note that we are close to make stateless ruler happen (https://github.com/thanos-io/thanos/pull/4250), but WAL will be still there 🙃

[2021-06-01 17:15] 123BLiN commented on #4093
Also interested in @marcolan018 question

[2021-06-01 17:49] bwplotka commented on #4293
Thanks for reporting. The recommended way is to use Kubernetes eval substitution and direct flag content passing when running on k8s or some sed pre-exec command.

## Proposal

I would like to actually propose something more versatile. Already commented: https://github.com/bwplotka/mdox/pull/33#discussion_r642991603 (cc @saswatamcode) the idea would be to extend our `PathOrContent`  struct to enab

[2021-06-01 17:50] bwplotka commented on #4293
Changed the title of this issue, let me know if that makes sense

[2021-06-01 18:14] vibgy opened #4294 "Compact: Unknown long flag '--compaction.concurrency'"
Unknown flag

[code]

**Thanos, Prometheus and Golang version used**:
[code]

**Object Storage Provider**: GCS

**What happened**: Command line flag `compaction.concurrency` is not working

**What you expected to happen**: Should be able to set `compaction.concurrency` on the command line

**How to reproduce it (as minimally and precisely as possible)**: Try the command: `thanos compact --compacti

[2021-06-01 18:22] squat commented on #4294
Hi @vibgy the flag is supposed to be `--compact.concurrency`, not `--compaction.concurrency`. Did you find this indirect flag in a document somewhere? If so, let's correct that.

[2021-06-01 19:37] wiardvanrij commented on #4284
Do you mean this? https://thanos.io/tip/thanos/storage.md/#aliyun-oss

[2021-06-01 21:15] soniasingla commented on #4278
@Itaachime feel free to raise PR whenever ready or if you have questions, ask them here/slack!! 🤗

[2021-06-01 21:18] max77p commented on #1435
@jojohappy what disadvantages are there if setting min and max to less than 2hr?

[2021-06-01 22:40] vibgy commented on #4294
Ah. The docs here uses `--compaction.concurrency`  - https://github.com/thanos-io/thanos/blob/f2564a7afabe930e789588ad0397a2b539a4ff79/docs/components/compact.md#cpu

[2021-06-02 02:30] ethernoy opened #4296 "Compactor: compact blocks [...]: populate block: chunk iter: cannot populate chunk 8: segment index 0 out of range"
**Thanos, Prometheus and Golang version used**:

Thanos: 0.19.0 (Bitnami image: thanos:0.19.0-scratch-r0)

**Object Storage Provider**:

minio:RELEASE.2021-02-14T04-01-33Z

**What happened**:

Thanos Compactor reported this log and crashed.

[code]

**What you expected to happen**:

Thanos Compactor can work normally

**How to reproduce it (as minimally and precisely as possible)**:

N/A (don't kn

[2021-06-02 07:20] kakkoyun commented on #4093
There are two hidden flags to control this behavior. They are the same as in Prometheus. You can check Prometheus for further explanation.
https://github.com/thanos-io/thanos/blob/ea8cf4928890efde24e7cbddcb2036f5563eff4a/cmd/thanos/receive.go#L753-L755

I hope this would help you.

[2021-06-02 07:34] OGKevin commented on #4280
Cool, I'm also happy to work on this. Was just not sure if this was an actual bug or not.

[2021-06-02 08:55] ianbillett commented on #4280
@OGKevin nice report! Since you reported the bug, you have the right to fix it . It doesn't seem _too_ complicated, so a nice opportunity for you to get a commit into the Thanos code base :)

To fix, I think we just need to change the ordering of the ruler startup (as you point out above) so that we initialise the probes, and mark ourselves as healthy before then initialising the TSDB.

[2021-06-02 09:31] ianbillett commented on #2600
@hitanshu-mehta are you currently implementing this proposal? If so let's add you as the assignee of this ticket so it is 'official' :)

[2021-06-02 10:11] OGKevin commented on #4280
So due to the current dependency chain, the current order makes sense.

HTTP and GRPC server need Rule Manager,  Rule Manager needs tsdb.

I can think of 2 solutions atm:
1. Start HTTP server first with probes, and later register the additional `/api` routes to HTTP and start GRPC server once Rule Manager has been set up.
2. Create some "complex" implementations for HTTP and GRPC server that run f

[2021-06-02 15:12] #4294 closed

[2021-06-02 16:05] der-eismann commented on #1851
till needed.

[2021-06-02 16:23] dgrisonnet commented on #3990
This issue is still valid.

cc @arajkumar @slashpai can please have a look once you have some time on your hands?

[2021-06-02 16:24] dgrisonnet commented on #3915
This issue is still valid.

cc @arajkumar @slashpai can please have a look once you have some time on your hands?

[2021-06-02 16:24] ianbillett commented on #4130
Hey @Hangzhi :wave: - are you working on this? I can't see any active branches or forks. If not - I'm happy to take this on.

[2021-06-02 18:55] spaparaju commented on #3964
The idea behind this knob is to protect, configure resources at Receiver pods

[2021-06-02 21:23] bwplotka commented on #4289
Nice, thanks for pointing, help wanted to fix it!

[2021-06-03 01:58] Hangzhi commented on #4130
@ianbillett Please take this on! Sorry for leaving this inactive.

[2021-06-03 04:21] #3758 closed

[2021-06-03 04:34] arvidsnet commented on #3554
still needed

[2021-06-03 04:37] yeya24 commented on #3213
Is this still valid?

[2021-06-03 04:41] yeya24 commented on #3745
Close this issue as lacking of response. If it is not resolved, feel free to open it.

[2021-06-03 04:41] #3745 closed

[2021-06-03 04:44] yeya24 commented on #2511
Is this still valid? There is promql compliance test

[2021-06-03 04:46] yeya24 commented on #2626
Is this still valid and what's the action item?

[2021-06-03 05:07] slashpai commented on #3990
@dgrisonnet ya I can take a look at this one

/assign

[2021-06-03 05:16] onelife opened #4298 "tools bucket rewrite: invalid memory address or nil pointer dereference"
I'm trying the series deletion feature and got the following error.

[code]

Dry run has no issue. The test is done by thanos `v0.20.2` and S3.
Following is the output of ` tools bucket inspect`.

[code]

I tried several (but not all) blocks (source==compactor) and only rewriting block `01F6Q0FVT6X0HYATRCS7DY878M` has no error.

[2021-06-03 05:33] yeya24 commented on #4298
Thanks for reporting this issue. Bucket rewrite tool only works for not downsampled blocks (res=0) currently.

We need to mention it in the docs.

[2021-06-03 07:33] OGKevin commented on #3213
I do have a use case for this, atm I've had to manually define always firing alerts. So to have this build in ruler would be nice. If @bwplotka can write criteria/design etc I would love to have a look at implementing it.

My idea: check if downstream prom API's are reachable and if so continue to fire the alert. If it's not reachable, stop firing the alert. In case AM is down the heartbeat also f

[2021-06-03 08:20] jmichalek132 commented on #3932
Still relevant

[2021-06-03 08:21] jmichalek132 commented on #3927
Still relevant

[2021-06-03 08:21] jmichalek132 commented on #3926
Still relevant

[2021-06-03 08:32] aapelismith commented on #4284
@wiardvanrij yes

[2021-06-03 09:16] kakkoyun commented on #305
Still valid.

[2021-06-03 09:17] kakkoyun commented on #3478
Still valid.

[2021-06-03 09:17] kakkoyun commented on #3066
Still valid.

[2021-06-03 09:18] kakkoyun commented on #2890
Still valid.

[2021-06-03 09:20] kakkoyun commented on #3219
Still valid.

[2021-06-03 09:20] kakkoyun commented on #3220
Still valid.

[2021-06-03 09:21] kakkoyun commented on #3793
Still valid.

[2021-06-03 09:53] kakkoyun commented on #3819
Still valid.

[2021-06-03 09:53] kakkoyun commented on #3820
Still valid.

[2021-06-03 09:53] kakkoyun commented on #3373
Still valid.

[2021-06-03 09:53] kakkoyun commented on #3821
Still valid.

[2021-06-03 09:54] kakkoyun commented on #3839
Still valid.

[2021-06-03 09:54] kakkoyun commented on #3622
Still valid.

[2021-06-03 09:55] kakkoyun commented on #3867
Done.

[2021-06-03 09:55] #3867 closed

[2021-06-03 10:34] #4130 closed

[2021-06-03 11:31] rdzimmer commented on #3749
We have decided to disable downsampling and stick with raw data in our environments.

[2021-06-03 13:57] GiedriusS commented on #2511
Don't think so, closing!

[2021-06-03 13:57] #2511 closed

[2021-06-03 15:52] RiRa12621 opened #4301 "query: Query errors don't get replayed and queries silently fail on second try"
**What happened**:
An error in a query displays an error. If that is "clicked away" by clicking the little x, the same error is not displayed again, when the query is run again, even if it is at a later time

**What you expected to happen**:
Show the error again

**How to reproduce it (as minimally and precisely as possible)**:
enter falsey query, see error, click little x, run the same query agai

[2021-06-03 15:59] aapelismith commented on #4284
https://github.com/aliyun/aliyun-oss-go-sdk/blob/e3c86e545ae0c37a2c6b04a967bf6fadd76fa071/oss/conf.go#L47

I might submit a PR to solve this problem.

[2021-06-03 16:02] aapelismith commented on #4284
[code]
access_key_id, access_key_secret It is not necessary to provide when the ECS instance is bound to the RAM Role, but it is clear that Thanos does not support it.

[2021-06-03 16:17] wiardvanrij commented on #4284
Right, I misunderstood your question. I thought you wanted auth via the keys :) Would be great if you could create support for that. We are definitely open for this.

[2021-06-03 16:18] wiardvanrij commented on #3668
I still have to make this :D

[2021-06-03 16:20] wiardvanrij commented on #3952
Still working on this via PR

[2021-06-03 16:22] bwplotka commented on #4102
Asked for some feedback on `buf` Slack: https://bufbuild.slack.com/archives/CRZ680FUH/p1622737333123900

[2021-06-03 16:34] rackeric opened #4302 "ruler: does not show alert rule durations like Prometheus does"
### Is your proposal related to a problem?

Moving from Prometheus to Thanos and I am now noticing that Ruler does not show alert rule duration in the UI like Prometheus would show. I think it is important to show this so we can know how long the rule needs to be firing before alerting when troubleshooting.

### Describe the solution you'd like

Prometheus UI shows alert duration in the "for:" fie

[2021-06-03 19:03] #3787 closed

[2021-06-03 19:03] #3065 closed

[2021-06-03 19:03] #3512 closed

[2021-06-03 19:03] #3497 closed

[2021-06-03 19:03] #3746 closed

[2021-06-03 19:03] #3198 closed

[2021-06-03 19:03] #3712 closed

[2021-06-03 19:03] #2098 closed

[2021-06-03 19:03] #3747 closed

[2021-06-03 19:03] #3735 closed

[2021-06-03 19:03] #3721 closed

[2021-06-03 19:03] #3711 closed

[2021-06-03 19:03] #3301 closed

[2021-06-03 19:03] #3803 closed

[2021-06-03 19:08] evoicefire commented on #3787
Still an issue

On Fri, 4 Jun 2021, 05:03 stale[bot], ***@***.***> wrote:

[2021-06-03 20:03] #3680 closed

[2021-06-03 20:03] #3751 closed

[2021-06-03 20:03] #3572 closed

[2021-06-03 20:03] #3713 closed

[2021-06-03 20:03] #3302 closed

[2021-06-03 20:03] #3214 closed

[2021-06-03 20:03] #1665 closed

[2021-06-03 21:54] yashrsharma44 commented on #3141
Regarding the newTSDB, how are we planning to switch to it in a _concurrent manner_? Should we use proceed as -
1. Get reference to the oldMultiTSDB and start flushing the old tsdb using the reference.
2. Create a newMultiTSDB and store it's reference to oldTSDB.
3. We might need RWLock while we perform step 2.

Ideas?

[2021-06-03 22:33] onprem commented on #2727
Still valid, and help wanted!

[2021-06-04 01:56] onelife commented on #4298
Hi @yeya24, thanks for the reply!

Before close the issue, may I know the roadmap of this feature? Any plan to support downsampled blocks? Any plan to support deleting series within specified time range?

[2021-06-04 01:56] jfg1701a commented on #3765
Any plan to prevent this from happening in thanos receive?

[2021-06-04 02:59] yeya24 commented on #4298
@bwplotka for more input. We definitely want to support it. But it sounds tricky to me.

[2021-06-04 08:04] karlism commented on #4118
Seeing same behavior with 0.21.0 too:
[code]

[2021-06-04 08:17] bwplotka opened #4304 "Queries against Prometheus are considerably faster than against Thanos Querier -> sidecar -> Prometheus setup"
Recently benchmarked the setup and noticed my query was running 7s through StoreAPI, but it took 4s on Prometheus.

We did many optimizations, but there is still a slowness to optimize. I suspect Querier potentially (we never benchmarked it fully),

Some customers notices slowness too:

[code]

We had past mentions like https://github.com/thanos-io/thanos/issues/631 (for 1y data though).

Of cours

[2021-06-04 08:22] bwplotka commented on #2114
Still valid, and a big chunk of work to make it happen.

Some idea presented already in the past to Prometheus and Cortex teams: Start second, separate WAL just for older series.

[2021-06-04 08:27] bwplotka opened #4305 "receive: Replica count exceeds replication factor although it does not?"
[code]

I don't really understand this, replica does not exceed replication 🤔

[2021-06-04 08:29] bwplotka commented on #4305
This might need more info, I suspect 2 replicas were just up. Worth to document this error/failure mode better

[2021-06-04 08:30] bwplotka opened #4306 "receiver: Segfault on Chunk Marshalling"
v0.20.1 version of receiver

[code]

[2021-06-04 08:53] squat commented on #4305
This is saying that a receiver A got a forwarded message from receiver B.

B said "this is copy number 6 of the time series."

A looks at it's configuration and says "huh, replication factor is only 2, so why did i get copy number 6? This must be a mistake"

[2021-06-04 09:37] OGKevin opened #4307 "sidecar: file permission issue for envsub config file"
**Thanos, Prometheus and Golang version used**:
Thanos: v0.21.0

**What happened**:
https://github.com/thanos-io/thanos/pull/4173 changed file permission. This resulted in denying access to "all users"(the last digit). In a scenario where you are using the default users for Prometheus and Thanos container, Prometheus can not read the output file.

This can be fixed by changing the last digit to 4(

[2021-06-04 10:34] GiedriusS commented on #4306
Which version? Any way to reproduce?

[2021-06-04 11:27] juzhao opened #4309 "thanos katacoda course: Error fetching stores/flags list in Thanos UI"
https://www.katacoda.com/thanos/courses/thanos/7-multi-tenancy
step 2
Verification part
[code]

click any link, will see errors
Warning: Error fetching stores list: Unexpected response status when fetching stores:
Warning: Error fetching flags list: Unexpected response status when fetching flags:

see the picture from: https://pasteboard.co/K52vBct.png

Browser:
Chrome Version 86.0.4240.111 (Offic

[2021-06-04 13:11] onprem commented on #4307
Fixed in #4308

[2021-06-04 13:11] #4307 closed

[2021-06-04 13:16] EladDolev commented on #1624
still happening

[2021-06-04 13:45] sevagh commented on #4091
If you're 5 years old, you shoudn't be running production distributed metrics systems.

[2021-06-04 14:11] sevagh opened #4310 "Tips for slow compact on a large bucket with large blocks"
Hello,

I use Thanos with a rather large bucket (Ceph object store) - 10TB total. I store metrics at the raw resolution with 30 days retention, downsampling disabled.

Here's my systemd daemon for it:
[code]
The daemon runs in continual mode, but recently it has been slow to complete its compaction runs and it doesn't reach the "delete blocks" part of the run until it's too late and the storage bu

[2021-06-04 20:04] t0rr3sp3dr0 commented on #3451
reopen

[2021-06-06 09:54] wiardvanrij commented on #4310
The correct link is now: https://thanos.io/tip/thanos/sharding.md/#compactor
About scalability: https://thanos.io/tip/components/compact.md/#scalability

There are various features about improving compactor performance. This is an umbrella issue which tracks them: https://github.com/thanos-io/thanos/issues/4233

Your first issue link is/should be resolved with https://github.com/thanos-io/thanos/p

[2021-06-06 19:26] mgronst opened #4311 "Thanos compactor does not remove data post retention-time"
Have a new setup running Thanos+Prometheus+MinIO+Grafana. One of the main features selecting this setup is the ability of downsampling and have different retention times on raw data vs hourly data. The downsampling seems to work, by selecting max 1H downsampling in the Thanos frontend I can see downsampled hourly data after 10 days. However the raw-data and 5m data is not removed, despite having 1

[2021-06-06 23:56] markmsmith commented on #3143
👍  Still needed

[2021-06-07 03:37] yeya24 commented on #4309
I can reproduce this. Help wanted!

[2021-06-07 06:07] RavjotSandhu commented on #3954
Yup I'm gonna try it out. Previously was infected with covid, right now viva and evaluations are going on. Would give it a shot soon

[2021-06-07 07:37] r3d00 opened #4312 "Receive 0.19.0, High storage consumption compared to 0.17.2"
**Thanos Recieve 0.19.0**:

**TSDB**:

**What happened**:

After upgrading from 0.17.2 to 0.19.0, our storage consumption has increased about 20% in 2 weeks. It seems like compression / retention isn't working anymore as expected.

**What you expected to happen**:

Storage consumption should grow up to a certain point and then be decreased as the DB is compacted.

We use both `--tsdb.retention 30d

[2021-06-07 08:06] bwplotka commented on #4301
Thanks, wonder if it's the same on Prometheus UI 🤔

[2021-06-07 08:08] aymericDD commented on #1706
Still an issue

[2021-06-07 08:23] aclowkey opened #4313 "Add support for "consul_sd_configs" for thanos rule."
### Is your proposal related to a problem?

Thanos rule is missing "consul_sd_configs". However, Prometheus has it.

### Describe the solution you'd like

Prometheus supports discovery of alertmanager by providing a `consul_sd_config` block where it's not supported by thanos rule.

### Describe alternatives you've considered

Seems like an ad-hoc script to generate file_sd_config would be a workar

[2021-06-07 08:31] aclowkey commented on #4313
Perhaps using the Prometheus "discovery" package will cover this case and other discovery plugins.
https://github.com/prometheus/prometheus/tree/main/discovery

[2021-06-07 08:57] ianbillett commented on #4309
@yeya24 happy to take this on and investigate :+1:

[2021-06-07 09:48] ianbillett opened #4314 "Add Katacoda tutorial for Thanos Receive component"
### Is your proposal related to a problem?

Currently no guided tutorial for Thanos receive.

### Describe the solution you'd like

Katacoda tutorial for Thanos receive, like for querier.

### Describe alternatives you've considered

Adding to the documentation - the interactivity of Katacoda is key.

### Additional context

Personally, I have found the Katacoda [tutorials](https://github.com/than

[2021-06-07 09:50] bwplotka commented on #4314
Thanks! Help wanted. Any proposed flow of such tutorial we could do? (:

[2021-06-07 10:00] ianbillett commented on #4314
As with any good tutorial, we need to keep it simple enough to understand while answering the main questions a new user will have. For example:
* Why would I want to do this?
* How does this work?
* How do I configure this setup?

There is lots of good documentation out there for receive: [docs page](https://thanos.io/tip/components/receive.md/), [Thanos remote write proposal](https://thanos.io/ti

[2021-06-07 10:02] omron93 commented on #981
@onprem @kakkoyun Is there a way to reopen this issue? or better to create a new one?

[2021-06-07 10:05] kakkoyun commented on #981
Hello 👋 Could you please try out a newer version of Thanos to if it's still valid? Of course we could reopen this issue.

[2021-06-07 10:31] omron93 commented on #981
@kakkoyun I've installed 0.21.1 and we're still seeing the same behaviour.

[2021-06-07 12:34] GiedriusS commented on #4311
Hi! The compacted/downsampled data is only removed after it completely "falls off" i.e. the max time of a block is less than the current time. Since we currently downsample/compact blocks up to 14 days in length, this means that you'll have to wait 4 more days for Thanos Compact to delete those blocks. Also, please make sure that your Thanos Compactor is not "stuck" and it is successfully completi

[2021-06-07 13:32] ianbillett commented on #4309
The problem is that `prom-label-proxy` can only proxy a subset of the Querier endpoints. This is by design as this component is used to enforce multi-tenancy so will not leak global information to a single tenant.

The solution here is to update the tutorial to replace the links to the Querier UI that do not work, with curl commands or similar.

[2021-06-07 15:17] yeya24 commented on #4309
@ianbillett Thanks for the investigation. I saw that `prom-label-proxy` has a flag to pass through some APIs using https://github.com/prometheus-community/prom-label-proxy/blob/38b1382d7368e994e39c0cb853f3f3c9300f5045/main.go#L48 flag. Is it better to use this?

[2021-06-07 15:27] ianbillett commented on #4309
Aha - good spot! I would expect that it is indeed possible given that flag. Let me experiment with that now...

[2021-06-07 17:57] bjakubski commented on #3720
Just started getting this.
I noticed that suddenly time series generated by thanos ruler are mostly not there anymore. These rules are using older data (with varying "offset" passed: 1d, 7d, 14d, 21d, 28d). Ruler does not seem to be really complaining about anything. Standard dashboard for ruler shows nothing interesting.
Looking further I noticed that if I do a query directly in thanos UI I get r

[2021-06-07 20:36] blemmenes opened #4317 "store: Loading block index fails"
**Thanos, Prometheus and Golang version used**:

Thanos 0.20.1 via quay.io/thanos/thanos:v0.20.1
Prometheus was on 2.13.0, updated to 2.27.1 as part of trouble shooting.

**Object Storage Provider**:
Self-hosted Ceph cluster. No updates/changes to cluster version etc preceded issue.

**What happened**:
Store instance is no longer able to load the block index file in order to create the index-heade

[2021-06-07 21:42] ianbillett commented on #4309
TL;DR - it is possible to fix with the new flags in `prom-label-proxy` but it is not very nice for a new user to look at.

[2021-06-08 00:21] cloudcafetech commented on #915
Tried, data is coming to S3 .

Not sure we can use it or not? Due to that any performance impact?

[2021-06-08 06:01] yasharne opened #4319 "Thanos confusing docs"
I'm trying to configure each Thanos components using the docs [here](https://thanos.io/tip/components/).
For example in the `query` component, states:

But where should I define `partial response strategy`? There is no information about it in `thanos query --help` and in the [Partial Response Strategy](https://thanos.io/tip/components/query.md/#partial-response-strategy) section I cannot find any

[2021-06-08 08:51] ianbillett commented on #4319
@yasharne you can find information about the partial response strategy here: [docs/components/query.md#partial-response](https://github.com/thanos-io/thanos/blob/main/docs/components/query.md#partial-response).

TL;DR - it is a request parameter that defaults to 'abort'.

[2021-06-08 08:56] ianbillett commented on #4317
@blemmenes I'm not an expert in this area, but it _feels_ like there is some kind of resource contention. Couple of questions I would ask:
* Do you have CPU / Memory stats for the store during this period?
* How many blocks are in the storage?
* How much data is in the storage?

[2021-06-08 10:04] simonpasquier commented on #4204
We've finally identified the change that caused the issue with the Thanos ruler pods. It was the cluster DNS operator that enabled the bufsize plugin for CoreDNS. As a result, the server started to send UDP messages > 512 bytes which the native Go resolver can't handle (see https://github.com/openshift/cluster-dns-operator/pull/266, https://github.com/golang/go/issues/6464 and https://github.com/g

[2021-06-08 10:06] simonpasquier commented on #4251
Yes this is definitely the same issue as #4204. Maybe worth closing this one as duplicate? Also you will see the same issue in OCP 4.7 and 4.6 though the cluster DNS operator is being patched to deal with it (see https://bugzilla.redhat.com/show_bug.cgi?id=1966116).

[2021-06-08 11:54] blemmenes commented on #4317
@ianbillett Thanks for taking a look. Yeah, I would think then it would get at least _some_ of the indexes, but I'm _definitely_ not an expert. :)

- System has 32GB of RAM and ~600MB used while it's trying to load blocks.
- 4 core system < 15% used (load 1.2 - 1.5)
- 661 blocks
- 3.6TB in this bucket

There is another store node using this same ceph cluster without issue, and several more using a

[2021-06-08 19:33] Hangzhi commented on #4302
I would like to work on this issue.

[2021-06-08 19:42] narenreddycs commented on #4225
we are still not able resolve this issue. Any ideas on why we are able to query raw metrics without any gaps and when aggregated we are seeing gaps @bwplotka @squat @wiardvanrij . Thank you for the help.

[2021-06-08 20:27] wiardvanrij commented on #4225
I might be incorrect here since I hardly use the UI from thanos/prometheus. However I think the 'raw' data means no downsamping. This does not mean the actual data is 'raw'. - It's often 'worked' in a way that works for graphs.
So if I see this, I would somewhat check if I actually have enough datapoints in my 'pure raw data'. This would make sense because 'over time' in 5 minutes is having gaps,

[2021-06-09 00:20] narenreddycs commented on #4225
Thank you for the inputs @wiardvanrij.

Graphs don't have any gaps if we directly query **local prometheus** and we don't see any data missing when local prometheus writes to **Thanos receivers**. Think the issue is happening at the **Thanos Queriers** and we are not seeing data gaps for every graph, some are perfectly fine.

For the same time period, below shows that we are able to query raw metr

[2021-06-09 01:15] yeya24 commented on #2361
Looks like we can close this issue if it works well with the new editor.

[2021-06-09 01:15] #2361 closed

[2021-06-09 04:27] yasharne commented on #4319
Hi @ianbillett Thanks for your reply, but I still cannot see where I can define the strategy, the docs only mention there are some strategies but don't say anything about how to choose them

[2021-06-09 04:44] yasharne opened #4320 "query-frontend logs failed to parse host port for http log decision"
**Thanos, Prometheus and Golang version used**:
[code]

**What happened**:
I have deployed the `query-frontend` to the Kubernetes and there are a lot of logs like this in the container:
[code]

Here are the command-line flags for the `query-frontend`:
[code]

**What you expected to happen**:
I haven't defined any address for `query-frontend` in the command-line arguments, if the logger is fetching

[2021-06-09 04:56] yeya24 commented on #4320
I feel this issue is related to the logging middleware. CC @yashrsharma44.

The error happens at https://github.com/thanos-io/thanos/blob/main/pkg/logging/http.go#L43-L51. If there is no port in the address, can we do something to skip this error?

[2021-06-09 05:06] yeya24 commented on #4319
@yasharne It is part of the query API. There are several ways to configure this behavior:
1. `query.partial-response` flag. You can configure this flag in querier to enable partial response, which means WARN (as opposed to ABORT, which means disallowing partial response)
2. You can set it in Thanos UI. Clicked means enabling partial response (WARN), otherwise it is ABORT.
![image](https://user-ima

[2021-06-09 05:06] #4319 closed

[2021-06-09 07:14] SkrPaoWang opened #4321 "Does thanos support more than one object storage (more than one client)?"
Does thanos support more than one object storage (more than one client)?

Like I want to use both google cloud and aws for object storage.

[2021-06-09 07:16] wiardvanrij commented on #4321
Multiple backends per component? No. Implementing multiple components (i.e. twice store) with each their own backend; Sure.

Perhaps you could explain your use-case further? Use our issue template if you may :)

[2021-06-09 07:31] SkrPaoWang commented on #4321
Thank you for your response.
But what does multiple components mean? Does that having multiple thanos instance deployed in the cluster, and each one has their own backend?

[2021-06-09 07:39] yasharne opened #4322 "Thanos query component tuning"
Hi
Right now, we have a Prometheus server that is working fine and is the main data source in our grafana with more than a thousand dashboards and many alert rules.
Now I have deployed the Thanos components to the Kubernetes and want to replace the default Prometheus in our grafana with the Thanos `query-frontend`
The `query-frontend` component has 2 replicas and each of them has a resource limit

[2021-06-09 07:44] squat commented on #4321
Hi @SkrPaoWang, yes, that's right. One single instance of a Thanos component cannot connect to multiple object storages simultaneously. Instead, you need to deploy multiple instances of a component, i.e. Thanos store gateway one configured against GCP and one configured against AWS, to achieve this desired effect

[2021-06-09 10:39] ianbillett commented on #4319
Super comment @yeya24 - I learnt something new today :raised_hands:

[2021-06-09 18:59] yeya24 commented on #4309
@ianbillett  Got it. Thanks for checking. If there is no better way, then I think it is good to use the curl command to check the response.

[2021-06-10 02:58] btdan opened #4325 "receiver:Error happens when Thanos receiver upload data to Object storage"
Thanos receiver receives data from Prometheus successfully, and also save in the local disk. But Failed to upload the data to object storage sometimes. That means, sometimes it can upload data to object storage successfully, meanwhile sometimes it fails.
The relevant to bug reports from thanos receiver is as follows:

_level=info ts=2021-06-10T01:51:26.221171953Z caller=shipper.go:337 component=re

[2021-06-10 03:00] btdan commented on #4325
visit the url  http://10.0.90.203/api/v1/list/bucket/chaosuan/?delimiter=%2F&prefix=01F7R8VR019A876FPJF03NETNK
and get this response:

**_Api Root List Bucket Object Instance

List Bucket Object Instance
列举存储桶内对象和目录

GET /api/v1/list/bucket/chaosuan/?delimiter=%2F&prefix=01F7R8VR019A876FPJF03NETNK
HTTP 404 Not Found
Allow: GET, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept

{
    "code

[2021-06-10 03:05] yeya24 commented on #4325
What kind of object storage are you using? Custom obj store means that it is developed by your company and it is S3 compatible?

If it is this case, I suspect it is caused by bugs in your custom obj store.

[2021-06-10 07:04] wiardvanrij commented on #4027
Needs more input

[2021-06-10 08:59] kakkoyun opened #4326 "katacoda: Add a tutorial to demonstrate Receiver modes (Ingester, Router)"
As stated in the title.

cc @yashrsharma44 @squat @bwplotka

[2021-06-10 10:04] ianbillett commented on #4326
@kakkoyun I've written a 'basic' tutorial for receive here: https://github.com/thanos-io/thanos/pull/4324 - happy to extend that out to include the more complex use-cases. WDYT?

[2021-06-10 10:18] yashrsharma44 commented on #4326
I have added some documentation about the receiver modes - https://github.com/thanos-io/thanos/pull/4316

You can refer this for reference.

[2021-06-10 10:40] kakkoyun commented on #4326
@ianbillett Sounds good to me. We can add this use case to your PR 👍

[2021-06-10 11:21] mgronst commented on #4311
Thanks. This worked as described by you @GiedriusS. Closing the issue.

[2021-06-10 11:21] #4311 closed

[2021-06-10 11:36] bwplotka commented on #3793
Connected to https://github.com/thanos-io/thanos/pull/3390/files (finding better sharding)

[2021-06-10 12:39] ianbillett commented on #4309
@yeya24 reverted to `curl`s and CI is now green - I think we're ready to merge :muscle:

[2021-06-10 14:53] winterTTr opened #4328 "[Question] About HA prometheus instances with remote write"
I tried but it seems I don't find any documentation for the  solution to handle `HA prometheus instances with remote write`, so I create this ticket to ask for if some thanos feature already support it well or there are some suggestion to enable my scenario with thanos components.

Simply speaking, I wish to enable below features at the same time:
1. HA prometheus instances: such as we already cre

[2021-06-10 18:31] whitleykeith opened #4329 "Thanos Receiver continuously hogs memory even after stopping remote_write requests"
**Thanos, Prometheus and Golang version used**:

Thanos: docker.io/bitnami/thanos:0.20.2-scratch-r1
Prometheus: varies

**Object Storage Provider**: S3

**What happened**: When using the Thanos Receiver to ingest data pushed from multiple Prometheus instances, the Receiver consumes more memory, as expected. However, after stopping remote_write from the Prometheus instances, we can see that each re

[2021-06-10 18:33] mbeck3026 opened #4330 "query: high memory usage"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.20.1 (branch: HEAD, revision: 10023e4882414baa56a8955057f2678f1e724e8c)
  build user:       circleci@22b1af3c9a07
  build date:       20210430-12:46:55
  go version:       go1.16.3
  platform:         linux/amd64

**Object Storage Provider**:
OCI object store (S3 compatible)

**What happened**:

We run a thanos v20.1 cluster with 3

[2021-06-10 18:46] mbeck3026 commented on #4330
Sorry posted before I was finished.
Alloc pprof:  https://share.polarsignals.com/bbd5c9a/

The heap profile **appears** to show that the memory is used primarily by receiving messages on the grpc store api.
The grpc rate on the queriers is also quite high.

Looking at the metrics the cardinality looks like this:

[code]

The heap memory appears to me (not a go memory expert - maybe this is normal

[2021-06-10 20:37] ChristopherVishoot opened #4331 "Thanos queirier unable to connect to sidecar"
**Thanos, Prometheus and Golang version used**:
thanos: charts.bitnami.com/bitnami 3.17.8
prometheus-operator with sidecar: charts.bitnami.com/bitnami6.0.0
sidecar image: docker.sel.inc/bitnami/thanos:0.20.2-scratch-r1
--

**What happened**:
I have successfully installed:
* Thanos sidecars for the prometheus agents
* Storage Gateway pointing to the s3 storage
* CNAB to install prometheus + thanos

[2021-06-10 21:33] yeya24 commented on #4331
@ChristopherVishoot I don't have any experience about the bitnami chart. Can you check that service `prometheus-kube-prometheus-prometheus` exists in `thanos` namespace and port 10901 is exposed?

[2021-06-10 21:48] yeya24 commented on #4328
If you want to use HA prometheuses with remote write, this kind of deduplication is not supported in Thanos right now.

There is a pr to handle deduplicated data from HA prometheus using the same online deduplication algorithm used by querier https://github.com/thanos-io/thanos/pull/4239. However, this only works for Thanos compactor and the data should be stored in object storage.

If you'd like

[2021-06-10 21:48] #4328 closed

[2021-06-10 22:02] ChristopherVishoot commented on #4331
![image](https://user-images.githubusercontent.com/56844141/121602140-b8d6ef00-c9fb-11eb-9af4-1c9416dea35a.png)
Alright, so I have validated the service, and then made sure that the correct port was exposed.
![image](https://user-images.githubusercontent.com/56844141/121602202-cee4af80-c9fb-11eb-9abc-631194400e01.png)

I have also updated the Quirer to point to the service endpoint with the correc

[2021-06-10 22:15] yeya24 commented on #4331
Well, I am not sure. I don't understand why it is configured as a headless service. A normal service with clusterIP would work I think. You can try it and see if it works for you.
It would be better if you can also open an issue on the bitnami's repo.

[2021-06-10 22:19] ChristopherVishoot commented on #4331
OK! I'll go ahead and just ask the Bitnami folks about this. Even I'm confused to why they did that.

[2021-06-10 22:19] #4331 closed

[2021-06-11 03:43] SkrPaoWang opened #4333 "Is there any way to query downsampling data in Thanos?"
Is there any way to query downsampling data in Thanos?
Does thano query provide this functionality?

[2021-06-11 06:30] clyang82 commented on #3016
any plan for it?

[2021-06-11 06:31] dastrobu opened #4334 "thanos query switches between "No stores registered" and normally working state back and forth"
I have setup a thanos with sidecar, store and query.

Everything seems to be working as expected. Query shows two stores, a Sidecar and a Store.
I can query data as expected.

After some random time stores are gone and Query shows just "No stores registered".  Sometimes stores come back after some time, but it seems to be very random.

Logs on startup are

[code]

at the point where the stores are

[2021-06-11 07:02] #4309 closed

[2021-06-11 07:48] Jakob3xD commented on #4283
There is already a hidden flag for my request. Setting `debug.max-compaction-level` to 3 will end at 2d blocks.

[2021-06-11 08:25] bwplotka opened #4335 "Large Go routines spikes on cancelled/flaky gRPC requests."
Both receivers and Querier which suggests proxy stream logic:

![image](https://user-images.githubusercontent.com/6950331/121652680-ce97f300-ca93-11eb-8b82-28f5754eb236.png)

https://share.polarsignals.com/7759cdd/
https://share.polarsignals.com/c5ae02f/

Store too, but I believe it's different since those are not aligned and pointing to memcache. (Note: Spike is actually from those Read poll ones

[2021-06-11 08:31] bwplotka commented on #4335
NOTE: It does not impact the resources much

[2021-06-11 12:45] brancz commented on #3701
I love this idea. I use the `objstore` package all the time for various projects and indeed having to import all of Thanos is a bit excessive.

[2021-06-11 14:05] ianbillett commented on #4326
So chatted with @squat about this earlier today - the major changes to the behaviour of receive are due to be released in `v0.22` ETA 6th July.

It would be nice for the project to release `v0.22` with an acompanying tutorial to show of how this works.

Let's park this for now and revisit in a couple of weeks, and coordinate this tutorial being written with the release :)

[2021-06-11 14:17] ianbillett opened #4338 "Thanos Component Mixin Dashboards should show CPU & Memory limits."
### Is your proposal related to a problem?

Debugging out internal monitoring stack with @bwplotka using the Thanos mixin dashboards - we struggled to tell if compoments were exceeding their allowed threshold because these are not present in the dashboards by default.

(Write your answer here.)

### Describe the solution you'd like

Add 'standard' expected metrics to the component dashboards:
* CP

[2021-06-11 14:18] ianbillett commented on #4338
Suggested labels: `good first issue`, `component: mixins`

[2021-06-11 14:35] pracucci commented on #3701
I would also embrace it 👍

[2021-06-11 14:36] paulfantom commented on #3990
Wouldn't the following resolve this:
[code]
?

[2021-06-11 15:36] #4314 closed

[2021-06-11 17:12] arajkumar commented on #3990
@paulfantom IMHO, we should have both `absent(thanos_sidecar_last_heartbeat_success_time_seconds{job="thanos-sidecar"})` and `time() - max(timestamp(thanos_sidecar_last_heartbeat_success_time_seconds{job="thanos-sidecar"})) by (job,pod) >= 240`.

`thanos_sidecar_last_heartbeat_success_time_seconds` metric population seem to have some logic association with it.

https://github.com/thanos-io/thanos/

[2021-06-11 17:14] arajkumar commented on #3990
@paulfantom Yes, it should fix the problem. I will test it.

[2021-06-11 17:19] arajkumar commented on #3990
IMHO, `timestamp(..)` function should be removed, because time stamp will be updated for each scrape regardless of it's value change. The following query should ideally work,

[code]

[2021-06-11 19:06] MrYueQ commented on #4320
@yeya24  Hi. I also encountered this error log, although it does not affect the use of the service. I want to introduce the situation on my side.
This is an example of my current architecture

![image](https://user-images.githubusercontent.com/14846522/121736376-136e6900-cb2a-11eb-987a-66fb7c12f585.png)

This is my version information and error log
[code]
[code]
![image](https://user-images.github

[2021-06-12 02:03] rackeric commented on #4302
I'll look into addressing this as well since will be very useful to us.

[2021-06-12 16:40] rackeric commented on #4302
Please see https://github.com/thanos-io/thanos/pull/4340

[2021-06-12 17:12] Hangzhi commented on #4278
Hello @Itaachime, are you working on it. If not, I would love to take this 😃.

[2021-06-14 07:31] arajkumar commented on #3990
I had tested with local instances with following config

### prometheus#0
[code]
### prometheus#1
[code]

### thanos sidecar#0
[code]

### thanos sidecar#1
[code]

Even after I suspend prometheus#0(kill -TSTP <pid>), `timestamp(thanos_sidecar_last_heartbeat_success_time_seconds)` keep on changing w.r.t scrape interval. IMHO, This is incorrect and the expression has to be modified to consider the v

[2021-06-14 08:33] dgrisonnet commented on #3990
This issue can't be solved by adding `absent(thanos_sidecar_last_heartbeat_success_time_seconds{job="thanos-sidecar"})` since the `thanos_sidecar_last_heartbeat_success_time_seconds` metric is by default initialized to 0. The actual issue is that the metric is present, but it may always be 0 if the sidecar never ends up being healthy. This can be tested by connecting the sidecar to an inexistent P

[2021-06-14 09:03] shawqi-voice commented on #1188
facing the same issue here, adding the flag negative value to the max time `--max-time=-2w` to storegateway showing invalid date in thanos query stores tab

[2021-06-14 09:04] shawqi-voice commented on #3454
facing the same issue here, adding the flag negative value to the max time `--max-time=-2w` to storegateway showing invalid date in thanos query stores tab

[2021-06-14 10:36] arajkumar commented on #3990
@dgrisonnet IMHO, without `thanos_sidecar_last_heartbeat_success_time_seconds == bool 0` is also going to yield the same result.

[2021-06-14 11:33] wiardvanrij opened #4341 "Store: Healthy state but unable to respond to queries"
Version: 17.2

It started with an error:
[code]

Not sure if this error log is related, but that Store now also goes into a state where every query takes 2 minutes (and fails), which is in line with our Query Timeout on the Querier (2m) a few minutes later.

![image](https://user-images.githubusercontent.com/5786097/121884700-8555d680-cd13-11eb-9719-72414e560f8e.png)

We have had this issue before

[2021-06-14 12:37] dgrisonnet commented on #3990
No, you will end up in a situation where the alert will fire immediately since the query will be evaluated as `time() >=240`.

[2021-06-14 13:25] arajkumar commented on #3990
Okay, Do you think adding a `for` attribute would help here? Because the upstream one don't have a `for` which would cause the alert to be triggered.

In our case we have [1hr duration](https://github.com/openshift/cluster-monitoring-operator/blob/ab8709eaee3c0e1dbbdbb9e057b522f9624fd6b6/assets/prometheus-k8s/prometheus-rule.yaml#L270) for this alert.

[2021-06-14 13:53] ianbillett commented on #4333
@SkrPaoWang I'm afraid I don't fully understand your question. Please can you try to provide more context on the problem you are trying to solve so we can help you get an answer :+1:

[2021-06-14 14:44] wiardvanrij commented on #4338
As this requires more metrics than Thanos is actually exposing (I.e. node / kube-api metrics) - Would this not make sense to leave this at a totally different dashboard?

I personally have dashboards like this:

![image](https://user-images.githubusercontent.com/5786097/121910732-6107f300-cd2f-11eb-950d-94f8a148ed79.png)

and

![image](https://user-images.githubusercontent.com/5786097/121910801-72

[2021-06-14 14:49] wiardvanrij commented on #4335
I saw this and I knew I had something like this a while ago. Just perhaps for inspiration (as I don't think they ARE related) i'll drop this here: https://github.com/thanos-io/thanos/issues/2872

[2021-06-14 14:51] wiardvanrij commented on #4330
I think we have spoken on Slack, thanks for creating this issue! 👍

[2021-06-14 15:30] heyitsmdr commented on #1708
Is this still on-going by any chance?

[2021-06-14 19:47] bsnyder788 commented on #4320
I am also seeing the same issue on a few Thanos clusters I am using. 0.19.0 did not have this issue, but when I upgraded to 0.21.1 I started seeing lots of these logs.

[2021-06-15 08:01] fktkrt commented on #4338
Yes, these are included in the kubernetes-mixin and that is included in promethues-operator in a generalised fashion. This means that you have to choose the appropriate dashboard for these stats, then filter for the namespace in question to see these metrics for everything under that ns.

Some tool has similar metrics on their operational overview dashboard to make troubleshooting performance issu

[2021-06-15 08:23] wiardvanrij commented on #4334
The only thing I can think of is the usage of a svc as endpoint. You pass along a 'loadbalancer' which contains n-amount of services behind it. So this will swap between endpoints (I think!).

See the usage for `--store` :

[code]

So I would recommend changing to either direct links to each store or use dnssrv to fetch the actual endpoints.

[code]

I.e.:

[code]

(obviously change entries to you

[2021-06-15 10:51] GiedriusS commented on #4302
Closed via https://github.com/thanos-io/thanos/pull/3678/files#diff-50298ee275ead9b6ba3dcc1a556430c41d6ba48a8a4b12e26c83cece720f9bdbR89-R94. Thanks for your PR again!

[2021-06-15 12:19] jatindersandhu opened #4345 "Bad gateway error when Post request to Thanos api from grafana"
Thanos, Prometheus and Golang version used:

Thanos:
thanos --version
thanos, version 0.17.2 (branch: rhaos-4.7-rhel-8, revision: e08776699e995facd3260ebfec4c29c4d3bd4943)
  build user:       root@3d4eeeb5b403
  build date:       20210521-04:48:20
  go version:       go1.15.7
  platform:         linux/amd64
Prometheus: varies

Object Storage Provider:  not know

What happened: We have Thanos for o

[2021-06-15 13:19] hanjm opened #4346 "query: exemplar support file-sd"
Current [`--exemplar`](https://github.com/thanos-io/thanos/blob/main/cmd/thanos/query.go#L109) endpoint flag only support dns-sd,
Could we need implement file-sd  like [`--store.sd-files`](https://github.com/thanos-io/thanos/blob/main/cmd/thanos/query.go#L119) endpoint flag?

[2021-06-15 14:52] whitleykeith commented on #4329
Quick update: I decided to switch the image from bitnami to thanosio/thanos:v0.21.1 and while I do see slightly better GC I'm still seeing the issue.

Moreover, I added the Thanos dashboards to my Grafana to troubleshoot further and I'm seeing something a bit weird. Currently I have 4 Receiver pods that are reporting around 40GB memory usage each. This is true around 24hrs after the peak load (aro

[2021-06-16 03:49] hanjm commented on #4346
seems discovery api is refactoring. #2600

[2021-06-16 06:38] yeya24 commented on #4333
In the thanos query UI, you can set the max downsample level. Please take a look at the docs as well https://thanos.io/tip/components/query.md/#auto-downsampling if you'd like to access API directly.

I will close this issue. In case you have more questions, feel free to reopen it.

[2021-06-16 06:38] #4333 closed

[2021-06-16 11:00] Robbie558 opened #4347 "Thanos compactor repeats compacting and repair of first bucket"
**Thanos, Prometheus and Golang version used**:
Thanos:  0.17.2 (Go: 1.5)
Prometheus: 2.1.1 (Go: 1.10)
Both are running as native processes on the same host.

**Object Storage Provider**:
S3 Storage: Minio

**What happened**:
Compaction and downsampling of data fails to occur and the S3 storage bloats as the compactor process continually repairs and and compacts the first bucket it retrieves.  We

[2021-06-16 15:55] Hangzhi commented on #4278
Hello @GiedriusS. I think I should change some code in this https://github.com/thanos-io/thanos/blob/ebbd68df68902db404d89d6bd8b3f88d6193d851/pkg/replicate/replicator.go. I'm still not very familiar with Thanos. Could you please offer some hints of where to upload a few objects at a time? 😃

[2021-06-16 16:20] #1014 closed

[2021-06-16 17:05] spaparaju commented on #4320
- This problem does not happen on  standalone deployment as the `r.Host` maps to `--http-address` which contains a port #.

- If app. like Query-frontend is deployed under a hostname which in turn mapped to `--http-address` (host + port) of query-frontend component (eg: route on a Kube. cluster), then this problem shows up as [SplitHostPort](https://cs.opensource.google/go/go/+/refs/tags/go1.16.5:

[2021-06-16 17:06] spaparaju commented on #4320
This [PR](https://github.com/thanos-io/thanos/pull/4348) fixes this issue.

[2021-06-16 19:16] onprem commented on #4302
Closing as #4340 is merged.

[2021-06-16 19:16] #4302 closed

[2021-06-16 21:05] #3755 closed

[2021-06-16 21:05] #3830 closed

[2021-06-16 21:05] #3662 closed

[2021-06-16 21:05] #3529 closed

[2021-06-16 21:05] #3646 closed

[2021-06-16 21:05] #911 closed

[2021-06-16 21:05] #3559 closed

[2021-06-16 21:05] #2585 closed

[2021-06-16 21:05] #3874 closed

[2021-06-16 21:05] #2547 closed

[2021-06-16 21:05] #3875 closed

[2021-06-16 21:05] #2486 closed

[2021-06-16 21:05] #3511 closed

[2021-06-16 21:05] #3744 closed

[2021-06-16 21:05] #3858 closed

[2021-06-16 21:05] #3859 closed

[2021-06-16 21:05] #3907 closed

[2021-06-16 21:05] #2321 closed

[2021-06-16 21:05] #3924 closed

[2021-06-16 21:05] #3831 closed

[2021-06-16 21:05] #2839 closed

[2021-06-16 22:04] #3941 closed

[2021-06-16 22:04] #3576 closed

[2021-06-16 22:05] #3933 closed

[2021-06-16 22:05] #4006 closed

[2021-06-17 07:24] aymericDD commented on #1083
I think it is still interesting.

[2021-06-17 07:25] liangyuanpeng commented on #3913
same issue, thanos, version 0.21.1 (branch: HEAD, revision: 3558f4a5adc8d4068f82528570a439d440f98b9d)

[2021-06-17 07:50] tik-stbuehler opened #4349 "sidecar: broken with prometheus 2.7.1"
**Thanos, Prometheus and Golang version used**:

prometheus from debian buster (Built-Using: golang-1.11), thanos binary from github release.

[code]

**What happened**:

sidecar can't connect to prometheus.

**Full logs to relevant components**:

Lots of these:
[code]

**Anything else we need to know**:

Contrary to what the code comment in https://github.com/thanos-io/thanos/blob/7aa6f9760f0ab86

[2021-06-17 08:44] c4m4 commented on #3720
I have the same issue too

[2021-06-17 11:07] ebini opened #4351 "thanos query-frontend web.external-prefix"
### Describe the solution you'd like

i would like to have
thanos query frontend also to have the option "web.external-prefix"

to make it accessible behind a reverse proxy

at the moment i get (v0.21.1)
`thanos: error: unknown long flag '--web.external-prefix'`

Thanks in advance

[2021-06-17 16:13] yeya24 commented on #4345
As the grafana issue mentioned, how is your prom label proxy configured?

[2021-06-17 18:33] rahulii opened #4353 "[docs] Broken CONTRIBUTING.md link on thanos docs"
**What happened**:
Broken link (CONTRIBUTING.md) at https://thanos.io/tip/thanos/getting-started.md/#contributing

[2021-06-17 18:33] rahulii commented on #4353
I would be happy to contribute!

[2021-06-18 02:41] #3774 closed

[2021-06-18 02:41] #3537 closed

[2021-06-18 02:41] #3041 closed

[2021-06-18 02:41] #3042 closed

[2021-06-18 02:41] #3117 closed

[2021-06-18 02:41] #3048 closed

[2021-06-18 02:41] #3997 closed

[2021-06-18 02:41] #3951 closed

[2021-06-18 02:41] #3904 closed

[2021-06-18 02:41] #3479 closed

[2021-06-18 02:41] #2946 closed

[2021-06-18 02:41] #3699 closed

[2021-06-18 02:41] #3556 closed

[2021-06-18 02:41] #3776 closed

[2021-06-18 02:41] #3825 closed

[2021-06-18 02:41] #3806 closed

[2021-06-18 02:41] #3785 closed

[2021-06-18 02:41] #3797 closed

[2021-06-18 03:21] btdan opened #4355 "receiver:Error happens when Thanos receiver restart"
I start thanos receive with the following command:
**nohup thanos receive \
    --tsdb.path "/00_data/newData2"  \
    --grpc-address 0.0.0.0:10907 \
    --http-address 0.0.0.0:10909 \
    --receive.replication-factor 1 \
    --label "receive_replica=\"0\"" \
    --label "receive_cluster=\"chaosuan\"" \
    --receive.local-endpoint 127.0.0.1:10907 \
    --receive.hashrings-file /aiops/hashring.jso

[2021-06-18 03:53] yeya24 commented on #4346
@hanjm We have an ongoing [pr](https://github.com/thanos-io/thanos/pull/4282) to support auto-discovery for store type, which means you just need to specify the `endpoint` of stores. If the store itself implements Exemplar API (like Sidecar and Receiver), it will be enabled automatically.

But this doesn't touch the file sd part. Do you think that proposal solves your problem?

[2021-06-18 03:56] yeya24 commented on #4216
No, I don't think this is our goal.
We do proxy some APIs like Rules, Targets, Exemplars on thanos query for sidecars.
But `/api/v1/status/config` is a special one. IMO we don't need a global view for this API. Why you cannot just query it from your Prometheus service?

[2021-06-18 04:04] yeya24 commented on #4097
Sorry for the late reply.

`level=info ts=2021-04-23T06:03:36.283803736Z caller=handler.go:330 component=receive component=receive-handler msg="empty timeseries from client" tenant=default-tenant`

This log is normal but a little bit misleading. Prometheus server is remote writing some metadata to your Thanos receiver, not samples.

I am not sure about the data size problem. Are you still seeing t

[2021-06-18 04:05] yeya24 commented on #4098
If your data is old, you need to use range query in your thanos query UI and make sure the selected time range and downsampling param is correct.

I will close this issue and feel free to reopen it if it is not solved.

[2021-06-18 04:05] #4098 closed

[2021-06-18 04:06] yeya24 commented on #4023
I will close this issue as no activity. If it has not been solved, feel free to reopen it.

[2021-06-18 04:06] #4023 closed

[2021-06-18 10:10] onprem commented on #3217
Still needed.

[2021-06-18 10:11] onprem commented on #3782
Still valid.

[2021-06-18 10:26] dastrobu commented on #4334
I have some updates on the issue. It seems to be a pure Thanos Query UI related issue. When I do many refreshes on the Thanos Query UI I see some logs that say `Could not get file` for some UI files. The thing is that these warn logs are not reproducible. There seems to be an issue either with serving the UI files from Thanos or with the node/filesystem/... of our cluster.

One of my next steps wi

[2021-06-18 11:33] wiardvanrij commented on #4334
Seems to be related to https://github.com/thanos-io/thanos/issues/4118 maybe

[2021-06-18 11:42] wiardvanrij commented on #4320
These _might_ be related:

https://github.com/thanos-io/thanos/issues/4139
https://github.com/thanos-io/thanos/issues/4118
https://github.com/thanos-io/thanos/issues/4334

Linking them for reference

[2021-06-18 13:09] ianbillett opened #4359 "receive: multiple failure cases in non-trivial receiver topologies"
**Thanos, Prometheus and Golang version used**:

* Thanos: `HEAD`
* Prometheus: `v2.26.0`
* Golang: `go version go1.16.4 linux/amd64`

**Object Storage Provider**: `N/A`

**What happened**:

While working on https://github.com/thanos-io/thanos/issues/4326 - we discovered 4 failure cases when deploying non-trivial [post-split proposal](https://github.com/thanos-io/thanos/pull/4231) `receive` topolo

[2021-06-18 13:14] ianbillett commented on #4326
This is blocked on https://github.com/thanos-io/thanos/issues/4359

[2021-06-19 06:57] hanjm commented on #4346
@yeya24 Your work for exemplar is great, thank you.
file-sd is very useful in some scene. some cloud provider place deployment in diffrent k8s cluster, so cannot use k8s headless service. I deploy thanos cluster(with 70+ sidecar,  use --store.sd-files discovery sidecar endpoint.
recently, i try to introduce exemplar feature in metrics system. but --exemplar can not use file-sd. I try to add suppor

[2021-06-20 03:57] yeya24 commented on #2542
#4275 fixes this

[2021-06-20 12:42] zhaitin-quotient commented on #2295
@bwplotka I don't think this issue is solved yet, can we please reopen?

[2021-06-20 23:55] zecke commented on #4084
Not stale

[2021-06-20 23:55] zecke commented on #4089
Not stale

[2021-06-21 12:51] jppitout commented on #977
Just wondering if there has been any more progress?

[2021-06-21 13:21] GiedriusS commented on #4349
So, it sounds like it should be enough to fix that `if`? BTW, why are you running such an old version? Is there any particular reason(-s)?

[2021-06-21 13:44] tik-stbuehler commented on #4349
I didn't test it, but yes, I'd guess that should be good enough. Perhaps consider all 4xx responses as "prometheus too old for this" - during startup I think I saw 5xx codes.

debian buster is still the current stable release. Running servers on anything but a stable release (with proper security support) is imho a real bad idea.

As thanos isn't part of debian we pick latest upstream (wrapping it

[2021-06-21 15:34] GiedriusS commented on #2962
I'm working on this.

[2021-06-21 16:16] Itaachime commented on #3954
/assign

[2021-06-21 19:31] GiedriusS commented on #3954
Closed via https://github.com/thanos-io/thanos/pull/4361

[2021-06-21 19:32] GiedriusS commented on #3954
Oh, sorry, the 2nd point is not done yet. Help welcome :hugs:

[2021-06-21 21:49] max77p commented on #977
@jppitout i am waiting for the same. @bwplotka any update on this?

[2021-06-21 22:20] Namanl2001 commented on #977
I have started working and currently designing the proposal for this issue.

@max77p which store endpoints are you referring to [here](https://github.com/thanos-io/thanos/issues/977#issuecomment-840114756)? endpoints on local instance/remote instances/both?

[2021-06-22 00:25] smazurov commented on #3911
This still happens in v0.19 non-rc

[2021-06-22 01:28] thejosephstevens commented on #4236
I have a use case for this:

We run k8s clusters that regularly scale between 2 and 30+ nodes, resulting in issues with maintaining a persistent disk for prometheus WAL (in clouds where disks are zonal we can't guarantee we have a node in the same zone as the disk). What we've observed is that when prometheus pods are replaced, they may come back immediately, but if both pods are replaced in less