[2019-11-02 20:41] #1400 closed

[2019-11-03 19:01] blockloop opened #1710 "receive: create a gRPC remote_write endpoint"
I understand the compatibility reasons for creating a remote_write endpoint that adheres to the Prometheus standard. Would you consider enabling a gRPC endpoint to enable pushing metrics from arbitrary gRPC sources? Ideally it would use a gRPC Stream to improve performance.

[2019-11-04 09:53] bwplotka opened #1711 "Improve composing index-header by pulling only required pieces of index."
Orthogonal to [sparse file proposal](https://github.com/thanos-io/thanos/issues/1471) we may need to explore composing index-cache/index-header from parts of the index.

We do not compose the block only when:
* No index-cache.json is in the local filesystem
* No index-cache.json is in object storage.

Currently, we create index-cache by mmaping whole index file which might cause excessive resource

[2019-11-04 10:03] brancz commented on #1710
I think I would want something like this to be experimental, but if we can prove it to have a significant improvement over the existing one, then I'd even go a step further and attempt to make Prometheus send remote write via gRPC.

[2019-11-04 10:40] GuyCheung commented on #1701
@brancz sorry for the later reply, I collector the graphs u need as below(I have 4 hosts current after running 8h):

## Prometheus
- prometheus_tsdb_head_series: the series from 400k to 700k

![image](https://user-images.githubusercontent.com/1456257/68114682-97657580-ff31-11e9-910f-2c27be7943c9.png)

- rate(prometheus_tsdb_head_samples_appended_total[5m]): the rate from 24k to 36k

![image](https

[2019-11-04 21:36] brancz commented on #1701
Can you also share the corresponding go runtime heap metrics?

[2019-11-04 22:01] GiedriusS commented on #1708
That's true but I would really love to make Thanos Compact scream loudly if this happens as it indicates some kind of error, no? Especially if downsampling is enabled but the retention policies prevent us from downsampling data.

[2019-11-04 22:20] GiedriusS commented on #584
Perhaps this could be considered done as we have Katacoda tutorials, @bwplotka @jturolla? (:

[2019-11-04 22:22] GiedriusS commented on #1075
@gangseok514 is this still relevant on the newest version? There have been some fixes regarding this.

[2019-11-04 22:52] smalldirector commented on #903
Just saw these discussion threads on potential feature requirement `per metric retention on compactor`, do we still look for this feature on compactor side?

Actually we are having same `per metric retention` requirement in our business scenario. We are trying to implement one `policy based retention` function to replace current compactor's retention function. Our idea is that providing one policy

[2019-11-04 22:59] jturolla commented on #584
Sure, thanks.

On Mon, 4 Nov 2019 at 19:20, Giedrius Statkevičius <notifications@github.com>
wrote:

[2019-11-05 07:49] povilasv commented on #960
AFAIK yes. We still don't run those tests, so we don't know if it's broken..

[2019-11-05 10:03] gangseok514 commented on #1075
I am very sorry, I missed github mail.
the problem is already solved by remove replicas_label when federating like
[code]
Thanks anyway!

[2019-11-05 10:03] #1075 closed

[2019-11-05 12:04] pippozq opened #1716 "So many many many many pods with thanos are terminating"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:
Use thanos and prometheus in k8s, when the server got high load avg ,sometimes got lot of pods with thanos , even worse so many   pods of other services which connect to thanos were build by k8s too,like grafana, the status of those pods is terminating, and the whole k8s cluster goes to unstable, i co

[2019-11-05 12:15] pippozq commented on #1716
the node detail is
  monitor                    thanos-query-86b64bfddf-zxtgs             100m (1%)     2 (25%)     1Gi (3%)         2Gi (6%)       83m
  monitor                    thanos-query-86b64bfddf-zxtrm             100m (1%)     2 (25%)     1Gi (3%)         2Gi (6%)       79m
  monitor                    thanos-query-86b64bfddf-zxxh6             100m (1%)     2 (25%)     1Gi (3%)         2

[2019-11-06 07:10] GuyCheung commented on #1701
@brancz I arranged the go memstats heap metrics as below:

## Prometheus (same time as previous reply)

- go_memstats_heap_objects
![image](https://user-images.githubusercontent.com/1456257/68275197-ecc29380-00a5-11ea-81a7-a23265386064.png)

- go_memstats_heap_inuse_bytes
![image](https://user-images.githubusercontent.com/1456257/68275269-21cee600-00a6-11ea-9dde-0f6e160ee854.png)

- go_memstats_he

[2019-11-06 07:28] brancz commented on #1701
Generally speaking this looks as expected, you're just ingesting a lot of data, and that's going to need a lot of resources. Your setup looks pretty much aligned with ours. I would suggest to distribute the setup across multiple nodes instead of all on one.

[2019-11-06 07:37] wogri commented on #903
Just an FYI - not retaining raw data will lead to problems (you won't be able to zoom into your metrics anymore): https://thanos.io/components/compact.md/#downsampling-resolution-and-retention:

[2019-11-06 08:54] Reamer commented on #903
@wogri I think you are using grafana for visualization. Checkout PR https://github.com/grafana/grafana/pull/19121. At the moment this PR is **not** in a grafana release, therefore I use the master.
I added three prometheus datasources, each with an other  `max_source_resolution` parameter. Now I can switch to the best resolution and zoom into my metrics. I disabled also auto-downsampling in thanos

[2019-11-06 09:24] GuyCheung commented on #1701
yes, I think should be as expected too. what I wonder know is that is there some way we can set the mem limit the Thanos or Prometheus process can use to avoid oom?

for example, I have 48G memmory, but I only want to Thanos use as much as 30G?

[2019-11-06 09:47] GuyCheung opened #1724 "ruler: how about implements the Prometheus remote write feature into thanos ruler?"
I want to use both Thanos receive and Thanos ruler components, but because Thanos ruler only store rules result in local and ship the data to remote storage like s3, the ruler node will be a single node with HA risk.

In my opinion, I think if Thanos ruler implements the remote write feature, we can write the ruler data to Thanos receive with few seconds delay, then Thanos ruler would be a statele

[2019-11-06 10:07] wogri commented on #903
Thanks @Reamer!

[2019-11-06 10:09] brancz commented on #1724
The state of the ruler wouldn't disappear. The tsdb would continue to need to be a local persistent buffer. I don't think we would actually gain anything from this unfortunately.

[2019-11-06 16:45] clausa20 opened #1726 "Filter metrics that are written by sidecar to S3"
Hello,
is it possible to filter what metrics are wanted to be written in the remote storage (S3) by the sidecar?
for example I would like to write only metrics that has a label for example remote=1
some_metric{remote="1"}

I don't want to save all metrics in remote storage, I want to save just some of them.
If not, is there another way I can get that result?

Thanks.

[2019-11-06 19:34] smalldirector opened #1728 "Thanos compactor throw error `open index file: read symbols: read symbols: invalid checksum` in compaction process"
Today I found Thanos compactor keep throwing error open index file: read symbols: read symbols: invalid checksum when doing the block compaction. The compaction process tried to merge those 7 blocks to one final block(level 4):
[code]
I saw the new block was created successfully, however it can not pass the function `GatherIndexIssueStats` check.
I checked the source code, seems the error come fro

[2019-11-07 08:56] uvaisibrahim opened #1730 "Thanos store hungs up on Initializing Bucket store"
Hi,

Somebody, please tell me what is actually happening when the logs for Thanos store-gateway shows this?

level=info ts=2019-11-07T08:30:48.398215615Z caller=flags.go:75 msg="gossip is disabled"
level=info ts=2019-11-07T08:30:48.398667804Z caller=factory.go:39 msg="loading bucket configuration"
level=debug ts=2019-11-07T08:30:48.401134194Z caller=store.go:128 msg="initializing bucket store"

My

[2019-11-07 10:00] GiedriusS commented on #1730
Hi, closing in favor of https://github.com/thanos-io/thanos/issues/1455. We could definitely be more verbose here so that our users would know what is actually happening.

[2019-11-07 10:00] #1730 closed

[2019-11-07 10:02] GiedriusS commented on #1455
Also, we could and should probably be more verbose here at the debug level (or info) so that users would know what blocks we are pulling just like Prometheus, for example, prints what blocks it finds on the disk.

[2019-11-07 11:01] #749 closed

[2019-11-07 12:08] brancz commented on #1701
There is no such possibility today.

[2019-11-07 13:18] GiedriusS commented on #1726
Currently, there is no such feature. The closest you can get to this is with `metric_relabel_configs`.

[2019-11-07 14:12] FUSAKLA commented on #1726
You could possibly set up new prometheus instance to federate just those metrics you are interested and add the sidecar to it as a workaround.

[2019-11-07 15:19] raz08 opened #1731 "How can I configure storage type to NFS in Thanos ? Any example?"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:

**Anything else we need to know**:

[2019-11-08 19:41] FUSAKLA commented on #1728
Hi, I suppose running bucket inspect on it ends up same way probably?
Does the new compacted block contain the meta.json file?

[2019-11-08 19:50] FUSAKLA commented on #1724
You should run the thanos ruler twice an identical pair if you are looking for HA probably.

[2019-11-08 21:34] smalldirector commented on #1728
yes, the `meta.json` file is there.

[2019-11-08 22:28] FUSAKLA commented on #1731
Hi, Thanos is not planning to support any distributed filesystems such as NFS at least for now.
Please refer to the documentation about the experimental filesystem storage support https://thanos.io/storage.md/#filesystem

[2019-11-08 22:42] FUSAKLA commented on #1700
Even though I agree that the debug endpoints should stay at the root it feels like doing some decision for the user.

If he needs the prefix he probably already has some proxy in front of it where he can block those endpoints and on the other hand it can just complicate things for some uncommon use-cases :thinking:

[2019-11-08 23:03] FUSAKLA commented on #1728
And out of curiosity how big is the resulting index file of the new block?

[2019-11-08 23:43] smalldirector commented on #1728
@FUSAKLA Good question here. The compacted index is around `22GB`.

[2019-11-08 23:46] smalldirector commented on #1728
Do you think Prom TSDB could not support very large index?

[2019-11-09 09:44] FUSAKLA commented on #1728
Yeah, it was even discussed on PromCon but the current limit is 64 GiB IIRC
(see nice blog post about it https://grafana.com/blog/2019/10/31/lifting-the-index-size-limit-of-prometheus-with-postings-compression/ it's currently being solved here https://github.com/prometheus/prometheus/pull/5884)
But 22 GiB should be still ok I suppose.

[2019-11-09 13:12] bwplotka commented on #1728
Just to double check, it is the output block that is 22GB index. How meta.json looks like? (: Might be some other thing that is out of int32 but it's interesting we detect in read time not write time.

[2019-11-09 14:47] #1568 closed

[2019-11-09 21:27] smalldirector commented on #1728
Here is the `meta.json`:

[code]

[2019-11-10 08:10] GuyCheung commented on #1724
@brancz yes the state wouldn't disappear, but this will help to set ruler as more lighten component right? I think this situation similar to the relationship between Prometheus and Thanos receive, the Prometheus will not act as a fully stateless component but we can treat it stateless because of Thanos receive.

[2019-11-10 08:17] GuyCheung commented on #1724
@FUSAKLA yes, I thought like this before, but there are some disadvantages I think:
1. calc an identical pair twice or more will increase the system load.
2. fan out load on Thanos query side? data will store on the ruler component and we have to add Thanos ruler in Thanos query.
3. not simple enough for Thanos ruler, I think Thanos ruler focus on `query -> exec -> write` in the whole system, and

[2019-11-10 08:55] FUSAKLA commented on #1724
Yes, the HA always comes with some price. It will be calculated twice but it's similar to Prometheus HA where you do the scraping and evaluation twice as well. But I wouldn't say adding the ruler StoreAPI to the cluster is that much of a burden and even less if you use service discovery. Still, the remote write won't help you with HA.

But I don't see reason to not have the remote write in the rul

[2019-11-10 20:38] bwplotka commented on #1728
cc @codesome who wanted to look at it. We discussed internally and it really looks like malformed disk writes. What do you use for disk storage? Can you compact locally?

[2019-11-10 23:42] smalldirector commented on #1728
Not try to compact locally as the blocks size are too large.
The compactor running on our production is using local SSD, and it will download the blocks from Ceph. The final compacted block is generated, somehow we can not read its index.

[2019-11-11 00:57] #1110 closed

[2019-11-11 01:45] GuyCheung commented on #1701
while, thanks a lot anyway!

[2019-11-11 02:38] GuyCheung commented on #1724
I think the requirements should quite similar to why we create Thanos receive component.
Thanos had `sidecar`, `query` and `store` components before, these components also work well, and looks like already making Prometheus with distributing feature. but we create receive component now, I think it will be a little conflict with sidecar and query components, however, we had created it, and the conc

[2019-11-11 15:08] marcusramberg commented on #1700
Fwiw Prometheus remaps health check according to web.external-url.

[2019-11-11 15:18] Kirchen99 opened #1739 "rule: Alerts will not be deleted after curl -X POST localhost:10902/-/reload."
**Thanos, Prometheus and Golang version used**:

0.8.1

**What happened**:
I deleted alerts file and used curl to reload thanos. But the alerts are still in thanos-ruler.

**What you expected to happen**:
The alerts should be disappeared from thanos-ruler

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl apply -f rules.yaml`
[code]
`curl -X POST localhost:10902/-/reload.`

[2019-11-11 15:20] GiedriusS commented on #1739
Probably related to this: https://github.com/thanos-io/thanos/pull/1439

[2019-11-11 15:37] aaron-trout commented on #1300
Hi, I am having this issue using thanos 0.8.1. I have tried moving the directories for blocks it complains about out of the bucket but then every time I run the compactor it just finds some more to be sad about :-(

This is crashing the compactor with 0.8.1 even with `--wait` flag.

Any help to further debug this would be appreciated! (@bwplotka maybe?)

[2019-11-11 23:24] smalldirector commented on #903
@bwplotka any thoughts on this idea to support `per metric retention on compactor`?

[2019-11-13 04:55] Rajashekharaiah-M opened #1740 "Thanos storage type FILESYSTEM-Error parsing commandline arguments: unknown long flag '--cluster.address'"
Trying to setup Thanos (Demo setup) using storage type FILESYSTEM. I took master code base and built it, as LOCAL FILESYSTEM storage fix is on master.
But I'm getting thanos: error: unknown long flag '--cluster.address'.

**Thanos, Prometheus and Golang version used**:
Thanos  :  master
Golang : 1.13

**Object Storage Provider**: FILESYSTEM

**What happened**:

**What you expected to happen**: Err

[2019-11-13 05:09] jojohappy commented on #1740
Hi, All `--cluster.*` flags belonged to Gossip cluster, we have removed Gossip implementation since v0.5.0. You should remove the `--cluster.*` flags.

[2019-11-13 07:00] Rajashekharaiah-M commented on #1740
Hi jojohappy, Where should I remove this flag.

[2019-11-13 08:28] squat commented on #1740
Thanos is complaining that `--cluster.address` is not a valid flag. You must not specify it when running the binary.

Can you please share exactly what command you are running?

[2019-11-13 09:13] shancang opened #1742 "query.auto-downsampling=true error"
config
[code]
- --query.auto-downsampling=true
Error parsing commandline arguments: unexpected true
thanos: error: unexpected true

[2019-11-13 09:20] jojohappy commented on #1742
Hi, it is `--query.auto-downsampling` enough. No value should be given.

[2019-11-13 10:10] Rajashekharaiah-M commented on #1740
I'm just adding thanos in Prometheus source.

apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
spec:
    thanos:
        baseImage: affirmed/thanos
        version: v0.8.0
        peers: thanos-peers.monitoring.svc:10900
        objectStorageConfig:
             key: thanos.yaml
             name: thanos-objstore-config

And my thanos.yaml is like

{{- define "thanos" -}}
type: FILE

[2019-11-13 10:26] squat commented on #1740
You’re deploying thanos sidecar automatically with Prometheus Operator? The this issue is because you are using incompatible versions of thanos and Prometheus Operator. To use thanos >=0.4.0 you need to use Prometheus operator >=0.31.0.

xref: https://github.com/coreos/prometheus-operator/commit/901346bd552274f4c4e3de4aae1dcc4a3abe5668

[2019-11-13 10:33] #1742 closed

[2019-11-13 12:38] bwplotka commented on #942
Just to make sure our goals here is not only size but actually even more:
* data actually allocated in the memory.
* latency of loading index-cache/index-header

[2019-11-13 14:05] SuperQ opened #1743 "query: UI doesn't persist Thanos-specific settings"
When using the Thanos query UI, the additional settings like "deduplication", "partial response", etc are not persisted to the URL the same way settings like "stacked" are. This makes it difficult to share URLs.

Also problematic is that the UI defaults to "Only raw data", which can be expensive on large queries.

[2019-11-13 14:13] SuperQ commented on #1743
It looks like this was at least partially fixed by https://github.com/thanos-io/thanos/issues/1463.

[2019-11-13 14:23] FUSAKLA commented on #1743
Agree this is annoying. Quickly looking at the UI it should be only:
- [ ] deduplication
- [ ] partial response

Regarding the default down sampling, would you suggest the automatic as a default?

[2019-11-13 14:40] SuperQ commented on #1743
Yes, I think automatic should be the default.

[2019-11-13 16:04] bwplotka commented on #39
We are exploring loading blocks on demand, so it's time to reopen this as values would be no longer in memory. (:

Worth to note that mostly `__name__` arg is heavily used, so we might want to cache all of it.

The alternative would be implementing the time limit on this. Also related to the: https://github.com/thanos-io/thanos/issues/39

[2019-11-13 16:07] ppanyukov commented on #39
@bwplotka

couldn't help noticing this issue is related to itself, surely a mistake :)

[2019-11-13 16:16] bwplotka commented on #39
yup, fixed!

[2019-11-13 16:26] bwplotka commented on #1743
User can decide what is by default using `query.auto-downsampling`

In terms of URL settings, we added downsampling parameter: https://github.com/thanos-io/thanos/pull/1562 definitely this issue is valid to add all of them.

[2019-11-13 16:30] SuperQ commented on #1743
@bwplotka That seems to only affect queries from things like Grafana. When you use the UI, it has separate defaults that aren't affected by the command line flag.

[2019-11-13 16:35] bwplotka commented on #1743
Ah, good point, then I think either this flag should set this default, or we should have another. I think the former is preferable.

[2019-11-14 06:30] silencev opened #1744 "query: merge discontinuous metrics"
I'm new to Thanos, thanks for your great work!

I setup 2 Prometheus servers with Thanos sidecar to be the HA pair.
in some unstable network situation, the metrics is discontinuous because of scrape timeout:

**dedup=true**
![圖片](https://user-images.githubusercontent.com/24366323/68831705-11dc8500-06ea-11ea-8c26-5cb3dc18d814.png)

but if set **dedup=false**, I found the metrics can connect togethe

[2019-11-14 08:04] FUSAKLA commented on #1744
Hi, thanos currently uses penalty based algorythm which chooses primary replica and only switches to next one after some lvl of degradation. The reason for this is that the two replicas can has slightly different data and if it would switch between those immediately when the first is missing them the results could be "jumpy".
Does this at least a bit answers your question?

[2019-11-14 08:21] FUSAKLA commented on #1744
The penalization logic can be found here
https://github.com/thanos-io/thanos/blob/a3ab54566ce65741ba37fec5c152d18a80fcfdac/pkg/query/iter.go#L490

[2019-11-14 09:41] obiesmans commented on #1743
@bwplotka : maybe a thanos-specific datasource for grafana could be a neat long-term solution ?

[2019-11-14 09:45] metalmatze commented on #1704
Do we already have faster builds from CircleCI through the CNCF? But I guess that's only about scheduling and not building itself?

[2019-11-14 09:50] bwplotka commented on #1704
No, we are on open source tier. CNCF advised us to move to GH actions which is claimed to be now way faster. Alternative is Azure pipelines.

[2019-11-14 10:10] ppanyukov commented on #1704
Azure pipelines are pretty good. There is a pretty good story there on having secrets (like ssh keys) and secret variables, and service principal links to anything in Azure (obviously!).

The downside is there is a need for separate org there, all that account linking and management etc. The whole thing being MSFT could be quite overwhelming to newcomers.

[2019-11-14 10:39] Rajashekharaiah-M commented on #1740
Yes, version conflicts. Thank you.

[2019-11-14 10:39] #1740 closed

[2019-11-14 10:40] raz08 opened #1745 "How do I register a store with the Thanos querier?"
prometheus.yaml
[code]
thanos.yaml

[code]

thanos-secret.yaml
[code]

querier-deployment.yaml
[code]
thanos-store.yaml

[code]
thanos-compactor.yaml

[code]

[2019-11-14 10:42] Rajashekharaiah-M commented on #1745
Query logs looks fine.

level=debug ts=2019-11-14T06:10:41.011927341Z caller=main.go:101 msg="maxprocs: Leaving GOMAXPROCS=[4]: CPU quota undefined"
level=info ts=2019-11-14T06:10:41.012138842Z caller=main.go:149 msg="Tracing will be disabled"
level=info ts=2019-11-14T06:10:41.013300302Z caller=options.go:20 protocol=gRPC msg="disabled TLS, key and cert must be set to enable"
level=info ts=2019-11

[2019-11-14 10:44] squat commented on #1745
Can you please share the exact command used to run the thanos querier? E.g. the full kubernetes deployment.

[2019-11-14 11:15] Rajashekharaiah-M commented on #1745
Hi squat, I have updated now. Please check

[2019-11-14 11:21] squat commented on #1745
Hi, the UI shows no registered stores because you have not told the querier where it can find any stores. The querier requires `--store=......` flags in order to know how to locate a store API. Please see https://thanos.io/components/query.md/ for help getting started.

[2019-11-14 11:49] Rajashekharaiah-M commented on #1745
--store            "0.0.0.0:10901"

is this right?

[2019-11-14 11:54] jojohappy commented on #1745
No, you should setup the grpc address of your storeAPI components, such as storeGW, query..

[2019-11-14 11:57] Rajashekharaiah-M commented on #1745
I have set it up. Check above

[2019-11-14 11:59] squat commented on #1745
Not quite, it must be the address of your thanos store gateway. For example:
`--store=<POD-CLUSTER-IP>:10901`
In order to avoid hard coding an IP, you can use the DNS name, or you can also leverage DNS SRV records:
`--store=dnssrv+_grpc._tcp.thanos-store.fed-prometheus.svc.cluster.local`

For a complete example, see: https://github.com/thanos-io/kube-thanos/blob/master/manifests/thanos-querier-dep

[2019-11-14 12:10] Rajashekharaiah-M commented on #1745
Im getting this error
`
level=error ts=2019-11-14T12:08:45.216045926Z caller=provider.go:101 msg="dns resolution failed" addr=dnssrv+_grpc._tcp.thanos-store.fed-prometheus.svc.cluster.local err="lookup SRV records \"_grpc._tcp.thanos-store.fed-prometheus.svc.cluster.local\": lookup _grpc._tcp.thanos-store.fed-prometheus.svc.cluster.local on 10.96.0.10:53: no such host"
`

[2019-11-14 12:16] jojohappy commented on #1745
You should create a headless service first.

[code]

[2019-11-14 16:30] Rajashekharaiah-M commented on #1745
Thanks jojohappy, That worked.

Now Thanos UI is not  loading. (http://{clusterip}:9090)

[2019-11-14 16:38] squat commented on #1745
@Rajashekharaiah-M but the querier logs look good, right?
Cluster IPs are private IPs that, unless you are VPN'd or have some forwarding, are only accessible from inside your cluster. Better to try to `kubectl port-forward` to access the querier UI, e.g. https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/#forward-a-local-port-to-a-port-on-the-pod

[2019-11-14 16:52] Rajashekharaiah-M commented on #1745
I have service for that
[code]

Is both Prometheus and Thanos query exposed with same port(external port)?

[2019-11-14 16:58] squat commented on #1745
Setting your cluster IP as an external IP in the service does not make it available to the outside world. The external IPs field is a way of saying: "hey, Kubernetes, any traffic that arrives on this  IP should be forwarded to my service." But it does not mean that your cluster IP from the private IP address space is accessible to the whole internet.

More info on external IPs: https://kubernetes.

[2019-11-14 17:01] bwplotka commented on #1708
I think we might need to make it a bit more complex.

Let's consider this case:
* raw retention is 1month
* downsampled retention is 2y
* compactor is not running for 2 months.

Now what will happen with this change is that we will have a gap for downsampled data. between `[2mo, 1mo]` as we remove raw data that was dependent on.

I think we could improve the flow only for case where raw = res5m =

[2019-11-14 17:32] raz08 commented on #1745
By mistake I have added --http-address=0.0.0.0:9090. that is the reason UI was not coming up. I fixed it now.

One last support.
Sidecars and data is not visible in Thanos query UI.

[2019-11-14 17:36] squat commented on #1745
You need to specify the sidecar gRPC address on the query command as well, just like with the store gateway.

[code]

[2019-11-14 18:12] raz08 commented on #1745
Added this
[code]
but it says connection refused.

thanos-peers-service.yaml

[code]

[2019-11-15 04:07] #1701 closed

[2019-11-15 16:22] bwplotka commented on #1646
Something that might affect is that we might want to split at some point Store for fetching chunks and index lookup to separate components. We might want to be prepare for this with naming. `bucketChunkGateway` `bucketIndexer`

I would postpone the discussion and voting to that moment (:

[2019-11-15 23:16] cmanzi opened #1749 "Labels on Bucket Web UI chunks"
**Thanos, Prometheus and Golang version used**:
Thanos: quay.io/thanos/thanos:v0.8.1
Prometheus: quay.io/prometheus/prometheus:v2.12.0

**Object Storage Provider**:
S3

**What happened**:
Bucket Web UI shows correct number of 'rows' Prometheus instances, but the labels on the left only show '1, 2, 3, etc.'. See attached image. From the screenshots I've seen, it seems like they should be showing th

[2019-11-16 12:59] bwplotka commented on #1749
Yes, this is due to the limitation of UI library we used.

Help wanted to fix it (:

[2019-11-16 23:57] salapat11 opened #1750 "Thanos store OOM"
**Thanos, Prometheus and Golang version used**:
Thanos: 0.6.0
Prometheus: 2.10.0

**Object Storage Provider**: S3

**What happened**:
Thanos Store won't start.  It runs for 2 mins and crashes with OOM.  Increased the memory to 64 GB and will still fail.  Compactor is running and generating index.cache.json files.

Bucket size: 202.4 GiB.  Total Objects: 4952
Biggest index.cache.json: 3.2 GiB

- --

[2019-11-17 17:04] bwplotka commented on #1651
Updated this with recent findings and ideas. Design doc and MVP in progress (:

[2019-11-18 16:03] cmanzi commented on #1749
@bwplotka I'd be interested in helping out. Any details you can point me to regarding this issue?

[2019-11-18 17:30] bwplotka commented on #1749
BTW you should see those labels below, just not at the first column, but below. See: https://github.com/thanos-io/thanos/pull/1248 for details, can't find the discussion now why it was not done all in the first column.

[2019-11-18 17:38] #1601 closed

[2019-11-18 20:11] cmanzi commented on #1749
@bwplotka Thanks. Turns out I fixed it be correctly reading the docs...I did open a PR https://github.com/thanos-io/thanos/pull/1756 to set the default label to `prometheus`. Seems like this would make sense as a default label to look for. I will look over that other issue, thanks.

[2019-11-18 20:11] #1749 closed

[2019-11-20 00:51] bwplotka commented on #1528
Anyone is welcome to help. cc @abursavich as we talked about this today at KubeCon. Feel free to read the proposal: https://thanos.io/proposals/201901-read-write-operations-bucket.md/ It should be quite explanatory, even though a bit long. This issue description contains all tasks related to this. If you wish to start working on it I think we could join forces and finish it quickly, happy to jump

[2019-11-20 00:59] bwplotka commented on #1528
Fixes: https://github.com/thanos-io/thanos/issues/564

[2019-11-20 00:59] bwplotka commented on #564
This will be fixed by: https://github.com/thanos-io/thanos/issues/1528 help wanted (:

[2019-11-20 02:35] bwplotka commented on #1704
Another flaky test: https://circleci.com/gh/thanos-io/thanos/5768?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]

[2019-11-20 07:01] silencev commented on #1744
@FUSAKLA thanks! let me trace the code for `penalty` algorythm :-]

[2019-11-20 07:01] #1744 closed

[2019-11-20 08:00] Wing924 opened #1767 "compactor: Ideas to use less disk space"
**Thanos, Prometheus and Golang version used**:
quay.io/thanos/thanos:v0.8.1

**Object Storage Provider**:
S3

**What happened**:
compactor use up all disk (250G) while the biggest block size is 27G and repeatedly restart.
<img width="415" alt="スクリーンショット 2019-11-19 23 52 56" src="https://user-images.githubusercontent.com/8895721/69219502-d7c71500-0b27-11ea-8322-30aeb14ff0c1.png">

**What you expec

[2019-11-20 09:48] miekg commented on #1471
I'm not following anything discussed on slack, but I'm of course curious to any updates and/or progress made here. Is there anything to share? Thanks!

[2019-11-20 11:18] UdayVishwakarma opened #1768 "bucket with type FILESYSTEM is not supported"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.8.1 (branch: HEAD, revision: bd8278859b2321aaaa7514edde764816cc039d34)
  build user:       root@2227d9a2fdb1
  build date:       20191014-12:03:55
  go version:       go1.13.1

**Object Storage Provider**:
FILESYSTEM
**What happened**:
I tried running store with below command
[code]

I get error `caller=main.go:200 err="store comma

[2019-11-20 12:56] GiedriusS commented on #1768
Hello! Please use the `master` version - https://github.com/thanos-io/thanos/commit/b7f3ac9e758d29765f8a0b676f898fef72d73e3a this has not been in any official release yet!

[2019-11-20 12:56] #1768 closed

[2019-11-20 13:01] GiedriusS commented on #1767
Hi, what are the lengths of those blocks in terms of time range? I wouldn't be surprised if `thanos compact` is trying to carve out a "bigger" block out of those.

[2019-11-20 13:02] GiedriusS commented on #1750
Hi, any reason you are running such an old version? Please try the `master` and/or `0.8.1` and see if it is still reproducible.

[2019-11-20 15:53] Wing924 commented on #1767
@GiedriusS This is inspect output

|            ULID            |        FROM         |        UNTIL        |   RANGE   | UNTIL-DOWN | #SERIES |   #SAMPLES    |  #CHUNKS   | COMP-LEVEL | COMP-FAILED |                LABELS                 | RESOLUTION |  SOURCE   |
|----------------------------|---------------------|---------------------|-----------|------------|---------|---------------|---------

[2019-11-20 16:16] salapat11 commented on #1750
Same issue with v0.8.1.

[2019-11-21 02:04] Victorion commented on #1624
@squat I also tried to test the receive component with this patch - same story, but with small chunk - ~80 MB generated wal logs can't be replayed (single segment) - got OOM with 4GB memory limit on the container.

[2019-11-21 02:24] Jonnymcc opened #1771 "Thanos compactor stuck on downsampling?"
**Thanos, Prometheus and Golang version used**: image: quay.io/thanos/thanos:v0.8.0

**Object Storage Provider**: S3

**What happened**: Compactor started downsampling and appeared to make no progress. It eventually hit the memory limit (40GB) for the pod in Kubernetes and is terminated.

**What you expected to happen**: A log message saying that a block has been downsampled. My understanding is t

[2019-11-21 13:42] nextus opened #1774 "Remote read in Store API has a high overhead"
**Thanos, Prometheus and Golang version used**:

[code]
[code]
[code]

**Object Storage Provider**:
S3

**What happened**:
Response time is 10 times slower using Store API than using Prometheus API endpoint for specific requests.

**What you expected to happen**:
Less overhead in response time using Store API.

**How to reproduce it (as minimally and precisely as possible)**:
Compare response time

[2019-11-21 13:54] kai-laufer opened #1775 "thanos receive: storing locally fails with err="failed to non-fast add: out of bounds""
**Thanos, Prometheus and Golang version used**:
- Thanos: thanos, version 0.7.0 (branch: HEAD, revision: c6eaf68bec32aefd280318eaef6121d6ddb20d10), go version:       go1.12.5
- Prometheus: prometheus, version 2.12.0 (branch: HEAD, revision: 43acd0e2e93f9f70c49b2267efa0124f1e759e86), go version:       go1.12.8

**Object Storage Provider**:
- Ceph RadosGW (S3)

**What happened**:
I've configured tha

[2019-11-21 16:02] squat commented on #1775
hi @kai-laufer, over the past month we’ve made a ton of improvements to thanos receive, including fixing those out of bound errors (#1563, #1616, #1627). Please test using the latest thanos which includes these fixes :)

[2019-11-21 16:41] kai-laufer commented on #1775
Hi again,

with the latest version I'm getting those errors:

<p>

[code]

</p>

I'll let it run for a while an I'll keep an eye on that. Maybe the messages disappear.

[2019-11-21 16:54] squat commented on #1775
This is good, it means that thanos is correctly identifying samples and rejecting them. It will be sending the correct status code to Prometheus so that prom doesn’t continue to re-try sending those samples forever, which used to happen and was the cause of those millions of logs.

At the heart of it, the cause of these errors is that Prometheus is sending samples that are older than the beginning

[2019-11-22 06:48] diemus opened #1778 "Ruler: Add authentication options query"
version:0.8.1

        http://user:password@xxxx.com/api/v1/query?dedup=true&partial_response=false&query=probe_failed_due_to_http_status_code+%21%3D+0&time=2019-11-22T14%3A37%3A10.387097931%2B08%3A00
        level=error ts=2019-11-22T06:37:10.53514552Z caller=rule.go:775 err="unmarshal query instant response: invalid character '<' looking for beginning of value"

I copy the url to postman and it

[2019-11-22 06:53] #1349 closed

[2019-11-22 09:31] kai-laufer commented on #1775
Hi @squat,
thanks again! It looks much better now. This issue can be closed now.

[2019-11-22 09:31] #1775 closed

[2019-11-22 09:58] nextus commented on #1774
I may suggest that there is some inefficient algorithm with querying metadata from Prometheus (`/series` endpoint) using remote read API comparing to HTTP Prometheus API.

[2019-11-22 11:55] bjakubski opened #1779 "ruler: silently mangles rules read from config (subqueries)"
Thanos official docker 0.8.1.
Also checked with master 8a8f576a go 1.13

**What happened**:

When investigating thanos ruler alerting rules not firing I've noticed that thanos mangled all my rules that used subquery with offset.

Rules shown (and executed) in ruler are different than ones in config files with rules.

**What you expected to happen**:

rules read cannot be altered and should be exec

[2019-11-22 12:39] wujie1993 opened #1780 "reloader: config reloader doesn't trigger normally in k8s when secret has updated"
**Thanos, Prometheus and Golang version used**:

thanos: v0.8.1
prometheus: v2.13.1
golang: v1.13.1

**Object Storage Provider**:

**What happened**:

The reloader does not trigger properly when the configuration file is changed using the mv command or by modifying the secret with k8s. In other words, when an event occurs that causes the inode of the configuration file to change, the reloader does

[2019-11-22 15:12] simonpasquier commented on #1024
It seems to be already the case (from master):

![image](https://user-images.githubusercontent.com/2587585/69437096-e5a4b200-0d42-11ea-846f-0f8886147dee.png)

[2019-11-22 15:16] vbeausoleil commented on #977
@jqueuniet I'm running into the exact same issue. I've been struggling to get a working Envoy configuration in place. Would you be open to sharing your solution here or discussing it privately? Thanks!

[2019-11-22 15:20] simonpasquier commented on #1027
Using master, I see that `prometheus_rule_group_last_duration_seconds` values match with the rules UI.

[2019-11-22 15:54] thesaadarshad commented on #520
hi @Alexvianet I have a question regarding your Thanos implementation if i may ask?

[2019-11-22 16:40] Alexvianet commented on #520
all ok thanks

[2019-11-22 17:10] #1189 closed

[2019-11-22 23:02] Alexvianet commented on #520
please

On Fri, Nov 22, 2019, 17:54 saad. <notifications@github.com> wrote:

[2019-11-23 01:35] thesaadarshad commented on #520
my stack is somewhat similar to yours that is

1) Prometheus 2 nodes different zone with Thanos sidecar
2) Deployed as Docker container on Query Node
3) Thanos store 1 node
4) Thanos query 1 node (at the moment)
5) Thanos compact 1 node
6) S3 bucket as an object storage

My Question is about the 3rd, Store Node. would you suggest to deploy Store Node separately on a different node and what would b

[2019-11-23 08:23] Alexvianet commented on #520
we use nginx for it with upstream

On Sat, Nov 23, 2019, 03:35 saad. <notifications@github.com> wrote:

[2019-11-23 08:27] Alexvianet commented on #520
also we have 2 datasources in grafana thanos and Prometheus, if we maintain
thanos costumers ll be able to use Prometheus metrics, with 2days data
rotation period

On Sat, Nov 23, 2019, 10:23 Alex G <alexvianet@gmail.com> wrote:

[2019-11-23 12:38] thesaadarshad commented on #520
makes sense but why would you want to query Prometheus directly. the low retention data stored in prometheus is queryable via Querier which automatically talks to sidecar and store at the same time? connecting Grafana directly to Querier also makes it work.

<img width="317" alt="image" src="https://user-images.githubusercontent.com/1412770/69478776-0d197e80-0e18-11ea-959f-7308fea4ef88.png">

[2019-11-23 17:15] Alexvianet commented on #520
just in case if thanos or s3 ll be unavailable

On Sat, Nov 23, 2019, 14:38 saad. <notifications@github.com> wrote:

[2019-11-23 17:37] ppanyukov commented on #703
Short answer: no. Or more precisely, "it depends".

From my own tests:

- this is a difficult limit to use meaningfully;
- the actual memory allocated by PromQL very largely depends on the query and the cardinality;
- so querier can still OOM.

[2019-11-23 17:52] mdlayher opened #1783 "pkg: go vet issues due to Seek signature"
Hello! `io.Seeker` is one of the more core Go interfaces that should be followed for any method named `Seek`. For examle, go vet currently returns:

[code]

I don't know what your API compatibility rules and such are, but I would encourage giving this Seek either a different name or following the io.Seeker interface. Alternatively, you could consider whitelisting this and running vet in CI, but I

[2019-11-23 20:17] thesaadarshad commented on #520
makes sense. help me solve this another confusion.
did you deploy `Store` independently on a separate node? I'm still facing issues deploying it correctly.
tl;dr how did you connect the querier to store API to retrieve old data?
🙏

[2019-11-23 20:32] Alexvianet commented on #520
yes, on separate node.
get querier from grafana

On Sat, Nov 23, 2019, 22:17 saad. <notifications@github.com> wrote:

[2019-11-23 21:22] thesaadarshad commented on #520
but which nodes stores data on S3 Storage? surely not every instance would be uploading data into the bucket?

[2019-11-23 23:54] Alexvianet commented on #520
thanos sidecar do that

On Sat, Nov 23, 2019, 23:22 saad. <notifications@github.com> wrote:

[2019-11-24 00:47] thesaadarshad commented on #520
but remember, Thanos Store and Thanos Querier are on different notes? and in nowhere we define in Querier where Thanos Store is?
pardon my ignorance but I'm a bit confused.

[2019-11-24 08:35] Alexvianet commented on #520
Thanos Store and Thanos Querier are on different notes?
yes

On Sun, Nov 24, 2019, 02:47 saad. <notifications@github.com> wrote:

[2019-11-24 10:36] thesaadarshad commented on #520
so how do they connect then? can you share your thanos store init params?

[2019-11-24 10:37] Alexvianet commented on #520
https://github.com/thanos-io/thanos/issues/520#issuecomment-421919671

вс, 24 нояб. 2019 г. в 12:36, saad. <notifications@github.com>:

[2019-11-25 10:16] Reamer commented on #564
Why we doesn't trigger a resync with remote in reader component (thanos store), if a block (deleted by compactor) isn't found?

[2019-11-25 10:54] hbokh commented on #1750
Indeed. Using the same version here.

[code]

Total objects is a little over 8000.

Running on a VM, I had to go from 2GB --> 4GB --> 8GB --> 16GB of memory before the OOM-killer was not an issue anymore!
Now `thanos store` is using 12.3GB of RAM.

[2019-11-25 12:09] vsxen commented on #1657
how to build gstatic all js&cs file into thanos binary?

[2019-11-25 17:26] bjakubski commented on #1779
This seems to be prometheus problem. Same thing happens with bare prometheus.
I'll try to confirm/report upstream tomorrow

[2019-11-25 18:08] bwplotka commented on #1779
Yup, I played with this on Prometheus side as well and it looks really similar issue is there.

[2019-11-25 18:08] bwplotka opened #1787 "Add checksums to block chunk files."
Recently some Ceph users are experiencing issues like https://github.com/thanos-io/thanos/issues/1345 so chunk file being malformed. It would be nice for us to add some checksum to meta.json that allows us to tell us if block chunk files are malformed or not.

We don't really need to do this on the index files as they have internal checksums for each section.

AC:
* checksum in meta.json for each

[2019-11-25 23:41] bjakubski commented on #1779
https://github.com/prometheus/prometheus/pull/6373

[2019-11-26 07:12] Wing924 opened #1788 "query: rate sometimes become wrong when counter reset & dedup enabled"
**Thanos, Prometheus and Golang version used**:
thanos v0.8.1
prometheus v2.13.1

**Object Storage Provider**:
S3

**What happened**:
* I monitoring logstash with metrics `logstash_event_in_total`, which is a counter for count of  incoming events.
* I restart logstash => this metrics resets and start from 0
* logstash_event_in_total{hostname=~"xxxxx"}[10m]
* `rate(logstash_event_in_total[2m])` wit

[2019-11-26 08:25] bwplotka commented on #1783
Nice, thanks for reporting!

I think if you run against Prometheus, this will be similar as it also uses:

[code]

I would say let's be compliant with Prometheus one, so if we want we need to first adjust Prometheus (:

Anyway I guess for this issue AC would be:
* Add `go vet` to CI, whitelist `Seek`

[2019-11-26 16:38] #1779 closed

[2019-11-26 20:12] bwplotka opened #1794 "Consider moving to https://github.com/friendsofgo/errors"
New Go 1.13 errors `Is` and `As` methods are not compatible with `pkg/errors` `Cause` and `Wrap` we use in Thanos.

I would vote for using https://github.com/friendsofgo/errors for those for now as it combines both worlds. This is the key if we will start to rely on wrapped errors from libraries using Go1.13 errors. Some of this is discussed [here](https://github.com/pkg/errors/issues/202). Low pr

[2019-11-27 10:56] bwplotka commented on #1704
Another one repeating constantly:

[code]

Due to timeout again.

[2019-11-27 12:30] bvis commented on #1655
Yesterday I give a try to the master version of the image (quay.io/thanos/thanos:master-2019-11-26-825f1199) and it works as expected. ;)

[2019-11-27 12:45] bwplotka commented on #606
Let's get back to this (:

I think I would vote for having `alertmanager.config<-file>` flag which would control this per endpoint basis. I would vote for static and DNS service discovery only indeed. We could have nice reload based on this: https://github.com/prometheus/common/tree/master/config

Which is exactly as AC stated [above](https://github.com/thanos-io/thanos/issues/606#issuecomment-501

[2019-11-27 13:01] simonpasquier commented on #606
Thanks @bwplotka, I'm planning to work on this and will be sending a PR soon.

[2019-11-27 14:54] bwplotka commented on #1778
Yup, let's get back to this. It would be nice to add authentication options similar as we plan to do against Alermanager https://github.com/thanos-io/thanos/issues/606

It would really nice to have it composed as a `query.config<-files>` instead of `query.file-sd` FileSD we have in Thanos, similar to the Prometheus scrape config:

[code]

cc @simonpasquier

[2019-11-27 14:55] bwplotka commented on #606
I was thinking about something like this:
[code]

[2019-11-27 18:21] weedmaps-andychan opened #1808 "Missing Down Sampled Data"
**Thanos, Prometheus and Golang version used**:
Thanos: 0.8.1
Prometheus: v2.14.0
Golang:

[code]

**Object Storage Provider**: AWS S3

**What happened**:
When using the following query in Thanos for 7 days metrics, we are missing a day of calculated metrics ONLY we are using auto/5m/1hr downsampling.  With RAW Data only, everything works fine.

`rate(container_cpu_usage_seconds_total{container_la

[2019-11-28 05:21] vsxen commented on #1657
hi @squarejaw    how to build gstatic js&cs file into thanos binary , can you help me ?

[2019-11-28 09:56] bwplotka commented on #1774
Hi, thanks for reporting!

It looks to me like there is no regression, you just ask for a huge amount of data, and in previous Prometheus, we shutdown on a huge amount of samples, vs in newer we rely on latency and timeout.

Thanks for the flamegraphs, it actually shows things as expected, the majority of CPU is spent on encoding chunks. To resolve this we need: https://github.com/prometheus/prome

[2019-11-28 10:14] bwplotka commented on #1335
It's getting quite important to get this in, another point of failure:
* https://github.com/thanos-io/thanos/issues/1655#issuecomment-559068163
* FIxes like https://github.com/thanos-io/thanos/pull/1807

[2019-11-28 10:15] bwplotka commented on #1335
https://github.com/thanos-io/thanos/pull/1394 was our first attempt and can be used as a base (: Will get into this in free time, unless there are other volunteers (:

[2019-11-28 10:19] bwplotka opened #1810 "Clean partially downloaded index-cache.json"
Looks like we missed this: https://cloud-native.slack.com/archives/CK5RSSC10/p1574932985449600

In case of crash do index-cache.JSON being partially downloaded/created we have garbage that store GW cannot handle right now. This requires manual cleanup of local disk which is not great.

AC:
* Handle partial index-cache JSON on store GW

[2019-11-28 12:41] bwplotka commented on #1788
Thanks for report! Let's create unit test for it and see where the problem lies in our deduplication logic.

Something that we would need as well is raw data for raw metrics in this case, not rated, so `logstash_event_in_total{hostname=~"mon-srelog-gateway106z"}`

[2019-11-28 13:01] bwplotka opened #1811 "querier: Limit LabelNames; LabelValues to certain time period."
Something that Cortex is doing is that `LabelNames;LabelValues` by default are limited to active series only on ingesters (so let's say in Thanos world to Thanos receiver or Prometheus for latest 2h). This is due to the fact that when you query you are usually interested in autocompletion for fresh metrics.

We are now exploring if we can apply the same logic for Thanos e.g limit `LabelNames` and

[2019-11-28 13:03] yahaa opened #1812 "Should reloader reload empty configuration files ？"
**Thanos, Prometheus and Golang version used**:
* thanos v0.5.0

**Object Storage Provider**:

**What happened**:
When I add the following test case(case 3) to pkg/reloader/reloader_test.go `TestReloader_ConfigApply` ，i found that reloader reload the empty cfgFile to cfgOutputFile, so the configuration of prometheus is overwritten by the empty file。
[code]

**What you expected to happen**:
In the

[2019-11-28 13:03] ppanyukov commented on #1811
Do I understand correctly this does not affect the query execution and any memory limits for that?

[2019-11-28 13:07] bwplotka commented on #1808
Hi, you are not missing the data, your `rate` does not make sense for this query. e.g 5m resolution will have one sample per 5m, so if you rate with `[30s]` you will never have 2 samples which is required by rate (3 is recommended). If you want to query downsampled data you need `rate[1h]` for `5m` or larger for `1h` resolution.

We talked about this in our KubeCon talk: https://kccncna19.sched.co

[2019-11-28 13:08] bwplotka commented on #1811
Which memory limits you have in mind?

[2019-11-28 13:32] Wing924 commented on #1788
@bwplotka this is raw samples
<img width="1325" alt="スクリーンショット 2019-11-28 22 24 31" src="https://user-images.githubusercontent.com/8895721/69810220-bf917d00-122e-11ea-9df1-415819d1b0dd.png">

replica-1:
[code]
replica-2:
[code]

[2019-11-28 13:47] ppanyukov commented on #1811
The limits on memory taken during query execution, as this PR attempts to address.

https://github.com/thanos-io/thanos/pull/1747

[2019-11-28 16:39] bwplotka commented on #1771
It's OOM and while we optimized the downsampling process a lot, there still has to be more memory than biggest block.

[2019-11-28 16:46] bwplotka commented on #1812
I think yes. This is because we want to delegate validation of the given configuration file to the Prometheus itself. This way Prometheus can tell properly signal it via metric and log line and fallback to the old configuration as expected. We are just allowing to watch and reload Prometheus file, nothing more

[2019-11-28 16:46] #1812 closed

[2019-11-28 17:22] bwplotka opened #1813 "Design doc: No init startup for store gateway."
Hi :wave:

Sharing the design doc with some initial discussion around removing or limiting startup time for store gateway to be used potentially by Cortex:

* No startup metadata for blocks synchronization.
* Loading blocks on-demand on query time.

While this has many benefits it is a tradeoff e.g in query latency for "cold blocks": https://docs.google.com/document/d/1En0Hr1OqZLlsF-_JtpYSWEu2mBXy

[2019-11-28 17:47] bwplotka commented on #1811
Yes, I still don't see how limits improve those methods. This issue is required to have fulfill this: https://github.com/thanos-io/thanos/issues/1813

[2019-11-29 01:54] Wing924 commented on #1767
@GiedriusS Do you need any additional info?

[2019-11-29 09:00] pracucci commented on #1811
I would be glad to work on this. Few questions:

- Should the period be configurable?
- Should we introduce a breaking change enforcing a default of `2h`, or should we keep an unlimited default just introducing an option to slim it down?

FYI, Cortex doesn't enforce any short default for the `Series`. It currently uses Prometheus defaults, which is the entire history. Do we want to change this in

[2019-11-29 11:14] pracucci opened #1815 "Make the IndexCache shared cache friendly"
Currently, the `IndexCache` is an in-memory cache whose exposed interface allow to cache single Postings and Series. In Cortex we've an experimental TSDB blocks storage integration based on Thanos and we would like to introduce a shared index cache (based on Memcached).

The current `IndexCache` interface is not shared cache friendly, due to the fact that the exposed functions allow to query/cache

[2019-11-29 12:03] bwplotka commented on #1815
Yes! As discussed offline this is definitely something we have to introduce. Shared cached is the key to horizontally scale Store GW in terms of request traffic with some round-robin on top.

Making it multiXXX is the same way we use it right now (we iterate because of the current interface).

I think it;'s a typo and you meant `labels.Label` in map (:

It's totally fine to have `Memcached` suppor

[2019-11-29 13:00] pracucci commented on #1815
Excellent. I will work on it next week.

Ops, yes. Fixed the issue description.

So would you see OK a PR to add memcached index cache support directly into Thanos?

[2019-11-29 14:20] bwplotka commented on #1787
Each chunk has checksum already so this is good enough: https://github.com/prometheus/prometheus/blob/master/tsdb/docs/format/chunks.md

.. We just need to use it (:

This [PR](https://github.com/prometheus/prometheus/pull/6040) tries to accomplish this.

[2019-11-29 14:20] #1787 closed

[2019-11-29 15:02] bwplotka commented on #1811
Nice!

yes

We can introduce a breaking change if needed, but we need to be explicit in changelog. The question is, should we?

So what makes me think we should have `unlimited` default, for now: is the fact that if user goes to the dashboard with some templates using those APIs and asks for data month ago it will get label values for active series. Let's say he had `eu4-production` cluster month

[2019-11-30 15:14] OdysLam opened #1816 "Thanos Docs 404"
The links to the Thanos components in https://thanos.io/integrations.md/ generate a 404 error .

[2019-11-30 18:50] bwplotka commented on #1816
Nice, thanks! We had a silly bug in our website preprocessing. Fx: https://github.com/thanos-io/thanos/pull/1817

[2019-11-30 20:48] salapat11 opened #1818 "Thanos compactor empty chunks"
Prometheus: 2.9.2
Thanos: v0.5.0
Object Storage Provider: S3

Thanos compactor logs show "caller=streamed_block_writer.go:139 emptychunkshappened,skipseries".  What cause the empty chunks and how to avoid them?

[2019-12-01 11:19] fatsheep9146 commented on #1810
I'd like to help with this.

I think we can check if the error returned by function `loadIndexCacheFileFromFile` is `unmarshal index cache`, then we can just skip/delete this one, let the function `WriteIndexCache` create a new one.

@bwplotka What do you think?

[2019-12-01 14:52] OdysLam commented on #1816
Happy to help :)

[2019-12-01 14:52] #1816 closed

[2019-12-02 03:09] daixiang0 opened #1819 "support ceph object storage"
Is there any plan/process about support [Ceph object storage](https://ceph.com/ceph-storage/object-storage)?

[2019-12-02 03:22] daixiang0 opened #1820 "An official, community driven Thanos Helm Chart in thanos-community organization."
Now [doc](https://hub.helm.sh/charts?q=thanos) provide two helm chat, but none is official.
Uses have no idea to choose one to play with.
Some discussion is in [slack](https://cloud-native.slack.com/archives/CK5RSSC10/p1574911253443900).

I would like to thanos host an official helm charts like [loki](https://grafana.github.io/loki/charts) does, so that users can easily get official and stable ver

[2019-12-02 07:42] GiedriusS commented on #1819
Hmm, we use it here and it provides an S3 compatible API which you can use. I'm not sure if I understood the question.

[2019-12-02 08:00] daixiang0 commented on #1819
oops, ceph provide s3 API, thanks a lot.

[2019-12-02 12:51] bwplotka commented on #1820
cc @thanos-io/thanos-maintainers

What's wrong with the unofficial version? What problem are we trying to solve here? Is it only the choice for users; if that's the case what if we would recommend officially one of those? (:

None of the maintainers use helm, so it's hard and not effective for us to maintain such a chart. We are already overloaded. We are definitely happy for someone to help in do

[2019-12-02 13:12] bwplotka commented on #1818
Thanos code automatically avoids those, but there were at some point produced by Prometheus. Not need to worry too much about this, but it's interesting if that still happens on with Prometheus.

Let us know if that's the case or if you see any serious issue caused by this. (:

[2019-12-02 13:12] #1818 closed

[2019-12-02 13:15] salapat11 commented on #1818
There were lot of warnings in the Compactor log but did not impact the compactor.  I was only concerned if there maybe gaps in the samples

[2019-12-02 13:17] bwplotka commented on #1818
No, if chunks are empty, then there was no data in the first place. It's rather suggesting potentially Prometheus inefficiently produce empty chunks in an unnecessary way for some edge case.

[2019-12-02 13:22] salapat11 commented on #1818
Thanks for the clear explanation, @bwplotka

[2019-12-02 14:15] bwplotka commented on #1815
Definitely.

[2019-12-02 14:26] bwplotka opened #1822 "Add no-chunks `Store.Series` option to StoreAPI"
Querier HTTP `/series` [API](https://prometheus.io/docs/prometheus/latest/querying/api/#finding-series-by-label-matchers) is returning metadata, so series matched by labels.

For Thanos this uses StoreAPI.Series which also returns full chunks for whole requested time period. However the only labelset is required.

I would propose:
* Extend Series method of StoreAPI with some `no-chunk` bool or enu

[2019-12-02 14:39] bwplotka commented on #1711
This is orthogonal to: https://github.com/thanos-io/thanos/issues/1471

[2019-12-02 14:42] bwplotka commented on #942
The current plan is to move index-cache binary format. The proposal in progress.

[2019-12-02 14:43] bwplotka commented on #1711
This is well suitable to be designed and done together with: https://github.com/thanos-io/thanos/issues/942

[2019-12-02 14:53] bwplotka commented on #1810
Yup, that sounds good.

[2019-12-03 01:47] #1819 closed

[2019-12-03 01:59] daixiang0 commented on #1820
Unofficial version means maintainer by person, maybe outdated or something wrong or not support as much as official one does. The official version means most authoritative i think.

Feel free to host a chart or put it in `helm/charts` as `stable/thanos`.

I know that many maintainers used to use `jsonnet`, while more users use `helm` in fact. I would like to do this if possible.

[2019-12-03 07:22] brancz commented on #1820
Prometheus also doesn’t have a chart maintained by prometheus maintainers for the same reasons. I’ve had very bad experiences with having helm “official charts“ in the prometheus operator repository so I’m rather hesitant as well. I think if there are one or more maintainers willing to maintain it then having a separate repo for a chart should be fine.

[2019-12-03 09:39] domgreen commented on #1820
I would say that unless it is part of anyone's core workflow for rolling out Thanos with that specific image it would be a burden and become unloved therefore giving less value to the community than one maintained elsewhere.

However, if someone does have Helm as their core workflow and wants to maintain it they should but it would be hard to expect everyone to learn the intricacies of Helm to sup

[2019-12-03 10:38] KeepCaim opened #1828 "upload Prometheus data into AWS S3 failed!"
**Thanos, Prometheus and Golang version used**:
[code]
[code]

**Object Storage Provider**:
s3
**What happened**:
bucket_config.yaml
[code]

[code]
Can you help me , @bwplotka
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:

**Anything else we need to know**:

[2019-12-03 13:39] bwplotka commented on #1828
Is it regression or you just start setting things up? i.e did it work on previous version?

[2019-12-03 14:14] KeepCaim commented on #1828
Thank you very much for your reply，I just started using thanos today.It's great, except for uploading data into s3

[2019-12-03 16:24] weedmaps-andychan commented on #1808
Thanks!  This helps.

[2019-12-03 16:24] #1808 closed

[2019-12-03 16:31] bwplotka opened #1830 "compact: Hanging upload"
As referred in https://gitlab.com/gitlab-com/gl-infra/infrastructure/issues/

TODO: Get more info, type of storage, last log line from @SuperQ

[2019-12-04 10:58] #1815 closed

[2019-12-04 15:10] bwplotka commented on #1093
I think we should slowly consider making the receiver a non-experimental component.

I know multi-tsdb support is still in progress, plus docs (edited the description to add that point), but we are having feedback that receiver is quite stable for users already: https://cloud-native.slack.com/archives/CK5RSSC10/p1575471712121900 so worth to either reconsider making in stable now with some docs or

[2019-12-04 16:52] brancz commented on #1093
I've been working on the multi-tsdb work for some time, and I don't think there is a way to introduce it completely disruptionless, so I would prefer to not remove the experimental naming/labeling until we have the multi-tsdb work and have it sink in for a little bit. That said, we do already use this in prod, so while there may be manual migrations necessary, it's unlikely to break very badly at

[2019-12-05 02:05] daixiang0 commented on #1822
I would like to do this. Before it, i want to confirm the work:

- Add an option like `seriers-address` which uses the rule of StoreAPI
- Support sidecar read from series API

[2019-12-05 09:01] anoop2503 commented on #469
Getting the same issue on the versions v0.8.1 and v0.9.0

[2019-12-05 09:40] silencev opened #1842 "store: Azure BlobNotFound in store gateway"
**Thanos, Prometheus and Golang version used**:
- thanos: v0.8.1
- prometheus: v2.13.1

**Object Storage Provider**: Azure

**What happened**: Cannot query data in store
I can see the compact is still running.
but the query for longer than 1d will result the following error:
[code]
![Thanos_long_term_storage_Prometheus_solution](https://user-images.githubusercontent.com/24366323/70221816-f7934580-

[2019-12-05 12:19] brancz commented on #1811
I personally think this should actually even be a query parameter on the API endpoints. I believe there are even issues about this on Prometheus. A Prometheus with many blocks is just as affected by this as Thanos/Cortex are. I feel by default those endpoints should only respond with the active label names/values everywhere.

[2019-12-05 21:51] GiedriusS commented on #1828
Does it work if you switch to 0.8?

[2019-12-05 22:46] GiedriusS commented on #1822
Hi @daixiang0,

What do you mean by

?

Btw, the original proposal by @bwplotka IMHO makes sense. We should also probably mention in this ticket that it came from https://github.com/thanos-io/thanos/issues/1774 and should fix it.

[2019-12-06 10:50] bwplotka commented on #1177
Just to clarify. We already have [`liche`](https://github.com/raviqqe/liche) in `make dock-check`. However, looks like this does not detect all the broken links like mentioned here: https://github.com/thanos-io/thanos/pull/1176/files#diff-264a4415d8565eda4a7572e6522acc07R69 (`/pkg/store/storepb/rpc.pb.go)` and things like markdown sections: `query.md#custom-response-fields)`

AC:

* We check both

[2019-12-06 16:55] davkal commented on #1811
I'd challenge this fact, and I've been bitten by this in post-mortems where I set the time picker in Grafana to the time of incident and then tried to get typeahead suggestions for instances that at the time of querying were long gone.
Currently Cortex's series API ignores `start` and `end`, so I don't get the behavior I expect.
The downside would be though that if those non-recent queries would t

[2019-12-06 17:52] bwplotka commented on #146
Revisiting this as we saw some issues of violating this again e.g https://github.com/thanos-io/thanos/issues/552

Given just one error, it might still not worth to change.

Just leaving the calculation for max size of series entry:

*  Max varint lengths: https://github.com/golang/go/blob/master/src/encoding/binary/varint.go#L19
*  max series entry size in bytes: 10 (max uvarint64) + 2 * 5 (max uv

[2019-12-06 18:00] bwplotka commented on #552
Actually the reason might be similar to this: https://github.com/thanos-io/thanos/issues/146

We fetch fixed size series entries, so for series with an extremely large number of label pairs and chunks, we can have this problem. Looks like in this case `103779` bytes vs max `64*1024`.

Let's keep this in our mind, once we have more reports/see this more often we should investigate other options lik

[2019-12-06 18:27] bwplotka commented on #1774
We propose this: https://github.com/thanos-io/thanos/issues/1822

[2019-12-06 18:41] bwplotka commented on #1822
Please elaborate @daixiang0 (: what `rule` here means?

[2019-12-06 19:14] bwplotka commented on #1811
I agree with the functionality and latency aspect here as I mentioned:

In terms of Thanos there is a clear improvement to be done for series  http://github.com/thanos-io/thanos/issues/1822

@davkal so if Prometheus upstream would have `labelNames` and `labelValues` with parameters  `start` and `end` time, I guess it's trivial to make sure Grafana passes those in e.g dashboards templates? Also, ar

[2019-12-06 22:28] sanamana opened #1846 "Store server does not report error when some blocks cannot be read."
Versions:
Thanos: 0.8.1
Prometheus: 2.13
golang: 1.12.9

What happened:
The store server query processing identified the blocks that need to be read. However, some of the blocks were corrupted (reading the blocks errors out: 01DSMJ2YWJ508PWSGVX0Z4JDA1: preload chunks: preloaded chunk too small, expecting 2044).
When this happened the store server returned success.

Expected behavior:
When some blo

[2019-12-06 22:30] sanamana commented on #1846
This is bug in the store component.

[2019-12-07 10:08] davkal commented on #1811
Theoretically yes. But so far it's been more nuanced:

- We're using the label API for the initial request to populate the metrics selector and metrics suggestions in the query field. So far that's unbounded and in Prometheus would return *all* lifetime labels AFAIK.
- For the label completion we're using the series API because it allows us facetting: returning subsets of possible label spaces as

[2019-12-08 19:07] aslimacc opened #1849 "command: force thanos to upload"
Hello
Can I force thanos-sidecar to upload existing metrics to bucket because I don't want to loose 2 hours of metrics when I restart, considering that I don't want to use PVC
Thanks

**Thanos, Prometheus and Golang version used**:
thanos: 0.32
prometheus: 2.14.0

**Object Storage Provider**:
gce-pd (standard)

**What happened**:
When I deleted prometheus+thanos-sidecar pod, I lost 2 hours metrics

[2019-12-09 11:14] bwplotka commented on #1828
Unfortunately, we cannot reproduce it in our environments.

It's also weird as this error happens to be on` CopyObject` version of PUT AWS operation not really PUT,  but we strictly upload here from filesystem...

Any luck with the older version? What S3 provider are you exactly using?

[2019-12-09 11:14] edshelton opened #1850 "Unable to authenticate against S3 using an IAM role"
**Thanos, Prometheus and Golang version used**:
Thanos v0.8.1
Prometheus v2.13.1
EKS v1.14.7
kube2iam v0.10.8

**Object Storage Provider**:
AWS S3

**What happened**:
Unable to upload objects to the configured S3 bucket

**What you expected to happen**:
Objects are uploaded successfully

**How to reproduce it (as minimally and precisely as possible)**:
Rather than provide an access key and secret

[2019-12-09 11:15] der-eismann opened #1851 "Upload container images for arm64 architecture"
Now that AWS announced their way more powerful M6g instances it will start to get interesting to move from x86 to the ARM architecture. You already provide binaries on the releases page, but the docker images are for x86 only. Could you maybe adjust your build pipeline and provide images for ARM like [prometheus does](https://hub.docker.com/r/prom/prometheus/tags)?

[2019-12-09 11:22] bwplotka commented on #1851
We can definitely consider this (:

Help wanted to set it up.

[2019-12-09 11:48] bwplotka commented on #1846
We actually use `errgroup` not oklog in the `bucket.go` in new code, exactly for this reason that oklog was not suitable there (:

See: https://github.com/thanos-io/thanos/pull/1468

I believe that PR fixes this bug. Indeed I can see the error being dropped in older behavior if one block is fetched and second errors. Can you try `v0.9.0`?

[2019-12-09 11:49] #1846 closed

[2019-12-09 12:43] #1810 closed

[2019-12-09 12:58] der-eismann commented on #1851
I'd be happy to help, but unfortunately it seems like CircleCI [doesn't support it (yet)](https://ideas.circleci.com/ideas/CCI-I-900). There are some [hacky workarounds](https://github.com/zeprone/arm-circleci), but I'm not sure if this is the correct way.

So actually I have no idea how to do this right now.

[2019-12-09 23:13] blockloop opened #1855 "Receive: Possible memory leak with TSDB growth"
**Thanos, Prometheus and Golang version used**:

I have tested with both 0.8.1 and 0.9.0. Most recent version output is as follows:

[code]

**Object Storage Provider**: N/A

**What happened**:
When receiver runs for a long period of time it's memory grows until reaching OOM kills

**What you expected to happen**:
A steady memory footprint

**How to reproduce it (as minimally and precisely as poss

[2019-12-10 06:21] MarcMielke commented on #1579
same problem, looks like the ingesting prometheus instance wins and overwrites the external label(s) already set in the prometheus instances being scraped from the federation endpoint. `honor-labels` is ignored as it seems. here is what I tried (where `cluster` is the external label):
[code]

[2019-12-10 07:04] johncming opened #1859 "The confusing log output of the sidecar component startup."
## k8s enviroment:

[code]

## log

[code]

Confusing output

[code]

In line 1, the log output represents the external labels for the successful loading of Prometheus
In line 2, no external labels for Prometheus were found
Both logs are printed at the same second

[2019-12-10 07:53] KeepCaim commented on #1828
thanks @GiedriusS @bwplotka , Now, our s3 not support trunk upload signature ...
I'm going to use  federated  prometheus  witn thanos temporarily， local-storage.

[2019-12-10 10:56] nextus commented on #1774
One of the real use case.

There is a [label_values](https://grafana.com/docs/grafana/latest/features/datasources/prometheus/#query-variable) function in Grafana templating which is relies on `/series` API calls. So, some invocations with a huge amount of series can be much slower using Thanos query rather than Prometheus.

[2019-12-10 12:33] Breee opened #1861 "Feature request: Custom Retention policies for single metrics or groups of metrics"
We thought about Retention policies for single metrics or groups of metrics.

The motiviation behind this is, that we have metrics we want to store really long or even forever,
while other-metrics are not of interest for a long time.

Do you think this could be useful for others too?

[2019-12-10 14:10] blockloop commented on #1855
I pushed master-2019-12-10-352cc305 (which includes the fix from #1856) to one machine in our cluster and it seems to be growing much slower than the rest.

![image](https://user-images.githubusercontent.com/3022496/70536422-4cd4ab80-1b24-11ea-8bc3-35f306e7e17e.png)

The top line is the machine with master-2019-12-10-352cc305. The yellow line is the average across the cluster and the bottom line i

[2019-12-10 18:41] bwplotka commented on #1861
Duplicate of https://github.com/thanos-io/thanos/issues/903

[2019-12-10 18:41] #1861 closed

[2019-12-10 18:41] bwplotka commented on #1861
Definitely useful, let's discuss on mentioned issue HOW to achieve it (:

[2019-12-10 18:47] bwplotka commented on #903
Extra context can be found here: https://github.com/prometheus/prometheus/issues/1381

[2019-12-10 21:38] bryanlarsen opened #1865 "store: object doesn't exist"
**Thanos, Prometheus and Golang version used**:

Thanos 0.9.0
Prometheus 2.13.1
golang: whatever was used to create thanosio/thanos:v0.9.0

**Object Storage Provider**:  GCS

**What happened**:

store-gateway crashloops.   See logs below.

0.8.1 behaves differently: instead of crashlooping, it prints the same error but doesn't crash.   However, all data from Nov 29 until this morning is missing.

[2019-12-10 22:34] blockloop commented on #1855
@bwplotka the issue seems to be resolved with #1856 . The issue I was having with rebooting nodes and doubling memory usage was caused by thrashing. When we rebooted machines the hashring was updated by our watcher app, which monitors availability and updates the hashring. I believe this issue can be closed now with 352cc305

[2019-12-11 07:48] DLag commented on #1318
These changes would allow lifecycle management inside the multipurpose buckets.
As an example, we use an S3 bucket per cluster, and we maintain multiple clusters in a single account.
It's convenient to use a single bucket, replicate it, delete it with all the data at once.
And the best part is that we can apply a life-cycle policy on the Thanos data by using the prefix of a subdirectory.
And this

[2019-12-11 08:48] #1855 closed

[2019-12-11 09:23] valyala commented on #448
Possible workaround until this is fixed is to try [VictoriaMetrics](https://github.com/VictoriaMetrics/VictoriaMetrics). It usually requires less RAM than Thanos components.

[2019-12-11 10:13] bwplotka commented on #448
:point_up: Deleted the comment as it does not help to resolve this particular issue for the community (:

[2019-12-11 10:35] sylr opened #1869 "Lock for compactors"
**Thanos, Prometheus and Golang version used**:

v0.8.1

**Object Storage Provider**:

Azure Blob Storage

**What happened**:

Had several jobs doing compaction at the same time (bogus configuration).

All jobs raced to do the compaction until deletion of old blobs where one did it faster than the others so the others failed.

**What you expected to happen**:

I'm wondering if we could have a lock

[2019-12-11 14:57] bwplotka opened #1871 "Move components names to `Ruler`, `Compactor`, `Querier` (`-er`)"
It's maybe a minor but we should be consistent on naming. In the documentation, code and `thanos` command we have `rule, compact, downample, query` vs in some docs, deployments and most of the presentations we are leaking `Querier`, `Ruler`, `Compactor`

This conflicts a bit with `Store Gateway` but we already have some discussion about renaming it: https://github.com/thanos-io/thanos/issues/1646

[2019-12-11 17:16] vlantier opened #1873 "index.cache.json files way bigger than common indexes"
**Thanos, Prometheus and Golang version used**:
Thanos: 0.9.0
Go: 1.13.1
Prometheus: 2.14

**Object Storage Provider**: GCS

**What happened**:
Our `index.cache.json` files for a couple of days are being created greater than the normal index files. This is expected?

Comparing with 5 days agor we have index files of 1G and 300/400MB `cache.json`. No we have index with 1.8G and caches with 1.7.

I

[2019-12-11 18:25] cstyan commented on #1830
As discussed on Slack, looks like we've just run into the same issue.

We're using GCS, last log line is:

[code]

So it looks like the upload is stuck, no log lines about those source blocks being deleted.

[2019-12-11 18:52] bwplotka commented on #1873
Yes, the reason behind that is that index.cache.json is unoptimized e.g strings are not interned. With huge number of labels and long strings this might be the case, but your case looks really extreme.

We are working on this to resolve your issue: https://github.com/thanos-io/thanos/pull/1839

[2019-12-11 19:28] vlantier commented on #1873
I see.
Thanks for the responde @bwplotka, I'll be watching this issue..

With the new Prometheus 2.14 we saw isome `Highest Cardinality Metric Names` and `Highest Cardinality Labels` who may impact in this matter. Those metrics are from home-made exporters and we are working on it.

But something is odd because those metrics are there for a long time already. May you have some tips about where to

[2019-12-11 20:54] ryanprobus opened #1874 "Store gateway fails to sync block meta.json"
**Thanos, Prometheus and Golang version used**:

Image: quay.io/thanos/thanos:v0.9.0
thanos, version 0.9.0 (branch: HEAD, revision: 0833cad83db8b257a2275ec83a3d034c73659056)
  build user:       circleci@8e3da52515a2
  build date:       20191203-17:03:13
  go version:       go1.13.1

prom/prometheus:v2.12.0
prometheus, version 2.12.0 (branch: HEAD, revision: 43acd0e2e93f9f70c49b2267efa0124f1e759e86

[2019-12-11 21:08] GiedriusS commented on #1871
Makes sense, I agree.

[2019-12-11 22:01] GiedriusS commented on #1869
Hi, have you seen https://thanos.io/proposals/201901-read-write-operations-bucket.md/? Seems like your request is a duplicate of that one.

[2019-12-11 23:35] domgreen commented on #1871
Why not also change `store` to `gateway` or `proxyer` whilst making changes?

[2019-12-11 23:49] bwplotka commented on #1871
Same for `receive` -> `receiver` I guess (:

[2019-12-12 02:42] daixiang0 commented on #1820
Any input for this? @thanos-io/thanos-maintainers
Maybe not host by this repo, i would like to add thanos into `helm/charts` if possible.

[2019-12-12 02:56] benamazing opened #1875 "Range query is extreamly slow when time range is large"
Hi, I'm using thanos 0.9 for global view of 2 prometheus at backend.

For a range query, when the time range is small (e.g, last 24 hours), the response time of thanos query is almost as good as original prometheus. However, when the time range is large (e.g, last 3 months), the query response time would become extreamly long.

For instance, for the same query:

[code]

If I directly query the two

[2019-12-12 05:02] zygiss commented on #1874
This looks similar to #453.

Couple of questions for you:

- what is the backing store for your S3 bucket?
- what version of Thanos produced these blocks?  The producer will either be Compactor (if the source blocks are already compacted) or Sidecar (if these are new blocks)

[2019-12-12 09:12] squat commented on #1820
I am not against having an "official", community-supported thanos chart hosted at helm/charts, just that I don't think the maintainers here will be able to offer support.

[2019-12-12 10:37] domgreen commented on #1820
What about having it under a new repo in the org? With a core set of maintainers that are Helm advocates and use it as part of their flow. @daixiang0 do you use helm as part of your daily workflow?

As much as personally do use Helm if users are wanting it it would be better to have something to offer people.

[2019-12-12 11:09] daixiang0 commented on #1820
@domgreen Yep, i use helm as a part of daily work.
Create a new repo seems a good choice.

[2019-12-12 15:39] homelessnessbo commented on #1874
I'd split it to two issues:

The store should not crashLoop because of one block with missing metadata.json. In my case I have stores pointed to dozens of TSDB blocks that actually duplicate each other, so one block being partially uploaded/corrupted - not a big deal.

And another issue connected to the compactor.

[2019-12-12 16:39] ryanprobus commented on #1874
@zygiss Hi, thanks for responding!

1. We are using an s3 bucket. Can you clarify what you mean by "backing store"?
2. The set of blocks causing the compactor to fail in the logs I provided were produced by the sidecar. However, I also saw compactor blocks that were also bad that I backed up and removed from the bucket.

[2019-12-12 16:42] ryanprobus commented on #1874
@homelessnessbo Would you like me to restructure this into two separate GitHub issues?

[2019-12-12 16:46] blockloop opened #1883 "receiver: high rate of forwarding errors without replication"
**Thanos, Prometheus and Golang version used**:

[code]

**Object Storage Provider**:

None

**What happened**:

receiver nodes have a high rate of HTTP 500 errors while trying to forward requests with replication disabled. HTTP p90 for those 500 errors is 15s.

**What you expected to happen**:

No forwarding should happen. Even if forwarding does happen they shouldn't be timing out.

**How to rep

[2019-12-12 16:49] blockloop commented on #1883
The hashring file on both LB and Store nodes is as follows (with mangled IP addresses)

[code]

[2019-12-13 02:53] zygiss commented on #1874
@ryanprobus:

By "S3" most poeple mean AWS, but there are other storage systems that implemnet the S3 API (Ceph, OpenStack Swift, MinIO).

There are several open bugs about block corruption when using Ceph (#1728, #1345) for instance, so wondered if you're affected by one of those.

[2019-12-13 11:51] bwplotka commented on #1830
Do you think we can grab the pprof goroutines if that will happen again @cstyan @SuperQ

[2019-12-13 12:46] bwplotka commented on #1869
Not really a duplicate of this, rather a dup of another proposal we used to work on here: https://github.com/thanos-io/thanos/pull/522

The problem here is how to do it without introducing extra dependency like etcd (: Or if really necessary, how to seamlessly introduce it.

[2019-12-13 14:05] #1180 closed

[2019-12-13 14:31] bwplotka commented on #564
@Reamer

We can, but still sync takes time, so ideally we can do it in a smarter way as defined by https://github.com/thanos-io/thanos/issues/1528

[2019-12-13 15:08] ryanprobus commented on #1874
@zygiss Ahh, sorry about the misunderstanding. We are using AWS S3.

[2019-12-13 15:11] bwplotka commented on #1707
Yes, however, we might be able to get away with GH actions and `kind` potentially (:
As the first step, we might want to have it as part of `thanosbench` against any given `Kubernetes`

That's correct.

[2019-12-13 15:49] blockloop commented on #1883
I switched the retention to 6h and the machines have been stable in resource usage. However, the 500 errors have not subsided and continue to be up and down. I've not been able to find any missing timeseries, but we have a lot of data so it would be difficult for me to find.

[2019-12-13 16:25] Masquerade0097 commented on #1528
Hi @bwplotka, I went through the proposal and I'm interested to implement it in the community bridge program. Please let me know if I can start working on it.

[2019-12-13 17:43] sanamana opened #1890 "Thanos side-car should be able to copy blocks to more than 1 remote storage endpoint."
We have the need to move the tsdb blocks from prometheus to more than 1 storage endpoint. I see that thanos side-car code enables it to write to only 1 remote storage endpoint.

Is this something the community would be interested in?

I would like to modify this is such a way that multiple thanos side-car containers can be run against the same tsdb. I think if we make the location of side-car meta

[2019-12-13 19:30] bwplotka commented on #1890
Thanks for raising this. What about adding the ability to run multiple sidecars for this purpose?

I think this might be tricky now due to single `thanos-shipper.json` but **if we would scope this by `thanos-shipper-<bucket-name>.json` this will be doable.**

In any case, this change would be needed:
* even for single binary multi-target upload we would need to sync in two different files.
* the c

[2019-12-13 20:49] palash25 commented on #1528
Hi @bwplotka I am also interested in the project. Since there are only two days left in the application period how are you going to select the mentee for this? Does one need to have previous contributions to thanos or a proposal on how to implement the project (like we do for GSoC) or both?

I am quite comfortable with Go with almost 2 years of experience writing it but distributed systems is some

[2019-12-13 21:05] yeya24 commented on #1871
Anyone work on this issue? I guess I can take this 😆

[2019-12-14 05:37] #1828 closed

[2019-12-14 09:22] SuperQ commented on #1830
Yes, I'll see what I can do.

[2019-12-14 09:23] bwplotka commented on #1528
Hi, Thanks for this @Masquerade0097 @palash25 ((:

However, I am not the one who decides. The full project list will be finalized on Monday: https://github.com/cncf/soc/blob/master/communitybridge/README.md#timeline

The CNCF will select projects and once the project will be selected, you will see it on the website and you will be able to apply as a mentee. Also cc @GiedriusS

Have a nice weekend.

[2019-12-14 09:40] palash25 commented on #1528
thanks

[2019-12-14 23:51] sanamana commented on #1890
Thank you for the feedback.

Here is our use-case.

For our HA needs we run multiple tsdb nodes which contain same data as the other. And for DR these tsdb with multiple copies run in different regions. We have the thanos-sidecar deployed to write the blocks to ceph storage cluster local to the tsdb. So tsdb in region A will copy the blocks to ceph storage cluster in SLC. This has been good and wo

[2019-12-16 02:03] VarunVats9 commented on #1699
@bwplotka : I don't have any experience on thanos, would you suggest, if I should take up this task ?

[2019-12-16 09:35] rajibmitra commented on #1707
I would like to work on this as part of community bridge program if its okay.  @bwplotka  @jojohappy
cc @GiedriusS

[2019-12-16 12:29] bwplotka commented on #1871
Thanks. We need to decide what to do with metrics as well as they are all over the place with `query` `rule` etc, should we rename at once? @brancz any tips? (:

[2019-12-16 16:31] yeya24 opened #1899 "genflagdocs.sh is not compatible with OS X"
Using master branch. Works well on Linux. But for OS X, it will produce error:
[code]
Not a big deal but it is quite annoying

[2019-12-16 17:29] hellobhaskar opened #1900 "Thanos and prometheus 2.14.0"
We are planning to update prometheus to 2.14.0. Will there be any problem with thanos supporting this version of prometheus please advise

[2019-12-16 18:31] bwplotka commented on #1900
No, we are always aiming to be fully compatible especially with latest

[2019-12-16 18:31] #1900 closed

[2019-12-16 19:12] bwplotka commented on #1871
I think we need to be careful here as this minor consistency naming change might be not worth *everywhere* when introducing so many breaking changes ): Things like metrics, components will make our user life harder when upgrading.

[2019-12-16 19:21] yeya24 commented on #1871
I think updating the metrics now might not be a good option. Just update the docs first.

[2019-12-16 19:22] bwplotka commented on #1871
:+1:

[2019-12-16 20:41] brancz commented on #1871
I feel like for how disruptive renaming the components would be, the gain would be too small. Yes we should be consistent in the metrics and component names, but in docs and presentations for the flow of the language we can use querier, ruler, etc. but otherwise the existing component names work just fine in my opinion and don't require changing.

[2019-12-16 22:12] dwbrown2 commented on #448
We're also seeing massive memory consumption by Thanos :( What impact should we expect if any by reducing `store.grpc.series-max-concurrency`? Are there other flags that we can explore?

[2019-12-17 11:47] kdanW commented on #1707
Hi. If is the project still available? I would like to work on this under community bridge mentorship if it is available

[2019-12-17 11:58] bwplotka commented on #1707
@rajibmitra @kdanW please apply for this project here: https://docs.linuxfoundation.org/display/DOCS/Mentees

[2019-12-17 12:05] bwplotka commented on #1528
@palash25 @Masquerade0097  please apply for this as described here: https://docs.linuxfoundation.org/display/DOCS/Mentees

[2019-12-17 12:32] palash25 commented on #1528
I did apply through the community bridge site @bwplotka

[2019-12-17 12:56] rajibmitra commented on #1707
I have applied , thanks @bwplotka  , looking forward to it.

[2019-12-17 14:46] bwplotka commented on #1300
Hi, we started some doc when we discussed another potential cause of this, which is the false assumption of partial block upload: https://docs.google.com/document/d/1QvHt9NXRvmdzy51s4_G21UW00QwfL9BfqBDegcqNvg0/edit#

[2019-12-17 16:40] kdanW commented on #1707
I have applied as well. Thanks @bwplotka

[2019-12-18 03:03] daixiang0 commented on #1820
cc @thanos-io/thanos-maintainers
Any discuss result for this?

[2019-12-18 06:25] daixiang0 commented on #1851
@bwplotka CircleCI does not support multi-arch for now but drone does.

[2019-12-18 09:21] #1899 closed

[2019-12-18 10:29] bwplotka commented on #1851
I don't think we need any CI special feature for this:

Let's instead use the way Prometheus is doing this, so:
Docker build:
* https://github.com/prometheus/prometheus/blob/337a1fbffd17ad3c7952dadf1246ee6eedf57b01/Makefile.common#L213

And Dockerfile taking binaries from `promu` (we already use `promu` for the build process):
* https://github.com/prometheus/prometheus/blob/bca6e90ea6788100a56809e

[2019-12-18 16:32] #606 closed

[2019-12-18 17:36] GiedriusS commented on #1820
AFAIK there's still no consensus here because

still hasn't happened. My 2 cents: I only deploy certain components of Thanos on K8s so it would be a bit harder for me to maintain them.

[2019-12-18 18:24] bwplotka commented on #1820
I am afraid we negative on this side.

[2019-12-18 19:57] yeya24 commented on #1258
I think this issue is already solved. @jojohappy

[2019-12-18 20:05] yeya24 commented on #292
Is this issue still valid?

[2019-12-18 21:18] bashims commented on #469
We are having the same issue, running with 3 Prometheus statefulset pods.

[2019-12-19 06:58] yxyx520 opened #1911 "Thanos query drop staleness data"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:
Thanos query keep staleness data for 5 min when my targets down or source data is None

**What you expected to happen**:
I dont want to keep staleness data when my source data is None, In prometheus config I can add
`--query.lookback-delta=30s` to avoid this , but in thanos I cant find any config in t

[2019-12-19 07:27] brancz commented on #1820
I personally also don't see the harm in having 2 helm charts. The two authors could join forces and effectively make it the default choice, without the thanos maintainers having to bless anything when we don't even use it.

[2019-12-19 07:56] #1783 closed

[2019-12-19 08:56] GiedriusS commented on #1890
What if two buckets have the same name but different endpoints? :P Perhaps some kind of hashing needs to be used here over the whole objstorage configuration.

[2019-12-19 11:01] yxyx520 commented on #1911
add config `--query.lookback-delta` into query.go to fix this
[code]

[2019-12-19 12:30] bwplotka commented on #292
It was mainly related to the gossip so not really (: Closing.

[2019-12-19 12:30] #292 closed

[2019-12-19 14:50] bwplotka commented on #1707
Interesting work started by Grafana on this field, it's worth to sync with them: https://docs.google.com/document/d/1_fVDL9EGVjWSdZTYTvE8Ey_g8FlTY_7DVGazuTAWqFc/edit

(:

[2019-12-19 18:47] iridian-ks opened #1915 "Thanos sidecar not triggering remote_read"
**Thanos, Prometheus and Golang version used**:

    Image:         thanosio/thanos:v0.8.1
    Image:         prom/prometheus:v2.13.1

**Object Storage Provider**:

S3

**What happened**:

Used a separate remote_write data store while I was migrating between S3 buckets. The data in the remote datastore is queriable using the Prometheus API/CLI/UI. When using Thanos, it looks like it does not trigg

[2019-12-20 11:33] ppanyukov opened #1918 "Is it a good idea to dockerise the build?"
Is it worth considering to dockerise the build and everything? There are nasty issues related to cross-platform and differences in tooling.

One example: https://github.com/thanos-io/thanos/pull/1916
Another example: `build check-comments` that didn't run on OS X due to `grep` differences.

Relying to `brew` to install things of whatever versions is a bit fragile.

As an example, yet another issue

[2019-12-20 12:00] bwplotka commented on #1915
Hi :wave: Thanks for reporting.

If I understand this right: You want to ask to use Thanos to fetch something from the different backend (which one?) through Prometheus. It comes to Prometheus exposing on its `remote read`  further `remote read` storage connected to the Prometheus, right?. From logs looks like Prometheus responds to remote read with no data, so yes sidecar seems to be connected pr

[2019-12-20 12:27] bwplotka opened #1919 "compactor: Race of sharded compactors causing data loss."
As per discussion, https://github.com/thanos-io/thanos/pull/1901 sharding compactor is currently not fully safe. Please do not use it or use only for smaller setups.

We are working on this, but the reason is also partially explained in https://docs.google.com/document/d/1QvHt9NXRvmdzy51s4_G21UW00QwfL9BfqBDegcqNvg0/edit#

TL;DR:
* Compactor A for shard cluster = A is uploading the block X - upload

[2019-12-20 12:48] bwplotka commented on #1919
The workaround here is to change `--consistencyDelay` on Compactor to larger value like `2h`, given upload time being quicker than this. This has side effect of compaction process being delayed by 2h which should be fine.

cc @mattrco

[2019-12-20 16:42] AMoghrabi commented on #1089
@chrisghill In your message where you pasted the output of `thanos bucket inspect`, do you mind pointing out where you see duplicate blocks of data due to the Prometheus instances having the same labels?

I'm having the same problem but I cannot figure it out. My labels look unique:

[code]

[2019-12-20 20:55] iridian-ks commented on #1915
Hello! Thanks for responding and trying to help me out.

Your understanding of my goal is correct. I'm using Postgresql (Timescale) as remote_read/write location.

I'm definitely running the same query in Thanos as I am in Promethues, BUT even if it was a different query then I should see that showing up in the logs, right? The query I would see in the logs would just be different, but in this cas

[2019-12-20 22:29] yeya24 opened #1920 "flaky test TestCacheAddresses"
See circle CI link: https://circleci.com/gh/thanos-io/thanos/6304?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]

[2019-12-23 03:18] daixiang0 commented on #1333
It is fixed in 0.9:
[code]
@jojohappy @bwplotka please close it.

[2019-12-23 03:30] daixiang0 commented on #1258
check this commit:
`* 314d3f71 - Don't require Prometheus min/max block durations to be the same if the (#1902) (5 days ago) <Callum Styan>
`

@bwplotka this fix it.

[2019-12-23 03:36] daixiang0 commented on #1282
Now it has been fixed. @FUSAKLA

[2019-12-23 05:55] daixiang0 commented on #678
@bwplotka could move thanos-replicate under thanos-io to increase its exposure and make it look more important for thaons?

[2019-12-23 06:00] daixiang0 commented on #880
I think #1260 has fixed this.

[2019-12-23 06:31] daixiang0 commented on #698
@jojohappy any update for this?

[2019-12-23 06:56] jojohappy commented on #1333
@daixiang0 Thanks! let me double check it ASAP.

[2019-12-23 07:56] MarcMielke commented on #1750
Same issue with 0.9.0. I wonder what the relations between `Bucket size`, `Total Objects`,`--index-cache-size` and `--chunk-pool-size` are - as to how to come up with a formula indicating the proper memory requirements. Even if it's only an estimate.

[2019-12-23 09:21] GiedriusS commented on #1258
Fixed by https://github.com/thanos-io/thanos/commit/314d3f714a03a840eecdf3ac27c2413df0224726. Thanks for the pings, @yeya24 @daixiang0 :heart:

[2019-12-23 09:21] #1258 closed

[2019-12-23 13:17] yeya24 commented on #1920
Close this now.

[2019-12-23 13:17] #1920 closed

[2019-12-23 16:35] draeron commented on #1750
we're having the same issue, it'd be really useful if the documentation would contains some informations about ball park values to set.

[2019-12-24 14:36] hbokh commented on #1750
Things seem to have gotten a bit worse with v0.9.0...
I upgraded at 14:13CET and this is what Grafana shows:

![Screenshot 2019-12-24 at 15 32 58](https://user-images.githubusercontent.com/519955/71416856-b3001900-2662-11ea-86c0-3770193b7591.png)

Thanos Store behaves a bit like "[The Very Hungry Caterpillar](https://www.wikiwand.com/en/The_Very_Hungry_Caterpillar)" when it comes to memory usage..

[2019-12-25 01:59] daixiang0 commented on #1875
Have you call "compact" to do downstampling? Details refer to [doc](https://github.com/thanos-io/thanos/blob/master/docs/components/compact.md).

[2019-12-26 04:43] 00arthur00 opened #1927 "query: thanos-query A query another thanos-query B with replica labels doesn't return deduped metrics"
thanos-query A query another thanos-query B with replica labels doesn't return deduped metrics.

thanos docker v0.9.0

**What happened**:
Let say, thanos query A and B:
A's setting:
[code]
B's setting:
[code]

A(without replica-label) connects a store B(with replica-label). When query with A, we can see replica-label appears.

**What you expected to happen**:
Thanos query A should not show replica

[2019-12-27 03:48] nothinux commented on #448
Any update on this?

[2019-12-27 16:21] acarsercan opened #1928 "Compactor OOM"
Hi,

- Thanos v0.8.1
- banzai thanos helm chart - https://github.com/banzaicloud/banzai-charts/blob/master/thanos/templates/compact-deployment.yaml
- S3 bucket 200GB

I been using thanos behind a prometheus-operator deployment for over a month. During holiday period (out of hours) memory usage has skyrocketed. I'm still unable to pin down what is causing it.

Compactor pod will OOM every 15-20 min

[2019-12-29 20:19] yeya24 opened #1930 "Supports logging with traceID"
Feature Request:
Cortex component logs each request's traceID like something below
[code]
And in the new version of Grafana, Loki data source supports derived fields so that users can jump to Jaeger directly from Grafana based on the traceID, see https://grafana.com/docs/grafana/latest/features/datasources/loki/#derived-fields.

So it would be nice that Thanos supports this feature as well.

[2019-12-31 08:47] GiedriusS commented on #1930
Seems like a duplicate of https://github.com/thanos-io/thanos/issues/1706 (:

[2019-12-31 15:56] yeya24 commented on #1930
Yes it is a duplicate. Thanks @GiedriusS

[2019-12-31 15:56] #1930 closed

[2019-12-31 21:44] evq commented on #1494
When using the minio-go revision from https://github.com/minio/minio-go/pull/1183 this just works, so once that PR is merged I believe a minio-go version bump will be needed.
[code]

[2020-01-02 10:24] SuperQ commented on #1874
We found a similar problem, where the local cache of the meta.json contained empty files. This caused our store servers to crash loop. I wonder if there's a race between the compactor adding new meta.json files and the store downloading them.

Details here: https://gitlab.com/gitlab-com/gl-infra/production/issues/1525

[2020-01-02 14:20] vermaabhay commented on #455
"High load on all prometheus nodes due to query fanout from thanos querier"

We have implemented just the querier and sidecar component of thanos, to enable HA(fill gaps in grafana dashboards) for a 2 node prometheus. Since we are executing a very heavy query the load was considerably high on one of the prometheus node, before implementing thanos, now querier fanouts the query to both the nodes an

[2020-01-02 14:36] bwplotka commented on #1494
Thanks for update :+1: STGM @evq

[2020-01-02 15:37] bwplotka commented on #1874
Ack, thanks for the report. This is really useful finding. I believe the empty meta.json can be left on filesystem when store crashes during meta.json download time.

[2020-01-02 18:08] omerlh opened #1932 "Receive crash continuously"
**Thanos, Prometheus and Golang version used**:
Thanos - 0.9.0
Prometheus - 2.15.1

**Object Storage Provider**: S3

**What happened**:
Thanos receive pods keep crashing:
![image](https://user-images.githubusercontent.com/6730584/71683472-4b9d4400-2d9b-11ea-9d69-e4058ad62460.png)

Thanos installed using kube-thanos. Prometheus is installed using Prometheus operator, and configure with remote write

[2020-01-02 19:33] GiedriusS commented on #1932
Any logs? What events do you see on the K8s pods?

[2020-01-02 19:36] omerlh commented on #1932
Sorry - the logs was hidden, I fixed that now.

[2020-01-02 22:26] squat commented on #1932
Thanos receive is complaining the TSDB WAL is corrupt. Are you re-using a TSBD directory that was created by another component? In any case, if you restart the receiver pointing at another directory, does everything start correctly?

[2020-01-03 03:32] yahaa commented on #1874
I also encountered the same problem using aliyun objstore.
Compactor Logs:
[code]
I try to see the data on aliyun objstore bucket, then i found that：

[code]
![image](https://user-images.githubusercontent.com/16364111/71705897-a62ab480-2e1c-11ea-97c6-e117149a4c18.png)

[2020-01-03 06:01] omerlh commented on #1932
This is the statefulset definition:

[code]

The only folder is mounted from an empty folder volume, which I guess is fine, no?

[2020-01-03 10:53] bwplotka commented on #1282
I belive PR is still pending - need a rebase.

[2020-01-03 10:53] homelessnessbo commented on #1874
met something similar but from different angle:
[code]

Meantime in the bucket:
[code]

So it seems compactor failed to upload itself and not crashing against it.

[2020-01-03 11:26] bwplotka commented on #1874
@yahaa Let's keep this issue focused on Store GW syncing meta.json failures.

For compactor issues please refer and comment on: https://github.com/thanos-io/thanos/issues/1300

[2020-01-03 11:31] bwplotka commented on #1300
Reopening as it still occurs. The mentioned doc above states potential issue (however quite unlikely) of compactor removing a block when it is being still uploaded for some reason (long upload / old block upload). We are working on fix for that particular case

[2020-01-03 12:22] homelessnessbo commented on #1300
To compliment the last comment:

`thanosio/thanos:v0.9.0`

Compactor logs:
[code]
Meantime in the bucket (there is the only file meta.json in the bucket indeed):
[code]

[2020-01-03 17:31] liguozhong opened #1935 "Please upgrade to 2.15.1 for Prometheus dependency of go Mod"
github.com/prometheus/prometheus v1.8.2-0.20191126064551-80ba03c67da1 // Prometheus master v2.14.0

Prometheus master v2.15.1

[2020-01-03 19:42] bwplotka commented on #1919
* [ ] Delay clean up of potential partial uploads to 2 days: https://github.com/thanos-io/thanos/pull/1937
* [ ] Add ModifiedTime attribute per object for all object storages and base on that: **Help wanted**.

[2020-01-03 19:44] bwplotka commented on #1935
Yup, that's the plan. We are waiting on 2.15.2 release though, fixing compaction on Windows: https://github.com/prometheus/prometheus/pull/6547

[2020-01-03 19:44] bwplotka commented on #1935
Also help wanted (:

[2020-01-03 20:03] #1822 closed

[2020-01-04 16:41] yeya24 opened #1938 "Docs for downsample cmd"
I think we need docs for command `downsample` as well.

[2020-01-04 22:20] GiedriusS commented on #1938
Some parts are still missing in Thanos Receive and the documentation part is outlined here: https://github.com/thanos-io/thanos/issues/1093. However, the concern about `downsample` is true 👍 PRs welcome!

[2020-01-04 22:34] GiedriusS commented on #722
Compactor now supports sharding so you could use that as a temporary workaround but we could definitely provide some guidance on how much RAM is needed since it seems like this is a recurring topic: https://github.com/thanos-io/thanos/issues/1928

[2020-01-04 22:37] GiedriusS commented on #1928
Hi, could you upload the heap profile of Thanos Compact when this starts happening? We could definitely provide some guidance on how much RAM is needed.

[2020-01-04 22:45] yeya24 commented on #1938
Thanks, I change the title to `docs for downsample`.

[2020-01-06 02:09] daixiang0 commented on #1282
@bwplotka no sure, with local test:
![Selection_183](https://user-images.githubusercontent.com/26538619/71790664-986b6e00-306c-11ea-9a13-47ee7044383d.jpg)

[2020-01-06 02:16] daixiang0 commented on #1927
Since you do not specify replica-label for query-A, query-A can not distinguish this label.

[2020-01-06 02:19] daixiang0 commented on #1911
@yxyx520 would you like to file a PR?

[2020-01-06 02:20] daixiang0 commented on #1865
Can you reproduce this every time?

[2020-01-06 02:40] daixiang0 commented on #1813
better to add label like design or plan or something...

[2020-01-06 02:41] daixiang0 commented on #1842
Could you confirm this issue still exist in 0.9 rc?

[2020-01-06 02:42] daixiang0 commented on #1850
Do you mount credentials into container?

[2020-01-06 03:13] yeya24 commented on #1282
@daixiang0  This is the querier UI, not ruler.

[2020-01-06 03:54] jojohappy commented on #1333
@daixiang0 Hi, maybe this issue is not fixed. @tomleb hopes that thanos should not exit when receive the SIGHUB.

@tomleb As you said, thanos now use the flags as the provider for the most configurations, if you want to change them, restart it. On the other hand, it is a nice improvement to reload the configuration file of object store without restart. Maybe we can use the `reload` package to list

[2020-01-06 09:10] daixiang0 commented on #1282
@yeya24 my mistake :(

[2020-01-06 09:21] daixiang0 commented on #1871
@kakkoyun any process about this?

[2020-01-06 09:25] daixiang0 commented on #1778
@bwplotka does anyone take this?

[2020-01-06 09:31] simonpasquier commented on #1778
@daixiang0 I'll send a PR today

[2020-01-06 09:38] daixiang0 commented on #1778
@simonpasquier cool

[2020-01-06 09:43] daixiang0 commented on #1780
In fact there is too many issue about `rename` event in fsnotify, like [issue1](https://github.com/fsnotify/fsnotify/issues/214), [issue2](https://github.com/fsnotify/fsnotify/issues/26) and so on.
The fsnotify author reject this feature from OS/platform level.
Since thanos is cross-platform as well, maybe we need to keep same action with fsnotify does.
cc @thanos-io/thanos-maintainers

[2020-01-06 09:45] daixiang0 commented on #1935
@bwplotka happy to take this.

[2020-01-06 09:47] bwplotka commented on #1871
Due to compatibility issues I would say we stick to docs, new places we name things like Alert names, deployment names etc.

Metrics, command, and component names in code should stay for now.

[2020-01-06 09:47] daixiang0 commented on #1849
@bwplotka how about that add `/flush` to sidecar?

[2020-01-06 10:01] bwplotka commented on #1935
I depend on this for https://github.com/thanos-io/thanos/pull/1839 so I will take it if you don't mind (:

[2020-01-06 10:28] daixiang0 commented on #1935
That is fine :)

[2020-01-06 10:39] bwplotka commented on #1850
I believe this is a duplicate of https://github.com/thanos-io/thanos/issues/1494

[2020-01-06 10:39] #1850 closed

[2020-01-06 11:24] bwplotka commented on #1935
But again, let's wait on upstream fix that we discussed on Prometheus IRC

[2020-01-06 11:59] kakkoyun commented on #1871
@daixiang0 This week I'll start working on this and primarily focus on docs.

[2020-01-06 12:17] acarsercan commented on #1928
I sure will provide heap profile when this happens again. Any ideas what might of triggered this? (ie a setting? ) We were happily running thanos for few months.

Regards

[2020-01-06 12:17] bwplotka opened #1941 "Use block.MetaFetcher for all meta json syncs"
This is to make sure we have consistent meta.json fetch logic for all command (e.g graceful partial block support)
AC:

* [ ] Use block.MetaFetcher inside verify command
* [ ] Use block.MetaFetcher inside bucket command

[2020-01-06 13:00] #1874 closed

[2020-01-06 13:01] #1300 closed

[2020-01-06 13:01] #1335 closed

[2020-01-06 13:01] #1919 closed

[2020-01-06 13:04] bwplotka commented on #1919
@mattrco this should be fixed on master now.

[2020-01-06 13:05] bwplotka commented on #1300
We merged fix for the case of: https://github.com/thanos-io/thanos/issues/1919 which potentially might cause such chunk file to be missing.

[2020-01-06 13:08] bwplotka opened #1942 "publish master CI job does not support Go 1.13"
https://circleci.com/gh/thanos-io/thanos/6396?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

[code]

Investigating.

[2020-01-06 20:28] #1942 closed

[2020-01-07 01:59] daixiang0 commented on #1941
I would like to take this:)

[2020-01-07 06:53] liguozhong commented on #1935
![image](https://user-images.githubusercontent.com/9583245/71874594-4a826300-315d-11ea-9223-b0d4b984dc12.png)
2.15.2 release ，thanks @bwplotka

[2020-01-07 07:41] satyabhama opened #1946 "Not able to access delete_series api from thanos query component"
We are trying to clean metrics from s3 object using delete_Series thanos query
404 page not found error is coming. can you please tell us how to check

[2020-01-07 10:45] bwplotka commented on #1946
There is no such API at the moment.

See: https://github.com/thanos-io/thanos/issues/415

Closing as duplicate. (:

[2020-01-07 10:45] #1946 closed

[2020-01-07 13:13] jaseemabid commented on #1919
Thanks @bwplotka, is `--consistencyDelay` required for the master release too?

[2020-01-07 13:25] bwplotka commented on #1919
It is required but for different reasons, mainly for non-consistent object storages. I would suggest leaving the default value.

[2020-01-07 15:02] ahurtaud commented on #1345
Hello, we are facing the same issue.

We have this block:
[code]

And the compactor is in crashloop with:
[code]

What "surprises" me is the _caller=streamed_block_writer.go:219 msg="finalized downsampled block"_ log line before the _invalid encoding \"none\"_ error.

Even if the block is "corrupted", the finalized downsample log would be called?

Is there any script I could run to validate the bl

[2020-01-07 15:17] #1928 closed

[2020-01-07 15:17] #1935 closed

[2020-01-07 15:17] #722 closed

[2020-01-07 15:17] #1771 closed

[2020-01-07 15:43] jujugrrr commented on #946
hi, it seems like a basic feature if you use S3 with server side encryption. @adrien-f Do you think it would be possible to work on this?

@taharah did you just use the default sse after all?

[2020-01-07 15:55] bwplotka commented on #946
Valid request, help wanted (:

:+1:

[2020-01-07 18:15] StupidScience opened #1950 "query: memory usage spikes"
**Thanos, Prometheus and Golang version used**:
Thanos: v0.8.1
Prometheus: v2.14.0

**Object Storage Provider**:

Azure Blob

**What happened**:

Few times a day query component try to consume a lot of memory. So due to memory limits and consequent OOMKiils I get it in CrashLoopBackoff state

**What you expected to happen**:

Moreless regular memory consumption.

**How to reproduce it (as minimall

[2020-01-07 23:22] blockloop opened #1953 "sidecar: increase MaxIdleConnsPerHost or allow it to be configured"
The thanos sidecar is mounted to a single Prometheus instance where it establishes an HTTP connection for queries against that machine. It's using the `http.DefaultTransport` when connecting to that client which has `MaxIdleConnsPerHost` set to 2 by default [see DefaultMaxIdleConnsPerHost](https://golang.org/pkg/net/http/). We run a large, heavily used cluster and we're receiving about 1.7k querie

[2020-01-08 02:34] AnandDevan commented on #1318
We host all monitoring related configs, backup etc. under single bucket and would like to use that bucket to host thanos data as well. This feature would be super useful.

[2020-01-08 06:53] satyabhama opened #1957 "How to delete s3 object metrics from thanos component"
We are using thanos with prometheus.
We are storing metrics into s3 storage object.
Now we are trying to delete data for particular prometheus job , How we should do this??
Which thanos component we should use?? ex. sidecar,query...etc

[2020-01-08 08:24] foshantiger opened #1958 "Is possible to extend the store api to support different type of storages?"
Is possible to extend the store api to support different type of storages, such as block storage(ceph rbd) or file system(ceph fs)?

[2020-01-08 08:43] squat commented on #1958
Hi @foshantiger, Thanos already supports running a component that exposes the Store API and reads from block storage. This component is called the Thanos Store Gateway. Ceph exposes an S3-compatible API so we support it today via the S3 configuration options. Please take a look at this doc to learn more the Store Gateway: https://github.com/thanos-io/thanos/blob/master/docs/components/store.md

An

[2020-01-08 08:56] squat commented on #1932
Hmm this isn’t reproducible because the fact that thanos receive is replaying the WAL and running into a corrupted block indicated clearly that the directory isn’t empty when it is starting up. Something created a corrupt block and left it there (may have been thanos receive itself in an earlier run). Please try deleting the StatefulSet to ensure that the same Pod is not restarted with the same em

[2020-01-08 09:03] squat commented on #1957
Thanos does not have its own workflow or component for deleting metrics today. Note that time series are all stored together in Prometheus TSDB blocks, so if you want to remove a time series today you have to delete the entire block holding it, which would also eliminate all co-located time series

This is a pending feature for Thanos. Help wanted.

Closing as a duplicate of https://github.com/tha

[2020-01-08 09:03] #1957 closed

[2020-01-08 09:52] foshantiger commented on #1958
Hi @squat, I checked for the docs，but it seems that the Thanos Store Gateway is still on top of object storage but not block storage? And there is no planned support for distributed filesystems(cephfs) but just local filesystem？

[2020-01-08 09:57] squat commented on #1958
Ah so sorry, I misread your question. Block storage is only supported as a local filesystem. If you are running ceph, we’d suggest exposing ceph object storage directly instead if possible. The other way we recommend to do this today is to run something like https://github.com/minio/minio to expose an object storage API on top of your filesystem

[2020-01-08 10:04] jujugrrr commented on #946
I can help with testing if needed, but I have limited go experience

[2020-01-08 11:22] foshantiger commented on #1958
Thanks @squat ! I will close this.

[2020-01-08 11:22] #1958 closed

[2020-01-08 13:29] jabbrwcky commented on #270
Also the documentation should specify prerequisites for running verifier.

I stumbled across the log message `GLOBAL COMPACTOR SHOULD __NOT__ BE RUNNING ON THE SAME BUCKET` issued by the verifier, and was wondering if my setup is wrong.

I dug a little bit and found that this message is a blanket message output here: https://github.com/thanos-io/thanos/blob/7e11afe64af0c096743a3de8a594616abf52be45

[2020-01-08 15:43] jaseemabid opened #1964 "Guidelines scaling thanos compact"
At Monzo we have over 100TB of Thanos metrics and we are noticing some serious performance bottlenecks. Since downsampling must be run as a singleton, we are building up a huge backlog right now as the max performance we are able to get out of our current setup is around 16MB/s. Compaction performance is also comparable but we manage this with a few shards.

This issue is about requesting guidelin

[2020-01-08 16:46] bwplotka commented on #726
Looks like it's the issue with lack of persistent storage on Prometheus. This is not recommended for Prometheus itself, not mentioning Thanos.

If we *really* want to support this: Vertical compaction / offline deduplication will help once done. However, the use case of lack of persistent storage might be more suitable to solve with Thanos receive and push method and even remote write does not gua

[2020-01-08 16:46] #726 closed

[2020-01-08 17:47] GiedriusS commented on #1086
Seems like the same still happens with `v0.10.0-rc.0`. Need to reinvestigate.

[2020-01-08 18:06] bwplotka commented on #1086
The same thing might happen here: https://github.com/prometheus/prometheus/issues/6139

[2020-01-08 20:48] #1953 closed

[2020-01-08 20:58] blockloop commented on #1710
I've started work on this here: https://github.com/blockloop/thanos/tree/bjones/receive/use-grpc

[2020-01-09 02:04] daixiang0 commented on #318
@Allex1 hi, would you like to try with v0.10 rc?

[2020-01-09 02:05] daixiang0 commented on #317
@bwplotka now we have alert docs, could close this?

[2020-01-09 02:08] daixiang0 commented on #140
@bwplotka is it still a plan?

[2020-01-09 02:15] daixiang0 commented on #206
@bwplotka better to add `compactor` label?

[2020-01-09 02:17] daixiang0 commented on #234
@bwplotka seems we have figured out it?

[2020-01-09 02:18] daixiang0 commented on #262
@bwplotka it have bee clarified in getting-started.md:
[code]

[2020-01-09 02:23] daixiang0 commented on #307
@bwplotka where is the template? I do not find related case studies links. Do i miss something?

[2020-01-09 02:28] daixiang0 commented on #629
It related to k8s securityContext not thanos itself.
@bwplotka @szymonpk mind close this?

[2020-01-09 02:32] daixiang0 commented on #584
Now Katacoda tutorials cover basic setup, and docs cover long term storage and alerting.
@jturolla do you think they are enough, or maybe in a better place?

[2020-01-09 05:32] benamazing commented on #1875
No, i dont plan to use object storage, i just used the sidecar to combine multiple prometheus' data for global view.

[2020-01-09 10:02] Allex1 commented on #318
@daixiang0 I haven't seen this error since upgrading to v0.8.1
Thanks

[2020-01-09 10:43] daixiang0 commented on #318
@bwplotka seems we can close it safely.

[2020-01-09 10:52] bwplotka commented on #1964
Thanks for the detailed description of the problem (:

Are you sharding at the end? If yes, how far you can get with sharding? Because sharding, in the same way, helps to quickly catch up with downsampling.

Within one "block stream" 11-12h is indeed a bit slow, although compacting to 2w (and downsampling of 2w) happens only every 2w at maximum, so compactor can usually catch up in between.

Anywa

[2020-01-09 11:04] anas-aso opened #1971 "sidecar: shipping compacted blocks memory usage"
**Thanos, Prometheus and Golang version used**:
Thanos: v0.9.0
Prometheus: v2.15.1

**Object Storage Provider**:
GCP & AWS

**What happened**:
High memory usage when running Sidecar with `--shipper.upload-compacted`
<img width="952" alt="Screenshot 2020-01-09 at 11 49 36 AM" src="https://user-images.githubusercontent.com/16538065/72061462-36ae3c80-32d6-11ea-867c-6acef88a4e33.png">
PS: The memory u

[2020-01-09 11:11] bwplotka commented on #1971
Thanks for report.

We just upload in this case, so such usage would be odd. Are you sure you are not hitting the issue mentioned [in this blog post](https://bwplotka.dev/2019/golang-memory-monitoring/)?

What metric are you observing for memory usage? IF RSS then it does not show the full truth. Check `go_memory_allocs` instead.

[2020-01-09 11:21] #318 closed

[2020-01-09 11:45] bandesz commented on #1964
@bwplotka I work with @jaseemabid.  It seems to us that downsampling doesn't consider the relabel config in the latest release (https://github.com/thanos-io/thanos/blob/0833cad83db8b257a2275ec83a3d034c73659056/cmd/thanos/downsample.go#L168). I've seen the latest commits that the new meta syncer solves this problem, so I suspect we have to wait until 0.10 is released or run from master.

Just for r

[2020-01-09 11:48] #629 closed

[2020-01-09 11:48] bwplotka commented on #584
Yes, this should be solved with Katacoda tutorials. (:

On Thu, 9 Jan 2020 at 02:32, Xiang Dai <notifications@github.com> wrote:

[2020-01-09 12:08] vermaabhay commented on #1875
"High load on all prometheus nodes due to query fanout from thanos querier"

We have implemented just the querier and sidecar component of thanos, to enable HA(fill gaps in grafana dashboards) for a 2 node prometheus. Earlier, we were executing a very heavy query, hence the load was considerably high on one of the prometheus node at a time. Now querier fanouts the query to both the sidecars (nodes

[2020-01-09 12:29] bwplotka opened #1972 "Move tracing to OpenTelemetry"
It would be nice to reuse ready libraries then invent and maintain our own (:

AC:
* Our tracing library is replaced by https://opentelemetry.io/
* Support for existing providers is preserved: Jaeger, Elastic, Lightstep, Stackdriver

[2020-01-09 12:56] squat commented on #1972
Would love to see this. And we’ll be in line with other projects moving in this direction eg prom

[2020-01-09 13:19] kakkoyun commented on #1972
I'm happy to work on this.

[2020-01-09 13:48] kbsquared opened #1973 "thanos receive not able to send data to s3 on new install"
**Thanos, Prometheus and Golang version used**:
thanos 0.9.0
prometheus 2.15.2
golang go1.13.1

**Object Storage Provider**:
S3 Netapp StoreGrid

**What happened**:
I think this probably belongs in a user group but I couldn't find one so hoping you guys will kindly redirect me.
I'm trying to setup thanos receive and it's not writing up to my s3 storage.  After digging through the examples/doc, I'v

[2020-01-09 13:53] anas-aso commented on #1971
Thanks @bwplotka for the quick reply. You are right, I was using `container_memory_usage_bytes`. After switching to `container_memory_working_set_bytes` I go a value of ~300MB.
Time to update all those Grafana dashboards 😄

[2020-01-09 13:53] #1971 closed

[2020-01-09 13:56] yeya24 commented on #1973
Does this relate to https://github.com/thanos-io/thanos/pull/1882? This fix is included in the new 0.10.0 release, could you please try to update to it and see if this fix your problem @kbsquared

[2020-01-09 14:15] kbsquared commented on #1973
Not sure, but happy to give it a whirl.  Do you know of a way to make it try to write more quickly for testing?  After I restart it takes hours before it trys to write anything, makes testing tedious.

[2020-01-09 14:25] yeya24 commented on #1973
Try this https://github.com/open-fresh/avalanche.

[2020-01-09 14:43] squat commented on #1973
No, I think he’s referring to speeding up the time it takes for receive to upload a block.

You are in luck! We literally just merged a PR ago master a few hours ago that allows you to shorten the block duration via the `--tsdb.min-block-duration` and `--tsdb.max-block-duration` flags. Set these both to an equal value of eg 5min and blocks should get written and uploaded often

[2020-01-09 17:37] kamilhristov opened #1974 "store: crashes with new memcached config"
**Thanos version used**: v0.10.0-rc.0

**Object Storage Provider**: AWS S3

**What happened**: Thanos Store crashes when trying to query any data.

**Arguments**:

`thanos store --index-cache.config-file=/app/cache-config.yaml --chunk-pool-size=6GB --objstore.config-file=/app/objstore-config.yaml`

**Config**:

[code]

**Logs**:
[code]

[2020-01-09 17:49] kbsquared commented on #1973
Thank you both for your assistance.

The tsdb thing was what I was looking for.  I didn't realized I needed to set it on the thanos container, I did it on the prometheus container first.

Anyway, even with that latest build (master-2020-01-08-1d71579f) I'm still getting the same messages.

[2020-01-09 17:49] bwplotka commented on #1974
Thanks for the report (:

We are on it.

cc @pracucci

[2020-01-09 17:52] #1778 closed

[2020-01-09 18:04] yeya24 commented on #1973
@kbsquared  Sorry about that. Could you please provide the config yaml of your receive component?
Seems you don't configure the external label for your receive by `--label` flag.

[2020-01-09 18:19] kbsquared commented on #1973
Thanks.  So I added external_labels onto my prometheus config.  This error is talking about a label on the thanos receive config?

      - args:
        - receive
        - --tsdb.path=/data/remote-write-receive-data
        - --tsdb.min-block-duration=5m
        - --tsdb.max-block-duration=5m
        - --debug.name=receive
        - --log.level=debug
        - --grpc-address=0.0.0.0:19891

[2020-01-09 18:23] yeya24 commented on #1973
Yes, you need to add the external label to your receive config

[2020-01-09 18:33] kbsquared commented on #1973
Ok gotcha, digging for config examples, not sure where to add that...  Thanks again for the guidance.

[2020-01-09 18:54] pracucci commented on #1974
Thanks for the report. I take care of the fix.

[2020-01-09 19:17] pracucci commented on #1974
@kamilhristov Sorry for the issue. If you have a chance to compile Thanos, I would ask you to build it including https://github.com/thanos-io/thanos/pull/1975 which should fix it.

[2020-01-09 19:29] kbsquared commented on #1973
Found this issue and that showed me how to get the labels into my config.

![image](https://user-images.githubusercontent.com/30937545/72098334-e0e09100-32e3-11ea-8da2-ee598464c507.png)

Past this hurtle.  Thanks so much for the assist!

[2020-01-09 19:29] #1973 closed

[2020-01-09 20:39] #1974 closed

[2020-01-09 22:00] valyala commented on #1875
@vermaabhay , try querying Prometheus HA pair with [Promxy](https://github.com/jacksontj/promxy).

[2020-01-10 06:21] 695097494 opened #1976 "thanos-sidecar upload have no Disk read IO"
**Thanos, Prometheus and Golang version used**:
[code]
**Object Storage Provider**:
```S3```
**What happened**:
```We want to know how the sidecar works when the sidecar is uploading data```
**Full logs to relevant components**:
[code]

[2020-01-10 07:21] 695097494 commented on #1976
thanos-sidecar、prometheus and Object Storage all working health,Object Storage can view data with prometheus

[2020-01-10 11:11] bwplotka commented on #1941
It's also a good first task for @khyatisoneji

She is our student as a part of CNCF Community Bridge program, and it sounds like a good introduction if you don't mind @daixiang0

[2020-01-10 12:06] kamilhristov opened #1979 "store: i/o timeouts with new memcached config"
👋 Hello again and thanks for the quick response in https://github.com/thanos-io/thanos/issues/1974

**Thanos version used**: latest master with https://github.com/thanos-io/thanos/pull/1975

**Object Storage Provider**: AWS S3

**What happened**: I am testing the new memcached config for Thanos Store and I am seeing a lot of timeouts. The timeouts are gone when setting the limit to 10s 🤕

Memcache

[2020-01-10 12:42] #1710 closed

[2020-01-10 14:12] poolski opened #1980 "Support the GRPC Health protocol"
While trying to implement service discovery for Thanos components using Consul, we've run into an issue where we're unable to healthcheck Thanos using gRPC because it doesn't support the standard gRPC health protocol. (`grpc.health.v1.Health`) which would allow load balancers and the like to be able to run gRPC healthchecks successfully.

Is this something which is on the radar for future releases

[2020-01-10 14:31] kakkoyun commented on #1980
Hey, I have worked on HTTP health checks, happy to work on this as well.
As far as I can tell from the documentation, it's not very hard to achieve.

https://github.com/grpc/grpc/blob/master/doc/health-checking.md
https://github.com/grpc/grpc/blob/master/src/proto/grpc/health/v1/health.proto
https://godoc.org/google.golang.org/grpc/health/grpc_health_v1

Maintainers can assign this one to me if th

[2020-01-10 14:32] bwplotka commented on #1980
It's the first time we hear such use case (: But we can definitely discuss how we can unblock you.

@kakkoyun well let's first decide if it's required (:

Some initial thoughts:

* We hold our healthchecks via HTTP endpoints like `/~/healthy` as standard way Kubernetes expects
* Querier checks health via `Info` gRPC method since this gives up-to-date metadata.

None of this is sufficient for your

[2020-01-10 16:39] nextus opened #1983 "Unable to fetch data after compaction"
**Thanos, Prometheus and Golang version used**:

[code]

**Object Storage Provider**:

AWS S3

**What happened**:
Can't access to the historical data from the object storage after compaction (looks similar to #552 and #146):
`Mint: 1571750427740 Maxt: 1578584483987: rpc error: code = Aborted desc = fetch series for block 01DY61NKQNEYFM6BFPDJXZRPQX: preload series: invalid remaining size 65536, exp

[2020-01-10 17:02] bwplotka commented on #824
In terms of OOM, this should be fixed in 0.10.0 release, given improvements we made for Prometheus compaction (:

Closing for now, unless you can still reproduce this in newest version (:

[2020-01-10 17:02] #824 closed

[2020-01-10 17:03] bwplotka commented on #1979
cc @pracucci @GiedriusS (:

[2020-01-10 17:06] bwplotka commented on #1445
Setting `--storage.tsdb.max-block-duration="5m"` and `--storage.tsdb.min-block-duration="5m"` are not something we support in Thanos - there are many race condidtions that can happen. As @jojohappy mentioned it's advised to leave it to 2h

[2020-01-10 17:06] #1445 closed

[2020-01-10 17:07] pracucci commented on #1979
Thanks @kamilhristov for the report. I'm seeing in the config you're using AWS ElastiCache: it is running in the same region where Thanos is running? Which instance type are you using for ElastiCache?

[2020-01-10 18:02] bwplotka commented on #1983
Just checked and it is a valid bug. No one expected series size to be larger than this. Rationales: https://github.com/thanos-io/thanos/issues/146#issuecomment-562673274

We need to handle this case for you. This was from 0.1.0 version so it's not a release 0.9.0 issue. We need to either increase it for you or allow re-fetching. Let me try to put a PR for it.

[2020-01-10 19:24] pracucci commented on #1979
Could you also show the following metrics graphed?
- `rate(thanos_memcached_operations_total[1m])`
- `histogram_quantile(1, rate(thanos_memcached_operation_duration_seconds_bucket[1m]))`
- `histogram_quantile(0.9, rate(thanos_memcached_operation_duration_seconds_bucket[1m]))`
- `sum by (item_type) (rate(thanos_store_index_cache_hits_total[1m]) / rate(thanos_store_index_cache_requests_total[1m]))`

[2020-01-10 19:28] bwplotka commented on #1983
Fix: https://github.com/thanos-io/thanos/pull/1985

[2020-01-10 19:46] kamilhristov commented on #1979
I am using t3.medium instance type. It is small one but I thought that it should be sufficient since the in memory index cache size was 1GB.

Here's a screenshot of the graphs:
<img width="1371" alt="Screen Shot 2020-01-10 at 21 40 55" src="https://user-images.githubusercontent.com/7661748/72181537-41f68a80-33f2-11ea-91af-442b9a23d546.png">

I can also test with m5.large or similar. Also happy to

[2020-01-10 19:57] nextus commented on #1983
Thanks for the fast response! Will try it tomorrow.

[2020-01-10 19:58] pracucci commented on #1979
So, from your graphs I can see the 90th percentile latency is good, while the 100th is not. In my experience with AWS, performances on t2/t3 are unpredictable, so as next step I would suggest to try with the m5 before reiterating on the root cause analysis. May you give it a try, please?

[2020-01-10 20:22] kamilhristov commented on #1979
Agree that t2/t3 could cause strange issues :)

Just tried with m5.large and still there are timeouts for both get and set commands.

Here is a screenshot with the new instance type.

<img width="1364" alt="Screen Shot 2020-01-10 at 22 17 58" src="https://user-images.githubusercontent.com/7661748/72183747-6bfe7b80-33f7-11ea-8ac9-cc4589e7918e.png">

[2020-01-10 20:34] pracucci commented on #1979
1. Thanks for trying the m5
2. May you show the same charts but with irate() instead of rate()?
3. May you try to increase the max idle connections setting and set `max_get_multi_batch_size: 1000`?

[2020-01-10 20:57] kamilhristov commented on #1979
I've increase max idle connections to 1k and max_get_multi_batch_size to 1k.

Now I am getting:

```level=error ts=2020-01-10T20:46:07.001594337Z caller=memcached.go:126 msg="failed to cache series in memcached" err="the async buffer is full"```

Along with:

```level=warn ts=2020-01-10T20:46:09.910966063Z caller=memcached_client.go:277 msg="failed to fetch items from memcached" err="read tcp 172.

[2020-01-10 21:07] pracucci commented on #1979
This can be easily fixed increasing `max_async_buffer_size`

[2020-01-10 21:16] pracucci commented on #1979
I still have no clue about this. Do memcached metrics show anything catching your attention? Among the metrics directly exported by memcached you should see the items fetched (we batch reads on the thanos side): what's the rate there?

[2020-01-11 04:16] daixiang0 commented on #1941
Never mind, welcome @khyatisoneji

[2020-01-11 05:26] pracucci commented on #1979
Another hypothesis is that the set operations are saturating the fetches. Just for testing, may you try with the following settings?

[code]

[2020-01-11 06:13] pracucci commented on #1979
I've also asked about the memcached instance type. May you also confirm Thanos store is not running on a t2/t3 instance, please? I don't think so, but just a confirmation.

[2020-01-11 10:19] Sunil777 commented on #520
Hi,

Can anyone please share the complete setup details here... It totally confusing

Prometheus 2 nodes different zone with Thanos sidecar ..... (Sidecar running on same Prometheus host ?)

Deployed as Docker  container on Query Node ........(Is this single node?)

Thanos store 1 node ........ (Is this single node?)

Thanos query 1 node (at the moment)......... (what is diff b/w Thanos query 1 no

[2020-01-11 10:23] Steiniche commented on #911
Waiting for pr from @daixiang0

[2020-01-11 13:05] nextus commented on #1983
Have just tried and it works smoothly.
So there is a new counter for keeping track this kind of event:
`thanos_bucket_store_series_refetches_total`

Looking forward to it in the new release!

[2020-01-11 16:25] caniszczyk commented on #1389
friendly ping @bwplotka

[2020-01-11 17:42] bwplotka commented on #1389
Yup definitely still applies. Pinning (:

[2020-01-11 23:23] kakkoyun commented on #1093
Still in-progress.

[2020-01-12 08:15] pracucci commented on #1979
I've run some benchmarks in our cluster, using two tools:
1. [`memtier_benchmark`](https://github.com/RedisLabs/memtier_benchmark) by RedisLabs
2. `bench`: a quick and dirty benchmark tool based on the Thanos `MemcachedClient` ([code here](https://github.com/thanos-io/thanos/compare/master...pracucci:memcached-client-benchmark))

Both benchmarks run against the same memcached server (1 instance),

[2020-01-12 10:38] kamilhristov commented on #1979
Sorry for the late response and thanks for spending time on this.

1. After setting **max_async_concurrency** **max_async_buffer_size** and all other recommended settings, I noticed that there are no failing write commands - only reads are failing.

2. Thanos Store is running on r5.large - not a huge one but it is perfectly utilized. Just in case I bumped the instance to xlarge - now the CPU usage

[2020-01-12 11:59] #1983 closed

[2020-01-12 11:59] #1941 closed

[2020-01-12 14:20] pracucci commented on #1979
Thanks for all your help. I will continue spend a bit more of time on this by myself, and I will get back to you in case I find out anything.

Agree. The in-memory cache is the best option for the majority of the use cases.

[2020-01-12 17:08] blockloop commented on #1883
This is definitely still happening. I haven't been able to get a small reproducible test yet though.

[2020-01-12 18:59] GiedriusS commented on #1979
I have played around with the new memcached support and my anecdotal evidence says that this happens when memcached cannot keep up because not enough memory has been allocated to it and/or the timeouts are too low. Increasing the memory size with `-m` helps or enabling large pages support with `-L`. I will go ahead and release `0.10.0` but we could definitely improve the documentation here with re

[2020-01-12 19:21] #1743 closed

[2020-01-13 01:20] QianChenglong commented on #1579
This problem is a bit annoying, hopefully it can be fixed.

[2020-01-13 07:43] brancz commented on #1095
Have you managed to get this to work?

[2020-01-13 07:45] brancz commented on #464
We have the Thanos mixin now which allows you to configure the alerting rules and dashboards for any type of environment. https://github.com/thanos-io/thanos/tree/master/mixin/thanos

[2020-01-13 07:45] #464 closed

[2020-01-13 07:47] brancz commented on #352
I believe this still exists as originally reported.

[2020-01-13 07:49] brancz commented on #1152
I believe this is in progress no? @GiedriusS

[2020-01-13 08:01] brancz commented on #1611
I think we have yet to instrument the proxy store type (used with the query component) to validate whether and how much this is happening. I do suspect that it will highly vary across environments.

[2020-01-13 08:07] brancz commented on #1138
Closing as multiple examples have been given. Note receive is still in experimental state but we are pretty close to finishing everything described in the original design doc.

[2020-01-13 08:07] #1138 closed

[2020-01-13 08:10] brancz commented on #1724
Running and scaling receive is somewhat involved I would hate for that kind of involvement to be necessary to use the component when people just use the sidecar approach and otherwise don’t need the receive component.

[2020-01-13 08:12] brancz commented on #1624
Does this continue to occur for you?

[2020-01-13 08:13] brancz commented on #1811
I believe this is still something we want to work on.

[2020-01-13 08:16] brancz commented on #903
This is being worked on on prometheus, once dovv BBC e there I would say we can implement it here with the same semantics and configuration.

[2020-01-13 08:44] kamilhristov commented on #1979
Could this be caused by the keys size ?
When **max_item_size** is 10MB, I am seeing object too large errors in Thanos Store:

[code]

I was able to reproduce the timeouts when executing the benchmark script with larger data size range. Have in mind that this doesn't even hit the limit so the actual Thanos Store keys are even bigger.

[code]

[2020-01-13 08:48] GiedriusS commented on #1152
Yes :+1: waiting for a review on https://github.com/thanos-io/thanos/pull/1550 which should solve this issue.

[2020-01-13 10:09] poolski commented on #1980
@bwplotka @kakkoyun, thank you for replying! 🙇
Sorry, I've been away from work over the weekend

We've found that tools like [Envoy](https://www.envoyproxy.io/) and [Consul](https://www.consul.io/) which support gRPC proxying and service discovery (respectively) rely on the `grpc.health.v1.Health` endpoint being available as most gRPC services can be reasonably expected to implement that endpoint.

[2020-01-13 10:59] Reamer commented on #1014
Remove "stale", that's an interesting feature

[2020-01-13 13:52] tdinucci opened #1993 "Thanos Receiver Design"
I am quite interested in the Thanos Receiver and am hoping someone can help me understand a couple of things.

_I have read https://thanos.io/proposals/201812_thanos-remote-receive.md and this is what lead to my questions._

1. Before reading the document I had assumed that the Receiver would write directly to long term storage but it would seem that this isn't the case.  What I understood from th

[2020-01-13 14:04] george-angel commented on #985
unstale please )

[2020-01-13 14:12] brancz commented on #1993
1) The receiver is essentially just the hot-write buffer that can be written/replicated to. It builds the immutable blocks of data like Prometheus does and uploads blocks like the sidecar would. It's mainly for when you _must_ push and/or want to remove the statefulness of the Promteheus and shift the storage management to the Thanos component.

2) Maybe we should have phrased that a bit different

[2020-01-13 14:32] tdinucci commented on #1993
Thanks for the quick response :)

Just so I'm clear.  Are you saying that there wouldn't be any new Prom instances at the Thanos side?  The receiver just writes to Prom compatible files and the data from these is later pushed to long term storage?

I imagine this is being done as a means of data compaction ahead of writing to long term storage?  It obviously introduces a point of failure though.

[2020-01-13 14:33] squat commented on #1993
Hi @tdinucci regarding question 1, Thanos receive does _not_ require a new Prometheus instance per Prometheus on the tenant side. All metrics received by Thanos Receive are written to a local TSDB and the these completed blocks are uploaded. The flow is:
app `<--scrape--` Prometheus `--remote-write-->` Thanos Receive Hashring `--write-->` local TSDB on disk `--upload-->` S3

Please let us know wha

[2020-01-13 14:39] squat commented on #1993
@tdinucci there are two complimentary strategies to avoid losing data that is sent by Prometheus that has not yet been uploaded to S3.
1. Putting the TSDB on a persistent volume. Thanos Receive uses the same TSDB package as Prometheus, which features a WAL. This means that even if the process dies suddenly, all samples that have been ACK'd but not yet written to a full block in the TSDB are saved

[2020-01-13 14:51] tdinucci commented on #1993
Thanks very much both of you for the help!

Having re-read the document with the context you've given it's clearer now.  However below is the paragraph that I became confused over in https://thanos.io/proposals/201812_thanos-remote-receive.md.

[2020-01-13 15:01] squat commented on #1993
Ack, at the risk of hindsight bias, would it be clearer to say simply:

[2020-01-13 15:20] tdinucci commented on #1993
For me, yes that would be clearer.  Part of my confusion I think stemmed from this being a reasonably heavy paragraph and the diagram below contained no reference to any of this - so a lighter description may be helped.

Do you think it would be worth adding _why_ this is the case, maybe by appending something like the following to your sentence?

[2020-01-13 22:58] GiedriusS commented on #1705
Not stale, very much a work in progress.

[2020-01-13 23:56] FUSAKLA commented on #606
Great! :tada:  Thanks @simonpasquier :+1:

[2020-01-14 12:23] Wing924 commented on #1788
@bwplotka any update on this?

[2020-01-14 13:04] tdinucci opened #1995 "Tiered storage"
I've not come across any documentation that makes me think Thanos currently supports tiered storage for long term data.  I recon this would be possible using systems like Alluxio however from a users point of view this will require the setup and maintenance of yet another system and it's something I can imagine would be generally useful for Thanos.

My use case is; we collect a lot of metric data

[2020-01-14 14:36] yeya24 commented on #1871
I am not sure is this still valid?

[2020-01-14 14:41] kakkoyun commented on #1871
@yeya24 Maybe we should break this into pieces. Like `thanos-mixin/compact` -> `thanos-mixin/compactor`,  `docs/compact`   -> `docs/compactor` and `cmd/compact` -> `cmd/compactor` etc.

WDYT?

[2020-01-14 22:44] GiedriusS commented on #1995
Hi! I'm not sure how this would avoid the costs in transferring the data - wouldn't this essentially mean that those costs will just come later, after 2 days instead of immediately? Or are you talking about how you don't want Thanos Store to serve such fresh data? Then perhaps something like `--max-time='-2d'` would help you out here. Documentation is available here: https://thanos.io/components/s

[2020-01-14 23:24] tdinucci commented on #1995
Interesting, perhaps the `--min-time` and `--max-time` flags are what I'm looking for 🤔 Thanks for pointing this out!

My concern isn't so much the write transfer costs (which you are right to point out will be the same no matter when the writing is performed) but the cost of transfer due to reads.  Fresh data is going to be read much more frequently than older data and so if fresh data is stored

[2020-01-14 23:49] jpalpant opened #1998 "query: chart displays very different data than Grafana (using Querier as backend) for long range query"
**Thanos, Prometheus and Golang version used**:

v0.10.0-rc1 for Querier and Store. Compactor running on the bucket as a cronjob once per day is v0.9.0. Prometheus is prom/prometheus:v2.13.1, and Sidecar is v0.9.0.

**Object Storage Provider**: GCS

**What happened**: I have a set of metrics which track whether or not a healthcheck on a website returns a success status, or does not.

<img width="1

[2020-01-15 02:11] #1542 closed

[2020-01-15 02:56] daixiang0 commented on #1998
Be clear, the different thing happen only with 10d+ query?

[2020-01-15 06:05] omerlh commented on #1993
Another follow up question: It is my understanding that Thanos receive is considered experimental and not ready for production (as the big warning on the start of the log specifies :)). Why is that? What is the plan for a production-ready release?

[2020-01-15 06:13] omerlh commented on #1993
Can you please explain why? Working with receive is a lot simpler in a multi-cluster case - you just need one store per storage on each cluster. When using the side-car, you need to be able to query both the store and Prometheus from each cluster...

[2020-01-15 06:24] jpalpant commented on #1998
It switches at a 6.5d+ query - any query longer than that, and the graph changes.

[2020-01-15 08:52] daixiang0 commented on #548
@GiedriusS seem fixed?

[2020-01-15 09:06] daixiang0 commented on #310
@bwplotka should we add a label like plan and make bot skip it?

[2020-01-15 09:40] daixiang0 commented on #352
Test at local and can not reproduce. @brancz @FUSAKLA

[2020-01-15 10:08] squat commented on #1993
It’s a bit subjective but in the end it comes down to the relative difficulties of:
* ensuring open and secure ports to read metrics from sidecars of multiple clusters and configuring querier with every endpoint

vs
* running and maintaining an ingestion  hashring of receivers and scaling as needed

If all of the clusters are owned by you, then the former _can_ be quite easy and so the latter may

[2020-01-15 10:17] Shadi opened #2004 "query: query crashes when start and end are equal and the step value is very large"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.9.0 (branch: HEAD, revision: 0833cad83db8b257a2275ec83a3d034c73659056)
  build user:       circleci@8e3da52515a2
  build date:       20191203-17:03:13
  go version:       go1.13.1

Prometheus version: 2.13.1

**Object Storage Provider**: Dell ECS

**What happened**:

Thanos Querier was constantly getting OOM killed in kubernetes, u

[2020-01-15 15:38] GiedriusS commented on #2004
Hi! Isn't that expected since you are trying to `sum` all of the samples that were produced over a period of 10 years (`315360000`)? :smile: I would recommend you to set `--store.grpc.series-sample-limit` to some kind of value. I have tried to reproduce this here but I was stopped by it:
[code]
:smile:

[2020-01-15 15:47] Shadi commented on #2004
Yes but I created this issue since the query crashed the querier, I was thinking that there should be some measure to prevent 1 query from doing this, I came across PR#1747 after I created the issue and I think it would help in cases like this.

[2020-01-15 17:20] #385 closed

[2020-01-15 20:58] chjohnst commented on #1086
I am seeing these errors when running a combination of Prometheus v2.13.1 and Thanos v0.8.1.  Using a query of max(node_cpu_seconds_total) I can recreate pretty quickly.

{"caller":"http: superfluous response.WriteHeader call from github.com/opentracing-contrib/go-stdlib/nethttp.(*statusCodeTracker).WriteHeader (status-code-tracker.go:19","component":"web","level":"error","msg":")","ts":"2020-01-1

[2020-01-16 00:29] rayjcwu commented on #1353
I'm using `sum` function summing over gauge metrics and encounter the same issue. Need to set step to more than 25m to see 5m resolution downsampled data. Doesn't the explaination in that old github issue only apply to `rate` function?

[2020-01-16 02:42] hyserver opened #2007 "msg="reading timestamps failed" err="read shipper meta file: open /home/server/prometheus/data/thanos.shipper.json: no such file or directory""
Hi,
When I started thanos, I uploaded the file to S3 for storage. The file thanos.shipper. Json could not be found in the log error message，can you help me?

Here is the configuration information：

**Environment**:
- prometheus, version 2.14.0
- CentOS Linux release 7.6.1810 (Core)
- Kernel 4.4.188-1.el7.elrepo.x86_64
- thanos, version 0.10.0

**thanos sidecar start command**:
[code]
**s3.yml**:
[

[2020-01-16 02:44] hyserver commented on #2007
I don't know how the file "thanos.shipper. Json" was generated, thanks.

[2020-01-16 10:09] poolski commented on #1980
Hey folks,

Any thoughts so far? :)

[2020-01-16 11:10] kakkoyun commented on #1980
@poolski I went ahead and have created a PR #2008 for this.
If maintainers decide to go ahead, it could be reviewed and merged.

@bwplotka @metalmatze @squat

[2020-01-16 16:16] domino7 commented on #1318
Elimination of multiple buckets maintenance is definitive adventage.
One more requirement here will be to ensure that clients will not affect each other performance and stability (eg with query like ```{"__name__"=~".+"}``` setup for single client/hashring should be affected at most. It shouldn't be necessary to index and query metrics from all clients - which may be the case for labels-based segr

[2020-01-17 07:53] ricoberger commented on #1624
We have a similar problem, running Thanos in a Kubernetes cluster. When a pod gets restarted the receiver is OOM killed. The StatefulSet looks similar to the following example: https://github.com/thanos-io/kube-thanos/blob/master/examples/all/manifests/thanos-receive-statefulSet.yaml

The problem occurs with Thanos `v0.10.0` and all earlier versions. We also tested it with up to 16GB of memory (wh

[2020-01-17 08:35] GiedriusS commented on #2007
You were supposed to get other warnings about `updating meta file failed`. Could you please paste them as well?

[2020-01-17 09:14] squat commented on #1624
This entire code path is simply leveraging Prometheus TSDB packages. Do we see similar spikes in memory when Prometheus restarts and replays a large WAL?

[2020-01-17 09:40] garenwen commented on #1507
I had the same problem

[2020-01-17 09:42] garenwen commented on #1507
Do you have a solution?

[2020-01-17 14:06] ricoberger commented on #1624
We are seeing similar spikes in memory, when Prometheus  restarts and replays a large WAL? The Prometheus spikes are not as extreme as in Thanos.

Thanos, gets OOM killed with 16GB, after that we decreased the limit to 4GB:

![Bildschirmfoto 2020-01-17 um 15 00 07](https://user-images.githubusercontent.com/18552168/72618131-bf625380-393a-11ea-8b99-f94df834d3e3.png)

Prometheus:

![Bildschirmfoto 2

[2020-01-17 14:44] hyserver commented on #2007
Thanks, I later used tencent cos to solve this problem, which is probably because signature_version2 on S3 storage is not supported, see the official explanation that it needs v3v4 version.

[2020-01-17 14:48] hyserver commented on #2007
If there are policy Settings on s3, I'd like to see some concrete examples, thank you very much. @GiedriusS

[2020-01-18 03:50] #1700 closed

[2020-01-18 03:50] #1739 closed

[2020-01-18 03:50] #39 closed

[2020-01-18 03:50] #1745 closed

[2020-01-18 03:50] #1659 closed

[2020-01-18 03:50] #1170 closed

[2020-01-18 03:50] #1024 closed

[2020-01-18 03:50] #1027 closed

[2020-01-18 03:50] #703 closed

[2020-01-18 03:50] #1711 closed

[2020-01-18 03:50] #1177 closed

[2020-01-18 03:50] #1859 closed

[2020-01-18 03:50] #1774 closed

[2020-01-18 03:50] #1873 closed

[2020-01-18 04:49] #1543 closed

[2020-01-18 04:49] #1592 closed

[2020-01-18 04:49] #1510 closed

[2020-01-18 04:49] #1635 closed

[2020-01-18 04:49] #1535 closed

[2020-01-18 04:50] #1150 closed

[2020-01-18 04:50] #1681 closed

[2020-01-18 04:50] #1686 closed

[2020-01-18 04:50] #1673 closed

[2020-01-18 04:50] #1677 closed

[2020-01-18 04:50] #1695 closed

[2020-01-18 04:50] #1696 closed

[2020-01-18 04:50] #365 closed

[2020-01-18 04:50] #1220 closed

[2020-01-18 04:50] #1316 closed

[2020-01-18 04:50] #1433 closed

[2020-01-18 04:50] #1452 closed

[2020-01-18 04:50] #1453 closed

[2020-01-18 04:50] #960 closed

[2020-01-18 04:50] #1455 closed

[2020-01-18 04:50] #1726 closed

[2020-01-18 04:50] #1731 closed

[2020-01-18 04:50] #1621 closed

[2020-01-18 04:50] #1728 closed

[2020-01-18 05:49] #1324 closed

[2020-01-18 05:49] #1360 closed

[2020-01-18 05:49] #1386 closed

[2020-01-18 05:49] #891 closed

[2020-01-18 05:49] #1403 closed

[2020-01-18 05:49] #402 closed

[2020-01-18 05:49] #1364 closed

[2020-01-18 05:49] #1447 closed

[2020-01-18 05:49] #1401 closed

[2020-01-18 05:49] #1456 closed

[2020-01-18 05:49] #1168 closed

[2020-01-18 05:49] #1457 closed

[2020-01-18 05:50] #1467 closed

[2020-01-18 05:50] #440 closed

[2020-01-18 05:50] #1006 closed

[2020-01-18 05:50] #1536 closed

[2020-01-18 05:50] #442 closed

[2020-01-18 05:50] #1511 closed

[2020-01-18 05:50] #1526 closed

[2020-01-18 05:50] #1554 closed

[2020-01-18 05:50] #1577 closed

[2020-01-18 05:50] #813 closed

[2020-01-18 05:50] #1574 closed

[2020-01-18 06:49] #1025 closed

[2020-01-18 06:49] #1032 closed

[2020-01-18 06:49] #1064 closed

[2020-01-18 06:49] #1076 closed

[2020-01-18 06:49] #505 closed

[2020-01-18 06:49] #326 closed

[2020-01-18 06:49] #1129 closed

[2020-01-18 06:49] #1175 closed

[2020-01-18 06:49] #1205 closed

[2020-01-18 06:49] #1188 closed

[2020-01-18 06:49] #1222 closed

[2020-01-18 06:49] #636 closed

[2020-01-18 06:50] #222 closed

[2020-01-18 06:50] #1271 closed

[2020-01-18 06:50] #1085 closed

[2020-01-18 06:50] #896 closed

[2020-01-18 06:50] #1320 closed

[2020-01-18 06:50] #1328 closed

[2020-01-18 06:50] #1317 closed

[2020-01-18 06:50] #1356 closed

[2020-01-18 06:50] #697 closed

[2020-01-18 06:50] #1374 closed

[2020-01-18 07:49] #527 closed

[2020-01-18 07:49] #454 closed

[2020-01-18 07:49] #549 closed

[2020-01-18 07:49] #559 closed

[2020-01-18 07:49] #582 closed

[2020-01-18 07:49] #594 closed

[2020-01-18 07:49] #544 closed

[2020-01-18 07:49] #607 closed

[2020-01-18 07:49] #533 closed

[2020-01-18 07:49] #623 closed

[2020-01-18 07:49] #631 closed

[2020-01-18 07:50] #625 closed

[2020-01-18 07:50] #624 closed

[2020-01-18 07:50] #707 closed

[2020-01-18 07:50] #751 closed

[2020-01-18 07:50] #757 closed

[2020-01-18 07:50] #845 closed

[2020-01-18 07:50] #945 closed

[2020-01-18 07:50] #847 closed

[2020-01-18 07:50] #850 closed

[2020-01-18 07:50] #935 closed

[2020-01-18 07:50] #890 closed

[2020-01-18 07:50] #453 closed

[2020-01-18 07:50] #944 closed

[2020-01-18 07:50] #906 closed

[2020-01-18 07:50] #879 closed

[2020-01-18 07:50] #993 closed

[2020-01-18 07:50] #992 closed

[2020-01-18 08:49] #42 closed

[2020-01-18 08:49] #163 closed

[2020-01-18 08:49] #437 closed

[2020-01-18 08:49] #395 closed

[2020-01-18 08:49] #452 closed

[2020-01-18 19:45] GiedriusS commented on #1995
Yes, you have understood it correctly. It should work the way you have described. That's the whole idea behind this feature. Please try it out and let us know if it works for you :smile:

[2020-01-19 02:28] daixiang0 commented on #1820
update

[2020-01-19 22:09] FUSAKLA commented on #1788
Not sure but might be dupe of https://github.com/thanos-io/thanos/issues/1326 ?

Seems very similar, I have the unit test somewhere and still have it on my TODO list to have a closer look.

[2020-01-20 13:40] bdelagesap opened #2010 "Frontend stuttering after upgrade to 0.10.0"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.10.0 (branch: HEAD, revision: 698c7a922cd5dcaa53e305db5c2adb4e79d328ba)
  build user:       circleci@07a502f4439b
  build date:       20200113-14:49:31
  go version:       go1.13.1

Running current 0.10.0 docker image.
Running Prometheus 2.13.1

**Object Storage Provider**: GCS

**What happened**:
After upgrade to 0.10.0, we experi

[2020-01-20 15:09] IKSIN opened #2011 "query: error in #1904 - /series with SkipChunks not use start/end args."
**Thanos, Prometheus and Golang version used**:
thanos v0.10.0 with #1904

**Object Storage Provider**:

**What happened**:
/series return all data (not considering selected time range in Grafana)

**What you expected to happen**:
Return data only in selected time range

**How to reproduce it (as minimally and precisely as possible)**:
Request /series to prometheus with start/end args and compare

[2020-01-20 15:45] GiedriusS commented on #2011
Thanks for the report! At first glance, it seems like the problem is here: https://github.com/thanos-io/thanos/pull/1904/files#diff-83652b446ecd7da3f50669bd4a6d44baR664-R667 - `q.Encode()` should be called after adding **all** of the parameters. For some reason, we call it before adding start/end times. @yeya24 does that sound about right?

[2020-01-20 17:42] MacroPower commented on #981
I am having this same issue. I can actually reproduce it by having a couple prometheus instances scraping the same target, then just rebooting (recreating the pod, in my case) a single node. It will miss one or two scrapes. You'll then start to see gaps in the data if thanos happens to query the node that was rebooted.

[2020-01-20 17:54] yeya24 commented on #2011
Thanks for the report. I will send a fix ASAP

[2020-01-20 17:58] yeya24 commented on #2011
I think you are right! Thanks!

[2020-01-20 19:42] craigfurman opened #2014 "Separation of chunk storage to support object lifecycle management"
I'm interested in storing chunks in a separate bucket to indexes and metadata, in order to use object lifecycle management (GCS: https://cloud.google.com/storage/docs/lifecycle, but similar features may exist in other storage backends) to move older chunks to colder, cheaper storage (GCS nearline/coldline).

As I understand it, it pays to keep indexes warmer than chunks, as they can be accessed mo

[2020-01-20 20:14] GiedriusS commented on #2011
@yeya24 let me know if you need any help. It would be nice to release `0.10.1` with the one other fix that we have for alerting rules + this one :p

[2020-01-20 20:51] GiedriusS commented on #1651
I feel like we should return a partial response if there were StoreAPI nodes which were added **without** a discovery mechanism and they were unhealthy i.e. no response to `Info()`, kind of like static scrape targets in Prometheus. We shouldn't do the same for dynamically detected nodes since they can go away easily. @bwplotka does this logic sound good?

[2020-01-20 21:28] bwplotka commented on #1830
Still valid, pinning.

[2020-01-20 21:32] bwplotka commented on #2010
Thanks, can you look on the F12 (console) on chrome? What is introducing the lag in Network tab?

[2020-01-20 21:44] bwplotka commented on #437
Actually done!

[2020-01-20 23:33] Lightn opened #2016 "sidecar: fails to upload on Windows"
**Thanos, Prometheus and Golang version used**:
Thanos:
Version	0.10.0
Revision	698c7a922cd5dcaa53e305db5c2adb4e79d328ba
Branch	HEAD
BuildUser	root@b1b9ee0e47e5
BuildDate	20200113-14:40:25
GoVersion	go1.13.1

Prometheus:
Version	2.15.2
Revision	d9613e5c466c6e9de548c4dae1b9aabf9aaf7c57
Branch	HEAD
BuildUser	root@688433cf4ff7
BuildDate	20200106-15:06:47
GoVersion	go1.13.5

**Object Storage Provider*

[2020-01-21 09:09] daixiang0 commented on #2016
@Lightn hi, seems there are 2+ processes do actions:
[code]

Could you reboot and then make sure only one prometheus and one thanos alive?

[2020-01-21 09:12] daixiang0 commented on #594
@bwplotka still need this?

[2020-01-21 09:13] daixiang0 commented on #625
@bwplotka still need this?

[2020-01-21 09:13] daixiang0 commented on #305
@bwplotka still need this?

[2020-01-21 09:56] SuperQ commented on #1598
My opinion:
* The compactor seems like the right place for this.
* I think following the tombstones logic is fine. It works well for Prometheus itself.
* Adding the `clean_tombstones` endpoint/function is probably the right way to deal with purging if necessary.

[2020-01-21 11:55] sepich opened #2018 "sidecar v0.10.0: envsubst does not work"
**Thanos, Prometheus and Golang version used**:
v0.10.0

**Object Storage Provider**:
None

**What happened**:
Trying to render env variable to prometheus config, but it does not work.

prometheus.yml
[code]

docker-compose.yml
[code]
Check env:
[code]
Check result:
[code]

**What you expected to happen**:
Expecting to see rendered config with `$LOCATION` (tried `${LOCATION}` too) expanded to `tes

[2020-01-21 12:55] omerlh commented on #977
Any update? Why this issue become stale? I have the exact same issue...

[2020-01-21 13:33] #1471 closed

[2020-01-21 13:33] #1655 closed

[2020-01-21 13:33] #1750 closed

[2020-01-21 13:33] #448 closed

[2020-01-21 13:33] #942 closed

[2020-01-21 14:22] bdelagesap commented on #2010
I do see some "stalled" time for "graph_template.handlebar" >200ms in Chrome.
In Firefox I see the "favicon" in the "stalled" state >200ms as well.

The "stalled" values are <5ms in v0.8.1.

[2020-01-21 14:46] hbokh commented on #1750
Just started testing `thanos store`, `thanos-0.10.0.linux-amd64`
@bwplotka Can you please explain this?

Instead of OOM it is now restarting pretty often with `fatal error: runtime: out of memory` (20GB RAM).
[code]

![Thanos-store](https://user-images.githubusercontent.com/519955/72814232-ff8c4380-3c64-11ea-984f-46dd7d00fb63.png)

[2020-01-21 14:59] GiedriusS commented on #1750
The PR that closed this is **not** in `0.10.0`. Please try out the `master` version with the experimental flags turned on.

[2020-01-21 17:08] hawran opened #2020 "Ruler: err="no query peer reachable" with no details."
**Thanos, Prometheus and Golang version used**:
Thanos: 0.10.0
Prometheus: 2.15.2
Golang: 1.13.1

**Object Storage Provider**:

**What happened**:
From time to time we're experiencing a bunch of error messages from ruler as follows:
[code]

**What you expected to happen**:
I was about to ask whether it would be possible to elaborate on details of such an error?
What reason, which peer? At least.

[2020-01-21 19:53] yeya24 commented on #2018
@sepich Hello!
The correct way to set the env substitution is to use $(xxx).
And I think we don't have this part in sidecar docs. So it is better to add it.
[code]

[2020-01-21 23:46] FUSAKLA opened #2022 "store: fails to load compacted block"
**Thanos, Prometheus and Golang version used**:
Thanos 0.10.0

**Object Storage Provider**:
S3 (Minio)

**What happened**:
Store tries to load compacted block right after it was compacted and deleted by the compactor and fails with error:
[code]

On version 0.7.0 everything was working fine and never seen this issue.
After upgrade to 0.9.0 (skipped 0.8.0) this error started to show up.
Then tried

[2020-01-22 01:54] FUSAKLA commented on #2020
Hi, this error message can mean two things:
 - there are no queriers resolved (for example from service discovery)
 - all resolved queriers returned an error, in that case you should see those errors logged before this line
So the answer to "which?" is all of them.

Do you have any preceding error log lines?

[2020-01-22 02:05] FUSAKLA commented on #2018
Yes it should be definitely in the docs, by default env substitution mentioned in the docs now suggest format used by envsubst probably. The actual regex for replacing is `\$\(([a-zA-Z_0-9]+)\)`.

[2020-01-22 02:17] FUSAKLA commented on #2014
Hi, thanks for sharing your use case.
TBH I'm not personally familiar with those cold storages, it's latencies,API etc. But the idea sounds definitely interesting.

@bwplotka do you think this would be something worth to consider?

[2020-01-22 02:32] FUSAKLA commented on #2010
Hi, do you happen to have large number of metrics with distinct name?
This can cause issues with the JS when those are loaded for hinting for example.
You should see it in the browser network console as a request to `/api/v1/label/__name__/values?_=1579659568096`.

[2020-01-22 02:39] FUSAKLA commented on #2007
Hi, do I understand well that you managed to resolve the issue or do you still need help with? :)

[2020-01-22 02:49] FUSAKLA commented on #1998
Hi, just to be clear you mentioned `Toggling the downsampling bar has no real effect`, does this mean that you get the invalid data even with the option `only raw data` ?

Could you please open the browser network console and copy the exact range query which Grafana sends to the thanos datasource and do the same for the Thanos UI? So we can see what is the difference between those two requests. Ho

[2020-01-22 02:55] FUSAKLA commented on #1976
Hi, could you please explain more what is the issue?
IIUC you are trying to verify that the sidecar is working and sending blocks to the object storage?

According to the log you sent it looks like it should be working ok.

[2020-01-22 03:06] FUSAKLA commented on #1950
Hi, sorry for the late reply.
Memory consumption of the querier component should be mostly driven by the queries coming in.
Do you have any way to check what queries were sent to it during that time of spikes? Meanwhile, you might have to just enlarge those limits.

Grafana for example allows logging of datasource proxy calls etc so maybe try this or adding reverse proxy of some kind to loge those

[2020-01-22 03:18] yeya24 commented on #1976
I have talked with him about this issue offline previously. His question is that he is using sidecar to upload blocks to s3, it works properly. But he cannot see any disk IO in the grafana dashboard for that upload operation. Do you guys have any hints about this?

[2020-01-22 07:15] FUSAKLA commented on #1976
Ok, thanks for clarifying!
The disk IO of sidecar would show up only once per 2h when the block is written by Prometheus to disk so you need to check for longer time range maybe?
And how do you observe the disko IO?

[2020-01-22 07:31] zenman94 opened #2024 "Thanos-rule : Bad query url in Alerts view"
**Thanos, Prometheus and Golang version used**:
Thanos : 0.10.0
Go: go1.13.1
Prometheus: 2.15.2
Docker image : quay.io/thanos/thanos:v0.10.0 on all components

**Object Storage Provider**: Min.io

**What happened**:
On Ruler web UI, in Alerts section, all url is thanos-rule itself like :
`https://thanos-rule.ihm/graph?g0.expr=...`
instead of
`https://thanos-query.ihm/graph?g0.expr=...`

In Rules s

[2020-01-22 07:43] FUSAKLA commented on #2024
Hi, thanks for report!
Interesting, I remember it beeing fixed already https://github.com/thanos-io/thanos/pull/1488 🤔

[2020-01-22 07:54] 695097494 commented on #1976
sorry，I forgot to explain one thing, I changed the "--storage.tsdb.min-block-duration" and "--storage.tsdb.max-block-duration" time of prometheus to 15 seconds, so that I can more easily Good observation of the io of the sidecar process. I use pidstat to observe the io of the sidecar process. The following is the relevant configuration of my prometheus.

[code]

In our expectations, after we chang

[2020-01-22 07:59] 695097494 commented on #1976
sorry，I forgot to explain one thing, I changed the "--storage.tsdb.min-block-duration" and "--storage.tsdb.max-block-duration" time of prometheus to 15 seconds, so that I can more easily Good observation of the io of the sidecar process. I use pidstat to observe the io of the sidecar process. The following is the relevant configuration of my prometheus.

[code]

In our expectations, after we chang

[2020-01-22 10:31] hawran commented on #2020
Sorry, my mistake, I overlooked some filters in use (hiding other lines).
So I've got a preceding log line as follows (one example):
[code]
Well, the question `which` has been answered.
But what was the `reason`?

[2020-01-22 14:09] hawran commented on #2020
I'm deeply sorry, accidentally I've picked out an example when ruler got oom-killed, :-/.
However, the original idea for this issue / question remains, I'd say.
Hopefully I'll find out a better example...

[2020-01-22 15:12] sylr opened #2028 "Merge tags in master branch"
Hi,

It's really annoying to not have the tags (at least the major and minor ones) in the master branch.

@beorn7 recently did a pass on the prometheus project and merged all missing tags since v2.0.0 which were not in master.

I think the same should be done with Thanos.

Regards.

[2020-01-22 17:05] omerlh opened #2029 "Add support for max-time in sidecar"
Currently, the sidecar does not support `max-time` settings - it is always maximum. We have a use case where we need it - we want to migrate from centralized Prometheus (using federation) to thanos. For the migration period, I was thinking that we can run the sidecar on centralized prometheus with `max-time` set to the time where we started Thanos - so old data will be served from this sidecar, an

[2020-01-22 17:31] marcusteixeira commented on #1086
I had the same problem . It is a case similar to @chjohnst, running the same version of prometheus and thanos. It can occur when larger consultations are carried out, with a time interval of 30 days or with many values.

[2020-01-22 18:05] gibbonsjohnm commented on #1750
@GiedriusS Which experimental flags do we turn on and where do we enable them?

[2020-01-22 18:35] GiedriusS commented on #2029
This is probably more involved than it sounds. We set the max time currently to `math.MaxInt64` due to the fact that we don't want to depend on the results of the Info() gRPC calls since it happens periodically and we use that information to determine where to send the query. Hence, it is set to that value at the moment because Prometheus is always adding new information.

[2020-01-22 19:20] sepich commented on #2018
Thank you very much,
confirming `$(VAR)` works

[2020-01-22 19:50] #2018 closed

[2020-01-23 00:06] caarlos0 commented on #2007
Similar issue here with s3, thanos 0.10.0 (official docker img), prometheus 2.15.2 (official docker img) running on kubernetes:

[code]

seems like some sort of race condition?

[2020-01-23 07:36] #2011 closed

[2020-01-23 07:37] bwplotka commented on #2011
This should be fixed, we will be releasing 0.10.1 with this.

[2020-01-23 07:37] bwplotka commented on #2011
cc @GiedriusS

[2020-01-23 09:11] sylr opened #2031 "Use debian instead of alpine for go build"
Hi,

I wondering if we could consider switching from alpine to debian as base for the `Dockerfile.multi-stage`.

The reason of that is that Alpine is not a glibc based distro and this currently makes it hard to compile go with the `-race`  option, see https://github.com/golang/go/issues/14481.

Regards.

[2020-01-23 12:01] KarstenSiemer opened #2032 "Failing to query long term data from store longer than 104h"
**Thanos, Prometheus and Golang version used**:
thanos, version 0.10.0 (branch: HEAD, revision: 698c7a922cd5dcaa53e305db5c2adb4e79d328ba)
  build user:       circleci@07a502f4439b
  build date:       20200113-14:49:31
  go version:       go1.13.1
Prometheus v.2.15.2
**Object Storage Provider**:
S3
**What happened**:
Failing to query long term data from store longer than 104h
I only keep short term

[2020-01-23 12:18] robcoward commented on #1494
https://github.com/minio/minio-go/releases/tag/v6.0.45 has just been released.

[2020-01-23 13:42] bdelagesap commented on #2010
Hi
Here is what I have `api/v1/label/__name__/values?_=1579786670892`
Waiting: 672 ms, Receiving: 2.84 s
I would expect it would run this query just once.

[2020-01-23 15:58] bwplotka commented on #2029
@omerlh Why you cannot ask both? You can totally hook both centralized Prometheus + sidecar AND new Thanos in a way that even if BOTH will respond with data it will be deduplicated into one. This is because samples should be exactly the same. (:

So there will be some duplication of effort (as you will fetch from both), but functionally it will work just fine.

[2020-01-23 15:59] bwplotka commented on #2028
Why is annoying? I don't feel there is really need for that, so I would love to know the use case. (:

[2020-01-23 16:13] sylr commented on #2028
I do a lot of `git log --one-line --graph` and not having tags makes it hard to know where you at.

[2020-01-23 17:30] beorn7 commented on #2028
Perhaps it is useful to know that having all the release labels in master is a side effect of the documented Prometheus branch management strategy rather than a (main) goal.

The strategy of merging bug fixes into the current release branch and then from there into master avoids the commit "duplication" you get with cherrypicking (i.e. commits that do the same thing but have different parents and

[2020-01-24 01:25] yeya24 commented on #678
This issue is still valid, right?

[2020-01-24 09:01] bwplotka commented on #678
yup :+1:

[2020-01-24 09:48] brancz commented on #1611
With #2030 merged we should be able to at least identify the potential for this.

[2020-01-24 12:35] bwplotka commented on #1851
Still valid, and in fact we have a PR ready - it's waiting on us to actually test it and update quay a bit.

[2020-01-24 12:44] bwplotka commented on #2028
Thanks!

I think that makes sense, but then we need to be more strict on the release bug fix process and document it in our release process. Will put that on @thanos-io/thanos-maintainers @thanos-io/thanos-triage agenda.(:

However @sylr there is no way to "merge tags right now, as we always used to cherry pick.

[2020-01-24 12:51] bwplotka commented on #2010
I believe it is a duplicate of https://github.com/thanos-io/thanos/issues/2011

[2020-01-24 12:51] #2010 closed

[2020-01-24 13:10] sylr commented on #2028
I believe you can:

[code]

[2020-01-24 13:16] #1494 closed

[2020-01-24 15:50] hawran commented on #2020
Hi,
before I go on with some log lines I've managed to gather, one question has just crossed my mind:
- regarding the error line I mentioned before - is that `EOF` symbol actually an 'error code or whatever' which describes the `err="..."` result?
Hence the string after the last colon within the `err` string is the error status, right?

[2020-01-24 16:20] hawran commented on #2020
So, the log lines I'd like to present are as follows (just snippets to make it as concise as possible):

`
thanos-compactor: level=info ... 2020-01-22T11:44:04.595706111Z caller=compact.go:441 msg="compact blocks" count=4 mint=1579651200000 maxt=1579680000000 ulid=01DZ6GWZPKQJCHS4C5JENGCB61 sources="[01DZ5K2FWDGK64AZ818CQ7TNVA ...
`
`...`

`thanos-compactor: level=info ... 2020-01-22T11:45:28.6193

[2020-01-24 16:50] igorwwwwwwwwwwwwwwwwwwww opened #2039 "Sampling for Elastic APM tracing"
This may change with the switch to OpenTelemetry (https://github.com/thanos-io/thanos/issues/1972).

It looks like the Elastic APM tracing backend in thanos does not currently support sampling. Without sampling, every request will be traced, which can be quite expensive.

The Elastic APM client library _does_ support sampling via [`Tracer.SetSampler`](https://godoc.org/go.elastic.co/apm#Tracer.Set

[2020-01-24 17:29] yeya24 commented on #2032
Hi, @KarstenSiemer Could you please share your thanos query logs? I am not sure but maybe I am hitting the same problem.

[2020-01-24 18:19] GiedriusS commented on #2032
Hi! What kind of query are you writing exactly?

[2020-01-24 18:22] GiedriusS commented on #2031
I wonder how bigger the image would be. Are there any numbers? For building with `-race` I always build it locally and then use the binary so I never had this need myself.

[2020-01-25 01:29] yeya24 commented on #2024
I can confirm this is a valid issue. Now we support this feature in ruler's rules page, but in its alerts page, we cannot jump to querier.

[2020-01-25 09:20] bbkgh opened #2041 "Katacoda course completion"
Hi. I'm waiting for [this katacoda course](https://www.katacoda.com/thanos/courses/thanos) to be completed from v0.8.1 release (about 3 months ago). specifically for _Introducing caching to Thanos_ lesson. Can you please consider it's completion in your future works?
Thanks

[2020-01-25 09:29] bwplotka commented on #2041
Cool, we would like to have that as well ! Help wanted :heart:

[2020-01-25 09:34] bwplotka commented on #1750
It's on master indeed. It's still on experimental but you can enable it via https://github.com/thanos-io/thanos/blob/master/cmd/thanos/store.go#L78 (`--experimental.enable-index-header`).

We are still working on various benchmarks especially around query resource usage, but functionally it should work! (: Please try it our on **dev/testing/staging** environments and give us feedback! :heart:

[2020-01-25 09:36] bwplotka commented on #448
FYI: This issue was closed as the major rewrite happened on master above 0.10.0. It's still experimental but you can enable it via https://github.com/thanos-io/thanos/blob/master/cmd/thanos/store.go#L78 (`--experimental.enable-index-header`).

We are still working on various benchmarks especially around query resource usage, but functionally it should work! (:

Please try it our on **dev/testing/s

[2020-01-25 09:48] bwplotka commented on #1699
We need that still! @daixiang0 any update?

[2020-01-25 09:56] #2024 closed

[2020-01-25 10:13] #1890 closed

[2020-01-25 14:48] caarlos0 commented on #448
Hey @bwplotka, I just tried here and I got:

[code]

What am I doing wrong? 🤔

[2020-01-25 15:10] yeya24 commented on #448
@caarlos0 Hi, this feature is not included in v0.10.1 release. You can use the latest master branch docker image to try this.
[code]

[2020-01-25 15:23] caarlos0 commented on #448
Oh ok, sorry, I misread 🙏

[2020-01-25 15:46] jdfalk opened #2042 "Store: Document --chunk-pool-size better"
It's not immediately apparent if the chunk pool size is a in-memory cache of the chunks, or if it's an on disk cache. The index cache option was updated and clearly states it's an in-memory cache whereas chunk pool is ambiguous.

[2020-01-25 18:20] bwplotka commented on #2042
Yes, we should be more precise :+1:

[2020-01-25 19:11] bwplotka commented on #2014
I think object storage is cheap enough to store data for a long time. However, if you really want to use Coldline Storage or others you have still a couple of options without any change from our side.

For example:

*   Setting "data older than year" Set Storage Class to coldline if you don't expect anyone querying data older than a year ago. In fact, you can even set a `--min-time` flag to Store

[2020-01-25 19:15] bwplotka commented on #977
It became stale as no one said anything for long time (: I marked this thread as `pinned` as it's not solved and it's fair feature request.

We recently added way for different TLS for Ruler Query API and alertmanagers, so we might want to follow same logic and allow that for querier. Help wanted (:

[2020-01-25 19:19] bwplotka commented on #1598
Yup @SuperQ

As we talked offline tombstones are probably no go, as they are not immutable. At least not in the form that is implemented in Prometheus. We might be though able to add deletion requests to each block, then having a compactor to include that during compaction and lazy rewrite. It would be nice to have some solution that will also fit https://github.com/thanos-io/thanos/issues/903

[2020-01-25 21:15] GiedriusS opened #2045 "Flaky Thanos Ruler E2E tests"
Sometimes our Thanos Ruler E2E tests fail in Circle CI for some reason like here, for example: https://circleci.com/gh/thanos-io/thanos/6802. We should investigate and fix this.

[2020-01-25 21:50] bwplotka commented on #2022
Thanks for all of those details. It's duplicate of https://github.com/thanos-io/thanos/issues/564 and our @khyatisoneji is working on this ((:

[2020-01-25 21:50] #2022 closed

[2020-01-26 00:32] yeya24 opened #2046 "Flaky Thanos Bucket Store E2E test"
See https://circleci.com/gh/thanos-io/thanos/6803, for this error, we don't need to check the number of chunks of series response for each testcase, we just need to make sure the number of chunks is 0 when `skipChunks` option set to true.

[2020-01-26 06:06] bwplotka commented on #2046
Hm, I don't get it. Why we get this error in the first place?

[2020-01-26 15:42] yeya24 commented on #2046
This error is weird. I just saw it yesterday and tested local in the master branch, sometimes the test passed but sometimes it failed. Let's see if it will appear again in CI.

[2020-01-26 19:59] omerlh commented on #2029
Yeah, that what I ended up doing - adding `prometheus_replica` as external label, that solved it with deduplication as you suggested. But, as the data on this Prometheus is static (one Thanos is production, we're going to stop federation and relay on Thanos, and keep this one for historic data) .- I though this could save a huge amount of dedupe, as most queries will not go to there.

BTW I'm awar

[2020-01-26 21:36] #1915 closed

[2020-01-27 07:34] KarstenSiemer commented on #2032
Hello @GiedriusS,
thanks for answering to my question.
This is the exact query:
`sum(irate(node_network_receive_bytes_total{device=~"eth(4|5)",node=~"natgw02.+",job="kube-node-exporters"}[5m]))`

[2020-01-27 13:05] bwplotka commented on #2029
Where?

[2020-01-27 13:07] omerlh commented on #2029
In the docs: https://github.com/thanos-io/thanos/blob/master/docs/components/sidecar.md#upload-compacted-blocks-experimental

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bartlomiej Plotka <notifications@github.com>
Sent: Monday, January 27, 2020 3:05:08 PM
To: thanos-io/thanos <thanos@noreply.github.com>
Cc: Omer Levi Hevroni <omerl@soluto.com>; Mention <menti

[2020-01-27 14:14] bdelagesap commented on #2010
I installed v0.10.1 it seems we experience similar performance as with v0.8.1.
All good then, thank you.

[2020-01-27 14:39] bwplotka commented on #2010
:tada:

[2020-01-27 18:12] #2039 closed

[2020-01-27 18:32] OGKevin opened #2050 "Ruler does not expose shipper metrics"
**Thanos, Prometheus and Golang version used**:

0.10.1

**Object Storage Provider**:
GCS

**What happened**:
Ruler failed to upload to GCS bucket, by reading the code, it should increase and expose the following metric:

https://github.com/thanos-io/thanos/blob/4a23b36a017961a2ab6b78c4ca585a680d922a0d/pkg/shipper/shipper.go#L338-L340

However, this does not happen due to missing prom register:
ht

[2020-01-27 19:07] caniszczyk opened #2052 "Create SECURITY.md (security disclosure process)"
It's probably time Thanos as a security disclosure process :)

https://github.com/thanos-io/thanos/security/policy

[2020-01-27 23:25] FUSAKLA commented on #2020
Hi, regarding the coupling of the logs. I'd recommend using some kind of distributed tracing, Thanos does support most of the providers so that would definitely make things easier for you.

I believe there is a plan to log the trace ids which would make it possible to couple those related logs.

Regarding the issue, I personally bumped to the exact same issue reported here https://github.com/thano

[2020-01-28 07:50] bwplotka commented on #1657
Not yet done and in progress.

[2020-01-28 08:29] #1389 closed

[2020-01-28 08:29] #2052 closed

[2020-01-28 08:37] bwplotka commented on #2052
:+1: Done @caniszczyk

![](https://bestpractices.coreinfrastructure.org/projects/3048/badge)

[2020-01-28 09:13] daixiang0 commented on #2031
Apline has a version for glibc i think while we do not use that version, like golang does.
`-race` is not the default flag for thanos.

[2020-01-28 09:16] daixiang0 commented on #2041
Is there more details about the cache course cover?
BTW, @bwplotka miss `pinned` label here.

[2020-01-28 09:30] daixiang0 commented on #2024
@zenman94 you must specify that with `--alert.query-url` or thanos rule use its web prefix path.

[2020-01-28 10:14] #2050 closed

[2020-01-28 10:55] daixiang0 commented on #1699
I would update it in few days.

[2020-01-28 10:56] daixiang0 commented on #911
wait for review @bwplotka

[2020-01-28 11:55] jojohappy commented on #984
I saw it had been fixed with pinned `goimports`. Any update? @bwplotka

[2020-01-28 11:59] bwplotka opened #2062 "store: Benchmark StoreAPI.Series performance with new index-header in binary format."
Assigning myself.

AC:
* We know what is the difference in querying performance for store gateway between json index cache and binary index header; via micro benchmarks
* Fix low hanging fruit in terms of performance

[2020-01-28 12:18] bwplotka opened #2064 "While updating Prometheus deps: don't forget about lack of MaxConcurreny in PromQL"
This PR https://github.com/prometheus/prometheus/pull/6701 introduced a kind of hidden change in behavior of PromQL: `MaxConcurrency` option is `Noop` if you don't use active tracker, which we don't. Let's decide and do either:

* Add active tracker
or
* Add our own concurrency gate from `pkg/gate`

cc @gouthamve @pracucci as it probably affects Cortex as well.

Thanks @roidelapluie for the ping!

[2020-01-28 14:25] bwplotka commented on #984
Still valid.

[2020-01-28 14:28] #1980 closed

[2020-01-28 14:50] bwplotka commented on #911
You mean you are "waiting for review"?

[2020-01-28 15:08] zshearin opened #2067 "Thanos Compact stuck in continuous restart loop when index file missing"
**Thanos, Prometheus and Golang version used**:
quay.io/thanos/thanos:v0.8.1
 prom/prometheus:v2.15.2

**Object Storage Provider**:
MinIO

**What happened**:
Index file not generated for unknown reason for a chunk of data.  Thanos compactor component  unable to keep running/process other chunks of data - seems to get stuck in infinite loop trying to compact same chunk of data (and continuously res

[2020-01-28 15:18] bwplotka commented on #2067
Can you check the latest version? This was fixed in v0.10.1. I believe it might be connected to [this issue](https://github.com/thanos-io/thanos/issues/1919).

Please upgrade compactor (make sure only one is running) to v0.10.1, delete the malformed downsampled block from the bucket (this should be fine as you should have raw data available for this time frame)

If after this you can still repro,

[2020-01-28 15:18] #2067 closed

[2020-01-28 15:32] zshearin commented on #2067
Okay great thank you! Thanks for the quick response @bwplotka !

[2020-01-28 17:52] pracucci commented on #2064
Thanks @bwplotka for the heads up! Cortex will be affected as well.

If you pick this option, what would you think to wrap with `pkg/gate`?

[2020-01-28 20:53] bwplotka commented on #2064
You mean wrap for metrics? Definitely happy with that.

[2020-01-29 03:46] jojohappy commented on #1665
It is still valid. Reopen.

[2020-01-29 07:28] #698 closed

[2020-01-29 08:51] pracucci commented on #2064
Sorry for not being clear about my previous question. One of the solutions listed in the PR description is "Add our own concurrency gate from pkg/gate". How that would work? How would you add it? I'm missing how to integrate it.

[2020-01-29 09:09] bwplotka commented on #2064
Ah yes!

I mean literally add
[code]
Before calling PromQL query that's it ([source](https://github.com/thanos-io/thanos/blob/3b6b4fd3b6cca70dba743c090608eaeafea2ed41/pkg/store/bucket.go#L811))

For Cortex probably the same but per customer.

[2020-01-29 12:12] bwplotka commented on #903
The current plan is to first tackle https://github.com/thanos-io/thanos/issues/1598 then try to implement this. Putting this issue as GSoC project as well.

The current decision is that Prometheus will not implement this, and the work has to be done first externally. It would be nice though if our work would work could be reused for vanilla Prometheus as well (as usual).

[2020-01-29 12:55] craigfurman commented on #2014
Thanks for replying @bwplotka. My motivation for using a different GCS bucket for chunks was to take advantage of object lifecycle management to automatically move the chunks to cold storage when they reach a certain age. As you say, this could also be done using a service that polls the bucket. Would the compactor be a reasonable place to put such functionality? The compactor already has lifecycl

[2020-01-29 15:52] Jigar3 commented on #903
Hey @bwplotka, I would like to work on this and it would be very helpful if you could suggest me some resources to get started.

[2020-01-29 15:55] bwplotka commented on #2014
Yes, I believe we are not interested into embedding such code in Thanos for now. However there is nothing blocking you setting NO retention logic for Compactor and writing your own service which will set lifecycle for objects (:

[2020-01-29 20:16] GiedriusS commented on #1708
Reopening since there is a new PR which tries to address this.

[2020-01-30 03:04] daixiang0 commented on #1972
@bwplotka i am happy to work on this.

[2020-01-30 07:35] bwplotka commented on #1972
Awesome! Thanks for taking a look. My thoughts:

* What about different backends (e.g lightstep, ELK APM) that OpenTelemetry does not support?
* Definitely IF we are doing the change, let's start small, so option 1.

* Yes, that's my worry. That's why we should be careful. Let's focus now on what is missing that we are using? I guess small try does not hurt, if you want to give it a go - but you n

[2020-01-30 12:41] daixiang0 commented on #1972
I file a [issue](https://github.com/open-telemetry/opentelemetry-go/issues/453) about Elastic/Lightstep support, i would try the bridge.

[2020-01-30 12:51] hawran commented on #2020
Hi,
my comments inline...

Well, there's Jaeger in use here at the moment and it's not good (probably tampering with sampling could help).
I had just the feeling it might have been the best way if marking is done via Thanos's internals.

Good, it could be nice.

According to our remaining "historical" logs we experienced the `The specified key does not exist` messages even with Thanos 0.9.0.
(And

[2020-01-31 07:46] Ultrafenrir opened #2081 "Let's be clear about thanos compact, one more time"
Thanos version 0.9.0
Storage s3

I have read a couple articles related to this topic, and don't found straightforward answers on my questions.

I have a small setup for testing purposes ( 2 week retention of all resolution) , with around 200 GB metrics in my bucket to get understand how much resources thanos consumes, how it deal with geo distributed setup and so on.

My problem is, even with this

[2020-01-31 07:59] zenman94 commented on #2024
Thanks for your work !

[2020-01-31 09:36] lawrencejones commented on #1972
Given opencencus and opentracing are both mature libraries with LTS guarantees, would it make more sense to pick one of those for now? I've held off using opentelemetry while it's in alpha to avoid needless changes, and under the expectation that opencencus/opentracing -> opentelemetry will eventually become a well worn migration path.

[2020-01-31 12:16] acukan opened #2082 "swift: fix file already closed"
Hey,

I have a problem with thanos-sidecar and openstack swift storage and it seems it is previously discussed and there is a solution for problem https://github.com/thanos-io/thanos/pull/1489. But it is closed as stale 😢

How can we fix this issue?

[2020-01-31 17:05] cjf-fuller commented on #1507
Another work around with the NGINX Ingress Controller is to use the `--grpc-client-server-name` flag on your `thanos-query`. This uses [Server Name Indication](https://tools.ietf.org/html/rfc4366#section-3.1), allowing the ingress controller to route the request correctly.

I believe this limits each querier to one server name only. Therefore you will need multiple queriers if you have multiple cl

[2020-01-31 17:21] codyja opened #2084 "Rate Limit Feature Request"
Would it be possible to add rate limit capabilities to the Thanos components? For example, it would be nice if we have the sidecars send to object storage (using S3 currently) and say limit the transfer rate to 75Mbit on a 500Mbit internet pipe. Same thing with store gateway, if it's possible to limit the rate of connections/calls/traffic to the bucket store, that would be very nice and helpful.

[2020-01-31 17:23] brancz commented on #1871
I think we need to revisit our changes slightly here. I was under the assumption we’re only changing language in sentence form but keep technical references consistent so I think the mixin should use the command names in its structure and in let’s say alert descriptions use whatever is more fluent.

[2020-01-31 17:58] Lemmons commented on #1424
I'm currently running into this and am curious if there is something I can do to help mitigate the issue.  Currently compact errors out with this issue and restarts every few hours.

[2020-01-31 21:08] AlexDHoffer commented on #2020
I'm having the same problem. When I configure Ruler to communicate with Query, it gives me:

``
level=error ts=2020-01-31T21:04:08.047237876Z caller=rule.go:761 err="perform GET request against http://[Internal IP of Query pod]:10901/api/v1/query?dedup=true&partial_response=false&query=vector%281%29&time=2020-01-31T21%3A04%3A08.043993972Z: Get http://10.174.10.65:10901/api/v1/query?dedup=true&part

[2020-01-31 21:17] yeya24 commented on #2020
Hi @AlexDHoffer,
The Ruler just queries data from Query via its HTTP API, so you should connect to the HTTP port. If you get that error message when connecting port 10901, it is expected behavior.

[2020-01-31 21:20] AlexDHoffer commented on #2020
Thanks for the clarity. For some reason I thought we could query that data over the gRPC port. Will fix.

[2020-01-31 21:23] GiedriusS commented on #2084
Hi! Shouldn't this be the responsibility of your host system to limit the resources a process could use? (:

[2020-01-31 21:28] GiedriusS commented on #2081
Hi! Resources usage is not infinite because we compact (and downsample after some time) blocks only up to a fixed amount of time range. In the `master` version you could try `--experimental.enable-index-header` to reduce the memory usage. Also, `v0.10.1` has lower memory usage during the compaction process. Please try these options and see if it helps!

[2020-01-31 21:54] jpalpant commented on #1998
Sorry for the delay! I have new information though, which might help. I was definitely wrong in my initial guess - this probably does not have anything to do with Grafana vs. Querier UI, but I still think there's a bug. I was able to reproduce this weird chart in Grafana as well.

@FUSAKLA, yes, correct - I do get this result even if I select the option "only raw data". But I believe it does have

[2020-01-31 23:01] GiedriusS commented on #1976
I have never used that tool but maybe you are missing the `-T ALL` option because Thanos Sidecar runs in more than one thread?

[2020-02-01 03:17] #880 closed

[2020-02-01 10:20] ops18 commented on #872
Just a question i ,have done setup of thanos with prometheus for observer cluster but now i want to add my client cluster to thanos gw service(EU cluster , US Cluster) so than i can do a central monitoring of all these cluster . Mean to say i want to monitor my multiple cluster using this approach .

[2020-02-01 12:04] 695097494 commented on #1976
Thanks for the hint, I found the problem

[2020-02-01 12:28] Than0s-coder commented on #1507
Cjf-fuller, this could work but it is important to understand that:

The Prometheus stateful set is labeled as thanos-store-api: "true" so that each pod gets discovered by the headless service. This headless service will be used by Thanos Query to query data across all the Prometheus instances. The replica might be up, but querying it will result in a small time gap for the period during which it

[2020-02-01 14:00] GiedriusS commented on #1976
Nice! What was it? Does it mean that we can close this? :p

[2020-02-02 07:38] omerlh opened #2089 "support multiple clusters in dashboards"
Add a cluster selector to each dashboard query and a drop-down that allows you to select which cluster data you want to view (very similar to `kubernetes-mixin` dashboards). Users can define the label via the `dashboard` property:
[code]

This is how it will look like on the dashboard:

![image](https://user-images.githubusercontent.com/6730584/73604845-c4acd880-459f-11ea-8d1e-12a314a68845.png)

[2020-02-02 07:56] Ultrafenrir commented on #2081
Thanks for the quick answer! Yes it solve all of my issues, my small setup start working like  a charm! Store consuming 5 times less memory and startup procedure take about 30 seconds instead of 5 min and compaction process now consumes 16x times less memory than before!!!

[2020-02-02 08:52] 695097494 commented on #1976
Yes, you can turn it off, this does not affect the use of thanos, it is just a small problem that I stumbled upon

[2020-02-02 08:52] 695097494 commented on #1976
Yes, you can turn it off, this does not affect the use of thanos, it is just a small problem that I stumbled upon

[2020-02-02 20:52] bwplotka commented on #2014
Closing as resolved, unless you have further questions @craigfurman (: Thank for the discussion!

[2020-02-02 20:52] #2014 closed

[2020-02-03 00:04] #1976 closed

[2020-02-03 05:16] daixiang0 commented on #698
update

[2020-02-03 06:54] Ultrafenrir opened #2091 "Ability to query store-gateway without active sidecar"
Hi, this is a kind feature request.
I current scheme, thanos query does not allow you query anything from a store if a sidecar that uploaded data into this store terminated already.
My proposal is have ability to query historical data from store does even sidecar that uploaded it don't exist already. Mostly we need it for short-lifetime geo-distributed k8s clusters that make's some testing, analyt

[2020-02-03 07:52] #2081 closed

[2020-02-03 10:38] kakkoyun commented on #1871
My understanding from this issue was, we would eventually move to `*tor` naming schema, thus my changes.

And it's more clear now.

Just to recap. we will keep structural build blocks (code references, filenames etc.) as in commands and only rename documentation (user guideline, alert message etc). Am I right?

[2020-02-03 12:31] omerlh opened #2092 "thanos compact crashed on start"
**Thanos, Prometheus and Golang version used**: quay.io/thanos/thanos:v0.9.0

**Object Storage Provider**: AWS S3

**What happened**:
Bucket crash on start without any indicative error:

[code]

**What you expected to happen**:
Bucket started correctly

**How to reproduce it (as minimally and precisely as possible)**:
Deploy bucket with AWS s3 config

**Full logs to relevant components**:

**Anyth

[2020-02-03 12:45] bwplotka commented on #1871
Definitely, we have to find something consistent (:

What exactly this means? I assume:

* User `-er` `-or` in:
  * While speaking about components
  * Presentations
  * Documentation
  * Code comments (?)
  * Log messages, traces?

* Keep the old way (and revert things that were made `-er` `-or`:
  * Metrics
  * Flags, configuration?
  * Code methods/structs
  * Package names

There are some gray

[2020-02-03 12:51] brancz commented on #1871
That sounds perfect to me. I'll start applying that. Maybe it's worth documenting this in our [`CONTRIBUTING.md`](https://github.com/thanos-io/thanos/blob/master/CONTRIBUTING.md) ?

[2020-02-03 12:54] bwplotka commented on #1871
Definitely will add - and let's make sure we keep it up to date

[2020-02-03 14:47] georgielab opened #2093 "Thanos Compactor Failure : overlaps found while gathering blocks"
Hello,

I tried to upgrade Thanos from v0.9.0 to v0.10.0. After upgrade, the thanos-compactor pod crashes due to overlaps found while gathering blocks.
**Thanos, Prometheus and Golang version used**:
`
Thanos :

    image: quay.io/thanos/thanos:v0.9.0 into -> image: quay.io/thanos/thanos:v0.10.0
`
`
Prometheus :

    image: quay.io/prometheus/prometheus:v2.13.1 into ->    image: quay.io/prometheus