[2022-02-23 10:33] GiedriusS opened #5178 "Vertical dedup compaction results in erratic blocks"
With vertical compaction (deduped) enabled here is how the blocks look like in the UI:
![Screenshot from 2022-02-23 12-31-23](https://user-images.githubusercontent.com/2377233/155302287-74d17128-1761-4dcb-95ca-33c1366f0b1e.png)

I would expect these to be of roughly equal size like here:

![Screenshot from 2022-02-23 12-32-40](https://user-images.githubusercontent.com/2377233/155302379-fd8eba3f-3d

[2022-02-23 19:08] Kampe commented on #4831
Yeah it's very strange as to when we see it appear and are not able to reliably reproduce it, it not only requires the prometheus is restarted, but that its entire WAL is also dumped, or else you'll see the same behavior repeat on restart.  (we utilize statefulsets for prometheus as we're using the prometheus operator, so we delete the entire statefulset to get it to report again to thanos receive

[2022-02-23 23:35] tend2infinity commented on #5026
Hey @GiedriusS @matej-g , So I tried to get around this problem using following two approaches, unfortunately neither of them gave me the desired results, My explanation maybe a bit vague, I would really love to explain it in depth in some community hours meet, but tilll then can you suggest me some iterations in my approach or maybe some different approach!

- Declaring a channel in query.go and

[2022-02-24 07:07] dmilind commented on #5177
Update:
Today I tried to fetch metrics from query front end. I deployed query front in front of querier. Since there is no UI for query front end so I port forwarded query front end pod. Eventually it opened querier UI only. then I used same query front end to visualize same query result which is not making any change at all. Same result I am getting whatever provided by querier. but I noticed one

[2022-02-24 07:26] dmilind commented on #5177
[astra db - prod querier-data-as-seriestocolumns-2022-02-23 23_12_15.csv](https://github.com/thanos-io/thanos/files/8130457/astra.db.-.prod.querier-data-as-seriestocolumns-2022-02-23.23_12_15.csv)

this is excel sheet where I see some similarity

[2022-02-24 07:35] fktkrt commented on #5177
Hey, can you please also post your remote_write config parameters and a screenshot of your source Prometheus' remote write metrics?

[2022-02-24 18:55] dmilind commented on #5177
remote_write configs:
remote_write:
- url: https://domain.url/api/v1/receive
  remote_timeout: 30s
  headers:
    THANOS-TENANT: tenant_id
  follow_redirects: true
  queue_config:
    capacity: 900000
    max_shards: 500
    min_shards: 4
    max_samples_per_send: 300000
    batch_send_deadline: 5s
    min_backoff: 30ms
    max_backoff: 100ms

  metadata_config:
    send: true
    send_interval: 1

[2022-02-24 19:09] fktkrt commented on #5177
Sorry, I was not clear, I was referring to the metrics with values/graphs. You can use this for example: https://github.com/prometheus/prometheus/blob/main/documentation/prometheus-mixin/dashboards.libsonnet#L108

[2022-02-24 19:47] dmilind commented on #5177
@fktkrt  Ohk
Please find values below
prometheus_remote_storage_highest_timestamp_in_seconds: 1645731690
prometheus_remote_storage_queue_highest_sent_timestamp_seconds: 1645731753

rate(prometheus_remote_storage_queue_highest_sent_timestamp_seconds[5m]): 0.9655172413793105
<img width="2047" alt="Screenshot at Feb 24 11-46-19" src="https://user-images.githubusercontent.com/18506584/155596390-10e6ec

[2022-02-24 19:53] dmilind commented on #5177
rate(prometheus_remote_storage_samples_total[5m]): 36419.60344827586
rate(prometheus_remote_storage_samples_dropped_total[5m]): 0
prometheus_remote_storage_shards: 4
prometheus_remote_storage_shards_max: 500
prometheus_remote_storage_shards_min: 4
prometheus_remote_storage_shards_desired: 1.82
prometheus_remote_storage_shard_capacity: 900000
prometheus_remote_storage_samples_pending: 111980
promet

[2022-02-24 20:16] tend2infinity commented on #5026
I've implemented it in a separate way, you guys can review :sweat_smile:

[2022-02-25 08:35] fktkrt commented on #5177
You have many retries and failures (and pending samples), but it should not cause an issue like this. I'd imagine more different values if this would be the root cause. I have different characteristics when comparing a high traffic source to data from Receive/Query, may I ask for a screenshot of your source Prometheus' Overview dashboard to see your scale? Also, how many source Prometheis are we t

[2022-02-25 08:52] dmilind commented on #5177
I observed few things
1. When no function is applied on a query result is almost same compared to result from prometheus.
2. Sometimes number of results varying. for example. for ```http_server_requests_seconds_count``` this query prometheus give 18 results and querier gives 17 sometimes, sometime correct 18.
3. When function `increase()` is applied values are getting changed altogether.
If one en

[2022-02-25 09:09] Harshitavkb26 commented on #4683
sure (:

[2022-02-25 09:30] jessicalins opened #5186 "Rule: Alertmanager config creation does not error out when provided with an URL with an empty scheme"
**Thanos version used**: 0.24.0

**Object Storage Provider**: S3

**What happened**:
When configuring [alertmanagers.url](https://github.com/thanos-io/thanos/blob/main/cmd/thanos/config.go#L207) to for example:
[code]
The Alertmanager configuration still gets created and Thanos Rule errors out with:

[code]
The error is returned only when Thanos tries to [post](https://github.com/thanos-io/thanos/

[2022-02-25 15:36] matej-g commented on #5176
I _personally_ could live with your two first points; having stack trace functionality is nice. Option B would make most sense, at least for the time being, to me.

[2022-02-28 09:48] Reamer opened #5189 "query: ExemplarQueryResult error"
**Thanos, Prometheus and Golang version used**:

Thanos: quay.io/thanos/thanos:v0.24.0 - go1.16.12
Prometheus: 2.29.2 - go1.16.6
Grafana: grafana/grafana:8.4.2

**What happened**:
I see the following error in the Grafana log
[code]

**What you expected to happen**:

No erros

**How to reproduce it (as minimally and precisely as possible)**:

It just happens when I open a Grafana dashboard.

**Full

[2022-02-28 09:50] Harshitavkb26 commented on #5022
hi @richardgreg are you working on this issue?

[2022-02-28 10:03] Harshitavkb26 commented on #5186
Hi, @matej-g. I am interested in working on this issue.

[2022-02-28 10:23] GiedriusS commented on #5189
Thank you for the detailed report! It should probably be enough to create an empty slice here if it is nil:
https://github.com/thanos-io/thanos/blob/main/pkg/exemplars/exemplars.go#L92

Help wanted!

[2022-02-28 10:24] GiedriusS commented on #5189
Or maybe this https://github.com/thanos-io/thanos/blob/main/pkg/exemplars/exemplars.go#L92 would be an even better place

[2022-02-28 10:31] Reamer commented on #5189
I found https://github.com/grafana/grafana/pull/42749 which seems to trigger this error.

I'm not a Go developer, unfortunately, so I can't help fix this.

[2022-02-28 10:31] matej-g commented on #5186
Hey @Harshitavkb26 go for it :rocket:

[2022-02-28 13:58] wbh1 commented on #4955
I've not seen this behavior persist. My Prometheis are still on v2.32.0 but Thanos is working fine. This can be closed.

[2022-02-28 14:08] jleloup opened #5190 "Query: missing alerts in UI when working with sharded Prometheus"
Thanos Query UI only shows a subset of alert occurrences in `Alerts` when Thanos stores are sidecars in [sharded](https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/user-guides/shards-and-replicas.md) Prometheus instances.

**Thanos, Prometheus and Golang version used**:

* Thanos: 0.24.0
* Prometheus 2.33.1
* Prometheus Operator: 0.54.0

**Object Storage Provider**

[2022-02-28 17:04] FUSAKLA opened #5191 "tools: test rules"
Hi, I'm in need of unit testing Thanos rules and so far had no issues using a promtool since no one used the `partial_response_strategy` configuration option until now.

Looking at the Prometheus code, the only thing exported is the [`RulesUnitTest`](https://github.com/prometheus/prometheus/blob/e25a5992555527d26e53ea4d24e1b8bf16528c58/cmd/promtool/unittest.go#L42) function.
Since it uses file nam

[2022-03-01 06:26] richardgreg commented on #5022
Hey @Harshitavkb26, I'm unable to commit to the issue at the moment. Feel free to work on it.

[2022-03-01 06:47] Harshitavkb26 commented on #5022
ok I will fix this.

[2022-03-01 08:25] tnrms007 opened #5193 "thanos sidecar no upload"
hi all

Is it possible to run two thanos sidecars on prometheus server and stack them on two object storage?? I've tried running it with different port numbers, but only one is being uploaded.

[2022-03-01 10:52] matej-g commented on #5193
Hey @tnrms007, could you maybe explain what are you trying to achieve with running two sidecars?

[2022-03-01 11:33] matej-g commented on #5191
If can get upstream folks to export those methods, I think that would be the cleanest way to go. It also looks like this would be analogous with what we already do for [`tools rules-check`](https://github.com/thanos-io/thanos/blob/main/docs/components/tools.md#rules-check).

[2022-03-01 11:51] tnrms007 commented on #5193
hi @metaj-g,
I want to store data from Prometheus server in different cloud object storage.
ex) aws s3 , ibm object storage

[2022-03-01 11:52] tnrms007 commented on #5193
hi @matej-g,
I want to store data from Prometheus server in different cloud object storage.
ex) aws s3 , ibm object storage

[2022-03-01 11:58] FUSAKLA commented on #5191
Yeah, I implemented that back then and hoped that the code will be exported for unit testing as well now, but unfortunately It's not.
I know exporting methods on demand in Prometheus was never an easy task, but sure that would be the cleanest way to do.

[2022-03-01 12:31] matej-g commented on #5022
Hey @Harshitavkb26, please have a look at this comment - https://github.com/thanos-io/thanos/pull/4908#discussion_r771194974 - this is the initial suggestion, feel free to take whatever approach seems sensible :slightly_smiling_face:

[2022-03-01 13:31] matej-g commented on #5193
I'm not sure if having two sidecars is a common way to achieve this, but have you had a look at Thanos tools `bucket` utility, which has the command to [replicate](https://thanos.io/tip/components/tools.md/#bucket-replicate) data to another object store? Would that help with you use case?

[2022-03-01 13:49] tnrms007 commented on #5193
@matej-g,
I want to send prometheus realtime data (2h-blockfile) to two different object storages. This is a different function from bucket replica.

[2022-03-01 20:48] krishicks commented on #5101
👋 I'd love to see IMDSv2 support added to Thanos. I cloned the upstream and found it merged cleanly into the [fork](https://github.com/bwplotka/minio-go/tree/optimize).

Is it possible to bump the fork as a quick way to get IMDSv2 support?

[2022-03-02 00:34] dmilind commented on #5177
@fktkrt
could suggest here please ?

[2022-03-02 07:29] Nctllnty opened #5201 "Some doubts about thanos downsampling"
I saw in the documentation that the compact component itself has the ability to downsample, but the compact I created did not perform downsampling as expected.Metric compression works fine.
[code]

Currently I use tools bucket downsample alone for downsampling work, but I don't know if my approach is reasonable, hope to get some advice.

[code]

[2022-03-02 08:49] GiedriusS commented on #4780
Yeah, this is still needed. If no one will pick this up soon then I might try implementing something.

[2022-03-02 10:25] #5189 closed

[2022-03-02 12:21] bwplotka opened #5203 "Prometheus Alert-Generator Compliance testing for Thanos"
As per [Prometheus dev mailing list](https://groups.google.com/g/prometheus-developers/c/yELVAjpFclU/m/utaAPWAXBAAJ) we need to add Thanos config template test suite so Thanos is automatically tested for compatibility over Prometheus APIs.

Thanks @codesome for ping!

Help wanted - deadline for at lease test result - KubeCon

[2022-03-02 14:47] wiardvanrij commented on #5203
Added priority as I feel this is important to do in the short-term.

[2022-03-02 16:29] matej-g commented on #4862
Still needed 😢

[2022-03-02 16:57] matej-g commented on #3538
There's an umbrella issue / proposal under https://github.com/thanos-io/thanos/issues/4841, I believe we can close this.

[2022-03-02 16:57] #3538 closed

[2022-03-02 17:40] jphx commented on #4940
I believe this to be a legitimate issue.

[2022-03-02 19:26] #4367 closed

[2022-03-02 19:26] #4632 closed

[2022-03-02 19:26] #4631 closed

[2022-03-02 19:26] #4483 closed

[2022-03-02 19:26] #4317 closed

[2022-03-02 19:26] #4615 closed

[2022-03-02 19:26] #4596 closed

[2022-03-02 19:26] #4700 closed

[2022-03-02 19:26] #4651 closed

[2022-03-02 19:26] #4698 closed

[2022-03-02 19:26] #4711 closed

[2022-03-02 19:27] #4705 closed

[2022-03-02 19:27] #4478 closed

[2022-03-02 19:27] #4675 closed

[2022-03-02 19:27] #4728 closed

[2022-03-02 19:27] #4734 closed

[2022-03-02 19:27] #4737 closed

[2022-03-02 19:27] #4745 closed

[2022-03-02 19:27] #4748 closed

[2022-03-02 19:27] #2348 closed

[2022-03-02 19:27] #4784 closed

[2022-03-02 19:27] #4788 closed

[2022-03-02 19:27] #4803 closed

[2022-03-02 19:27] #3541 closed

[2022-03-02 22:26] #4767 closed

[2022-03-02 22:26] #3442 closed

[2022-03-02 22:26] #4500 closed

[2022-03-02 22:26] #4722 closed

[2022-03-02 22:26] #4833 closed

[2022-03-02 22:26] #4489 closed

[2022-03-02 22:26] #4844 closed

[2022-03-03 03:14] Nctllnty commented on #5201
need help

[2022-03-03 07:49] omron93 commented on #4386
This is still needed and would be great to have it fixed :-)

[2022-03-03 08:31] matej-g commented on #4489
FYI this is duplicated by https://github.com/thanos-io/thanos/issues/4810

[2022-03-03 08:44] matej-g commented on #4478
This has been addressed in https://github.com/thanos-io/thanos/pull/4908 as well

[2022-03-03 08:48] matej-g commented on #977
Looks like this is still unresolved

[2022-03-03 13:43] wiardvanrij commented on #4606
@tend2infinity

[2022-03-03 13:49] tend2infinity commented on #4606
Hey, I'll be working on it!

[2022-03-04 02:18] Janesee3 opened #5211 "Compactor/Store: Thanos Store memory consumption keeps increasing, might be due to block compaction / deletion not behaving as expected"
**Thanos, Prometheus and Golang version used**:
[code]

**Object Storage Provider**: AWS S3

**What happened**:
I've been running the Thanos setup for around 1.5years now across multiple environments. Each environment has its own set of Prometheus, Thanos stack and S3, but the setup is identical. Recently, it has come to my attention that the **memory usage of Thanos Store in some environments has

[2022-03-05 20:24] yeya24 commented on #5201
The compactor will do the downsampling work. But only after planned compactions are finished first.
Downsampling will happen only after some time (40h for 5m downsampled blocks and 10 day for 1h downsampled blocks). If you don't see any downsampled blocks maybe you need to wait more time.

Another reason for this is maybe your compactor is still working on compactions part. Please take a look at h

[2022-03-05 20:32] yeya24 commented on #5193
Actually bucket replicate is also real-time in this case. Blocks are just uploaded once every 2 hours while bucket replicate will run every 5m (or other configurable time) which is sufficient in this case.

Again to answer this question, I guess this doesn't work out of box. Because two sidecars will use the same shipper.json file. That file is basically tracking which block has been uploaded to t

[2022-03-05 20:34] yeya24 commented on #5190
I am not familiar with the sharding feature but I remembered that sharding is only sharding scrape targets, right? For alerts two Prometheus are evaluating the same rules so the alerts should be the same?

[2022-03-05 20:38] yeya24 commented on #5154
This log didn't bring any harm. It just means that the time range you queried is not within the store's time range. So the query will try to fetch data from your sidecar because the data there is newer. This is a very common case when you fetch the latest data.

[2022-03-05 20:38] #5154 closed

[2022-03-05 20:41] yeya24 commented on #5058
https://thanos.io/tip/operating/compactor-backlog.md/ Please take a look at this guide about how to troubleshoot this kind of issue. Will close for now and feel free to reopen it if this doesn't work for you

[2022-03-05 20:41] #5058 closed

[2022-03-05 20:44] yeya24 commented on #5074
Yeah, looks like this command is for one pass run.
`Continuously downsamples blocks in an object store bucket.` That's the command description so I think we should fix it and make it long running.

[2022-03-05 22:46] Lord-Y commented on #5154
@yeya24 Sorry but why didn't closed the issue? I'm still don't know what's causing the "failing to handle requests" and how to solve it. Do you have any ideas?

[2022-03-05 23:17] yeya24 commented on #5154
It is the expected behavior and you don't have to solve it. It is how thanos works

[2022-03-06 09:13] hanjm commented on #5211
1. So many `resolution: 0` blocks, Seems Thanos compact does not work as expected.  Could you inspect `thanos_compact_halted{}` metrics and reply to the issue? if the Thanos compactor stop working this metric will be set to 1.
2. Could you help dump a heap profile of Thanos-Store and reply to the issue? (`go tool pprof thanos-store-ip: 10902/debug/pprof/heap`)
   My initial analysis is Thanos-Stor

[2022-03-07 02:17] Janesee3 commented on #5211
Thanks for the reply @hanjm

Here is what I found based on your suggestions:

1. Looks like the Thanos Compactor has indeed halted on both of my environments. To be exact, for **env A it has halted since 1st May 2021**, and for **env B it halted since 20th Sept 2021**.
* Unfortunately, my system's log storage deletes logs older than 3 months so I wouldn't be able to tell what happened.
* I have ye

[2022-03-07 03:28] yeya24 commented on #5203
I am interested in helping implement the test. Right now I can think about two setups:
1. Thanos Query - Prometheus - Thanos Ruler - Alertmanager. In this case Prometheus will enable remote write and accept the generated test data. Thanos Ruler will run in the TSDB mode.
2. Thanos Query - Thanos Receiver - Thanos Stateless Ruler - Alertmanager. In this case Thanos Receiver will be used to accept t

[2022-03-07 10:22] ahurtaud opened #5219 "Stateless Rule: Rollout - Alert For State is lost across restart - Blinking alerts"
**Thanos, Prometheus and Golang version used**:
thanos v0.25

**What happened**:

I implemented the stateless mode for the rule component.
When my rulers (k8s deployments) rollouts, every alerts already firing before the rollouts with a long `for` clause (lets say 30minutes) will be in Pending for that amount of time and firing again after 30minutes.

And because of our alertmanager config, alerts

[2022-03-07 11:13] hanjm commented on #5211
@Janesee3  For the first point, Just reboot the Thanos-Compactor, It will restart the compact progress and may reproduce the issue, then we could catch the error log.

[2022-03-07 16:45] markmsmith commented on #4298
As far as I know, this is still needed.

[2022-03-07 17:53] yeya24 commented on #5219
If I understand correctly, in Prometheus, the state persistence across restart is by checking `ALERTS_FOR_STATE` time series. As mentioned by https://ganeshvernekar.com/blog/google-summer-of-code-2018-with-prometheus#1-persist-for-state-of-alerts-1.

I need to double check if this mode supports this by using the upstream rule manager. And we need more E2E tests to verify this.

[2022-03-08 02:23] yeya24 commented on #5219
Yeah, I can confirm this is a bug. Working on the fix and tests now.

[2022-03-08 07:48] GiedriusS commented on #5190
This is by design. It deduplicates the results automatically according to the labels you have specified. If there is a firing and a not firing alert then it shows you the firing one. Perhaps we could add a checkbox for "Deduplication enabled" or something like that to this page but I'm not sure about the value of such a feature because from Alertmanager's perspective if the alert is firing from at

[2022-03-08 07:49] #5074 closed

[2022-03-08 08:57] ahurtaud commented on #5219
Yeah I know this will not be an as "easy as it looks" hence creating directly a github issue.
I think it is fair to agree that ALERT_FOR_STATE must be queryable through the same query endpoint.
(meaning stateless ruler MUST remote_write to thanos receive (or other) and register it in the query path of that ruler.)

From what I read from Ganesh, When ruler restarts, it queries ALERT_FOR_STATE for e

[2022-03-08 08:59] jleloup commented on #5190
prometheus-operator sharding does indeed spread targets across a set of prometheus instances by using relabelling with a hasmod & keeping only results that happens to match the shard number (as dictated by the operator).

While two shards replicas happens to process the same targets, thus should evaluate the same alerts as a result: this does not apply to other shards.

Basically I am looking for

[2022-03-08 09:18] jleloup commented on #5190
A `Deduplication Enabled` checkbox in the Rule UI would not solve my issue as I still want deduplication to remove duplicated results coming from replicas while letting results from different shards to make it through.

I understand that this is not a Thanos issue per se and that the Thanos Query flag `--query.replica-label` is precisely meant for this purpose.
I haven't found a suitable label yet

[2022-03-08 09:18] #5190 closed

[2022-03-08 10:44] Janesee3 commented on #5211
Thanks @hanjm, I'm trying this out in my environments now and Compactor is beginning to slowly clear the backlogs of blocks to compact. It looks like it will take a few days for it to catch up (attached screenshot of blocks compaction below for Environment A).

![image](https://user-images.githubusercontent.com/13880404/157223180-bac685cd-71f6-4d51-9315-035faac9ff79.png)

Thanks for your help, I w

[2022-03-08 12:13] aamarques opened #5222 "Make build command creates a image that cannot connect to GCS"
### Discussed in https://github.com/thanos-io/thanos/discussions/5212

<div type='discussions-op-text'>

<sup>Originally posted by **aamarques** March  4, 2022</sup>
Hi,
I'm trying to create a Thanos image (as company policy, we need to compile from the source).
Basically, I'm have a docker-compose.yml and a Dockerfile using golang to run `make build`.
Until here, everything works on build.
But wh

[2022-03-08 17:23] yeya24 commented on #5219
Yeah, i think that's correct. Right now we just need to implement the Querier interface for Thanos Querier so that we can fetch that time series from it.

[2022-03-08 21:28] uvaisibrahim commented on #1979
Is there any update on this?

I am also getting the below error while trying to get the historical data.

[code]
I have two queries,

1. Where the bucket cache config helps? Does it helps to get the historical data(which is not available in prometheus-thanos sidecar pod) quickly on querying? or Does it helps to load the indexes into memory while starting the thanos store pods?
2. How to figure out

[2022-03-09 13:48] Zophar78 opened #5223 "TLS certificate/key file are not validated"
**Thanos, Prometheus and Golang version used**:
thanos, version 0.23.2 (branch: HEAD, revision: fb97c9a5ef51849ccb7960abbeb9581ad7f511b9)
  build user:       root@18055e4b6448
  build date:       20211222-11:40:52
  go version:       go1.16.12
  platform:         linux/amd64

**Object Storage Provider**:
N/A

**What happened**:
The certification file/key provided (--grpc-server-tls-cert and --grpc

[2022-03-09 14:46] micah opened #5225 "Improve failure mode when requested window is smaller than retention"
I was using thanos to check our LTS prometheus data for a query. I was puzzled because it was not producing results over a couple days, when the LTS data holds months of data. I used thanos' "Enable Store Filtering" option, and then selected only my LTS instance and it didn't show any data, just "Empty query result". I didn't know what was wrong, so I started digging.

I found in my logs a couple

[2022-03-09 18:59] bwplotka commented on #5133
Hey, just trying to understand the main problem we are discussing here.

Do we have any data on this? Because for stateless rulers there is not much baseline overhead for this situation. I would even say, the more problematic thing is the extreme situation where one tenant has too many rules and alerts for one ruler.

Do you mean sending things to Receive that uses `multitsdb` or literally using `

[2022-03-09 22:41] danielmotaleite opened #5227 "compact: panic: assignment to entry in nil map"
**Thanos, Prometheus and Golang version used**:
Plain  quay.io/thanos/thanos:v0.25.0 image usage

**Object Storage Provider**:
s3

**What happened**:
thanos compact panic when after "block has no labels left, creating one"

**What you expected to happen**:
Pick up the block and fix any problem

**How to reproduce it (as minimally and precisely as possible)**:
Can only reproduce in my setup

**Full

[2022-03-09 23:03] danielmotaleite commented on #5227
actually i'm not so sure now that i was using 0.25.0, i requested a update from 0.21.1 to 0.25.0, but as it is now working, maybe i checked the logs from a pod still in v0.21.1
right now, in a confirmed v0.25.0 pod, it is not giving the error anymore

[2022-03-10 12:08] AndrewNiven1 opened #5228 "`bucket verify` ignoring deletion-mark"
**Thanos, Prometheus and Golang version used**:

Thanos v0.25.0

**Object Storage Provider**:

Azure

**What happened**:

When running `thanos tools bucket verify...` against an object storage that is actively compacted, it returns a large number of "warning" logs containing  information on overlapped blocks. On closer inspection, these overlaps are between blocks of different levels of compaction

[2022-03-11 02:36] yeya24 commented on #5227
Cool. So looks like this is an old bug. Can we close it now?

[2022-03-11 15:36] danielmotaleite commented on #5227
yes, closing, compact have been running since without any new error, so it was something fixed between 0.21.1 and 0.25.0
thanks for the help and thanos

[2022-03-11 15:36] #5227 closed

[2022-03-11 19:33] bisakhmondal commented on #5176
Hi @bwplotka & @matej-g, Can I work on this?

If you wish to go with this approach, I have a better option. Recently, I have worked with a package

stacktrace:-> https://source.chromium.org/chromiumos/chromiumos/codesearch/+/main:src/platform/tast/src/chromiumos/tast/errors/stack/stack.go

errors -> https://source.chromium.org/chromiumos/chromiumos/codesearch/+/main:src/platform/tast/src/chromiumo

[2022-03-11 20:20] bisakhmondal commented on #4741
I can make the changes. Just to be sure,
- I took a look at promu `findVersion` function which actually doesn't return the current version when I run into my CLI ( [ref](https://github.com/prometheus/promu/blob/b1a2edae78614c8b0ae9e2faa88d14098e96f6d2/pkg/repository/info.go#L149-L159) )
- same is true fir go-releaser

[code]

I am thinking about using `git describe --tags $(git rev-list --tags --m

[2022-03-12 03:30] phoenixking25 commented on #4772
Facing in 0.24 as well

[2022-03-13 00:50] yeya24 commented on #5219
Created https://github.com/prometheus/prometheus/pull/10443 on upstream prometheus to address one of the issue. After that one is merged then I can open the pr to fix this.

[2022-03-14 02:50] burntcarrot commented on #4972
+1 for @bisakhmondal's idea. Using `xxhash` seems like a good choice.

I personally don't know @bisakhmondal, but I believe they can be a suitable contributor for this idea.

[2022-03-14 12:52] anoop2503 opened #5232 "Unable to configure Azure storage with UserIdentity"
Thanos Version: v0.23.1

**Object Storage Provider**: AZURE

**What happened**:
I have deployed prometheus in Kubernetes and trying to configure object storage as Azure blob storage. To avoid using storage_account_key in the storage configuration, I am using aadpodidbinding in prometheus statefulset to use Azure blob storage. However, when I am running the prometheus, I am getting following error

[2022-03-14 16:35] matej-g commented on #5176
Hey @bisakhmondal, thanks for your interest! Do you have any opinion on which solution to go with?

Let's see if @bwplotka has any further opinion which route to take as well, would be cool if you'd take it! :rocket:

[2022-03-14 16:47] matej-g commented on #4741
Maybe I'm missing something here, why do we want to dump it into VERSION file?

[2022-03-14 19:48] #5228 closed

[2022-03-14 20:26] bisakhmondal commented on #4025
It's a good idea.

Just wondering, would having a namespace add any help? Users can always define scrape job config with job name `thanos`.  and all the thanos specific metrics can be visualized via something like `{job:"thanos"}`. The client_golang library is also planning to get rid of this namespacing and subsystems in later versions. https://github.com/prometheus/client_golang/issues/240#issue

[2022-03-15 08:06] AndrewNiven1 commented on #5228
Thanks for the quick fix!

[2022-03-15 11:25] Janesee3 commented on #5211
**Update:** After resuming compaction for about a week, Thanos Store memory usage in most of my environments has dropped drastically. For example, Environment A Thanos Store memory usage dropped from 12Gb -> 2Gb!

However, one of my environment is experiencing an issue where **Thanos Compact keeps running out of disk space** while compacting despite me increasing it from 100Gi -> 300Gi. I'm using

[2022-03-15 14:14] codesome commented on #5203
I believe those are 2 modes in which Thanos can run. Are there any fundamental difference in those 2 modes? If there is a difference, then it makes sense to test both, saying Thanos is compliant in both modes. If there is not much difference, then you could choose the one which is easiest to setup and test.

(PS: "Alertmanager" here will be the test suite if that was not obvious)

[2022-03-16 02:11] yeya24 opened #5235 "Shipper: select series from blocks to upload"
### Is your proposal related to a problem?

context: https://cloud-native.slack.com/archives/CK5RSSC10/p1647331478693149

The main request is to select only required serieses and upload them to the object storage. This enables dropping high cardinality series earlier before they are persistent to the object storage, avoiding running bucket rewrite tool later, which saves more operational cost.

##

[2022-03-16 08:05] bwplotka commented on #4972
Sounds promising (: Make to apply through GSoC website.

[2022-03-16 08:23] bwplotka commented on #2028
That is actually something we could try to add to our changelog. We already try to git merge (not squash) commits from release branches. 🤔

Thanks for proposing.

[2022-03-16 08:24] bwplotka commented on #4741
Thanks for checking this! I think you all you said makes sense, so it's a matter of either:

A) Sticking to https://github.com/thanos-io/thanos/issues/2028 when doing releases. This will make `promu` to work as intended IMO. The reason why it does not work now is that we never merge tags back to main (we merge release changes but not tag). See https://github.com/thanos-io/thanos/issues/2028
B) Con

[2022-03-16 10:46] AndrewNiven1 opened #5237 "Improve Compactor resiliency to problematic data"
### Is your proposal related to a problem?

There are various things that can cause Thanos Compactor to halt or otherwise fail. This is often related to a problem in a single block, which can cause Compactor to then cease work on an entire blob storage. In large deployments, a blob storage without an active Compactor can become too large to work with very quickly, making metrics queries sluggish o

[2022-03-16 11:11] matej-g opened #5238 "Query: `/api/v1/stores` confusingly returns endpoints not exposing store API"
**Thanos, Prometheus and Golang version used**:\
Thanos v0.25.0

**What happened**:
We recently switched to using stateless ruler. Upon visiting the `Store` page on UI, I still see the rulers, despite the fact that they do not expose store APIs and there are no store information available. See:
![Screenshot from 2022-03-16 11-51-23](https://user-images.githubusercontent.com/38492574/158574703-968d

[2022-03-16 13:40] matej-g commented on #5176
Awesome! I'd say if you found a good replacement, the code is not too complex and you have a good idea of how we can leverage it in Thanos repository, go for it :rocket:

[2022-03-16 15:47] halcyondude commented on #4606
There's an opportunity to collaborate with a workstream launched out of https://github.com/cncf/tag-observability [WG: observe-k8s](https://github.com/cncf/tag-observability/projects/2)

https://github.com/observe-k8s/hub/blob/main/charter.md#vision

How/where can I learn more about this effort?

Thanks!
Matt

[2022-03-16 16:43] fktkrt commented on #4606
Are the infra and tooling decided yet? There are mentions of Ansible, but IIRC observe-k8s is aiming to use tools that fit k8s use cases better.

[2022-03-16 19:52] wiardvanrij commented on #4606
Hi, we've got this LFX project and @GiedriusS and me are mentors for @tend2infinity who is mainly working on this.

So, there are a few high level things that we have as information. Is there anything specific? If you want we can organize a small meeting to align things.

[2022-03-16 19:54] wiardvanrij commented on #4606
Yes and no. The Ansible stuff and everything was based on what resources we had available. However, I felt the same and reached out to Civo. We are now getting sponsored for a kubernetes cluster :)

[2022-03-17 00:49] yeya24 commented on #5203
Thanks @codesome. I see what you meant. If it is for alerts generating stuff then there is no difference I think.

[2022-03-17 10:58] jobinjosem1 opened #5241 "Compact: Downsampling broken after changing prometheus labels"
**Object Storage Provider**: Azure

**What happened**: Downsampling and compaction were working perfectly but we had to change the external labels because we added one more aks cluster. We added one more label indicating the cluster name.

**What you expected to happen**:
What we noticed is that the downsampling is broken in between. It started compaction and downsampling after a few days but the

[2022-03-18 03:59] yeya24 commented on #5238
I am trying to understand this problem better. Did you configure the stateless ruler endpoints on Thanos Querier? If you didn't configure it then they shouldn't appear on the UI.

[2022-03-18 04:55] saswatamcode commented on #5238
@yeya24, we configure stateless Ruler as a store in Querier, the reason being that we want to utilize the Querier `/api/v1/rules` endpoint and see the rules in Querier UI too. If we don't configure it as a store we cannot get any info from the `api/v1/rules` endpoint.

But it also shows up as a store, even though it doesn't expose any StoreAPI, which is misleading. So they should be filtered out i

[2022-03-18 07:02] yeya24 commented on #5238
Makes sense to me. Yeah the filtering logic should be improved.
Btw the info rpc contains the store API field to tell whether store API is exposed from this component. For statelessruler this shouldn't be set.

[2022-03-18 08:07] matej-g commented on #5238
As far as I understand, the issue is that now `--store` flag ≃ `--endpoint` flag. The store method in API indiscriminately returns all endpoints, even if they do not expose store API. I think stateless ruler already does _not_ expose store API, but currently that is causing the stores endpoint excluding it. Same would be with any other non-store component passed to `--store` / `--endpoint` paramet

[2022-03-18 16:26] tim-beatson commented on #697
This issue should not be stale, I would very much still like the ability to use S3 prefixes

[2022-03-18 17:44] danielmotaleite commented on #1507
@sagiv-zafrani  maybe it is better to open a new issue for your user case, with a link to this one... this one is closed, so that will limit who may see your question

[2022-03-21 09:14] matej-g commented on #4866
Fixed by https://github.com/thanos-io/thanos/pull/5246, let's finally close this :closed_book:

[2022-03-21 15:43] phillebaba commented on #5232
Have a try with the latest version of Thanos. There have been changes to expand support for Azure authentication.
https://github.com/thanos-io/thanos/pull/4636

[2022-03-21 15:47] phillebaba commented on #5172
I have been looking at refactoring the Azure implementation while updating the SDK dependencies, in the hopes to make it a bit easier to read. Will make sure to add this while I am at it unless someone creates a PR before me.

[2022-03-22 01:39] Janesee3 commented on #5211
In my production environment, I'm seeing a different kind of compaction error. It looks like some of the blocks within a compaction group are corrupted.

![Screenshot 2022-03-18 at 10 05 14 AM](https://user-images.githubusercontent.com/13880404/159390156-90e9ea75-7633-4ca0-a9be-a8253e1b7d77.png)

After investigating each of the block on S3 in the error message, I noticed some of them are missing t

[2022-03-22 15:05] solrac97gr commented on #5024
Is this Issue finished? I see the merge in the PR, maybe is better close the Issue

[2022-03-22 15:23] matej-g commented on #5024
You're right @solrac97gr!  https://github.com/thanos-io/thanos/pull/5151 resolved it, let's close this, thanks!

[2022-03-22 15:23] #5024 closed

[2022-03-23 00:03] vanugrah commented on #4831
Hey folks - just chiming in here. I am a colleague of @jmichalek132 and can confirm that we are see this behavior happening in our environment even after the move to running thanos receive in router and ingestor mode. The frequency is very irregular and the behavior seems to only affect a prometheus instances in a particular environment while instances in other environments writing to the same end

[2022-03-23 12:36] pathikritmodak commented on #3677
Facing the same issue on v0.24.0, it's weird that one of the prometheus replica is facing this issue and the other one is working fine.

[2022-03-23 19:21] ninjaslothx opened #5251 "Ability to collapse rule groups in UI"
### Is your proposal related to a problem?

When you have a large amount of rules/rule groups the UI becomes quite hard to navigate.

### Describe the solution you'd like

It would be good to have the rule groups collapsed in the UI by default with the option to expand them as needed.

### Additional context

Apologies in advanced as I'm not sure if this would be a Thanos issue or an upstream prom

[2022-03-28 05:31] yeya24 commented on #2144
This seems still an issue for us. Reopen now.

[2022-03-28 05:51] yeya24 commented on #3456
Still an issue for us. And I am trying to understand the flag `store.response-timeout` more.
It means the timeout of receiving one series from a store, not receiving all serieses from a store during a query lifecycle if I understand correctly?

[2022-03-29 04:13] vxe commented on #5101
Hi do we have an ETA for this?

[2022-03-29 08:45] bwplotka opened #5257 "querier: Unexpected high heap usage for Targets API"
At one customer's setup, we found pretty high heap usage of the structure I would not expect (errors of target API?). 7GB allocated by what looks like bookkeeping target warnings looks suspicious.

See heap profile (https://share.polarsignals.com/6b0ae0c/) -  make sure to use the `inuse_alloc` option to see the full picture at the used bytes on the heap in the moment of profile snapshot.

Internal

[2022-03-30 13:25] matej-g commented on #3832
I believe this is still unresolved

[2022-03-30 13:37] kakkoyun commented on #3832
After recent developments concerning Cortex licensing, I think has now more importance on the long run.

[2022-03-30 17:03] bennyboom38 opened #5259 "store - runtime: program exceeds 10000-thread limit"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.23.1 (branch: HEAD, revision: 5327cd8b9bd56ce4912fe602197ad04ab2722b18)
  build user:       root@0acc901868e9
  build date:       20211005-12:08:29
  go version:       go1.16.8
  platform:         linux/amd64

**Object Storage Provider**:

type: FILESYSTEM (NFS mounting point)
config:
    directory: "/mnt/thanos_tsdb"

**What happe

[2022-03-30 21:31] bwplotka commented on #5257
Initially `inuse` looks either like some leak in target warnings errors, or literally, all requests have a large number of errors:

![image](https://user-images.githubusercontent.com/6950331/160931263-a10e674d-278a-4452-9649-6a0bd95b888f.png)

This is quite insane, we see that somehow our code did `errors.New` [here](https://github.com/thanos-io/thanos/blob/0e714dc98eadfe4e8c2cda1fa0e95669f9d5c4d0

[2022-03-30 21:33] bwplotka commented on #5257
2 is impossible - we never send warning in current code of sidecar: https://github.com/thanos-io/thanos/blob/de0e3848ff6085acf89a5f77e053c555a2cce550/pkg/targets/prometheus.go#L35

[2022-03-30 21:56] bwplotka commented on #5257
Looking on the goroutines list we got from customer I see:

2 goroutines running `func (s *Proxy) Targets(`  (two waiting on `for resp := range respChan {` one
2 waiting on Targets errgroup
2 in `(*targetsStream).receive(` (one receiving msg from client `target, err := targets.Recv()`, second wrapping error it got from Recv...

All acceptable other than receiving error message from one target - bu

[2022-03-30 23:14] bwplotka commented on #5257
Can't repro easily (added tests https://github.com/thanos-io/thanos/pull/5260), so to me:

A) It was a past version bug (are we sure it's still reproducible?)
B) Somehow we discover 16 millions fake targets? (Can't see bug in code, but might be configuration error)
C) Some other Thanos implementation of TargetAPI is used than sidecar?

[2022-03-31 00:12] hanjm commented on #5257
I notice it use `Thanos-Query: 0.22.0`, i think https://github.com/thanos-io/thanos/issues/4676#issuecomment-922413448 is relevant, it has fixed by https://github.com/thanos-io/thanos/pull/4681.

[2022-03-31 08:01] #5257 closed

[2022-03-31 08:12] enifeilio commented on #3913
it also makes me panic  as you say

[2022-03-31 08:19] bwplotka commented on #4780
Taking a fresh look (I might use this case in my `Efficient Go` book) -  let's see how far I will get, there might be opportunity to work together on this.

First - we need solid e2e benchmark for this

[2022-03-31 08:22] GiedriusS commented on #4780
:+1: That would be great, we would be able to compare then. I'm working on implementing a tournament tree in Go. We could use a min-heap but it's not as efficient. Couldn't any implementation of a loser tree in Go :s

[2022-03-31 10:13] bwplotka commented on #4780
So essentially k-tree merge solution?

[2022-04-01 03:51] #5211 closed

[2022-04-01 07:58] Sakthivel-Eka opened #5263 "Thanos Query Config Bearer for Oauth API not working"
Hi,
I'm using Thanos Ruler and trying to add a an API based query url to its configuration.
Referring from the Thanos Official docs of building Thanos Ruler (https://thanos.io/tip/components/rule.md/#query-api), we configured the oauth based token access via a Configmap in the below format.

    - http_config:
        bearer_token: "<oauth-token>"
      static_configs: ["<query API>"]
      scheme

[2022-04-02 06:03] Rahul7171 commented on #4972
Hi all. I am Excel, and I im interested in contributing to this project for GSoC '22. I have joined the community, and have been looking into Thanos too. I am thinking of attending the event that was posted on the community to get up to speed with Thanos  general.

Is this alright? And are there any prerequisites I need to complete to increase my chances, or to write a good proposal? Thank you!

[2022-04-04 11:49] nicolastakashi opened #5265 "Thanos Store - GroupCache error on deletion-mark.json"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**: Azure

**What happened**:
When I'm using the Thanos Store Group Cache feature, I'm facing a bunch of errors on logs.
[code]

**What you expected to happen**:
Don't see these errors on the logs.

**How to reproduce it (as minimally and precisely as possible)**:
Just enablg Group Cache Feature

**Full logs to relevant comp

[2022-04-05 08:48] mortaelth commented on #4298
Confirming, still needed, just ran into the issue :)

[2022-04-05 13:52] ashleyprimo commented on #1579
Hi :wave: - has anyone found a fix for this?

[2022-04-05 13:53] fpetkovski commented on #703
@GiedriusS do you think it makes sense to allow configure this (or a similar limit) in the [lazySeriesSet](https://github.com/thanos-io/thanos/blob/de0e3848ff6085acf89a5f77e053c555a2cce550/pkg/query/iter.go#L306)?

[2022-04-06 01:52] Kampe commented on #3913
I too clench up with these errors.

[2022-04-06 06:09] zhangrj commented on #3913
The same in v0.25, any one can help?

[2022-04-06 08:35] GiedriusS commented on #703
I think it's a bit too late there. I think the limit should apply before Recv() https://github.com/thanos-io/thanos/blob/main/pkg/store/proxy.go#L506

[2022-04-07 05:27] Kampe commented on #4831
here you'll see it happen over the last day, keep in mind these prometheus are configured to only retain an hour of data
![Screen Shot 2022-04-07 at 12 25 30 AM](https://user-images.githubusercontent.com/624150/162126585-12986fa4-26f0-402f-80a6-cdc0d088cbde.png)
:

[2022-04-07 07:18] MartinDai opened #5268 "Compactor downsampling blocks used disk size more than origin data blocks"
docker image: thanosio/thanos:main-2021-10-22-18049504

**Object Storage Provider**:
MinIO

**What happened**:
Compactor downsampling blocks used disk size more than origin data blocks

**What you expected to happen**:
Compactor downsampling blocks used disk size should less than origin data blocks

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant componen

[2022-04-07 08:56] bwplotka opened #5270 "idea: Enable changing some flags in runtime"
### Motivation

e.g typical problem is with debug/warn/err level of logs. I don't want to restart stateful service just to see more logs.

## AC

* User can be able to visit some HTTP page and change certain flag value in runtime

Also - we could do same for some experimental flags (if we had those)

[2022-04-08 06:47] infa-mlagad opened #5272 "Thanos compactor failing to start with first pass of downsampling failed error"
**Thanos, Prometheus and Golang version used**:
Thanos image version - v.0.25.1

**Object Storage Provider**:
AWS

**What happened**:
Thanos compactor going in crashlooping state. Below error in the logs.
`level=warn ts=2022-04-08T06:41:18.018546402Z caller=intrumentation.go:67 msg="changing probe status" status=not-ready reason="error executing compaction: first pass of downsampling failed: downs

[2022-04-09 22:55] vjabrayilov commented on #3406
Hey, I would like to resolve this issue and enhance compaction/downsampling. I have written a proposal for GSoC. It would be kind of you if you review and give feedback. @bwplotka  @yeya24 @matej-g
https://drive.google.com/file/d/1oZd3ENSZ7v2hONNf4pDL3yXr_0eHcwsV/view?usp=sharing

[2022-04-10 12:57] tomereli commented on #1318
Any update on this? Is it at all planned to be added at some point of time?

[2022-04-11 10:05] GiedriusS commented on #5259
Could you please dump the list of goroutines when this happens via /debug/pprof endpoint? :eye:

[2022-04-11 10:06] GiedriusS commented on #5203
Does anyone want to do this? Not much time left ((:

[2022-04-11 15:01] Kanika637 commented on #5251
I would like to work on this, could you please help me start .

[2022-04-12 03:09] Aaron199 opened #5275 "ruler send alerts to all alertmanager"
**Thanos, Prometheus and Golang version used**:
thanos:v0.24.0
prometheus:v2.26.0

**Object Storage Provider**:
hawei OBS
**What happened**:
i use the config "--alertmanagers.url=dns+http://alertmanager-main.monitoring:9093",  "alertmanager-main" has 3 pods, but only one alertmanager has alerts, it doesn't like prometheus alerts in any alertmanagers
[code]
**What you expected to happen**:

**How t

[2022-04-12 14:11] thibautmery opened #5276 "Remote write historical blocks"
Hello,

I have a prometheus with ~ 6 months of history.

I want to use thanos receiver to be able to send specific metrics in a specific bucket (tuning compactor).

Is it possible to push old historical blocks in the receiver ? Remote write is real time, if new block create => write to receiver. Sidecar is able to push to S3 all history but he is not able to grep on specific metrics, he push entir

[2022-04-13 09:03] vjabrayilov commented on #3405
Hey, dear @yeya24 and @bwplotka. The proposal that I attached to  #3406, tries to solve this issue as well. https://drive.google.com/file/d/1oZd3ENSZ7v2hONNf4pDL3yXr_0eHcwsV/view?usp=sharing

Looking forward  your feedback.
Best.

[2022-04-13 12:08] bwplotka commented on #3405
Sweet, thanks, adding to my Todo list.

[2022-04-13 12:51] erhudy opened #5278 "Query: upstream query endpoint reclassified as sidecar unexpectedly"
**Thanos, Prometheus and Golang version used**: Thanos v0.25.0, Prometheus v2.34.0

**Object Storage Provider**: N/A

**What happened**: I have a hybrid Thanos setup that joins Thanos Query instances in AWS with on-prem Thanos Query instances. Our Grafana setup reads from on-premises Thanos Query, which in turn reads from a combination of on-prem sidecar instances and cloud query instances.

In th

[2022-04-13 13:48] arajkumar opened #5279 "Improve Thanos Querier documentation"
Here are the list of question which was actually asked in our internal forum, it would be great if these gets covered in the Querier documentation.

Q1. How does Thanos Query show the user the same metric values from the two Prometheus?

Q2. How does Thanos Query detect Prometheus anomalies when one of the Prometheus does not have the correct metrics?

Q3. Is Thanos Querier letting Prometheus do t

[2022-04-14 00:47] quchangl-github commented on #4820
@clyang82  I got the update, Azure storage account doesn't support client key access - https://docs.microsoft.com/en-us/answers/questions/807958/where-to-find-the-client-ca-and-key.html.
So I don't think Azure storage can be accessed by customized CA. I saw your update [here](https://github.com/thanos-io/thanos/issues/4820#issuecomment-997771023) , GCS is using an inline a Service Account, I think

[2022-04-14 19:11] sharathfeb12 commented on #3913
Seeing same issue on v0.25.2 as well.

[2022-04-15 00:40] wiardvanrij commented on #5278
Hi, thanks for the intro. It would be nice to have more information and perhaps like some examples / logs / screenshots when you get the chance

[2022-04-15 00:42] wiardvanrij commented on #5275
Could you fill in the other topics;

What you expected to happen:

How to reproduce it (as minimally and precisely as possible):

Full logs to relevant components:

Anything else we need to know:

? I'm not sure what you want to achieve at the moment. Thanks!

[2022-04-15 00:48] wiardvanrij commented on #5263
Please use and fill in the issue template with all relevant data.

[2022-04-15 01:02] wiardvanrij opened #5282 "Make it easier to pass documentation checks, especially for new users"
**What happened**:
A lot of PR's failing on something lame such as a whitespace. We also have multiple ways to format docs in our Makefile.

**What you expected to happen**:
That if ANY user makes a change, it should be VERY easy to contribute without having to figure special things out, install anything or get stuck in a PR

**How to reproduce it (as minimally and precisely as possible)**:
Make a

[2022-04-15 03:45] Kampe commented on #1849
I'd also like to see a resolution for this, losing 2 hrs of data on sidecar disposal is not ideal.

[2022-04-16 07:10] alvinlin123 commented on #3068
Where is the proposal for this feature?

[2022-04-17 06:54] #4760 closed

[2022-04-17 06:54] #4192 closed

[2022-04-17 06:54] #4747 closed

[2022-04-17 06:54] #4751 closed

[2022-04-17 06:54] #4855 closed

[2022-04-17 06:54] #4729 closed

[2022-04-17 06:55] #4798 closed

[2022-04-17 06:55] #4877 closed

[2022-04-17 06:55] #4899 closed

[2022-04-17 06:55] #4881 closed

[2022-04-17 06:55] #4912 closed

[2022-04-17 06:55] #4900 closed

[2022-04-17 06:55] #4907 closed

[2022-04-17 06:55] #4915 closed

[2022-04-17 06:55] #4916 closed

[2022-04-17 06:55] #4933 closed

[2022-04-17 06:55] #4640 closed

[2022-04-17 06:55] #2016 closed

[2022-04-17 06:55] #4971 closed

[2022-04-17 06:55] #4867 closed

[2022-04-17 06:55] #3570 closed

[2022-04-17 06:55] #4952 closed

[2022-04-17 06:55] #4930 closed

[2022-04-17 06:55] #4953 closed

[2022-04-17 06:55] #4994 closed

[2022-04-17 07:31] bill3tt commented on #4326
still valid

[2022-04-17 11:42] GiedriusS commented on #3397
We don't upload them anymore hence closing. https://github.com/thanos-io/thanos/pull/5110

[2022-04-17 11:42] #3397 closed

[2022-04-17 11:46] GiedriusS commented on #3004
Sidecars now report "not ready" when they lose connection with Prometheus or when it is booting up (your case) so I think this is solved when you use service discovery.

[2022-04-17 11:46] #3004 closed

[2022-04-17 18:34] arcivanov commented on #4385
This is still issue

[2022-04-17 19:10] #4980 closed

[2022-04-18 05:29] zecke commented on #4089
Not stale

[2022-04-18 06:20] infa-kparida commented on #5272
Could someone look into this.We are not able to make the compactor run.Even we see few other people are getting similar error https://cloud-native.slack.com/archives/CK5RSSC10/p1649679069949859.

This is happening when there are large amount of data compactor is trying to downsample.

[2022-04-18 12:23] markmsmith commented on #903
Still needed.

[2022-04-18 23:16] Kampe commented on #2114
Seems there's work being done upstream on prometheus for support here: https://github.com/grafana/mimir-prometheus/compare/out-of-order

[2022-04-19 07:54] #5003 closed

[2022-04-19 08:14] omron93 commented on #981
Still relevant

[2022-04-19 10:51] matej-g commented on #4664
This is actually in-progress, we just need a bit more :heart: to resolve races that have already been detected, see my comment in https://github.com/thanos-io/thanos/pull/5066#issuecomment-1056935086. These should be addressed before the race detection is merged, otherwise we'll (logically) end up with failing CI tests. Hopefully I'll (or someone else?) will be able to find the time to take a look

[2022-04-19 10:57] matej-g commented on #4732
Still relevant! I pinged @bwplotka to merge the upstream PR, after that nothing should be blocking us here :godmode:

[2022-04-19 10:59] matej-g commented on #2864
Still relevant (still not done due to lack of time :crying_cat_face:)

[2022-04-19 16:22] ldb commented on #1579
Hello,
we are having the same problem:

A federated Prometheus instance scrapes local Kubernetes pods and sets the external label `env=dev-k8s`.
However, it also scrapes metrics from EC2 instances which all contain the label `env=dev-ec2`.

When querying that instance directly, we can find the metrics using the label `env=dev-ec2`. However, when using the Thanos Query Frontend or Querier, all metr

[2022-04-20 12:22] genie88 commented on #5272
we also encounter same problem :)

[2022-04-21 09:21] Aaron199 commented on #5275
sorry about that , i already update comment

[2022-04-21 12:09] wiardvanrij commented on #5275
ty! :)

[2022-04-21 19:50] itayvallach commented on #5171
Still necessary for our use case (no object storage, data-dir only using PV/PVC).

[2022-04-22 01:50] hanjm commented on #5276
The `thanos tool bucket` will help to rewrite historic blocks. https://thanos.io/tip/components/tools.md/#bucket-rewrite

[2022-04-22 04:06] kapendra-sentieo opened #5292 "S3 storage Issue | config not initializing"
# OS Details

[code]
# comnand to initialize

[code]

# Used Configuration

[code]

# I am getting below error

[code]

[2022-04-22 07:24] matej-g commented on #5292
Hey @kapendra-sentieo, according to the error message - `Endpoint url cannot have fully qualified paths.`. Have you tried dropping the scheme from URL and providing it without `https://`?

Looking at the underlying dependency, that seem to be the expected input format, since the scheme is prepended based on the `insecure` option, see [here](https://github.com/minio/minio-go/blob/master/utils.go#L1

[2022-04-22 07:58] kapendra-sentieo commented on #5292
i tried

[code]

[2022-04-22 08:01] kapendra-sentieo commented on #5292
it worked for me, thanks man

[2022-04-22 08:20] matej-g commented on #5292
Awesome! Closing the issue then.

[2022-04-22 08:20] #5292 closed

[2022-04-22 08:27] matej-g commented on #5282
What special things exactly need to be figured out by contributors? Doing `make docs` should be all that's required to generate and format the documentation properly and pass the PR checks. I'm still more conscious about [failing link checks](https://github.com/thanos-io/thanos/issues/4732), at least anecdotally that seem to cause most doc check failures.

[2022-04-22 11:06] wiardvanrij commented on #5282
We have `make docs`, `check-docs`, `docs` and `format`.
You say `make docs` but that does not do `scripts/cleanup-white-noise.sh` and (I think) the pipeline does.

I also had a clean setup, in which I also was missing bin's when I ran some make commands for it. I think it was something with MDOX.

---

In general I don't see that many contributions in our docs and when I do see them, they are neve

[2022-04-22 11:47] matej-g commented on #5282
I agree we should it make as easy as possible for docs contributors as well, perhaps having clear instructions in `CONTRIBUTING.md` would help.

There are multiple commands, but IMHO all of them make sense and do different things:
- `make docs` generates, formats and cleans up white noise
- `make check-docs` generates, formats, cleans up white noise _and_ checks (since it can be annoying to wait o

[2022-04-22 13:59] GiedriusS commented on #4780
Yeah. Planning to open a PR next week, almost done. Decided to go with a heap based solution for now since that is easier to maintain and I doubt there would be much of an improvement with a selection/tournament tree because it needs auxiliary nodes.

[2022-04-22 16:18] bwplotka commented on #5238
There is --rule flag: https://github.com/thanos-io/thanos/blob/79e70da702228ac0282fc7639f9f160d922b6dcb/cmd/thanos/query.go#L114-L113

We have now incident which we are handling with @moadz that adding stateless ruler as store potentially causes problems

[2022-04-22 16:47] bwplotka commented on #5238
And yes not finished `endpoints` work is extremely confusing

[2022-04-22 19:14] wiardvanrij commented on #5282
But @matej-g , you forget it's easy for you and you are a smart engineer with many years of experience :)

I'm not planning to flip everything around, if it means we update the readme or whatever, that's a solution as well! I just wanted to place some dedicated time into this to improve it.

[2022-04-22 20:10] rodrigoscferraz commented on #2727
Still ongoing

[2022-04-23 20:06] Nexucis commented on #5121
We are waiting the merge of the associated PR. Feature is still accurate

[2022-04-24 01:42] snuggie12 commented on #4802
Bumping this. I still think some general guidance on how to size things would be helpful.

[2022-04-25 07:10] thibautmery commented on #5276
Hello,
Thx for the answer, I already see that tools, but it is something safe ? It can be use on huge bucket in production without any problem?

[2022-04-25 10:36] hanjm commented on #5276
@thibautmery rewrite block will generate new block and delete the old block. you can backup the origin block.

[2022-04-25 14:21] NissesSenap commented on #5275
I think I have the same issue:

[code]

Using: quay.io/thanos/thanos:v0.25.2
For now I will lower the number of replicas to 1.

[2022-04-26 04:40] rrraditya opened #5298 "Thanos 504 gateway timeout when accessing S3 object storage"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.17.2 (branch: HEAD, revision: 37e6ef61566c7c70793ba6d128f00c4c66cb2402)
  build user:       root@92283ccb0bc0
  build date:       20201208-10:00:57
  go version:       go1.15
  platform:         linux/amd64

prometheus, version 2.19.1 (branch: HEAD, revision: eba3fdcbf0d378b66600281903e3aab515732b39)
  build user:       root@62700b

[2022-04-26 08:25] didenko-yv commented on #2211
I have the same situation with GCS, I can not to upload metrics woth Google Cloud Service Account. I'm using thanos-sidecar with bitnami/kube-prometheus and all of my attempts failed(

[2022-04-26 08:35] jessicalins commented on #5186
hi, what is the status of this issue? In case no one is working on it I can pick it up :)

[2022-04-26 11:55] igorwwwwwwwwwwwwwwwwwwww opened #5299 "Build arm64 darwin binaries"
We introduced arm64 for linux in https://github.com/thanos-io/thanos/issues/1851. But we don't have them for darwin.

With the rise of M1 / Apple Silicon, it'd be nice to provide binaries for that architecture.

[2022-04-26 23:43] wiardvanrij opened #5302 "The Table of Contents in the changelog links to Github"
On https://thanos.io/tip/thanos/changelog.md/ -> Table of Contents

This link [v0.25.2](https://github.com/thanos-io/thanos/tree/release-0.25) - 2022.03.24 should actually go towards https://thanos.io/tip/thanos/changelog.md/#v0252httpsgithubcomthanos-iothanostreerelease-025---20220324

Perhaps this page / table of contents could be easier/nicer as well - For example that the table of contents wou

[2022-04-26 23:46] wiardvanrij commented on #5298
Thanks for the report. Not that I'm exactly aware of we made that many changes there, could you upgrade 0.17.2 towards the latest release for a test if that makes any difference?

[2022-04-27 00:21] B0go commented on #4961
Hello, I am interested in doing my first contribution to the Thanos project and I think this issue may be a good one to start!  I have a good knowledge on Thanos as an user and I still need to study the code and configure the dev environment... so it may take some time

[2022-04-27 03:26] rrraditya commented on #5298
hi @wiardvanrij i will give it a try and back to you with the result.
thank you.

[2022-04-27 04:25] infa-kparida commented on #5272
Can someone look into this issue.We are struggling since almost 4 weeks to fix this and still dont have any solution

[2022-04-27 04:33] damnever opened #5303 "regex not match is not working as expected"
**Thanos, Prometheus and Golang version used**:
thanos 0.22.0
prometheus v2.30.3

**Object Storage Provider**: disabled

**What happened**:

In Thanos, the query ```name{x!~"b|c"}``` returns ```name{x="a"}   name{x="b"}  name{x="c"})```, a simple fix is like this ```name{x!~"(b|c)"}```.

~~This ```name{x!~"b|c", x!~"a"}``` seems to be an issue too.~~

**What you expected to happen**:

```name{x!~"

[2022-04-27 12:29] bwplotka commented on #5279
Fixed here:https://github.com/thanos-io/thanos/pull/5305

[2022-04-27 17:15] ChaoHsupin opened #5307 "Compactor only get meta info, does not compress, and not down sampling"
**Thanos, Prometheus and Golang version used**:
thanos: v0.21.1

**Object Storage Provider**:
cos
**What happened**:
Compactor only get meta info, does not compress, and not down sampling.
**k8s deploy args**:

[code]

**container logs, I can't see a log about starting compression and downsampling**:

[code]

**Environment**:
- k8s

[2022-04-28 03:14] edliu-wish commented on #2235
Any solution? I faced just the same issue

[2022-04-28 06:33] #4967 closed

[2022-04-28 14:20] #5303 closed

[2022-04-28 14:23] alileza opened #5310 "Redis integration support TLSConfig"
### Is your proposal related to a problem?

Support TLS for redis integration

### Describe the solution you'd like

Add new Redis Client Config for tls enabled, and add TLSConfig [here](https://github.com/thanos-io/thanos/blob/main/pkg/cacheutil/redis_client.go#L149)

### Additional context

If I understand correctly currently there's no way we can connect to redis with TLS enabled

[2022-04-28 17:09] Akshit42-hue commented on #5302
Can I work on this issue @wiardvanrij

[2022-04-28 18:19] wiardvanrij commented on #5302
Yeah sure. No need to ask. Anyone can do anything!

[2022-04-28 20:21] bwplotka commented on #5203
I did it here https://github.com/thanos-io/thanos/pull/5315 - sorry somehow missed this discussion 🙈

Let me know if this makes sense

[2022-04-28 20:22] bwplotka commented on #5203
I did the mode for receiver, since it makes more sense as the test suites needs to push data and our default receiver is Thanos Receive (:

[2022-04-28 21:00] wiardvanrij opened #5316 "Fix or Remove blog reference"
In our docs we have a link and this is now failing:

[code]

A quick view, and it seems to be moved/gone. Either update the docs with the correct link or remove it (:

[2022-04-29 10:50] jmjf commented on #5316
If this is open, I'll take it.

Is [this](https://www.improbable.io/blog/thanos-prometheus-at-scale) the correct article?

[2022-04-29 11:40] bwplotka commented on #1318
Hi, all again! Thanks all for keeping this up to date - it's really important to solve all the important cases you might have. Please let us know if this is still valid and for what reasons--we never said no to this, but honestly, we still don't see a clear need. Let me explain:

Currently, all Thanos components support multi-tenancy thanks to external labels:

1. Receivers uploads block with tena

[2022-04-29 13:40] hanjm commented on #1318
Thanks your detailed note.  I think the solutions like having 2 or more buckets need a heavy resource operatation . when create a new tenant , using bucket prefix is more easily than apply create a bucket.

[2022-04-29 14:29] wiardvanrij commented on #5316
Oh, I think it is! :) nice find

[2022-04-29 17:22] #5316 closed

[2022-04-30 03:29] metonymic-smokey commented on #2727
If no one else is working on it, maybe I could take a stab at this sometime?
Thanks!

[2022-04-30 10:06] prymitive commented on #206
We have `storage.tsdb.min-block-duration` & `storage.tsdb.max-block-duration` set as we use sidecar with Prometheus and the side effect of this is that seems to be that all HEAD chunks reach max duration at the same time, which then creates a huge number of new chunks at the same time, which then slows down HEAD and causes timeouts in rule evaluation.
It would be great if thanos didn't require set

[2022-04-30 10:12] #2248 closed

[2022-04-30 10:12] #1598 closed

[2022-04-30 10:12] #3750 closed

[2022-04-30 10:12] #4677 closed

[2022-04-30 10:12] #5056 closed

[2022-04-30 10:12] #2295 closed

[2022-04-30 10:12] #5042 closed

[2022-04-30 10:12] #5097 closed

[2022-04-30 10:12] #5075 closed

[2022-04-30 10:12] #5095 closed

[2022-04-30 10:12] #5039 closed

[2022-04-30 10:12] #5134 closed

[2022-04-30 10:12] #3308 closed

[2022-04-30 10:12] #5106 closed

[2022-04-30 10:41] aymericDD commented on #1706
Still an issue

[2022-04-30 10:56] keremgocen commented on #3308
Up!

[2022-04-30 11:47] GiedriusS commented on #206
I agree. @fpetkovski is looking into this at the moment, I believe.

[2022-04-30 16:21] wiardvanrij commented on #5130
Still relevant

[2022-05-01 16:12] #3720 closed

[2022-05-01 16:12] #4959 closed

[2022-05-01 16:12] #4990 closed

[2022-05-01 16:12] #4998 closed

[2022-05-01 16:12] #4284 closed

[2022-05-01 16:12] #4559 closed

[2022-05-01 16:12] #4937 closed

[2022-05-01 16:12] #5025 closed

[2022-05-01 16:12] #5029 closed

[2022-05-01 16:12] #4924 closed

[2022-05-01 16:12] #4812 closed

[2022-05-01 16:12] #4472 closed

[2022-05-01 16:12] #3966 closed

[2022-05-01 16:12] #4102 closed

[2022-05-01 16:12] #4558 closed

[2022-05-01 16:12] #3408 closed

[2022-05-01 16:12] #4550 closed

[2022-05-01 20:16] bwplotka commented on #2028
Funny enough we got hit by this a lot as v0.25.0.* tags are not on main e.g

![image](https://user-images.githubusercontent.com/6950331/166162984-a2cccfd9-5778-4c53-98dd-63b109a5031c.png)

cc @wiardvanrij

Sounds like what @sylr proposes is worth to make - essentially "fake" merge to have tags in `main` history... 🤔

[2022-05-02 09:20] erispoe opened #5320 "Routing-receive does not fail or perform new DNS resolution on receive instance IP change"
**Thanos version used**: 0.24

**Object Storage Provider**: N/A

**What happened**:
Thanos-routing-receive resolves DNS once on startup and then caches the result for the remainder of the runtime. To make it resolve the domain names again the pod has to be redeployed.

This affect the communication between thanos-routing-receive and thanos-receive. The routing-receive resolves the dns names of the

[2022-05-02 09:31] bwplotka opened #5321 "Ruler: v0.25.2 no query API server unreachable"
One user shared that our Rulers were having hiccups with finding the right Qurier endpoints resulting in gaps:

![image](https://user-images.githubusercontent.com/6950331/166213048-f6a719c4-9841-4c5e-888b-5e7eeb2d1f72.png)

Apparently reverting to v0.24.0 resolved the issue. This seems to be a stateful Ruler.

We will need to have more information e.g:

* what was reverted - only ruler version or

[2022-05-02 11:12] fpetkovski commented on #206
This is what I understood so far:
1.  From a Thanos compactor perspective, it should be safe to upload already compacted blocks.
2.  From a Thanos sidecar perspective, it is still unclear to me whether there is potential race condition where the Prometheus compactor can delete a block before the sidecar has had a chance to upload it. However, even if that happens, because of 1 I don't think it sho

[2022-05-02 11:26] yeya24 commented on #206
Prometheus will exclude the most recent block from compaction planning. Which means a block has 2h time window to upload for the sidecar. I think 2h is enough usually.

[2022-05-02 22:05] markmsmith commented on #1318
The use case I posted in May of 2020 is still relevant today, and the lack of this feature blocks us from reducing the number of buckets we need to spin up for each tenant within an AWS account:
https://github.com/thanos-io/thanos/issues/1318#issuecomment-631071789

[2022-05-03 08:44] omron93 commented on #4386
This is still needed and would be great to have it fixed :-)

[2022-05-03 23:20] jphx commented on #4940
I believe this to be a legitimate issue.

[2022-05-04 11:29] frakev commented on #5307
Hello,
Have you try to use:
` --wait-interval=5m `
Wait interval between consecutive compaction runs and bucket refreshes. Only works when --wait flag specified.

[2022-05-04 12:49] bwplotka commented on #2599
Currently, we have lots of backfill solutions that rely on block upload. We should invest in them and make them better.

BUT, this issue is for remote write backfill, which is in [dev and design by the amazing Grafana team!](https://docs.google.com/document/d/1Kppm7qL9C-BJB1j6yb6-9ObG3AbdZnFUBYPNNWwDBYM/edit). PTAL there.

[2022-05-04 18:09] GiedriusS commented on #2211
Perhaps you know a reliable way to reproduce this @mv-yurchenko ?

[2022-05-05 00:06] jphx commented on #4940
Can we mark this as not stale?

[2022-05-05 02:04] kimcagayat opened #5327 "Is there a proper way or order on restarting thanos components?"
Is there a proper way or order on restarting thanos components?

Thanos-store endpoint is not showing up on thanos interface. We have below thanos components:

NAME                                                     READY   STATUS    RESTARTS   AGE
alertmanager-prometheus-prometheus-oper-alertmanager-0   2/2     Running   0          163d
busybox-deployment-86bd996c75-6n2tw                      1/

[2022-05-05 10:19] wiardvanrij commented on #2028
I will test this on my own branch and see if we can make part of our release strategy.

[2022-05-05 13:50] bwplotka commented on #4780
PTAL fix: https://github.com/thanos-io/thanos/pull/5296

[2022-05-05 14:26] wiardvanrij commented on #5327
No, the order does not matter. But you are running in a few other problems here;
- Very old version (but that's 'okay-ish'0
- Your store gets evicted due to lack of storage
- Port 10901 is GRPC, so make sure you test it like that as well.

[2022-05-06 00:11] kimcagayat commented on #5327
Hi @wiardvanrij, appreciate you response. The initial issue I had is that. I cannot telnet port 10901 from the pod itself and from the thanos querier pod. Where do I check and how do I know if there’s anything wrong with the port? Sorry I’m kind of new to this. Thanks.

[2022-05-06 01:58] BegoniaGit commented on #5307
Thanks  reply!
I tried adding this parameter `--wait-interval=5m` ,but useless.
There are still a large number of duplicate logs as follows：
[code]

[2022-05-06 05:29] fpetkovski opened #5335 "Load balancing for Store Gateways"
### Is your proposal related to a problem?

It currently makes little sense to run store gateways in HA mode since Queriers do a fanout across all stores.
In order to enable seamless updates and allow spreading spreading load more evenly, we should consider implementing load balancing capabilities in Queriers.

### Describe the solution you'd like
Ideally, load-balancing should be done on the clie

[2022-05-06 15:48] keremgocen commented on #5022
any updates on this one?

[2022-05-06 15:53] keremgocen commented on #3142
happy to take a look 👀

[2022-05-06 19:38] ottramst commented on #3677
Can confirm the same issue on v0.25.2

[2022-05-07 00:24] keremgocen commented on #3142
I traced it until https://github.com/open-telemetry/wg-prometheus/issues/63 but I could use hints on what the next step would be today (cc: @Nexucis)

[2022-05-07 09:02] fpetkovski commented on #5235
Another alternative would be to apply relabeling during the compaction process.

[2022-05-07 22:05] cyrus-mc opened #5338 "Support sub-path in storeAPI target configuration"
Multi-cluster setup requires exposing store API targets. Through ingress this is only support if the API is at the root of the ingress. It would be nice to allow targets that contain `sub-paths` as well.

As an example if you have an ingress/reverse proxy:

* https://example.com/sidecar1
* https://example.com/sidecar2

And so forth. With the current implementation this is only possible using targe

[2022-05-08 01:58] wiardvanrij commented on #5335
We do have to consider the fact that we don't want this for sidecars. As data can be different per Prometheus instance.
Currently, the most efficient way (imo) for load spread is to implement sharding. I would be curious what 'overhead' we would have with load balancing over multiple stores. Anyhow +1 from me.
Might even be a cool LFX project as well.

[2022-05-08 02:02] wiardvanrij commented on #5327
So I assume you are not seeing it in the UI of Thanos querier. Then I would look at those logs.
If you need more guidance, do fill in our template ;)

**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:

**Anything

[2022-05-08 02:06] wiardvanrij commented on #5320
Thanks for the report. Could you share how you configured the components? It can be just the basics and omit any 'personal' details.

[2022-05-08 07:59] yeya24 commented on #5235
I think we can do both.
Sidecars and compactors sometimes are controlled by different teams. Sidecar is on the client side and compactor is another side.

To do this on the compaction, I hope we can support the modifiers approach or something similar on upstream TSDB.

[2022-05-08 09:26] mv-yurchenko commented on #2211
I used config like and got empty bucket

`prometheus:
  disableCompaction: true
  thanos:
    create: true
    objectStorageConfig:
      secretKey: "thanos-config"
      secretName: "thanos-config"`

[2022-05-09 04:12] yeya24 commented on #5307
@BegoniaGit Is the compactor currently in halted status? You can check it from the log or using the compactor metric `thanos_compact_halted`

[2022-05-09 06:56] didenko-yv commented on #2211
I solved this issue with changing bitnami/kube-prometheus chart version to 6.5.0. I did not investigate the topic in depth, but probably it was issue with thanos container in newer versions

[2022-05-09 11:02] saswatamcode opened #5340 "implement Unified Endpoint Discovery proposal"
This issue currently tracks the work that needs to be done to complete the implementation of the [Unified Endpoint Discovery](https://thanos.io/tip/proposals-accepted/202101-endpoint-discovery.md/), so that the usage of endpoint flag can be recommended by default instead of the current state of flags in Thanos, which can cause [confusion](https://github.com/thanos-io/thanos/issues/5238).

A/C:

-

[2022-05-09 11:50] Nafalgar commented on #2211
I had the same issue as @didenko-yv  above but using Azure Blob Storage. I was using v0.26.0, reverting to v0.23.0 fixed the issue for me.

[2022-05-09 14:23] Nafalgar commented on #4287
@max77p did you ever find a solution to this? I am currently experiencing the same thing, I have the following logs in the sidecar:
[code]

However, after waiting for over 2 hours (default offload time), there is still no data stored on Azure and no blob has been created in the container.

[2022-05-09 14:33] wiardvanrij opened #5343 "Move all CI/CD logic to Github and optimise the process"
### Is your proposal related to a problem?

Currently we use circleci for:

- any update to main, which publishes a new docker image
- any update on a tag, which does a crossbuild and publish image + tarballs
both also do the `make test` as requirement

I would not call it a problem but since we are on GitHub with our repo, I think it makes more sense to have the logic from above just in Github ac

[2022-05-09 14:54] wiardvanrij opened #5344 "Make docs not working on M1 due to promdoc"
Getting:

[code]

Will fix this by upgrading it to /promdoc@v0.8.0 - already tested this, but making an issue as reference.

[2022-05-09 16:41] parkedwards opened #5346 "query: component stuck/stalled + goroutines > 10k + hit max concurrent queries"
**Thanos, Prometheus and Golang version used**:

[code]

We're using the official thanos docker image from the public registry (from `thanosio/thanos`)

**Object Storage Provider**:
S3

**What happened**:
We've been successfully running a Thanos cluster for around a year now - we've got some storegateways fronting s3, thanos sidecars on the prometheus nodes, and a query-frontend + query component

[2022-05-09 19:43] wiardvanrij commented on #4923
Is this also reproducible with the latest version?

[2022-05-09 21:49] ahrex commented on #4923
I have yet to ask our internal Thanos maintainers about whether the issue persists on the latest version or not.

It looks like we've held our deploy back at `v0.22.0` so we can have the additional context in error messages.

I did some digging and found the following:
* thanos commit `2bf7e1ca06e60cd1dc722c97640b639b9d8ce704` between tags `v0.22.0` and `v0.23.0` upgraded a few dependencies, inclu

[2022-05-09 22:15] wiardvanrij commented on #4923
I think that makes sense. The only thing I'm wondering if we shouldn't call something else to get the full info, but at a first simple look, I could not find such method. Perhaps we should make an issue / PR there indeed. I.e. best time/effort would perhaps be to create an issue there. Just to double check we are on the right path.

[2022-05-09 22:18] yeya24 opened #5349 "QueryFrontend: compile regex once when matching strings"
From code https://github.com/thanos-io/thanos/blob/main/pkg/queryfrontend/roundtrip.go#L123, we are compiling the regex every time to match strings. This can be optimized by only compiling the regex once and checking if the string matches.

[code]

[2022-05-10 00:38] parkedwards commented on #5346
hey @wiardvanrij maybe im dumb, but i can't seem to spit out a file output that the polar signals tool likes.  you mind providing me a command or two to do so? i've tried

[code]

but no dice

[2022-05-10 05:23] sandipanpanda commented on #5340
Hi mentors, I am Sandipan, an undergrad and open source enthusiast. I am interested to take this opportunity of mentorship and to contribute to Thanos by helping in fixing this issue. I am going through the linked issues, pull requests, proposal, and docs.

[2022-05-10 05:46] sandipanpanda commented on #5349
Hi, I am new to Thanos and would like to help in fixing this.

[2022-05-10 05:50] yeya24 commented on #5349
Please go ahead. @sandipanpanda

[2022-05-10 05:55] ahrex commented on #4923
Hello! So I spent some time trying to PR a fix, to find out that I was a bit off the mark.

While I still think the problem is between grpc-go versions `v1.39.0` and `v1.40.0`, upon closer inspection the changes to `internal/status/status.go` look fine.

I did some more digging and found out I'm not proficient enough in all of the changes to make a definitive call, so I filed https://github.com/gr

[2022-05-10 07:46] GiedriusS commented on #5346
Is it the same with 0.24.0 or any newer version? Wouldn't be surprised if you are running into [this](https://github.com/thanos-io/thanos/pull/4795).

[2022-05-10 09:42] wiardvanrij commented on #5346
The default output should be a x.pb.gz file. If you would omit the -o. So you can just do your first command and say it's foo.pb.gz

[2022-05-10 09:45] wiardvanrij commented on #4923
All good, you helped a lot :)

[2022-05-10 11:05] bwplotka commented on #5343
+100 to a more environmentally friendly approach.

Few notes:

* We should only build things that matter on a PR (e.g someone changes docs, why we rebuild and test the code?)
* `I believe we have some compute stuff from the CNCF, so use that as runners instead of the free tier at GitHub (hopefully also helps with flaky tests)` is not true. I don't think we have any free tier. What I heard actually

[2022-05-10 11:07] bwplotka commented on #5343
We should also work with Prometheus team to share same Orbs for Circle Ci? and building mechanisms? 🤔

See https://github.com/prometheus/circleci

[2022-05-10 11:33] wiardvanrij commented on #5343
I'm all in for helping each other out but we are still two different projects. I've spend quite some time on checking out Promu (for which we use a very old version (: ) but in the end I came to the conclusion;

- Why use something that's opinionated towards the Prometheus ecosystem?
- Why not keep it simple? All we need is a test, a build and a release. I.e. [goreleaser](https://goreleaser.com/)

[2022-05-10 11:59] malyBobr opened #5351 "Ruler: "Drop" rule don't drop whole alert"
Hello,

we are moving alerting from prometheus to ruler and we have met the problem on ruler while we have tried to drop metrics with label "is_alert" warning which we don't want to distribute to alertnamager.

For this purpose we using relabel rule with action drop like this:

[code]

Result of drop action wasn't as we expected. We are thought it will result in drop of whole alert. But rule dropp

[2022-05-10 14:57] 56quarters opened #5353 "Proposal: change the way memached keys are batched by the client"
### Is your proposal related to a problem?

Hello Thanos team!

Currently, keys given to the [`GetMulti` method](https://github.com/thanos-io/thanos/blob/8d1179e2cc76b6eb0d04acb4d02e4ae546ae38a7/pkg/cacheutil/memcached_client.go) are split [into batches](https://github.com/thanos-io/thanos/blob/8d1179e2cc76b6eb0d04acb4d02e4ae546ae38a7/pkg/cacheutil/memcached_client.go#L478) and requests are made t

[2022-05-10 15:10] parkedwards commented on #5346
@wiardvanrij gah! so close.  here it is:
https://share.polarsignals.com/cdfe34b/

[2022-05-10 15:11] wiardvanrij commented on #5353
I'm already liking the Mimir project :D

The PoC looks promising, as well as the graphs. So, for that I would say: yes please!
Things we do have to consider I would say is;
- What if you have a dynamic amount of memcached instances
- It should still work with a headless k8s service and the endpoint like: `dnssrv+_grpc._tcp.my-memcached.memcached.cluster.local`

and thanks again 👍

[2022-05-10 17:34] pharaujo commented on #5310
I was trying out Redis support in query-frontend using AWS ElastiCache with "encryption in transit" enabled and also ran into this problem.

[2022-05-10 18:45] 56quarters commented on #5353
In this case (e.g. the list of servers changes in the middle of trying to group the keys or after they've already been grouped but before the request is made), some keys will end up grouped "wrong" but the result of this won't be any worse then the current behavior where keys that belong on different servers are batched together.

Definitely. This change shouldn't touch any of the DNS discovery lo

[2022-05-11 10:19] GiedriusS commented on #5353
Sounds good :+1:

[2022-05-11 14:47] bwplotka commented on #5353
Makes sense 💪🏽 Thanks for this!

[2022-05-11 14:59] bwplotka commented on #5343
We don't. Prometheus also evaluates goreleaser and most likely moves there cc @roidelapluie It would be smart to reuse same technique. Why recreating everything from scratch? Including potential Orb or GH action shared library for this? 🤔

I would not be so sure - we start add more projects in to `thanos-community` and `thanos-io` orgs and on sibling orgs like observatorium (:

You are now, just c

[2022-05-11 15:28] roidelapluie commented on #5343
While we are evaluating goreleased, there are a few blockers here. I am investigating adding more capabilities to promu (like deb and rpm's) in the coming weeks, to me promu is not dead.

[2022-05-11 19:16] parkedwards commented on #5346
@wiardvanrij we actually just experienced this leak just now, i was able to export a pprof here

https://share.polarsignals.com/b33f04f/

[2022-05-12 04:18] kimcagayat commented on #5327
**Thanos, Prometheus and Golang version used:**

Thanos Version:0.12.2, GoVersion: go1.13.1
Prometheus Version: 2.25.0, GoVersion: go1.15.8
Object Storage Provider:

**What happened:**
Thanos-Store not showing up from Thanos-Querier interface

**What you expected to happen:**
It should be showing up like on our production which has the same versions.

How to reproduce it (as minimally and precisel

[2022-05-12 07:56] FTwOoO commented on #3913
Seeing same issue on  v0.22.0 as well

[2022-05-12 09:12] GiedriusS commented on #5346
Seems like I was correct. I think you are running into https://github.com/thanos-io/thanos/pull/4795. Please try upgrading to 0.24.0 or 0.23.1.

[2022-05-12 09:15] #5282 closed

[2022-05-12 09:17] #5344 closed

[2022-05-12 11:34] wiardvanrij commented on #5343
Input from community hours meeting;
- Need to check if we can do some colab with circleCI
- What about new users, we need some gate to prevent everything to run, to prevent mining/etc.

[2022-05-12 12:44] antonincms opened #5359 "Compactor/Store Gateway/Bucket UI: Enable finding overlapping block make frontend crash"
**Thanos, Prometheus and Golang version used**:

* Thanos `quay.io/thanos/thanos:v0.25.2`
* Thanos `quay.io/thanos/thanos:v0.26.0`
* Thanos `quay.io/thanos/thanos:v0.27.0`
* ...
* Thanos `quay.io/thanos/thanos:v0.36.0`

**Object Storage Provider**:

AWS S3

**What happened**:

On the frontend using google chrome, on the loaded blocks page when ticking the `Enable finding overlapping block` ...

On

[2022-05-12 17:23] pjastrzabek commented on #4855
I was hoping that maybe that problem will be fixed as a result of adding aws-sdk ( https://github.com/thanos-io/thanos/pull/4667 ) but unfortunately it isn't (tested on 0.26.0)
Issue is still valid. There is no way of using thanos store with temporary credentials without downtime, because once credentials are expired component needs to be restarted to use newly rendered credentials.

[2022-05-12 22:26] pippitt commented on #5359
Same issue, hopefully helpful data from chrome dev tools console
[code]

[2022-05-13 07:22] matej-g commented on #5282
Awesome, sorry for the lag, I appreciate the doc improvements!

[2022-05-13 08:01] matej-g commented on #4841
Still needed :arrow_up:

[2022-05-13 08:04] matej-g commented on #4961
Hey @B0go, sorry for the late reply! Please go ahead, feel free to take your time to familiarize yourself with the code, and don't hesitate to ask if something's not clear :slightly_smiling_face:

[2022-05-13 08:04] matej-g commented on #5186
@jessicalins go for it!

[2022-05-13 13:18] pranay142 opened #5362 "sidecar failing with GKE workload identity"
Thanos, Prometheus and Golang version used:

Helm Chart: kube-prometheus-stack-34.0.0
Prometheus: quay.io/prometheus/prometheus:v2.33.5
Thanos: quay.io/thanos/thanos:v0.25.1

Object Storage Provider:

We use GCS as the storage backend @bwplotka

What happened:
Instead of generating a json file with Google application credentials we used workcloud identity to create a Google Service Account and ann

[2022-05-13 14:14] hawran opened #5363 "Thanos compactor: endless restart loop when 'block missing index file'"
**Thanos, Prometheus and Golang version used**:
thanos: 0.25.2
prometheus: 2.35.0
golang: 1.17.5

**Object Storage Provider**:
Thanos/s3

**What happened**:
I am not going to elaborate on the matter, this issue is reopening https://github.com/thanos-io/thanos/issues/1199.

**What you expected to happen**:
No restart loop.

**How to reproduce it (as minimally and precisely as possible)**:

**Full l

[2022-05-15 03:49] BegoniaGit commented on #5307
@yeya24
Thank you very much！
The mission did stoped. Now there is no relevant error log, I feel very confused. Could you give me some suggestions for further investigation?

[code]

[2022-05-15 05:07] yeya24 commented on #5307
I think there must be some logs indicating the reason of halting. Maybe you can restart the compactor and it will hit the halted error again. THen you can take a look at why.

[2022-05-15 12:09] BegoniaGit commented on #5307
@yeya24 Thank you!
Restart later, how the thanos_compact_halted to 1 , get some details:
[code]
At present, the disk is emptied first, then adjust the compression concurrency to 1, and then further observed.

[2022-05-15 19:27] yeya24 commented on #5307
So looks like you need more disk space.

[2022-05-16 01:33] edith007 commented on #5340
Hi @saswatamcode! 👋🏻
I am really interested in working on this project. And have even started exploring thanos project and trying to fix bugs. 🙇🏻

[2022-05-16 08:33] Dauber01 opened #5366 "failed to lookup SRV records"
<img width="1353" alt="image" src="https://user-images.githubusercontent.com/28582852/168550949-5da0088c-104a-4eda-bdba-d6f760b1b2ee.png">
when i add the head of "dnssrv+_grpc._tcp." i got a error like the picture show
caller=resolver.go:99 msg="failed to lookup SRV records" host=_grpc._tcp.thanos-receive-ingestor-default.namespace.svc err="no such host"
and when i don't add the head , it work as

[2022-05-16 12:17] adithyaakrishna commented on #3219
@GiedriusS Can I work on this? 👀

I guess there's a PR https://github.com/thanos-io/thanos/pull/3467 which can be used as the base 😶

[2022-05-16 16:20] fagossa opened #5367 "store: Thanos consumes 40G at startup"
Hello,

I'm having some uncontrolled memory consumption with *thanos store*.

## What happened:

At start up, there is a peak of memory of ~40GiB that later decreases over time to ~26GiB. However, depending on the load, it reached back the peak value and even beyond (which means OEMKill).
![Capture d’écran 2022-05-16 à 17 16 56](https://user-images.githubusercontent.com/6917738/168626465-63ff3f3

[2022-05-16 20:15] GiedriusS commented on #5367
Do you have persistent storage on your Thanos Store pods (I assume k8s here)? The RAM usage probably comes from building binary index headers. Maybe there is some opportunity here to use `sync.Pool` to have a constant RAM usage. With persistent storage, you wouldn't have to rebuild them each time. Could you upload a profile of the memory usage of Thanos Store just after the start of the process?

[2022-05-16 20:18] GiedriusS commented on #5265
The problem is a bit bigger - there are object storage operation "failures" coming from this, leading to false alerts. Need to think about how to solve this.

[2022-05-16 20:20] GiedriusS commented on #3219
Yep! Feel free to ask any questions if you have any.

[2022-05-17 08:55] fagossa commented on #5367
Hello, thanks a lot for your answer!

We are actually using `docker swarm` with persistent volumes. I do not think there is a problem at this level because we have hundreds of services (not related to prometheus+thanos) running without any issue.

As per the memory, here we have the memory for the store using the bucket with 145k blocks after a reboot

<img width="851" alt="Capture d’écran 2022-0

[2022-05-18 02:33] infa-kparida commented on #5272
Anyone able to solve this ?

[2022-05-18 02:37] B0go commented on #5130
Hi! I am trying to build a Thanos development environment on my M1 MacBook Pro so I can work on task https://github.com/thanos-io/thanos/issues/4961, and I am also seeing this error locally:

[code]

Is there any known alternative for local development? I am thinking about using a Docker image or maybe a VM. I am also available to help solving this but I am not sure how complex the fix can be

[2022-05-18 06:39] wiardvanrij commented on #5130
Yeah I believe that you can upgrade/change the bingo one to unblock yourself. I haven't had the time to check this yet (:

[2022-05-18 09:34] ethernoy opened #5370 "[Compact] Implement Bucket Lock on Thanos Compactor to Avoid Multiple Compactors Operating on Same Bucket"
### Is your proposal related to a problem?

Thanos compactor is not designed to be run in parallel. However, there exists a use case where a new Thanos compactor instance needs to run when there is an old compactor running, and the old instance shall terminate afterwards (imagine we are doing blue-green deployment on Thanos solution). It would be great if the new Thanos compactor instance suspends

[2022-05-18 15:32] davidy718 opened #5371 "Thanos store preload series: read series range: read range: context canceled"
**Thanos, Prometheus and Golang version used**:
Prometheus: 2.23.1
Thanos: 0.26.0

**Object Storage Provider**:
aws s3
**What happened**:
when querying big amounts of data from thanos store I get an error (if its small amounts it works)
**What you expected to happen**:
to receive the data
**How to reproduce it (as minimally and precisely as possible)**:
We have Prometheus with thanos sidecar uploa

[2022-05-18 20:46] sharathfeb12 commented on #5321
The configuration of Thanos Ruler:

`      - args:
        - rule
        - --log.level=debug
        - --log.format=logfmt
        - --grpc-address=0.0.0.0:10901
        - --http-address=0.0.0.0:10902
        - --objstore.config=$(OBJSTORE_CONFIG)
        - --data-dir=/thanos/data
        - --eval-interval=2m
        - --label=rule_replica="$(NAME)"
        - --alert.label-drop=rule_replica

[2022-05-19 09:07] shaoyi1997 commented on #4810
Hi! I can take this issue :)

[2022-05-19 11:44] daxsis commented on #5340
Hello @saswatamcode, I applied through LFX and was curious is there anything else except sending resume and cover letter to the application? Maybe some challenge that I missed? Otherwise I'm pretty stocked about the project and looking forward to contributing to these proposal.

[2022-05-19 12:20] kumarganesh2814 commented on #3677
I am having same issue.

`{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "Restrict Non-https Requests",
            "Effect": "Deny",
            "Principal": "*",
            "Action": "s3:GetObject",
            "Resource": "arn:aws:s3:::mybucket/*",
            "Condition": {
                "Bool": {
                    "aws:SecureTransport": "false"

[2022-05-19 15:47] bennyboom38 commented on #5259
Hello

Here is the list of goroutine when thanos store gateway is crashing :

`goroutine profile: total 27
4 @ 0x43af85 0x43351b 0x46c475 0x4e7185 0x4e8275 0x4e8257 0x59446f 0x5a8cf1 0x7b1879 0x5771e8 0x57736f 0x7b3a45 0x7b79a5 0x472121
#	0x46c474	internal/poll.runtime_pollWait+0x54		/usr/local/go/src/runtime/netpoll.go:222
#	0x4e7184	internal/poll.(*pollDesc).wait+0x44		/usr/local/go/src/internal

[2022-05-19 17:37] fpetkovski opened #5374 "Add support for filesystem cache in Store Gateway"
### Is your proposal related to a problem?

With larger Thanos deployments, memory caching can become impractical due to the size of the data that has to be held in cache.
The cache can quickly fill up and it, causing items to get evicted on regular basis.

### Describe the solution you'd like

I would like to be able to cache chunks on disk in order to take advantage of larger caching space.

###

[2022-05-20 00:04] hanjm commented on #5374
+1, i am also request same feature ago. #4638

[2022-05-20 13:34] sandipanpanda commented on #5349
Yes, I am working on it.

[2022-05-20 16:16] parkedwards commented on #5346
yo @GiedriusS @wiardvanrij -- things seem quiet after bumping to `v0.24.0`.  thanks again for your help, and I can close this out

til next time!

[2022-05-20 16:16] #5346 closed

[2022-05-21 07:25] GiedriusS commented on #5374
Sounds good however I think it's worth keeping a few things in mind:

* Ideally the cache wouldn't use mmap due to the reasons outlined [here](https://valyala.medium.com/mmap-in-go-considered-harmful-d92a25cb161d). This means that we shouldn't use [bbolt](https://github.com/etcd-io/bbolt)

* What would be the relationship of this cache with the caching bucket?

* What will be the structure of thos

[2022-05-21 12:55] fpetkovski commented on #5374
These are good questions.

The way I see it, since FS caching would be slower than memory, it could serve as an L2 cache between memory and S3. So it would be a decorator that implements the existing `cache.Cache` interface and wraps another cache as fallback.

I can think of two different approaches that we can use here. Since we can use the filesystem more liberally, we can periodically download

[2022-05-21 13:08] Akshit42-hue commented on #5340
Excited for working on this issue :)

[2022-05-22 03:59] Ericra95 opened #5375 "Receiver not receiving data in shard settings"
**Thanos, Prometheus and Golang version used**:
kube-prometheus v0.10.0
promethues v2.34.0
Thanos v1.26.0 or 1.21.1

**What happened**:
I specified in the configuration file that receive-2 handles the data identified by tenants a, and receive-3 handles the data identified by tenants b, but it does not actually take effect

All receive have default-tenant identifier, receive-0 and receive-1 are als

[2022-05-23 01:04] yeya24 commented on #5370
This is a little bit weird to me because Thanos Compactor is just a cron job. It is not an online component like Thanos Query, Storage Gateway, etc. It is a component that runs totally in the background. I think blue-green deployment is unnecessary for it.

What's your environment? Are you running k8s or something else?

[2022-05-23 01:09] yeya24 commented on #5235
I think this is still the right way to go rather than doing this in the sidecar.

[2022-05-23 04:20] yeya24 commented on #5351
This is a valid bug. I opened a fix pr https://github.com/thanos-io/thanos/pull/5377 just now. Thanks for reporting!

[2022-05-23 16:44] snuggie12 commented on #5235
If done on the sidecar as relabeling, would this also include #4640 ? I still have a lot of extraneous external labels that clutters up logs, tools, etc.

For compactor side, would it be wasteful/taxing to attempt to remove series if it was already removed on the 2-hour block level? I think when I've done rewrites on 2-week blocks it takes a very long time even if the metrics don't exist. Would it

[2022-05-23 18:22] yeya24 commented on #5235
Doing this on the sidecar means bringing compaction and TSDB to the sidecar. The sidecar will consume more resources and might impact the read performance. It is totally doable I think and the thing is whether we want to support it or not.

I still hope that Prometheus can support compaction time relabeling so that when the TSDB generates the 2h block it filters out the unnecessary series, which c

[2022-05-24 00:42] jademcosta opened #5380 "sidecar/compact/store/receiver - Filesystem direcoty delimiter probably doesn't work on Windows"
**Thanos 0.26.0**:

**Object Storage Provider**: Filesystem

**What happened**: It seems Thanos has a [directory delimiter](https://github.com/thanos-io/thanos/blob/main/pkg/objstore/objstore.go#L217) on objstore package. This var is used on several places, including the filesystem bucket (here)[https://github.com/thanos-io/thanos/blob/dd77331f6b7c749ef95480da08ea22765a69bd0c/pkg/objstore/filesyst

[2022-05-24 00:42] jademcosta commented on #5380
As requested on the docs, I'm pinging @bwplotka (as you're listed as filesystem bucket maintainer)

[2022-05-24 01:22] B0go commented on #5130
Ok so I did some tests with different versions of `github.com/minio/minio` and found out that https://github.com/minio/minio/commit/91130e884b5df59d66a45a0aad4f48db88f5ca63 is the first release commit that does not present the `undefined: KinfoProc` error as stated above. After digging deeper, I noticed that this release upgraded `github.com/shirou/gopsutil` from version **v2.20.3** to **v2.20.9**

[2022-05-24 05:56] Akshit42-hue commented on #5349
Hey @jgbernalp, I would like to give it a try

[2022-05-24 10:14] #5176 closed

[2022-05-24 12:05] bisakhmondal commented on #5176
Looking at so many references to this issue the PR, how about we publish it as a separate go pkg. Lots of redundant work might be saved.
What do you think guys?

[2022-05-24 20:00] toan-hf opened #5384 "Thanos sidecar is READY state when Prometheus is unavailable"
Hello everyone,

TL;DR: We are using the traditional combination model like any other, Prometheus & Thanos sideCar. However, We encountered the issue when our Prometheus got OOMed and We expect the calling from Thanos Query will not route the traffic to the unavailable Prometheus Pod.In fact, the traffic is still forwarded as usual. I guess the main reason is that Thanos SideCar state is still **R

[2022-05-25 04:48] GiedriusS commented on #5384
In such a situation, what happens if you curl `/api/v1/status/config` on Prometheus when it goes down?

[2022-05-25 07:10] toan-hf commented on #5384
@GiedriusS I have not checked yet but I remember the situation at that moment

Total containers are available is 3/4
Prometheus Container state is NOT READY

And Prometheus container at that moment is loading the WAL file. I believe it is a very well-known issue

In the past 2 weeks We have tweaked the Readiness & StarUp Probes to 1000 failure because We know the time for WAL loading is pretty lon

[2022-05-25 09:19] matej-g opened #5385 "Docs: Find a replacement for Katacoda.com for tutorials"
Katacoda.com is officially being shutdown by 15th June: https://www.oreilly.com/online-learning/leveraging-katacoda-technology.html

We should find an alternative provider to which we can move or (temporarily) remove Katacoda tutorials from docs.

[2022-05-25 09:23] squat commented on #5385
:( a one month warning is really short notice. Let's try to find something else for sure

[2022-05-25 09:28] matej-g commented on #5385
As a project we got an (unwritten?) offer from https://instruqt.com/ which is kind of a similar platform, although this would be free only for 1000 user hours, so it would not be a permanent solution. Either way, it's one of a readily available alternatives, even if just to bridge us to a permanent solution.

[2022-05-25 09:30] matej-g commented on #5385
Another alternative @saswatamcode found: https://killercoda.com, which seem to have a more generous free tier.

[2022-05-25 10:03] toan-hf commented on #5384
hmm I suddenly realized that K8s Service [actually has no capability for GRPC protocol Load Balancing ](https://kubernetes.io/blog/2018/11/07/grpc-load-balancing-on-kubernetes-without-tears/#why-does-grpc-need-special-load-balancing) as it mentioned there.

So if I want to make sure the traffic is distributed across the pod and did the health check to make sure the pod is READY, maybe I will need

[2022-05-25 11:07] saswatamcode commented on #5385
Seems like this is causing a lot of trouble: https://github.com/kubernetes/website/issues/33936

[2022-05-25 11:35] matej-g commented on #5385
Yep, I'd say let's agree on an alternative (Killercoda is the winner for me right now) and I'll take care of porting to the new provider.

[2022-05-25 17:03] bwplotka commented on #5101
Sounds like more people are impacted with this. Help wanted! (:

[2022-05-25 18:08] djdongjin commented on #5349
I think this can be closed now. @yeya24

[2022-05-25 19:33] yeya24 commented on #5349
Thanks @djdongjin.

[2022-05-25 19:33] #5349 closed

[2022-05-25 20:46] piclemx opened #5388 "Add filtering on Thanos Receiver"
### Is your proposal related to a problem?

We were looking at adding Thanos with the receiver patterns (router + ingestor). Everything seems to be good for us, except that we need to have more control on the metrics that will be ingested inside Thanos. One of those reasons is that we want to make sure metrics doesn't have high cardinality and make it hard at the end for thanos to scale (p.s might

[2022-05-25 21:00] wiardvanrij commented on #5130
Yeah it's absolutely fine to create a MR to fix the development minio. You can reference this issue in your MR.
I'd rather create a new one to see how we can move to upstream minio

[2022-05-25 21:05] wiardvanrij commented on #5101
We all want it fast, but we will hit new issues if we don't move back to upstream and provide upstream fixes when needed.

The fork was basically a hotfix for a serious issue. This is, with all due respect, a feature request.

The clean path is to move back to upstream if possible. We can't start to maintain a fork of minio (: As we are also an OSS project, this is maybe a nice incentive to get he

[2022-05-26 05:40] toan-hf commented on #5384
<img width="461" alt="image" src="https://user-images.githubusercontent.com/57263227/170423943-a3b98295-4b98-43af-84c5-9eb61fde2413.png">

[2022-05-26 10:42] LukaszWasko commented on #4374
@esys did you find any solution?
I have the same issue as you: https://github.com/thanos-io/thanos/discussions/5208

[2022-05-26 15:10] esys commented on #4374
@LukaszWasko Nope, ended using `type: gcs` instead or relying on GCS S3 compatibility mode.

[2022-05-26 16:52] gotjosh commented on #5168
@bwplotka I came here to create this issue, and while searching (to make sure it wasn't raised before), I came across this.

This is exactly what I was talking about with you on KubeCon EU. Let me know what else you'd like to know and I'm happy to share more light around it.

[2022-05-27 14:12] carlosjgp opened #5389 "`--tracing.config` to replace environment variables"
### Is your proposal related to a problem?

When using OpenTelemetry agents (Deamonset) to ingest traces and decorate them with the node and pod metadata
container envs
[code]
flag
[code]

### Describe the solution you'd like

Something similar for the `tracing.config` flag
https://github.com/thanos-io/thanos/pull/4327

(Describe your proposed solution here.)

### Describe alternatives you've cons

[2022-05-27 23:20] yeya24 opened #5390 "Provide option to disable block mark deletion and mark no compaction from bucket UI"
In Prometheus, admin level functionalities like delete series are not provided through UI.
But in Thanos, now it is supported to mark deletion and mark no compaction from bucket UI. This is an admin-level operation and requires admin permissions. Some users might not want to expose those functionalities from bucket UI to their users.

We can have an option to disable those functionalities from UI

[2022-05-29 20:05] B0go opened #5393 "Use original Minio upstream for Minio client"
Issue https://github.com/thanos-io/thanos/issues/5130 reports two problems, the incompatibility between the local development Minio version and Apple silicon and the need to go back to using Minio's upstream instead of a fork. We opted to keep that issue focused on the local development and create a new one to return to the upstream because this second part is way more complicated.

The context wh

[2022-05-29 20:06] B0go commented on #5130
@wiardvanrij I created this other issue for moving back to the upstream: https://github.com/thanos-io/thanos/issues/5393 please can you update this issue's title to match the local development apple silicon related problem?

[2022-05-30 01:09] jinnuae40 commented on #3677
In my case, "level=warn ts=2020-12-28T10:36:30.167065199Z caller=sidecar.go:275 err="check exists: stat s3 object: Access Denied." uploaded=0" was resolved by adding objectStorageConfig's secret like below

thanos:
      baseImage: quay.io/thanos/thanos
      version: v0.12.2
      objectStorageConfig:
        key: thanos-storage-config.yaml
        name: thanos-storage-config

thanos-storage-conf

[2022-05-30 15:08] bwplotka commented on #5385
Referenced our issues publically https://twitter.com/bwplotka/status/1531291197649694732

[2022-05-30 15:13] piclemx commented on #5388
Thanks, @yeya24, for adding this. I was looking to do that this week, but seems you have already taken care of this 😄.

Do you know when this could be release, so we can test it more?

[2022-05-30 15:18] matej-g commented on #4866
It's still haunting us :cry: See e.g. https://github.com/thanos-io/thanos/runs/6641229048?check_suite_focus=true but I've seen it multiple times again.

[2022-05-30 15:32] fpetkovski opened #5395 "Federate the api/v1/status/tsdb endpoint from Prometheus"
### Is your proposal related to a problem?

It would be great if Thanos Query could federate the `api/v1/status/tsdb` endpoint from Prometheus instances. This will allow users to analyze cardinality on the fly.

### Describe the solution you'd like

Thanos Query could fanout to Prometheus sidecars and return a federated result from all endpoints.

### Describe alternatives you've considered

We cu

[2022-05-30 16:19] bwplotka commented on #5393
Are you planning to help here, otherwise I might have time to fix it. We can get back to upstream with config option mentioned https://github.com/minio/mc/issues/3376#issuecomment-806013131 or we can propose fix to upstream

[2022-05-30 16:20] bwplotka commented on #5101
Blocked on: https://github.com/thanos-io/thanos/issues/5393

[2022-05-30 16:23] Akshit42-hue opened #5396 "Broken Link"
**Thanos, Prometheus and Golang version used**:

**Anything else we need to know**:

[2022-05-30 16:24] #5396 closed

[2022-05-30 16:33] Akshit42-hue opened #5397 "Broken Link"
**What happened**:
In the https://thanos.io/v0.1/thanos/getting-started.md/#all-in-one-example page while clicking on "here" the "Page Not Found"
error pops-up  same with [dashboards](https://thanos.io/v0.1/thanos/getting-started.md/#dashboards) and [alerts](https://thanos.io/v0.1/thanos/getting-started.md/#alerts)

[2022-05-30 16:59] sharathfeb12 commented on #3913
Seeing the same issue on v0.26.0 as well.

[2022-05-30 17:44] B0go commented on #5393
I do plan on helping with other Thanos issues, but I believe you have more context to address this one @bwplotka :)

[2022-05-30 18:00] yeya24 commented on #5388
@piclemx I don't have a detailed date for the next release. But you can always test against that feature branch or main branch once it is merged.

[2022-05-31 04:25] hanjm opened #5398 "[feature request] Make receiver relabelConfig reloadable"
### Is your proposal related to a problem?

Thanks #5391 support relabel on receiver router, It is very useful feature to drop high cardinarly metrics to self protect.
It is static config, need reboot when config update.

### Describe the solution you'd like

Use fsnotify watch file change and reload it.

### Describe alternatives you've considered

(Write your answer here.)

### Additional contex

[2022-05-31 12:31] ebauman commented on #5385
Hey folks, I'm the lead dev for HobbyFarm (https://github.com/hobbyfarm/hobbyfarm), a browser-based learning tool created to address this need. I'd love to toss our hat into the ring as a solution you could look at using!

[2022-05-31 12:45] pedro-stanaka opened #5399 "Enable exploration of Thanos Store Gateway by (external) label pairs"
### Is your proposal related to a problem?

I help manage a deployment of Thanos with a most of the normal components (Store GW + Compactor + Querier + Query FE). We are handling blocks coming from several clusters (hundreds of them) into a single "observability" cluster. When trying to debug memory usage for a particular dashboard or query it is quite hard to figure out which Store Gateway holds

[2022-05-31 13:17] piclemx commented on #5398
@hanjm I can try to do that this week if you still need help.

[2022-06-01 16:21] yeya24 commented on #5359
Got the same issue.
![image](https://user-images.githubusercontent.com/25150124/171452622-37108112-5935-4e01-a4cb-a6c41f793816.png)

[2022-06-02 03:51] xiexg opened #5403 "Error when reloading file"
Hello,
When I updated the prometheus rule file, the sidecar container printed an error message and I'm not modifying this file
![image](https://user-images.githubusercontent.com/50699734/171548997-c88ac107-c945-46e6-b363-3ea6888f0ad0.png)

Version:
- thanos 0.25.1
- kubernetes v1.18.4

[2022-06-02 05:16] yeya24 commented on #5399
I love this idea in general. The question now is the interface to expose this. Whether it is a UI, API, or a cli tool.
From my perspective, a cli tool to fetch `/api/v1/blocks?loaded=true` from multiple store gateways are good enough.

[2022-06-02 08:41] douglascamata opened #5404 "Add write limits for tenants in Thanos Receiver"
### Is your proposal related to a problem?

Tenants can overload Thanos Receivers with remote write requests and bring the whole system down.

### Describe the solution you'd like

I would like put maximum limits on the size of remote write requests, so that a single tenant is less likely to negatively affect others.

These are the proposed "knobs" for limiting (please feel free to propose more an

[2022-06-02 11:03] mfilocha commented on #5359
Same for 0.26.0

[2022-06-03 05:46] hanjm commented on #5404
I think we can use bloom filter to track per tenant cardinality.

[2022-06-03 08:10] matej-g commented on #5186
I'm wondering if there's space to unify the formats between all configs / components :thinking:, since that DNS directive is being used with other components. Maybe there is way to reuse or adapt this to use the `discovery/dns` package?

[2022-06-03 08:53] douglascamata commented on #5404
@hanjm good idea! Thanks for the suggestion, I will investigate how we could use it.

[2022-06-05 12:21] saswatamcode commented on #5389
I think we already have env substitution for `--tracing.config` flag as defined [here](https://github.com/thanos-io/thanos/blob/release-0.26/pkg/extkingpin/flags.go#L125). The env substitutions follows [K8s style](https://kubernetes.io/docs/tasks/inject-data-application/define-interdependent-environment-variables/) though so it would be something like this. :)

[code]

[2022-06-06 07:58] whc9527 opened #5406 "store gateway一直在加载数据，无法启动"
部署方式: 容器化部署
Thanos版本: quay.io/thanos/thanos:v0.24.0

公司的Metrics是存储在S3上的，通过Thanos Store组件来进行查询，数据量很大.
![image](https://user-images.githubusercontent.com/17898805/172119412-07792347-eed6-4a92-b3ad-d4932ece4ea7.png)

thanos store的启动参数
`
      - args:
        - store
        - --log.level=info
        - --log.format=logfmt
        - --data-dir=/var/thanos/store
        - --grpc-address=0.0.0.0:10901

[2022-06-06 08:10] yeya24 commented on #5406
You can try to shard your store gateway using time sharding or hash sharding.

[2022-06-06 08:25] whc9527 commented on #5406
@yeya24
大佬，time sharding这个我有了解，是通过--min-time/--max-time来切，hash sharding这个功能我只在receiver组件做集群的时候用到过，请教下在store里这个功能有啥文档可以参考的吗？感谢了

[2022-06-06 16:33] yeya24 commented on #5406
@whc9527 https://thanos.io/tip/thanos/sharding.md/#relabelling would be a good example

[2022-06-06 22:21] phillebaba commented on #5320
Can anyone link to the relevant code that does the IP caching?

[2022-06-07 07:19] whc9527 commented on #5406
@yeya24
非常感谢，豁然了，我看下咋搞

[2022-06-07 16:40] phillebaba opened #5407 "receive: Incorrect error status code with multiple AlreadyExists"
**Thanos, Prometheus and Golang version used**:

Thanos: quay.io/thanos/thanos:v0.26.0
Prometheus: quay.io/prometheus/prometheus:2.36.0

**Object Storage Provider**:
Azure

**What happened**:

I am running a multi-tenant router-receiver setup with multiple Prometheus instances remote writing to it, and a replication factor of 2. At times an error occurs  where remote writing fails, and Prometheus

[2022-06-07 17:15] phillebaba commented on #5407
I think I have found the error. In `fanoutForward` all forwarding errors are wrapped into a multierr.
https://github.com/thanos-io/thanos/blob/22aefd6cc666d0b509ed3748d6f719b60952cf6b/pkg/receive/handler.go#L444

This is not unwrapped properly by the determine function meaning that any `AlreadyExists` error from the receiver will result in a 500 status code.

[2022-06-08 03:05] yeya24 commented on #5398
@piclemx Please go ahead. This feature would be a nice addition.

[2022-06-08 09:07] pedro-stanaka commented on #5399
I could write an CLI from that data I already have on my "server" that communicates with all stores, I will try to come up with something. The only problem here is that you always have to `kubectl exec` into some thanos pod to use the cli tool, whereas with a web UI it could be deployed as part of whole deployment.

[2022-06-08 09:10] fpetkovski commented on #5399
I think extending the existing web tooling would be great. For example, adding a new `Stores web` command here: https://thanos.io/tip/components/tools.md/

[2022-06-08 13:47] shovelend commented on #4347
Please reopen, issue is still occurring.

[2022-06-08 13:53] fpetkovski commented on #4993
I ran into the same issue today. Once a tenant stops sending data
1. the WAL of the tenant does not get flushed
2. retention is not properly applied.

I believe the cause for 2. is because of this: https://github.com/prometheus/prometheus/blob/main/tsdb/db.go#L1227
Since no new blocks are created, comparison with the latest block always produces a time difference which is lower than retention.

Th

[2022-06-08 14:19] phillebaba commented on #5407
I really think that there is something weird going on when the replication factor is greater than one. Decreasing the replication factor temporarily gets all Prometheus agents out of their bad loop, and then it can be increased again. When decreasing the replication factor it starts returning 409 errors instead which gets them to backoff and decrease their shards.

The issue with testing this is t

[2022-06-08 15:07] matej-g commented on #5389
Closing this as it truly seems this is already implemented, thanks @saswatamcode :+1:

[2022-06-08 15:07] #5389 closed

[2022-06-08 15:15] matej-g commented on #5397
I think that's because that is a very outdated documentation (for `v0.1`), I don't think it makes sense fixing this since the links, docs etc. might not exist anymore. I'd suggest closing this rather.

[2022-06-08 15:15] #5397 closed, assigned to nobody

[2022-06-09 02:33] xiexg commented on #5403
hello @matej-g,
- This is my rule files, mount to the sidecar container as configMap volume, Directory is "/config/prometheus/rules"

![image](https://user-images.githubusercontent.com/50699734/172748909-0ec583b4-073d-4850-99ff-9566630614e1.png)

1. When I update yz_pod_alerts.yml files, the error comes from yz_etcd_alerts.yml file, but it does not affect yz_pod_alerts.yml file update

![image](ht

[2022-06-09 04:30] mbrancato commented on #4923
Just wanted to add this here, I ran into this same issue during an upgrade:

[code]

I'm not sure if others are experiencing this using the bitnami helm chart, but that is how I installed Thanos. The issue was that the querier parameter `--grpc-client-server-name` was missing after upgrading from the 9.x to 10.x version of the chart. At some point they changed the values structure from `query.grpc

[2022-06-09 05:53] fpetkovski commented on #5407
I think we might be able to catch this with a good enough test. For clarification, do you only see this when running separate receivers and ingesters?

[2022-06-09 08:27] fpetkovski commented on #5320
Seems to be this function: https://github.com/thanos-io/thanos/blob/main/pkg/receive/handler.go#L815

[2022-06-09 09:11] fpetkovski commented on #5407
This can also be a bug in how we verify quorum during replicatin:
https://github.com/thanos-io/thanos/blob/main/pkg/receive/handler.go#L438

The actual formula should be
[code]
So with replication factor of 2, it should be sufficient for just one write to succeed.

[2022-06-09 09:57] bwplotka commented on #1972
FYI: I played with much simpler API for own use https://github.com/bwplotka/tracing-go

[2022-06-09 10:07] squat commented on #1972
ooOOooh!

[2022-06-09 11:50] wiardvanrij commented on #5404
Have you seen how Loki implements this as well? Might give some inspiration (not sure if relevant tho). For example limiting on bytes/s might also be useful. Anyhow, sounds really great to have!

[2022-06-09 11:51] bwplotka commented on #5404
From community discussion:
* It makes sense, let's do this
* Ideally disabled by default to not break compatibiltiy
* Provide best practices - what works

[2022-06-09 13:48] jakuboskera commented on #2089
@omerlh I have managed how to do it.

1. Uncomment key `.targetGroups .cluster` in a file `mixin/config.jsonnet` and put there value `up`
[code]
1. (Optional) You can also uncomment key `.targetGroups .namespace`
1. Generate dashboards
[code]
1. Dashboards will appear at folder `examples/dashboards/`

[2022-06-09 15:11] Garagoth commented on #5201
So... downsampling starts after compacting... that leads to following situation:
![image](https://user-images.githubusercontent.com/916161/172880933-4e91fe14-3961-49db-ac7b-e3b350ba6a65.png)

...and it is still compacting another 14d block in raw resolution.

Kinda pointless work when my config looks like this:
--retention.resolution-raw=7d --retention.resolution-5m=30d --retention.resolution-1h=6

[2022-06-09 20:34] gburek-fastly opened #5414 "Add configurable parallelism to objstore.DownloadDir and objstore.UploadDir"
Our environment has large blocks that are comprised of many chunks:
[code]

They are slow to upload and download:
[code]

It appears that thanos [iterates through a bucket](https://github.com/thanos-io/thanos/blob/main/pkg/objstore/objstore.go#L263) and downloads these files sequentially and it does [the same for uploading them](https://github.com/thanos-io/thanos/blob/main/pkg/objstore/objstore.g

[2022-06-10 07:58] Garagoth commented on #5201
Or just disable 14d blocks, what is the reason for having them in this case?

[2022-06-10 09:16] rrraditya commented on #5298
hi All,

after some investigation the 504 gateway timeout was triggered by the S3 load balancer due to long time when query list of objects. because the objects is quite a lot.

so can we manually clear some prometheus blocks data? is it going to impact other thanos components because we delete old prometheus blocks data manually? because we cannot depends on thanos compactor to delete old data ba

[2022-06-10 09:38] rrraditya commented on #5298
hi @wiardvanrij
hope you can find this ticket again and help us on this inquiries.
thank you.

[2022-06-12 21:56] #4693 closed

[2022-06-12 21:56] #4921 closed

[2022-06-12 21:56] #4989 closed

[2022-06-12 21:56] #5177 closed

[2022-06-12 21:56] #5191 closed

[2022-06-12 21:56] #4773 closed

[2022-06-13 06:13] ahmadbabaeimoghadam opened #5416 "Store, Compactor: meta.json file exists: stat s3 object: 400 Bad Request"
**Thanos, Prometheus and Golang version used**:

Thanos version:
[code]

Prometheus version:
[code]

**Object Storage Provider**: S3

**What happened**:
Thanos stores and compactors are showing the following error repeatedly:

[code]

My S3 cost is drastically increased since my new configuration is set and the reason is the head requests.

**What you expected to happen**:
They do not show this er

[2022-06-13 07:43] GiedriusS commented on #4557
@kakkoyun I am continuing work on this - already switched to upstream protobuf compiler. Just need to fix tests & add pooling now. My branch is available on https://github.com/GiedriusS/thanos/tree/gogo_remove.

[2022-06-13 08:26] GiedriusS commented on #5037
From our experience, groupcache is still slow due to the last point - we need to fetch multiple keys in one request.

[2022-06-13 10:16] douglascamata commented on #5404
@wiardvanrij thanks for the tip. I checked out their limits and I believe it makes total sense that we have a limit on request body size too.

I don't want to dive into rate limits (i.e. bytes per second or timeseries per second) in this proposal though, as these add more complications to keep calculating the data. I believe they could be part of a different proposal and possibly take advantage of

[2022-06-13 16:25] ahmadbabaeimoghadam commented on #5416
Thanks, @moadz, for your reply!

We are running multiple Thanos compactors against one S3 bucket, but different block streams, I think. Since we are setting `--selector.relabel-config` to only keeping blocks related to one system for each compactor. Shouldn't it work?

[2022-06-13 16:35] moadz commented on #5416
What does your `--selector.relabel-config` look like?

[2022-06-14 11:39] phillebaba commented on #5407
It might take some time to setup a new environment without the ingestor split. I will try to get some time to write a unit test to reproduce this.

[2022-06-14 20:55] drstevens commented on #4646
@Himanshu2107 are you working on this?

[2022-06-14 21:36] arunmarria opened #5422 "Query: unable to get basic authentication work for thanos querier service"
**Thanos, Prometheus and Golang version used**:
Thanos - 0.23.1-scratch-r1
Prometheus - v2.27.1

**Object Storage Provider**: AWS s3 bucket

**What happened**: We want to expose thanos querier service as loadbalancer and restrict access using some authentication mechanism so not everyone on the internet can access it. So we are following this guide - https://thanos.io/tip/operating/https.md/ but t

[2022-06-15 06:15] yangyang919 commented on #5422
@bwplotka @saswatamcode Guess you guys could provide some help on this issue? Thanks!

[2022-06-15 06:28] saswatamcode commented on #5422
It's a bit difficult to guess what's wrong based on this. Can you provide the YAML config for Querier, as it seems to be not detecting the path to HTTP config file? :)

Also, regarding docs, yes it's a good idea to make a detailed guide around it, maybe even Katacoda/Killercode scenario. FWIW Prometheus also has similar docs on the same https://github.com/prometheus/prometheus/blob/main/docs/confi

[2022-06-15 06:39] saswatamcode commented on #5422
@yangyang919 @arunmarria for a simpler local example, this works,

Generating cert and key
[code]

Preparing config.yaml file with one user,
[code]

Starting Querier (some dummy stores),
[code]

You can then login with `saswata` & `hello` on  https://localhost:39090.

[2022-06-15 11:33] ahmadbabaeimoghadam commented on #5416
@moadz any updates?

@moadz any updates?

[2022-06-15 13:21] douglascamata commented on #5404
The remote write request body size (in bytes) will be exported as a histogram. And I propose these buckets:

* 1K, 32K, 256K, 512K, 1M, 16M, 32M.

Please let me know if you have other suggestions.

For the amount of samples & timeseries per request, I would like to also make them a histogram. The bucket would be configurable and a default provided. Which buckets do you think we could provide as de

[2022-06-15 19:28] arunmarria commented on #5422
Thanks for checking @saswatamcode , I will give this a try and update if it works for us.

[2022-06-15 21:16] yeya24 commented on #3406
Still valid

[2022-06-16 08:42] bwplotka commented on #4624
AC:
* There is only single `HTTPConfig` struct that can be unmarshalled from YAML in the consistent way.
* There is only single reused helper for creating Transport from this `HTTPConfig`
* We don't break Cortex deps

[2022-06-16 09:29] SrushtiSapkale commented on #4624
I am working on this issue🙌

[2022-06-16 12:36] #4972 closed

[2022-06-16 15:34] bwplotka commented on #5395
Yes, I would see that as a potential gRPC API for our endpoints that Querier could merge.

Not if you use separate meta-monitoring which is a best practice (:

I think the main questions is to nail down exact API - what we want to people use it for and if a nice metric exposed by the receiver to meta-monitoring cannot fulfil the same purpose.

### Why not

* Metrics exposed by receiver could hold

[2022-06-16 16:41] Himanshu2107 commented on #4646
@drstevens no, not right now.

[2022-06-17 07:26] iceman91176 commented on #4298
Regarding @bobykus31 question

Although this might not be efficient it might be a workaround.  How does compactor handle such a rewritten block ? Will it just be processed because it is a new block from the  compactors view ? Will it be ignored ?

Maybe @yeya24 can answer this ?

[2022-06-17 23:13] vinfang commented on #1435
Sorry to bring up an old topic, but for those who managed to add the thanos side car into grafana, is this referring to the prometheus source itself, or is there actually a thanos side car DNS and port number to point grafana to as a data source? I added the thanos front end query and prometheus, and in grafana I setup a panel with mixed data sources, and I get overlapping duplicate data for the 2

[2022-06-18 07:41] deepto98 commented on #4809
Can I pick this up?

[2022-06-18 08:32] matej-g commented on #4809
Hi @deepto98 absolutely go for it!

[2022-06-19 08:49] tend2infinity commented on #4606
Still relevant

[2022-06-19 20:31] yeya24 commented on #5045
Still valid

[2022-06-19 20:56] zamazan4ik opened #5425 "Document supported hardware architectures"
Hi!

Could you please put the information about supported architectures to the documentation please? E.e. about supported architectures for different operating systems, some specific requirements to the supported instructions, if you have any (e.g. maybe AVX is required - I do not know). Currently, in the documentation I see that only x86-64 architecture is supported - is it still true? Also, whic

[2022-06-20 14:13] matej-g commented on #5403
Not sure, AFAIK we should be following symlinks, looking [at the code](https://github.com/thanos-io/thanos/blob/main/pkg/reloader/reloader.go#L333).

I'm not sure how exactly you provision those rule files, but maybe there's something strange. Is that a full output? Looking at the directory name, it contains `rules/..2022_<etc>`, which seems strange, maybe a missing slash?

[2022-06-20 17:04] Akshit42-hue commented on #5045
Hey @yeya24, Should I give it a try

[2022-06-20 22:58] sharathfeb12 commented on #3913
I am running v2.30.1. seeing the same issue on v2.36.1 as well.

[2022-06-21 07:19] matej-g commented on #5045
Looks like there is a PR open from @tend2infinity here https://github.com/thanos-io/thanos/pull/5182 that still needs a bit of attention, maybe you could join force in finishing it?

[2022-06-21 07:48] phillebaba commented on #3913
@sharathfeb12 I am guessing you are running with a replication factor greater than 1? Out of interest are you running Thanos Router-Ingestor or just a single stage Recevier?

Temporarily setting the replication factor to 1 seemed to solve the issues. I have created #5407 to track some of the debugging that I have been doing for this issue. My guess is that the incorrect status code is returned by

[2022-06-21 12:31] kapendra-sentieo opened #5428 "Compactor Stopped Running"
My compactor was running smoothly and I had my  server restart on the weekend since it is showing the below error
[code]

**Environment**:
- "20.04.4 LTS (Focal Fossa)"
- Kernel - Linux grafana-compactor.sntio.com 5.13.0-1031-aws
- Others:

I have also tried updating the compactor but no luck

# Setup

2 Prom
2 sidecar
2 gateway
1 compactor

[2022-06-21 15:47] matej-g opened #5431 "Ruler: In stateless mode, `ALERTS` and `ALERTS_FOR_STATE` metrics are not being written"
**Thanos, Prometheus and Golang version used**:
Thanos - latest `main (93e7ced)`

**What happened**:
As a part of the process of testing Thanos for [Prometheus Alert Generator Compliance](https://github.com/prometheus/compliance/tree/main/alert_generator) (PR: https://github.com/thanos-io/thanos/pull/5315) I realized that the test suite is failing when running ruler in a stateless mode. I traced t

[2022-06-21 16:46] #5203 closed

[2022-06-21 16:52] d7volker opened #5432 "Unable to communicate with Sidecar behind the Nginx Ingress"
**Thanos, Prometheus and Golang version used**:

Thanos 0.26.0-scratch-r4
Prometheus 2.33.1

**Object Storage Provider**:

GCP

**What happened**:

I experience following issue: The Query instance is not able to communicate with the Thanos Sidecar. The error message says the following:

[code]

I already checked the certificates twice and more. What makes me thinking that the grpcurl result also i

[2022-06-21 18:09] matej-g commented on #5431
I think an (potentially) important part I left out is that the mentioned rule using `ALERTS` metrics depends on alerts series from the rules above it in the same group.

[2022-06-21 20:47] wiardvanrij commented on #5425
The assets that we create in the releases; https://github.com/thanos-io/thanos/releases should provide a quick overview of the supported archs. Could you point me to where you've read about x86-64 architecture? Then I'll have a look what we can do. Thanks!

[2022-06-21 20:50] zamazan4ik commented on #5425
@wiardvanrij Sure! https://thanos.io/tip/thanos/getting-started.md/#building-from-source - "Thanos is built purely in [Golang](https://go.dev/), thus allowing to run Thanos on various x64 operating systems.". I have interpreted it as "x86-64".

Could you please somewhere in documentation mention that you support only prebuilt architectures? It will be helpful.

[2022-06-22 01:11] yeya24 commented on #2805
Still caught the same error during compaction time. Wondering is there a way for me to overcome this issue or delete the bad series only using the bucket rewrite tool.

[code]

[2022-06-22 15:01] fpetkovski opened #5434 "Receive: Allow specifying tenant-specific external labels"
### Is your proposal related to a problem?

We would like to partition and select tenant blocks from Receivers in an arbitrary manner.

### Describe the solution you'd like

I would like to be able to add additional external labels to tenants created in Thanos Receivers.
Currently it is only possible to add external labels to Receivers directly, but not to individual tenants created in those Recei

[2022-06-22 15:33] squat commented on #5434
I think this make a lot of sense. It's also something that could integrate pretty naturally into the tenant configuration file. If this were the path, we might want to change to yaml for the configuration so we can more naturally mirror a prometheus relabel-config.

[2022-06-22 22:11] yeya24 commented on #5431
`ALERTS` and `ALERTS_FOR_STATE` are remote written to Thanos receivers by the stateless ruler. Since the querier points to receivers directly I think it is able to get the series.

Not related I think but it depends on the alert compliance test framework maybe. #5230 will help the stateless ruler restore the `ALERTS` and `ALERTS_FOR_STATE` info from remote storage when it starts. In the compliance

[2022-06-22 23:14] michael-burt commented on #5431
Thank you for the clarification @yeya24

[2022-06-23 07:11] PowerSurj opened #5435 "Thanos Compact not downsampling to 1h resolution"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.27.0 (branch: HEAD, revision: f68bb366d18557a5347e6b38013f363ad5be05a4)
  build user:       root@708554d4fa46
  build date:       20220705-14:57:42
  go version:       go1.17.11
  platform:         linux/amd64

**Object Storage Provider**:
Azure

**What happened**:

When i check the existing blocks resolutions, i can only see 5min

[2022-06-23 08:16] bwplotka commented on #2527
Proven to be hard. Let's start with "non-generic" ones first (:

[2022-06-23 08:16] bwplotka commented on #3151
Actually, let's close and add fresh one -- this might be too old.

[2022-06-23 08:16] #3151 closed

[2022-06-23 08:35] bwplotka commented on #3068
Here: https://github.com/thanos-io/thanos/pull/3390

[2022-06-23 08:47] bwplotka commented on #3068
Update: Currently compactor will not create bigger blocks than with the index configured with [`compact.block-max-index-size` (hidden flag)](https://github.com/thanos-io/thanos/blob/ce84ec521c99493e98fb17ec4bb1358b56a68ebb/cmd/thanos/compact.go#L731). Thus this issue can be closed.

I will add another one with more dynamic solution that actually can split blocks vertically.

[2022-06-23 08:47] #3068 closed

[2022-06-23 08:50] bwplotka opened #5437 "Vertical Block Sharding"
The proposal with motivation, proposed approach is almost ready [here](https://github.com/thanos-io/thanos/pull/4191).

Help wanted to get that to completion.

AC:
* Compactor can make sure from e.g. 4 large 2d blocks to compose 4 vertically splitter 8d blocks. This is to assure we can parallize fetch from blocks on store gateway level.

[2022-06-23 08:50] bwplotka commented on #3068
Created for tracking https://github.com/thanos-io/thanos/issues/5437

[2022-06-23 08:56] bwplotka opened #5438 "Querier Read Limits"
With more streamed fanout (https://github.com/thanos-io/thanos/pull/5296) we are finally able to add more construction series / sample limits to Querier for QoS. This is because we know immediately how many series and samples globally we fetch into Querier instead of learning about that only after we computed most of it.

NOTE: This does not mean we don't need limits on other components like Store

[2022-06-23 10:49] douglascamata commented on #5438
I am also very interested in this.

Is there already a configurable timeout for queries that will cause work cancellation to be pushed downstream?

[2022-06-23 11:02] douglascamata commented on #5438
So there is some interest in making other parts of Thanos tenant-aware via configuration of a tenant label name?

[2022-06-23 11:13] matej-g commented on #5431
I think even if alert compliance tester is taken out of equation, the fact is I cannot see those alerts being correctly evaluated in ruler, even though the metrics are there. So unless this is a user error and I'm doing something wrong during the test. That would also mean this should not be a queuing issue (that would make sense to me if the alert had correct state in ruler but were not getting t

[2022-06-24 02:12] yeya24 commented on #1318
Closed by https://github.com/thanos-io/thanos/pull/5337.

[2022-06-24 02:12] #1318 closed

[2022-06-24 02:18] yeya24 commented on #3068
This feature is mainly about limiting block index size? Chunk sizes are not included

[2022-06-24 11:58] vanugrah opened #5444 "Thanos Receive: High query latency for exemplars with zero exemplars in storage"
**Thanos, Prometheus and Golang version used**:
- Thanos: 0.26.0
- Prometheus: 2.35.0

**Object Storage Provider**:
Pure Storage

**What happened**:
Hey folks,

We've encountered an issue with our production thanos deployment that we suspect may be a bug. Long story short we are using thanos in both the sidecar approach alongside Prometheus as well as with Thanos receive and remote write.

While t

[2022-06-24 12:06] vanugrah commented on #5444
If others encounter this issue and need to disable exemplar querying from Grafana - I've written a small script that finds dashboards with exemplars enabled and sets exemplar querying to false:

https://github.com/vanugrah/grafana-disable-exemplars

Unfortunately Grafana had exemplars enabled by default which resulted in several hundreds of dashboards needing to be updated. Luckily they have fixed

[2022-06-24 13:36] bwplotka commented on #5444
Thanks for the report and great points.

I am surprised exemplars are enabled by default. Will investigate.

It sounds like naive fanout implementation and some slow down on the TSDB side.

[2022-06-24 17:16] zenador opened #5445 "Parse "out of memory storing object" error and report it with a dedicated "reason""
### Is your proposal related to a problem?

There is a memcached bug where this error appears:
[code]

The above is logged from [here](https://github.com/thanos-io/thanos/blob/a0f41812f01e782dd9e5e09755f0348da6fd8e88/pkg/cacheutil/memcached_client.go#L406-L413).

As it is logged with debug level, these errors are often hidden unless it triggers an alert.

### Describe the solution you'd like

For

[2022-06-24 17:21] zenador opened #5446 "Retry storing items in the memcached client when "out of memory storing object" error occurs"
### Is your proposal related to a problem?

When memcached memory is full and it can't reclaim it, storing an entry to the cache fails with this error:
[code]

The above is logged from [here](https://github.com/thanos-io/thanos/blob/a0f41812f01e782dd9e5e09755f0348da6fd8e88/pkg/cacheutil/memcached_client.go#L406-L413).

### Describe the solution you'd like

When the above error occurs, retry storin

[2022-06-24 17:55] matej-g commented on #5431
My apologies, so I was mistaken, I cannot query for `ALERT` metrics even in querier, after running and validating few more tests. I found out the problem is with the fanout queryable. I finally noticed this in the ruler logs (for each rule group):
[code]
Because we're specifying agent DB as the primary queryable in the fanout storage, calling `Querier()` on it always results in error because it's

[2022-06-24 18:56] yeya24 commented on #5431
No, this error is in the restore phase? It has nothing to do with the compliance test unless the test requires alerts state restoration.
For writing `ALERTS` and `ALERTS_FOR_STATE` metrics to the receivers, it should be fine as remote write will take care of it.

[2022-06-25 15:53] neeraj2713 commented on #5302
can i work on this issue?

[2022-06-27 04:04] xiexg commented on #5403
I modified the "--reloader.rule-dir" parameter, from "/config/prometheus/rules" to "/config/prometheus/rules/", it solved my problem
However, I don’t understand the meaning of slash. What is the difference between slash and missing slash?

[2022-06-27 07:54] matej-g commented on #5431
We can leave aside the compliance test and focus on why `ALERTS` and `ALERTS_FOR_STATE` metrics are not being written (which causes the test fail, since one of the alerting rules in the test **depends** on the `ALERTS` timeseries).

If I'm reading the Prom rules manager go correctly:
Even though this error happens in the restore phase, it prevents the alert metrics from being written. That custom

[2022-06-27 08:04] yeya24 commented on #5431
I see, yeah I didn't notice the that unrestored rule will prevent appending new alerts and alerts state samples.
But I am also wondering why it is designed this way. The write path shouldn't be related to how alerts are restored.

[2022-06-27 10:27] d7volker commented on #5432
My problem is solved I replaced the Ingressinc (https://github.com/nginxinc/kubernetes-ingress) through https://github.com/kubernetes/ingress-nginx.

[2022-06-27 10:27] #5432 closed

[2022-06-27 10:35] vanugrah commented on #5444
Hey  Bartek - thanks for the quick response!

I don't think  exemplars storage is enabled by default - though the exemplar query endpoint is. A fan out implementation on a large receive deployment could very well explain the latency. What intrigues me though is you can see that the proxy_exemplar behavior is different for thanos sidecar as compared to thanos receive:

![Screen Shot 2022-06-27 at 1

[2022-06-27 15:54] anoop2503 opened #5450 "Thanos Querier/store gateway is failing to return just 2 months of data"
**Thanos, version used**: v0.23.1

**Object Storage Provider**: S3

**What happened**:
Deployed only thanos-querier and thanos-store-gateway to use an S3 bucket to display historical data. However, it is failing to return just 2 months of data.

**What you expected to happen**: Thanos should return data without failure

**How to reproduce it (as minimally and precisely as possible)**:

Deploy than

[2022-06-27 22:22] victorlin-houzz commented on #3677
For cross account s3 bucket write, you need to add this into your s3 configmap (mine is from amazon/k8s):
put_user_metadata: {"X-Amz-Acl": "bucket-owner-full-control"}
This will grant the main account permission to read/write the objs sent from other accounts.

[2022-06-28 06:52] Tontaube commented on #5407
Please ask if you need further information, we're experiencing this issue in a routing receive setup and obviously use multiple receive for scaling reasons, which makes applying the workaround quite hard.

[2022-06-28 08:08] pracucci commented on #5445
I would suggest `memory-full` to better clarify what's going on.

[2022-06-28 09:15] Freakazoid182 commented on #4791
Hi. I know this has been closed for a while, but I'm currently running into the same issue, and am trying to identify the corrupt chunks, same as @aymericDD. I cannot seem to find any reference to chunk `67108848` (see error).

[code]

[2022-06-29 09:47] PhilipGough opened #5452 "High error rate and choking of receives during load test"
**Thanos, Prometheus and Golang version used**:
Same behaviour tested with both `v0.27.0-rc.0` and `v0.25.2`

**What happened**:

We notice issues when load testing Thanos Receive to handle twenty million active series at 2 DPM.

Relevant config from receiver:
[code]

Note, that the load test has had several successful runs when the replication factor was set to 1, but appears to reproducible at w

[2022-06-29 10:33] bwplotka commented on #5452
Also do I see correctly we see 6 x 10 millions head chunks? Perhaps our replication is too naive and picks series randomly (what @moadz suggested at some point)?

[2022-06-29 10:34] bwplotka commented on #5452
Also if we have any repro scripts, it would be amazing (:

[2022-06-29 12:15] bill3tt commented on #5452
60 million head chunks is going to be right here as the script is producing 20M active series and we have a replication factor of 3.

[2022-06-29 12:16] bwplotka commented on #5452
ack, makes sense, I thought we have 10M pushed

[2022-06-29 14:04] phillebaba commented on #5407
@Tontaube are you seeing the same issue with a replication factor of 1? I think that is the interesting detail, which will help confirm the idea that the issue is related to the replication factor logic.

[2022-06-29 14:57] amohamedhey commented on #5432
it didn't work with me which version are you using?

[2022-06-29 16:44] d7volker commented on #5432
hm, I used the recent helm chart helm-chart-4.1.4. It is build upon v1.2.1

[2022-06-30 07:55] eharcevs commented on #5272
I investigated the issue and I think I found the reason:

As @nikitapecasa noted above the error occurs when compactor tries to downsample a block of 5m resolution to 1h resolution. It expects all chunks to be of type `AggrChunk`, but encounters an "empty" `XORChunk` and returns the error.
The question is - how did this `XORChunk` end up in a downsampled block?

I think it appeared during vertical

[2022-06-30 17:05] vanlongme commented on #3826
Can you guys give me the raw of those diagram files to make change ?

[2022-06-30 21:07] wuestkamp commented on #5385
hey @matej-g, just reach out to us on https://killercoda.com/support and we check your crashing environments. We also provide larger environments for open source projects.

[2022-07-01 06:29] fpetkovski opened #5458 "Race condition in proxy store"
**Thanos, Prometheus and Golang version used**:
Thanos version: thanosio/thanos:main-2022-06-23-f60b6598

**What happened**:
A Querier crashed several times with the following message

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x30 pc=0x158f678]

github.com/thanos-io/thanos/pkg/query.(*endpointRef).Series(0xc000cb9

[2022-07-01 08:10] matej-g commented on #5385
Thanks @wuestkamp for the tip, I'll take a look at support :+1:

[2022-07-01 10:01] bwplotka commented on #5272
Thanks for this investigations! Why not checking if chunk is empty and skipping it safely? (: Will comment on PR! Thanks.

[2022-07-01 10:06] badrabubker commented on #5171
@itayvallach: Are you using helm ? and if so which helm chart.
I believe the problem is not in Thanos but in the helm chart as I am facing the same problem

[2022-07-01 10:29] badrabubker commented on #5171
I was able to run thanos receiver binary without object store config
I submitted this issue https://github.com/bitnami/charts/issues/10995 for the bitnami helm chart

[2022-07-01 10:44] fpetkovski commented on #5452
It is worth checking `container_cpu_cfs_throttled_periods_total / container_cpu_cfs_periods_total` to see if and how often the containers are getting CPU throttled

[2022-07-01 11:38] eharcevs commented on #5272
Thanks for the feedback @bwplotka , adjusted the PR! That should make the downsampling process more resilient.
What are your thoughts about fixing the root cause of this issue - merging of overlapping `AggrChunk`s during compaction?
Should I open a separate issue for this?
I would like to try fixing it, but not sure about the right approach. One idea: since `AggrChunk` is a "wrapper" which contain

[2022-07-01 14:20] matej-g commented on #5403
Hm that is curious, the slash at the end should not make a difference as far as I can tell (and I'm not sure if that's what helped fixing your case). But if this works for you now we can close this issue :+1:.

[2022-07-01 23:55] sharathfeb12 commented on #3913
I am running with a replication factor of 2. This is because our GKE clusters go through a node pool upgrade very often. We do not want an outage when this happens. So, we are using a replication factor of 2.

Due to the errors, the service teams think there is an issue on the server-side; and are not confident using the Thanos solution. I have also seen that the count goes down when we run with 1

[2022-07-02 07:04] yeya24 commented on #5435
In order to downsample 1h blocks, block with 10d time range is required. Did you see your 5m downsampled blocks got deleted even if the time range is larger than 10d?

[2022-07-02 11:52] fpetkovski opened #5461 "Thanos Receive can create overlapping blocks"
Thanos Receiver can fail head compaction due to overlapping blocks. We have seen this happen in production and it caused an instance of Receiver to completely halt compaction and accumulate memory forever.

The root cause could be a race condition bug in TSDB itself: https://github.com/prometheus/prometheus/issues/8055

It is possible to allow overlapping blocks in TSDB, but maybe this should be e

[2022-07-03 01:54] Kampe commented on #5407
Can confirm, we see the same issue with a replication factor of 1

[2022-07-03 10:43] jianghenglz opened #5462 "--prometheus.http-client-file Format exam?"
### Is your proposal related to a problem?

--prometheus.http-client-file=<file-path> Path to YAML file or string with http client configs. see Format details : ...

### Describe the solution you'd like

Format exam?

I want --prometheus.http-client-file  Format exam!!!

[2022-07-03 10:46] jianghenglz commented on #5462
sidecar
 caller=sidecar.go:172 msg="failed to fetch prometheus version. Is Prometheus running? Retrying" err="expected 2xx response, got 401. Body: Unauthorized\n"

[2022-07-03 22:46] yeya24 opened #5464 "Support Github Codespace"
### Is your proposal related to a problem?

Right now Thanos repo supports using Gitpod as a remote development environment. Similar to that, Github codespace is also a remote development environment that integrates better on GH.

![image](https://user-images.githubusercontent.com/25150124/177059628-2764af50-29e4-4972-b1f3-1a3e98a2b244.png)

It would be good to have better support for this.

### D

[2022-07-03 22:53] yeya24 commented on #5462
We do need documentation for this. Help wanted.

[2022-07-03 23:16] italux commented on #5450
It looks like I'm facing the same behavior but using Azure Blob instead of S3 and I'm struggling to understand if the error reported bu store gateway is really related to the querier `DeadlineExceeded`. It looks like that querier is simple ignoring `--store.response-timeout` param

Querier error log:
[code]
Storegateway debug log:
[code]

[2022-07-04 10:23] matej-g commented on #5458
Thanks for the report. I'm wondering if this is coming from the endpoint update logic, where we set the store client to `nil` if metadata for store client is not available upon receiving info, which would explain why we see panic (trying to call `Series` on nil client. See this condition:
https://github.com/thanos-io/thanos/blob/4de555db87d38d69b78602c1e1d0fb8ed6e0371b/pkg/query/endpointset.go#L64

[2022-07-04 11:12] mark4409 opened #5467 "Can't connect to Azure Storage using private endpoint"
Using Thanos 0.26.0 on the latest docker.

I'm having difficulty using an Azure Storage account using private endpoints. DNS is configured correctly and the log file does show it connecting to the correct IP for the private endpoint. It fails though with the message:

<code>thanos-thanos-sidecar-2-1  | level=info ts=2022-07-04T09:47:01.720820509Z caller=factory.go:49 msg="loading bucket configurat

[2022-07-04 13:54] italux commented on #5450
Looking into the code, the [`err="getting metadata: fallback fetching info from`](https://github.com/thanos-io/thanos/blob/v0.23.0/pkg/query/endpointset.go#L512) uses the [context](https://github.com/thanos-io/thanos/blob/v0.23.0/pkg/query/endpointset.go#L476) with `gRPCInfoCallTimeout`, which seems to have a fixed value (_aka_: [`5s`](https://github.com/thanos-io/thanos/blob/v0.23.0/pkg/query/end

[2022-07-05 01:07] hanjm commented on #5428
This doc will helpeful to solve overlap issue: https://thanos.io/tip/operating/troubleshooting.md/#overlaps

[2022-07-05 09:22] xiexg commented on #5403
Ok, I will close this issue, thank you

[2022-07-05 09:22] #5403 closed

[2022-07-05 09:38] cssivision opened #5469 "label matchers in labels API actually not work"
I am using thanos 0.22.0 in work, using the prometheus api [/api/v1/label/<label_name>/values](https://prometheus.io/docs/prometheus/latest/querying/api/#querying-label-values)  query label values, but thanos query always return all label values no matter what i set the `match[]` field, source code below.
[code]
after spending sometime digging into the source code.

according to this [PR](https://

[2022-07-05 15:09] bwplotka commented on #3967
Contributed the latest, even further optimized version: https://github.com/minio/minio-go/pull/1673

[2022-07-05 15:11] bwplotka commented on #5101
I updated fork, so we can start using IMDSv2 unless there is anything to do on our side to enable it.

See: https://github.com/thanos-io/thanos/pull/5474

[2022-07-05 21:19] BouchaaraAdil commented on #3711
/reopen

[2022-07-06 09:33] SKUndef commented on #5359
+1

[2022-07-06 11:22] mark4409 commented on #5462
For reference, I've had trouble getting the following format to work in this file for basic authentication to prometheus:

[code]

However I have had success with the following:

[code]

[2022-07-06 13:07] kapendra-sentieo commented on #5428
Let me try this

[2022-07-06 13:59] douglascamata commented on #5404
FYI, the remote write request body size metric was added as a summary without any quantiles defined yet.

[2022-07-06 15:45] roystchiang opened #5478 "Memcached client not configured with dial timeout"
**Thanos, Prometheus and Golang version used**:
We use Cortex, but under the hood the Thanos version is d1acaea2a11a3e4db6bb435c98dea63c517e3530

**Object Storage Provider**:

S3

**What happened**:

We run Cortex, and the store-gateway component heavily utilizes the Thanos bucket store

When memcached cluster is unresponsive, the query times out on the cache path, instead of timing out fast, and

[2022-07-07 01:24] yeya24 commented on #5464
Yeah, feel free to take it!

[2022-07-07 01:33] yeya24 commented on #5370
I think this is out of Thanos compactor's scope as it is for this usecase only. Doing blue-green deployment for the compactor is really a special usecase and ideally your CD tool should be able to exclude compactor from blue green deployment if possible. Other solution is to have an init container to wait until other compactors are terminated.

I'll close this issue for now. If there are other use

[2022-07-07 01:33] #5370 closed

[2022-07-07 01:35] yeya24 commented on #5327
Due to lack of response, I will close this issue. Feel free to reopen it if you still have this issue

[2022-07-07 01:35] #5327 closed

[2022-07-07 01:36] yeya24 commented on #5307
Due to lack of response, I will close this one. Feel free to reopen it if you still see this issue

[2022-07-07 01:36] #5307 closed

[2022-07-07 01:37] yeya24 commented on #5235
Close as discussed, shipper is not suitable for this work.

[2022-07-07 01:37] #5235 closed

[2022-07-07 02:25] #5272 closed

[2022-07-07 03:55] yeya24 commented on #5469
Umm, I just tested this and it is working well in my environment.

For the code you mentioned, during https://github.com/thanos-io/thanos/blob/main/pkg/api/query/v1.go#L516, when we parse time params https://github.com/thanos-io/thanos/blob/main/pkg/api/query/v1.go#L938, we will call `r.FormValue` so the form should be parsed anyway.

I will close this issue as this is not a bug. Please check out

[2022-07-07 03:55] #5469 closed

[2022-07-07 07:37] gk-mevers commented on #5450
Running into the same issue with Azure Blob storage, already at 7 days of data.

Here are my relevant settings:

[code]

Also changed --query.default-step to 5m, but that did not do enough. [Thanos 0.27 also has the 5 second fixed timeout](https://github.com/thanos-io/thanos/blob/f68bb366d18557a5347e6b38013f363ad5be05a4/pkg/query/endpointset.go#L290)

[2022-07-07 09:15] mark4409 commented on #2211
I'm also getting the error with Azure Blob Storage on v0.26.0...

`level=warn ts=2022-07-07T09:11:33.607892496Z caller=shipper.go:239 msg="reading meta file failed, will override it" err="failed to read /prometheus/thanos.shipper.json: open /prometheus/thanos.shipper.json: no such file or directory"`

[2022-07-07 09:28] mark4409 commented on #2211
The file thanos.shipper.json does exist on the volume and is owned by root however has 644 permissions. The volume itself is used by the default prometheus user 'nobody' (from the latest prometheus image)

[2022-07-08 03:41] yeya24 commented on #5478
Yeah, I think this makes sense. @roystchiang Would you like to open a PR?

[2022-07-08 03:42] yeya24 commented on #5450
Actually I think we can definitely make this timeout a configurable flag. I have seen this in our Thanos setup, too. As we are a central-edge setup, this error is common. I will open a pr to update the timeout.

[2022-07-08 05:35] roystchiang commented on #5478
yup! I will be more than happy to :)

[2022-07-08 07:48] yeya24 opened #5482 "Repair non-empty XOR chunks during 1h downsampling"
### Is your proposal related to a problem?

Follow up issue mentioned in https://github.com/thanos-io/thanos/pull/5453#discussion_r915392669.

https://github.com/thanos-io/thanos/pull/5453 solves the issue that if an empty XOR chunk is encountered, it will be skipped during 1h downsampling. However, if the chunk is not empty, compactor will throw an error and start halting.

In this case, there is

[2022-07-08 11:17] matej-g commented on #5458
@fpetkovski In your tests with my branch from #5468, did you still encounter this? Is it safe to assume this fixed it? :slightly_smiling_face:

[2022-07-08 11:47] fpetkovski commented on #5458
This is a bit hard to reproduce because it's a race condition. We can close the issue and I'll reopen it if I see it again :)

[2022-07-10 07:11] bishal7679 opened #5485 "Typo in storage.md file"
### Is your proposal related to a problem?

**There is a typo in storage.md file**

![Screenshot (178)](https://user-images.githubusercontent.com/70086051/178134790-7c337345-caa6-4ec5-99e7-ae0dea4474b4.png)

And also `#names` looks good instead of #names

![Screenshot (179)](https://user-images.githubusercontent.com/70086051/178134932-84fb0b5d-adae-409f-a5f8-f6316db2edb6.png)

### Describe the sol

[2022-07-10 07:14] bishal7679 commented on #5485
/good first issue

[2022-07-10 07:14] bishal7679 commented on #5485
/assign

[2022-07-11 07:51] #5485 closed

[2022-07-11 10:48] matej-g commented on #5186
Resolved by https://github.com/thanos-io/thanos/pull/5405, closing :raised_hands:

[2022-07-11 10:48] #5186 closed

[2022-07-12 10:56] kapendra-sentieo commented on #5428
# Getting Down with Success message
I deleted the overlapping block but it looks like the compactor itself going in inactive state and leaving the below message

[code]
In logs, it looks like once the job of compaction is done, it goes down

# Service status

[code]

# Service file content

[code]

[2022-07-12 17:15] kakkoyun commented on #5414
This is fixed by https://github.com/thanos-io/thanos/pull/5475

[2022-07-12 17:15] #5414 closed

[2022-07-12 23:05] abaguas commented on #5320
Hi all, we did some more investigation into this issue. It is not a problem with Thanos, neither with DNS resolution.
We use an istio proxy sidecar next to the thanos containers. This istio pod was not able to detect the gRPC connection termination when the thanos-receive component was restarted. As a result, the thanos-routing-receive kept sending requests using the old connection/channel and the

[2022-07-13 00:51] hanjm commented on #5428
@kapendra-sentieo
By default, thanos compact will run to completion which makes it possible to execute it as a cronjob. Using the arguments --wait and --wait-interval=5m it’s possible to keep it running.

https://thanos.io/v0.27/components/compact.md/

[2022-07-13 07:53] kapendra-sentieo commented on #5428
Look good till now. will update on this tomorrow and close this if found it working. thanks man

[2022-07-13 08:27] vipul0805 commented on #4930
Hi @bobykus31 I am facing the same problem. Did you find out what was causing the issue?

[2022-07-13 11:43] bobykus31 commented on #4930
No,

I dropped data since it was a year old.

ср, 13 лип. 2022 р. о 10:27 Vipul Jindal ***@***.***> пише:

--
Ihor Piddubnyak,
RHCE 805009434639408

[2022-07-13 12:00] gk-mevers commented on #5467
What does your object store configuration file look like? It looks like it's trying to connect to the regular host name, rather than the private endpoint. Normally, that would be https://xxxxxxxxxxxxx.privatelink.blob.core.windows.net.

Config:
[code]

[2022-07-13 13:29] douglascamata opened #5497 "Compact: crashes when finding a sample with out of order labels"
**Thanos**: v0.27.0-rc.0

**What happened**:

Thanos Compact found a posting with out of order labels and started crashing infinitely.

**What you expected to happen**:

Thanos Compact finds a posting with out of order labels and then:

- Fixes it before compacting if possible.
- Otherwise, ignores it.
- Log at warning/critical level that this happened.
- Exports a metric to track this error so th

[2022-07-13 14:58] matej-g commented on #5497
I'm wondering why the compactor does not halt in this case :thinking: Someone with more compact knowledge, @bwplotka @yeya24 @GiedriusS?

Apart from that, fixing manually should be an option with `bucket verify` (https://github.com/thanos-io/thanos/pull/964)

[2022-07-13 15:12] matej-g opened #5499 "Receiver: Metrics with out-of-order labels get accepted"
**Thanos, Prometheus and Golang version used**:
Latest Thanos (`0.27.0`)

**What happened**:
Receiver happily accepts metrics with out-of-order labels. By itself, this seemed to be acceptable (i.e. TSDB will append them without complaining). But this is causing issues in compactor, which expects labels to be in order and this causes it to get into a crash loop.

This is similar to situation that h

[2022-07-13 15:20] matej-g commented on #4732
The upstream feature has been merged :tada: and @douglascamata graciously agreed to bring the new mdox release over to Thanos, which should resolve this :muscle:

[2022-07-13 17:08] douglascamata commented on #4732
Draft PR: #5500

[2022-07-13 18:11] yeya24 commented on #5497
Halt only happens at the compaction stage. This one happens during downsampling so no halting if I understand correctly.
I am also wondering when TSDB persists the head block to disk, why labels are not sorted.

[2022-07-13 18:28] crockk commented on #1224
Old post, but I am seeing similar behaviour in testing - retention for 1h downsampled data is 60d, yet I am seeing up to 111d of data. This is almost double how much I have configured, is this expected behaviour as well? My block size in Prometheus is 2h.

[2022-07-13 19:32] crockk commented on #1224
Thanks @yeya24, I realized my server likely does not have enough free space (recommended 100gb free space) in order to be processing blocks properly. Will free up some space and hopefully it will be working as expected!

[2022-07-14 01:44] jtougas commented on #4472
Is this still in the works?

[2022-07-14 10:30] matej-g commented on #5497
Thanks for the pointers @yeya24, I realized now that this actually happens in the downsampling phase and not in the compaction. Since we had the `debug.accept-malformed-index` flag enabled, compaction went through but now we have an 'incosistency', since downsampling does not have an option to ignore malformed index and it always errors out and crashes compactor on that error.

Luckily we hit this

[2022-07-14 12:50] maartengo opened #5501 "query: with grafana gives inconsistent dashboard with every refresh"
**Thanos, Prometheus and Golang version used**:
* Thanos: 11.1.0, deployed through [Bitnami helm chart](https://github.com/bitnami/charts/tree/master/bitnami/thanos), quay.io/thanos/thanos:v0.25.2
* Prometheus: 0.57.0 deployed through [kube-prometheus-stack helm chart](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack)
* Grafana: v9.0.1, also through kube-p

[2022-07-14 14:46] matej-g commented on #4732
Nice job @douglascamata :100:

[2022-07-14 14:46] #4732 closed

[2022-07-14 17:01] douglascamata commented on #5499
Can Receive know if the labels are out of order without having to effectively copy, **sort** the copy, and then and compare to the original? 🤔

[2022-07-15 06:18] GiedriusS commented on #5501
It's by design due to how deduplication works - in the beginning, we need to select one "true" series. Thanos uses a heuristic - it chooses the series with the most up-to-date information. So, on each refresh, you might get a different "true" series. The typical way to solve this is to have query-frontend in front which caches past results so they won't change on each refresh. Let me know if that

[2022-07-15 09:51] roelvdberg commented on #5501
I have removed grafana from the test. I tried to execute a bash script with multiple queries async and the data was scrambled again after a few attempts.

`curl 'http://prometheus-stack-thanos-query-frontend:9090/api/v1/query_range' \
  -H 'accept: application/json, text/plain, */*' \
  -H 'Referer: ' \
  -H 'content-type: application/x-www-form-urlencoded' \
  --data-raw 'query=mcps%3Akubelet_vol

[2022-07-15 14:55] GiedriusS opened #5509 "Combine memcached/redis with in-memory cache"
### Is your proposal related to a problem?

Our current Memcached & Redis implementations are good at reducing cost however they don't improve query durations as much because each time a query comes in, Thanos Store has to retrieve each key from Memcached/Redis. This saturates the network. We could do better by caching some data in memory so that it wouldn't be needed to retrieve data each time.

[2022-07-15 15:36] matej-g commented on #5499
Prometheus considers bad request to be unrecoverable errors (unlike e.g. server errors), so it should not retry on such response. This is equivalent to how we handle requests with invalid samples or exemplars. I tried to describe it more in depth in the PR description.

[2022-07-15 15:41] douglascamata commented on #5499
Awesome. It sounds like a good flow. Thanks for the explanation. 🙇

[2022-07-15 16:32] #3832 closed

[2022-07-15 18:16] #3701 closed

[2022-07-15 19:10] UUIDNIE commented on #5501
Can confirm, saw the same issue using Grafana 9.0.3 with Thanos 0.27.0 + Prometheus 2.32.1.

[2022-07-16 12:20] fpetkovski commented on #5509
A custom implementation of multi-level caching might be good for this. We could have a new implementation of `cache.Cache` which wraps multiple concrete caches and uses them in the order in which they are specified.

[2022-07-16 15:35] GiedriusS commented on #5501
Is it still reproducible if you disable deduplication? 🤔

[2022-07-18 06:32] zaeemarshad commented on #5363
seeing the same issue with Thanos 0.26 but with GCS. Unsure how it got into this state.

[2022-07-18 09:40] maartengo commented on #5501
This still happens even without deduplication

[2022-07-19 06:49] X-Mars opened #5519 "Multiple sidecar have set "prefix", how set store to read all of them?"
### Discussed in https://github.com/thanos-io/thanos/discussions/5517

<div type='discussions-op-text'>

<sup>Originally posted by **X-Mars** July 19, 2022</sup>
### sidecar 1
[code]
### sidecar 2
[code]

### store
[code]
Thank you !
</div>

[2022-07-19 07:11] GiedriusS commented on #5519
The prefix can only be a single string at the moment so you will need to have two Thanos Store instances connected to Thanos Query with different prefixes: `sidecar1` and `sidecar2`.

[2022-07-19 07:15] X-Mars commented on #5519
Got it.
Thank you very much.

[2022-07-19 07:15] #5519 closed

[2022-07-19 08:45] GiedriusS opened #5521 "query: implement active query tracker"
### Is your proposal related to a problem?

If my Thanos Query is having latency issues while queries are running then I would like to be able to know what queries are being executed at that exact time.

### Describe the solution you'd like

PromQL engine supports active query tracking by writing currently active queries to a file via mmap(2). I think we could add a new flag to enable support for

[2022-07-19 10:20] kojderszymon opened #5522 "Loading delayed data into Thanos"
I am using Minio and Thanos (with receiver) to collect data from Prometheus and my own application via remote write. A problem arises when via remote write I would like to upload older, late data. With the default settings, I can upload data from a few hours ago, but this is not enough. For example, I would like to load data from 24 hours ago. Will I be able to achieve this? Will increasing --max-

[2022-07-19 15:56] squat commented on #5385
Big thanks to @Akshit42-hue for your work on porting the Thanos tutorials to work on Killercoda! I made a new GH repo today that hosts the tutorials: https://github.com/thanos-io/tutorials
Tomorrow I'll try to finish setting up our Killercoda account

[2022-07-19 18:57] crockk opened #5523 "Thanos Compactor Crashing - Download blocks timeout"
**Thanos, Prometheus and Golang version used**:
Thanos: v0.27.0
Prometheus: 2.25.2
Golang: go1.15.10

<details>Here's my `docker-compose.yml` for good measure:
<p>

[code]
</p>
</details>

**Object Storage Provider**:
Azure Blob Storage
<details>Bucket config
<p>

[code]

</p>
</details>

**What happened**:
Thanos Compactor is crashing seemingly regularly after running for some period of time, tim

[2022-07-20 08:58] douglascamata commented on #5343
I am in general happy with goreleaser, except that the nightly builds has moved to the [Pro/paid tier](https://goreleaser.com/pro/). So we would still have to set something up for the nightly builds.

I think it's also a great idea to keep using and also grow `promu`. Bonus: With goreleaser locking some features behind a pay wall, it would be great to have a completely FOSS alternative that not on

[2022-07-20 13:17] GiedriusS commented on #5501
Mhm, I see it now on my own Thanos cluster on some of the panels but it's still unclear to me what causes it or how to reproduce it consistently. Perhaps if any of you have some spare time, could you please try this with different versions between 0.24.0 & 0.27.0 to see when it starts occurring?

If it happens even with deduplication then https://github.com/thanos-io/thanos/commit/9a8c984144ddb320

[2022-07-20 16:38] kumarganesh2814 commented on #3677
Hi @victorlin-houzz

I have resolved this issue by adding correct permission. Thanks for suggestion

Best Regards
Ganesh Kumar

[2022-07-21 10:28] 605adi opened #5531 "Grafana shows wrong values when alerts triggered."
I have created alerts using node-exporter, prometheus and grafana.

Grafana Query used for CPU Usage and Memory Usage :-

100 * (1 - avg(rate(node_cpu_seconds_total{mode=“idle”, instance=“custom:port” , job=“nodeexporter”}[1m])))

((node_memory_MemTotal_bytes{instance="ip",job="node-exporter"}	 - node_memory_MemAvailable_bytes{instance="ip",job="node-exporter"}) / node_memory_MemTotal_bytes{instan

[2022-07-21 10:33] Lincon-Freitas commented on #3677
Hi @kumarganesh2814! What do you mean by correct permission? I am having the same problem and am pretty sure it is not a permission problem as I even allowed anything from anywhere in my S3 bucket policy for testing and still not working. Would love to understand how you fixed it.

[2022-07-21 13:46] prymitive commented on #206
Another downside of forced `--storage.tsdb.(min|max)-block-duration` flags is that if we stop Prometheus from merging blocks together then the index size becomes a very noticeable overhead.

Let's say I have default retention of 15d and each block has 1GB of index data. Without those flags Prometheus will merge blocks up to 10% of 15d = 36h, with `--storage.tsdb.(min|max)-block-duration=2h` blocks

[2022-07-22 03:42] X-Mars commented on #5523
I have a similar problem. Mark it and look forward to solving it

[2022-07-22 05:32] Akshit42-hue opened #5532 "Update the go version in docs"
In CONTRIBUTING.md in [prerequisites](https://github.com/thanos-io/thanos/blob/main/CONTRIBUTING.md#prerequisites) section Go version is set as 1.13.9 since thanos is using 1.18 version

[2022-07-22 05:33] Akshit42-hue commented on #5532
// @matej-g @yeya24

[2022-07-22 07:22] TomasKohout commented on #5178
We have the same issue as @GiedriusS .Vertical compaction is enabled, but two streams are not merged together. I thought it should happen when correct `--deduplication.replica-label` is specified and `--compact.enable-vertical-compaction` is set. We also have `--deduplication.func=penalty` set. Logs of Compactor shows that vertical compaction is enabled, but as I've wrote before, streams are not m

[2022-07-22 07:56] kumarganesh2814 commented on #3677
Hi @Lincon-Freitas
As far as I know issue was my EKS cluster EC2 nodes were'nt able to connect to bucket specified
adding policy helped

`{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "Statement",
            "Effect": "Allow",
            "Principal": "*",
            "Action": [
                "s3:ListBucket",
                "s3:GetObject",
                "s3:

[2022-07-22 09:46] Lincon-Freitas commented on #3677
Hi @kumarganesh2814

Thanks! I found out the problem, just to keep it here (may help others):

I am using IRSA on EKS to write on an S3 bucket from another AWS account. I was configuring the S3 bucket resource policy properly to allow the external account but was not giving the right permissions on the IAM role associated with the service account. Anyway, thanks for replying!

[2022-07-22 10:07] matej-g commented on #5521
This would be so awesome, internally within our team we already though it would be great to have feature like this. I had no idea PromQL engine supports this. @GiedriusS are you planning to work on this? I'm also wondering whether it would be possible to visualize this directly in the UI.

[2022-07-22 10:17] GiedriusS commented on #5509
@rueian I have tried it out however I get a panic:

[code]

Mhm, how could we know what key slots our cache keys have?

[2022-07-22 10:21] GiedriusS commented on #5178
Yeah, there's something wrong :( perhaps @yeya24 you know something about this? I had to disable vertical compaction for now due to this because it results in overhead for Thanos Store due to extra blocks that it needs to read

[2022-07-22 10:31] rueian commented on #5509
Hi @GiedriusS, I guess you are connecting to a redis cluster and unfortunately redis cluster does not allow MGET command.

I will see what I can do for this use case.

[2022-07-22 10:34] GiedriusS commented on #5509
Yeah, I had to set up Redis Cluster because it handles distributing load according to hashes for the client if I understood correctly :/ I was under the initial impression that the client itself needs to do it but it seems like in the Redis world, Redis Cluster takes care of that for the client

[2022-07-22 13:09] rphua commented on #5501
We've tested with 0.24.0, 0.25.0 and 0.26.0 they all don't seem to have the issue, only since 0.27.0.

[2022-07-22 15:16] tnrms007 opened #5535 "Thanos Query rpc error issue"
hi all , can you help me?
There is a problem that the query cannot be called from thanos query.
this.. sidecar health check is ok
but.. However, there is a problem that when calling query, it cannot be called.
The contents of the error are always changed, but the rpc error is the same.

[2022-07-22 18:45] roystchiang commented on #5478
after taking a closer look at the memcached client, we are correctly setting the dial timeout. https://github.com/themihai/gomemcache/blob/master/memcache/memcache.go#L233

it turns out to be a misconfiguration on our side :(

[2022-07-22 18:45] #5478 closed

[2022-07-23 17:20] rueian commented on #5509
Hi @GiedriusS,

Redis Cluster nodes only check if the incoming key slot belongs to them and redis client is responsible for sending commands to the right node.

---

I have added a new `MGetCache` helper in rueidis v0.0.65 and also have updated the above example. This should work with Reids Cluster now. Could you have a try?

[2022-07-23 18:48] cuyoung commented on #5501
We saw the same behavior after upgrading from 0.25.2 to 0.27.0. Downgrading just the Querier to 0.26.0 resolved the issue.

In our case Grafana was receiving out of order samples and illogical results(results in billions when they should be in hundreds).

[2022-07-24 12:55] wuestkamp commented on #5385
Would you be ok if we feature https://killercoda.com/thanos-tutorials on the Killercoda main page?

[2022-07-24 13:12] hanjm opened #5536 "Add changelog tooling to avoid CHANGELOG.md code conflict in PR."
### Is your proposal related to a problem?

The current changelog process causes many unnecessary code conflicts . For example:
Two developers make unrelated bug fixes. Each adds a line at the end of the "Bug Fixes" section. Now there is a code conflict in PR.

### Describe the solution you'd like
Like https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/11539, implement a tool

[2022-07-24 13:19] hanjm commented on #5531
It is not thanos issue. The `node_cpu_seconds_total` is the sum of all cpu cores use seconds. you need divide to the number of cores.
refrence:  https://github.com/prometheus/node_exporter/blob/master/docs/node-mixin/lib/prom-mixin.libsonnet#L57

[2022-07-24 15:40] #5531 closed

[2022-07-25 07:53] fpetkovski commented on #5535
Hello, you can try enabling debug logs in the querier to help troubleshoot the problem.

[2022-07-25 12:16] SuperQ opened #5540 "gRPC connections metric has long label values"
**Thanos, Prometheus and Golang version used**:

latest - v0.27.0

**What happened**:

When running a survey of long label values on our system I discovered Thanos was responsible for generating the longest label name length

[code]

The maximum length is 154436 characters.

This is likely because of the large number of Prometheus instances we have writing to a cluster-wide S3 bucket.

**What you

[2022-07-25 12:20] SuperQ commented on #5540
CC @hitanshu-mehta

[2022-07-25 12:22] GiedriusS commented on #5509
Nice, it works fantastic! Thank you so much for your prompt responses and amazing library :beers: Maybe you have a donation link somewhere? (: FYI here's a graph showing network usage on my servers running Thanos: ![Screenshot from 2022-07-25 15-17-29](https://user-images.githubusercontent.com/2377233/180775841-ef01b18a-d130-47c4-9e8c-1b7b75a8117c.png). In my case I have Grafana instances evaluati

[2022-07-25 12:27] aslafy-z opened #5541 "Prometheus Federate API endpoint"
### Is your proposal related to a problem?

I'd like my federated prometheuses instances to use thanos as datasource instead of the underlying prometheus. That would offer deduplicated metrics without the need of adding a querier sidecar to all of them.

### Describe the solution you'd like

Expose a feature complete `/federate` endpoint to be used with [Prometheus Federation](https://prometheus.i

[2022-07-25 12:57] Akshit42-hue commented on #5385
+1 From my side
WDYT // @matej-g @squat @bwplotka

[2022-07-25 13:12] rueian commented on #5509
Happy to see it works! I don't have a donation link but if you can share rueidis with your friends that would be my honor.

Good idea!  Currently, there is only an internal interface:
https://github.com/rueian/rueidis/blob/6517919074ccc7663f8354fbe7367c153f729129/lru.go#L21-L28

But I think it won't have many differences if I made it exposed publicly.

[2022-07-25 14:31] matej-g commented on #5385
@squat did you manage to finalize the creation of the account etc.? That account link https://killercoda.com/thanos-tutorials actually leads to the account I was testing with, so it does not include the latest or 'official' scenario versions (since it points to my fork).

But happy to hand it over to @squat so we can keep the nice URL.

[2022-07-25 14:56] aarontams commented on #981
Adding myself here to watch this issue.

[2022-07-25 16:51] metonymic-smokey commented on #5521
@GiedriusS from a quick look into the `promql` lib, I think this feature will involve adding an additional engine option [here](https://github.com/thanos-io/thanos/blob/467c47f11dad4621b0761c2d5fccfb339e03d715/cmd/thanos/query.go#L469-L481).
The flag can be used to specify a dirname since an active query tracker requires that as shown [here](https://pkg.go.dev/github.com/prometheus/prometheus/prom

[2022-07-25 19:32] ddreier commented on #5501
We had gone back down to Thanos 0.24.0, but have since moved to 0.26.0 and are **not** having any problems.

[2022-07-26 05:41] GiedriusS commented on #5521
Feel free to pick this up! It would be very cool to also show the currently active queries in the UI.

[2022-07-27 03:15] cybervedaa commented on #3913
This is still happening on 0.27.0. Wanted to check if any progress was achieved in finding the cause of this problem?

[2022-07-27 11:27] tnrms007 commented on #5535
I get the following error during debug, but I don't know what it is...
Can you help me?

![image](https://user-images.githubusercontent.com/80308035/181235511-d8f50507-35c1-4775-bbda-9d1a7c24ee0d.png)
![image](https://user-images.githubusercontent.com/80308035/181235525-791894d2-0190-4f53-9d6a-3330ce5e2ec1.png)
![image](https://user-images.githubusercontent.com/80308035/181235826-4f9dbef5-0f89-48b

[2022-07-28 06:57] GiedriusS commented on #5509
I have noticed a small dead-lock in rueidis from the new MGet helper. Uploading a goroutine dump from my Thanos Store. I'll try looking into it but uploading this in advance :pray: I hope that you'll have some time to take a loo
[goroutine.txt](https://github.com/thanos-io/thanos/files/9206279/goroutine.txt)
k

[2022-07-28 13:49] rueian commented on #5509
Hi @GiedriusS,

I am looking into that, but currently, I haven't found the cause. Could you also try to remove the ReadTimeout and see if it happens again?

[2022-07-28 15:09] jasonhao518 commented on #3822
How is going here? looking forward for the same feature also. As grafana stack support X-Scope-OrgID header, I think it's good to use header for Thanos to make it compatible to other tools.

[2022-07-29 12:05] Akshit42-hue opened #5551 "Interactive example"
While running the Interactive example I am getting some errors

Unable to kill service cadvisor : exit status 1
--- FAIL: TestReadOnlyThanosSetup (52.83s)
    interactive_test.go:122: interactive_test.go:122:

         unexpected error: failed to get mapping for port as container interactive-monitoring exited: exit status 1: docker container monitoring failed to start: exit status 1
![Screenshot f

[2022-07-30 15:02] yeya24 commented on #5541
If using the existing proxy API way like `exemplars`, `rules`, the logic is a bit different. There is no deduplication for two Prometheus and we still reserve the external labels. If we want to do deduplication then it is doable but logic is more complicated.

[2022-07-31 04:30] yeya24 commented on #5390
Still valid

[2022-07-31 04:30] yeya24 commented on #4866
Still valid

[2022-07-31 11:56] fpetkovski commented on #5522
This is a limitation with the Prometheus TSDB. The only way to backfill data older than a few hours is to upload TSDB blocks directly to S3 from where you can query them with Store Gateway.

[2022-07-31 17:31] jphx commented on #4940
I still believe this to be a legitimate issue.

[2022-07-31 19:00] yeya24 commented on #5521
Some other random ideas when I talked with Aditi about this yesterday. Those can be features to work on in the future.
1. Support Active Query Tracker on the Thanos Query Frontend rather than in each Thanos Querier.
2. Implement the Prometheus query tracker interface use something other than mmap to store the data
3. It is great to collect the whole query history, not only just the current active

[2022-08-01 15:59] wiardvanrij commented on #5130
This still should be fixed now!

[2022-08-01 17:57] #5444 closed

[2022-08-02 09:24] igorwwwwwwwwwwwwwwwwwwww commented on #5299
This is still relevant.

[2022-08-02 13:44] pharaujo commented on #5310
I believe this is still needed

[2022-08-03 08:47] douglascamata commented on #5464
What is exactly missing? I've been using Codespaces for a while and they are working fine for me. I don't remember having to install extra tooling in them. All the PRs I opened in Thanos, except for the very first, came from work through Codespaces.

[2022-08-03 08:50] bwplotka commented on #5464
Also no codespaces setting. I think this is only for private orgs/repos 🤔
![image](https://user-images.githubusercontent.com/6950331/182566382-3834779a-5372-41da-8cc8-054de4cf48d6.png)

[2022-08-03 09:04] douglascamata commented on #5464
To have access to Codespaces in public repos as an individual you have to be enrolled in the beta: https://github.com/features/codespaces/signup

[2022-08-03 09:15] Akshit42-hue commented on #5464
Can  someone whose an org owner enables codespaces for me want to work on this issue  https://docs.github.com/en/codespaces/managing-codespaces-for-your-organization/enabling-github-codespaces-for-your-organization

[2022-08-03 13:55] #5532 closed, assigned to nobody

[2022-08-03 14:30] metonymic-smokey commented on #5237
Commenting to remove `stale`

[2022-08-03 14:56] Akshit42-hue commented on #5464
Well in order to use github codespaces we have to  enrolled in the beta but without enrolled in the beta everyone can use github codespace that' s the main goal behind this issue(At the end of this year everyone has the github codespaces access).
Correct me if I am wrong @yeya24 :)

[2022-08-03 15:08] douglascamata commented on #5464
I understand, @Akshit42-hue. Anyone will be automatically able to use Github Codespaces on any public repository when they make it goes out of beta. There's no action required from the Thanos organization to enable this.

The configuration at organization level is to allow usage in **private** repositories, as @bwplotka mentioned.

Regarding tooling, the default image Github provides has everythin

[2022-08-03 15:20] Akshit42-hue commented on #5464
Ohh Got it! So this issue need to be close

[2022-08-03 15:54] yeya24 commented on #5464
What I intended to solve for this pr is to bundle the required toolings for Thanos in the GitHub codespace so that codespace users can have an environment with all the tools installed

[2022-08-03 16:00] douglascamata commented on #5464
@yeya24 the default container image is based off of Ubuntu 20.04.4 LTS and has quite some batteries included, I didn't have to install anything. The makefile took care of downloading any missing tool.

[2022-08-03 16:02] douglascamata commented on #5464
Given my experience using Codespaces to develop Thanos, I would say we can close this. Even interactive tests work fine.

[2022-08-03 16:04] Akshit42-hue commented on #5551
Hey @douglascamata, can you please look into this :)

[2022-08-03 16:06] yeya24 commented on #5464
@douglascamata That's good to know. From what I tried last time, I found a lot of important toolings are missing. Maybe you can help provide a quick start guide about using code space to setup the dev environment?

[2022-08-03 16:08] Akshit42-hue commented on #5464
+1

[2022-08-03 16:09] douglascamata commented on #5464
I can add something. It'll be nothing more than clicking buttons in the Github interface though (it's so intuitive and easy to follow), like you would do in any other project. I didn't have to do any special customization and it worked out of the box.

[2022-08-03 16:15] yeya24 commented on #5464
I wouldn't call it out of box if people still need to run some make commands to install some toolings and Prometheus.

I feel the doc would be super helpful to have and then we can close this issue.

[2022-08-03 16:28] douglascamata commented on #5464
@yeya24 the make commands are well so structured that people don't need to run special commands to download dependencies or set up things. You should give a try to work on a fresh clone of Thanos, it's a breeze. You run the make command for what you need and all dependencies are set-up.

The commands we have in the GitPod configuration in fact aren't needed. That is severely out of date. For examp

[2022-08-03 16:30] yeya24 commented on #5464
Thanks @douglascamata for all the shared information. @Akshit42-hue Regarding the extensions installed, would you like to work on them?

[2022-08-03 16:37] Akshit42-hue commented on #5464
Yes, definitely :)

[2022-08-03 16:51] douglascamata commented on #5551
Works fine for me:

[code]

Looks like some problem with your Docker setup or temporary files that the interactive test creates. I recommend deleting `examples/tmp` and `examples/interactive/data` if they exist, plus running `docker system prune -a` to ensure a clean environment.

[2022-08-03 18:46] GiedriusS commented on #5501
Could you please try reverting https://github.com/thanos-io/thanos/pull/5410 and see if it helps? I'll try looking into this once I'll have some time.

[2022-08-03 21:43] omron93 commented on #4386
This is still needed and would be great to have it fixed :-)

[2022-08-04 00:58] snowmansora commented on #5450
Our environment is also encountering this problem when running a query that gets 7 days of data. Logs are similar to what [italux] described.

Our environment setup:
Thanos v0.27.0.
Query and Store are running on the same AKS node on West US 2.
Store is using Azure Blob Storage on West US 2.

Interestingly, with the same setup, except where Query and Store are running on the same AKS node on East

[2022-08-04 08:55] matej-g commented on #4866
Are we seeing this flake after https://github.com/thanos-io/thanos/pull/5563?

[2022-08-04 09:08] HontoNoRoger commented on #2723
Just for those stumbling upon it: It caches the series in memory for faster subsequent queries, so it doesn't have to retrieve that data again from the store. See https://thanos.io/tip/components/store.md/#index-cache

[2022-08-04 09:33] douglascamata commented on #5343
Interesting to add to the discussion: now we bundle a version of Cortex inside `internal` and also run its unit tests. This is making the build even longer and Cortex's tests are showing intermittent failures: https://app.circleci.com/pipelines/github/thanos-io/thanos/10225/workflows/34954c6e-2d15-4f2a-ba30-728a9072b1ad/jobs/19790

[2022-08-04 09:39] fpetkovski opened #5567 "Receive: Allow setting hashing algorithm per tenant in hashrings config"
### Is your proposal related to a problem?

When running Thanos Receivers, I would like to be able to set the hashing algorithm individually for each tenant.

### Describe the solution you'd like

The algorithm could be added as a field in the hashrings config.

### Describe alternatives you've considered

The only alternative is to set the hashing globally for all tenants, which has the following

[2022-08-04 09:40] fpetkovski commented on #5458
We are not seeing this problem anymore. Thanks for the quick fix!

[2022-08-04 09:40] #5458 closed

[2022-08-04 11:36] kakkoyun commented on #5343
I think what we should add is a test cache. So for the PR, only the relevant tests can run. For the merges, we can run the whole suit.

Especially considering we moved objstore tested out of the repo. I would have expected tests to run faster.

[2022-08-04 12:02] douglascamata commented on #5343
@kakkoyun goreleaser calls nightly builds what you call snapshot builds, I think:

Taken from https://goreleaser.com/customization/nightlies/. Our use case would be the rolling release for commits pushed to `main`.

Taken from https://goreleaser.com/customization/snapshots/. Doesn't seem to fit our use case. 🤔

[2022-08-04 12:05] kakkoyun commented on #5343
The snapshots are what I've been using for PR branch builds or main branch merge builds for years now :D It basically skips a bunch of checks. And when you add `--skip-publish` that's all you need. So no need to have a pro version.

[2022-08-04 12:50] douglascamata commented on #5343
@kakkoyun but we do want some level of "publishing", don't we? i.e. the container images for each commit. Is this also going well for ou? If yes, I think we've got everything we need then.

[2022-08-04 13:06] mxmorin opened #5569 "Checkpoint replaying very very slow"
**versions**
[code]
OS : RHEL8

**Architecture**
hashing (2 routers and 3 receivers with replica=3)

**Commande line :**
`/usr/bin/thanos receive --http-address 0.0.0.0:19904 --grpc-address 0.0.0.0:19903 --remote-write.address 0.0.0.0:19291 --label=thanos_replica="p1thanosprod02 " --tsdb.path=/projet/data/thanos/receive --tsdb.retention=1d --objstore.config-file=/etc/thanos/objstore.yaml --receive

[2022-08-04 13:10] kakkoyun commented on #5343
@douglascamata  Aha yes, GoReleaser does a lot of stuff, you're right. We don't use GoReleaser to build the containers, though. We use another step to build images. Yet we mimic the same behaviour, so we build binaries using GoReleaser and then copy them inside the container images. Exactly as GoReleaser.

I don't recommend using GoReleaser because there's no way to produce reproducible builds wit

[2022-08-04 13:21] douglascamata commented on #5343
That's all very useful information! 🤓

Especially because I was adding multi-arch images to github.com/observatorium and used `buildx` there (less things to set up, pretty straightforward), without `goreleaser`. From what I see, we might eventually want to migrate it to a mix of goreleaser & podman too in the future. 🤔

[2022-08-05 08:56] zamazan4ik opened #5571 "Document upgrade and downgrade processes"
Hi.

After reading the documentation it is not clear for me, how upgrade and downgrade processes should be performed over the solution. Could you please describe somewhere in the documentation:

- How to upgrade Thanos to the newer version (hopefully with no downtime)
- How to downgrade Thanos to the older version (hopefully with no downtime)
- Maybe some compatibility policies and notes between v

[2022-08-05 10:20] fpetkovski opened #5572 "Receiver: reduce network bandwidth when ingesting data"
### Is your proposal related to a problem?

We noticed that our intra-AZ egress costs tripled when we migrated from HA Prometheus pairs to receivers. We would have expected costs to go up by around 50% only due to the added replication factor.

### Describe the solution you'd like

Looking at the code, it seems that forwarding requests between receivers is done by encoding remote-write requests in

[2022-08-05 10:48] fpetkovski commented on #5572
Cortex seems to support this already: https://github.com/cortexproject/cortex/blob/master/pkg/util/grpcencoding/snappy/snappy.go

[2022-08-05 12:29] bwplotka commented on #5572
LGTM. thanks for noticing!

[2022-08-05 12:56] rueian commented on #5509
Hi @GiedriusS,

Bugs related to the ReadTimeout has been fixed in v0.0.68. Could you take a try?

[2022-08-05 13:09] GiedriusS commented on #5509
Thank you so much! Will take a look. I only got bit by that problem twice, I think. A bit busy but I'm also about to submit a proposal to Thanos for supporting multiple clients for the same caching systems so that we could finally get rueidis into Thanos.

[2022-08-05 13:41] squat commented on #5572
cool. let's see. I didn't really understand how to read the `network ingester` graph from that issue as it has negative values for the bandwidth.

[2022-08-05 13:52] BoringCat commented on #5569
I have same issue on version v0.26.0 and v0.27.0. (and maybe version v0.24.0? I forgot and lost log)

I have a large dataset which average 48,130 samples per second and I need to store it 7 days for fast query.
With 5 receivers set `replica=3`. There is about 17,465,271,337.6 samples stored in tsdb. And every time I need to run `kubectl rollout restart` (for change pod resource limit or upgrade ve

[2022-08-05 14:51] PhilipGough commented on #5452
@fpetkovski thanks for the pointer, looks like in this case there was some resourcing issues and some of the slowness at least is taken care of by https://github.com/thanos-io/thanos/pull/5566.

I'm going to close this based on this comment and will reopen if I notice again despite having additional resources.

[2022-08-05 14:51] #5452 closed

[2022-08-05 14:59] matej-g commented on #5569
Yeah this is becoming increasingly an issue for us as well, where replays on some replicas for some tenants can take ten(s) of minutes.

I guess it has been like this since at least a few versions (so my assumption is this is not related to any recent change); if it even is related to Thanos changes and not just the fact users handle more data. Either way this require more investigation and potent

[2022-08-05 15:31] matej-g commented on #5571
Hi @zamazan4ik,
I'd say normally you should be able to upgrade versions without any downtime by simply bumping Thanos version. Although Thanos does not have stable version, in line with [our docs](https://github.com/thanos-io/thanos/blob/main/CHANGELOG.md#changelog), we specify when there is a breaking change in our CHANGELOG in the release.

[2022-08-05 15:47] zamazan4ik commented on #5571
@matej-g does it mean that Thanos downgrade is not possible without full cluster reinstall?