[2021-06-22 01:34] yeya24 commented on #4236
A push model seems better in your use case.

[2021-06-22 01:39] max77p commented on #977
@Namanl2001 by local instance do you mean side car that is in same namespace? and by remote do you mean side car in different cluster altogether?

To clarify from my side, I can add multiple sidecars to thanos query IF I use service name in my kubernetes cluster. But the moment I add a sidecar which is behind https and the respective TLS certs, I am unable to add any other side car.

[2021-06-22 08:44] bwplotka commented on #4280
I think we need 2 but it won't be complex. It will be exactly the same as https://github.com/thanos-io/thanos/blob/13ab756417b068a73a0b23c983f57b51658bf563/pkg/receive/multitsdb.go#L383 (: so some readiness struct that will tell API when to return success.

[2021-06-22 10:19] GiedriusS commented on #3318
There is a huge optimization possibility here (https://github.com/thanos-io/thanos/pull/4271).

[2021-06-22 10:20] GiedriusS opened #4363 "compactor: add concurrent downsampling"
### Is your proposal related to a problem?

It kind of is, downsampling isn't the fastest.

### Describe the solution you'd like

A flag such as `--downsample.concurrency=` on Thanos Compact. Then, a specified number of would-be downsampled concurrently.

### Describe alternatives you've considered

Running multiple Thanos Compact instances working on different external labels but it's a pain to s

[2021-06-22 11:35] Itaachime commented on #3954
@GiedriusS Can u please elaborate what is the requirement of second point because it is not clear to me

[2021-06-22 13:51] dastrobu commented on #4334
I looks like this could actually be related to #4118.
Thanos query is accessed via an [oauth proxy](https://github.com/openshift/oauth-proxy) in our setup. Setting `-pass-host-header` to `false`, might have solved the issue.
The fix is just hard to validate, so far I did not see the issue again.

@wiardvanrij thanks for your input on this issue 👍🏼

[2021-06-22 13:51] #4334 closed

[2021-06-22 14:42] #3143 closed

[2021-06-22 16:34] yeya24 commented on #3637
This has been solved. Close.

[2021-06-22 16:34] #3637 closed

[2021-06-22 17:20] markmsmith commented on #3143
I think this is still to be resolved. I'm not sure why the stale bot ignored my comment.
Any ideas @bwplotka?

[2021-06-22 18:31] atarax665 opened #4364 "[docs] Fix broken links in the Getting Started page"
**What happened**:

While going through [Getting Started](https://thanos.io/tip/thanos/getting-started.md/) page of Thanos Doc website I found a list of broken links. Here they are:

| Hyperlinked Text     | URL |
| ----------- | ----------- |
| MAINTAINERS.md     | https://thanos.io/tip/MAINTAINERS.md       |
| CONTRIBUTING.md   | https://thanos.io/tip/CONTRIBUTING.md        |
| here   | https://

[2021-06-23 02:53] GounGG opened #4365 "[receive] In the k8s cluster, the number of replicas of prometheus is set to 2"
**version：**
- prometheus：quay.io/prometheus/prometheus:v2.19.3
- thanos：docker.io/bitnami/thanos:0.21.1-scratch-r0

**Notes：**
In order to avoid data loss when prometheus is abnormal, start multiple pods. When one of them goes down, the other can write data to receive normally.

**error log：**
[code]

[2021-06-23 03:30] kidharb commented on #4330
I'm seeing high CPU and memory (50gb) on version 20.2 of query. I don't have an object store. I picked up this issue when one of the teammates said his Grafana dashboard was taking very long to load after changing to the Thanos endpoint. He changed it back (Directly to Prometheus) and it was responsive again.
I am still investigating this issue and will be angle to provide more info if required

[2021-06-23 07:30] fktkrt commented on #977
There's this open PR covering store config file: https://github.com/thanos-io/thanos/pull/2226

[2021-06-23 07:30] wiardvanrij commented on #3555
Still needed

[2021-06-23 07:34] GiedriusS commented on #2962
My semi-working branch: https://github.com/GiedriusS/thanos/tree/experiment/groupcache_caching_bucket.

Some thoughts after working on this:

There is no way to remove a group after it has been registered with groupcache without changing groupcache's code itself. This means that if we were to use it at the Thanos Query level where we'd have to dynamically register/unregister groups (lists of Store

[2021-06-23 09:20] #3677 closed

[2021-06-23 09:20] #4033 closed

[2021-06-23 10:52] #3990 closed

[2021-06-23 12:19] dofinn opened #4367 "Metric Utilization Metrics"
### Is your proposal related to a problem?

How can I identify under utilized metrics so i can stop ingesting them and wasting storage.

### Describe the solution you'd like

On a high level I was thinking it might be possible to write metric counters for GET requets across /query endpoints and capture the actual metric name in the GET and iterate on that metrics query count.

It would then be pos

[2021-06-23 16:22] yeya24 commented on #2295
I am wondering is there any action item for us? Looks like it is hard to get it faster.

[2021-06-23 16:36] bwplotka commented on #2295
Hm... it's so old issue that first let's figure if this is still happening (latency is visible and it has to do particularly Chunk Iterator part).

I know @spaparaju is on https://github.com/thanos-io/thanos/issues/4304 which is similar. Let's investigate (:

[2021-06-23 16:53] yeya24 commented on #4320
Should be solved in #4348. Thanks @spaparaju

[2021-06-23 16:53] #4320 closed

[2021-06-23 16:53] yeya24 commented on #4118
Should be solved in #4348. Thanks @spaparaju

[2021-06-23 16:53] #4118 closed

[2021-06-23 16:54] yeya24 commented on #4334
Should be solved in #4348. Thanks @spaparaju

[2021-06-23 17:02] ianbillett commented on #4359
We think we have a fix for the above behaviour - but the ergonomics and explainability to end-users will be poor. The plan is to propose this PR and discuss at the next Thanos contributor hours.

[2021-06-24 08:42] malejpavouk commented on #981
We see the same behavior. It seems like only one instance is taken into account and the other one is completely ignored (so dedup(A, B) == A)

[2021-06-24 16:26] ekristen opened #4371 "query: nil pointer with thanos query api stores during ui reload"
**Thanos, Prometheus and Golang version used**:

[code]

**Object Storage Provider**:

S3, but not in use.

**What happened**:

I am frequently hitting a nil pointer in my thanos query instance.

**What you expected to happen**:

I would expect that no nil pointer is hit :)

**How to reproduce it (as minimally and precisely as possible)**:

I'm not sure what the problem is exactly, but I'll descri

[2021-06-24 19:42] whitleykeith commented on #4329
adding some pprof captures to aid in debugging per slack convo

[before_free_in_use.pdf](https://github.com/thanos-io/thanos/files/6711741/before_free_in_use.pdf)
[before_free_alloc.pdf](https://github.com/thanos-io/thanos/files/6711742/before_free_alloc.pdf)
[before_free_alloc_objects.pdf](https://github.com/thanos-io/thanos/files/6711743/before_free_alloc_objects.pdf)
[before_free_inuse_objects.

[2021-06-25 08:09] OGKevin opened #4372 "ui: PromQL Editor: experimental editor text input issues"
**Thanos, Prometheus and Golang version used**:
Thanos: 0.21.1

**What happened**:
When using the UI provided by Thanos query frontend to query the data with experimental editor enabled, editing text inside the text query field does not work. Keystrokes are ignored and/or disappear immediately.

https://user-images.githubusercontent.com/17928966/123392223-198a2e00-d59d-11eb-8970-a19699d1bab1.mov

[2021-06-25 08:14] OGKevin commented on #4372
![Screenshot 2021-06-25 at 10 14 07](https://user-images.githubusercontent.com/17928966/123393175-20fe0700-d59e-11eb-9235-425cc00d6bfe.png)

[2021-06-25 08:14] OGKevin commented on #4372
This might be related to #4184

[2021-06-25 10:00] esys opened #4374 "StorageGateway and Compactor fail to start with "Truncated response should have continuation token set" using GCS"
**Thanos, Prometheus and Golang version used**:

quay.io/thanos/thanos:v0.21.1

**Object Storage Provider**:

GCS used in S3 compatibility mode:
[code]

**What happened**:

Pods for compactor and storage gateway crash on startup with this error: `Truncated response should have continuation token set`. See full logs below.

**What you expected to happen**:

**How to reproduce it (as minimally and p

[2021-06-25 15:36] malejpavouk opened #4376 "Query: "up" metric incorrect handling in HA setup"
**Thanos, Prometheus and Golang version used**: thanos:v0.21.1, prometheus: 2.27.1

**Object Storage Provider**: S3

**What happened**: We are using Thanos in HA configuration (2 prometheus instances scraping the same targets). Sometimes one of the scrapes fails and prometheus fill up=0, while the other in the same minute succeeds and the second Prometheus hence fills up=1.
When we query Thanos wi

[2021-06-26 11:03] someshkoli commented on #3975
Still valid :eyes: #4104 requires another round of review

[2021-06-27 03:28] Blacklion14 commented on #2750
Hey @kakkoyun

[2021-06-27 03:33] Blacklion14 commented on #2750
Hey @kakkoyun , I wanted to work on this issue and I have already done my initial setup , Can you point me from where I have to start in order to update the docs and fix this issue .

Also the links in above comment are not working , so please can you point me ....

[2021-06-27 07:24] onprem commented on #4025
Still valid and help wanted :)

[2021-06-27 09:02] sandeep1785 commented on #4289
Hey Hi 😊 Is this issue still open as i can see it is merged already 24 days ago so why is this in open stage ? Any specific reason. if it is open i would love to take this up

[2021-06-27 09:19] anuraagbarde commented on #3142
Hello there! I have experience with working in React, as this is marked as good first issue how can I contribute? Thanks.

[2021-06-27 11:04] anuraagbarde commented on #3308
Hello there! I have experience with working in React, as this is marked as a good first issue how can I contribute? Thanks.

[2021-06-27 15:08] #4289 closed

[2021-06-28 03:42] juzhao commented on #4289
fix is fixed and merged

[2021-06-28 05:10] onprem commented on #3308
We can break this down in some steps:
1. Extend the blocks API endpoint to expose which blocks are marked for deletion.
    * In Thanos, blocks which are going to get deleted have a file named `deletion-mark.json`, we can use this information to return an additional boolean in the API response, `markedForDeletion: true | false`.
2. Use this information in the React UI to visually distinguish the b

[2021-06-28 07:37] anuraagbarde commented on #3308
Ok, I will look into this, thanks for the info.

[2021-06-28 11:55] #985 closed

[2021-06-28 11:55] #3389 closed

[2021-06-28 19:34] narenreddycs opened #4382 "Receivers: Hashring gRPC calls are failing when Remote Write mTLS is enabled"
**Thanos, Prometheus and Golang version used**:
v0.20.0

**Object Storage Provider**:
AWS S3

**What happened**:
When mTLS is enabled for client authentication from local prometheus -> Thanos Receivers and hashring is enabled for Thanos receivers, remote write requests are failing with gRPC authentication failures. Only when mTLS is disabled, remote write requests with hashring are succeeding.

Ha

[2021-06-28 20:53] mgronst opened #4383 "--query.auto-downsampling doesn`t seem to have any effect"
Setup containing Thanos+Prometheus+Minio+Grafana running as docker containers.

Relevant configuration for Thanos Querier:
[code]

When querying data from Thanos Frontend through Grafana, I only get raw data where I have a 14 days retention time.
Downsampled data with 1H resolution is not shown. Following the PromQL query from Grafana, shows the same
problem in Thanos Frontend.

Example of PromQL

[2021-06-28 22:25] vanugrah commented on #3434
Hey folks - any updates on this? Would be quite useful to have.

[2021-06-29 09:29] #4184 closed

[2021-06-29 09:29] #4372 closed

[2021-06-29 11:02] ianbillett commented on #3915
@arajkumar raised this issue again in slack [here](https://cloud-native.slack.com/archives/CL25937SP/p1624948221191800)

[2021-06-29 11:10] arajkumar commented on #3915
Apparently I missed this discussion :) Proposed solution has been already discussed here. Let me address @bwplotka concern w.r.t alerts instead of tweaking the metrics.

[2021-06-29 19:37] yeya24 commented on #4365
Hi @GounGG, what's your question exactly?
If you meant for the 409 and AlreadyExists error code, please make your two Prometheus instances have different replica external labels so that the samples belong to different series. Hope this helps.

[2021-06-29 19:47] yeya24 commented on #4351
Valid request. Help wanted.

[2021-06-29 19:51] yeya24 commented on #4371
Seems this relates to the `stores` API. Need more investigation and help wanted!

[2021-06-29 21:51] arcivanov opened #4385 ""Heisenberg" data gaps disappearing at different time ranges with the same step"
This is done via Grafana over the same data series. The same query, with same step over different time ranges produces either gaps or no gaps. The smaller range makes the gap disappear.

Graphs and queries are attached.

![gaps](https://user-images.githubusercontent.com/5355666/123552096-999dc880-d742-11eb-9548-5d68d603c566.png)

![no_gaps](https://user-images.githubusercontent.com/5355666/1235521

[2021-06-29 22:17] arcivanov commented on #4385
The issue is always reproducible for the same time ranges.

[2021-06-30 02:38] #3987 closed

[2021-06-30 02:38] #3194 closed

[2021-06-30 02:38] #3844 closed

[2021-06-30 06:12] yeya24 commented on #4338
IMO these CPU & Memory limits are specific to Kubernetes env. The dashboards from Kubernetes mixin are sufficient for this use case and I feel it is not a good idea to add them to Thanos mixin.

[2021-06-30 06:14] yeya24 commented on #4322
So what's the issue exactly? We don't have any best practices for tuning Thanos query and Thanos query frontend now.

[2021-06-30 06:24] yeya24 commented on #4310
I am considering the same thing and I think you already gave the answer @sevagh :smile:.
Right now the only way to scale the compactor is:
1. Add more compaction concurrency
2. Use hash partitioning (sharding) mentioned by @wiardvanrij. Shard the blocks by some labels which group your blocks from the same cluster together
3. Combine the two

[2021-06-30 06:38] onprem commented on #3260
This is still a valid issue I guess.

[2021-06-30 07:05] MrYueQ opened #4386 "traceing use elastic apm"
**Thanos, Prometheus and Golang version used**:
[code]
**Object Storage Provider**:
[code]
**What happened**:
[code]
**elastic-apm-config**
[code]
**systemctl**
[code]
![image](https://user-images.githubusercontent.com/14846522/123916580-65314300-d9b4-11eb-962c-2a366bbec8bf.png)
![image](https://user-images.githubusercontent.com/14846522/123916659-7d08c700-d9b4-11eb-896c-a27288b56668.png)

**Full

[2021-06-30 10:28] chiragg6 commented on #4329
@whitleykeith hi,
I am also facing the same issue. Any solution did you got.

[2021-06-30 13:07] whitleykeith commented on #4329
@chiragg6 nope, never found a fix. I tried using `GODEBUG=madvdontneed=1` as that seemed to be a fix for similar issues but no dice

[2021-06-30 13:22] GiedriusS commented on #4385
Does it help if you increase the step when there are gaps?

[2021-06-30 13:34] arcivanov commented on #4385
This is against query front end.

We haven't tried messing with the step, partially specifically because this is a very reproducible case - the only variable that changes is the start/end timestamp pair.

From the practical standpoint the step manipulation does not help as the dashboard in grafana are usually fixed at the same step. Furthermore, there may be a question on what exactly is being dis

[2021-06-30 16:08] narenreddycs commented on #4382
Hi @brancz @squat Any ideas on why when remote write mTLS is enabled with hashring we are seeing gRPC TLS authentication failures? Thank you.

[2021-06-30 16:40] yeya24 opened #4387 "Bucket rewrite: able to mark original blocks for deletion after new blocks are created"
### Is your proposal related to a problem?

Bucket rewrite tool supports block deletion and relabeling. It creates a new block and the original block is left unchanged. Usually, the old block can be removed. But it requires another step to mark the original block.

### Describe the solution you'd like

It would be handy to have a flag to mark the original blocks for deletion after the new blocks c

[2021-06-30 16:41] yeya24 commented on #4387
Thoughts? @bwplotka @onprem @GiedriusS

[2021-06-30 16:41] squat commented on #4382
Hi i just took a look and this is indeed a bug in the Thanos Receive code.

Thanos Receive has two sets of TLS flags, e.g. we have `--remote-write.server-tls-cert` as well as `--grpc-server-tls-cert`.
This is because Thanos Receive expects remote write requests to be sent over HTTP, however it uses gRPC _within_ hashrings for forwarding messages. We are incorrectly causing the gRPC dialer to user

[2021-06-30 17:19] narenreddycs commented on #4382
@squat thank you for quickly responding and creating a PR to fix this. We can wait to get this fix merged and hoping that this will get merged for next Thanos release :)

Regarding the work around, we have already tried enabling `--grpc-server-tls*` certs, but got the below error

[code]
Believe this is because we have provided same TLS certs to `--grpc-server-tls*` that we are using for ` --remot

[2021-06-30 17:51] squat commented on #4382
Yes, generating and using new certs for gRPC should work as a workaround. We'll also try to get the proper fix merged

[2021-06-30 18:02] mgronst commented on #4383
This was solved with the --query-range.request-downsampled flag in Thanos Query Frontend. According to:
https://github.com/thanos-io/thanos/pull/3723

[2021-06-30 18:02] #4383 closed

[2021-06-30 20:01] wiardvanrij commented on #3538
Reopening as I think its still quite relevant.

[2021-06-30 21:19] GiedriusS commented on #4387
Makes total sense. For some reason I thought that we were doing this automatically already

[2021-07-01 00:56] yeya24 commented on #4387
Assign this myself.

[2021-07-01 02:16] #4063 closed

[2021-07-01 02:47] renchili opened #4390 "Thanos query timeout but thanos still working on?[Thnaos-query][v 0.1.5.0]"
**Thanos, Prometheus and Golang version used**:

  thanos, version 0.15.0 (branch: HEAD, revision: fbd14b49f95e7543883fedf9381a21127d4dda2b)
  build user:       root@d35b081d3e19
  build date:       20200907-09:29:21
  go version:       go1.14.2

**Object Storage Provider**:
  prometheus, version 2.19.3 (branch: HEAD, revision: 657ba532e42f1db8d7c77bf802378643da0d3118)
  build user:       root@b99

[2021-07-01 02:54] renchili commented on #4390
here is the goroutine profile:
[apm_profile_1624609946569.zip](https://github.com/thanos-io/thanos/files/6745072/apm_profile_1624609946569.zip)

[2021-07-01 03:39] BenManifold commented on #1199
We're seeing a similar issue at the moment, no real clue yet how the block got into this state, but the compactor is in a crash loop as a result.

[2021-07-01 09:35] ianbillett commented on #4364
Thanks for raising this @atarax665 :+1:  Would you please mind raising a PR and fixing these links? Thanks :hugs:

[2021-07-01 09:43] ianbillett commented on #4390
Thanks for raising this @renchili and providing relevant information :+1:

At face value, the spiking go routine behaviour above appears to correlate with https://github.com/thanos-io/thanos/issues/4335

[2021-07-01 09:49] ianbillett commented on #3954
@sandeep1785

I would interpret that as a request to add the information exposed by `/loaded` and `/global` endpoints to the compactor UI :+1:

[2021-07-01 10:03] ianbillett commented on #4305
I don't think we need to do anything serious here apart from maybe re-wording the error message slightly. Perhaps this is slightly clearer?

[2021-07-01 11:15] GiedriusS commented on #4287
@yeya24 I think you've specified a wrong issue in your PR, reopening this

[2021-07-01 11:15] bwplotka opened #4395 "Add Adopter list to README.md too"
Currently those are only in our website. Let's at least add them to Readme as a link. (:

[2021-07-01 11:15] GiedriusS commented on #4387
Fixed in https://github.com/thanos-io/thanos/pull/4392.

[2021-07-01 11:15] #4387 closed

[2021-07-01 11:38] #4382 closed

[2021-07-01 12:37] bwplotka opened #4396 "queryfrontent: Error decoding Prometheus response"
[code]

[2021-07-01 15:57] ianbillett commented on #4355
Hey @btdan - from logs files it clearly looks like the TSDB gets into an unrecoverable state after you send the `SIGKILL` signal.

To be honest, I'm not really surprised by that. Processes cannot catch or act upon `SIGKILL` - they just get killed right in the middle of whatever they are doing and don't get a chance to clean-up.

Thanos [catches](https://github.com/thanos-io/thanos/blob/d587ac90f67

[2021-07-01 16:05] PhilipGough commented on #3870
@crsandeep I will take a go at this unless you are still working on it in the background?

[2021-07-01 16:08] crsandeep commented on #3870
Apologies, I couldn't get to this.
@PhilipGough please feel free to pick this up

[2021-07-01 17:10] bwplotka commented on #4338
I think mixin is fine, the only thing is that probably we should not reuse the same dashboards we have now.

Reason is that there is a difference between monitoring dashboards and deep down quick debugging dashboards which can have 100 graphs.

[2021-07-02 09:33] Whyeasy opened #4399 "[Thanos Ruler] Alerts closing and opening instantly."
**Thanos, Prometheus and Golang version used**:

Thanos version: 0.21.1
Prometheus version: 2.27.1
Alertmanager: 0.22.2

**Object Storage Provider**:

GCS

**What happened**:

We run our Thanos Ruler in HA with some recording rules and have alerts in place for some of these recording rules. We are experiencing some issues with alerting. We see that the alerts are getting closed and instantly getti

[2021-07-02 09:34] Nexucis opened #4400 "Add sorting and filtering to flags page"
In Prometheus, this PR https://github.com/prometheus/prometheus/pull/8988 has been merged.
It provides a search field and a way to sort the different flag.

![image](https://user-images.githubusercontent.com/4548045/124254587-810a2580-db29-11eb-952a-2895724d3620.png)

The PR also changed the `fuzzy` lib in favor of a new up to date one `@nexucis/fuzzy`.

Since it has been merged on Prometheus, it

[2021-07-02 10:22] ianbillett opened #4401 "Improve guidance for helping users debug performance issues"
### Is your proposal related to a problem?

This project receives a large number of performance related questions of the form:
* Why is `<component>` using so much memory?
* Please help, `<component>` is running slowly.

The level & detail of information provided in these reports can vary quite a lot. The standard bug report that users fill out only asks them for relevant logs for a given componen

[2021-07-02 11:31] ianbillett commented on #4338
@wiardvanrij & @yeya24 you both raise an important point I hadn't considered. For the core Thanos project to remain environment neutral we can't introduce environment-specific dependencies into the mixin, we can only use metrics that are exported from the core project itself.

I still think there is scope to include relevant CPU & memory information from the `go_*` family of metrics, but I'm not s

[2021-07-02 11:48] #3548 closed

[2021-07-02 13:29] Nexucis commented on #3142
Hello,

After doing a couple of PR to report the changes done on Prometheus side, in Thanos, definitely sharing component / service / pages would be great so we don't have to do the job twice.

On the prometheus point of view, it would be painful to put the different shared component outside of the Prometheus repository.
So we could create one or multiple shared package in the Prometheus repositor

[2021-07-02 13:34] Nexucis commented on #3142
and not sure it's really a good first issue. But that's maybe just me haha.

[2021-07-02 15:12] #4305 closed

[2021-07-02 16:08] bwplotka commented on #4396
Looks like some tenant label name might be passed wrongly.

[2021-07-02 16:57] #4396 closed

[2021-07-02 17:33] spaparaju opened #4405 "Receive component is getting terminated"
Thanos-receive process (on a Kubernetes environment) is getting terminated with an error.

**Thanos, Prometheus and Golang version used**:

quay.io/thanos/thanos:v0.20.0-rc.0

**Object Storage Provider**:

S3

**What happened**:
Thanos Receive pods are getting terminated with an application error.

**What you expected to happen**:

NO termination of Thanos receive pods with an application error.

[2021-07-02 17:41] slayer321 commented on #4395
Hii @bwplotka, I will like to contribute to this project can you assign it to me.

We only need to add [this](https://github.com/thanos-io/thanos/blob/06ae3b892321b1d4db231aead60df1666b917749/website/data/adopters.yml) link to the README.md right?

[2021-07-02 17:47] #4400 closed

[2021-07-02 20:35] GiedriusS commented on #4405
The goroutine dump seems to be incorrectly formatted. Could you copy it verbatim? And does it happen with the newest version?

[2021-07-03 04:01] nikitag55 commented on #3747
@DadaHiT Were you able to find the solution? I'm also facing the same issue.

[2021-07-03 10:10] yasharne commented on #4322
Hi @yeya24 as you see the `query` and `query-frontend` are not reaching their resource limitation but for older queries (like 2 months) they will return 503 error and there is a huge difference between Prometheus's response time and Thanos's response time (the two last screenshots)

[2021-07-03 23:56] yeya24 opened #4407 "Querier can deduplicate select call"
### Is your proposal related to a problem?

In a complex promql query, a metric might be used multiple times in an expr. For example, https://github.com/kubernetes-monitoring/kubernetes-mixin/blob/master/alerts/resource_alerts.libsonnet#L43-L62.

[code]

For this query, thanos query will perform 1 time {__name__="namespace_memory:kube_pod_container_resource_requests:sum"} `select` and 3 times {__n

[2021-07-04 08:49] GiedriusS commented on #4407
It can work the other way too: if someone is asking for a metric `foo{}` then we can reuse the results of that request for all queries that use the same metric + any kind of matchers e.g. `foo{bar="baz"}`

[2021-07-04 15:30] sandeep1785 commented on #4395
Hi. I just made a PR for this above. Please let me know if any changes are required.

[2021-07-04 16:10] anoop2503 opened #4409 "Thanos Store Gateway is getting restarted"
**Thanos, Prometheus and Golang version used**:
Thanos Version: v0.18.0

**Object Storage Provider**: S3

**What happened**:

As per the doc: https://github.com/thanos-io/thanos/blob/main/docs/components/store.md
"It acts primarily as an API gateway and therefore does not need significant amounts of local disk space."

In my environment, I have deployed Thanos components as Kubernetes applications

[2021-07-04 17:17] yeya24 commented on #4407
@GiedriusS The cache solution makes sense to me. Can we use an in memory cache with short ttl in querier for deduplication?

[2021-07-04 18:25] yeya24 commented on #4407
@GiedriusS I am trying to add a cache to each querier instance. But the problem is that the `select` function is now concurrent so that we cannot wait for the `select` results to be cached.

[2021-07-05 10:47] bwplotka commented on #3832
This is about reseting the cycle, but ideally we can track removing cycle at all here 🤗

As discussed here:

https://github.com/thanos-io/thanos/issues/3832#issuecomment-785823600

[2021-07-05 10:49] bwplotka commented on #3832
AC:
* Thanos is no longer dependant on Cortex. 🤔

Motivation:
* Continous pain of upgrading interfaces with breaking changes between project

[2021-07-05 10:50] bwplotka commented on #3832
Go 1.17 might help, so worth to check the upgrade process with this Go version

[2021-07-05 14:40] pawanakhil commented on #4363
hey @GiedriusS , I am new to this repo as it's labeled easy can I take this up ? It would be great if you can guide me through this.

[2021-07-05 19:21] iamrajiv opened #4415 "Weak cryptographic primitive used in `pkg/receive/config.go` file"
## Description

MD5 is a relatively weak encryption/hashing algorithms. Go's official documentation also warns against the usage of [MD5](https://golang.org/pkg/crypto/md5/). The most common alternative for the insecure algorithm can be the use of SHA512 instead of MD5.

[2021-07-05 19:32] yeya24 commented on #4415
Same as https://github.com/thanos-io/thanos/pull/4164.

[2021-07-05 19:32] #4415 closed

[2021-07-06 06:25] anoop2503 commented on #4409
Any idea about this issue?

[2021-07-06 07:41] arajkumar commented on #3915
@dgrisonnet ,

IMHO, `prometheus_http_requests_total{code="503",handler="/api/v1/status/config"} ` is co-related with thanos_sidecar_last_heartbeat_success_time_seconds and would exhibit the same problem during WAL replay.

How about making use of `prometheus_tsdb_head_max_time_seconds` which is closely related to WAL. Another option would be to add a gauge metric to prometheus to indicate the WAL

[2021-07-06 09:56] victorhaggqvist opened #4420 "receive: does not cleanup old data on disk, but tries to load it on boot, causing OOM down the line"
**Thanos, Prometheus and Golang version used**:
quay.io/thanos/thanos:v0.21.1

**Object Storage Provider**: GCS

**What happened**:
Running with:
[code]
Several days old data is left on disk, with no attempts of shipping it to storage. Not necessarily days worth of data, tho I have not really checked that.

Some WAL segments are left forever on disk, eventually causing OOM on boot, as memory needs

[2021-07-06 14:24] matej-g commented on #4364
Just noticed this as I was browsing the 'Getting Started' page. Has this been picked up? If not I am happy to put together a fix.

[2021-07-06 17:16] yeya24 commented on #4363
I will take this one as we need this feature.

[2021-07-06 23:04] vkrishnamoorthy-sift opened #4422 "ThanosQuery does not read from GCS - StoreGateway configuration seems right"
**Thanos, Prometheus and Golang version used**:

I installed thanos in k8s (GKE) using helm

[code]

If I make a query in the query interface with store-gateway as a a filter, I get zero results

**Object Storage Provider**:

GCS

**What happened**:

**What you expected to happen**:

I expected the Query to read from GCS but it does not. I can see blocks stored in GCS

![image](https://user-images

[2021-07-07 10:23] ioannissavvaidis opened #4423 "Thanos Sidecar and Exemplars"
### Is your proposal related to a problem?

In our monitoring stack, we are using Thanos/Prometheus for metrics, Loki for Logs, and Grafana for visualization.
Now, we are in the progress of deploying Tempo for tracing and utilizing the **exemplar** feature, in order to have a unified solution for observability.

After upgrading Thanos to the latest version (currently v0.21.1), along with Prometheu

[2021-07-07 14:13] bwplotka opened #4424 "multi-tenancy: Tenant aware Target API"
Current Target API does not have tenancy capabilities: We cannot match those by label and allow storage to pick only targets for relevant data.

AC:
 * Targets API supports passing label matcher
 * Querier us able to match according Target API based on external labels
 * Target API is able to advertise it's external labels

Open question: Can we somehow make Prometheus target API multi-tenant?

[2021-07-07 16:59] bwplotka opened #4425 "receive: Auto tunable write rate limit for ingesting receive based on configurable resource limits"
*AC*:
* Benchmark receive and gather the latest (average) consumption of memory and CPU (mainly mem) per single write request, stored number of series and samples (after GC run)
* Implement a function that calculates remaining pool of write requests we can consume in given moment based on user provided CPU and Mem limits
   * leave some room for querying traffic
* Enforce rate limit based on this.

[2021-07-07 18:22] yeya24 commented on #2569
Reopen as I am still interested in this one.

[2021-07-07 18:47] spaparaju commented on #4405
not tested yet with the new Thanos release 21.x

[2021-07-08 02:28] #3868 closed

[2021-07-08 03:42] yeya24 commented on #3868
Just saw this issue. @dswarbrick
We met the same issue recently and the error is `context deadline exceeded`.

For us, the reason is that the wait-interval is too small, only 5m. But the data in the object storages are over 60k blocks. If there are too many data in the bucket, it takes a long time to iterate through all the objects and it is easy to take longer than the default 5m.

You can try to

[2021-07-08 08:28] ioannissavvaidis commented on #4423
It worked!

Leaving a comment here for reference.

In the centralized Thanos, we parsed the following extra args :
[code]

Now, we have exemplars in our Dashboards, using our centralized Thanos as datasource.

[2021-07-08 08:28] #4423 closed

[2021-07-08 08:58] dswarbrick commented on #3868
@yeya24 As I understood, the the `--wait-interval` is merely a kind of cool-down period between consecutive runs, and shouldn't play a role _during_ compaction. We haven't hit this issue for a while in any case, so maybe our S3 service reliability has improved ;-)

[2021-07-08 13:49] #4359 closed

[2021-07-08 14:11] ianbillett commented on #3870
Chatted with @PhilipGough about this ticket earlier, we were a little confused so just wanted to be more explicit about what we expect the output of a call to Query's `/api/v1/targets/metadata` would be.

Say we had a Querier configured to communicate with two sidecars `StoreAPIs` with two Prometheus instances. Calling `/api/v1/targets/metadata` on each Prometheus returns the following:
[code]

We

[2021-07-08 14:43] ianbillett opened #4429 "e2e: Add ascii diagrams for each of the e2e integration tests"
### Is your proposal related to a problem?

Understanding the topology of e2e integration tests is non-trivial.

### Describe the solution you'd like

Add ascii diagrams to each of the integration test topologies.

### Additional context

I've had some positive feedback from @squat & @GiedriusS [here](https://github.com/thanos-io/thanos/pull/4368#pullrequestreview-702087041) that ascii diagrams in

[2021-07-08 14:44] ianbillett commented on #4429
Suggested labels `help-wanted`, `good first issue`.

[2021-07-08 15:07] yeya24 commented on #3868
@dswarbrick That's right. But for the UI usage, it has another goroutine to sync block metas and uses wait interval as timeout https://github.com/thanos-io/thanos/blob/main/cmd/thanos/compact.go#L537.

[2021-07-09 09:02] arajkumar commented on #3915
@dgrisonnet , @bwplotka

Yesterday, myself and @paulfantom had pretty long slack programming :) He helped me to tweak the alert expression by including `prometheus_tsdb_data_replay_duration_seconds` metrics from Prometheus.  Below is a [modified one](https://github.com/thanos-io/thanos/blob/main/mixin/alerts/sidecar.libsonnet#L47).,

[code]

We had to introduce another label set(commonDimensions)

[2021-07-09 09:21] #4363 closed

[2021-07-09 10:28] ssadok commented on #1507
Hello for me it's work when you add the extraflag `--grpc-client-tls-secure` and on the observee cluster i havec certman activated

[2021-07-09 11:23] Tiemma commented on #4216
Hello

For this, we use the endpoint to check if the thanos instance does expose a proper prometheus endpoint.

As of now, the `api/v1/flags` endpoint is exposed and this solved our use case.

If there are no issues, we can close the issue.

[2021-07-09 15:58] jumakasy opened #4432 "[Thanos Rule] Rules Files not reloading after SIGHUP signal"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.21.1 (branch: HEAD, revision: 3558f4a5adc8d4068f82528570a439d440f98b9d)
  build user:       root@744cf7ef4576
  build date:       20210604-12:11:58
  go version:       go1.16.5
  platform:         linux/amd64

**What happened**:
After rule files update, a SIGHUP signal is sent to Thanos in order to reload the rules in run time. The

[2021-07-09 19:31] sevagh commented on #4310
Thanos for the replies. @yeya24 I'm reading this PR you recently got merged, and I think it might help me: https://github.com/thanos-io/thanos/pull/4239/files/15acd8c8683c8ecc785ec71e4c16f89738e839b6#diff-59764a4da653d4464eac20465390033ab8abbd8b54688979727065cb389e848d

One of my issues with Ceph-Thanos is that I have 2x Prometheus pollers like a typical HA setup, and store 2x copies of each tsdb

[2021-07-10 00:50] yeya24 commented on #4310
That `penalty` mode can reduce the data size in your bucket by less than 50%. About 30% ~ 45 % I guess as only chunk data are deduplicated, but indexes are still the same compared to the regular compaction.

[2021-07-10 04:20] yeya24 commented on #4424
What's the label of a target?

[2021-07-10 04:20] yeya24 commented on #4422
Umm, I guess this issue was solved? @vkrishnamoorthy-sift As we already talked about this on slack, I will close the issue.

[2021-07-10 04:20] #4422 closed

[2021-07-10 10:26] bwplotka commented on #3081
Defnitely in progress (: cc @saswatamcode

[2021-07-10 10:36] bwplotka commented on #4429
Ambitious! =D I am not sure if that makes sense tbh. Maybe we need some documentation entry first to teach contributor to make them (:

[2021-07-10 18:23] jmichalek132 commented on #4432
Possible workaround until it's fixed is triggering reload by calling http endpoint: `curl localhost:10902/-/reload -X POST`.

[2021-07-10 19:24] yeya24 commented on #4310
@sevagh Let me move this to discussion as it is generally a question, not an issue.

[2021-07-10 19:24] #4310 closed

[2021-07-10 20:17] #4099 closed

[2021-07-10 21:01] jmichalek132 commented on #4432
I was able to track down this [pr](https://github.com/thanos-io/thanos/pull/3993) which introduces the bug. I was also able to fix it in my [branch](https://github.com/jmichalek132/thanos/commit/575cb09235a05d9045cacd78d53229a7dfe041a3). With this change  reloading using sighup works for me again.

[2021-07-10 21:58] doug-ba commented on #903
I’m still interested in this feature.

[2021-07-11 00:22] yeya24 commented on #4079
I am wondering if this still makes sense. This kind of operation is of high risk so might be better to be a separate admin API? Just like Prometheus.

[2021-07-11 00:25] yeya24 commented on #1708
This can also address the problem mentioned in https://github.com/thanos-io/thanos/pull/4406

[2021-07-11 00:36] yeya24 commented on #2348
Can you add more details to the description? What's the action item for this issue? @bwplotka

[2021-07-11 00:46] yeya24 commented on #4234
Fixed in https://github.com/thanos-io/thanos/pull/4223

[2021-07-11 00:46] #4234 closed

[2021-07-11 09:44] jumakasy commented on #4432
Yes, the workaround works.
Thanks 👍

[2021-07-11 14:48] LeviHarrison commented on #4425
Going further with this, I think it would be cool if receivers could expose such a rate limit/traffic indicator to load balancers which could use that to make routing decisions.

[2021-07-12 08:26] idoqo commented on #3425
@yeya24 I think https://github.com/thanos-io/thanos/pull/4057 fixes this so we can close it now.

[2021-07-12 09:23] bwplotka commented on #4204
Nice, thanks for this!

Just to recap: Miekg resolver was working fine for everyone, but Go native not, right?

In this case, I would indeed unhide it and make it a default TBH - it has proven to work well for many. We can actually make even better use of it e.g finally use TTL metadata.

[2021-07-12 11:01] bwplotka commented on #3425
Let's close and reopen if still happening, thanks @idoqo !

[2021-07-12 11:01] #3425 closed

[2021-07-12 12:45] filippog opened #4437 "Thanos compact exit on retriable S3 error while uploading downsampled blocks"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**: Swift with S3 API compat

**What happened**: Thanos compact got an error from S3 API while uploading downsampled blocks and it quit

**What you expected to happen**: Retry the upload or move on with the next operation

**How to reproduce it (as minimally and precisely as possible)**: Unclear at this time, but inducing an

[2021-07-12 13:28] simonpasquier commented on #4204
This is my understanding. I'd be :+1: on your idea @bwplotka

[2021-07-13 00:01] #4119 closed

[2021-07-13 00:01] #3878 closed

[2021-07-13 00:01] #4059 closed

[2021-07-13 03:37] yeya24 commented on #903
I am still interested in this as well. Now with the new bucket rewrite tool and the `compactv2` library, this is already doable I think.

[2021-07-13 10:07] clushie commented on #4241
We also get access denied, even though we don't have istio enabled. If I specify a different bucket name it successfully shows that the bucket doesn't exist (which might show that authentication indeed works correctly?). Also doing

[code]

doesn't show any additional minio debug logs for some reason.

[2021-07-13 15:05] filippog opened #4440 "Thanos compact fails to exit on sigterm under certain conditions"
**Thanos, Prometheus and Golang version used**:

Thanos 0.21.1 + golang 1.15

**Object Storage Provider**: swift S3 api compat

**What happened**:

When Thanos compact is running certain operations (I think compaction and/or downsampling) then the process shuts down e.g. http listeners on sigterm but not everything is wrapped up and the process stays alive, I'm running with systemd in case that's

[2021-07-13 17:38] #2249 closed

[2021-07-14 08:47] matej-g commented on #4353
Looks like this issue duplicates #4364 which collected also a few more broken links

[2021-07-14 15:52] MrYueQ commented on #4386
![image](https://user-images.githubusercontent.com/14846522/125652685-373efb0f-e1b5-4b91-88cd-790faa832fe0.png)

[2021-07-14 22:13] sevagh opened #4445 "Thanos Rule fails to load all rules files after reload - numFiles is dropping"
Thanos version: 0.22.0-rc.0 downloaded from the GitHub releases: https://github.com/thanos-io/thanos/releases/tag/v0.22.0-rc.0
OS: Debian 10 Buster, AMD64 architecture

The problem: I upgraded Thanos from v0.16.0 to v0.22.0. Since the upgrade, I noticed the Thanos Rule instances are failing to load all of the rules files.

If you do a `systemctl restart`, all the rules files are loaded. Then after

[2021-07-14 22:39] sevagh commented on #4445
I think duplicate of https://github.com/thanos-io/thanos/issues/4432

[2021-07-14 22:48] sevagh commented on #4445
Like was suggested in #4432, using `curl http://sv3-thanos1:10908/-/reload -X POST` works better than the Linux signal for now, and Thanos successfully reloads all of the files.

[2021-07-15 07:57] GiedriusS commented on #4445
Thanks for testing and the detailed report! This bug appeared somewhere around the 0.19 version so you've hit it after upgrading. Let's try to fix it with https://github.com/thanos-io/thanos/pull/4442

[2021-07-15 12:49] vsile commented on #4022
Hello!
I keep looking for a solution to enable negative offset in Thanos..

The [PR](https://github.com/thanos-io/thanos/pull/4026) of @yeya24 looks good.
It is unlikely that there will be many similar flags in Prometheus.
It would be fine to receive the PR in the current implementation.

[2021-07-16 02:47] wuming333666 opened #4447 "loadMeta: Reduce the number of queries with object stores"
### Is your proposal related to a problem?

When performing compact operations, part of the time is spent on repeatedly finding metafiles；
Is it possible to cache the block that has been looked up.

### Describe the solution you'd like

fetch.go--> loadMeta
[code]

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2021-07-16 05:30] yeya24 commented on #3834
We are still interested in this feature.

[2021-07-16 17:38] dmilind opened #4450 "Querier provides different query results on each execution of same query."
**Thanos, Prometheus and Golang version used**:
Thanos: v0.21.1
Prometheus: 2.28.0
golang: go1.16.5
--

**Object Storage Provider**:
azure container storage

**What happened**:
I have Thanos set up with 5 pods of the receiver. Prometheus sends samples correctly to thanos receive. When I hit query on querier, each time I see different results. For example If I hit simple `up` query on querier, at o

[2021-07-17 06:21] Nctllnty commented on #4420
me too, i set --tsdb.retention=0,but it's happend.

[2021-07-18 06:36] yeya24 commented on #4395
Closed due to #4408

[2021-07-18 06:36] #4395 closed

[2021-07-18 23:21] huyan0 commented on #3442
still valid. Given there's no such validation in Prometheus, I wonder if I could work on a fix that post metrics for operator, skip the block to continue compaction when out-of-order chunk is found.   @bwplotka

[2021-07-19 07:42] matej-g commented on #4232
@wiardvanrij I'd take this one if it's not being worked on

[2021-07-19 08:55] daiwei233 commented on #4232
Hi, I'm trying to fix it out.
And change this:
https://github.com/thanos-io/thanos/blob/f4a5904b0c3be7565298cf257ad43ac1942021cc/pkg/rules/manager.go#L358
`newFn := filepath.Join(m.workDir, s.String(), strings.TrimLeft(fn, m.workDir))`
to
`newFn := filepath.Join(m.workDir, s.String(), filepath.Base(fn))`

What do you think?

The bug reapper:
[code]

[2021-07-19 09:19] wiardvanrij commented on #3957
This is actually implemented.

[2021-07-19 09:19] #3957 closed

[2021-07-19 09:22] wiardvanrij commented on #4450
I think you should re-check your de-duplication on the query. I.e. you have `--query.replica-label=tenant` but I would have assumed a label like `receive_replica`

[2021-07-19 09:25] wiardvanrij commented on #4447
I'm actually not sure if the compactor uses the memcached cache. Perhaps a win could be made there. Other than that, I think it would be interesting to investigate where some wins could be made regarding the amount of requests made to the object store.
Especially in environments with SSE/SSL/etc , each requests is adding up to the costs (KMS actions).

[2021-07-19 09:26] wiardvanrij commented on #3966
Still relevant

[2021-07-19 09:27] wiardvanrij commented on #4440
Perhaps related: https://github.com/thanos-io/thanos/issues/3966

[2021-07-19 10:20] airkewld commented on #3957
Thank you so much for the hard work on this issue @wiardvanrij

[2021-07-19 10:31] GiedriusS commented on #3966
I have observed this a few time and AFAICT this happens because there aren't many cancelation points in the Prometheus compaction code or our downsampling code. So, two improvements can be made here:
* Add more cancelation points to the code i.e. where we check whether the context is still valid
* And close the HTTP server at the end of the whole shutdown operation

Help welcome.

[2021-07-19 11:48] hanjm opened #4452 "tool: bucket web add relabel and time flag"
### Is your proposal related to a problem?

The bucket has many tsdb objects, the ui frontend will clunky or hang, it can not drag. I open chrome console to inspect,
the response data size of api endpoint`/api/v1/blocks?view=global` is `12.4MB` .
![image](https://user-images.githubusercontent.com/7621241/126155008-d948ae44-91b6-46fc-80de-9cefbdef826e.png)

### Describe the solution you'd like

add

[2021-07-19 15:11] GiedriusS commented on #4432
Fixed by https://github.com/thanos-io/thanos/pull/4442. It's now covered by tests so it's working 100% :muscle:

[2021-07-19 15:11] #4432 closed

[2021-07-19 15:11] GiedriusS commented on #4445
Fixed by https://github.com/thanos-io/thanos/pull/4442. It's now covered by tests so it's working 100% :muscle:

[2021-07-19 15:11] #4445 closed

[2021-07-19 20:00] rbounds commented on #3750
Yes still remains a problem .

[2021-07-19 20:41] huyan0 commented on #3442
Also curious to why out-of-order chunk halts the compaction. Is it reasonable to mark this block as corrupted and continue on with the compaction?

[2021-07-19 21:09] yeya24 commented on #3442
Right, I think this is reasonable. If a block fails the index check, we can add a marker to that block and skip the current compaction.

[2021-07-20 04:17] dsayan154 commented on #1318
still valid

[2021-07-20 10:26] tydhot opened #4456 "Compactor:failed to run compactor and deletion-mark.json is remained in my Minio"
I have run my compactor with that command line:

<img width="675" alt="image" src="https://user-images.githubusercontent.com/27889201/126308456-f9ec711f-021d-4503-b6ef-2e454e681b01.png">

but it failed and the log looks liked:
<img width="1152" alt="image" src="https://user-images.githubusercontent.com/27889201/126308490-28a60350-ec30-4b85-bbeb-296f33142154.png">

It exist and the Minio's log file

[2021-07-21 06:35] yeya24 commented on #2620
Still valid.

[2021-07-22 01:49] btdan opened #4466 "Qurey：Can not query from Object storage"
I run with the command as follows：

nohup thanos receive
--tsdb.path "/aiops/prometheusData/metricsData"
--grpc-address 0.0.0.0:10907
--http-address 0.0.0.0:10909
--receive.replication-factor 1
--label "receive_replica="0""
--label "receive_cluster="aiopssection""
--receive.local-endpoint 10.0.90.202:10907
--receive.hashrings-file /aiops/hashring.json
--remote-write.address 0.0.0.0:10908
--objstor

[2021-07-22 03:36] #4139 closed

[2021-07-22 03:36] #4138 closed

[2021-07-22 03:36] #4129 closed

[2021-07-22 03:37] #4124 closed

[2021-07-22 03:37] #4201 closed

[2021-07-22 03:37] #4195 closed

[2021-07-22 05:53] starleaffff commented on #4192
If prometheus sends metric that is too old to thanos-receive, should it respond with http status 500 or 4xx? Wouldn't 500 cause prometheus to retry endlessly?

[2021-07-22 08:02] matej-g commented on #4232
Hey @daiwei233, please have a look at my proposed solution at https://github.com/thanos-io/thanos/pull/4468 and let me know your thoughts!

I think best way here is to not trim / alter the filename, since the trimming does not seem to have the desired behavior and leaving the full filename in does not seem to pose an issue (I'm wondering what was the original intention behind using `TrimLeft`). Wi

[2021-07-22 08:19] daiwei233 commented on #4232
Hey @matej-g
As far as I know, thanos will not list files under rule dir recursively(So I don't think we can actually use the same rule name in the same directory). It seems to be an another bug...

https://github.com/thanos-io/thanos/blob/005800385c981419700d8ff4123a3d42e9f98f9d/cmd/thanos/rule.go#L785

A test:
I have the dir like:
[code]

print with `filepath.Glob`
[code]

[2021-07-22 08:50] daiwei233 commented on #4232
You are right, i think it will be work.https://github.com/thanos-io/thanos/pull/4468

[2021-07-22 14:18] dgrisonnet commented on #3915
I really like this approach based on the `prometheus_tsdb_data_replay_duration_seconds` :+1:

I would also be in favor of removing `ThanosSidecarPrometheusDown`, but I am concerned that we will not be able to catch instances where Prometheus was never able to complete its WAL replay. For example when Prometheus is OOMKilled before completing its WAL replay.

[2021-07-22 17:12] yeya24 opened #4470 "Compactor: Provide more info when unhealthy index found"
### Is your proposal related to a problem?

Compactor halted when out-of-order chunks were found.

The error log is:

[code]

It only mentions 1 series has out-of-order chunks but doesn't say which series causes the problem. So the only way to fix this is to delete the whole block, which is not ideal.

### Describe the solution you'd like

Provide the series information in the logs so that I can u

[2021-07-22 20:20] yeya24 opened #4472 "Display markers in the bucket UI"
### Is your proposal related to a problem?

There is no way to tell whether a block has been marked for deletion or no-compaction right now.

### Describe the solution you'd like

Now the bucket UI displays the meta.json file for each block. Though deletion markers are not part of the meta.json file, we can add some additional information to that block or use even different colors to represent the

[2021-07-23 00:10] yeya24 commented on #4233
Not stale.

[2021-07-23 02:38] starleaffff commented on #3913
We see similar issue, which leaves a hole of hours of missing metrics. thanos v0.19.0, prometheus v2.27.1.

The issue happens occasionally when we roll thanos-receive (replication factor 2, replicas 3). With log level "info" thanos does not log a lot so I could only go with Prometheus logs. During the period of missing metrics, I see streams of errors with "conflict" and "HTTP status 500", which i

[2021-07-23 02:56] onprem commented on #4472
Yes, this is already planned as part of the LFX project going on.
cc @adzshaf

[2021-07-23 06:03] #4065 closed

[2021-07-23 06:03] #4168 closed

[2021-07-23 07:31] ethernoy commented on #4296
This still happens in Thanos 0.20.1
![image](https://user-images.githubusercontent.com/15870761/126750485-eafc6c52-ede0-495a-a278-20f658459f3e.png)

Any idea how to troubleshoot this issue?

[2021-07-23 08:12] paulfantom commented on #3915
Both should result in `ThanosSidecarUnhealthy` shouldn't they? And if so, then symptom is the same and correct steps for investigation should be written in a runbook.

[2021-07-23 10:43] amine250 commented on #3454
Having the same thing here.
Maybe because my s3 bucket doesn't actually hold any data of the given timerange.

If this is the case, then the "Invalid date" is very very misleading.

[2021-07-23 14:18] gkope commented on #3750
Same problem here

[code]

[2021-07-23 15:10] amine250 opened #4478 "query: Misleading message when there are no metrics during the announced timerange of a store"
**Thanos, Prometheus and Golang version used**:

Item | Version
--|--
Thanos | 0.22.0
Revision | 3656e290c8eb034e2e09e0afc79f087be88de481
GoVersion | go1.16.6

**Object Storage Provider**:

AWS S3

**What happened**:

Wanting to time shard the store component, I've configured `--max-time=-7d` and `--min-time=-30d` in one of the stores. No metrics have been scraped during this timerange.

While the

[2021-07-23 15:17] narenreddycs commented on #4225
After adding Receiver Hashring, we are not seeing any data gaps in the dashboards. Closing this!

[2021-07-23 15:17] #4225 closed

[2021-07-23 15:31] rmccarthy-ellevation commented on #3735
I'm getting this issue now. Does anyone know if there is a solution?

[2021-07-24 11:17] hanjm opened #4479 "COS objetstore client MaxIdleConnsPerHost too few"
**Thanos, Prometheus and Golang version used**: v0.21.1

**Object Storage Provider**: COS

**What happened**:
the thanos tools bucket web run after some duration, there will a lot of error logs like dial tcp 169.xxx:443: connect: cannot assign requested address. `netstats` show many TIME_WAIT connection.
![image](https://user-images.githubusercontent.com/7621241/126867826-6fc69ae4-1d01-44b6-be1a-9

[2021-07-24 14:54] hanjm commented on #4479
I think the root cause it the cos client use http.MaxIdleConnsPerHost=2, but it concurrent num of fetch metadata is 32, then many http connection create and close. too many TIME_WAIT.

[2021-07-25 03:27] #4452 closed

[2021-07-25 17:23] mbrancato opened #4483 "Query and Store gateway crash when retrieving moderate amount of data from GCS"
**Thanos, Prometheus and Golang version used**:
`docker.io/bitnami/thanos:0.21.1-scratch-r0`

**Object Storage Provider**:
GCS

**What happened**:
When trying to load 7 days of data for a single metric, the query and store gateway services appear to restart. Query returns a 502.

I initially hit some memory limits, so I raised those. Additionally, the readiness probe starts to fail, so I increased

[2021-07-25 17:55] iliyahoo opened #4484 "Store-Gateway can't read historical metrics from GCP bucket"
**Thanos version used**: **v0.21.1**

**Object Storage Provider**: **GCP**

**What happened**:
Trying to retrieve historical data from GCP bucket consistenly getting the error
[code]
The same time the **livenessProbe** is falling too:
[code]
_Pod resource request_
[code]
_Pod arguments_
[code]

**How to reproduce it**:
Query metrics for last 6 months
[code]

[2021-07-26 12:09] dmilind commented on #4450
@wiardvanrij  I tried this option but no luck still I am seeing same behaviour.
can someone please provide any details on this ?

[2021-07-26 14:43] #4177 closed

[2021-07-26 14:50] hanjm commented on #4450
the arg --query.replica-label=tenant is wrong，shoud be --query.replica-label=replica

[2021-07-26 14:51] dmilind commented on #4450
This is getting serious issue for my team since, grafana dashboards are not giving consistent data and false alerts are also getting triggered. If anyone is aware/worked on this issue please suggest here

[2021-07-26 14:52] dmilind commented on #4450
Let me try this

[2021-07-26 14:53] hanjm commented on #4484
Seems you have many blocks in object store. you should sharding store-gateway by time and relabel with hashmod or tenant. refrence doc: https://thanos.io/tip/thanos/sharding.md/#time-partitioning

[2021-07-26 15:01] hanjm commented on #4483
Seems store-gateway out of memory.  perhaps the timeseries high cardinary. run this query to get cardinary.
[code]

you can add store-gateway args `grpc.series-sample-limit`  to limit memory usage.

[2021-07-26 15:04] dmilind commented on #4450
@hanjm  I applied this `--query.replica-label=replica` as well but still same issue

[2021-07-26 15:10] dmilind commented on #4450
I am keeping identical flags for querier and receive here:
`--label=receive_replica="$(INSTANCE)"` - from receive
`--query.replica-label=replica` from querier

still issue persists

[2021-07-26 15:16] ianbillett commented on #4450
@dmilind my debugging strategy here would be:
* Run the querier and get one set of results
* Run the querier again and get another set of results
* Diff the two results and ask yourself - what is different about the data?
* Can you identify a pattern in the data?
* Grab an open source Thanos Query dashboard and see if anything looks funky - do the stores change frequently?

[2021-07-26 17:16] dmilind commented on #4450
@ianbillett  I gave second attempt for debugging as you said
* ran querier with simple (up) query) first time and got 1 result means one thanos component pod was up
* ran second time with same query and got 3 results this time
* Everytime I re-execute again different num of results are provided
* for few result only the diff is receive pod replica name
* Pattern in data is so random like one time

[2021-07-26 17:50] ianbillett commented on #4450
So that is progress - it sounds like the problem is that only some of the stores are executing your query. At this point I would try being explicit about the DNS names of the stores instead of using the DNS service discovery.

At this point, without a whole bunch more information (logs, screenshots, video) we (the Thanos community) will struggle to help you diagnose the problem and navigate toward

[2021-07-26 17:55] dmilind commented on #4450
What I am guessing is

1. Samples sent by Prometheus are not available on all thanos receive at one particular instance of time. One of the thanos pod is having the sample but other pod is missing those samples
2. During this time when querier hits receiver, result will be shown depending on the samples sustained by receiver.  If no samples are replicated on one of the receiver then empty results

[2021-07-26 18:40] ianbillett commented on #4466
`socket: too many open files` - sounds like your local machine has run out of file descriptors.

[2021-07-26 18:44] #4429 closed

[2021-07-26 18:49] ianbillett commented on #4456
Reading the [docs](https://thanos.io/tip/components/compact.md/#block-deletions)

I don't see anything out of the ordinary here - is anything happening that you are expecting to happen?

[2021-07-26 20:21] dmilind commented on #4450
@ianbillett Upon using static stores instead of DNS SD, everything is working as expected, not seeing any metric flipping anymore.
But since I am using HPA, its will be little hard to update the store everything (assuming predeclared unused stores are not making any issue).

Also why DSN SD is providing flipped metrics result ?

[2021-07-27 02:15] tydhot commented on #4456
@ianbillett Thank you for your reply. I got it about the deletion-mark. But the Compactor will shutdown after compact once. Is that normal condition?

[2021-07-27 02:25] btdan commented on #4466
Thanks very much for your reply.
I have change the value of open files. The result for command "ulimit -n" is as follows:
core file size              (blocks, -c) unlimited
data seg size               (kbytes, -d) unlimited
scheduling priority                 (-e) 0
file size                   (blocks, -f) unlimited
pending signals                     (-i) 31661
max locked memory           (kbytes

[2021-07-27 02:30] btdan commented on #4466
By the way, I am running in a virtual machine. The operating system is centos .
Thanks very much.
Best wishes.

[2021-07-27 03:32] yeya24 commented on #4456
@tydhot You need another flag. Please check the docs.

[code]

[2021-07-27 03:33] #4456 closed

[2021-07-27 03:41] ethernoy opened #4488 "ThanosMixin: Dashboard "all" selector not working"
**Thanos, Prometheus and Golang version used**:
Thanos: 0.20.2-scratch-r1 (bitnami)
Prometheus: 2.27.1 (bitnami)

**Object Storage Provider**:
MinIO

**What happened**:
I imported the Thanos receive dashboard from ThanosMixin and it cannot show anything when selecting "all" in job selector.
![image](https://user-images.githubusercontent.com/15870761/127091304-e1f6833a-a246-433a-bf2d-1635b45f729a.p

[2021-07-27 07:18] #4479 closed

[2021-07-27 11:44] ianbillett commented on #3151
still valid

[2021-07-27 16:55] ianbillett commented on #4466
This has been raised before: https://github.com/thanos-io/thanos/issues/3047, https://github.com/thanos-io/thanos/issues/3313.

A quick google leads me to [this](https://stackoverflow.com/a/32325509) stack overflow question that contains some helpful hints that look relevant to your setup.

I think this can be safely closed.

[2021-07-27 22:34] bwplotka opened #4489 "bucket store initial sync: sync block: BaseFetcher: iter bucket: Server not initialized, please try again."
Store initial sync fails on temporary bucket error without retrying.

Bucket: S3.

Repro: I started minio and immediately then Thanos Store and it failed because minio was still starting (despite readiness probe being OK BTW :/ )

[2021-07-27 22:34] bwplotka commented on #4489
[code]

[2021-07-27 23:05] #4137 closed

[2021-07-27 23:05] #4230 closed

[2021-07-28 08:28] xuanyuanaosheng commented on #850
@davtsur Any update? How to use this API？

[2021-07-28 12:04] wiardvanrij commented on #4267
Still relevant

[2021-07-28 12:05] wiardvanrij commented on #4180
PR still open, relevant

[2021-07-28 12:08] wiardvanrij commented on #4488
Yes please!

[2021-07-28 14:53] majorpeti007 commented on #3870
I was looking into using the `/api/v1/targets/metadata` endpoint on Thanos Query, and I would have expected the output to be one entry per (Target, Metric) tuple, the same as on Prometheus.

[2021-07-28 16:05] iliyahoo commented on #4484
Thank you for reply. I created 12 thanos-store shards by `modulus` relabeling.
Store is much better now but still freezes and shows metrics incompletely.

Here is an excretion from the manifest:
[code]

Our bucket is huge. Can we tune the thanos-store anyhow or it has limitations?

[2021-07-28 16:23] vanugrah commented on #3985
Yes please! I spent the weekend trying to answer that question since we have a huge compaction backlog and I couldn't think of a simple instrumentation to add. Largely because currently compaction planning is iterative, so we'd need to simulate multiple plan invocations per group to accurately determine how many compaction runs would need to happen per group to reach the desired state.

As a user

[2021-07-29 01:40] hanjm commented on #4484
Shard by time and external label is the key.

the query-front-end can split long time range query to multi short time range queries.

[2021-07-29 02:42] btdan commented on #4466
Hi, Thanks very much for your reply.
I think there is no ideal resolution to this problem in  #3047.
And the method metioned in #3313, I have follow the post to modify /etc/security/limits.conf  and other configuration. However, It does not work well.

[2021-07-29 04:50] graqfreak commented on #3404
Hi - I'm seeing a similar issue that relates to overlapped blocks, causing both compactor and storage not being able to start up.
I've tried the option of `--delete-delay=6h` to thanos-compact and `--ignore-deletion-marks-delay=3h` to thanos-store, unfortunately it hasn't worked so far.

Any other ideas?

Ran the verification tool and the number of overlapped blocks is rather large.

Thanos Versio

[2021-07-29 07:14] o099408 opened #4496 "Thanos Compactor/Store unable to start"
**Thanos, Prometheus and Golang version used**: 0.19

**Object Storage Provider**:
Internal, similar to Amazon S3

**What happened**:
Thanos Store & Compactor failing to start-up

**What you expected to happen**:
Thanos Store & Compactor to start-up without any errors.

**How to reproduce it (as minimally and precisely as possible)**:
Hard to say, but as of now it's simply running thanos compact o

[2021-07-29 14:34] shoopdedoop opened #4500 "Thanos UI autocomplete slow/ freezes browser"
**Thanos, Prometheus and Golang version used**:
thanos, version 0.20.1 (branch: HEAD, revision: 10023e4882414baa56a8955057f2678f1e724e8c)
  build user:       circleci@22b1af3c9a07
  build date:       20210430-12:46:55
  go version:       go1.16.3
  platform:         linux/amd64

**Object Storage Provider**:
S3

**What happened**:
Thanos UI autocomplete is very slow.  We are using the Thanos fronte

[2021-07-29 15:44] #4232 closed

[2021-07-29 16:49] iliyahoo commented on #4484
Could you provide me with example of "time-base-partitioning" please?
I can't realize how min-max time frames are related to replicas number.

[2021-07-29 17:40] bwplotka commented on #4407
During community hours we talked about this and indeed there is opportunity to either:
* Cache
* Singleflight (easier) between series (even with different matches)

But also worth to mention that Query pushdown and singleflight on lower nodes (e.g store GW, sidecar) is also a viable option.

NOTE: What about singleflight on Store API gRPC level?

[2021-07-30 01:39] o099408 commented on #4496
After several hours it's back to normal now. Closing the issue, though it would be great to understand what causes it and how can this be addressed effectively.

[2021-07-30 01:39] #4496 closed

[2021-07-30 18:10] #4216 closed

[2021-08-02 01:16] python-it opened #4507 "thanos store aliyunoss 报错"
![image](https://user-images.githubusercontent.com/32905701/127792105-8cdb5260-7b06-4184-b60f-43103f6f44b7.png)
![image](https://user-images.githubusercontent.com/32905701/127792140-561d84de-0ff7-406e-90b9-b285fd6509de.png)
![image](https://user-images.githubusercontent.com/32905701/127792179-05449d2f-e5b8-4b11-bd74-2c31d2dd4e02.png)

[2021-08-03 00:21] alochym01 opened #4515 "Thanos Store GW cannot start"
Hi

i use thanos v0.17.2 with thanos receiver and thanos store gatway.

Tha thanos receiver is working.

I use minio as S3 storage and config for minio client. **The minio S3 server is used self sign certificate**
[code]

config thanos store gateway
[code]

When i start thanos gateway and thanos store gateway cannot start and the error log is below

[code]

How to fix it
thank you

[2021-08-03 01:46] #3739 closed

[2021-08-03 01:46] #4261 closed

[2021-08-03 01:46] #4266 closed

[2021-08-03 07:04] autarchprinceps commented on #1851
Still needed.

[2021-08-03 19:25] #3879 closed

[2021-08-04 00:37] yeya24 commented on #4507
Please use the correct configuration format https://thanos.io/tip/thanos/storage.md/#aliyun-oss

[2021-08-04 00:38] #4507 closed

[2021-08-04 08:32] der-eismann commented on #1851
Remove the stale label please

[2021-08-04 10:20] RayHuangCN opened #4520 "why thanos compactor do compacting before apply retention policy"
I found that thanos compactor do compacting and meta syncing (many times) before applying retention policy. This may cause old blocks never be removed if something wrong during compacting ,and then, old blocks become more and more, and lead to compacting or meta syncing error again.

I think old blocks will never be used for compacting and can be removed before compacting.   🤔

[2021-08-04 11:48] ianbillett commented on #4515
@alochym01 firstly - please do not share any secret material in GitHub issues. You need to rotate those credentials immediately.

[2021-08-04 11:52] ianbillett commented on #4515
The error messages you have provided indicate that `store` cannot access the `minio` deployment. I can't say exactly what the problem is, but I can offer general debugging advice:
* Can you access the minio in-cluster URL from within the cluster?
* Double check the ports Minio is exposing - are you sure they are right?

[2021-08-04 11:57] pstibrany commented on #3839
I think I was the only one for keeping the debug meta files. As I haven't had any use for them in last ~1year and instead suffered from trying to delete lots of them from object store, I am fine with getting rid of them.

(I hope my previous weak preference to keep them isn't what stalled the work here.)

[2021-08-04 14:26] bwplotka opened #4523 "flaky test: `TestProviderUpdatesAddresses`"
[code]

[2021-08-04 18:58] jfg1701a commented on #3765
As far as I know, this is still a problem in thanos receive. We worked around it by proactively throwing away metric data if the timestamp is a future date. We recently ran into a case where the timestamp was only a few seconds ahead of the server, so we may revisit this in our product (i.e automatically reset the timestamp to the current time if it is only a few seconds ahead).

A permanent solut

[2021-08-05 07:03] GiedriusS commented on #4523
@roystchiang :point_up: should be yours?

[2021-08-05 07:07] kakkoyun commented on #4293
@saswatamcode @bwplotka Is this functionality provided with #4327? Shall we close this?

[2021-08-05 10:36] saswatamcode commented on #4293
Yes, functionality is implemented by PR. I think the quickstart script also works. But is there a need to update the tests that use env variables? 🙂

[2021-08-05 12:12] rudo-thomas commented on #3966
We've hit this with `v0.21.1` running on Kubernetes against a locally-hosted S3 (Ceph with radosgw):
[code]

After this the process was not doing anything anymore (as described above) and was not respond to SIGTERM either.

[2021-08-05 13:52] ahurtaud commented on #4466
I am facing the same issue with the new version v0.22.0, whereas at the exact same moment v0.21.1 is working fine so I fear there is a bug introduction on the latest version.
Also it looks like this is happening only on azure blob storage. where the release notes states an refactor.

@btdan
- which thanos version are you using? can you try with v0.21.1.
- which object storage provider are you usin

[2021-08-05 14:39] roystchiang commented on #4523
I'm on it. I will submit a PR to fix it today.

[2021-08-06 07:10] jialanli commented on #616
@doodle-tnw

[2021-08-06 07:11] jialanli commented on #616
I reported this error when deploying alertmanager cluster based on docker: [err] memberlist: received invalid msgtype (80) from = 172.17.0.1:45762 \ n "have you solved it? Please let us know the solution, thank you  @doodle-tnw

[2021-08-06 10:30] MrYueQ commented on #4386
Help me.

[2021-08-06 12:14] ahurtaud commented on #4520
I think this is done on pupose in case retention times are different across resolution.

If the compaction is running late, and the `raw` resolution is expired before having the `5m` block, then it would remove the `raw` block and data will be lost before having the `5m` downsampled data.

[2021-08-06 17:18] yeya24 commented on #4520
This makes sense as old blocks might be still able for compaction ( < level 4). The retention check is based on block max time. So once an old block is compacted with other new blocks and a new block is generated, it might still be within the retention period and the data from the old block is kept.

For some cases, even if olds blocks are compacted, the time range is still beyond the retention ti

[2021-08-06 17:20] yeya24 commented on #4520
Move this issue to discussion.

[2021-08-06 17:20] #4520 closed

[2021-08-06 17:26] yeya24 commented on #4447
@wuming333666 I am wondering if this issue is still valid? As we discussed before, caching the metadata might cause a consistency issue.

[2021-08-07 09:56] filippog opened #4531 "compact: 0.22.0 never starts downsampling work"
I'm running Thanos 0.22.0 binary from GH releases
[code]

**Object Storage Provider**: swift + s3api compat

**What happened**:

Thanos compact stops making progress after `"start first pass of downsampling"` message, e.g. I don't see any `download block` log from `processDownsampling`. I'm running compact like this (i.e. `compact.concurrency=1` and default downsample concurrency):

[code]

I'm se

[2021-08-07 15:23] blemmenes commented on #4317
Anyone have any thoughts on this, or steps I can take to isolate/provide more detail?

[2021-08-08 00:04] Nexucis commented on #4500
Hey,

I tried to reproduce on my side, but so far didn't have the issue you are raising and I tried with a huge query too.

* Could you try to upgrade Thanos to the last version ?
* You have perhaps an extension that is causing this effect. Is it feasible to try with an empty and clean browser ?

thanks for your help :)

[2021-08-08 05:25] imneov opened #4533 "receive: Got errors log "get appender: TSDB not ready;" when reciver cluster started with log "TSDB is now ready""
Thanos, Prometheus and Golang version used:

Thanos: thanos-0.21.1
Object Storage Provider: N/A

What happened:

When starting new reciver cluster, we got error "get appender: TSDB not ready;"
[code]

The start script (thanos-receiver.service):
[code]

The hashring.json:
[code]

[2021-08-09 10:27] GiedriusS commented on #4531
So, you believe that it is stuck? Did I understand this correctly?

[2021-08-09 12:08] filippog commented on #4531
Yes that's correct @GiedriusS, AFAICT it doesn't start the downsampling work at all

[2021-08-09 12:23] filippog commented on #4531
Another data point that might be useful: I downgraded to 0.21.1 and thanos compact is working as expected (i.e. it started downsampling work) with the same command line

[2021-08-09 13:11] ianbillett commented on #4484
@iliyahoo is `thanos-long-term/01FAF3RYJFM78QJJFTGEZJEDQQ/index` an insanely large file? Are you maybe getting a timeout because it is too large to load?

[2021-08-09 13:14] ianbillett commented on #4478
@amine250 that indeed sounds like a bug in query - help wanted.

[2021-08-09 13:17] #4523 closed

[2021-08-09 13:22] ianbillett commented on #4466
Thanks for the information @ahurtaud - the `0.22.0` release included a refactor of the Azure object store https://github.com/thanos-io/thanos/pull/3970, which looks like a smoking gun.

I wonder whether we are unintentionally setting some parameters that we previously did not set before? WDYT @wiardvanrij ?

[2021-08-09 14:01] iliyahoo commented on #4484
`thanos-long-term/01FAF3RYJFM78QJJFTGEZJEDQQ/index` is 40.4 Mb only

[2021-08-09 14:02] wiardvanrij commented on #4466
What we implement were extra config options which you could alter. Those options are kept at "default" i.e. what Azure would do anyway `0`  - See: https://github.com/thanos-io/thanos/pull/3970/files#diff-d22adb0d02d7e04d958ed73bc7759bdcc29707d623a8b8326abcb1f547f8c5f8R29

It was my intention, to make sure it was not breaking and it has been tested. Though only on k8s.

Obviously I could be that I

[2021-08-09 17:30] goku321 commented on #3416
Not stale 🥱

[2021-08-10 02:25] #4246 closed

[2021-08-10 02:25] #4240 closed

[2021-08-10 02:25] #4263 closed

[2021-08-10 02:25] #4245 closed

[2021-08-10 08:46] OGKevin opened #4545 "ruler: Add metric that indicates instant query failures"
### Is your proposal related to a problem?

When ruler fails to evaluate rules due to HTTP error. There is no metric that indicates this as shown by the following piece of code:
https://github.com/thanos-io/thanos/blob/e9ef82bfb13ac5121538605e0b2c0e6f12ec9764/cmd/thanos/rule.go#L731-L747

The metric `thanos_rule_evaluation_with_warnings_total` will only get a value if the request succeeded with wa

[2021-08-10 11:45] bwplotka commented on #4545
Thanks for reporting!

We already should have HTTP client metric for this (if not we can add those as part of this ticket)

[2021-08-10 12:26] OGKevin commented on #4545
I see no mention of metrics in the [promclient](https://github.com/thanos-io/thanos/blob/50dac9bcf73cd1c7c6c8aef9171214e1e427aed0/pkg/promclient/promclient.go), is there another client that already has such metrics?

[2021-08-10 13:25] wiardvanrij commented on #4027
Needs more input

[2021-08-10 17:22] mkrull opened #4549 "Query errors after vertical compaction (penalty): Error executing query: sum and count timestamps not aligned"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.22.0 (branch: non-git, revision: non-git)
  build user:       root@b63a1c94421f
  build date:       20210727-14:31:15
  go version:       go1.16.2
  platform:         linux/amd64

**Object Storage Provider**:

S3 storage

**What happened**:

After enabling vertical compaction and it being finished we see errors for longer range que

[2021-08-10 17:33] yeya24 commented on #4549
Looks like this error is due to how we re-build the downsampled chunks using the deduplication algorithm. I will assign this myself and investigate. Thanks for the issue!

[2021-08-10 18:07] ilangofman opened #4550 "Bucket-rewrite: the new and old blocks are combined by the compactor to create another block"
**Thanos, Prometheus and Golang version used**:
[code]

**What happened**:

When running the bucket rewrite tool, it creates a new block, and the old one is marked for deletion.

The old block is not deleted right away, as it waits for the deletion delay to pass. However, while it is still marked for deletion, the compactor can still use it for compaction because it ignores the deletion marker for

[2021-08-11 00:44] aarontams commented on #3720
Any updates?

I am hitting the same issue when querying with longer period.
[code]

I don't have the same problem when local Block Volume is used.

[2021-08-11 08:12] GiedriusS commented on #4549
Running `--compact.concurrency=3 --deduplication.func=penalty --compact.enable-vertical-compaction --deduplication.replica-label=prometheus_node_id` here with `0.22.0` and ran `sum(up)`, it completed successfully. Cannot reproduce personally. If the block is small, perhaps you could upload it somewhere? Or maybe you could upload the original block? That would be even better.

[2021-08-11 08:44] GiedriusS commented on #4531
I cannot reproduce this on 0.22.0. A big goroutine number indicates to me that something is going on, that it is not stuck. Could you please upload the full goroutine dump when Compactor runs into such a situation?

[2021-08-11 09:46] filippog commented on #4531
thank you for following up @GiedriusS ! I've included all goroutines in the "details" section (from the debug endpoint), is that what you are referring to? unfortunately I had to resume downsampling with 0.21.1 and I don't know how easy it'll be for me to reproduce, but I can do it if needed, let me know!

[2021-08-11 10:45] mkrull commented on #4549
I'll probably not be able to upload any blocks.

Is there any way I can find what you are looking for in the data without providing access to the blocks?

[2021-08-11 12:30] OGKevin commented on #4545
@bwplotka can you check if the linked PR is going in the right direction or did you have smt else in mind?

[2021-08-11 12:35] bwplotka commented on #4545
I have exactly this in mind!

[2021-08-11 13:13] GiedriusS opened #4557 "Migrate away from gogoprotobuf to protobuf v2 API + vtprotobuf"
### Is your proposal related to a problem?

gogoprotobuf is unmaintained: https://github.com/gogo/protobuf/issues/691

So, we should move to the new protobuf v2 API. Also, we should try to use https://vitess.io/blog/2021-06-03-a-new-protobuf-generator-for-go/ to not make Thanos slower

### Describe the solution you'd like

Move to the protobuf V2 API: https://blog.golang.org/protobuf-apiv2. Also,

[2021-08-11 20:35] yeya24 commented on #4531
Hello @filippog, thanks for reporting the issue. After checking the goroutines, I think the download process is still running, but just a little bit slow.

[code]

Related goroutines are listed above. You can see they are blocked at `Select` https://github.com/thanos-io/thanos/blob/main/cmd/thanos/downsample.go#L297, which means the channel is full and it is blocked waiting for the current downsam

[2021-08-11 21:02] yeya24 commented on #4550
Yes, I have seen the same problem before and I think the solution makes sense to me.

[code]

[2021-08-11 22:02] yeya24 commented on #4557
Love this idea!
Can you explain the sentence below? Is this something done automatically by vtprotobuf?

[2021-08-11 23:06] squat commented on #4557
I think he means that by switching to this proto generator we can benefit from using vtproto's memory pooling to greatly reduce the number of allocations needed for umarshaling when receiving message streams during querying, which could otherwise be allocation-heavy, and thus speed up the code path.

[2021-08-12 00:21] spaparaju opened #4558 "Query-frontend displaying code level dump back to the user"
A query resulting in HTTP 500 and displaying code level dump back to the user

**Thanos, Prometheus and Golang version used**:
quay.io/thanos/thanos:v0.20.0-rc.0

**Object Storage Provider**:

**What happened**:
A Query fired from Thanos Query-frontend resulted in error (HTTP 500). User

**What you expected to happen**:
A human readable message indicating the failure of the query
**How to reproduc

[2021-08-12 00:23] yeya24 commented on #4558
Hello @spaparaju, can you add more details and logs?

[2021-08-12 00:35] spaparaju commented on #4558
@yeya24 updated the issue with the screenshot. Could not capture the logs. This query is resulting in HTTP 500.

[2021-08-12 01:52] vanugrah commented on #4531
I've been running this feature for 2 weeks as well on concurrency 20+  without any issues. I can also confirm that the majority of the time the downsample goroutines are waiting on the `listObjectsV2` operation as part of the Minio client. Perhaps there is scope for optimization?

How long do you wait before declaring that downsampling isn't happening? In practice I've seen block downloads range f

[2021-08-12 02:43] bseenu opened #4559 "using service account to upload to s3 is failing"
**Thanos, Prometheus and Golang version used**:

thanos : v0.22.0
prometheus : 2.24.0

**Object Storage Provider**:

s3

**What happened**:

thanos sidecar is getting access denied from s3 when using service account role instead of access_key and secret

**What you expected to happen**:

data to be uploaded to s3

**How to reproduce it (as minimally and precisely as possible)**:

I am using the pr

[2021-08-12 02:59] ilangofman commented on #4550
I was experimenting with setting the source of the new block to original block ID + the original block sources. I also added to the original block to the list of parent blocks (Not sure if this makes a difference). My thought process behind it was to make it similar to how compaction creates the meta.json file. Since after it creates the newly compacted block, it doesn't combine the new block with

[2021-08-12 03:05] vanugrah commented on #4025
While we're at it I think we should leverage different subsystems as opposed to prefixing metrics with query/rule/store/compact etc.

[2021-08-12 06:20] CIPHERTron opened #4560 "Overflowing Logos In the Website"
Some company logos on the https://thanos.io/ website are overflowing from their respective containers
For example `Cloud & Heat`, `Infinite Devices`

**Screenshot of the same**:
![Screenshot from 2021-08-12 11-42-47](https://user-images.githubusercontent.com/56754747/129147434-42fb458c-365d-41b1-8243-8947995e24e5.png)

**Environment**:
- OS (e.g. from /etc/os-release): Ubuntu 20.04
- Kernel (e.g.

[2021-08-12 06:28] kakkoyun commented on #4293
Done by #4327

[2021-08-12 06:28] #4293 closed

[2021-08-12 06:31] kakkoyun commented on #4557
Yes, this is a great idea! We had a quick chat about this with @bwplotka as well. We should definitely migrate to `vtprotobuf`. I'd be happy to help with this if @GiedriusS you're not already on it.

[2021-08-12 07:25] filippog commented on #4531
Thank you folks for taking a look at this! It certainly could be the case of slow downloads, although I've seen the compactor not print anything for >20h (Aug 6th 13:20, then Aug 7th 9:33 is when I restarted compact. Sadly I don't have the goroutine dump from that event, afterwards I downgraded to 0.21.1).

The host's network during that time has been pretty much idle (public stats are available,

[2021-08-12 07:29] GiedriusS commented on #4557
Yep, there's more info here: https://github.com/planetscale/vtprotobuf#available-features. We could call `func YourProtoFromVTPool() *YourProto` to get a `SeriesResponse` on the Querier side that comes from a `sync.Pool` instead of doing this: https://github.com/thanos-io/thanos/blob/main/pkg/store/storepb/rpc.pb.go#L755

It's quite a huge work, I haven't started anything :smile: I thought perhaps

[2021-08-12 07:31] GiedriusS commented on #4558
How does the Stores page look like? Is it the same with the newest version?

[2021-08-12 07:35] squat commented on #4557
Yes i was thinking exactly the same. Shall we propose it? Id be happy to co-mentor

[2021-08-12 07:50] matej-g commented on #4351
@yeya24 happy to take this one

[2021-08-12 08:04] iamrajiv commented on #2962
@GiedriusS @onprem I want to work on this. I guess this work has to be completed in two parts. The first is to implement the [groupcache](https://github.com/golang/groupcache) back-end. The second part is to improve the performance.

[2021-08-12 08:25] GiedriusS commented on #2962
Yep, and for now, I would only focus on the caching bucket. Then we could move on to the other types of cache that we have in Thanos. This is because the latter is more involved since you'll have to inevitably change the internal cache interface a bit.

[2021-08-12 08:29] yeya24 commented on #4351
Nice. Please go ahead!

[2021-08-12 09:27] Nexucis opened #4562 "Use npm instead of yarn for building the react app"
Hi team,

Prometheus is going to replace the usage of `yarn` by `npm` when building the react-app. (through this PR: https://github.com/prometheus/prometheus/pull/9198)

This decision is coming from the move of codemirror-promql into the main repository prometheus/prometheus as sub web module. It's just to be aligned in term of technology used between the react-app and the sub web module that woul

[2021-08-12 09:28] wiardvanrij commented on #4562
+1 from me, to keep the code-base in line with Prometheus

[2021-08-12 10:22] onprem commented on #4562
This makes sense to me as well. Having common tooling makes a lot of sense, since both projects share a lot of contributors.

[2021-08-12 11:46] bwplotka commented on #4560
Yes, help wanted 🤗

[2021-08-12 12:57] chris-ackerman-dentsu opened #4565 "query: More than 1 binary operations on instant-vector returns no data"
Multiple additions or subtractions or a combination produces an empty set results.

Prometheus image tag: prom/prometheus:v2.27.1
Thanos image tags: quay.io/thanos/thanos:v0.22.0 and quay.io/thanos/thanos:v0.18.0

**Object Storage Provider**:
kubernetes persistentVolumeClaim

**What happened**:
Thanos Query returns an empty set when adding/subtracting multiple values
![Screenshot_20210812_143933](

[2021-08-12 13:00] CIPHERTron commented on #4560
I would love to work on it @bwplotka. Could you please assign it to me?😊

[2021-08-12 17:09] margau commented on #4549
I'm having the same issue over here. This mainly happens if I query downsampled data with auto downsampling in the querier, which has been deduplicated before.
I keep Raw data for the last 4 weeks. Before this timestamp, I only have 5m and 1h data. When I query earlier than this using auto downsampling, the error occurs.

[2021-08-12 17:15] mkrull commented on #4549
What @margau is describing is pretty much exactly our setup. Will update the description.

[2021-08-12 18:54] iamrajiv commented on #2962
@GiedriusS Got it. Also, changing the internal cache interface you mean changing `groupcache` code itself so that we can get away from `groupcache` drawbacks you mention [here](https://github.com/thanos-io/thanos/issues/2962#issuecomment-866603779).

[2021-08-12 19:17] iamrajiv commented on #4557
Hi, @GiedriusS @squat can I get the opportunity to work on this? I have contributed to gRPC-Gateway and have a decent knowledge of gRPC and Protocol Buffers. I guess we would be referring to [https://pkg.go.dev/google.golang.org/protobuf](https://pkg.go.dev/google.golang.org/protobuf) for APIv2.

[2021-08-12 19:51] squat commented on #4557
Hi @iamrajiv we just submitted this project to the Linux foundation student mentorship program for the fall https://github.com/cncf/mentoring/blob/main/lfx-mentorship/2021/03-Fall/project_ideas.md#migrate-thanos-to-the-new-protocol-buffers-v2-api
Maybe we can figure out a way multiple people contributing to this though.

[2021-08-12 20:20] pkj-m commented on #4557
Hi folks! This looks like an interesting project, and in sync with my skillset. I would be happy to work on this and contribute to Thanos as part of the LFX Mentorship program.

I have prior experience with open-source projects through participating (and eventually mentoring) in GSoC. I'm quite proficient in Golang, and have worked with protobuf in the past during my summer internship at Uber, whe

[2021-08-13 05:21] yeya24 commented on #4298
Not stale.

[2021-08-13 08:23] sowhat7 commented on #2186
I have tried 4GB, the error still exists.

[2021-08-13 13:13] GiedriusS commented on #4565
Can't reproduce on 0.22.0:
![Screenshot from 2021-08-13 16-12-40](https://user-images.githubusercontent.com/2377233/129362218-0c7c1f5d-3f3b-4f5c-8632-e32aea479ade.png)

[2021-08-14 10:23] #4562 closed

[2021-08-15 20:22] yeya24 commented on #4558
@spaparaju Is it related to query frontend? If you are just using querier without the query frontend, can you still reproduce the issue?

[2021-08-16 12:08] #4283 closed

[2021-08-16 18:35] ianbillett commented on #4559
Hey @bseenu - our [documentation](https://thanos.io/v0.2/thanos/storage.md/#aws-s3-configuration) seems to indicate that setting `secret_key` is mandatory for S3.

Please can you elaborate on the following?

[2021-08-16 19:01] ianbillett commented on #4317
@blemmenes reading through this issue again - the key problem appears to be the `416 Requested Range Not Satisfiable` errors being returned from Ceph when we requested the `*/index` file.

I would try and run the s3 e2e [tests](https://thanos.io/v0.2/thanos/storage.md/#aws-s3-configuration) against your Ceph storage to attempt to localise this problem to one with fewer variables :)

[2021-08-16 19:10] blemmenes commented on #4317
@ianbillett I'll take a look at running those tests and will let you know.

However, for context I have have several other thanos store instances running against these Ceph clusters without issues, same thanos version, same cluster, same credentials (different buckets) etc. This store instance was also running for a year ish without issue?

[2021-08-16 19:16] ianbillett commented on #4317
Without a reliable way to reproducel, this issue is going to be very difficult to debug I'm afraid.

The `416`s in the errors look like they are coming from the storage layer, so this could be a issue on the Ceph side too :)

[2021-08-16 22:21] iamrajiv opened #4569 "Blurred open graph image in `thanos.io`"
## Description

![Screenshot 2021-08-17 at 3 50 11 AM](https://user-images.githubusercontent.com/42106787/129636460-d626c4e1-07ea-424e-a1e3-c6b0387fc3b5.jpg)

When we check [https://thanos.io/](https://thanos.io/) in [https://metatags.io/](https://metatags.io/) a blurred image of the card is coming it is because we are using [https://github.com/thanos-io/thanos/blob/main/website/static/icon-light.

[2021-08-16 22:23] iamrajiv commented on #4569
@bwplotka @yeya24 Can I work on this?

[2021-08-17 02:43] #3964 closed

[2021-08-17 02:43] #3554 closed

[2021-08-17 02:43] #2626 closed

[2021-08-17 02:43] #3213 closed

[2021-08-17 02:43] #3932 closed

[2021-08-17 02:43] #3066 closed

[2021-08-17 02:43] #3926 closed

[2021-08-17 02:43] #3927 closed

[2021-08-17 02:43] #3220 closed

[2021-08-17 02:43] #3373 closed

[2021-08-17 02:43] #3622 closed

[2021-08-17 02:43] #3119 closed

[2021-08-17 02:43] #3684 closed

[2021-08-17 02:43] #3749 closed

[2021-08-17 02:43] #3668 closed

[2021-08-17 02:43] #3952 closed

[2021-08-17 02:43] #4227 closed

[2021-08-17 07:06] GiedriusS commented on #4569
@iamrajiv sure, feel free!

[2021-08-17 08:31] Gourds opened #4570 "rule: err="read metadata for block xxxxx" open xxxxx/meta.json: no such file or directory""
**Thanos, Prometheus and Golang version used**:
Thanos version: thanos-0.21.1.linux-amd64

**Object Storage Provider**:
Aliyun oss
**What happened**:
All services are running correctly, but thanos-rule has been outputting some warn logs. I want to know what these logs represent and how to eliminate these logs.

**Full logs to relevant components**:
the store dir structure：
https://gist.githubuserc

[2021-08-17 10:15] rhassanein commented on #4082
Which version is this fixed in? I just ran into it in both `v0.20.1` and `v0.20.2`.

[2021-08-17 10:18] BoringCat commented on #4386
Same panic in thanos@0.22.0

**Thanos, Golang version used:**
[code]

**panic log:**
[code]

**Full logs to relevant components:**
<details>
<summary>Full logs with --log.level=debug</summary>
<pre>{"caller":"main.go:64","level":"debug","msg":"maxprocs: Updating GOMAXPROCS=[2]: determined from CPU quota","ts":"2021-08-17T09:31:10.272249221Z"}
{"caller":"factory.go:38","level":"info","msg":"loading

[2021-08-17 10:21] bwplotka opened #4571 "queryfrontend 20% latency overhead"
We see that on first query range queries (cold cache) can take extra 20% of time if they go through query-frontend query range.

AC:
* We understand the bottlenecks
* We have micro benchmark for this path
* Ideally: We fix latency. It should not be 20% on ~1m query IMO

cc @matej-g

[2021-08-17 10:30] kernelpanic77 commented on #2962
Hello @GiedriusS ! I am relatively new to the Thanos project, but would love to get involved and potentially contribute. Any pointers or resources for me to get started and understand this issue better ?

Thanks,
Ishan

[2021-08-17 11:44] GiedriusS commented on #4571
I was thinking that maybe our HTTP client isn't honouring keep-alive properly. I believe this is the relevant place where the request is handled: https://github.com/cortexproject/cortex/blob/master/pkg/frontend/transport/handler.go#L119. Isn't this missing a `io.Copy(ioutil.Discard, r.Body)` just like we do in other places?

[2021-08-17 17:23] bwplotka commented on #4533
Thanks for fix and issue.

I agree the log lines are confusing, but the problem is that TSDB is never fully ready. In a sense that there can be new tenant anytime and this will create new TSDB for it. In some way in the current implementation it's expected to fail and wait for client to repeat the write.

What else we should expect here if we need to support dynamic creation of TSDBs (appendables)

[2021-08-17 17:45] shoopdedoop commented on #4500
I upgraded to v0.22.0 and tried fresh browsers.  Firefox, Safari, and Chrome.  Safari does seem a bit snappier but its still slow.

Here is the value capture from Firefox.

![image](https://user-images.githubusercontent.com/6558065/129775181-8ad2968e-128a-47d2-af62-6d839d658bf4.png)

After the values are downloaded the rest of the time is CPU intensive (in each browser), rendering the autocomplete

[2021-08-18 07:22] vaibhavdugar commented on #3081
Hey! I am a newbie, how can I start contributing to this project? And what are the pre-requisites to begin with this? Can someone help me out please.

[2021-08-18 07:52] bseenu commented on #4559
we prefer to use the service account which has the iam role annotation which will be having s3 previleges

And i came across the following blog post which shows the configuration using the service account

https://aws.amazon.com/blogs/opensource/improving-ha-and-long-term-storage-for-prometheus-using-thanos-on-eks-with-s3/

[2021-08-18 09:28] bwplotka commented on #3081
Of course, feel free to help. But this particular issue should be closed (: Thanks for reaching. Feel free to grab any other issue that looks interesting.

[2021-08-18 09:28] #3081 closed

[2021-08-18 10:02] vaibhavdugar commented on #4278
Hey! I am a newbie, how can I contribute in this project? And what are the pre-requisites to begin with this? What are the technologies which I need to learn to contribute to CNCF projects? Can someone help me out please.

[2021-08-18 11:01] kernelpanic77 commented on #3985
Hello @bwplotka! I am relatively new to the Thanos project but would love to get involved and potentially contribute. Any pointers or resources for me to get started with Thanos. So that I could get a better understanding of the project and this issue?

Thanks,
Ishan

[2021-08-18 11:08] wiardvanrij commented on #4341
Still relevant I think

[2021-08-18 12:16] GiedriusS commented on #4571
Yes, so that is the problem albeit in a different place + the default http.DefaultTransport is used which is quite limited in the number of idle connections: https://github.com/cortexproject/cortex/blob/master/pkg/frontend/downstream_roundtripper.go#L39. Let me try to fix this.

[2021-08-18 14:29] ianbillett commented on #3964
still relevant

[2021-08-18 14:48] matej-g commented on #4571
@GiedriusS wow, impressively fast action :grin:. Once this lands in Cortex I'll be happy to poke around some more and see how much of improvement we get over the latency mentioned in the description that we are currently observing on our side.

[2021-08-18 15:19] matej-g opened #4579 "e2e tests: Move from Cortex packages to efficientgo/e2e"
This relates to issue https://github.com/thanos-io/thanos/issues/3832#issuecomment-785823600, separating it so this change can be followed more clearly.

There is a (nearly) drop-in replacement for Cortex integration test packages  (`github.com/cortexproject/cortex/integration/e2e`) which lives at `github.com/efficientgo/e2e`. In order to achieve one of the steps in aiming to not be dependent on C

[2021-08-18 15:20] matej-g commented on #4579
also feel free to assign :point_up: to me

[2021-08-18 16:27] crsandeep opened #4580 "query-frontend: match[] query parameters not passed to downstream querier"
Thanos version - v0.22.0

**What happened**:

I made a labels API query to query-frontend ex: `/api/v1/label/cluster/values?start=1628762940&end=1628784540&match[]=go_goroutines`
But match[] query parameter was not sent to downstream querier

**What you expected to happen**:
match[] parameter sent to downstream querier

**How to reproduce it (as minimally and precisely as possible)**:
Start promet

[2021-08-19 03:35] peilii commented on #4278
Hi @GiedriusS,

I would like to work on this issue. Would you please guide me through it?

[2021-08-19 07:18] yeya24 commented on #4580
Valid issue. Thanks for the reporting. The `match[]` parameter is relatively newly added so we don't have its support in the query frontend. Help wanted.

[2021-08-19 09:16] Nexucis commented on #4500
I look a bit closer about what you explained and I compared to what I have.

On my side, the biggest query I can run is when starting to write `{__name__=''}`.

In that case, we are downloading 279 kB of data which already corresponds to million of metrics name.

In your case, you are downloading ~ 6 MB of data that is corresponding to a label value for the label name `name`. I believe it's matchi

[2021-08-19 09:17] Nexucis commented on #4500
/cc @onprem @juliusv perhaps you will have other suggestions.

[2021-08-19 13:57] spaparaju commented on #3964
still relevant

[2021-08-19 14:09] GiedriusS commented on #4557
Feel free to apply via the LFX website!

[2021-08-19 19:02] underrun commented on #1849
could this be revisited - currently thanos receive flushes on shutdown: https://github.com/thanos-io/thanos/pull/1480

alternately any links to gist or scripts or hacks to add to a deployment that would snapshot and upload on shutdown would be great as it's hard to figure out how a user would handle this from this thread and/or https://github.com/prometheus-junkyard/tsdb/issues/346 which both conc

[2021-08-19 19:26] spaparaju commented on #4558
@GiedriusS the stores were looking healthy (as per the stores page) and the other queries that I tried (after encountering this problem) were successful.

@yeya24 Yes, its related to query-frontned. Unfortunately the environment that I could reproduce this problem does not have routes to Thanos Query component.

[2021-08-19 21:50] crsandeep commented on #4580
Great. I will work on this and send a PR soon.

[2021-08-20 07:37] filippog commented on #4531
I was able to reproduce this after leaving thanos-compact running for a week more or less, the last log line from `compact.go` is from yesterday:

[code]

Though thanos-compact itself does keep logging and doing at least some operations, recent logs:

[code]

See below for full goroutine dump and ss + connection age. It does look like there are a bunch of connections "stuck" and never time out. So

[2021-08-20 08:21] filippog commented on #4531
On the filesystem only `meta.json` is present (and fully downloaded AFAICT, the file is valid json)

[code]

[2021-08-20 08:37] filippog commented on #4531
On the server side (swift + s3 api compat) I can see the index for that block being downloaded, though at one of the multipart segment (segment `69`) swift logs a 499 status which indicates the client disconnecting. Another piece of the puzzle is envoy which does the TLS termination for swift, although I can't find any error or other signal in its logs.

[code]

[2021-08-20 08:39] filippog commented on #4531
I have to take this back, I need to deploy changes to envoy and swift. This might unblock thanos-compact, I'll report back

[2021-08-20 09:05] filippog commented on #4531
Restarting envoy and swift (but not thanos-compact) on the host obviously reset the connections but `compact.go` doesn't seem to have reacted at all to the situation. I'm seeing no logs from it, while thanos-compact itself continues to e.g. refresh block metadata, I've attached the new goroutine dump below

<details>
<p>

[code]

</p>
</details>

[2021-08-20 10:32] bwplotka commented on #1972
On it, but missing Otel API -> opentracing tracer/exporters support that will allow us to use our custom exporter to Elastic APM/lightstep etc... .This is required to make sure we don't break compatibility of existing Tracing integrations when moving to Otel lib ):

[2021-08-20 10:39] bwplotka commented on #1972
https://github.com/open-telemetry/opentelemetry-go/issues/2193

[2021-08-20 14:00] #4515 closed

[2021-08-21 03:14] #1624 closed

[2021-08-21 03:14] #3923 closed

[2021-08-21 19:28] yeya24 commented on #4531
From what you found here, the compactor was downloading the block but the connection seems terminated and there was no progress. So the downsampling process started actually and the issue might be related to the server side (envoy + swift). Then if you switch back to v0.21.0 version thanos, can you still reproduce the same bug?

[2021-08-23 05:47] yasharne opened #4588 "only keep some of the metrics in the object storage"
### Is your proposal related to a problem?

Most of the metrics we are collecting in our Prometheus server does not worth keeping for long, like CPU usage and disk usage. on the other hand, some other metrics are very important like the ones that describe the business status so that's why we wanted to use Thanos to keep those important metrics longer

### Describe the solution you'd like

Add the

[2021-08-23 07:26] GiedriusS commented on #4588
I believe this feature request is covered by: https://github.com/thanos-io/thanos/issues/903

[2021-08-23 07:57] filippog commented on #4531
I'll be testing today with v0.21.0 and report back. It might be taking a while, I've observed the bug when the "big" downsampling work comes around every other week or so, I'll report back!

re: server side, it could be certainly a problem there too, however only `meta.json` has been downloaded and I can stop envoy and thanos-compact downsampling never recovers.

[2021-08-23 11:36] matej-g commented on #4579
Full resolution is blocked until https://github.com/efficientgo/e2e/issues/7 is fixed

[2021-08-23 12:52] vladst3f commented on #4549
no chance of a fix making the impending release ? :(

[2021-08-23 14:20] MioOgbeni commented on #3051
Hi, sorry for reopen, but I'm facing same issue on release v0.22.0.

It's very easy to reproduce on my setup. With totally same statefulset configs:

Prometheus pod CPU usage is about 200-300m, when sidecar args contains this rows,
[code]
prometheus args contains,
[code]
and both containers mount
[code]
with
[code]

But, when I remove this config parts, pod CPU usage drop to about 50-100m.

With a

[2021-08-23 14:23] MioOgbeni commented on #3051
/reopen

[2021-08-23 14:29] GiedriusS commented on #4588
I assume that the thumbs up means agreement so closing this to avoid duplicates :+1:

[2021-08-23 14:29] #4588 closed

[2021-08-23 14:41] MioOgbeni opened #4590 "Reloader configuration doubles CPU usage"
**Thanos, Prometheus and Golang version used**:
[code]

Using the Thanos image: `thanosio/thanos:v0.22.0`
Prometheus: `prom/prometheus:v2.29.0`

**Object Storage Provider**:
**AWS S3**

**What happened**:
After implementing Thanos config reload feature, I experienced increase of CPU from something about 50-100m to 200-300m.

**What you expected to happen**:
I unexpected that this feature will have

[2021-08-23 14:48] mengxifl opened #4591 "Store The request returns inconsistent data and reports an error"
store error

**Thanos, Prometheus and Golang version used**:  prometheus 2.17

**Object Storage Provider**: ceph S3

**What happened**: query give data error

this is same grafana panel !

![image](https://user-images.githubusercontent.com/48743664/130465438-a5f94647-9e00-4da8-b761-c1407b97fd04.png)

I set the address of the query on grafana

![image](https://user-images.githubusercontent.com/4874

[2021-08-23 14:54] yasharne opened #4592 "Compact deduplication and retention is not working as expected"
**Thanos, Prometheus and Golang version used**:
Thanos 0.22.0
Golang go1.16.6

**Object Storage Provider**:
S3 (Minio)

**What happened**:
We have two Prometheus servers with the exact same configuration to scrape the targets, both with the same `cluster` and different `replica` external label and a compactor with the below flags:
[code]

**What you expected to happen**:
See only one block of data

[2021-08-23 14:54] GiedriusS commented on #4591
This seems like a bug, thanks for testing the newest version! Let me look into it.

[2021-08-23 15:07] GiedriusS commented on #4591
I think I found it, give me a moment

[2021-08-23 15:40] akshatdalton commented on #2962
Hola! Thanos team. I am a newbie here, but I have other Open Source experience. I would love to contribute here along with learning about new technologies. It feels great that my contribution will be useful to many. I love to take on challenges. If this is an active issue I can work on, please do let me know. Or, if there is any other challenge that I need to complete first, I am ready for that. L

[2021-08-23 16:01] #4569 closed

[2021-08-23 17:16] bwplotka opened #4595 "Current main's Store Gateway gRPC Series returns malformed proto:"
Repro:

1. Go to `a166e930d67b51b518b7375d2c477daa2ff113c5` e.g
1. Go to `make docker`
1. Run `TestReadOnlyThanosSetup` interactive mode (uncomment skip).
1. Go Thanos page that opened automatically and see:

[code]

Error: `Error executing query: expanding series: proxy Series(): Addr: interactive-store2:9091 LabelSets: {cluster="us-1", replica="0"} Mint: 1626141615009 Maxt: 1626746400002: receiv

[2021-08-23 17:16] bwplotka commented on #4591
Found another problem https://github.com/thanos-io/thanos/issues/4595 wonder if it's related. cc @yeya24

[2021-08-23 17:18] GiedriusS commented on #4595
Please try with https://github.com/thanos-io/thanos/pull/4593.

[2021-08-23 21:07] #4580 closed

[2021-08-23 21:13] sennatitcomb opened #4596 "External Storage Link Leads to Page Not Found Error"
Clicking on the link to "Example Deploying sidecar using official Prometheus Helm Chart in the External Storage" leads to a page not found error.

[2021-08-24 02:38] imranismail commented on #1624
This is still happening on the latest release

[2021-08-24 03:14] yeya24 commented on #4592
Are you sure your compactor is actually running? The compactor has to finish all the compaction and downsampling jobs first and then start applying retention.

The issue itself is not related to deduplication I believe. You need to have more concurrency on your compactor or use some other ways to scale it.

If the compactor falls behind, you may want to try the bucket retention tool to delete the

[2021-08-24 05:13] yasharne commented on #4592
Hi @yeya24 Thanks for your explanations, yes the compactor is busy with the compacting, but what about deduplication? is that happen at the end of the compaction as well?

[2021-08-24 06:19] yeya24 commented on #4592
No. It happens at the same time as compaction. The screenshot you showed only mentions the retention problem I think. How do you know the deduplication is not working?

Btw deduplication only works for new blocks, not for old blocks. For the block you showed, the end time of that block is June 10th. If it was compacted to level 4 before you deployed the new deduplication compactor feature, then it

[2021-08-24 06:26] yeya24 commented on #2348
This option seems feasible. We can support multiple blocks at once for bucket rewrite tool and enable penalty deduplication.

Another option is to have a separate command to do one-off compaction & deduplication for all blocks in the bucket?

[2021-08-24 06:27] yasharne commented on #4592
@yeya24 The first screenshot shows the duplicated blocks from both sources, if compactor is not doing this for the previous blocks how can I handle this?

[2021-08-24 06:28] yeya24 commented on #4592
Not possible right now, until we fix #2348.

[2021-08-24 06:29] yasharne commented on #4592
@yeya24 Even the new blocks are also duplicated:
![screenshot_6](https://user-images.githubusercontent.com/7656049/130567263-294869b5-242f-4343-bfa6-e6ad021061d0.png)
I'm using `--deduplication.replica-label="replica"` flag

[2021-08-24 06:35] yeya24 commented on #4592
Can you show the labels of the newly compacted blocks (for example, compacted today or yesterday)?

[2021-08-24 06:53] yasharne commented on #4592
Sure @yeya24 The compaction happened yesterday and the cluster labels are the same
![screenshot_7](https://user-images.githubusercontent.com/7656049/130570292-94e3075d-f41e-4840-957a-a94c84f31b6f.png)
![screenshot_8](https://user-images.githubusercontent.com/7656049/130570299-d3094a50-e1d9-4567-b0a1-ceef819367ac.png)

[2021-08-24 07:06] yeya24 commented on #4592
This looks weird. Can you attach full logs of your compactor? Btw when did you deploy the compactor?

[2021-08-24 07:11] yasharne commented on #4592
@yeya24 Compactor was working for 11 days but today I redeployed the compactor so I don't have the logs for yesterday but I will send the logs for today's blocks compaction

[2021-08-24 07:14] bwplotka commented on #2348
Yes, I like this idea.

Separate tool (as is rewrite for one-off) sounds like a better option 🤗

[2021-08-24 08:28] bwplotka commented on #4595
👍🏽

[2021-08-24 08:37] bwplotka commented on #4595
I tried and same error, so I assume it's my local setup only ):

[2021-08-24 08:56] bwplotka commented on #4595
Are you sure you tried to check Thanos UI on your test?

[2021-08-24 08:57] bwplotka commented on #4595
Reverted Store Gateway image works ...

[2021-08-24 08:59] bwplotka commented on #4590
It might be. Thanks for reporting, let's profile this code. But also extra 100m might be low harm 🙈

Help wanted!

[2021-08-24 09:09] bwplotka commented on #4595
I think it actual real. It works on `2be2db775cbc9e1854aada8dfa7ba66307d90001` but not after your changes. Needs investigation ):

[2021-08-24 09:09] bwplotka commented on #4595
Sad, no other tests catch it. Let's merge your fix anyway, for panic first.

[2021-08-24 09:17] bwplotka commented on #4595
I can confirm that official images have this issue too:  e2edb.WithImage("quay.io/thanos/thanos:main-2021-08-23-a166e930"))

[2021-08-24 12:56] #4321 closed

[2021-08-24 12:56] #4325 closed

[2021-08-24 12:56] #3457 closed

[2021-08-24 12:56] #4091 closed

[2021-08-24 12:56] #4312 closed

[2021-08-24 12:56] #4251 closed

[2021-08-24 15:47] yasharne commented on #4592
@yeya24 Here is the log output, the rest of the lines are the same:
<details>
<pre>
level=info ts=2021-08-24T06:46:51.876394568Z caller=compact.go:459 msg="compact blocks" count=6 mint=1629504000000 maxt=1629676800000 ulid=01FDVD7D475VP0P15ZEQWECCH0 sources="[01FDM9R46ZY27311CK2WTJA55D 01FDN7YXKKZXFJVQK70NJENTB5 01FDNZYDP3Z195MGA6BE8ZYH1Z 01FDPTPXYPFBK101XBDK8H23ZT 01FDQXEQHVSE6B5YZN3HS9RY8W 01FDV

[2021-08-24 17:34] sevagh opened #4600 "Prometheus '@' modifier"
https://prometheus.io/blog/2021/02/18/introducing-the-@-modifier/
https://prometheus.io/docs/prometheus/latest/querying/basics/#modifier

Is this supported by Thanos yet?

[2021-08-24 17:40] sevagh commented on #4600
It's a bit hard to search for the `@` string but I couldn't find it.

[2021-08-24 17:44] #4591 closed

[2021-08-24 18:30] yeya24 commented on #4600
Not supported yet.

[2021-08-24 19:05] sevagh commented on #4600
Any known plans or roadmap? Thanks.

[2021-08-24 20:57] Kampe commented on #4192
yes which is not ideal, so we tell your prometheus to only produce blocks under an hour essentially

[2021-08-24 20:58] Kampe commented on #2114
Love to see the stale tag removed <3

[2021-08-24 21:11] goutamtadi1 opened #4601 "Double quotes are restricted on values via `--receive.tenant-label-name="tenant_id"`"
**Thanos, Prometheus and Golang version used**: v0.22.0,

**What happened**:

When applied with double quotes on value of `--receive.tenant-label-name` as suggested in the docs `https://thanos.io/v0.22/components/receive.md/`, the receiver returns an error:

[code]

**What you expected to happen**:

Either docs should be fixed to not include double quotes or allow double quotes here: https://githu

[2021-08-25 16:07] bwplotka commented on #4601
You might need to escape those with `\` in some shell environments (:

[2021-08-25 19:28] hanyuancheung opened #4603 "go get dependency failed because of expired go.mod file."
**What happened**:

When loading the Thanos repo, some invalid version problem occurred as below

[code]
After checked the error, I found that the module `github.com/efficientgo/tools/e2e` is no longer available, but the new module `github.com/efficientgo/e2e` seems to depend on it still. So we should find an updated package version to replace it so that we wouldn't encounter this problem in my op

[2021-08-26 16:40] phillebaba opened #4605 "Azure MSI Rate Limit"
**Thanos, Prometheus and Golang version used**:
v0.22.0

**Object Storage Provider**:
Azure Storage Account

**What happened**:
After running for a couple of minutes the compactor will crash due to API errors from the Azure API. This seems to be due to the fact that a new Service Principal token is created for every request, causing a rate limit to be hit. Running the same configuration but with s

[2021-08-26 17:18] onprem opened #4606 "Run a community Thanos demo instance"
Prometheus runs a publically accessible instance, which they are using for CI to test the React UI for every pull request.

Running a public instance of Thanos will allow us to:
- demonstrating functionality very quickly to new users
- be more helpful in community support, where we can reference the demo instance UI
- can act as a playground for PromQL and Thanos component metrics
- can be used in

[2021-08-27 13:43] #4603 closed, assigned to nobody

[2021-08-28 10:47] zecke commented on #4084
Not stale

[2021-08-28 10:47] zecke commented on #4089
Not stale

[2021-08-28 15:56] #3037 closed

[2021-08-28 15:56] #3791 closed

[2021-08-28 15:56] #3225 closed

[2021-08-28 15:56] #3571 closed

[2021-08-28 15:56] #3504 closed

[2021-08-28 15:56] #4335 closed

[2021-08-28 16:14] bistaastha commented on #3434
Hi @yeya24 ! I have been unable to work properly on this. So can you please unassign me?

[2021-08-29 08:29] Shini31 commented on #3308
Up

[2021-08-29 13:36] ianbillett commented on #4326
still valid

[2021-08-30 02:31] Gourds commented on #4570
@ianbillett
My thanos rule commond
[code]

My thanos compact commond
[code]

thanos rule log

level=error ts=2021-08-30T02:19:17.781748865Z caller=db.go:1110 component=tsdb msg="Failed to read meta.json for a block during reloadBlocks. Skipping" dir=/data/thanos_data/store/01FEA28BC616GAH4MY8VHEZATF err="open /data/thanos_data/store/01FEA28BC616GAH4MY8VHEZATF/meta.json: no such file or directory"

[2021-08-31 07:17] someshkoli commented on #4489
^ should fix it I guess :thinking:

[2021-08-31 08:59] yasharne commented on #4592
Hi @yeya24  Is it safe to delete objects (compressed) from one of the sources? if yes how can I do this?

[2021-08-31 11:30] prashant-kush commented on #4301
This still look likes valid.

[2021-08-31 13:53] sowhat7 opened #4615 "Thanos Store GW, large query failed, error message "read: connection reset by peer""
thanos version: v0.22
prometheus version: v2.24.0
Object Storage Provider: S3
thanos store arg index-cache-size: 4GB
thanos store arg chunk-pool-size: 32GB

**What happened:**
Query data in one week is normal, more than two weeks will fail. And log an error message "read: connection reset by peer". The thanos-store-gateway container is running normally.
Is the minio client connection timed out? Sh

[2021-08-31 15:39] begemotik commented on #1980
@kakkoyun @poolski @bwplotka guys, would appreciate getting to know what endpoint I can specify on grpc healtcheck? The only thing I got is that method is 'healthy'.

[2021-08-31 21:27] yeya24 commented on #4407
`(histogram_quantile(0.99, sum by(job, le) (rate(http_request_duration_seconds_bucket{handler="query",job=~".*thanos-query.*"}[5m]))) > 40 and sum by(job) (rate(http_request_duration_seconds_bucket{handler="query",job=~".*thanos-query.*"}[5m])) > 0)`

Another example of duplicate select query.

[2021-09-01 02:52] yeya24 commented on #4615
Looks like too much data are fetched. Does your compactor have downsampling enabled?

[2021-09-01 02:54] yeya24 commented on #4606
I was thinking about the same thing before. One demo site for Prometheus is sufficient as it is just a single application. For thanos, do we want to have multiple demo sites for different components, querier, bucket UI, etc?

[2021-09-01 02:56] yeya24 commented on #4600
Help wanted for this and a common experiment feature flags as mentioned https://github.com/thanos-io/thanos/pull/4026#discussion_r610467612

[2021-09-01 03:09] yeya24 commented on #4592
It looks really weird from your compactor logs.

If `deduplication.replica-label` flag is specified correctly, then the `replica` label should be removed by the label removal modifier and disappers. But from the logs, the label is still present so I am wondering is your configuration the latest?
[code]

[2021-09-01 09:47] #4545 closed

[2021-09-01 10:15] paxbit commented on #4420
Thanos Receive 0.22: We experienced the same behavior once so far. Had set `--tsdb.retention=6h` which was usually good for 12Gi worth of TSDB data. Then it started to "forget" deleting old WAL segments which led to 187Gi in the `wal` sub-folder of the `thanos receive` data folder.

Found this related Prometheus issue, which I believe to be the root cause:
https://github.com/prometheus/prometheus/

[2021-09-01 12:24] #4605 closed

[2021-09-01 14:17] GiedriusS opened #4624 "Refactoring: move all http.Transport configuration parameter parsing into one place"
These are all functions/structs for configuring the same thing:

https://github.com/thanos-io/thanos/blob/5bda2d48b9ef0bf138af6132641eb20102223edb/pkg/objstore/azure/helpers.go#L121
https://github.com/thanos-io/thanos/blob/46ac4d590e783368fc4ec7676f29ff97cd0bd630/pkg/objstore/cos/cos.go#L95
https://github.com/thanos-io/thanos/blob/bf963237e0b95402aeea4093dce465abde055675/pkg/objstore/s3/s3.go#L124

[2021-09-01 14:31] #4301 closed

[2021-09-01 14:55] heysujal commented on #4624
@GiedriusS  I would like to fix this issue. Please guide me how can I get started , I am new to this project.

[2021-09-01 16:30] bwplotka commented on #2114
Still valid!

[2021-09-01 20:53] integrii commented on #1318
We could really use this.  We have a single bucket that we would like to drop many different deployments of Thanos into.  Currently, we have to add a bucket creation step to Thanos deployments.  If Thanos could just create and use a subdirectory, life would be much easier.

[2021-09-02 06:11] sowhat7 commented on #4615
My compactor has enabled downsampling, the configuration is as follows
- "--retention.resolution-raw=1d"
- "--retention.resolution-5m=40d"
- "--retention.resolution-1h=0d"

[2021-09-02 07:19] GiedriusS commented on #4624
All of these functions and structs can be joined into one and we can use them everywhere consistently. Please let me know if you have any specific questions.

[2021-09-02 15:29] squat commented on #4601
Hmm I don't think this is an actual bug in the docs but rather a quirk of the (lack of) shell in the environment in which you were running Thanos.  Was this in Kubernetes? If so, then you most likely got this error because you included quotes in flags given in the `args` array. The Thanos containers do not use a shell in their default entry point, which means that quotes are passed literally to th

[2021-09-03 02:34] ahfuzhang opened #4631 "in docs/components/receive.md, should add tsdb.min-block-duration flag"
tsdb.min-block-duration=2h
tsdb.max-block-duration=2h

I think we'd better add thoes tow flags in doc. thanks

[2021-09-03 02:38] #4097 closed

[2021-09-03 02:38] #3217 closed

[2021-09-03 02:38] #3639 closed

[2021-09-03 02:38] #4056 closed

[2021-09-03 02:38] #3896 closed

[2021-09-03 02:38] #4345 closed

[2021-09-03 04:25] dofinn commented on #4367
bump :)

[2021-09-03 07:15] pradeepgoldfields opened #4632 "#Thanos: restart of prometheus pods cause thanos to stop reading logs from before restart from the s3 bucket"
### Discussed in https://github.com/thanos-io/thanos/discussions/4629

<div type='discussions-op-text'>

<sup>Originally posted by **pradeepgoldfields** September  2, 2021</sup>
#Thanos
restart of prometheus pods cause thanos to stop reading logs from before restart from the s3 bucket.
though thanos is able to read the logs after the prometheus restart. Thanos is deployed in the sidecar deployment

[2021-09-03 09:15] Nexucis opened #4633 "y -axis is rounding up the values when too small"
**Thanos, Prometheus and Golang version used**:
* Thanos: v0.22
* Promehteus: v2.29.2

**What happened**:

I used the Thanos Query UI to display a graph and the y-axis didn't display accurate values because the values are too small and it is rounding up the values.

![yaxis_value_bug](https://user-images.githubusercontent.com/4548045/131981080-fd88d91a-7d99-455a-a358-00ab71370f9e.png)

Multiplying

[2021-09-03 11:29] mrliptontea opened #4634 "Auto downsampling should take available resolution into account"
### Is your proposal related to a problem?

Similar problem was already discussed in #1170, #3704 and possibly other issues.

My specific use case is backfilling. Specifically, https://github.com/kubernetes-monitoring/kubernetes-mixin/commit/e996e00fa3a0c17a7a9f5d01f6c1a3544731bd33 recently changed how CPU usage is tracked. This means as soon as you apply this update, Grafana graphs for CPU will _

[2021-09-03 18:10] arcivanov commented on #4385
This is still an issue.

[2021-09-03 20:00] Namanl2001 commented on #977
Working PR https://github.com/thanos-io/thanos/pull/4389

[2021-09-04 08:43] yasharne commented on #4592
@yeya24 here is the list flags the compactor is running with:
[code]

[2021-09-04 09:42] yeya24 commented on #4592
Can you enable the debug log?

[2021-09-04 11:49] 4molybdenum2 commented on #4624
So will replacing the **NewTransport()** function in exhttp with something like this help?
[code]

[2021-09-04 23:51] #4280 closed

[2021-09-04 23:51] #4346 closed

[2021-09-04 23:51] #4349 closed

[2021-09-04 23:51] #3911 closed

[2021-09-04 23:51] #4236 closed

[2021-09-05 03:18] hanjm opened #4638 "[Feature Request] Store: cache bucket support local disk cache within time range"
### Is your proposal related to a problem?

In time-based partitioning store gateway, Do we need a tools to sync the bucket full blocks files to local disk for store-gateway accerate?

### Describe the solution you'd like
Implement a tools subcommand, download full blocks and keep time range sync,
with --min-time --max-time --selector.relabel-config flag.

### Describe alternatives you've consider

[2021-09-05 05:06] metonymic-smokey opened #4639 "Minor bugs in example"
**Thanos, Prometheus and Golang version used**: latest, 2.29, 1.16

**What happened**:
1. In `examples/interactive/interactive_test.go`, the `TestReadOnlyThanosSetup` , the [message](https://github.com/thanos-io/thanos/blob/bd134d7a823708fa135e7a6931e76f581be5f879/examples/interactive/interactive_test.go#L92) in `t.Skip` should state "comment" instead of "uncomment".
2. The docs also lack the step

[2021-09-05 05:07] metonymic-smokey commented on #4639
@yeya24 here is the issue we discussed about.

[2021-09-05 05:09] metonymic-smokey commented on #4639
/assign

[2021-09-05 05:26] metonymic-smokey commented on #2248
Are there any commands left to complete?
Wanted to take a stab at it since it's a good first issue

[2021-09-05 16:09] oronsh commented on #1318
Why won't you do it dynamic rather than config based?
This way, each store api could handle multiple prefixes for multiple tenants.
I guess this would need support in the compactor as well.

[2021-09-05 17:07] GaoJiasheng commented on #4240
this issue has been resolved, because of timeout during sync from our remote storage.

[2021-09-05 20:07] snuggie12 opened #4640 "Add labeldrop to sidecar"
### Is your proposal related to a problem?

We create around 8-12 external labels that are used in alerts to establish annotations, but are label dropped before being sent to Alert Manager.

It would be nice if sidecar had relabeling allowing this. Beyond making the information noisy, I think these extraneous labels also impacts storage and/or memory?

### Describe the solution you'd like

I'm gue

[2021-09-05 20:28] yeya24 commented on #4638
What's the use case exactly? Blocks syncing at the start is only one-off, which is the same as the usage of a cmd tool?

[2021-09-05 20:33] yeya24 commented on #4631
The default TSDB block duration is `2h` so I guess it is not needed to have?
But I agree adding these flags makes the document more clear. Would you mind opening a pr to update the doc? @ahfuzhang

[2021-09-06 01:05] yeya24 commented on #4483
Is this issue still valid? Does @hanjm's suggestion solves the problem?

[2021-09-06 10:48] GiedriusS commented on #4571
This should be fixed with https://github.com/thanos-io/thanos/pull/4623 and setting `max_idle_conns_per_host` to a high number such as `100`. @matej-g could you please try this out?

[2021-09-06 20:37] yasharne commented on #4592
@yeya24 I let the compactor run for two days but I don't see anything like `replica label removed`:
[code]
Shows nothing, also here are some sample of the debug output:
[code]

[2021-09-06 22:17] yeya24 commented on #4592
Then I don't think your compactor is running with the flags you gave. Looks like deduplication is disabled.

[2021-09-07 07:31] yeya24 commented on #4640
External labels only affect the metadata IIRC and have little impact on storage/memory cost.

Can you give an example of this use case?

[2021-09-07 07:35] filippog commented on #4531
After a few days with `0.21.1` (from gh releases) I am observing failures during downsampling, though ones that result `thanos-compact` exiting (and restarting, in my case) and progress is made eventually:

[code]

My wild guess: is it possible in 0.22.0 the "unexpected EOF" error is still there but swallowed/ignored ? Thank you!

[2021-09-07 08:24] metonymic-smokey opened #4642 "Interactive example does not work for MacOS"
**Thanos, Prometheus and Golang version used**: latest,2.29,1.16

**Object Storage Provider**:
Local filesystem

**What happened**:
The interactive example, `examples/interactive/interactive_test.go` does not run for MacOS users.  The `go test ` command results in an error.

**What you expected to happen**:
The example should run without an error and the UI should open in a browser when it runs.

[2021-09-07 10:18] heartTorres opened #4643 "Use Thanos-Query or new Component to be compatible with Kiali"
### Is your proposal related to a problem?
Hello everyone, we are using Thanos receivers clusters.

Variables:
AWS EKS autoscale with around 1000 to 1300 nodes.

Monitoring tools:
Prometheus installed via Kube-stack-prometheus helm chart,
Kiali, Istio, Jaeger, Grafana

Problem:
Our prometheus is already at 60GB Memory and still gets OOM Killed.
Removing unnecessary metrics is not yet an option as

[2021-09-07 13:13] #4639 closed

[2021-09-07 17:09] risinger opened #4646 "Incorrect regex label match when using `|` with an empty option"
**Thanos, Prometheus and Golang version used**:
Thanos: v0.22.0
Prometheus: v2.28.1

**Object Storage Provider**:
S3

**What happened**:
Using a Thanos Store Gateway as the data source, `prometheus_build_info{doesnotexist=~"whocares|"}` (note the tailing `|` on that regex) returns no series.

**What you expected to happen**:
I expected the Store Gateway to return the same series as `prometheus_bui

[2021-09-07 18:29] snuggie12 commented on #4640
I thought I was reading it impacts the storage on the storegateway pod metadata. The documentation says each block should use 6MB but we're seeing 13MB. Regardless it is annoying.

We create an external label such as `grafanaUrl` which has the environment specific domain name (e.g. grafana.foo.com vs grafana.foo-dev.com) stored in it. These are used for annotations in prometheus alerts and then dr

[2021-09-07 21:41] Nexucis commented on #3142
On prometheus side we are starting to make some changes in the way the UI is managed.
We are currently looking at using the npm workspace. It will ease the usage of local npm package. We are starting with `codemirror-promql`.

Moving to npm workspace required many update and changes. It will take some times to have it in place.
But once it is done, it will probably interesting to create a new npm

[2021-09-08 00:22] thejosephstevens commented on #4236
For anyone who comes across this in future, we moved to a push-based model with cortex which worked much better for our constraints. I would not recommend using thanos to persist metrics in-cluster if you don't have the flexibility to use a persistent disk for the WAL.

[2021-09-08 07:06] GiedriusS commented on #4646
I was able to reproduce this. Interesting bug. Thanks for the report! Help welcome.

[2021-09-08 08:26] yeya24 commented on #4643
Is this problem related to Thanos itself?

IIUC Kiali is compatible with any Prometheus Query API so Thanos Query is definitely compatible. If the problem is the memory usage of your Prometheus instance, try sharding or removing high cardinality metrics (you can check from the TSDB status page).

[2021-09-08 19:45] yeya24 commented on #4646
The reason is that our optimization on regex is not exactly the same as Prometheus' one.

Our implementation: https://github.com/thanos-io/thanos/blob/4276b50564d745d28a9f6ce3e92d19d6fd50c46f/pkg/store/bucket.go#L1763.

Prometheus: https://github.com/prometheus/prometheus/blob/b1ed4a0a663d0c62526312311c7529471abbc565/tsdb/querier.go#L221

As `{doesnotexist=~"whocares|"}` matches the empty string `

[2021-09-08 19:53] yeya24 commented on #4640
IIUC, these environment specific labels only applies to your alerts on Prometheus. Having these labels on the alerts is a better choice I think. Is this applicable in your case?

[2021-09-08 20:03] snuggie12 commented on #4640
That's true though doesn't really work with gitops workflow or working with our developers. A given dev doesn't need to know the URL to grafana in a given environment, but rather can just template it in from external labels:
[code]

Though this is just my use case. There are possibly other people who don't want certain external labels added to their thanos data.

[2021-09-09 05:55] heartTorres commented on #4643
Hello @yeya24 , when we point our kiali to Thanos-Query there were some errors in kiali pod e.g. Kiali calls endpoint /config/status and many more errors. So what we just did was, we pointed the Grafana's datasource as is to Thanos Query but in Kiali we set its datasource to Prometheus. It still gets metrics I guess from Thanos  Query via the remote_read.

Closing this ticket. Thanks

[2021-09-09 05:55] #4643 closed

[2021-09-09 06:25] james-callahan commented on #4559
For what it's worth, we successfully use thanos with Amazon IRSA. We add the following annotations to the service accounts of thanos:
[code]

That role has the permissions from https://thanos.io/tip/thanos/storage.md/#s3
i.e.
[code]

[2021-09-09 19:51] robertjsullivan opened #4651 "Docs Bug -- Out-of-order Samples Error troubleshooting has an unclear remedy"
**Thanos, Prometheus and Golang version used**: N/A

**Object Storage Provider**:

**What happened**:
On this docs page https://thanos.io/tip/operating/troubleshooting.md/#out-of-order-samples-error, the resolution for "Remote  Prometheus is running in high availability mode" references setting replica_external_label_name.  I searched the web and couldn't find out where that could be set in Thanos

[2021-09-10 09:16] erikeverts opened #4652 "Metrics of type ALERTS and ALERTS_FOR_STATE not ending up in objectstore"
**Thanos, Prometheus and Golang version used**:
Thanos store:
./thanos --version
thanos, version 0.18.0 (branch: HEAD, revision: 60d45a02d46858a38013283b578017a171cf7b82)
  build user:       root@4cf3f59273a2
  build date:       20210127-12:18:59
  go version:       go1.15.7
  platform:         linux/amd64

Thanos ruler:
 ./thanos --version
thanos, version 0.21.1 (branch: HEAD, revision: 3558f4a5a

[2021-09-10 10:47] MrYueQ commented on #3454
![image](https://user-images.githubusercontent.com/14846522/132842210-1129af70-c6cf-4d79-85fd-d73d2ebeccf9.png)

[code]

[code]

[2021-09-10 17:34] Namanl2001 commented on #4624
I think replacing `NewTransport()` would not be helpful as it serves a different purpose, rather you can try creating a new func `DefaultTransport()` in exhttp, may be with the same return values as you proposed above, in the comment :)

[2021-09-11 07:08] 4molybdenum2 commented on #4624
Ok, will check this out, maybe make a PR...

[2021-09-11 17:34] matej-g commented on #4642
Hey @metonymic-smokey, would you mind posting what is the exact error you get?

AFAIK the interactive test has not been really tried on platforms other than Linux, but would be nice if we can make it work on MacOS as well.

[2021-09-11 17:48] onprem commented on #4606
Yes, that's what I meant.

Yep, we need to have multiple components running for having a proper demo of Thanos.

[2021-09-12 00:20] yeya24 commented on #4652
Looks like a configuration issue. Can you see any TSDB blocks in your object storage created by Thanos ruler?

[2021-09-12 00:24] yeya24 commented on #4651
`replica_external_label_name` represents the external label configured in your Prometheus HA pairs that is used for identifying Prometheus replicas.

Anyway, different Prometheus replicas need unique external labels.

[2021-09-12 00:32] yeya24 commented on #4634
--url http://thanos-query \
  --start "$(date +%s -d '2021-04-03 00:00:00')" \
  --end "$(date +%s -d '2021-05-31 23:59:59')" \
  /etc/prometheus/rules/backfiller.rules.yaml

We need to think about whether it makes sense to support rules backfilling in Thanos tool. Features: 1. Thanos specific query parameters 2. Different rules format as Thanos' rule supports partial_response_strategy 3. ...

[2021-09-12 09:06] hanjm opened #4656 "Sidecar: failed to fetch initial external labels. unknown unit"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:
COS
**What happened**:
thanos sidecar can not start up.
error message is
[code]

prometheus new version instroduce a exempriment config field `body_size_limit`, the type is `units. Base2Bytes` (https://github.com/alecthomas/units). it implement `text.TextUnmarshaler` but not umplement `text.TextMarshaler` (https://github

[2021-09-12 09:09] hanjm commented on #4656
It could be fixed by only unmarshal global config. I am fixing it.

[2021-09-12 18:26] yeya24 commented on #4656
Let's add Prometheus 2.29.2 version to our E2E test so that we can catch the error in CI.

[2021-09-12 21:48] matej-g commented on #4579
So I'm starting to suspect there might be data race in the compactor, but I haven't been able to chase it down completely. It's not always reproducible, but on a couple of runs, I can make the compactor panic with:

<details><summary>fatal error: concurrent map iteration and map write (full output)</summary>

[code]
</details>

Alternatively, I have seen the compactor panic with `panic: reflect: c

[2021-09-13 02:51] hanjm commented on #4656
I see this TODO https://github.com/thanos-io/thanos/blob/main/test/e2e/e2ethanos/services.go#L44 `// TODO(bwplotka): Run against multiple?`, current E2E does not support multi version.

[2021-09-13 06:06] hanjm commented on #4638
Like caching-bucket chunks, but in local disk. https://thanos.io/tip/components/store.md/#caching-bucket

[2021-09-13 07:57] yeya24 commented on #4656
OK. I see, it should be unit tests running by Circle CI. I think that supports different Prometheus versions.

As for E2E tests with multiple Prometheus versions, is it supported by the new E2E framework? cc @matej-g @bwplotka

[2021-09-13 08:07] matej-g commented on #4571
Hey @GiedriusS,
So I did a number of 'macro' tests last week (comparable to our original latency report). I compared latest `main` with `v0.22.0`. I did tests both with the interactive example locally (while spinning up 2 different versions of query frontend) and on a test cluster on AWS. In all cases I used the same data, generated by the interactive example via `thanosbench` tool (this created ~

[2021-09-13 08:12] matej-g commented on #4656
If I understand the question correctly, this should be already possible - have a look at signature of [`NewPrometheus`](https://github.com/thanos-io/thanos/blob/main/test/e2e/e2ethanos/services.go#L63), look at parameter `promImage`. Just specify the Docker image for whichever version you would like to run and instantiate the service.

[2021-09-13 09:46] erikeverts commented on #4652
Do the blocks keep the same foldername (guid) when they are uploaded to objet storage? Else I don't really know how to find them in the object storage.
But it must be noted that also metrics of this type that are received by thanos receiver are not in object storage while other metrics received by the same receiver and sent from the same prometheus are.

[2021-09-13 11:36] hanjm commented on #4656
This way could only run single test which use specific promImage, not all the E2E test.

[2021-09-13 14:18] matej-g commented on #4656
Do we want to run all the E2E tests against multiple versions of Prometheus? I guess then we could just pass environment variable with Prometheus version we desire and replace the image version (similarly to what we do for Thanos - https://github.com/matej-g/thanos/blob/main/test/e2e/e2ethanos/services.go#L54). I don't there is any such feature 'baked' into the E2E framework.

[2021-09-13 15:58] blemmenes commented on #4317
@ianbillett So finally had a chance to sit down and try messing with these test and it seems like I'm doing something wrong. A `make test-local` works fine, however `make test-e2e` fails. It seems like it's still trying to spin up a local minio instance vs. using our ceph cluster.

Here are the variables I have set:
[code]

[code]

[2021-09-13 18:09] MrYueQ commented on #4531
thanos version
[code]

thanos compact systemctl config
[code]

system log print
[code]

[2021-09-14 06:01] MrYueQ commented on #4634
I also encountered a similar problem. When querying indicators in a long period, the storage gateway does not return data.
This is my thanos-compact configuration list
[code]

This is my thanos-store configuration list
[code]

[code]
![image](https://user-images.githubusercontent.com/14846522/133202855-66eadaa7-e8d5-4c63-b6e0-2f69ac382e94.png)
![image](https://user-images.githubusercontent.com/148

[2021-09-14 07:03] yasharne commented on #4592
@yeya24 compactor is running with the given deduplication flags:
![screenshot_17](https://user-images.githubusercontent.com/7656049/133210887-1fd2a368-ff25-45e0-ba32-3d2d735bcba4.png)

[2021-09-14 13:28] bwplotka commented on #4579
Reason is that we modify block meta here: https://github.com/thanos-io/thanos/blob/1964c0c27490ad9e65997efcc4c4f8c7411b70df/pkg/block/fetcher.go#L718

and we use same pointer here: https://github.com/thanos-io/thanos/blob/3d7c0ddfddcb4e1ce77d9e755b399a5b400f5010/pkg/ui/bucket.go#L89

Checking what we can do

[2021-09-14 14:47] #4084 closed

[2021-09-14 14:58] amino19 commented on #4596
@ianbillett: Now it's #4647, ig!

[2021-09-15 15:29] GiedriusS commented on #4571
Mhm, is it reproducible when more maximum concurrent queries are permitted?

[2021-09-16 07:52] matej-g opened #4664 "E2E Tests: Consider enabling race detector for test binary"
Enabling race detector for E2E tests could help us in catching concurrency problems early on (see context here: https://github.com/thanos-io/thanos/issues/4579#issuecomment-917716313).

We could introduce a separate Dockerfile to build image specifically for testing, with separate `promu` config (we'll need to enable CGO and use a non-Alpine based image).

[2021-09-16 10:31] m-messiah commented on #3761
Let's continue with it? I think remote-write from thanos ruler could be a great thing

[2021-09-16 12:46] jmichalek132 opened #4665 "query: present_over_time function suggested by autocompletion but not yet implemented"
**Thanos, Prometheus and Golang version used**: Thanos v0.23.0-rc.0, Prometheus v2.29.1, Go 1.16.5

**Object Storage Provider**: S3 compatible storage

**What happened**:
After upgrading Prometheus & Thanos to make use of new promql function `present_over_time` which was introduced in Prometheus version 2.29.0, I tried to use it in Thanos query as it was also suggested by the autocompletion.

![Sc

[2021-09-16 14:02] erikeverts commented on #4652
We have upgraded our thanos store version from 0.18 to 0.22 and now the issue seems to no longer exist. It might be a bug in 0.18.

[2021-09-16 14:51] matej-g commented on #4571
It's not reproducible with higher number of concurrent queries (e.g. the default `4` or higher) - with that configuration, the times are pretty similar for both query and query frontend.

I am actually now unsure about how precise was the original report we received about those 20% and whether there might have been something else going on that would explain the difference. But from what I can conc

[2021-09-16 17:10] MrYueQ opened #4668 "query|query-frontend log stdout rpc 404"
hi, thanos-query/thanos-query-fronted log stdout msg
[code]

thanos version
[code]

thanos query config
[code]

[2021-09-16 17:45] yeya24 commented on #4668
It is nothing to do with Thanos Query and Query frontend.
The error is that when Thanos Querier sent `/api/v1/query_exemplars` API request to the sidecar and Prometheus, the mentioned API endpoint does not exist. Please enable exemplars storage in your Prometheus.

[2021-09-16 17:50] #4668 closed

[2021-09-16 17:52] #4656 closed

[2021-09-16 17:57] yeya24 commented on #4665
Looks like the codemirror promql version is newer then our prometheus package version.

[2021-09-16 18:13] robertjsullivan commented on #4651
Thanks for the clarification.  So if I set my Prometheis up with:

Do I need to tell the Thanos receiver what label identifies the replica as unique (i.e. some-label)?  Or is the fact that the time series that are coming out of those Prometheus pairs being unique is enough?  Does the receiver attempt to do any sort of deduplication?

[2021-09-16 20:01] atjones0011 opened #4670 "Ruler: custom labels with HA causing compact failures"
**Thanos, Prometheus and Golang version used**:
Thanos 0.22.0
Prometheus 2.29.1
Go 1.16.6

**Object Storage Provider**:
AWS S3

**What happened**:
Compaction is failing because of overlapping blocks caused by Ruler replicas with identical labels. The matching labels come from the `labels` block of the CRD.

**What you expected to happen**:
Ruler to include a replica label per pod even when custom

[2021-09-17 08:38] rsommer commented on #3436
We are encountering similar problems. Compactor is running with the following settings:
`thanos compact --data-dir /var/cache/thanos --objstore.config-file /etc/prometheus/object_store.yml --retention.resolution-raw=30d --retention.resolution-5m=26w --retention.resolution-1h=26w --wait --deduplication.replica-label=replica --deduplication.func=penalty`
(the deduplication flags have just been added

[2021-09-17 09:41] shineshane opened #4671 "How to auth Prometheus in Thanos"
My Prometheus instance has enable basic-auth: https://prometheus.io/docs/guides/basic-auth/

when I run Thanos sidecar:
[code]

get log:
[code]

I looked up the flags in `thanos sidecar -h` but the flag related to prometheus auth could not be found. How should I configure Thanos?

[2021-09-17 18:19] yaron-idan opened #4675 "Thanos querier http_requests_total metric reports 503 status code"
### Discussed in https://github.com/thanos-io/thanos/discussions/4630

<div type='discussions-op-text'>

<sup>Originally posted by **yaron-idan** September  2, 2021</sup>
Hey,
We are using Thanos to aggregate results from multiple k8s clusters.
Lately we've been seeing a rise in 503 error status codes emitted from the query container in our thanos-external-querier pod.
These errors are indicated b

[2021-09-18 04:43] metonymic-smokey commented on #4022
I was considering working on this issue. I had a few doubts:
1. An `--experimental` flag needs to be added. This will be like the `--enable-features` flag in Prom and will accept comma separated strings.
Should this flag be global or added to the Query component?
2. If the list of features in the `--experimental` flag contains negative offset and @ modifier, those will be enabled.
Is this what is

[2021-09-18 13:29] hanjm opened #4676 "Exemplar: Can not set partial response."
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:
COS
**What happened**:
query_exemplar response error:
error: "retrieving exemplars: proxy Exemplars: receiving exemplars from exemplars client &{0xc000b2a000}: rpc error: code = Unimplemented desc = unknown service thanos.Exemplars"

**What you expected to happen**:
partial response with warning.
**How to reproduce it (a

[2021-09-18 13:55] hanjm commented on #4676
if a add a flag and pass it to NewExemplarsHandler, https://github.com/thanos-io/thanos/blob/main/pkg/api/query/v1.go#L798, thanos-query run OOM when query.

pprof heap is here
[code]

[2021-09-18 13:59] Namanl2001 commented on #4671
This feature is not present in thanos yet, however we have a WIP PR for it.
Related issue: https://github.com/thanos-io/thanos/issues/3975
WIP PR: https://github.com/thanos-io/thanos/pull/4612

[2021-09-18 15:30] Dieterbe opened #4677 "thanos blocks viewer: "can't convert null to object" in new UI"
i wrote [a tool that generates some tsdb blocks](https://github.com/Dieterbe/prometheus/commit/beaefe1bd4728a83fd970ba09c94f625f45890b1). While the classic UI shows the blocks well, the new UI errors with the below error. Note in the below diagnostics i use a few different blocks directories because i did several test runs. But the principle is the same: my tool uses tsdb to save blocks in a temp

[2021-09-18 15:53] MrYueQ commented on #4668
Thanks.
![image](https://user-images.githubusercontent.com/14846522/133894749-a5989f96-600e-4836-a710-fdae8f9e2972.png)

[2021-09-18 18:44] #4665 closed

[2021-09-18 19:01] yeya24 commented on #4676
So actually partial response in the Exemplars API works, right? @hanjm Can you help confirm this?

If the flag works, then let's rename the issue to discuss the exemplars limit.

[2021-09-18 19:08] yeya24 commented on #4670
@atjones0011 Can you show the `ThanosRuler` CRD you are using?
Btw this sounds like an issue of Prometheus Operator.

If custom labels are specified, it still needs to add a `thanos_ruler_replica` label for different replicas to differentiate replica data instead of using identical labels.

Can you help open an issue on the prometheus operator repo? I am happy to help fix it if maintainers from pr

[2021-09-18 19:16] yeya24 commented on #4670
I guess for Thanos ruler, it recommends using 2 ThanosRuler crs for different replicas so that you can specify different `labels` and `dropLabels` for ruler. For one CRD with 2 replicas, it is not flexible enough. This seems like a bug.

[2021-09-19 01:33] #3954 closed

[2021-09-19 01:33] #4364 closed

[2021-09-19 01:33] #4409 closed

[2021-09-19 01:33] #4365 closed

[2021-09-19 01:33] #4371 closed

[2021-09-19 01:33] #3260 closed

[2021-09-19 01:33] #4329 closed

[2021-09-19 01:33] #4390 closed

[2021-09-19 01:33] #4287 closed

[2021-09-19 01:33] #4355 closed

[2021-09-19 01:33] #4399 closed

[2021-09-19 01:33] #4401 closed

[2021-09-19 01:33] #4338 closed

[2021-09-19 01:33] #4322 closed

[2021-09-19 01:33] #2750 closed

[2021-09-19 01:33] #4058 closed

[2021-09-19 01:33] #4046 closed

[2021-09-19 01:33] #4376 closed

[2021-09-19 01:34] markmsmith commented on #903
Still needed.

[2021-09-19 02:18] hanjm commented on #4676
I found seems missing exemplar.partial-response flag, so i add exemplar.partial-response flag in https://github.com/hanjm/thanos/commit/681608cb180641ec2fbc9d3ca0bea170d6bb723a, Partial response works in my brach.

[2021-09-19 03:30] yeya24 commented on #4676
I see. @hanjm Looks like we have this config in the struct but forget to add a flag for it. Would you like to open a pr for it?

[2021-09-19 04:22] hanjm commented on #4676
ok.

[2021-09-19 04:26] hanjm commented on #4676
I am investigate it.  from pprof heap, it seems too many warning message consume the memory.

i add a debug log to (*exemplarsServer).Send https://github.com/thanos-io/thanos/blob/main/pkg/exemplars/exemplars.go#L42

[code]

it will print a lot of logs like
[code]

[2021-09-19 06:20] hanjm commented on #4676
then i print svr.warnings first ten message.

[code]

it print a log like
[code]

so, The conclusion seems misuse `pkg/errors`, wrap a error message twice.

[2021-09-19 07:28] hanjm commented on #4676
Seems it is better if keep one `warning` in single gRPC bid-stream call. instead of multi `warning` . @yeya24  do you think so?

[2021-09-19 09:22] MrYueQ commented on #4676
Hi. The version of thanos has been rolled back to 0.22. In addition, in the current version, --query-frontend.downstream-url uses the load balancing mechanism, and the load balancing mechanism is weighted round-robin. No matter how the client's IP changes. The upstream of the backend will only be routed to the same IP.

thanos-query host resource
![image](https://user-images.githubusercontent.com/

[2021-09-19 09:30] MrYueQ commented on #4668
![image](https://user-images.githubusercontent.com/14846522/133922468-ea8b22f6-5475-485f-b0e6-5c3a3c2d56d5.png)
The host resources are as follows.
The resource configuration for deploying thanos-query is 3 * 4C/8Gi/100SSD
The resource configuration for deploying thanos-query-frontend is 3* 8C/32Gi/100SSD
When a large number of queries start. It will slow down all thanos-query nodes. The specific p

[2021-09-19 09:56] hanjm commented on #4676
If the store-api target not implement exemplar API, err is `rpc error: code = Unimplemented desc = unknown service thanos.Exemplars`. the grpc bid-steam loop will be infinite loop due to the wrong error handing.
https://github.com/thanos-io/thanos/blob/main/pkg/exemplars/proxy.go#L195
[code]

[2021-09-19 10:31] hanjm commented on #4676
Fix at PR #4676

[2021-09-19 12:27] MrYueQ commented on #4676
![image](https://user-images.githubusercontent.com/14846522/133927413-b6880331-e8cb-438d-afb0-33adf9fbedbf.png)
![image](https://user-images.githubusercontent.com/14846522/133927423-6b5ee58b-e191-4be4-93bf-92c2c6c92184.png)

[2021-09-19 12:39] MrYueQ commented on #4615
@yeya24  hi.
I often encounter this problem. Especially when the query range is relatively large. Storage gateway prompt read: connection reset by peer

thanos version
[code]

thanos compact systemctl config

[code]

[2021-09-19 13:18] hanjm commented on #4676
@MrYueQ  Seems not relevent? Please feel free to open another issue ~

[2021-09-19 18:03] #4676 closed

[2021-09-19 19:15] #4330 closed

[2021-09-19 19:15] #4374 closed

[2021-09-19 19:15] #3555 closed

[2021-09-19 19:55] yeya24 commented on #4642
@matej-g The error I got locally:

[code]

[2021-09-19 20:37] kunaljain0212 commented on #4646
I would like to work on this issue, could you please guide me about how should I proceed.

[2021-09-20 07:14] yeya24 commented on #4677
Cannot reproduce this issue locally with Prometheus TSDB data directory. Might be related to your tool? I will try it tomorrow.

[2021-09-20 07:32] yeya24 opened #4683 "Have a way to disable endpointSet API auto discovery"
### Is your proposal related to a problem?

The new `EndpointSet` change is added to the latest release and now Thanos querier is able to automatically discover the APIs supported by stores.

However, this doesn't work well in edge cases. As I mentioned in https://github.com/thanos-io/thanos/pull/4282#issuecomment-872449754, we have multiple Thanos sidecars deployed in different data centers acros

[2021-09-20 07:45] bwplotka commented on #4664
Yes 👍🏽

[2021-09-20 08:01] yeya24 commented on #3975
Still valid and we have #4612 now.

[2021-09-20 08:18] bwplotka commented on #4683
Thanks for reporting!

Currently, there is no and I was pointing this during the proposal phase. We assumed we can add some filtering later on, plus anyone can put their own proxy to block certain gRPC / http2 paths.

In your case, looks like you simply don't want to use metadata across the whole fleet. So you can just not use metadata HTTP at all and you are good to go. The problem arises when yo

[2021-09-20 08:24] yeya24 commented on #4683
Yes, I want to use sub grouping of APIs. I only want to enable metadata and exemplars API at the sidecar which is at the same cluster of our queriers.

We cannot control not to use some APIs because Grafana will call exemplars and metadata APIs automatically in the explore page.

[2021-09-20 08:28] bwplotka commented on #4683
yea, ok, then it's must have.

In this case we have couple of options:

1. Have `--endpoint` for auto discovery and leave `--store` and others for manual specifications
2. Have `--endpoint` for auto discovery  and ask user to use `--endpoint.config` for more complex use cases and add filtering there (endpoint.config is what @Namanl2001 is working on with TLS work).

I think I like 2 the most, less

[2021-09-20 08:39] kunaljain0212 commented on #4596
@ianbillett There seems to be no response on the current PR about the failing CI, shall I create a new PR for this issue?

[2021-09-20 08:54] ianbillett commented on #4596
@kunal-kushwaha https://github.com/thanos-io/thanos/pull/4647 is failing [here](https://github.com/thanos-io/thanos/pull/4647/checks?check_run_id=3541829428#step:5:138)?

[2021-09-20 09:38] GiedriusS commented on #4646
I suppose a good start would be to add failing tests. A suitable location seems to be the e2e tests: https://github.com/thanos-io/thanos/tree/main/test/e2e.

[2021-09-20 09:48] onprem commented on #4683
+1 for option 2. Another option is that we can allow disabling certain APIs on component level, so for example, Ben can disable Metadata API for sidecars running outside the cluster.

[2021-09-20 10:44] clushie commented on #4241
It's quite hard to debug, for us we figured the problem was that we used `awsregion: eu-west-1` instead of `awsRegion: eu-west-1`. I can recommend using `helm get all <deployment>` and verify configuration is passed correctly in case you are using helm to deploy thanos and `kubectl describe` (deployment/pod) to make sure that it contains all the necessary environment-variables and secrets.

[2021-09-20 14:01] peetasan commented on #3454
Hi, I have a similar issue with min/max time being invalid or infinity, `thanos tools bucket inspect` and `thanos tools bucket verify` return sensible data, no errors, on the web view I can also see that the blocks more or less are compacted in a correct way.

So while I do have the data in my S3 bucket when I zoom out to more than 24h in Grafana I see no data for older than a couple of hours. (Th

[2021-09-20 14:29] simonpasquier commented on #4670
I agree with @yeya24, the documentation about ThanosRulerSpec.labels says:

I guess that we can make it clearer that if you specify your own labels, you need to provide a replica-like label as well as the matching "drop label" directive.

[2021-09-20 14:32] matej-g commented on #4642
Hm it looks like we're hitting this https://github.com/containerd/cgroups/issues/19. The package is used in `e2emonitoring` in `efficientgo/e2e`. We will probably need to find a way to solve this in the upstream.

In the meantime, perhaps we have the tests without the monitoring endpoint, which would remove the dependency on `e2emonitoring` - which is nice-to-have but it is not essential for the i

[2021-09-20 15:32] 4molybdenum2 commented on #4677
Yep, this is happening to me too...
I am also using FILESYSTEM in my bucket config file. But, I couldn't figure out why this was happening yet :thinking:

Here is an image...maybe this will help
![blockviewerror](https://user-images.githubusercontent.com/54244150/134029772-cd95124f-2fd7-4bd2-8cbd-e24cd402466f.png)

[2021-09-20 18:42] yeya24 commented on #4683
Love this idea. This should be easier for us.

[2021-09-20 20:29] yeya24 opened #4685 "Configurable lookback interval of codemirror promql?"
### Is your proposal related to a problem?

(Write your answer here.)

The new codemirror promql editor will send `/api/v1/series` requests for auto-completion. However, the default lookback interval is 12h https://github.com/prometheus/prometheus/blob/main/web/ui/module/codemirror-promql/src/client/prometheus.ts#L81, which is a little bit long in Thanos case compared to Prometheus.

As we are usi

[2021-09-20 20:29] yeya24 commented on #4685
@Nexucis Any thoughts about this?

[2021-09-20 20:46] ianbillett commented on #4652
I think we can safely close this issue if bumping to the most recent version fixed your issue :+1:

[2021-09-20 20:46] #4652 closed

[2021-09-21 08:48] sylr opened #4688 "#4657 broke query -> sidecar communication"
**Thanos, Prometheus and Golang version used**:

Thanos: HEAD
Go: 1.17.1

**Object Storage Provider**:

S3

**What happened**:

While testing #4667 I merged the main branch into it locally and it broke the communication between my thanos query and thanos sidecar.

I bisected and reverting #4657 resolved the issue.

I don't know if it is relevant but I have a traefik reverse proxy between thanos-qu

[2021-09-21 09:25] hanjm commented on #4688
9090 is the Prometheus port, not the thanos-sidecar port.
Could you provide the thanos-query and thanos-sidecar command args?

[2021-09-21 13:21] Nexucis commented on #4685
Hey @yeya24,

This is something we talked a bit on Prometheus side: https://github.com/prometheus/prometheus/issues/8685.

Probably it's more important to configure it in Thanos than in Prometheus.

Following the issue shared, I think you have different way to achieve it:
1. You override the value of the lookback interval directly in the UI code. But still nobody won't be able to customize it for

[2021-09-21 14:09] nicolastakashi opened #4689 "Thanos Compact gets internal server error, when is facing context canceled from Storage Provider"
**Thanos, Prometheus and Golang version used**:

Thanos Version 0.22
Prometheus: 2.27

**Object Storage Provider**: Microsoft Azure

**What happened**: Thanos Compact gets internal server error, when is facing context canceled from Storage Provider

**What you expected to happen**: Retry an keep health

**How to reproduce it (as minimally and precisely as possible)**: There is no a specific scenar

[2021-09-21 14:55] sylr commented on #4688
Ok so I don't reproduce anymore ...

I'm sorry for the annoyance.

[2021-09-21 14:55] #4688 closed

[2021-09-21 19:43] matej-g commented on #4675
Hey @yaron-idan, what does the rest of your setup look like? What stores is the query pointing to? Seeing anything interesting in logs of those components? My initial thought is whether the issue actually does not occur further down the stack and gets propagated to query.

[2021-09-21 19:53] yeya24 commented on #4685
Option 2 & 3 both make sense to me. We can do option 2 first as I don't want users to configure a large value to break our Thanos service.

[2021-09-21 20:22] atjones0011 commented on #4670
Setting the label as `thanos_ruler_replica="$(POD_NAME)"` is exactly what I needed to resolve the problem. The replica label is now being set with the pod name and there's no longer duplicate blocks. Thanks for the help!

[2021-09-21 20:22] #4670 closed

[2021-09-22 00:04] hanjm commented on #4688
if the port 9090 is point to sidecar correctly. I think the error log is produced when sidecar is up but prometheus is not ready，so query timeout by context deadline exceeded.

[2021-09-22 02:44] #2569 closed

[2021-09-22 02:44] #4405 closed

[2021-09-22 02:44] #2340 closed

[2021-09-22 02:44] #3545 closed

[2021-09-22 03:18] rbounds commented on #3750
Still an issue. @bwplotka in #3773 you said this was on your todo list. Has this been addressed yet?

[2021-09-22 05:16] jnauska commented on #4592
Replica label should be without ""

[code]

[2021-09-22 07:57] rsommer commented on #4531
We discovered recently, that compact is not downsampling, too. If downsample ist started standalone, everything works as expected.
thanos compact is started with:
`/bin/thanos compact --data-dir /var/cache/thanos --objstore.config-file /etc/prometheus/object_store.yml --retention.resolution-raw=30d --retention.resolution-5m=26w --retention.resolution-1h=26w --deduplication.replica-label=replica --

[2021-09-22 07:58] matej-g commented on #4579
The blocking issue has been resolved, PR is open for business :+1:

[2021-09-22 08:08] rsommer commented on #4592
While running only compact, retention and deletion does not work for us, too. If I apply retention and cleanup as standalone commands, everything works as expected. The same goes with downsampling (see #4531).

[2021-09-22 08:13] yeya24 commented on #4592
As I mentioned, it is not a bug. This means that the compactor has too much compaction work to do so that it never starts retention and downsampling because these steps are executed after all compaction work is done.

Try scaling your compactor more and increase resources to keep up with the compaction work.

[2021-09-22 08:14] yeya24 commented on #4531
mentioned in https://github.com/thanos-io/thanos/issues/4592#issuecomment-924691728. Downsample starts after all compaction is done.

[2021-09-22 08:21] Nexucis commented on #4685
I'm wondering if it makes sense to do it first in Prometheus and then put it back in Thanos once it is done. But I guess the opposite can work as well.

Don't have a big opinion on that, but perhaps @yeya24 you already have one ?

/cc @onprem @juliusv

[2021-09-22 08:29] yeya24 commented on #4685
Go ahead with Prometheus first SGTM.

[2021-09-22 09:26] sylr commented on #4688
9090 was the port on the reverse proxy which was forwarding on 10901. The mistery lies elsewhere ...

Sorry again to have wasted your time.

[2021-09-22 11:31] simonpasquier commented on #4204
Closed by https://github.com/thanos-io/thanos/pull/4519

[2021-09-22 11:31] #4204 closed

[2021-09-22 12:16] denniceritchie opened #4691 "specifally query thnoas sidecars from thanos queriers when using grafana"
While writing queries in grafana, How can I mention I need the data to be fetched from specific sidecars only for faster retrieval instead of store gateway?

[2021-09-22 14:28] bwplotka opened #4693 "storeAPI: Hook MultiTSDB, ruler and bucket store API for labels acceptance test"
Similar to https://github.com/thanos-io/thanos/pull/4690.

AC:
* MultiTSDB, bucket store and ruler Labels and Label Names methods are tested using common acceptance tests.

Idea: Do similar tests for Series?

[2021-09-22 16:57] Aaron-ML commented on #4689
I'm seeing something similar to this on 0.22 as well
[code]
This doesn't happen on 0.21, very odd.

[2021-09-23 02:17] sowhat7 commented on #3868
I tried to modify this parameter, it seems to solve the problem of thanos compact restart

[2021-09-23 08:23] yeya24 commented on #4691
There are two ways I can think of:
1. Use a recent time range. Sidecar always has the latest data while store gateway usually has not so updated data. If you select a recent query time range then it is possible to skip store gateway.
2. You can use store filtering in the Thanos UI to only query sidecars. But it is not easy to do this in Grafana. IIRC you can only set customQueryParams in the datas

[2021-09-23 08:26] yeya24 commented on #2864
Still valid I think.
Something really nice to support this is to have tenant label matching and min/max label filtering at the `Series` grpc request. This could make the receiver query faster.

[2021-09-23 09:50] huyifeng0522 commented on #1598
Can not agree more，I tried `thanos tools rewrite`  but it did not work

[2021-09-23 11:01] GiedriusS commented on #4252
Just noticed this too, reopening.

[2021-09-23 13:34] GiedriusS commented on #305
As mentioned on Slack, I suggest unblocking the work on this by starting with a simple case: we can push down any kind of query to a StoreAPI node if its time range doesn't overlap with any others. This should cover a lot already since the most recent data is usually covered by Receiver/Rule/Sidecar, and then the historical part is covered by a load-balanced Thanos Store. Thus, with query-frontend

[2021-09-23 14:48] bwplotka commented on #4688
No worries, good we found the issue and it's not a release blocker! 🤗

[2021-09-23 18:00] #4022 closed

[2021-09-23 18:01] yeya24 commented on #4600
Solved by #4679.

[2021-09-23 18:01] #4600 closed

[2021-09-23 18:28] om3171991 opened #4698 "Data inconsistency between vanilla Prometheus & Thanos + Prometheus Operator"
Hi Team,

We have onboarded Thanos 1 month back and we are seeing some data consistency issues between vanilla Prometheus & Thanos.

![image](https://user-images.githubusercontent.com/86664910/134562254-d220b5c3-8768-4a1e-b62a-b42c42683023.png)
![image](https://user-images.githubusercontent.com/86664910/134562376-8d5c0a58-5709-4c9d-acf2-514836008a81.png)
![image](https://user-images.githubusercont

[2021-09-24 05:34] hanzZzZzZ commented on #1851
Just found this issue, but I can confirm:
Still needed.

[2021-09-24 08:30] matej-g opened #4699 "Endpoint set on query is causing increase in gRPC error rate"
We have recently switched to Thanos `v0.23.0-rc.0` for all our components on all our environments, which includes introduction of [endpoint set flow for query](https://github.com/thanos-io/thanos/pull/4421). In our `query`, we are specifying the `--store` flags by leveraging the `dnssrv+` directive. It points to a number of different components - `store`, `rule` and `receive`.

Not long after, we

[2021-09-24 10:59] yaron-idan commented on #4675
Hey @matej-g, thanks for reaching out.
Our thanos querier is pointing at ~10 stores, which translate to 2-3 prometheus instances in each of our kubernetes clusters.
I've checked the logs of the thanos sidecars attached to each prometheus instance, and also for the query-frontend that we have deployed in front of the cluster querier, but I can't find any logs that can help me pinpoint the issue.
Co

[2021-09-24 11:03] MrYueQ opened #4700 "Thanos-QueryFrontend stdout Warning: Error fetching metrics lists."
hi. thanos-query-frontend web display "Warning: Error fetching metrics list: Unexpected response status when fetching metric names:"
thanos version
[code]

![image](https://user-images.githubusercontent.com/14846522/134664197-9ea4747a-7a29-4091-8b70-b7a9a76dd83b.png)

[2021-09-24 16:21] #3915 closed

[2021-09-25 05:05] yeya24 commented on #4700
Can you please add the logs of the query frontend and thanos querier?

[2021-09-25 05:08] yeya24 commented on #4698
How many Prometheus instances are you running? If you are running with more than 1 Prometheus then inconsistency is possible because of how Thanos deduplication works.

[2021-09-25 05:20] yeya24 commented on #1598
Sorry for the delay. I will add a document to demonstrate how to use the rewrite tool to delete and relabel series.

[2021-09-25 07:08] yeya24 commented on #4651
No config is needed in the receiver. The series from Prometheus with unique external labels is sufficient.

Deduplication at the receiver side is not supported right now. But it is doable if you are running compactor in the penalty deduplication mode.

[2021-09-25 07:57] yeya24 commented on #1598
PTAL for pr https://github.com/thanos-io/thanos/pull/4701.

[2021-09-25 08:08] om3171991 commented on #4698
@yeya24 - currently 1 instance of Prometheus is running for Thanos. No replica till now but yeah we will have some in the future so can you share some insight/reading material on deduplication of metric by Thanos with multiple replicas.

[2021-09-26 01:54] hanjm commented on #4638
still valid

[2021-09-26 02:00] hanjm commented on #4691
Try set store gateway flags --max-time=1d to serve only time 1 day ago.

[2021-09-26 02:10] hanjm commented on #4691
the querier will use sidecar/store external label as first filter.
for example:
there are two prometheus，one config `team='a'` external label. another config `team='b'` external label.
if the query is 'up{team='a'}'，it only query the first one prometheus sidecar.

the store gateway has relabel config filter and time range filter，it can on serve a part of labels or time range across all the blocks.

[2021-09-26 02:15] zengqingwei opened #4704 "How to monitor the status of the thanos component itself？"
####
$ thanos --version
thanos, version 0.23.0-rc.0 (branch: HEAD, revision: 81841aed4a9e3d6f6ed772fea287f04504d164f3)
  build user:       root@d1bae1e2c93c
  build date:       20210908-14:46:03
  go version:       go1.16.7
  platform:         linux/amd64

How to monitor the status of the thanos component itself？
Which specific indicators have passed, thank you!

[2021-09-26 02:25] zengqingwei commented on #4704
I mean how to know  Sidecar Query Store Rule Compact problem appear.I know the first time there is a problem with these components

[2021-09-26 03:14] hanjm commented on #4704
All components are exposed self metrics with prometheus format on `http port/metrics` endpoint. here is the grafana dashboards and alerts. https://github.com/thanos-io/thanos/tree/main/mixin

[2021-09-26 03:17] hanjm commented on #4689
https://thanos.io/tip/components/compact.md/#compactor

[2021-09-26 03:36] zengqingwei commented on #4704
Thanks for the reply, my understanding is that you need to use the new indicator monitoring after installing this package, right?

[2021-09-26 03:43] zengqingwei commented on #4704
One more thing, I don’t use Kubernetes, I just use thanos +prometheus.Is the thanos-mixin you said is feasible

[2021-09-26 04:35] hanjm commented on #4704
The thanos-minxin just generate grafana dashboard and alert rules about thanos component，not relevant with k8s.

You can deploy another prometheus and scrape thanos component metrics.

[2021-09-26 05:36] zengqingwei commented on #4704
Thank you very much, I will test it~

[2021-09-26 07:25] wangshiboqq opened #4705 "thanos failed to store data"
thanos failed to store data

[2021-09-26 07:26] wangshiboqq commented on #4705
![image](https://user-images.githubusercontent.com/4270095/134798086-1c1198ea-4deb-40ca-a888-626212124a27.png)

[2021-09-26 07:27] wangshiboqq commented on #4705
thanos store --data-dir /data/storage/thanos/store --objstore.config-file /usr/local/thanos/bucket_config.yaml --http-address 0.0.0.0:39191 --grpc-address 0.0.0.0:39090 --log.level=debug

[2021-09-26 07:27] wangshiboqq commented on #4705
thanos query --http-address 0.0.0.0:29090 --grpc-address 0.0.0.0:29091 --query.replica-label monitor --store 10.39.193.212:19091 --store 10.39.193.212:39090 --log.level=debug

[2021-09-26 07:27] wangshiboqq commented on #4705
[root@monitor-01 store]# pwd
/data/storage/thanos/store
[root@monitor-01 store]# ll
total 16
drwxr-xr-x 2 root root     6 Sep 26 15:21 meta-syncer

[2021-09-26 07:29] wangshiboqq commented on #4705
doese anyone have any idea for this issue? I could not find any useful log...

[2021-09-26 07:59] Nexucis commented on #3142
We finally finished to move to the npm workspace on Prometheus side.

Probably it will make sense to start with https://github.com/thanos-io/thanos/issues/4685 in order to have a common module between Prometheus and thanos managing the PromQL expression

[2021-09-27 16:46] Aaron-ML commented on #4689
I'm already running the --wait flag and have for quite awhile, not sure if that changed in 0.22?

[code]

[2021-09-28 00:04] yeya24 commented on #4705
For sidecar, `Max Time` is infinite is expected.
Store gateway doesn't have any data in the object storage right now so the output seems correct besides the `invalid data` issue.

Which object storage are you using?

[2021-09-28 14:14] mozai commented on #3720
Running into it myself (using thanos v0.19), and it's blocking both thanos query and thanos compact:

Tried restarting "thanos store" -- same errors.  Tried restarting with `--chunk-pool-size=4GB` and it seems happy.  This site is less than a year old, I worry I'll have to bump it up to --chunk-pool-size=8GB a year from now.

[2021-09-28 18:28] dpachiappan opened #4711 "Thanos store container fills up the disk while reading from bucket storage"
Thanos Version:  thanos:v0.19.0-rc.0

Thanos Operator Version:  0.3.3

**Object Storage Provider**: S3

**What happened**:

Thanos operator is used for deploying the the thanos components (storegateway, query, query frontend).

Thanos store container fills up the ephemeral disk that is only 50GB.

Tried configuring the PVC for the store container, but the operator is not accepting the additional P

[2021-09-29 12:48] JohanElmis commented on #3436
We have similar issues on a Google bucket: (Compact View in the graph).
All the raw-blocks still exist - even if the retention is set to only keep them for 8 days.
I have not tried to do any forced cleanup with the cmd. All? the old blocks contains a deletion-mark file.
We did have storage loading-issues before which seems to have been caused by that we used a single MemcacheD cache for several st

[2021-09-29 13:14] jr0dd commented on #4699
I'm not using any custom flags here and since v0.23.0 I get spammed all day with these same false positives. I'm just changing the rule for now to ignore Unimplemented.

[2021-09-29 21:31] jmichalek132 commented on #4478
I did some digging into this and the issue is the fronted gets the min max time it shows from this InfoResponse returned by store
https://github.com/thanos-io/thanos/blob/360b39e1c6ab3ac8dcefa225a6205142f9362c68/pkg/store/storepb/rpc.pb.go#L224
which is set to:
[code]
in this function
https://github.com/thanos-io/thanos/blob/8184ba2037fdc6df8d99ce8899fead613b7a7373/pkg/store/bucket.go#L640
when no

[2021-09-30 06:09] yeya24 commented on #4470
@metonymic-smokey When this kind of error happens, we can log the labels of that series.

[2021-09-30 07:19] nicolastakashi commented on #4689
I'm using the same strategy that @Aaron-ML is using and even on version 0.20.1, I'm facing errors that could be handled by retrying the operation.

[code]

[2021-09-30 07:21] yeya24 opened #4713 "Tools: bucket rewrite tool doesn't work with dry run and multiple block IDs"
**Thanos, Prometheus and Golang version used**: main

When using bucket rewrite tool with dry run mode and specifying multiple blocks, it only processes the first block and the process exits.

From the code https://github.com/thanos-io/thanos/blob/main/cmd/thanos/tools_bucket.go#L1137, it returns nil when dry run mode is enabled. It should continue execution in this case.

[2021-09-30 11:24] bwplotka commented on #4478
To me, this info was always supposed to be the actually expected time range of ANY data from this component.

This means that we probably should add that as comment to storeAPI protocol too. To describe it, let's show following examples:

1. --min-time=-10 --maxtime=-5 and zero actual data. To me Info should give `min: -Inf, max: -Inf` or some other "sentinel" value that frontend can describe as "

[2021-09-30 11:25] bwplotka commented on #4478
Anyway, this issue is valid. IMO Action Items:

1. Clarify Info API about this contract
2. Fix all implementation to apply those

[2021-09-30 14:49] dmitriishaburov opened #4717 "query: grpc_code=Unimplemented, grpc_method=Info in 0.23.0"
**Thanos, Prometheus and Golang version used**:

Thanos: v0.23.0
Prometheus: v2.26.0

**Object Storage Provider**:

s3

**What happened**:

After updating to Thanos 0.23.0 from 0.22.0 we see constant increase in following metric:

[code]

We have alerting for `grpc_code!="OK"` and it's triggered an alert.

**What you expected to happen**:

That counter shouldn't increment constantly

**How to repr

[2021-09-30 15:04] matej-g commented on #4675
Hm looking quickly [at the code](https://github.com/thanos-io/thanos/blob/main/pkg/api/api.go#L261), `503` could be coming from receiving timeout / cancellation error.

Trying to increase verbosity of any component which you think might be causing the issue could help. Another thing that comes to my mind - if you're suspecting this is being triggered by particular queries, you could: 1) if you hav

[2021-10-01 04:45] metonymic-smokey commented on #4470
/assign me

[2021-10-01 06:22] GiedriusS commented on #4717
Hello! This seems like a duplicate of https://github.com/thanos-io/thanos/issues/4699.

[2021-10-01 06:22] #4717 closed

[2021-10-01 07:06] yeya24 commented on #4713
Just to double check. For each specified block, rewrite tool will rewrite it separately. Is this intended or should it rewrite all specified blocks into a larger one?
cc @bwplotka

[2021-10-01 07:07] yeya24 commented on #4642
SGTM!

[2021-10-01 09:05] MioOgbeni opened #4722 "Thanos Block UI do not show all blocks in v0.23.0"
thanos, version 0.23.0 (branch: HEAD, revision: fe0d695e8df8619f2e6588e6259230a13535001a)
build user:       circleci@80970a8015b2
build date:       20210927-14:57:42
go version:       go1.16.8
platform:         linux/amd64

**What happened**:
Hi. I noticed, that new version of Thanos don't show all block from S3 in Block UI.

How you can see on image below. Left side is version v0.22.0 and right s

[2021-10-01 09:17] GiedriusS commented on #4252
Actually, I take those words back. Cannot reproduce this now. Probably the items from Memcached get evicted when I sent such heavy queries originally and/or there were intermittent cache connectivity problems. That's what has probably happened in your case as well. Plus, I started writing tests and there is a cache hit even with the `by`/`without` operators.

[2021-10-01 12:38] matej-g commented on #4571
So as I said in my findings above I could not confirm the issue with 20% latency increase on query frontend, this is for me the conclusion of the issue.

As for the rest of the task, I opened a PR to add some benchmarks to query frontend, so feel free to have a look - https://github.com/thanos-io/thanos/pull/4723

[2021-10-01 14:20] Antiarchitect commented on #1979
Is thre any updates on this. Also suffering from this problem. Memcached 1.6.12, various configs of thanos cache and Memcached itself are tested.

[2021-10-01 14:35] GiedriusS commented on #1979
I am currently digging this one so reopening. Still valid

[2021-10-01 14:43] Antiarchitect commented on #1979
Some errors from my side:
[code]

[2021-10-01 16:11] matej-g commented on #4642
If anyone MacOS user can confirm this works :slightly_smiling_face:  - https://github.com/thanos-io/thanos/pull/4726

[2021-10-01 17:19] metonymic-smokey commented on #4642
I'll test this out tomorrow.
Thanks!

On Fri, 1 Oct 2021, 21:42 Matej Gera, ***@***.***> wrote:

[2021-10-02 07:06] yeya24 commented on #4592
Seems that's the root cause. Thanks @jnauska. @yasharne Does removing double quotes work for you?

[2021-10-02 16:38] adithyapaib opened #4728 "Improve UI of https://thanos.io/"
### Is your proposal related to a problem?

I would like to do a bit of UI improvement for the thanos.io website

### Describe the solution you'd like

Add meta theme-colour tag to improve the UI in mobile browsers
Add scroll bar colour
** optional change font

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(

[2021-10-02 23:47] hanjm commented on #4638
hi @bwplotka @GiedriusS @yeya24 , Do you think we could implement a boltdb local cache provider?  like cortex use boltdb as index caching https://github.com/cortexproject/cortex/blob/master/pkg/chunk/local/boltdb_index_client.go#L228. If OK, I can start implement.

[2021-10-03 05:49] moweiraul opened #4729 "In thanos query，prometheus sidecar status is health，but when I query，Report an error：grpc: the client connection is closing"
In thanos query,prometheus sidecar status is health：

[code]

But when I query,will report an error:

Thanos query Pods has the following error:
[code]

I don't know why this is, who can help provide some ideas.My object storage is normal, and the monitoring data of prometheus has been reported to the object storage from the sidecar.

Thanos query yaml:
[code]

[2021-10-03 06:30] yeya24 commented on #4592
I will close this issue as this is a configuration issue mentioned by @jnauska

[2021-10-03 06:30] #4592 closed

[2021-10-03 08:04] #4470 closed

[2021-10-03 09:42] #4447 closed

[2021-10-04 12:55] matej-g opened #4732 "Docs: Checking links makes `check-docs` target brittle"
Despite the measures to ignore some problematic links via [config](https://github.com/thanos-io/thanos/blob/main/.mdox.validate.yaml#L1), I'm still seeing quite a few failures (e.g. the latest here https://github.com/thanos-io/thanos/pull/4726/checks?check_run_id=3790681280).

I'm wondering how reasonable it is to check availability of all links the different links from documentation, since these

[2021-10-04 13:02] ismashal commented on #1851
We really needed this ARM64 supported official image into the docker hub and quay.io/thanos/thanos. As AWS already started the support graviton2 type images into the EKS.
Thanks!

[2021-10-04 14:02] matej-g commented on #1972
I had a quick look and it seems like the configuration should be translatable relatively good to ensure smooth transition from OpenTracing to OpenTelemetry (even if not completely 1:1). I think that would make more sense than having a 'translating' exporter (that would necessitate we still rely on OpenTracing packages, which I think we want to avoid, since the expectation is these will be deprecat

[2021-10-05 02:48] ethernoy opened #4734 "Biased Query -> Storegateway traffic"
**Thanos, Prometheus and Golang version used**:
- Thanos: Bitnami Image 0.22.0-scratch-r2
- Prometheus: Bitnami Image 2.29.1-debian-10-r5

**Object Storage Provider**: On-prem MinIO RELEASE.2021-09-15T04-54-25Z

**What happened**:

I noticed query -> storegateway traffic is biased under certain circumstance:
- query is connected to storegateway gRPC via a Kubernetes service
- new storegateway pod

[2021-10-05 03:43] saswatamcode commented on #4732
Yes. This is problematic, especially due to 0 status code errors like this. [Retries](https://github.com/bwplotka/mdox/pull/78) for this were added to mdox but it still fails in some cases.

Currently, mdox checks all links (except config ones) on each PR and push to main. For this purpose, we're planning to add [persistent caching to mdox using SQLite](https://github.com/bwplotka/mdox/pull/54)! S

[2021-10-05 06:56] matej-g commented on #4732
Awesome! Sounds like a cool solution :+1:

[2021-10-05 09:52] matejc opened #4737 "Broken link on getting started page"
Page: https://thanos.io/tip/thanos/getting-started.md/

[code]
The `here` named link is pointing to `https://thanos.io/scripts/quickstart.sh` which if I open is 404 page.

And ironically also:
[code]
The `on GitHub here` it redirects me to edit page which in turn asks me for making a fork. Not sure if that is desired behaviour.

[2021-10-05 10:47] rodrigoscferraz commented on #2727
Same here...
Set --web.external-prefix=**tools/thanos-bucketweb**

go to http://domain/**tools/thanos-bucket** -- won't work
go to http://domain/**tools/thanos-bucket/metrics**-- does work

Looking into HTTP response, seems like the **/static** is pointing to **tools/static** instead of **tools/thanos-bucketweb/static**...i also tried set --web.external-prefix=**tools** , **/tools** and a lot of o

[2021-10-05 12:48] bwplotka commented on #4732
👍🏽

[2021-10-05 12:49] bwplotka commented on #4717
Fix in release and soon on master  https://github.com/thanos-io/thanos/releases/tag/v0.23.1

Thanks!

[2021-10-06 08:58] bwplotka opened #4741 "Get rid of VERSION file."
In order to do so we need to:

* Fix `promu` to handle this case automatically (take correct tag and if in `main` take `tag +1 -dev`
* Move out of promu to go-releaser or something (we already discussed this)

cc @simonpasquier

[2021-10-06 09:02] bwplotka commented on #4741
Related conversation: https://github.com/thanos-io/thanos/pull/4738#discussion_r723017704

[2021-10-06 11:32] GiedriusS commented on #1979
https://github.com/thanos-io/thanos/pull/4742 this should greatly improve the situation. @Antiarchitect if you have time then maybe you could try running Thanos with that pull request?

[2021-10-06 11:36] Antiarchitect commented on #1979
@GiedriusS - problematic in my situation as I use Bitnami Thanos images with a lot of magic inside. So hope your MR will be accepted and I'll try the new release where it's included asap.

[2021-10-06 13:09] ahurtaud opened #4743 "query: Panic when 2 thanos-query are connected?"
**What happened**:
Thanos v0.23.1:
We have one thanos query, connected to a list of other thanos-query as --store in gRPC secured.

![Screen Shot 2021-10-06 at 15 03 02](https://user-images.githubusercontent.com/25080995/136208243-ea2e196c-bb2c-4f8e-8f60-e643b407ea47.png)
![Screen Shot 2021-10-06 at 15 03 09](https://user-images.githubusercontent.com/25080995/136208267-0899980e-9bcd-4b1c-ba45-d323

[2021-10-06 15:32] Venkat2694 opened #4745 "Thanos compactor container is up and running but the prometheus job shows as failed."
Hi Team,

We are running thanos compactor in one VM it is up and running fine when we check the status. But it is not showing metrics in prometheus and job shows as connection refused.

![image](https://user-images.githubusercontent.com/71388748/136234831-0a20235e-409b-41e9-9edc-9da79f7b6183.png)

![image](https://user-images.githubusercontent.com/71388748/136234747-4985ce1a-126c-4524-bf1c-93251a4

[2021-10-06 18:30] yeya24 commented on #4743
Having one thanos-query registering another thanos-query with - --store=x.x.x.x:10901" flag.
open the thanos stores page to list the registered stores component.

I tried this setup but cannot reproduce this issue.

[2021-10-06 18:40] doug-ba opened #4747 "storage: ALIYUNOSS storage provider doesn't honor http_proxy or https_proxy environment variables"
@wujinhu
@shaulboozhiao

**Thanos, Prometheus and Golang version used**:

Thanos version 0.19.0, installed via bitnami/thanos helm chart version 3.15.0

**Object Storage Provider**:
ALIYUNOSS

**What happened**:
No apparent way to use a web proxy to access Aliyun OSS storage

This makes it impossible to run components which interact with storage on nodes without direct access to the OSS API (like

[2021-10-06 19:53] necatican opened #4748 "docs: Improve tracing docs"
### Is your proposal related to a problem?

No.

### Describe the solution you'd like

Tracing documentation has some ambiguities. It should be clear what each configuration does.

### Describe alternatives you've considered

We had to dig into the code to understand what was going on in the background.

### Additional context

-

[2021-10-07 12:27] ahurtaud commented on #4743
Hum so I found a misconfig, where thanos was trying to target an IP:port where no thanos-query was running.
However I dont know what was behind the IP and if it answers something or not.
Maybe it is fine to close it as config error.
Dont know if you want to dig further.

[2021-10-07 18:51] Dentrax opened #4751 "cfggen: recognize comments in the struct while generating output"
### Is your proposal related to a problem?

As we discussed with @saswatamcode at PR https://github.com/thanos-io/thanos/pull/4749, the problem simply identifies that we had better to improve the [tracing configuration](https://thanos.io/tip/thanos/tracing.md/#configuration) doc as we proposed at https://github.com/thanos-io/thanos/issues/4748.

(Write your answer here.)

### Describe the solution

[2021-10-07 23:17] aymericDD opened #4752 "store: does not validate --block-sync-concurrency parameter"
**Thanos, Prometheus and Golang version used**:

[code]

**Object Storage Provider**: S3

**What happened**:

If the value of `--block-sync-concurrency`  parameter is not greater than **1** the program is blocked. In my case I have set this parameter to **0.5** value and no error was displayed.

**What you expected to happen**:

The program must failed with an error message like :
`
error: the blo

[2021-10-08 10:29] matej-g commented on #4743
So I was able to reproduce it fairly reliably - I adjusted the E2E test for query and threw in a couple of 'made-up' addresses for store which were always returning errors. If I tried to do call to the `/stores` endpoint, I was getting panic. So it's more of an edge case it seems, but still it's a small fix. Have a look at #4754.

[2021-10-08 20:04] #4752 closed, assigned to nobody

[2021-10-09 04:25] ianwoolf opened #4756 "pkg/block: some node seems useless in childrenToULIDs"
the `node.ULID` in `childrenToULIDs`(https://github.com/thanos-io/thanos/blob/main/pkg/block/node.go#L30) is removed from `ulids`. And [`childrenToULIDs`](https://github.com/thanos-io/thanos/blob/main/pkg/block/node.go#L36)  is only called in `getNonRootIDs`, so adding `a.ULID` in `childrenToULIDs` is useless.

[2021-10-09 05:23] #4756 closed

[2021-10-09 09:03] GounGG opened #4760 "Usage service mesh on running thanos"
**Version:**
kubernetes: 1.18
thanos: 0.21.1
image: docker.io/bitnami/thanos:0.21.1-scratch-r0

network module：route

**model：**
receive，remote write

**deploy:**
https://artifacthub.io/packages/helm/bitnami/thanos

Why do you do this？
convenient to observe the traffic information and the success rate of writing

**describe：**
The deployment is normal, and through the UI interface, it is found tha

[2021-10-09 15:55] fpytloun commented on #2620
And how to enable it? If I remove `storage.tsdb.min-block-duration=2h`, sidecar fails:
[code]

[2021-10-09 20:59] fpytloun commented on #2620
Tried another solution - using Minio gateway with disk cache and point thanos-store to use it: https://docs.min.io/docs/minio-disk-cache-guide.html

[2021-10-10 06:30] ianwoolf commented on #3966
By default, compactor does not crash on halt errors. there is a hidden flag you can change it.

https://thanos.io/tip/components/compact.md/#halting

i also met your case and i am still investigating.

[2021-10-10 09:01] ianwoolf opened #4763 "compactor: add sync block metas timeout for block-viewer"
relevant to #3868 #4689

Thanos Version 0.22
Prometheus: 2.27
Go: 1.16.3

Object Storage Provider:      minio S3
What happened:    The timeout of sync block meta in compactor UI is hard code to 5m. Thanos Compact gets many `context deadline exceeded` when sync block mata from storage
What happened:     I can set the timeout.

I have a lot of blocks. Some block is compactes to 14 days, so some bloc

[2021-10-11 09:31] yeya24 commented on #1598
Though this is something supported already by the bucket rewrite tool, I still think it useful to implement the tombstone approach like https://github.com/thanos-io/thanos/pull/3075. The code is there and I can take it over.

I feel this can coexist with `bucket rewrite`. Tombstone file is doing some series filtering online so query performance will be impacted a little bit and the deletion can be

[2021-10-11 11:00] AdmiralGT opened #4766 "query: Query API is unresponsive but health/ready APIs report healthy/ready"
**Thanos, Prometheus and Golang version used**: Thanos v0.23.0-rc.1

**Object Storage Provider**: Azure, accessed via a managed identity.

**What happened**: I have deployed 2 Thanos query nodes, Prometheus, Thanos query frontend, Ruler, Store, Grafana in multiple Azure k8s service clusters using thanos, kube-prometheus-stack and grafana helm charts. The Query nodes are configured in a hierarchica

[2021-10-11 13:06] joe-pll opened #4767 "Out-of-order samples with HA prometheus with unique labels"
**Thanos, Prometheus and Golang version used**:
I am currently using Thanos **v0.23.1**, with Prometheus **v2.30.3**

**Object Storage Provider**:
Google Cloud Storage

**What happened**:
Hi, I am currently testing Thanos as a long term storage for metrics. At the moment I deployed Thanos with a docker-compose file in a GCP VM. I am using the configuration with the Thanos receiver since we need a

[2021-10-12 07:49] milonjames commented on #4767
To me it turns out like the out-of-order samples issue is only with the cAdvisor metrics. The problematic metric timeseries doesn't contain 'pod', 'container' or 'namespace' labels in it. So I guess Thanos receive is not accepting latest samples when it receives the data with same label set.

![image](https://user-images.githubusercontent.com/46042751/136913715-58d44fa8-0fa9-41cb-a89c-b536c2b04d52

[2021-10-12 07:55] aymericDD opened #4768 "query-frontend: Improve started call context"
### Is your proposal related to a problem?

When the **--log.request.decision** is set to **LogStartAndFinishCall** with a **--log.level=debug** you have this kind of stdout :

<details open>Logs
<p>

[code]

</p>
</details>

- The first problem here is you cannot know witch start call is attached to its finished call.
- The second problem is you don't know witch request is executed at the start c

[2021-10-12 10:29] bwplotka commented on #3478
Let's close in favor on single one (: https://github.com/thanos-io/thanos/issues/3985

[2021-10-12 10:41] joe-pll commented on #4767
Hi @milonjames, I made some other investigations and indeed it comes from cAdvisor. The problems is that even if the metric does not contain 'pod', 'container' or 'namespace' labels, it still contains the 'node_name' in my case. I checked the cAdvisor metrics on a single node and they are all unique but are not unique across nodes.
But when Prometheus adds the label 'node_name' during the relabeli

[2021-10-12 11:27] AdmiralGT commented on #4766
I've attached a couple of outputs from the goroutine endpoint while this is happening.

[goroutines.tar.gz](https://github.com/thanos-io/thanos/files/7329479/goroutines.tar.gz)

[2021-10-12 12:25] jessicalins opened #4772 "Ruler not evaluating any rules"
**Thanos version used**:
Thanos v0.23.1, deployed as a sidecar

**Object Storage Provider**: S3

**What happened**:
- Thanos Ruler did not evaluate any rules, causing an alert to fire (alert definition being used is the same as `ThanosNoRuleEvaluations` in [here](https://github.com/thanos-io/thanos/blob/d5351b042845e6dc5a385dbe6498af125ce57bdc/examples/alerts/alerts.md))
- Ruler pods were also up

[2021-10-12 13:33] bwplotka opened #4773 "receive: Improve AlreadyExist error / handling"
**Thanos, Prometheus and Golang version used**: ??

**Object Storage Provider**: AWS

**What happened**:

Looks like receive is not ingesting series. Nothing in receiver logs. Prometheus logs:

[code]

**What you expected to happen**:

* As the user, I want to know why exactly what happened. What already exists, series? If yes, why?
* Ideally I have a request error log?
* Ideally I don't have this

[2021-10-12 17:47] yeya24 commented on #3985
Sounds like a promising way to go!

[2021-10-12 21:26] #3401 closed

[2021-10-12 21:26] #4425 closed

[2021-10-12 21:26] #1507 closed

[2021-10-12 21:26] #4424 closed

[2021-10-13 05:30] #4743 closed

[2021-10-13 05:33] yeya24 commented on #3834
Is this still valid?

[2021-10-13 06:44] ianwoolf opened #4776 "feature: support push data through remote write of prometheus"
Spark and flink process data periodically, so there are a lot of data similar to `count some data group some tag` for a short period of time, such as 30s. So in prometheus, i cannot use functions such as irate to query. The original data must be queried. However, because the processing cycle may change frequently, it is difficult and hard to accept that the change prometheus configuration frequent

[2021-10-14 08:42] hanjm opened #4777 "Query: panic on api.Respond warn.Error()"
**Thanos, Prometheus and Golang version used**:
Thanos main-2021-10-13-f8927b9a

**Object Storage Provider**:

**What happened**:

thanos query omit panic log

<details>Logs
<p>

[code]

</p>
</details>

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:

**Anything else we need to know**:

[2021-10-14 11:22] bwplotka commented on #1972
cc Cortex and Loki devs since they might laverage our traving clients. Are you ok with option `b` on this one? cc @pracucci @pstibrany @cyriltovena @slim-bean

[2021-10-14 12:02] mfilocha opened #4778 "compactor: Fails silently on overlapping blocks"
**Thanos version used**: 0.23.0, 0.23.1

**Object Storage Provider**: GCS

**What happened**: When Compactor hits overlapping block(s) no error/warning message is emitted with the default log level. Compactor logs only standard tasks like "_started cleaning of blocks marked for deletion_" etc. and no CPU is being used.

**What you expected to happen**: To see error messages about overlapping block