[2021-10-14 14:42] vsile commented on #4022
I tested new version thanosio/thanos:main-2021-10-14-fa476b5f
It seems the negative offset still doesn't work.
![изображение](https://user-images.githubusercontent.com/9244347/137335310-da5834b0-8f75-40d1-8d4a-59e6ff894401.png)

Thanos is running successfully (no errors).

But query fails with the error "negative offset is disabled"

![изображение](https://user-images.githubusercontent.com/9244347

[2021-10-14 16:35] bwplotka opened #4780 "Querier: Deterministic buffered queries"
I plan to give a formal proposal + PoC, but starting an issue to cover the idea to solve the problem we have on the Querier fanout side which creates confusion, annoyance and overall extra latency.

I explained this problem to the team and on the latest Community Hours, but for initial info:

## Problem

Current Querier algorithm looks following:

![image](https://user-images.githubusercontent.com

[2021-10-15 07:43] ahurtaud commented on #4766
Hello,

Same issue for me with similar setup.
Issue is always happening on the same platform (the biggest query leaf)
[profilegoroutine2.pdf](https://github.com/thanos-io/thanos/files/7351769/profilegoroutine2.pdf)
[profile-goroutines.pdf](https://github.com/thanos-io/thanos/files/7351771/profile-goroutines.pdf)
.

[2021-10-15 07:59] fpytloun opened #4784 "Thanos store extremely slow queries"
**Thanos, Prometheus and Golang version used**:

Docker image: quay.io/thanos/thanos:v0.23.1

**Object Storage Provider**:

Minio S3 gateway to s3.wasabisys.com with disk caching

Removing Minio cache doesn't make any difference

**What happened**:

Queries are extremely slow without any obvious reason, making Thanos unusable.
![image](https://user-images.githubusercontent.com/948799/137452617-061

[2021-10-15 08:58] mfilocha commented on #4778
My deployment is started with --wait option. Compactor is running fine for couple of hours/days until it hits an overlapping block (this is my guess, because I don't see anything in logs). Since then, CPU usage drops to 0.

I suspect there are no overlapping blocks in the beginning, thus compactor initially starts without any problems. A wrong blocks is probably created/occurs later.

[2021-10-15 11:30] GiedriusS commented on #4780
Looks good, I didn't think about this :+1: what do you mean by `mmap on entry?`?

[2021-10-15 22:31] yeya24 commented on #4776
I guess the service you mentioned is relatively general, right? It reads data from an mq and would work against any systems that support remote write, including Thanos, Cortex, VM, M3, etc.

I will close the issue now as this is a separate component and it is out of scope for Thanos itself. Feel free to start that as a new project if you are willing to!

[2021-10-16 02:28] yeya24 commented on #4713
Close this for now.

[2021-10-16 02:28] #4713 closed

[2021-10-16 02:35] yeya24 commented on #4691
@denniceritchie Will close this issue for now. Let me know if you still have other questions.

[2021-10-16 02:35] #4691 closed

[2021-10-16 07:03] yeya24 opened #4787 "Shipper: allow uploading compacted overlapping blocks?"
### Is your proposal related to a problem?

If vertical compaction is enabled at the compactor side, then it is okay to upload out of order blocks to the remote bucket and the overlapping check is not needed.

### Describe the solution you'd like

Have a new shipper flag to ignore the overlap checker. This could be a hidden flag as the vertical compaction flag in the compactor is also hidden.

[2021-10-16 07:09] yeya24 commented on #206
Question:
I can see we can totally upload overlapped or compacted blocks to the object storage as we already support vertical compaction now.
But still the question on the shipper side:
Is it safe to enable local Prometheus compaction? Will this race condition happen? (I can see this is possible).

How can we solve this via the `SnapShot` API? Using snapshot seems still not 100% safe as we cannot

[2021-10-16 08:39] fpytloun commented on #4784
@yeya24 Yes, this is what I have now (see snippets above) - disabled vertical compaction in compactor, disabled compaction in prometheus with 7d local retention. But it didn't fix the issue.

Is there some way to perform cleanup if this is what happened?

[2021-10-16 21:58] markmsmith commented on #4298
Still needed.

[2021-10-17 12:49] psandhu79 opened #4788 "Thanos receiver alert fire when component is deployed but not used"
The following alert in the examples

  - alert: ThanosReceiveNoUpload
    annotations:
      description: Thanos Receive {{$labels.instance}} has not uploaded latest data
        to object storage.
      runbook_url: https://github.com/thanos-io/thanos/tree/main/mixin/runbook.md#alert-name-thanosreceivenoupload
      summary: Thanos Receive has not uploaded latest data to object storage.
    expr:

[2021-10-17 12:52] psandhu79 commented on #4788
@brancz is another metric available to see if any data exists to be uploaded ??

[2021-10-18 13:05] nicolastakashi opened #4791 "Thanos Compact - Halt with error chunk iter: cannot populate chunk 69: checksum mismatch expected"
**Thanos, Prometheus and Golang version used**:

- Thanos 0.20.1
- Prometheus 2.27

**Object Storage Provider**: Azure Blob Storage

**What happened**:

I've faced Halting errors on Thanos Compact, and after enabling the flag `--no-debug.halt-on-error` to check what's wrong, I could see a couple of misconceptions about:

`
populate block: chunk iter: cannot populate chunk 69: checksum mismatch exp

[2021-10-19 18:25] yeya24 commented on #4791
Looks nothing suspicious to me. One option to repair is to just delete the bad chunks totally. This is not ideal but at least the rest of data in the block are there

[2021-10-21 17:17] caarlos0 commented on #4778
Then, killed compact so it restarts, here's the logs:

[code]

[2021-10-21 18:51] #4766 closed, assigned to nobody

[2021-10-22 10:47] ly123-liu opened #4798 "thanos-store can not query long-time ago data"
version: 0.12.0

we use thanos-store with remote oss storage , on the oss bucket ,we can see long-time block exists, but when we use thanos-query to connect thanos-store to query long-time ago data, shows no block found, why?

oss data shows this block is update 2021.04.29
![image](https://user-images.githubusercontent.com/57338370/138441344-cd89530a-caef-408e-95b3-0ef87d426ad7.png)

when we use g

[2021-10-25 07:48] #4791 closed, assigned to nobody

[2021-10-25 08:46] louij2 opened #4799 "Thanos Query Frontend - 1 month dataset Dashboard "Bad Gateway""
**Thanos, Prometheus and Golang version used**: 0.23.1 & go1.16.8

**Object Storage Provider**: Azure

**What happened**: Ran a large dashboard retrieving metrics over 1 month. Got a bad gateway error.

**What you expected to happen**: To show the dashboard metrics

**How to reproduce it (as minimally and precisely as possible)**: Just open dashboard that queries 1 month of metrics

**Full logs to

[2021-10-25 11:33] #4778 closed, assigned to nobody

[2021-10-25 20:54] jfpucheu opened #4800 "Thanos Compactor & store-gateway crashing when more than 1000 directories in Bucket s3"
**Thanos, Prometheus and Golang version used**:
thanos Version: 0.23.1

**Object Storage Provider**: S3

**What happened**:

Thanos Compactor & store-gateway crashing when more than 1000 directories in Bucket s3

**What you expected to happen**: continue working

**How to reproduce it (as minimally and precisely as possible)**:
Create more than 1000 directories in S3 Bucket

**Full logs to relevan

[2021-10-27 00:40] snuggie12 opened #4802 "Document rough guidelines on sizing store gateway"
### Is your proposal related to a problem?

I'm getting OOMs on my storegateways when trying to make queries of a certain size in grafana. I'm not looking for some magical switch to make it start working but some docs on how to tune the store gateways and which variables should be taken into consideration when doing that sizing. For example, I see this comment https://github.com/thanos-io/thanos/i

[2021-10-27 00:48] snuggie12 opened #4803 "Add file SD to caches"
### Is your proposal related to a problem?

We've had a lot of success with using thanos with istio when using the file SD options. Best I can tell this is not part of the various caches such as bucket or index cache on store gateway or the query cache for the query FE.

### Describe the solution you'd like

Implement the exact same capabilities that already exists for the caches as well.

### Des

[2021-10-28 07:35] AndrewNiven1 opened #4804 "Add out-of-order blocks to bucket verify"
### Is your proposal related to a problem?

When a Compactor halts due to an out-of-order (OOO) block, there are normally several OOO blocks that need to be tidied up before Compactor can safely run again. At the moment, Compactor only tells me about the first OOO block that it finds - so I need to go through quite a long cycle of identifying a broken block, deleting the broken block, and restarti

[2021-10-28 10:48] bwplotka opened #4806 "Broken dependency on github.com/efficientgo/tools/core"
[code]

I don't get why but some users and even fresh code of Prometheus can fail due to `github.com/efficientgo/tools/core` invalid version. And indeed this commit is weird https://github.com/efficientgo/tools/commit/421d0828c9a6

We have to do something about it, so posting for awareness, did not have time yet.

Also covered in https://cloud-native.slack.com/archives/CL25937SP/p1634836273003000

[2021-10-28 14:53] dllegru opened #4807 "Compactor: - out-of-order chunks - panic: runtime error: invalid memory address or nil pointer dereference"
"Compactor"

**Thanos, Prometheus and Golang version used**:
thanos Version: 0.23.1

**Object Storage Provider**:
GCS

**What happened**:
Thanos Compactor pod halts with `panic: runtime error: invalid memory address or nil pointer dereference` on `err="error executing compaction: compaction: group 0@13241799951977185062: blocks with out-of-order chunks are dropped from compaction:  /var/thanos/com

[2021-10-28 16:15] matej-g opened #4809 "Tests: Clean up and automate repository for Swift object store test Docker image"
As a part of https://github.com/thanos-io/thanos/pull/4735#issuecomment-953757577, we have now forked https://github.com/thanos-community/docker-swift-onlyone-authv2-keystone which contains code to build a Docker image required for our Swift object store tests. However, we should improve on this, namely by:

1. Allowing issues on the repo, so we can track things in there (this is not turned on by

[2021-10-28 16:41] matej-g opened #4810 "Store: Make initial sync more robust"
I stumbled upon this during some tests - if the [initial sync](https://github.com/thanos-io/thanos/blob/main/cmd/thanos/store.go#L365) fails, this stops the whole initialization of a store and the process quits. The connection error might, however, be just ephemeral (e.g. the store is not ready yet or there was a temporary issue with the connection). It might be worthwhile to retry the initial syn

[2021-10-29 06:19] hanjm opened #4812 "Rules: support external-label matcher. [Feature Request]"
### Is your proposal related to a problem?

In sidecar mode, fanout rules api may response lots of rules. Could we support external-label based matcher, a bit like grafana?
![image](https://user-images.githubusercontent.com/7621241/139385395-25f8db6e-32a2-452d-a516-be5af52f9388.png)

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-10-29 18:58] yeya24 commented on #4812
It would be good to support this in Prometheus first. I think this makes sense for example in multi tenant mode

[2021-10-29 19:37] jessicalins commented on #3434
hey @yeya24 I'd like to work on this :)

[2021-10-30 06:34] #4437 closed

[2021-10-30 07:35] vladst3f commented on #4549
#noclose.
@yeya24, have you had time to look at it ?

[2021-10-30 08:15] Shini31 commented on #3308
Up

[2021-10-30 10:50] hanjm commented on #4812
I make a issue in Prometheus just now.
Yeah, in multi tenant mode, prom-label-proxy can be auto inject tenant_id matcher.

[2021-10-30 10:58] Namanl2001 commented on #3541
still valid

[2021-10-30 14:54] yeya24 commented on #3793
Still valid.

[2021-10-30 15:12] yeya24 commented on #4549
Sorry, I looked at it before but cannot reproduce the issue. Is it possible to provide your data block so that I can debug the issue?
I will continue working on it.

[2021-10-30 15:13] yeya24 commented on #3405
Still valid

[2021-10-30 15:13] yeya24 commented on #3442
Still valid

[2021-10-30 15:15] yeya24 commented on #4689
Is it good to close the issue now? @nicolastakashi

[2021-10-30 15:19] yeya24 commented on #4079
Still valid

[2021-10-30 15:20] yeya24 commented on #2962
Still valid

[2021-10-30 15:20] yeya24 commented on #3112
Still valid

[2021-10-30 15:52] yeya24 commented on #4807
[code]

This doesn't seem like the panic location. Can you please give the full goroutine dumps in the panic time?

[2021-10-30 15:54] yeya24 commented on #4192
I think some work is going on upstream Prometheus to support ingesting old samples.

[2021-10-30 15:55] yeya24 commented on #4069
Not sure if the issue still exists, maybe let's enable the test case another time?

[2021-10-30 15:58] vladst3f commented on #4549
I for one don’t have the liberty to upload the block.

[2021-10-30 16:02] yeya24 commented on #4557
Still valid

[2021-10-30 17:48] #4450 closed

[2021-10-30 17:48] #3888 closed

[2021-10-30 17:48] #4267 closed

[2021-10-30 17:48] #4488 closed

[2021-10-30 17:48] #3870 closed

[2021-10-30 17:49] #4304 closed

[2021-10-31 05:22] yashrsharma44 commented on #3821
Hi @GiedriusS ! Thanks to stale bot, I was interested in solving this issue, can I take a look 😅

[2021-10-31 19:13] matej-g commented on #4069
Let's do it :+1:  - https://github.com/thanos-io/thanos/pull/4819

[2021-11-01 01:53] yeya24 commented on #4804
Are you looking for a tool to check OOO chunks or OOO blocks? If it is the latter one, the verify tool can already tell your all overalapped blocks for a group I think.

[2021-11-01 05:25] milonjames commented on #4767
Yes, now we no longer see that 'out-of-order' samples in Thanos receive logs @joe-pll

[2021-11-01 05:27] milonjames commented on #4767
The metric relabelling has been changed to the following as those metrics also don't have the pod and container labels.
`    - action: drop
      separator: ;
      regex: ";;;kubelet"
      sourceLabels:
      - namespace
      - pod
      - container
      - job`

[2021-11-01 08:50] clyang82 opened #4820 "Add custom certificate CA support for object store"
### Is your proposal related to a problem?

Currently, the implementation of connecting with object store is short of tls configuration.
https://github.com/thanos-io/thanos/blob/2695ecd69c4464914ad4b4480b5e924ebfcd919d/pkg/objstore/s3/s3.go#L150

for my case, I would need the ability to set a custom CA somewhere so that I can connect the external object store. for a workaround, i have to disable t

[2021-11-01 09:07] AndrewNiven1 commented on #4804
Just to be clear on terminology, what would you consider a chunk and what would you consider a block?

My experience last week was that `thanos tools bucket verify` gave me a list of overlapped blocks, all of which I deleted. When I restarted Thanos Compactor, it then halted on a block which hadn't been part of the output of `verify`. I don't have a note of the error message, but it was because th

[2021-11-01 14:16] metonymic-smokey commented on #4804
@AndrewNiven1 this describes the difference between chunks and blocks - https://thanos.io/tip/thanos/design.md/#metric-data-backup

Another question: When you ran `tools bucket verify` did you receive any warning about OOO series, along with overlapping blocks?
The index issues checked during mention any OOO series.

[2021-11-01 14:30] omron93 commented on #4386
I'm getting the same issue even after upgrading to 0.23.1

[2021-11-01 15:25] mkrull commented on #4549
@yeya24 we don't have any affected blocks at the moment and I can't upload the data as well, we could prepare a call though and look at it together if that helps at all.

[2021-11-01 16:10] Jakob3xD opened #4824 "frontend/docu: Inconsistant naming downstream-tripper-config"
### Is your proposal related to a problem?

Naming about `downstream-tripper-config` is inconsistent.
[code]

### Describe the solution you'd like

Replace `query-range` with `query-frontend`.
https://github.com/thanos-io/thanos/blob/main/docs/components/query-frontend.md?plain=1#L108
https://github.com/thanos-io/thanos/blob/main/CHANGELOG.md?plain=1#L50

[2021-11-01 17:35] yeya24 commented on #4804
Yes, out of order time series and halting is related to OOO chunks and has nothing to do with OOO blocks.

The verify tool already supports verifying all series by default. But this is another step after checking the overlapped blocks. So if you failed the previous check, the check for OOO chunks won't start.

Can you try the latest main branch? With https://github.com/thanos-io/thanos/pull/4727/f

[2021-11-01 17:48] jjneely commented on #3442
0.23.1 Compact still doesn't handle this and I just discovered it the fun way.

[2021-11-01 19:44] d-shi opened #4826 "Allow query-frontend to have multiple query backends"
### Is your proposal related to a problem?

We are running multiple k8s clusters in dev and production. The thanos configuration is the same in dev and prod. They each have a single thanos-query that talks to all the thanos-sidecars in each cluster in that environment.

We would like to have a single thanos-query-frontend that we point Grafana to in order to get both dev and prod metrics. One way

[2021-11-01 22:03] GiedriusS commented on #4826
Mhm, how query-frontend should know to which Query it should route the request in your case?

[2021-11-02 01:46] d-shi commented on #4826
I was hoping to have it route to all of the thanos-query instances specified, and aggregate/dedupe the results, just like how thanos-query does with the store API endpoints.

[2021-11-02 03:50] DreamWorldHua opened #4828 "Thanos store uses http short connection to access Tencent cos, resulting in the depletion of random ports of the server and the increase of query delay, -- objstore.config-file configuration does not work even though the relevant parameters of http_config are specified"
I use thanos receive mode, which is about 21 million time series. At the peak of query, I found that thanos store uses http short connection when connecting to tencent cos. More than 60000 ports are in time_wait status, resulting in a significant increase in query delay. I tried to change -- objstore.config-file and add http_config configuration, found invalid.

My configuration is as follows

typ

[2021-11-02 09:29] DreamWorldHua commented on #4828
I find that http_config has been added to the current version 0.23 code related configurations.This was not available in previous versions:

// parseConfig unmarshal a buffer into a Config with default HTTPConfig values.
func parseConfig(conf []byte) (Config, error) {
	config := DefaultConfig
	if err := yaml.Unmarshal(conf, &config); err != nil {
		return Config{}, err
	}

	return config, nil
}

/

[2021-11-02 12:47] JohanElmis commented on #4549
We are also hit by the same issue now.
<img width="1590" alt="Screenshot 2021-11-02 at 13 45 59" src="https://user-images.githubusercontent.com/3820361/139849258-035e544e-15ba-4b98-af1c-efad51cc93aa.png">

[2021-11-02 13:10] nicolastakashi commented on #4689
Hi @yeya24 from my side it looks Ok!

[2021-11-02 15:43] #4689 closed

[2021-11-02 16:17] fisabelle-lmi opened #4829 "query-frontend: option --query-range.align-range-with-step can not be turned off"
I will keep this bug report very short because it is very straightforward:

The `--query-range.align-range-with-step` option of the Query Frontend can not be turned off.
As a cmd flag defaulting to `true` turning it off could be possible with:
```--query-range.align-range-with-step=false````

However this yields the following error:
```thanos: error: unexpected false````

[2021-11-02 17:53] fisabelle-lmi commented on #4829
I just realized that `--no-query-range.align-range-with-step` works..

[2021-11-02 20:12] louij2 commented on #4799
64GB mem and still bad gateway, probably need to try containers

[2021-11-02 20:35] #4829 closed

[2021-11-03 12:24] paxbit commented on #4420
@bwplotka

We had the same issue today again. Receiver did not flush expired WAL files from disk until the disk was full. It had retention set to 6h yet kept WALs of the last 5 days around.

The way I still see it this issue might be fixed by the information I left in my previous comment.
I be happy to read your thoughts on that.

Thanks!

[2021-11-03 12:25] GiedriusS commented on #4826
So, why not put another Thanos Query instance on top of another Thanos Query that could perform these things? Then query-frontend could be at the very top. 🤔

[2021-11-03 13:48] JohanElmis commented on #4549
`up{pod=~"spring-boot-prometheus-playground-.*"}
`
Similar to above - but another Prometheus/Thanos setup where the Vertical compaction is also running.
When using the Thanos Querier, it works fine up and including 2 days.
When I increase the range to 1w - I get:
`Error executing query: sum and count timestamps not aligned
`
And 2w gives me:
`Error executing query: expanding series: proxy Series()

[2021-11-03 14:39] louij2 commented on #4799
I gave the VM 64 cores and 128GB memory and it seems to load. I guess I need to re-deploy everything in containers if I have such huge requirements to load 1 dashboard every month, as everything else loads fine with 2 core 8GB memory.

[2021-11-03 16:39] Kampe opened #4831 "Thanos Receive: "Out of bounds metric""
Hello!

We run a handful of "edge" sites in a hub and spoke topology and feed metrics from remote promethei to a centralized receiver hash-ring.  We see issues pop up quite often relating to "Out Of Bounds" metrics popping up in receiver.  The prometheus remote write will begin to return 500s to prometheus and Reciever latency climbs, impacting other tenants. We're unsure if the metrics are too fa

[2021-11-03 22:42] d-shi commented on #4826
Oh I see, I didn't realize that was a possibility to stack thanos-query on top of another thanos-query. That could work then. Thanks for your help! Feel free to close this unless you think there are other valid use cases for this request.

[2021-11-04 05:16] yeya24 opened #4832 "Add tracing support for compaction"
### Is your proposal related to a problem?

We have some metrics in the compactor of its overall status. But right now it is hard to track the status and time taken for each compaction run.

### Describe the solution you'd like

Add tracing support for compactor and instrument different steps in compaction. For example:
1. Block planning
2. Block download
3. Block verification
4. Block compaction

[2021-11-04 07:57] omron93 commented on #981
/notstale

[2021-11-05 08:25] AndrewNiven1 commented on #4804
Hi both, thanks for your answers. I was using v0.23.0-rc.1, so I don't have that last PR which would hopefully provide what I want. Unfortunately I already tidied up the ABS that was causing problems, so I can't reproduce the issue or do any testing on it. What I remember is:

- I ran `tools bucket verify`, which gave me a list of overlapping blocks
- I deleted these blocks
- I ran `tools bucket v

[2021-11-05 10:59] bobykus31 opened #4833 "Thanos compactor producing too big blocks"
**Thanos, Prometheus and Golang version used**:
Thanos 0.23.1
Prometheus 2.30.2

**Object Storage Provider**:
NetApp StorageGRID kinda s3 obj storage

**What happened**:

After compactor's first stage run (I suppose it is dedup???) some block became  extremely big. Like

[code]

which results to

`707183107867 1286 objects s3://ocsysinfra-prometheus-metrics/01FJ7WYM7P9A0TQX5HFYZR5MPB/`

aka 658G

[2021-11-05 19:35] Kampe commented on #4831
Also, this happens constantly when rolling out updates to receivers as we can see while it takes one down to replace and the hash ring can no longer contact a member of the ring:
[code]

[2021-11-06 14:47] #3985 closed

[2021-11-06 17:45] yeya24 commented on #3985
Let's have another issue to track this.

[2021-11-06 17:53] yeya24 opened #4835 "Compact: Retention progress metrics"
### Is your proposal related to a problem?

Because retention happens after compaction and downsampling, so it might get huge retention backlog to do in the object storage. We also got the same problem mentioned in https://github.com/thanos-io/thanos/pull/4406.

It would be great to have a way to tell how many blocks are beyond their retention period but don't get deleted.

### Describe the soluti

[2021-11-06 18:10] yeya24 commented on #4833
@bobykus31 Can you please take a look at the index file size?

[2021-11-06 19:56] yeya24 commented on #4798
Your thanos version is a little bit old. Some questions about your setup first:
1. Have you enabled auto downsampling in your querier?
2. Have you set any downsampling params in the Grafana datasource?

[2021-11-07 00:46] yeya24 commented on #4824
Nice find. Help wanted.

[2021-11-07 00:47] yeya24 commented on #4722
I am not sure why this happened. Probably it is still sync block metadatas? Is this issue still happening?

[2021-11-07 00:50] yeya24 commented on #1375
I believe this one is done. Close now.

[2021-11-07 00:50] #1375 closed

[2021-11-07 01:04] yeya24 commented on #4704
Close it now as no activity.

[2021-11-07 01:04] #4704 closed

[2021-11-07 09:11] hanjm opened #4837 "Rule: Support limit feature introduced by Prometheus v2.31.0"
### Is your proposal related to a problem?

[Prometheus v2.31.0](https://github.com/prometheus/prometheus/releases/tag/v2.31.0) introduce a new feature about rules: add the ability to limit number of alerts or series. https://github.com/prometheus/prometheus/pull/9541
I'd like to implement this feature with thanos-ruler :)

### Describe the solution you'd like

### Describe alternatives you've con

[2021-11-07 12:43] yeya24 commented on #4837
Please go ahead!

[2021-11-07 15:25] forging2012 commented on #2777
endpoint: "s3.us-west-2.amazonaws.com"
It is works.

[2021-11-07 15:26] forging2012 commented on #2777
endpoint: "s3.us-west-2.amazonaws.com"
It is works.

[2021-11-07 19:03] MioOgbeni commented on #4722
Hi. Yes it is still happening. These blocks are not displayed during several days continuous running of the pod. I think that it has something to do with new UI feature "#4462 UI: Highlighting blocks overlap in the Block UI.", because missing blocks are basically overlapping with already compacted blocks on higher lvl of compaction and only these blocks are missing from UI. But when I turn on this

[2021-11-07 21:25] matej-g commented on #1972
I'm posting to provide updates on the progress here. I started to migrate the exporters:
- We are currently limited to OTEL packages with version `v0.20.0` - this is due to the dependency chain, as we are importing (via Cortex and Grafana Dskit packages) module `go.etcd.io/etcd/client/v3` in version `v3.5.0`, which uses `v0.20.0` OTEL packages for its tracing. Due to changes in paths for some pack

[2021-11-08 01:34] #4828 closed

[2021-11-08 07:25] bobykus31 commented on #4833
yes, sure, its ~16G big

`2021-10-17 21:11 18243019751   s3://ocsysinfra-prometheus-metrics/01FJ7WYM7P9A0TQX5HFYZR5MPB/index`

also 1284 512Mb chunks are present there

[code]

[2021-11-08 08:48] yeya24 commented on #4833
Yeah ideally we don't want to produce such big blocks from the compactor so you can configure the max compaction level to 4 instead of 5.
For this super big block, I am not really sure if there is a workaround now. You have too many chunks/samples and you need to downsample it to make it smaller ASAP. Is it possible to increase the storage size to make downsampling succeed?

[2021-11-08 09:14] bobykus31 commented on #4833
Thats all right. It is good to know  reducing compaction level can help.

[2021-11-08 09:16] matej-g opened #4841 "Service Discovery: Adding generic HTTP service discovery"
### Is your proposal related to a problem?

Currently, there is no _generic_ service discovery mechanism in Thanos, that would function remotely. There is currently file service discovery, which however has some legitimate limitations - if a user wishes to dynamically change the content of the file / services, this requires a sidecar process which updates the configuration file. Such pattern might

[2021-11-08 10:27] matej-g commented on #4386
Looks like this started to appear after https://github.com/thanos-io/thanos/pull/4619 but hasn't been addressed yet. I'm wondering what is the exact issue, to me it looks like something might be up with APM's implementation. This would need further investigation but might be worth opening issue upstream as well.

[2021-11-08 10:29] saswatamcode commented on #4841
Thanks a ton for writing this up! It's a great idea and would fit really well with the SD sidecar. 🙂

[2021-11-08 18:23] Lightn commented on #2016
Could this be re-opened?  I am seeing the same thing on the latest version 0.23.1.  This time I tried it with S3 storage via minio.
The problem is as jeffbstewart says.

[2021-11-08 21:10] #4180 closed

[2021-11-09 00:09] yeya24 commented on #4768
Close in favor of https://github.com/thanos-io/thanos/pull/4769

[2021-11-09 00:09] #4768 closed

[2021-11-09 00:10] yeya24 commented on #4489
Not stale

[2021-11-09 00:35] #4824 closed

[2021-11-09 05:49] DreamDZhu opened #4844 "when add nginx basic authentication to the query , queryfrontend cannot request the query to get data"
**Thanos, Prometheus and Golang version used**: 0.23.1

**Object Storage Provider**: aliyun

**What happened**:

When I add nginx basic authentication to the query ,

auth_basic "Basic Authorization";
auth_basic_user_file /etc/nginx/basic_auth_file;

auth user : admin  auth passwd : admin

 the queryfrontend cannot request the query to get data

![image](https://user-images.githubusercontent.com/8

[2021-11-09 07:12] dbasden commented on #4386
The problem is happening at pkg/mod/go.elastic.co/apm/module/apmot@v1.11.0/span.go:182  with the s.span.Context.SetLabel call.

Everything is fine with spans from the inbound HTTP UI requests, where s.span.Context is set (likely directly in thanos/pkg/tracing/http.go)

When an intercepted GRPC span is handled by the above APM span code however (e.g. when Thanos query is connecting to a store API o

[2021-11-09 07:17] yeya24 commented on #2620
After another thought, I think it is already done to enable local compaction for Prometheus and it is safe. On the sidecar side, we just need to have `--shipper.ignore-unequal-block-size` flag to disable the check.
The shipper just uploads compaction level 1 block only to the object storage, which is by default.

[2021-11-09 07:17] #2620 closed

[2021-11-09 07:36] yeya24 commented on #2620
https://github.com/thanos-io/thanos/blob/main/docs/components/sidecar.md#sidecar

I am not sure why there is a data corruption problem. For local Prometheus compaction, the compaction planning will exclude the freshest block so the newly created block won't be compacted in a time window (at least 2h).

So for the sidecar shipper, it has 2h window to upload the new block. Unless it is done for > 2h

[2021-11-09 19:22] #3975 closed

[2021-11-09 19:22] yeya24 commented on #4671
Closed by #4612

[2021-11-09 19:22] #4671 closed

[2021-11-09 19:28] yeya24 commented on #4844
Query frontend supports downstream config and http client config is supported in sidecar https://github.com/thanos-io/thanos/commit/c98324b8f938574c4e2a4a4344005b116ad806cb as well.

It would be good to merge these to a more common config struct.

[2021-11-09 19:40] someshkoli commented on #4844
Would be a good addition along with using single http(thanks/http) client across. Had seen instances  of code duplication wrt this ^

[2021-11-09 19:45] Kampe commented on #4831
Recently, we've also began seeing:
[code]

[2021-11-09 19:56] Kampe commented on #4831
Also, we've noticed when a receiver begins to report poorly, this behavior is what we see:

[code]

Logs begin to accumulate:

[code]

and then everything grinds to a halt:

<img width="1834" alt="Screen Shot 2021-11-09 at 1 47 29 PM" src="https://user-images.githubusercontent.com/624150/140995564-9058e162-2407-4d19-9f42-858cff4a4a16.png">

[2021-11-09 20:15] yeya24 commented on #3308
This is still nice to have.

[2021-11-10 08:28] yeya24 commented on #4069
I don't think this is reproducible anymore so let's close.

[2021-11-10 08:28] #4069 closed

[2021-11-10 08:32] yeya24 commented on #4642
Close now as it is fixed.

[2021-11-10 08:32] #4642 closed

[2021-11-10 08:34] yeya24 commented on #4326
Any progress on this?

[2021-11-10 09:40] amewayne commented on #4705
Encountered the same problem. I checked  out **thanos.shipper.json** in prometheus tsdb directory. this is what it looks like
`{
	"version": 1,
	"uploaded": null
}`

[2021-11-10 12:34] pentlander commented on #4766
Same here, we ran into significant downtime due to this issue. I think it would be worth releasing a patch version with this fix.

[2021-11-10 16:16] phillebaba commented on #4760
I am seeing similar issues but without a service mesh. My best guess is that it is related to the forwarding timeout.

So the error originates from the receiver handler. The reason the error is so generic is because it is a context deadline error.
https://github.com/thanos-io/thanos/blob/fdfc0776d0c3544a29e1bad5cc49ef971c5b73ef/pkg/receive/handler.go#L365-L367

If you follow the `handleRequest` fu

[2021-11-10 18:30] matej-g commented on #4386
Thanks for the investigation @dbasden! I had a bit of closer look as well, to me it seems that for some reason, in the APM implementation, the [`SpanData` pointer](https://github.com/elastic/apm-agent-go/blob/master/span.go#L272) is `nil` at the point where the program panics. `SpanData` has field `Context`, which we [try to get in `setSpanContext()` through embedding in `s.span`](https://github.c

[2021-11-10 19:06] GiedriusS commented on #4826
Let's close this to keep our issue tracker cleaner. Thank you for using Thanos!

[2021-11-10 19:06] #4826 closed

[2021-11-11 08:20] aymericDD opened #4851 "Thanos sidecar: Does not upload old blocks"
**Thanos, Prometheus and Golang version used**:

[code]

**Object Storage Provider**:

S3

**What happened**:

When I remove a block from the upload list of the thanos.shipper.json file the block is not uploaded and the removed block is re-added to the list of uploaded blocks into the `thanos.shipper.json` file.

**What you expected to happen**:

Except the block to be uploaded to S3.

**How to re

[2021-11-11 08:57] GiedriusS commented on #4851
Have you deleted it from S3? :smiley:

[2021-11-11 09:00] aymericDD commented on #4851
Yes, I need to re-upload old blocks because they are not anymore present after an S3 outage. :cry:

[2021-11-11 09:06] GiedriusS commented on #4851
Have you tried shutting down sidecar, editing the file, starting sidecar again, then?

[2021-11-11 09:16] aymericDD commented on #4851
Yes, I have tried to do that.

[2021-11-11 09:38] aymericDD commented on #4851
Never mind. The problem is not related to Thanos but the S3 outage. Sorry for that.

[2021-11-11 09:38] #4851 closed

[2021-11-11 09:39] GiedriusS commented on #4851
:+1: np

[2021-11-11 14:19] pjastrzabek opened #4855 "store: Thanos store does not support reloading of configuration"
I'm rendering s3 bucket config using vault injector and after refreshing AWS credentials (after expiration)  I'd like to 'notify' / trigger reload of thanos store.
I tried to send some signals to store like -HUP, I see in logs that they are being noticed, but credentials used for accessing bucket (in AWS in my case) are still old ones.

I found similar issue for **ruler** component
https://github.

[2021-11-12 02:55] abhinavbhagat commented on #4306
Hi @bwplotka  was wondering, if this issue is resolved/fixed, as i encountered this issue in one of our environment ?

[2021-11-12 05:09] #4835 closed

[2021-11-12 06:03] koktlzz commented on #3913
same issue in thanos v0.23.

[2021-11-12 10:15] JohanElmis commented on #4549
@yeya24 Hi Ben, Is there anything I can do to support this to get resolved?
I may be able to get you some data privately - or if there is anything I can try to do/run to give you more info.

[2021-11-12 12:10] shashank-omre-cldcvr commented on #4192
How did you Do you do that?

[2021-11-12 12:11] shashank-omre-cldcvr commented on #4192
How can i change Prometheus setting?

[2021-11-12 13:27] jessicalins commented on #3434
I've added a PR with some basic metrics here: https://github.com/thanos-io/thanos/pull/4856

[2021-11-12 15:10] GiedriusS commented on #4571
@matej-g let's close this, then? (:

[2021-11-12 15:11] matej-g commented on #4571
Ah, right :slightly_smiling_face: Please close it

[2021-11-12 15:13] #4571 closed

[2021-11-12 15:24] GiedriusS commented on #3761
Implemented in https://github.com/thanos-io/thanos/pull/4731 :+1: thank you all for your work!

[2021-11-12 15:24] #3761 closed

[2021-11-12 15:25] GiedriusS commented on #3434
@jessicalins thank you for your work! I think we can close this now :muscle:

[2021-11-12 15:25] #3434 closed

[2021-11-12 15:28] GiedriusS commented on #3318
The problem here is that we do sorting before sending so it's much harder than it seems :/

[2021-11-12 15:32] GiedriusS commented on #4634
This could be nice to have. Currently, Thanos Query is unaware of the available resolutions. Data about available resolutions could be included in the metadata response.

[2021-11-12 15:57] matej-g commented on #4751
I'm wondering if this is meaningful, given that here we copy verbatim from the documentation that we link to. For me personally this adds more noise, when users can find the same information under the linked details. Opinions?

[2021-11-12 16:02] matej-g commented on #4699
This has for now been fixed in `v0.23.1`, so we can close it.

[2021-11-12 16:02] #4699 closed

[2021-11-12 16:20] matej-g commented on #2600
Just to keep tabs on this, since now https://github.com/thanos-io/thanos/pull/4282 has been merged, what's still missing? Some points:
- [ ] Implement Info API for the remaining components
- [ ] Revert the change to always getting metadata through fallback (https://github.com/thanos-io/thanos/pull/4714)
- [ ] Add `--endpoint-strict` similarly to `--store-strict`
- [ ] Deprecate and remove old flag

[2021-11-12 17:04] matej-g commented on #4806
It's strange, I'm not sure how that reference got into `go.mod`, but the ref is for a commit on a branch from this PR https://github.com/efficientgo/tools/pull/5, so it does not on the main branch. I'll bump the version to latest `main` and that should resolve it.

[2021-11-12 17:17] matej-g opened #4861 "Docs: Document the query logging feature better"
Query logging is a useful feature, but right now the flags `--request.logging-config` and `--request.logging-config-file` do not seem to be sufficiently documented. We have only [a link](https://github.com/thanos-io/thanos/blob/b1c7483ea9be11a81e2c7422f19b811e81b98859/docs/components/query.md?plain=1#L368) to a personal GitHub gist page without much detail right now.

It would be nice if we had:
-

[2021-11-12 17:38] #4806 closed

[2021-11-12 17:41] heyitsmdr commented on #4799
We're also seeing this as well, for some of our more computationally expensive queries. They are all being terminated in Grafana with 502s right at the 30s mark. Does the Query Frontend have a hard-coded timeout of 30 seconds? I found [this timeout](https://github.com/thanos-io/thanos/blob/main/pkg/queryfrontend/request.go#L27) for `ThanosQueryRangeRequest` but cannot yet find where it is actually

[2021-11-12 17:52] matej-g opened #4862 "CI: CircleCI `test` runs take too long"
As I was recently looking into insights on Thanos CircleCI, I discovered that the tests take far too long in comparison with local runs - for example, the median for the last 7 days is ~30 minutes and the 95th percentile is whooping 1 hour. This is incomparable to the tests timed locally which run (with uncached test results) for roughly 2 and a half minutes.

My suspicion is that when `bingo` ins

[2021-11-13 03:22] hitanshu-mehta commented on #2600
There was also a request to add a feature to disable certain services.

[2021-11-13 03:29] hitanshu-mehta commented on #2600
There was also a request to add a feature to disable certain APIs.

That would be great :) Is it okay if we divide tasks?

[2021-11-13 07:47] saswatamcode commented on #4751
Yes, in this particular case it doesn't make much sense to have as there are detailed docs regarding tracing config which we can link to.

But in the case of some Thanos-specific config (eg [QueryAPI](https://thanos.io/tip/components/rule.md/#query-api)) or config without descriptive docs to link to, it can be nice to have. `cfggen` can then directly pull comments from source code and generate YAM

[2021-11-13 11:46] hanjm commented on #3538
I use [confd](https://github.com/kelseyhightower/confd) as Sidecar in production env. I think [consul-template](https://github.com/hashicorp/consul-template) is good for consul. watch consul service and render a endpoint file. 😄

[2021-11-13 14:20] matej-g commented on #4751
I see now, I missed the full context (that we want this for all configs). Sounds good! Maybe then you could consider having option to generate with or without comments included for cases like this?

[2021-11-13 14:42] saswatamcode commented on #4751
Yes, plan to have certain flags/options to support this! :)

[2021-11-13 15:18] matej-g commented on #2600
@hitanshu-mehta I updated the list, thanks :+1: Sure, let's divide! Feel free to take what you prefer first.

[2021-11-13 16:57] hitanshu-mehta commented on #2600
@matej-g I can start working on adding new `endpoint-strict` flag.

[2021-11-13 19:42] yeya24 opened #4866 "Flaky compact penalty deduplication E2E test"
Link: https://github.com/thanos-io/thanos/runs/4199928541?check_suite_focus=true

[code]

This flaky error seems to happen a lot.
In line https://github.com/thanos-io/thanos/blob/main/test/e2e/compact_test.go#L759, ideally we should get 0 for this metric because all the compactions are done in the previous step so all source blocks are already marked for deletion. Need investigation for this error

[2021-11-13 22:30] yeya24 commented on #4855
Reloading object store credentials is not supported right now. But it would be good to make it hot reloadable.

[2021-11-14 08:52] worldspawn opened #4867 "Improvement on Azure Object Storage Docs and/or azure object config validation"
Hi folks. I just spent a few hours trying to thanos query to connect to azure storage. The example in the docs includes a lot fieldname with no examples of the values.

[code]

So my first crack was to put `https://<storageaccount>.blob.core.windows.net` as the value of endpoint. This results in query just crashing out with no error after the output level=debug ts=2021-11-14T08:40:41.878900465Z ca

[2021-11-15 08:45] thibautmery opened #4871 "Impossible to move from --store to --endpoint"
**Thanos, Prometheus and Golang version used**:
Thanos docker => quay.io/thanos/thanos:v0.23.1

**What happened**:

I want to upgrade my thanos query that hit other thanos query. I change the version of thanos (last one v0.23.1) and I modifies --store to use --endpoint (because --store is deprecated).

But the docker always restart =>
[code]

**What you expected to happen**:

It should work same a

[2021-11-15 09:03] GiedriusS commented on #4871
`--endpoint` is only in the `main` version of Thanos, it's not in `0.23.1` (:

[2021-11-15 09:03] #4871 closed

[2021-11-15 09:08] thibautmery commented on #4871
Oh yes "in the future" it will be replaced. Thanks :)

[2021-11-15 10:42] aymericDD commented on #4791
I have a question about this issue. How can I simply identify bloc with its bad chunk? Ping @GiedriusS @yeya24

[2021-11-15 16:27] midhun-mohan commented on #4729
Hi, I am also experiencing this issue. Did you land on a solution for this problem ?

[2021-11-16 08:42] jumakasy commented on #4729
Hi midhun-mohan,
After lot of research, I my case the issue seems to be related to network. By analyzing the frames (tcpdum+wireshark), something was not ok with the http2 messages. By moving thanos-query to the same LAN than thanos-sidecar it works.

This is my case, but I think that the message could be related to a lot of other issues.

[2021-11-16 16:45] lholland421 commented on #2016
+1 We are seeing this exact issue too. We are running a single prometheus instance on a windows host using NSSM and a single instance of Thanos.
I can see in the logs that thanos is not able to cleanup the upload directory and therefore fails to upload the chunks.
`"The process cannot access the file because it is being used by another process."`

[2021-11-17 16:38] ahurtaud commented on #4466
this is still valid to me :/ thanos has a lot of issues on our azure blob storage compared to before 0.22.

[2021-11-19 02:06] WeiTangLau commented on #1851
2 years later. Still needed

[2021-11-19 06:47] yeya24 commented on #4837
Closed by #4837

[2021-11-19 06:47] #4837 closed

[2021-11-19 10:06] t00350320 opened #4877 "store:fetch series for block xxx: preload chunks: ... msg="returning partial response"
**Thanos, Prometheus and Golang version used**:
thanos:0.16.0

**Object Storage Provider**: s3

**What happened**:  query pops errors:
10.89.16.155:10901  is our thanos-store ,
level=warn ts=2021-11-19T16:33:30.504935088+08:00 caller=proxy.go:464 err="receive series from Addr: 10.89.16.155:10901 LabelSets: {tsnode=\"10-64-62-68\"} Mint: 1597903200 Maxt: 1637305200: rpc error: code = Aborted desc =

[2021-11-19 10:18] aymericDD opened #4878 "Tools bucket verify -i index_know_issue does not parse all blocks"
**Thanos, Prometheus and Golang version used**:

[code]

**Object Storage Provider**:

S3

**What happened**:

When the command `thanos tools bukcet verify` is executed only the first block is verified at the `index_issue` step.

**What you expected to happen**:

All blocs of the bucket must be parsed.

**How to reproduce it (as minimally and precisely as possible)**:

Run the command : `thanos to

[2021-11-19 12:29] itspngu opened #4880 "mixin: Grafana Dashboards fail server side apply"
**Thanos, Prometheus and Golang version used**:

quay.io/thanos/thanos:v0.22.0

**Object Storage Provider**:

GCS

**What happened**:

When using the Thanos mixin with kube-prometheus, the resulting yaml manifests fail server side apply (and its validation). In particular, `grafana-dashboard-bucket_replicate` and `grafana-dashboard-query_frontend` are violating a naming convention, the rest is fin

[2021-11-19 13:45] aymericDD opened #4881 "Tools bucket verify must validate chunks"
### Is your proposal related to a problem?

After an S3 outage, some data has been corrupted or removed and caused compactor and store errors because some chunk files was missing.

<details>
<p>Error log :

[code]
</p>
</details>

### Describe the solution you'd like

The S3 datacenter has been fixed, but I need to check if all blocks of buckets are valid. To validate all my blocks I used the comm

[2021-11-19 14:15] itspngu commented on #4880
It seems this has been fixed before... https://github.com/thanos-io/thanos/commit/2ed64cab2fde4ebb8674fe68eaaff381739011a0#diff-8b2bee54f896c2326a2a35a5f6ae1c404ef2d503c2186f48fa7bf810cf151e62

... and then broken again https://github.com/thanos-io/thanos/commit/569a4d730e5f41ca949d1f973671743da482de47#diff-61d624f57144d877c035b5fe65277dff301be7e52707e37fa538ad8750ed5a75

[2021-11-19 21:59] yeya24 commented on #4881
https://github.com/thanos-io/thanos/pull/3031 This pr already supports storing hashes in the metadata file.
But it is for each file, not for each chunk.

It is also possible to read each chunk data on the fly from the object store.

[2021-11-20 01:25] hanjm commented on #4877
Could try [thanos tools](https://thanos.io/tip/components/tools.md/#bucket-verify) verify this block and paste the output logs? thanks

[2021-11-20 08:15] hanjm commented on #4787
+1

[2021-11-20 08:15] hanjm commented on #4787
I think it is reasonable.

[2021-11-20 12:48] hanjm opened #4884 "Compactor: Support --min-time/--max-time filter."
### Is your proposal related to a problem?

For my case, the compactor halt or broken for some reason. the compact progress will very be lag.
Then i restart compactor, beacuse the bucket has many blocks, I prefer it could process the more fresh blocks first. but currently, the compactor will start process the oldest block.

### Describe the solution you'd like

So, Could we add a time filter like

[2021-11-20 22:32] yeya24 commented on #4884
The request itself is valid.
Another way to do this is to do compaction planning from the freshest blocks. Right now all blocks are planned in time increasing order so fresh blocks are processed last. Maybe this can be done via a flag in the planner side.

[2021-11-22 05:53] yeya24 commented on #4884
After 1:1 with @metonymic-smokey, we think reversing the planning order would work, but it is not as easy as it looks. So it is good to start adding the min/max time filter first.
But for users, they need to know the required time range for compaction levels to set these flags correctly.

[2021-11-22 16:40] matej-g commented on #2864
I looked into this TODO as a part of working on something else, I think should be doable (and yes, some adjustments to the client interface would be nice to make this fit more reasonably). I'll try to come back with a draft PR.

[2021-11-22 16:48] jleloup opened #4890 "Compactor: invalid size downsample block to window 3600000"
**Thanos, Prometheus and Golang version used**:

* Thanos: v0.23.1 (AFAK it was also present in v0.22.0)

**Object Storage Provider**:

S3

**What happened**:

After enabling vertical compaction, downsampling runs from our compactor dedicated to Thanos receive blocks eventually crash with this error:

[code]

**What you expected to happen**:

Compactor run downsamples without issues.

**How to rep

[2021-11-23 03:55] heartTorres commented on #3913
Same issue with thanos v0.22

[2021-11-23 09:02] GiedriusS commented on #2600
Only the last two points are left, I think :muscle:

[2021-11-23 09:37] jleloup commented on #4890
We discovered a mishap in our Thanos Receive configuration where the external label `thanos_receive_replica` was removed from our deployment.
We are fixing this by restoring `--label=thanos_receive_replica="$(NAME)"` though I have no clue wether or not this is link to the issue we see in our Compactors.

My understanding is that our blocks were not vertically compacted due to this missing external

[2021-11-23 10:48] aymericDD commented on #4881
Thanks for your reply @yeya24 :+1:
So if this feature is enabled we can check if chunks files are correct. I will take a look when I have the time.

[2021-11-23 11:01] jleloup commented on #4890
Here is a link to a block that crashes during downsampling: https://drive.google.com/drive/folders/1ZCVoHE_ry5suZ18AQTOlWEhvm-ADyteH?usp=sharing

[2021-11-23 13:27] matej-g opened #4894 "Query: Endpoint (store) flag should ignore empty or obviously incorrect addresses"
**Thanos, Prometheus and Golang version used**: Thanos - latest `main` build

**What happened**:
When I provide empty or obviously wrong address to the `store` or `endpoint` flag, query still tries to contact the store to obtain metadata, which can never succeed, resulting in logs being spammed with:
[code]

**What you expected to happen**:
Thanos should ignore empty and obviously incorrect `store

[2021-11-23 13:56] jleloup commented on #4890
The timestamp of this block tells us that it was created before we deployed a dedicated Thanos compactor for receive blocks.
At the moment of its creation it was the result of vertical compaction of receive blocks through a Compactor configured to use the `penalty` algorithm.

I originally assumed that even if blocks from Thanos Receive were supposed to benefit from the `one-to-one` vertical compa

[2021-11-23 18:00] moadz opened #4895 "More granular query performance metrics for Thanos store"
### Is your proposal related to a problem?
This is a follow-up to the discussion by @ianbillett #4674 about measuring query performance in Thanos.

tl;dr: We would like to measure query path latency in a reliable and consistent way to supplement our read path SLIs.

Currently in Red Hat's internal observability service, we're using [Avalanche](https://github.com/open-fresh/avalanche) in conjunctio

[2021-11-24 10:32] dllegru commented on #4807
Unfortunately I deleted the compaction blocks that were giving me issues in order to bring the service up, and now I can't reproduce the error.
If I encounter it again, will get the goroutine dumps at the panic time, thanks fro your help.

[2021-11-24 10:32] #4807 closed

[2021-11-24 13:13] bwplotka commented on #4895
I think it would be nicer if you would propose a PR with proposal to Thanos as flow https://thanos.io/tip/contributing/proposal-process.md/.

This will allow us to start discussion on each separate part of the proposal.

Otherwise, I like it. I wonder only:

* Are S/M/L configurable? (probably they should)
* Maybe it's better to put literal numbers instead of S/M/L to avoid confusion if S, M, L ar

[2021-11-24 13:15] bwplotka commented on #4895
cc @GiedriusS @yeya24 @wiardvanrij for more opinions

[2021-11-24 14:00] wiardvanrij commented on #4895
Honestly, your questions are deeper than I'm working with our stack. So I haven't formed an entire opinion on it, other than that I pretty much agree with everything you said.

As for the solution. I remembered a potential new feature that might resolve your implementation problem? https://youtu.be/F72Tk8iaWeA Sparse histograms.

[2021-11-24 15:12] artherd42 opened #4899 "swift: bad request authentication"
**Thanos**: 0.20.1

**Object Storage Provider**: Swift

**What happened**: Thanos compactor | query | store containers are crash looping

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]
**Full logs to relevant components**:

<details>Logs

[code]

</details>

**Anything else we need to know**: Replacing `UserDomainName` with `DomainName`

[2021-11-25 01:45] jordy1024 commented on #4884
Work in progress.

[2021-11-25 07:31] morvencao opened #4900 "Missing data points for recording rule evaluation result"
**Thanos, Prometheus and Golang version used**:

Thanos version: 0.22
Prometheus version: 2.29.2
Golang version: 1.17

**Object Storage Provider**: AWS S3

**What happened**:

We have defined the following recordingrule for thanos ruler:

[code]

We found that lots of data points are missing in thanos ruler evaluation results, we user default evaluation interval(30s), as you can see from blow char

[2021-11-25 11:51] dploeger commented on #3913
I think the only valid error here is what @starleaffff said (if you still have that).

Actually the message exactly says what happened:

(...) Conflict: store locally (...)

Meaning: I already have the data you've sent me, please store it locally and don't bother me with it.

And the receiver does just that unlike the sidecar which will provide the same data to the queriers and the queriers dedupl

[2021-11-25 15:26] moadz commented on #4895
Yes. I'm contemplating what this configuration would look like. Perhaps passing in arrays for each of the 'histogram partitions' (i.e. the labels we attach to observations that categorise number of series and number of samples)
[code]

Yeah agreed. If these are going to be configurable, it's probably useful to encode the literal number instead of t-shirt sizes to avoid confusion. I guess using lab

[2021-11-25 16:33] GiedriusS commented on #4900
Could it be simply that you need to set the `step` to be explicitly equal to the evaluation interval which is 1 minute by default? (:

[2021-11-26 02:57] morvencao commented on #4900
@GiedriusS Prometheus scrape interval is `30s`, I didn't set `step`. As you can see from the original expression query results, there is a data point each 30 seconds. And the recording rule query chart is misleading, I'm sure I saw there is data point after 30 seconds sometimes.

[2021-11-26 07:26] fktkrt commented on #4606
Great idea, I'd be happy to help!
Isn't an exposed Thanos Query enough at first? You could run queries and check the stores/config/etc.

Bucketweb could also make sense, but as a separate app (e.g. as Alertmanager on the aforementioned Prometheus demo site)? It's not that interactive/interesting in my opinion.

[2021-11-26 07:29] GiedriusS commented on #4606
I think for this we'd need query-frontend + Query + Store + Sidecar + Prometheus with a reverse proxy in front of query-frontend. Feel free to work on Ansible playbooks, later on we could move them under the `thanos-io` community & work on adding automated deployment.

[2021-11-26 08:43] aviralharsh commented on #764
Hi @bwplotka, i am facing issues when all my prometheus replicaset use the same configmap. All prometheus replicas have the same externam_labels and Thanos fails with "dropping store, external labels are not unique" error.
Is there any way we can assign unique/dynamic external_labels to each replica ?
I am using this helm chart - https://github.com/prometheus-community/helm-charts/tree/main/charts

[2021-11-26 09:33] hanjm commented on #764
This feature could let us use env like POD_NAME as external label. https://prometheus.io/docs/prometheus/latest/feature_flags/#expand-environment-variables-in-external-labels

[2021-11-26 10:09] aviralharsh commented on #764
Thanks for addressing @hanjm, this seems to be a feature in v2.27+, can this be used with version 2.20 ? If not, any alternatives ?

[2021-11-26 10:24] hanjm commented on #764
not. alternate is use confd (with file backend) as sidecar to process prometheus config，confd has `getenv` template function. https://github.com/kelseyhightower/confd/blob/master/docs/templates.md#getenv

[2021-11-26 13:15] koktlzz commented on #3913
Thank you for your reply. Maybe this error actually makes no sense.
Anyway, my prometheus and receiver works well. However, it really makes me panic as you say.😓

[2021-11-26 16:50] haeringer opened #4907 "Store Query error: `get range reader: The specified key does not exist`"
**Thanos, Prometheus and Golang version used**: Prometheus v2.30.3 and Thanos v0.23.1 on Kubernetes

**Object Storage Provider**: S3

**What happened**: After having shipped all existing metrics from a Prometheus instance to S3 via `--shipper.upload-compacted`, some of the uploaded metrics are not retrievable because queries return the following error:
[code]

With "some metrics" I mean lots of th

[2021-11-26 16:51] matej-g commented on #4832
I belive https://github.com/thanos-io/thanos/pull/4903 should solve this

[2021-11-26 17:02] matej-g commented on #2600
So I believe for the API disabling we have overlap with https://github.com/thanos-io/thanos/pull/4785 which should take care of it (one of TODOs - https://github.com/thanos-io/thanos/pull/4785/files#diff-5d0883e9f6db360a29dd686b1ba6dbf152d0ab9549a0506aeffdf532f5ae0591)

@Namanl2001 any updates on the PR progress? Any way we can support you? :slightly_smiling_face:

[2021-11-27 06:56] Namanl2001 commented on #2600
@bwplotka has proposed many changes in [this commit](https://github.com/thanos-io/thanos/pull/4785/commits/d6a7988ab8a46c3bb36fe374a701478e989967b2), so I definitely need support to proceed further.

In PR https://github.com/thanos-io/thanos/pull/4785, we are trying to have a single endpoint set in `cmd/thanos/query.go`. For context: https://github.com/thanos-io/thanos/pull/4389#discussion_r690541

[2021-11-29 09:54] metonymic-smokey commented on #4787
Will work on this next.

[2021-11-29 14:11] GiedriusS commented on #4549
Trying to add a test for this here https://github.com/thanos-io/thanos/issues/4549 but cannot reproduce it. Does this error still happen if you _only_ query (using the selection UI) Thanos Store?

[2021-11-29 14:44] AndrewNiven1 commented on #4804
Hi again,

I'd like to reopen this issue, as I'm seeing the same behaviour again.

When compactor is running against a certain ABS, it fails with the following error message:

```level=warn ts=2021-11-26T07:48:58.625467572Z caller=intrumentation.go:54 msg="changing probe status" status=not-ready reason="error executing compaction: compaction: group 0@17975502000459606275: blocks with out-of-order

[2021-11-29 15:43] pjastrzabek opened #4912 "Expose 'path' parameter for store configuration."
I would like to use thanos store with 'path bucket lookup style' option from minio.

In minio code I see there is an assumption
https://github.com/minio/minio-go/blob/e55f8d731cb4343f4be9361525221d8752fa75a6/api.go#L308

`
	// Sets bucket lookup style, whether server accepts DNS or Path lookup. Default is Auto - determined
	// by the SDK. When Auto is specified, DNS lookup is used for Amazon/Googl

[2021-11-29 16:37] JohanElmis commented on #4549
I do not have issues with every block - but I will hit some with issues when analysing a larger time-frame - and then the fun stops.
Not sure if it's possible to re-build the blocks to get it sorted - or if they are simply overlapping in some way.
I might be able to find a block with issues - and share that with you (somehow).

[2021-11-29 16:41] AndrewNiven1 commented on #4804
I've run verify again - the first time I ran it I didn't get a summary at the end, but this time I did. The final output is as follows:

[code]
It looks to me like this is only actually verifying a single block, so my issue here is really just the same as https://github.com/thanos-io/thanos/issues/4878. If you agree I'm happy to close this issue in favour of that one.

[2021-11-29 23:53] pjastrzabek commented on #4912
After digging a bit deeper I began to suspect why "dns lookup style" became the default option in minio for AWS & GCP.

"Path based lookup" became deprecated some time ago by Amazon, but quickly that deprecation was reverted, because it became an issue for many customers.

https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/

I think both option will stay with us

[2021-11-30 01:43] hanjm commented on #4912
💪  It's reasonable. I think use `S3ForcePathStyle` as field name will better. aligning with the s3 sdk https://github.com/aws/aws-sdk-go/blob/v1.42.12/aws/config.go#L127

[2021-11-30 02:15] gmintoco opened #4914 "Panic loading store view"
**Thanos, Prometheus and Golang version used**:
Thanos v0.23.1 docker image

**Object Storage Provider**:

GCS

**What happened**:

Panic when trying to load /stores. Web UI shows
![image](https://user-images.githubusercontent.com/50625416/143973422-cce99a99-fc36-4cc9-9e3c-c8c9796fd240.png)

Returning a 503 from /api/v1/stores

**What you expected to happen**:

Returns list of stores and their sta

[2021-11-30 03:58] hanjm commented on #4914
Seems log not full display, could you provider more log about panc stack. it should start with "panic: xxx"
"

[2021-11-30 04:05] gmintoco commented on #4914
Hi @hanjm here is the output from the logs:

        2021/11/30 04:02:26 http: panic serving 10.100.196.39:51262: runtime error: invalid memory address or nil pointer dereference
        goroutine 24149 [running]:
        net/http.(*conn).serve.func1(0xc0001a80a0)
	        /usr/local/go/src/net/http/server.go:1804 +0x153
        panic(0x1b54060, 0x2f4a640)
	        /usr/local/go/src/runtime/panic.

[2021-11-30 04:24] morvencao commented on #4900
The charts in the description are a little confusing, the data point does **not** comes every 1 minute for the recording rule query result, it can be 30s, 1 minute or some other time period.

The following two charts are more clear:

Recording Rule Query Result:
![image](https://user-images.githubusercontent.com/5468682/143985036-a6e1f213-9565-418f-95a8-5162a0dc5f56.png)

Original Expression Query

[2021-11-30 04:41] hanjm commented on #4914
Same issue with https://github.com/thanos-io/thanos/issues/4777. It has fixed by https://github.com/thanos-io/thanos/pull/4805. Could you try the v0.24.0-rc.0? https://github.com/thanos-io/thanos/releases/tag/v0.24.0-rc.0

[2021-11-30 07:36] morvencao commented on #4900
It seems that  thanos ruler queries the rule expression with partial response, if some of the query component can't return the data in specific time, that part of data will be ignored and not in the rule evaluation result. That's probably the cause of this issue.

[2021-11-30 08:30] JohanElmis commented on #4549
I downloaded a few of the "failing" chunks and tried to do some verifications of them.
No issues were found. But with more investigations - I have another theory.
Some more time has passed since we first encountered this - and it seems like it's related to the switch between Vertical compacted data - and data that is not.
Also the compaction level is different on data before (when It's not working

[2021-11-30 09:20] nfoonf opened #4915 "I would propose a dedicated mailinglist specifically for releasing security advisories."
Security Advisory mailiinglists are industry standard for publishing vital update notifications to users of software products.
There are established processes around security advisories, like automated opening of Tickets upon receiving an advisory which help users to react quickly and fix vulnerabilities before they can be exploited.

A dedicated Mailinglist that only delivers official security ad

[2021-11-30 11:45] GiedriusS commented on #4900
![image](https://user-images.githubusercontent.com/2377233/144041644-fbcd32bb-1de1-4c16-9db5-af2c4e56890a.png)
What if you enter `60s` there?

[2021-11-30 15:46] AndrewNiven1 opened #4916 "Improve handling of out-of-order chunks"
### Is your proposal related to a problem?

When Compactor encounters an out-of-order chunk, it is able to skip compaction of that block if --compact.skip-block-with-out-of-order-chunks is set (from [this MR](https://github.com/thanos-io/thanos/pull/4469)). This is very useful for stopping a single broken pod from breaking compaction for an entire deployment.

What I am concerned about is the long

[2021-12-01 03:06] morvencao commented on #4900
if I set step to `60s`, the data points will be connected, but that will not fix the missing data in our grafana dashboard, in which we use the recording rule to create the dashboard.

![image](https://user-images.githubusercontent.com/5468682/144163906-e4e0a914-80b7-4be9-96c2-0824e94d9022.png)

[2021-12-01 05:27] hanjm commented on #4900
@morvencao Could you try to set the grafana datasource scrape interval to 30s?
![image](https://user-images.githubusercontent.com/7621241/144177025-1a8e598c-ded7-4c88-b665-fb4dc155bea2.png)

[2021-12-01 05:32] morvencao commented on #4900
@hanjm It is indeed `30s`.

[2021-12-01 06:02] morvencao commented on #4900
It seems that this issue is relevant with the `lookback-delta` of thanos query.
Currently it is `2*scrape_interval`, but if I set it to larger value, the original issue would be mitigated.

[2021-12-01 06:50] gmintoco commented on #4914
Hi @hanjm working now - thanks a lot :)

[2021-12-01 06:50] #4914 closed

[2021-12-01 12:35] metonymic-smokey commented on #4787
Should `receive.MultiTSDB` in receive have an extra parameter added too, since it invokes `shipper.New` or should that just be set to some default?

[2021-12-01 12:48] #4832 closed

[2021-12-02 09:35] firefixmaarten commented on #1851
Still wanted :) +1

[2021-12-02 11:41] jleloup commented on #4772
I happen to have the same behaviour on my clusters since the v0.23.1 update.

Rollbacking Thanos Ruler to 0.22.0 did the trick for us to work around this issue.

Maybe I can help providing those pprof. I don't have experience with that right now but I can try the request you provided @GiedriusS

[2021-12-02 12:01] GiedriusS opened #4919 "Sidecar "ready" when Prometheus is replaying WAL"
**Thanos, Prometheus and Golang version used**:

0.23.1

**Object Storage Provider**:

N/A

**What happened**:

Restarted Prometheus, it started replaying WAL. Sidecar still reported its status as "READY" via /-/ready hence it appears in Thanos Query, and then Thanos Query starts lagging unnecessarily waiting for an answer from Prometheus.

By definition, Sidecar is not ready to serve traffic if P

[2021-12-02 12:09] jleloup commented on #4890
We haven't got this issue since we deployed a dedicated Thanos Compactor for receive blocks with the `one-to-one` dedup algo.

So I suppose this error was due to the usage of `penalty` algo on Thanos receive blocks, or maybe another configuration issue from our side.
No need to keep this item opened I guess :)

[2021-12-02 12:09] #4890 closed

[2021-12-02 13:38] jleloup commented on #4772
[thanos-rule.pprof.txt](https://github.com/thanos-io/thanos/files/7642335/thanos-rule.pprof.txt)

This is from one of our Thanos Ruler currently failing to process some records (I haven't figured out yet if this applies to all of them or not). Version 0.22.0.

I'm waiting to have some failures from a 0.23.1 ruler.

[2021-12-02 16:22] Antiarchitect opened #4920 "Compactor: stuck after no space left on the device"
I'm running the 0.23.1 Thanos Compactor (bitnami image) inside K8s with a persistent volume of 200Gi size and still having no space left on the device error periodically.
The most depressive part is that it seems the Compactor doesn't crash but frees some space and stops compacting after that.

Here are the logs of the Compactor currently stuck: https://gist.github.com/Antiarchitect/1bd60e144dd644

[2021-12-02 16:33] bwplotka commented on #305
BTW we are moving with this work item finally 🤗

I made a quick PoC here:https://github.com/thanos-io/thanos/pull/4901
The first iteration is done by @fpetkovski https://github.com/thanos-io/thanos/issues/305

We can work on first iteration, in the mean time we are working on the formal proposal.

[2021-12-02 16:55] jleloup commented on #4772
One lead we are testing right now for this issue: fine tuning Thanos Query & Query Frontend.
We have increased some concurrency parameters & the likes to ensure that there is no bottleneck on query path that would slow down Thanos Ruler queries.

It is yet a bit too soon to draw any conclusions though as of now our thanos rulers records are way more stable

[2021-12-02 18:50] wiardvanrij commented on #4466
The fix was made but only made it in 0.23. Could you perhaps try it again with that version? Please do let me know if that works for you. Otherwise I would love to get some more details.

[2021-12-02 20:12] wiardvanrij opened #4921 "[Proposal] Refactoring the website and documentation"
### Is your proposal related to a problem?

We are almost reaching for 10k stars and I personally see a stronger usage of Thanos every day. Also if we look at our Slack, the influx of various questions are only growing. This can be caused by various things. For example the docs/etc is unclear, there are a lot of new people, the stack is complex, etc.

I would like to segment the "problem" into mul

[2021-12-02 20:25] GiedriusS commented on #4920
Could you please upload the goroutine dump when this situation occurs?

[2021-12-02 20:45] wiardvanrij commented on #4915
I would say it makes sense. Though making the mailinglist is fairly straightforward, I think we should write/discuss more on how to handle these things. What versions are supported, what do we consider "worthy" of the advisory. For example, it's often that we update packages due to some low CVE that has no impact on our project.

 I quickly had to check https://thanos.io/tip/thanos/security.md/ ag

[2021-12-02 20:57] wiardvanrij commented on #4916
I haven't tested it myself, but for your quick and easy solution; https://github.com/thanos-io/thanos/blob/d08a12ad63ee7fd08d9be2cf30cb26f11833f87d/cmd/thanos/compact.go#L148

Wouldn't `metadata.OutOfOrderChunksNoCompactReason` give you the info you need?

[2021-12-02 21:11] wiardvanrij commented on #4867
Hi, cheers for making this issue and addressing the difficulty.

I agree on the config part, this has actually been a somewhat long standing issue to make those more useful. To give you a bit more context; we auto generate these. However that does not provide the defaults nor for example sane values (:

For the `not("")` ; https://github.com/thanos-io/thanos/blob/d72bff0de8a420c824743a4cedf7879419

[2021-12-03 05:49] yeya24 commented on #4920
`level=error ts=2021-12-02T13:38:12.414076829Z caller=compact.go:480 msg="critical error detected; halting" err="compaction: group 0@10167818604089879119: compact blocks [/data/compact/0@10167818604089879119/01FMBWX95ZNDNV95J0F7Z04SC6 /data/compact/0@10167818604089879119/01FMGTV4MJ9X8TTM8SGCCCK5X7 /data/compact/0@10167818604089879119/01FMNZKRJMZ3HZR0SMZKXCHJF6 /data/compact/0@10167818604089879119/

[2021-12-03 08:15] Antiarchitect commented on #4920
@yeya24 But the container has not restarted. And how much space should I give to the Compactor  to avoid this?

[2021-12-03 09:12] ahurtaud commented on #4466
no no thats the thing, anything above 0.21.1 make the compactor very unstable for us:

![Screen Shot 2021-12-03 at 10 11 03](https://user-images.githubusercontent.com/25080995/144576493-cd0d546c-d546-40e4-b23c-26ee22736644.png)
Metrics dropping to zero = pod crashloop = thanos v0.23.1
compaction stable = thanos v0.21.1

[2021-12-03 11:29] GiedriusS commented on #4920
You typically don't want to restart because Compactor will try to do this over and over if you don't have persistent storage, and it will lead to a huge bill for your remote object storage. It is recommended to have at least the size of sum of the smallest blocks in your compaction group + the size of the biggest block in your compaction group.

[2021-12-03 11:29] #4920 closed

[2021-12-03 11:51] GiedriusS commented on #4920
https://github.com/thanos-io/thanos/issues/3405, https://github.com/thanos-io/thanos/pull/1550, and other issues are related

[2021-12-03 14:30] saswatamcode commented on #4921
Thanks for this! 💫

Yes, the current website generation setup is slow (in terms of feedback loop). I was wondering how to improve the experience and came up with a few ideas for this,
- Adding configs & commands for only generating `tip` documentation and website, which can be run locally by contributors.
- Adding command for skipping links during mdox formatting, so contributors can quickly forma

[2021-12-03 15:13] wiardvanrij commented on #4921
Wow, that's really cool. Thanks for sharing!

[2021-12-03 16:40] Jakob3xD opened #4923 "query: error DeadlineExceeded missing error details"
**Thanos, Prometheus and Golang version used**:
The Docker images:
Thanos: 0.23.0 and newer
go: go1.16.8

**What happened**:
When the query fails to connect to a store/sidecar it does not display certificates issues like before. This makes debugging difficulty.
[code]
**What you expected to happen**:
The error should display more information if the certificate is invalid like in Thanos v0.22.0
[co

[2021-12-04 03:57] hanjm commented on #4923
The error message says the cert is not valid, please check cert. the diff is `.scrape-blockstorage` vs `cpe-scrape-blockstorage`.
transport: authentication handshake failed: x509: certificate is valid for prometheus-sidecar-blockstorage-1-0.prometheus-operated.scrape-blockstorage.svc.cluster.local, not prometheus-sidecar-blockstorage-1-0.prometheus-operated.cpe-scrape-blockstorage.svc.cluster.loca

[2021-12-04 04:53] Jakob3xD commented on #4923
Yes, I know what the error message is complaining about but only because it showed the Cert error, which is only displayed in Thanos Versions v0.22.0 and bellow. Thats is my issue. In Thanos v0.23.0 it does NOT display the cert error.

[2021-12-06 00:44] sharathfeb12 opened #4924 "Thanos Ruler fails to evaluate all recording rules correctly"
I am currently running Thanos v0.24.0-rc.0.

Few recording rules are evaluated fine while few recording rules seems to be last evaluated 2 days back. This happens very frequently.  Restarting the pod fixes the issue temporarily. This issue is reproducible on v0.23.0 as well.

Here is the args passed to the ruler:

    - rule
    - --log.level=info
    - --log.format=logfmt
    - --grpc-address=0.0

[2021-12-06 01:33] clyang82 commented on #4820
/assign @clyang82

[2021-12-06 09:50] GiedriusS commented on #4924
Hello, could you please dump the goroutine stacks when this happens and upload them?

[2021-12-06 10:25] GiedriusS commented on #4800
Given that the option there is exactly for this case and no response, I am closing this issue to keep our issue tracker clean. Please let us know if this persists!

[2021-12-06 10:25] #4800 closed

[2021-12-06 10:50] AndrewNiven1 commented on #4916
Ah, excellent - I was looking for a standalone metric and didn't realise it would be a label on another metric. Thanks for pointing that out!

I'd still like to have a discussion about whether we could add an option to automate back up and deletion of problematic time series (either at the time-series, chunk or block level). I'd like to know if the Thanos team would be likely to accept this as a p

[2021-12-06 15:52] aymericDD opened #4925 "Query: high number of goroutines due to partial deadlock"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.23.1 (branch: HEAD, revision: 5327cd8b9bd56ce4912fe602197ad04ab2722b18)
  build user:       root@0acc901868e9
  build date:       20211005-12:08:29
  go version:       go1.16.8
  platform:         linux/amd64

**Object Storage Provider**:

- S3

**What happened**:

The number of goroutines of the thanos query component explode when

[2021-12-06 16:01] aymericDD commented on #4925
The issue is fixed by https://github.com/thanos-io/thanos/pull/4795
Can this fix be backported to v0.23.1 to avoid outages ? This is very critical for production environments. Thanks for your support and thanks @GiedriusS  for the fix :+1:

[2021-12-06 16:21] aymericDD commented on #4925
PR to backport fix to release-23 https://github.com/thanos-io/thanos/pull/4926

[2021-12-06 20:20] bwplotka commented on #4924
Thanks for reporting! pprof profiles available at `/debug/pprof/goroutines` done at the moment of things being stuck, would be super helpful!

[2021-12-07 00:21] jleloup commented on #4924
Isn't this issue similar to https://github.com/thanos-io/thanos/issues/4772 ?

[2021-12-07 00:30] jleloup commented on #4924
I think the .pprof file I uploaded there is actually more relevant in this issue as the behaviour I got in my Thanos Ruler is more comparable to this issue as restarting those pods helped only for some dozens of minutes before failing again to process records.

Link to the .pprof: https://github.com/thanos-io/thanos/issues/4772#issuecomment-984635383

[2021-12-07 14:42] worldspawn commented on #4867
That sounds like everything. Cheers 🍻

[2021-12-08 07:19] snuggie12 opened #4929 "Add flag to "thanos tools bucket ls" to exclude marked blocks"
### Is your proposal related to a problem?

I was trying to prepare a for loop to do rewrites and accidentally did rewrites on blocks that were marked for deletion. This ended up creating overlaps which prevented compactor from starting up.

### Describe the solution you'd like

It'd be nice if `ls` had an option to exclude blocks marked for deletion.

### Describe alternatives you've considered

[2021-12-08 07:23] snuggie12 commented on #4640
I agree on point 1 about size as it appears as if the labels are stored in `meta.json` so now it is more an annoyance showing up in logs and UIs, etc.

[2021-12-08 10:00] bobykus31 opened #4930 "Can not query historical data older then 2021-06-16 from object storage"
**Thanos, Prometheus and Golang version used**:
thanos                      0.23.1
prometheus                   2.31.1

**Object Storage Provider**:
NetApp StorageGRID

**What happened**:
We have data there back from  2020-12-08, data looks fine, no visible issues, all blocks are consistent, no interruption, no overlapping. When we do a query, by some magic it returns only data from 2021-06-16 unt

[2021-12-08 14:37] moadz commented on #4895
Initial proposal here @bwplotka https://github.com/thanos-io/thanos/pull/4932

[2021-12-08 16:05] lpashos opened #4933 "Thanos not reading newly uploaded blocks"
**Thanos, Prometheus and Golang version used**:
Thanos: 0.23.1
Prometheus: 2.30.3

**Object Storage Provider**:
Swift

**What happened**:
Thanos sidecar is uploading blocks to object storage, but I cannot query any new blocks uploaded after this past September. I can see newly uploaded blocks in our swift interface directly but thanos store does not seem to be indexing them or allow me to query th

[2021-12-08 17:42] yeya24 commented on #4929
@snuggie12 Makes sense. This filtering can be done at the fetcher filters. Help wanted!

[2021-12-09 00:22] jmichalek132 opened #4937 "receive: implement prometheus flag--storage.tsdb.retention.size in receive"
### Is your proposal related to a problem?

There is a risk thanos receive can fill up it's disk / volume when disk usage is not monitored even when --tsdb.retention is set since blocks within the time range can grow over time. This can potentially lead to outages.

### Describe the solution you'd like

Implement prometheus flag `--storage.tsdb.retention.size`.
This was originally an experimental

[2021-12-09 11:14] bwplotka commented on #4921
Thanks! I think we might need some help here from UX professionals (:

[2021-12-09 12:27] nfoonf commented on #4915
I think the main info to be in an advisory is

- affected supported versions
- fixed versions
- CVE reference
and thats probably it.

Mostly a security mailinglist serves the purpose of alerting Ops-Engineers not  to discuss issues. So noone besides the Dev-Team needs to be allowed to write to it. Often People plug this kind of lists directly into their Ticket-System (I for example, automatically

[2021-12-09 13:43] bwplotka commented on #4787
Overall makes sense to me (:

[2021-12-09 15:01] jphx opened #4940 "Frontend doesn't handle Thanos Query path prefix properly"
I'm using Thanos Query Frontend v0.23.1, trying to configure it to reference Thanos Query servers that are configured to use a path prefix, say `/qqqq`, using the Thanos Query option `--web.external-prefix=/qqqq`.  To be consistent with how other services are configured to reference services that use a path prefix, I believe the following option syntax to Frontend should be used:
[code]
but this d

[2021-12-09 18:38] vibgy opened #4941 "Allow relabel while compacting blocks"
### Is your proposal related to a problem?

Some labels have super high cardinality but are relevant for a short time.

For example - `pod_name` is useful compared to IP address (`instance` label) if you are looking at relatively recent metrics, but after these pods get deleted, `pod_name` is not relevant.

We would like to be able to drop labels while compacting blocks.

### Describe the solution

[2021-12-10 01:48] yngwiewang commented on #3975
What's the format of the yaml file? I tried this but it did not work:
[code]

[2021-12-10 17:14] wiardvanrij commented on #4831
Short term we should try to check if receiver response is correct. OutOfBounds is unrecoverable. Do we also tell this back to Prometheus? That is at least to resolve the infinite loop of retries.

[2021-12-10 23:13] spjspjspj commented on #3677
I'm on 0.20.0
Think I'm having the same issue.

[2021-12-11 18:16] davidy718 opened #4943 "thanos store dns name not working"
**Thanos, Prometheus and Golang version used**:
bitnami helm chart

**Object Storage Provider**:
s3
**What happened**:
I have a thanos sidecar behind a aws load balancer with a DNSrecord with a certificate for https when I use grpcurl I get a response but when I try to connect the sidecar to thanos query dns+thanos.mycompany.org I get an error ` caller=endpointset.go:525 component=endpointset msg=

[2021-12-12 00:07] yeya24 commented on #4933
Is sidecar uploading new blocks to the same bucket that Thanos store is using?

[2021-12-12 06:33] #4787 closed

[2021-12-12 06:45] yeya24 commented on #4925
Close as the new release is out.

[2021-12-12 06:45] #4925 closed

[2021-12-12 06:49] yeya24 commented on #4916
I think this is a reasonable approach. Right now, when OOO chunks/series happen, the compactor will halt and the only thing I can do besides debugging is just use the bucket rewrite tool to delete the problematic series.

This can be provided as a flag to just delete the OOO chunks/series if users don't really care about debugging this case.

[2021-12-12 22:38] yeya24 commented on #4884
Addressed by #4909

[2021-12-12 22:38] #4884 closed

[2021-12-13 11:26] davidy718 commented on #4943
`--grpc-client-tls-secure` with certificates did the trick

[2021-12-13 11:26] #4943 closed

[2021-12-13 11:31] #1851 closed

[2021-12-13 15:23] GiedriusS opened #4947 "Unblock `main`"
After https://github.com/thanos-io/thanos/pull/1906 we need to create:
* https://quay.io/thanos/thanos-linux-amd64
* https://quay.io/thanos/thanos-linux-arm64
* https://hub.docker.com/r/thanosio/thanos-linux-amd64
* https://hub.docker.com/r/thanosio/thanos-linux-arm64

Following the same naming as https://quay.io/repository/prometheus/prometheus-linux-amd64, https://quay.io/repository/prometheus/p

[2021-12-13 15:50] jleloup commented on #4772
Update: increasing Thanos Query performances helped for some time but eventually our Thanos Rule instances ends up evaluating no rules at all.
The only thing I can add is that the number of goroutines increases a lot when Thanos Rulers stops evaluating

<img width="2396" alt="Screen Shot 2021-12-13 at 16 20 54" src="https://user-images.githubusercontent.com/20790125/145843750-66e37ecf-f3a0-4d8b-bf

[2021-12-13 17:54] lpashos commented on #4933
Yes, sidecar (and rule) is uploading new blocks to the same object store that thanos store is looking. All thanos services that require an object store configuration share the same configuration file to ensure that they are all pointed to the same place.

Additionally, I managed to find a workaround that got thanos store accepting new blocks again, but it may not be viable for some setups. I creat

[2021-12-14 01:19] snuggie12 commented on #4640
@yeya24 Is `meta.json` the only place they are located? If I edit that file will I achieve what I'm trying to do?

[2021-12-14 02:58] DemonLee0719 opened #4948 "Thanos-query does not query data after running for a period of time, health check is ok, but query api timeout."
**Thanos, Prometheus and Golang version used**:
thanos: 0.23.1
prometheus: 2.31.1
openshift: v3.11.88
k8s: v1.11.0

**Object Storage Provider**: None

**What happened**:
when i   ` curl http://thanos-query-pod-cluster-ip:9090/-/healthy`  return ok,
but `curl http://thanos-query-pod-cluster-ip:9090/api/v1/query?query=up`    timeout.
Only one of the three pods will have this situation.
Something mus

[2021-12-14 03:03] DemonLee0719 commented on #4948
livenessProbe url modified to  `/api/v1/query?query=up`. When thanos-query does not work, the pod will be restarted.this is my solution, But not the best solution.

[2021-12-14 04:28] hanjm commented on #4948
same issue with https://github.com/thanos-io/thanos/issues/4766. please use 0.23.2 rc https://github.com/thanos-io/thanos/releases/tag/v0.23.2-rc.0 or 0.24.0 rc

[2021-12-14 06:41] #4948 closed

[2021-12-14 08:34] oronsh commented on #3068
How about a new flag to set max time range to apply compaction on? So if for example the compactor detects metadata with `now - min_time > max_compaction_timerange`  exclude the block

[2021-12-14 12:33] bwplotka commented on #4947
Thanks for clear steps. Doing this now.

[2021-12-14 12:51] bwplotka commented on #4947
* Repos created
* Thanosbot has admin access (not sure if this is a good pattern) to both quay and dockerhub.

Retried, let's see

[2021-12-14 12:55] bwplotka opened #4949 "Automatic update of Busybox sha."
We use ` quay.io/prometheus/busybox@sha256:${BASE_DOCKER_SHA}` as base image. We pin SHA so we now exactly what SHA is running for each docker tag of Thanos image.

Unfortunately, quay kills old SHAs very often and apparently Prometheus busybox is upgraded often too.

Let's automate this process so PR with new sha is proposed once some interval.

AC:
* We no longer need to manually hardcode and ch

[2021-12-14 13:56] mfvanek commented on #3394
We've faced with the similar issue while using Hitachi Content Platform (HCP) as a S3 compatible storage.
The issue is that HCP supports directories and treats them as separate objects, while [AWS S3 does not have a separate entity for directories](https://docs.aws.amazon.com/AmazonS3/latest/userguide/using-folders.html).

In our case, during the operation of Thanos Compactor, empty directories re

[2021-12-14 14:29] bwplotka commented on #4947
Let's see now https://app.circleci.com/pipelines/github/thanos-io/thanos/8372/workflows/5948f554-82f0-4dd9-b0a2-a1ffac1972be

[2021-12-14 14:56] bobykus31 commented on #4298
If it is not possible to remove metrics from downsampled data, is it even possible to recreate downsampled data from raw metrics where unwanted metrics are deleted?

[2021-12-14 15:29] bwplotka commented on #4947
I think it almost works. I think latest is pushed instead of `main-sha` that's why the issue: https://app.circleci.com/pipelines/github/thanos-io/thanos/8372/workflows/5948f554-82f0-4dd9-b0a2-a1ffac1972be

[2021-12-14 18:55] GiedriusS commented on #1851
https://quay.io/repository/thanos/thanos/manifest/sha256:ba0b9192a0db3693afcb220c4c1fc8578a1c25df20dc41697e57b3329fe1d7f8
https://hub.docker.com/layers/thanosio/thanos/main-2021-12-14-7793ab63/images/sha256-9dd0cee98ac7dc4f122e75d4fade9ba2452e8a9a2c0b8cb9a160e55ce1bae0f1?context=explore
We finally have arm64 images as well :tada: please test them out.

[2021-12-14 18:56] GiedriusS commented on #4947
Fixed in https://github.com/thanos-io/thanos/commit/7793ab637780826c88741a4783f0b3ae7dffe6a4 :tada: Images available now:
https://hub.docker.com/layers/thanosio/thanos/main-2021-12-14-7793ab63/images/sha256-9dd0cee98ac7dc4f122e75d4fade9ba2452e8a9a2c0b8cb9a160e55ce1bae0f1?context=explore
https://quay.io/repository/thanos/thanos/manifest/sha256:ba0b9192a0db3693afcb220c4c1fc8578a1c25df20dc41697e57b33

[2021-12-14 18:56] #4947 closed

[2021-12-15 08:22] jperttul opened #4951 "Does Thanos have a dependency to Log4j CVE-2021-44228"
Official statement/comment needed regarding the vulnerability issue mentioned in subject. Thank You.

[2021-12-15 08:34] GiedriusS commented on #4951
Hello. Thanos is a Go project and does not have any Java dependencies thus it is not impacted by issues regarding log4j (:

[2021-12-15 08:37] GiedriusS commented on #4951
I hope this helps. Closing the issue to keep the issue tracker clean. ;P

[2021-12-15 08:37] #4951 closed

[2021-12-15 09:48] kimcagayat opened #4952 "Error executing query: query timed out in expression evaluation from Thanos Querier"
Error executing query: query timed out in expression evaluation from Thanos Querier

**Thanos, Prometheus and Golang version used**:

/ # thanos --version
thanos, version 0.12.2 (branch: HEAD, revision: 52e10c6e0f644ea98fd057e7fbece828d8dd07c7)
  build user:       circleci@241aa351893e
  build date:       20200430-16:37:24
  go version:       go1.13.1

**Object Storage Provider**: Azure Storage Ac

[2021-12-15 12:10] 212850a opened #4953 "thanos images are not available for armv7 architecture"
Thanks to https://github.com/thanos-io/thanos/issues/1851 there are thanos images available for arm64 architecture, but there is still gap with armv7. It would be really helpful to get images for armv7 as stable Raspbian OS is still 32 bit (64 bit is still beta).

[2021-12-15 12:10] 212850a opened #4954 "After https://github.com/thanos-io/thanos/issues/4947 is done, we will finally have this ready. @firefixmaarten could you please open a separate ticket for armv7?"
After https://github.com/thanos-io/thanos/issues/4947 is done, we will finally have this ready. @firefixmaarten could you please open a separate ticket for armv7?

Raised https://github.com/thanos-io/thanos/issues/4953

[2021-12-15 14:54] GiedriusS commented on #4919
Fixed in https://github.com/thanos-io/thanos/pull/4939.

[2021-12-15 14:54] #4919 closed

[2021-12-15 14:59] wiardvanrij opened #4955 "Thanos Queries slow on latest Prometheus (2.23.0) release"
This issue is to track any reports and possible further information.

Use-case:

[code]

[2021-12-15 15:19] wbh1 commented on #4955
The spike directly correlates with upgrading our Prometheus boxes to 2.32.0 (the drop off is likely since people went home for the day). It was still having issues this morning, which is when I reached out in Slack. However, I now think that this morning's issues were because of issues with two instances configured as `store-strict`.

It _seems_ to be slowly improving, so I haven't begun downgradi

[2021-12-15 19:14] wiardvanrij opened #4959 "Improve documentation about deduplication"
Use-case: https://cloud-native.slack.com/archives/CK5RSSC10/p1639588902066100?thread_ts=1639588902.066100&cid=CK5RSSC10

Good question about deduplication and (I think) a good answer as well. Let's create documentation as it's valuable information.

I will update this issue later with better context as I'm on mobile now.

[2021-12-16 06:12] yeya24 commented on #4941
This makes more sense to do some aggregation like recording rule instead of dropping labels directly.

Maybe you can raise this to the Prometheus repo and see how we can extend the compactor to fullfil your requirements.

[2021-12-16 07:24] GiedriusS opened #4960 "Deadlock if error while downsampling"
**Object Storage Provider**:

S3

**What happened**:

Error occurred while downsampling but Thanos Compactor got stuck

**What you expected to happen**:

For Thanos Compactor to get into a "halt" state

**How to reproduce it (as minimally and precisely as possible)**:

Seems like it should be enough to have multiple blocks "to be downsampled" and for an error to occur while downsampling one of the

[2021-12-16 07:26] GiedriusS commented on #4960
If error happens here:

[code]

Then:
[code]

Will never execute. `ctx` will never be done because we pass `context.Background`.

[2021-12-16 08:13] #4954 closed

[2021-12-16 08:31] aymericDD commented on #4878
Resolved by https://github.com/thanos-io/thanos/pull/4879

[2021-12-16 08:31] #4878 closed

[2021-12-16 09:52] matej-g opened #4961 "Logging: Simplify and adjust request logging configuration"
As seems to stem from the discussion in https://github.com/thanos-io/thanos/pull/4934, request logging implementation and configuration seem to have a couple of confusing features, which might be a bit misleading for the users.

I'll try to summarize some of my and @PhilipGough's observations below:
- There is no simple way to determine if the request logging for a component has taken effect - per

[2021-12-16 09:53] matej-g commented on #4961
There's already https://github.com/thanos-io/thanos/pull/4956 to address the log level portion of this issue.

[2021-12-16 14:13] matej-g commented on #4949
We had a small discussion on the Slack channel (https://cloud-native.slack.com/archives/CL25937SP/p1639582762123800) and it came up to couple of suggestions:
- Since it looks like we're currently always forces to use the `latest` image (since there's only that image tag in the https://quay.io/repository/prometheus/busybox?tab=tags repository), one idea was to - 1) _not_ pin the SHA, but get it on-

[2021-12-16 14:43] wiardvanrij commented on #4949
At the moment working on this

[2021-12-16 15:27] matej-g commented on #4949
@wiardvanrij  I think it finally clicked for me why we cannot do it without pinning in the repository, since then whichever version / commit we're building the Thanos image for, we're always on `latest` BusyBox image - but it seems if the old BusyBox images do not exist after `latest` is overwritten, realistically we're unable to build with those non-`latest` base images since they are not availab

[2021-12-16 16:21] matej-g commented on #4866
We started hit a lot of flakes recently on this test case, but looks like the issue is with `thanos_blocks_meta_synced` on line 848 with:
[code]

[2021-12-16 17:23] wiardvanrij commented on #4949
Awesome! :D Yea I can explain this rationale later on, I got to go now, will update my PR later with exactly that. Also cheers for working together on this 👍

[2021-12-16 21:39] CitadelCore commented on #2241
Still an issue

[2021-12-17 09:35] GiedriusS commented on #4866
Ran this test quite a few times locally and cannot reproduce :/

[2021-12-17 09:58] bwplotka commented on #4941
As mentioned offline, I love the idea and fact we do that during compaction here, but I believe we have a room in providing better user experience and somehow marry the relabel with recording rule and removal of unnecessary series. Ideally we can have such request go around Prometheus ecosystem for more opinions (:

[2021-12-17 11:20] bboreham opened #4967 "Memcached client can start high numbers of goroutines"
[this behaviour was observed with the code inside Cortex, but I believe it's called the same way inside Thanos]

This code: https://github.com/thanos-io/thanos/blob/397fcb19d93b2a279b57ad10ff1aea811f62345c/pkg/cacheutil/memcached_client.go#L460-L482

starts a goroutine for each batch requested, then if the admin has set a bound on concurrency they will mostly block here:
https://github.com/thanos-

[2021-12-17 12:32] #4960 closed

[2021-12-17 13:05] GiedriusS commented on #4967
Perhaps this could be worked to always have a constant number of worker goroutines?

[2021-12-17 14:54] hanjm commented on #4967
I write a general `doWithBatch` function, it could process both concurrency control and batch control. May be it fit this also?
https://github.com/thanos-io/thanos/blob/main/pkg/cacheutil/redis_client.go#L280-L307

[2021-12-17 19:28] dpachiappan opened #4971 "Thanos Querier not returning data more than 2 days"
**Thanos Version: **thanos:v0.19.0-rc.0

**Object Storage Provider**: Amazon S3

**What happened**:

Thanos Querier is not returning data more than 2 days old.

**What you expected to happen**:  We expect data to be shown for any date and time range that we chose as the data is stored in the s3 bucket with 1 year retention.

**How to reproduce it (as minimally and precisely as possible)**:

Attach

[2021-12-18 09:38] GiedriusS commented on #4971
Do you have Thanos Store running and connected to Thanos Query with `--store`?

[2021-12-18 10:47] bwplotka opened #4972 "Consider using true consistent hashring impl in Receive"
I just noticed that our receive hashring was never... hashring (:

Our mod hash is quite naive and has problems to shard our data when changes occur. Every time new replica is added or removed series shards are jumping across replicas. IF we want more dynamic system we need to fix this.

cc @spaparaju @squat @jmichalek132  @onprem

AC:

* Use some hashring implementation (e.g https://github.com/se

[2021-12-18 10:54] squat commented on #4972
Just to for correctness: our hashring _is_ a hashring, however it's not a consistent hashring! I totally support this; it's one of the main improvements I suggested during last year's Thanos Receiver kubecon talk. This would be a big help to help us horizontally scale receiver sets without having metrics bounce around everywhere.

[2021-12-19 05:32] hanjm commented on #4952
1. what about the query metrics size? you can execute `count(node_cpu_seconds_total)` to exeplan that, general speaking , if the count more than 10k, it will be slowly.

2. The version 0.12.2 seems very very old. Could you try the latest version? [0.22](https://github.com/thanos-io/thanos/releases/tag/v0.22.0) or [0.23.2](https://github.com/thanos-io/thanos/releases/tag/v0.23.2-rc.0)?

[2021-12-19 14:33] 4molybdenum2 commented on #4967
[code]

I was thinking something like this? That being said I am not too familiar with the code...

[2021-12-20 00:49] wiardvanrij commented on #4967
We should however consider if this is actually the case at Thanos. Granted that I was running a version ~0.17-0.18ish but I had a consistent amount of goroutines equal to I believe `max_get_multi_concurrency`. Certainly not the > hundreds of thousands of goroutines you are experiencing.

Though I also figured that I could not really understand why it would keep the routines alive when not using it

[2021-12-20 00:53] wiardvanrij commented on #4930
Could you perhaps check in the Query Component UI of what stores it has? Mainly the focus would be on the relevant label sets and their announced time frames.

[2021-12-20 08:29] bobykus31 commented on #4930
Yes, of course. I expect to have this data at least as deep as 10-06-2021 (because of blocks start time ) from NetApp StorageGrid obj storage, it is kind of s3 obj storage. I can not find any changes in the time frame where metrics stop being viewed  (16-06-2021) i.e. between  10-06-2021 - 24-06-2021. In thanos Query Component UI labels of obj store looks like

[code]

The /etc/prometheus/s3.yml w

[2021-12-20 08:59] yeya24 commented on #4804
Close as #4878 was closed. Thanks @AndrewNiven1

[2021-12-20 08:59] #4804 closed

[2021-12-20 09:58] clyang82 commented on #4820
List the tasks for this issue:
- [ ] Support custom CA for S3
- [ ] Support custom CA for Azure
- [ ] Support custom CA for GCS
- [ ] Update e2e test to enable secure access to MinIO with TLS
- [ ] Update kube-thanos to support mount CA certs by secret

[2021-12-20 18:16] #4929 closed

[2021-12-20 20:17] wiardvanrij commented on #4930
Well, you could checkout the https://thanos.io/tip/components/tools.md/ - web for example.
Also it _could_ be a config thing, as a StoreAPI could announce a certain date for which it _will_ (not _can_) return data. Especially when chaining components, perhaps this was an issue. Please do check it out with the thanos tool, perhaps it gives more info :)

[2021-12-20 21:38] bobykus31 commented on #4930
Hmmm… but i can read all blocks with thanos tool inspect… What exactly I
can expect from thanos tool web, is it not the same I posted above on image
attached?
man. 20. dec. 2021 kl. 21.17 skrev Wiard van Rij ***@***.***>:

--
Ihor Piddubnyak,
RHCE 805009434639408

[2021-12-20 21:44] wiardvanrij commented on #4930
Eh yea sorry, totally misread your comment. Ignore mine :)

[2021-12-21 00:49] wiardvanrij commented on #3570
Still relevant

[2021-12-21 01:29] kimcagayat commented on #4952
Hi @hanjm, will get the details

[2021-12-21 01:40] kimcagayat commented on #4952
Here's the value I got after executing count(node_cpu_seconds_total) from thanos: 42100

[2021-12-21 03:48] hanjm commented on #4952
yes. but 42k time series also too large to make ad-hoc query. are you want to get total cpu usage? you could optimize by recording_rule. https://prometheus.io/docs/prometheus/latest/configuration/recording_rules/

Please read this blog provide more technology detail about PromQL https://valyala.medium.com/how-to-optimize-promql-and-metricsql-queries-85a1b75bf986

[2021-12-21 17:41] HighWatersDev commented on #4867
Facing the same issue. Anyway to provide a full config using MSI with example values in this issue?

[2021-12-22 01:51] kimcagayat commented on #4952
Thanks @hanjm for the feedback. Does updating the Thanos querier needs update as well on Thanos Sidecar?

[2021-12-22 03:18] wiardvanrij commented on #3570
If the start and end time falls between a new day (passed 23:59), it will see this as '24h' (default --query-range.split-interval). My guess is that certain behavior has an underlying bug or that I'm a lost in the complexity. It will need to double the testing values if the hour is "1" for `thanos_frontend_split_queries_total` and `cortex_cache_*` However, only `thanos_frontend_split_queries_total

[2021-12-22 04:41] hanjm commented on #4952
It is recommended keep

[2021-12-22 06:21] yeya24 opened #4980 "Include promtool in the official Thanos image"
### Is your proposal related to a problem?

promtool is very handy when performing operations related to TSDB data. For example, dump TSDB samples and analyze TSDB index. This is very useful in Thanos receiver.

I want to take a look at what labels in a tenant's blocks but there is no such tooling in the Thanos pod.

### Describe the solution you'd like

Download the promtool binary in Thanos Dock

[2021-12-22 07:30] SeanTse opened #4981 "component query get stalled"
We have a query deployed with docker-compose in the production environment, which looks like this.
[code]
When this query runs for a day or two, it gets stuck but dosen't crash. Looks like below and stuck here:
![query](https://user-images.githubusercontent.com/17649478/147047806-3c187f78-874b-44ee-8d7e-9f29bf913b34.jpg)
![postman](https://user-images.githubusercontent.com/17649478/147048061-f41be

[2021-12-22 09:47] bobykus31 commented on #4930
So, this is what I did, I downloaded some block 01FN3PQAF98TWEVDA0P36CSCY5 from obj storage to my local disk into data folder, then run

`./promtool  tsdb dump `

Shows me nothing. Then I tried

`./promtool  tsdb list
BLOCK ULID                  MIN TIME       MAX TIME       DURATION        NUM SAMPLES  NUM CHUNKS   NUM SERIES   SIZE
01FN3PQAF98TWEVDA0P36CSCY5  1623283200005  1624492800000  335h59

[2021-12-22 12:50] GiedriusS commented on #4981
Please try 0.23.2, it has some critical fixes that you could've ran into.

[2021-12-22 16:38] nberkley commented on #4866
Not 100% sure it's related, but seems likely: I keep seeing

From both the TestCompactWithStoreGatewayWithPenaltyDedup and TestCompactWithStoreGateway tests in CI. Local runs of those tests pass just fine.

[2021-12-22 17:01] wiardvanrij commented on #4980
I believe a container should do one thing, and do that good. This generally means one binary / running process. For example how we handle logs, that uses a sidecar. Using promtool could also be done with a sidecar. That removes moving parts in the original container (and also the extra weight/size).

However I also understand the value that it brings so I'm also a bit on the fence on what would be

[2021-12-22 17:09] nberkley commented on #4866
Ok, nope, pretty sure my thing is unrelated. It complains about overlapping blocks and halts in a test specifically setting up overlapping blocks. Not sure yet how this differs between CI and local, but it's definitely not the same as those timeout issues.

[2021-12-22 19:22] wbh1 commented on #4955
Issue may be related to https://github.com/prometheus/prometheus/pull/10030

[2021-12-22 20:40] wiardvanrij opened #4988 "Build: Implement parallelism for build process"
- As we do now with E2E testing, it's an efficient way to speed up the process. Especially when the project grows.
- It is in preparation of having multiple architecture builds. We started with one, now arm64 is added and armv7 is high on the wish list.

Deliverable would be that building of the container images happen in parallel.

I already made some effort to do this, but would like to hold my

[2021-12-22 20:45] wiardvanrij opened #4989 "Build: Upgrade Promu to latest"
### Is your proposal related to a problem?

Relates to #4988 but it's also just nice to have up-to-date packages. Currently we run 0.5, 0.13 is out.
It relates to that issue, because release 0.11 included parallelism: https://github.com/prometheus/promu/releases/tag/v0.11.0

At the moment I also tried implementing this, but I guess it hits some form of CGO / non-CGO quirks. Causing builds to fail

[2021-12-22 20:48] wiardvanrij commented on #4953
My 2 cents; It would be nice to chain a few things here.

- #4965 for not having to pin sha.
- #4989 for having an up-to-date build process and enabling parallelism
- #4988 for actually implementing that parallelism so we don't hit an inefficiency issue while building

I think eventually all those things make it really easy to implement this :+1:

[2021-12-23 00:28] wiardvanrij commented on #4989
The thing I'm stuck on at the moment; https://github.com/prometheus/promu/issues/228

[2021-12-23 02:38] WeiTangLau commented on #1851
Hi @GiedriusS, given the latest release of v0.24.0 and v0.23.2 of thanos, the arm64 images are not built accordingly. Why is this so?

[2021-12-23 02:41] SeanTse commented on #4981
Thanks! I upgrade to the latest 0.24.0. Hopefully, it will solve my problem.

[2021-12-23 04:07] zakiharis opened #4990 "store: Fail to query - 503 Service Temporarily Unavailable"
**Thanos, Prometheus and Golang version used**:
thanos:v0.22.0
prometheus:v2.29.2

**Object Storage Provider**:
minio:RELEASE.2021-06-17T00-10-46Z

**What happened**:
Unable to query some of the instances in the same Prometheus job for more than 14 days (14 days is Prometheus retention time). In some instances, I'm able to query for 6 months data (6 months is thanos retention time)

**What you exp

[2021-12-23 04:55] Navya-Andra commented on #4959
@wiardvanrij I am new to opensource and would like to take up this issue. Can you please guide me in contributing if the issue is still open

[2021-12-23 17:35] wiardvanrij commented on #4959
Of course! Welcome :)

[2021-12-23 20:18] gebn opened #4992 "Frequent sync of block metadata since v0.24.0"
**Thanos, Prometheus and Golang version used**:

[code]

[code]

**Object Storage Provider**: AWS S3

**What happened**:

Since upgrading from v0.23.1 to v0.24.0, without changing any params or config, Compact synchronises block metadata every 5 minutes.

**What you expected to happen**:

Given the config below, Compact to only synchronise every 8 hours, with no requests to S3 in between, as befor

[2021-12-23 20:49] yeya24 commented on #4992
@gebn This is one new feature in the latest release https://github.com/thanos-io/thanos/pull/4801.
The compactor now will synchronize blocks metadata every 5m to calculate the progress of compaction, downsampling and retention and expose the progress to metrics.

To change this behavior, you can modify the `--compact.progress-interval` flag to a larger time or use `0s` to disable progress checking

[2021-12-23 20:50] #4992 closed

[2021-12-23 20:59] yeya24 opened #4993 "Receiver: data doesn't get deleted even beyond the retention time"
**Thanos, Prometheus and Golang version used**:
v0.23.2-rc.1

**What happened**:

We are using Thanos Receivers to accept metrics from remote write. The configured tsdb retention is 6h.

But now, I think the data from `default-tenant` is already beyond the configured retention and doesn't get deleted.

![image](https://user-images.githubusercontent.com/25150124/147290550-d2423541-d111-49a1-a6ee-a9

[2021-12-23 21:02] gebn commented on #4992
@yeya24 Ah, thanks for the prompt reply! I did look over the changelog, but interpreted that entry as only exposing additional metrics rather than adding a new feature.

[2021-12-23 22:19] yeya24 opened #4994 "Receiver: able to delete data based on label matchers"
### Is your proposal related to a problem?

On the receiver side, there is no way to delete data on TSDB. It would be great to expose some management API to do so or have some thanos subcommand to do data cleaning.

Another solution is to first add tsdb data deletion support at promtool and have promtool in the thanos container image.

[2021-12-24 04:32] koktlzz opened #4995 "Receive: Load distribution for hard tenant doesn't work"
**Thanos, Prometheus and Golang version used**:

Thanos: 0.23.1
Go: 1.16.8
Prometheus: 2.28.1

**Object Storage Provider**:

Huawei S3

**What happened**:

There is one soft tenant and two hard tenants(called sc and ci respectively) in my cluster and each of them has a thanos receive and obs bucket. When the prometheus of the hard tenant send metrics to the receive of soft tenant by remote write,

[2021-12-24 05:45] Antiarchitect opened #4996 "0.24.0 Compactor. invalid size"
**Thanos, Prometheus and Golang version used**:

Thanos 0.24.0 official image for prometheus sidecars.
bitnami/thanos:0.24.0-scratch-r0 and bitnami thanos chart 8.2.5

**Object Storage Provider**:
Self-managed Ceph (RadosGW)

**What happened**:

Thanos Compactor crashes 50 times for 12 hours.

[code]

**What you expected to happen**:
Compaction passes normally.

**How to reproduce it (as minimally

[2021-12-24 08:38] squat commented on #4995
Hi @koktlzz, this is a result of your configuration. Your hashring configuration declares the soft tenancy hashring before all others. Thanos Receiver checks the hashrings in order to find the first hashring that will accept a request and sends the request there. In your case, the soft tenant is checked first, and all requests match the soft tenant, so all requests are sent there.

Please take a l

[2021-12-24 09:01] GiedriusS commented on #4996
Is it reproducible with the previous version? Sounds like you got a corrupted block 🤔

[2021-12-24 14:46] Antiarchitect commented on #4996
@GiedriusS It appeared night after evening upgrade. Block was generated by 0.23.1. I deleted it to make compactor go on.

[2021-12-26 02:11] yeya24 opened #4998 "Preallocate slices to improve efficiency for receiver"
### Is your proposal related to a problem?

I am profiling the receiver write path and looking for ways to improve the CPU usage.

![image](https://user-images.githubusercontent.com/25150124/147397028-3d3810a4-067f-4688-837e-ff6ef5b359be.png)

![image](https://user-images.githubusercontent.com/25150124/147397037-c22149b1-dac7-47c1-b97f-be335d4d16c0.png)

I found that at https://github.com/thanos-i

[2021-12-26 08:36] koktlzz commented on #4995
Hi @squat , thanks for your patient answer! It works for me.

[2021-12-26 08:36] #4995 closed

[2021-12-26 12:20] yeya24 opened #5002 "Receiver: instrument multitsdb tenant series tracing tag correctly"
At https://github.com/thanos-io/thanos/blob/main/pkg/store/multitsdb.go#L274, a `tenant` tag is added. But it uses `ClientAddContextTags` method and that method is only used in gRPC method calls. In the case of tenant's local TSDB, there is no gRPC call anymore so the instrumentation doesn't work.

I expect to see https://github.com/thanos-io/thanos/blob/main/pkg/store/multitsdb.go#L172 get proper

[2021-12-26 13:43] feiniao886 opened #5003 "Mint: 1640350337650 Maxt: 1640436737650: rpc error: code = Aborted desc = fetch series for block 01FQR58HTEPEQY7H4AYN7KHHTX: load chunks: fast forward range reader: unexpected EOF" msg="returning partial response""
**Thanos, Prometheus and Golang version used**:
thanos：v 0.24.0
prometheus:v2.27.1
run on k8s

**Object Storage Provider**:  ks3 object

**What happened**:
Mint: 1640350337650 Maxt: 1640436737650: rpc error: code = Aborted desc = fetch series for block 01FQR58HTEPEQY7H4AYN7KHHTX: load chunks: fast forward range reader: unexpected EOF" msg="returning partial response"

**What you expected to happen

[2021-12-28 12:40] LukaszWasko opened #5008 "field tls_config not found in type s3.HTTPConfig"
**Thanos, Prometheus and Golang version used**:
thanos-compact:             0.24.0 with minio
go version:       go1.16.12

**Object Storage Provider**:
NetApp S3

**What happened**:
Got error `field tls_config not found in type s3.HTTPConfig` when using in `'--objstore.config-file /etc/thanos-compact/s3.yaml` with:
[code]

**What you expected to happen**:
Thanos+minio will read the content of CA f

[2021-12-28 14:54] Antiarchitect commented on #4996
Close it if you like. It seems like appeared one time. After deletion all is ok in about of 4 days

[2021-12-28 20:07] GiedriusS commented on #5008
Hi, the "tip" documentation shows the state of the main branch. Thus, 0.24.0 does not contain this feature. If you want this feature then please use container images tagged with the main tag. I think this solves your problem.

[2021-12-28 20:07] #5008 closed

[2021-12-29 10:31] ThorManager opened #5009 "Alerts page Jump to localhost when viewing"
Hello Dear developer：
        Query When viewing the alerts page, if an alarm is triggered, click on the rule and jump to localhost, please help to check it out, thank you very much, and look forward to your reply
![image](https://user-images.githubusercontent.com/96821352/147653117-b8a002b1-d06d-4a07-82b0-e1c75f9d3bd2.png)

[2021-12-29 10:39] GiedriusS commented on #5009
Hi, do you have `--alert.query-url` set? Thanos Query uses that for formatting the URL. If it is not specified, it uses the listening IP/port. It seems like that is your case. I recommend setting that parameter. Closing this issue to keep the issue tracker clean. Let me know if that helps 😁

[2021-12-29 10:39] #5009 closed

[2021-12-29 11:00] ThorManager commented on #5009
Thank you very much. I saw it when I sent it. I'm sorry to waste your time😁

[2021-12-29 11:06] ThorManager commented on #5009
Can you provide the API document of receive ~ I want to write my own monitoring plug-in😁

[2021-12-29 12:10] ThorManager opened #5010 "Can you provide the API document of receive ~ I want to write my own monitoring plug-in"
Can you provide the API document of receive ~ I want to write my own monitoring plug-in

[2021-12-29 12:39] paulgrav opened #5011 "Thanos Query’s query_exemplars API behaviour differs from Prometheus’s"
**Thanos, Prometheus and Golang version used**:  main-2021-12-23-cb447781, v2.31.1, ??

**Object Storage Provider**:

Backblaze B2 using S3 API

**What happened**:

I have a Grafana 8.3.3 instance configured to with a Prometheus datasource that points to Thanos Query. I noticed that Grafana would not display exemplars when the datasource was Thanos Query, but functioned as expected when Prometheus

[2021-12-29 17:50] yeya24 commented on #5011
Questions about your setup:
Have you configured Prometheus running with exemplar storage?

Have you configured exemplar stores in your thanos querier?

[2021-12-29 18:00] yeya24 commented on #5011
The fix is straightforward. We can use `parseTimeParam` to parse time so that a default value can be set when time is not specified https://github.com/thanos-io/thanos/blob/main/pkg/api/query/v1.go#L824.

Related code in Prometheus: https://github.com/prometheus/prometheus/blob/main/web/api/v1/api.go#L499

[2021-12-29 18:16] paulgrav commented on #5011
Yes. I’ve set `enable-feature=exemplar-storage` in my Prometheus setup. And I’ve also set `send_exemplars: true` in the `remoteWrite` config.

I wasn’t aware that was required. I have configured Thanos Receive with `--tsdb.max-exemplars=10000`, I thought that was sufficient.

I do receive exemplars if I handcraft a query to Thanos Query. So I assumed my Thanos setup was configured correctly. e.g.,

[2021-12-29 18:48] yeya24 commented on #5011
I do receive exemplars if I handcraft a query to Thanos Query. So I assumed my Thanos setup was configured correctly. e.g.,

Yeah, then that's all good. Seems the exemplar store is auto discovered since 0.23.0

[2021-12-29 21:26] aviralharsh commented on #1373
Hi @alexf101, my organisation is also facing the same issue of backing up the latest 2 hrs of data in prometheus. Please share how you resolved this issue. We are currently planning to adopt Thanos, with 2 or more instances of Prometheus. Thanks.

[2021-12-30 03:33] ThorManager opened #5012 "Is thanos able to directly read the data in the push gateway ？"
I have n pushgateways. There are some indicators in them. You don't need Promethus to collect pushgateway data. No, there is a way to access pushgateway directly with thanos

[2021-12-30 08:51] ThorManager opened #5013 "Some labels rules defined by Prometheus can't get the custom labels value ？"
Dear developer

Can't I get some labels defined by myself when I need to set the global view, For example, I defined that {{$labels. Role}} is empty when the role alarms. Is there a way to solve it?
![image](https://user-images.githubusercontent.com/96821352/147736326-a7925933-dee6-4a8e-9288-4d7a490fe3cb.png)
![image](https://user-images.githubusercontent.com/96821352/147736355-0dbb95dd-69b0-4542-

[2021-12-30 09:30] yeya24 commented on #5012
It is not possible as far as I know. You need to use a prometheus to scrape its data first.

[2021-12-30 09:30] #5012 closed

[2021-12-30 09:31] yeya24 commented on #5010
What requirement do you have in mind?
The write API is the same as Prometheus remote write.

[2021-12-30 09:34] yeya24 commented on #5013
That's more like a question to prometheus rules configuration.

To use the label from template, you need to have role label in your metric.

[2021-12-30 09:34] #5013 closed

[2021-12-30 10:05] GiedriusS commented on #4981
Can we close this now?

[2021-12-30 11:01] SeanTse commented on #4981
It didn't happen again. I think we can close this. Thanks very much!

[2021-12-30 11:01] #4981 closed

[2021-12-30 12:36] korenlev opened #5016 "store on local filesystem for X (ex:days) and on S3 beyond X"
### Is your proposal related to a problem?

  highest performance for shorter-lived data (queries to local ssd)
  lower performance for longer-lived data (queries to s3)

### Describe the solution you'd like

define 2 types of object storage options , assign 1 for initial period and the other for beyond X

OR:
dynamically defined storage option based on certain criteria ?
### Describe alternatives

[2021-12-30 14:19] GiedriusS commented on #5016
This is already possible with options `--min-time` and `--max-time` just that queries will be actually executed in memory, in a central location due to the lack of https://github.com/thanos-io/thanos/issues/305. Thus, I suggest closing this :smile:

[2021-12-30 17:00] korenlev commented on #5016
just to be clear please:
is the current logic to check first the Prometheus local persistent disk ?
if the store is defined as aws s3 and Prometheus local disk has the requested metrics  (Chunk/s) for that requested time period - will aws s3 be contacted at all ?

[2021-12-30 17:09] yeya24 commented on #5016
If both s3 and Prometheus store are in the requested time range, then they will be contacted at the same time and querier will merge the results and do some deduplication.

[2021-12-30 23:05] korenlev commented on #5016
greatly appreciate your swift reply guys ! closing this

[2021-12-30 23:05] #5016 closed

[2021-12-31 13:55] Himanshu2107 commented on #4646
I would like to take up this issue.

[2022-01-01 20:20] #5011 closed

[2022-01-03 08:17] GiedriusS commented on #4949
Can we close this now? (:

[2022-01-03 09:50] GiedriusS commented on #4407
https://github.com/thanos-io/thanos/pull/4290 has been running in prod here for the past couple of months but I suppose it is worth investing time looking into whether it is possible to pushdown this logic to the gRPC level.

[2022-01-03 11:01] sunkadavar opened #5021 "Get thanos fails- build issue"
**Thanos, Prometheus and Golang version used**:
Thanos version: latest
Go: go version go1.17.5 linux/amd64

**Object Storage Provider**:

**What happened**:
go get github.com/thanos-io/thanos/cmd/thanos
The above thanos install fails with below error.
go get: installing executables with 'go get' in module mode is deprecated.
	Use 'go install pkg@version' instead.
	For more information, see https:/

[2022-01-03 13:30] Navya-Andra commented on #4959
@wiardvanrij made the pull request. Please provide the feedback - https://github.com/thanos-io/thanos/pull/5004

[2022-01-03 15:39] matej-g commented on #4990
Is `minio` working properly and is reachable? To me it seems simply that the client is getting `503` from the object storage.

[2022-01-03 15:43] matej-g opened #5022 "UI: Color code stores based on how they are being queried"
The idea originated from this comment, see for full context https://github.com/thanos-io/thanos/pull/4908#discussion_r771194974

Basically, we could improve the user experience by providing more information on how the stores are being queried, beyond providing just min / max time or just showing that the min / max time is not available, which does not in fact tell users if that store will be queri

[2022-01-03 16:31] GiedriusS opened #5024 "Recording rules in rules page don't look good with dark theme"
It seems like the recording rule panel doesn't have the necessary styling applied to it in the dark mode:
![Screenshot from 2022-01-03 18-29-21](https://user-images.githubusercontent.com/2377233/147955261-112d0984-c478-4f9d-823a-7514f004422b.png)
![Screenshot from 2022-01-03 18-30-53](https://user-images.githubusercontent.com/2377233/147955265-125b2da0-4ac0-472c-bbab-2ca6bc2f413b.png)

[2022-01-03 17:04] mozai commented on #3720
I've bumped `--chunk-pool-size` up to 8GB after a couple months, not a year, and already I'm getting "allocate chunk bytes: pool exhausted" errors again for only 1d of time range.

[2022-01-03 19:45] wiardvanrij commented on #4996
Cheers for letting us know!

[2022-01-03 19:45] #4996 closed

[2022-01-03 19:54] wiardvanrij commented on #5021
`go get` is deprecated and unfortunately, the consensus seems to be that `go install` will never support replaces in `.mod` files. We absolutely need those replacements in order to have a non-blocking flow to continue the development of Thanos.
I also don't think using go get/install methods is the preferred way to install Thanos. We provide the binaries, container images, and various tools in the

[2022-01-03 19:58] wiardvanrij commented on #5002
Added tag `good first issue` - even though this is somewhat deeper into the tech, I think with the comment from @yeya24 it should be a fun thing to pick up. Feel free to ask help if needed.

[2022-01-03 20:00] wiardvanrij commented on #4961
LGTM, though it should get some more actionable items IMO :)

[2022-01-04 04:09] secrashi commented on #5024
Hello, I would like to work on this. Can you assign it to me?

[2022-01-04 07:27] lewandowskim1988 commented on #4559
It looks like Thanos update to `v0.24.0` resolved this issue. Now I am able to use `IAM Role` without any problems with the same policy that was previously attached to `IAM User`.

[2022-01-04 07:45] jaiakash commented on #5024
Hello, I like to contribute to this issue.

[2022-01-04 07:45] jaiakash commented on #5022
Hi, I would like to work on this issue.

[2022-01-04 09:41] gabrielbatir opened #5025 "irate/rate query issue on the deduplicated metrics"
**Thanos, Prometheus and Golang version used**:

Thanos deployed with kube-prometheus. Initial issue detected while using thanos 0.23.1. Upgraded only thanos query to 0.24.0 but still having this issue.

Thanos compact:
`compact

[2022-01-04 09:58] yeya24 commented on #5025
Deduplication doesn't work in your case because that's for 1:1 deduplication so mainly in receiver cases.
In the case of HA prometheus, you cannot do deduplication and the two series merge into one. I think that's the reason why irate won't work for you. If you disable deduplication then it should work.

[2022-01-04 10:01] gabrielbatir commented on #5025
Now I noticed that the deduplicated stream actually contains the metrics from both prometheus replicas and in most cases the values are identical for both.
I am not really sure how irate works but could this be the issue?

Could this be fixed by using --deduplication.func=penalty for the compactor? From the docs this option seems to break irate in other ways.

[2022-01-04 11:43] gabrielbatir commented on #5025
@yeya24 From what I can see at https://thanos.io/tip/components/compact.md/#enabling-vertical-compaction in order to enable vertical compaction I need to use that hidden flag.
From that page I understand that it is not enabled by default yet in my case, as you can see above, I do have it but compact does vertical compaction.

Maybe the note at https://github.com/thanos-io/thanos/blob/56d99eb8123ae

[2022-01-04 14:29] jmichalek132 commented on #4772
We hit this too in one of our clusters with ruler version 0.23.1 and the same pattern (the increase of number of goroutines over time). I am unfortunately not able to  provide pprof, because priority when this was discovered was to mitigate so we restarted all the pods. Could it be however possible that this is caused by similar issue as https://github.com/thanos-io/thanos/pull/4795 ?

[2022-01-04 14:42] jmichalek132 commented on #4772
@jleloup We didn't encounter these kind of issue with v0.21.1 so I am going to rollback ruler to that version.

[2022-01-04 14:44] bwplotka commented on #4972
Hm, I don't think module hash can be called hashing, but nevertheless, I think we are on the same page! (((:

[2022-01-04 14:44] GiedriusS commented on #4772
v0.23.2 contains the fix for https://github.com/thanos-io/thanos/pull/4795 so I'd suggest trying that out to see whether it helps (:

[2022-01-04 14:45] jmichalek132 commented on #4772
@GiedriusS thanks for the quick response, quick question on that is that code path executed in ruler mode?

[2022-01-04 14:48] GiedriusS commented on #4772
Ruler executes queries using the same /api/v1/query_range API and that API might not return any responses due to https://github.com/thanos-io/thanos/pull/4795. So, I think what happens in this case is that the Prometheus ruler manager continuously still tries to evaluate those alerting/recording rules but because no response is retrieved from Thanos, the memory usage stays more or less the same. :

[2022-01-04 14:56] jmichalek132 commented on #4772
In our case

That might be what happened in our case, we upgrade all thanos components to v0.23.1 from v0.21.0. We noticed some query performance degradation (at the same time the ruler in one cluster got stuck this way), we downgraded the thanos query instances, but not the ruler instances, and we didn't notice this ruler being stuck in this state until now.

[2022-01-04 15:42] GiedriusS opened #5026 "Do not set Thanos Query as ready before first service discovery"
### Is your proposal related to a problem?

After a restart, Thanos Query starts up with no store nodes connected to it before the first iteration of service discovery succeeds. During this time, Thanos Query is "ready" which means that traffic flows to it even though it knows about zero store API nodes. Thus, "no data" responses get cached.

### Describe the solution you'd like

The query compone

[2022-01-04 16:11] wiardvanrij commented on #5021
Aha, I think we should update those docs! Thanks :)

[2022-01-04 17:17] ahurtaud commented on #4466
It looks like 0.24.0 is as stable as before v0.22.
I think it was a duplicate of what causes: https://github.com/thanos-io/thanos/pull/4962
And maybe https://github.com/thanos-io/thanos/pull/4928

Anyway I suggest updating to v0.24.0 which seems to fix everything we had!
Agree to close on my side.

[2022-01-04 17:22] wiardvanrij commented on #4466
Thanks for the update! Appreciate it and I am glad it works stable again.

[2022-01-04 17:22] #4466 closed

[2022-01-04 17:37] ianbillett commented on #4326
No progress since https://github.com/thanos-io/thanos/issues/4359 was merged. Still valid & valuable though.

[2022-01-05 02:37] ThorManager opened #5029 "How long has the directory been compressed? It cannot be cleaned up. It must be cleaned up manually. If it is not cleaned up, there will be data disorder"
report errors： get segment range: segments are not sequential\nopening storage
Data disorder：
![image](https://user-images.githubusercontent.com/96821352/148151854-6ab99deb-cfe2-4f99-82d5-0ce6d9cb0ef3.png)

[2022-01-05 02:45] ThorManager opened #5030 "There is data in the store, but the query cannot find it"
![image](https://user-images.githubusercontent.com/96821352/148152610-0053d079-cb3d-4f2e-9cb0-09f55ed2393a.png)
![image](https://user-images.githubusercontent.com/96821352/148152668-fc69e816-e7d9-4ba2-a808-f1b36168708f.png)

[2022-01-05 02:48] ThorManager commented on #5030
My fault Sorry

[2022-01-05 02:48] #5030 closed

[2022-01-05 02:48] ThorManager commented on #5010
yes

[2022-01-05 03:15] #5010 closed

[2022-01-05 06:52] RayHuangCN commented on #5025
I meet the same case.

[2022-01-05 07:02] yeya24 commented on #5025
Ideally it should solve the issue but now the functionality is not very stable when downsampling is also enabled so I wouldn't recommend enabling it.

Yeah that's a good idea. Would you like to contribute and update the doc?

[2022-01-05 09:08] ahurtaud commented on #4924
I have the same issue on v0.24.0 (but was valid in 0.23 also)
Here the goroutine pprof after long time being stuck:
[ruler-goroutine.zip](https://github.com/thanos-io/thanos/files/7813564/ruler-goroutine.zip)

[2022-01-06 11:34] ikonyeama commented on #3004
This is still ongoing, seeing this behaviour with rpc error: code = Unavailable desc = connection closed\"}\n" and caller=rule.go:738 component=rules err="read query instant response: expected 2xx response, got 422. This should be a warning imo.

[2022-01-06 11:36] bwplotka commented on #4937
Notes from meeting:

* Use case - better reliability.
* Tricky for multi-tenant TSDB.
* Ideas:
   * Separate go routine that checks what blocks were uploaded what's not.
   * Make replica unready for ingestion.

[2022-01-06 12:00] GiedriusS opened #5033 "Pushdown: fix querying when proxied metrics have a mixture of pushed down and not pushed down data"
PromQL engine removes `__name__` from results with `min_over_time` and `max_over_time`. When a query touches both pushed down results and not-pushed down results i.e. Thanos Store/Sidecar, this leads to an error during query time:
[code]

Let's attach `__name__` forcefully from the Sidecar's perspective if those functions come in?

[2022-01-06 14:59] GiedriusS commented on #5033
Actually, it's not so straightforward because one could execute a query such as:
[code]

And then from the result, it will be impossible to understand which labels belong to which metric :( perhaps then `__name__` needs to be stripped inside of the PromQL engine in Thanos Query when `min_over_time/max_over_time` come in.

[2022-01-06 16:38] GiedriusS opened #5036 "Remove constant spam of "changing probe status""
With Sidecar now changing its readiness status depending on whether it can establish a connection with Prometheus, there is spam of:

[code]

We shouldn't print this message if the status is set to the same value as the previous one.

[2022-01-06 16:59] tend2infinity commented on #4664
Hey, I wanted to work on this issue, can anyone give me some guidance regarding this, thank you!

[2022-01-06 17:26] ianbillett commented on #4895
@moadz you were talking about the extent of our ability to know tenant usage of querier which got me thinking - it could be really nice to extend these query path timing metrics to include tenant (or some configurable label) as an extra dimension.

This would increase the cardinality significantly, but I can imagine it being very useful.

[2022-01-06 18:05] AvineshTripathi commented on #5036
Hey @GiedriusS very new here is this something I can go for without knowing the codebase

[2022-01-06 18:47] GiedriusS commented on #5036
Yep. https://github.com/thanos-io/thanos/blob/e03452e54ce951d6eaa7a91b616b0aef5e0aafdd/pkg/prober/intrumentation.go#L48 here we need to introduce a new variable in `InstrumentationProbe` called `ready` or something. Like here: https://github.com/thanos-io/thanos/blob/19dcc7902d2431265154cefff82426fbc91448a3/pkg/prober/http.go#L19-L20. And then check in Ready() if we weren't ready before. If true t

[2022-01-06 20:10] GiedriusS opened #5037 "Next steps with groupcache (galaxycache)"
After https://github.com/thanos-io/thanos/pull/4818 has been merged, I am writing down a list of TODO:

- [ ] Make pull request that pushes changes (Thanos update) back into Cortex
- [x] Write documentation
- [ ] Switch back to the original galaxycache version by implementing the epoch strategy on keys suggested here (https://github.com/vimeo/galaxycache/pull/25, https://medium.com/vimeo-engineeri

[2022-01-07 00:00] yeya24 opened #5038 "Bucket tool: support other type of matchers in replicate"
### Is your proposal related to a problem?

Bucket replicate tool supports matchers to select data blocks with specified matchers. But now it just supports equal matchers and it is not very flexible to specify multiple values (tenants/clusters).
In case I need to replicates blocks from multiple clusters, then I have to use multiple thanos replicates.

It would be great to support all kind of match

[2022-01-07 06:52] ThorManager opened #5039 "Query failed to query historical data after adding store"
After adding a store to query, the historical data cannot be queried. Check that there is historical data in the store
![image](https://user-images.githubusercontent.com/96821352/148505157-6f924ccd-d778-4516-a25e-72063bb47034.png)
![image](https://user-images.githubusercontent.com/96821352/148505187-17ff03c9-7fbe-444d-b0a9-c252ad803d79.png)
![image](https://user-images.githubusercontent.com/968213

[2022-01-07 07:26] yeya24 commented on #1972
It would great if we can start with `Add OTLP exporter` step as this seems independent with other tasks.
If no one is working on this one right now then I can try to take it.

[2022-01-07 07:28] yeya24 commented on #5039
@ThorManager Looks like the old data get downsampled and the raw data has been deleted due to retention.
You can query the old data by changing `Only raw data` to some value else, for example 1h.

[2022-01-07 07:29] yeya24 commented on #5029
Hi @ThorManager, what directory did you mean here? The directory of your object storage bucket or something else?

[2022-01-07 08:41] AvineshTripathi commented on #5036
okay i ll go for this please assign me

[2022-01-07 08:52] ThorManager commented on #5039
Hi， After changing only raw data, there is no old data
![image](https://user-images.githubusercontent.com/96821352/148518119-98b172bd-9058-4246-a853-bd43e510ddd2.png)

[2022-01-07 09:42] moadz commented on #4895
@ianbillett that would be very useful, but I wonder if it would encourage improper usage of this metric.
* Single Responsibility Principle; this metric tracks query performance relative to query shape. If we explicitly want to track usage more closely, we would benefit more from a richer query logger(https://github.com/thanos-io/thanos/issues/1706) or a separate metric as opposed to instrumenting

[2022-01-07 10:23] GiedriusS commented on #5038
Perhaps the new `matchers` functionality (code) from Alertmanager could be used here?

[2022-01-07 10:42] matej-g commented on #4664
Hey @tend2infinity, I'd say go for it!

As for guidance, it is written in the description in a kind of condensed form, but I believe we need to:
- Adjust (or probably create a new one really) Dockerfile which will take as a base image something else other than the Alpine image - the problem is the [race detector](https://go.dev/blog/race-detector) depends on having CGO enabled, which is not part o

[2022-01-07 11:24] tend2infinity commented on #4664
Hey thanks a lot @matej-g , I was actually kinda confused but now it seems clear, I'll ask if I get stuck into something

[2022-01-07 12:38] C3PO-github opened #5042 "S3-Client implementation doesn't work with NetApp ONTAP S3"
**Thanos, Prometheus and Golang version used**:

quay.io/thanos/thanos:v0.23.1
quay.io/prometheus/prometheus:latest

**Object Storage Provider**:

NetApp ONTAP S3
Version: Ontap 9.8P5

**What happened**:

Blocks did not get uploaded

**What you expected to happen**:

Blocks get uploaded to S3 storage

**How to reproduce it (as minimally and precisely as possible)**:

Install Prometheus-Operator in

[2022-01-07 18:05] AvineshTripathi commented on #5036
Hey @GiedriusS I have done some changes but not sure if that is working can you tell how do I check it

[2022-01-07 21:15] GiedriusS commented on #5036
Run the quickstart script or in some other way, or manually a pair of Thanos Query+Sidecar (& Prometheus). If everything is ok then you won't see a constant spam as in the original description.

[2022-01-08 06:22] yeya24 commented on #5039
@ThorManager I meant you should change `Only raw data` to other options like `5m downsampled` or `1h downsampled data`.

[2022-01-08 15:26] someshkoli commented on #4624
@4molybdenum2 https://github.com/thanos-io/thanos/blob/fa4a40d5218709dc25c7be86af26100bab0516a6/pkg/httpconfig/http.go#L45 Something similar is already there :thinking: might wanna consider refactor keeping existing one in mind ?

[2022-01-08 20:01] eshandhawan51 commented on #4278
@Hangzhi Is there any update on this ??

[2022-01-08 21:52] yeya24 commented on #5037
Looking forward to the documentation. Can't wait to try it 👍

[2022-01-08 22:45] yeya24 opened #5044 "Bucket UI: search by ULID should only show the group that contains the searched block"
### Is your proposal related to a problem?

I am trying to search one block using the bucket web search feature.

![image](https://user-images.githubusercontent.com/25150124/148662322-e3ff257c-04eb-489f-9fe1-e0cbe08e6ba5.png)

As you can see, the web page still contains a lot of empty groups, which means that the searched block is not at that group.

I have to scroll down all the way to group 67 t

[2022-01-08 22:56] yeya24 opened #5045 "Bucket UI: finding overlapping blocks doesn't work as expected"
**Thanos, Prometheus and Golang version used**: v0.24.0

**Object Storage Provider**: S3

**What happened**:

The thanos compactor halted and it found some overlapping blocks.

![image](https://user-images.githubusercontent.com/25150124/148662527-b7584de1-9043-4958-8147-9cc877f9b025.png)

Then I checked the bucket UI, indeed the two blocks are overlapping.

![image](https://user-images.githubuserc

[2022-01-09 02:14] yeya24 opened #5047 "Shared caching layer for thanos queriers"
### Is your proposal related to a problem?

We are running about 10 Thanos querier replicas for scaling purposes and we have 100+ sidecar + prometheus edge clusters across the world.

For our setup, the fanout problem is huge because of the scale. For example:

#### Info requests to sidecars

This is not a big problem because Info Request and Response are relatively cheap. In our setup, (number of

[2022-01-09 04:30] tend2infinity commented on #5044
Hey, I would like to work on this issue, Please assign this to me, Thank you!

[2022-01-09 07:04] yeya24 commented on #5044
Hi @tend2infinity, feel free to work on it!

[2022-01-09 08:31] janLo commented on #4420
As far as I can see, this issue is still present and waiting for feedback from the maintainers.

[2022-01-09 09:14] jarlva opened #5048 "Advertise docs on settings"
I've spent the last two days trying to find how to limit compactor memory/cpu. It's mission impossible!
The only thing I found, indirectly, is via a mention in https://artifacthub.io/packages/helm/bitnami/thanos/2.3.1
Specifically `resources.limits`. What's the syntax?
Where can I find that info? Please make it easier to find. Examples are welcome!

[2022-01-09 09:15] hanjm commented on #4812
/valid

[2022-01-09 09:58] zecke commented on #4089
Not stale

[2022-01-09 11:33] #4027 closed

[2022-01-09 11:33] #4484 closed

[2022-01-09 11:34] #4560 closed

[2022-01-09 11:34] #4341 closed

[2022-01-09 11:34] #4533 closed

[2022-01-09 11:34] #3765 closed

[2022-01-09 11:34] #4590 closed

[2022-01-09 11:34] #4347 closed

[2022-01-09 14:21] metonymic-smokey commented on #5002
From a quick look at the linked code references, I think adding a tag to the context [here](https://github.com/thanos-io/thanos/blob/main/pkg/store/multitsdb.go#L172) should fix it?

[2022-01-09 14:58] rbounds commented on #3750
Still needed

On Sun, Jan 9, 2022, 04:33 stale[bot] ***@***.***> wrote:

[2022-01-09 15:49] yeya24 commented on #5002
Yeah I think so, would you like to give it a try?

[2022-01-09 16:56] doug-ba commented on #903
Still needed

[2022-01-09 17:28] markmsmith commented on #1318
Still needed.

[2022-01-09 17:46] GiedriusS commented on #5047
So, something like galaxycache but for gRPC calls? Did I understand you correctly?

[2022-01-09 18:10] yeya24 commented on #5047
Yes

[2022-01-09 18:26] yeya24 commented on #4472
Still valid

[2022-01-09 18:26] yeya24 commented on #3839
Still valid

[2022-01-09 21:49] JuozasVainauskas commented on #5036
@AvineshTripathi are You still working on this and planning to finish it or can I open a PR with my fix for this issue?

[2022-01-09 22:03] arcivanov commented on #4385
This is still an issue.

[2022-01-09 22:47] dofinn commented on #4367
bump @bwplotka :)

[2022-01-10 00:52] #4638 closed

[2022-01-10 01:55] metonymic-smokey commented on #5002
I'll start working on it over the weekend.

On Sun, 9 Jan 2022, 21:19 Ben Ye, ***@***.***> wrote:

[2022-01-10 03:50] Gourds commented on #4570
This issue has not been solved

[2022-01-10 05:20] AvineshTripathi commented on #5036
Hey @JuozasVainauskas I have done the changes but not able to set up in my local device so I think you should go for the PR i ll unaaisgn myself
P.S. sorry for the trouble

[2022-01-10 05:43] yeya24 commented on #4570
`MinBlockDuration == MaxBlockDuration` makes sure that the valid block range is 2h only. But the `Compact` function [here](https://github.com/prometheus/prometheus/blob/main/tsdb/db.go#L815) will still be called unless we set `db.autoCompact` to true explicitly.

The error log happened at https://github.com/prometheus/prometheus/blob/main/tsdb/compact.go#L193 which makes sense to me.

For the issu

[2022-01-10 05:45] Kampe commented on #4831
The receiver response appears to be the culprit to trigger prometheus to keep this loop going, sending things out of control quickly.

Very strange behavior:
<img width="1859" alt="Screen Shot 2022-01-09 at 11 44 57 PM" src="https://user-images.githubusercontent.com/624150/148722827-0e99374b-4eab-475d-b1b9-d8d2e6114a1c.png">

[2022-01-10 05:55] yeya24 commented on #4831
Hit this issue quite a lot recently.

[2022-01-10 06:08] Gourds commented on #4570
@yeya24 Thanks, it solved my doubts

[2022-01-10 06:08] #4570 closed

[2022-01-10 07:48] #5033 closed

[2022-01-10 08:04] matej-g commented on #4732
I think this is still needed, did you get a chance to take a look @saswatamcode? Any way I could support you?

[2022-01-10 08:09] matej-g commented on #4351
I think this is still a valid request, although unfortunately I didn't have the time to address it.

From my understanding, this is a bit more complicated to do for Query Frontend, since it's more of a rounder tripper and does not expose it's own UI.

[2022-01-10 08:10] matej-g commented on #4809
Valid ☝️

[2022-01-10 08:11] matej-g commented on #4810
I think this is still valid

[2022-01-10 08:17] saswatamcode commented on #4732
Yes, the cache [PR](https://github.com/bwplotka/mdox/pull/54) still needs to be reviewed once, so if you can find the time to do so, that'd be great! It can then be merged when @bwplotka is back! 🙂

[2022-01-10 08:18] yeya24 commented on #3750
@rbounds Is this still happening on latest v0.24.0?

[2022-01-10 08:23] yeya24 commented on #4558
I still don't think this relates to the query frontend. This error is the partial response warning from Thanos Queriers Series API.
Query frontend is just simply a proxy and displays what it gets from the querier.
If we want to improve it, we need to do more fine grained checking on the querier side.

[2022-01-10 08:24] yeya24 commented on #2114
Valid

[2022-01-10 08:27] yeya24 commented on #2248
Still valid

[2022-01-10 08:29] yeya24 commented on #3142
Still valid

[2022-01-10 08:29] yeya24 commented on #4685
Still valid I guess. Anything is going on?

[2022-01-10 08:31] yeya24 commented on #3701
+1 to this and it would be good to continue if it is possible

[2022-01-10 08:34] yeya24 commented on #4531
I think this has been fixed by @GiedriusS. Thanks for the amazing work.

[2022-01-10 08:34] #4531 closed

[2022-01-10 08:38] yeya24 commented on #4993
looks like this is a duplication of #4420. Close and let's check that issue instead

[2022-01-10 08:38] #4993 closed

[2022-01-10 08:40] Shini31 commented on #3308
Up

[2022-01-10 08:51] ThorManager opened #5052 "Sidecar The host list cannot be viewed after startup"
![image](https://user-images.githubusercontent.com/96821352/148739100-467699a7-95e1-4c2f-a1bb-29ccd7dc2162.png)
![image](https://user-images.githubusercontent.com/96821352/148739117-211225fb-3b1c-4816-862e-e8ce09c88c1e.png)
There are no errors in the query sidecar log
![image](https://user-images.githubusercontent.com/96821352/148739198-0146e5f9-45a7-4c8f-9c4a-627dd9e2bfc0.png)
![image](https://us

[2022-01-10 09:02] yeya24 commented on #5052
What's your version of thanos query and how do you configure your sidecars to your thanos query? Using the --store flag or --endpoint flag?

I am not 100% sure about whether targets federation is enabled automatically or not.

[2022-01-10 09:06] ThorManager commented on #5052
Hi,my thanos version is 0.24.0-rc.2，configured --store
![image](https://user-images.githubusercontent.com/96821352/148741045-3dbc8525-e7cc-44b9-90cc-d0bcaf5051c0.png)

[2022-01-10 09:08] yeya24 commented on #5052
I think you can either switch to endpoint flag or use target flag to specify sidecar ip. This should work for targets federation

[2022-01-10 09:13] ThorManager commented on #5052
Sorry, you can provide yaml configuration of endpoint. I don't quite understand the official website. Thank you

[2022-01-10 09:15] ThorManager commented on #5052
![image](https://user-images.githubusercontent.com/96821352/148742019-055e52f3-a05c-4af4-b378-ea83ec370625.png)

[2022-01-10 09:34] ThorManager commented on #5052
I saw an error

 tset msg="update of node failed" err="getting metadata: fallback fetching info from 192.168.10.29:1721: rpc error: code = DeadlineExceeded desc = context deadline exceeded" address=192.168.10.29:1721

[2022-01-10 14:26] ianbillett commented on #4601
I think we can safely close this issue.

[2022-01-10 14:44] GiedriusS commented on #2962
Already in Thanos. Follow up: https://github.com/thanos-io/thanos/issues/5037.

[2022-01-10 14:44] #2962 closed

[2022-01-10 14:56] jmichalek132 commented on #4831
We used to hit it too, but at least since switching to the receive router & ingestor mode we haven't hit it since. Not sure however 100% that it's related, but it might be worth trying if you are not using that mode yet. Details on our setup [here](https://github.com/thanos-io/thanos/discussions/4853).

[2022-01-10 15:40] wiardvanrij commented on #4831
It _can_ be related if your receive is struggling to keep up I'm sure.

For this issue, what I really would like is an easy-to-replicate setup for my dev environment. There was a related issue, which I now cannot find anymore. What I stated there is that I believe we do not handle the HTTP code correctly. The short version is that Prometheus basically could return two things; 1: "error, try again"

[2022-01-10 16:14] rbounds commented on #3750
@yeya24 Is there a reason I should expect it not to? Doesn't seem to be anything in the change log that looks indicative of a fix here.

[2022-01-10 21:21] Dieterbe commented on #4677
i have just reproduced this exact issue after building thanos again from current main branch. (bc520c227f8eebe9a409c1b4b878bd4cd74d1933)

[2022-01-10 21:42] Kampe commented on #4831
exactly, the Prometheus team claims it handles the HTTP code properly and that its on the thanos receive side: https://github.com/prometheus/prometheus/pull/5649

Going to peel apart our thanos config into the router and ingestor and report back.

[2022-01-10 22:51] Nexucis commented on #4685
yup, so far no I didn't find the time to work on it :/.
I was more focus on fixing performance issue regarding some pages in Prometheus UI

[2022-01-11 01:33] yeya24 commented on #5052
@ThorManager  So what thanos query version are you using? If you are using the latest release then I think query targets can be discovered automatically. Can you please try it?

Otherwise, the only way I can think of is to add `--target` flag with your sidecar addresses manually.

[2022-01-11 02:41] graqfreak opened #5056 "Store terminated after exit signal post start-up - no obvious reasons why."
Thanos, Prometheus and Golang version used:
thanos:v0.22.0
prometheus:v2.25.0

Object Storage Provider:
Firm's Internal Private Hosted Cloud Object Storage with Amazon S3 API

What happened:
Thanos Store pod exits after syncing the first block, no obvious reason why.

The workaround now is to limit the min-time to less than 15 weeks. However it isn't obvious what sort of limit we are hitting here.

[2022-01-11 08:43] sharathfeb12 opened #5058 "Compactor is unable to delete data older than retention period"
I have been running Thanos compactor for weeks. However, I do not see the overall size of the GCS bucket reducing after the retention is turned on. Upon looking further, I see that the blocks which are beyond retention period do not have delete-mark.json added, which could be the reason why blocks are not being cleaned up.

Version: v0.24.0
Here is the config:

      containers:
      - args:

[2022-01-11 08:43] GiedriusS commented on #5056
Perhaps Kubernetes is killing your pod(-s)? Try listing the events.

[2022-01-11 09:27] yeya24 commented on #5058
Are you using the new compactor progress metrics now?

For catching up the compaction, you can try to shard your compactor to do more work.
Another way is to stop your compactor first and then use tools bucket retention + clean command to delete all blocks that have exceeded their retentions first.

[2022-01-12 04:34] graqfreak commented on #5056
thank you for your prompt reply - it was indeed readiness checks killing the pod, will play around with the configuration. much appreciated.

[2022-01-12 05:53] graqfreak commented on #5056
despite changing the readiness probe settings to something along the lines of:
[code]
it still fails after the first sync, roughly a minute later (same behavior as before), this time the readiness error shows up in the logs, is there a readiness check embedded in thanos that can be configured separately?

[code]

[2022-01-12 13:21] GiedriusS commented on #5036
Fixed in https://github.com/thanos-io/thanos/pull/5051

[2022-01-12 13:21] #5036 closed

[2022-01-13 00:08] countablecloud commented on #1507
For anyone who's bashing their heads against this, this single line fixed it; we have ingress enabled in both observer and remote.

using bitnami kube-prometheus and bitnami thanos on eks 1.21

heres the values
for thanos:
`"bucketweb":
  "enabled": true
"compactor":
  "enabled": true
"minio":
  "auth":
    "rootPassword": "password"
    "rootUser": "user"
  "defaultBuckets": "thanos"
  "enabled":

[2022-01-13 00:09] ioitiki commented on #1507
```hey```

[2022-01-13 06:56] GiedriusS commented on #4549
Seems like we need to add a test case for switching to vertical compaction from regular compaction. Help wanted.

[2022-01-13 07:38] vickyvikas7988 opened #5062 "Does thanos supports Oracle Cloud"
Hi,

Do Thanos support Oracle Cloud (OCI)?

We would like to use Oracle Object Storage.

Please suggest

[2022-01-13 13:12] GiedriusS commented on #5062
https://github.com/thanos-io/thanos/pull/4661

[2022-01-14 07:31] zakiharis commented on #5058
I have the same issue too. Just want to open new issue but I think put it here better.

my compactor config:

version: v0.22.0
[code]

[code]

How I'm suppose to delete the old data?

[2022-01-14 07:43] yeya24 commented on #5058
@zakiharis Please see my comment above.
I will add a more detailed doc about solving ways to solve compactor issue soon.

[2022-01-14 07:57] zakiharis commented on #5058
@yeya24

unfortunately I tried your suggestion but still it didn't delete the old blocks

[code]

also, I tried bucket mark and cleanup command still same result

[code]

after run the cleanup command, the block still there

[code]

[2022-01-14 08:11] yeya24 commented on #5058
You should set the retention period to delete and then run the cleanup command to delete the old blocks

[2022-01-14 08:19] zakiharis commented on #5058
@yeya24 thanks for the info on set delete delay to 0

please add this ya. thank you so much!

[2022-01-14 19:41] yeya24 commented on #5052
Close as this I think this is just a configuration question. @ThorManager Let me know if this doens't work for you and feel free to reopen the issue.

[2022-01-14 19:41] #5052 closed

[2022-01-15 05:45] yeya24 commented on #5048
Please check our docs and I think it is mentioned https://thanos.io/tip/components/compact.md/#resources.

[2022-01-15 05:45] #5048 closed

[2022-01-15 05:47] yeya24 commented on #5039
Hi @ThorManager, does the solution work for you?

[2022-01-17 02:32] hyder commented on #5062
You can use OCI's object storage S3 compatible interface until #4661 is accepted. See https://medium.com/oracledevs/monitoring-multiple-oke-clusters-with-prometheus-thanos-and-grafana-part-1-df11df7013f1 for an example using running on OCI's managed K8s service.

[2022-01-17 10:07] wiardvanrij commented on #5042
Hi, welcome.

Just from the logs, it looks like it's pointed to something wrong? I.e. it's doing a PUT and get's a 404 from Apache.
Could you double check if all the settings are correct and perhaps try to debug this with a S3 compatible tool, just to see if you can manually store data without Thanos first?

[2022-01-17 10:12] wiardvanrij commented on #5056
I think you are misreading the flow. It starts with
[code]

What happens next is actually irrelevant. It's just getting a "nice" sigterm, which causes a clean exit, which then causes ready to be false.

What you need to investigate is why it's getting the signal kill. Most likely due to OOM killer, node eviction, etc.

[2022-01-17 10:16] wiardvanrij commented on #5021
Feel free to re-open this if you have any questions

[2022-01-17 10:16] #5021 closed

[2022-01-17 16:08] GiedriusS opened #5069 "--min-time/--max-time interferes with pushdown on sidecar"
Noticed a small problem with pushdown and `--min-time/--max-time`. Since those flags modify the min/max time of a query it means that the data points will fall on different timestamps. With big enough `step` parameter it might just happens that even the lookback delta will not be enough - the upper PromQL engine will not "see" those data points and show no data.

Thus, we probably won't be able to

[2022-01-18 04:55] vickyvikas7988 commented on #5062
Thanks @hyder

[2022-01-18 04:56] #5062 closed

[2022-01-18 06:32] phoenixking25 commented on #3952
Any update here?

[2022-01-18 07:06] wiardvanrij commented on #3952
It's implemented via https://github.com/thanos-io/thanos/pull/3970

[2022-01-18 09:16] saputkin commented on #3143
Is it still to be resolved?
Enforcing IMDSv2 is crucial for us too

[2022-01-18 10:47] GiedriusS commented on #5037
https://github.com/thanos-io/thanos/pull/5068 fixes [4] and [5].

[2022-01-18 10:52] #4949 closed

[2022-01-18 10:53] GiedriusS commented on #4949
https://github.com/thanos-io/thanos/pull/4965 fixed this.

[2022-01-18 10:59] wiardvanrij commented on #4949
Oh didn't got your previous reply.. but yeah 👍

[2022-01-18 11:38] nicolastakashi opened #5074 "Thanos Tools Downsample Shutting Down without Reason"
**Thanos, Prometheus and Golang version used**:

Thanos 0.24

**Object Storage Provider**:

Azure Blob Storage

**What happened**:

When I'm running the Thanos tools downsample command, I'm the command is finished by an internal server error without providing context.

**What you expected to happen**:

Be able to downsample data as a service.

**How to reproduce it (as minimally and precisely as p

[2022-01-18 17:41] markmsmith commented on #3143
I believe this is still needed.  I don't know why the issue was closed.

[2022-01-19 03:32] sharathfeb12 opened #5075 "Thanos QFE seems to be caching inconsistently"
Thanos QFE version: v0.24.0
Thanos Querier version: v0.24.0

We are using Thanos QFE as the front-end component to handle splitting and caching of query results. However, we see inconsistent results while querying from QFE vs querying from Querier directly.

It looks like lot of data points are omitted and straight lines joining the gap seem to be common across multiple graphs. Below is one of the

[2022-01-19 08:22] GiedriusS commented on #5075
Is it the same if you drop all items from Memcached? How could we reproduce this?

[2022-01-19 15:57] matej-g opened #5077 "CI: `docker-test` target is broken on CircleCI due to `arm64` no longer being available"
Since few days ago, the `publish_main` job started to fail, in particular compare last successful and first failed run:
- https://app.circleci.com/pipelines/github/thanos-io/thanos/8601/workflows/4c16d4a7-f94c-406f-853b-6133f701db93/jobs/17922
- https://app.circleci.com/pipelines/github/thanos-io/thanos/8638/workflows/d9b63971-3ac2-4309-98eb-0e74ee25d3cd/jobs/17965

According to logs from the `doc

[2022-01-19 15:59] dpachiappan opened #5078 "Thanos Querier not able to query to query data more than 2 days"
I have deployed Thanos operator to deploy the Thanos Components, Querier, Receiver and store replica in our setup. Prometheus is using remote write to push the changes to Thanos receiver, that stores the data in S3 bucket.

I can see the data in the S3 bucket that is more than 6 months old. However, the thanos querier only shows the data for last 2 days. The historical data for more than 2 days is

[2022-01-19 17:20] FUSAKLA opened #5079 "query: Hanging calls to store API"
Hi, we bumped into issue with calls from query to store API hangs after the connection got interrupted.
(load balancer node handling the connection got shut down, probably not canceling the TCP connection gracefully)

![image](https://user-images.githubusercontent.com/6112562/150148279-da8d1167-c748-4d2b-abbe-21b538da1518.png)

The queries got stuck, and query gate got filled up with hanging queri

[2022-01-20 11:33] GiedriusS commented on #5079
It would be interesting to try this:
[code]

And see whether it passes. Plus, maybe we could add a test case there to see if it helps? :thinking:

[2022-01-20 14:54] louij2 commented on #4799
This was the solution, wow was it a long journey. I wish someone picked up on it sooner!

[2022-01-20 14:54] #4799 closed

[2022-01-20 15:38] luizrojo commented on #1624
Still happening on 0.24.0

[2022-01-20 17:09] avestuk commented on #4245
I experienced the same issue as @timkra using v0.23.1 and I was able to narrow the issue down to the following:

When I had the following S3 config:

[code]

Requests as follows were being made:

[code]

After updating the config
[code]

[code]

When using the following config:
[code]
[code]

[2022-01-21 14:27] jmichalek132 commented on #4401
still relevant

[2022-01-21 14:42] matej-g commented on #5077
Resolved by https://github.com/thanos-io/thanos/pull/5083

[2022-01-21 14:42] #5077 closed

[2022-01-21 16:28] Kampe commented on #4831
After giving thanos receive double the resources as well as breaking it down into a router/ingestor - we still see this issue.

Whats interesting is it will begin happening with a single tenant, and then cascade over time to ALL tenants reporting to receive.

If we're not the only one having this issue, this seems to be a massive issue that will happen to any receive user over time.

[2022-01-22 06:10] metonymic-smokey commented on #5002
Opened a draft PR. Please let me know if I'm proceeding in the right direction. Many thanks!

[2022-01-22 13:30] tend2infinity commented on #5069
Hey, I would like to work on this issue, can I get some guidance regarding how to proceed, Thank you!

[2022-01-23 08:04] yeya24 opened #5094 "query: metric type and scrape interval aware deduplication"
### Is your proposal related to a problem?

The current deduplication algorithm is not perfect and there are still room to improve.

For example, we have issues like https://github.com/thanos-io/thanos/issues/981 and other deduplication issues related to counter metrics.
Also, the initial penalty value is set to 5000 by default https://github.com/thanos-io/thanos/blob/main/pkg/dedup/iter.go#L278.

[2022-01-23 11:26] fbs opened #5095 "compactor 0.24.0 segv"
**Thanos, Prometheus and Golang version used**:

The 0.24.0 image from quay.io

**Object Storage Provider**:

google

**What happened**:

bucket contains some 'corrupt' old blocks. Compactor complains about the block and then crashes instead of halting. With the 0.20.2 image it just halts

[code]

**What you expected to happen**:

No crash, just halting

**How to reproduce it (as minimally and pre

[2022-01-23 14:22] fktkrt commented on #5078
Could you please share your Query config/flags? My guess is that it doesn't contain the Store Gateway, which would be needed to access the data stored in the S3 bucket.

[2022-01-23 22:28] fbs commented on #5095
Just saw another crash without any indication of a bad block. It finished uploading a compacted block and marking the old ones for deletion:

[code]

[2022-01-24 06:38] sharathfeb12 commented on #5075
There is no guaranteed way to do this as it seems to be intermittent. But, it's very frequent. The only way seems to be bouncing the memcached pods and re-executing query to fill up "correctly". However, this happens again in a while for a random dashboard.

[2022-01-24 13:39] ehrnst opened #5097 "tools: bucket rewrite uploaded my local path to Azure storage"
**Thanos, Prometheus and Golang version used**: thanos 0.22, latest on local computer

**Object Storage Provider**: Azure

**What happened**:

object storage path was replaced with local path after rewrite.

![image](https://user-images.githubusercontent.com/21357174/150792164-cbe18422-386c-40f3-b1fe-753dfc8bbca1.png)

**What you expected to happen**:

After running `./thanos.exe tools bucket rewr

[2022-01-25 03:27] dpachiappan commented on #5078
Thanks for getting back. We do have store configuration updated in the querier. Here is the Argument to the thanos querier pod.

   Args:
      query
      --grpc-address=0.0.0.0:10901
      --http-address=0.0.0.0:10902
      --log.level=info
      --query.replica-label=prometheus_replica
      --query.replica-label=receive_replica
      --store=dns+thanos-receiver-tenant-a.monitoring.svc.cluster.

[2022-01-25 03:42] dpachiappan commented on #5078
Here is the screenshot of the Thanos querier for the last 2 weeks where it shows data only till 12th Jan.  Metrics before 12th Jan is not available in the querier.

![image](https://user-images.githubusercontent.com/2790411/150906710-605bb9e1-6ec3-4190-8b04-f3cd7f68388b.png)

Few details to troubleshoot.

1.  I verified the data in the thanos store data directory and I can see the indexer file for

[2022-01-25 03:58] dpachiappan commented on #5078
I tried filtering the store API to see if querier can query only the thanos store. I still get the empty result for queries earlier than a week.

Attached the screenshot for reference. Thanks again for your help. Let me know if you need any other information to troubleshoot this issue.

![image](https://user-images.githubusercontent.com/2790411/150908261-a68daded-fd94-4b57-a832-d43fbae25345.png)

[2022-01-25 04:18] dpachiappan commented on #5078
I see the below logs in Thanos querier that might be of interest for further troubleshooting.

level=warn ts=2022-01-22T05:52:48.244896903Z caller=storeset.go:490 component=storeset msg="update of store node failed" err="getting metadata: fetching store info from 10.193.12.11:10907: rpc error: code = DeadlineExceeded desc = context deadline exceeded" address=10.193.12.11:10907
level=info ts=2022-0

[2022-01-25 12:06] C3PO-github commented on #5042
Hi,

i manually tested with latest minio client and with latest s3cmd. In the output below you can see that s3cmd works perfectly fine and minio doesn't. I put the same config to the clients.

**Config s3cmd**

[code]

**log s3cmd**

[code]

**Config minio-client**

[code]

**log minio-client**

[code]

[2022-01-25 13:31] wiardvanrij commented on #5042
@C3PO-github  please be aware that you pasted access and secret keys here. Just to be sure you don't get problems :)

[2022-01-25 13:50] C3PO-github commented on #5042
@wiardvanrij thanks for pointing on this. I updated the comment.

[2022-01-25 14:46] chrisHMRC opened #5101 "IMDSv2 support requires minio-go/v7 v7.0.13"
### Is your proposal related to a problem?

Current Thanos does not support AWS IMDSv2

### Describe the solution you'd like

Upgrade the minio-go library to IMDSv2 supported version i.e v7.0.11+

### Describe alternatives you've considered

Only way.

### Additional context

Would be fantastic if it can be added asap.

[2022-01-25 17:42] tend2infinity commented on #5044
Hey @yeya24 just let me know any changes in this PR

[2022-01-25 21:30] someshkoli commented on #3406
Was looking for solutions to pull -> transform-> upload very large file to and from obj storage (S3 in my case), thought ther would be some implementations here on thanos :P looks like we're yet to implement this.
Used part upload for my purpose and it works fine, will try to onboard the same here. Will do a poc for S3 and then we can move forward for other services too.

[2022-01-26 06:38] Evreke commented on #4341
Similar issue here with 0.18.0. The Thanos Store will no longer service requests for S3 data, but will remain healthy. Restart brings everything back to normal.

Seems that this log messages is relevant to problem - `Unsolicited response received on idle HTTP channel starting with "HTTP/1.1 204 No Content\r\nConnection: close\r\n\r\n"; err=<nil>`

[2022-01-27 13:52] ataahua commented on #2727
Still ongoing. set the

[code]

and it's still not working, it ignores the flags, using the latest ver available, 0.24.0

[2022-01-28 00:38] fisabelle-lmi opened #5106 "compactor 0.24 shutdown on downsampling error after duplicate "mark for deletion""
**Thanos, Prometheus and Golang version used**:

[code]
[code]

**Object Storage Provider**:
S3 on AWS

**What happened**:
Compacted blocks marked for deletion and eventually deleted are processed by the downsampler  which crash with
[code]
and exits, despite the fact that the Thanos Compactor should halt on error.
I also see a lot of:
[code]

**What you expected to happen**:
Downsampler should sk

[2022-01-28 01:13] fisabelle-lmi commented on #5106
I think I understood that the is not considered a `HaltError` so it continues and shutdown anyway, but why not skip over missing blocks instead of error out ?

[2022-01-28 10:52] gillg commented on #3870
Any news around that ? @PhilipGough @ianbillett I saw your closed PRs... :/ Maybe we should reopen they ?

[2022-01-28 11:05] PhilipGough commented on #3870
@gillg - hey, yes they went stale - I think https://github.com/thanos-io/thanos/pull/4449 can be re-opened and reviewed and I am happy to get back to it if the maintainers find the time.

[2022-01-28 11:16] GiedriusS commented on #3406
Doing this for compaction is a bit trickier since Prometheus heavily relies on mmap. Downsampling is totally doable, though, since everything is under an `interface`.

[2022-01-28 15:39] matej-g commented on #1972
Sorry for the delay on this @yeya24, I updated my [related PR](https://github.com/thanos-io/thanos/pull/4838) and commented there as well. I believe that PR should give us a common set of utilities to bridge OpenTelemetry exporters while we keep using OpenTracing instrumentation, for now. So I believe we can work on the other exporters independently once those bridging utilities land, as you say.

[2022-01-28 17:21] brancz commented on #3701
This has really been grinding my gears so I started https://github.com/brancz/objstore which seems to work for the Parca project.

[2022-01-28 18:25] trevorriles commented on #5079
We are hitting the same issue, any updates or workarounds you've found?

[2022-01-28 21:00] brancz commented on #3701
Goes without saying hopefully, more than happy to move this under the thanos org if anyone wants to take over from here.

[2022-01-29 01:36] r0mdau commented on #3839
I tried something, kudos to your work @hitanshu-mehta . I was trying to build thanos using this issue as example. I thought maybe it can helps.

[2022-01-30 04:02] chrisHMRC commented on #5101
Believe this is more complicated that just incrementing the minio version; since currently thanos is running a fork; from another issue.

[2022-01-30 11:36] #3839 closed

[2022-01-30 22:53] iamrajiv commented on #3782
@GiedriusS @onprem Can I work on this i.e. replacing `go-bindata` by `vfsgen`?

[2022-01-31 12:00] sherifkayad commented on #4699
@matej-g I am running Thanos v0.24.0 and still seeing this issue. Has the fix been backported to v0.24.x?

[2022-01-31 16:17] matej-g commented on #4699
Hey @sherifkayad this should be in `0.24.0`, do you have any more details? Are you getting alerts? Are these caused by `Unimplemented` error? I assume you have all your components updated to `0.24.0`, right?

[2022-01-31 16:24] sherifkayad commented on #4699
@matej-g yes, that's correct all components are upgraded to `v0.24.0` and I am still getting the alert due to `Unimplemented` errors. I re-checked the source code for version `0.24.0` and I think your changes seem to be present there .. e.g. https://github.com/thanos-io/thanos/blob/v0.24.0/pkg/query/endpointset.go .. however, the same error like initially reported by you is still happening .. I am

[2022-01-31 16:27] sherifkayad commented on #4699
@matej-g Attached a screenshot of the metric used in the alerts as well as the values associated ..
![image](https://user-images.githubusercontent.com/8362784/151832649-a15b40da-07fb-4793-9b89-7e4c494b961d.png)

[2022-01-31 16:49] sherifkayad commented on #4699
@matej-g I think I found the error .. I was using `v0.23.1` for the sidecars .. These were causing the error. Sorry for the confusion from my end. I think we are all good now.
![image](https://user-images.githubusercontent.com/8362784/151835873-a35e4b2d-3707-42ad-b4e2-a427624c2411.png)

[2022-02-01 12:21] GiedriusS commented on #1611
Maybe let's add an initial version based on label names? The matchers can only be exact there so bloom filters should work wonderfully there :thinking:

[2022-02-01 15:33] RoryDoherty commented on #4923
Ran into a similar issue and had to temporarily install v0.22.0 to see the full error message
Thanos v0.24.0 still does not display the full error message

[2022-02-01 15:51] wiardvanrij commented on #5097
Regardless of the cause, we need to make it better so we can prevent this behaviour from the tool

[2022-02-01 22:06] dpachiappan commented on #5078
I had resolved the issue by restarting the minio service.

Minio is not able to fetch the data from S3 bucket. This caused the store gateway unable to fetch the metrics older than a certain number of days.

Restarting minio helped the store gateway fetch the blocks from S3 bucket.

Had to restart the Thanos querier as it was still unresponsive to the queries older than 4 days.

After performing th

[2022-02-02 09:52] dwilliams782 opened #5115 "Query: HTTP Logging - no error log when thanos is OOMkilled"
**Thanos, Prometheus and Golang version used**
0.24.0

**Object Storage Provider**
GCS

**What happened**
I'm testing out the logging config with `--request.logging-config`:

[code]

I have a query that will intentionally cause Thanos Query to get OOMkilled. I'm trying to generate any ERROR level HTTP logs.

When Query gets OOM killed, I see three **start** logs emitted and only two **end** logs.

[2022-02-02 12:32] sagiv-zafrani commented on #1507
It seems that I have the same problem.

The topology is the same as  @IbraheemAlSaady implementation
Query (central cluster) -> Remote Env Query (central cluster :: service) -> Query (remote cluster :: ingress on this one) ->                    Sidecar (remote cluster)
Setup achieved using -
* bitnami thanos Helm chart
* Prometheus-community kube-prometheus-stack Helm chart

It seems that Thanos -

[2022-02-02 14:33] matej-g commented on #4699
Great to hear that all is working as expected then! :blush:

[2022-02-02 16:53] #5078 closed

[2022-02-02 18:42] Kampe commented on #4831
More graphs of this happening with a very healthy reporting prometheus.
<img width="1844" alt="Screen Shot 2022-02-02 at 12 42 03 PM" src="https://user-images.githubusercontent.com/624150/152217367-18f88e57-dd25-4b6f-b62d-730a40db1ac4.png">

[2022-02-02 23:33] wiardvanrij commented on #4831
What would help me, is a very easy to reproduce example. I understand this is perhaps hard to do but I've already spend some time on this, not even triggering this error once.. while actually pushing some really weird stuff to receiver.

If you could help me with this?

[2022-02-02 23:41] wiardvanrij commented on #5075
What I would like to see is a dashboard without Grafana's magic to infer the points together. Create a dashboard that has the raw data points. As I'm fairly confident that you are indeed missing data and that it is cached like that.
Could you also check if you see any errors from your stores, indicating query failure and/or OOM things? Also any errors related to calling memcached?

Also, just some

[2022-02-02 23:43] wiardvanrij commented on #5115
Perhaps I'm sort of misunderstanding the question. An OOM would be a sigkill to the process. If that happens, (please correct me if I'm wrong) - we aren't able to log anything as the process is gone. You will need other logs/metrics to indicate for this.

[2022-02-03 07:59] GiedriusS commented on #5095
It would be interesting to add https://github.com/fsouza/fake-gcs-server to our e2e testing suite and see whether it is reproducible :thinking:

[2022-02-03 09:48] dwilliams782 commented on #5115
Having slept on this, I suspect I'm both asking the wrong question and looking in the wrong place - thanos **store** would be the place I'd expect to see 5xx errors if thanos-query died, not query itself (obviously, now you point it out!) Ha, let me do some more testing and come back to this.

[2022-02-03 09:48] #5115 closed

[2022-02-03 11:39] Nexucis opened #5121 "UI: Add Thanos Logo in the navbar"
It would be cool to have the Thanos logo in the top navbar of the UI.
It doesn't look like the logo is somewhere in the UI and displaying in the top navbar is pretty common.

[2022-02-03 14:18] FUSAKLA commented on #5079
Hi @trevorriles, unfortunately I had not enough time to dig much deeper in this.

Dump solution is to restart the Thanos query, and we have an alert to detect the exact state with longer(possibly use `avg_over_time` to avoid false positives on really overloaded query nodes)
[code]

[2022-02-03 15:27] FUSAKLA commented on #5079
The tricky thing is that it depends heavily on the system setup of the kernel TCP stack

Just out of curiosity @trevorriles what are your keepalive TCP kernel settings?

In our case
[code]

[2022-02-03 15:32] FUSAKLA commented on #5079
@GiedriusS That test passes for me,

I tried but with no luck of reproducing the issue
But I tested it locally, which may be system dependent...

I'll try to simulate it first, so I can narrow down what the exact problem is

[code]

[2022-02-03 16:20] GiedriusS commented on #4557
Our work is here:
https://github.com/rahulii/thanos/pull/1
https://github.com/rahulii/thanos/pull/2

Need to continue with this work :/

[2022-02-03 16:57] trevorriles commented on #5079
We've got the same settings.

[2022-02-03 18:33] iamrajiv commented on #4557
Hi @GiedriusS is there any doc that updates about how much work has to be done and how much has to be done? I am interested in working on this issue.

[2022-02-03 20:46] trevorriles commented on #5079
Hi @FUSAKLA,

I'm made a bit of a mistake and didn't realize we were still on an older version. We're seeing improvement since upgrading from v0.23.1 to v0.24.0 and I believe this PR fixed out issue https://github.com/thanos-io/thanos/pull/4795. I'll report back if we see any other blocking issues.

[2022-02-03 21:27] FUSAKLA commented on #5079
Right, that's a bit of a different issue. We bumped into it also before.

Actually we are seeing this issue since the upgrade to 0.24 bud I'm certain it's connected to connection disruptions caused by our loadbalancer, and I'm not sure if those were happening before so cannot tell if the upgrade could have been the cause.

[2022-02-03 21:30] Kampe commented on #4831
Sure absolutely, I'll see if I can help produce it in any way I can.

Cloud Provider: GKE v1.21.6-gke.1500
On Prem K8s (prometheus remote write client): k3s v1.21.5+k3s2
Prometheus version: v2.33.1
Thanos verison: v0.24.0

Unfortunately, it seems time is a factor in being able to produce this issue, but we've found you can potentially force it if you can get your prometheus to fall behind in shipp

[2022-02-04 01:02] wiardvanrij commented on #4831
Do you monitor prometheus with https://raw.githubusercontent.com/prometheus-operator/kube-prometheus/main/manifests/grafana-dashboardDefinitions.yaml - see prometheus-remote-write.json ?

If so, can you show me how it looks like?

I will try to reproduce this again tomorrow or so.

[2022-02-04 06:41] snuggie12 commented on #4802
Despite it being more than two weeks it looks like this is still open.

I still think there's a benefit to a scaling document. It'd be nice to understand when we should shard or memory settings.

[2022-02-04 17:40] 007vedant commented on #4606
Hey @GiedriusS ! I'd love to work on this issue under LFX Mentorship'22.

[2022-02-04 19:52] yuha0 commented on #1318
Hi @bwplotka

This will put a huge and unnecessary pressure on each thanos store process, as well as the singleton compactor process.

For instance, say now I create a new cluster with a new thanos deployment in it, pointing to an existing bucket where other existing old clusters are using as metrics storage backend, the thanos store will immediately require a huge amount of resources (disk, CPU,

[2022-02-04 23:10] Harshitavkb26 commented on #5121
Hi.. I would like to work on this ,can you assign it to me?

[2022-02-04 23:45] Nexucis commented on #5121
well I'm not part of Thanos, but I'm pretty sure you can send a PR without having the issue assigned to you :).

[2022-02-04 23:54] Harshitavkb26 commented on #5121
okay  ✌️

[2022-02-05 21:05] wiardvanrij opened #5130 "Move back to Minio upstream"
Since https://github.com/thanos-io/thanos/issues/3967 we are using a fork. Which was absolutely necessary, however it will now sort of shoot us in the foot for future features.

For example: https://github.com/thanos-io/thanos/issues/5101

but also I'm running on a M1 laptop and local dev is not working due to:

[code]

Main problem that needs to be resolved is the race that caused the memory incr

[2022-02-06 16:29] jan-di commented on #1851
@WeiTangLau Not a maintainer here, but i guess thats because the release candidates of those versions pre date the merge of this feature. See https://github.com/thanos-io/thanos/commits/v0.24.0. I think the next release (0.25) will have arm64 images.

[2022-02-07 05:46] wiardvanrij commented on #4831
@Kampe  is there any way you perhaps could test my PR in some staging/dev environment?

[2022-02-07 06:04] Kampe commented on #4831
Yes absolutely, is there an image sha that gets built for this anywhere I can reference? Would be glad to deploy it tomorrow into development environment!

[2022-02-07 06:18] wiardvanrij commented on #4831
We only have that for things in `main` https://quay.io/repository/thanos/thanos?tab=tags - I've pinged to get a review, so perhaps we can move this forward faster.

[2022-02-07 10:48] saswatamcode opened #5133 "Implement multi-tenant Ruler: multitsdb and multiagent"
### Is your proposal related to a problem?

Currently, the Thanos Ruler has no built-in support for multi-tenancy like Receive. This creates issues when running it in a setup where we want to isolate tenants and store their rule-evaluated metrics in a different `tsdb` instance each. The only possible way might be using a Ruler for each tenant which is simpler but wasteful of resources.

Also, in t

[2022-02-07 11:23] tend2infinity commented on #5045
Hey @yeya24 I'll work on this

[2022-02-07 11:35] itspngu commented on #4880
I forgot to mark this as fixed in #4883. It's fixed. :)

[2022-02-07 11:35] #4880 closed

[2022-02-07 12:28] yansolov opened #5134 "Directories are not auto removed"
**Thanos, Prometheus and Golang version used**: 0.24

![1111](https://user-images.githubusercontent.com/84787305/152787589-bb0a5b59-f7b3-4a5b-a29a-2679e16e7be0.jpg)

**Object Storage Provider**: S3

**What happened**: files in S3 are auto deleted, but directories not. Therefore an extra load is created - S3 store goes through all directories searching for meta.json)

**What you expected to happen*

[2022-02-08 03:22] wu3396 opened #5137 "Thanos compactor upload COS bucket error"
### Thanos version used:
0.24

### Object Storage Provider:
COS

### What happened:
upload cos object error, The single object size you upload can not be larger than 5GB

### What you expected to happen:
Send correct file size to support multipart uploads

### Full logs to relevant components:
`level=error ts=2022-02-08T01:42:36.662263384Z caller=compact.go:492 msg="retriable error" err="compactio

[2022-02-08 08:46] yansolov commented on #5134
Yes, directories are marked for deletion, and files are deleted. But not directories.

[2022-02-08 12:58] hanjm commented on #5137
Currently we use simple PUT API https://github.com/thanos-io/thanos/blob/main/pkg/objstore/cos/cos.go#L199, it has [5GB service limit](https://intl.cloud.tencent.com/document/product/436/7749) , We need implement using multipart uploads API.

on the other hand, you can use flag `--compact.block-max-index-size=5GB` to skip compact if block-index-size large than 5GB. 	https://github.com/thanos-io/th

[2022-02-08 15:20] FUSAKLA commented on #5079
Ok I think I'm just chasing ghosts with misconfigured timeouts in our setup.
I'll close this up for now until proven otherwise.

[2022-02-08 15:20] #5079 closed

[2022-02-08 17:20] matej-g commented on #4866
I want to try to improve this by making the back off in the method waiting on the metrics [to be configurable](https://github.com/efficientgo/e2e/pull/20) in the upstream and increase retry numbers and / or back off interval.

[2022-02-08 17:27] matej-g commented on #5045
Go for it @tend2infinity :rocket:

[2022-02-08 17:31] matej-g commented on #5133
We discussed this briefly with @saswatamcode with one more suggested alternative from me, which would be to have a separate remote write config for each tenant, set the tenant header and use relabeling to only forward metrics which are applicable to that tenant. However, this is not really a systematic solution and require to always manually set up the remote write config for each tenant. The prop

[2022-02-09 11:53] keremgocen commented on #3308
Hello, is anyone working on this? I'm looking for something to contribute.

[2022-02-09 14:23] hanjm commented on #5137
WIP

[2022-02-09 17:55] #4861 closed

[2022-02-10 09:58] ahurtaud commented on #4772
Hello, I think I have the same issue with 0.24. Can other confirm?
I also commented on https://github.com/thanos-io/thanos/issues/4924 which may be a duplicate....

[2022-02-11 08:47] GiedriusS commented on #5069
Actually, this also applies to when Sidecar uploads a block and the minimum timestamp becomes a fixed value. Sorry, this was a bit of a harder problem that we wanted to fix ourselves so I went ahead and did it: https://github.com/thanos-io/thanos/pull/5142.

[2022-02-11 12:34] hanjm commented on #5137
Fixed by #5137, @wu3396 Could you try the latest image?

[2022-02-11 13:30] wu3396 commented on #5137
The latest image runs without errors
I'm using a flag to skip compression, is it possible to remove the "no-compact-mark.json" in the object store to revalidate?

[2022-02-11 14:16] GiedriusS commented on #4557
I'm afraid that the PRs are the only place you can find info. Also, I wrote a small post detailing the learnings from doing this: https://giedrius.blog/2022/02/04/things-learned-from-trying-to-migrate-to-protobuf-v2-api-from-gogoprotobuf-so-far/.

[2022-02-12 02:42] hanjm commented on #5137
@wu3396  Just delete the "no-compact-mark.json" file using coscmd or cloud ui. then the compactor will process the block.

[2022-02-12 08:10] #5002 closed

[2022-02-12 12:00] wu3396 commented on #5137
@hanjm     14GB index file uploaded successfully. Thanks for the help!

[2022-02-12 12:01] #5137 closed

[2022-02-12 15:03] tzarky opened #5149 "Thanos does not interpret a label variable at startup and considers it as a string."
Hello,

I am trying to deploy Prometheus in HA with Thanos.

When I try to add the unique label "$(POD_NAME)" to thanos, I have the impression that it interprets it as a string instead of a variable (see my screenshot below)
![Screenshot 2022-02-12 at 15 59 05](https://user-images.githubusercontent.com/76174192/153716410-a856e96e-6caa-4b7c-bc34-7bf51057f499.png)

My configmap seems correct and I h

[2022-02-12 18:08] iamrajiv commented on #4557
@GiedriusS Great. I want to continue this work in GSoC 2022.

[2022-02-13 09:53] tend2infinity commented on #5121
I'll fix this

[2022-02-13 11:40] hanjm commented on #5149
add `--enable-feature=expand-external-labels` to prometheus command args, then use `${var}` or `$var` in `prometheus.yml`.

You can read this doc: https://prometheus.io/docs/prometheus/latest/feature_flags/#expand-environment-variables-in-external-labels

[2022-02-13 19:24] ggold7046 commented on #4606
Hi, I am new to open source project.  Could anyone guide me how to contribute to this project. I have some knowledge of git,
linux , ansible

[2022-02-13 22:18] yeya24 commented on #5044
Close by #5102

[2022-02-13 22:18] #5044 closed

[2022-02-13 22:20] yeya24 commented on #5149
@tzarky As @hanjm mentioned, this is a prometheus configuration issue rather than a Thanos issue. After you setup the expansion feature then it should work as expected. Close now.

[2022-02-13 22:20] #5149 closed

[2022-02-14 05:40] Laconty commented on #5024
Hi @GiedriusS! There was no updates more than month, so I would like to make tiny contribution by this one

[2022-02-14 06:54] GiedriusS commented on #4606
Please apply via the LFX website! Thanks.

[2022-02-14 07:24] secrashi commented on #5024
Hello, sorry I wasn't able to get a hold of this in the past month. I'll unassign myself, please feel free to contribute to this.

[2022-02-14 08:32] matej-g commented on #5024
Go for it @Laconty 👍

[2022-02-14 14:22] Lord-Y opened #5154 "Thanos Query is failing to handle requests"
Hello guys,

I already post this [here on the slack channel](https://cloud-native.slack.com/archives/CK5RSSC10/p1637938692373400) but this time, I'm going to put it in an issue to track it.

I'm running thanos since version 0.6.X and I'm so glad to use it.
So far everything works except that since many months in production, I'm having alerts like `Thanos Querier is failing to handle XXX% of "query

[2022-02-14 15:45] matej-g commented on #4831
I looked a bit through the original report and I'm wondering whether there are two distinct things going on:
1) we're seeing the out-of-bounds error on local node
2) when the request is fanned out to other replicas, somewhere along the way a timeout occurs and this what Prometheus sees (hence the `context deadline exceeded` is seen on Prometheus side, as originally reported) and there it keeps ret

[2022-02-14 16:13] Kampe commented on #4831
Interesting, it seems you're correct there are two events happening here, and we also see the context deadline behavior as well during the rollouts, however these will subside eventually after all pods are ready.

[2022-02-14 16:17] tend2infinity commented on #5026
I would like to work on this issue

[2022-02-14 18:00] Kampe commented on #4831
Currently, very content
<img width="1340" alt="Screen Shot 2022-02-14 at 12 00 00 PM" src="https://user-images.githubusercontent.com/624150/153920434-09cfb1e5-ae54-4a32-ab60-2e3ab8eeb304.png">

[2022-02-15 01:16] vigohe commented on #2032
@KarstenSiemer did you find the issue?

[2022-02-15 09:14] richardgreg commented on #5022
@jaiakash are you still working on this? I can take over if you aren't

[2022-02-15 10:55] tend2infinity commented on #5045
Hey @yeya24, I would really like to how I can recreate your condition because for me the overlapping blocks checkbox works absolutely alright. I tried uploading duplicate blocks manually by changing the ULID and playing a little bit with min-time and max-time. Here are some screenshots of what I was testing -

![Screenshot from 2022-02-15 16-21-41](https://user-images.githubusercontent.com/6194803

[2022-02-15 15:05] jaiakash commented on #5022
No I am not working on it. Yeah you can take over.

[2022-02-15 19:36] yeya24 commented on #5045
@tend2infinity Thanks for the work. Sorry I should provide a reproducible example for you to help you work on this at the beginning. Right now I don't think I have cases to reproduce.

Can you please try to implement this feature instead? This one seems more straightforward. We can see if the bug itself is reproducible or not later.

[2022-02-16 06:14] ramesh-kumarjha commented on #2879
I am getting the same issue only getting 2 hours data after that i am not getting data and data are push to s3 bucket
--prometheus.url=http://127.0.0.1:9090/
    - --grpc-address=[$(POD_IP)]:10901
    - --http-address=[$(POD_IP)]:10902
    - --objstore.config=$(OBJSTORE_CONFIG)
    - --tsdb.path=/prometheus
    - --log.level=info
    - --log.format=logfmt

[2022-02-16 12:28] bwplotka commented on #3701
Makes sense. I think @onprem you also created a fork of `objstore` somewhere? Maybe we can follow up on making some of it an official fork?

[2022-02-16 13:27] ataahua commented on #4351
Add me to the list of requestors. Very useful potential feature.

[2022-02-16 17:29] dylanlingelbach opened #5164 "reloader: unable to connect to prometheus using self-signed TLS certificates"
**Thanos, Prometheus and Golang version used**:
*Config Reloader version*: `v0.53.1` (note that we are using the prometheus operator which uses `quay.io/prometheus-operator/prometheus-config-reloader:v0.53.1` as the image tag, but the config reloader
*Prometheus version*: `v2.32.1`

**Object Storage Provider**:
N/A

**What happened**:
When using a self signed certificate to secure prometheus with

[2022-02-16 19:17] bisakhmondal commented on #4972
Hi guys! I can improve this module. I have recently developed an efficient infrastructure with hash rings.  Even there are several research papers on the same.

My basic approach would be
1. Use `xxhash` (extremely fast) to encode the entities (server-id/name) for buckets (analogy of servers in a cluster) by pivoting them in a circle with the necessary replication factor and routing the balls (ent

[2022-02-16 21:02] Kampe commented on #4831
<img width="1913" alt="Screen Shot 2022-02-16 at 3 01 30 PM" src="https://user-images.githubusercontent.com/624150/154356463-e3e99f57-5a08-4952-9809-e46db3c24882.png">
and here we are again today

[2022-02-17 11:53] matej-g commented on #5026
Hey @tend2infinity go for it :star2:

[2022-02-17 14:41] dylanlingelbach commented on #5164
Closing as this _is_ possible by calling `SetHttpClient` on the reloader with a client that is configured to skip verification

[2022-02-17 14:41] #5164 closed

[2022-02-18 07:43] Harshitavkb26 commented on #4683
Hello there, I'm interested in the problem. Could you assign it to me?

[2022-02-18 10:42] gillg opened #5168 "Handle saves/deletes on /api/v1/rules"
### Is your proposal related to a problem?

Grafana since v8 introduced a very useful alerting UI for end users.
They rely in background on an internal alertmanager not able to receive alerts from outside, native Alertmanager APIs to manage a remote instance, and some Cortex metrics APIs to manage all alerting from 1 place.

**Using Grafana to evaluate alerting rules is a SPOF**, so you can also u

[2022-02-19 00:28] venkyfff commented on #3386
@stylianosrigas  - I am hitting this exactly same issue. But somehow the thanos-ruler is not showing / accepting the rules that I configured through the configmap. Here is my sample file that I created configmap from:

[code]

[2022-02-19 17:26] itayvallach opened #5171 "Thanos-Receive cannot run without object storage configuration"
Thanos, Prometheus and Golang version used:

quay.io/thanos/thanos:v0.24.0

Object Storage Provider:
None

What happened:
When trying to run thanos receive without an object storage config, I get the following error:

flag objstore.config-file or objstore.config is required for running this command and content cannot be empty.
What you expected to happen:
Thanos runs and only uses the data-dir, wi

[2022-02-19 19:32] yeya24 commented on #5171
Yes, looks like right now a bucket is required and you can only use a FILESYSTEM bucket in this case.
`--data-dir` this is the local data directory for TSDB, where Thanos receiver keeps the latest 2h data before it uploads to the bucket.

To me, I think it is unnecessary to require an object storage for receiver. But there's some logic to change for sure

[2022-02-20 08:18] ludydoo opened #5172 "client for Azure should handle permission errors"
**Thanos, Prometheus and Golang version used**:
Thanos 0.24.0

**Object Storage Provider**:
Azure

**What happened**:
We are using `azure-pod-identity` to grant pods access to azure resources. In this case, we have a `thanos-store` Identity.
This Identity is allowed the `Storage Blob Data Reader` role on the storage account.

The documentation speficies that the `thanos-store` should only have rea

[2022-02-21 13:55] matej-g commented on #4831
I see, so it seemingly happens at random times. So it seems a receiver replica simply fails to forward the request to another receiver(s) and this is manifesting itself as `context deadline exceeded`, which would indicate one receiver cannot reach the other receiver. I'm not sure what to look at as next here, since this could be a symptom of different issues.

You mention in the original post that

[2022-02-21 17:36] GiedriusS commented on #5172
Seems like a good idea to check whether the container already exists before creating. Thanks for the thorough issue report. PRs welcome! :beers:

[2022-02-22 11:03] bwplotka opened #5176 "Find replacement for https://github.com/pkg/errors"
https://github.com/pkg/errors is now archived since `errors` package has a way to wrap errors AND the main maintainer is stepping down from the maintainer team. Here are details https://github.com/pkg/errors/issues/245

Unfortunately, default library `errors` wrapping is not the best. Personally, I don't like three facts:

* It requires doing `fmt.Errors("something: %w", err)` with `%w` which is u

[2022-02-22 11:48] jmichalek132 commented on #4773
still needed

[2022-02-22 23:08] dmilind opened #5177 "querier show deflection in real time values when compared to prometheus"
**Thanos, Prometheus and Golang version used**:
Thanos version: 0.24.0
Prometheus Version: 2.32.1

**Object Storage Provider**:
azure storage container
**What happened**:
When comparing 2 graphs from 2 different data sources (thanos-querier and prometheus), qurier graph is always declining for real time values where as promethues graph show correct values for the same query.
for example:
[code]
up

[2022-02-22 23:15] dmilind commented on #5177
<img width="1072" alt="Screen Shot 2022-02-22 at 3 11 44 PM" src="https://user-images.githubusercontent.com/18506584/155235652-9ec2bc35-63db-4aea-b42f-ed996e8a7485.png">