[2020-05-26 13:15] zetaab commented on #1318
@bwplotka is there any news regarding this? I cannot see this in community meeting agenda?

[2020-05-26 13:34] povilasv commented on #1318
Re community meeting, I don't think we got to this issue so we rescheduled it for next meeting.

[2020-05-26 15:20] pracucci opened #2660 "Add request hints to BucketStore"
In Cortex, given a query, we're running a query plan in the querier to figure out which blocks should be queried and then we fetch the `Series()` from all store-gateway instances holding the affected blocks (a store-gateway runs the Thanos `BucketStore`).

Due to how the blocks sharding and replication works, there're real cases where we end up querying the same block from multiple store-gateway i

[2020-05-26 15:59] bwplotka opened #2663 "golang lint CI is failing on master."
On it.

[2020-05-26 22:39] FUSAKLA commented on #713
Still valid. Just tried to migrate to Swift form S3 and failed with the same error message.

Hopefully should be fixed by https://github.com/thanos-io/thanos/pull/2665

[2020-05-27 10:32] gotjosh commented on #2531
Pretty sure the work done by @codesome and @pracucci addresses this?

[2020-05-27 12:35] kakkoyun commented on #2531
Closed by https://github.com/thanos-io/thanos/pull/2596 and https://github.com/thanos-io/thanos/pull/2658.

[2020-05-27 12:35] #2531 closed

[2020-05-27 13:58] GiedriusS commented on #2417
Still valid. Will hopefully do during GSoC.

[2020-05-27 13:59] GiedriusS commented on #2419
I still haven't seen any PR about it @rtnpro or maybe I have missed it. Hopefully, we will touch upon this during GSoC when the UI of this is going to be rewritten in React.

[2020-05-27 15:30] rtnpro commented on #2419
Cool, it sounds good to fix it once in the React rewrite.

I had hit some issues during in the initial development setup, and then I got pulled by other tasks. @GiedriusS  It'd be great if you could help me get my Thanos dev env working with `scripts/quickstart.sh` so that I can start hunting for fixing other Thanos issues.

![](https://cdn.zappy.app/0abfd964b7cbfbc19d5067e3f08533d8.png)

Also, I

[2020-05-27 15:54] nikovacevic commented on #2183
@AmjadHussainSyed I have seen this error when the region doesn't match the bucket's actual region. I would try double-checking that the bucket is in `eu-west-1`, then adding this to the object store config:
[code]

[2020-05-27 16:10] nirlo opened #2672 "Store: Memory usage spikes on startup"
**Thanos, Prometheus and Golang version used**:
v0.12.0

**Object Storage Provider**: s3

**What happened**:

We've recently moved out Thanos deployment from one cluster to another. We have a fairly large network of prometheus instances and Thanos sidecars; 5 clusters that span production deployments, 10s of review environments, exporters, and gitlab runners.

Before we moved the deployment, all c

[2020-05-27 18:11] bwplotka commented on #2663
Fix in review: https://github.com/thanos-io/thanos/pull/2670

 Rebase will be required.

[2020-05-27 18:26] bwplotka opened #2674 "Move docs check to separate GitHub Action."
Initial attempt failed. It was causing huge flakiness; https://github.com/thanos-io/thanos/pull/2670/checks?check_run_id=714148197

Looks like something is wrong with egress on GitHub Actions.

[2020-05-27 18:31] bwplotka commented on #2660
Makes sense to me. Must have for block aware querying.

cc @brancz

[2020-05-27 19:11] bwplotka commented on #2381
Yes, as spoken offline the query timeout and --min-time option is the way to go here (:

[2020-05-27 19:11] #2381 closed

[2020-05-27 19:14] bwplotka commented on #2674
NVM (: It was liche not working well after upgraded. Reverted version works fine on GH Actions.

[2020-05-27 19:14] #2674 closed

[2020-05-27 19:30] bwplotka commented on #1830
The task is quite easy: To ensure timeouts for uploads. (:

[2020-05-27 21:48] soniasingla commented on #2248
@bwplotka i would like to play with this bug 😺

[2020-05-28 06:49] brancz commented on #2660
Sounds good to me.

[2020-05-28 07:12] #2663 closed

[2020-05-28 10:42] squat commented on #2124
valid :)

[2020-05-28 11:16] soniasingla commented on #2512
hey @bwplotka, I would like to work on this issue. Can you please address on which pages the markdown is to be added? :)

[2020-05-28 12:43] nirlo commented on #2672
I've attempted using the index cache as well to see if that would eliminate some of the issues as well, but the same rise and eventual eviction happens

[2020-05-28 13:41] bwplotka opened #2677 "receive,ruler: Potentially leaking disk from TSDB Mmap-ed chunks."
Introduced on `master` by:  https://github.com/thanos-io/thanos/pull/2658 (`0.13` is fine)

Tracking ticket on Prometheus https://github.com/prometheus/prometheus/issues/7305

[2020-05-28 13:42] bwplotka commented on #2677
Affected from https://github.com/thanos-io/thanos/commit/f7802edbf8306c07cc51435425d8f61b7fb94716 commit.

[2020-05-28 15:06] codesome commented on #2677
Fixed in https://github.com/prometheus/prometheus/pull/7306, I will open a PR for Prometheus upgrade tomorrow. And I think it should go against release branch and even the latest Prometheus upgrade which happened in master should go in 0.13 because the old upgrade does not include fix to the memory leak in isolation which is there in latest upgrade.

[2020-05-28 15:22] FUSAKLA opened #2678 "Issue with large files using Swift storage"
While migrating from MinIO to Swift I found out that the Gophercloud library does not support large file support out of the box. Swift has by default limit of 5GB for file (our setup has 500MB).
More info here https://docs.openstack.org/swift/latest/overview_large_objects.html

I'd say this is pretty big limitation since the indexes can grow to enormous file size.

We could implement the Large Fil

[2020-05-28 17:12] bwplotka commented on #2251
Let's reopen as it's still valid. We had a similar question here: https://cloud-native.slack.com/archives/CK5RSSC10/p1590621940211100

I think the key question here is NOT about how to use TSDB format
I think the way to go is to agree on some API that will work for mining on TSDB format directly, so we either have some StoreAPI or direct TSDB format adapter to such API.

I don't think the conversi

[2020-05-28 17:22] bwplotka commented on #2251
We had a similar question here: https://cloud-native.slack.com/archives/CK5RSSC10/p1590621940211100

I think the way to go is to just operate on object storage data on TSDB format. We can totally help in designing some integrations with those

I think the key question here is NOT about how to convert TSDB format, because that's really easy. You just spend 2h to understand TSDB format or StoreAPI a

[2020-05-28 17:27] bwplotka commented on #2251
We had a similar question here: https://cloud-native.slack.com/archives/CK5RSSC10/p1590621940211100

I think the way to go is to just operate on object storage data on TSDB format. We can totally help in designing some integrations with those APIs like you mentioned, but the idea is to allow the community to build a StoreAPI or TSDB Format based adapters for it :hugs:

I think the key question her

[2020-05-28 17:30] bwplotka opened #2681 "Readme: Fix README.md build badges to point to new CI jobs (:"
As in title. Help wanted :hugs:

[2020-05-28 17:33] spencergilbert commented on #2681
Happy to grab this

[2020-05-28 17:55] bwplotka opened #2682 "Recommendations for Open Source Analytic (OLAP) system / API to mine Thanos/Prometheus data."
Hello Community :wave:

This topic was actually started by @maulikjs [here](https://github.com/thanos-io/thanos/issues/2251#issuecomment-635488249) but I would love to reshape the topic to the main, key question here: **Does anyone have any recommended open-source system or API for the report (e.g OLAP cubes) building from various data sources?**

### Problem Statement

Looks like there are in our

[2020-05-28 18:10] bwplotka commented on #2677
Hmmm, ok.

 Let's do serparate updates for release and master then.

[2020-05-28 18:11] bwplotka commented on #2677
Let's not put too much on `release-0.13` to reduce risk

[2020-05-28 18:13] bwplotka commented on #2682
Proposed as a topic for the next [Prometheus Ecosystem Community Meeting](https://docs.google.com/document/d/13ikSkpVTmZFj0j2QicKuHwVfJsLWB_Zau_DpABcEUUs/edit#)

[2020-05-28 18:35] bwplotka commented on #2512
I mentioned in the title. Maybe based on number of lines? Or number of sections? (`###` headers) e.g larger documents with more sections than 3 should have TOC :thinking:

[2020-05-28 20:17] #2493 closed

[2020-05-28 20:24] ipstatic commented on #1424
This is still an issue.

[2020-05-28 20:26] bwplotka commented on #1424
Yes, not done. How you guys workaround so far this issue?

[2020-05-28 20:34] ipstatic commented on #1424
We have just stopped compacting :(

[2020-05-29 01:26] by-kpv commented on #2682
@bwplotka - I have explored the OLAP option for high cardinality multi dimensional slice/dice data use cases - specifically DRUID and Clickhouse. In practice Clickhouse provides comparatively less operation overhead. Also, another use case which had me incline for OLAP was for applying data cube model to integrate loosely coupled data sets and semi structured data sets. Happy to share more details

[2020-05-29 06:23] brancz commented on #2534
This still needs to be confirmed ideally, we could have a model based test or something like that to ensure the correctness in cases like this.

[2020-05-29 12:31] filippog opened #2686 "Frequent 404s from sidecar for local TSDB blocks"
Thanos 0.13.0rc0
Prometheus 2.7.1 from Debian
golang 1.14.3

[code]

**Object Storage Provider**:

Swift with S3 middleware, Thanos is using S3 API

**What happened**:

We're migrating to Thanos and have recently started uploading blocks via sidecar, compaction is disabled on Prometheus. Historical data in the form of compacted blocks still exist on local TSDB, we haven't shipped that to object st

[2020-05-29 14:41] kakkoyun commented on #2681
Closed by https://github.com/thanos-io/thanos/pull/2683

[2020-05-29 14:41] #2681 closed

[2020-05-29 15:29] #2220 closed

[2020-05-29 16:55] raravena80 commented on #2682
(Sent this to the ML too)

This is a great idea. Keep in mind that OLAPs are not necessarily used for monitoring and observability. For example, in the past, I worked on implementing Apache Druid to collect mobile analytics. In this space, I can think of these projects: [Druid](https://druid.apache.org/), [Pinot](https://pinot.apache.org/), [Kylin](https://kylin.apache.org/), [Clickhouse](https://

[2020-05-29 17:18] robskillington commented on #2682
Adding my response from SIG-Observability too:

Glad to hear this topic brought up, it's something we think a lot about and have some experience with previously (running OLAP queries against monitoring and observability data).

1. With respect to SIG Observability, I think talking and moving forward on options/standardized approaches to OLAP on monitoring and observability data makes sense. With r

[2020-05-30 02:32] #2497 closed

[2020-05-30 07:04] #2495 closed

[2020-05-30 08:04] #2506 closed

[2020-05-30 10:07] pachico commented on #2682
From the requirements you listed I think ClickHouse might be the solution you are looking for.
I have been using it successfully in production for several months already and I take full advantage of joining multiple data sources.
It's setup is very straight forward. Things get a bit more complex when you need sharding or replication since it relies on zookeeper, which means having another moving p

[2020-05-30 12:46] bwplotka commented on #2682
@robskillington you touched a very exciting part. This is actually the amazing novelty we would love to push toward as well. Instead of storing the same data in 5 places can we keep it in just one? The idea would be to promote efficient streaming read API more vs copying the data to different formats. This might mean more work on those Thanos/Cortex/M3/ecosystem projects, but given we are already

[2020-05-30 12:58] #2686 closed

[2020-05-30 15:20] filippog commented on #2686
Woot woot! Thanks for the quick fix :tada:

[2020-05-30 15:52] #2651 closed

[2020-05-30 23:56] soniasingla opened #2690 "Add about external_labels in katacoda tutorial"
[code]

In the tutorial, https://katacoda.com/thanos/courses/thanos/1-globalview, it is important to add more information (note) about commands.

[2020-05-31 01:12] sevagh commented on #2645
I did the same as ipyker - removed a previous `--query.replica-label`, restarted the Thanos Query, and this started occuring.

[2020-05-31 08:01] bwplotka commented on #2645
That is super helpful feedback, we will take a closer look tomorrow,
thanks! (:

On Sun, 31 May 2020 at 02:12, Sevag Hanssian <notifications@github.com>
wrote:

[2020-05-31 09:41] pachico commented on #2682
@bwplotka let me know if I can assist you with some use cases or quick setups for you to try out.
Cheers

[2020-05-31 17:01] shivani-hotstar opened #2693 "Thanos store disk space issue after version upgrade."
**Thanos, Prometheus**
thanos, version 0.12.2 (branch: HEAD, revision: 52e10c6e0f644ea98fd057e7fbece828d8dd07c7)
  build user:       circleci@241aa351893e
  build date:       20200430-16:37:24
  go version:       go1.13.1

prometheus, version 2.15.2 (branch: HEAD, revision: d9613e5c466c6e9de548c4dae1b9aabf9aaf7c57)
  build user:       root@688433cf4ff7
  build date:       20200106-14:50:51
  go ve

[2020-06-01 09:15] bwplotka commented on #1811
This is done on Prometheus, so we can do here as well.

On Mon, 1 Jun 2020 at 10:05, stale[bot] <notifications@github.com> wrote:

[2020-06-01 09:54] bwplotka commented on #2295
ChuncIter is in progress. Actually looking to finish that this week!

[2020-06-01 09:56] bwplotka commented on #2527
Still in progress. Meant for a later task.

On Sun, 31 May 2020 at 19:24, stale[bot] <notifications@github.com> wrote:

[2020-06-01 09:59] bwplotka commented on #2249
Looks like docker compose just landed on thanos-community org: https://github.com/prmsrswt/thanos-docker-compose

I think that's good enough for now..

I am not fan of having single comment to "rule them all", as so far we have feedback that what Loki and Cortex have causes major confusion here & there. Worth to rething. I think docker compose can help here greatly (:

[2020-06-01 10:01] bwplotka commented on #2470
@darshanime upload is not atomic, so ID can exists but not the full block.

Anyway, `ModififedTime API call for object storages.` looks like the way to go.

Thanks to @pracucci we now have this API so we can move to that :+1:

[2020-06-01 10:14] bwplotka commented on #2547
Still needed (:

On Sun, 31 May 2020 at 11:24, stale[bot] <notifications@github.com> wrote:

[2020-06-01 10:14] bwplotka commented on #2539
Still todo (:

On Sun, 31 May 2020 at 09:24, stale[bot] <notifications@github.com> wrote:

[2020-06-01 10:15] bwplotka commented on #2543
Still to do (:

[2020-06-01 10:16] bwplotka commented on #2686
Question: should the fix go to 0.13.0 as well? It was fixed on master only

[2020-06-01 10:18] bwplotka commented on #2693
"Lots" means how much disk? (:

[2020-06-01 10:18] bwplotka commented on #2693
Also can you try cleaning whole disk and restarting? Might be that some old stuff from older version is piling up

[2020-06-01 10:19] filippog commented on #2686
IMHO yes it should, it is a self-contained and straightforward fix

[2020-06-01 10:31] hawran commented on #2496
Guys, any progress on this matter?

[2020-06-01 10:37] bwplotka commented on #2690
For those kind of issues I think "just" PR is totally  ok (: This is something small, not requiring huge discussion :hugs:

Thanks anyway!

[2020-06-01 10:40] shivani-hotstar commented on #2693
On more debugging i came across the thanos-store local directory cache issue.
Thanos store configuration
`spec:
      containers:
      - args:
        - store
        - --log.level=debug
        - --data-dir=/var/thanos/store
        - --objstore.config=$(OBJSTORE_CONFIG)`
Disk utilisation  went upto 100% .

Can you help me in understanding how thanos store manages  local cache . because this dis

[2020-06-01 10:54] bwplotka commented on #2693
But what is the 100%? 10MB? 1GB?

On Mon, 1 Jun 2020 at 11:41, shivani-hotstar <notifications@github.com>
wrote:

[2020-06-01 10:56] bwplotka commented on #2686
Cool, will cherry pick

[2020-06-01 11:08] shivani-hotstar commented on #2693
Thanos store using 100 gb volume .

[2020-06-01 11:22] #2283 closed

[2020-06-01 11:22] #2404 closed

[2020-06-01 11:26] bwplotka commented on #2470
AC:

* Move to Modified Time

[2020-06-01 11:27] bwplotka commented on #2677
https://github.com/thanos-io/thanos/pull/2697 for isolation fix on 0.13.0

[2020-06-01 12:45] pracucci commented on #2154
_There's the PR #2668 open._

[2020-06-01 14:00] dgl opened #2699 "Handle sorted series in Store API"
If a component (most likely querier, but I’m filing this with thanos-remote-read in mind too) can know that series returned over StoreAPI are sorted it would be possible to do streaming deduplication.

Example 1: If a stream has labels that are past another stream and both are known to be sorted, then the data can be deduplicated on the fly.
Example 2: If a single stream is known to be sorted, it

[2020-06-01 14:08] dgl opened #2700 "Deduplication in StoreAPI"
Currently deduplication is done in the querier, at the Select stage. This means Store API gRPC queries, even going via query do not get deduplication. For thanos-remote-read this means it does not get deduplication via querier.

Add a store API request option to ask for deduplication.

This could be useful for other purposes, e.g. it would be possible to push deduplication down to a child query no

[2020-06-01 16:37] JacobCalmes commented on #2352
@kakkoyun I have not experienced this issue with version 0.12.2

[2020-06-01 19:55] Nuru opened #2701 "Querier: Log query when error is "No StoreAPIs matched for this query""
**Thanos, Prometheus and Golang version used**:

Thanos: bitnami/thanos:0.12.2-scratch-r14
Prometheus: bitnami/prometheus:2.18.1-debian-10-r17

**Object Storage Provider**:

Minio S3

**What happened**:

I see in the Query logs things like

[code]

This is concerning as it makes me think there is something wrong with my configuration. However, it can easily be triggered by a query with a non-exist

[2020-06-02 03:20] docker98k opened #2702 "Querier: Can I inquire directly through the finder without going through Sidecar?"
thanos: 0.12.2
prometheus: 0.18.1

Can I inquire directly through the finder without going through Sidecar?
please help me , thank you very much

[2020-06-02 10:12] Jakob3xD commented on #2605
Just for the visualization of the issue. Here is a pic of my graph. Due to the delayed deletion it creates a "peak" of ~2TB of data, which in my opinion is quit heavy.
![image](https://user-images.githubusercontent.com/29206900/83508389-2471ac80-a4ca-11ea-9193-cf633be49bd5.png)

[2020-06-02 14:53] homelessnessbo commented on #2569
we really struggle with that one here. Our users throw heavy aggregation queries on `my_lovely_hight_cardinality_metric[28d]` into ruler config and that basically unbearable, some of the queries take up to 10-15 minutes to return the value, for comparison - we have ~1.2k rules (both recording + alerting) and most of them evaluate within standard global evaluation interval of the `20s`, though for

[2020-06-02 15:57] danielgblanco opened #2706 "quantile_over_time in downsampled data?"
Apologies if this has been answered before, I have tried to find docs or any other answered questions but found none on this particular issue. I'm trying to understand how the downsampling done by the compactor affects percentile calculations.

If I understand correctly by looking at the [downsampler code](https://github.com/thanos-io/thanos/blob/9726c0dc6972b7a51749fba943f8d74b9f081c1e/pkg/compac

[2020-06-02 16:12] PhilipGough commented on #2248
@soniasingla I have some completed already but feel free to take any of the others. I am working through `query` at the moment, `compact` and `sidecar` are done.

[2020-06-03 07:02] maulikjs commented on #2645
Hey @bwplotka ,
Do we know whats going on yet?

Would setting up a query pod with none of the `--query.replica-label=foo` potentially solve our problem?

[2020-06-03 08:04] kakkoyun commented on #2496
@hawran I don't think anyone hasn't had a chance to look into it. I'll try my best to check it out, but no promises. So help wanted. (Also added the label)

[2020-06-03 09:23] homelessnessbo opened #2708 "Thanos ruler UI is not responsive after running normall for sometime"
Component: ruler
Docker image: official v0.13.0-rc.0, but we observed the same behaviour on previous images too.

**What happened**:

After running for some undefined time (feels like a few hours, hard to measure) - Thanos ruler UI loads forever and never finishes nor it gives any standard HTTP error message, just loading indicator going forever.

The rest of UIs (we mostly use query UI) are alway

[2020-06-03 09:28] homelessnessbo commented on #2708
ah yea, it has nginx-ingress with oAuth2 in front of it:
[code]

[2020-06-03 10:29] klzsysy opened #2709 "Sidecar: not upload promethues data to oss storage"
**Thanos, Prometheus and Golang version used**:
[code]

**Object Storage Provider**:
ALIYUNOSS

**What happened**:
sidecar not upload promethues data to oss

**What you expected to happen**:
upload promethues data to oss

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Full logs to relevant components**:

Uncomment if you would like to post collapsible logs:

thanos sid

[2020-06-03 11:27] #2660 closed

[2020-06-03 11:31] #2154 closed

[2020-06-03 12:48] bwplotka commented on #2622
Still very valid: https://circleci.com/gh/thanos-io/thanos/9566?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2020-06-03 12:50] #2473 closed

[2020-06-03 12:54] #2578 closed

[2020-06-03 13:34] bwplotka commented on #2361
still to fix on React UI potentially

On Wed, 3 Jun 2020 at 10:50, stale[bot] <notifications@github.com> wrote:

[2020-06-03 13:37] cevian commented on #2682
I'd also humbly suggest looking at TimescaleDB.  It is based on PostgreSQL - so supports full SQL for analytical (OLAP) or real-time queries, as well as joins with any other relational or time-series data. Several features make it appropriate for prometheus data analysis: elastic horizontal scale-out across multiple nodes to support petabyte sized workloads, native compression, and continuous aggr

[2020-06-03 13:39] bwplotka commented on #2249
I strongly believe that claiming that something is easier only because you can demo it easier with single process (but does not make sense for any realistic setups) is not a valid statement.

Let's close this for now then :hugs:

[2020-06-03 13:48] bwplotka commented on #2569
Yup, definitely high priority (:

On Tue, 2 Jun 2020 at 15:53, Ivan Kiselev <notifications@github.com> wrote:

[2020-06-03 15:23] GiedriusS commented on #2708
Could you please do a goroutine dump when this happens and upload it here?

[2020-06-03 17:06] GiedriusS commented on #2702
Hi. What do you mean by "Finder"? Could you please elaborate on that?

[2020-06-03 17:21] GiedriusS commented on #2672
Unfortunately but some growth in RAM consumption at boot time is inevitable because Thanos needs to build binary index headers from the index files themselves. This can be mitigated a bit by lowering `--block-sync-concurrency` on Thanos Store to a lower number so that it would not try to sync so many blocks at once.

[2020-06-03 18:28] #2303 closed

[2020-06-03 18:45] bwplotka opened #2712 "querier: Improve Partial Response Isolation"
Handling Partial Response is hard. Ideally, there are no failures during query time and if there is any - we fail.

However, because of highly distributed nature in Thanos, we allow marking queries with certain partial response strategies. during query time.

Now there are certain nuances in "consistency" of partial response within the same single query (ignoring subqueries). They are kind of expl

[2020-06-03 19:08] ozanminez commented on #2682
Hello,

I was also thinking -for a long time- about using Prometheus as primary metrics storage in my metrics analytics/ML project which includes Apache Spark for main computing. Because of Prometheus is inaccessible natively from Spark or HDFS/Hadoop I could not use Prometheus at that time. I know each projects has roots on different ecosystems but I believe it will be really powerful combination

[2020-06-03 20:48] maulikjs opened #2713 "Feature Request: Replicate can copy individual blocks"
So today we faced an issue where a few blocks were not copied to our destination bucket and I had to manually copy them over, I am still trying to figure out what went wrong but it would be a nice feature to have if the replicate can copy individual blocks over.

One another feature that would be really useful is to verify if all the blocks have been copied over between 2 buckets and maybe give a

[2020-06-03 21:16] yeya24 commented on #2713
I think the first feature is nice and we can support it easily.

[2020-06-03 21:54] bwplotka commented on #2713
Well, replicate does exactly this. It compares those two buckets. So even
if we had additional logic, same bug might happened (: Let's dive into why
it was missed.

BTW what version you are using? Are you on Thanos tools replicate now?

On Wed, 3 Jun 2020 at 22:16, Ben Ye <notifications@github.com> wrote:

[2020-06-04 09:40] nevill opened #2715 "Integrate funcbench with thanos"
As a contributor of `prometheus/test-infra`, I am happy to help integrating `funcbench` with thanos.

This is the meta thread for discussing about the work.

[2020-06-04 09:41] krasi-georgiev commented on #2715
I will assist on getting access to GKE so you can start experimenting.

The idea is to later move to use amazon, but for now, can try to set it up on GKE

[2020-06-04 10:59] Kirchen99 opened #2717 "Compact doesn't create 5m and 1h downsampling"
**Thanos, Prometheus and Golang version used**:
0.12.1

**Object Storage Provider**:
S3
**What happened**:
Compact creates no more 5m and 1h downsampling. At least it doesn't show any downsampling in Bucket-View, one month after it has been deployed in a Kubernetes Cluster.
![image](https://user-images.githubusercontent.com/9981745/83747329-c0352100-a660-11ea-9fa9-7c8aa95c7770.png)

**What you exp

[2020-06-04 13:04] GiedriusS commented on #2321
I think it would still be worth investigating this further.

[2020-06-04 13:21] prondubuisi commented on #2320
Hello @GiedriusS @bwplotka gone through the links on compactment docs and the discussion on slack, what extra information needs to be added to better document Compactions

[2020-06-04 13:30] #2453 closed

[2020-06-04 17:30] homelessnessbo commented on #2708
Here's what I got with `wget http://127.0.0.1:10902/debug/pprof/goroutine?debug=2`
[dump.txt](https://github.com/thanos-io/thanos/files/4731745/dump.txt)

[2020-06-04 18:22] briend opened #2721 "allow configuring s3 timeout for minio client"
Is there a way to set the upload/receive body timeout for the S3 object store?

Do we just need to add `Timeout` as an extra option here?:

https://github.com/thanos-io/thanos/blob/48c80d18b5d363218b155df916ccb8db514d0c5e/pkg/objstore/s3/s3.go#L70-L74

We're having a problem where occasionally a download from our local S3 server gets hung up indefinitely. It will remain as an open/established tcp

[2020-06-04 21:10] Nuru opened #2723 "Storegateway: crash on large query"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.12.2 (branch: HEAD, revision: 52e10c6e0f644ea98fd057e7fbece828d8dd07c7)
  build user:       root@c1a6cf60f03d
  build date:       20200430-16:24:03
  go version:       go1.13.6

**Object Storage Provider**:

S3

Using default values for index-cache-size and chunk-pool-size.

**What happened**:

Immediately after startup/ready, I ra

[2020-06-05 03:32] daxwang commented on #1624
same problem for v0.12.2, restart receive, then oom

[2020-06-05 06:59] pracucci commented on #2723
Thanks for your report. What's the exit status code of the process when it "crashes"? Is it `OOMKilled`?

[2020-06-05 07:06] pracucci commented on #1813
I initially wrote that design doc but, from my side, the interest decreased since then. The reason is that loading cold blocks on-demand would have a significant performance impact on queries hitting blocks not-yet-loaded and the great work done by @bwplotka to reduce the in-memory index header size as well as the blocks sharding introducing in the Cortex store-gateway relaxed this need.

I still

[2020-06-05 09:31] bwplotka commented on #2645
On it, now

[2020-06-05 09:49] bwplotka commented on #984
eh eh (:

On Thu, 4 Jun 2020 at 11:50, stale[bot] <notifications@github.com> wrote:

[2020-06-05 14:13] kakkoyun commented on #1093
For the docs https://github.com/thanos-io/thanos/issues/1093

[2020-06-05 14:41] ozanminez commented on #2682
After I read "Writing a Time Series Database from Scratch" by Fabian Reinartz, I have seen there is some logic with chunks and merge them properly at query time is already implemented on PromQL engine/query part. So instead of writing a low level api that reads directly from blocks, it will be much easier to write a wrapper on top of PromQL query results to serve them as S3 api. And file names on

[2020-06-05 14:50] xsorifc28 commented on #1859
FWIW, I was able to fix this by adding to the prometheus deployment.

[code]
The default `externalLabels` were not being written to the `prometheus.env.gz` secret, they are written when these empty selector values are provided.

Using `stable/prometheus-operator` helm chart (app v0.38.1).

[2020-06-05 15:53] jdfalk commented on #2338
I think this was closed prematurely.
`--web.external-prefix=` is supposed to be for the external path as referred to in links but is supposed to serve the content still from /
`--web.route-prefix=` is supposed to actually serve it on a subpath, unfortunately compact currently lacks this flag.

[code]

[2020-06-05 16:11] bwplotka commented on #2682
Thanks all for your feedback!

**Looks like the general actionable starting point would be to:**

1, Pick one / two open-source systems OLAP or API, preferably something that you already use heavily on production.
2. Design and develop together PoC of easy to use integration point with Thanos and Prometheus.

---

**So far in this discussion I gathered, multiple ones:**

* [Clickhouse](https://cli

[2020-06-05 16:12] jdfalk opened #2727 "Compact Web: Missing --web.route-prefix and --web.external-prefix wrong"
**Thanos, Prometheus and Golang version used**:
Using official docker release for 0.12.2

**Object Storage Provider**:
NA

**What happened**:
`--web.external-prefix=` is supposed to be for the external path as referred to in links but is supposed to serve the content still from /
`--web.route-prefix=` is supposed to actually serve it on a subpath, unfortunately compact currently lacks this flag.

[2020-06-05 16:25] bwplotka commented on #2645
Ok, got it. The problem is that Querier just have problems with more than 2 replica labels. Fixing.

Thanks for spotting this and quickly describing issue :heart:

[2020-06-05 16:35] sevagh commented on #2645
That makes sense - I have 2 replica labels, and encountered this when adding a 3rd.

[2020-06-05 17:56] bwplotka commented on #2645
Silly missed edge case fixed here: https://github.com/thanos-io/thanos/pull/2728

[2020-06-05 18:51] Nuru commented on #2723
Well this is embarrassing.

@pracucci Yes, it was getting OOMKilled. I considered that, looked for it, and thought that would show up on my monitoring dashboard, but it does not (which is a problem with my dashboard, not Thanos). I am also surprised it is getting OOMKilled because it was allotted 300 MiB of memory and never seemed to exceed 100 MiB. Now that I have bumped the limit up to 800 MiB i

[2020-06-06 20:41] soniasingla opened #2729 "Broken links in TOC of Contributing page"
The `table-of-content` at  https://thanos.io/contributing/ contains the broken links.

I wonder may be we can remove it as per bug #2512 or we should fix it? :)

CC : @bwplotka @povilasv

[2020-06-06 21:07] bwplotka commented on #2729
Definitely we should switch all TOCs into automated ones! :heart:

Good idea :muscle:

[2020-06-07 01:56] ozanminez commented on #2682
@bwplotka Thanks for offering collaboration. I will reach you when I have more progress on a working solution. I continue to read the codebase of existing Spark integrations of products like Elasticsearch,Cassandra,Couchbase etc.

The S3 api that I mentioned earlier was not for accessing external storage to store TSDB files. Even if TSDB files are stored in an existing S3 provider, files are in cu

[2020-06-07 09:20] bwplotka commented on #2682
Oh wait so S3 API you mean some layer that will expose bytes in the desired
format of the target system (e.g Spark) but when API is called we actually
create those bytes on the fly? (: That's actually neat idea if made in a
high performant way, might be feasible. Is that what you mean?

project.

Interesting will look as well.

Anyway, thank you! just make sure Ozan you send us some message on sla

[2020-06-07 14:06] bwplotka commented on #1706
@yashrsharma44 is on it

[2020-06-07 15:29] HimanshPal commented on #2682
@bwplotka - Prometheus connector was recently merged into prestosql.io project & its also now available in latest release as well as supports pushdown at connector level. If we can just build upon it and improve it, I guess that should also work.

More here
https://prestosql.io/docs/current/connector/prometheus.html
https://github.com/prestosql/presto/pull/2321

[2020-06-07 15:46] HimanshPal commented on #2682
Yes, Arrow can be used for reading & writing the data in prometheus tsdb format.

Arrow Flight is another approach for serving the same data without needing serialisation & deserialisation using grpc with arrow format across machines

[2020-06-07 21:06] raravena80 commented on #2682
This would be awesome. It would also be great to find out the memory limitations depending on the amount of tsdb data that needs to be processed for a given case.

[2020-06-07 21:38] FUSAKLA commented on #2678
I needed to get this working so i I took the stab and tried to implement the migration on the ncw/swift library.

I'm in phase of testing and verification right now but the PR should be good to go I hope.
https://github.com/thanos-io/thanos/pull/2732

PTAL

[2020-06-08 06:46] pracucci commented on #2723
It depends on the query you run. The more series a query hits and the larger the time range range is, the more samples need to be loaded from the storage into memory.

[2020-06-08 07:32] hawran commented on #2496
OK, thank you for update.

[2020-06-08 09:18] #2581 closed

[2020-06-08 09:47] callingsid opened #2734 "Thanos compactor fails "no space left on device""
**Thanos, Prometheus and Golang version used**: Thanos v0.12.2 and Prometheus v2.14.0

**Object Storage Provider**: S3

**What happened**: The compactor runs without errors for few days and later it starts to crash.
Note Deployed it on a k8's cluster on AWS.

**What you expected to happen**: The compactor and store-gateway keeps running.

**How to reproduce it (as minimally and precisely as possib

[2020-06-08 10:01] s-urbaniak opened #2735 "Thanos Rules API web endpoint sometimes times out if type parameter is given"
**Thanos, Prometheus and Golang version used**:

Thanos: local build based on 63bcedba
[code]

[code]

**Object Storage Provider**:
N/A

**What happened**:
In a scenario with a Thanos Querier proxying the new Rules API to i.e. Thanos Ruler the request against the `/api/v1/rules?type=alert` API endpoint sometimes times out.

So far I could not reproduce the issue if no `type` parameter is given.

*

[2020-06-08 11:12] keksecops opened #2736 "Gaps in graphs when using Thanos"
**Thanos, Prometheus and Golang version used**:
Thanos: 0.12.2
Prometheus: 2.18.1
Golang: go1.13.1

**Object Storage Provider**:
Bucket on GCP

**What happened**:
When using Thanos datasource in Grafana small gaps appear randomly in the graphs for example in this query for the last 6 hours:

Using Prometheus:
![imagem](https://user-images.githubusercontent.com/53620865/84022023-87a58800-a97d-11ea-

[2020-06-08 13:36] anoop2503 opened #2737 "Gap in graph when enabling query.auto-downsampling"
**Thanos, Prometheus and Golang version used**:
- Thanos-sidecar = quay.io/thanos/thanos:v0.12.2
- Thanos-Querier = quay.io/thanos/thanos:v0.12.2
- Thanos-Store-Gateway = quay.io/thanos/thanos:v0.12.2
- Thanos-Compactor = quay.io/thanos/thanos:v0.12.2

**Object Storage Provider**:S3
**What happened**:

When I try to execute below query in thanos (with query.auto-downsampling enabled) for checking

[2020-06-08 14:06] bwplotka commented on #2488
@thisisobate worth to check what Cortex did: https://github.com/cortexproject/cortex/pull/2349

[2020-06-08 15:03] GiedriusS commented on #2737
Hi! That's expected since you are using:
[code]

And with a big enough time range and with that option enabled, Thanos will start selecting downsampled data for your query. It starts using 5m downsampled hence you see those gaps. Consider using `$__interval` or converting `1m` into a variable, or using separate data sources.

[2020-06-08 15:05] GiedriusS commented on #2737
In fact, I think we should close this in favor of https://github.com/thanos-io/thanos/issues/813, https://github.com/thanos-io/thanos/issues/310, and all of the other issues regarding this.

[2020-06-08 15:06] GiedriusS commented on #2735
@s-urbaniak, maybe related to https://github.com/thanos-io/thanos/issues/2708 ?

[2020-06-08 15:15] usernkey opened #2738 "Issue query sidecar in another cluster."
Hi,

I have a cluster where the Thanos query is running and another cluster where the sidecar is exposed using Kong Ingress.

When the query tries to access the exposed sidecar through the ingress I get this error.

2020/06/08 12:51:21 [info] 22#0: *3645413 client sent invalid request while reading client request line, client: 10.126.0.67, server: kong, request: "PRI * HTTP/2.0"
10.126.0.67 - - [0

[2020-06-08 20:08] cevian commented on #2682
Hi @bwplotka, Let me second @ozanminez in saying that the offer of collaboration is great. This is what open-source is all about.

I'd love to hear your suggestions about scalability. If you don't want to pollute this thread I am also on CNCF slack(@Matvey Arye) or email(mat@timescale.com). Would really appreciate any suggestion you may have.

The vast majority of our [use-cases](https://www.times

[2020-06-09 04:39] bwplotka commented on #2469
Looks like this is done after all, thanks all for discussion (:

[2020-06-09 05:04] s-urbaniak commented on #2735
@GiedriusS that sounds familiar, although in my case I always received a context timeout. I am also still investigating.

[2020-06-09 05:34] bwplotka commented on #2735
Well because there is timeout logic in querier maybe not in ruler, so it looks quite similar yes

[2020-06-09 05:54] bwplotka commented on #2736
Thanks, can you first update Querier to `v0.13.0-rc.1` and see how it goes?

I think you might hit: https://github.com/thanos-io/thanos/issues/981

How your other Prometheus results looks like? :hugs:

[2020-06-09 09:21] kakkoyun commented on #1093
Initial component documentation is done. Also it's no longer marked as experimental. Shall we close this one?

[2020-06-09 09:32] anoop2503 commented on #2737
Thanks @GiedriusS

[2020-06-09 10:53] brancz commented on #2350
Still relevant

[2020-06-09 10:56] brancz commented on #1093
Initial implementation is done. This component is being used a lot in various production environments already, so it's been battle tested in various ways already. That said there are two main things that I would like to get agreement on before taking it our of experimental state:

* https://github.com/thanos-io/thanos/pull/2675
* https://github.com/thanos-io/thanos/pull/2661

That said, I think th

[2020-06-09 10:56] #1093 closed

[2020-06-09 10:57] #2469 closed

[2020-06-09 11:28] brancz commented on #2567
Closed by https://github.com/thanos-io/thanos/pull/2621 and https://github.com/thanos-io/thanos/pull/2679

[2020-06-09 11:28] #2567 closed

[2020-06-09 11:40] Jakob3xD commented on #2734
Hey,
how much local space did you reserve for the compactor and how large are your 2h blocks?
Did you check if your local disk space runs full on compaction? If yes then you could first try to lower the compact.concurrency or increase the local disc space.

[2020-06-09 11:44] Jakob3xD commented on #2717
Hey, did you check the logs of the compactor?
It seems like it is crashing due to missing local space.

[2020-06-09 11:49] Kirchen99 commented on #2717
Hi, it was crashing due to "no space left on device". Then we have increased the volume for the compactor and restarted it. It should have enough disk space now and we hope that it can work after the restart.

[2020-06-09 13:09] s-urbaniak commented on #2735
Ah i see, yes, this potentially could then be triaged against thanos ruler. Let me try just prometheus sidecars in the above e2e test and at least verify a couple of runs if that behavior is observable there too.

[2020-06-09 13:28] sepich commented on #981
We have the same issue:
![](https://habrastorage.org/webt/6q/br/re/6qbrrez9pqsfqvodrpbvxvetkpo.png)
Here target has been unavailable from 4:30-7:00, and this gap is ok. But we also see gaps 10:00-now.
But the data is actually exist, here i'm changing zoom from 12h to 6h:
![image](https://user-images.githubusercontent.com/1803804/84151628-522b9800-aa6c-11ea-94fe-1a1633287224.png)
And then back to 1

[2020-06-09 16:43] maxbrunet opened #2745 "mixin: ThanosSidecarUnhealthy fires on every pod restart"
**Thanos, Prometheus and Golang version used**:
* Thanos v0.12.2 (quay.io/thanos/thanos:v0.12.2)
* Prometheus v2.18.1
* Go v1.13.1

**Object Storage Provider**: AWS/S3

**What happened**:

On pod restart, the `ThanosSidecarUnhealthy` alert fires immediately

**What you expected to happen**:

On pod restart, the `ThanosSidecarUnhealthy` fires only if the issue persist after a delay (current default

[2020-06-10 02:47] Nuru commented on #2723
I can understand the Querier needing all that memory, but it would be nice to keep the Storegateway's footprint smaller. Why does Storegateway need to keep samples in memory?

[2020-06-10 07:38] pracucci commented on #2098
We just experienced this exact issue with the GCS objstore client in Cortex (using the Thanos objstore client): https://github.com/cortexproject/cortex/issues/2703

[2020-06-10 08:12] soniasingla commented on #2320
hey @prondubuisi as per this comment : https://github.com/thanos-io/thanos/issues/2320#issue-587572004
Explanation about why compaction are required and the difference between downsampling and compactions. Feel free to suggest if you have something in mind :)

[2020-06-10 11:56] bwplotka commented on #1318
We plan to talk about this today (in 4m) (:

[2020-06-10 15:02] mickael-carl opened #2750 "Docs: add documentation on layered Thanos Query architecture"
As discussed during the Thanos Community Meeting: the docs already do a fantastic job at describing how Thanos Query works, but what's missing is how to operate it (the [Operating section](https://thanos.io/operating/) currently only has 3 small-ish sections 🙁 ).

It would be nice to document the layered Thanos Query approach mentioned [here](https://thanos.io/operating/multi-tenancy.md/) as a fir

[2020-06-10 22:31] gburek-fastly opened #2753 "Sidecar and Compact: Out of order block uploads lead to overlaps and Compact critical errors"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.12.2 (branch: HEAD, revision: 52e10c6e0f644ea98fd057e7fbece828d8dd07c7)
  build user:       root@c1a6cf60f03d
  build date:       20200430-16:24:03
  go version:       go1.13.6

prometheus, version 2.18.1 (branch: HEAD, revision: ecee9c8abfd118f139014cb1b174b08db3f342cf)
  build user:       root@2117a9e64a7e
  build date:       202

[2020-06-11 07:44] GiedriusS commented on #2577
Still very valid & help welcome!

[2020-06-11 12:55] #2588 closed

[2020-06-11 16:49] andrei-dobre-ts commented on #1767
Hello, we also experience a problem where the compactor downloads more data form S3 than available on the node storage. Is it possible to:
1. Configure the number of blocks brought from S3?
2. Configure the maximum possible size of a single S3 block?
(running thanos 0.8.1)

[2020-06-12 03:23] LB-J commented on #2745
this max(thanos_sidecar_last_heartbeat_success_time_seconds{%(selector)s}) ==   min(thanos_sidecar_last_heartbeat_success_time_seconds{%(selector)s})

[2020-06-12 09:23] joaosilva15 commented on #2565
Bumping the issue.

Yes, this is still happening. We also discovered that even when changing the log level this happens because of this line https://github.com/Azure/azure-storage-blob-go/blob/master/azblob/zc_policy_request_log.go#L76

The requests by thanos seem to be marked with `forceLog` as true which ignores the log level set.

[2020-06-12 10:35] keksecops commented on #2736
Hi @bwplotka and thanks for looking at my problem .
I updated Querier to v0.13.0-rc.1 but the problem persists.
Here's and example after updating the Querier that I manage to capture just now:
Query:
`sort_desc(sum by (pod) (irate(container_network_receive_bytes_total{job="kubelet", cluster="$cluster", namespace="$namespace", pod="$pod", env="$env"}[4m])))`

Prometheus:
![imagem](https://user-imag

[2020-06-12 16:16] Harshitha1234 commented on #2324
Still working on this! :)

[2020-06-12 16:44] onitake commented on #2435
Thank you, I think that should address my questions.

[2020-06-12 16:44] #2435 closed

[2020-06-13 08:49] Allex1 opened #2758 "sidecar 0.12.2 restarts daily on ec2"
**Thanos, Prometheus and Golang version used**:
thanos, version 0.12.2 (branch: HEAD, revision: 52e10c6e0f644ea98fd057e7fbece828d8dd07c7)
  build user:       root@c1a6cf60f03d
  build date:       20200430-16:24:03
  go version:       go1.13.6

**Object Storage Provider**:
aws S3
**What happened**:
After upgrading from 0.8.1 to 0.12.2 and from prometheus 2.13 to 2.18.1 and kernel from 3.10.0-693 to

[2020-06-13 10:08] jlr52 commented on #2577
@GiedriusS

Hi I would love to contribute on this.

Does the ask only apply to `promclient.go` or does it apply to all queries in the repo that have post supported  in https://github.com/thanos-io/thanos/blob/0aa297bd00816ed5efe5d6dea117cb7059a3d7b1/pkg/query/api/v1.go like the following

[code]

[2020-06-14 10:02] bwplotka commented on #2454
still valid

On Sat, 13 Jun 2020 at 20:55, stale[bot] <notifications@github.com> wrote:

[2020-06-15 07:05] kakkoyun commented on #2582
@GiedriusS Does https://github.com/thanos-io/thanos/pull/2714 satisfy all the needs here?

[2020-06-15 07:09] kakkoyun commented on #2324
Reopened since @Harshitha1234 still working on this.

[2020-06-15 07:14] kakkoyun commented on #2745
@maxbrunet Looks like a good improvement. We'd be happy to accept the fixes if you send a PR 🤗

[2020-06-15 07:49] kakkoyun commented on #2700
@bwplotka Is this fixed by https://github.com/thanos-io/thanos/pull/2711?

[2020-06-15 08:17] bwplotka commented on #2700
No, we dedup the duplicated chunks yes, but only if the series is duplicated without "replica label removing" phase. This ticket is about doing the replica rem phase and some kind of initial dedup on Store API.

I think it would be a solid request, except that it will be highly expensive. This is because for true deduplication you have decode chunks and encode them again (because StoreAPI exposes

[2020-06-15 09:47] juzhao opened #2761 "no search result show on new thanos-querier UI with lower FF version"
FF 54.0 (64-bit),Goto thanos-querier UI, and click "New UI", search metrics, example: ALERTS
no resutl show, no such issue with a higher version, example: 75.0 (64-bit)

thanos version="0.12.2"
Steps to Reproduce:
`1. Goto new thanos-querier UI with FF 54.0`

Actual results:
no result show

Expected results:
show search result correctly

FYI:
we can close this issue if we don't support the low FF

[2020-06-15 10:01] bwplotka commented on #2761
Thanks for filling!

cc @prmsrswt (:

[2020-06-15 10:07] bwplotka commented on #2758
Thanks for letting us know, this sounds quite bizarre. What's your orchestrator system, how you deploy Thanos? Also please find out exact exit code and reason of restart. It sounds like something in your operating system is killing it. Since there is no error or panic, it's process being killed potentially. We need to track what signal is sent to process etc.

Kernel is quite old, but yea - try to

[2020-06-15 10:09] bwplotka commented on #2753
Interestingly, I think we upload with the order of blocks presented in filesystem, so from oldest, but we might want to double-check. :+1:

We will look into this, this week, thanks. Any further pointers if you can "reliably" reproduce overlaps, let us know:

This sounds like amazing pointer, it will help us a lot.

[2020-06-15 10:14] dgl commented on #2700
I agree doing deduplication in thanos-remote-read makes sense if there's not really a use case elsewhere. The attraction for me is the code for deduplication isn't currently a public API, but I'm sure I can work something out.

(I still think there are cases where being able to push some of the querier work to other places has value but I suspect it's not a priority right now as there's plenty of

[2020-06-15 10:28] paulfantom opened #2763 "mixin: dashboards not generated with latest jsonnet-bundler"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:

Running following causes problems:
[code]

**What you expected to happen**:

jsonnet generates dashboards

**How to reproduce it (as minimally and precisely as possible)**:

Use latest ([0.4.0](https://github.com/jsonnet-bundler/jsonnet-bundler/releases/tag/v0.4.0)) `jb` instead of one from `efe0c9e8

[2020-06-15 10:50] bwplotka commented on #2753
As per https://github.com/thanos-io/thanos/blob/748740dbd7a88408f734c5ac9510167c48a71680/pkg/shipper/shipper.go#L417 upload is done from the oldest to newest.

I improved readability a bit here: https://github.com/thanos-io/thanos/pull/2764

Yes, that's the plan, I think there is issue about it.

Ah, this is actually the root cause indeed.

It's here: https://github.com/thanos-io/thanos/blob/74874

[2020-06-15 10:56] bwplotka commented on #2753
In mean time you can enable vertical compaction, as it works well so far (although experimental).

As a hack solution you can do it now in 0.12.2 with `--deduplication.replica-label=some-not-existing-label`

[2020-06-15 11:04] JensErat commented on #2643
memcached resolved the issue indeed, s3 usage dropped massively for thanos-store. Just leaves the similar issue in compactor where @chrischdi already proposed a PR.

[2020-06-15 11:04] #2643 closed

[2020-06-15 11:27] bwplotka commented on #2753
Fixed https://github.com/thanos-io/thanos/pull/2765

[2020-06-15 11:54] #2763 closed

[2020-06-15 11:55] squat commented on #2582
hm not quite, I think we should still test for combinations for external web prefix + web prefix. We identified last week that these are not yet completely correctly handled

[2020-06-15 14:04] Allex1 commented on #2758
Thanks @bwplotka
We use puppet4 for orchestration but nothing was changed except versions. I did miss to write the status code in systemd:
`caller=main.go:223 msg="caught signal. Exiting." signal=terminated`

[2020-06-15 14:15] bwplotka commented on #2758
Yea, so it's a OS sending TERM signal, it's nothing on Thanos that does
this (:

On Mon, 15 Jun 2020 at 15:04, Allex1 <notifications@github.com> wrote:

[2020-06-15 15:15] bwplotka commented on #2753
It should be part of 0.13.0

In terms of ULID for partial uploads, we have this ticket: https://github.com/thanos-io/thanos/issues/2470

[2020-06-15 15:22] #2753 closed

[2020-06-15 16:22] kakkoyun commented on #2587
Fixed by https://github.com/thanos-io/thanos/pull/2755

[2020-06-15 19:09] bwplotka commented on #2344
still valid

On Fri, 12 Jun 2020 at 17:12, stale[bot] <notifications@github.com> wrote:

[2020-06-15 19:13] bwplotka commented on #2577
It's only for Thanos Rule client side for Query API. There is no need to
change anything on server side (:

On Sat, 13 Jun 2020 at 11:08, jlr52 <notifications@github.com> wrote:

[2020-06-15 19:13] bwplotka commented on #310
still valid

On Sat, 13 Jun 2020 at 16:55, stale[bot] <notifications@github.com> wrote:

[2020-06-15 19:13] bwplotka commented on #2470
Duplicate of https://github.com/thanos-io/thanos/issues/2585

[2020-06-15 19:13] #2470 closed

[2020-06-15 19:14] bwplotka commented on #2585
Still valid and actually possible thanks to recent changes. Some description why it's important you can see here: https://github.com/thanos-io/thanos/issues/2470

[2020-06-15 19:15] bwplotka commented on #2585
Question from my side: Should we cache in anyway the ModTime. I think yes.

[2020-06-15 19:15] bwplotka commented on #2598
In making (:

On Sun, 14 Jun 2020 at 11:38, stale[bot] <notifications@github.com> wrote:

[2020-06-15 19:16] bwplotka commented on #2606
Nope, not fixed yet.

[2020-06-15 19:20] bwplotka commented on #2399
Sorry we missed this one.

You can totally do that now, using `max_source_resolution` https://thanos.io/components/query.md/#auto-downsampling

[2020-06-15 19:25] bwplotka opened #2769 "prometheus: compaction: Consider merging chunks for the same series during compaction."
See: https://github.com/prometheus/prometheus/issues/6332

This can mostly happen with downsampled data, that's why we track it here in Thanos.

[2020-06-15 19:26] bwplotka commented on #2041
@soniasingla is on it!

[2020-06-15 20:42] pstibrany commented on #2585
We already cache modification time, if that’s what you’re saying.

[2020-06-15 21:23] bwplotka commented on #2585
:scream: That's perfect yes (if someone uses cache option for this).

Then it's quite easy work, marking as good first issue

[2020-06-16 07:09] george-angel commented on #985
remove stale

[2020-06-17 03:10] zygiss commented on #2098
@pracucci what version of Thanos objstore client are you using there?  We've not seen this problem occur with Thanos 0.11 and up.

Also, does the problem go away if you disable HTTP/2?  This was an acceptable workaround for us at the time, it didn't many any notable difference to performance or latency in Thanos Store.  Since Thanos 0.11 however we're back to using HTTP/2.

[2020-06-17 03:24] zygiss commented on #2605
As a workaround, would running another instance of Compactor as a cron job with `--debug.max-compaction-level=1` be a terrible idea here?

If I'm reading it right, this instance of Compactor will not try to compact any blocks, so it can safely run alongside exsting Compactors and instead of compacting, skip to removing blocks marked for deletion.

[2020-06-17 07:45] bwplotka commented on #1820
We need to get back to this (:

On Tue, 16 Jun 2020 at 21:44, stale[bot] <notifications@github.com> wrote:

[2020-06-17 08:16] hmlkao commented on #2399
This request is for different feature.

_Example_
If I set `max_source_resolution=5m`, I get raw OR downsampled data with 5m resolution based on `step`.
If I set `max_source_resolution=1h`, I get raw OR downsampled data with 5m resolution OR downsampled data with 1h resolution based on `step` (this is a little bit useless because it works exactly as `false` value).

But If I want to get ONLY downs

[2020-06-17 09:21] chrischdi opened #2774 "store recommends setting proper mlock limits which is not possible in upstream docker images"
**Thanos, Prometheus and Golang version used**:
[code]
Built from https://github.com/c445/thanos/tree/726708a7b05b0c4037ac064c4bb789c4d687cd3d
(this branch is equivalent to the tag `v0.13.0-rc.2`, except cherry-picking #2752 )

**Object Storage Provider**:
Cloudian S3

**What happened**:

On startup thanos-store did panic witht he following error:
[code]
I tried to increase the mlock limit by exec

[2020-06-17 09:28] pracucci commented on #2444
_Still valid_

[2020-06-17 11:19] #2587 closed

[2020-06-17 14:41] #2677 closed

[2020-06-17 16:51] keksecops commented on #2736
Updated to the latest version v0.13.0-rc.2. The problem still persists.
Any more ideas on how to fix this?

[2020-06-17 20:50] scorsair opened #2777 "The specified key does not exist"
### "The specified key does not exist" in all Thanos components.

**Thanos, Prometheus and Golang version used**:

I also tested all 0.12.*, 0.11.*, 0.10.*

thanos, version 0.12.2 (branch: HEAD, revision: 52e10c6e0f644ea98fd057e7fbece828d8dd07c7)
  build user:       circleci@241aa351893e
  build date:       20200430-16:37:24
  go version:       go1.13.1

**Object Storage Provider**: AWS S3

**What

[2020-06-17 21:01] monotek commented on #1820
Sorry for playing dead.
Not so much time for this at the moment.

[2020-06-17 23:31] spencergilbert commented on #1820
Yeah, as soon as I got out from under a bunch of job work - sudden personal life problems pop up :( I'm still around and want to help

[2020-06-18 12:04] cuotos commented on #977
This would still be incredibly useful as we have had to add additional infrastructure and config in order to force all our endpoints to use SSL even if the API was in the same cluster and would normally use local endpoints.

It would be ideal to be able to set the grpc client config, per store, possibly via conf file, else via multiple flags somehow.

[2020-06-18 12:33] bwplotka opened #2778 "Use unsafe slice project to ensure yolo conversion safety"
See the following discussion: https://twitter.com/mdlayher/status/1273378885946814469

AC:
* Port `yoloString` and https://t.co/Hf7rJ9s064?amp=1 to [`unsafeslice`](https://t.co/BwOVAGJVBA?amp=1)
* Enable `-race` on Thanos unit tests on CI.

Thanks for @mdlayher for hints :heart:

[2020-06-18 14:53] jujugrrr commented on #2344
hi @bwplotka , not sure it's the best issue to ask the question, but I couldn't find a recommended way to backup Thanos data. Will this issue allow to use the compactor to do this?

I've seen we can do `thanos bucket replicate` this as well, but is it not reliable because the compactor might corrupt data while it's replicating?

[2020-06-18 15:14] bwplotka commented on #2736
Thanks all input.

It feels to me like you hit this: https://github.com/prometheus/prometheus/issues/7349 Do you mind upgrading Prometheus to v2.18.2? It has to do with remote read endpoint. Actually it was seen only for certain remote read users, so the bug does not fill 100% as yours, but the symptom is exactly the same. Let's try.

What we know:
* It's when querying Prometheus via Thanos sideca

[2020-06-18 15:20] jujugrrr commented on #2344
Would S3 bucket replication + `thanos bucket verify --repair` be a better approach. The replication won't delete files in the destination bucket  when deleted from the source bucket, but the verify might fix the overlap/duplicate created by the compactor from the source bucket?

[2020-06-18 16:10] bwplotka commented on #2642
Thanks! sorry for lag, have you checked recent caching? It requires running Memcached though.

I think we are ok to have this flag as well :+1:  Looking on your PR now.

[2020-06-18 16:20] bwplotka commented on #2736
Prom:

![image](https://user-images.githubusercontent.com/6950331/85046055-cc080380-b187-11ea-9f06-b5d67e2e7f52.png)

Dup off:
![image](https://user-images.githubusercontent.com/6950331/85046071-d1fde480-b187-11ea-9f99-93d1808a5a12.png)

Dup on
![image](https://user-images.githubusercontent.com/6950331/85046084-d6c29880-b187-11ea-82f5-8232121b8921.png)

[2020-06-18 16:20] bwplotka commented on #2736
still with v2.18.2

[2020-06-18 16:20] chrischdi commented on #2642
Hi, yes we are using the caching already but if I didn't get it wrong it is not an option for the compact cli (yet?)?

[2020-06-18 16:26] bwplotka commented on #2642
ups, you are right, good point. Then your change makes even more sense.
Thanks!

On Thu, 18 Jun 2020 at 17:21, Christian Schlotter <notifications@github.com>
wrote:

[2020-06-18 16:53] keksecops commented on #2736
Current architecture (all deployed in K8s clusters):

Cluster Mon(Federation): 2 prometheus replicas that  scrape other clusters. This prometheus have both the thanos sidecar installed. This can be seen as the global prometheus that gathers all metrics from all environments.

Cluster Apps: 2 prometheus replicas for HA

Both prometheus in Cluster Mon will scrape the Cluster Apps prometheus.

Thanos

[2020-06-18 16:53] bwplotka commented on #2629
This issue was fixed by here: https://github.com/thanos-io/thanos/pull/2664 thanks to @thisisobate :muscle:

[2020-06-18 16:53] #2629 closed

[2020-06-18 16:57] bwplotka commented on #1651
in progress!

On Wed, 17 Jun 2020 at 19:15, stale[bot] <notifications@github.com> wrote:

[2020-06-18 16:58] bwplotka commented on #1375
help wanted (:

On Wed, 17 Jun 2020 at 19:15, stale[bot] <notifications@github.com> wrote:

[2020-06-18 16:58] bwplotka commented on #2290
help wanted, very needed (:

On Wed, 17 Jun 2020 at 19:15, stale[bot] <notifications@github.com> wrote:

[2020-06-18 17:02] bwplotka commented on #2617
Thanks, but no, we need this. Help wanted. Hackathon offer still applies
Ivan ;p

On Wed, 17 Jun 2020 at 10:14, stale[bot] <notifications@github.com> wrote:

[2020-06-18 17:12] bwplotka commented on #2198
This is in quite heavy progress! Do you mind @prmsrswt to share some update at some point (: Maybe there is someone interested in the progress :hugs:

[2020-06-18 17:23] bwplotka commented on #2736
Nice, can you zoom AND do the same comparison but on Prometheus UI for query WITHOUT rate and sum? :hugs:

[2020-06-18 17:42] keksecops commented on #2736
Prometheus UI:
![imagem](https://user-images.githubusercontent.com/53620865/85054102-7174a480-b193-11ea-9f3b-b9bf77995b64.png)

Query without rate and sum :
![imagem](https://user-images.githubusercontent.com/53620865/85054005-4ee28b80-b193-11ea-9e08-8936333672d5.png)

Exactly! They scrape the /federate endpoint of the clusters apps prometheus-es. Each replica scrapes both prometheus-es in cluster

[2020-06-18 18:02] prmsrswt commented on #2198
Yeah sure :)

We are steadily making progress in this front. Some of the work done till now includes
- We have merged the initial UI with `/graph` endpoint working. Thanks to @adrien-f :tada: (#2412)
- We now have a Error boundary in the React UI, so we show a simple page with "Something went wrong" instead of just a blank page. (#2759)
- The PR to add `/stores` page is in review. You can track it

[2020-06-18 22:51] posix4e opened #2782 "Feature: Compactor should be able to handle retention"
**Thanos, Prometheus and Golang version used**:
Newest

**Object Storage Provider**:
Any. In this case I'm using minio

It would be delightful to be able to have thanos automatically compact away results older than a certain number of days. We are very privacy centric at our company.

[2020-06-19 09:00] GiedriusS commented on #2782
Hi! It does via the `--retention.X` flags as described here: https://thanos.io/components/compact.md/#downsampling-resolution-and-retention. Is there something in there that doesn't work for your use case exactly?

[2020-06-19 09:11] GiedriusS opened #2784 "Improving {Halt,Retry}Error semantics"
It's a continuation of a small discussion that we had on Slack a few weeks ago. Currently, we have `HaltError` and `RetryError`. `HaltError`s happen when some critical issue occurs and we have to halt the whole process so that the operator could investigate what went wrong. `RetryError` happens when some operation fails that we can retry. Some relevant snippets of code:

[code]

[code]

However, t

[2020-06-19 11:59] GiedriusS commented on #2420
Need to check if this is still valid.

[2020-06-19 14:16] pracucci commented on #2784
_My gut feeling is that your proposed logic adds extra complexity to cover a case which shouldn't be the normal one. I wouldn't expect failures to happen so frequently and, if they do, probably fixing the root cause is better, but I'm open to discuss it further._

Some object storages already export the checksum of objects when reading attributes (HEAD operation). Have you checked if it's availabl

[2020-06-19 14:39] GiedriusS commented on #2784
I actually had to implement a rough version of https://github.com/thanos-io/thanos/pull/2785 because it was impossible for Thanos Compactor to finish at least one iteration due to transient errors. `RetryError` should help out in this case but it wipes everything right now so it's pretty useless. It only "helps" by not restarting the whole process when `--wait` is specified.

If the object storage

[2020-06-19 15:02] pracucci commented on #2784
We have the attributes function which was designed for this. Assuming it's feasible to add the checksum (I haven't checked if it's implemented by all storages we do support nowadays) I agree that adding extra attributes there could be a blocker to support other storages in the future.

[2020-06-19 22:59] Harshitha1234 commented on #2405
Still needed! :)

[2020-06-20 06:04] Harshitha1234 commented on #903
Still needed! :)

[2020-06-21 10:54] the-yash commented on #2782
Hi. I have set my retention flags,
[code]

If I understand correctly, I should not be having any data after 3 days. However, I can query data older than that as well. Why is this happening?

[2020-06-21 10:56] the-yash commented on #2782
Hi. I have set my retention flags,
[code]
If I understand correctly, I should not be having any data after 3 days. However, I can query data older than that as well. Why is this happening?

[2020-06-21 12:55] Harshitha1234 commented on #1598
Working on this currently :)

[2020-06-21 14:07] posix4e commented on #2782
Yes it's confusing. You should clearly explain what it takes to have data
actually expire.

[2020-06-21 16:41] d-ulyanov commented on #2641
still reproducible

[2020-06-22 09:02] bwplotka opened #2789 "Add search input for doc search on mobile version as well"
cc @thisisobate

Looks like we have Algolia search on desktop, might be worth to add on mobile version as  well ^^

[2020-06-22 09:27] thisisobate commented on #2789
I implemented Algolia search in mobile as well. It's appended inside the hamburger menu

[2020-06-22 09:55] pracucci commented on #2098
We've seen it while running the Cortex blocks storage (which vendors Thanos `master` and we keep it updated frequently), so was a commit has after Thanos `0.11`.

We didn't. We've seen the issue only once. Let's see how frequently it happens (at least, if it happens again) before following the path of disabling HTTP/2.

[2020-06-22 13:08] j3p0uk commented on #1507
Trying to find time to implement new solution.  Keeping this issue open/not stale.

[2020-06-22 14:15] thisisobate commented on #2789
I guess I'll have to make it alot more visible and accessible for the mobile user.

Would work on this ASAP.
Thanks for bringing this to my attention 😁👍

[2020-06-22 16:27] clausa20 opened #2792 "IAM Role: Access Denied in AWS GovCloud"
Hello,
I get Access Denied using IAM roles in GovCloud when running for example:

./thanos compact --wait --retention.resolution-raw=90d --retention.resolution-5m=180d --retention.resolution-1h=360d --objstore.config-file=/root/thanos/thanos-0.13.0.linux-amd64/bucket_config.yml --data-dir=/root/thanos/thanos-0.13.0.linux-amd64/data

level=info ts=2020-06-22T16:04:48.279448176Z caller=http.go:56 se

[2020-06-23 06:53] sepich opened #2793 "receive: high cpu when upgrading from 0.12.2 with old data"
**Thanos, Prometheus and Golang version used**:
thanos, version 0.13.0 (branch: HEAD, revision: adf6facb8d6bf44097aae084ec091ac3febd9eb8)
  build user:       circleci@b8cd18f8b553
  build date:       20200622-10:04:50
  go version:       go1.14.2

**Object Storage Provider**:
GCP

**What happened**:
We're using 3 thanos-receive v0.12.2 pods running with `--receive.replication-factor=3`.
At 3:30 i'

[2020-06-23 10:44] krasi-georgiev opened #2794 "[receive] shutting down doesn't stop WAL reply"
Sending a sigterm signal during the WAL reply doesn't stop the WAL replay and thanos receive doesn't exit even after the WAL reply. Additional SIGTERM signals even after the wal reply don't do anything.

This is latest master: `e5d1cc71dba166f6c69a966b47e39d9e2dfcae99`
go 1.14

[code]

[2020-06-23 10:49] squat commented on #2794
Yes this is known limitation of the current implementation since receive was created but it's not really a bug and it's not really the same issue we are seeing in production. We are seeing that even when NO WAL replay is taking place, sending a SIGINT or a SIGTERM can cause the process to deadlock and not make any progress at all.

[2020-06-23 10:52] squat commented on #2794
In other words, the behavior you described, where the processes is shutting down and in doing so is processing an uninterruptible WAL replay, would actually be _better_ than the current regression in behavior we are experiencing today

[2020-06-23 10:57] krasi-georgiev commented on #2794
yes I didn't think it is the same, bug just thought it would be good to have an issue to track this one as well.
With the new design for a fast wal reply that will end up in tsdb soon interruptable WAL reply is not that important, but the real bug here I guess is that the process doesn't exit even after the WAL reply is finished and it also ignores any additional SIGTERM signals so if you send a s

[2020-06-23 11:27] squat commented on #2794
Not exactly; if you send a second SIGTERM after one has already been signalled, then it won't have any additional effect, but a clean shutdown _should_ still occur once the WAL is completely flushed. The real bug here is that no clean shutdown ever occurs, which is a regression.

[2020-06-23 13:52] brancz commented on #2793
could you take a cpu profile of this?

[2020-06-23 15:34] hongyuxuan opened #2797 "query: It took too long to query from Store gateway"
**Thanos, Prometheus and Golang version used**:
prometheus-2.15.1, thanos-0.13.0-rc.0, go-1.14.2

**Object Storage Provider**:
S3(MinIO)

**What happened**:
I setted up an object storage cluster with MinIO，and I started a thanos component of store gateway that connected to MinIO with S3 adaptor.
I also started a thanos querier connected to the store gateway:
./thanos query --store localhost:19090(

[2020-06-23 17:13] sepich commented on #2793
Please find 30s cpu profiles attached, they were taken almost at the same time:
[Archive.zip](https://github.com/thanos-io/thanos/files/4820851/Archive.zip)

[2020-06-23 18:01] #2512 closed

[2020-06-23 18:20] bwplotka commented on #2789
It works, I just did not click properly, all good. And @thisisobate also fixed menu logo, so amazing!

[2020-06-23 18:20] #2789 closed

[2020-06-23 18:32] bwplotka commented on #2793
Thanks, looks like GC is the current bottleneck:

[profile001.pdf](https://github.com/thanos-io/thanos/files/4821237/profile001.pdf)

[2020-06-24 12:43] bwplotka commented on #2324
TODOS are here: https://github.com/thanos-io/thanos/blob/52595335a8bfcf0712f9cff0b5fa27a4a9568258/test/e2e/compact_test.go#L80

[2020-06-24 15:25] d-ulyanov commented on #2608
we still work on this, let's reopen

[2020-06-25 04:27] kjge opened #2803 "failing make test-e2e"
**Thanos, and Golang version used:**
thanos master branch last commit 02ab6b84908e5458699655ab064a78afc0f9da9b
go version go1.14.4 darwin/amd64
mac 10.15.5
docker version 19.03.8

**What happened:**

running ```make test-e2e```  gives following error

[code]

even though  ```make docker``` is successful , can someone point me a direction?

[2020-06-25 04:27] ranjithkumar007 commented on #2486
will update this.

[2020-06-25 11:01] JensErat opened #2805 "Compactor/S3: sometimes segments are not being fully downloaded ("segment doesn't include enough bytes")"
**Thanos, Prometheus and Golang version used**:

Thanos 0.13 rc2, currently upgrading to 0.13 but commits do not indicate any relevant change since the tag was crafted

**Object Storage Provider**:

Internal Cloudian S3 service

**What happened**:

Compactor halts with following error message:

`level=error ts=2020-06-25T07:57:55.183632304Z caller=compact.go:375 msg="critical error detected; halti

[2020-06-25 14:07] wiardvanrij commented on #2209
We encounter the same issue. Exactly described as above. The main issue for us is the number of goroutines, which causes Thanos query to miss some requests.

We now are upgrading to v0.12.2, in the hopes that this helps.

[2020-06-25 16:36] GiedriusS commented on #2805
This is _not_ a retryable error since we don't have enough data on disk when compaction runs and this occurs.

We have been running into this the past month or so but only on our staging environment. We have found after https://github.com/thanos-io/thanos/pull/2637 that:
* One chunk file is missing some data during compaction
* All of the content of the affected file that is on disk has the correc

[2020-06-25 16:44] GiedriusS commented on #2777
Hmm, interesting. Perhaps you know what kind of key Thanos Store is trying to find?

[2020-06-25 16:48] GiedriusS commented on #2636
Just delete the appropriate directories according to their external labels. `deletion-mark.json` is an internal implementation thing that Thanos uses to mark blocks before their deletion. You could create them yourself by looking at the code to gracefully delete blocks but I don't think this is the way to go forward. I believe this will be properly solved during GSoC. Take a look at this PR: https

[2020-06-25 16:48] #2636 closed

[2020-06-25 16:54] GiedriusS commented on #2727
We plan on fixing this soon. cc @prmsrswt

[2020-06-25 18:03] #2782 closed

[2020-06-26 07:53] mxmorin opened #2810 "Thanos Receive - High memory usage"
**Thanos, Prometheus and Golang version used**:
thanos, version 0.13.0 (branch: HEAD, revision: adf6facb8d6bf44097aae084ec091ac3febd9eb8)
  build user:       root@ee9c796b3048
  build date:       20200622-09:49:32
  go version:       go1.14.2

**Object Storage Provider**:
S3

**What happened**:
We have 2 load balanced thanos receive instance with 16go of memory

Memory is continuously increasing a

[2020-06-26 08:10] GiedriusS commented on #2600
Still valid.

[2020-06-26 09:08] brancz commented on #2810
We have also seen some problems with blocks being cut, @krasi-georgiev is investigating this. For us restarting the process fixes the problem for now, but you may need to do this every couple of days until the problem is resolved.

[2020-06-26 09:16] mxmorin commented on #2810
Is it a 0.13.0 issue ?
Can i downgrade version ?

[2020-06-26 09:44] #2642 closed

[2020-06-26 10:02] supasteev0 opened #2811 "No StoreAPIs matched for this query with prometheus record rule from Grafana"
**Thanos, Prometheus and Golang version used**:
Thanos 0.12.2
Prometheus: 2.11.0

**Object Storage Provider**: S3

**What happened**:
We are using prometheus rules from kube-prometheus repository.
Some of these rules contain record rules, like _namespace_pod_container:container_cpu_usage_seconds_total:sum_rate_
These rules work fine when querying thanos directly, but not when the query is made fro

[2020-06-26 15:01] scorsair commented on #2777
I don't know, it's a clean installation.

[2020-06-26 15:02] #2164 closed

[2020-06-26 16:23] GiedriusS commented on #2417
Valid.

[2020-06-26 16:23] GiedriusS commented on #2419
Still valid, we should touch upon this in about a month.

[2020-06-26 16:39] rtnpro commented on #2419
@GiedriusS Is this still happening as part of the React rewrite? Or is
there scope to fix it in the current version?

On Fri, Jun 26, 2020 at 9:53 PM Giedrius Statkevičius <
notifications@github.com> wrote:

--
Ratnadeep Debnath,
https://www.waartaa.com
GPG Fingerprint: A937 6DB0 91A2 3809 27B2  1C85 8145 B6DD 3CE6 14AC

[2020-06-26 20:12] GiedriusS commented on #1611
Still valid.

[2020-06-26 20:18] GiedriusS commented on #2792
Maybe. Perhaps it would be worth putting some HTTPS proxy such as https://mitmproxy.org/ in front of the endpoint and see what is the difference in the requests when the AWS CLI makes them, and when Thanos Compactor does that. Could you please try that and report the differences?

[2020-06-26 20:24] GiedriusS commented on #2797
It certainly shouldn't take that long. I can load months of data in lots of different panels on my deployment easily in 42 seconds. Let's do a quick check for starters: do you run Thanos Compact in your environment?

[2020-06-27 01:36] ipstatic commented on #2340
I think this is still relevant.

[2020-06-27 06:22] SuperQ commented on #2340
Yes, I just had a 480GB compaction, which means I need 1T of local disk to handle these events. It would be nice to be able to set an upper bound on TSDB block sizes.

[2020-06-27 07:17] SuperQ commented on #1830
Still TODO.

[2020-06-27 17:00] prmsrswt commented on #2124
Still valid (:

[2020-06-27 17:12] prmsrswt commented on #2419
We are going to keep this in our mind during the React rewrite, and as @GiedriusS said the rewrite can take around a month. If it's causing a major headache, I would try to fix this in the old UI if I get some free time, no promises though. Also, any help is appreciated :)

[2020-06-28 09:47] GiedriusS commented on #2582
External/route prefix tests are being added in https://github.com/thanos-io/thanos/pull/2800.

[2020-06-28 15:04] ipstatic commented on #1424
Still an issue. If anyone knows of a workaround I would be appreciative. Right now we just have the impacted instance not compacting. This will start hurting performance soon.

[2020-06-29 12:24] JensErat commented on #2805
I further analyzed one of the halts:

- compact uploaded a block successfully (at least no issues indicated in logs) on 2020-06-25 around noon
- compact downloaded the block again on 2020-06-27 and has incomplete data. Download of the block took around 5h(!), an operation usually done within minutes
- after restarting compactor, it will download again and successfully continue

thanos-store did no

[2020-06-29 13:14] bwplotka commented on #2793
We can repro this on our side, looking into this more (:

[2020-06-29 14:15] sepich commented on #2793
JFYI,
i've backported https://github.com/thanos-io/thanos/pull/2621, https://github.com/thanos-io/thanos/pull/2679 to [v0.12.2](https://github.com/thanos-io/thanos/compare/v0.12.2...sepich:0.12.2-2621) and it does not lead to cpu usage increase.

[2020-06-29 14:23] bwplotka commented on #2793
I think it's multiTSDB so https://github.com/thanos-io/thanos/pull/2012

[2020-06-29 17:05] bwplotka commented on #2793
It's not particularly in v0.13.0, but this code does not help for sure: https://github.com/prometheus/prometheus/blob/b788986717e1597452ca25e5219510bb787165c7/tsdb/db.go#L812

TSDB we use, forces GC multiple times. It might make sense for single TSDB, but not really for multiple.

[2020-06-29 19:10] 0xVox commented on #861
To save some clicks if you've just come from a search result, as that's no longer in master

https://github.com/thanos-io/thanos/blob/acb1cb03fd5ecf3e044a97642be50897db11c34f/tutorials/kubernetes-demo/manifests/prometheus-ha-sidecar.yaml#L179

[2020-06-30 08:41] sepich commented on #2793
Turns out this high cpu usage happens when i'm start thanos-receive v0.13.0 on non-empty tsdb folder from v0.12.2 (which has many subfolders like 01EC0YX4APXB1MGA39DWFTS96C, etc)
This leads to each subfolder being converted to separate tsdb:
[code]
And then log is full of `component=tsdb msg="Head GC completed"` events.
If I wipe tsdb folder before starting of v0.13.0 - then it consumes the same c

[2020-06-30 09:21] runningman84 opened #2818 "thanos_sidecar_prometheus_up does not recognize a 50x error"
**Thanos, Prometheus and Golang version used**:
v.0.10.1, na

**Object Storage Provider**:
none

**What happened**:
Some sidcar was unavailable and caused 50x errors. This error was also reported on the thanos status page.

**What you expected to happen**:
The metric thanos_sidecar_prometheus_up should be 0 for the corresponding sidecar. But the metric was not filled at all.

![image](https://user

[2020-06-30 12:13] sevagh commented on #2605
There is a flag for `--delete-delay=48h`:

                                deleted from bucket. If delete-delay is non
                                zero, blocks will be marked for deletion and
                                compactor component will delete blocks marked
                                for deletion from the bucket. If delete-delay is
                                0, blocks wil

[2020-06-30 13:28] bwplotka opened #2821 "Netlify Configuration is down"
It does not look flaky, and no incident is announced. We might want to looks for mistakes on our side:

[code]

First broken master build was: https://app.netlify.com/sites/thanos-io/deploys/5efa145ee1e70300071f5e52

[2020-06-30 16:21] bwplotka commented on #2821
The issue is on Netlify, there is ongoing incident as well

![image](https://user-images.githubusercontent.com/6950331/86150945-fea1ec80-baf5-11ea-834a-539fd3b7e2f0.png)

Given the `Retry Deploy with Clean Cache works` I assume issue on Netlfiy side. Let's see how often/how bad it is.

[2020-06-30 16:26] GiedriusS commented on #2542
Still relevant AFAIK.

[2020-06-30 16:26] GiedriusS commented on #2430
Still relevant AFAIK.

[2020-06-30 16:27] GiedriusS commented on #2468
Still relevant AFAIK.

[2020-06-30 17:24] bwplotka opened #2823 "receive: Investigate congestion on Series"
This goroutine dump looks suspicious.

It might indicate either some issue or just heavy queries load (unlikely). To investigate.

![image](https://user-images.githubusercontent.com/6950331/86157028-b4713900-bafe-11ea-8841-99b20b5e047f.png)

Might be lack of chunk iterator, which is in progress (:

cc @brancz @squat

[2020-06-30 17:24] bwplotka commented on #2793
Also https://github.com/thanos-io/thanos/issues/2823

[2020-06-30 17:28] bwplotka commented on #2793
This looks like something we experienced as well, but not when I recall this we wiped the dir indeed.

It's migration issue from non-multiTSDB to multiTSDB.

This can be easily repro in unit test when porting old receive. Let's fix it, might be annoying for Receive users who want to upgrade to 0.13+

[2020-06-30 17:29] bwplotka commented on #2793
I think for you you can ensure it works with higher CPU long enough for WAL from 0.12 to be non-existent then wipe those dirs. In the mean time we will look on fix. Still help wanted (:

[2020-06-30 18:37] jyizheng commented on #2542
Hi, I still want to work on this. I will get back to you guy soon.

[2020-07-01 05:07] sevagh commented on #2605
Based on @zygiss idea above to disable compaction, but it being 1am and me feeling fuzzy in the brain, I wasn't certain about modifying the appropriate hidden compaction level, so I compiled myself a special thanos binary with the following modifications:
[code]
It ran pretty well, proceeding immediately to deletion. For safety, I shut off the normal compactor (to avoid any risk of race conditions

[2020-07-01 06:15] brancz commented on #2793
Those look like the migration didn't work correctly. The dirs look like they are block directories. Just to make sure though, you are not running a multi tenant setup right?

[2020-07-01 07:46] diemus opened #2825 "need remote write config for Ruler"
since thanos have Receive to become a remote write point, it's very helpful if the Rule can have remote write config too. then everything can be query from the Store. the Ruler can be more stateless.

[2020-07-01 08:58] brancz commented on #2825
There is already an [accepted proposal](https://github.com/thanos-io/thanos/blob/master/docs/proposals/202005_scalable-rule-storage.md) for this. The devil's as always in the detail though, there are still some things to be figured out, such as how to replay `ALERT_FOR_STATE` from a query.

[2020-07-01 08:58] brancz commented on #2825
Closing here to focus discussion around the proposal.

[2020-07-01 08:58] #2825 closed

[2020-07-01 09:01] sepich commented on #2793
Yes, we're not running multi tenancy, and these are just block dirs.

[2020-07-01 11:52] sevagh opened #2827 "[Compact] Downsampled blocks still exist after disabling + setting a low retention"
* Environment: Debian Buster on a Linux AMD64 host
* Storage: Ceph bucket
* Thanos version: v0.12.2
* Go version: 1.14

I run multiple Prometheus to scrape a sharded Consul catalog (using Prometheus' `hashmod` relabel config), and I use Thanos to present a whole query view on the shards. I'm not interested in long term retention (older than 30d) - I'm using Thanos + Ceph since my usecase is that a

[2020-07-01 13:08] soniasingla commented on #2690
I am on it !

[2020-07-01 13:12] bwplotka commented on #1811
This was done on Prometheus side, so we can start using it! Help wanted

[2020-07-01 17:35] afilipchik commented on #2682
What about letting Spark/Presto access chunks directly and write a plugin for them that can understand native Prom file format. This will scale if storage scales (and S3/GCS/... are pretty scaleable) and will not bottleneck on Thano's compute.

Fetching data from OLTPs during OLAP query times is harder to scale as load it not easily predictable + scans are much faster when they are executed over r

[2020-07-01 17:45] szucsitg commented on #2682
I want to add two more options that haven't been considered. VictoriaMetrics (https://victoriametrics.com/) which is more mature and QuestDB (https://questdb.io/)

[2020-07-01 18:39] gregoryfranklin commented on #2097
I ran into the same issue and tracked it down to the STS credentials not being cached by minio.
https://github.com/minio/minio-go/issues/1321

[2020-07-01 20:00] GiedriusS commented on #2827
Hi! Setting the retention periods to such low times means that the blocks will _still be_ produced however they will be deleted almost immediately after being produced. However, the old ones should be deleted AFAIK. Could you please paste the `maxTime` of those `1h` / `5m` blocks + the current `date` on the machine that runs Thanos Compactor?

[2020-07-01 20:35] sevagh commented on #2827
Sure. The date of the host running the compactor is:
[code]
I've attached a txt file with `thanos bucket inspect` command output, showing the same blocks from the screenshot.
[compact_output.txt](https://github.com/thanos-io/thanos/files/4860314/compact_output.txt)

[2020-07-01 20:52] GiedriusS opened #2829 "Add Swift integration tests"
Let's add Swift integration tests to our CI! It should be very easy with these environment variables plus the Docker image mentioned in this comment: https://github.com/thanos-io/thanos/pull/2665#issuecomment-652633991

It ought to be enough to edit https://github.com/thanos-io/thanos/blob/master/.circleci/config.yml to start up another container that runs it, to remove `SWIFT` from the skipped ob

[2020-07-01 20:59] #713 closed

[2020-07-02 05:30] vikram-raj opened #2830 "state value for rules and alerts should be in lowercase"
Currently, the state value for rules and alerts is in uppercase (e.g. state: "FIRING"). Can we change the state value to lowercase?

**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:
The state value for rules and alerts is in uppercase (e.g. state: "FIRING")

**What you expected to happen**:
The state value for rules and alerts should be lowercase (e

[2020-07-02 13:15] sevagh commented on #2827
@GiedriusS thanks for taking a look

In fact I ran a new deletion only* run of the compactor today, and it took care of these blocks. Problem solved:
![image](https://user-images.githubusercontent.com/8574092/86363247-91e93800-bc44-11ea-95fe-934bb10c3f52.png)

I believe after the normal compactor finished its compactions, it would have corrected the situation (since its this compactor which marked

[2020-07-02 13:15] #2827 closed

[2020-07-02 14:05] supasteev0 commented on #2811
This was actually an issue with the record name which has changed from **namespace_pod_container:container_cpu_usage_seconds_total:sum_rate** to **node_namespace_pod_container:container_cpu_usage_seconds_total:sum_rate** after prometheus migration.
Closing issue

[2020-07-02 14:05] #2811 closed

[2020-07-02 14:31] supasteev0 opened #2836 "Random duplicate/divided metric data value"
**Thanos, Prometheus and Golang version used**:
Thanos 0.12.2
Prometheus: 2.11.0

**Object Storage Provider**:
AWS S3
**What happened**:
I am  currently facing an issue in thanos query where metric data appears to be duplicated/doubled at random times , and then "divided by two" (returning the correct value).
I get the same result when checking deduplication and/or using non downsampled and downsa

[2020-07-02 15:52] GiedriusS commented on #2836
A few stupid questions as a sanity check:
* Is it the same if you upgrade to the latest and greatest version?
* What (or how many?) `--query.replica-label`s have you specified?
* Do the numbers line up i.e. if you add them manually together is it the same number when using `sum(...) by (pod)`? At the very least, could you please see what are the values of individual metrics and then the sum of it

[2020-07-02 16:09] sevagh opened #2837 "[Compactor] Doc clarification on downsampling"
In my opinion, the compact.md document (https://thanos.io/components/compact.md/) understates the impact of downsampling:

In my case, when adapting a single-Prometheus setup to multi-Prometheus + Thanos, I based my capacity calculations on my Prometheus disk use, and when I got 3x more data from Thanos (by enabling 5m and 1h downsampling), I was surprised.

Also, this is subjective/debatable but

[2020-07-02 16:50] supasteev0 commented on #2836
Thanks for your reply.

- I haven't tried to upgrade to version 0.13 yet as it was released not long ago. Will give it a try.
- I have 2 --query.replica-label configured on all thanos queriers, which are custom labels configured in all Prometheus: "cluster" and "region". The default "prometheus-replica" label is also set on remote Prometheus (I can see it in the stores) , and contains the default

[2020-07-02 17:40] #2659 closed

[2020-07-02 17:57] mrsimo commented on #2295
I see activity in the related PR's, so I think this might be moving forward. @bwplotka maybe this week :stuck_out_tongue_closed_eyes: ?

[2020-07-03 06:32] prmsrswt commented on #2248
Still valid

[2020-07-03 08:19] #2830 closed

[2020-07-03 12:36] celestialorb commented on #2777
I'm having this same issue with Thanos v0.13.0. Clean install, tried recreating the bucket as well. Turned on tracing to find these messages in the logs.

[code]

Where `<my-bucket-name>` is a redacted placeholder.

[2020-07-03 12:40] dbrennand opened #2839 "objstore: (Azure) API version to support Azure Stack Hub"
**Thanos, Prometheus and Golang version used**:
I am using the following [bitnami/thanos chart](https://github.com/bitnami/charts/tree/master/bitnami/thanos) and [bitnami/prometheus-operator chart](https://github.com/bitnami/charts/tree/master/bitnami/prometheus-operator). I decided to raise this issue here (upstream) as I believe this is a issue related to Thanos and not the bitnami helm chart.
O

[2020-07-03 13:10] GiedriusS commented on #2777
Thanks for this info! One question: this only happens occasionally, right? It works fine even with this error?

[2020-07-03 13:14] danielgblanco commented on #2706
This is still a question I've not found an answer for in the treatment of `quantile_over_time` functions on downsampled data. Thanks.

[2020-07-03 13:15] celestialorb commented on #2777
No, this was constantly happening and it would cause the process to exit.

I played around with the S3 object store configuration, specifically the `endpoint` field and was able to get it to spit out a log entry that was something along the lines of "the `endpoint` should be 's3.amazonaws.com'". I set the `endpoint` field to `s3.amazonaws.com` and it seems to be working now, though I should do som

[2020-07-03 18:00] prmsrswt commented on #2361
@clhain can you check if it's still a problem with the new React UI? We limit the dom rendering to 100 items at max, so it's shouldn't be a problem now.

https://github.com/thanos-io/thanos/blob/master/pkg/ui/react-app/src/pages/graph/ExpressionInput.tsx#L89

[2020-07-03 20:17] #1527 closed

[2020-07-04 09:35] hongyuxuan commented on #2797
Yes, I ran.
./thanos compact --data-dir=/data/compact --objstore.config-file=/etc/prometheus/bucket_config.yml --http-address=0.0.0.0:8081 --retention.resolution-raw=180d --retention.resolution-5m=180d --retention.resolution-1h=180d --wait

[2020-07-04 09:54] sepich opened #2841 "receive: fanoutForward leads to holes on graphs"
**Thanos, Prometheus and Golang version used**:
thanos, version 0.14.0-rc.0 (branch: HEAD, revision: 00e3c32f382f6d07c9be16cb9a7bcc36b73bc0be)
  build user:       circleci@7a93ec389107
  build date:       20200702-19:09:41
  go version:       go1.14.2

**Object Storage Provider**:
GCP

**What happened**:
We're using thanos `receive` in 2 tier mode. (1st tier receiving requests and forwards to 2nd

[2020-07-04 17:02] d-ulyanov commented on #2321
still actual

[2020-07-06 08:53] magine1989 opened #2842 "store: Fails at start-up"
**Thanos, Prometheus and Golang version used:**
thanos, version 0.14.0-rc.0 (branch: HEAD, revision: 00e3c32f382f6d07c9be16cb9a7bcc36b73bc0be)
  build user:       root@bd0240333078
  build date:       20200702-18:53:51
  go version:       go1.14.2

prometheus, version 2.17.1 (branch: HEAD, revision: ae041f97cfc6f43494bed65ec4ea4e3a0cf2ac69)
  build user:       root@806b02dfe114
  build date:

[2020-07-06 09:10] 1kaushik1 commented on #2183
Hi @AmjadHussainSyed  we are also running into the same issue, it seems it works without any issues in the default AWS region that is N.Vir. But fails for other regions. In our case its failing for eu-west-1.
and our bucket is also created in eu-west-1
Any luck on this issue ?

[2020-07-06 10:22] scorsair commented on #2777
I confirm. After I changed endpoint to s3.amazonaws.com it works fine. But it's very strange behavior because previous endpoint was correct for S3 as well.

[2020-07-06 10:57] whaike opened #2843 "thanos can't query prometheus old data which have to read from influxdb by remote_read"
from https://github.com/thanos-io/thanos/issues/2112

my question: **thanos can't query prometheus old data which have to read from influxdb by  remote_read**

env:
    prometheus version=2.6.0
    thanos, version 0.12.2

config:

[code]

## Things come from this
I made a new prometheus cluster with thanos ,but i don't want to delete my historical data which stored in influxdb. So i added thanos-s

[2020-07-06 11:04] bwplotka commented on #2682
@afilipchik Spark/Presto plugin sounds like something quite interesting indeed!

@szucsitg how VictoriaMetrics is more mature? (: In what element? VM is quite nice but it's not analytic oriented either. Especially last time we checked there is no good long term storage story (disk storage only). In terms of quest DB , not sure, worth checking out (:

[2020-07-06 12:51] yashrsharma44 opened #2844 "Request/Response Logging for HTTP/gRPC"
## Request/Response Logging in HTTP/gRPC

This issue has been filed to list out the why do we need Request/Response logging for HTTP/gRPC in Thanos, and to track the progress of enabling it.

This issue is a part of #1706 #2694

### Why do we need?
Currently, for those who don't want to invest on tracing in Thanos, the logging of Request/Response metadata and `request-id` in HTTP/gRPC can be very

[2020-07-06 13:22] valyala commented on #2682
VictoriaMetrics supports exporting of raw data via [/api/v1/export](https://victoriametrics.github.io/#how-to-export-time-series), so the exported data may be fed into analytics systems. The export format is [JSON lines](http://jsonlines.org/). There are plans to add ability to export data in [parquet file format](https://parquet.apache.org/) in the future.

It looks like apples ([object storage v

[2020-07-06 14:15] pracucci opened #2845 "Thanos store: improve series-sample-limit"
The Thanos store supports the `-store.grpc.series-sample-limit` CLI flag, whose description is:

However, looking at the implementation, it doesn't limit the "samples returned via a single Series call" but the samples read from each block. If a single `Series()` call fetch samples from N blocks, the limit is checked for each block and the actual number of samples returned could be up to `N * limit

[2020-07-06 16:41] trsreagan3 commented on #2792
I am seeing something similar but on non govcloud eks fargate with IAM roles, and only on the storegateway container (other containers seem to be ok from what I can tell).

[2020-07-06 17:53] bwplotka commented on #2803
I would look on docker container logs before the error happens. Anything interesting being printeD? (:

[2020-07-06 18:18] bwplotka commented on #2734
Small tip from our side: Compactor does not stream disk writes, so you need at least space to contain:

3x blocks of lvl 3
1x block of lvl 4

That's the max.

For ideas on improving this, let's discuss here: https://github.com/thanos-io/thanos/issues/1767 (:

Closing as dup of https://github.com/thanos-io/thanos/issues/1767

[2020-07-06 18:18] #2734 closed

[2020-07-06 18:41] bwplotka commented on #2845
LGTM, this is what we were planning to do anyway. Also one note: Let's make sure we adapt limits on series during posting phase without fetching chunks if not needed (:

[2020-07-06 21:41] cuotos opened #2846 "Query: /api/v1/stores panics when store is healthy - v0.14.0-rc.0"
Thanos v0.14.0-rc.0

When query is connected to a healthy Store, viewing /stores shows
![image](https://user-images.githubusercontent.com/3035161/86639250-88f3c000-bfd0-11ea-8cd7-8118f7c63ef9.png)

accessing /api/v1/stores causes a panic.

Issue was introduced in https://github.com/thanos-io/thanos/pull/2809.

When nil error is passed to `updateStoreStatus(store *storeRef, err error)` results in a

[2020-07-07 03:43] kjge commented on #2803
I checked the docker log before but didn't find anything that stands out

[code]
honestly I am pretty stumped on this, It seems like the docker container shuts down before the test is ran ,  I feel like I am missing some basic setup, am I suppose to export certain variables somewhere? before I run `make test-e2e`

[code]

[2020-07-07 03:59] magine1989 commented on #2842
I downgraded the thanos to v0.11.0 without change any configuration ,  thanos objstore and compactor can be running  activity.

[2020-07-07 06:02] soniasingla commented on #2729
@bwplotka we can close this issue, it has been resolved :)

[2020-07-07 06:29] pracucci commented on #2729
Closed by https://github.com/thanos-io/thanos/pull/2689 and https://github.com/thanos-io/thanos/pull/2799.

[2020-07-07 06:29] #2729 closed

[2020-07-07 08:32] kakkoyun commented on #2842
@magine1989 Could you please straighten out which version this fails exactly? As far as I understand, it works for v0.11.0, but fails for v0.13.0 and v0.14.0-rc.0, how about v0.12.0?

[2020-07-07 08:49] kakkoyun commented on #2841
@sepich Thanks for reporting this.

It looks interesting. Normally when receivers reached the quorum with a replication factor of 3, that means at least 2 of the writes succeeded (which seems working when I have checked the table you have shared). Queriers should about the query to retrieve the data from all receivers simultaneously, so even if a single receiver has the result you should see somet

[2020-07-07 09:30] magine1989 commented on #2842
@kakkoyun I have got those errors in thanos(v0.12.0, v0.13.0, 0.14.0-rc.0).
now my running version is v0.11.0, it works fine.

[2020-07-07 09:35] bwplotka commented on #2682
Nice @valyala ! Can you share details about the plan? How exactly it would look like? Just convert from VM format to parquet right? Asking because we are discussing those bits with @ozanminez and @iNecas (see `#analytics` channel on CNCF Slack). The current is to have way to do this without replicating data (:

[2020-07-07 10:03] cuotos opened #2850 "Query: new ui uses the thanos.io website favicon not the old thanos one"
Thanos: v0.13.0

When switching to the "New UI" the favicon use is the "black T" Thanos logo, which is used on the thanos.io website. The old UI and bucket viewer use the "white T" logo.

I find this really handy when I have multiple tabs open to correctly jump to documentation pages vs applications

[2020-07-07 11:49] bwplotka commented on #2841
Thanks for this. This is overall expected to see for a single receive instance. The key part is to have Querier connected with deduplication enabled for all available receive pods (: Can you double-check that this is the case? @sepich

[2020-07-07 16:01] ozanminez commented on #2682
Hello,
I have recently finished my work of research on this topic. These are summary of all my research:

-Early -but-not-suggesting-now- Suggestion: Exposing metrics as files via S3 powered api. It is possible but I know it is an uncommon way. File names and directories can be csv or json metric files grouped by day or months in the file name and converted on-the-fly from prom-data to file on the

[2020-07-07 16:13] #2846 closed

[2020-07-07 16:44] GiedriusS commented on #1706
@yashrsharma44 is still on it: https://github.com/thanos-io/thanos/pull/2849

[2020-07-07 18:00] GiedriusS commented on #2829
Closed by https://github.com/thanos-io/thanos/pull/2838.

[2020-07-07 18:00] #2829 closed

[2020-07-07 18:06] iNecas commented on #2682
Nice summary. Some of my $0.02

Adding `--format parquet` as native support (including common compression as supported in https://github.com/xitongsys/parquet-go) would be super-useful.

When doing to extraction, one would probably need to specify the specific metric, frequency, aggregation function, perhaps some sub-labels to select (not unlike https://github.com/v3io/v3io-tsdb#how-to-use or http

[2020-07-08 05:00] kkc commented on #2778
can I work on this one?

[2020-07-08 08:33] bwplotka opened #2856 "Fix duplicated entries for v0.13.0 in CHANGELOG"
As per https://cloud-native.slack.com/archives/CK5RSSC10/p1594189102430800

[2020-07-08 09:37] pracucci commented on #2845
Postings are expanded on a per-block basis (each block is processed in a dedicated goroutine). I agree we can check the limit while iterating postings, but another goroutine may have already started fetching chunks so there's no guarantee no chunks will be fetched at all.

To introduce this guarantee, we would have to split the `BucketStore.Series()` into two phases:
1. Concurrently expand posting

[2020-07-08 10:31] shootkin opened #2857 ""No StoreAPIs matched for this query" error in Querier when using Store Gateway as a --store"
**Thanos, Prometheus and Golang version used**:
thanos version: v0.13.0
prometheus version: prom/prometheus:v2.15.2

**Object Storage Provider**:
AWS S3
**What happened**:
When I execute any query in Thanos Querier UI, for instance, `prometheus_tsdb_head_series`, I see this error: "No StoreAPIs matched for this query"
**What you expected to happen**:
I expect to see any metric value, for instance

[2020-07-08 11:30] faris789 commented on #2320
Would like to hear more about compaction vs downsampling. More particularly about their differences.

We were test running our thanos-compactor with downsampling disabled, we could see that the S3 blocks are getting merged. With that observation, I think compaction merges blocks in S3 bucket even when you have the downsampling disabled. By doing that I assume it would reduce calls from store to s3

[2020-07-08 12:03] trsreagan3 commented on #2792
For me the fix was to create the service accounts with eksctl create iamserviceaccount with the override flag for each of the four users and attaching the same IAM policy to each user,  AFTER running the helm chart. Seems like something specific to eks cluster security.

[2020-07-08 13:07] bwplotka commented on #2682
Some opinion on slack from @ozanminez  (:

After a couple of sub-questions I found out that we are avoiding file creation and file copy. We have json, csv or parquet file formats that are common in the analytics world but not efficient in our case. Our data storage format is efficient but not common.
So if we choose the way of the analytics world completely we have to convert our uncommon format t

[2020-07-08 13:37] #2539 closed

[2020-07-08 14:21] pracucci opened #2861 "Store: limit queried chunks by bytes"
In the PR https://github.com/thanos-io/thanos/pull/2858 we've introduced `ChunksLimiter` in the Thanos store to limit the number of chunks fetched by a single `Series()` call.

It could make sense to add a limit based on "chunks bytes" instead of "chunks count" (on in addition to "chunks count" if Cortex will need to support it) as a easier unit to work when doing capacity planning and fine tuning

[2020-07-08 16:56] #2699 closed

[2020-07-08 17:50] shootkin commented on #2857
Seems I need to run query in this format: `prometheus_tsdb_head_series_created_total[6h]` , because when I run simply `prometheus_tsdb_head_series_created_total`, it tries to get current value, but we don't have values for the last 2 hours (default block length)

[2020-07-08 17:50] #2857 closed

[2020-07-08 19:33] bwplotka opened #2864 "receive: Remove MultiTSDBStore and replace with ProxyStore"
Those two structs are quite complex, but are doing exactly the same thing.

Few (smallish) work Items to make that happen:

* rename `storeRef` to `cachedStoreClient`
* create `localStoreClient` that will allow calling locally some `storepb.StoreServer`. For receive, it would be TSDBStores. This will need to use our `tenantSeriesSetServer` or something similar.
* ensure similar spans for tracing a

[2020-07-09 05:55] brancz commented on #2864
There were a few things that I ran into that I felt made this forced and caused odd interface implementations to make use of a "generic" abstraction. If you can come up with something reasonable though I'm all for deduplicating.

[2020-07-09 08:26] bwplotka commented on #2864
Yea, I think you might mean `Client` interface. This is bit more wider than gRPC StoreAPI Server, but still easy to implement something for local TSDBStore to fit (:

Help wanted!

[2020-07-09 08:43] brancz commented on #2864
Yeah I still think it needs some refactoring I wouldn't want to press it into an interface that doesn't actually fit, the `Addr()` function for example makes no sense here. Again, I'm not against it, I just think it needs a larger refactoring, then I think this could work nicely.

[2020-07-09 09:51] cuotos commented on #2622
Has anyone been able to replicate this anywhere other than circle?

[2020-07-09 10:41] #2701 closed

[2020-07-09 13:40] supasteev0 commented on #2836
For now, I have added:
`--query.replica-label=prometheus_replica`
to thanos-query deployment.
It seems to have fixed the issue.

I was also wondering if having thanos-query + thanos compact + thanos store deployed on each cluster is absolutely necessary ?
Or should the main thanos-query be able to query remote sidecars directly ? (knowing that I can't have any TLS configured in any Thanos componen

[2020-07-09 15:47] valyala commented on #2682
Yes, VictoriaMetrics will convert the requested data on the fly to Parquet format. For example, when client requests `/api/v1/export/parquet?match[]=foo{bar="baz"}&start=...&end=...`, then the handler would stream the requested data matching `foo{bar="baz"}` on the given time range `[start...end]` in Parquet format.

It is interesting to know about other approaches though...

[2020-07-09 16:06] amine250 opened #2869 "Is S3 expiration lifecycle rule recommended to delete old Thanos data?"
Hello,

I would like to put an S3 lifecycle rule that will delete old time series.

Is this the recommended approach to delete old Thanos data?

Thanks.
Amine

[2020-07-09 16:07] bwplotka opened #2870 "compactor: Enable vertical compaction without replica labels."
We use vertical compaction now on prod and it works super smooth. We do that for offline dedup of exactly the sample samples replicas, but it actually saves a lot of troubles on overlaps. Compactor just easily deals with that.

I would propose to allow enabling vertical compaction without any replicas dedup (: Thoughts? @brancz @metalmatze @kakkoyun

[2020-07-09 16:19] #2823 closed

[2020-07-09 17:13] ozanminez commented on #2682
After some thinking, I have another improved/combined proposal for the process and elements to make metrics available to other analytics and ecosystem projects :

[Files] Prometheus metrics storage folder and chunked files of metrics >>> [Our new serving/exporting application] Read storage folder and files directly from s3 api or physical machine and serve them as TCP server in a our new temporary

[2020-07-10 04:51] brancz commented on #2870
Generally happy with this.

There was a bug iirc where blocks with no labels were rejected or something along those lines. If this has been resolved (iirc some fake label was added or was discussed to be added), then we should be ok with this.

[2020-07-10 06:24] bwplotka commented on #2682
Thanks! I think we might be going to low level here. The problem is with this:

In that case ` [Our new serving/exporting application]` requires to implement conversion from "tmp memory model" to all existing formats in the world, which brings us to the same position we were with just TSDB blocks in S3, no? (: I think the key part is to make sure we keep simplicity, while we support major Analytic

[2020-07-10 09:02] bwplotka commented on #2622
Not really - it's just slow CI. Looking on this now

[2020-07-10 09:02] bwplotka commented on #2622
The problem is that's it's time based:

[code]

[2020-07-10 09:09] wiardvanrij opened #2872 "Store: odd performance, while not using a lot of cpu/memory"
**Thanos, Prometheus and Golang version used**:

thanos:v0.12.2
prometheus:v2.15.2
On Kubernetes

**Object Storage Provider**:
S3

**What happened**:
I have spikes in the store usage (delays, high Go Routine counts) , but this is not in line with actual cpu/memory usage from the thanos store.

**What you expected to happen**:
I would expect to see bottlenecks "somewhere" - especially in memory usa

[2020-07-10 09:14] bwplotka opened #2873 "reloader: Apply error in loop should not kill the sidecar."
There is no need to get the process down in this case and decrease availability, handle the error in a different way.

https://github.com/thanos-io/thanos/blob/5d7bb2bfe094048a47a979042bba4b6ceb31a8e0/pkg/reloader/reloader.go#L220

AC:
* Reloader error should not restart whole sidecar (similar to fail on Prometheus Configuration reload - it takes old file)
* Be nicer to external users of this pack

[2020-07-10 09:26] diemus commented on #2810
have this problem too, @mxmorin did you downgrade to 0.12.2?

[2020-07-10 09:26] sushanco commented on #2701
I am seeing the same issue across a number of thanos version. It feels like there is something missing in the configuration however there is nothing obvious in debug logs.

**Versions:**
Thanos: thanos/thanos:0.13.0
Prometheus: coreos/prometheus:v2.16.0

**Object Storage: AWS S3**

Thanos Query report the Store is UP and displays LabelSets as well. In the Thanos Store I can see metadata synced fro

[2020-07-10 09:26] bwplotka commented on #2622
Fixed https://github.com/thanos-io/thanos/pull/2874

[2020-07-10 09:32] brancz commented on #2534
I believe that this was incorrect on my side. It appears this is done correctly, should I have a more founded reason that this is indeed happening, then I will open a new issue.

[2020-07-10 09:32] #2534 closed

[2020-07-10 10:11] mxmorin commented on #2810
No. I stayed in 0.13.0 because of OOM when restarting with 0.12.2
I kill the process every day by crontab for workaround

[2020-07-10 10:28] bwplotka commented on #2810
Hi, We fixed major leaks in storeAPI.Series that also impacted write and compact and resulted in high memory use. Fix: https://github.com/thanos-io/thanos/pull/2866

See also a related issue: https://github.com/thanos-io/thanos/issues/2823

We also improved our suite so it will be easier to catch those on our PRs :hugs:

I would recommend giving try to ` master-2020-07-09-60ede4c1`

We just roll t

[2020-07-10 10:28] #2810 closed

[2020-07-10 11:37] #2709 closed

[2020-07-10 14:29] sushanco opened #2879 "Thanos Query not able to fetch data from Thanos Store"
**Thanos, Prometheus and Golang version used**:
Thanos: v0.13.0
Prometheus: v2.16.0
Prometheus Operator: v0.38.1

**Object Storage Provider**:
AWS S3

**What happened**:
Thanos Query UI displays the _Status_ of the only store I have as UP, in addition I can see the correct labels in the _Announced LabelSets_.
Also, I had a look at the data directory inside the Store pod, I can see all the block's

[2020-07-10 16:38] ozanminez commented on #2682
Yes, you are right, this solution is too low level but goal was to be available to every framework on that target language.

At least I can summarize and point out some parts/takings from this and my older solutions.

- If we target only some of the analytics systems there are two options that comes to my mind:
  1. If we accept file creation and if this file will be only one, it can be Parquet. B

[2020-07-10 16:52] #1707 closed

[2020-07-10 17:20] bwplotka commented on #2750
Still valid

On Fri, 10 Jul 2020 at 17:52, stale[bot] <notifications@github.com> wrote:

[2020-07-10 17:27] bwplotka commented on #1318
Still help wanted (:

[2020-07-10 17:51] wrossmann opened #2880 "bucket web: Selectable time range"
The current `bucket web` view gets pretty cramped once you get a few months of data stored, eg:

![image](https://user-images.githubusercontent.com/4967671/87183092-4ebd4380-c29a-11ea-85d1-81e5e4cc2547.png)

I've only got stats back to October, and the window is as big as I can make it on my 4K monitor.

It would be nice to be able to define a time range for the view so that fresh blocks are large

[2020-07-10 17:52] #2702 closed

[2020-07-10 17:58] wrossmann opened #2881 "bucket web/inspect/ls: Add block size bytes to displayed metadata"
As it stands the only way see the actual size in bytes of a given block is to grab its ID and manually match it up with the file in S3, which is tedious to say the least.

It would be useful to have this information to track trends or spikes, or otherwise compile storage stats.

[2020-07-10 18:24] wrossmann opened #2882 "bucket: Add a Store API endpoint that serves bucket stats"
Having a GRPC Store API endpoint for serving bucket metadata would be useful for graphing and tracking trends in bucket data, and would "liberate" the data from being the sole domain of the CLI bucket tools and the bucket web UI.

For quite some time I could never put a finger on why `thanos bucket web` seemed out of place, but I realized that it's because you have this wonderful ecosystem for col

[2020-07-10 18:32] GiedriusS commented on #2882
Hm... reading this again gave me an idea: is there a reason why we couldn't have it in Thanos Store or other components as well? Kind of like `Info()` but for the bucket's metadata.

[2020-07-10 18:39] wrossmann commented on #2882
That actually makes much more sense now that I think about it. The Store components are already sitting there with the bucket config and running an endpoint. I can also see having N extra bucket services could get a bit tedious for people with multiple stores.

[2020-07-10 19:27] sepich commented on #2841
receivers:
[code]
  hashrings.json
[code]
query:
[code]
Name thanos-receive is ClusterIP=None type k8s service, so expands to 3 IPs of receive pods.
I do see that all 3 pods are connected in logs of querier:
[code]
BTW, on Stores tab of query web interface i see this:
![image](https://user-images.githubusercontent.com/1803804/87191075-59102980-c2fc-11ea-9b9f-836093972536.png)

[2020-07-10 21:03] #2672 closed

[2020-07-11 00:56] yeya24 opened #2884 "Query new UI and old UI displays different block time in stores page"
**Thanos, Prometheus and Golang version used**:

Thanos: master branch

**Object Storage Provider**:

**What happened**:

View stores page in old UI and new UI, but the min/max time is different. I think there is a timezone problem. I am at UTC-4, but it displays the UTC time at the new UI.

old UI:

![Screenshot from 2020-07-10 20-52-35](https://user-images.githubusercontent.com/25150124/87212986

[2020-07-11 01:05] yeya24 commented on #2884
We are using UTC timezone to format time here https://github.com/thanos-io/thanos/blob/master/pkg/ui/react-app/src/thanos/pages/stores/StorePoolPanel.tsx#L60.

[2020-07-11 11:53] atmosx commented on #2089
hi, anyone working on this?

[2020-07-11 12:14] #2715 closed

[2020-07-11 17:03] bwplotka opened #2885 "receive: Unknown Symbol on compaction does not allow head to be compacted."
Introduced by: https://github.com/thanos-io/thanos/pull/2867

Lesson to us @sylr to not update Prometheus that fast (:

Details: https://github.com/prometheus/prometheus/issues/7373

This is only on master after above PR.

[2020-07-11 17:12] bwplotka commented on #2885
Reverted on Prom master https://github.com/prometheus/prometheus/pull/7556

[2020-07-11 20:14] #2721 closed

[2020-07-11 20:37] bwplotka commented on #2885
Potential fix: https://github.com/prometheus/prometheus/pull/7560

cc @pracucci @codesome

[2020-07-11 20:50] prmsrswt commented on #2884
Prometheus is using UTC to format time in their new UI, and we are trying to keep the code as close as possible to upstream. But I also think that showing the time in the user's timezone would be more natural. WDYT?

[2020-07-12 07:31] #2712 closed

[2020-07-12 08:31] #1813 closed

[2020-07-12 11:01] vsxen opened #2886 "[Feature] sidecar should upload compact black"
Instead of  upload -> download -> compact -> upload again.

[2020-07-12 11:31] #984 closed

[2020-07-13 07:01] belm0 commented on #2886
Thanos uses a different compaction schedule than Prometheus, related to its downsampling sizes.

Usually Prometheus is configured to only hold a few hours of data, and compaction is disabled.  So Prometheus cannot do higher-level compactions since it doesn't have the history.

So thanos-compact needs to do the higher-level compaction anyway, and has to do downsampling and compaction of downsamplin

[2020-07-13 07:17] belm0 opened #2887 "thanos-compact should exit on critical error"
**What happened**:

thanos-compact has a disk full or encounters overlapping blocks, and enters "halt" state but keeps running

**What you expected to happen**:

thanos-compact should exit.  A flapping job has much higher chance of being noticed in typical deployments.

we should all have wonderful monitoring of server logs and metrics, but usually don't...

real world example:  for several weeks

[2020-07-13 09:35] bwplotka commented on #2713
Lets get back on this. Help wanted!

[2020-07-13 09:57] bwplotka commented on #2712
Looks like there is no demand on this, keeping it closed for now :hugs:

[2020-07-13 12:44] yeya24 commented on #2886
Sidecar can already do this. Please see https://github.com/thanos-io/thanos/blob/master/docs/components/sidecar.md#upload-compacted-blocks-experimental

[2020-07-13 15:51] joaosilva15 commented on #2565
Still happening

[2020-07-13 17:25] dbrennand commented on #2839
Potentially useful code for this: https://github.com/Azure/azure-storage-blob-go/blob/3efca72bd11c050222deab57e25ea90df03b9692/azblob/zz_generated_container.go#L86

[2020-07-13 22:53] zosorock commented on #1851
I am also looking into starting to test with m6g instances. Are there any prediction of when it will be available?

[2020-07-14 07:20] belm0 commented on #2420
`bucket verify` doesn't seem to be aware of pending deletions, and falsely reports overlapping blocks after a compaction.  Would someone please confirm?

[2020-07-14 08:51] belm0 opened #2889 "Init all labeled counter metrics to 0"
**Thanos, Prometheus and Golang version used**:
thanos v0.13.0

**What happened**:
Thanos jobs counter metrics with labels are not initialized to 0 for the known labels.

For example, `thanos_compact_downsample_total{group="3600000@4233639831006398026"}` would not be exported by thanos-compact until the first 1h downsample after starting the server.  Prometheus queries are hard to manage with data

[2020-07-14 09:19] creker opened #2890 "query: invalid rate/irate with deduplication for most recent values"
**Thanos, Prometheus and Golang version used**:
bitnami/thanos:0.13.0
prom/prometheus:v2.19.0

Prometheus in HA configuration, 2 instances. Single Thanos querier instance.

**Object Storage Provider**:
On premise minio deployment

**What happened**:
Executing rate or irate with deduplication sometimes results in the most recent value being invalid. Either it shoots up to very high or very low valu

[2020-07-14 09:22] vsxen commented on #2886
I will try it thank you.

[2020-07-14 11:58] bwplotka commented on #2889
That's very valid. Help wanted :hugs:

[2020-07-14 12:00] bwplotka commented on #2890
Thanks for reporting. We thought we found all those kind of issues, but there might be more. The last one was supposed to be fixed in 0.13.0. Can you double check if you run Thanos with the fix from https://github.com/thanos-io/thanos/issues/2401 included? (:

[2020-07-14 12:00] bwplotka commented on #2890
Note that it's Querier version that matters for deduplication

[2020-07-14 12:22] #2885 closed

[2020-07-14 12:24] creker commented on #2890
Here's querier version report
[code]

[2020-07-14 12:26] creker commented on #2890
I can try 0.14.0 if it contains any relevant fixes

[2020-07-14 12:29] bwplotka commented on #2890
Please update but I think it should have the fix. If 0.14 won't work,  then what would be awesome is to have exact chunks for that problematic period. You can obtain those by using following script: https://github.com/thanos-io/thanos/blob/40526f52f54d4501737e5246c0e71e56dd7e0b2d/scripts/insecure_grpcurl_series.sh against Querier gRPC API directly (: This will give us exact input that deduplicatio

[2020-07-14 22:53] creker commented on #2890
Had to use different metric to catch the problem. The problem persists for a few second so I tried to get correct and incorrect results.
[bad.txt](https://github.com/thanos-io/thanos/files/4921878/bad.txt)
[good.txt](https://github.com/thanos-io/thanos/files/4921883/good.txt)

[2020-07-15 01:21] yeya24 commented on #2884
I prefer local timezone, but UTC is also okay if we want to follow Prometheus. Umm, any ideas @GiedriusS @squat

[2020-07-15 03:23] belm0 commented on #2887
E.g. even the thanos-compact Grafana dashboard does not surface `thanos_compactor_halted`, which is probably the most important signal to show users given the current behavior to continue running.

[2020-07-15 05:01] computerphilosopher opened #2894 "Can I save disk space by reducing retention time?"
Disk space required to use downsampling is too burdensome.

I'd like to know if I can save disk space by reducing the retention period of raw data.

here is an example.

retention.resolution-raw: 1d
retention.resolution-5m: 5d
retention.resolution-1h: 0

If I set it up as above, will I save disk space by leaving only 1h data after 5 days?

[2020-07-15 07:46] belm0 commented on #2420
Evidence:  thanos-compact is happy and in steady state, while `bucket verify` reports overlapping blocks.  If there were really overlapping active blocks, thanos-compact would halt.  @GiedriusS

thanos-compact log:
[code]

bucket verify:
[code]

[2020-07-15 08:48] zhenkm0507 opened #2896 "sidecar or receiver mode"
I have several prometheus instances in different data centers. These data centers are in different cities.
I want to achieve a global view of data, because my one application's metric data are distributed in several prometheus instances in different cities.

First, I try sidecar modes，but failed. it takes over 5 seconds between querier and sidecar, when the count of time series is more than two th

[2020-07-15 08:56] dbrennand commented on #2839
@vglafirov I see you are listed as the maintainer of the Azure object storage client. Is this possible? :-)

[2020-07-15 09:20] soniasingla commented on #2894
Hi @computerphilosopher, there is already created [issue](https://github.com/thanos-io/thanos/issues/813) that you might want to check. It is well explained by Bartek 🤗

[2020-07-15 10:24] bwplotka opened #2897 "reminderbot: Switch to Native GH reminder bot."
  | A Pull Panda updateSince we announced the acquisition of Pull Panda last year, we’ve been working hard to bring its features into your GitHub experience. Now, Pull Assigner and Pull Reminders are available on GitHub as code review assignment and scheduled reminders.As we now have a GitHub-native experience, both Pull Assigner and Pull Reminders will no longer operate as of October 14, 2020. Yo

[2020-07-15 10:57] #2678 closed

[2020-07-15 11:42] #2690 closed

[2020-07-15 14:42] csmarchbanks commented on #2890
I was about to report this same issue!

What is happening in my system at least is that the [initialPenalty](https://github.com/thanos-io/thanos/blob/master/pkg/query/iter.go#L614) is by default 5000ms, but I have scrape intervals in the 15s-30s range. The two HA Prometheus instances will commonly scrape the same target ~10s apart which means the deduplication logic will always switch series after

[2020-07-15 16:05] creker commented on #2890
We have similar setup. Two Prometheus instances scraping the same targets with 10s interval.

[2020-07-15 18:26] #2488 closed

[2020-07-15 18:26] #2738 closed

[2020-07-15 19:34] soniasingla commented on #2041
https://github.com/thanos-io/thanos/pull/2840 here is the PR link 😄

[2020-07-15 20:04] research-sudo opened #2901 "Inquiry About the Microservice Architecture Employed by `thanos`"
I am a researcher investigating the open source projects that are designed by the microservice architectural style (https://martinfowler.com/microservices/). My preliminary investigation shows that the **_thanos_** project (https://github.com/thanos-io/thanos) is designed by the microservice architectural style.

1. Can you please **_confirm_** if my interpretation that this project is designed by

[2020-07-15 20:08] GiedriusS commented on #2708
Still valid and help needed.

[2020-07-15 20:09] GiedriusS commented on #2577
We plan on using Thanos Ruler more at $WORK so we might just implement this not too long from now if no one else wants to take a stab at this.

[2020-07-15 22:29] tanelso2 commented on #1318
@bwplotka - How involved would this change be? I could really use this feature but not sure if I have the time to learn a new codebase and contribute

[2020-07-15 23:42] yeya24 commented on #2585
Valid. #2883 is open.

[2020-07-16 07:48] george-angel commented on #985
remove stale

[2020-07-16 08:32] #2468 closed

[2020-07-16 09:26] bwplotka commented on #2890
Awesome. Looks like we might want to adjust penalty based on dynamic
interval. The edge case is when interval is reconfigured to be different (:

On Wed, 15 Jul 2020 at 17:17, Antonenko Artem <notifications@github.com>
wrote:

[2020-07-16 12:02] obohrer commented on #1375
Any news on this? That would be useful.
How can we help?

[2020-07-16 12:43] brancz commented on #1375
I don't believe anyone is working on this, but it's still very much desired. I don't think there is an existing design, but it would actually be very similar to the [rule federation design](https://github.com/thanos-io/thanos/blob/master/docs/proposals/202003_thanos_rules_federation.md).

[2020-07-16 12:51] #2737 closed

[2020-07-16 15:45] #2350 closed

[2020-07-16 15:45] #2717 closed

[2020-07-16 15:45] #2735 closed

[2020-07-16 16:58] pracucci commented on #1318
The decision we took a couple of Thanos meetings ago is:

To elaborate on this, the idea is to allow to configure (in YAML) the prefix where all data (blocks) is stored within the bucket. This would remove the requirement to have a bucket dedicated for a single Thanos installation and you could use a bucket for multiple purposes (or multiple Thanos setups).

[2020-07-16 19:09] tanelso2 commented on #1318
Right, I understand the use-case of this feature (and will be using it myself to reduce the number of buckets I have to manage)

I'm trying to figure out the work involved because I'm new to the codebase. I see there's a few PRs linked earlier in this issue (https://github.com/thanos-io/thanos/pull/1392, https://github.com/thanos-io/thanos/pull/1862)

Can we just dust off one of them and expand up

[2020-07-16 21:09] wiardvanrij commented on #2872
Traced the real high spikes back to this Go Routine:

[code]

[2020-07-16 21:38] wiardvanrij commented on #2872
Traced it back to: github.com/minio/minio-go/v6 v6.0.49 which is used in Thanos version 0.12.2
This version of minio-go has this issue: https://github.com/minio/minio-go/issues/1259 which is fixed by this PR: https://github.com/minio/minio-go/pull/1260 which is included in minio-go version 6.0.52.

Thanos version 0.13 uses github.com/minio/minio-go/v6 v6.0.56 which should resolve this issue.

I wi

[2020-07-17 07:00] #2723 closed

[2020-07-17 09:53] gregoryfranklin commented on #2097
minio 7.0.0 should fix this issue (it includes the above patch for caching STS Web Identity Credentials).

7.0.0 is a major API version change so I'm not sure how much work it is to upgrade.

[2020-07-17 10:34] bwplotka commented on #1375
Just tiny comment: We might need this https://github.com/thanos-io/thanos/issues/2600 first :hugs:

[2020-07-17 12:26] wiardvanrij commented on #2872
![image](https://user-images.githubusercontent.com/5786097/87785994-7764b080-c839-11ea-9b75-a5a303e9cb26.png)

Upgrading to > 0.12.2 (in my case 0.14, but 0.13 should work too) resolved my issues.

[2020-07-17 12:26] #2872 closed

[2020-07-17 19:47] markmsmith commented on #1767
Are there still plans to reduce the amount of disk space used?

[2020-07-17 20:04] #2402 closed

[2020-07-17 20:04] #2388 closed

[2020-07-17 20:04] #1086 closed

[2020-07-17 23:01] GiedriusS commented on #2894
Hi! No, in fact setting it to `0` will make it so that the blocks will be kept around forever. And setting it to some small value does _not_ mean that the downsampled blocks won't be produced. Instead, they will be deleted very quickly. Please take a look at https://thanos.io/components/compact.md/ and https://github.com/thanos-io/thanos/issues/813. Closing as a duplicate

[2020-07-17 23:01] #2894 closed

[2020-07-18 14:01] GiedriusS commented on #2887
Then maybe we should fix that instead? :P I think the behaviour of halting on such an error is _very_ important because it let's us inspect the state of what is on disk before retrying everything again.

[2020-07-18 14:27] belm0 commented on #2887
@GiedriusS How many users will actually do that?  It sounds like a rare thing that a thanos developer might do.

Please at least consider a flag to control whether the server exits or not.

[2020-07-19 20:27] prmsrswt commented on #2198
Guess this calls for another status update. :wink:

- We have fully migrated the Query UI to React. It should now be on feature parity with the old UI.
- The initial work for migrating the Ruler UI is done (#2865 )
- We are now working on migrating the Block viewer (or, bucket viewer) to React. This should solve many issues with the block viewer we have right now.

[2020-07-19 20:31] prmsrswt commented on #2350
Still relevant

[2020-07-20 00:34] daixiang0 commented on #1820
still in process.

[2020-07-20 06:59] pracucci commented on #2444
_Still valid_

[2020-07-20 07:15] pracucci commented on #1767
Both the source blocks (inputs) and the compacted block (output) are deleted once the compacted block has been successfully uploaded to the bucket. You should see blocks on the local disk only for on-going compactions.

Yes.

I know I'm going to give you an indirect answer, but we're using the Thanos `BucketCompactor` in the Cortex blocks storage too, and [this is what we do suggest for production

[2020-07-20 07:17] pracucci commented on #2097
_This issue is still valid and looks quite critical for production setups on AWS. We should fix it._

[2020-07-20 07:21] pracucci commented on #1318
I'm not sure that's the right approach. We want the feature to support any backend (not just S3) and implementing it in every client will end up introducing quite a lot of duplication. In Cortex we successfully built this feature wrapping the objstore client, similarly to how the `objstore.BucketWithMetrics()` works. I think a similar wrapping approach could work in Thanos as well.

[2020-07-20 08:49] Reamer commented on #1014
Hello @bwplotka,
can you please give an update on this feature?

[2020-07-20 09:04] tomasfse commented on #977
This is required to allow sidecars to share load balancers or reverse proxies or ingress controllers with other services

I would be great to fix it :D

[2020-07-20 09:44] lilic commented on #903
Still valid... :)

[2020-07-20 10:42] GiedriusS commented on #2784
WIP. Have basic hashes support in my own branch, now need to add the needed functionality in Compactor.

[2020-07-20 10:44] bwplotka commented on #2821
Netlify helped us a bit, but will add support ticket for further investigations: https://twitter.com/NetlifySupport/status/1284513729044873216

[2020-07-20 10:49] bwplotka commented on #2821
Ticket sent.

[2020-07-20 11:27] vaibhavgulati opened #2909 "Bucket verify overlap issue"
Thanos bucket verify command is giving overlapping error issues(2):
level=warn ts=2020-07-20T10:58:52.546743255Z caller=overlapped_blocks.go:43 msg="found overlapped blocks" group=0@10334104636911659965 overlap="[mint: 1595102400000, maxt: 1595109600000, range: 2h0m0s, blocks: 3]
level=warn ts=2020-07-20T10:58:52.546893575Z caller=overlapped_blocks.go:43 msg="found overlapped blocks" group=0@23935

[2020-07-20 12:55] gouravsw opened #2910 "Thanos query is continuously posting the warming message "code = DeadlineExceeded desc = latest balancer error: connection closed"""
**Issue:** In Query logs getting the warming messages as shown below, and keep on getting  the same error

[code]

**Thanos Query Logs**
[code]

I tried to fix by following below link

https://thanos.io/service-discovery.md/#dns-service-discovery

In query deployment I was using the store as

  ` - --store=dnssrv+thanos-sidecar-container.chimera-monitoring.svc`

I changed as per the above document

[2020-07-20 15:05] bwplotka commented on #1014
:wave:

We are adding new improvements to runtime deduplication so we can safely use it: https://github.com/thanos-io/thanos/issues/2890 This time, improving penalty algorithm. There might be one tricky part about counter reset. In Prometheus there is not metric type information yet, so we are discussing online how we can add that thanks to recent metadata changes to block (cc @pracucci @brian-bra

[2020-07-20 15:30] ahurtaud opened #2912 "Query inconsistency when changing external label value"
**Thanos, Prometheus and Golang version used**: thanos v0.14, prometheus v2.19.2

**Object Storage Provider**: S3

**What happened**:
When changing in prometheus the value of an externalLabel, prometheus will change the value for all its persistent data (externalLabels are not time-based in prometheus.)
Whereas on the object storage, they are updated after at most 2hours (time of first upload).
Th

[2020-07-20 16:38] brian-brazil commented on #1014
There's some initial discussions about type metadata for remote write via the WAL, getting them into blocks is a completely different kettle of fish.

[2020-07-20 17:08] yeya24 commented on #2454
Still valid.

[2020-07-20 17:13] #2845 closed

[2020-07-20 17:17] bwplotka commented on #1014
Also Chunk iterator work is almost done which will be needed for dedup during compaction.

Yea agree, super unlikely for now.

[2020-07-20 20:01] yeya24 commented on #2454
Hello :wave:
I can start working on this issue since seems no one is on it :laughing:

I investigated Cortex frontend code recently and found that the core is to port https://github.com/cortexproject/cortex/blob/master/pkg/cortex/modules.go#L372-L388 to Thanos.

Since `tripperware` is just a [function](https://github.com/cortexproject/cortex/blob/master/pkg/querier/frontend/frontend.go#L140), we c

[2020-07-20 20:42] yeya24 commented on #2713
Let me take this one. This can be implemented by adding specified blocks ID to blockFilter https://github.com/thanos-io/thanos/blob/master/pkg/replicate/scheme.go#L30.

[2020-07-20 20:49] Harshitha1234 commented on #2405
Waiting for #2226 to be done for supporting per store :)

[2020-07-21 03:08] ebabani commented on #2496
Seeing this quite often too.

I have a test at https://github.com/ebabani/thanos/blob/eb/lstat-error/pkg/reloader/reloader_test.go#L261 to reproduce this issue. Seems timing dependent but I get an error ~50% of the time.

Definitely related to how k8s updates the volume on configmap changes.

[2020-07-21 04:14] yashrsharma44 opened #2914 "HTTP Middleware Interface in Thanos"
## Use case

Currently, Thanos uses only two middleware, `instr` the instrumentation middleware for tracking all the requests for metricizing the data. Similarily, we have `tracing` middleware, for tracing purposes. However, in future if we want to add in more middlewares in Thanos, it would make the codebase hard to read, and we would have different implementation of middlewares based on authors

[2020-07-21 06:46] kakkoyun commented on #2914
Thanks for starting this. I like the chaining the middleware idea and the pattern.

However, I think we can simplify things a lot here. We can just re-use `http.Handler` instead of `HTTPMiddleware`. Actions in `PreCall` and `PostCall` can easily be handled in a `ServeHTTP` And we can easily rename `Adapter` type to `Middleware`. So things would be a lot simpler. What do you think?

[2020-07-21 07:01] yashrsharma44 commented on #2914
Yeah, the `Precall` and `Postcall` can be simply implemented in the `ServeHTTP` for simplifying things.

Yeah, renamed to `Middleware`.

@kakkoyun Shall I go about implementing the same, having agreed with the implementation details? :stuck_out_tongue:

[2020-07-21 07:03] kakkoyun commented on #2914
👍 Go ahead. If we discovered any other issues we can discuss it in the PR.

[2020-07-21 07:11] kakkoyun commented on #2909
Hey @vaibhavgulati, thanks for reaching out.

Maybe I am missing something but that's what `bucket verify` suppose to do. Find out the issues with the blocks. Could you check out the documentation, https://thanos.io/components/tools.md/#bucket-verify and tell us what was the expectation and why it wasn't fulfilled?

Also, it'd be great if you could provide more information. Answering the questions

[2020-07-21 07:52] bwplotka commented on #2496
Repro test is super helpful thanks! Feel free to propose a fix, otherwise we will take a look soon (:

[2020-07-21 11:24] bwplotka commented on #2912
Yes, currently it works as designed.

[2020-07-21 11:26] bwplotka commented on #2912
Yea, for Querier those are just separate series.

What about adjusting `dedup` labels on Querier? You can add more than just one and maybe you can add some in a way that would mitigate your problem?

[2020-07-21 13:16] yeya24 commented on #2543
This is useful. But how does the linter know whether one slice is reusable or not? That might require some comments on the slice like `lint:reusable` to note it should be reused.

[2020-07-21 13:27] bwplotka commented on #2543
This is the linter magic we need ;p Similar to how vet works.

On Tue, 21 Jul 2020 at 14:16, Ben Ye <notifications@github.com> wrote:

[2020-07-21 15:18] hmlkao commented on #2399
@bwplotka Any update?

[2020-07-21 20:06] bwplotka commented on #2399
Hey, let's get back to this! (:

Why you cannot specify step in a way that 5m data will be returned (OR raw if missing). I think we are missing rationales for this particular case. (:

[2020-07-21 21:34] itzg opened #2918 "receiver: "Out of bounds metric" reported for time series that is only 2 seconds old"
**Thanos, Prometheus and Golang version used**:

Docker images `quay.io/thanos/thanos:master-2020-07-09-60ede4c1` and `quay.io/thanos/thanos:master-2020-07-20-bc7dad08`

**Object Storage Provider**:

GCP

**What happened**:

POST to receiver's `/api/v1/receive` endpoint and it responded with 409. Receiver logs reported:

[code]

NOTE: timestamp `1595366154246` = `Tuesday, July 21, 2020 9:15:54.246

[2020-07-21 22:19] Harshitha1234 commented on #1598
In progress... :)

[2020-07-22 08:19] bwplotka commented on #1083
We can indeed. Let's get back to this. (:

[2020-07-22 08:20] bwplotka commented on #2480
Stil valid.

[2020-07-22 08:22] ahurtaud commented on #2912
Indeed adding it in the dedup labels list is not something I thought about. It should indeed fix the problem. Thanks for the tips!

Again, externalLabels are not meant to change a lot in the lifetime of a prometheus. We basically are using this one to enable paging once a new prometheus is created after memory, cpu etc is stable. We dont really need it in querying so yeah dedup can be a good optio

[2020-07-22 08:50] bwplotka opened #2919 "querier: Allow passing allow-list of store (IPs?) that should be used for query for debug purposes; Add multiselect on UI"
It would be awesome to add the ability to query only a subset of stores to detect which one is slow/ problematic etc (: It should be hidden option only for ad-hoc query.

[2020-07-22 10:49] bwplotka commented on #2098
Hey, did we look on GCS client lib (added issue etc?)

We can (and should) upgrade our lib as well (:

[2020-07-22 11:02] gouravsw commented on #2910
Hello, kindly provide your inputs on the above issue?

[2020-07-22 11:05] bwplotka commented on #2910
Hey, thanks for reporting (:

Well, it looks like it's a client timeout because of `balancer` (or rather server itself) closes connection. This might mean that the IP you are trying to connect to is unavailable, closed or not TCP or gRPC aware.

[2020-07-22 11:09] bwplotka opened #2920 "New component or tool: Thanos Debug UI aggregating Store/Rules/Target APIs results"
We are already discussing ideas like Rules UI for all alerts and rules in the Thanos & Prometheus systems as well as https://github.com/thanos-io/thanos/issues/1375 (Targets UI).

All of those does not really fit into Querier as those APIs can be different. The idea would be to add another component or tool like `thanos tools debug-ui` which will allow to:

* Discover all endpoints you point to
*

[2020-07-22 11:09] bwplotka commented on #2920
It could be combined with Block Viewer.

[2020-07-22 11:15] brancz commented on #2920
With the react UI move this should be trivial hopefully to have once in a single UI but keep the UIs on each component as well.

[2020-07-22 11:23] gouravsw commented on #2910
The IP's are basically of Prometheus pod and they are available.

Could you please suggest me, how to check whether IP is TCP or gRPC aware or not?

[2020-07-22 11:25] bwplotka commented on #2920
cc @prmsrswt @GiedriusS @squat

[2020-07-22 12:17] yeya24 commented on #2444
I agree. So for the fetcher metrics https://github.com/thanos-io/thanos/blob/master/pkg/block/fetcher.go#L77, maybe we can add  `thanos_` prefix directly to metric name, not using extprom.WrapRegistererWithPrefix? WDYT

[2020-07-22 12:55] d-ulyanov commented on #2641
still reproducible

[2020-07-22 13:58] Jakob3xD opened #2922 "Store Gateway: memcached, "create index header reader: write index header: new index reader : get object attributes of <block>/index: The specified key does not exist.""
**Thanos, Prometheus and Golang version used**:
Docker Thanos: quay.io/thanos/thanos:v0.14.0

**Object Storage Provider**:
Docker Minio S3
Docker memcached: MEMCACHED_VERSION=1.6.6

**What happened**:
Using 4 Minio servers.
On each Minio server is a store gateway and a memcached.
The store gateway tries to load blocks from the S3 cached in memcached,
but fails as the blocks are located on the othe

[2020-07-22 14:27] pracucci commented on #2922
Thanks for your report.

Since you've also mentioned "memcached" in the issue title, is it related to the issue in any way? To my understanding, the issue occurs even if memcached is not configured. May you confirm it, please?

[2020-07-22 14:30] Jakob3xD commented on #2922
Well, when using the in-memory cache I works fine.
This issue only occurs when using Memcached.

[2020-07-22 15:24] #2607 closed

[2020-07-22 15:24] #2266 closed

[2020-07-22 15:24] #2761 closed

[2020-07-22 15:24] brancz commented on #2918
Could you repeat the request? The first request intentionally fails (although the expectation is with a 5xx), but eventually they should succeed when retried.

[2020-07-22 15:37] hariyada opened #2923 "Querier-sidecar grpc communication with tls"
We have two kubernetes clusters   "cluster-1" and "cluster-2"

we have deployed sidecar on cluster-1 and querier on cluster-2.  In order to enable tls communication we have procured
two certificates one for sidecar and one for querier and the CA that we have used is LetsEncrypt.

What is the problem that we are facing?
on the sidecar front we want to allow the requests only from querier on cluster

[2020-07-22 16:24] itzg commented on #2918
That's a good idea, because I later suspected the originating server (which is a customer's) probably has just enough clock drift that it's a tiny bit ahead of the receiver pod's clock.

[2020-07-22 17:00] geobeau commented on #2919
I am interested in doing it.

After looking at how to implement it, I have a design question: the query api uses the proxy as a `storepb.StoreServer` and the logic behind the store selection is done after calling `storepb.StoreServer.Series()`, however there is no way of passing an allowlist without extending the interface. Would be okay to change querier.proxy to use directly `ProxyStore` in plac

[2020-07-22 19:07] #2758 closed

[2020-07-22 21:25] GiedriusS commented on #2910
Try something like `netcat` to see if you are able to connect to that IP/PORT at all? :P

[2020-07-22 23:03] #2041 closed

[2020-07-22 23:03] #2606 closed

[2020-07-22 23:03] #2769 closed

[2020-07-23 07:06] kakkoyun commented on #2430
Something is baking https://github.com/yeya24/promlinter @yeya24

[2020-07-23 08:16] youjiahe opened #2927 "Store Gateway: time error; err="create index header reader: write index header: new index reader: get object attributes of 01ED1AX22CZ54GBGWPGTD8S0VG/index: parse Last-Modified: parsing time \"Sun, 12 Jul 2020 11:00:18 GMT\" as \"2006-01-02T15:04:05Z07:00\": cannot parse \"Sun, 12 Jul 2020 11:00:18 GMT\" as \"2006\"""
logs
[code]
what's problem happen?

[2020-07-23 08:51] bwplotka commented on #2598
@thisisobate is on it, and super close actually! (:

[2020-07-23 08:51] bwplotka commented on #310
Still valid.

[2020-07-23 09:49] pracucci commented on #2927
👋  @youjiahe and thanks for reporting your issue. This issue is related to COS and OSS backend stores and should be fixed by a PR just just merged yesterday (https://github.com/thanos-io/thanos/pull/2916). Would you be able to give a try building Thanos from `master`?

[2020-07-23 10:20] bwplotka commented on #2919
Awesome. I think it would be nice to avoid passing this in protobuf, but we could technically create some hints.

I would also avoid running just ProxyStore and changing methods.

We have two options:
1. Pass through context as a best-effort thing
2. Extend protobuf

I would start for now with 1 and then 2 long term. WDYT? (:

[2020-07-23 11:13] bwplotka opened #2928 "Use uber-go/atomic in place of sync/atomic"
Same as https://github.com/prometheus/prometheus/issues/7647

[2020-07-23 12:35] geobeau commented on #2919
Pass through context seems good for me. 👍

[2020-07-23 14:37] bwplotka commented on #2097
Let's update minio - that could be our first step (:

[2020-07-23 16:45] 0xVox opened #2930 "Compact Panic: Won't run compaction - versions 0.13.0 & 0.14.0"
Thanos: 0.14.0, 0.13.0
Prometheus: 2.19.0
Go: Official images from quay.io

**Object Storage Provider**:
S3

**What happened**:
Since upgrading our stack to 0.14.0 from 0.12.2, I found that Thanos compact would sit in this crash loop and not do anything.
I rolled compact back to 0.13.0 to see if it was present, and the exact error below still occurred.

In order to get life out of compact, I've st

[2020-07-23 17:16] ananthdurai commented on #2295
We got bitten by this issue too, and eager to load test once the fix is ready.

[2020-07-23 17:33] bwplotka commented on #2930
Ack, thanks for reporting. It should be straightforward to fix thanks to your stack trace :+1:

[2020-07-23 17:46] #2889 closed

[2020-07-23 18:12] bwplotka commented on #2927
Marking as fixed (:

[2020-07-23 18:12] #2927 closed

[2020-07-23 18:39] 0xVox commented on #2930
Thanks for your timely response!

[2020-07-23 19:27] geobeau commented on #2919
Hello, can you take a look at #2931 ? It's still in WIP as I need to finish the testing but I would like your input first.

[2020-07-23 22:43] bwplotka commented on #2919
I did, and left some comments. Good approach overall!

On Thu, 23 Jul 2020 at 20:28, Geoffrey Beausire <notifications@github.com>
wrote:

[2020-07-24 01:27] yeya24 commented on #2430
Opened a [pr](https://github.com/golangci/golangci-lint/pull/1265) in golangci-lint, I am not sure whether it will be accepted or not, but it works (though not all the cases).

![Screenshot from 2020-07-23 21-26-14](https://user-images.githubusercontent.com/25150124/88353374-38e45f80-cd2b-11ea-9c5d-da92ec6b28a3.png)

[2020-07-24 06:14] miekg commented on #2430
[ Quoting <notifications@github.com> in "Re: [thanos-io/thanos] Add linter f..." ]

We also experiencing these kind of PR too much; https://github.com/coredns/coredns/pull/4021
(you have a metric, but forget to register it)

A linter should probabaly check for that as well.

/Miek

--
Miek Gieben

[2020-07-24 07:35] bwplotka commented on #2430
@miekg Actually for this one you don't need linter, you ensure that through library itself. Check out [`promauto.With`](https://github.com/prometheus/client_golang/blob/master/prometheus/promauto/auto.go#L258) and discussion here: https://github.com/thanos-io/thanos/issues/2102

Since we moved all metric constructions to this, it's not longer a problem (:

[2020-07-24 08:07] miekg commented on #2430
[ Quoting <notifications@github.com> in "Re: [thanos-io/thanos] Add linter f..." ]

oohhhh, nice.

Thanks for the pointer

[2020-07-24 08:52] SenCoder opened #2932 "Query: cmd/thanos/query.go, maybe bugs"
cmd/thanos/query.go

[code]

Why the code above between `// == questions` it is not implemented in the way afterward ? is there any considerations ?

[code]

[2020-07-24 11:10] #2774 closed

[2020-07-24 14:22] jvrplmlmn commented on #2928
I can take this one as well, as I am tackling the one on the Prometheus side.

[2020-07-24 15:34] clhain commented on #2361
Hey, sorry I missed this update. I had a look at it in .13 and it's still unusable. Could be the match function running slowly as opposed to the actual rendering? Let me know if there's something else that would help debug, and thanks.

[2020-07-24 15:37] itzg commented on #2918
@brancz I have now realized that solution isn't practical since I am ingesting via a batching Kafka consumer, so only one or two metrics of the batch is triggering the 409. Since the response gives no details at all about the failure, my application is left with re-sending the entire batch. At that point the app then get 409's for the duplicates. Disabling the batching in my ingest-consumer is not

[2020-07-24 20:35] GiedriusS opened #2938 "Rules HTTP API weirdness: nulls, different values for "same" field, lastEvaluation set to 0000"
On top of:

https://github.com/thanos-io/thanos/pull/2865/commits/b2f1485e3239be07c93e68b404070d48b214965b from #2865

With:
[code]

Going to `localhost:19999/api/v1/rules?type=alert` gives:

[code]

Three things seem off to me:
* `rules` is null even though the branch contains https://github.com/thanos-io/thanos/pull/2888 which supposedly fixes this problem
* Two fields `partial_response_strategy

[2020-07-24 20:41] GiedriusS commented on #2361
If it's still laggy then you must have so many metrics. `label_names` and `label_values` APIs now support time limits so maybe that could be leveraged in the future? :thinking:

[2020-07-25 14:06] ranjithkumar007 commented on #2486
calm down @stale-bot

[2020-07-25 15:35] itzg commented on #2599
This use case is very important for us since even some normal amount of upstream metrics batch ingest will easily result in metrics with over an hour but within 2 hours of lag. The linked discussion in Cortex is very helpful, but ultimately doesn't help until it is implemented here in Thanos :)

[2020-07-25 18:24] #2290 closed

[2020-07-25 18:24] #2736 closed

[2020-07-25 18:24] #2257 closed

[2020-07-25 18:24] #2344 closed

[2020-07-27 05:29] brancz commented on #2599
This has also been discussed at the Prometheus dev summit. Once Prometheus implements it, we should probably follow the same strategy in Thanos. I believe it's unlikely that that will happen in the receive component, but that's a detail I believe.

[2020-07-27 08:24] itsx opened #2941 "Query and Store components RAM requirements (estimation)"
We have three Prometheis and Thanos installed besides it (3 sidecars, query, store, compactor), Minio as a long term storage, Trickster and one Grafana.

On compactor, we have applied these retentions:
--retention.resolution-raw=14d
--retention.resolution-5m=12w
--retention.resolution-1h=1y

In Grafana we have setted the flag `max_source_resolution=1h`

We have about one year of collected data of

[2020-07-27 09:19] brancz commented on #2918
I agree that it should have rejected the whole request. Generally speaking though, I recommend to only use a Prometheus to write into Thanos receive. This is not a general purpose time-series database.

I'll keep this open though to track improvements around clock skew.

[2020-07-27 11:15] #2930 closed

[2020-07-27 11:15] bwplotka commented on #2930
Fixed on master (:

[2020-07-27 11:15] bwplotka commented on #2930
Thanks to @yeya24

[2020-07-27 11:18] 0xVox commented on #2930
So quick! Thank you guys!

[2020-07-27 11:38] Tikam02 opened #2942 "Thanos-Reciever integration"
Is there any document, guide or tutorial regarding how to use thanos-receiver  component.
How to integrate thanos-receiver with Prometheus-operator or prometheus.

[2020-07-27 14:29] pstibrany opened #2945 "Fetch remaining data if chunk is bigger than 16000 bytes"
We have found a case where compactor can generate chunks [bigger than 16k](https://github.com/prometheus/prometheus/issues/5862). Currently when Thanos finds that it has loaded less than data than chunk length, it [returns error](https://github.com/thanos-io/thanos/blob/a64884b19dbe7a6c2613078a07409c89ce4e2508/pkg/store/bucket.go#L2029).

Instead of returning error, I propose to fetch remaining da

[2020-07-27 15:01] itzg commented on #2918
I didn't think I was attempting to use Thanos as a general purpose time-series database, but I guess I am since I'm wanting to bypass Prometheus where it made sense such as blending monitoring data from air-gapped, hybrid data sources.

I can create a separate issue, but I would recommend clarifying the recommendation of Prometheus->receiver deployment here

https://thanos.io/components/receive.md

[2020-07-27 22:43] ebabani commented on #2496
@bwplotka What do you think of logging the error and increase the watchErrors metric if the error is of type `os.PathError`, and otherwise return it?

https://github.com/thanos-io/thanos/blob/master/pkg/reloader/reloader.go#L221-L223

[2020-07-28 05:39] Tikam02 commented on #1435
Can we reduce the 2hr duration to 1hr or 30 minute in thanos-sidecar or prometheus tsdb

[2020-07-28 06:33] kakkoyun commented on #2496
@ebabani It could be a good strategy. Especially this part is not the main functionality of the sidecar. @bwplotka already mentioned it in the comments.

@ebabani Are you actively working on it? It'd be awesome to have this fix in the upcoming release in two weeks.

[2020-07-28 06:42] kakkoyun commented on #2942
@Tikam02 Thanos Receiver implements Prometheus Remote Write protocol. So anything sends remote-write messages can integrate with Thanos Receive. You can find related documentation using `remote write` as your search keyword. That said here are some pointers.

https://prometheus.io/docs/operating/integrations/#remote-endpoints-and-storage

https://prometheus.io/docs/prometheus/latest/configuration/

[2020-07-28 06:42] #2942 closed

[2020-07-28 06:45] kakkoyun opened #2946 "Improve Receiver Documentation"
The receiver needs more elaborate documentation.

We have seen a couple of issues that emphasizes the need. https://github.com/thanos-io/thanos/issues/2942 https://github.com/thanos-io/thanos/issues/2918#issuecomment-664449685

Better to add some pointers around integration

https://prometheus.io/docs/operating/integrations/#remote-endpoints-and-storage
https://prometheus.io/docs/prometheus/latest

[2020-07-28 06:48] kakkoyun commented on #2912
@ahurtaud It seems like everything works as it supposes to. Shall we close the issue?

[2020-07-28 06:49] kakkoyun commented on #2909
@vaibhavgulati Friedly ping. Any comments?

[2020-07-28 06:55] kakkoyun commented on #2896
@zhenkm0507 Thanks for reaching out. We need more info on this. What is the amount of data? What is your time range query?

The receiver could help of course, if your latencies caused by your network latencies. And your receivers and queries live closer spatially.

Also, what do you think about asking this question in our slack channel #thanos in https://slack.cncf.io You would get faster help fro

[2020-07-28 08:01] brancz commented on #2918
I agree! Documented to be added in #2946 .

[2020-07-28 08:14] yeya24 commented on #2938
@GiedriusS Is this fixed by https://github.com/thanos-io/thanos/pull/2925 already? 😄

[2020-07-28 08:54] bwplotka commented on #2444
We use them all over the place. So general switch would be needed, very painful to users. Anyway, we at least should not repeat this problem for new metrics.

[2020-07-28 08:56] bwplotka commented on #2444
Before we switch fully we need to think about discoverability problem as well.

[2020-07-28 09:34] 0xVox commented on #2930
Wicked work guys - running smoothly again :)

[2020-07-28 09:37] yinchengjian commented on #2410
do you reslove this problem? if is ,could you give me some suggest，thank you
because you closed this problem

[2020-07-28 09:54] yinchengjian commented on #2797
so when we query store query, we don't run thanos compact?
why? have some reasons？

[2020-07-28 10:14] Gnoale commented on #2410
Nop, I do no use it anymore, but my performances issue seems to be solved by a major increase of performance on the object store side, plus an upgrade of thanos which use less memory while loading series and stopped oom.

[2020-07-28 10:24] yinchengjian commented on #2410
you solve this issue by an upgrade of thanos ?
and you use another data source to replace s3？
can you tell me in detail, thank you

[2020-07-28 12:20] bwplotka commented on #2682
I did some research and found bit different solution.

"Recently" new [Apache Arrow Flight gRPC](https://arrow.apache.org/docs/format/Flight.html) API was introduced. This aims to essentially have and network protocol that is fast and efficient for columnar use. There are already clients e.g https://github.com/apache/arrow/blob/master/python/pyarrow/flight.py that are capable to fetch data through

[2020-07-28 14:46] #2850 closed

[2020-07-28 14:47] bwplotka opened #2948 "Batch Store API / Query API"
To brainstorm: Separate to [Analytics API discussions and supported formats](https://github.com/thanos-io/thanos/issues/2682) we might want to make sure Thanos APIs supports long-running jobs and advanced scheduling/prioritization of it: aka Batch APIs.

**There are two main APIs:**

* Query (PromQL eval) and blob return without streaming of results.
* Store API streaming fetching raw samples with

[2020-07-28 14:48] bwplotka commented on #2682
Separately to "what format we should use" there is also performance aspect. Started discussion about batch APIs here: https://github.com/thanos-io/thanos/issues/2948

[2020-07-28 14:55] brian-brazil commented on #2948
Per discussion with @robskillington at PromCon it sounded like no new APIs were required, only building on top of what is already available.

I believe we were discussing the Prometheus streaming remote read endpoint as the solution here, which basically does what's needed already.

[2020-07-28 15:02] bwplotka commented on #2948
Yup, however I want to make sure if really no-aggregation / evaluation API is the way to go.

I think, especially in Thanos world this has to be batched, and while possible to batch those on the client side, no one ever will implement something such complex in an efficient way. We have to support this server side. Plus time-batching is the only possible thing right now, so we might need to think a

[2020-07-28 15:21] der-eismann opened #2949 "Store: Increasing postings offsets ratio doesn't affect memory consumption"
**Thanos, Prometheus and Golang version used**: thanosio/thanos:v0.14.0, prom/prometheus:v2.20.0

**Object Storage Provider**: S3

**What happened**: I tried to tweak the memory consumption to get a lower value than the current 22 GB. I saw this description of the postings offset ratio [in the documentation](https://thanos.io/operating/binary-index-header.md/#impact-on-cpu-memory-and-disk) and tri

[2020-07-28 15:59] der-eismann commented on #2949
I just tried launching the store gateway with `--experimental.enable-index-cache-postings-compression`, but the memory consumption is still the same. Is there no way to reduce it?

[2020-07-28 16:00] mapshen opened #2951 "Query: new UI doesn't honor --web.external-prefix or --web.route-prefix"
**Thanos docker image version**: thanosio/thanos:v0.14.0

**What happened**:
Running Thanos Auery behind Nginx, with `--web.external-prefix=query` and `--web.route-prefix="/"`, so that Query is accessible at http://external.com/query. When you switch to "New UI" (http://external.com/query/new) in your browser:

1. the resulting page is blank;
2. all the buttons like "Graph" in the top navigation b

[2020-07-28 16:03] ebabani commented on #2496
@kakkoyun I'll send a PR today.

[2020-07-28 18:29] pracucci commented on #1424
_Still an issue_

[2020-07-28 18:34] heimweh commented on #2097
We also ran into this issue and after upgrading minio and adjusting the functions accordingly it looks better (we've been running it for a week now without any major issues).
Happy to submit a PR @bwplotka, though not sure if it's 100% correct and I'm not at all familiar with the codebase 😅

[2020-07-28 19:17] pracucci commented on #2097
Yes, please! Submit a PR. I will be very happy to review it and help you getting merged in case there's anything to change / improve.

[2020-07-28 21:15] ozanminez commented on #2948
I don't know if we will use Apache Arrow or not, but as a candidate, these are my early findings about the project.

According to Apache Arrow documentation,
(First three topics below are based on this page.
There is another extra finding at the end but it is not based on that page.)
https://arrow.apache.org/docs/status.html

I have to mention and clarify this before all topics: Most common data t

[2020-07-29 00:22] #2399 closed

[2020-07-29 07:22] youjiahe opened #2953 "thanos ruler 0.13.0 meta.json not found error"
[root@thanos thanos]# /usr/local/thanos/thanos rule  --data-dir /usr/local/thanos/data  --eval-interval 30s  --rule-file /usr/local/thanos/rules.d/*.rules.yml  --alert.query-url http://10.92.206.68:9093  --alertmanagers.url http://10.92.206.69:9093  --grpc-address 0.0.0.0:10921  --http-address 0.0.0.0:10922  --objstore.config-file /usr/local/thanos/ecs-oss.yml  --query http://10.92.206.68:8090
lev

[2020-07-29 07:30] youjiahe commented on #2927
I can't build src program;
I want to know how to configure for this problem

[2020-07-29 09:16] keksecops commented on #1507
Any update on this ?

[2020-07-29 10:16] Madhucherukuru opened #2954 ""upload s3 object: Access Denied" Thanos"
I have to take prometheus backup by thanos sidecar but getting access denied below the config file

[code]
And belo is the error log

[code]

and the docker commands as below

[code]

[code]

can anyone help out. Thanks in advance

[2020-07-29 12:47] ronalcelaya commented on #1859
Did you set external_labels in prometheus config?
I was having this error and solved following this:
https://thanos.io/operating/troubleshooting.md/#thanos-not-identifying-prometheus

[2020-07-29 14:19] JensErat commented on #2805
Still an issue with us, and automatically restarting/not halting compactor make compaction continue pretty much immediately without any issues.

[2020-07-29 15:24] bwplotka commented on #2547
We seen also https://github.com/thanos-io/thanos/issues/2890 and another issue we see locally, so this seems like viable option in terms of improving existing penalty based algorithm.

[2020-07-29 18:50] zzhao2010 commented on #1507
I had the similar issue. Is anyone able to provide a solution?

I setup 2 Kubernetes clusters on Azure, Thanos Querier is in one cluster, with a local prometheus+ Thanos sidecar. I need to query the remote cluster Thanos sidecar. I created ingress-nginx with support for grpc on remote cluster. But the sidecar grpc failed in Thanos Querier so that Querier was not able to discover the sidecar on rem

[2020-07-29 19:15] dghubble commented on #1507
I'm not sure what folks' confusion is. Use Nginx Ingress with the TLS pass-through annotation, like any gRPC service. SNI is used just to match the ingress and decide to pass through the TCP traffic, TLS termination occurs at the Pod.

[code]

Thanos has one ServerName, so no multiple Thanos stores/siecars behind the same Ingress class, but that's a separate matter.

[2020-07-29 19:39] GiedriusS commented on #2949
What about the residential set size? Have you tried checking out that?

[2020-07-29 19:47] #2928 closed

[2020-07-29 20:59] j3p0uk commented on #1507
Yes.  So the pattern we used to work around this for now was to have 1 thanos querier per unique remote ServerName, and then another querier that has each of those queriers as a store in the same cluster, which is then the data source in grafana.

[2020-07-30 00:25] mei-ling opened #2958 "Announced LabelSets seeing all cluster and not just the one for the Endpoint"
**Thanos, Prometheus version used**:

Thanos Build version: 0.10.1
Prometheus-Operator version 8.14.0
Prometheus Build Version: 2.18.1

**Object Storage Provider**:

AWS S3

**What happened**:

We have Thanos-operator installed in one k8s cluster/AWS account and have Prometheus-operator installed in other accounts/k8s clusters. We're using the same S3 bucket that's located in the same account as T

[2020-07-30 03:16] prmsrswt commented on #2951
This has been fixed in #2800 but hasn't made it to the release yet.

[2020-07-30 10:16] 0xVox opened #2960 "Compact: Internal Error "Empty External Labels are not allowed...""
**Thanos, Prometheus and Golang version used**:

**Thanos:** Running docker image
[code]
**Prometheus:**
[code]
Note: I am running the master branch because I needed [this fix that stopped compact panicking about missing replica labels](https://github.com/thanos-io/thanos/commit/02672f3c3417caa4f51333798129fa9e2c8a94a4).

**Object Storage Provider**: S3

**What happened**: About once a day, this e

[2020-07-30 11:09] hhsnow opened #2961 "Querier metrics for store/sidecar connectivity"
I would like to be able to monitor and alert on gRPC connectivity issues between Thanos querier and store/sidecar components.

When queriers start up, if they are unable to fetch metadata from a configured --store, they throw warn logs and omit the store in the UI.
[code]
If a healthy store becomes unreachable, we see an info log, followed by the warn from above repeated.
[code]
We also see a "Sta

[2020-07-30 14:09] bwplotka opened #2962 "Research groupcache as alternative cache client to memcached"
I think something which would easy up Thanos deployment with cache is https://github.com/golang/groupcache This is project done my Memcached author and it's replicated in mem cache. The only tradeoff is gossip between replicas which is not that basd to setup.

To research and benchmark (:

[2020-07-30 16:10] mapshen commented on #2951
@prmsrswt ah, thanks for this. Only searched through the issues, but not the pull requests.

Looking forward to 0.15.0!

[2020-07-30 16:10] #2951 closed

[2020-07-30 17:40] bwplotka commented on #1424
In the mean time while waiting for https://github.com/prometheus/prometheus/pull/5884

1. One idea is to mitigate this by detecting this error on the compactor side and excluding those blocks from compacting.
2. Second is to split into two blocks instead of one.

2 is nicer but requires much more thinking. 1. is not the easiest as well as we need different block planning. But can be done without P

[2020-07-31 04:55] GiedriusS commented on #2945
Fixed by https://github.com/thanos-io/thanos/pull/2956

[2020-07-31 04:55] #2945 closed

[2020-07-31 07:53] XDex commented on #267
@bwplotka @mattbostock We reproduced this today with v.0.13.0, here's the log:
[code]

[2020-07-31 15:13] svenwltr commented on #2599
Hello. Not quite sure if this issue is exactly the right one, but coming from https://github.com/thanos-io/thanos/issues/2490 I have an use case. Please tell me, if there is an ticket that fits better.

We are currently implementing [an anomaly detection](https://about.gitlab.com/blog/2019/07/23/anomaly-detection-using-prometheus/) with Thanos. It works well so far, but it is a quite complex query

[2020-08-01 00:30] #2324 closed

[2020-08-01 16:42] yeya24 commented on #2486
This pr should be review #2524, just need another :eye:  to take a look.

[2020-08-01 17:27] bwplotka commented on #2617
@homelessnessbo :beers:  :beers:  :beers: Let's hack on this some day (:

[2020-08-02 20:36] GiedriusS commented on #2582
They have been added, closing.

[2020-08-02 20:36] #2582 closed

[2020-08-03 08:00] #2097 closed

[2020-08-03 08:24] ahurtaud commented on #2912
Yep closing it, adding the label to dedup mitigated our issue. Thanks

[2020-08-03 08:24] #2912 closed

[2020-08-03 08:43] brancz commented on #2599
There is work on [retroactive rule evaluations happening on Prometheus](https://github.com/prometheus/prometheus/issues/11) already. Once that's figured out there we'll probably implement the same mechanism in Thanos. We look at backfilling data more as a thing for retrofitting non Prometheus data into the system, retroactive rule evaluations may make use of the same infrastructure but should be a

[2020-08-03 09:38] #1830 closed

[2020-08-03 09:40] atamgp commented on #1507
@danielmotaleite and others,  can you even **grpcurl** your **thanos sidecar**?
I have the same use-case, same issue, only **I cannot even  grpcurl my thanos sidecar in cluster 2**, so I don't bother looking at querier not reaching it from cluster 1....

**Stack**: thanos+ingress-nginx+grpc on AWS with NLB
In the same cluster as thanos sidecar, I  launched a **test grpc** service and had to enable

[2020-08-03 09:50] infa-kparida commented on #2961
We are also looking for something like this.At present there is no way we can alert in case any store goes down

[2020-08-03 10:32] infa-vmannam commented on #2961
+1, Agree! along with alert, we'd also like to see the store endpoints in Querier UI despite it is DOWN for a long period. A simple rule can be like if it's present in the querier arguments it is good to show in UI along with irrespective of its status.

[2020-08-03 10:50] bwplotka commented on #2821
Fixed after the ticket was, raised, forgot to close this.

[2020-08-03 10:50] #2821 closed

[2020-08-03 12:35] kakkoyun commented on #2778
@bwplotka It'd be great to have a well-tested internal package for this like: https://pkg.go.dev/github.com/bcmills/unsafeslice?tab=doc#AsString (https://github.com/bcmills/unsafeslice/blob/v0.1.0/unsafeslice.go#L141)

[2020-08-03 17:26] juliusv opened #2971 "All result timestamps off by 1ms for certain floating-point input timestamps"
This Cortex issue is relevant for Thanos as well: https://github.com/cortexproject/cortex/issues/2932

I'm getting the same timestamp behavior for the latest Thanos release v0.14.0, when passing in range query timestamps (`start` / `stop` of e.g. `1595846748.806` being parsed as `1595846748.805`).

[2020-08-04 00:37] litengfei-zz commented on #2961
I have the same

[2020-08-04 10:17] homelessnessbo opened #2975 "Compactor is panicing"
Thanos compactor v0.14.0

**Object Storage Provider**:

GCS

**What happened**:

Compactor is continiously panicing time after time

**How to reproduce it (as minimally and precisely as possible)**:

I don't know yet, but ready to provide needed data

**Full logs to relevant components**:

<details>Logs
<p>

[code]

</p>
</details>

**Anything else we need to know**:
previous line in logs is:
[cod

[2020-08-04 10:23] bwplotka commented on #2975
Thanks for this. It was fixed on master already and we decided to push fix on 0.15.0, but happy to consider 0.14.1 if neeed.

https://github.com/thanos-io/thanos/blob/master/CHANGELOG.md#fixed

[2020-08-04 10:23] #2975 closed

[2020-08-04 10:25] bwplotka commented on #2971
Thanks!

We just need this: https://github.com/prometheus/prometheus/pull/4941

[2020-08-04 10:36] bwplotka commented on #2971
Quick fix is easy, help wanted

[2020-08-04 10:39] bwplotka commented on #2953
Hey, can we have more details, for example:

* What ruler was performing, what other log messages are there?
* Did ruler stopped after this error?
* Did you manage to mitigate it somehow or is it constantly crashing?

[2020-08-04 11:22] XDex commented on #267
We've since upgraded to v0.14.0, will let you know if it reproduces again..

[2020-08-04 12:07] johncming opened #2977 "make go-lint failed"
**Thanos, Prometheus and Golang version used**:

only thanos, the version is a pr below.

**What happened**:

make go-lint failed in #2976 in local develop environment and failed occasionally in ci checks in github.

[code]

local env:
[code]

diff detail:
[pr_2976.txt](https://github.com/thanos-io/thanos/files/5022004/pr_2976.txt)

Can anyone see this. I checked this files that it's same as origi

[2020-08-04 12:27] atamgp opened #2978 "Querier cannot speak to external sidecar"
**Thanos, Prometheus and Golang version used**:
thanos: charts.bitnami.com/bitnami 2.0.0
prometheus-operator with sidecar: charts.bitnami.com/bitnami0.22.3
sidecar image: 0.14.0-scratch-r3

**What happened**:
I have 2 eks clusters both running prometheus-operator.
1 cluster has thanos installed (above chart) and needs querier to add the sidecar of the other cluster:
Thanos is registering its local

[2020-08-04 12:33] GiedriusS commented on #2977
Could it be a line-ending problem? Are you running on Windows?

[2020-08-04 13:01] johncming commented on #2977
Ye, this diff was created after running `make go-lint`. It's weird because I have an updated master branch from origin/master.

[2020-08-04 14:29] atamgp commented on #2978
Looking at the [code](https://github.com/thanos-io/thanos/blob/master/pkg/query/storeset.go) line 468 and 488,
If don't understand that there is no errror on line 468 **"dialing connection"** in combination with the fact that there is no entry in nginx of an incoming call....

[2020-08-04 17:20] bwplotka commented on #2454
We are talking about splitting queries with @yeya24  and I think we are more & more fans of this approach of splitting queries despite some lack of block awareness. We can many ways to optimize (e.g cache + singleflight) those cases.

[2020-08-04 23:07] yeya24 commented on #2977
I saw the CI passed. Is this still a problem? @johncming

[2020-08-04 23:15] johncming commented on #2977
Yes, the ci passed. But the error msg I don't know why.  In local env, the error still here.

[2020-08-05 01:34] chaimch opened #2982 "receive: CPU Saturation"
**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:
[code]

**What happened**:
Lost data, please see below
![image](https://user-images.githubusercontent.com/12760278/89361219-4b807080-d6fd-11ea-94f4-0201ea96429e.png)

**What you expected to happen**:
No data loss

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:

<d

[2020-08-05 06:33] PavanVasist opened #2984 "StoreGateway not picking external labels in querier metadata API endpoint - `/api/v1/label/<label_name>/values`"
**Components it touches - querier, storegateway, sidecar.**

**Thanos, Prometheus and Golang version used**:

**Thanos**
Version | 0.13.0
-- | --
adf6facb8d6bf44097aae084ec091ac3febd9eb8
HEAD
circleci@b8cd18f8b553
20200622-10:04:50
go1.14.2

**Prometheus **
Version | 2.14.0
-- | --
edeb7a44cbf745f1d8be4ea6f215e79e651bfe19
HEAD
root@df2327081015
20191111-14:27:12
go1.13.4

Thanos - quay.io/thanos/t

[2020-08-05 07:55] brancz commented on #2982
But you can see this without gaps in Prometheus yes?

[2020-08-05 08:22] SecretSun opened #2985 "sidecar does not read files"
Is it feasible if the sidecar does not read the prometheus file？

[2020-08-05 08:24] mneverov opened #2986 "Unexpected errors in quickstart.sh"
There are several issues in the `quickstart.sh`:

* error when run with minio disabled `thanos: error: unexpected`.
This happens due to empty [OBJSTORECFG](https://github.com/thanos-io/thanos/blob/master/scripts/quickstart.sh#L177) being parsed as a separate command line argument - empty string

* minio is enabled by default. This is confusing because I would expect it to be disabled because of de

[2020-08-05 08:27] mneverov commented on #2873
hi, i'd like to work on this.

[2020-08-05 15:03] bwplotka opened #2992 "proposal: Querier, Receiver, Ruler in single binary; Optionally with Compactor, Store as well."
As discussed here: https://cloud-native.slack.com/archives/CL25937SP/p1596633743009500

AC:
* `thanos <e.g standalone>` that would run multiple components in one binary.

Open questions:
* What commands, something dynamic so users can choose or hardcoded components that makes more sense?
* How to solve flag clashes?

Use case: simple environments like e.g RaspberryPI, onboarding, demos.

[2020-08-05 16:17] #2971 closed

[2020-08-06 05:46] #2986 closed

[2020-08-06 07:12] chaimchaim commented on #2982
There's no gaps in Prometheus.

Can you know the below reason ?

[code]

[2020-08-06 08:09] annanay25 opened #2993 "docs: make docs produces unexpected changes"
**Thanos, Prometheus and Golang version used**:

Thanos PR https://github.com/thanos-io/thanos/pull/2989
Golang version 1.14 darwin/amd64

**Object Storage Provider**:

**What happened**:

[code]
**What you expected to happen**:

No changes.

**How to reproduce it (as minimally and precisely as possible)**:

`make docs`

**Full logs to relevant components**:

[code]

**Anything else we need to kno

[2020-08-06 09:41] yashrsharma44 commented on #2993
I guess `make docs` actually adds in the changes for the documents so that `make check-docs` pass.

[2020-08-06 11:49] brancz commented on #2982
I do not know. That error causes Prometheus to retry sending data though, so it's unlikely to be that. Could you try running a `master` image of Thanos? A couple of fixes for receive did land recently and haven't been released yet.

[2020-08-06 12:15] chaimch commented on #2982
I tried to modify receive.replication-factor to 1, and it never appeared again.

[2020-08-06 12:25] brancz commented on #2982
That's pretty dangerous though, that means if any one instance is not working your entire cluster is down.

[2020-08-06 13:33] bwplotka opened #2994 "receiver: Shutdown in the middle of block deletion"
[code]

Sometimes also `chunks` dir. We should make it using atomic rename

[2020-08-06 13:35] #2843 closed

[2020-08-06 13:45] bwplotka commented on #2843
Hey, can you explain what's the outcome, was it resolved? 🤗

[2020-08-06 13:46] kakkoyun commented on #2993
@annanay25  It looks like a OS X issues. OS X uses BSD-based tooling. In scripts we use GNU-based tooling. This could be related to that.
Could you please check [this page](https://apple.stackexchange.com/questions/69223/how-to-replace-mac-os-x-utilities-with-gnu-core-utilities) and give it another shot with that tooling.

[2020-08-06 14:34] #2844 closed

[2020-08-06 15:31] annanay25 commented on #2993
I'll take a look as soon as I can :)

[2020-08-06 16:24] midnightconman commented on #1598
Can we have an update on this, please? Maybe a link to some WIP, design doc, etc.

[2020-08-06 16:28] Harshitha1234 commented on #1598
Sure! Link to the design doc #2780
Will soon link to the WIP PR ;)

[2020-08-06 16:31] midnightconman commented on #1598
thank you :-) Really looking forward to this.

[2020-08-06 18:10] yeya24 opened #2997 "Support customized headers in promclient HTTP requests"
Currently in the `promclient` package, it is not supported to add HTTP headers when sending Get requests https://github.com/thanos-io/thanos/blob/master/pkg/promclient/promclient.go#L100.

Cortex frontend supports a special HTTP header `Cache-Control` to control whether to cache results or not https://github.com/cortexproject/cortex/blob/master/pkg/querier/queryrange/results_cache.go#L203. So it w

[2020-08-06 18:13] jtlisi commented on #2803
I recently got the integration test suite running on Mac OS 10.15.6 Catalina ran into a similar issue.

First, if you haven't yet, I highly recommend reinstalling Docker for Mac from scratch after upgrading to Catalina. Be sure to remove all of the system files. This is a helpful guide: https://nektony.com/how-to/uninstall-docker-mac

Second, the `make docker` command will build a docker image wit

[2020-08-06 21:03] #2818 closed

[2020-08-07 06:58] kakkoyun commented on #1706
@yashrsharma44 is still on it for grpc part https://github.com/grpc-ecosystem/go-grpc-middleware/pull/311

Also @yashrsharma44 have we addressed the tracing part of this issue? Or do we have a plan?

[2020-08-07 07:02] yashrsharma44 commented on #1706
I think the tracing part of the issue referred to the tracing infrastructure that we have it now in Thanks.

[2020-08-07 07:28] atamgp commented on #2978
**Update 2**
1. On the external sidecar cluster, I also deployed a local Thanos Query and connect it to that local side-car, which is working.
In that query UI I can see the side-car under Stores

2. I exposed that external side-car under t**hanos-sidecar**.DOMAIN.org and its new local Query under
**thanos-grpc**.DOMAIN.org of which the Thanos Query in the other cluster **cannot find either**.
Fro

[2020-08-07 09:40] chaimch commented on #2982
I am experimenting with the master branch to see if there will be problems.

HTere is a way to control the offline of a node, can the cluster work normally?

[2020-08-07 09:49] brancz commented on #2982
Replication factor is exactly what allows us to have partial downtime in a cluster and still function, obviously we need to ensure that works reliably, I'll mark this as a bug tentatively as we continue to investigate the issue and hopefully resolve it :)

[2020-08-07 10:44] mneverov commented on #2856
hi, I'd like to work on this

[2020-08-07 12:09] #2856 closed

[2020-08-07 12:11] bwplotka opened #2999 "devtools: Changelog tooling."
It would be awesome to automate changelog creation. This is to:

* Avoid issues like https://github.com/thanos-io/thanos/pull/2998
* Avoid changelog merge conflicts all the time
* Automate manual process during each release

I would propose some tooling that can work on PR / commit messages - to parse those. We can ensure via CI if commit has this or something. Would be awesome (: Maybe there is s

[2020-08-07 14:16] bwplotka commented on #2793
Still the migration path has to be fixed in theory.

[2020-08-07 15:25] pracucci commented on #2861
_Still valid, some help wanted (should be easy to do)._

[2020-08-07 15:35] husoule opened #3001 "Same url (with max time in future) got diffenent data from Prometheus and thanos query"
**What happened**:
I want a query which endtime is a future time. If I play with Prometheus directly, I see the latest result being less then now + lookback-delta. This is as expected。 But via thanos query, it got the latest result data of future 5m.

via thanos query:
![image](https://user-images.githubusercontent.com/5336915/89661464-4ee64880-d905-11ea-9605-78ab06332eb7.png)

Prometheus directly

[2020-08-07 16:41] paulfantom commented on #2999
There is a project for that: https://github.com/github-changelog-generator/github-changelog-generator :)

[2020-08-07 16:59] #2873 closed

[2020-08-07 18:11] clausa20 commented on #2792
I comment to keep alive this issue.
@trsreagan3 can you give some details and examples about steps you did?

[2020-08-07 19:32] #2803 closed

[2020-08-08 02:27] chaimch commented on #2982
I changed the receive_refactor back to 3 and the problem will arise.

The first figure is in thanos. He lost his data.

![image](https://user-images.githubusercontent.com/12760278/89700393-61da3680-d960-11ea-8123-0183790e1bf0.png)

The second figure is in promethues. His data is complete.

![image](https://user-images.githubusercontent.com/12760278/89700410-89310380-d960-11ea-991a-97e08e025f08.png

[2020-08-08 02:35] chaimch commented on #2982
I'll use the master branch to verify the problem first.

Is the current receive not suitable for production environment?

[2020-08-08 09:04] litengfei-zz opened #3004 "query: Can u make the response warnings optional?"
query API response warnings， but only query web knows this content. And rule does not this.
Can u make the response warnings optional?

**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs to relevant components**:

**Anything else we need t

[2020-08-08 10:55] bwplotka commented on #2864
Still todo.

On Sat, 8 Aug 2020 at 10:42, stale[bot] <notifications@github.com> wrote:

[2020-08-08 12:16] SerialVelocity opened #3005 "Alert missing for bucket operation failures on the sidecar"
**Thanos, Prometheus and Golang version used**:
quay.io/prometheus/prometheus:v2.20.0
quay.io/thanos/thanos:v0.14.0

**Object Storage Provider**:
Scaleway S3 compatible object store

**What happened**:
The sidecar was failing to upload to the S3 (my fault) but no alerts were triggered.

**What you expected to happen**:
An alert to be triggered.

**How to reproduce it (as minimally and precisely as

[2020-08-08 17:06] GiedriusS commented on #3004
I'm not sure if I understood the question but there is "partial_response_strategy" that controls what happens when Thanos Rule encounters an error/warning while querying.

[2020-08-08 20:45] bwplotka commented on #3004
Yes, just set this strategy to WARN (:

Kind Regards,
Bartek Płotka (@bwplotka)

On Sat, 8 Aug 2020 at 18:06, Giedrius Statkevičius <notifications@github.com>
wrote:

[2020-08-08 20:50] sepich commented on #2841
I've created [docker-compose small setup](https://github.com/sepich/compose-playground/tree/thanos-2841) so that you hopefully could reproduce the issue:
[code]
3x `thanos-receive` containers are in hashring, and `prometheus` sends remote-write to `thanos-front` container, which is the same `receive` but not in hashring, so just forwards the data.
`avalanche` containers are to create some load, so

[2020-08-08 22:42] #2837 closed

[2020-08-09 01:55] chaimch commented on #2982
Master branch still has the problem.

![image](https://user-images.githubusercontent.com/12760278/89723190-a67bd580-da25-11ea-9175-51a843732a01.png)

![image](https://user-images.githubusercontent.com/12760278/89723197-b2679780-da25-11ea-82de-b16b30fc21f8.png)

receive config：
[code]

receive log:
[code]

[2020-08-09 14:48] #2706 closed

[2020-08-10 05:50] litengfei-zz commented on #3004
The problem is not partial response.
The case is that a prometheus goes down and the sidecar is running.
the rule will logs:
level=error ts=2020-08-10T05:51:50.554377118Z caller=rule.go:729 component=rules err="read query instant response: expected 2xx response, got 422. Body: {\"status\":\"error\",\"errorType\":\"execution\",\"error\":\"expanding series: proxy Series(): Addr: 10.99.207.232:10901

[2020-08-10 08:23] clyang82 opened #3008 "Openshift Container Storage as Thanos Store"
I did not find OCS can be able to support in the this list - https://thanos.io/storage.md/
Do we have plan to support OCS as a thanos store? https://www.openshift.com/products/container-storage/
or do we have example to play with OCS? Thanks.

/cc @bwplotka  @brancz

[2020-08-10 08:29] squat commented on #3008
Hi @clyang82 do you know what OCS is built on top of? I seem to recall this was built on Ceph, which exposes an object-storage API that is S3-compatible. If this is the case, then we can use the S3 configuration settings for Thanos.

[2020-08-10 08:55] clyang82 commented on #3008
Thanks @squat it is build on top of Ceph - https://www.openshift.com/blog/openshift-container-storage-4-introduction-to-ceph
That's great if we can use s3 configuration settings for Thanos. I may give it a try and provide update here then.

[2020-08-10 10:00] 2nick opened #3009 "bucket web: Expose information about blocks as metrics"
Greetings, Thanos team! :)

We want to see information about stored blocks such as number of series/chunks/sample and used space in Grafana dashboards.
So the first proposal is to expose currently available data which is used in bucket web ui as metrics.
And the second is to add information about space used by blocks as in web ui as in metrics endpoint.

What do you think?

[2020-08-10 12:26] brancz commented on #2982
We are actively ingesting millions of active series and are not experiencing this, so I believe the culprit is somewhere else. I currently don't have time to look into this further, but maybe @kakkoyun @squat or @bwplotka do.

[2020-08-10 14:05] bwplotka commented on #2994
Actually it was not during write but delete. so fix is here: https://github.com/prometheus/prometheus/pull/7772

[2020-08-10 16:59] bwplotka commented on #2600
We need that! (:

[2020-08-11 05:50] bwplotka commented on #3009
Hey, as per blocks numbers - it's already exposed by powerful metric `thanos_blocks_meta_synced`

[2020-08-11 05:52] bwplotka commented on #3009
As per space used, this is tricky, but if we can find a way to have aggregated metric for space used sure!

Ideally this metric is exposed by your cloud providers ;p

[2020-08-11 05:56] #2994 closed

[2020-08-11 06:09] bwplotka commented on #2997
Makes sense :+1:

[2020-08-11 06:28] bwplotka commented on #3001
Ack, might be the deduplication (: But kind of when you ask for future - this is what deduplication interpolates ;p

[2020-08-11 06:29] bwplotka commented on #3001
How critical this is? Why it would cause issues?

[2020-08-11 06:40] bwplotka opened #3013 "receive/ruler: Segfault due to chunk bytes reuse."
[code]

Triggered by

[code]

Root Cause: ChunkIterator gives chunk bytes which are... deallocated in the moment o marshalling. This happens especially when block was just created and head was compacted, thus deallocating byte range.

This might be best fixed on ChunkIter itself

[2020-08-11 06:50] #2938 closed

[2020-08-11 07:12] bwplotka commented on #3013
https://github.com/prometheus/prometheus/issues/7776

[2020-08-11 09:14] karlism opened #3014 "Feature request: Thanos querier metrics for store reachability/liveness"
**Thanos, Prometheus and Golang version used**:
[code]

**What happened**:
There are no metrics available in Thanos querier to determine if any particular Thanos sidecar node is not reachable or live.
`thanos_store_nodes_grpc_connections` is available but it only shows connection count to reachable/live nodes, it does not contain value `0` if connection couldn't be established.

**What you expecte

[2020-08-11 09:36] bwplotka commented on #3008
Cool, let us know!

[2020-08-11 09:36] #3008 closed

[2020-08-11 09:38] 2nick commented on #3009
I found only one place in the current master branch with this metric - it's in store and value is just a number of blocks.

We need full information about each block from its meta - resolution + number of its series, chunks, and samples.

If there is a place where a store or other component exposes such metrics could you please refer to a particular line. :)

We have in-house ceph cluster and can

[2020-08-11 12:20] der-eismann commented on #2949
Well, we actually noticed that after a while the consumption does drop indeed, it's just at the start that thanos is using up until the memory limit. But we could reduce the memory usage from 20 to 5 GB without it OOMing at all. So I guess the flags do work, it just takes a while.

[2020-08-11 12:20] #2949 closed

[2020-08-11 13:48] bwplotka opened #3015 "query-frontend: Docs"
cc @yeya24

[2020-08-11 13:50] bwplotka opened #3016 "query-frontend: Client load balancing"
It would be nice to enable this so we can distribute the load among queries.

Alternative is to move to subscription API Cortex use.

[2020-08-11 13:50] bwplotka commented on #3015
Must have: Link to discussion about naming (:

[2020-08-11 13:53] pracucci commented on #3016
Not pushing you in any direction (there are pros and cons). What we observed in Cortex is that round robin queries across a pool of queriers doesn't end up with a fair split of the workload. The problem is that resources a single query takes (CPU and memory) are very different from query to query and, when running in a heavily utilised cluster, you will end up with some idle queries and other busy

[2020-08-11 13:57] s-urbaniak opened #3017 "Thanos Querier Rules API merges rules with the same name but different fields"
**Thanos, Prometheus and Golang version used**:

Thanos: 0.14.0
Prometheus: 2.20.0
Golang: golang-1.14

**Object Storage Provider**:

N/A

**What happened**:

Given the following rules file structure in Prometheus:

[code]

Thanos querier rules `/api/v1/rules`  deduplicates by `name` field only, yielding either:

[code]

or, non-deterministically, any other file name from the above Prometheus exam

[2020-08-11 13:58] s-urbaniak commented on #3017
cc @bwplotka @metalmatze @squat @kakkoyun @lilic @simonpasquier @paulfantom @brancz

[2020-08-11 14:00] halfmatthalfcat commented on #915
Literally been searching for this comment for days and just found it. @FUSAKLA is there anyway to include this in the documentation?

"So this is expected behavior, it will ship the data every cca 2h."

This isn't explained anywhere that I could find and it makes it seem like either the connection to the bucket has failed silently or things just aren't working.

[2020-08-11 14:00] s-urbaniak commented on #3017
on personal note: I vote for option 1.: we add the file field as part of the deduplication logic.

[2020-08-11 14:01] halfmatthalfcat commented on #915
Maybe adding "connection to bucket successful" somewhere so it's obvious that, if there is an issue, it's not the connection to the bucket?

[2020-08-11 14:40] brancz commented on #3017
file being part of the deduplication scheme seems like the correct approach to me

[2020-08-11 14:51] simonpasquier commented on #3017
option 1 looks ok to me. This is how Prometheus itself indexes rules:

https://github.com/prometheus/prometheus/blob/ce838ad6fcbd14b0cf9971a4d093ad672e1469fe/rules/manager.go#L1047-L1055

[2020-08-11 15:04] bwplotka commented on #3017
Let's be explicit and treat name + file as key (:

[2020-08-11 17:14] bwplotka commented on #3016
We could use this for client side. https://github.com/improbable-eng/kedge/blob/master/pkg/kedge/http/lbtransport/transport.go#L52 (:

[2020-08-11 17:15] bwplotka commented on #3016
That makes sense, but it's better than utilizing one. And looks like both client loadbalancing and subscription based will have similar problem

[2020-08-11 23:58] mei-ling commented on #1318
So we have multiple Prometheus Operators running on multiple clusters:

 Cluster A with Prometheus+ThanosSidecar
 Cluster B with Prometheus+ThanosSidecar
 Cluster C with Prometheus+ThanosSidecar
 Cluster D with Thanos Operator with a query-master and Bucket

Right now, all the data written from Cluster A,B,C  go to that one bucket at the root level, with no multi-tenancy.  Could this scenario be c

[2020-08-12 05:07] pracucci commented on #3016
Could you elaborate on what similar problem they have, please?

On Tue, Aug 11, 2020, 19:15 Bartlomiej Plotka <notifications@github.com>
wrote:

[2020-08-12 09:45] bwplotka opened #3023 "Replace leaktest with goleak"
As Prometheus did we probably want to replace leaktest with https://github.com/uber-go/goleak with per package pattern:

[code]

This way we don't need to put defer on every unit test which we often forget. It will harder to detect WHERE the leak happens but for CI we care more if it happens.

[2020-08-12 09:45] bwplotka commented on #3023
Help wanted!

[2020-08-12 13:02] #2777 closed

[2020-08-12 13:07] bwplotka opened #3026 "receive: Use PathOrContent file for the hashring"
This: https://github.com/thanos-io/thanos/blob/a64884b19dbe7a6c2613078a07409c89ce4e2508/cmd/thanos/receive.go#L67

[2020-08-12 13:15] squat commented on #3026
Specifically, we should allow the Thanos receive component to _also_ take the hashrings configuration as content passed directly to the flag rather than _only_ as file

[2020-08-12 21:32] patrungel commented on #3014
This feature is even more relevant for static configuration of stores (provided via `--store` or `--store.sd-file` cli options): failed connections don't even make it to metrics at all.
This feature would greatly help monitoring of and alerting on failing stores.
A work-around for the above post would be locating `thanos_querier_store_apis_dns_provider_results` without matching `thanos_store_nodes

[2020-08-13 05:09] mneverov commented on #3023
hi, i'd like to work on this

[2020-08-13 05:13] #3017 closed

[2020-08-13 06:51] kakkoyun commented on #2496
Fixed by #2996

[2020-08-13 06:51] #2496 closed

[2020-08-13 07:44] Sadzeih commented on #2978
I have the same issue! Would love to see a fix

[2020-08-13 09:31] d-ulyanov commented on #2321
still actual

[2020-08-13 09:42] #3015 closed

[2020-08-13 09:56] bwplotka commented on #3023
Please help! :heart:

[2020-08-13 10:07] krackjack29 commented on #1624
We are issuing a similar problem with our setup, we have Thanos-Receive to get metrics from 8 clusters, we are running the pods on 64GB memory VMs and it gets OOM Killed atleast once a day and we lose the data for atleast 2 hours. Is there  a way to circumvent this scenario?