[2020-10-31 22:29] MMeent commented on #3314
That's what I was talking about, yes

[2020-11-01 14:32] SuperQ commented on #1424
As a workaround, would it be possible to add a json tag to the meta.json so that the compactor can be told to skip it?

Something like this:

[code]

[2020-11-01 17:25] d-ulyanov commented on #2641
Is anything was done to fix it in recent versions?
It is still valid, yes.

[2020-11-02 02:56] #3329 closed

[2020-11-02 08:59] bwplotka commented on #2778
Not enough priority for this currently (:

Let's close for now.

[2020-11-02 08:59] #2778 closed

[2020-11-02 09:11] bwplotka commented on #1424
The main problem with this approach is that this block might be one portion of a bigger block that "have" to be created in order to get to 2w compaction level. Need to think about it more, how to make this work, but something like this could be introduced ASAP, yes.

I am working on some block size capped splitting, so compaction will result in two blocks, not one etc. Having blocks capped at XXX

[2020-11-02 09:35] bwplotka commented on #1424
I should have some workaround today.

[2020-11-02 10:59] SuperQ commented on #1424
Here's some metdata on what's failing:
[code]

And an example meta.json
[code]
{
	"ulid": "01EKC6VXQ4A3ZANP0E30KY5AWM",
	"minTime": 1601164800000,
	"maxTime": 1601337600000,
	"stats": {
		"numSamples": 24454977719,
		"numSeries": 49668912,
		"numChunks": 229130151
	},
	"compaction": {
		"level": 3,
		"sources": [
			"01EK6R1EW9Y76QPSHE2S2GZ1SC",
			"01EK6YX646B7RPN4FFFCDR62KP",
			"01EK75RXC6HZBKG

[2020-11-02 12:10] Reamer commented on #2547
Still needed.

[2020-11-02 12:53] bwplotka opened #3389 "Compactor: Stream compaction and downsampling from Object Storage"
It would be amazing to skip disk writes/reads and allow Compactor to be fully streaming from object storage.

In order to do compaction streaming, we need to redesign index format a bit (e.g store postings and series in different files).

This is something being explored during [the Prometheus Storage Working Group](https://docs.google.com/document/d/1HWL-NIfog3_pFxUny0kAHeoxd0grnqhCBcHVPZN4y3Y/ed

[2020-11-02 17:32] stylianosrigas commented on #3386
Closing this, as the problem was related to Helm chart Thanos deployment.

[2020-11-02 17:32] #3386 closed

[2020-11-03 03:10] #3009 closed

[2020-11-03 08:00] GiedriusS commented on #3291
The PR has been merged so closing this! Thank you for this fix.

[2020-11-03 08:00] #3291 closed

[2020-11-03 08:51] wuestkamp opened #3393 "Thanos Querier in simple setup much slower than Prometheus directly"
**Thanos, Prometheus versions used**:
prometheus:v2.18.2
thanos:v0.16.0

**Object Storage Provider**:
None

**What happened**:
* Querying prometheus directly with example query takes 300 milliseconds.
* Querying thanos-query -> prometheus-thanos-sidecar -> prometheus takes 10 times as long (~3.4 seconds).
* Prometheus and Querier are in the same k8s cluster and namespace.
* The amount of data retu

[2020-11-03 09:36] bwplotka commented on #3393
Things are changing from version to version, but it's definitely something to investigate. There will be some difference but not that large, but it also depends on the network.

Thanks for reporting!

[2020-11-03 11:10] konvergence opened #3394 "thanos-compact generates exponential HEAD / GET HTTP requests on S3 minio"
**Thanos, Prometheus and Golang version used**:

* Thanos version : 0.15.0
* Golang version:  ??

**Object Storage Provider**: minio

**What happened**:
* When I monitor nginx-ingress-controller, I can see that thanos-compact generates exponential HEAD / GET HTTP requests on S3 minio
* in 24h, I start with 48 requests/hour to finish with 5724 request/hour.

**What you expected to happen**:
* Even

[2020-11-03 11:27] zygiss opened #3395 "Compactor: HTTP socket is only opened after initial cleanup of compacted blocks is complete"
**Thanos, Prometheus and Golang version used**:

Thanos Docker image: thanosio/thanos:master-2020-10-22-57076a58

**Object Storage Provider**:

GCP

**What happened**:

We wanted to make use of the new compactor functionality introduced in https://github.com/thanos-io/thanos/pull/3115, so upgraded compactor pods to version "master-2020-10-22-57076a58".

Thanos compactors run in K8s with liveness a

[2020-11-03 12:09] bwplotka commented on #3394
Exponential based on what? just time? If you restart it starts from lower number? (:

Might be a bug, to investigate.

[2020-11-03 12:32] konvergence commented on #3394
You're right, I redid the whole installation a few days, because I wanted to be sure that I wasn't wrong.

But previously, I let thanos during 6 days, and  after this period, I get more than 425000 request/hour
[screenshot2](https://ibb.co/9GCFHhC)

But may be my config is not correct ?

my config is here

[code]

[2020-11-03 14:22] #3001 closed

[2020-11-03 15:32] Shadi opened #3397 "compact:debug meta files are never deleted"
**Thanos, Prometheus and Golang version used**:

Thanos: quay.io/thanos/thanos:v0.15.0
Prometheus: quay.io/prometheus/prometheus:v2.22.0

**Object Storage Provider**: Dell ECS

**What happened**:
We have a preview thanos deployment that we use with our preview clusters, I was looking at one of the S3 buckets that the sidecars upload to and found out that the $(bucket)/debug folder has a lot of fil

[2020-11-03 15:39] bwplotka commented on #3397
That's correct, what do you propose? (:

This is really for debug, but was not proven to be very useful. Let's discuss and decide what to do :thinking:

[2020-11-03 15:40] bwplotka commented on #3394
It looks good, so looks like a bug (:

[2020-11-03 15:51] Shadi commented on #3397
I think the deletion call can mirror the Upload call and delete the file after deleting the meta file that is part of the block directory.

[2020-11-03 15:57] GiedriusS commented on #3397
Maybe let's bring this up on the next community call? (:

[2020-11-03 15:59] GiedriusS commented on #3395
Yes, this is expected because we want to reduce the count of objects if possible. Imagine a scenario where Thanos Compactor goes into a crash loop and not even the old files get deleted. What do you propose? Why doesn't increasing `initialDelaySeconds` work for you?

[2020-11-03 16:10] GiedriusS commented on #3328
What do you mean exactly? I suppose the answer is that you need the `--store` option on Thanos Query to make it "know" about Thanos Sidecar. Could you please elaborate on what have you tried, what happened, and what did you expect? (:

[2020-11-03 16:51] yeya24 opened #3399 "E2E TestCompactWithStoreGateway flaky"
https://github.com/thanos-io/thanos/pull/3398/checks?check_run_id=1348647067

I have seen this flaky test a lot in our E2E recently. Would be good to investigate and fix it.

[code]

[2020-11-03 16:53] GiedriusS commented on #3162
That's true. AIUI it should be possible to fix some cases if we assume that the data itself is correct e.g. recalculate the CRC hashes. I suppose let's merge this into https://github.com/thanos-io/thanos/issues/3306.

[2020-11-03 16:54] #3162 closed

[2020-11-03 16:56] yeya24 opened #3400 "Add GitHub issue template for feature requests"
We only have one issue template for bug reports right now. It would be nice to have an issue template for new features.

[2020-11-03 19:42] zygiss commented on #3395
Thanks for triaging.

Sure, we could increase `initialDelaySeconds` on the healthchecks.  I think there's a more general issue here however, which I could've explained better in my initial report.

The problem is that effectively we have compactor perform some work, run the initial cleanup (or so we hope) and once that's done, it goes to serve metrics and healthchecks.  This seems to be the wrong

[2020-11-03 22:49] bwplotka commented on #3400
:+1:

help wanted (:

[2020-11-04 01:04] vanugrah opened #3401 "Consider updating thanos ruler --rule-file glob parsing to 3rd party library to support recursive globs."
Hey team,

Just wanted to float an idea -  currently when parsing glob strings in search of rule files, thanos rule uses the standard filepath.Glob() function as seen here:

https://github.com/thanos-io/thanos/blob/3ce844b438c315c72bf45947767df4fa8827a709/cmd/thanos/rule.go#L820

Currently the standard library does not implement recursive globs and there is an open issue discussing it here:

https

[2020-11-04 07:05] konvergence commented on #3394
Not sure this is a bug, as S3 storage is growing in the same trends, and may be more.
[screenshot3](https://ibb.co/FzKyRZb)

I will be monitoring more time to see if the ingress traffic becomes stable.

[2020-11-04 08:11] tanujd11 commented on #3198
@bwplotka @kzcPo Getting the same error but  the sidecar coming to ready state. Will this work? If not, could you help?

Here are the sidecar logs

[code]

[2020-11-04 08:59] OGKevin commented on #3340
This can be closed as #2979 got merged 😊

[2020-11-04 10:02] bwplotka commented on #3318
@yeya24 is on it :hugs:

[2020-11-04 10:25] Shadi commented on #3397
Hi @GiedriusS, I don't know if the question is directed at me or someone else, I'm fine with that :) its a small issue and in worst case the files can be cleaned up offline by a separate tool if they become an issue.

[2020-11-04 11:13] metalmatze commented on #3347
Not really sure what's happening here. Maybe the mixin is somehow deployed twice?

[2020-11-04 12:28] #3340 closed

[2020-11-04 13:59] roysha1 commented on #3364
Experiencing it also on v0.14.0

[2020-11-04 14:51] kelly-brown opened #3404 "thanos store keeps crashlooping"
**Thanos, Prometheus and Golang version used**:

v0.16.0

**Object Storage Provider**:
NetApp Storage Grid

**What happened**:
Crashlooping with this error.  NOTE: the deletion-mark.json doesn't even exist.  Block its complaining about changes with every loop.  Tried removing the block it's complaining about but it doesn't help.

level=error ts=2020-11-04T14:44:51.99943915Z caller=main.go:197 err=

[2020-11-04 15:27] bwplotka opened #3405 "compact: Redesign compaction planning process for cost efficiency and determinism."
Related discussion: https://matrix.to/#/!WaUKIfoqfiyWQhenET:matrix.org/$16044993991172247rFDCZ:matrix.org?via=matrix.org&via=hoffie.info

## Problems of the Current Algorithm

1. The current algorithm is not very efficient for the cost (e.g network bandwidth). For example, if you have blocks laid out as 2h 2h 2h 2h 2h 2h 2h 2h 2h 2h 2h 2h 2h (301 of those in total), our current planning with comp

[2020-11-04 15:33] bwplotka opened #3406 "compact/downsampling: Build chunks directly in object storage (without using disk)"
It's totally doable now. Same with downsampling.

[2020-11-04 15:33] bwplotka commented on #3405
Potentially blocker as bigger compactions would require more resources: https://github.com/thanos-io/thanos/issues/3406

[2020-11-04 15:50] pracucci commented on #3406
Do you mean read source block chunks from object store, merge them on the fly and stream the output to the compacted block directly to the object store without touching disk?

[2020-11-04 16:04] bwplotka opened #3408 "compact: Introduce smart bucket caching for metadata with TTL; replace fetcher cache with it."
Action Items:

0. Make sure it's programmatically configurable what files / dirs to cache.
1. Currently metadata is cached with two separate mechanisms: Fetcher internal code and cache bucket. Unify this.
2. For compact we don't use obj store level cache only fetcher one. Unify to bucket cache.
3. Add reset cache functionality so we can reset certain files e.g markers when we add them. Also, expos

[2020-11-04 16:06] bwplotka commented on #3394
It will be growing (but not indefinitely) due to 2d delete delay if you never used Thanos before. (:

Also created issue with feature request that will improve things a lot: https://github.com/thanos-io/thanos/issues/3408

[2020-11-04 16:07] bwplotka commented on #3408
4. Add Fuzzing to ttl

[2020-11-04 18:20] #3400 closed

[2020-11-04 19:25] kelly-brown commented on #3404
I think I'm running into the same issue reported here.  https://github.com/thanos-io/thanos/issues/2842

I don't exactly know why it started but I had some overlapping blocks so I removed those, and then this started.  I was at v0.14.0, I decided to run with v.0.16.0 to see if it would change the behavior and it did not.  After finding issue 2842, I started up v0.11.0 and it's running.  It's looki

[2020-11-05 05:42] infa-kparida commented on #1598
This is still required

[2020-11-05 06:56] wuestkamp commented on #3393
I believe this specific huge slowness was caused by unwanted throttling through the k8s cfs quota issue https://github.com/kubernetes/kubernetes/issues/67577

Once cfs quota disabled there is a more reasonable delay.

[2020-11-05 06:56] #3393 closed

[2020-11-05 08:02] bwplotka opened #3412 "tests: Flaky e2e: TestQueryExternalPrefix"
E.g: https://github.com/thanos-io/thanos/pull/3409/checks?check_run_id=1354006689#step:5:1480

Also, it would be nice to show logs only for failed tests.

[2020-11-05 09:53] konvergence commented on #3394
Hi bwplotka,

I think that there was something wrong during my first install because now the traffic became more stable.
During my first installation, I forgot to force the annotation on minio ingress

[code]

And I got an HTTP 413 "Payload Too Large" error after a while.
I changed it, but "Thanos side" on Prometheus seemed to have lost some of the chunk, and Thanos compator went up, despite I had

[2020-11-05 10:17] bwplotka commented on #1424
Update. The code is done and in review to fix this issue.

* no-compact-mark.json added https://github.com/thanos-io/thanos/pull/3409
* Auto marking of blocks that would cause the block to be too big (trigger issue of 64GB index) https://github.com/thanos-io/thanos/pull/3410

[2020-11-05 12:14] cyriltovena commented on #2454
About Series API caching, it is not trivial, because the response result doesn't tells you for which time range the list of series belongs to.

This means re-using a cache entry can only be done if the requested range fully overlap the cache item.

[2020-11-05 14:23] yeya24 commented on #2454
Hi, thank you for the reply. You are right and I think this is what I forgot to think about, will open an issue to follow up.

I am curious about how Loki solves this, is this what you mentioned https://github.com/grafana/loki/pull/2202#discussion_r447139926?

[2020-11-05 16:37] bwplotka commented on #2454
As I mentioned on Loki Community Meeting Series API was never super accurate when used with Grafana Dashboard for variables. If we were to used cached resources, in the worst case it will bring too many series.

The same problem exists for Labels API etc

[2020-11-05 17:31] bwplotka commented on #3406
Correct. Or at least touching some constant amount of disk. Exploring this right now.

[2020-11-05 17:35] bwplotka commented on #3406
The most complex part of it is that we need to extend API with PartUpload to do such streaming: https://docs.aws.amazon.com/AmazonS3/latest/API/API_UploadPart.html

Or we can add even use PartCopy to avoid touching those bytes directly.

[2020-11-05 17:39] bwplotka commented on #3406
Another limit for S3 is `Each part must be at least 5 MB in size, except the last part. There is no size limit on the last part of your multipart upload.`

For GCS we could use just https://cloud.google.com/storage/docs/resumable-uploads because https://cloud.google.com/storage/docs/json_api/v1/how-tos/multipart-upload is used for something else (metadata upload).

[2020-11-05 17:45] bwplotka commented on #3406
Azure is very flexible for this: https://docs.microsoft.com/en-us/rest/api/storageservices/#blob-service

Damn it's a lot of work :cry:

But the gain is trivial: We don't need disk (or a lot of disks) to write chunks into chunk files. The problem of the disk is not that urging though.

[2020-11-05 18:03] bwplotka opened #3416 "compact/downsampling/rewrite: Read chunks directly from object storage."
Instead of downloading all bytes of chunks for blocks we want to process, we could easily just read and stream those through while using constant amount of mem / disk. We can do that because all of those operations go through chunks **sequentially**. We do that because series are sorted and chunks are placed by series ordered by oldest. See Prometheus compaction tests for confirmation:

With this

[2020-11-05 20:33] yeya24 opened #3418 "Warning series query result is ignored from query frontend"
**Thanos, Prometheus and Golang version used**:

Current master.

**Object Storage Provider**:

**What happened**:

I am sending the GET request like below

![Screenshot from 2020-11-05 15-30-35](https://user-images.githubusercontent.com/25150124/98293178-e2b6c780-1f7b-11eb-8532-f52459f74dd6.png)

The result of query frontend is

[code]

The result of directly querying querier is

[code]

The warn

[2020-11-06 01:01] yeya24 commented on #2430
Still valid. Will get back to this soon

[2020-11-06 02:51] yeya24 commented on #3418
We can support the `warnings` in the query frontend response if we want.

1. Add `warnings` to the proto file https://github.com/thanos-io/thanos/blob/master/pkg/queryfrontend/response.proto#L31
2. When we merge the `series` responses into a large response, if all responses have this warning, then we can keep this warning in the final result.

[2020-11-06 06:50] redpangzi666 opened #3420 "Query:Unable to query all data from S3"
Unable to query all data from S3.I'm sure there is data in S3, because I can see the completion data for October last week, but not this week. This happens almost every month, and I can't find the problem.

**Thanos, Prometheus and Golang version used**:
[code]
**Object Storage Provider**: AWS S3

**What happened**:

Unable to retrieve full data from S3:

![image](https://user-images.githubusercon

[2020-11-06 16:50] bwplotka commented on #1424
You can manually exclude blocks from compaction, but PR for automatic flow for this is still in review: https://github.com/thanos-io/thanos/pull/3410 will close this issue once merged.

[2020-11-06 17:10] #2608 closed

[2020-11-06 17:29] bwplotka commented on #3408
Code to bucket caching: https://github.com/thanos-io/thanos/blob/843307aa13ae724fbafa4abdfb3c1106cc621fb0/pkg/store/cache/caching_bucket.go#L37

Fetcher dir and memory caching https://github.com/thanos-io/thanos/blob/2ad3805de0b208203a75b8511f095a9c00316222/pkg/block/fetcher.go#L149

[2020-11-07 05:04] #3033 closed

[2020-11-07 11:38] bwplotka commented on #2864
Still valid (:

Kind Regards,
Bartek Płotka (@bwplotka)

On Sat, 7 Nov 2020 at 06:04, stale[bot] <notifications@github.com> wrote:

[2020-11-07 11:38] bwplotka commented on #2622
Valid and flaky still.

Kind Regards,
Bartek Płotka (@bwplotka)

On Sat, 7 Nov 2020 at 06:04, stale[bot] <notifications@github.com> wrote:

[2020-11-07 13:40] xiaozongyang opened #3422 "compactor: thanos-compact failed to do compaction"
# compactor: thanos-compact seems that it is not working
ping @shaulboozhiao @wujinhu
**Thanos, Prometheus and Golang version used**:

- thanos image: quay.io/thanos/thanos:v0.13.0
- prometheus iamge:  prom/prometheus:v2.20.0
- go version: 1.14.2

**Object Storage Provider**:
AliyunOSS
**What happened**:
1. Thanos compact print error logs as following
[code]
2. the metrics shows that no samples ha

[2020-11-08 20:34] brancz commented on #1611
I think we have yet to measure how often were unnecessarily hitting stores to validate further work.

[2020-11-08 20:40] GiedriusS commented on #2605
Maybe let's open a separate issue for this? As for the OP, it has been implemented in https://github.com/thanos-io/thanos/pull/3115 and will be in the next version. Closing as fixed.

[2020-11-08 20:40] #2605 closed

[2020-11-08 20:41] GiedriusS commented on #3422
Hi! Are you sure that you can access that URL? This sounds like a network issue.

[2020-11-09 03:27] wujinhu commented on #3422
Hi @GiedriusS you can access oss-cn-beijing-internal.aliyuncs.com in vpc or internal network, so what's your network env?

[2020-11-09 07:28] redpangzi666 commented on #3420
**This is my bucket inspect**

[code]

[2020-11-09 10:02] xiaozongyang commented on #3422
Hi @GiedriusS @wujinhu   thanks for your reply and help.

ping @GiedriusS
I'm sure I can access that URL, ping, the output of telnet and curl shows that it seems no network issues like firewall failures.

@wujinhu
My pod is deployed on aliyun, I can get response when I ping the internal address.

[2020-11-09 10:21] xiaozongyang commented on #3422
@wujinhu I can find the `meta.json` file on oss console, but there is an error message about this file. What should I do next step?
error log is `level=error ts=2020-11-07T08:58:53.515846758Z caller=runutil.go:98 msg="function failed. Retrying in next tick" err="incomplete view: meta.json file exists: 01EECADB81BJC2E27E01W97MWQ/meta.json: cloud not check if object exists: Head \"http://ali-thanos-

[2020-11-09 14:11] bwplotka commented on #1083
Very needed, potentially blocking https://github.com/thanos-io/thanos/issues/3373

Also again mentioned here https://cloud-native.slack.com/archives/CK5RSSC10/p1604923594031700

[2020-11-09 15:51] bwplotka opened #3425 "e2e: TestRule is flaky."
Skipped it for now. See: https://github.com/thanos-io/thanos/pull/3410/checks?check_run_id=1374890903

[2020-11-09 18:13] jameskranz commented on #2361
This is still an issue, although https://github.com/thanos-io/thanos/pull/3381 helps mitigate the issue. It makes thanos usable with huge metric sets, but means autocomplete is unavailable.

[2020-11-09 19:08] #1424 closed

[2020-11-10 03:35] xiaozongyang commented on #3422
ping @GiedriusS @GiedriusS

Are there any synchronization problems? We've got only one `thanos compact` pod  galobally.

[2020-11-10 09:12] shivani-hotstar commented on #2693
Hi,
We started facing thanos store cache storage issue again .
Thanos-store disk = 100GB
Image:       quay.io/thanos/thanos:v0.12.2

Logs from thanos-store pod
`level=debug ts=2020-11-10T01:24:45.994640439Z caller=bucket.go:453 msg="loading new block" id=01D33EW949948MPRJ1K5KR3E20
level=debug ts=2020-11-10T01:24:45.994484358Z caller=bucket.go:453 msg="loading new block" id=01D2A17CRZMJKQX005HMW9P8

[2020-11-10 17:22] Sudhar287 commented on #3408
Does it make sense to divide the tasks you mentioned above and send a PR for each one separately?

[2020-11-11 03:15] yeya24 commented on #3420
As talked with @redpangzi666 offline already, I will mark this as resolved.
The reason for this problem is that it still uses the Cortex query frontend and it doesn't cache well for different downsample levels.

[2020-11-11 03:15] #3420 closed

[2020-11-11 08:35] kakkoyun commented on #3119
I'll handle what's left for this issue soon.

[2020-11-11 12:48] BigbigY commented on #2978
I have the same problem, add `--grpc-client-tls-secure`, Cannot co-exist with cluster internal DNS address

[2020-11-11 15:48] #2543 closed

[2020-11-11 20:05] stylianosrigas opened #3433 "503 error code in query server"
**Thanos, Prometheus and Golang version used**:
Thanos v0.15.0

**Object Storage Provider**:
AWS S3

**What happened**:
Seeing
[code]
I think that this happens in very long queries which either leads in a timeout or a cancelled call. Is there a way to solve this?

Do you know what can this be related to?

[2020-11-11 20:37] #3177 closed

[2020-11-12 04:36] yeya24 opened #3434 "Mixin: add Grafana dashboard for query frontend"
### Is your proposal related to a problem?

We are running thanos query frontend, but we don't have a dashboard for it right now. It would be very nice to have one dashboard to monitor the cache status, requests, etc.

### Describe the solution you'd like

Add a dashboard for query frontend to the mixin

[2020-11-12 04:46] yeya24 opened #3435 "Exemplar API: For now in sidecar and querier"
As mentioned in today's [public meeting](https://docs.google.com/document/d/165L9DVKHW0sS2PfKYsUCDikwq5XngKkCqTOVjzC6qQE/edit#heading=h.ugggt1yud47e), it would be good if we can support exemplars in Thanos.

Blocked by the upstream WIP [pr](https://github.com/prometheus/prometheus/pull/6635).

As there is no design to persist exemplars right now, we can start from supporting Thanos sidecar to quer

[2020-11-12 05:25] h-abinaya28 commented on #2982
Did someone find a fix for this `level=error ts=2020-11-12T05:22:34.30823915Z caller=handler.go:299 component=receive component=receive-handler err= msg="internal server error"`

[2020-11-12 10:54] diemus opened #3436 "compact does not delete expired blocks in s3"
thanos version 0.16.0

[code]

the oldest block is 2020-09-18 when I start using object storage, it's about 2 month ago. yet the block is still there. the size of object storage is keep growing, and I didn't see any log about deleting blocks in compact.  only `marking compacted block for deletion`. is there anything wrong?

[2020-11-12 11:09] bwplotka commented on #3408
Definitely (:

[2020-11-12 11:16] diemus commented on #2445
I think it's better to have a index page /, hard to know there is /loaded and /global without google

[2020-11-12 12:27] bwplotka commented on #3408
How would I possibly introduce a feature to the users which asks them what directories or files they want to cache?
Do that involves getting a set of block Ids from the user such as 01BKGV7JBM69T2G1BGBGM6KB12   01BKGTZQ1SYQJTR4PB43C8PD98

or both! (:

No, what I mean rather is what KIND of files to cache where.

Currently, we cache the only meta.json per block in mem and optionally on disk (fetche

[2020-11-12 12:40] diemus commented on #3436
`thanos tools bucket cleanup` seems work, but I thought it should be a work for compact

[2020-11-12 15:05] ahurtaud opened #3439 "Query TLS: Regression with grpc-client-server-name flag?"
**Thanos, Prometheus and Golang version used**:
[code]

**Object Storage Provider**: N/A

**What happened**:
We are running a thanos-query (upstream) in front of other thanos-query instances (children). These gRPC store are TLS secured with a signed certificate (signed manually).
We run with the proper flags on the upstream thanos-query:
[code]

Please note the certificate was signed as you can se

[2020-11-12 16:59] pstibrany commented on #3408
You risk having too many config options. In Cortex we have these:

[code]

[2020-11-12 17:11] bwplotka commented on #3408
Yes. I would aim to define some defaults first, THEN allow configuring those only if really there is use case, but good point :+1:

[2020-11-12 17:12] brancz commented on #3320
I was recently contributing to some terraform modules and they used: https://github.com/hashicorp/go-changelog

The process was super smooth. The way it works is that there is a code tag with the "language" changelog in every PR, which is enforced. On releases, this can automatically be extracted with tooling from the PR descriptions. Beyond not creating conflicts all the time, this also allows ma

[2020-11-12 18:07] GiedriusS commented on #3436
Cleaning up used to happen only at the end of an iteration. Has it ever finished one? The current Thanos version does that concurrently in addition to one time cleanup on boot. Only retention policies are applied at the end.

[2020-11-13 02:17] diemus commented on #3436
the log shows nothing to do for a long time
[code]

I think this means a lot of iterations?

the log does shows `start of GC` at the boot, but no cleanup actually happened since the first line of log.

[2020-11-13 10:21] lorenzo-biava opened #3442 "How to fix Compactor out-of-order chunks?"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.15.0 (branch: HEAD, revision: fbd14b49f95e7543883fedf9381a21127d4dda2b)
  build user:       circleci@b18149728583
  build date:       20200907-09:47:14
  go version:       go1.14.2

**Object Storage Provider**:

Azure Blob

**What happened**:

The compactor is halted during compaction due to an "out-of-order chunks" error.

**What

[2020-11-13 17:37] bwplotka commented on #1972
Todo
Kind Regards,
Bartek Płotka (@bwplotka)

On Fri, 13 Nov 2020 at 18:03, stale[bot] <notifications@github.com> wrote:

[2020-11-14 14:00] pracucci commented on #2542
_I think this is still valid_

[2020-11-14 15:34] hhsnow commented on #2961
removing stale

[2020-11-14 23:11] yeya24 commented on #2542
Hi, two questions I have about this issue.

1. There is already a limit of 140 samples per chunk for downsampled chunks [here](https://github.com/thanos-io/thanos/blob/master/pkg/compact/downsample/downsample.go#L212). I guess the performance should be similar to 120 samples?

2. What's the benefit of `Chunks are expanded on demand in iterator.`? I see that we need to expand all the chunks before

[2020-11-15 08:54] t2833813 opened #3447 "Error of "found that TSDB Max time is 1d12h and Min time is 2h. Compaction needs to be disabled""
I am all new to thanos and Prometheus. When I download thanos and run Prometheus and try to use thanos to upload the data to Amazon S3, I have:

level=error ts=2020-11-15T08:33:49.801360398Z caller=main.go:171 err="yaml: unmarshal errors:\n  line 9: field list_objects_version not found in type s3.Config\ncreate S3 client\ngithub.com/thanos-io/thanos/pkg/objstore/client.NewBucket\n\t/app/pkg/objsto

[2020-11-15 11:50] GiedriusS commented on #3447
Hi! The first "problem" happens because you are using a parameter that is only available in `v0.17.0-rc.0` and newer versions. The second "problem" happens because you haven't disabled compaction on the Prometheus side like the error message says. `--storage.tsdb.min-block-duration` needs to be equal to `--storage.tsdb.max-block-duration`. You can read more here: https://thanos.io/v0.4/components/

[2020-11-15 11:51] #3447 closed

[2020-11-15 15:55] dudicoco opened #3448 "Resources allocation recommendations"
Hi,

I could not find resources allocation recommendations in the docs.
Specifically i'm interested in the recommended cpu/memory allocation for the thanos sidecar and querier components.

Thanks!

[2020-11-15 15:59] dudicoco opened #3449 "web.enable-admin-api flag is not required for thanos sidecar"
Hi,

According to the documentation the the --web.enable-admin-api flag is required to allow sidecar to get metadata from Prometheus like external labels: https://github.com/thanos-io/thanos/blob/master/docs/components/sidecar.md

I've deployed the sidecar without the flag and experienced no issues in getting the external labels:
[code]

Is the flag unnecessary?

Thanks

[2020-11-15 16:35] yeya24 commented on #3449
Hi, this flag is not required and I think the doc is outdated.
This issue duplicates with https://github.com/thanos-io/thanos/issues/3278 so I will close it.
If u still have questions about this, feel free to reopen the issue.

[2020-11-15 16:35] #3449 closed

[2020-11-15 16:40] soniasingla commented on #3037
Valid and help wanted 🤗

[2020-11-15 16:45] dudicoco commented on #3449
Thanks @yeya24

[2020-11-16 01:19] Sudhar287 commented on #3408
@bwplotka I'm trying to scope this issue first. Can you please elaborate on

Do you mean additional test cases for the `time to live` functionality?
This is the definition of `fuzzing` from a quick online search:

[2020-11-16 02:02] heartTorres opened #3450 "Thanos Store consumes so much memory when I query metrics based on 5 days and beyond"
Hi,

I have set up Thanos components in our prod environment with the following replica numbers below.
1 - Thanos Store,
5 - Thanos Receivers
1 -  Thanos Query

When I do query metrics atleast 24 hours from Grafana, the Thanos-Store consumes 10Gi ++ of RAM and eventually gets OOMKilled.
We would like to query metric data atleast 30 days ago (as part of the requirements). But 24 hours already consu

[2020-11-16 07:48] Shan1024 opened #3451 "sidecar: Issue when uploading data to AWS S3 using IAM role"
**Thanos, Prometheus and Golang version used**:

Prometheus:

**Docker Tag:** prom/prometheus:v2.22.0

[code]

[code]

---
Thanos:

**Docker Tag:** thanosio/thanos:v0.16.0

[code]

[code]

---
**Object Storage Provider**:
AWS S3

object-store.yaml
[code]

**What happened**:

I am trying to upload data to AWS S3 bucket within a k8s pod using an IAM role (**Specifying an IAM role for your service ac

[2020-11-16 09:47] autarchprinceps commented on #1851
Is this still being worked on? I just tested and the thanos-sidecar in Prometheus is one of only a few containers that still make issues.

[2020-11-16 11:30] bwplotka commented on #1851
We had contributions to add the build/CI process. but I think there is some process of configuration on quay/dockerhub. To test and finish up.

cc @daixiang0

[2020-11-16 14:01] xiaozongyang commented on #3422
ping @GiedriusS  @wujinhu

[2020-11-16 17:26] bwplotka commented on #3408
No I mean cache jitter rather (See: http://neopatel.blogspot.com/2012/04/adding-jitter-to-cache-layer.html (point no 2))

The problem is that sync is done once and then all metadata are cached in the same time. With no jitter cache TTL (expiry) we revoke all blocks in the same time, so we redownload all in one go introducing spike in bucket APIs and potential slow downs or even rate limits. If we

[2020-11-16 18:22] domino7 opened #3453 "receive: too large gRPC message"
Messages sent to Thanos receiver fails when msg size is above 4MB due to gRPC maxRecvMsgSize = 4MB

**Thanos, Prometheus and Golang version used**:
Thanos: 0.15.0
Prometheus: 2.20.0
Golang: 1.15.4

**Object Storage Provider**:
AWS S3

**What happened**:
Messages sent to Thanos receiver fails when msg size is above 4MB due to gRPC maxRecvMsgSize = 4MB:
`err="forwarding request to endpoint thanos-re

[2020-11-16 21:26] joshulyne opened #3454 "store: invalid date for max time causing store to get filtered out in thanos-query"
**Thanos, Prometheus and Golang version used**:
v0.16.0 - thanos
v2.17.1 - prometheus

**Object Storage Provider**:
cleversafe s3

**What happened**:
thanos-query fails to fetch data past what's available in locally in prometheus. I believe the cause is the thanos-store components not having the proper min/max date. Therefore, the thanos-query component filters out those stores when querying. When

[2020-11-17 01:03] daixiang0 commented on #1851
While I have no permission to test it, please help @bwplotka !

[2020-11-17 08:07] zecke opened #3456 "query: API does not honor the per request timeout URL query parameter (one slow store makes all of thanos unavailable)"
**Thanos, Prometheus and Golang version used**:

Thanos v0.16.0
Go 1.15.3

**Object Storage Provider**:

S3

**What happened**:

Executing:

* thanos query --query.timeout=2m (default)
* curl http://127.1:9090/query_range?...&timeout=10s&partial_response=1

Result:
Query timesout after 2m and not 10s.

**What you expected to happen**:

I did expect the query to timeout after 10s (and deliver a par

[2020-11-17 08:23] kakkoyun commented on #3026
#3121 is still open and waiting for review cc @squat

[2020-11-17 12:56] bwplotka opened #3457 "*: Count used / alloc memory per query."
AC:
* In order to ensure isolation and limits some day, as a first step we want to measure memory we use per query on all component
* API response should have it (similar to query stats)

To track on next issue:
 * Present that on UI

[2020-11-17 13:36] pracucci commented on #2542
Yes, performances should be similar and 140 should be a problem. However, I'm wondering if that 140 value was a "typo" of 120 or intentional 🤔

[2020-11-17 14:12] bwplotka commented on #2542
1. Does not matter 120 / 140. If there is check I might miss it and all good (: Let's double check.
2.

What I mean is to not expand all of chunks and only then process query, just instead one, process sample, then another and process those and another etc... (streaming)

[2020-11-17 14:31] diemus commented on #3436
I run `thanos tools bucket cleanup` to clean up manually. but it's seems only grouped blocks are mark as delete. the oldest data is still 2020-09-18. looks like the retention is now working as expect.

[2020-11-17 19:11] bwplotka commented on #3456
ack, sounds like a bug, thanks for reporting! :muscle:

[2020-11-17 21:24] bwplotka commented on #3457
yolo statistics I want to focus on per request (e.g query):

[code]

[2020-11-18 04:43] JoseRIvera07 commented on #2107
I'm facing the same problem. After restart the memory went from 14Gi to 64Gi and then also crashed  due OOMkilled by system.

[2020-11-18 10:48] Shadi opened #3459 "sitecar:Conflicting behavior between sidecar and Prometheus with external labels"
**Thanos, Prometheus and Golang version used**:

Thanos: "v0.15.0"
Prometheus: "v2.22.1"

**What happened**:

This might not be really a bug so feel free to close this issue, but I found the behavior to be surprising so I decided to report it anyway, it is related to when multiple series from the same Prometheus instance has different values to a label that is also configured as an external label.

[2020-11-18 11:17] spaparaju commented on #3456
Picking up this issue.

[2020-11-18 12:52] JoseRIvera07 commented on #2982
I'm actually facing this issues with thanos v0.16.0.
`level=error ts=2020-11-18T12:03:49.983380782Z caller=handler.go:331 component=receive component=receive-handler err="context deadline exceeded" msg="internal server error"`

`level=warn ts=2020-11-18T11:28:37.114083291Z caller=writer.go:100 component=receive component=receive-writer msg="Error on ingesting samples that are too old or are too fa

[2020-11-18 17:30] GiedriusS commented on #3454
It sounds like Thanos Store is unable to synchronize its state with the content of your remote object storage. How do its logs look like?

[2020-11-18 19:06] GiedriusS commented on #3453
Hi! Hmmm... have you encountered this while using Thanos Receive "normally" or have you followed some steps to reproduce this?

[2020-11-18 19:07] GiedriusS commented on #3450
Hi! Are you running Thanos Compactor?

[2020-11-18 21:21] isugimpy opened #3465 "0.17.0 Query Frontend not presenting labels correctly"
Going to make this simple.  There's a fix already merged via #3444 but that didn't make the cut for the 0.17.0 release.  Would it be possible to get a cherry picked bug fix release of 0.17.1 with this included?  Without this, the payload just comes back as a bunch of nulls, which breaks label_values templating in Grafana.

[2020-11-18 23:11] dimm0 opened #3466 "Liveness and readiness probes are failing with 503 in compactor and prometheus after upgrading to 0.17.0"
**Thanos, Prometheus and Golang version used**:

Thanos 0.17.0, prometheus 2.22.2

**Object Storage Provider**:
ceph S3

**What happened**:
After upgrading thanos to 0.17.0, the liveness probes in prometheus and thanos-compactor pods start failing with 503 error, which causes pods to restart

**What you expected to happen**:
Pods keep running

**How to reproduce it (as minimally and precisely as p

[2020-11-18 23:11] dimm0 commented on #3466
The problem is gone when reverted to 0.16.0

[2020-11-19 00:42] zecke commented on #3456
The issue #2144 is related to this problem for partial_response handling. Let's start with a request like the one below and have one _slow_ store (but we have N+2 stores for the same time range. This means from a user point of view we can tolerate some replicas not providing us with _any_ result).

```curl http://127.1:9090/query_range?...&timeout=10s&partial_response=1```

What will happen with t

[2020-11-19 02:18] heartTorres commented on #3450
Hi, thanks for the reply. I have implemented time-based partitioning for Thanos Store. But I have not installed/deployed Thanos Compactor. I will try to install this and see if it would resolve our issue in prod.

[2020-11-19 02:35] fightdou commented on #3436
I have the same problem. The data stored in the object will not be deleted

[2020-11-19 07:39] #2984 closed

[2020-11-19 08:31] GiedriusS commented on #3436
All, what is the metric `thanos_compact_iterations_total` equal to on your Thanos Compactor instance(-s)?

[2020-11-19 08:48] diemus commented on #3436
`thanos_compactor_iterations_total=0`
`thanos_compactor_retries_total=10`

[2020-11-19 08:58] diemus commented on #3436
I notice 2 things. might related to this issue.

1. the compact does not downsample metrics. I have to run `thanos tools bucket downsample` to downsample.
2. the bucket viewer shows not all blocks are grouped, blocks upload by thanos ruler are not grouped. the duration of these blocks are 10minutes. is this the reason why `thanos_compactor_iterations_total=0` ?

[2020-11-19 10:29] kakkoyun opened #3468 "docs: Create a FAQ section"
It'd be great to have a frequently asked questions section as part of our official website. Such like https://prometheus.io/docs/introduction/faq/

We are getting similar questions from the community over public slack channels and office hours. We can gather them together and help the community.

cc @bwplotka @brancz

[2020-11-19 10:58] mxmorin opened #3470 "compact: warn "unsupported type of io.Reader""
**Thanos, Prometheus and Golang version used**:
[code]
**What happened**:
Since upgrade to 0.17, warns are printed to log compact file with
`level=warn ts=2020-11-19T10:44:50.465036587Z caller=s3.go:399 msg="could not guess file size for multipart upload; upload might be not optimized" name=debug/metas/01EQG1MNBMGVW310107ED36HGP.json err="unsupported type of io.Reader
`

[2020-11-19 13:02] mxmorin opened #3471 "receive: High memory usage after update to 0.17.0"
**Thanos, Prometheus and Golang version used**:
thanos, version 0.17.0 (branch: HEAD, revision: 4899d9a3378c7dbd1f635f5271624cda8caec001)
  build user:       root@432c5bd5f94c
  build date:       20201118-17:38:06
  go version:       go1.15
  platform:         linux/amd64

**Object Storage Provider**:
S3

**What happened**:
We have 4 thanos receive. After upgrade to 0.17, used memory increased to

[2020-11-19 13:38] arvidsnet commented on #3465
@metalmatze, would it be possible to release 0.17.1 with this fix included? Without the fix query-frontend-0.17 is not usable :(

[2020-11-19 13:48] mxmorin commented on #3471
After downgrade to 0.16
![image](https://user-images.githubusercontent.com/58942529/99674370-3e05b100-2a76-11eb-8212-f1f45100f60d.png)

[2020-11-19 13:50] isugimpy commented on #3465
@arvidsnet (and anyone else who sees this), the tag `master-2020-11-18-2d95f890` does include the fix if you don't mind using a build straight off of master, it'd just be nice to have this fixed up in a more visible and official way.

[2020-11-19 14:29] yeya24 commented on #3465
Hi, thanks for reporting the issue. I cannot reproduce this issue so can you please provide more information?
1. What's your Grafana version? Do you see any error logs of it?
2. What's your configuration of query frontend?

[2020-11-19 14:55] yeya24 commented on #3470
Thanks for the reporting. I can see that the upload type is not supported from the code https://github.com/thanos-io/thanos/blob/master/pkg/block/block.go#L106.

But since it is the debug meta file, so it is not a big problem and we have discussed deprecating this file. Anyway, I can open a pr to fix this.

[2020-11-19 15:03] arvidsnet commented on #3465
thank you, image with tag master-2020-11-18-2d95f890 solved it for me

[2020-11-19 15:32] bwplotka opened #3475 "GitPodify Thanos to help out!"
We are looking for contributors that will enable Thanos GitPod and thus helping with systematic racism (https://twitter.com/Code2040)

Details: https://twitter.com/gitpod/status/1329141750196277249

Help wanted :hugs:

[2020-11-19 16:13] mukul-mehta commented on #3475
Hi, I'd like to work on this issue. It'll be my first contribution to this project. I'll get started with reading the docs mentioned on GitPod's website

[2020-11-19 16:36] isugimpy commented on #3465
@yeya24

1.  Grafana 7.0.5, no errors.
2.
[code]

api/v1/series?match%5B%5D=kube_pod_info%7B%7D&start=1605728739&end=1605732339

Making the above API call on 0.17.0 (which is what the label_values template function in Grafana calls) to query-frontend returns a payload which looks like the following:
[code]
In my case, there are several hundred null label entries.  Making the same API call directly

[2020-11-19 16:52] yeya24 commented on #3465
Thanks, I can reproduce this now with `series` API.

[2020-11-19 21:05] bwplotka commented on #3389
Actually, downsampling streaming would be extremely easy (: Help wanted!

[2020-11-19 21:19] bwplotka opened #3478 "compactor: Add metric for tracking progress of downsampling (:"
Thanks to questions from the audience!

[2020-11-19 22:01] bwplotka opened #3479 "Replace promclient with client_golang API"
Would be nice to use official API, it works quite well recently (plus we maintain it as well) (:

To replace: https://github.com/thanos-io/thanos/blob/f07d8bc33e10dbc8367fecc6102e07ba2a26334d/pkg/promclient/promclient.go#L483

To use instead: https://github.com/prometheus/client_golang/blob/master/api/prometheus/v1/api.go#L752

Just to reduce maintained code (:

Help wanted!

[2020-11-20 01:09] #1651 closed

[2020-11-20 04:39] adeniyistephen commented on #3468
@kakkoyun @bwplotka @brancz Hi, This is great, is they any pointer or input? I would love to work on this, Thanks.

[2020-11-20 04:46] adeniyistephen commented on #2946
@kakkoyun Hi is it still open?

[2020-11-20 05:06] diemus opened #3481 "add a --selector.relabel-config flag for tools bucket downsample"
### Is your proposal related to a problem?

I want run multiple instance of `thanos tools bucket downsample`  against one bucket to accelerate the process

### Describe the solution you'd like

add a `--selector.relabel-config` flag

### Describe alternatives you've considered

I'm not sure the `thanos tools bucket downsample` can run multiple instance safely without a selector

### Additional con

[2020-11-20 05:10] heartTorres opened #3482 "Thanos Receivers eats big memory upon fresh re-installation then stabilize after few minutes"
Thanos v.0.15, rancher/prometheus v.2.17

**Thanos, Prometheus and Golang version used**:

**Object Storage Provider**:
S3
**What happened**:
Our prod is auto scaled. Thanos receivers have terminated due to OOMKilled. I did stop the remote_write from prometheus by deleting the ingress definition and increased the resources. After re-installation, 2 pods of thanos receivers have spiked up its memor

[2020-11-20 11:38] heartTorres commented on #3450
Hi, I have already installed thanos compactor and time based partitioning in thanos store. But the problem still persists. The longer the time range, the bigger cpu it eats up and eventually gets killed. Screenshots below.

**Resources I alloted for Thanos Store:**
<img width="337" alt="Screen Shot 2020-11-20 at 3 11 26 PM" src="https://user-images.githubusercontent.com/65100615/99771561-50e6b700-

[2020-11-20 15:23] mohanagandlla opened #3484 "Object storage deployment for MapR"
HI,
I have MapR FS system (POSIX client) now how do I deploy the object store for Thanos like any references for writing the MapR based yml config files?
and I am going to deploy the Thanos for Prometheus operator any best guidance?

[2020-11-20 15:43] omron93 opened #3485 "Thanos query deduplication influenced by "stale" metrics"
I'm running two Prometheus nodes scraping the same data and thanos query connecting to both nodes (sidecars assigned to those nodes)

**Thanos, Prometheus and Golang version used**:

thanos, version 0.16.0 (branch: HEAD, revision: dc6a1666bb68cd5c11be54452842e823f57668c5)
  build user:       root@ba806318d94d
  build date:       20201026-13:56:53
  go version:       go1.15

**Object Storage Provid

[2020-11-20 21:04] bwplotka commented on #3484
You can try https://thanos.io/tip/thanos/storage.md/#filesystem

Let us know if this works (:

[2020-11-21 03:27] mohanagandlla commented on #3484
Ya ok, I will try it on Monday and let you know the status.

[2020-11-21 03:47] diemus commented on #3436
found some errors in the log
[code]

this one seems stop the group process
[code]

after this error, the log start repeat `successfully synchronized block metadata` for a lot of days. seems like it stucked

[2020-11-23 02:29] xiaodangjia457 commented on #2709
hello, i have encountered the same problem, do you fix this issue?

[2020-11-23 02:48] xiaodangjia457 commented on #3198
hello i have encountered the same problem that can't upload the Prometheus data to OSS, the error info:

upload debug meta file: failed to get size apriori to upload debug/metas/01EQS2******1Y5EQE3M.json: unsupported type of io.Reader" uploaded=0

do you have some solutions to fix this?

[2020-11-23 02:49] xiaodangjia457 commented on #3198
@boosty

[2020-11-23 02:49] xiaodangjia457 commented on #3198
@boosty
hello i have encountered the same problem that can't upload the Prometheus data to OSS, the error info:

upload debug meta file: failed to get size apriori to upload debug/metas/01EQS2******1Y5EQE3M.json: unsupported type of io.Reader" uploaded=0

do you have some solutions to fix this?

[2020-11-23 03:28] kaynAw commented on #3436
same problem

[2020-11-23 07:05] heartTorres opened #3488 "receive: Load distribution in Thanos Receivers are not evenly distributed"
**Thanos, Prometheus and Golang version used**:
Thanos v15.0

**Object Storage Provider**:
S3
**What happened**:
I have installed - 3 Thanos Receivers, 1 compactor, 1 store, 2 querier.
1 pod is installed on each 1 node server.
When I re-installed the Thanos Receivers, 1 pod consumes 2x the memory of the other 2 pods. The problem with this is that, since these 3 pods of Thanos Receivers are part of

[2020-11-23 11:11] klzsysy commented on #2709
explicit declaration `--tsdb.path` sidecar parameter

[code]

[2020-11-23 11:39] AdamDomagalsky commented on #3475
May I take it?

[2020-11-23 11:46] wenerme commented on #3465
Same issues here https://github.com/grafana/grafana/issues/29271 , link for cross reference

[2020-11-23 12:32] ifooth opened #3492 "process downsampling with concurrency"
Hi

The `thanos compact` component can compress the blocks whith concurrency, but in the end process downsampling one by one, which causes the whole process to be very slow.

Can process downsampling concurrency too?  Thank you

[2020-11-23 13:02] Aravind1729 opened #3493 "Where can I find Rest API Contract/Payload for thanos receiver."
Prometheus can be integrated with thanos reciever. I want to know the payload of the api request made by Prometheus to thanos.
Where can I find the definition of this contract ?

[2020-11-23 13:40] ahurtaud commented on #3439
Ok it looks like the root cause is on the upgrade to Go 1.15:
https://github.com/golang/go/issues/39568

I am looking if I can rewrite my certs with a valid SAN

[2020-11-23 16:54] norbertwnuk commented on #3453
This is happening for rather standard Prometheus instance (2M samples scraped per minute) connected via remote write API, [remote_write](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_write) configuration itself does not control precise size of individual request (only number of samples), the same time decreasing this value has negative impact on E2E performance.

[2020-11-23 18:13] #3439 closed

[2020-11-23 18:14] ahurtaud commented on #3439
Ok so after I ressigned my certificates with a Proper SAN on the Root CA + CSR + certificate, it finally worked.
Closing as it was my fault badly signing my certs.

[2020-11-23 18:29] bwplotka commented on #3482
That's expected behavior due to rebuilding in-mem things from WAL. This is exactly what you can see when you restart Prometheus as we use the same database. You need to leave the memory for a startup, unfortunately. We can definitely try to optimize for it, but the question is, is it really worth it?

Still, we should document this better :hugs:

We improved it recently, but I think v0.15.0 should

[2020-11-23 18:32] bwplotka opened #3497 "receive: Query failure on Seg fault"
Looks like query uses ummaped piece of memory. Investigating.

[code]

[2020-11-23 18:37] bwplotka commented on #3497
BTW I would vote for setting https://golang.org/pkg/runtime/debug/#SetPanicOnFault so we can recover on those.

[2020-11-23 19:28] bwplotka commented on #3497
Root cause: Prometheus TSDB Checkpoint unmaps chunk even though we hold chunk querier against it. Most likely bug on TSDB side.

Double checking still if we don't close prematurely on Thanos.

[2020-11-23 19:32] bwplotka commented on #3497
Created: https://github.com/prometheus/prometheus/issues/8217

[2020-11-23 19:52] bwplotka commented on #3210
We removed it for now. Waiting for replacement.

[2020-11-23 19:53] bwplotka commented on #3111
Still relevant.

Kind Regards,
Bartek Płotka (@bwplotka)

On Mon, 23 Nov 2020 at 20:19, stale[bot] <notifications@github.com> wrote:

[2020-11-23 19:53] bwplotka commented on #3086
Still todo.
Kind Regards,
Bartek Płotka (@bwplotka)

On Mon, 23 Nov 2020 at 20:19, stale[bot] <notifications@github.com> wrote:

[2020-11-23 19:53] bwplotka commented on #3214
Very much todo.

cc @kunal-kushwaha @Oghenebrume50

[2020-11-23 19:54] bwplotka commented on #3081
TODO
Kind Regards,
Bartek Płotka (@bwplotka)

On Mon, 23 Nov 2020 at 20:19, stale[bot] <notifications@github.com> wrote:

[2020-11-23 19:56] bwplotka commented on #3016
Very needed.

Kind Regards,
Bartek Płotka (@bwplotka)

On Mon, 23 Nov 2020 at 20:19, stale[bot] <notifications@github.com> wrote:

[2020-11-23 19:57] bwplotka commented on #3475
Go for it!

[2020-11-23 21:06] caarlos0 commented on #3118
closing :)

[2020-11-24 01:10] daixiang0 commented on #3210
I see istio uses htmltest, do not find flafkiness, shall we try it?

[2020-11-24 05:26] #3493 closed

[2020-11-24 05:33] yeya24 commented on #3479
I see the `opts QueryOptions` argument in the function signature,  the official API doesn't support our own options like `dedup`, `partial_response`, etc IMO?

[2020-11-24 05:35] yeya24 commented on #3465
#3480 is already merged, this fix will be included in v0.17.1.

Let's wait it out and see if it solves this issue.

[2020-11-24 08:31] xiaodangjia457 commented on #2709
hello,

my error info as below:
Nov 24 16:22:42 localhost.localdomain thanos[13258]: level=info ts=2020-11-24T08:22:42.099889909Z caller=shipper.go:334 msg="upload new block" id=01EQW9YWX3CBPRYM0GY6T7JQDP
Nov 24 16:22:42 localhost.localdomain thanos[13258]: level=warn ts=2020-11-24T08:22:42.119812109Z caller=sidecar.go:275 err="upload 01EQW9YWX3CBPRYM0GY6T7JQDP:upload debug meta file: failed to ge

[2020-11-24 08:46] xiaodangjia457 commented on #3470
hello @yeya24 ,

is there any way can fix this error? i am trying to upload data to Aliyun OSS, always failed and log is : unsupported type of io.Reader, thanks for your reply.

[2020-11-24 09:06] GreenRover commented on #3345
+1

[2020-11-24 09:09] heartTorres commented on #3482
Thanks for the reply. If this is an expected behavior then I guess, I will just inform my superiors about these facts.

Thank you.

[2020-11-24 09:09] #3482 closed

[2020-11-24 10:53] #2527 closed

[2020-11-24 10:56] fightdou commented on #3436
I tested a single-node thanos v0.17.0 environment，thanos-compact can delete S3 bucket data...

`level=info ts=2020-11-24T08:01:26.258631836Z caller=compact.go:936 msg="start sync of metas"
level=info ts=2020-11-24T08:01:26.303412663Z caller=fetcher.go:458 component=block.BaseFetcher msg="successfully synchronized block metadata" duration=3.024905ms cached=1 returned=1 partial=0
level=info ts=2020-

[2020-11-24 11:02] Shadi commented on #3436
Have you tried the latest version(0.17.0)? I see in the changelog that #3115  was part of that release and it should decouple blocks deletion from compaction iterations.

[2020-11-24 11:10] mohanagandlla commented on #3484
Yep I have deployed that bucket on MapR FS with FS type but dont know whether it was success or not the UI is loading
![image](https://user-images.githubusercontent.com/52690110/100086724-cf5c9500-2e73-11eb-8624-ee7fa0a59f5d.png)

[2020-11-24 11:10] kesor commented on #3466
When running `thanos compact --http-address=0.0.0.0:10902` it doesn't listen, checked with `netstat -na | grep LISTEN` by `exec` into the container running compact.

[2020-11-24 12:06] kakkoyun commented on #3475
Closed by #3499

[2020-11-24 12:06] #3475 closed

[2020-11-24 12:07] kakkoyun commented on #3118
👍 Thanks, @caarlos0

[2020-11-24 12:07] #3118 closed

[2020-11-24 12:08] kakkoyun commented on #3005
Still valid.

[2020-11-24 13:04] akaroice opened #3501 "query: the max value doesn't correct when step increase"
**Thanos, Prometheus and Golang version used**:
thanosio/thanos:v0.9.0 - ruler
thanosio/thanos:v0.12.0-rc1 - compactor
thanosio/thanos:v0.11.0-rc.1 - store gateway
thanosio/thanos:v0.9.0 & thanosio/thanos:v0.17.0 - query, store are tested.

**Object Storage Provider**:
ceph s3

**What happened**:
This is raw data graph which has 7.5s data and the query is
middleValueDuration:metrics:sumirate1m{url

[2020-11-24 15:11] banghuaji opened #3502 "[query] Thanos is inconsistent with the data returned by Prometheus"
**Thanos, Prometheus and Golang version used**:

Thanos: 0.16.0
Prometheus: 2.21.0
Golang: go1.15.2

**Object Storage Provider**:
AWS S3
**What happened**:

sometimes thanos is inconsistent with the data returned by Prometheus.
query proml:  histogram_quantile(0.99,sum by (le) (rate(nginx_http_request_duration_ms_bucket{host=~"xxx.com"}[1m])))

use prometheus ui we found
![image](https://user-imag

[2020-11-24 15:28] banghuaji commented on #3433
I have the same question.

Thanos v0.16.0

[2020-11-24 15:31] stylianosrigas commented on #3433
@banghuaji After some investigation, I found out that this happens either because of a timeout or because of a cancelled request. A cancelled request can be a Grafana dashboard that gets refreshed before the query is finished. This will cancel the request and give you the 503 error.

[2020-11-25 03:56] xiaodangjia457 commented on #3302
@ktlcove hello, i tried to upload data to aliyunOSS, but always failed, the error info:
level=warn ts=2020-11-25T03:54:15.751570383Z caller=sidecar.go:275 err="upload 01EQYQVN93NV8Y1X1P70TFG1E0: upload debug meta file: failed to get size apriori to upload debug/metas/01EQYQVN93NV8Y1X1P70TFG1E0.json: unsupported type of io.Reader" uploaded=0

do you know the reason?  your upload work seem to be suc

[2020-11-25 04:16] xiaozongyang commented on #3422
![image](https://user-images.githubusercontent.com/8848479/100182548-dd63f180-2f17-11eb-8f10-15012072a871.png)
I deploy thanos tools bucket web, and I get information shown as this picture. It may be incorret that the resolution of all buckets are 0.

[2020-11-25 06:37] akaroice commented on #3501
What I got from tests with prometheus & thanos is this comes from prometheus, not thanos.
Prometheus picks a value at the evaluation time. If data doesn't exist at that time, empty value is chosen.
So range vector should be used to get max value within step.

If there is something wrong in my explanation, leave a comment.

[2020-11-25 06:37] #3501 closed

[2020-11-25 07:51] arvidsnet commented on #3497
not sure if it is the same issue, but I have SIGSEGV errors also in store 0.17. Attached logs.
[store-0.17.SIGSEGV.log](https://github.com/thanos-io/thanos/files/5595142/store-0.17.SIGSEGV.log)

[2020-11-25 08:45] GiedriusS commented on #3433
Yep, you are correct, @stylianosrigas. But we should fix this behavior. I am closing this in favor of https://github.com/thanos-io/thanos/issues/3456 to keep everything under one hood. That issue has more information.

[2020-11-25 08:45] #3433 closed

[2020-11-25 08:52] wiardvanrij opened #3504 "After implementing memcached index cache, high bucket requests are seen in S3"
**Thanos, Prometheus and Golang version used**:

prometheus/prometheus:v2.20.1
thanos/thanos:v0.16.0

**Object Storage Provider**: AWS S3

**What happened**: Implemented --index-cache.config-file with MEMCACHED for the store.

**What you expected to happen**: Same behaviour as before, perhaps with less requests to S3.

**How to reproduce it (as minimally and precisely as possible)**: Implement mem

[2020-11-25 12:43] #2870 closed

[2020-11-25 21:11] #3343 closed

[2020-11-26 05:28] kunal-kushwaha commented on #3112
In progress!

[2020-11-26 10:12] RayHuangCN opened #3507 "A tool works with Thanos to make Prometheus horizontal scaleable"
Thanos is a awesome project. we use it to monitor our Kubernetes clusters for years.
Recently we shared our solution for large cluster monitoring to anybody need it.

[Kvass](https://github.com/tkestack/kvass) is a Prometheus horizontal auto-scaling solution, which uses Sidecar to generate special config file only contains part of targets assigned from Coordinator for every Prometheus shard.
We us

[2020-11-26 10:19] diemus commented on #3436
the problem is not to clean the expired blocks. it's seems the retention policy is not work. so the block is not mark for deletion

[2020-11-26 12:01] GiedriusS commented on #3436
What implementation of S3 are you using? Sounds like it doesn't implement the API properly

[2020-11-26 13:31] bwplotka commented on #3507
Cool, this is quite an amazing user story. (:

We try similar with @domgreen at some point and it sometimes is hard to debug where the scrape target is etc, but for the good use case, that might be extremely helpful.

This issue will get lost, so I would love to see this in form of blog post, so we can link this on our website somewhere OR we could add some new page similar to https://thanos.io/ti

[2020-11-26 14:39] brancz commented on #3507
FWIW Prometheus Operator uses a pretty similar strategy, except it generates a discovery config that distributes the targets via hashmod sharding of the `__address__` label and assigns a shard to each Prometheus.

I highly recommend using `hashmod` sharding, because if you use the coordinator to assign targets, you have no starting point of troubleshooting when something is not discovered, which m

[2020-11-26 20:40] d-ulyanov commented on #2321
@krya-kryak is working on this issue

[2020-11-27 04:06] diemus commented on #3436
it's an object storage service from my company and it implements S3 api. but I don't think its an error from implementation. most of the request are successful.  the compactor can compact blocks. it just the retention policy not work, no `deletion-mark.json` have been upload to that block.

[2020-11-27 08:09] Danipiario commented on #3471
Also for me. I have the same memory consumption with 0.17.0 version. Revert to 0.16.0 fix the growth.

[2020-11-27 09:47] candlerb commented on #3293
I found some more broken links:

* Go to thanos.io, click "Getting Started", click "Quick Tutorial".
* This brings you to https://thanos.io/tip/thanos/quick-tutorial.md/
* Now click on any of the links "Sidecar", "Querier/Query", "Store Gateway", "Compactor", "Ruler/Rule", which link to respectively:
    * https://thanos.io/tip/thanos/components/sidecar.md
    * https://thanos.io/tip/thanos/compon

[2020-11-27 10:00] candlerb commented on #3293
Another one: at either https://thanos.io/tip/components/sidecar.md/ or https://thanos.io/tip/components/receive.md/, click on the link "See *external labels* docs". This links to https://thanos.io/tip/storage.md#external-labels which gives a 404.

I couldn't find the correct link target which gives an overview of external labels.

[2020-11-27 10:06] bwplotka commented on #2249
There is actually one more use case: Just small home-size project e.g smart home telemetry etc (:

[2020-11-27 10:13] candlerb commented on #3293
At https://thanos.io/tip/thanos/quick-tutorial.md/, under "See those components on this diagram:", is a broken image link.

![image](https://user-images.githubusercontent.com/44789/100437562-d4e6f480-3098-11eb-8bd0-ec478b7a3404.png)

It points to `../img/arch.jpg`

I don't know what the correct link is under thanos.io, but I found it in git as https://github.com/thanos-io/thanos/blob/master/docs/i

[2020-11-27 10:40] bwplotka commented on #3497
@arvidsnet nope, definitely different thing, let's create another issue (:

Anyway, both will now on v0.17.1 cause query error NOT segment fault, so at list damage is smaller (:

[2020-11-27 10:42] bwplotka opened #3511 "store: Query failure on Seg fault"
Similar to https://github.com/thanos-io/thanos/issues/3497

Reported by @arvidsnet

[store-0.17.SIGSEGV.log](https://github.com/thanos-io/thanos/files/5595142/store-0.17.SIGSEGV.log)

(Marking as query failure as from v0.17.1 code should treat Seg faults as recoverable panics, if not - let us know :hugs: )

[2020-11-27 10:43] bwplotka commented on #3497
Created https://github.com/thanos-io/thanos/issues/3511 @arvidsnet help wanted to find the root cause! :hugs:

[2020-11-27 10:45] bwplotka opened #3512 "Store: Improvements for Queries against Huge Cardinality blocks (10 mil+)"
Announced on Slack, but not here (:

https://docs.google.com/document/d/14yvcAC4NL1jvz6nnOBXArchoOhzJYkJm74vi3-ljCJ8/edit#

[2020-11-27 12:16] arvidsnet commented on #3511
unfortunately I do not know how to reproduce it. So far it happened only 2 times since upgrade to v0.17.

[2020-11-27 16:58] xiaozongyang commented on #678
Hi @wujinhu, it seems that this issue hasn't been fixed yet. Do we have any plans for that? Is there some work that I can do for solving it?

We use aliyun OSS in our production environment as Thanos bucket store. But we failed to do downsampling jobs because we always get annoying errors `unsupported type of io.Reader`.

And I find there is a todo comment referring to this issue in line 72 in the

[2020-11-27 19:02] #3152 closed

[2020-11-28 07:55] sepich commented on #3194
We still have to run a 2-replica fork in production.
Would be nice to allow other users to do it too, and fix upstream.

[2020-11-28 08:42] #3014 closed

[2020-11-28 14:29] goku321 commented on #3435
I can work on this if that's okay with some guidance.

[2020-11-28 15:13] goku321 commented on #3416
Can I work on this?

[2020-11-28 16:09] #2961 closed

[2020-11-28 17:55] hhsnow commented on #2961
badbot :) Def still needed.

[2020-11-29 02:59] #3157 closed

[2020-11-29 02:59] #3120 closed

[2020-11-29 08:26] Kampe commented on #2842
this is still an issue in v0.16

[2020-11-29 13:36] xiaozongyang commented on #1170
Hi @bwplotka

We use Grafana query Thanos data, and our user's configuration setting the fixed step in their dashboards. So when the zoom out, the range increases but the step keeps unchanged, we can't serve the long-range query by downsampled data because of raw data in that range can't be returned by Thanos store in a single query.

So, What should be the best practice for both short-range(e.g n

[2020-11-30 04:22] RayHuangCN commented on #3507
@brancz Thanks for your opinion😊. The solution of Prometheus Operator is cool when targets have similar series scale👍.
But that may lead to load imbalance if targets with huge differences series. For example, when cluster size is large, the kube-state-metrics may has more than 3000000 series, we use kube-state-metrics shading, and have 4 or more kube-state-metrics shards. If we use `hashmod` by `_

[2020-11-30 04:30] RayHuangCN commented on #3507
@bwplotka Thanks! I think add page similar to https://thanos.io/tip/operating/reverse-proxy.md/ is good, could you please tell me where to add it ? (-:

[2020-11-30 06:33] arvidsnet opened #3515 "query-frontend 0.17.1: runtime error: index out of range"
I faced runtime error: `index out of range [7] with length 7` in query-frontend 0.17.1. There were huge amount of such errors (I suppose on each request), attached full log for one such error.
Unfortunately I do not know how to reproduce it, so far it happened only once.
[query-frontend-0.17.1.err.log](https://github.com/thanos-io/thanos/files/5614135/query-frontend-0.17.1.err.log)

[2020-11-30 08:59] bwplotka commented on #3507
I would add some page `use-cases.md` in `operating` menu. WDYT? (:

[2020-11-30 09:41] RayHuangCN commented on #3507
That sounds good! 👍
Anything i can help?

[2020-11-30 09:44] bwplotka commented on #3507
Of course! You are more than welcome to create PR with such a markdown page with your use case stated as one. Then team & community can add more items for the basic use case and those more advanced :hugs:

[2020-11-30 10:50] bwplotka opened #3518 "receive: Cannot use optimized multi part upload."
[code]

Sad outcome of dynamic casting ):

Help wanted :hugs:

[2020-11-30 11:37] RayHuangCN commented on #3507
Ok👌.

[2020-11-30 12:26] Stevenyu1982 commented on #3454
i have the same error, even enabled the debug log, but nothing special.

[2020-11-30 12:28] Stevenyu1982 commented on #3454
from the storegateway ,

al=0
level=info ts=2020-11-30T12:12:43.53895406Z caller=fetcher.go:458 component=block.BaseFetcher msg="successfully synchronized block metadata" duration=51.921623ms cached=0 returned=0 partial=0
level=info ts=2020-11-30T12:15:43.538280419Z caller=fetcher.go:458 component=block.BaseFetcher msg="successfully synchronized block metadata" duration=51.226756ms cached=0 return

[2020-11-30 12:30] GiedriusS commented on #3518
https://github.com/thanos-io/thanos/pull/3476

[2020-11-30 14:30] Reamer commented on #1014
Still interested.

[2020-11-30 15:13] bwplotka commented on #305
Starting formal design doc, feel free to collaborate (: https://docs.google.com/document/d/1ajMPwVJYnedvQ1uJNW2GDBY6Q91rKAw3kgA5fykIRrg/edit#

[2020-11-30 15:41] yeya24 commented on #3515
Hi, thanks for the report.
I can see this bug here https://github.com/thanos-io/thanos/blob/release-0.17/pkg/store/labelpb/label.go#L310. The `Size()` is used incorrectly. So this bug happens when the two labelsets we are comparing are exactly the same.

But I am not sure how to reproduce this from the query frontend because before sorting, we use a set to deduplicate series so I expect there is n

[2020-11-30 20:44] Kampe commented on #2376
How id you end up solving this?  Increasing liveness and readycheck doesn't do it for me.  Probes are being set, however liveness is failing intermittently.

[2020-11-30 20:51] Kampe commented on #3436
Seeing the same issues with GCP.

[2020-11-30 22:11] Kampe commented on #3466
I see the same issues with using thanos store in v0.16, did not see in v0.15

[2020-12-01 05:36] crsandeep commented on #3150
Same issue for us too. Takes more than 25m.

[2020-12-01 07:07] dsayan154 opened #3521 "I would like write a unit test for a function in PR(#3289)."
Hi,

I have raised [this PR](https://github.com/thanos-io/thanos/pull/3289). Which I have manually tested is working as expected. But I do want to add a unit test for the Iter() function as requested in the below discussion.

Would be possible to add a unit test on this?

_Originally posted by @pracucci in https://github.com/thanos-io/thanos/pull/3289#discussion_r507783362_

I have gone through th

[2020-12-01 08:30] jimbobby5 commented on #2693
I see similar behaviour. On startup Thanos store seems to pull data from S3 until my PVC is full, which is 100Gb in my environment. Exploring the disk I see lots of large index-header files, order of hundreds of mb each. Is this expected?

[2020-12-01 09:42] RayHuangCN commented on #3507
@bwplotka The PR is created ( - :

[2020-12-01 10:35] arvidsnet commented on #2405
I am also very interested in this feature - it would allow us to avoid using a lot of extra query components with different --selector-label parameters

[2020-12-01 10:38] arvidsnet commented on #2405
can we reopen this issue?

[2020-12-01 14:21] Shavakan opened #3523 "Doc: Relative links broken under Thanos section"
The relative links on the webpage documentation under Thanos section appear to be broken.
In terms of git, I'm referring to the files matching `docs/*.md` (not `docs/**/*.md`)

This is because of the trailing `/` character in the web urls (i.e. https://thanos.io/v0.17/thanos/quick-tutorial.md/).

It's tricky to apply an easy fix when considering both the webpage and GitHub.

[2020-12-01 18:08] bwplotka opened #3525 "query-frontend:Splliting and Retries for Labels can cause cascading failure"
We had a very small incident on one of our clusters where query frontend spammed 20k requests in same second against backend and saturated all CPUs of all store GW and Receivers. See:

 ![image](https://user-images.githubusercontent.com/6950331/100770520-44d8e000-33f5-11eb-8eaf-53cabfa674cb.png)

![image](https://user-images.githubusercontent.com/6950331/100771232-16a7d000-33f6-11eb-840e-cc67d9a12

[2020-12-01 20:12] adamcstephens opened #3526 "query-frontend: results not inclusive when start/end are the same"
Both the prometheus and query APIs will return the inclusive results for query_range if the start and end times are the same. Query frontend returns no results, thus breaking compatibility with the other two APIs.

**Thanos, Prometheus and Golang version used**:
Thanos - 0.16.0, 0.17.1, master
Prometheus - 2.21.0
Golang - 1.15.5

**Object Storage Provider**:
minio

**What happened**:
No results we

[2020-12-02 06:58] prmsrswt commented on #3111
@Oghenebrume50 is working on it. :)

[2020-12-02 10:57] bwplotka commented on #3435
@goku321 go for it. We are happy to guide you :hugs:

Feel free to propose this on our new Contributor Office Hours if you want to meet & collab :heart: (will be announced wider today): https://docs.google.com/document/d/137XnxfOT2p1NcNUq6NWZjwmtlSdA6Wyti86Pd6cyQhs/edit#heading=h.cifspg8gw2m5

[2020-12-02 11:29] bwplotka commented on #3345
Hey, sorry for the lag!

It's definitely quite easy to work to do, and something we also planned for Exemplars: https://github.com/thanos-io/thanos/issues/3435

Work that has to be done is really similar to what we did with @s-urbaniak when we enabled federated Rules APIs: https://github.com/thanos-io/thanos/commit/c733564d44745af1a023bfa5d51d6d205404dc82#diff-ae8f55a2dc006142e7688086d880b8aceaac7

[2020-12-02 11:31] bwplotka commented on #3435
Added some detailed steps here: https://github.com/thanos-io/thanos/issues/3345#issuecomment-737172268

Those also applies to Exemplars (: @goku321

[2020-12-02 11:38] juliusv commented on #3345
@bwplotka Wow, thanks for providing such a detailed guide for implementing this change! Your definition of "trivial" may be different from mine, as it still seems like quite a large change in terms of lines of code and touched files (maybe several days worth of work for someone new to Thanos?). But at least it seems conceptually straightforward then what needs to be done, and with those detailed s

[2020-12-02 12:22] boernd commented on #3436
Think having the same issue. Using Openstack Swift via S3 API.

I see folders which contain the `deletion-mark.json` file but do not get deleted. `thanos_compact_iterations_total` stays `0`.

Example logs:
[code]

[2020-12-02 12:43] apr1809 opened #3529 "compact: Delete metrics in Object Storage"
I have deployed Thanos App Version: 0.16.0 with Prometheus 2.20.1 in EKS. I am using S3 for object storage.
I would like to know if any of the Thanos component can delete objects older than a particular date from S3. Else is it fine to delete objects by setting lifecycle rule in an S3 bucket? What is the recommended approach to delete Thanos data?

[2020-12-02 15:54] Chans321 commented on #3336
#3474 resolves this issue :)

[2020-12-02 15:59] bwplotka commented on #3336
Wow, amazing! :muscle:

Thanks!

[2020-12-02 15:59] #3336 closed

[2020-12-02 16:39] khyatisoneji commented on #3297
Hey, @Oghenebrume50 are you still working on this issue?
If not I would love to take this one

[2020-12-02 16:48] #3526 closed

[2020-12-02 18:17] yuriydzobak commented on #2982
this error happens why you set the wrong `--receive.local-endpoint=` and hashiring has another endpoint

[2020-12-02 18:19] yuriydzobak commented on #2982
when prometheus is latest version the issue appires =(, this error doesn't show with prometheus version 22.1  in my case

[2020-12-02 18:48] ahurtaud commented on #3466
We have the same issue I think.
What is weird is:
For some buckets it is working fine, for some other, it gets killed by the liveness probe.

bucket config: Scality S3

Fails on 0.17.1 and works on 0.16.0

[2020-12-02 18:52] ahurtaud commented on #3466
dupe of https://github.com/thanos-io/thanos/issues/3395 ?

[2020-12-02 19:01] bwplotka commented on #3395
What we did indeed is that we added cleanup job before compactor starts. I think the bug here is that probe should say 200 OK sooner (: cc @GiedriusS  WDYT?

[2020-12-02 19:02] bwplotka commented on #3466
Yup, that looks like the same issue.

Thank you all for reporting this, let's fix and release 0.17.2 (:

Also commented on the mentioned issue. Closing this one as dup :hugs:

[2020-12-02 19:02] #3466 closed

[2020-12-02 19:24] bwplotka commented on #3395
Help wanted, to me, it's just enabling probe early on Compactor. To me it sounds valid.

[2020-12-02 22:12] GiedriusS commented on #3218
Since there's quite a difference, maybe let's only leave `main` and `runtime-main` source maps? This way we could still debug problems if they happen in _our_ code and the size difference shouldn't be too large. WDYT, @prmsrswt @daksh-sagar ?

[2020-12-02 22:15] GiedriusS commented on #3529
Thanos Compact can apply retention rules based on the resolution. Please take a look at https://thanos.io/tip/components/compact.md/#enforcing-retention-of-data. Or, you can simply delete blocks where the max time is older than X. Third option is to use https://github.com/thanos-io/thanos/pull/3421 which lets you delete only certain metrics from a block. I hope that helps. Please close this if you

[2020-12-03 02:39] weinux2020 opened #3533 "Why the compactor component downsampling not work"
Hi, I deployed thanos by docker-compose, use thanos:v0.17.1, and config compactor as follows:
----------------------------------------
  compactor:
    container_name: compactor
    image: quay.io/thanos/thanos:v0.17.1
    volumes:
    - /home/dockerfile/thanos/bucket_config.yaml:/bucket_config.yaml
    command:
    - compact
    - --data-dir=/var/thanos/compact
    - --objstore.config-file=bucket

[2020-12-03 03:42] yeya24 commented on #3533
https://github.com/thanos-io/thanos/blob/master/docs/components/compact.md#compactor We have this doc.

Can you please make sure that your blocks satisfy the required duration?
![Screenshot from 2020-12-02 22-41-51](https://user-images.githubusercontent.com/25150124/100961071-9e253a00-34ef-11eb-899e-d5b2aee948ad.png)

You can also check the `thanos_compact_downsample_total` metric. If it has > 0 v

[2020-12-03 05:48] weinux2020 commented on #3533
@yeya24 Ok, Thanks, I will turn larger duration metric data for prometheus and thanos_compactor to validate. Maybe I had made very small duration, so thanos query platform didn't generation the thanos_compact_downsample_total metric.

[2020-12-03 08:29] bwplotka opened #3534 "todo: Add info about Contributor Office Hours to our website."
Context: https://twitter.com/bwplotka/status/1334404169432788992

Help wanted :hugs:

[2020-12-03 08:33] kamijin-fanta opened #3535 "Add support for Cache storage"
### Is your proposal related to a problem?

Currently, only in-memory and memcached caches are supported. However, if the user is already running another KVS, there wants to use it.

### Describe the solution you'd like

Add Redis support. There should be many users like Memcached.

### Describe alternatives you've considered

Cassandra,ScyllaDB is suitable for large environments. If accepted, I w

[2020-12-03 08:44] soniasingla commented on #3534
/assign @soniasingla

[2020-12-03 09:43] wiardvanrij opened #3536 "query Frontend : panic: runtime error: index out of range [8] with length 8"
Thanos 0.17.1

I don't have any more information that I can provide (on what I'm aware of atm).

[code]

[2020-12-03 09:57] arvidsnet commented on #3536
looks like duplicate of https://github.com/thanos-io/thanos/issues/3515

[2020-12-03 09:58] wiardvanrij commented on #3536
Closing as duplicate of #3515

[2020-12-03 09:58] #3536 closed

[2020-12-03 10:44] apr1809 commented on #3529
@GiedriusS by delete blocks older than X, do you mean storage.tsdb.max-block-duration ?
I have not deployed the Compact component. Trying to implement Thanos mainly for HA of Prometheus instances.

[2020-12-03 12:06] gaetanars opened #3537 "thanos-receive replication with TLS ?"
**Thanos, Prometheus and Golang version used**:
quay.io/thanos/thanos:v0.17.1

**Object Storage Provider**:
Min.Io, Azure, AWS S3 and Flexible Engine OBS

**What happened**:
I try to activate a hashring with 3 members, all of them have TLS activated on remote-write.
All works fine without TLS, but when I activate TLS, replication doesn't works.

**What you expected to happen**:
I want to use clust

[2020-12-03 13:39] lilic opened #3538 "Add other service discovery support to Thanos"
### Is your proposal related to a problem?

We have been experiencing some DNS issues when Thanos query tries to perform rules and store address discovery. As both the store and rules as well as Thanos query are all in the same cluster, we thought it would be better to just use the same service discovery mechanisms that Prometheus already uses, e.g. Kubernetes, Consul, etc. We already use those di

[2020-12-03 13:57] bwplotka commented on #2600
FYI: This assumes Querier is the one that federates "stuff"  (:

[2020-12-03 14:29] lilic commented on #2600
I would be interested in tackling this as due to a possible bug we had recently I noticed that rules are tightly coupled to stores so when we try to resolve rules but stores fail sadly nothing gets served.

But first, let me try to explain if I understand correctly what we want to achieve:
This issue wants to decouple serving stores and rules and in the future targets when they are added. By passi

[2020-12-03 17:06] markmsmith commented on #3143
stale bot, we still need this.

[2020-12-03 17:28] Kampe commented on #3466
@bwplotka I am seeing the same behavior with this issue in thanos-store with an upgrade to 0.17 as well, while not the same component - pods will be end up redeploying after liveness checks fail for no apparent reason.

[2020-12-04 03:46] erdong commented on #3518
I had the same problem. Thanos version is 0.17.0 .

When will this fixed version be released ？

[2020-12-04 03:56] joshulyne commented on #2376
I'm pretty sure all I did was increased the failureThreshold to 40:
[code]

[2020-12-04 06:23] kakkoyun commented on #3535
IMO, we shouldn't be aiming for adding support for multiple caching backends. We should rather simplify our caching layer and reduce the number of options. Personally, I think the caching layer should be closer to actual Thanos and I don't prefer to operate an additional layer of software for caching. It's hard to configure and tune the caching right now. For that, I have started this https://gith

[2020-12-04 06:40] kamijin-fanta commented on #3535
Thank you for your reply. I think it's a good idea to include Groupcache. It's very easy to use.

But what happens when the cluster reboots? The cache is purged with inmemory, memcached and groupcache. And I think there will be more access to object storage. This can be a problem for large-scale use. I feel that it is better to use KVS that can be persisted like Redis and Cassandra.

[2020-12-04 06:49] heartTorres commented on #3450
I have already installed thanos-compactor and  added chunk-pool-size in thanos store, retention.resolution-raw=30d yet the Thanos Store still eats up 4Gi for CPU and 12Gi of RAM just to query 21 days of data, then gets oomkilled.

[2020-12-04 08:34] kakkoyun commented on #3521
For that specific request, probably you need to use https://github.com/thanos-io/thanos/blob/b654074dfa749d6bf9eb7b6f7f88b89952949b62/pkg/objstore/objstore_test.go

It would be better to use #thanos-dev channel on CNCF slack or newly initialized Weekly Contributor meetings https://docs.google.com/document/u/1/d/137XnxfOT2p1NcNUq6NWZjwmtlSdA6Wyti86Pd6cyQhs/edit#

[2020-12-04 08:34] #3521 closed

[2020-12-04 08:36] spaparaju commented on #3456
A single query (a request) can have only timeout value that it can honour. One way to solve 'partial_responses' (in the context of store-response-timeout and query-timeout) is  to 'fail the request' (with appropriate HTTP code) IF partial_responses flag is ON & query-timeout specified is less than the current underlying store-response-timeout.
IMO dynamically adjusting timeouts at downstream compo

[2020-12-04 08:39] zecke commented on #3456
Thanks! Where is the best way to talk about a different approach for the query component. It seems like a bigger change. I have some ideas but there are many open questions.

[2020-12-04 08:41] kakkoyun commented on #3504
Could you please also share your configuration for Thanos store and Memcached?

[2020-12-04 08:43] kakkoyun commented on #3488
Could you please share your Thanos Receive configuration and hashring file?

[2020-12-04 08:47] kakkoyun commented on #3485
Could you please share your Thanos Query configuration?

Also, have you checked the documentation for the related topic? https://thanos.io/tip/components/query.md/#partial-response

We have a flag for enabling partial response by default.
[code]

[2020-12-04 08:48] kakkoyun commented on #3484
Could you please share your Thanos Sidecar configuration?

[2020-12-04 09:08] kakkoyun commented on #3535
This is already a problem regardless of the caching backend unless you are using a caching backend outside of your environment/cluster. And also the cache itself is volatile. By default, an item only is kept in cache for 24 hours for bucket cache for example.

So all in all, it's not our ultimate goal to minimize object store with caching. More backend means more complexity and more maintenance an

[2020-12-04 09:17] kamijin-fanta commented on #3535
thanks. I understood that it was not the goal of Thanos.

I'm looking forward to your PR 🙋

[2020-12-04 09:17] #3535 closed

[2020-12-04 09:33] kakkoyun commented on #3537
@squat @blockloop Any ideas what would be wrong here?

[2020-12-04 16:43] sdurrheimer commented on #3347
It's not deployed twice, I'm only importing `thanos-mixin/rules.jsonnet` in `prometheusRules` and `thanos-mixin/alerts.jsonnet` in prometheusAlerts.
Prometheus will process those alerts/rules as separated groups, the issue is that some of them are using the same groupname, which cannot be used more than once as said by the Prometheus error is saying.
For example:
- [alerts/store.libsonnet](https:/

[2020-12-04 17:23] foshantiger opened #3540 "Thanos receive high available (hashring) not work."
**Thanos, Prometheus and Golang version used**:
Thanos: v0.13.0
Prometheus: v2.16.0

**Object Storage Provider**: S3

**What happened**:
We use thanos receive in k8s enviorment and receive deploy 3 instances(pods) for hashring,  then we shutdown a node where one of the receive pod deploy on or just delete one of the 3 receive pods, the entire thanos receive will not work, and prometheus will get 5

[2020-12-04 17:30] kakkoyun commented on #3347
It should be an easy fix. Help wanted!

[2020-12-04 21:36] keyhana commented on #3518
Same here. After upgrading from 0.16.0 to 0.17.1 we are getting this warning from Thanos sidecar and Thanos compactor.
It is also causing high memory usage after the warning is printed which ultimately gets our pods OOMKilled.

[2020-12-05 05:34] ethernoy commented on #3518
same here, but the compactor seems to be working though, is it just a warning or it actually stops sth from working?

[2020-12-05 10:11] prmsrswt commented on #3218
I checked and that'll reduce the size difference by quite a lot (about under 500KB). But I am not sure if it'll give us much value in return. If we don't include sourcemaps for a vast majority of code, we will not have proper stacktraces for a vast amount of crashes. Any thoughts on this?

[2020-12-05 10:20] bboreham commented on #3187
The comment is still incorrect.

[2020-12-05 12:00] onprem opened #3541 "Incorporate new improvements from upstream in the React UI"
In past few months there have been a sizable amount of UI related improvemnts in the upstream Prometheus code. A lot of those improvements make sense for Thanos as well.

Here's a list of PRs (in no specific order) that I think we should take a look at:
- [x] ~Fix styling bug for target labels with special names. prometheus/prometheus#7902~ Fixed in #3692
- [ ] Remove the need of `pathPrefix` in t

[2020-12-05 15:39] #3347 closed

[2020-12-06 03:08] heartTorres commented on #3488
Hi @kakkoyun, below are my yaml configs.

[code]
We have dedicated 5 nodes allotted only for Receivers.
Receivers:

[code]

[2020-12-06 16:41] DARK-art108 commented on #3523
can I work on this issue?

[2020-12-06 16:41] DARK-art108 commented on #3534
Can I work on this issue?

[2020-12-07 07:15] subhangi2731 commented on #3541
can you assign this issue to me @prmsrswt

[2020-12-07 07:56] #3507 closed

[2020-12-07 08:32] soniasingla commented on #3534
@DARK-art108 sure feel free to raise PR :)

[2020-12-07 08:44] BegoniaGit commented on #3198
I upgraded to ThanOS-v0.17.0 and had the same problem

[2020-12-07 11:11] prmsrswt commented on #3541
@subhangi2731 There are a lot of small tasks here, so you can pick something you'd like to work on and just comment here that you are working on it. That'll be sufficient to reduce duplicate efforts imo.

[2020-12-07 11:52] GiedriusS commented on #3395
Fixed in v0.17.2 (https://github.com/thanos-io/thanos/pull/3532).

[2020-12-07 11:52] #3395 closed

[2020-12-07 12:52] kakkoyun commented on #3538
@lilic A similar request raised by @brancz recently regarding Thanos Receive, he probably has ideas to contribute to this.

That being said, this could be useful. I'm also planning to introduce a service discovery mechanism to Query Frontend and Store to utilize in a distributed cache layer.

As @brancz already raised in an offline conversation, a possible downside would be the increased binary si

[2020-12-07 13:07] wiardvanrij commented on #3538
I understand the use-case in the sense that there is no harm in having various options for discovery. Though I believe this should be based on the positive effects/arguments for having various options. It now feels like we opt for a new feature because there are "problems" with the first option.

So regardless of this feature, I do believe the case for DNS discovery should be know and perhaps it's

[2020-12-07 13:27] DARK-art108 commented on #3534
@soniasingla please explain a little bit more about this issue!!

[2020-12-07 13:45] soniasingla commented on #3534
Please go through this: https://docs.google.com/document/d/137XnxfOT2p1NcNUq6NWZjwmtlSdA6Wyti86Pd6cyQhs/edit?usp=sharing

You need to add this information on our website https://thanos.io/ in simple and informative language.

[2020-12-07 14:22] DARK-art108 commented on #3534
Ok so I have explored some parts of the website and so it is good to add the Thanos contributing hour guidelines inside the community.md? @soniasingla

[2020-12-07 14:27] brancz commented on #3538
I had not thought of the bigger picture (only thanos receive), and it was more of a brain dump on slack from me. I currently don't plan on implementing any of it.

[2020-12-07 14:29] soniasingla commented on #3534
@DARK-art108 yes 💪🏻

[2020-12-07 14:31] lilic commented on #3538
@wiardvanrij yes I plan on opening an issue, after we can reproduce it and the issue is verified to be about thanos query itself. But currently, the suspicion is that the issue does not have anything to do with thanos DNS discovery but with the (Kubernetes) cluster DNS flakes, as we have seen them with other components within the cluster.

@kakkoyun @brancz thanks for your answers, will wait if th

[2020-12-07 14:33] DARK-art108 commented on #3534
Ok I will surely do it 👍

[2020-12-07 14:34] brancz commented on #3538
I think just following up here sounds good. I don't think I thought the thanos receive part through enough to meaningfully contribute from that end (as I said, it was just a wild idea that I dropped on slack).

I think what you proposed in terms of just starting to implement this within the querier for discovering stores is a great start, and should this work out well, then we can think about expa

[2020-12-07 15:53] DARK-art108 commented on #3534
@soniasingla Please Review the PR :)

[2020-12-07 20:51] GiedriusS commented on #3515
@yeya24 this should be fixed with https://github.com/thanos-io/thanos/pull/3520, right?

[2020-12-07 22:52] yeya24 commented on #3515
Yes, that's correct. I will close this one.

[2020-12-07 22:52] #3515 closed

[2020-12-08 02:09] yeya24 commented on #3351
Hi, I am looking at the implementation at https://github.com/prometheus/prometheus/pull/7496.
For labels query with matchers, it actually send a `Series` call first and filters the labels from the series sets.
Do we want to do the same thing in Thanos? It should work but is performance a problem (though we support skip-chunk) ?

[2020-12-08 06:15] Oghenebrume50 commented on #3111
@prmsrswt just for context to make sure I am doing the right thing, the new UIs, are all preceded with `/new/  ` right?

[2020-12-08 07:07] AllenzhLi commented on #1708
Maybe this issue should be more attention.

[2020-12-08 07:08] prmsrswt commented on #3111
@Oghenebrume50 yes.

[2020-12-08 09:33] #3208 closed

[2020-12-08 09:49] bwplotka commented on #2890
Still to investigate to ensure solid deduplication algorithm (:

Kind Regards,
Bartek Płotka (@bwplotka)

On Tue, 8 Dec 2020 at 09:33, stale[bot] <notifications@github.com> wrote:

[2020-12-08 12:42] xiaodangjia457 commented on #3198
use the 0.16.0 will be fine

[2020-12-08 13:23] bwplotka commented on #2600
Yes, but with a note that endpoints can serve multiple APIs

hmmmm, I wouldn't use word independently. If the endpoint serves both Rules and Store API, those will be discovered (and probed for healthyness) in the same flow. Essentially we will do it per endpoint -no matter how many and what kind of APIs it serves. From `endpointset` it has to serve `Info`

[2020-12-08 13:24] bwplotka commented on #2600
Yes, but I would deprecate `store` as well long term in favor of `endpoints`. WDYT? also note there is `store.sd-file` option as well allowing FILE  SD like discovery - we will need to do that for endpoints as well :hugs:

[2020-12-08 13:47] lilic commented on #2600
yes, I think we are on the same page, I agree decoupling is not exactly the right word for this.

sgtm

Okay, I will get started on this tomorrow, busy day of meetings today. Thanks for the feedback!

[2020-12-08 15:49] matthiasr opened #3545 "rule: Rules with YAML `|2` indentation cannot be parsed"
**Thanos, Prometheus and Golang version used**:
[code]

built at revision d6162144. We saw the same effect in production with v0.15.0, haven't tried again in 0.17.2.

Prometheus version N/A.

**Object Storage Provider**: N/A

**What happened**:

A rule file like

[code]

passes `thanos tools rules-check` but cannot be loaded correctly:

[code]

**What you expected to happen**:

This YAML is [valid

[2020-12-08 18:47] dinesh4747 opened #3547 "Prometheus Config to scrape Multiple Kubernetes Cluster- Design question"
Hi Guys,

We wanted to have prometheus which would scrape metrics across more than 1 cluster different kubernetes cluster

As far as I understand using kubernetes_sd_configs we just happened to configure single master-api service till date and But with Multi cluster approach how do we devise a mechanism to discover 50 clusters and in that case How do we pass the list of multiple api-server url on

[2020-12-08 18:48] midnightconman opened #3548 "Reload Storage Config On Interval"
### Is your proposal related to a problem?

Yes, we use AWS as our cloud provider, which means we use s3 for cloud storage. We use SDK user / password to give various thanos components access to s3 (read / write). The AWS SDK user / password is exposed to the various thanos component pods as a kubernetes secret. Kubernetes supports updating secrets on-demand, but at the moment thanos components ne

[2020-12-08 20:07] GiedriusS commented on #3545
The error seems to happen in the `rule.Manager` of Prometheus. I was able to reproduce the same issue with vanilla Prometheus:

[code]

Care filling an issue in upstream Prometheus? Then, we could pull the fixes to Thanos once it is fixed there.

[2020-12-08 20:07] nesara-cmd opened #3549 "Thailand"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2020-12-08 20:08] GiedriusS commented on #3549
Hi! Sorry but this seems like spam. Closing it.

[2020-12-08 20:08] #3549 closed

[2020-12-08 20:10] nesara-cmd commented on #3549
3649

[2020-12-08 22:59] hammad13060 commented on #3301
Hi, I'd like to give it a shot.

[2020-12-09 00:33] timkahlke opened #3550 "Query: No thanos-specific metrics, e.g. thanos_objstore_bucket_last_successful_upload_time"
**Thanos, Prometheus and Golang version used**:

Thanos v. 0.16.0
Prometheus v2.22
GO v1.15

**Object Storage Provider**:
FILESYSTEM

**What happened**:
Thanos GUI doesn't show any Thanos-specific metrics, e.g., thanos_objstore_bucket_last_successful_upload_time, thanos_compactor_halted or thanos_blocks_meta_synced

**What you expected to happen**:
Get values for any of the thanos metrics

**How t

[2020-12-09 00:50] yeya24 commented on #3550
Hi, if you are looking for the metrics of thanos components, for example compactor, you can get its metrics in the `/metrics` endpoint.

If you want to query the compactor metrics via Thanos query web UI, its metrics must be scraped via a Prometheus job and you have a sidecar to query from the Prometheus.

[2020-12-09 00:53] TTCGithub commented on #3550
Well I'm new and confused!

[2020-12-09 00:53] timkahlke commented on #3550
Thanks yeya24, that makes total sense!

[2020-12-09 00:53] #3550 closed

[2020-12-09 01:14] timkahlke opened #3551 "Compactor: Compacted only last 24h"
**Thanos, Prometheus and Golang version used**:

Thanos v0.16
Prometheus v2.22
Go v1.15

**Object Storage Provider**:
FILESYSTEM

**What happened**:
Added Compactor to existing Thanos HA-set up which already gathered >2 months of data (Prometheus compression off, i.e., min/max=2h). When I check the Thanos GUI for any metric using the "max 5m downsampling" and "max 1h downsampling" it shows downsam

[2020-12-09 07:08] weinux2020 commented on #3533
@yeya24  Hi, I made this config for my thanos compactor and prometheus running 5 days ,  I see a block compacted over 40hours on the monio, but still not see any downsampled block, and no "thanos_compact_downsample_total" data found , could you help me?
![image](https://user-images.githubusercontent.com/69229846/101596309-cf41c500-3a2f-11eb-987c-c4ccd2103e0d.png)
![image](https://user-images.githu

[2020-12-09 08:13] matthiasr commented on #3545
Prometheus 2.22.1 (and all previous versions going back to 1.x) can load the same rules just fine. Something happens along the way, note that the rule file that fails to load is given as `data/.tmp-rules/ABORT/yaml` not the original file name.

[2020-12-09 08:17] brancz commented on #3351
@yeya24 have we validated that it is indeed a problem performance wise? I can see what you mean of course, just want to make sure we base this on measurements and not fear :)

[2020-12-09 09:25] matthiasr commented on #3545
How can I get at this intermediate rule file?

[2020-12-09 10:43] bwplotka commented on #3545
We parse,  then remove field and generate, then Prometheus parses and fails, so it's ruler bug.

I don't think this is required, I think this issue has all the things to investigate fix it. Thanks for reporting 🤗

[2020-12-09 14:06] arvidsnet opened #3554 "query --selector-label flag: work with multiple values for the same label"
### Is your proposal related to a problem?
yes, we have the following problem - we have many Prometheus servers across different locations and we are planning to have sidecars on each Prometheus server, global object storage for long term metrics and global query. We are planning to use object storage only for metrics older than month or so, so most of our queries will go to sidecars. And we would

[2020-12-09 14:56] rdzimmer commented on #813
@bwplotka Thanks for the explanation!  I had a few clarification questions.  Context is I am doing performance and scale testing and capacity planning.  Particular interest is on understanding the impact of variable time series (like kubernetes containers or processes that are short lived).  Apologies if these are already covered somewhere I haven't found yet.

1. `This is because downsampling to

[2020-12-09 14:57] apr1809 commented on #3529
@GiedriusS  I have set the following arguments in compactor. But could still see data as old as 20 days still exist in S3. Can you let me know if my configuration is wrong.
  - args:
    - compact
    - --log.level=info
    - --http-address=0.0.0.0:10902
    - --data-dir=/data
    - --retention.resolution-raw=14d
    - --retention.resolution-5m=14d
    - --retention.resolution-1h=14d
    - --consi

[2020-12-09 15:15] yeya24 commented on #3351
You are right and I haven't benchmarked it.
We can do a `Series` based version first to get this feature working.
After Prometheus supports these matchers in the TSDB level, we can change our code and do the matchers push down to leaf nodes.

[2020-12-09 15:41] lilic commented on #2600
@bwplotka curious about this point from earlier in this issue:

Curious, did some deep diving into the code and curious how come you all moved away from using the gRPC reflection? I did some experimenting and I can discover what APIs the endpoint has.
So for example in my little experiment, I query via the gRPC reflection services and when trying to discover in thanos query I can see my sidecar ha

[2020-12-09 17:38] bwplotka opened #3555 "web: Case Studies md doc in Operating section."
As  Wiard proposed in our community meeting, it would be nice to start good example and have case studies with details like configuration setting.

Do you mind Wiard to starting this one? And propose some template? 🤗

Also help wanted everyone else, especially those who runs Thanos on Prod. We are happy to provide Red Hat one as well.

[2020-12-09 19:11] rdzimmer commented on #813
https://github.com/thanos-io/thanos/blob/master/docs/components/compact.md
![image](https://user-images.githubusercontent.com/17729406/101656927-4ddb3a00-3a11-11eb-908a-507c842ad568.png)
I think that helps explain the 5 series (times 2 buckets then for 5m and 1h, right?).  I'm still looking into question 2 and 3.

I'll expand on the testing I'm doing and trying to understand the results from.
My t

[2020-12-09 20:06] FUSAKLA opened #3556 "Support context propagation in the Swift storage integration"
### Is your proposal related to a problem?

The Swift storage integration is based on a library that does not support context propagation and allows just setting static timeouts currently. There is a standing issue on it to support the context. Once added there, Thanos should start using it also.

Issue on the used library https://github.com/ncw/swift/issues/159
Related discussion in Thanos PR htt

[2020-12-09 20:34] GiedriusS commented on #3529
Yes, that option controls the retention period on Prometheus. On Thanos Compact you have the `--retention.resolution-*` parameters as in your example. Has it finished at least one iteration? Retention is only being applied at the end ATM. You could check this in the metrics.

Let me clarify. The blocks encompass a time period - the period has a start and an end or, in other words, min/max times. I

[2020-12-10 02:04] weinux2020 commented on #3533
I saw the log as follows, why the downsampled block outdated and deleted? my retention.resolution-5m=30d.
-------------------------------------------------------------------------
storer           | level=info ts=2020-12-06T00:35:09.194864738Z caller=bucket.go:484 msg="loaded new block" elapsed=70.87817ms id=01ERTQHDMMPDWFGTV0E62H6M40
storer           | level=info ts=2020-12-10T00:35:11.458430286Z

[2020-12-10 02:06] heartTorres commented on #3450
We have no choice but to increase the resource server, from 12Gi RAM we upgraded it to 32Gi RAM, just to achieve our requirements to query full metric data of 30 days. Since our 2 replicas Thanos-Store eats 7-8Gi RAM when query range is just 7 days. (Not cost efficient though) :(

[2020-12-10 03:51] yeya24 commented on #3534
Thanks for your contribution. As #3552 was merged, I will close this issue.

[2020-12-10 03:51] #3534 closed

[2020-12-10 03:53] yeya24 commented on #3502
Hi, can you please provide more info about your setup? Do you have a query-frontend or just the thanos querier?

[2020-12-10 03:55] yeya24 commented on #3465
Hi, this issue should be fixed in v0.17.1 and we have a new v0.17.2 now. I think this issue is addressed already so I ll close it.

[2020-12-10 03:55] #3465 closed

[2020-12-10 03:58] yeya24 commented on #3454
This seems weird. From what I can see, the store cannot fetch any metadata from your bucket.
Can you try the `thanos tools bucket ls` or `thanos tools bucket inspect` to see whether there are blocks in your object store?

[2020-12-10 05:52] #3484 closed

[2020-12-10 06:41] foshantiger commented on #3540
Just set --receive.replication-factor=3, then it works, I will close this issue.~

[2020-12-10 06:41] #3540 closed

[2020-12-10 07:44] apr1809 commented on #3529
Thanks for the details @GiedriusS .
So, to confirm as per the example above, objects older than 14 days from now can be deleted from S3?

Also, I have set --delete-delay=0 . I believe this should delete the objects from S3 immediately. But I could find older objects still present in S3. Could you please clarify?

[2020-12-10 07:51] bwplotka opened #3559 "errors: Adapt new errors.MultiError or use tsdb_erros directly"
Help wanted. 🤗

Our lib: https://github.com/thanos-io/thanos/blob/47f9a225cc525bb0c7669c77a7a16a52f0333cfc/pkg/errutil/multierror.go.go#L13

Ideally we can use directly [Prometheus one again](https://github.com/prometheus/prometheus/blob/3d8826a3d42566684283a9b7f7e812e412c24407/tsdb/errors/errors.go#L24)  (it was added tmp to help with Thanos upgrade on Cortex side),

[2020-12-10 08:33] matthiasr commented on #3545
I think the problem is not in the YAML _parsing_ but in the generated YAML: I tried to quote the same string differently and found the same effect. `|2` is just a common way to quote inverse-indented expressions; the real problem is any expression that has varying levels of whitespace indentation:

* `expr: "  vector(1)\n  OR\n  vector(0)"` works (two spaces each)
* `expr: " vector(1)\n  OR\n  vec

[2020-12-10 09:09] matthiasr commented on #3545
And limiting it from the other side, I cannot reproduce it with plain YAML marshaling/unmarshaling.

<details><summary><pre>yaml.go</pre></summary>

[code]

</details>

<details><summary><pre>go run yaml.go</pre></summary>

[code]

</summary>

[2020-12-10 09:36] bwplotka commented on #2600
Hm I might think separate InfoAPI might be orthogonal to endpoint discovery.

We still need to discover types and we can use reflection yes - we added that recently to our gRPC servers 🤗
We could use health endpoint for health( probably we should even)

The problem is with metadata. They are propagated through Info like: time scope, ext labels, source and potentially others in future. But ofc we a

[2020-12-10 10:26] soniasingla commented on #3523
@DARK-art108 please, go ahead :)

[2020-12-10 12:08] lilic commented on #2600
Agreed, was thinking of that as well!

For the rules in query at least, we just need the external labels yes, in the info, correct? (At least for now.)

The main thing I am even bringing it up is because if we decide to create a new info API, we would still need to fallback to the one as part of the store. Migration would not work otherwise, or would not be as smooth, you could lose connection to

[2020-12-10 13:17] brancz commented on #2600
Come to think of it, the [scalable rule storage proposal](https://github.com/thanos-io/thanos/blob/master/docs/proposals/202005_scalable-rule-storage.md) will cause us to have Rule APIs without a Store API, so I also think 2 is the best choice, so we can treat them entirely separately. Taking this a bit further, did we even truly need external labels in the rule deduplication? Wouldn't any identif

[2020-12-10 14:00] bsnyder788 commented on #3559
I'll work on this one!

[2020-12-10 14:32] bsnyder788 commented on #3559
@bwplotka The multiError from Prometheus TSDB isn't exported for usage, so what were you thinking for this?

[2020-12-10 15:41] khyatisoneji commented on #3559
same question!

[2020-12-10 16:25] bwplotka commented on #3559
It is exported. See the `NewMulti` struct does not have to be. (:

Kind Regards,
Bartek Płotka (@bwplotka)

On Thu, 10 Dec 2020 at 15:41, khyatisoneji <notifications@github.com> wrote:

[2020-12-10 17:01] bwplotka commented on #2600
Hm. I would go for 4 (unless one of those is what is 4 to me):

Why not:

1. Splitting InfoAPI from StoreAPI to separate `rpc Info` proto service
2. Making super exactly the same Info is implemented by all Store,Rule,Target,Metadata,Examplar servers **once** This means that existing StoreAPIs will work automatically
3. Have specific APIs data in `store StoreInfo` fields of `InfoResponse` if separa

[2020-12-10 17:46] bsnyder788 commented on #3559
I noticed that the NewMulti was exported, but that doesn't yield a nice replacement for type assertions or places where the current MultiError are embedded into a struct.

[2020-12-10 18:07] bwplotka commented on #3559
I would go case by case. We made it private to reduce complexity of usage
(should be one way of instantiating this). If you want embed, maybe we
should propose interface instead. (:

Ofc we can make it public as well, let's discuss if there are use cases.

Kind Regards,
Bartek Płotka (@bwplotka)

On Thu, 10 Dec 2020 at 17:46, Brett Snyder <notifications@github.com> wrote:

[2020-12-10 18:09] lilic commented on #2600
@bwplotka  I think 4. is 1. :) But that would mean they all should have the same metadata in the Info API, or at least some common ones? But from what I understand not all have the same metadata, and judging by @brancz comment when rules API is used separately from store API, what would that metadata would the info API expose?

In case we go with this approach, what should be required in that Info

[2020-12-10 18:40] bwplotka commented on #2600
Well 1 means only store would have info - to me all of them would need some sort of metadata propagation sooner or later. To me unified Info endpoints means just clarity and less complexity since we have unified metadata propagation. Additionally better flexibility for future. What's the benefit of having different logic fir each kind of mix of APIs?

But let's try to "guess" what will
So StoreAPI

[2020-12-10 18:41] bwplotka commented on #2600
The extra benefit is mixed APIs e.g StoreAPI and Exemplars we can then have reused LabelSet, Min Max, StoreType (I think it makes sense to reuse those), plus only one propagation communication channel not two.

[2020-12-10 18:48] lilic commented on #2600
Nice, thanks for the details! I guess having two that are required throughout all the APIs, makes sense, as we have the StoreType and LabelSets. I am guessing the StoreType would now be ComponentType instead?

[2020-12-10 18:54] bwplotka commented on #2600
In what sense? Currently every component that is used by querier have InfoAPI implemented and served.

[2020-12-10 19:09] rdzimmer opened #3565 "Selective Metric Downsampling"
### Is your proposal related to a problem?

Metrics have different needs and importance, as well as different characteristics like time series cardinality.  In certain situations it may be desirable to exclude certain metrics from the downsampling aggregations.  Particularly, I'm thinking about high cardinality time series metrics, which have a large impact on disk space compared to datapoints as

[2020-12-10 22:09] MalloZup opened #3569 "DOC: Website contains some 404"
## Description:

I found two minor issue when navigating the webpage of thanos.

1)  when the user click following link:
![image](https://user-images.githubusercontent.com/10886597/101835535-38166380-3b3c-11eb-8ec3-07fecbbbec35.png)
link is https://github.com/thanos-io/thanos/edit/master/docs/thanos/integrations.md

it redirects actually to a 404. ( Maybe because i'm not maintainer)

2) it seems t

[2020-12-11 04:38] yeya24 opened #3570 "query frontend: Flaky E2E test"
**What happened**:

https://github.com/thanos-io/thanos/pull/3566/checks?check_run_id=1534028614

[code]

The query splitting test case is flaky because we are using the current timestamp to send queries, which makes the splitting behavior non-deterministic.

[2020-12-11 04:58] DARK-art108 commented on #3523
@soniasingla could you please explain to me a little bit about the changes need to made in docs, I am not getting much from the above issues headline :)

[2020-12-11 04:58] DARK-art108 commented on #3569
Can I work on this issue?

[2020-12-11 06:43] Shavakan commented on #3523
I was trying to fix this myself before submitting as an issue, spent some time trying to figure out what is happening. I'm not really used to playing with netlify so @DARK-art108 please do go ahead. I'll share some of the things that I found, if that saves your time :)

If you go to the page that I linked, relative links like the architecture overview, or the links in h3 section header would appea

[2020-12-11 08:46] MalloZup commented on #3569
@DARK-art108 woyld be great ! thx for your help

[2020-12-11 08:49] lilic commented on #2600
@bwplotka hmm, I meant more like during upgrade path, old thanos component that has not been upgraded (e.g. sidecar) would not have the new Info API, and we would need to fallback to what we currently do, in case of query that is using info from store. But not sure I follow what you mean by has info API, rules does not, or am I wrong here? 🤔

[2020-12-11 08:52] brancz commented on #2600
I think I made the wrong call earlier, I think maybe it is time for a design doc. It's getting rather hard to follow what's suggestion, and what's proposed at this point.

FWIW if I understand correctly, there is an Info API in the room that any component would expose. I don't really like this idea as it doesn't make sense for a component that _only_ serves the Rule API for example to expose an AP

[2020-12-11 11:10] bwplotka commented on #2600
@lilic in design doc (we [do them on Github](https://thanos.io/tip/contributing/contributing.md/#adding-new-features--components)), please check ideally, we can have the proposed one chosen by you and other in `## alternatives` section.

I don't think premature abstraction is when we already know external labels **are used right now in Rules API** and we have concrete example of need of those in f

[2020-12-11 11:11] bwplotka commented on #2600
I would call it premature duplication of effort and introducing complexity of migrations all over the place.

[2020-12-11 11:12] bwplotka commented on #2600
It has to be one propagation pipeline no other way.

Nothing bad is to have a similar technique as we have with hints: https://github.com/thanos-io/thanos/blob/c73143d131953fe8daa7975f3ba3dfd7a9785073/pkg/store/storepb/rpc.proto#L109 or something.

Looks like a need to for design yes (:

[2020-12-11 11:14] bwplotka commented on #2600
hmm, yea my idea was that even if you separate InfoMethod to separate gRPC service, this does not break existing StoreAPIs as long as we keep same proto format of message. But it might not work like that, worth to check.

[2020-12-11 11:23] bwplotka opened #3571 "sidecar: Use injectLabels optimizations"
AC:
* Use the same optimization as [here](https://github.com/thanos-io/thanos/pull/3568) but in the sidecar.

The nontrivial thing is to parse the map in an ordered fashion so labels are sorted:
![image](https://user-images.githubusercontent.com/6950331/101897776-f8369700-3ba2-11eb-957f-bf4e82a400a9.png)

https://github.com/thanos-io/thanos/blob/4b89eea19e6c477e5d272aab9db6b46afee8d2bb/pkg/store/p

[2020-12-11 14:00] bwplotka opened #3572 "Track data usage across tenant / system"
Currently, we don't have this statistic in our system but would be nice to do the first step in this direction.

AC:
*  Allow tenant / system owner to answer question: What data is used/queried the most?

I think first is to also define the granularity of this information. I don't think the sample makes sense, but something like those most used matchers / query and the most used time range would b

[2020-12-11 14:28] #3547 closed

[2020-12-11 15:16] soniasingla commented on #3541
@prmsrswt 👋🏻

I am working on `Fix button display when there is no panels.` 🐈

[2020-12-11 19:05] brancz commented on #2600
Let's discuss it on a design doc. We're not that far off from each other. I was not talking about label-sets, in my last comment I *agreed* that label-sets are in common and that there could be a common API for it. Min/max time is an example that I'm talking about that does not universally apply.

[2020-12-12 05:31] #3057 closed

[2020-12-12 07:40] zecke opened #3576 "querier: Discover and use topology for fun and profit"
### Is your proposal related to a problem?

I very much like the idea that a client can decide to sacrifice correctness to gain availability and that the query component is stateless. Unfortunately the current implementation provides neither correctness nor availability.

A brief summary of problems I noticed when exploring thanos.

**Threats to correctness**:
- A storegw will be forgotten with a

[2020-12-12 16:18] wiardvanrij commented on #3555
Currently working on public relations approval for our company, but nonetheless I'll make a template proposal.

[2020-12-12 20:22] Biswajitghosh98 commented on #3571
Hi @bwplotka!
I was looking forward to be a part of Thanos, and I'd like to start with this issue

[2020-12-12 20:36] #3241 closed

[2020-12-13 11:38] bwplotka commented on #3555
Looking at other companies that are willing to share some details and existing blog post we have linked in Thanos website (e.g https://build.thebeat.co/monitoring-the-beat-microservices-a-tale-of-evolution-4e246882606e) I think it has to be bigger than a single page (:

I would propose another section: `Case Studies` and doc `How to add case study` under contributing. Then each doc per company WDY

[2020-12-13 11:38] bwplotka commented on #3555
I can start some initial work on website on separate branch (we have preview) and anyone can propose PR against that so we can incrementally work on this 🤗

[2020-12-13 14:10] wiardvanrij commented on #3555
Even better.

[2020-12-13 15:01] yeya24 commented on #3304
Not stale, #3372 is on it

[2020-12-13 21:25] midnightconman opened #3622 "Config Validator / Checker"
### Is your proposal related to a problem?

At the moment I don't think there is a safe way of testing config sanity in CICD... I would want a flag on each component (could be shared), that would cause the app to exit 0 if config is sane and non-zero if config has issues OR we could have a separate application for this (maybe like a linter maybe add it to the `tool` subcommand)?

### Describe the

[2020-12-14 07:43] pracucci commented on #1318
_Still valid_

[2020-12-14 09:23] ethernoy opened #3623 "Documentation on Logging?"
### Is your proposal related to a problem?

I use Thanos receive in my cluster with 6 Prometheus instances writing to it. The Thanos receive pod has an ephemeral storage limit of 700MB, a PVC storage of 50GB, and was started in debug log level.
When I stop the receiver, wait several hours, then start it again, its console is flooded with out of order sample debug log with full request body, then s

[2020-12-14 11:00] chrischdi commented on #2774
/reopen
/remind

[2020-12-14 15:18] yeya24 commented on #3533
Hi, sorry for the late reply. So that block was downsampled. It was deleted because it was compacted with other blocks and a new block with a higher compaction level was created. So the original blocks are marked outdated and removed.

[2020-12-14 15:23] yeya24 commented on #3623
Hi, Thanos doesn't have any log file and all logs are written to stdout.
How is your ephemeral storage mounted to the pod?

[2020-12-15 01:39] ethernoy commented on #3623
Actually there is no explicit mounting of ephemeral storage to the pod. I only mounted a pvc and a volume for secret to the pod. Will Thanos receiver stores local cache data?

[2020-12-15 01:44] yeya24 commented on #3623
Receiver is just a TSDB and it only uses the data dir IMO. You have a pvc so it is fine.

[2020-12-15 01:51] weinux2020 commented on #3533
@yeya24  Thank you for your reply , but I can't see any data in table 'thanos_compact_downsample_total', could you tell me how to config for scraping  that data?

[2020-12-15 01:57] ethernoy commented on #3623
But the receiver got evicted for quite several times due to lack of ephemeral storage when Prometheus instances were trying to write old TSDB data to receiver. I was using 0.17.1 by the way.

[2020-12-15 01:57] yeya24 commented on #3533
You can add your compactor as a scrape target in your Prometheus.

[2020-12-15 02:06] weinux2020 commented on #3533
Ok, I will try, Thanks a lot , close this issue.

[2020-12-15 02:06] #3533 closed

[2020-12-15 04:48] cphikmawan commented on #3404
same issue using thanos version: v0.17.2 and GCS

[code]

[2020-12-15 07:03] gupf0719 opened #3624 "Is there any way to improve the version of prometheus what thanos used"
We did secondary development on prometheus2.3+, and we want to use thanos and be compatible with our modifications, but the difference between prometheus1.8.2 and prom2.3-2.19 is too big, many functions are missing.

Is there any way to improve the version of prom? At the same time, there is no need to modify the code of thanos but only a small amount of code of prom

[2020-12-15 07:04] #3624 closed

[2020-12-15 07:05] gupf0719 opened #3625 "Is there any way to improve the version of prometheus what thanos used"
We did secondary development on prometheus2.3+, and we want to use thanos and be compatible with our modifications, but the difference between prometheus1.8.2 and prom2.3-2.19 is too big, many functions are missing.

Is there any way to improve the version of prometheus? At the same time, there is no need to modify the code of thanos but only a small amount of code of prometheus.

[2020-12-15 07:33] #3625 closed

[2020-12-15 07:39] chrischdi commented on #2774
This still is an issue to us on the latest release v0.17. We currently have to rebuild the image on our own :-(

[2020-12-15 09:35] bboreham commented on #3569
Link to "Querier/Query" from https://thanos.io/tip/thanos/quick-tutorial.md/ also 404s.

[2020-12-15 09:42] Shini31 commented on #3308
up?

[2020-12-15 09:51] bboreham opened #3627 "Docs should define the term "chunk""
The word is used in lots of places, e.g.:
https://thanos.io/tip/thanos/design.md/ "Chunk files hold a few hundred MB worth of chunks each."
https://thanos.io/tip/thanos/storage.md/ "This can be used to find chunk with samples in the chunk files."

It would be good to define it, like "a chunk is part of the data structure of Prometheus TSDB, holding up to 120 samples for a single timeseries".

[2020-12-15 10:14] ahurtaud commented on #3518
Hello, can we get an update on the PR #3476 and so on this issue please?

We cannot load v0.17.x because of this and we would like not to miss it on 0.18 :).

Thank you

[2020-12-15 12:42] xiaozongyang opened #3628 "[Consult] Why do we remove the cache directory on downsampling failure"
Hi Thanos team,

I'm got confused when I read the following source code. The code says that all cached directories will be removed on error.
[code]
If we got an error during the downsampling job, and the message printed in stdout, but we can never find the working files. It's difficult to find out what happened without the working files.
Maybe we can should these files to another temporary directo

[2020-12-15 14:16] kelly-brown commented on #3404
To round back with what was happening to me...  Our S3 infrastructure had lost a node and my bucket was set to 'read-after-new-write' which for whatever reason was sending 500 errors when thanos would try to check if a file existed, rather than 404's.  Apparently this is known and accepted behavior.  I'm not an S3 expert so I had no clue, this was just the default.  I switched it to 'available' an

[2020-12-15 14:32] mogaal commented on #2693
Ran into the same issue now. I have a bunch of metrics in my S3 bucket (2.8TB) and my 10GB PVC couldn't cope. Even if the documentation says "_does not need significant amounts of local disk space_" for 2.8TB of data 10GB isn't clearly enough.

I fixed it adding `--min-time=-1w` to storage API  and now my 10GB PVC is happy. I hope it helps.

[2020-12-15 19:37] #3264 closed

[2020-12-15 19:56] #2713 closed

[2020-12-15 20:34] george-angel commented on #985
remove stale

[2020-12-16 05:09] cphikmawan commented on #3404
i was fixed my issue by reduce option `--delete-delay=6h` option to thanos-compact and `--ignore-deletion-marks-delay=3h` to thanos-store.

data block on my storage about 7TB. so it need some times to compaction, also there is my fault. i forgot all about cron for restarting thanos-store every 20min.

thanks.

[2020-12-16 05:15] yeya24 commented on #2585
Not stale.

[2020-12-16 10:19] Biswajitghosh98 commented on #3627
Seems like we can define chunks at one place, and hyperlink the definition wherever it's used. WDYT? @GiedriusS @bboreham

[2020-12-16 10:26] bwplotka commented on #3627
This is actually also a Prometheus TSDB issue.

120 samples for a single timeseries".

But also a chunk .. file - is the file in TSDB block that contains up to
0.5GB worth of chunk entries in binary format.

Anyway, let's document better, thanks! (:

Kind Regards,
Bartek Płotka (@bwplotka)

On Wed, 16 Dec 2020 at 10:19, Biswajit Ghosh <notifications@github.com>
wrote:

[2020-12-16 10:34] bwplotka commented on #1014
👋🏽

Recently got many questions on DM, please ask them here around offline dedup (: Some update:

We added more docs hopefully cleaning WHY and HOW: https://thanos.io/tip/components/compact.md/#vertical-compactions

Answering one DM:

--compact.enable-vertical-compaction
--deduplication.replica-label="prometheus_replica"
(The prometheus_replica external label is what we use to distinguish between

[2020-12-16 11:44] bboreham commented on #3627
Personally I think hyper-linking every time is is used would get annoying.
You could have a "glossary" section in the docs that defines terms.

[2020-12-16 15:09] heyitsmdr commented on #1014
Thank you @bwplotka for answering that question and confirming my suspicions. I'm going to look at the doc and related work and see if this is something I can help out with :) We would greatly benefit from a feature like this to dedupe the duplicated data coming from each Prometheus in the HA pair.

[2020-12-16 18:01] #3351 closed

[2020-12-17 07:08] ajinkya359 commented on #3216
I would like to work on it.

[2020-12-17 08:43] Abhishek357 commented on #3211
I would like to work on this issue.

[2020-12-17 08:46] kakkoyun commented on #3628
I guess we don't want to produce any form of garbage. We might consider moving them to `/tmp` or somewhere else when `debug` mode enabled. Of course, if this really needed. Have you ever encountered this use case?

cc @bwplotka @yeya24

[2020-12-17 08:50] kakkoyun commented on #3551
Hey @timkahlke, the compactor is eventually consistent so it could take some time to handle all the blocks in the backlog. How long have you let it run? You can also check the block viewer for the progress.

[2020-12-17 09:21] Namanl2001 commented on #3187
@bboreham I'm looking into this.

[2020-12-17 11:22] kyoto opened #3634 "Upgrade y18n package to v4.0.1"
Upgrade y18n package (used by the React UI) from v4.0.0 to v4.0.1, which fixes [CVE-2020-7774](https://nvd.nist.gov/vuln/detail/CVE-2020-7774).

See https://github.com/yargs/y18n/blob/v4/CHANGELOG.md#401-2020-11-30

(Issue is also fixed in y18n v5.0.5)

This is the same issue as https://github.com/prometheus/prometheus/issues/8282

[2020-12-17 11:38] kakkoyun commented on #3634
@kyoto Thanks for opening this. We should take care of it. Help wanted.
Also, it's curious that we haven't alerted by the dependabot?

[2020-12-17 11:43] bwplotka commented on #3628
Agree, I think I would be curious how useful it would be.

Also imagine you have disk too low space error. If we don't remove then Compactor will not repair itself (:

[2020-12-17 11:46] kakkoyun commented on #3623
Sounds fair to me. We should definitely document more. cc @yashrsharma44

[2020-12-17 11:50] kakkoyun commented on #3623
Let's have a common place to put logging documentation and reference to this section from each command. `operating/observability` looks like a good candidate. i.e `operating/observability/tracing|logging|mixin ...`

[2020-12-17 11:52] kakkoyun commented on #3448
Thanks for reporting. Definitely, we need to improve our documentation on this. We should provide a method to calculate these resources depending on the load.

[2020-12-17 12:01] kakkoyun commented on #3622
Sounds really a good idea. There are lots of possibilities in this area. Some quick ideas: `--dry-run` mode or an additional tool the check all the configuration. The best way to hook into the flag library to generate all these necessary configuration checkers.

Open questions:
* How much do we want to validate?
* Configuration files? Types? Syntactic validation? or Semantic validation?
* Against

[2020-12-17 13:23] #3005 closed

[2020-12-17 15:51] rmccarthy-ellevation opened #3635 "Moving blocks from older version of Thanos S3 bucket to a new S3 bucket that's being used by a new version of Thanos."
We are rebuilding our monitoring stack and want to move the blocks that our current version of Thanos is storing in S3 to a new S3 bucket that will be used by our new and improved Thanos. Is this possible using the replication tool, or is there some other way? Can we move the blocks and have the new version of Thanos recognize them as data that can be queried?

[2020-12-17 16:00] bwplotka commented on #3635
You can totally do that straight away. Feel free to use *thanos tools
bucket replicate*

The format did not change much, so all is compatible.

Kind Regards,
Bartek Płotka (@bwplotka)

On Thu, 17 Dec 2020 at 15:51, rmccarthy-ellevation <notifications@github.com>
wrote:

[2020-12-17 16:06] MalloZup commented on #3525
@bwplotka and others I am working currently on the unrelated note about the interceptor limit on PR referenced.

What should from your experience be a good function which should handle the limit and how?

tia :sun_with_face:

[2020-12-17 17:18] yeya24 opened #3637 "Support matchers in gRPC LabelNames and LabelValues requests"
Initial support for label matchers API is done in https://github.com/thanos-io/thanos/pull/3566.

It just simply sends `Series` requests to stores and deduplicate the results at the API level.

It works but we might improve more by adding matchers to `LabelNames` and `LabelValues` gRPC requests to push down matchers to each store. Each store can get the matched labels and send them back. The netwo

[2020-12-17 18:50] yeya24 opened #3639 "Inconsistency of the behaviors of handling labelValues requests and external labels"
We are using different ways to handle `LabelValues` requests for each store.

For `PrometheusStore` which is the sidecar, it checks whether the label we want exists in external labels, if so just return the value.

[code]

For `BucketStore`, we get the label values from the block's index and attach the external label value if it matches.

[code]

For `TSDBStore`, we just ignore the external labels

[2020-12-17 21:04] bwplotka commented on #3639
Yup, agree. I think we should just inject them always.

WDYT @brancz @kakkoyun @pracucci @yeya24 ? 🤗

[2020-12-17 21:16] Namanl2001 commented on #3187
Hey, what I have found is that it returns error for non-SRV prefix, when a port is not supplied.
While for SRV prefixes there is no need to specify a port, as the one from the SRV query results will be used.

[2020-12-17 21:31] Namanl2001 commented on #3569
Is anyone working on this issue or could I take this up?

[2020-12-17 22:05] MalloZup commented on #3569
@Namanl2001  feel free to take this issue

[2020-12-17 22:17] CNG commented on #903
Still needed.

[2020-12-17 23:57] yeya24 commented on #3639
So for `LabelNames`, we need to always inject the external label names?

[2020-12-18 02:02] yakexi07 commented on #3302
Now i try to upload data to aliyunOSS,always failed, can you fix it ? thanos-0.17.2.linux-amd64 verison, looking forward to your reply

[2020-12-18 02:38] yeya24 commented on #3302
@xiaodangjia457 @yakexi07  This log is not an error. The upload is just not optimized, not an error or data loss.

[2020-12-18 08:15] kakkoyun commented on #3450
@heartTorres Could you please share your compactor and store configurations/flags? Depends on your data store could go heavy on memory. Also could you please check and share the level of compactions from your Bucket viewer UI?

That said, I highly recommend `hashmod` sharding for horizontal scalability of the store. It works pretty well for our data which considerably large data set. e.g https://g

[2020-12-18 09:02] yashrsharma44 opened #3641 "CI/CD: flaky tests"
While running GitHub Action tests for any Pull Request changes, the receiver tests somehow fail irrespective of the codechange made(or documentation changes). Seems like an example of a flaky test -
For Example - Flaky test observed in this #3630

[code]

[2020-12-18 10:21] cuiyuanrong opened #3642 "query msg="runtime panic in parser" err="runtime error: slice bounds out of range [2:1]""
Thanos, Prometheus and Golang version used:

prometheus/prometheus:v2.20.1
thanos/thanos:v0.17.2

What happened:

When running a query with a 3 hours timespan, runtime panic in parser.

Full logs to relevant components:
[code]

[2020-12-18 13:22] GiedriusS commented on #3642
@cuiyuanrong could you please paste the query or add some steps on how we could reproduce this?

[2020-12-18 13:54] storedcc opened #3643 "grpc port does not bind as specified via --grpc-address"
**Thanos, Prometheus and Golang version used**:

thanos, version 0.17.2 (branch: HEAD, revision: 37e6ef61566c7c70793ba6d128f00c4c66cb2402)
  build user:       root@92283ccb0bc0
  build date:       20201208-10:00:57
  go version:       go1.15
  platform:         linux/amd64

**Object Storage Provider**: minio / s3

**What happened**:
the thanos store component does not bind to the specified port I

[2020-12-18 14:11] bwplotka opened #3644 "query: PromQL resets function does not detect reset."
Just for awareness. I noticed PromQL `resets` https://prometheus.io/docs/prometheus/latest/querying/functions/#resets function has no right to work. (:

This bug was introduced  ~18.05.2020 by http://github.com/thanos-io/thanos/pull/2548

This is because for deduplication and downsampling precision we adjust resets on storage level:
* Query:  https://github.com/thanos-io/thanos/blob/49dad93ed67210

[2020-12-18 14:18] bwplotka commented on #3644
Some useful disscussion on IRC:

[code]

[2020-12-18 14:22] bwplotka commented on #3644
[code]
Tests that detect those.

[2020-12-18 15:30] bsnyder788 commented on #3559
The current usages in `pkg/block/fetcher.go` seems to be the more problematic ones to replace without the new multiError being public so it can be used in type assertions.

[2020-12-18 18:14] bwplotka opened #3646 "query: Query Analyzer."
Something I was thinking a lot.. we need more observability on what is happening during query time. And by "we" mean any user of Thanos from Query UI.

It's not enough to have tracing enabled, as:
* It's rarely 1:1 sampling
* Only small percentage of users operating Thanos have time / resources to add tracing - it should be not mandatory element of stack
* Even if above are true, it's never expose

[2020-12-18 18:28] prmsrswt commented on #3308
Yeah this is on our roadmap, help wanted!

[2020-12-19 05:22] yeya24 commented on #3045
Still needed.

[2020-12-19 10:49] bwplotka opened #3651 "api: Ability to set default step for queries."
Default step does not make much sense if the scrape interval is common (e.g 15s). Getting too low makes things extremely slow for no good reason.

Flag on querier might be a good idea.

[2020-12-19 12:56] #2887 closed

[2020-12-19 14:28] spaparaju commented on #3651
Will pick up this issue @bwplotka

[2020-12-19 17:21] bwplotka opened #3653 "Update Hugo: security fix"
See https://twitter.com/GoHugoIO/status/1340339808716075015?s=19

Help wanted (:

[2020-12-19 19:42] FUSAKLA commented on #3556
Created a PR to add context support to the library we use https://github.com/ncw/swift/pull/162

[2020-12-19 22:36] Kampe commented on #3540
While that may potentially solve the issue - that really doesn't explain the problem that's happening here.  I had similar issues when using receive in HA mode with the configmap reloader - it's a very poor user experience (even having to bring in the configmap reloader is a bit excessive) and the replication-factor configuration, let alone receive in general, is not well documented well either.

[2020-12-20 01:30] yeya24 commented on #1869
Still valid.

[2020-12-20 02:53] kadern0 commented on #3653
I can take this one.

[2020-12-20 15:07] #3187 closed

[2020-12-20 17:03] yeya24 commented on #1375
#3350

[2020-12-21 03:29] xiaozongyang commented on #3628
Thank you guys for explaining these details. @kakkoyun @bwplotka

Hi @kakkoyun,
Actually, we've run into some errors shown in the log, but when we find out it happened we can't find the actual file which causes the error. It's annoying to debug.

Hi @bwplotka,
IMO, disk too low space is not the normal case may be something wrong, we can monitor and raise an alert about that or we increase the capa

[2020-12-21 03:42] xiaozongyang commented on #3422
Hi,

When I curl the metrics path of the thanos-compact process, I can't see the metric `thanos_compact_downsample_total` or `thanos_compact_downsample_failures_toal` in response. But I find these source which shows that these two counter registered on starting. Is it the evidence that shows downsampling is not running or something wrong?

[code]

[2020-12-21 03:44] xiaozongyang commented on #3422
ping @GiedriusS  @bwplotka,
Help wanted, any other information should I provide for troubleshooting?

[2020-12-21 08:35] cuiyuanrong commented on #3642
Promql : sum(increase(uri_latency_sum{method="router", endpoint=~"/api/collection|/user/getrecord"}[2m] offset 2d))/sum(increase(uri_latency_count{method="router", endpoint=~"/api/collection|/user/getrecord"}[2m] offset 2d))

pometheus is normal.

thanos is the exception.

[2020-12-21 09:18] Kami1135 opened #3658 "Compactor is not exposing thanos_compact_downsample_total metric."
**Compactor Dockerfile**
[code]

**Object Storage Provider**: S3 (bucket size = 30 TB, number of object: 100k)

**What happened**:
By querying  long term data(even 2 days) no data is returned and the error rate at thanos store grpc_server_handled_total and thanos_objstore_bucket_operation_failures_total(specifically at get_range) goes high and OOM kill of container(on
r5.xlarge ec2 instance). upgr

[2020-12-21 11:02] MalloZup opened #3659 "Race condition on compact test ( pkg/compact/compact_e2e_test.go which is unit despite postfix)"
# Description:

I found out that locally and upstream on CircleCi we do have this race condition:

```FAIL	github.com/thanos-io/thanos/pkg/compact	23.890s```

https://app.circleci.com/pipelines/github/thanos-io/thanos/4687/workflows/bd3a461c-1c78-4df0-b050-130f89d1b18b/jobs/13271

Unfortunately I can't reproduce locally.

However als the test imho could improved to easy the debug. E.G I still dunn

[2020-12-21 11:16] MalloZup commented on #3659
seems more that we are executing an e2e test in the unit-test

[2020-12-21 14:53] spaparaju commented on #3651
I see Thanos Query got two possible ways to customise the downsample / resolution for queries:

1. specify 'step' duration along with enabling 'enableAutodownsampling' to calculate 'max_source_resolution'
2. explicitly specify 'max_source_resolution'

I am trying to understand the purpose of two options to arrive at seemingly a single outcome: Query time downsampling.
Is there an advantage of choo

[2020-12-21 21:01] MalloZup commented on #3525
@bwplotka  I was reserching a bit on this and rate-limiting mechanism.

As suggested I looked at the `gate` construct which basically is already a `limiter`.

My question here in this issue:

since we do have already https://github.com/thanos-io/thanos/blob/058e22b5b5ed13b44856d8c4fe355a40091f6a97/cmd/thanos/query.go#L79

I can't follow how the  query frontend spammed 20k requests  if we do have b

[2020-12-22 01:57] mfuezesi commented on #3518
Hello there
Really like your work.  But now I have the same problem. v16 works, v17 not. With the same issue. Is there another workaround?

[2020-12-22 11:43] pracucci opened #3662 "Change objstore Delete() contract to make it idempotent"
### Is your proposal related to a problem?

The objstore `Delete()` is expected to return error if the object doesn't exist in the bucket:

https://github.com/thanos-io/thanos/blob/e9260e30f265f60e17d3f61ff361fb7357b3d34a/pkg/objstore/objstore.go#L44-L46

This design decision has some drawbacks:

- S3 "delete object" API is idemponent and Thanos S3 client (based on Minio) is idempotent as well. Ba

[2020-12-22 12:31] bwplotka commented on #3662
I am almost certain that we did this ONLY to match with "some" obj storage APIs we were inspired by (GCS) . We are definitely ok to make it idempotent. (:

I kind of like explicitness. If you delete something that does not exists, I want to know that as a caller. This might mean some eventual consistency or race, so then caller can just ignore it. OR I really want to delete something and I want to

[2020-12-22 14:02] wiardvanrij commented on #1979
I'm also currently experiencing this issue while tuning Thanos Store components. Perhaps this issue can be re-opened?

[2020-12-22 14:04] pracucci commented on #3639
I think we should pick up external labels only for blocks within the query time range. In your example, if the `LabelNames` query is outside the store's time range then we shouldn't inject any external label.

[2020-12-22 14:39] bwplotka commented on #1979
Definitely, let's investigate. Help wanted.

[2020-12-22 15:14] pracucci commented on #3662
I thought the rest of the comment was leading towards not making it idempotent. If it's idempotent, from the consumer perspective, then the `Delete()` would act the same exact way regardless the object existed or not in the storage.

[2020-12-22 15:29] wiardvanrij commented on #1979
Base-line that I started with.

[code]

Then I increased `max_get_multi_batch_size` to 1000 and even to 10000.

What I learned was that, so long you don't have a massive dashboard that has like 12 panels and you go back 12 months in time, it does not really matter regarding the i/o timeouts. I simply do not get them with "sane" queries. Yet increasing the `max_get_multi_batch_size` to 1000++ impro

[2020-12-22 19:53] bwplotka commented on #3662
Yea, because I am torn.

Just curious, the only benefit here is really API calls? Because in a PR for meta json, we could just try to delete and filter out NotFound error, no? To achieve this (:

[2020-12-22 19:58] GiedriusS commented on #2784
Trying to push https://github.com/thanos-io/thanos/pull/3031 over the line.

[2020-12-22 23:19] wiardvanrij commented on #1979
So, I have fixed this issue for myself. As it was an implementation error xD

After investigation, because the config (per above) does not seem to make any difference, I noticed that it was NOT about the memcached index cache, but the bucket cache.

When I investigated this further, I noticed that I made a mistake on it's config. This was my config:

[code]

- I made the assumption that the bucket

[2020-12-22 23:22] #3290 closed

[2020-12-22 23:34] GiedriusS commented on #2511
No new updates from this front.

[2020-12-22 23:36] GiedriusS commented on #2511
Actually, https://github.com/thanos-io/thanos/pull/3631 is a start for this :P It's a bit different but still a step towards having automatic tests for PromQL compliance.

[2020-12-23 04:47] Shan1024 opened #3665 "store: signal SIGSEGV"
**Thanos, Prometheus and Golang version used**:
quay.io/thanos/thanos:v0.17.2

**Object Storage Provider**:
S3

**What happened**:
This setup is done in EKS. Thanos Store Gateway crashed with the following error. This happened when i run a query on Thanos Query. I have 2 pods (part of a statefulset) for the Thanos Store Gateway (not sure whether this can cause any issue like this). Also, this cras

[2020-12-23 06:46] yeya24 commented on #3665
Thanks for the report.
This panic is really strange. I'll investigate it later.

[2020-12-23 07:12] wiardvanrij opened #3666 "Improve documentation for caching bucket configuration"
### Is your proposal related to a problem?

Relates to my comment here: https://github.com/thanos-io/thanos/issues/1979#issuecomment-749831642

### Describe the solution you'd like

Update docs here: https://thanos.io/tip/components/store.md/#caching-bucket with an example of actually implementing the config for memcached

[2020-12-23 07:15] wiardvanrij opened #3667 "Give better log info regarding which memcached type the logs are from"
When checking log messages from the Store, you could find something like this:

[code]

Yet it is not clear which memcached type is being referenced. This could be either the index cache or the bucket cache.

It should include either `caching-bucket` or `index-cache` (somewhat in line with flags).

[2020-12-23 07:18] wiardvanrij opened #3668 "Add a debug log for each error on memcached batch requests"
When doing batch requests on the memcached client, it will catch errors but continue if there are items in the batch present. As log message, IF an error exists, it will use the latest error received in the batch loop. While this is fine for 'info' messages, it would be nice to have a debug log in the batch loop. Logging every error that has been made.

[2020-12-23 07:19] wiardvanrij commented on #1979
Created #3666 , #3667 and #3668 :)

[2020-12-23 11:11] Wander1024 commented on #2982
same issue
`level=error ts=2020-12-23T11:08:22.799370065Z caller=handler.go:331 component=receive component=receive-handler err="context deadline exceeded" msg="internal server error"`

[2020-12-23 13:51] pracucci commented on #3662
Yes, definitely. That's another valid approach, but I think the current implementation doesn't guarantee it. What I mean is: we should check this is true for all object store clients and, if so, document it in the `Delete()` contract.

The only downside I see (but not a big deal, if correctly documented) is that it's not possible to implement on S3 (where "delete object" API is idempotent) unless

[2020-12-23 16:21] yeya24 commented on #3668
Hi, I don't have many experiences with Memcached. I think logging every error is okay, but is it too verbose?
If one operation in batches fails, then other operations in this batch might fail too because now your Memcached is under a high load.

[2020-12-23 17:06] wiardvanrij commented on #3668
My idea was to change nothing regarding loglvl = info. Just log the latest. Yet I believe loglvl=debug should log every error. It is verbose, but if we enable debug mode, it should not be too verbose.

[2020-12-23 20:32] #3470 closed

[2020-12-23 20:33] GiedriusS commented on #3518
Fixed in https://github.com/thanos-io/thanos/pull/3476.

[2020-12-23 20:33] #3518 closed

[2020-12-24 08:40] xiaozongyang commented on #3422
Finally, I find out that my `compactor` is halted. see [Troubleshooting; Common cases
](https://github.com/thanos-io/thanos/blob/master/docs/operating/troubleshooting.md#overlaps) for more details.

It is verified that when I send a HTTP request to metric port.

This issue will be closed, thanks for the guys' help, especially @GiedriusS @bwplotka @wujinhu

[2020-12-24 08:40] #3422 closed

[2020-12-25 08:04] elmariofredo opened #3673 "Ability to deduplicate labels on compact phase"
### Is your proposal related to a problem?

Running prometheus in HA will produce duplicated data on object store, which is consuming twice as storage than expected.

### Describe the solution you'd like

Compact component should accept `--compact.replica-label` similar to #1174 and delete duplicate blocks.

### Describe alternatives you've considered

None, if there is any please let me know.

[2020-12-25 16:33] GiedriusS commented on #3673
Hi, have you looked into vertical compaction: https://thanos.io/tip/components/compact.md/#vertical-compactions? I think it solves your problem.

[2020-12-25 19:58] elmariofredo commented on #3673
@GiedriusS yes! That's exactly what I was looking for, sorry I missed it in docs and I was looking just into list of compact command options and hidden options are not listed there 🙁. Thanks for reply!

[2020-12-25 19:58] #3673 closed

[2020-12-26 06:23] #3278 closed

[2020-12-26 06:23] #3306 closed

[2020-12-26 07:19] DARK-art108 commented on #3468
Can I work on this?

[2020-12-27 14:17] monotek commented on #1820
As there is no real progress i guess it's not that important which chart we would use to start.
Still think we should just vote.

[2020-12-27 21:45] Namanl2001 commented on #3541
@prmsrswt I'll open a PR for ` Remove the need of pathPrefix in the React UI. ` soon.

[2020-12-28 09:28] ajinkya359 commented on #3541
@prmsrswt I will work on the issue
`fix detail swatch glitch`

[2020-12-28 10:26] ajinkya359 commented on #3541
I will open a PR for `Support new duration format in graph range input`

[2020-12-28 11:18] abhijeetab07 opened #3677 "Thanos Sidecar err="check exists: stat s3 object: Access Denied.""
Hi Team,

- I have configured Thanos sidecar, Thanos is in account A and s3 is in account B.
- I have also created a role and instance profile for EC2 in account A to assume role in account B, so that I would not need to pass the AWS access and secret keys. The prometheus and thanos are running inside of this EC2 instance as systemd services and not docker containers.
- As per the docs, I can see

[2020-12-28 16:14] spencergilbert commented on #1820
Honestly I think that's probably for the best @monotek @bwplotka. I've been busier than I expected and haven't been able to spend tons of time on it, and there hasn't been too much work from anyone else.

At this point, if there is still a desire to have an endorsed set of charts - it seems like it should come from an existing chart.

[2020-12-28 17:35] #3026 closed

[2020-12-28 19:12] yeya24 commented on #3541
This was closed by accident. Reopen it now.

[2020-12-29 00:51] yeya24 commented on #3677
I don't have many experiences with S3 but it seems our [doc](https://github.com/thanos-io/thanos/blob/master/docs/storage.md#aws-policies) is outdated.

From the error logs, `stat` operation is denied, so maybe you need to add `s3:HeadObject` to the policies.

Please correct me if I am wrong. If this works for you, we need to update that doc.

[2020-12-29 03:36] abhijeetab07 commented on #3677
Thank you @yeya24 for your reply. I added `s3:HeadObject` still the same issue, also `s3:HeadObject` is not recognized as an action in the IAM policy, so I tried with `s3:GetObject` but still getting the same errors. It's not working for us.

[2020-12-29 04:44] lifeiqiang opened #3679 "compact exist"
compact exist
level=info ts=2020-12-29T04:40:52.596239835Z caller=intrumentation.go:66 msg="changing probe status" status=not-healthy reason="compaction: group 0@16336987863802959009: pre compaction overlap check: overlaps found while gathering blocks. [mint: 1609120800000, maxt: 1609128000000, range: 2h0m0s, blocks: 2]: <ulid: 01ETKVFA7PAFKDDXJD8K4CZWKE, mint: 1609120800000, maxt: 1609128000000,

[2020-12-29 06:33] arvidsnet commented on #3665
I also have occasional SIGSEGV with store-0.17.2. Logs look different, so not sure if it is the same issue. Attaching full log.
[store-0.17.2.SIGSEGV.log](https://github.com/thanos-io/thanos/files/5749790/store-0.17.2.SIGSEGV.log)

[2020-12-29 13:03] bwplotka opened #3680 "lint: Add linter for go-kit/logger"
It would be awesome to detect those kinds of issues automatically on CI:

![image](https://user-images.githubusercontent.com/6950331/103285501-37a01880-49d6-11eb-9f0e-9195340748ef.png)

Let's research on go-kit/log project first if anything like this exists, if not we can write out own.

[2020-12-29 13:19] bwplotka commented on #3665
Valid bug.

First of all on this version store should never fault just panic: https://github.com/thanos-io/thanos/blob/v0.17.2/cmd/thanos/main.go#L34

Maybe we don't recover from panic? Or somehow this statement does not work? 🤔

Secondly, we need to look on LabelValues, looks like we don't properly lock it as reading.

[2020-12-29 17:45] MalloZup commented on #3525
adding also as notes:

** cortex**
- https://docs.google.com/document/d/1lsvSkv0tiAMPQv-V8vI2LZ8f4i9JuTRsuPI_i-XcAqY/edit#
- https://github.com/cortexproject/cortex/pull/3374

[2020-12-29 18:18] bwplotka commented on #3068
Still in progres. Vertical block sharding has to be designed and implemented.

[2020-12-30 06:51] Kami1135 commented on #3658
Long range queries now improved with this configuration:
[code]
 but still struggling with downsampling thanos_compact_downsample_total (not even exposed by compactor).
 Will Really appreciate if someone  know if some unblock me here.

[2020-12-30 13:35] bwplotka commented on #1820
Thanks, all @spencergilbert @monotek for your amazing work!

Overall this project was some kind of experimentation.

* Can we create together charts that are placed in "official' place?
* Does community have time and focus to get on this together? Is it important enough?
* Does maintainers of other charts have enough interest and time to help move their chart into "official place". Does it even ma

[2020-12-30 13:35] #1820 closed

[2020-12-30 13:40] bwplotka commented on #1820
Personally I think we should work together with other CNCF project on some other tooling that will be:

* takes simple, understandable, typed, documented, ideally autogenerated from flags input
* extensible
* can output:
  * pure YAML to apply
  * generate helm chart
  * generate k8s operator
  * generate salt, ansible, chef, terraform etc

 Business idea for 2021 🔥

[2020-12-30 14:27] anoop2503 opened #3683 "Thanos receiver is showing more data than the retention period configured"
**Thanos, Prometheus and Golang version used**:

Thanos: thanos:v0.14.0

**Object Storage Provider**:
EBS only. No object storage configured.

**What happened**:
I have deployed thanos receiver as statefulset and configured the retention period as 4h. However, I can see last 8h of data.

**What you expected to happen**:
If the retention period is 4h, thanos receiver should store only 4h of data.

[2020-12-30 15:12] bwplotka commented on #3525
I might miss something here.

Well that's the key. We might not have it in all places. E.g we don't have it for LabelValues methods

[2020-12-30 15:21] bwplotka opened #3684 "Use https://github.com/efficientgo/tools as "common" instead of our utils."
Hi,

I ported some of our core, simple Thanos packages as `testutil`, `closing`, `exhausting`, `path or content` and there is an opportunity to do more. The reason is that we have lot's of open source project that needs some of the cool libs we wrote.

There is of course anti-pattern of introducing common imports like this. We seen this with prometheus/common. The main problem is that it leaks to

[2020-12-30 15:56] MalloZup commented on #3525
ah ok now I get it ! {: thx ! I played a bit with the rate-limiting tockenBucket and worked quite nice. I think I will need to update the document.

I think the `NewBucketWithRate` could be something we could use https://github.com/juju/ratelimit#func--newbucketwithrate

but I think we might need some empirical data to see how much request we need to limit like the maximum and also the rate we all

[2020-12-30 16:31] GiedriusS commented on #3665
Well, it only applies to the _current_ goroutine and we spawn a bunch of them, so it doesn't work like it is supposed to :stuck_out_tongue:

[2020-12-30 16:37] spencergilbert commented on #1820
Definitely a million dollar idea :smile:

[2020-12-31 01:11] #3265 closed

[2020-12-31 01:14] MMeent commented on #3314
Did someone misconfigure their bot? This is not a PR on which we can push commits, so I don't know about the above notice.

[2020-12-31 02:34] yeya24 commented on #2486
Still valid.

[2020-12-31 09:53] bwplotka commented on #3525
Oh I think the values should be configurable. It really will differ on what API is behind how much resources you have etc 🤔

[2020-12-31 09:58] motyla commented on #3314
Still, sidecar is consuming lot's of memory. For now systemd limit (10G !!!) restart it all the time .
This happen with thanos 0.17.2 and prometheus 2.23.0

[2020-12-31 10:00] bwplotka commented on #3683
Hi, this is expected. Receiver deletes data in batches, same as Prometheus. Especially with such small retention, such delay in delete might happen.

We can however limit data return virtually as well if needed. Wonder if this is really important 🤗 What's your use case?

[2020-12-31 10:40] MalloZup commented on #3525
yes, I agree that we need configurable ones but I was thinking we might have like defaults.

I do have looked how we have `global` options but I didn't had time to investigate more in details the Thanos options. something I want to investigate.. anyways today in Italy I need to survey the so much eating :grin:

[2020-12-31 10:43] bwplotka commented on #3314
No, the bot is there for a reason. The issue is stale if there no updates either from us or from a reporter. It actually did its job as it triggered you to ping us on this issue 🤗

Hmm, this is experience is definitely not expected. Especially sidecar should be now almost transparent in resource consumption. It's streaming all the messages. The only ways we know it could grow in allocations are:

[2020-12-31 11:21] bwplotka commented on #2962
Needed!

[2020-12-31 11:33] MMeent commented on #3314
yes, my graphs were of only the sidecar. It didn't OOM though, the restarts are for different reasons (storage migration, configuration changes)

Thank you for pointing me to that article. `working set` vs. `usage` is quite possibly the real culprit here: Go's profiles do not include non-working set memory.

I'll try running with `GODEBUG=madvdontneed=1` to check if that would solve this problem.

[2020-12-31 11:54] bwplotka commented on #3314
But that's the problem. It's not a **problem** (: It works just fine with this. It will consume as much as needed, but kernel will take it as soon as it needs it. So if something OOMs it's not because of sidecar using too much.

I wonder if this misunderstanding is also what  @motyla is seeing. 🤗 If yes, we can close this issue.

[2020-12-31 14:01] motyla commented on #3314
Thanos sidecar seems to be the one to consume memory and it is the process that invoke the OOM:
```[  +0.006437] thanos invoked oom-killer: gfp_mask=0x201da, order=0, oom_score_adj=0```
Looking on thanos graph I see heap is getting huge at the place where OOM accure
![Screen Shot 2020-12-31 at 14 58 11](https://user-images.githubusercontent.com/110208/103413239-627aa000-4b81-11eb-93dc-0eccec82781c

[2020-12-31 16:11] bwplotka commented on #3314
No need to, the heap is not lying (:

Cool, can you test 0.17.2 sidecar then? It looks like request / upload short spike not a leak. Profiles would let us know. It would be also amazing to rule out sidecar using wrong remote read protocol version (should use XOR_STREAMED)

[2020-12-31 18:52] #2682 closed

[2021-01-01 02:38] roidelapluie commented on #3221
yes

[2021-01-01 18:13] d-ulyanov commented on #2641
not fixed yet :(

[2021-01-02 08:52] #3335 closed

[2021-01-02 08:52] #3337 closed

[2021-01-02 10:34] Shini31 commented on #3337
Is this issue in your backlog? I think this enhancement is relevant to prevent any confusion about the overlap blocks.

[2021-01-02 10:36] Shini31 commented on #3308
Good news!
I can help for the development, but i'm available for testing

[2021-01-02 19:42] Namanl2001 commented on #3111
We could make React UI as default and keep old UI under /classic as done in [prometheus/prometheus#8142](https://github.com/prometheus/prometheus/pull/8142) rather than adding flags to all components.

[2021-01-03 01:32] #1869 closed

[2021-01-03 15:09] motyla commented on #3314
In my case it's requests only , no cloud upload. I'm already running 0.17.2 . Attaching 2 consecutive pprof files of high memory consumption:
[heap.pprof.1.gz](https://github.com/thanos-io/thanos/files/5761770/heap.pprof.1.gz)
[heap.pprof.2.gz](https://github.com/thanos-io/thanos/files/5761771/heap.pprof.2.gz)

[2021-01-04 10:21] xUnholy commented on #1851
Available Thanos multi-arch images can be used here https://hub.docker.com/r/raspbernetes/thanos/tags?page=1&ordering=last_updated - This will support both arm64 and amd64, if armv7 is required it can be considered for adding. We'll be maintaining parity until upstream provides official support.

[2021-01-04 10:42] kakkoyun commented on #3468
@DARK-art108 @adeniyistephen, Of course, you can work on it. We need to collect those questions first. Slack channels would be a good place to start.

[2021-01-04 13:13] jmichalek132 commented on #2982
same issue with thanos v0.17.2

[code]

[2021-01-04 13:33] bwplotka commented on #1851
Let's talk offline then https://github.com/daixiang0

[2021-01-04 20:00] #3349 closed

[2021-01-04 20:00] #3224 closed

[2021-01-04 20:04] yeya24 commented on #3224
Hi @clausa20 , Is this fixed or still a problem?

[2021-01-04 20:06] yeya24 commented on #2454
For me, this is done.
For further improvements and new features, we can track on other issues.

[2021-01-04 20:06] #2454 closed

[2021-01-04 20:09] yeya24 commented on #3405
Still valid

[2021-01-04 22:05] adeniyistephen commented on #3468
yes that sounds like a very good idea, what is the slack channel so we cam track does question. Thanks

[2021-01-05 00:57] daixiang0 commented on #1851
Take your time :)

[2021-01-05 01:22] heartTorres commented on #3450
Hi sorry for the late reply. Below are the configs in my store and compactor.

Store:
      - args:
        - store
        - --log.level=warn
        - --data-dir=/var/thanos/store
        - --grpc-address=0.0.0.0:10901
        - --http-address=0.0.0.0:10902
        - --objstore.config=$(OBJSTORE_CONFIG)
        - --min-time=-4w
        - --max-time=-3h
        - --chunk-pool-size=16GB
        -

[2021-01-05 02:16] yeya24 commented on #2430
valid

[2021-01-05 02:40] abhijeetab07 commented on #3677
Hello Team, can anyone have a look at it please. Thanks in Advance.

[2021-01-05 07:38] Shadi commented on #3397
Still reproducible

[2021-01-05 08:56] Harshitha1234 commented on #1598
Still valid!

[2021-01-05 13:32] jmichalek132 commented on #2982
For me the error stopped happening after upgrading to build of the master (image: `thanosio/thanos:master-2021-01-05-0aa07118`). There are some changes to error handling in thanos receive since the last release. Notably this [commit](https://github.com/thanos-io/thanos/commit/47239674d3c4cfcb5f26463f2cd9d111a9041c0e). However I am unsure whether this fixed the issue.

[2021-01-05 18:21] goku321 commented on #3435
Just a heads up. work is in progress, will create a PR soon.

[2021-01-05 18:28] bwplotka commented on #3435
Amazing @goku321 ❤️ Can't wait!

[2021-01-06 00:53] yeya24 commented on #3435
The current design is that exemplars are only in memory, so only Sidecar supports it now. I feel it is possible that exemplars can be supported via remote write so the TSDB store might need to support this, too. If we need to persist it in the future, then store gateway might need to have this as well.

If we choose the proxy way like rules API, what's the benefit of this over adding it to the gen

[2021-01-06 10:10] #3063 closed

[2021-01-06 16:55] codemug opened #3699 "Mixin: Substitute aggregate labels in ThanosSidecarPrometheusDown and similar alerts"
## Problem

Consider the `ThanosSidecarPrometheusDown` alert expression in the [mixin](https://github.com/thanos-io/thanos/blob/5c12d46b8ed3cc764560feb63e5b5255ee3b9e9a/mixin/alerts/sidecar.libsonnet#L12):

[code]

The expression has a placeholder for selector labels but the aggregation on sum is being done by fixed labels `job` & `pod` which might not necessarily exist on a prometheus deployment.

[2021-01-06 18:21] bwplotka commented on #3435
What exactly do you mean? Adding another method? Adding another field to Series response (which might make less sense as there is literally Examplars API (another endpoint).)?

If it's another method that it's not a big difference for gRPC if it's part of same API or different.

While definitely, we want to push it via remote write some day (or something along those lines), the current plan is to

[2021-01-06 18:41] yeya24 commented on #3435
Yes, that makes sense.

[2021-01-07 11:11] #3569 closed

[2021-01-07 11:14] bwplotka commented on #3111
As discussed offline: We could add flag, but it takes a lot of effort.

[2021-01-07 11:16] bwplotka commented on #3111
Looks like new UI is actually fixed. Let's make sure we have upgraded version and then we can switch (:

[2021-01-07 11:55] bwplotka opened #3701 "Put `objstore` outside of Thanos main repo?"
Rationales:

* Even with Go 1.7 importing whole Thanos module is... hard. Lot's of `replace` statements and overall many dependencies.
* Release model is not within semver semantics.

We can actually have objstore as separate module. That might work as long as it's hermetic and does not use further Thanos imports. This will help importability but release model would be equally bad as now.

This mo

[2021-01-07 17:44] leoncard opened #3704 "Missing long term data"
Hello, we are having an issue with the retention period on thanos.

We are using thanos v0.10.1 with the following configuration

--retention.resolution-raw=14d
--retention.resolution-5m=30d
--retention.resolution-1h=180d

i.e.

14d of raw data
30d of 5m data
180d of 1h data

Our storage is minio.

When visualizing data, what we seem to have is

14d of raw data, which looks alright
42d of 25m data

[2021-01-07 19:52] GiedriusS commented on #3704
What queries are you sending exactly? Do the metrics appear if you use no functions/operators? With what options are you running Thanos Query? Do you have anything in front of it?

[2021-01-08 00:02] #3339 closed

[2021-01-08 05:24] yeya24 opened #3706 "Bucket rewrite tool can work on Prometheus blocks"
### Is your proposal related to a problem?

In theory, Thanos supports `filesystem` bucket so we can use `thanos tools rewrite` to rewrite Prometheus TSDB blocks. However, because Prometheus blocks doesn't have `Thanos` labels in block meta, the step to upload the new block will fail.

Error log:

[code]

(Write your answer here.)

### Describe the solution you'd like

Not sure if there is a good

[2021-01-08 10:46] leoncard commented on #3704
Hello, thanks for replying,

The query could be as simple as `up`, with no functions or operators.

I'm running the pod with the following args

- query
- --log.level=info
- --log.format=logfmt
- --grpc-address=0.0.0.0:10901
- --http-address=0.0.0.0:10902
- --query.replica-label=prometheus_replica
- --query.auto-downsampling
- --store.sd-dns-resolver=miekgdns
- --store=dnssrv+_grpc._tcp.thanos-sto

[2021-01-08 14:32] #2914 closed

[2021-01-08 21:21] ipstatic commented on #1706
Still an issue

[2021-01-09 13:45] prmsrswt opened #3709 "Block Viewer: Overlapping blocks are not selectable/clickable"
In the new Block Viewer, the overlapping blocks with same resolution and compaction level are rendered over each other. This means that you can only select the top-most block to view it's information. This is a major issue because now debugging this becomes significantly harder as you can't see the ULIDs of all of the overlapping blocks.

![Screenshot from 2021-01-08 14-02-49](https://user-images.

[2021-01-09 13:55] Namanl2001 commented on #3709
I would like to work on this issue.

[2021-01-09 17:38] yeya24 commented on #3709
This case happens a lot with the bucket rewrite tool. Help wanted!.

@Namanl2001 Please go ahead.

[2021-01-09 21:56] yeya24 commented on #3706
Got a workaround for this now.
1. Use sidecar and filesystem as obj store to copy these blocks to another directory. After this step, external labels will be added.
2. Use rewrite tool
3. Copy the new block back to the TSDB directory.

[2021-01-11 00:05] CNG commented on #2361
Still an issue.

[2021-01-11 02:35] diemus commented on #3436
after I delete some blocks manually, the compactor now works as expected. I think there are some blocks with some problems that stop the compactor from working

[2021-01-11 02:41] diemus commented on #3436
I extract the code that I can apply the retention manually, I think it might help people with the same problem.

[code]

[2021-01-11 02:57] diemus opened #3711 "compactor: 1h downsampling data is not continuous"
**Thanos, Prometheus and Golang version used**:
[code]

**Object Storage Provider**:

S3 compatible service

**What happened**:
The data after downsampling to 1h is no longer continuous, the raw data and 5m downsampling does not have this problem.

![image](https://user-images.githubusercontent.com/9145160/104143457-75e7ff80-53fa-11eb-97bf-4e46ac8d4695.png)
![image](https://user-images.githubuserc

[2021-01-11 08:32] mveroone commented on #3711
Hi.
I think it's similar to my problem which i was about to post :
![image](https://user-images.githubusercontent.com/44051537/104159561-d887ce00-53ef-11eb-9190-0fd14fdc599f.png)
Do you think it's the same problem ?

[2021-01-11 10:21] mxmorin commented on #3471
I've retried to upgrade to 0.17 but same effect

- yum upgrade thanos
- systemctl restart thanos-query
- systemctl restart thanos-store
- systemctl stop thanos-receive
- systemctl start thanos-receive

![image](https://user-images.githubusercontent.com/58942529/104168789-e1cc6700-53fe-11eb-89d3-679b4b815804.png)

Is this issue active because we can't upgrade to latest versions ?

[2021-01-11 14:57] bwplotka commented on #3706
Still let's reopen, I love this - we could make non Thanos version as well 🤗

[2021-01-11 14:59] p4eb opened #3712 "objstore: Millions of transactions per hour"
Hi,

we're using Thanos 0.17.2 (store and comapct)
We see a lot of transactions (GETs and HEADs) hitting on our S3-Storage (Cloudian).

60' stats
User | Upload | Download | Transactions | GETs | PUTs | HEADs | DELETEs | Total Byte Count | Total Object Count
p-thanos | 2.36 GB | 725.72 MB | **2,946,953** | 989,672 | 9 | 1,957,221 | 0 | 54.37 TB | 201,366

According to the documentation you are usin

[2021-01-11 16:20] MalloZup opened #3713 "Incosistent use of `.` in CLI description"
# Description
I have noticed that our cli is not consistent with the usage of `.` at the end of lines

example:
[code]
As you can see the 2nd and 3rd doesn't have `.`  **NOTE**: there are many others, the example is just showcasing

# Solving problem:

- 1) short-term: we should make the CLI more consistent. E.g. either remove all `.` or use it in all CLI parameters desc
- 2) long-term: create sim

[2021-01-11 19:07] bwplotka commented on #3713
Yes.

Better.: Create/find lint tool to check and fix it automatically ❤️

[2021-01-11 19:15] MalloZup commented on #3713
ok thx, updated it. I think the implicit point is to keep the `.` at the end to each phrase

[2021-01-12 05:32] #3305 closed

[2021-01-12 09:32] #3653 closed

[2021-01-12 09:44] bwplotka opened #3715 "Consider moving HTTP Config to base object storage config level"
As per https://github.com/thanos-io/thanos/pull/3657 - it would be nice to have it for all providers as it's a common thing - all providers use HTTP (for now  though (: )

Something to consider (:

[2021-01-12 09:50] #3627 closed

[2021-01-12 15:20] kakkoyun commented on #3119
/remind me to finish this in a week

[2021-01-12 15:23] kakkoyun commented on #1083
Still valid.

[2021-01-12 15:24] kakkoyun commented on #1611
Still valid, help wanted.

[2021-01-12 16:17] GiedriusS commented on #3715
Sounds good! However, we should be careful with this to not shoot ourselves in the foot with inconsistencies & compatibility. I'd propose a structure like:
[code]

[2021-01-12 22:07] BradErz commented on #3643
Just trying to help here @storedcc

I assume for some reason your block store is not being initialized? That has to happen before the grpc api is actually started.

What is the size of the folder `/var/lib/thanos/store`?
How much data is inside the bucket?

Just some example files which i used to get the below output:

1. Start minio
[code]
2. Create `objstore.conf` file for thanos-store.
[code]

[2021-01-13 02:42] ethernoy opened #3716 "compactor: Internal DownsampleRange Corrupt Retention Setting"
**Thanos, Prometheus and Golang version used**:
Thanos: 0.17.1
Prometheus: 2.22.1
Golang: not specified in our implementation :(

**Object Storage Provider**: MinIO

**What happened**:
I configured Thanos Compactor with retention period as follows:
Raw resolution: 1d
5m resolution: 14d
1h resolution: 360d

However, raw resolution data block is deleted right after it is older than 24 hrs, before it

[2021-01-13 13:05] lorenzo-biava commented on #3442
Still relevant. To unblock the compaction I had to discard the broken blocks, but losing data should not be considered a viable solution...

[2021-01-13 13:52] s-urbaniak opened #3717 "Thanos rules fanout OOMs occasionally"
**Thanos, Prometheus and Golang version used**:
Thanos 0.15.0
Prometheus 2.22.2
Golang 1.15

**Object Storage Provider**: N/A

**What happened**: When invoking the `/v1/api/rules` endpoint, thanos querier OOMs

**What you expected to happen**: It doesn't OOM

**How to reproduce it (as minimally and precisely as possible)**: So far we have no determinstic reproduction. What we know is that the OOM

[2021-01-13 13:52] s-urbaniak commented on #3717
cc @bwplotka

[2021-01-13 13:55] s-urbaniak commented on #3717
Side note: to me this looks like a recursion issue, however there was no high CPU indication so far, just the OOM.

[2021-01-13 13:58] motyla commented on #3314
I'm happy to say that issue was found and solved on my end, and indeed it was in the query path.
`/api/v1/label/__name__/values` got to huge size on our prometheus servers (bad graphite-exporter mapping config).

Once reduced, memory pressure is gone.

10x for the help and attention    :-)

[2021-01-13 15:28] GiedriusS commented on #3717
Maybe you also have some goroutine dumps?

[2021-01-13 16:50] s-urbaniak commented on #3717
@GiedriusS indeed, to get goroutine dumps was my conclusion as well after investigating the heap dump. I already asked for those.

[2021-01-13 18:04] Biswajitghosh98 commented on #3637
@yeya24 While I'd like to give it a try.

[2021-01-13 18:30] yeya24 commented on #3637
Sorry for being unclear. I am already working on this one. Currently blocked by #3639

[2021-01-14 02:42] Biswajitghosh98 commented on #3637
No worries. I'll pick a different issue 😄

[2021-01-14 04:11] #2444 closed

[2021-01-14 07:45] kakkoyun commented on #1972
Still valid.

[2021-01-14 07:45] kakkoyun commented on #1507
Still valid and help wanted.

[2021-01-14 14:21] s-urbaniak commented on #3717
I think I have a reproducer. Simulating a 503 response in the prometheus sidecar during a `/api/v1/rules` request:
[code]
and executing the `TestRulesAPI_Fanout` e2e test effectively lets thanos consume all CPU and memory on my laptop. Since I can can investigate now locally, continuing with finding the actual root cause which, as stated above, seems to be a recursion issue.

[2021-01-14 15:27] IbraheemAlSaady opened #3719 "x509 certificate signed by unknown authority"
I have Thanos installed with MinIO, sidecar, query, and compactor.

MinIO is exposed through an ingress (it's on a different cluster) with a self-signed certificate generated by Cert Manager.

I'm getting an error in Compactor: `err="BaseFetcher: iter bucket: Get \"https://somedomain.com/?location=\": x509: certificate signed by unknown authority\`

I have the same thing with the sidecar and query

[2021-01-14 15:36] bwplotka commented on #3717
Amazing. Looks like error path is not well tested/leaky!

[2021-01-14 18:20] yanc0 opened #3720 "query: preload chunks: read range for 0: allocate chunk bytes: pool exhausted" msg="returning partial response""
**Thanos, Prometheus and Golang version used**:
Thanos v0.17.2
Prometheus v2.18.1

**Object Storage Provider**:
GCS

**What happened**:
Grafana dashboards are incomplete when selected time range is getting bigger (30 days)

**What you expected to happen**:
We expect thanos to be fine with relatively small time window

**How to reproduce it (as minimally and precisely as possible)**:

**Full logs t

[2021-01-14 19:31] qube222pl opened #3721 "compactor: Some of the blocks are not compacted, missed."
**Thanos, Prometheus and Golang version used:**
Thanos version 0.17.1, 0.17.2
Prometheus 2.20.1
Golang: not secified

**Object Storage Provider:** S3 MinIO

**What happened**:
Some of the blocks are not compacted, missed.

We are using thanos, and now we are trying to extend funcionality and add S3 storage ( exacly Minio)
We have data in prometheus , about 60 days and we want to move them to S3, S

[2021-01-14 20:22] qube222pl commented on #3711
@mveroone  take a look on my issue  #3721
It look exacly like your

[2021-01-15 05:46] huikang opened #3722 "Add support for IBM cloud object storage"
### Is your proposal related to a problem?

Allow users to use IBM Cloud object storage as the persistent storage. One use case is to be leveraged by cortex project [1]

[1] https://github.com/cortexproject/cortex/issues/3692

[2021-01-15 07:55] mveroone commented on #3721
I have the exact same issue.
Most settings are default. (retention, block size, version, storage)

[2021-01-15 13:09] SuperQ opened #3724 "compactor: Some indexes compact to larger than original size"
**Thanos, Prometheus and Golang version used**:
[code]
**Object Storage Provider**:

GCS

**What happened**:

Compaction halted with error.

[code]

**What you expected to happen**:

Compaction not halted.

**Anything else we need to know**:

The compaction files are indeed smaller than 64GiB together, but when combined they bloat slightly.

[code]

Total 60\.62GiB

There are several [some other e

[2021-01-16 02:26] bwplotka opened #3725 "Rename master branch to main"
I think all is ready to do this on GitHub side: https://github.com/github/renaming

Any objections to this change next week? 🤗

[2021-01-16 09:46] #2617 closed

[2021-01-16 16:55] sepich opened #3726 "receive: v0.18.0 memory leak (v0.16.0 regression)"
**Thanos, Prometheus and Golang version used**:
thanosio/thanos:v0.17.2

**Object Storage Provider**:
GCS

**What happened**:
I'm trying to upgrade from v0.16.0 to v0.17.2 and see that thanos-receive memory is "leaking":
![image](https://user-images.githubusercontent.com/1803804/104817758-4428cb80-5834-11eb-8f40-d281b4fd986f.png)
Here are 3 thanos-receive pods in a hashring with equal load, red an

[2021-01-16 18:45] mattjw79 commented on #3713
PR #3227 only hits the short-term goal, at this point I don't know of a tool that would capture the long-term goal. I also noticed that the help messages also had a mix of upper and lower case beginnings, so the PR also fixes that.

[2021-01-17 19:08] #3328 closed

[2021-01-17 19:08] #3399 closed

[2021-01-18 08:48] MalloZup commented on #3713
thx @mattjw79 !

Regarding the tool, Imho I think there is not an existing one. But imho @bwplotka  meant we create our own one, or research,

as I do see the tool, would be something like:
-  based on regex,  would scan/find like a line in a recursive dir/codebase, find line
```	cmd := app.Command(component.Compact.String(), "Continuously compacts blocks in an object store bucket.")```

- then ch

[2021-01-18 09:16] mengskysama opened #3728 "store: concurrency query large series return vector cannot contain metrics with the same labelset"
**Thanos, Prometheus and Golang version used**:

[code]

[code]

**Object Storage Provider**:

OSS

**What happened**:

query `sum(increase(create_order{}[1d]))` some time  return {"status":"error","errorType":"execution","error":"vector cannot contain metrics with the same labelset"}

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

test1 func c

[2021-01-18 22:59] #3364 closed

[2021-01-18 22:59] #3394 closed

[2021-01-19 06:52] #3418 closed

[2021-01-19 08:24] #3481 closed

[2021-01-19 08:27] matthiasr commented on #3389
Yes, this is still needed. We run our compactor with a 2TB volume just to prevent it from running out of disk.

[2021-01-19 19:36] hbo88 opened #3731 "query to store communication through NodePort service"
### Is your proposal related to a problem?

can't make inter Cluster query to query communication through NodePort service

### Describe the solution you'd like

Use NodePort service to make it possible that one querier from the Ops cluster use a second querier in another Cluster as store
### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your an

[2021-01-19 20:10] bwplotka commented on #3731
Hey I feel like it is a user question rather, so converting to the discussion.

This should be totally doable as long as "another cluster" has network access to NodePort services (:

Can you check that first? If you can access while being inside cluster A any service behind NodePort Service that is running in Cluster B? (:

[2021-01-19 20:15] bwplotka commented on #3731
Actually Github disabled this option for now: https://github.com/github/feedback/discussions/2952#discussioncomment-263319

[2021-01-19 20:31] hbo88 commented on #3731
Hello and thank you for your quick response,

I just verified that I can access NodePort on one Cluster from the other cluster but I still get this error , where 30105 is my nodePort :
`connection error: desc = \"transport: Error while dialing dial tcp: address tcp/30105\\\": unknown port\""`

[2021-01-19 20:49] hbo88 commented on #3731
Solved , i just remover the double quote from the --store=''@IP:NodePort'  and it works

[2021-01-20 09:12] s-urbaniak commented on #3717
Small update: it looks like this is a spinning issue rather than recursion. It seems, that in the case of a 503 response we are hotlooping in the following `for` loop, never reaching the `io.EOF` state: https://github.com/thanos-io/thanos/blob/a62cbb9b8b085be5c56a3b9b4c1e488b7b6ddfae/pkg/rules/proxy.go#L104-L136.

Continuing investigation.

[2021-01-20 09:16] aricamf commented on #3471
The same for me, I used 0.17.2 and met the exact same problem.

[2021-01-20 09:25] s-urbaniak commented on #3717
Hypothesis: instead of `continue`ing in case of error handling we can simply `return nil` because the backend actually will never return `io.EOF` in that case.

[2021-01-20 09:29] s-urbaniak commented on #3717
Yes, this seems to do the trick, continuing with writing a dedicated e2e test and submitting a PR.

[2021-01-20 09:47] jmichalek132 commented on #3141
Still needed.

[2021-01-20 09:59] Danipiario commented on #3529
Hi all,
also for me. I have the same situation of @apr1809
I have setup all retention parameters at 7d, the compact works fine and the S3 buckets are marked for deletion, I have a delete delay of 48h but the S3 buckets are still present and consume space. Can I safetly delete the marked bucket?

[2021-01-20 10:05] bwplotka commented on #3731
((:
Cool

[2021-01-20 10:05] #3731 closed

[2021-01-20 20:17] luizrojo commented on #2982
I have spent the whole afternoon today trying to figure this out, and this behavior seems to be an incompatibility with newer versions of Prometheus.

The error below only happens with Prometheus 2.23 or higher.

```2021-01-20T17:12:24.577630-03:00 ip-10-184-125-9 thanos-receive[26164]: level=error ts=2021-01-20T20:12:24.577379617Z caller=handler.go:331 component=receive component=receive-handler

[2021-01-21 02:01] Wander1024 commented on #2982
I also got this error on Prometheus 1.19.3 and Thanos 0.17.0.

[2021-01-21 02:23] deadjoker commented on #1665
Still valid. Will it be fixed?
I got this error:
[code]

[2021-01-21 03:18] chris-ng-scmp commented on #3302
I having the same issue with Thanos sidecar using aliyunOSS as the remote storage

I managed to rollback to 0.16.0 to make the upload back to normal, in 0.17.2, the error causing no new metrics can be uploaded

[2021-01-21 03:19] chris-ng-scmp commented on #3198
yes, the same issue with https://github.com/thanos-io/thanos/issues/3302

only working back to 0.16.0

[2021-01-21 03:27] chris-ng-scmp commented on #3198
Compactor having the same issue in 0.17

[code]

[2021-01-21 03:27] yeya24 commented on #3706
The easiest way to do this is to add one flag `--tsdb.blocks-dir`. With this flag, we know that the blocks are in one local directory and we don't require external labels checking in this case. Also with this flag we don't need to add the `FILESYSTEM` block config.

What do you think about this approach? If it sounds good, I can take this one.

[2021-01-21 03:49] yeya24 commented on #3198
@xiaodangjia457  @chris-ng-scmp
The unsupported reader problem has been fixed by https://github.com/thanos-io/thanos/pull/3476. Please try the latest release.

[2021-01-21 11:16] bwplotka commented on #3706
What problems we are solving BTW?

* Is this about just `--tsdb.blocks-dir` shortcut for specifying full `--objstore.config`? We could add this flag and internally map to `--objstore.config=....` sheningans.

I would not and special code for tsdb local dir, but maybe instead `--tsdb-data` to indicate raw Prometheus blocks? That would allow same effect.

There might be a bigger problem on how to re

[2021-01-21 12:48] bwplotka commented on #3722
We are happy to add one, feel free to contribute it (:

PRs welcome. As the maintainer's Team we won't have time to add it ourselves but we are happy to guide, review and help to maintain it here.

Here is the document how to add it, it's pretty simple: https://thanos.io/v0.17/thanos/storage.md/#how-to-add-a-new-client

[2021-01-21 14:53] yeya24 commented on #3706
I feel using `--tsdb-data` with `FILESYSTEM` bucket and only `--tsdb-blocks-dir` the same thing. So this doesn't matter.
I am not sure about promtool, are we going to upstream this feature?

[2021-01-21 15:30] huikang commented on #3722
@bwplotka , thanks for your feedback. I am very willing to contributing. Could you please assign me this task?

[2021-01-21 19:00] sidewinder12s commented on #2750
Is there anything folks could point me towards on this?

We have a layered Thanos arch with sharded prometheus (recently added to the prom-operator chart) and the prometheus sharding seems to have broken our top level searching for the sharded clusters.

Prometheus Shards (4x) -> Thanos Sidecar -> Cluster Thanos Query -> Aggregate Thanos Query -> Grafana

When we look at the Cluster thanos query,

[2021-01-21 19:04] craig5 commented on #2750
+1

[2021-01-22 05:57] LuChenjing opened #3735 "store: Create index-header failed with: Error response code UnknownError."
**I am deploying thanos store component, with S3 objstore. Version is v0.17.2.
After deploying it, the thanos store gateway pod running perfectly, and able to insert content to S3 bucket. But got the below WARN messages from the store pod, seems cannot create index-header of blocks.**

    level=info ts=2021-01-22T05:44:54.87964377Z caller=fetcher.go:458 component=block.BaseFetcher msg="successful

[2021-01-22 06:14] LuChenjing commented on #3735
meta.json files are created by thanos store, storing to the path "--data-dir" set.

[2021-01-22 08:47] s-urbaniak commented on #3717
closed via #3734

[2021-01-22 08:47] #3717 closed

[2021-01-22 11:32] bwplotka commented on #3320
Still very much required: See another proof: https://github.com/thanos-io/thanos/pull/3737#pullrequestreview-574178511

[2021-01-22 14:08] bwplotka commented on #3722
You are assigned by just saying so!

Can you.. before jumping on this make sure IBM object storage cannot be used with `S3` provider? S3 provider done by `minio` client allows to connect to any S3 API-compatible object storage. Are we sure IBM provider does not work with that? 🤗

[2021-01-22 14:23] jojohappy commented on #1665
@deadjoker @NearTan Oh, sorry for the delayed response. I have missed it for a long time and will take a look this weekend.

[2021-01-22 15:10] huikang commented on #3722
@bwplotka , thanks for your reminding. IBM object storage does provide s3 sdk. So there is no need to add a new client. Closing as it is done in the current implementation 👍

[2021-01-22 15:10] #3722 closed

[2021-01-22 19:04] heruscoder commented on #3198
I think the latest release doesnt cover this fix yet

[2021-01-22 20:54] bwplotka commented on #3706
Yes I think this will be problematic, unless we put this in separate module 🤔 But let's not open this pandora box.

Let's recommend using `thanos toiols bucket rewrite tool` with Prometheus - we can't use `promtool` so it's up to promtool to either port changes or just let `thanos tools` to do the work

[2021-01-23 07:29] NearTan commented on #1665
https://github.com/thanos-io/thanos/commit/e26e2944d1225f7450cecc157a3e81e5c7f3dc03

I've done a quick fixing for your reference.

[2021-01-23 14:27] kunal-kushwaha commented on #3214
Still in progress

[2021-01-23 14:30] yeya24 commented on #3016
Still needed.

[2021-01-23 17:07] SuperQ commented on #3069
Not stale.

[2021-01-23 17:36] yeya24 commented on #3069
https://github.com/thanos-io/thanos/pull/3707 This pr is WIP.

[2021-01-24 09:41] imskr commented on #3680
I can work on this @bwplotka assign me!

[2021-01-24 10:34] kfirfer opened #3739 "compactor: Warnings on optional retention"
Thanos version: 0.17.2

Im getting from compactor this logs `already exists in bucket`:
[code]

I don't know exactly why

This are the retention congiruation:
[code]

Any idea why he prints it out ?

[2021-01-24 14:23] #2978 closed

[2021-01-24 19:06] Shadi commented on #3459
still reproducible

[2021-01-25 02:04] jojohappy commented on #1665
Thanks! PR is welcome.

[2021-01-25 05:50] johannesfrey commented on #3712
Hi,

  we are in a similar situation like you (we are also using Cloudian S3). Furthermore, we are being rate-limited by our provider because of too many requests.

  Because of that I started experimenting with some flags/settings in order to reduce parallel request bursts. You can see the commits in following [fork](https://github.com/c445/thanos/commits/prevent-rate-limiting). The changes are p

[2021-01-25 06:12] deadjoker commented on #1665
How can I compile the code which can make it run successfully in the container?
I run the self-compiled 'thanos' with error
`standard_init_linux.go:178: exec user process caused "exec format error"`
Should I add some specific envs while compiling?

[2021-01-25 06:15] kunal-kushwaha commented on #3112
Still valid

[2021-01-25 09:08] squat commented on #2340
still relevant

[2021-01-25 10:27] deadjoker commented on #1665
It runs successfully after I replace the base image.
What's more I find the upload process is much faster than before.
Thx a lot :)

[2021-01-25 15:04] IbraheemAlSaady opened #3741 "Thanos multi tenancy based on a label"
I'm trying to look for documentation regarding multi-tenancy setup with Thanos. All I can find is [this](https://thanos.io/tip/operating/multi-tenancy.md/) and it's really that clear to me.

What I'm looking for is basically to point my Grafana instance to an endpoint and I can pass a label filter to it (perhaps through a query param). Is this possible with the Thanos query component?

I have read

[2021-01-25 15:27] shaikatz opened #3742 "query-fronted: no-store header issue"
**Thanos, Prometheus and Golang version used**: 0.17.1

**What happened**: Having one querier with no available stores (querier is alive but prometheus is down on this cluster), makes our main querier to stop caching requests in the query frontend - since there is a `No store matched for this query` warning.

**What you expected to happen**: Since this is not a real issue as specified in the docs

[2021-01-25 17:09] bwplotka commented on #3722
awesome. Please let us know if all works on IBM side!

[2021-01-25 18:09] bwplotka opened #3744 "sidecar: Allow sidecar to have write (no delete) access: Avoid deleting on failed upload."
Ideally, we don't want to give delete access to sidecar. And we don't need to delete partial uploads anymore as they are handled well on compactor/store gw sides.

Discussion https://cloud-native.slack.com/archives/CL25937SP/p1611572804008400

AC:
 * We can run a sidecar without Deletion Permission.

[2021-01-25 19:10] SuperQ commented on #3744
Yes, right now we need to give Object Admin level access to the sidecar, rather than just Create and Read.

[2021-01-25 19:29] huikang commented on #3722
@bwplotka , it works perfect out of box!

[2021-01-25 23:06] bwplotka commented on #3651
Sorry for not answering @spaparaju but I am quite confused why we speak about downsampling here.

Looks like https://github.com/thanos-io/thanos/pull/3740 did most of the work, so let's see if we can merge this 🤗

[2021-01-26 02:24] LuChenjing commented on #3735
- contianer run args:

        - store
        - --log.level=debug
        - --data-dir=/var/thanos/store
        - --objstore.config-file=/etc/bucket/bucket-config.yaml
        - --http-address=0.0.0.0:19191
        - --grpc-address=0.0.0.0:19090
        - --chunk-pool-size=5000MB
        - --ignore-deletion-marks-delay=48h

[2021-01-26 02:38] LuChenjing opened #3745 "compactor: Not able to find any compact file/block in S3 which configured in thanos-compactor"
Hi, a fresh to deploy thanos components, after deploying the thano compactor, query, store components. The block wrote into S3 bucket successfully, but there is no any compact files/blocks in bucket. Is there any incorrect configs fo my thanos-compactor?
**Thanos: V0.17.2
   Prometheus: v2.24.1
   K8S: 1.18.1**:

<details>
  <summary>Details</summary>
<pre>
[root@node40 store]# kubectl logs -f tha

[2021-01-26 02:41] LuChenjing commented on #3745
Here is command and args of compactor container:

- containers:

      - args:
        - compact
        - --log.level=debug
        - --objstore.config-file=/etc/bucket/bucket-config.yaml
        - --wait
        - --debug.accept-malformed-index
        - --retention.resolution-raw=5d
        - --retention.resolution-5m=5d
        - --retention.resolution-1h=5d
        - --delete-delay=24h

[2021-01-26 03:05] sathyendrasaran opened #3746 "Thanos Store Gateway in one region not able to read from the bucket in another region"
I have multicluster(eks) prometheus setup
prom1 -- us-east-1 -- s3 bucket (us-east-1)
prom2 -- eu-west-1 -- s3 bucket (eu-west-1 )
prom3 -- us-west-2 -- s3 bucket (us-west-2 )

---

I have a single Thanos setup in us-west-2 region(eks)
store gateway 1 -- us-east-1 bucket
store gateway 2 -- eu-west-1 bucket
store gateway 3 -- us-west-2 bucket

store gateway 3 works fine since it get data from same

[2021-01-26 04:47] yeya24 commented on #3745
@LuChenjing This is the expected behavior.  As the log mentioned, the blocks are too fresh. After a delay interval, they will be compacted by the compactor.

[code]

[2021-01-26 04:50] yeya24 commented on #3735
@LuChenjing Is the config you provided the latest? Seems like the lazy binary header feature is also enabled, did you set `store.enable-index-header-lazy-reader` flag?

[2021-01-26 04:53] yeya24 commented on #3219
Still valid.

[2021-01-26 05:48] LuChenjing commented on #3745
@yeya24 Thanks for the reply.
May I ask that is the delay interval set in the args or some default setting? And how long the compact file will keep? As I tested for few days, only s3://{bucket}/{block} dirs could seen in bucket.

[2021-01-26 05:54] LuChenjing commented on #3735
@yeya24 Sorry for confusing you. Actually, I tried to comment "- --store.enable-index-header-lazy-reader" and get the same issue.

    [root@node40 store]# kubectl logs -f thanos-store-5f5d64d4dd-nzhfk -n kube-system
    level=debug ts=2021-01-26T01:23:20.854678701Z caller=main.go:102 msg="maxprocs: Leaving GOMAXPROCS=[32]: CPU quota undefined"
    level=info ts=2021-01-26T01:23:20.854876984Z call

[2021-01-26 10:38] #3643 closed

[2021-01-26 12:54] DadaHiT opened #3747 "store: cannot start and error message: deletion-mark.json: No message"
**Thanos, Prometheus and Golang version used**:

[code]
[code]

**Object Storage Provider**:

S3 compatible object storage

**What happened**:

The prometheus data can be uploaded to object storage but when initial the store to connect retrieve data from the storage. The store cannot initial with below error log:

[code]

S3 storage configuration
[code]

**What you expected to happen**:

store can

[2021-01-26 13:00] clyang82 commented on #3016
I met this problem in my environment. one of query is heavily utilised while another one is almost idle.
[code]

[2021-01-26 17:35] tdinucci commented on #2982
I've been hit by this issue too.  I've not fully gotten to the bottom of it and there could easily be multiple reasons for it.

I've been testing out the Receiver in a local `kind` cluster and typically what I've been seeing is:

* Receiver hashring forms and all is OK - currently I'm using a replication factor of 1
* I kill one of the receivers
* Other receivers spit out the log message which I'd

[2021-01-26 18:20] candlerb commented on #3293
Dear bot, these broken links are all still broken.

[2021-01-26 18:48] bwplotka commented on #2982
Thanks for those items.

Looks like it's painful enough to give it more priority. 🤗

Yes, I doubt it have anything to do with Prometheus version, except, maybe it is something with remote write configuration (sharding, queues, bigger remote write batches etc). I would look on that.

That is waaaaaaay too low. Receiver is like Prometheus, just even more CPU consuming because of replication and forw

[2021-01-26 18:50] bwplotka commented on #2321
Any update 🤗 @d-ulyanov ?

Can we help?

[2021-01-26 18:50] bwplotka commented on #3497
To investigate.

[2021-01-26 18:51] bwplotka commented on #2249
TODO. Nice as some good first issue potentially (:

Kind Regards,
Bartek Płotka (@bwplotka)

On Tue, 26 Jan 2021 at 17:32, stale[bot] <notifications@github.com> wrote:

[2021-01-26 18:52] bwplotka commented on #3512
Still lot's of ideas to try out. The most appealing is Query Pushdown (https://github.com/thanos-io/thanos/issues/305) and micro optimiations and benchmarks.

[2021-01-26 20:14] tdinucci commented on #2982
Thanks for the feedback 👍

Yep, I fully intend to allocate a lot more resources.  At the moment I'm really just trying to understand potential failure modes before attempting to move towards production.

Increasing the replication factor is also something I'm intending on doing.  One thing that is bothering me a bit though is that we've got HA Prom pairs writing to Thanos clusters and this will en